---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "fonts",
        "hacks",
        "globals",
        "reset",
        "animations",
        "template",
        "lg",
        "md",
        "sm",
        "xs",
        "ie",
        "navigation",
        "documents",
        "syntax"
;
