{
  "basePath": "",
  "documentationLink": "https://developers.google.com/sheets/",
  "revision": "20170907",
  "id": "sheets:v4",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "AddChartResponse": {
      "description": "The result of adding a chart to a spreadsheet.",
      "type": "object",
      "properties": {
        "chart": {
          "$ref": "EmbeddedChart",
          "description": "The newly added chart."
        }
      },
      "id": "AddChartResponse"
    },
    "InsertDimensionRequest": {
      "id": "InsertDimensionRequest",
      "description": "Inserts rows or columns in a sheet at a particular index.",
      "type": "object",
      "properties": {
        "inheritFromBefore": {
          "description": "Whether dimension properties should be extended from the dimensions\nbefore or after the newly inserted dimensions.\nTrue to inherit from the dimensions before (in which case the start\nindex must be greater than 0), and false to inherit from the dimensions\nafter.\n\nFor example, if row index 0 has red background and row index 1\nhas a green background, then inserting 2 rows at index 1 can inherit\neither the green or red background.  If `inheritFromBefore` is true,\nthe two new rows will be red (because the row before the insertion point\nwas red), whereas if `inheritFromBefore` is false, the two new rows will\nbe green (because the row after the insertion point was green).",
          "type": "boolean"
        },
        "range": {
          "$ref": "DimensionRange",
          "description": "The dimensions to insert.  Both the start and end indexes must be bounded."
        }
      }
    },
    "UpdateSpreadsheetPropertiesRequest": {
      "description": "Updates properties of a spreadsheet.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "SpreadsheetProperties",
          "description": "The properties to update."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root 'properties' is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        }
      },
      "id": "UpdateSpreadsheetPropertiesRequest"
    },
    "BatchUpdateValuesRequest": {
      "id": "BatchUpdateValuesRequest",
      "description": "The request for updating more than one range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "responseDateTimeRenderOption": {
          "description": "Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is\nDateTimeRenderOption.SERIAL_NUMBER.",
          "type": "string",
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.",
            "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
          ],
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ]
        },
        "responseValueRenderOption": {
          "enumDescriptions": [
            "Values will be calculated & formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.",
            "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
          ],
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "description": "Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
          "type": "string"
        },
        "includeValuesInResponse": {
          "description": "Determines if the update response should include the values\nof the cells that were updated. By default, responses\ndo not include the updated values. The `updatedData` field within\neach of the BatchUpdateValuesResponse.responses will contain\nthe updated values. If the range to write was larger than than the range\nactually written, the response will include all values in the requested\nrange (excluding trailing empty rows and columns).",
          "type": "boolean"
        },
        "data": {
          "description": "The new values to apply to the spreadsheet.",
          "items": {
            "$ref": "ValueRange"
          },
          "type": "array"
        },
        "valueInputOption": {
          "description": "How the input data should be interpreted.",
          "type": "string",
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored\nas-is.",
            "The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."
          ],
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ]
        }
      }
    },
    "ProtectedRange": {
      "description": "A protected range.",
      "type": "object",
      "properties": {
        "warningOnly": {
          "description": "True if this protected range will show a warning when editing.\nWarning-based protection means that every user can edit data in the\nprotected range, except editing will prompt a warning asking the user\nto confirm the edit.\n\nWhen writing: if this field is true, then editors is ignored.\nAdditionally, if this field is changed from true to false and the\n`editors` field is not set (nor included in the field mask), then\nthe editors will be set to all the editors in the document.",
          "type": "boolean"
        },
        "requestingUserCanEdit": {
          "description": "True if the user who requested this protected range can edit the\nprotected area.\nThis field is read-only.",
          "type": "boolean"
        },
        "editors": {
          "$ref": "Editors",
          "description": "The users and groups with edit access to the protected range.\nThis field is only visible to users with edit access to the protected\nrange and the document.\nEditors are not supported with warning_only protection."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range that is being protected.\nThe range may be fully unbounded, in which case this is considered\na protected sheet.\n\nWhen writing, only one of range or named_range_id\nmay be set."
        },
        "description": {
          "description": "The description of this protected range.",
          "type": "string"
        },
        "unprotectedRanges": {
          "description": "The list of unprotected ranges within a protected sheet.\nUnprotected ranges are only supported on protected sheets.",
          "items": {
            "$ref": "GridRange"
          },
          "type": "array"
        },
        "namedRangeId": {
          "description": "The named range this protected range is backed by, if any.\n\nWhen writing, only one of range or named_range_id\nmay be set.",
          "type": "string"
        },
        "protectedRangeId": {
          "format": "int32",
          "description": "The ID of the protected range.\nThis field is read-only.",
          "type": "integer"
        }
      },
      "id": "ProtectedRange"
    },
    "DimensionProperties": {
      "id": "DimensionProperties",
      "description": "Properties about a dimension.",
      "type": "object",
      "properties": {
        "pixelSize": {
          "format": "int32",
          "description": "The height (if a row) or width (if a column) of the dimension in pixels.",
          "type": "integer"
        },
        "hiddenByUser": {
          "description": "True if this dimension is explicitly hidden.",
          "type": "boolean"
        },
        "hiddenByFilter": {
          "description": "True if this dimension is being filtered.\nThis field is read-only.",
          "type": "boolean"
        }
      }
    },
    "NamedRange": {
      "description": "A named range.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range this represents."
        }
      },
      "id": "NamedRange"
    },
    "DimensionRange": {
      "description": "A range along a single dimension on a sheet.\nAll indexes are zero-based.\nIndexes are half open: the start index is inclusive\nand the end index is exclusive.\nMissing indexes indicate the range is unbounded on that side.",
      "type": "object",
      "properties": {
        "dimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension of the span.",
          "type": "string"
        },
        "endIndex": {
          "format": "int32",
          "description": "The end (exclusive) of the span, or not set if unbounded.",
          "type": "integer"
        },
        "startIndex": {
          "format": "int32",
          "description": "The start (inclusive) of the span, or not set if unbounded.",
          "type": "integer"
        },
        "sheetId": {
          "format": "int32",
          "description": "The sheet this span is on.",
          "type": "integer"
        }
      },
      "id": "DimensionRange"
    },
    "CutPasteRequest": {
      "id": "CutPasteRequest",
      "description": "Moves data from the source to the destination.",
      "type": "object",
      "properties": {
        "pasteType": {
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like PASTE_NORMAL but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "description": "What kind of data to paste.  All the source data will be cut, regardless\nof what is pasted.",
          "type": "string"
        },
        "source": {
          "$ref": "GridRange",
          "description": "The source data to cut."
        },
        "destination": {
          "description": "The top-left coordinate where the data should be pasted.",
          "$ref": "GridCoordinate"
        }
      }
    },
    "Borders": {
      "description": "The borders of the cell.",
      "type": "object",
      "properties": {
        "right": {
          "description": "The right border of the cell.",
          "$ref": "Border"
        },
        "bottom": {
          "$ref": "Border",
          "description": "The bottom border of the cell."
        },
        "top": {
          "description": "The top border of the cell.",
          "$ref": "Border"
        },
        "left": {
          "$ref": "Border",
          "description": "The left border of the cell."
        }
      },
      "id": "Borders"
    },
    "BasicChartSeries": {
      "description": "A single series of data in a chart.\nFor example, if charting stock prices over time, multiple series may exist,\none for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".",
      "type": "object",
      "properties": {
        "targetAxis": {
          "description": "The minor axis that will specify the range of values for this series.\nFor example, if charting stocks over time, the \"Volume\" series\nmay want to be pinned to the right with the prices pinned to the left,\nbecause the scale of trading volume is different than the scale of\nprices.\nIt is an error to specify an axis that isn't a valid minor axis\nfor the chart's type.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart.\nFor most charts, this is the standard major axis.\nFor bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is an unusual major axis."
          ],
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ]
        },
        "type": {
          "description": "The type of this series. Valid only if the\nchartType is\nCOMBO.\nDifferent types will change the way the series is visualized.\nOnly LINE, AREA,\nand COLUMN are supported.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/barchart\"\u003ebar chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/linechart\"\u003eline chart\u003c/a\u003e.",
            "An \u003ca href=\"/chart/interactive/docs/gallery/areachart\"\u003earea chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/columnchart\"\u003ecolumn chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/scatterchart\"\u003escatter chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/combochart\"\u003ecombo chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/steppedareachart\"\u003estepped area chart\u003c/a\u003e."
          ],
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ]
        },
        "series": {
          "description": "The data being visualized in this chart series.",
          "$ref": "ChartData"
        }
      },
      "id": "BasicChartSeries"
    },
    "AutoResizeDimensionsRequest": {
      "id": "AutoResizeDimensionsRequest",
      "description": "Automatically resizes one or more dimensions based on the contents\nof the cells in that dimension.",
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "The dimensions to automatically resize.",
          "$ref": "DimensionRange"
        }
      }
    },
    "UpdateBordersRequest": {
      "id": "UpdateBordersRequest",
      "description": "Updates the borders of a range.\nIf a field is not set in the request, that means the border remains as-is.\nFor example, with two subsequent UpdateBordersRequest:\n\n 1. range: A1:A5 `{ top: RED, bottom: WHITE }`\n 2. range: A1:A5 `{ left: BLUE }`\n\nThat would result in A1:A5 having a borders of\n`{ top: RED, bottom: WHITE, left: BLUE }`.\nIf you want to clear a border, explicitly set the style to\nNONE.",
      "type": "object",
      "properties": {
        "right": {
          "$ref": "Border",
          "description": "The border to put at the right of the range."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range whose borders should be updated."
        },
        "innerHorizontal": {
          "$ref": "Border",
          "description": "The horizontal border to put within the range."
        },
        "top": {
          "description": "The border to put at the top of the range.",
          "$ref": "Border"
        },
        "left": {
          "description": "The border to put at the left of the range.",
          "$ref": "Border"
        },
        "bottom": {
          "description": "The border to put at the bottom of the range.",
          "$ref": "Border"
        },
        "innerVertical": {
          "$ref": "Border",
          "description": "The vertical border to put within the range."
        }
      }
    },
    "CellFormat": {
      "description": "The format of a cell.",
      "type": "object",
      "properties": {
        "textDirection": {
          "enumDescriptions": [
            "The text direction is not specified. Do not use this.",
            "The text direction of left-to-right was set by the user.",
            "The text direction of right-to-left was set by the user."
          ],
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The direction of the text in the cell.",
          "type": "string"
        },
        "borders": {
          "description": "The borders of the cell.",
          "$ref": "Borders"
        },
        "textRotation": {
          "$ref": "TextRotation",
          "description": "The rotation applied to text in a cell"
        },
        "wrapStrategy": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Lines that are longer than the cell width will be written in the next\ncell over, so long as that cell is empty. If the next cell over is\nnon-empty, this behaves the same as CLIP. The text will never wrap\nto the next line unless the user manually inserts a new line.\nExample:\n\n    | First sentence. |\n    | Manual newline that is very long. \u003c- Text continues into next cell\n    | Next newline.   |",
            "This wrap strategy represents the old Google Sheets wrap strategy where\nwords that are longer than a line are clipped rather than broken. This\nstrategy is not supported on all platforms and is being phased out.\nExample:\n\n    | Cell has a |\n    | loooooooooo| \u003c- Word is clipped.\n    | word.      |",
            "Lines that are longer than the cell width will be clipped.\nThe text will never wrap to the next line unless the user manually\ninserts a new line.\nExample:\n\n    | First sentence. |\n    | Manual newline t| \u003c- Text is clipped\n    | Next newline.   |",
            "Words that are longer than a line are wrapped at the character level\nrather than clipped.\nExample:\n\n    | Cell has a |\n    | loooooooooo| \u003c- Word is broken.\n    | ong word.  |"
          ],
          "enum": [
            "WRAP_STRATEGY_UNSPECIFIED",
            "OVERFLOW_CELL",
            "LEGACY_WRAP",
            "CLIP",
            "WRAP"
          ],
          "description": "The wrap strategy for the value in the cell.",
          "type": "string"
        },
        "numberFormat": {
          "description": "A format describing how number values should be represented to the user.",
          "$ref": "NumberFormat"
        },
        "hyperlinkDisplayType": {
          "enumDescriptions": [
            "The default value: the hyperlink is rendered. Do not use this.",
            "A hyperlink should be explicitly rendered.",
            "A hyperlink should not be rendered."
          ],
          "enum": [
            "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
            "LINKED",
            "PLAIN_TEXT"
          ],
          "description": "How a hyperlink, if it exists, should be displayed in the cell.",
          "type": "string"
        },
        "horizontalAlignment": {
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "description": "The horizontal alignment of the value in the cell.",
          "type": "string"
        },
        "textFormat": {
          "description": "The format of the text in the cell (unless overridden by a format run).",
          "$ref": "TextFormat"
        },
        "backgroundColor": {
          "description": "The background color of the cell.",
          "$ref": "Color"
        },
        "verticalAlignment": {
          "enumDescriptions": [
            "The vertical alignment is not specified.  Do not use this.",
            "The text is explicitly aligned to the top of the cell.",
            "The text is explicitly aligned to the middle of the cell.",
            "The text is explicitly aligned to the bottom of the cell."
          ],
          "enum": [
            "VERTICAL_ALIGN_UNSPECIFIED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "description": "The vertical alignment of the value in the cell.",
          "type": "string"
        },
        "padding": {
          "description": "The padding of the cell.",
          "$ref": "Padding"
        }
      },
      "id": "CellFormat"
    },
    "ClearValuesResponse": {
      "id": "ClearValuesResponse",
      "description": "The response when clearing a range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "clearedRange": {
          "description": "The range (in A1 notation) that was cleared.\n(If the request was for an unbounded range or a ranger larger\n than the bounds of the sheet, this will be the actual range\n that was cleared, bounded to the sheet's limits.)",
          "type": "string"
        }
      }
    },
    "DeleteConditionalFormatRuleRequest": {
      "description": "Deletes a conditional format rule at the given index.\nAll subsequent rules' indexes are decremented.",
      "type": "object",
      "properties": {
        "sheetId": {
          "format": "int32",
          "description": "The sheet the rule is being deleted from.",
          "type": "integer"
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index of the rule to be deleted.",
          "type": "integer"
        }
      },
      "id": "DeleteConditionalFormatRuleRequest"
    },
    "AddBandingResponse": {
      "id": "AddBandingResponse",
      "description": "The result of adding a banded range.",
      "type": "object",
      "properties": {
        "bandedRange": {
          "description": "The banded range that was added.",
          "$ref": "BandedRange"
        }
      }
    },
    "DeleteNamedRangeRequest": {
      "description": "Removes the named range with the given ID from the spreadsheet.",
      "type": "object",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range to delete.",
          "type": "string"
        }
      },
      "id": "DeleteNamedRangeRequest"
    },
    "ChartData": {
      "id": "ChartData",
      "description": "The data included in a domain or series.",
      "type": "object",
      "properties": {
        "sourceRange": {
          "$ref": "ChartSourceRange",
          "description": "The source ranges of the data."
        }
      }
    },
    "BatchGetValuesResponse": {
      "description": "The response when retrieving more than one range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "valueRanges": {
          "description": "The requested values. The order of the ValueRanges is the same as the\norder of the requested ranges.",
          "items": {
            "$ref": "ValueRange"
          },
          "type": "array"
        },
        "spreadsheetId": {
          "description": "The ID of the spreadsheet the data was retrieved from.",
          "type": "string"
        }
      },
      "id": "BatchGetValuesResponse"
    },
    "UpdateBandingRequest": {
      "id": "UpdateBandingRequest",
      "description": "Updates properties of the supplied banded range.",
      "type": "object",
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range to update with the new properties."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root `bandedRange` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        }
      }
    },
    "Color": {
      "id": "Color",
      "description": "Represents a color in the RGBA color space. This representation is designed\nfor simplicity of conversion to/from color representations in various\nlanguages over compactness; for example, the fields of this representation\ncan be trivially provided to the constructor of \"java.awt.Color\" in Java; it\ncan also be trivially provided to UIColor's \"+colorWithRed:green:blue:alpha\"\nmethod in iOS; and, with just a little work, it can be easily formatted into\na CSS \"rgba()\" string in JavaScript, as well. Here are some examples:\n\nExample (Java):\n\n     import com.google.type.Color;\n\n     // ...\n     public static java.awt.Color fromProto(Color protocolor) {\n       float alpha = protocolor.hasAlpha()\n           ? protocolor.getAlpha().getValue()\n           : 1.0;\n\n       return new java.awt.Color(\n           protocolor.getRed(),\n           protocolor.getGreen(),\n           protocolor.getBlue(),\n           alpha);\n     }\n\n     public static Color toProto(java.awt.Color color) {\n       float red = (float) color.getRed();\n       float green = (float) color.getGreen();\n       float blue = (float) color.getBlue();\n       float denominator = 255.0;\n       Color.Builder resultBuilder =\n           Color\n               .newBuilder()\n               .setRed(red / denominator)\n               .setGreen(green / denominator)\n               .setBlue(blue / denominator);\n       int alpha = color.getAlpha();\n       if (alpha != 255) {\n         result.setAlpha(\n             FloatValue\n                 .newBuilder()\n                 .setValue(((float) alpha) / denominator)\n                 .build());\n       }\n       return resultBuilder.build();\n     }\n     // ...\n\nExample (iOS / Obj-C):\n\n     // ...\n     static UIColor* fromProto(Color* protocolor) {\n        float red = [protocolor red];\n        float green = [protocolor green];\n        float blue = [protocolor blue];\n        FloatValue* alpha_wrapper = [protocolor alpha];\n        float alpha = 1.0;\n        if (alpha_wrapper != nil) {\n          alpha = [alpha_wrapper value];\n        }\n        return [UIColor colorWithRed:red green:green blue:blue alpha:alpha];\n     }\n\n     static Color* toProto(UIColor* color) {\n         CGFloat red, green, blue, alpha;\n         if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) {\n           return nil;\n         }\n         Color* result = [Color alloc] init];\n         [result setRed:red];\n         [result setGreen:green];\n         [result setBlue:blue];\n         if (alpha \u003c= 0.9999) {\n           [result setAlpha:floatWrapperWithValue(alpha)];\n         }\n         [result autorelease];\n         return result;\n    }\n    // ...\n\n Example (JavaScript):\n\n    // ...\n\n    var protoToCssColor = function(rgb_color) {\n       var redFrac = rgb_color.red || 0.0;\n       var greenFrac = rgb_color.green || 0.0;\n       var blueFrac = rgb_color.blue || 0.0;\n       var red = Math.floor(redFrac * 255);\n       var green = Math.floor(greenFrac * 255);\n       var blue = Math.floor(blueFrac * 255);\n\n       if (!('alpha' in rgb_color)) {\n          return rgbToCssColor_(red, green, blue);\n       }\n\n       var alphaFrac = rgb_color.alpha.value || 0.0;\n       var rgbParams = [red, green, blue].join(',');\n       return ['rgba(', rgbParams, ',', alphaFrac, ')'].join('');\n    };\n\n    var rgbToCssColor_ = function(red, green, blue) {\n      var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue);\n      var hexString = rgbNumber.toString(16);\n      var missingZeros = 6 - hexString.length;\n      var resultBuilder = ['#'];\n      for (var i = 0; i \u003c missingZeros; i++) {\n         resultBuilder.push('0');\n      }\n      resultBuilder.push(hexString);\n      return resultBuilder.join('');\n    };\n\n    // ...",
      "type": "object",
      "properties": {
        "alpha": {
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is,\nthe final pixel color is defined by the equation:\n\n  pixel color = alpha * (this color) + (1.0 - alpha) * (background color)\n\nThis means that a value of 1.0 corresponds to a solid color, whereas\na value of 0.0 corresponds to a completely transparent color. This\nuses a wrapper message rather than a simple float scalar so that it is\npossible to distinguish between a default value and the value being unset.\nIf omitted, this color object is to be rendered as a solid color\n(as if the alpha value had been explicitly given with a value of 1.0).",
          "type": "number"
        },
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "red": {
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number"
        }
      }
    },
    "PivotGroup": {
      "description": "A single grouping (either row or column) in a pivot table.",
      "type": "object",
      "properties": {
        "sortOrder": {
          "description": "The order the values in this group should be sorted.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use this.",
            "Sort ascending.",
            "Sort descending."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "valueBucket": {
          "$ref": "PivotGroupSortValueBucket",
          "description": "The bucket of the opposite pivot group to sort by.\nIf not specified, sorting is alphabetical by this group's values."
        },
        "valueMetadata": {
          "description": "Metadata about values in the grouping.",
          "items": {
            "$ref": "PivotGroupValueMetadata"
          },
          "type": "array"
        },
        "showTotals": {
          "description": "True if the pivot table should include the totals for this grouping.",
          "type": "boolean"
        },
        "sourceColumnOffset": {
          "format": "int32",
          "description": "The column offset of the source range that this grouping is based on.\n\nFor example, if the source was `C10:E15`, a `sourceColumnOffset` of `0`\nmeans this group refers to column `C`, whereas the offset `1` would refer\nto column `D`.",
          "type": "integer"
        }
      },
      "id": "PivotGroup"
    },
    "PivotTable": {
      "id": "PivotTable",
      "description": "A pivot table.",
      "type": "object",
      "properties": {
        "criteria": {
          "additionalProperties": {
            "$ref": "PivotFilterCriteria"
          },
          "description": "An optional mapping of filters per source column offset.\n\nThe filters will be applied before aggregating data into the pivot table.\nThe map's key is the column offset of the source range that you want to\nfilter, and the value is the criteria for that column.\n\nFor example, if the source was `C10:E15`, a key of `0` will have the filter\nfor column `C`, whereas the key `1` is for column `D`.",
          "type": "object"
        },
        "rows": {
          "description": "Each row grouping in the pivot table.",
          "items": {
            "$ref": "PivotGroup"
          },
          "type": "array"
        },
        "valueLayout": {
          "description": "Whether values should be listed horizontally (as columns)\nor vertically (as rows).",
          "type": "string",
          "enumDescriptions": [
            "Values are laid out horizontally (as columns).",
            "Values are laid out vertically (as rows)."
          ],
          "enum": [
            "HORIZONTAL",
            "VERTICAL"
          ]
        },
        "columns": {
          "description": "Each column grouping in the pivot table.",
          "items": {
            "$ref": "PivotGroup"
          },
          "type": "array"
        },
        "values": {
          "description": "A list of values to include in the pivot table.",
          "items": {
            "$ref": "PivotValue"
          },
          "type": "array"
        },
        "source": {
          "$ref": "GridRange",
          "description": "The range the pivot table is reading data from."
        }
      }
    },
    "ChartSourceRange": {
      "id": "ChartSourceRange",
      "description": "Source ranges for a chart.",
      "type": "object",
      "properties": {
        "sources": {
          "description": "The ranges of data for a series or domain.\nExactly one dimension must have a length of 1,\nand all sources in the list must have the same dimension\nwith length 1.\nThe domain (if it exists) & all series must have the same number\nof source ranges. If using more than one source range, then the source\nrange at a given offset must be contiguous across the domain and series.\n\nFor example, these are valid configurations:\n\n    domain sources: A1:A5\n    series1 sources: B1:B5\n    series2 sources: D6:D10\n\n    domain sources: A1:A5, C10:C12\n    series1 sources: B1:B5, D10:D12\n    series2 sources: C1:C5, E10:E12",
          "items": {
            "$ref": "GridRange"
          },
          "type": "array"
        }
      }
    },
    "AppendCellsRequest": {
      "description": "Adds new cells after the last row with data in a sheet,\ninserting new rows into the sheet if necessary.",
      "type": "object",
      "properties": {
        "sheetId": {
          "format": "int32",
          "description": "The sheet ID to append the data to.",
          "type": "integer"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields of CellData that should be updated.\nAt least one field must be specified.\nThe root is the CellData; 'row.values.' should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "rows": {
          "description": "The data to append.",
          "items": {
            "$ref": "RowData"
          },
          "type": "array"
        }
      },
      "id": "AppendCellsRequest"
    },
    "ValueRange": {
      "description": "Data within a range of the spreadsheet.",
      "type": "object",
      "properties": {
        "range": {
          "description": "The range the values cover, in A1 notation.\nFor output, this range indicates the entire requested range,\neven though the values will exclude trailing rows and columns.\nWhen appending values, this field represents the range to search for a\ntable, after which values will be appended.",
          "type": "string"
        },
        "values": {
          "description": "The data that was read or to be written.  This is an array of arrays,\nthe outer array representing all the data and each inner array\nrepresenting a major dimension. Each item in the inner array\ncorresponds with one cell.\n\nFor output, empty trailing rows and columns will not be included.\n\nFor input, supported value types are: bool, string, and double.\nNull values will be skipped.\nTo set a cell to an empty value, set the string value to an empty string.",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "type": "array"
        },
        "majorDimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The major dimension of the values.\n\nFor output, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`,\nthen requesting `range=A1:B2,majorDimension=ROWS` will return\n`[[1,2],[3,4]]`,\nwhereas requesting `range=A1:B2,majorDimension=COLUMNS` will return\n`[[1,3],[2,4]]`.\n\nFor input, with `range=A1:B2,majorDimension=ROWS` then `[[1,2],[3,4]]`\nwill set `A1=1,B1=2,A2=3,B2=4`. With `range=A1:B2,majorDimension=COLUMNS`\nthen `[[1,2],[3,4]]` will set `A1=1,B1=3,A2=2,B2=4`.\n\nWhen writing, if this field is not set, it defaults to ROWS.",
          "type": "string"
        }
      },
      "id": "ValueRange"
    },
    "AddBandingRequest": {
      "description": "Adds a new banded range to the spreadsheet.",
      "type": "object",
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range to add. The bandedRangeId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a range that already exists.)"
        }
      },
      "id": "AddBandingRequest"
    },
    "Response": {
      "description": "A single response from an update.",
      "type": "object",
      "properties": {
        "addFilterView": {
          "description": "A reply from adding a filter view.",
          "$ref": "AddFilterViewResponse"
        },
        "addBanding": {
          "description": "A reply from adding a banded range.",
          "$ref": "AddBandingResponse"
        },
        "addProtectedRange": {
          "$ref": "AddProtectedRangeResponse",
          "description": "A reply from adding a protected range."
        },
        "duplicateSheet": {
          "$ref": "DuplicateSheetResponse",
          "description": "A reply from duplicating a sheet."
        },
        "updateEmbeddedObjectPosition": {
          "description": "A reply from updating an embedded object's position.",
          "$ref": "UpdateEmbeddedObjectPositionResponse"
        },
        "deleteConditionalFormatRule": {
          "description": "A reply from deleting a conditional format rule.",
          "$ref": "DeleteConditionalFormatRuleResponse"
        },
        "duplicateFilterView": {
          "$ref": "DuplicateFilterViewResponse",
          "description": "A reply from duplicating a filter view."
        },
        "addChart": {
          "$ref": "AddChartResponse",
          "description": "A reply from adding a chart."
        },
        "findReplace": {
          "$ref": "FindReplaceResponse",
          "description": "A reply from doing a find/replace."
        },
        "addSheet": {
          "description": "A reply from adding a sheet.",
          "$ref": "AddSheetResponse"
        },
        "updateConditionalFormatRule": {
          "$ref": "UpdateConditionalFormatRuleResponse",
          "description": "A reply from updating a conditional format rule."
        },
        "addNamedRange": {
          "description": "A reply from adding a named range.",
          "$ref": "AddNamedRangeResponse"
        }
      },
      "id": "Response"
    },
    "InsertRangeRequest": {
      "description": "Inserts cells into a range, shifting the existing cells over or down.",
      "type": "object",
      "properties": {
        "shiftDimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension which will be shifted when inserting cells.\nIf ROWS, existing cells will be shifted down.\nIf COLUMNS, existing cells will be shifted right.",
          "type": "string"
        },
        "range": {
          "description": "The range to insert new cells into.",
          "$ref": "GridRange"
        }
      },
      "id": "InsertRangeRequest"
    },
    "TextFormatRun": {
      "id": "TextFormatRun",
      "description": "A run of a text format. The format of this run continues until the start\nindex of the next run.\nWhen updating, all fields must be set.",
      "type": "object",
      "properties": {
        "format": {
          "$ref": "TextFormat",
          "description": "The format of this run.  Absent values inherit the cell's format."
        },
        "startIndex": {
          "format": "int32",
          "description": "The character index where this run starts.",
          "type": "integer"
        }
      }
    },
    "EmbeddedChart": {
      "id": "EmbeddedChart",
      "description": "A chart embedded in a sheet.",
      "type": "object",
      "properties": {
        "chartId": {
          "format": "int32",
          "description": "The ID of the chart.",
          "type": "integer"
        },
        "position": {
          "description": "The position of the chart.",
          "$ref": "EmbeddedObjectPosition"
        },
        "spec": {
          "$ref": "ChartSpec",
          "description": "The specification of the chart."
        }
      }
    },
    "AddNamedRangeResponse": {
      "description": "The result of adding a named range.",
      "type": "object",
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to add."
        }
      },
      "id": "AddNamedRangeResponse"
    },
    "RowData": {
      "description": "Data about each cell in a row.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The values in the row, one per column.",
          "items": {
            "$ref": "CellData"
          },
          "type": "array"
        }
      },
      "id": "RowData"
    },
    "GridData": {
      "id": "GridData",
      "description": "Data in the grid, as well as metadata about the dimensions.",
      "type": "object",
      "properties": {
        "rowData": {
          "description": "The data in the grid, one entry per row,\nstarting with the row in startRow.\nThe values in RowData will correspond to columns starting\nat start_column.",
          "items": {
            "$ref": "RowData"
          },
          "type": "array"
        },
        "startRow": {
          "format": "int32",
          "description": "The first row this GridData refers to, zero-based.",
          "type": "integer"
        },
        "columnMetadata": {
          "description": "Metadata about the requested columns in the grid, starting with the column\nin start_column.",
          "items": {
            "$ref": "DimensionProperties"
          },
          "type": "array"
        },
        "startColumn": {
          "format": "int32",
          "description": "The first column this GridData refers to, zero-based.",
          "type": "integer"
        },
        "rowMetadata": {
          "description": "Metadata about the requested rows in the grid, starting with the row\nin start_row.",
          "items": {
            "$ref": "DimensionProperties"
          },
          "type": "array"
        }
      }
    },
    "Border": {
      "description": "A border along a cell.",
      "type": "object",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "The color of the border."
        },
        "width": {
          "format": "int32",
          "description": "The width of the border, in pixels.\nDeprecated; the width is determined by the \"style\" field.",
          "type": "integer"
        },
        "style": {
          "description": "The style of the border.",
          "type": "string",
          "enumDescriptions": [
            "The style is not specified. Do not use this.",
            "The border is dotted.",
            "The border is dashed.",
            "The border is a thin solid line.",
            "The border is a medium solid line.",
            "The border is a thick solid line.",
            "No border.\nUsed only when updating a border in order to erase it.",
            "The border is two solid lines."
          ],
          "enum": [
            "STYLE_UNSPECIFIED",
            "DOTTED",
            "DASHED",
            "SOLID",
            "SOLID_MEDIUM",
            "SOLID_THICK",
            "NONE",
            "DOUBLE"
          ]
        }
      },
      "id": "Border"
    },
    "UpdateNamedRangeRequest": {
      "description": "Updates properties of the named range with the specified\nnamedRangeId.",
      "type": "object",
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to update with the new properties."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root `namedRange` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        }
      },
      "id": "UpdateNamedRangeRequest"
    },
    "FindReplaceRequest": {
      "description": "Finds and replaces data in cells over a range, sheet, or all sheets.",
      "type": "object",
      "properties": {
        "searchByRegex": {
          "description": "True if the find value is a regex.\nThe regular expression and replacement should follow Java regex rules\nat https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html.\nThe replacement string is allowed to refer to capturing groups.\nFor example, if one cell has the contents `\"Google Sheets\"` and another\nhas `\"Google Docs\"`, then searching for `\"o.* (.*)\"` with a replacement of\n`\"$1 Rocks\"` would change the contents of the cells to\n`\"GSheets Rocks\"` and `\"GDocs Rocks\"` respectively.",
          "type": "boolean"
        },
        "find": {
          "description": "The value to search.",
          "type": "string"
        },
        "replacement": {
          "description": "The value to use as the replacement.",
          "type": "string"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range to find/replace over."
        },
        "sheetId": {
          "format": "int32",
          "description": "The sheet to find/replace over.",
          "type": "integer"
        },
        "matchCase": {
          "description": "True if the search is case sensitive.",
          "type": "boolean"
        },
        "allSheets": {
          "description": "True to find/replace over all sheets.",
          "type": "boolean"
        },
        "includeFormulas": {
          "description": "True if the search should include cells with formulas.\nFalse to skip cells with formulas.",
          "type": "boolean"
        },
        "matchEntireCell": {
          "description": "True if the find value should match the entire cell.",
          "type": "boolean"
        }
      },
      "id": "FindReplaceRequest"
    },
    "AddSheetRequest": {
      "id": "AddSheetRequest",
      "description": "Adds a new sheet.\nWhen a sheet is added at a given index,\nall subsequent sheets' indexes are incremented.\nTo add an object sheet, use AddChartRequest instead and specify\nEmbeddedObjectPosition.sheetId or\nEmbeddedObjectPosition.newSheet.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties the new sheet should have.\nAll properties are optional.\nThe sheetId field is optional; if one is not\nset, an id will be randomly generated. (It is an error to specify the ID\nof a sheet that already exists.)"
        }
      }
    },
    "UpdateCellsRequest": {
      "id": "UpdateCellsRequest",
      "description": "Updates all cells in a range with new data.",
      "type": "object",
      "properties": {
        "start": {
          "$ref": "GridCoordinate",
          "description": "The coordinate to start writing data at.\nAny number of rows and columns (including a different number of\ncolumns per row) may be written."
        },
        "range": {
          "description": "The range to write data to.\n\nIf the data in rows does not cover the entire requested range,\nthe fields matching those set in fields will be cleared.",
          "$ref": "GridRange"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields of CellData that should be updated.\nAt least one field must be specified.\nThe root is the CellData; 'row.values.' should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "rows": {
          "description": "The data to write.",
          "items": {
            "$ref": "RowData"
          },
          "type": "array"
        }
      }
    },
    "RandomizeRangeRequest": {
      "id": "RandomizeRangeRequest",
      "description": "Randomizes the order of the rows in a range.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to randomize."
        }
      }
    },
    "DeleteConditionalFormatRuleResponse": {
      "description": "The result of deleting a conditional format rule.",
      "type": "object",
      "properties": {
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule that was deleted."
        }
      },
      "id": "DeleteConditionalFormatRuleResponse"
    },
    "DeleteRangeRequest": {
      "description": "Deletes a range of cells, shifting other cells into the deleted area.",
      "type": "object",
      "properties": {
        "shiftDimension": {
          "description": "The dimension from which deleted cells will be replaced with.\nIf ROWS, existing cells will be shifted upward to\nreplace the deleted cells. If COLUMNS, existing cells\nwill be shifted left to replace the deleted cells.",
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ]
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range of cells to delete."
        }
      },
      "id": "DeleteRangeRequest"
    },
    "GridCoordinate": {
      "id": "GridCoordinate",
      "description": "A coordinate in a sheet.\nAll indexes are zero-based.",
      "type": "object",
      "properties": {
        "sheetId": {
          "format": "int32",
          "description": "The sheet this coordinate is on.",
          "type": "integer"
        },
        "columnIndex": {
          "format": "int32",
          "description": "The column index of the coordinate.",
          "type": "integer"
        },
        "rowIndex": {
          "format": "int32",
          "description": "The row index of the coordinate.",
          "type": "integer"
        }
      }
    },
    "UpdateSheetPropertiesRequest": {
      "id": "UpdateSheetPropertiesRequest",
      "description": "Updates properties of the sheet with the specified\nsheetId.",
      "type": "object",
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root `properties` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "properties": {
          "description": "The properties to update.",
          "$ref": "SheetProperties"
        }
      }
    },
    "GridProperties": {
      "description": "Properties of a grid.",
      "type": "object",
      "properties": {
        "rowCount": {
          "format": "int32",
          "description": "The number of rows in the grid.",
          "type": "integer"
        },
        "hideGridlines": {
          "description": "True if the grid isn't showing gridlines in the UI.",
          "type": "boolean"
        },
        "frozenRowCount": {
          "format": "int32",
          "description": "The number of rows that are frozen in the grid.",
          "type": "integer"
        },
        "frozenColumnCount": {
          "format": "int32",
          "description": "The number of columns that are frozen in the grid.",
          "type": "integer"
        },
        "columnCount": {
          "format": "int32",
          "description": "The number of columns in the grid.",
          "type": "integer"
        }
      },
      "id": "GridProperties"
    },
    "UnmergeCellsRequest": {
      "description": "Unmerges cells in the given range.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range within which all cells should be unmerged.\nIf the range spans multiple merges, all will be unmerged.\nThe range must not partially span any merge."
        }
      },
      "id": "UnmergeCellsRequest"
    },
    "UpdateEmbeddedObjectPositionResponse": {
      "description": "The result of updating an embedded object's position.",
      "type": "object",
      "properties": {
        "position": {
          "$ref": "EmbeddedObjectPosition",
          "description": "The new position of the embedded object."
        }
      },
      "id": "UpdateEmbeddedObjectPositionResponse"
    },
    "SortSpec": {
      "description": "A sort order associated with a specific column or row.",
      "type": "object",
      "properties": {
        "dimensionIndex": {
          "format": "int32",
          "description": "The dimension the sort should be applied to.",
          "type": "integer"
        },
        "sortOrder": {
          "description": "The order data should be sorted.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use this.",
            "Sort ascending.",
            "Sort descending."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        }
      },
      "id": "SortSpec"
    },
    "Sheet": {
      "id": "Sheet",
      "description": "A sheet in a spreadsheet.",
      "type": "object",
      "properties": {
        "protectedRanges": {
          "description": "The protected ranges in this sheet.",
          "items": {
            "$ref": "ProtectedRange"
          },
          "type": "array"
        },
        "conditionalFormats": {
          "description": "The conditional format rules in this sheet.",
          "items": {
            "$ref": "ConditionalFormatRule"
          },
          "type": "array"
        },
        "basicFilter": {
          "$ref": "BasicFilter",
          "description": "The filter on this sheet, if any."
        },
        "merges": {
          "description": "The ranges that are merged together.",
          "items": {
            "$ref": "GridRange"
          },
          "type": "array"
        },
        "data": {
          "description": "Data in the grid, if this is a grid sheet.\nThe number of GridData objects returned is dependent on the number of\nranges requested on this sheet. For example, if this is representing\n`Sheet1`, and the spreadsheet was requested with ranges\n`Sheet1!A1:C10` and `Sheet1!D15:E20`, then the first GridData will have a\nstartRow/startColumn of `0`,\nwhile the second one will have `startRow 14` (zero-based row 15),\nand `startColumn 3` (zero-based column D).",
          "items": {
            "$ref": "GridData"
          },
          "type": "array"
        },
        "bandedRanges": {
          "description": "The banded (i.e. alternating colors) ranges on this sheet.",
          "items": {
            "$ref": "BandedRange"
          },
          "type": "array"
        },
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties of the sheet."
        },
        "charts": {
          "description": "The specifications of every chart on this sheet.",
          "items": {
            "$ref": "EmbeddedChart"
          },
          "type": "array"
        },
        "filterViews": {
          "description": "The filter views in this sheet.",
          "items": {
            "$ref": "FilterView"
          },
          "type": "array"
        }
      }
    },
    "BooleanRule": {
      "description": "A rule that may or may not match, depending on the condition.",
      "type": "object",
      "properties": {
        "format": {
          "$ref": "CellFormat",
          "description": "The format to apply.\nConditional formatting can only apply a subset of formatting:\nbold, italic,\nstrikethrough,\nforeground color &\nbackground color."
        },
        "condition": {
          "$ref": "BooleanCondition",
          "description": "The condition of the rule. If the condition evaluates to true,\nthe format will be applied."
        }
      },
      "id": "BooleanRule"
    },
    "PivotGroupValueMetadata": {
      "id": "PivotGroupValueMetadata",
      "description": "Metadata about a value in a pivot grouping.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The calculated value the metadata corresponds to.\n(Note that formulaValue is not valid,\n because the values will be calculated.)",
          "$ref": "ExtendedValue"
        },
        "collapsed": {
          "description": "True if the data corresponding to the value is collapsed.",
          "type": "boolean"
        }
      }
    },
    "FilterCriteria": {
      "id": "FilterCriteria",
      "description": "Criteria for showing/hiding rows in a filter or filter view.",
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "BooleanCondition",
          "description": "A condition that must be true for values to be shown.\n(This does not override hiddenValues -- if a value is listed there,\n it will still be hidden.)"
        },
        "hiddenValues": {
          "description": "Values that should be hidden.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Editors": {
      "id": "Editors",
      "description": "The editors of a protected range.",
      "type": "object",
      "properties": {
        "users": {
          "description": "The email addresses of users with edit access to the protected range.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domainUsersCanEdit": {
          "description": "True if anyone in the document's domain has edit access to the protected\nrange.  Domain protection is only supported on documents within a domain.",
          "type": "boolean"
        },
        "groups": {
          "description": "The email addresses of groups with edit access to the protected range.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UpdateConditionalFormatRuleRequest": {
      "id": "UpdateConditionalFormatRuleRequest",
      "description": "Updates a conditional format rule at the given index,\nor moves a conditional format rule to another index.",
      "type": "object",
      "properties": {
        "rule": {
          "description": "The rule that should replace the rule at the given index.",
          "$ref": "ConditionalFormatRule"
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index of the rule that should be replaced or moved.",
          "type": "integer"
        },
        "sheetId": {
          "format": "int32",
          "description": "The sheet of the rule to move.  Required if new_index is set,\nunused otherwise.",
          "type": "integer"
        },
        "newIndex": {
          "format": "int32",
          "description": "The zero-based new index the rule should end up at.",
          "type": "integer"
        }
      }
    },
    "DataValidationRule": {
      "description": "A data validation rule.",
      "type": "object",
      "properties": {
        "showCustomUi": {
          "description": "True if the UI should be customized based on the kind of condition.\nIf true, \"List\" conditions will show a dropdown.",
          "type": "boolean"
        },
        "strict": {
          "description": "True if invalid data should be rejected.",
          "type": "boolean"
        },
        "inputMessage": {
          "description": "A message to show the user when adding data to the cell.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that data in the cell must match.",
          "$ref": "BooleanCondition"
        }
      },
      "id": "DataValidationRule"
    },
    "BasicChartDomain": {
      "description": "The domain of a chart.\nFor example, if charting stock prices over time, this would be the date.",
      "type": "object",
      "properties": {
        "domain": {
          "$ref": "ChartData",
          "description": "The data of the domain. For example, if charting stock prices over time,\nthis is the data representing the dates."
        },
        "reversed": {
          "description": "True to reverse the order of the domain values (horizontal axis).",
          "type": "boolean"
        }
      },
      "id": "BasicChartDomain"
    },
    "PasteDataRequest": {
      "description": "Inserts data into the spreadsheet starting at the specified coordinate.",
      "type": "object",
      "properties": {
        "coordinate": {
          "description": "The coordinate at which the data should start being inserted.",
          "$ref": "GridCoordinate"
        },
        "delimiter": {
          "description": "The delimiter in the data.",
          "type": "string"
        },
        "data": {
          "description": "The data to insert.",
          "type": "string"
        },
        "type": {
          "description": "How the data should be pasted.",
          "type": "string",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like PASTE_NORMAL but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ]
        },
        "html": {
          "description": "True if the data is HTML.",
          "type": "boolean"
        }
      },
      "id": "PasteDataRequest"
    },
    "AppendDimensionRequest": {
      "description": "Appends rows or columns to the end of a sheet.",
      "type": "object",
      "properties": {
        "dimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "Whether rows or columns should be appended.",
          "type": "string"
        },
        "length": {
          "format": "int32",
          "description": "The number of rows or columns to append.",
          "type": "integer"
        },
        "sheetId": {
          "format": "int32",
          "description": "The sheet to append rows or columns to.",
          "type": "integer"
        }
      },
      "id": "AppendDimensionRequest"
    },
    "AddNamedRangeRequest": {
      "id": "AddNamedRangeRequest",
      "description": "Adds a named range to the spreadsheet.",
      "type": "object",
      "properties": {
        "namedRange": {
          "description": "The named range to add. The namedRangeId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a range that already exists.)",
          "$ref": "NamedRange"
        }
      }
    },
    "UpdateEmbeddedObjectPositionRequest": {
      "id": "UpdateEmbeddedObjectPositionRequest",
      "description": "Update an embedded object's position (such as a moving or resizing a\nchart or image).",
      "type": "object",
      "properties": {
        "newPosition": {
          "$ref": "EmbeddedObjectPosition",
          "description": "An explicit position to move the embedded object to.\nIf newPosition.sheetId is set,\na new sheet with that ID will be created.\nIf newPosition.newSheet is set to true,\na new sheet will be created with an ID that will be chosen for you."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields of OverlayPosition\nthat should be updated when setting a new position. Used only if\nnewPosition.overlayPosition\nis set, in which case at least one field must\nbe specified.  The root `newPosition.overlayPosition` is implied and\nshould not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "objectId": {
          "format": "int32",
          "description": "The ID of the object to moved.",
          "type": "integer"
        }
      }
    },
    "TextRotation": {
      "description": "The rotation applied to text in a cell.",
      "type": "object",
      "properties": {
        "angle": {
          "format": "int32",
          "description": "The angle between the standard orientation and the desired orientation.\nMeasured in degrees. Valid values are between -90 and 90. Positive\nangles are angled upwards, negative are angled downwards.\n\nNote: For LTR text direction positive angles are in the counterclockwise\ndirection, whereas for RTL they are in the clockwise direction",
          "type": "integer"
        },
        "vertical": {
          "description": "If true, text reads top to bottom, but the orientation of individual\ncharacters is unchanged.\nFor example:\n\n    | V |\n    | e |\n    | r |\n    | t |\n    | i |\n    | c |\n    | a |\n    | l |",
          "type": "boolean"
        }
      },
      "id": "TextRotation"
    },
    "PieChartSpec": {
      "id": "PieChartSpec",
      "description": "A \u003ca href=\"/chart/interactive/docs/gallery/piechart\"\u003epie chart\u003c/a\u003e.",
      "type": "object",
      "properties": {
        "threeDimensional": {
          "description": "True if the pie is three dimensional.",
          "type": "boolean"
        },
        "domain": {
          "description": "The data that covers the domain of the pie chart.",
          "$ref": "ChartData"
        },
        "series": {
          "description": "The data that covers the one and only series of the pie chart.",
          "$ref": "ChartData"
        },
        "pieHole": {
          "format": "double",
          "description": "The size of the hole in the pie chart.",
          "type": "number"
        },
        "legendPosition": {
          "description": "Where the legend of the pie chart should be drawn.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "Each pie slice has a label attached to it."
          ],
          "enum": [
            "PIE_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "LABELED_LEGEND"
          ]
        }
      }
    },
    "UpdateFilterViewRequest": {
      "id": "UpdateFilterViewRequest",
      "description": "Updates properties of the filter view.",
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "FilterView",
          "description": "The new properties of the filter view."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root `filter` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        }
      }
    },
    "ConditionalFormatRule": {
      "description": "A rule describing a conditional format.",
      "type": "object",
      "properties": {
        "ranges": {
          "description": "The ranges that will be formatted if the condition is true.\nAll the ranges must be on the same grid.",
          "items": {
            "$ref": "GridRange"
          },
          "type": "array"
        },
        "gradientRule": {
          "description": "The formatting will vary based on the gradients in the rule.",
          "$ref": "GradientRule"
        },
        "booleanRule": {
          "$ref": "BooleanRule",
          "description": "The formatting is either \"on\" or \"off\" according to the rule."
        }
      },
      "id": "ConditionalFormatRule"
    },
    "CopyPasteRequest": {
      "id": "CopyPasteRequest",
      "description": "Copies data from the source to the destination.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "The location to paste to. If the range covers a span that's\na multiple of the source's height or width, then the\ndata will be repeated to fill in the destination range.\nIf the range is smaller than the source range, the entire\nsource data will still be copied (beyond the end of the destination range).",
          "$ref": "GridRange"
        },
        "pasteOrientation": {
          "enumDescriptions": [
            "Paste normally.",
            "Paste transposed, where all rows become columns and vice versa."
          ],
          "enum": [
            "NORMAL",
            "TRANSPOSE"
          ],
          "description": "How that data should be oriented when pasting.",
          "type": "string"
        },
        "pasteType": {
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like PASTE_NORMAL but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "description": "What kind of data to paste.",
          "type": "string"
        },
        "source": {
          "$ref": "GridRange",
          "description": "The source range to copy."
        }
      }
    },
    "BooleanCondition": {
      "description": "A condition that can evaluate to true or false.\nBooleanConditions are used by conditional formatting,\ndata validation, and the criteria in filters.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The values of the condition. The number of supported values depends\non the condition type.  Some support zero values,\nothers one or two values,\nand ConditionType.ONE_OF_LIST supports an arbitrary number of values.",
          "items": {
            "$ref": "ConditionValue"
          },
          "type": "array"
        },
        "type": {
          "description": "The type of condition.",
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "The cell's value must be greater than the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be greater than or equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be less than the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be less than or equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be not equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be between the two condition values.\nSupported by data validation, conditional formatting and filters.\nRequires exactly two ConditionValues.",
            "The cell's value must not be between the two condition values.\nSupported by data validation, conditional formatting and filters.\nRequires exactly two ConditionValues.",
            "The cell's value must contain the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must not contain the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must start with the condition's value.\nSupported by conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must end with the condition's value.\nSupported by conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be exactly the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be a valid email address.\nSupported by data validation.\nRequires no ConditionValues.",
            "The cell's value must be a valid URL.\nSupported by data validation.\nRequires no ConditionValues.",
            "The cell's value must be the same date as the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be before the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
            "The cell's value must be after the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
            "The cell's value must be on or before the date of the condition's value.\nSupported by data validation.\nRequires a single ConditionValue\nthat may be a relative date.",
            "The cell's value must be on or after the date of the condition's value.\nSupported by data validation.\nRequires a single ConditionValue\nthat may be a relative date.",
            "The cell's value must be between the dates of the two condition values.\nSupported by data validation.\nRequires exactly two ConditionValues.",
            "The cell's value must be outside the dates of the two condition values.\nSupported by data validation.\nRequires exactly two ConditionValues.",
            "The cell's value must be a date.\nSupported by data validation.\nRequires no ConditionValues.",
            "The cell's value must be listed in the grid in condition value's range.\nSupported by data validation.\nRequires a single ConditionValue,\nand the value must be a valid range in A1 notation.",
            "The cell's value must in the list of condition values.\nSupported by data validation.\nSupports any number of condition values,\none per item in the list.\nFormulas are not supported in the values.",
            "The cell's value must be empty.\nSupported by conditional formatting and filters.\nRequires no ConditionValues.",
            "The cell's value must not be empty.\nSupported by conditional formatting and filters.\nRequires no ConditionValues.",
            "The condition's formula must evaluate to true.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue."
          ],
          "enum": [
            "CONDITION_TYPE_UNSPECIFIED",
            "NUMBER_GREATER",
            "NUMBER_GREATER_THAN_EQ",
            "NUMBER_LESS",
            "NUMBER_LESS_THAN_EQ",
            "NUMBER_EQ",
            "NUMBER_NOT_EQ",
            "NUMBER_BETWEEN",
            "NUMBER_NOT_BETWEEN",
            "TEXT_CONTAINS",
            "TEXT_NOT_CONTAINS",
            "TEXT_STARTS_WITH",
            "TEXT_ENDS_WITH",
            "TEXT_EQ",
            "TEXT_IS_EMAIL",
            "TEXT_IS_URL",
            "DATE_EQ",
            "DATE_BEFORE",
            "DATE_AFTER",
            "DATE_ON_OR_BEFORE",
            "DATE_ON_OR_AFTER",
            "DATE_BETWEEN",
            "DATE_NOT_BETWEEN",
            "DATE_IS_VALID",
            "ONE_OF_RANGE",
            "ONE_OF_LIST",
            "BLANK",
            "NOT_BLANK",
            "CUSTOM_FORMULA"
          ]
        }
      },
      "id": "BooleanCondition"
    },
    "Request": {
      "id": "Request",
      "description": "A single kind of update to apply to a spreadsheet.",
      "type": "object",
      "properties": {
        "addNamedRange": {
          "$ref": "AddNamedRangeRequest",
          "description": "Adds a named range."
        },
        "updateCells": {
          "description": "Updates many cells at once.",
          "$ref": "UpdateCellsRequest"
        },
        "updateSpreadsheetProperties": {
          "description": "Updates the spreadsheet's properties.",
          "$ref": "UpdateSpreadsheetPropertiesRequest"
        },
        "deleteEmbeddedObject": {
          "$ref": "DeleteEmbeddedObjectRequest",
          "description": "Deletes an embedded object (e.g, chart, image) in a sheet."
        },
        "updateFilterView": {
          "$ref": "UpdateFilterViewRequest",
          "description": "Updates the properties of a filter view."
        },
        "addBanding": {
          "$ref": "AddBandingRequest",
          "description": "Adds a new banded range"
        },
        "appendCells": {
          "$ref": "AppendCellsRequest",
          "description": "Appends cells after the last row with data in a sheet."
        },
        "autoResizeDimensions": {
          "$ref": "AutoResizeDimensionsRequest",
          "description": "Automatically resizes one or more dimensions based on the contents\nof the cells in that dimension."
        },
        "cutPaste": {
          "description": "Cuts data from one area and pastes it to another.",
          "$ref": "CutPasteRequest"
        },
        "mergeCells": {
          "description": "Merges cells together.",
          "$ref": "MergeCellsRequest"
        },
        "updateNamedRange": {
          "$ref": "UpdateNamedRangeRequest",
          "description": "Updates a named range."
        },
        "updateSheetProperties": {
          "$ref": "UpdateSheetPropertiesRequest",
          "description": "Updates a sheet's properties."
        },
        "autoFill": {
          "$ref": "AutoFillRequest",
          "description": "Automatically fills in more data based on existing data."
        },
        "deleteDimension": {
          "description": "Deletes rows or columns in a sheet.",
          "$ref": "DeleteDimensionRequest"
        },
        "sortRange": {
          "$ref": "SortRangeRequest",
          "description": "Sorts data in a range."
        },
        "deleteProtectedRange": {
          "$ref": "DeleteProtectedRangeRequest",
          "description": "Deletes a protected range."
        },
        "duplicateFilterView": {
          "description": "Duplicates a filter view.",
          "$ref": "DuplicateFilterViewRequest"
        },
        "addChart": {
          "$ref": "AddChartRequest",
          "description": "Adds a chart."
        },
        "findReplace": {
          "$ref": "FindReplaceRequest",
          "description": "Finds and replaces occurrences of some text with other text."
        },
        "updateChartSpec": {
          "description": "Updates a chart's specifications.",
          "$ref": "UpdateChartSpecRequest"
        },
        "textToColumns": {
          "description": "Converts a column of text into many columns of text.",
          "$ref": "TextToColumnsRequest"
        },
        "updateProtectedRange": {
          "description": "Updates a protected range.",
          "$ref": "UpdateProtectedRangeRequest"
        },
        "addSheet": {
          "description": "Adds a sheet.",
          "$ref": "AddSheetRequest"
        },
        "copyPaste": {
          "description": "Copies data from one area and pastes it to another.",
          "$ref": "CopyPasteRequest"
        },
        "deleteFilterView": {
          "$ref": "DeleteFilterViewRequest",
          "description": "Deletes a filter view from a sheet."
        },
        "insertDimension": {
          "$ref": "InsertDimensionRequest",
          "description": "Inserts new rows or columns in a sheet."
        },
        "deleteRange": {
          "description": "Deletes a range of cells from a sheet, shifting the remaining cells.",
          "$ref": "DeleteRangeRequest"
        },
        "deleteBanding": {
          "$ref": "DeleteBandingRequest",
          "description": "Removes a banded range"
        },
        "addFilterView": {
          "description": "Adds a filter view.",
          "$ref": "AddFilterViewRequest"
        },
        "setDataValidation": {
          "description": "Sets data validation for one or more cells.",
          "$ref": "SetDataValidationRequest"
        },
        "updateBorders": {
          "description": "Updates the borders in a range of cells.",
          "$ref": "UpdateBordersRequest"
        },
        "deleteConditionalFormatRule": {
          "description": "Deletes an existing conditional format rule.",
          "$ref": "DeleteConditionalFormatRuleRequest"
        },
        "clearBasicFilter": {
          "$ref": "ClearBasicFilterRequest",
          "description": "Clears the basic filter on a sheet."
        },
        "repeatCell": {
          "$ref": "RepeatCellRequest",
          "description": "Repeats a single cell across a range."
        },
        "appendDimension": {
          "description": "Appends dimensions to the end of a sheet.",
          "$ref": "AppendDimensionRequest"
        },
        "updateConditionalFormatRule": {
          "description": "Updates an existing conditional format rule.",
          "$ref": "UpdateConditionalFormatRuleRequest"
        },
        "insertRange": {
          "$ref": "InsertRangeRequest",
          "description": "Inserts new cells in a sheet, shifting the existing cells."
        },
        "moveDimension": {
          "$ref": "MoveDimensionRequest",
          "description": "Moves rows or columns to another location in a sheet."
        },
        "randomizeRange": {
          "$ref": "RandomizeRangeRequest",
          "description": "Randomizes the order of the rows in a range."
        },
        "updateBanding": {
          "description": "Updates a banded range",
          "$ref": "UpdateBandingRequest"
        },
        "addProtectedRange": {
          "description": "Adds a protected range.",
          "$ref": "AddProtectedRangeRequest"
        },
        "deleteNamedRange": {
          "description": "Deletes a named range.",
          "$ref": "DeleteNamedRangeRequest"
        },
        "duplicateSheet": {
          "$ref": "DuplicateSheetRequest",
          "description": "Duplicates a sheet."
        },
        "deleteSheet": {
          "$ref": "DeleteSheetRequest",
          "description": "Deletes a sheet."
        },
        "unmergeCells": {
          "description": "Unmerges merged cells.",
          "$ref": "UnmergeCellsRequest"
        },
        "updateEmbeddedObjectPosition": {
          "$ref": "UpdateEmbeddedObjectPositionRequest",
          "description": "Updates an embedded object's (e.g. chart, image) position."
        },
        "updateDimensionProperties": {
          "$ref": "UpdateDimensionPropertiesRequest",
          "description": "Updates dimensions' properties."
        },
        "pasteData": {
          "description": "Pastes data (HTML or delimited) into a sheet.",
          "$ref": "PasteDataRequest"
        },
        "setBasicFilter": {
          "$ref": "SetBasicFilterRequest",
          "description": "Sets the basic filter on a sheet."
        },
        "addConditionalFormatRule": {
          "description": "Adds a new conditional format rule.",
          "$ref": "AddConditionalFormatRuleRequest"
        }
      }
    },
    "GridRange": {
      "id": "GridRange",
      "description": "A range on a sheet.\nAll indexes are zero-based.\nIndexes are half open, e.g the start index is inclusive\nand the end index is exclusive -- [start_index, end_index).\nMissing indexes indicate the range is unbounded on that side.\n\nFor example, if `\"Sheet1\"` is sheet ID 0, then:\n\n  `Sheet1!A1:A1 == sheet_id: 0,\n                  start_row_index: 0, end_row_index: 1,\n                  start_column_index: 0, end_column_index: 1`\n\n  `Sheet1!A3:B4 == sheet_id: 0,\n                  start_row_index: 2, end_row_index: 4,\n                  start_column_index: 0, end_column_index: 2`\n\n  `Sheet1!A:B == sheet_id: 0,\n                start_column_index: 0, end_column_index: 2`\n\n  `Sheet1!A5:B == sheet_id: 0,\n                 start_row_index: 4,\n                 start_column_index: 0, end_column_index: 2`\n\n  `Sheet1 == sheet_id:0`\n\nThe start index must always be less than or equal to the end index.\nIf the start index equals the end index, then the range is empty.\nEmpty ranges are typically not meaningful and are usually rendered in the\nUI as `#REF!`.",
      "type": "object",
      "properties": {
        "sheetId": {
          "format": "int32",
          "description": "The sheet this range is on.",
          "type": "integer"
        },
        "endColumnIndex": {
          "format": "int32",
          "description": "The end column (exclusive) of the range, or not set if unbounded.",
          "type": "integer"
        },
        "endRowIndex": {
          "format": "int32",
          "description": "The end row (exclusive) of the range, or not set if unbounded.",
          "type": "integer"
        },
        "startRowIndex": {
          "format": "int32",
          "description": "The start row (inclusive) of the range, or not set if unbounded.",
          "type": "integer"
        },
        "startColumnIndex": {
          "format": "int32",
          "description": "The start column (inclusive) of the range, or not set if unbounded.",
          "type": "integer"
        }
      }
    },
    "BasicChartSpec": {
      "description": "The specification for a basic chart.  See BasicChartType for the list\nof charts this supports.",
      "type": "object",
      "properties": {
        "interpolateNulls": {
          "description": "If some values in a series are missing, gaps may appear in the chart (e.g,\nsegments of lines in a line chart will be missing).  To eliminate these\ngaps set this to true.\nApplies to Line, Area, and Combo charts.",
          "type": "boolean"
        },
        "chartType": {
          "description": "The type of the chart.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/barchart\"\u003ebar chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/linechart\"\u003eline chart\u003c/a\u003e.",
            "An \u003ca href=\"/chart/interactive/docs/gallery/areachart\"\u003earea chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/columnchart\"\u003ecolumn chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/scatterchart\"\u003escatter chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/combochart\"\u003ecombo chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/steppedareachart\"\u003estepped area chart\u003c/a\u003e."
          ],
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ]
        },
        "series": {
          "description": "The data this chart is visualizing.",
          "items": {
            "$ref": "BasicChartSeries"
          },
          "type": "array"
        },
        "legendPosition": {
          "description": "The position of the chart legend.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered."
          ],
          "enum": [
            "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND"
          ]
        },
        "domains": {
          "description": "The domain of data this is charting.\nOnly a single domain is supported.",
          "items": {
            "$ref": "BasicChartDomain"
          },
          "type": "array"
        },
        "lineSmoothing": {
          "description": "Gets whether all lines should be rendered smooth or straight by default.\nApplies to Line charts.",
          "type": "boolean"
        },
        "headerCount": {
          "format": "int32",
          "description": "The number of rows or columns in the data that are \"headers\".\nIf not set, Google Sheets will guess how many rows are headers based\non the data.\n\n(Note that BasicChartAxis.title may override the axis title\n inferred from the header values.)",
          "type": "integer"
        },
        "stackedType": {
          "description": "The stacked type for charts that support vertical stacking.\nApplies to Area, Bar, Column, and Stepped Area charts.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Series are not stacked.",
            "Series values are stacked, each value is rendered vertically beginning\nfrom the top of the value below it.",
            "Vertical stacks are stretched to reach the top of the chart, with\nvalues laid out as percentages of each other."
          ],
          "enum": [
            "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
            "NOT_STACKED",
            "STACKED",
            "PERCENT_STACKED"
          ]
        },
        "threeDimensional": {
          "description": "True to make the chart 3D.\nApplies to Bar and Column charts.",
          "type": "boolean"
        },
        "axis": {
          "description": "The axis on the chart.",
          "items": {
            "$ref": "BasicChartAxis"
          },
          "type": "array"
        }
      },
      "id": "BasicChartSpec"
    },
    "SetDataValidationRequest": {
      "id": "SetDataValidationRequest",
      "description": "Sets a data validation rule to every cell in the range.\nTo clear validation in a range, call this with no rule specified.",
      "type": "object",
      "properties": {
        "rule": {
          "$ref": "DataValidationRule",
          "description": "The data validation rule to set on each cell in the range,\nor empty to clear the data validation in the range."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range the data validation rule should apply to."
        }
      }
    },
    "BubbleChartSpec": {
      "id": "BubbleChartSpec",
      "description": "A \u003ca href=\"/chart/interactive/docs/gallery/bubblechart\"\u003ebubble chart\u003c/a\u003e.",
      "type": "object",
      "properties": {
        "bubbleOpacity": {
          "format": "float",
          "description": "The opacity of the bubbles between 0 and 1.0.\n0 is fully transparent and 1 is fully opaque.",
          "type": "number"
        },
        "bubbleSizes": {
          "description": "The data contianing the bubble sizes.  Bubble sizes are used to draw\nthe bubbles at different sizes relative to each other.\nIf specified, group_ids must also be specified.  This field is\noptional.",
          "$ref": "ChartData"
        },
        "domain": {
          "description": "The data containing the bubble x-values.  These values locate the bubbles\nin the chart horizontally.",
          "$ref": "ChartData"
        },
        "bubbleTextStyle": {
          "$ref": "TextFormat",
          "description": "The format of the text inside the bubbles.\nUnderline and Strikethrough are not supported."
        },
        "bubbleBorderColor": {
          "$ref": "Color",
          "description": "The bubble border color."
        },
        "groupIds": {
          "$ref": "ChartData",
          "description": "The data containing the bubble group IDs. All bubbles with the same group\nID will be drawn in the same color. If bubble_sizes is specified then\nthis field must also be specified but may contain blank values.\nThis field is optional."
        },
        "bubbleLabels": {
          "$ref": "ChartData",
          "description": "The data containing the bubble labels.  These do not need to be unique."
        },
        "bubbleMinRadiusSize": {
          "format": "int32",
          "description": "The minimum radius size of the bubbles, in pixels.\nIf specific, the field must be a positive value.",
          "type": "integer"
        },
        "bubbleMaxRadiusSize": {
          "format": "int32",
          "description": "The max radius size of the bubbles, in pixels.\nIf specified, the field must be a positive value.",
          "type": "integer"
        },
        "series": {
          "description": "The data contianing the bubble y-values.  These values locate the bubbles\nin the chart vertically.",
          "$ref": "ChartData"
        },
        "legendPosition": {
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "The legend is rendered inside the chart area."
          ],
          "enum": [
            "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "INSIDE_LEGEND"
          ],
          "description": "Where the legend of the chart should be drawn.",
          "type": "string"
        }
      }
    },
    "CellData": {
      "description": "Data about a specific cell.",
      "type": "object",
      "properties": {
        "effectiveFormat": {
          "$ref": "CellFormat",
          "description": "The effective format being used by the cell.\nThis includes the results of applying any conditional formatting and,\nif the cell contains a formula, the computed number format.\nIf the effective format is the default format, effective format will\nnot be written.\nThis field is read-only."
        },
        "note": {
          "description": "Any note on the cell.",
          "type": "string"
        },
        "userEnteredValue": {
          "description": "The value the user entered in the cell. e.g, `1234`, `'Hello'`, or `=NOW()`\nNote: Dates, Times and DateTimes are represented as doubles in\nserial number format.",
          "$ref": "ExtendedValue"
        },
        "dataValidation": {
          "$ref": "DataValidationRule",
          "description": "A data validation rule on the cell, if any.\n\nWhen writing, the new data validation rule will overwrite any prior rule."
        },
        "effectiveValue": {
[...]
