sudo: false

language: go

go:
        - 1.3
        - 1.4
        - tip

install:
        - go get github.com/golang/lint/golint
        - export PATH=$GOPATH/bin:$PATH
        - go install ./...

script:
        - verify/all.sh
        - go test ./...
