{
 "kind": "discovery#restDescription",
 "etag": "\"l66ggWbucbkBw9Lpos72oziyefE/ZrZBeDfQYPqAxFURJt0IhCOLUHQ\"",
 "discoveryVersion": "v1",
 "id": "container:v1beta1",
 "name": "container",
 "version": "v1beta1",
 "revision": "20141103",
 "title": "Google Container Engine API",
 "description": "The Google Container Engine API is used for building and managing container based applications, powered by the open source Kubernetes technology.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/container/v1beta1/projects/",
 "basePath": "/container/v1beta1/projects/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "container/v1beta1/projects/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    }
   }
  }
 },
 "schemas": {
  "Cluster": {
   "id": "Cluster",
   "type": "object",
   "externalTypeName": "container.v1beta1.Cluster",
   "properties": {
    "clusterApiVersion": {
     "type": "string",
     "description": "The API version of the Kubernetes master and kubelets running in this cluster. Allowed value is 0.4.2, or leave blank to pick up the latest stable release."
    },
    "containerIpv4Cidr": {
     "type": "string",
     "description": "[Output only] The IP addresses of the container pods in this cluster, in  CIDR notation (e.g. 1.2.3.4/29)."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output only] The time the cluster was created, in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this cluster."
    },
    "endpoint": {
     "type": "string",
     "description": "[Output only] The IP address of this cluster's Kubernetes master. The endpoint can be accessed from the internet at https://username:password@endpoint/.\n\nSee the masterAuth property of this resource for username and password information."
    },
    "masterAuth": {
     "$ref": "MasterAuth",
     "description": "The HTTP basic authentication information for accessing the master. Because the master endpoint is open to the internet, you should create a strong password."
    },
    "name": {
     "type": "string",
     "description": "The name of this cluster. The name must be unique within this project and zone, and can be up to 40 characters with the following restrictions:  \n- Lowercase letters, numbers, and hyphens only.\n- Must start with a letter.\n- Must end with a number or a letter."
    },
    "nodeConfig": {
     "$ref": "NodeConfig",
     "description": "The machine type and image to use for all nodes in this cluster. See the descriptions of the child properties of nodeConfig."
    },
    "nodeRoutingPrefixSize": {
     "type": "integer",
     "description": "[Output only] The size of the address space on each node for hosting containers.",
     "format": "int32"
    },
    "numNodes": {
     "type": "integer",
     "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine resource quota is sufficient for this number of instances plus one (to include the master). You must also have available firewall and routes quota.",
     "format": "int32"
    },
    "servicesIpv4Cidr": {
     "type": "string",
     "description": "[Output only] The IP addresses of the Kubernetes services in this cluster, in  CIDR notation (e.g. 1.2.3.4/29). Service addresses are always in the 10.0.0.0/16 range."
    },
    "status": {
     "type": "string",
     "description": "[Output only] The current status of this cluster.",
     "enum": [
      "error",
      "provisioning",
      "running",
      "stopping"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "statusMessage": {
     "type": "string",
     "description": "[Output only] Additional information about the current status of this cluster, if available."
    },
    "zone": {
     "type": "string",
     "description": "[Output only] The name of the Google Compute Engine zone in which the cluster resides."
    }
   }
  },
  "CreateClusterRequest": {
   "id": "CreateClusterRequest",
   "type": "object",
   "externalTypeName": "container.v1beta1.CreateClusterRequest",
   "properties": {
    "cluster": {
     "$ref": "Cluster",
     "description": "A cluster resource."
    }
   }
  },
  "ListAggregatedClustersResponse": {
   "id": "ListAggregatedClustersResponse",
   "type": "object",
   "externalTypeName": "container.v1beta1.ListAggregatedClustersResponse",
   "properties": {
    "clusters": {
     "type": "array",
     "description": "A list of clusters in the project, across all zones.",
     "items": {
      "$ref": "Cluster"
     }
    }
   }
  },
  "ListAggregatedOperationsResponse": {
   "id": "ListAggregatedOperationsResponse",
   "type": "object",
   "externalTypeName": "container.v1beta1.ListAggregatedOperationsResponse",
   "properties": {
    "operations": {
     "type": "array",
     "description": "A list of operations in the project, across all zones.",
     "items": {
      "$ref": "Operation"
     }
    }
   }
  },
  "ListClustersResponse": {
   "id": "ListClustersResponse",
   "type": "object",
   "externalTypeName": "container.v1beta1.ListClustersResponse",
   "properties": {
    "clusters": {
     "type": "array",
     "description": "A list of clusters in the project in the specified zone.",
     "items": {
      "$ref": "Cluster"
     }
    }
   }
  },
  "ListOperationsResponse": {
   "id": "ListOperationsResponse",
   "type": "object",
   "externalTypeName": "container.v1beta1.ListOperationsResponse",
   "properties": {
    "operations": {
     "type": "array",
     "description": "A list of operations in the project in the specified zone.",
     "items": {
      "$ref": "Operation"
     }
    }
   }
  },
  "MasterAuth": {
   "id": "MasterAuth",
   "type": "object",
   "externalTypeName": "container.v1beta1.MasterAuth",
   "properties": {
    "password": {
     "type": "string",
     "description": "The password to use when accessing the Kubernetes master endpoint."
    },
    "user": {
     "type": "string",
     "description": "The username to use when accessing the Kubernetes master endpoint."
    }
   }
  },
  "NodeConfig": {
   "id": "NodeConfig",
   "type": "object",
   "externalTypeName": "container.v1beta1.NodeConfig",
   "properties": {
    "machineType": {
     "type": "string",
     "description": "The name of a Google Compute Engine machine type (e.g. n1-standard-1).\n\nIf unspecified, the default machine type is n1-standard-1."
    },
    "sourceImage": {
     "type": "string",
     "description": "The fully-specified name of a Google Compute Engine image. For example: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/backports-debian-7-wheezy-vYYYYMMDD (where YYYMMDD is the version date).\n\nIf specifying an image, you are responsible for ensuring its compatibility with the Debian 7 backports image. We recommend leaving this field blank to accept the default backports-debian-7-wheezy value."
    }
   }
  },
  "Operation": {
   "id": "Operation",
   "type": "object",
   "description": "Defines the operation resource. All fields are output only.",
   "externalTypeName": "container.v1beta1.Operation",
   "properties": {
    "errorMessage": {
     "type": "string",
     "description": "If an error has occurred, a textual description of the error."
    },
    "name": {
     "type": "string",
     "description": "The server-assigned ID for this operation. If the operation is fulfilled upfront, it may not have a resource name."
    },
    "operationType": {
     "type": "string",
     "description": "The operation type.",
     "enum": [
      "createCluster",
      "deleteCluster"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "status": {
     "type": "string",
     "description": "The current status of the operation.",
     "enum": [
      "done",
      "pending",
      "running"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "target": {
     "type": "string",
     "description": "[Optional] The URL of the cluster resource that this operation is associated with."
    },
    "zone": {
     "type": "string",
     "description": "The name of the Google Compute Engine zone in which the operation is taking place."
    }
   }
  }
 },
 "resources": {
  "projects": {
   "resources": {
    "clusters": {
     "methods": {
      "list": {
       "id": "container.projects.clusters.list",
       "path": "{projectId}/clusters",
       "httpMethod": "GET",
       "description": "Lists all clusters owned by a project across all zones.",
       "parameters": {
        "projectId": {
         "type": "string",
         "description": "The Google Developers Console project ID or  project number.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectId"
       ],
       "response": {
        "$ref": "ListAggregatedClustersResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform"
       ]
      }
     }
    },
    "operations": {
     "methods": {
      "list": {
       "id": "container.projects.operations.list",
       "path": "{projectId}/operations",
       "httpMethod": "GET",
       "description": "Lists all operations in a project, across all zones.",
       "parameters": {
        "projectId": {
         "type": "string",
         "description": "The Google Developers Console project ID or  project number.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectId"
       ],
       "response": {
        "$ref": "ListAggregatedOperationsResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform"
       ]
      }
     }
    },
    "zones": {
     "resources": {
      "clusters": {
       "methods": {
        "create": {
         "id": "container.projects.zones.clusters.create",
         "path": "{projectId}/zones/{zoneId}/clusters",
         "httpMethod": "POST",
         "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances, plus a Kubernetes master instance.\n\nThe cluster is created in the project's default network.\n\nA firewall is added that allows traffic into port 443 on the master, which enables HTTPS. A firewall and a route is added for each node to allow the containers on that node to communicate with all other instances in the cluster.\n\nFinally, a route named k8s-iproute-10-xx-0-0 is created to track that the cluster's 10.xx.0.0/16 CIDR has been assigned.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console project ID or  project number.",
           "required": true,
           "location": "path"
          },
          "zoneId": {
           "type": "string",
           "description": "The name of the Google Compute Engine zone in which the cluster resides.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zoneId"
         ],
         "request": {
          "$ref": "CreateClusterRequest"
         },
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "delete": {
         "id": "container.projects.zones.clusters.delete",
         "path": "{projectId}/zones/{zoneId}/clusters/{clusterId}",
         "httpMethod": "DELETE",
         "description": "Deletes the cluster, including the Kubernetes master and all worker nodes.\n\nFirewalls and routes that were configured at cluster creation are also deleted.",
         "parameters": {
          "clusterId": {
           "type": "string",
           "description": "The name of the cluster to delete.",
           "required": true,
           "location": "path"
          },
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console project ID or  project number.",
           "required": true,
           "location": "path"
          },
          "zoneId": {
           "type": "string",
           "description": "The name of the Google Compute Engine zone in which the cluster resides.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zoneId",
          "clusterId"
         ],
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "get": {
         "id": "container.projects.zones.clusters.get",
         "path": "{projectId}/zones/{zoneId}/clusters/{clusterId}",
         "httpMethod": "GET",
         "description": "Gets a specific cluster.",
         "parameters": {
          "clusterId": {
           "type": "string",
           "description": "The name of the cluster to retrieve.",
           "required": true,
           "location": "path"
          },
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console project ID or  project number.",
           "required": true,
           "location": "path"
          },
          "zoneId": {
           "type": "string",
           "description": "The name of the Google Compute Engine zone in which the cluster resides.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zoneId",
          "clusterId"
         ],
         "response": {
          "$ref": "Cluster"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "list": {
         "id": "container.projects.zones.clusters.list",
         "path": "{projectId}/zones/{zoneId}/clusters",
         "httpMethod": "GET",
         "description": "Lists all clusters owned by a project in the specified zone.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console project ID or  project number.",
           "required": true,
           "location": "path"
          },
          "zoneId": {
           "type": "string",
           "description": "The name of the Google Compute Engine zone in which the cluster resides.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zoneId"
         ],
         "response": {
          "$ref": "ListClustersResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        }
       }
      },
      "operations": {
       "methods": {
        "get": {
         "id": "container.projects.zones.operations.get",
         "path": "{projectId}/zones/{zoneId}/operations/{operationId}",
         "httpMethod": "GET",
         "description": "Gets the specified operation.",
         "parameters": {
          "operationId": {
           "type": "string",
           "description": "The server-assigned name of the operation.",
           "required": true,
           "location": "path"
          },
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console project ID or  project number.",
           "required": true,
           "location": "path"
          },
          "zoneId": {
           "type": "string",
           "description": "The name of the Google Compute Engine zone in which the operation resides. This is always the same zone as the cluster with which the operation is associated.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zoneId",
          "operationId"
         ],
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "list": {
         "id": "container.projects.zones.operations.list",
         "path": "{projectId}/zones/{zoneId}/operations",
         "httpMethod": "GET",
         "description": "Lists all operations in a project in a specific zone.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console project ID or  project number.",
           "required": true,
           "location": "path"
          },
          "zoneId": {
           "type": "string",
           "description": "The name of the Google Compute Engine zone to return operations for.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zoneId"
         ],
         "response": {
          "$ref": "ListOperationsResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        }
       }
      }
     }
    }
   }
  }
 }
}
