{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "basePath": "/content/v2.1/",
  "baseUrl": "https://www.googleapis.com/content/v2.1/",
  "batchPath": "batch/content/v2.1",
  "canonicalName": "Shopping Content",
  "description": "Manages product items, inventory, and Merchant Center accounts for Google Shopping.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/shopping-content",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/jsas8bLNaSH3hHj4JQAHY8a_-DI\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "content:v2.1",
  "kind": "discovery#restDescription",
  "name": "content",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "accounts": {
      "methods": {
        "authinfo": {
          "description": "Returns information about the authenticated user.",
          "httpMethod": "GET",
          "id": "content.accounts.authinfo",
          "path": "accounts/authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "claimwebsite": {
          "description": "Claims the website of a Merchant Center sub-account.",
          "httpMethod": "POST",
          "id": "content.accounts.claimwebsite",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account whose website is claimed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "overwrite": {
              "description": "Only available to selected merchants. When set to True, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "httpMethod": "POST",
          "id": "content.accounts.custombatch",
          "path": "accounts/batch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a Merchant Center sub-account.",
          "httpMethod": "DELETE",
          "id": "content.accounts.delete",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "force": {
              "default": "false",
              "description": "Flag to delete sub-accounts with products. The default value is false.",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves a Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.accounts.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Creates a Merchant Center sub-account.",
          "httpMethod": "POST",
          "id": "content.accounts.insert",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "link": {
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "httpMethod": "POST",
          "id": "content.accounts.link",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account that should be linked.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/accounts/{accountId}/link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.accounts.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/accounts",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listlinks": {
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.accounts.listlinks",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to list links.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of links to return in the response, used for pagination.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/accounts/{accountId}/listlinks",
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "description": "Updates a Merchant Center account.",
          "httpMethod": "PUT",
          "id": "content.accounts.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/accounts/{accountId}",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "custombatch": {
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "httpMethod": "POST",
          "id": "content.accountstatuses.custombatch",
          "path": "accountstatuses/batch",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "httpMethod": "GET",
          "id": "content.accountstatuses.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/accountstatuses/{accountId}",
          "response": {
            "$ref": "AccountStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.accountstatuses.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/accountstatuses",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "accounttax": {
      "methods": {
        "custombatch": {
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "httpMethod": "POST",
          "id": "content.accounttax.custombatch",
          "path": "accounttax/batch",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the tax settings of the account.",
          "httpMethod": "GET",
          "id": "content.accounttax.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.accounttax.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/accounttax",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "description": "Updates the tax settings of the account.",
          "httpMethod": "PUT",
          "id": "content.accounttax.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/accounttax/{accountId}",
          "request": {
            "$ref": "AccountTax"
          },
          "response": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "datafeeds": {
      "methods": {
        "custombatch": {
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "httpMethod": "POST",
          "id": "content.datafeeds.custombatch",
          "path": "datafeeds/batch",
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "httpMethod": "DELETE",
          "id": "content.datafeeds.delete",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "fetchnow": {
          "description": "Invokes a fetch for the datafeed in your Merchant Center account.",
          "httpMethod": "POST",
          "id": "content.datafeeds.fetchnow",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed to be fetched.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.datafeeds.get",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "httpMethod": "POST",
          "id": "content.datafeeds.insert",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds",
          "request": {
            "$ref": "Datafeed"
          },
          "response": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.datafeeds.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds",
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "description": "Updates a datafeed configuration of your Merchant Center account.",
          "httpMethod": "PUT",
          "id": "content.datafeeds.update",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "request": {
            "$ref": "Datafeed"
          },
          "response": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "custombatch": {
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "httpMethod": "POST",
          "id": "content.datafeedstatuses.custombatch",
          "path": "datafeedstatuses/batch",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.datafeedstatuses.get",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "country": {
              "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeedstatuses/{datafeedId}",
          "response": {
            "$ref": "DatafeedStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.datafeedstatuses.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeedstatuses",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "liasettings": {
      "methods": {
        "custombatch": {
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "httpMethod": "POST",
          "id": "content.liasettings.custombatch",
          "path": "liasettings/batch",
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the LIA settings of the account.",
          "httpMethod": "GET",
          "id": "content.liasettings.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}",
          "response": {
            "$ref": "LiaSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "getaccessiblegmbaccounts": {
          "description": "Retrieves the list of accessible Google My Business accounts.",
          "httpMethod": "GET",
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.liasettings.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings",
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listposdataproviders": {
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "httpMethod": "GET",
          "id": "content.liasettings.listposdataproviders",
          "path": "liasettings/posdataproviders",
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestgmbaccess": {
          "description": "Requests access to a specified Google My Business account.",
          "httpMethod": "POST",
          "id": "content.liasettings.requestgmbaccess",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "gmbEmail"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which GMB access is requested.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "gmbEmail": {
              "description": "The email of the Google My Business account.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestinventoryverification": {
          "description": "Requests inventory validation for the specified country.",
          "httpMethod": "POST",
          "id": "content.liasettings.requestinventoryverification",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "country": {
              "description": "The country for which inventory validation is requested.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setinventoryverificationcontact": {
          "description": "Sets the inventory verification contract for the specified country.",
          "httpMethod": "POST",
          "id": "content.liasettings.setinventoryverificationcontact",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "contactEmail",
            "contactName",
            "country",
            "language"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "contactEmail": {
              "description": "The email of the inventory verification contact.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "contactName": {
              "description": "The name of the inventory verification contact.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "country": {
              "description": "The country for which inventory verification is requested.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The language for which inventory verification is requested.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setposdataprovider": {
          "description": "Sets the POS data provider for the specified country.",
          "httpMethod": "POST",
          "id": "content.liasettings.setposdataprovider",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "country": {
              "description": "The country for which the POS data provider is selected.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "posDataProviderId": {
              "description": "The ID of POS data provider.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "posExternalAccountId": {
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "description": "Updates the LIA settings of the account.",
          "httpMethod": "PUT",
          "id": "content.liasettings.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}",
          "request": {
            "$ref": "LiaSettings"
          },
          "response": {
            "$ref": "LiaSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orderinvoices": {
      "methods": {
        "createchargeinvoice": {
          "description": "Creates a charge invoice for a shipment group, and triggers a charge capture for orderinvoice enabled orders.",
          "httpMethod": "POST",
          "id": "content.orderinvoices.createchargeinvoice",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "request": {
            "$ref": "OrderinvoicesCreateChargeInvoiceRequest"
          },
          "response": {
            "$ref": "OrderinvoicesCreateChargeInvoiceResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createrefundinvoice": {
          "description": "Creates a refund invoice for one or more shipment groups, and triggers a refund for orderinvoice enabled orders. This can only be used for line items that have previously been charged using createChargeInvoice. All amounts (except for the summary) are incremental with respect to the previous invoice.",
          "httpMethod": "POST",
          "id": "content.orderinvoices.createrefundinvoice",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "request": {
            "$ref": "OrderinvoicesCreateRefundInvoiceRequest"
          },
          "response": {
            "$ref": "OrderinvoicesCreateRefundInvoiceResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orderreports": {
      "methods": {
        "listdisbursements": {
          "description": "Retrieves a report for disbursements from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.orderreports.listdisbursements",
          "parameterOrder": [
            "merchantId",
            "disbursementStartDate"
          ],
          "parameters": {
            "disbursementEndDate": {
              "description": "The last date which disbursements occurred. In ISO 8601 format. Default: current date.",
              "location": "query",
              "type": "string"
            },
            "disbursementStartDate": {
              "description": "The first date which disbursements occurred. In ISO 8601 format.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/orderreports/disbursements",
          "response": {
            "$ref": "OrderreportsListDisbursementsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listtransactions": {
          "description": "Retrieves a list of transactions for a disbursement from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.orderreports.listtransactions",
          "parameterOrder": [
            "merchantId",
            "disbursementId",
            "transactionStartDate"
          ],
          "parameters": {
            "disbursementId": {
              "description": "The Google-provided ID of the disbursement (found in Wallet).",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "transactionEndDate": {
              "description": "The last date in which transaction occurred. In ISO 8601 format. Default: current date.",
              "location": "query",
              "type": "string"
            },
            "transactionStartDate": {
              "description": "The first date in which transaction occurred. In ISO 8601 format.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "response": {
            "$ref": "OrderreportsListTransactionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orderreturns": {
      "methods": {
        "get": {
          "description": "Retrieves an order return from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.orderreturns.get",
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "returnId": {
              "description": "Merchant order return ID generated by Google.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orderreturns/{returnId}",
          "response": {
            "$ref": "MerchantOrderReturn"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists order returns in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.orderreturns.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "createdEndDate": {
              "description": "Obtains order returns created before this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "createdStartDate": {
              "description": "Obtains order returns created after this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderBy": {
              "description": "Return the results in the specified order.",
              "enum": [
                "returnCreationTimeAsc",
                "returnCreationTimeDesc"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/orderreturns",
          "response": {
            "$ref": "OrderreturnsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orders": {
      "methods": {
        "acknowledge": {
          "description": "Marks an order as acknowledged.",
          "httpMethod": "POST",
          "id": "content.orders.acknowledge",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/acknowledge",
          "request": {
            "$ref": "OrdersAcknowledgeRequest"
          },
          "response": {
            "$ref": "OrdersAcknowledgeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "advancetestorder": {
          "description": "Sandbox only. Moves a test order from state \"inProgress\" to state \"pendingShipment\".",
          "httpMethod": "POST",
          "id": "content.orders.advancetestorder",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the test order to modify.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/testorders/{orderId}/advance",
          "response": {
            "$ref": "OrdersAdvanceTestOrderResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "cancel": {
          "description": "Cancels all line items in an order, making a full refund.",
          "httpMethod": "POST",
          "id": "content.orders.cancel",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order to cancel.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/cancel",
          "request": {
            "$ref": "OrdersCancelRequest"
          },
          "response": {
            "$ref": "OrdersCancelResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "cancellineitem": {
          "description": "Cancels a line item, making a full refund.",
          "httpMethod": "POST",
          "id": "content.orders.cancellineitem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/cancelLineItem",
          "request": {
            "$ref": "OrdersCancelLineItemRequest"
          },
          "response": {
            "$ref": "OrdersCancelLineItemResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "canceltestorderbycustomer": {
          "description": "Sandbox only. Cancels a test order for customer-initiated cancellation.",
          "httpMethod": "POST",
          "id": "content.orders.canceltestorderbycustomer",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the test order to cancel.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/testorders/{orderId}/cancelByCustomer",
          "request": {
            "$ref": "OrdersCancelTestOrderByCustomerRequest"
          },
          "response": {
            "$ref": "OrdersCancelTestOrderByCustomerResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createtestorder": {
          "description": "Sandbox only. Creates a test order.",
          "httpMethod": "POST",
          "id": "content.orders.createtestorder",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/testorders",
          "request": {
            "$ref": "OrdersCreateTestOrderRequest"
          },
          "response": {
            "$ref": "OrdersCreateTestOrderResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createtestreturn": {
          "description": "Sandbox only. Creates a test return.",
          "httpMethod": "POST",
          "id": "content.orders.createtestreturn",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/testreturn",
          "request": {
            "$ref": "OrdersCreateTestReturnRequest"
          },
          "response": {
            "$ref": "OrdersCreateTestReturnResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves an order from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.orders.get",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}",
          "response": {
            "$ref": "Order"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "getbymerchantorderid": {
          "description": "Retrieves an order using merchant order ID.",
          "httpMethod": "GET",
          "id": "content.orders.getbymerchantorderid",
          "parameterOrder": [
            "merchantId",
            "merchantOrderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantOrderId": {
              "description": "The merchant order ID to be looked for.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "response": {
            "$ref": "OrdersGetByMerchantOrderIdResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "gettestordertemplate": {
          "description": "Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox.",
          "httpMethod": "GET",
          "id": "content.orders.gettestordertemplate",
          "parameterOrder": [
            "merchantId",
            "templateName"
          ],
          "parameters": {
            "country": {
              "description": "The country of the template to retrieve. Defaults to US.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "templateName": {
              "description": "The name of the template to retrieve.",
              "enum": [
                "template1",
                "template1a",
                "template1b",
                "template2",
                "template3"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/testordertemplates/{templateName}",
          "response": {
            "$ref": "OrdersGetTestOrderTemplateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "instorerefundlineitem": {
          "description": "Deprecated. Notifies that item return and refund was handled directly by merchant outside of Google payments processing (e.g. cash refund done in store).\nNote: We recommend calling the returnrefundlineitem method to refund in-store returns. We will issue the refund directly to the customer. This helps to prevent possible differences arising between merchant and Google transaction records. We also recommend having the point of sale system communicate with Google to ensure that customers do not receive a double refund by first refunding via Google then via an in-store return.",
          "httpMethod": "POST",
          "id": "content.orders.instorerefundlineitem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "request": {
            "$ref": "OrdersInStoreRefundLineItemRequest"
          },
          "response": {
            "$ref": "OrdersInStoreRefundLineItemResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the orders in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.orders.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "acknowledged": {
              "description": "Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.\nWe recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "description": "The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderBy": {
              "description": "Order results by placement date in descending or ascending order.\n\nAcceptable values are:\n- placedDateAsc\n- placedDateDesc",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "placedDateEnd": {
              "description": "Obtains orders placed before this date (exclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "placedDateStart": {
              "description": "Obtains orders placed after this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "statuses": {
              "description": "Obtains orders that match any of the specified statuses. Please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped, partiallyDelivered, delivered, partiallyReturned, returned, and canceled.",
              "enum": [
                "active",
                "canceled",
                "completed",
                "delivered",
                "inProgress",
                "partiallyDelivered",
                "partiallyReturned",
                "partiallyShipped",
                "pendingShipment",
                "returned",
                "shipped"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders",
          "response": {
            "$ref": "OrdersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "rejectreturnlineitem": {
          "description": "Rejects return on an line item.",
          "httpMethod": "POST",
          "id": "content.orders.rejectreturnlineitem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "request": {
            "$ref": "OrdersRejectReturnLineItemRequest"
          },
          "response": {
            "$ref": "OrdersRejectReturnLineItemResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "returnrefundlineitem": {
          "description": "Returns and refunds a line item. Note that this method can only be called on fully shipped orders.",
          "httpMethod": "POST",
          "id": "content.orders.returnrefundlineitem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/returnRefundLineItem",
          "request": {
            "$ref": "OrdersReturnRefundLineItemRequest"
          },
          "response": {
            "$ref": "OrdersReturnRefundLineItemResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setlineitemmetadata": {
          "description": "Sets (or overrides if it already exists) merchant provided annotations in the form of key-value pairs. A common use case would be to supply us with additional structured information about a line item that cannot be provided via other methods. Submitted key-value pairs can be retrieved as part of the orders resource.",
          "httpMethod": "POST",
          "id": "content.orders.setlineitemmetadata",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/setLineItemMetadata",
          "request": {
            "$ref": "OrdersSetLineItemMetadataRequest"
          },
          "response": {
            "$ref": "OrdersSetLineItemMetadataResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "shiplineitems": {
          "description": "Marks line item(s) as shipped.",
          "httpMethod": "POST",
          "id": "content.orders.shiplineitems",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/shipLineItems",
          "request": {
            "$ref": "OrdersShipLineItemsRequest"
          },
          "response": {
            "$ref": "OrdersShipLineItemsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatelineitemshippingdetails": {
          "description": "Updates ship by and delivery by dates for a line item.",
          "httpMethod": "POST",
          "id": "content.orders.updatelineitemshippingdetails",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "request": {
            "$ref": "OrdersUpdateLineItemShippingDetailsRequest"
          },
          "response": {
            "$ref": "OrdersUpdateLineItemShippingDetailsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatemerchantorderid": {
          "description": "Updates the merchant order ID for a given order.",
          "httpMethod": "POST",
          "id": "content.orders.updatemerchantorderid",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/updateMerchantOrderId",
          "request": {
            "$ref": "OrdersUpdateMerchantOrderIdRequest"
          },
          "response": {
            "$ref": "OrdersUpdateMerchantOrderIdResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updateshipment": {
          "description": "Updates a shipment's status, carrier, and/or tracking ID.",
          "httpMethod": "POST",
          "id": "content.orders.updateshipment",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/updateShipment",
          "request": {
            "$ref": "OrdersUpdateShipmentRequest"
          },
          "response": {
            "$ref": "OrdersUpdateShipmentResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "pos": {
      "methods": {
        "custombatch": {
          "description": "Batches multiple POS-related calls in a single request.",
          "httpMethod": "POST",
          "id": "content.pos.custombatch",
          "path": "pos/batch",
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a store for the given merchant.",
          "httpMethod": "DELETE",
          "id": "content.pos.delete",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "storeCode": {
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves information about the given store.",
          "httpMethod": "GET",
          "id": "content.pos.get",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "storeCode": {
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "response": {
            "$ref": "PosStore"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Creates a store for the given merchant.",
          "httpMethod": "POST",
          "id": "content.pos.insert",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "request": {
            "$ref": "PosStore"
          },
          "response": {
            "$ref": "PosStore"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "inventory": {
          "description": "Submit inventory for the given merchant.",
          "httpMethod": "POST",
          "id": "content.pos.inventory",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the stores of the target merchant.",
          "httpMethod": "GET",
          "id": "content.pos.list",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "sale": {
          "description": "Submit a sale event for the given merchant.",
          "httpMethod": "POST",
          "id": "content.pos.sale",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "request": {
            "$ref": "PosSaleRequest"
          },
          "response": {
            "$ref": "PosSaleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "products": {
      "methods": {
        "custombatch": {
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "httpMethod": "POST",
          "id": "content.products.custombatch",
          "path": "products/batch",
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a product from your Merchant Center account.",
          "httpMethod": "DELETE",
          "id": "content.products.delete",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "feedId": {
              "description": "The Content API Supplemental Feed ID.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/products/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves a product from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.products.get",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/products/{productId}",
          "response": {
            "$ref": "Product"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "httpMethod": "POST",
          "id": "content.products.insert",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "feedId": {
              "description": "The Content API Supplemental Feed ID.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/products",
          "request": {
            "$ref": "Product"
          },
          "response": {
            "$ref": "Product"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the products in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.products.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/products",
          "response": {
            "$ref": "ProductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "productstatuses": {
      "methods": {
        "custombatch": {
          "description": "Gets the statuses of multiple products in a single request.",
          "httpMethod": "POST",
          "id": "content.productstatuses.custombatch",
          "path": "productstatuses/batch",
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Gets the status of a product from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.productstatuses.get",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/productstatuses/{productId}",
          "response": {
            "$ref": "ProductStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.productstatuses.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of product statuses to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "{merchantId}/productstatuses",
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "regionalinventory": {
      "methods": {
        "custombatch": {
          "description": "Updates regional inventory for multiple products or regions in a single request.",
          "httpMethod": "POST",
          "id": "content.regionalinventory.custombatch",
          "path": "regionalinventory/batch",
          "request": {
            "$ref": "RegionalinventoryCustomBatchRequest"
          },
          "response": {
            "$ref": "RegionalinventoryCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Update the regional inventory of a product in your Merchant Center account. If a regional inventory with the same region ID already exists, this method updates that entry.",
          "httpMethod": "POST",
          "id": "content.regionalinventory.insert",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The REST ID of the product for which to update the regional inventory.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/products/{productId}/regionalinventory",
          "request": {
            "$ref": "RegionalInventory"
          },
          "response": {
            "$ref": "RegionalInventory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "returnaddress": {
      "methods": {
        "custombatch": {
          "description": "Batches multiple return address related calls in a single request.",
          "httpMethod": "POST",
          "id": "content.returnaddress.custombatch",
          "path": "returnaddress/batch",
          "request": {
            "$ref": "ReturnaddressCustomBatchRequest"
          },
          "response": {
            "$ref": "ReturnaddressCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a return address for the given Merchant Center account.",
          "httpMethod": "DELETE",
          "id": "content.returnaddress.delete",
          "parameterOrder": [
            "merchantId",
            "returnAddressId"
          ],
[...]
