{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/monitoring": {
          "description": "View and write monitoring data for all of your Google and third-party Cloud and API projects"
        },
        "https://www.googleapis.com/auth/monitoring.read": {
          "description": "View monitoring data for all of your Google Cloud and third-party projects"
        },
        "https://www.googleapis.com/auth/monitoring.write": {
          "description": "Publish metric data to your Google Cloud projects"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://monitoring.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Monitoring",
  "description": "Manages your Stackdriver Monitoring data and configurations. Most projects must be associated with a Stackdriver account, with a few exceptions as noted on the individual method pages.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/monitoring/api/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "monitoring:v3",
  "kind": "discovery#restDescription",
  "name": "monitoring",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "pp": {
      "default": "true",
      "description": "Pretty-print response.",
      "location": "query",
      "type": "boolean"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "collectdTimeSeries": {
          "methods": {
            "create": {
              "description": "Stackdriver Monitoring Agent only: Creates a new time series.\u003caside class=\"caution\"\u003eThis method is only for use by the Stackdriver Monitoring Agent. Use projects.timeSeries.create instead.\u003c/aside\u003e",
              "flatPath": "v3/projects/{projectsId}/collectdTimeSeries",
              "httpMethod": "POST",
              "id": "monitoring.projects.collectdTimeSeries.create",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The project in which to create the time series. The format is \"projects/PROJECT_ID_OR_NUMBER\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}/collectdTimeSeries",
              "request": {
                "$ref": "CreateCollectdTimeSeriesRequest"
              },
              "response": {
                "$ref": "CreateCollectdTimeSeriesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ]
            }
          }
        },
        "groups": {
          "methods": {
            "create": {
              "description": "Creates a new group.",
              "flatPath": "v3/projects/{projectsId}/groups",
              "httpMethod": "POST",
              "id": "monitoring.projects.groups.create",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The project in which to create the group. The format is \"projects/{project_id_or_number}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "validateOnly": {
                  "description": "If true, validate this request but do not create the group.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v3/{+name}/groups",
              "request": {
                "$ref": "Group"
              },
              "response": {
                "$ref": "Group"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring"
              ]
            },
            "delete": {
              "description": "Deletes an existing group.",
              "flatPath": "v3/projects/{projectsId}/groups/{groupsId}",
              "httpMethod": "DELETE",
              "id": "monitoring.projects.groups.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The group to delete. The format is \"projects/{project_id_or_number}/groups/{group_id}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring"
              ]
            },
            "get": {
              "description": "Gets a single group.",
              "flatPath": "v3/projects/{projectsId}/groups/{groupsId}",
              "httpMethod": "GET",
              "id": "monitoring.projects.groups.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The group to retrieve. The format is \"projects/{project_id_or_number}/groups/{group_id}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}",
              "response": {
                "$ref": "Group"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ]
            },
            "list": {
              "description": "Lists the existing groups.",
              "flatPath": "v3/projects/{projectsId}/groups",
              "httpMethod": "GET",
              "id": "monitoring.projects.groups.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "ancestorsOfGroup": {
                  "description": "A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns groups that are ancestors of the specified group. The groups are returned in order, starting with the immediate parent and ending with the most distant ancestor. If the specified group has no immediate parent, the results are empty.",
                  "location": "query",
                  "type": "string"
                },
                "childrenOfGroup": {
                  "description": "A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns groups whose parentName field contains the group name. If no groups have this parent, the results are empty.",
                  "location": "query",
                  "type": "string"
                },
                "descendantsOfGroup": {
                  "description": "A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns the descendants of the specified group. This is a superset of the results returned by the childrenOfGroup filter, and includes children-of-children, and so forth.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The project whose groups are to be listed. The format is \"projects/{project_id_or_number}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "A positive number that is the maximum number of results to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v3/{+name}/groups",
              "response": {
                "$ref": "ListGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ]
            },
            "update": {
              "description": "Updates an existing group. You can change any group attributes except name.",
              "flatPath": "v3/projects/{projectsId}/groups/{groupsId}",
              "httpMethod": "PUT",
              "id": "monitoring.projects.groups.update",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "validateOnly": {
                  "description": "If true, validate this request but do not update the existing group.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v3/{+name}",
              "request": {
                "$ref": "Group"
              },
              "response": {
                "$ref": "Group"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring"
              ]
            }
          },
          "resources": {
            "members": {
              "methods": {
                "list": {
                  "description": "Lists the monitored resources that are members of a group.",
                  "flatPath": "v3/projects/{projectsId}/groups/{groupsId}/members",
                  "httpMethod": "GET",
                  "id": "monitoring.projects.groups.members.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "An optional list filter describing the members to be returned. The filter may reference the type, labels, and metadata of monitored resources that comprise the group. For example, to return only resources representing Compute Engine VM instances, use this filter:\nresource.type = \"gce_instance\"\n",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime": {
                      "description": "Required. The end of the time interval.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.startTime": {
                      "description": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The group whose members are listed. The format is \"projects/{project_id_or_number}/groups/{group_id}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/groups/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "A positive number that is the maximum number of results to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v3/{+name}/members",
                  "response": {
                    "$ref": "ListGroupMembersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/monitoring",
                    "https://www.googleapis.com/auth/monitoring.read"
                  ]
                }
              }
            }
          }
        },
        "metricDescriptors": {
          "methods": {
            "create": {
              "description": "Creates a new metric descriptor. User-created metric descriptors define custom metrics.",
              "flatPath": "v3/projects/{projectsId}/metricDescriptors",
              "httpMethod": "POST",
              "id": "monitoring.projects.metricDescriptors.create",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}/metricDescriptors",
              "request": {
                "$ref": "MetricDescriptor"
              },
              "response": {
                "$ref": "MetricDescriptor"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ]
            },
            "delete": {
              "description": "Deletes a metric descriptor. Only user-created custom metrics can be deleted.",
              "flatPath": "v3/projects/{projectsId}/metricDescriptors/{metricDescriptorsId}",
              "httpMethod": "DELETE",
              "id": "monitoring.projects.metricDescriptors.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The metric descriptor on which to execute the request. The format is \"projects/{project_id_or_number}/metricDescriptors/{metric_id}\". An example of {metric_id} is: \"custom.googleapis.com/my_test_metric\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+/metricDescriptors/.+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring"
              ]
            },
            "get": {
              "description": "Gets a single metric descriptor. This method does not require a Stackdriver account.",
              "flatPath": "v3/projects/{projectsId}/metricDescriptors/{metricDescriptorsId}",
              "httpMethod": "GET",
              "id": "monitoring.projects.metricDescriptors.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The metric descriptor on which to execute the request. The format is \"projects/{project_id_or_number}/metricDescriptors/{metric_id}\". An example value of {metric_id} is \"compute.googleapis.com/instance/disk/read_bytes_count\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+/metricDescriptors/.+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}",
              "response": {
                "$ref": "MetricDescriptor"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read",
                "https://www.googleapis.com/auth/monitoring.write"
              ]
            },
            "list": {
              "description": "Lists metric descriptors that match a filter. This method does not require a Stackdriver account.",
              "flatPath": "v3/projects/{projectsId}/metricDescriptors",
              "httpMethod": "GET",
              "id": "monitoring.projects.metricDescriptors.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "If this field is empty, all custom and system-defined metric descriptors are returned. Otherwise, the filter specifies which metric descriptors are to be returned. For example, the following filter matches all custom metrics:\nmetric.type = starts_with(\"custom.googleapis.com/\")\n",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "A positive number that is the maximum number of results to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v3/{+name}/metricDescriptors",
              "response": {
                "$ref": "ListMetricDescriptorsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read",
                "https://www.googleapis.com/auth/monitoring.write"
              ]
            }
          }
        },
        "monitoredResourceDescriptors": {
          "methods": {
            "get": {
              "description": "Gets a single monitored resource descriptor. This method does not require a Stackdriver account.",
              "flatPath": "v3/projects/{projectsId}/monitoredResourceDescriptors/{monitoredResourceDescriptorsId}",
              "httpMethod": "GET",
              "id": "monitoring.projects.monitoredResourceDescriptors.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The monitored resource descriptor to get. The format is \"projects/{project_id_or_number}/monitoredResourceDescriptors/{resource_type}\". The {resource_type} is a predefined type, such as cloudsql_database.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/monitoredResourceDescriptors/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}",
              "response": {
                "$ref": "MonitoredResourceDescriptor"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read",
                "https://www.googleapis.com/auth/monitoring.write"
              ]
            },
            "list": {
              "description": "Lists monitored resource descriptors that match a filter. This method does not require a Stackdriver account.",
              "flatPath": "v3/projects/{projectsId}/monitoredResourceDescriptors",
              "httpMethod": "GET",
              "id": "monitoring.projects.monitoredResourceDescriptors.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "An optional filter describing the descriptors to be returned. The filter can reference the descriptor's type and labels. For example, the following filter returns only Google Compute Engine descriptors that have an id label:\nresource.type = starts_with(\"gce_\") AND resource.label:id\n",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "A positive number that is the maximum number of results to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v3/{+name}/monitoredResourceDescriptors",
              "response": {
                "$ref": "ListMonitoredResourceDescriptorsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read",
                "https://www.googleapis.com/auth/monitoring.write"
              ]
            }
          }
        },
        "timeSeries": {
          "methods": {
            "create": {
              "description": "Creates or adds data to one or more time series. The response is empty if all time series in the request were written. If any time series could not be written, a corresponding failure message is included in the error response.",
              "flatPath": "v3/projects/{projectsId}/timeSeries",
              "httpMethod": "POST",
              "id": "monitoring.projects.timeSeries.create",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}/timeSeries",
              "request": {
                "$ref": "CreateTimeSeriesRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ]
            },
            "list": {
              "description": "Lists time series that match a filter. This method does not require a Stackdriver account.",
              "flatPath": "v3/projects/{projectsId}/timeSeries",
              "httpMethod": "GET",
              "id": "monitoring.projects.timeSeries.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "aggregation.alignmentPeriod": {
                  "description": "The alignment period for per-time series alignment. If present, alignmentPeriod must be at least 60 seconds. After per-time series alignment, each time series will contain data points only on the period boundaries. If perSeriesAligner is not specified or equals ALIGN_NONE, then this field is ignored. If perSeriesAligner is specified and does not equal ALIGN_NONE, then this field must be defined; otherwise an error is returned.",
                  "format": "google-duration",
                  "location": "query",
                  "type": "string"
                },
                "aggregation.crossSeriesReducer": {
                  "description": "The approach to be used to combine time series. Not all reducer functions may be applied to all time series, depending on the metric type and the value type of the original time series. Reduction may change the metric type of value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.",
                  "enum": [
                    "REDUCE_NONE",
                    "REDUCE_MEAN",
                    "REDUCE_MIN",
                    "REDUCE_MAX",
                    "REDUCE_SUM",
                    "REDUCE_STDDEV",
                    "REDUCE_COUNT",
                    "REDUCE_COUNT_TRUE",
                    "REDUCE_COUNT_FALSE",
                    "REDUCE_FRACTION_TRUE",
                    "REDUCE_PERCENTILE_99",
                    "REDUCE_PERCENTILE_95",
                    "REDUCE_PERCENTILE_50",
                    "REDUCE_PERCENTILE_05"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "aggregation.groupByFields": {
                  "description": "The set of fields to preserve when crossSeriesReducer is specified. The groupByFields determine how the time series are partitioned into subsets prior to applying the aggregation function. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The crossSeriesReducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in groupByFields are aggregated away. If groupByFields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If crossSeriesReducer is not defined, this field is ignored.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "aggregation.perSeriesAligner": {
                  "description": "The approach to be used to align individual time series. Not all alignment functions may be applied to all time series, depending on the metric type and value type of the original time series. Alignment may change the metric type or the value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.",
                  "enum": [
                    "ALIGN_NONE",
                    "ALIGN_DELTA",
                    "ALIGN_RATE",
                    "ALIGN_INTERPOLATE",
                    "ALIGN_NEXT_OLDER",
                    "ALIGN_MIN",
                    "ALIGN_MAX",
                    "ALIGN_MEAN",
                    "ALIGN_COUNT",
                    "ALIGN_SUM",
                    "ALIGN_STDDEV",
                    "ALIGN_COUNT_TRUE",
                    "ALIGN_COUNT_FALSE",
                    "ALIGN_FRACTION_TRUE",
                    "ALIGN_PERCENTILE_99",
                    "ALIGN_PERCENTILE_95",
                    "ALIGN_PERCENTILE_50",
                    "ALIGN_PERCENTILE_05",
                    "ALIGN_PERCENT_CHANGE"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A monitoring filter that specifies which time series should be returned. The filter must specify a single metric type, and can additionally specify metric labels and other information. For example:\nmetric.type = \"compute.googleapis.com/instance/cpu/usage_time\" AND\n    metric.label.instance_name = \"my-instance-name\"\n",
                  "location": "query",
                  "type": "string"
                },
                "interval.endTime": {
                  "description": "Required. The end of the time interval.",
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                },
                "interval.startTime": {
                  "description": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.",
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "description": "Unsupported: must be left blank. The points in each time series are returned in reverse time order.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "A positive number that is the maximum number of results to return. When view field sets to FULL, it limits the number of Points server will return; if view field is HEADERS, it limits the number of TimeSeries server will return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "description": "Specifies which information is returned about the time series.",
                  "enum": [
                    "FULL",
                    "HEADERS"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v3/{+name}/timeSeries",
              "response": {
                "$ref": "ListTimeSeriesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ]
            }
          }
        },
        "uptimeCheckConfigs": {
          "methods": {
            "create": {
              "description": "Creates a new uptime check configuration.",
              "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs",
              "httpMethod": "POST",
              "id": "monitoring.projects.uptimeCheckConfigs.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The project in which to create the uptime check. The format  is projects/[PROJECT_ID].",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+parent}/uptimeCheckConfigs",
              "request": {
                "$ref": "UptimeCheckConfig"
              },
              "response": {
                "$ref": "UptimeCheckConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring"
              ]
            },
            "delete": {
              "description": "Deletes an uptime check configuration. Note that this method will fail if the uptime check configuration is referenced by an alert policy or other dependent configs that would be rendered invalid by the deletion.",
              "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs/{uptimeCheckConfigsId}",
              "httpMethod": "DELETE",
              "id": "monitoring.projects.uptimeCheckConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The uptime check configuration to delete. The format  is projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].",
                  "location": "path",
                  "pattern": "^projects/[^/]+/uptimeCheckConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring"
              ]
            },
            "get": {
              "description": "Gets a single uptime check configuration.",
              "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs/{uptimeCheckConfigsId}",
              "httpMethod": "GET",
              "id": "monitoring.projects.uptimeCheckConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The uptime check configuration to retrieve. The format  is projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].",
                  "location": "path",
                  "pattern": "^projects/[^/]+/uptimeCheckConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+name}",
              "response": {
                "$ref": "UptimeCheckConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ]
            },
            "list": {
              "description": "Lists the existing valid uptime check configurations for the project, leaving out any invalid configurations.",
              "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs",
              "httpMethod": "GET",
              "id": "monitoring.projects.uptimeCheckConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. The server may further constrain the maximum number of results returned in a single page. If the page_size is \u003c=0, the server will decide the number of results to be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return more results from the previous method call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The project whose uptime check configurations are listed. The format  is projects/[PROJECT_ID].",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3/{+parent}/uptimeCheckConfigs",
              "response": {
                "$ref": "ListUptimeCheckConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ]
            },
            "patch": {
              "description": "Updates an uptime check configuration. You can either replace the entire configuration with a new one or replace only certain fields in the current configuration by specifying the fields to be updated via \"updateMask\". Returns the updated configuration.",
              "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs/{uptimeCheckConfigsId}",
              "httpMethod": "PATCH",
              "id": "monitoring.projects.uptimeCheckConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "A unique resource name for this UptimeCheckConfig. The format is:projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].This field should be omitted when creating the uptime check configuration; on create, the resource name is assigned by the server and included in the response.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/uptimeCheckConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. If present, only the listed fields in the current uptime check configuration are updated with values from the new configuration. If this field is empty, then the current configuration is completely replaced with the new configuration.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v3/{+name}",
              "request": {
                "$ref": "UptimeCheckConfig"
              },
              "response": {
                "$ref": "UptimeCheckConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring"
              ]
            }
          }
        }
      }
    },
    "uptimeCheckIps": {
      "methods": {
        "list": {
          "description": "Returns the list of IPs that checkers run from",
          "flatPath": "v3/uptimeCheckIps",
          "httpMethod": "GET",
          "id": "monitoring.uptimeCheckIps.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of results to return in a single response. The server may further constrain the maximum number of results returned in a single page. If the page_size is \u003c=0, the server will decide the number of results to be returned. NOTE: this field is not yet implemented",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return more results from the previous method call. NOTE: this field is not yet implemented",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v3/uptimeCheckIps",
          "response": {
            "$ref": "ListUptimeCheckIpsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/monitoring",
            "https://www.googleapis.com/auth/monitoring.read"
          ]
        }
      }
    }
  },
  "revision": "20180225",
  "rootUrl": "https://monitoring.googleapis.com/",
  "schemas": {
    "BasicAuthentication": {
      "description": "A type of authentication to perform against the specified resource or URL that uses username and password. Currently, only Basic authentication is supported in Uptime Monitoring.",
      "id": "BasicAuthentication",
      "properties": {
        "password": {
          "description": "The password to authenticate.",
          "type": "string"
        },
        "username": {
          "description": "The username to authenticate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BucketOptions": {
      "description": "BucketOptions describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. BucketOptions does not include the number of values in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i \u003e 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
      "id": "BucketOptions",
      "properties": {
        "explicitBuckets": {
          "$ref": "Explicit",
          "description": "The explicit buckets."
        },
        "exponentialBuckets": {
          "$ref": "Exponential",
          "description": "The exponential buckets."
        },
        "linearBuckets": {
          "$ref": "Linear",
          "description": "The linear bucket."
        }
      },
      "type": "object"
    },
    "CollectdPayload": {
      "description": "A collection of data points sent from a collectd-based plugin. See the collectd documentation for more information.",
      "id": "CollectdPayload",
      "properties": {
        "endTime": {
          "description": "The end time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "$ref": "TypedValue"
          },
          "description": "The measurement metadata. Example: \"process_id\" -\u003e 12345",
          "type": "object"
        },
        "plugin": {
          "description": "The name of the plugin. Example: \"disk\".",
          "type": "string"
        },
        "pluginInstance": {
          "description": "The instance name of the plugin Example: \"hdcl\".",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "The measurement type. Example: \"memory\".",
          "type": "string"
        },
        "typeInstance": {
          "description": "The measurement type instance. Example: \"used\".",
          "type": "string"
        },
        "values": {
          "description": "The measured values during this time interval. Each value must have a different dataSourceName.",
          "items": {
            "$ref": "CollectdValue"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CollectdPayloadError": {
      "description": "Describes the error status for payloads that were not written.",
      "id": "CollectdPayloadError",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Records the error status for the payload. If this field is present, the partial errors for nested values won't be populated."
        },
        "index": {
          "description": "The zero-based index in CreateCollectdTimeSeriesRequest.collectd_payloads.",
          "format": "int32",
          "type": "integer"
        },
        "valueErrors": {
          "description": "Records the error status for values that were not written due to an error.Failed payloads for which nothing is written will not include partial value errors.",
          "items": {
            "$ref": "CollectdValueError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CollectdValue": {
      "description": "A single data point from a collectd-based plugin.",
      "id": "CollectdValue",
      "properties": {
        "dataSourceName": {
          "description": "The data source for the collectd value. For example there are two data sources for network measurements: \"rx\" and \"tx\".",
          "type": "string"
        },
        "dataSourceType": {
          "description": "The type of measurement.",
          "enum": [
            "UNSPECIFIED_DATA_SOURCE_TYPE",
            "GAUGE",
            "COUNTER",
            "DERIVE",
            "ABSOLUTE"
          ],
          "enumDescriptions": [
            "An unspecified data source type. This corresponds to google.api.MetricDescriptor.MetricKind.METRIC_KIND_UNSPECIFIED.",
            "An instantaneous measurement of a varying quantity. This corresponds to google.api.MetricDescriptor.MetricKind.GAUGE.",
            "A cumulative value over time. This corresponds to google.api.MetricDescriptor.MetricKind.CUMULATIVE.",
            "A rate of change of the measurement.",
            "An amount of change since the last measurement interval. This corresponds to google.api.MetricDescriptor.MetricKind.DELTA."
          ],
          "type": "string"
        },
        "value": {
          "$ref": "TypedValue",
          "description": "The measurement value."
        }
      },
      "type": "object"
    },
    "CollectdValueError": {
      "description": "Describes the error status for values that were not written.",
      "id": "CollectdValueError",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Records the error status for the value."
        },
        "index": {
          "description": "The zero-based index in CollectdPayload.values within the parent CreateCollectdTimeSeriesRequest.collectd_payloads.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ContentMatcher": {
      "description": "Used to perform string matching. Currently, this matches on the exact content. In the future, it can be expanded to allow for regular expressions and more complex matching.",
      "id": "ContentMatcher",
      "properties": {
        "content": {
          "description": "String content to match (max 1024 bytes)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateCollectdTimeSeriesRequest": {
      "description": "The CreateCollectdTimeSeries request.",
      "id": "CreateCollectdTimeSeriesRequest",
      "properties": {
        "collectdPayloads": {
          "description": "The collectd payloads representing the time series data. You must not include more than a single point for each time series, so no two payloads can have the same values for all of the fields plugin, plugin_instance, type, and type_instance.",
          "items": {
            "$ref": "CollectdPayload"
          },
          "type": "array"
        },
        "collectdVersion": {
          "description": "The version of collectd that collected the data. Example: \"5.3.0-192.el6\".",
          "type": "string"
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "The monitored resource associated with the time series."
        }
      },
      "type": "object"
    },
    "CreateCollectdTimeSeriesResponse": {
      "description": "The CreateCollectdTimeSeries response.",
      "id": "CreateCollectdTimeSeriesResponse",
      "properties": {
        "payloadErrors": {
          "description": "Records the error status for points that were not written due to an error.Failed requests for which nothing is written will return an error response instead.",
          "items": {
            "$ref": "CollectdPayloadError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreateTimeSeriesRequest": {
      "description": "The CreateTimeSeries request.",
      "id": "CreateTimeSeriesRequest",
      "properties": {
        "timeSeries": {
          "description": "The new data to be added to a list of time series. Adds at most one data point to each of several time series. The new data point must be more recent than any other point in its time series. Each TimeSeries value must fully specify a unique time series by supplying all label values for the metric and the monitored resource.",
          "items": {
            "$ref": "TimeSeries"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Distribution": {
      "description": "Distribution contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets.The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths.Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the mean and sum_of_squared_deviation fields meaningless.",
      "id": "Distribution",
      "properties": {
        "bucketCounts": {
          "description": "Required in the Stackdriver Monitoring API v3. The values for each bucket specified in bucket_options. The sum of the values in bucketCounts must equal the value in the count field of the Distribution object. The order of the bucket counts follows the numbering schemes described for the three bucket types. The underflow bucket has number 0; the finite buckets, if any, have numbers 1 through N-2; and the overflow bucket has number N-1. The size of bucket_counts must not be greater than N. If the size is less than N, then the remaining buckets are assigned values of zero.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "bucketOptions": {
          "$ref": "BucketOptions",
          "description": "Required in the Stackdriver Monitoring API v3. Defines the histogram bucket boundaries."
        },
        "count": {
          "description": "The number of values in the population. Must be non-negative. This value must equal the sum of the values in bucket_counts if a histogram is provided.",
          "format": "int64",
          "type": "string"
        },
        "mean": {
          "description": "The arithmetic mean of the values in the population. If count is zero then this field must be zero.",
          "format": "double",
          "type": "number"
        },
        "range": {
          "$ref": "Range",
          "description": "If specified, contains the range of the population values. The field must not be present if the count is zero. This field is presently ignored by the Stackdriver Monitoring API v3."
        },
        "sumOfSquaredDeviation": {
          "description": "The sum of squared deviations from the mean of the values in the population. For values x_i this is:\nSum[i=1..n]((x_i - mean)^2)\nKnuth, \"The Art of Computer Programming\", Vol. 2, page 323, 3rd edition describes Welford's method for accumulating this sum in one pass.If count is zero then this field must be zero.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty JSON object {}.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Explicit": {
      "description": "Specifies a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): boundsi  Lower bound (1 \u003c= i \u003c N); boundsi - 1The bounds field must contain at least one element. If bounds has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "id": "Explicit",
      "properties": {
        "bounds": {
          "description": "The values must be monotonically increasing.",
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Exponential": {
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): scale * (growth_factor ^ i).  Lower bound (1 \u003c= i \u003c N): scale * (growth_factor ^ (i - 1)).",
      "id": "Exponential",
      "properties": {
        "growthFactor": {
          "description": "Must be greater than 1.",
          "format": "double",
          "type": "number"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        },
        "scale": {
          "description": "Must be greater than 0.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Field": {
      "description": "A single field of a message type.",
      "id": "Field",
      "properties": {
        "cardinality": {
          "description": "The field cardinality.",
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ],
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "type": "string"
        },
        "defaultValue": {
          "description": "The string value of the default value of this field. Proto2 syntax only.",
          "type": "string"
        },
        "jsonName": {
          "description": "The field JSON name.",
          "type": "string"
        },
        "kind": {
          "description": "The field type.",
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ],
          "type": "string"
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "number": {
          "description": "The field number.",
          "format": "int32",
          "type": "integer"
        },
        "oneofIndex": {
          "description": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.",
          "format": "int32",
          "type": "integer"
        },
        "options": {
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        },
        "packed": {
          "description": "Whether to use alternative packed wire representation.",
          "type": "boolean"
        },
        "typeUrl": {
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Group": {
      "description": "The description of a dynamic collection of monitored resources. Each group has a filter that is matched against monitored resources and their associated metadata. If a group's filter matches an available monitored resource, then that resource is a member of that group. Groups can contain any number of monitored resources, and each monitored resource can be a member of any number of groups.Groups can be nested in parent-child hierarchies. The parentName field identifies an optional parent for each group. If a group has a parent, then the only monitored resources available to be matched by the group's filter are the resources contained in the parent group. In other words, a group contains the monitored resources that match its filter and the filters of all the group's ancestors. A group without a parent can contain any monitored resource.For example, consider an infrastructure running a set of instances with two user-defined tags: \"environment\" and \"role\". A parent group has a filter, environment=\"production\". A child of that parent group has a filter, role=\"transcoder\". The parent group contains all instances in the production environment, regardless of their roles. The child group contains instances that have the transcoder role and are in the production environment.The monitored resources contained in a group can change at any moment, depending on what resources exist and what filters are associated with the group and its ancestors.",
      "id": "Group",
      "properties": {
        "displayName": {
          "description": "A user-assigned name for this group, used only for display purposes.",
          "type": "string"
        },
        "filter": {
          "description": "The filter used to determine which monitored resources belong to this group.",
          "type": "string"
        },
        "isCluster": {
          "description": "If true, the members of this group are considered to be a cluster. The system can perform additional analysis on groups that are clusters.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.",
          "type": "string"
        },
        "parentName": {
          "description": "The name of the group's parent, if it has one. The format is \"projects/{project_id_or_number}/groups/{group_id}\". For groups with no parent, parentName is the empty string, \"\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HttpCheck": {
      "description": "Information involved in an HTTP/HTTPS uptime check request.",
      "id": "HttpCheck",
      "properties": {
        "authInfo": {
          "$ref": "BasicAuthentication",
          "description": "The authentication information. Optional when creating an HTTP check; defaults to empty."
        },
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The list of headers to send as part of the uptime check request. If two headers have the same key and different values, they should be entered as a single header, with the value being a comma-separated list of all the desired values as described at https://www.w3.org/Protocols/rfc2616/rfc2616.txt (page 31). Entering two separate headers with the same key in a Create call will cause the first to be overwritten by the second. The maximum number of headers allowed is 100.",
          "type": "object"
        },
        "maskHeaders": {
          "description": "Boolean specifiying whether to encrypt the header information. Encryption should be specified for any headers related to authentication that you do not wish to be seen when retrieving the configuration. The server will be responsible for encrypting the headers. On Get/List calls, if mask_headers is set to True then the headers will be obscured with ******.",
          "type": "boolean"
        },
        "path": {
          "description": "The path to the page to run the check against. Will be combined with the host (specified within the MonitoredResource) and port to construct the full URL. Optional (defaults to \"/\").",
          "type": "string"
        },
        "port": {
          "description": "The port to the page to run the check against. Will be combined with host (specified within the MonitoredResource) and path to construct the full URL. Optional (defaults to 80 without SSL, or 443 with SSL).",
          "format": "int32",
          "type": "integer"
        },
        "useSsl": {
          "description": "If true, use HTTPS instead of HTTP to run the check.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "InternalChecker": {
      "description": "Nimbus InternalCheckers.",
      "id": "InternalChecker",
      "properties": {
        "checkerId": {
          "description": "The checker ID.",
          "type": "string"
        },
        "displayName": {
          "description": "The checker's human-readable name.",
          "type": "string"
        },
        "gcpZone": {
          "description": "The GCP zone the uptime check should egress from. Only respected for internal uptime checks, where internal_network is specified.",
          "type": "string"
        },
        "network": {
          "description": "The internal network to perform this uptime check on.",
          "type": "string"
        },
        "projectId": {
          "description": "The GCP project ID. Not necessarily the same as the project_id for the config.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LabelDescriptor": {
      "description": "A description of a label.",
      "id": "LabelDescriptor",
      "properties": {
        "description": {
          "description": "A human-readable description for the label.",
          "type": "string"
        },
        "key": {
          "description": "The label key.",
          "type": "string"
        },
        "valueType": {
          "description": "The type of data that can be assigned to the label.",
          "enum": [
            "STRING",
            "BOOL",
            "INT64"
          ],
          "enumDescriptions": [
            "A variable-length string. This is the default.",
            "Boolean; true or false.",
            "A 64-bit signed integer."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Linear": {
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): offset + (width * i).  Lower bound (1 \u003c= i \u003c N): offset + (width * (i - 1)).",
      "id": "Linear",
      "properties": {
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        },
        "offset": {
          "description": "Lower bound of the first bucket.",
          "format": "double",
          "type": "number"
        },
        "width": {
          "description": "Must be greater than 0.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ListGroupMembersResponse": {
      "description": "The ListGroupMembers response.",
      "id": "ListGroupMembersResponse",
      "properties": {
        "members": {
          "description": "A set of monitored resources in the group.",
          "items": {
            "$ref": "MonitoredResource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of elements matching this request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListGroupsResponse": {
      "description": "The ListGroups response.",
      "id": "ListGroupsResponse",
      "properties": {
        "group": {
          "description": "The groups that match the specified filters.",
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListMetricDescriptorsResponse": {
      "description": "The ListMetricDescriptors response.",
      "id": "ListMetricDescriptorsResponse",
      "properties": {
        "metricDescriptors": {
          "description": "The metric descriptors that are available to the project and that match the value of filter, if present.",
          "items": {
            "$ref": "MetricDescriptor"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListMonitoredResourceDescriptorsResponse": {
      "description": "The ListMonitoredResourceDescriptors response.",
      "id": "ListMonitoredResourceDescriptorsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        },
        "resourceDescriptors": {
          "description": "The monitored resource descriptors that are available to this project and that match filter, if present.",
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListTimeSeriesResponse": {
      "description": "The ListTimeSeries response.",
      "id": "ListTimeSeriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
          "type": "string"
        },
        "timeSeries": {
          "description": "One or more time series that match the filter included in the request.",
          "items": {
            "$ref": "TimeSeries"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListUptimeCheckConfigsResponse": {
      "description": "The protocol for the ListUptimeCheckConfigs response.",
      "id": "ListUptimeCheckConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "This field represents the pagination token to retrieve the next page of results. If the value is empty, it means no further results for the request. To retrieve the next page of results, the value of the next_page_token is passed to the subsequent List method call (in the request message's page_token field).",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of uptime check configurations for the project, irrespective of any pagination.",
          "format": "int32",
          "type": "integer"
        },
        "uptimeCheckConfigs": {
          "description": "The returned uptime check configurations.",
          "items": {
            "$ref": "UptimeCheckConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListUptimeCheckIpsResponse": {
      "description": "The protocol for the ListUptimeCheckIps response.",
      "id": "ListUptimeCheckIpsResponse",
      "properties": {
        "nextPageToken": {
          "description": "This field represents the pagination token to retrieve the next page of results. If the value is empty, it means no further results for the request. To retrieve the next page of results, the value of the next_page_token is passed to the subsequent List method call (in the request message's page_token field). NOTE: this field is not yet implemented",
          "type": "string"
        },
        "uptimeCheckIps": {
          "description": "The returned list of IP addresses (including region and location) that the checkers run from.",
          "items": {
            "$ref": "UptimeCheckIp"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Metric": {
      "description": "A specific metric, identified by specifying values for all of the labels of a MetricDescriptor.",
      "id": "Metric",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The set of label values that uniquely identify this metric. All labels listed in the MetricDescriptor must be assigned values.",
          "type": "object"
        },
        "type": {
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MetricDescriptor": {
      "description": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable.",
      "id": "MetricDescriptor",
      "properties": {
        "description": {
          "description": "A detailed description of the metric, which can be used in documentation.",
          "type": "string"
        },
        "displayName": {
          "description": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota.",
          "type": "string"
        },
        "labels": {
          "description": "The set of labels that can be used to describe a specific instance of this metric type. For example, the appengine.googleapis.com/http/server/response_latencies metric type has a label for the HTTP response code, response_code, so you can look at latencies for successful responses or just for responses that failed.",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array"
        },
        "metricKind": {
          "description": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of metric_kind and value_type might not be supported.",
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "type": "string"
        },
        "name": {
          "description": "The resource name of the metric descriptor.",
          "type": "string"
        },
        "type": {
          "description": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined custom metric types have the DNS name custom.googleapis.com. Metric types should use a natural hierarchical grouping. For example:\n\"custom.googleapis.com/invoice/paid/amount\"\n\"appengine.googleapis.com/http/server/response_latencies\"\n",
          "type": "string"
        },
        "unit": {
          "description": "Optional. The unit in which the metric value is reported. For example, kBy/s means kilobytes/sec, and 1 is the dimensionless unit. The supported units are a subset of The Unified Code for Units of Measure standard (http://unitsofmeasure.org/ucum.html).\u003cbr\u003e\u003cbr\u003e This field is part of the metric's documentation, but it is ignored by Stackdriver.",
          "type": "string"
        },
        "valueType": {
          "description": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of metric_kind and value_type might not be supported.",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is GAUGE.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is GAUGE.",
            "The value is a Distribution.",
            "The value is money."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "MonitoredResource": {
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"instance_id\" and \"zone\":\n{ \"type\": \"gce_instance\",\n  \"labels\": { \"instance_id\": \"12345678901234\",\n              \"zone\": \"us-central1-a\" }}\n",
      "id": "MonitoredResource",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\".",
          "type": "object"
        },
        "type": {
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MonitoredResourceDescriptor": {
      "description": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of \"gce_instance\" and specifies the use of the labels \"instance_id\" and \"zone\" to identify particular VM instances.Different APIs can support different monitored resource types. APIs generally provide a list method that returns the monitored resource descriptors used by the API.",
      "id": "MonitoredResourceDescriptor",
      "properties": {
        "description": {
          "description": "Optional. A detailed description of the monitored resource type that might be used in documentation.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, \"Google Cloud SQL Database\".",
          "type": "string"
        },
        "labels": {
          "description": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels \"database_id\" and \"zone\".",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array"
        },
        "name": {
          "description": "Optional. The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\" where {type} is the value of the type field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\".",
          "type": "string"
        },
        "type": {
          "description": "Required. The monitored resource type. For example, the type \"cloudsql_database\" represents databases in Google Cloud SQL. The maximum length of this value is 256 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MonitoredResourceMetadata": {
      "description": "Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Google Stackdriver Monitoring \u0026 Logging uses an ingestion pipeline to extract metadata for cloud resources of all types , and stores the metadata in this message.",
      "id": "MonitoredResourceMetadata",
      "properties": {
        "systemLabels": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google Stackdriver. Stackdriver determines what system labels are useful and how to obtain their values. Some examples: \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\", \"name\", etc. System label values can be only strings, Boolean values, or a list of strings. For example:\n{ \"name\": \"my-test-instance\",\n  \"security_group\": [\"a\", \"b\", \"c\"],\n  \"spot_instance\": false }\n",
          "type": "object"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of user-defined metadata labels.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "Option": {
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.",
      "id": "Option",
      "properties": {
        "name": {
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\".",
          "type": "string"
        },
        "value": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "Point": {
      "description": "A single data point in a time series.",
      "id": "Point",
      "properties": {
        "interval": {
          "$ref": "TimeInterval",
          "description": "The time interval to which the data point applies. For GAUGE metrics, only the end time of the interval is used. For DELTA metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For CUMULATIVE metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
        },
        "value": {
          "$ref": "TypedValue",
          "description": "The value of the data point."
        }
      },
      "type": "object"
    },
    "Range": {
      "description": "The range of the population values.",
      "id": "Range",
      "properties": {
        "max": {
          "description": "The maximum of the population values.",
          "format": "double",
          "type": "number"
        },
        "min": {
          "description": "The minimum of the population values.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ResourceGroup": {
      "description": "The resource submessage for group checks. It can be used instead of a monitored resource, when multiple resources are being monitored.",
      "id": "ResourceGroup",
      "properties": {
        "groupId": {
          "description": "The group of resources being monitored. Should be only the group_id, not projects/\u003cproject_id\u003e/groups/\u003cgroup_id\u003e.",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource type of the group members.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "INSTANCE",
            "AWS_ELB_LOAD_BALANCER"
          ],
          "enumDescriptions": [
            "Default value (not valid).",
            "A group of instances from Google Cloud Platform (GCP) or Amazon Web Services (AWS).",
            "A group of Amazon ELB load balancers."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceContext": {
      "description": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined.",
      "id": "SourceContext",
      "properties": {
        "fileName": {
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). The error model is designed to be:\nSimple to use and understand for most users\nFlexible enough to meet unexpected needsOverviewThe Status message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers understand and resolve the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package google.rpc that can be used for common error conditions.Language mappingThe Status message is the logical representation of the error model, but it is not necessarily the actual wire format. When the Status message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe error model and the Status message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments.Example uses of this error model include:\nPartial errors. If a service needs to return partial errors to the client, it may embed the Status in the normal response to indicate the partial errors.\nWorkflow errors. A typical workflow has multiple steps. Each step may have a Status message for error reporting.\nBatch operations. If a client uses batch request and batch response, the Status message should be used directly inside batch response, one for each error sub-response.\nAsynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the Status message.\nLogging. If some API errors are stored in logs, the message Status could be used directly after any stripping needed for security/privacy reasons.",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TcpCheck": {
      "description": "Information required for a TCP uptime check request.",
      "id": "TcpCheck",
      "properties": {
        "port": {
          "description": "The port to the page to run the check against. Will be combined with host (specified within the MonitoredResource) to construct the full URL. Required.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "TimeInterval": {
      "description": "A time interval extending just after a start time through an end time. If the start time is the same as the end time, then the interval represents a single point in time.",
      "id": "TimeInterval",
      "properties": {
        "endTime": {
          "description": "Required. The end of the time interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeSeries": {
      "description": "A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.",
      "id": "TimeSeries",
      "properties": {
        "metadata": {
          "$ref": "MonitoredResourceMetadata",
          "description": "Output only. The associated monitored resource metadata. When reading a a timeseries, this field will include metadata labels that are explicitly named in the reduction. When creating a timeseries, this field is ignored."
        },
        "metric": {
          "$ref": "Metric",
          "description": "The associated metric. A fully-specified metric used to identify the time series."
        },
        "metricKind": {
          "description": "The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric's descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either GAUGE (the default) or CUMULATIVE.",
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "type": "string"
        },
        "points": {
          "description": "The data points of this time series. When listing time series, points are returned in reverse time order.When creating a time series, this field must contain exactly one point and the point's type must be the same as the value type of the associated metric. If the associated metric's descriptor must be auto-created, then the value type of the descriptor is determined by the point's type, which must be BOOL, INT64, DOUBLE, or DISTRIBUTION.",
          "items": {
            "$ref": "Point"
          },
          "type": "array"
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "The associated monitored resource. Custom metrics can use only certain monitored resource types in their time series data."
        },
        "valueType": {
          "description": "The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the type of the data in the points field.",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is GAUGE.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is GAUGE.",
            "The value is a Distribution.",
            "The value is money."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Type": {
      "description": "A protocol buffer message type.",
      "id": "Type",
      "properties": {
        "fields": {
          "description": "The list of fields.",
          "items": {
            "$ref": "Field"
          },
          "type": "array"
        },
        "name": {
          "description": "The fully qualified message name.",
          "type": "string"
        },
        "oneofs": {
[...]
