{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-06",
    "endpointPrefix":"ssm",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"Amazon SSM",
    "serviceFullName":"Amazon Simple Systems Manager (SSM)",
    "serviceId":"SSM",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonSSM",
    "uid":"ssm-2014-11-06"
  },
  "operations":{
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceRequest"},
      "output":{"shape":"AddTagsToResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"},
        {"shape":"TooManyTagsError"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "CancelCommand":{
      "name":"CancelCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelCommandRequest"},
      "output":{"shape":"CancelCommandResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"DuplicateInstanceId"}
      ]
    },
    "CancelMaintenanceWindowExecution":{
      "name":"CancelMaintenanceWindowExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelMaintenanceWindowExecutionRequest"},
      "output":{"shape":"CancelMaintenanceWindowExecutionResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"DoesNotExistException"}
      ]
    },
    "CreateActivation":{
      "name":"CreateActivation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateActivationRequest"},
      "output":{"shape":"CreateActivationResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "CreateAssociation":{
      "name":"CreateAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationRequest"},
      "output":{"shape":"CreateAssociationResult"},
      "errors":[
        {"shape":"AssociationAlreadyExists"},
        {"shape":"AssociationLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"InvalidInstanceId"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"InvalidOutputLocation"},
        {"shape":"InvalidParameters"},
        {"shape":"InvalidTarget"},
        {"shape":"InvalidSchedule"}
      ]
    },
    "CreateAssociationBatch":{
      "name":"CreateAssociationBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationBatchRequest"},
      "output":{"shape":"CreateAssociationBatchResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidParameters"},
        {"shape":"DuplicateInstanceId"},
        {"shape":"AssociationLimitExceeded"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"InvalidOutputLocation"},
        {"shape":"InvalidTarget"},
        {"shape":"InvalidSchedule"}
      ]
    },
    "CreateDocument":{
      "name":"CreateDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentRequest"},
      "output":{"shape":"CreateDocumentResult"},
      "errors":[
        {"shape":"DocumentAlreadyExists"},
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocumentContent"},
        {"shape":"DocumentLimitExceeded"},
        {"shape":"InvalidDocumentSchemaVersion"}
      ]
    },
    "CreateMaintenanceWindow":{
      "name":"CreateMaintenanceWindow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMaintenanceWindowRequest"},
      "output":{"shape":"CreateMaintenanceWindowResult"},
      "errors":[
        {"shape":"IdempotentParameterMismatch"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InternalServerError"}
      ]
    },
    "CreateOpsItem":{
      "name":"CreateOpsItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOpsItemRequest"},
      "output":{"shape":"CreateOpsItemResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"OpsItemAlreadyExistsException"},
        {"shape":"OpsItemLimitExceededException"},
        {"shape":"OpsItemInvalidParameterException"}
      ]
    },
    "CreatePatchBaseline":{
      "name":"CreatePatchBaseline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePatchBaselineRequest"},
      "output":{"shape":"CreatePatchBaselineResult"},
      "errors":[
        {"shape":"IdempotentParameterMismatch"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InternalServerError"}
      ]
    },
    "CreateResourceDataSync":{
      "name":"CreateResourceDataSync",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResourceDataSyncRequest"},
      "output":{"shape":"CreateResourceDataSyncResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ResourceDataSyncCountExceededException"},
        {"shape":"ResourceDataSyncAlreadyExistsException"},
        {"shape":"ResourceDataSyncInvalidConfigurationException"}
      ]
    },
    "DeleteActivation":{
      "name":"DeleteActivation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteActivationRequest"},
      "output":{"shape":"DeleteActivationResult"},
      "errors":[
        {"shape":"InvalidActivationId"},
        {"shape":"InvalidActivation"},
        {"shape":"InternalServerError"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "DeleteAssociation":{
      "name":"DeleteAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAssociationRequest"},
      "output":{"shape":"DeleteAssociationResult"},
      "errors":[
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "DeleteDocument":{
      "name":"DeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentRequest"},
      "output":{"shape":"DeleteDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentOperation"},
        {"shape":"AssociatedInstances"}
      ]
    },
    "DeleteInventory":{
      "name":"DeleteInventory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInventoryRequest"},
      "output":{"shape":"DeleteInventoryResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidTypeNameException"},
        {"shape":"InvalidOptionException"},
        {"shape":"InvalidDeleteInventoryParametersException"},
        {"shape":"InvalidInventoryRequestException"}
      ]
    },
    "DeleteMaintenanceWindow":{
      "name":"DeleteMaintenanceWindow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMaintenanceWindowRequest"},
      "output":{"shape":"DeleteMaintenanceWindowResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DeleteParameter":{
      "name":"DeleteParameter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteParameterRequest"},
      "output":{"shape":"DeleteParameterResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ParameterNotFound"}
      ]
    },
    "DeleteParameters":{
      "name":"DeleteParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteParametersRequest"},
      "output":{"shape":"DeleteParametersResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DeletePatchBaseline":{
      "name":"DeletePatchBaseline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePatchBaselineRequest"},
      "output":{"shape":"DeletePatchBaselineResult"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerError"}
      ]
    },
    "DeleteResourceDataSync":{
      "name":"DeleteResourceDataSync",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourceDataSyncRequest"},
      "output":{"shape":"DeleteResourceDataSyncResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ResourceDataSyncNotFoundException"},
        {"shape":"ResourceDataSyncInvalidConfigurationException"}
      ]
    },
    "DeregisterManagedInstance":{
      "name":"DeregisterManagedInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterManagedInstanceRequest"},
      "output":{"shape":"DeregisterManagedInstanceResult"},
      "errors":[
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "DeregisterPatchBaselineForPatchGroup":{
      "name":"DeregisterPatchBaselineForPatchGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterPatchBaselineForPatchGroupRequest"},
      "output":{"shape":"DeregisterPatchBaselineForPatchGroupResult"},
      "errors":[
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "DeregisterTargetFromMaintenanceWindow":{
      "name":"DeregisterTargetFromMaintenanceWindow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterTargetFromMaintenanceWindowRequest"},
      "output":{"shape":"DeregisterTargetFromMaintenanceWindowResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"},
        {"shape":"TargetInUseException"}
      ]
    },
    "DeregisterTaskFromMaintenanceWindow":{
      "name":"DeregisterTaskFromMaintenanceWindow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterTaskFromMaintenanceWindowRequest"},
      "output":{"shape":"DeregisterTaskFromMaintenanceWindowResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeActivations":{
      "name":"DescribeActivations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeActivationsRequest"},
      "output":{"shape":"DescribeActivationsResult"},
      "errors":[
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeAssociation":{
      "name":"DescribeAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssociationRequest"},
      "output":{"shape":"DescribeAssociationResult"},
      "errors":[
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InvalidAssociationVersion"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"}
      ]
    },
    "DescribeAssociationExecutionTargets":{
      "name":"DescribeAssociationExecutionTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssociationExecutionTargetsRequest"},
      "output":{"shape":"DescribeAssociationExecutionTargetsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InvalidNextToken"},
        {"shape":"AssociationExecutionDoesNotExist"}
      ]
    },
    "DescribeAssociationExecutions":{
      "name":"DescribeAssociationExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssociationExecutionsRequest"},
      "output":{"shape":"DescribeAssociationExecutionsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeAutomationExecutions":{
      "name":"DescribeAutomationExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutomationExecutionsRequest"},
      "output":{"shape":"DescribeAutomationExecutionsResult"},
      "errors":[
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidFilterValue"},
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeAutomationStepExecutions":{
      "name":"DescribeAutomationStepExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutomationStepExecutionsRequest"},
      "output":{"shape":"DescribeAutomationStepExecutionsResult"},
      "errors":[
        {"shape":"AutomationExecutionNotFoundException"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidFilterValue"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeAvailablePatches":{
      "name":"DescribeAvailablePatches",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAvailablePatchesRequest"},
      "output":{"shape":"DescribeAvailablePatchesResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeDocument":{
      "name":"DescribeDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentRequest"},
      "output":{"shape":"DescribeDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"}
      ]
    },
    "DescribeDocumentPermission":{
      "name":"DescribeDocumentPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentPermissionRequest"},
      "output":{"shape":"DescribeDocumentPermissionResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidPermissionType"}
      ]
    },
    "DescribeEffectiveInstanceAssociations":{
      "name":"DescribeEffectiveInstanceAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEffectiveInstanceAssociationsRequest"},
      "output":{"shape":"DescribeEffectiveInstanceAssociationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeEffectivePatchesForPatchBaseline":{
      "name":"DescribeEffectivePatchesForPatchBaseline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEffectivePatchesForPatchBaselineRequest"},
      "output":{"shape":"DescribeEffectivePatchesForPatchBaselineResult"},
      "errors":[
        {"shape":"InvalidResourceId"},
        {"shape":"DoesNotExistException"},
        {"shape":"UnsupportedOperatingSystem"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeInstanceAssociationsStatus":{
      "name":"DescribeInstanceAssociationsStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceAssociationsStatusRequest"},
      "output":{"shape":"DescribeInstanceAssociationsStatusResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeInstanceInformation":{
      "name":"DescribeInstanceInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceInformationRequest"},
      "output":{"shape":"DescribeInstanceInformationResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidInstanceInformationFilterValue"},
        {"shape":"InvalidFilterKey"}
      ]
    },
    "DescribeInstancePatchStates":{
      "name":"DescribeInstancePatchStates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancePatchStatesRequest"},
      "output":{"shape":"DescribeInstancePatchStatesResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeInstancePatchStatesForPatchGroup":{
      "name":"DescribeInstancePatchStatesForPatchGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancePatchStatesForPatchGroupRequest"},
      "output":{"shape":"DescribeInstancePatchStatesForPatchGroupResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeInstancePatches":{
      "name":"DescribeInstancePatches",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancePatchesRequest"},
      "output":{"shape":"DescribeInstancePatchesResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeInventoryDeletions":{
      "name":"DescribeInventoryDeletions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInventoryDeletionsRequest"},
      "output":{"shape":"DescribeInventoryDeletionsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDeletionIdException"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeMaintenanceWindowExecutionTaskInvocations":{
      "name":"DescribeMaintenanceWindowExecutionTaskInvocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceWindowExecutionTaskInvocationsRequest"},
      "output":{"shape":"DescribeMaintenanceWindowExecutionTaskInvocationsResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeMaintenanceWindowExecutionTasks":{
      "name":"DescribeMaintenanceWindowExecutionTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceWindowExecutionTasksRequest"},
      "output":{"shape":"DescribeMaintenanceWindowExecutionTasksResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeMaintenanceWindowExecutions":{
      "name":"DescribeMaintenanceWindowExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceWindowExecutionsRequest"},
      "output":{"shape":"DescribeMaintenanceWindowExecutionsResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeMaintenanceWindowSchedule":{
      "name":"DescribeMaintenanceWindowSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceWindowScheduleRequest"},
      "output":{"shape":"DescribeMaintenanceWindowScheduleResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"DoesNotExistException"}
      ]
    },
    "DescribeMaintenanceWindowTargets":{
      "name":"DescribeMaintenanceWindowTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceWindowTargetsRequest"},
      "output":{"shape":"DescribeMaintenanceWindowTargetsResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeMaintenanceWindowTasks":{
      "name":"DescribeMaintenanceWindowTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceWindowTasksRequest"},
      "output":{"shape":"DescribeMaintenanceWindowTasksResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeMaintenanceWindows":{
      "name":"DescribeMaintenanceWindows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceWindowsRequest"},
      "output":{"shape":"DescribeMaintenanceWindowsResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeMaintenanceWindowsForTarget":{
      "name":"DescribeMaintenanceWindowsForTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceWindowsForTargetRequest"},
      "output":{"shape":"DescribeMaintenanceWindowsForTargetResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeOpsItems":{
      "name":"DescribeOpsItems",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOpsItemsRequest"},
      "output":{"shape":"DescribeOpsItemsResponse"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeParameters":{
      "name":"DescribeParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeParametersRequest"},
      "output":{"shape":"DescribeParametersResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidFilterOption"},
        {"shape":"InvalidFilterValue"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribePatchBaselines":{
      "name":"DescribePatchBaselines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePatchBaselinesRequest"},
      "output":{"shape":"DescribePatchBaselinesResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribePatchGroupState":{
      "name":"DescribePatchGroupState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePatchGroupStateRequest"},
      "output":{"shape":"DescribePatchGroupStateResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribePatchGroups":{
      "name":"DescribePatchGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePatchGroupsRequest"},
      "output":{"shape":"DescribePatchGroupsResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribePatchProperties":{
      "name":"DescribePatchProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePatchPropertiesRequest"},
      "output":{"shape":"DescribePatchPropertiesResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeSessions":{
      "name":"DescribeSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSessionsRequest"},
      "output":{"shape":"DescribeSessionsResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "GetAutomationExecution":{
      "name":"GetAutomationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAutomationExecutionRequest"},
      "output":{"shape":"GetAutomationExecutionResult"},
      "errors":[
        {"shape":"AutomationExecutionNotFoundException"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetCalendarState":{
      "name":"GetCalendarState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCalendarStateRequest"},
      "output":{"shape":"GetCalendarStateResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentType"},
        {"shape":"UnsupportedCalendarException"}
      ]
    },
    "GetCommandInvocation":{
      "name":"GetCommandInvocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCommandInvocationRequest"},
      "output":{"shape":"GetCommandInvocationResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidPluginName"},
        {"shape":"InvocationDoesNotExist"}
      ]
    },
    "GetConnectionStatus":{
      "name":"GetConnectionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectionStatusRequest"},
      "output":{"shape":"GetConnectionStatusResponse"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "GetDefaultPatchBaseline":{
      "name":"GetDefaultPatchBaseline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDefaultPatchBaselineRequest"},
      "output":{"shape":"GetDefaultPatchBaselineResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "GetDeployablePatchSnapshotForInstance":{
      "name":"GetDeployablePatchSnapshotForInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeployablePatchSnapshotForInstanceRequest"},
      "output":{"shape":"GetDeployablePatchSnapshotForInstanceResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"UnsupportedOperatingSystem"},
        {"shape":"UnsupportedFeatureRequiredException"}
      ]
    },
    "GetDocument":{
      "name":"GetDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDocumentRequest"},
      "output":{"shape":"GetDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"}
      ]
    },
    "GetInventory":{
      "name":"GetInventory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInventoryRequest"},
      "output":{"shape":"GetInventoryResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidFilter"},
        {"shape":"InvalidInventoryGroupException"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidTypeNameException"},
        {"shape":"InvalidAggregatorException"},
        {"shape":"InvalidResultAttributeException"}
      ]
    },
    "GetInventorySchema":{
      "name":"GetInventorySchema",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInventorySchemaRequest"},
      "output":{"shape":"GetInventorySchemaResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidTypeNameException"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "GetMaintenanceWindow":{
      "name":"GetMaintenanceWindow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMaintenanceWindowRequest"},
      "output":{"shape":"GetMaintenanceWindowResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetMaintenanceWindowExecution":{
      "name":"GetMaintenanceWindowExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMaintenanceWindowExecutionRequest"},
      "output":{"shape":"GetMaintenanceWindowExecutionResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetMaintenanceWindowExecutionTask":{
      "name":"GetMaintenanceWindowExecutionTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMaintenanceWindowExecutionTaskRequest"},
      "output":{"shape":"GetMaintenanceWindowExecutionTaskResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetMaintenanceWindowExecutionTaskInvocation":{
      "name":"GetMaintenanceWindowExecutionTaskInvocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMaintenanceWindowExecutionTaskInvocationRequest"},
      "output":{"shape":"GetMaintenanceWindowExecutionTaskInvocationResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetMaintenanceWindowTask":{
      "name":"GetMaintenanceWindowTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMaintenanceWindowTaskRequest"},
      "output":{"shape":"GetMaintenanceWindowTaskResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetOpsItem":{
      "name":"GetOpsItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOpsItemRequest"},
      "output":{"shape":"GetOpsItemResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"OpsItemNotFoundException"}
      ]
    },
    "GetOpsSummary":{
      "name":"GetOpsSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOpsSummaryRequest"},
      "output":{"shape":"GetOpsSummaryResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ResourceDataSyncNotFoundException"},
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidTypeNameException"},
        {"shape":"InvalidAggregatorException"}
      ]
    },
    "GetParameter":{
      "name":"GetParameter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetParameterRequest"},
      "output":{"shape":"GetParameterResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidKeyId"},
        {"shape":"ParameterNotFound"},
        {"shape":"ParameterVersionNotFound"}
      ]
    },
    "GetParameterHistory":{
      "name":"GetParameterHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetParameterHistoryRequest"},
      "output":{"shape":"GetParameterHistoryResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ParameterNotFound"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidKeyId"}
      ]
    },
    "GetParameters":{
      "name":"GetParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetParametersRequest"},
      "output":{"shape":"GetParametersResult"},
      "errors":[
        {"shape":"InvalidKeyId"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetParametersByPath":{
      "name":"GetParametersByPath",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetParametersByPathRequest"},
      "output":{"shape":"GetParametersByPathResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidFilterOption"},
        {"shape":"InvalidFilterValue"},
        {"shape":"InvalidKeyId"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "GetPatchBaseline":{
      "name":"GetPatchBaseline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPatchBaselineRequest"},
      "output":{"shape":"GetPatchBaselineResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetPatchBaselineForPatchGroup":{
      "name":"GetPatchBaselineForPatchGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPatchBaselineForPatchGroupRequest"},
      "output":{"shape":"GetPatchBaselineForPatchGroupResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "GetServiceSetting":{
      "name":"GetServiceSetting",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceSettingRequest"},
      "output":{"shape":"GetServiceSettingResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ServiceSettingNotFound"}
      ]
    },
    "LabelParameterVersion":{
      "name":"LabelParameterVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"LabelParameterVersionRequest"},
      "output":{"shape":"LabelParameterVersionResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"TooManyUpdates"},
        {"shape":"ParameterNotFound"},
        {"shape":"ParameterVersionNotFound"},
        {"shape":"ParameterVersionLabelLimitExceeded"}
      ]
    },
    "ListAssociationVersions":{
      "name":"ListAssociationVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociationVersionsRequest"},
      "output":{"shape":"ListAssociationVersionsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"},
        {"shape":"AssociationDoesNotExist"}
      ]
    },
    "ListAssociations":{
      "name":"ListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociationsRequest"},
      "output":{"shape":"ListAssociationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListCommandInvocations":{
      "name":"ListCommandInvocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandInvocationsRequest"},
      "output":{"shape":"ListCommandInvocationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListCommands":{
      "name":"ListCommands",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandsRequest"},
      "output":{"shape":"ListCommandsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListComplianceItems":{
      "name":"ListComplianceItems",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListComplianceItemsRequest"},
      "output":{"shape":"ListComplianceItemsResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListComplianceSummaries":{
      "name":"ListComplianceSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListComplianceSummariesRequest"},
      "output":{"shape":"ListComplianceSummariesResult"},
      "errors":[
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServerError"}
      ]
    },
    "ListDocumentVersions":{
      "name":"ListDocumentVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentVersionsRequest"},
      "output":{"shape":"ListDocumentVersionsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidDocument"}
      ]
    },
    "ListDocuments":{
      "name":"ListDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentsRequest"},
      "output":{"shape":"ListDocumentsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidFilterKey"}
      ]
    },
    "ListInventoryEntries":{
      "name":"ListInventoryEntries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInventoryEntriesRequest"},
      "output":{"shape":"ListInventoryEntriesResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidTypeNameException"},
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListResourceComplianceSummaries":{
      "name":"ListResourceComplianceSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceComplianceSummariesRequest"},
      "output":{"shape":"ListResourceComplianceSummariesResult"},
      "errors":[
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServerError"}
      ]
    },
    "ListResourceDataSync":{
      "name":"ListResourceDataSync",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceDataSyncRequest"},
      "output":{"shape":"ListResourceDataSyncResult"},
      "errors":[
        {"shape":"ResourceDataSyncInvalidConfigurationException"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "ModifyDocumentPermission":{
      "name":"ModifyDocumentPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDocumentPermissionRequest"},
      "output":{"shape":"ModifyDocumentPermissionResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidPermissionType"},
        {"shape":"DocumentPermissionLimit"},
        {"shape":"DocumentLimitExceeded"}
      ]
    },
    "PutComplianceItems":{
      "name":"PutComplianceItems",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutComplianceItemsRequest"},
      "output":{"shape":"PutComplianceItemsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidItemContentException"},
        {"shape":"TotalSizeLimitExceededException"},
        {"shape":"ItemSizeLimitExceededException"},
        {"shape":"ComplianceTypeCountLimitExceededException"},
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"}
      ]
    },
    "PutInventory":{
      "name":"PutInventory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutInventoryRequest"},
      "output":{"shape":"PutInventoryResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidTypeNameException"},
        {"shape":"InvalidItemContentException"},
        {"shape":"TotalSizeLimitExceededException"},
        {"shape":"ItemSizeLimitExceededException"},
        {"shape":"ItemContentMismatchException"},
        {"shape":"CustomSchemaCountLimitExceededException"},
        {"shape":"UnsupportedInventorySchemaVersionException"},
        {"shape":"UnsupportedInventoryItemContextException"},
        {"shape":"InvalidInventoryItemContextException"},
        {"shape":"SubTypeCountLimitExceededException"}
      ]
    },
    "PutParameter":{
      "name":"PutParameter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutParameterRequest"},
      "output":{"shape":"PutParameterResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidKeyId"},
        {"shape":"ParameterLimitExceeded"},
        {"shape":"TooManyUpdates"},
        {"shape":"ParameterAlreadyExists"},
        {"shape":"HierarchyLevelLimitExceededException"},
        {"shape":"HierarchyTypeMismatchException"},
        {"shape":"InvalidAllowedPatternException"},
        {"shape":"ParameterMaxVersionLimitExceeded"},
        {"shape":"ParameterPatternMismatchException"},
        {"shape":"UnsupportedParameterType"},
        {"shape":"PoliciesLimitExceededException"},
        {"shape":"InvalidPolicyTypeException"},
        {"shape":"InvalidPolicyAttributeException"},
        {"shape":"IncompatiblePolicyException"}
      ]
    },
    "RegisterDefaultPatchBaseline":{
      "name":"RegisterDefaultPatchBaseline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterDefaultPatchBaselineRequest"},
      "output":{"shape":"RegisterDefaultPatchBaselineResult"},
      "errors":[
        {"shape":"InvalidResourceId"},
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "RegisterPatchBaselineForPatchGroup":{
      "name":"RegisterPatchBaselineForPatchGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterPatchBaselineForPatchGroupRequest"},
      "output":{"shape":"RegisterPatchBaselineForPatchGroupResult"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"DoesNotExistException"},
        {"shape":"InvalidResourceId"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InternalServerError"}
      ]
    },
    "RegisterTargetWithMaintenanceWindow":{
      "name":"RegisterTargetWithMaintenanceWindow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterTargetWithMaintenanceWindowRequest"},
      "output":{"shape":"RegisterTargetWithMaintenanceWindowResult"},
      "errors":[
        {"shape":"IdempotentParameterMismatch"},
        {"shape":"DoesNotExistException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InternalServerError"}
      ]
    },
    "RegisterTaskWithMaintenanceWindow":{
      "name":"RegisterTaskWithMaintenanceWindow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterTaskWithMaintenanceWindowRequest"},
      "output":{"shape":"RegisterTaskWithMaintenanceWindowResult"},
      "errors":[
        {"shape":"IdempotentParameterMismatch"},
        {"shape":"DoesNotExistException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"FeatureNotAvailableException"},
        {"shape":"InternalServerError"}
      ]
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceRequest"},
      "output":{"shape":"RemoveTagsFromResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "ResetServiceSetting":{
      "name":"ResetServiceSetting",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetServiceSettingRequest"},
      "output":{"shape":"ResetServiceSettingResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ServiceSettingNotFound"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "ResumeSession":{
      "name":"ResumeSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResumeSessionRequest"},
      "output":{"shape":"ResumeSessionResponse"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "SendAutomationSignal":{
      "name":"SendAutomationSignal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendAutomationSignalRequest"},
      "output":{"shape":"SendAutomationSignalResult"},
      "errors":[
        {"shape":"AutomationExecutionNotFoundException"},
        {"shape":"AutomationStepNotFoundException"},
        {"shape":"InvalidAutomationSignalException"},
        {"shape":"InternalServerError"}
      ]
    },
    "SendCommand":{
      "name":"SendCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendCommandRequest"},
      "output":{"shape":"SendCommandResult"},
      "errors":[
        {"shape":"DuplicateInstanceId"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"InvalidOutputFolder"},
        {"shape":"InvalidParameters"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"InvalidRole"},
        {"shape":"InvalidNotificationConfig"}
      ]
    },
    "StartAssociationsOnce":{
      "name":"StartAssociationsOnce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartAssociationsOnceRequest"},
      "output":{"shape":"StartAssociationsOnceResult"},
      "errors":[
        {"shape":"InvalidAssociation"},
        {"shape":"AssociationDoesNotExist"}
      ]
    },
    "StartAutomationExecution":{
      "name":"StartAutomationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartAutomationExecutionRequest"},
      "output":{"shape":"StartAutomationExecutionResult"},
      "errors":[
        {"shape":"AutomationDefinitionNotFoundException"},
        {"shape":"InvalidAutomationExecutionParametersException"},
        {"shape":"AutomationExecutionLimitExceededException"},
        {"shape":"AutomationDefinitionVersionNotFoundException"},
        {"shape":"IdempotentParameterMismatch"},
        {"shape":"InvalidTarget"},
        {"shape":"InternalServerError"}
      ]
    },
    "StartSession":{
      "name":"StartSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSessionRequest"},
      "output":{"shape":"StartSessionResponse"},
      "errors":[
        {"shape":"InvalidDocument"},
        {"shape":"TargetNotConnected"},
        {"shape":"InternalServerError"}
      ]
    },
    "StopAutomationExecution":{
      "name":"StopAutomationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAutomationExecutionRequest"},
      "output":{"shape":"StopAutomationExecutionResult"},
      "errors":[
        {"shape":"AutomationExecutionNotFoundException"},
        {"shape":"InvalidAutomationStatusUpdateException"},
        {"shape":"InternalServerError"}
      ]
    },
    "TerminateSession":{
      "name":"TerminateSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateSessionRequest"},
      "output":{"shape":"TerminateSessionResponse"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateAssociation":{
      "name":"UpdateAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssociationRequest"},
      "output":{"shape":"UpdateAssociationResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidSchedule"},
        {"shape":"InvalidParameters"},
        {"shape":"InvalidOutputLocation"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InvalidUpdate"},
        {"shape":"TooManyUpdates"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidTarget"},
        {"shape":"InvalidAssociationVersion"},
        {"shape":"AssociationVersionLimitExceeded"}
      ]
    },
    "UpdateAssociationStatus":{
      "name":"UpdateAssociationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssociationStatusRequest"},
      "output":{"shape":"UpdateAssociationStatusResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"StatusUnchanged"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "UpdateDocument":{
      "name":"UpdateDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDocumentRequest"},
      "output":{"shape":"UpdateDocumentResult"},
      "errors":[
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"DocumentVersionLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"DuplicateDocumentContent"},
        {"shape":"DuplicateDocumentVersionName"},
        {"shape":"InvalidDocumentContent"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"InvalidDocumentSchemaVersion"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentOperation"}
      ]
    },
    "UpdateDocumentDefaultVersion":{
      "name":"UpdateDocumentDefaultVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDocumentDefaultVersionRequest"},
      "output":{"shape":"UpdateDocumentDefaultVersionResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"InvalidDocumentSchemaVersion"}
      ]
    },
    "UpdateMaintenanceWindow":{
      "name":"UpdateMaintenanceWindow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMaintenanceWindowRequest"},
      "output":{"shape":"UpdateMaintenanceWindowResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateMaintenanceWindowTarget":{
      "name":"UpdateMaintenanceWindowTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMaintenanceWindowTargetRequest"},
      "output":{"shape":"UpdateMaintenanceWindowTargetResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateMaintenanceWindowTask":{
      "name":"UpdateMaintenanceWindowTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMaintenanceWindowTaskRequest"},
      "output":{"shape":"UpdateMaintenanceWindowTaskResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateManagedInstanceRole":{
      "name":"UpdateManagedInstanceRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateManagedInstanceRoleRequest"},
      "output":{"shape":"UpdateManagedInstanceRoleResult"},
      "errors":[
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateOpsItem":{
      "name":"UpdateOpsItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateOpsItemRequest"},
      "output":{"shape":"UpdateOpsItemResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"OpsItemNotFoundException"},
        {"shape":"OpsItemAlreadyExistsException"},
        {"shape":"OpsItemLimitExceededException"},
        {"shape":"OpsItemInvalidParameterException"}
      ]
    },
    "UpdatePatchBaseline":{
      "name":"UpdatePatchBaseline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePatchBaselineRequest"},
      "output":{"shape":"UpdatePatchBaselineResult"},
      "errors":[
        {"shape":"DoesNotExistException"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateResourceDataSync":{
      "name":"UpdateResourceDataSync",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateResourceDataSyncRequest"},
      "output":{"shape":"UpdateResourceDataSyncResult"},
      "errors":[
        {"shape":"ResourceDataSyncNotFoundException"},
        {"shape":"ResourceDataSyncInvalidConfigurationException"},
        {"shape":"ResourceDataSyncConflictException"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateServiceSetting":{
      "name":"UpdateServiceSetting",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceSettingRequest"},
      "output":{"shape":"UpdateServiceSettingResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ServiceSettingNotFound"},
        {"shape":"TooManyUpdates"}
      ]
    }
  },
  "shapes":{
    "Account":{"type":"string"},
    "AccountId":{
      "type":"string",
      "pattern":"(?i)all|[0-9]{12}"
    },
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "max":20
    },
    "AccountSharingInfo":{
      "type":"structure",
      "members":{
        "AccountId":{"shape":"AccountId"},
        "SharedDocumentVersion":{"shape":"SharedDocumentVersion"}
      }
    },
    "AccountSharingInfoList":{
      "type":"list",
      "member":{"shape":"AccountSharingInfo"}
    },
    "Accounts":{
      "type":"list",
      "member":{"shape":"Account"},
      "max":50,
      "min":1
    },
    "Activation":{
      "type":"structure",
      "members":{
        "ActivationId":{"shape":"ActivationId"},
        "Description":{"shape":"ActivationDescription"},
        "DefaultInstanceName":{"shape":"DefaultInstanceName"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationLimit":{"shape":"RegistrationLimit"},
        "RegistrationsCount":{"shape":"RegistrationsCount"},
        "ExpirationDate":{"shape":"ExpirationDate"},
        "Expired":{"shape":"Boolean"},
        "CreatedDate":{"shape":"CreatedDate"},
        "Tags":{"shape":"TagList"}
      }
    },
    "ActivationCode":{
      "type":"string",
      "max":250,
      "min":20
    },
    "ActivationDescription":{
      "type":"string",
      "max":256,
      "min":0
    },
    "ActivationId":{
      "type":"string",
      "pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
    },
    "ActivationList":{
      "type":"list",
      "member":{"shape":"Activation"}
    },
    "AddTagsToResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId",
        "Tags"
      ],
      "members":{
        "ResourceType":{"shape":"ResourceTypeForTagging"},
        "ResourceId":{"shape":"ResourceId"},
        "Tags":{"shape":"TagList"}
      }
    },
    "AddTagsToResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "AgentErrorCode":{
      "type":"string",
      "max":10
    },
    "AggregatorSchemaOnly":{"type":"boolean"},
    "AllowedPattern":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ApplyOnlyAtCronInterval":{"type":"boolean"},
    "ApproveAfterDays":{
      "type":"integer",
      "max":100,
      "min":0
    },
    "AssociatedInstances":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Association":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentARN"},
        "InstanceId":{"shape":"InstanceId"},
        "AssociationId":{"shape":"AssociationId"},
        "AssociationVersion":{"shape":"AssociationVersion"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Targets":{"shape":"Targets"},
        "LastExecutionDate":{"shape":"DateTime"},
        "Overview":{"shape":"AssociationOverview"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "AssociationName":{"shape":"AssociationName"}
      }
    },
    "AssociationAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AssociationComplianceSeverity":{
      "type":"string",
      "enum":[
        "CRITICAL",
        "HIGH",
        "MEDIUM",
        "LOW",
        "UNSPECIFIED"
      ]
    },
    "AssociationDescription":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentARN"},
        "InstanceId":{"shape":"InstanceId"},
        "AssociationVersion":{"shape":"AssociationVersion"},
        "Date":{"shape":"DateTime"},
        "LastUpdateAssociationDate":{"shape":"DateTime"},
        "Status":{"shape":"AssociationStatus"},
        "Overview":{"shape":"AssociationOverview"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "AutomationTargetParameterName":{"shape":"AutomationTargetParameterName"},
        "Parameters":{"shape":"Parameters"},
        "AssociationId":{"shape":"AssociationId"},
        "Targets":{"shape":"Targets"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "OutputLocation":{"shape":"InstanceAssociationOutputLocation"},
        "LastExecutionDate":{"shape":"DateTime"},
        "LastSuccessfulExecutionDate":{"shape":"DateTime"},
        "AssociationName":{"shape":"AssociationName"},
        "MaxErrors":{"shape":"MaxErrors"},
        "MaxConcurrency":{"shape":"MaxConcurrency"},
        "ComplianceSeverity":{"shape":"AssociationComplianceSeverity"},
        "SyncCompliance":{"shape":"AssociationSyncCompliance"},
        "ApplyOnlyAtCronInterval":{"shape":"ApplyOnlyAtCronInterval"}
      }
    },
    "AssociationDescriptionList":{
      "type":"list",
      "member":{"shape":"AssociationDescription"}
    },
    "AssociationDoesNotExist":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AssociationExecution":{
      "type":"structure",
      "members":{
        "AssociationId":{"shape":"AssociationId"},
        "AssociationVersion":{"shape":"AssociationVersion"},
        "ExecutionId":{"shape":"AssociationExecutionId"},
        "Status":{"shape":"StatusName"},
        "DetailedStatus":{"shape":"StatusName"},
        "CreatedTime":{"shape":"DateTime"},
        "LastExecutionDate":{"shape":"DateTime"},
        "ResourceCountByStatus":{"shape":"ResourceCountByStatus"}
      }
    },
    "AssociationExecutionDoesNotExist":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AssociationExecutionFilter":{
      "type":"structure",
      "required":[
        "Key",
        "Value",
        "Type"
      ],
      "members":{
        "Key":{"shape":"AssociationExecutionFilterKey"},
        "Value":{"shape":"AssociationExecutionFilterValue"},
        "Type":{"shape":"AssociationFilterOperatorType"}
      }
    },
    "AssociationExecutionFilterKey":{
      "type":"string",
      "enum":[
        "ExecutionId",
        "Status",
        "CreatedTime"
      ]
    },
    "AssociationExecutionFilterList":{
      "type":"list",
      "member":{"shape":"AssociationExecutionFilter"},
      "min":1
    },
    "AssociationExecutionFilterValue":{
      "type":"string",
      "min":1
    },
    "AssociationExecutionId":{
      "type":"string",
      "pattern":"[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
    },
    "AssociationExecutionTarget":{
      "type":"structure",
      "members":{
        "AssociationId":{"shape":"AssociationId"},
        "AssociationVersion":{"shape":"AssociationVersion"},
        "ExecutionId":{"shape":"AssociationExecutionId"},
        "ResourceId":{"shape":"AssociationResourceId"},
        "ResourceType":{"shape":"AssociationResourceType"},
        "Status":{"shape":"StatusName"},
        "DetailedStatus":{"shape":"StatusName"},
        "LastExecutionDate":{"shape":"DateTime"},
        "OutputSource":{"shape":"OutputSource"}
      }
    },
    "AssociationExecutionTargetsFilter":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"AssociationExecutionTargetsFilterKey"},
        "Value":{"shape":"AssociationExecutionTargetsFilterValue"}
      }
    },
    "AssociationExecutionTargetsFilterKey":{
      "type":"string",
      "enum":[
        "Status",
        "ResourceId",
        "ResourceType"
      ]
    },
    "AssociationExecutionTargetsFilterList":{
      "type":"list",
      "member":{"shape":"AssociationExecutionTargetsFilter"},
      "min":1
    },
    "AssociationExecutionTargetsFilterValue":{
      "type":"string",
      "min":1
    },
    "AssociationExecutionTargetsList":{
      "type":"list",
      "member":{"shape":"AssociationExecutionTarget"}
    },
    "AssociationExecutionsList":{
      "type":"list",
      "member":{"shape":"AssociationExecution"}
    },
    "AssociationFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"AssociationFilterKey"},
        "value":{"shape":"AssociationFilterValue"}
      }
    },
    "AssociationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceId",
        "Name",
        "AssociationId",
        "AssociationStatusName",
        "LastExecutedBefore",
        "LastExecutedAfter",
        "AssociationName",
        "ResourceGroupName"
      ]
    },
    "AssociationFilterList":{
      "type":"list",
      "member":{"shape":"AssociationFilter"},
      "min":1
    },
    "AssociationFilterOperatorType":{
      "type":"string",
      "enum":[
        "EQUAL",
        "LESS_THAN",
        "GREATER_THAN"
      ]
    },
    "AssociationFilterValue":{
      "type":"string",
      "min":1
    },
    "AssociationId":{
      "type":"string",
      "pattern":"[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
    },
    "AssociationIdList":{
      "type":"list",
      "member":{"shape":"AssociationId"},
      "max":10,
      "min":1
    },
    "AssociationLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AssociationList":{
      "type":"list",
      "member":{"shape":"Association"}
    },
    "AssociationName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.]{3,128}$"
    },
    "AssociationOverview":{
      "type":"structure",
      "members":{
        "Status":{"shape":"StatusName"},
        "DetailedStatus":{"shape":"StatusName"},
        "AssociationStatusAggregatedCount":{"shape":"AssociationStatusAggregatedCount"}
      }
    },
    "AssociationResourceId":{
      "type":"string",
      "max":100,
      "min":1
    },
    "AssociationResourceType":{
      "type":"string",
      "max":50,
      "min":1
    },
    "AssociationStatus":{
      "type":"structure",
      "required":[
        "Date",
        "Name",
        "Message"
      ],
      "members":{
        "Date":{"shape":"DateTime"},
        "Name":{"shape":"AssociationStatusName"},
        "Message":{"shape":"StatusMessage"},
        "AdditionalInfo":{"shape":"StatusAdditionalInfo"}
      }
    },
    "AssociationStatusAggregatedCount":{
      "type":"map",
      "key":{"shape":"StatusName"},
      "value":{"shape":"InstanceCount"}
    },
    "AssociationStatusName":{
      "type":"string",
      "enum":[
        "Pending",
        "Success",
        "Failed"
      ]
    },
    "AssociationSyncCompliance":{
      "type":"string",
      "enum":[
        "AUTO",
        "MANUAL"
      ]
    },
    "AssociationVersion":{
      "type":"string",
      "pattern":"([$]LATEST)|([1-9][0-9]*)"
    },
    "AssociationVersionInfo":{
      "type":"structure",
      "members":{
        "AssociationId":{"shape":"AssociationId"},
        "AssociationVersion":{"shape":"AssociationVersion"},
        "CreatedDate":{"shape":"DateTime"},
        "Name":{"shape":"DocumentARN"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Parameters":{"shape":"Parameters"},
        "Targets":{"shape":"Targets"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "OutputLocation":{"shape":"InstanceAssociationOutputLocation"},
        "AssociationName":{"shape":"AssociationName"},
        "MaxErrors":{"shape":"MaxErrors"},
        "MaxConcurrency":{"shape":"MaxConcurrency"},
        "ComplianceSeverity":{"shape":"AssociationComplianceSeverity"},
        "SyncCompliance":{"shape":"AssociationSyncCompliance"},
        "ApplyOnlyAtCronInterval":{"shape":"ApplyOnlyAtCronInterval"}
      }
    },
    "AssociationVersionLimitExceeded":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AssociationVersionList":{
      "type":"list",
      "member":{"shape":"AssociationVersionInfo"},
      "min":1
    },
    "AttachmentContent":{
      "type":"structure",
      "members":{
        "Name":{"shape":"AttachmentName"},
        "Size":{"shape":"ContentLength"},
        "Hash":{"shape":"AttachmentHash"},
        "HashType":{"shape":"AttachmentHashType"},
        "Url":{"shape":"AttachmentUrl"}
      }
    },
    "AttachmentContentList":{
      "type":"list",
      "member":{"shape":"AttachmentContent"}
    },
    "AttachmentHash":{
      "type":"string",
      "max":256
    },
    "AttachmentHashType":{
      "type":"string",
      "enum":["Sha256"]
    },
    "AttachmentIdentifier":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.]{3,128}$"
    },
    "AttachmentInformation":{
      "type":"structure",
      "members":{
        "Name":{"shape":"AttachmentName"}
      }
    },
    "AttachmentInformationList":{
      "type":"list",
      "member":{"shape":"AttachmentInformation"}
    },
    "AttachmentName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.]{3,128}$"
    },
    "AttachmentUrl":{"type":"string"},
    "AttachmentsSource":{
      "type":"structure",
      "members":{
        "Key":{"shape":"AttachmentsSourceKey"},
        "Values":{"shape":"AttachmentsSourceValues"},
        "Name":{"shape":"AttachmentIdentifier"}
      }
    },
    "AttachmentsSourceKey":{
      "type":"string",
      "enum":[
        "SourceUrl",
        "S3FileUrl",
        "AttachmentReference"
      ]
    },
    "AttachmentsSourceList":{
      "type":"list",
      "member":{"shape":"AttachmentsSource"},
      "max":20,
      "min":0
    },
    "AttachmentsSourceValue":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "AttachmentsSourceValues":{
      "type":"list",
      "member":{"shape":"AttachmentsSourceValue"},
      "max":1,
      "min":1
    },
    "AttributeName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "AttributeValue":{
      "type":"string",
      "max":4096,
      "min":0
    },
    "AutomationActionName":{
      "type":"string",
      "pattern":"^aws:[a-zA-Z]{3,25}$"
    },
    "AutomationDefinitionNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationDefinitionVersionNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationExecution":{
      "type":"structure",
      "members":{
        "AutomationExecutionId":{"shape":"AutomationExecutionId"},
        "DocumentName":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "ExecutionStartTime":{"shape":"DateTime"},
        "ExecutionEndTime":{"shape":"DateTime"},
        "AutomationExecutionStatus":{"shape":"AutomationExecutionStatus"},
        "StepExecutions":{"shape":"StepExecutionList"},
        "StepExecutionsTruncated":{"shape":"Boolean"},
        "Parameters":{"shape":"AutomationParameterMap"},
        "Outputs":{"shape":"AutomationParameterMap"},
        "FailureMessage":{"shape":"String"},
        "Mode":{"shape":"ExecutionMode"},
        "ParentAutomationExecutionId":{"shape":"AutomationExecutionId"},
        "ExecutedBy":{"shape":"String"},
        "CurrentStepName":{"shape":"String"},
        "CurrentAction":{"shape":"String"},
        "TargetParameterName":{"shape":"AutomationParameterKey"},
        "Targets":{"shape":"Targets"},
        "TargetMaps":{"shape":"TargetMaps"},
        "ResolvedTargets":{"shape":"ResolvedTargets"},
        "MaxConcurrency":{"shape":"MaxConcurrency"},
        "MaxErrors":{"shape":"MaxErrors"},
        "Target":{"shape":"String"},
        "TargetLocations":{
          "shape":"TargetLocations",
          "box":true
        },
        "ProgressCounters":{"shape":"ProgressCounters"}
      }
    },
    "AutomationExecutionFilter":{
      "type":"structure",
      "required":[
        "Key",
        "Values"
      ],
      "members":{
        "Key":{"shape":"AutomationExecutionFilterKey"},
        "Values":{"shape":"AutomationExecutionFilterValueList"}
      }
    },
    "AutomationExecutionFilterKey":{
      "type":"string",
      "enum":[
        "DocumentNamePrefix",
        "ExecutionStatus",
        "ExecutionId",
        "ParentExecutionId",
        "CurrentAction",
        "StartTimeBefore",
        "StartTimeAfter",
        "AutomationType",
        "TagKey",
        "TargetResourceGroup"
      ]
    },
    "AutomationExecutionFilterList":{
      "type":"list",
      "member":{"shape":"AutomationExecutionFilter"},
      "max":10,
      "min":1
    },
    "AutomationExecutionFilterValue":{
      "type":"string",
      "max":150,
      "min":1
    },
    "AutomationExecutionFilterValueList":{
      "type":"list",
      "member":{"shape":"AutomationExecutionFilterValue"},
      "max":10,
      "min":1
    },
    "AutomationExecutionId":{
      "type":"string",
      "max":36,
      "min":36
    },
    "AutomationExecutionLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationExecutionMetadata":{
      "type":"structure",
      "members":{
        "AutomationExecutionId":{"shape":"AutomationExecutionId"},
        "DocumentName":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "AutomationExecutionStatus":{"shape":"AutomationExecutionStatus"},
        "ExecutionStartTime":{"shape":"DateTime"},
        "ExecutionEndTime":{"shape":"DateTime"},
        "ExecutedBy":{"shape":"String"},
        "LogFile":{"shape":"String"},
        "Outputs":{"shape":"AutomationParameterMap"},
        "Mode":{"shape":"ExecutionMode"},
        "ParentAutomationExecutionId":{"shape":"AutomationExecutionId"},
        "CurrentStepName":{"shape":"String"},
        "CurrentAction":{"shape":"String"},
        "FailureMessage":{"shape":"String"},
        "TargetParameterName":{"shape":"AutomationParameterKey"},
        "Targets":{"shape":"Targets"},
        "TargetMaps":{"shape":"TargetMaps"},
        "ResolvedTargets":{"shape":"ResolvedTargets"},
        "MaxConcurrency":{"shape":"MaxConcurrency"},
        "MaxErrors":{"shape":"MaxErrors"},
        "Target":{"shape":"String"},
        "AutomationType":{"shape":"AutomationType"}
      }
    },
    "AutomationExecutionMetadataList":{
      "type":"list",
      "member":{"shape":"AutomationExecutionMetadata"}
    },
    "AutomationExecutionNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationExecutionStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Waiting",
        "Success",
        "TimedOut",
        "Cancelling",
        "Cancelled",
        "Failed"
      ]
    },
    "AutomationParameterKey":{
      "type":"string",
      "max":50,
      "min":1
    },
    "AutomationParameterMap":{
      "type":"map",
      "key":{"shape":"AutomationParameterKey"},
      "value":{"shape":"AutomationParameterValueList"},
      "max":200,
      "min":1
    },
    "AutomationParameterValue":{
      "type":"string",
      "max":512,
      "min":1
    },
    "AutomationParameterValueList":{
      "type":"list",
      "member":{"shape":"AutomationParameterValue"},
      "max":10,
      "min":0
    },
    "AutomationStepNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationTargetParameterName":{
      "type":"string",
      "max":50,
      "min":1
    },
    "AutomationType":{
      "type":"string",
      "enum":[
        "CrossAccount",
        "Local"
      ]
    },
    "BaselineDescription":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "BaselineId":{
      "type":"string",
      "max":128,
      "min":20,
      "pattern":"^[a-zA-Z0-9_\\-:/]{20,128}$"
    },
    "BaselineName":{
      "type":"string",
      "max":128,
      "min":3,
      "pattern":"^[a-zA-Z0-9_\\-.]{3,128}$"
    },
    "BatchErrorMessage":{"type":"string"},
    "Boolean":{"type":"boolean"},
    "CalendarNameOrARN":{"type":"string"},
    "CalendarNameOrARNList":{
      "type":"list",
      "member":{"shape":"CalendarNameOrARN"}
    },
    "CalendarState":{
      "type":"string",
      "enum":[
        "OPEN",
        "CLOSED"
      ]
    },
    "CancelCommandRequest":{
      "type":"structure",
      "required":["CommandId"],
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceIds":{"shape":"InstanceIdList"}
      }
    },
    "CancelCommandResult":{
      "type":"structure",
      "members":{
      }
    },
    "CancelMaintenanceWindowExecutionRequest":{
      "type":"structure",
      "required":["WindowExecutionId"],
      "members":{
        "WindowExecutionId":{"shape":"MaintenanceWindowExecutionId"}
      }
    },
    "CancelMaintenanceWindowExecutionResult":{
      "type":"structure",
      "members":{
        "WindowExecutionId":{"shape":"MaintenanceWindowExecutionId"}
      }
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1
    },
    "CloudWatchLogGroupName":{
      "type":"string",
      "max":512,
      "min":1
    },
    "CloudWatchOutputConfig":{
      "type":"structure",
      "members":{
        "CloudWatchLogGroupName":{"shape":"CloudWatchLogGroupName"},
        "CloudWatchOutputEnabled":{"shape":"CloudWatchOutputEnabled"}
      }
    },
    "CloudWatchOutputEnabled":{"type":"boolean"},
    "Command":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "DocumentName":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Comment":{"shape":"Comment"},
        "ExpiresAfter":{"shape":"DateTime"},
        "Parameters":{"shape":"Parameters"},
        "InstanceIds":{"shape":"InstanceIdList"},
        "Targets":{"shape":"Targets"},
        "RequestedDateTime":{"shape":"DateTime"},
        "Status":{"shape":"CommandStatus"},
        "StatusDetails":{"shape":"StatusDetails"},
        "OutputS3Region":{"shape":"S3Region"},
        "OutputS3BucketName":{"shape":"S3BucketName"},
        "OutputS3KeyPrefix":{"shape":"S3KeyPrefix"},
        "MaxConcurrency":{"shape":"MaxConcurrency"},
        "MaxErrors":{"shape":"MaxErrors"},
        "TargetCount":{"shape":"TargetCount"},
        "CompletedCount":{"shape":"CompletedCount"},
        "ErrorCount":{"shape":"ErrorCount"},
        "DeliveryTimedOutCount":{"shape":"DeliveryTimedOutCount"},
        "ServiceRole":{"shape":"ServiceRole"},
        "NotificationConfig":{"shape":"NotificationConfig"},
        "CloudWatchOutputConfig":{"shape":"CloudWatchOutputConfig"},
        "TimeoutSeconds":{"shape":"TimeoutSeconds"}
      }
    },
    "CommandFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"CommandFilterKey"},
        "value":{"shape":"CommandFilterValue"}
      }
    },
    "CommandFilterKey":{
      "type":"string",
      "enum":[
        "InvokedAfter",
        "InvokedBefore",
        "Status",
        "ExecutionStage",
        "DocumentName"
      ]
    },
    "CommandFilterList":{
      "type":"list",
      "member":{"shape":"CommandFilter"},
      "max":5,
      "min":1
    },
    "CommandFilterValue":{
      "type":"string",
      "max":128,
      "min":1
    },
    "CommandId":{
      "type":"string",
      "max":36,
      "min":36
    },
    "CommandInvocation":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "InstanceName":{"shape":"InstanceTagName"},
        "Comment":{"shape":"Comment"},
        "DocumentName":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "RequestedDateTime":{"shape":"DateTime"},
        "Status":{"shape":"CommandInvocationStatus"},
        "StatusDetails":{"shape":"StatusDetails"},
        "TraceOutput":{"shape":"InvocationTraceOutput"},
        "StandardOutputUrl":{"shape":"Url"},
        "StandardErrorUrl":{"shape":"Url"},
        "CommandPlugins":{"shape":"CommandPluginList"},
        "ServiceRole":{"shape":"ServiceRole"},
        "NotificationConfig":{"shape":"NotificationConfig"},
        "CloudWatchOutputConfig":{"shape":"CloudWatchOutputConfig"}
      }
    },
    "CommandInvocationList":{
      "type":"list",
      "member":{"shape":"CommandInvocation"}
    },
    "CommandInvocationStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Delayed",
        "Success",
        "Cancelled",
        "TimedOut",
        "Failed",
        "Cancelling"
      ]
    },
    "CommandList":{
      "type":"list",
      "member":{"shape":"Command"}
    },
    "CommandMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "CommandPlugin":{
      "type":"structure",
      "members":{
        "Name":{"shape":"CommandPluginName"},
        "Status":{"shape":"CommandPluginStatus"},
        "StatusDetails":{"shape":"StatusDetails"},
        "ResponseCode":{"shape":"ResponseCode"},
        "ResponseStartDateTime":{"shape":"DateTime"},
        "ResponseFinishDateTime":{"shape":"DateTime"},
        "Output":{"shape":"CommandPluginOutput"},
        "StandardOutputUrl":{"shape":"Url"},
        "StandardErrorUrl":{"shape":"Url"},
        "OutputS3Region":{"shape":"S3Region"},
        "OutputS3BucketName":{"shape":"S3BucketName"},
        "OutputS3KeyPrefix":{"shape":"S3KeyPrefix"}
      }
    },
    "CommandPluginList":{
      "type":"list",
      "member":{"shape":"CommandPlugin"}
    },
    "CommandPluginName":{
      "type":"string",
      "min":4
    },
    "CommandPluginOutput":{
      "type":"string",
      "max":2500
    },
    "CommandPluginStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Success",
        "Cancelled",
        "Failed",
        "TimedOut",
        "Cancelling"
      ]
    },
    "Comment":{
      "type":"string",
      "max":100
    },
    "CompletedCount":{"type":"integer"},
    "ComplianceExecutionId":{
      "type":"string",
      "max":100
    },
    "ComplianceExecutionSummary":{
      "type":"structure",
      "required":["ExecutionTime"],
      "members":{
        "ExecutionTime":{"shape":"DateTime"},
        "ExecutionId":{"shape":"ComplianceExecutionId"},
        "ExecutionType":{"shape":"ComplianceExecutionType"}
      }
    },
    "ComplianceExecutionType":{
      "type":"string",
      "max":50
    },
    "ComplianceFilterValue":{"type":"string"},
    "ComplianceItem":{
      "type":"structure",
      "members":{
        "ComplianceType":{"shape":"ComplianceTypeName"},
        "ResourceType":{"shape":"ComplianceResourceType"},
        "ResourceId":{"shape":"ComplianceResourceId"},
        "Id":{"shape":"ComplianceItemId"},
        "Title":{"shape":"ComplianceItemTitle"},
        "Status":{"shape":"ComplianceStatus"},
        "Severity":{"shape":"ComplianceSeverity"},
        "ExecutionSummary":{"shape":"ComplianceExecutionSummary"},
        "Details":{"shape":"ComplianceItemDetails"}
      }
    },
    "ComplianceItemContentHash":{
      "type":"string",
      "max":256
    },
    "ComplianceItemDetails":{
      "type":"map",
      "key":{"shape":"AttributeName"},
      "value":{"shape":"AttributeValue"}
    },
    "ComplianceItemEntry":{
      "type":"structure",
      "required":[
        "Severity",
        "Status"
      ],
      "members":{
        "Id":{"shape":"ComplianceItemId"},
        "Title":{"shape":"ComplianceItemTitle"},
        "Severity":{"shape":"ComplianceSeverity"},
        "Status":{"shape":"ComplianceStatus"},
        "Details":{"shape":"ComplianceItemDetails"}
      }
    },
    "ComplianceItemEntryList":{
      "type":"list",
      "member":{"shape":"ComplianceItemEntry"},
      "max":10000,
      "min":0
    },
    "ComplianceItemId":{"type":"string"},
    "ComplianceItemList":{
      "type":"list",
      "member":{"shape":"ComplianceItem"}
    },
    "ComplianceItemTitle":{
      "type":"string",
      "max":500
    },
    "ComplianceQueryOperatorType":{
      "type":"string",
      "enum":[
        "EQUAL",
        "NOT_EQUAL",
        "BEGIN_WITH",
        "LESS_THAN",
        "GREATER_THAN"
      ]
    },
    "ComplianceResourceId":{
      "type":"string",
      "max":100,
      "min":1
    },
    "ComplianceResourceIdList":{
      "type":"list",
      "member":{"shape":"ComplianceResourceId"},
      "min":1
    },
    "ComplianceResourceType":{
      "type":"string",
      "max":50,
      "min":1
    },
    "ComplianceResourceTypeList":{
      "type":"list",
      "member":{"shape":"ComplianceResourceType"},
      "min":1
    },
    "ComplianceSeverity":{
      "type":"string",
      "enum":[
        "CRITICAL",
        "HIGH",
        "MEDIUM",
        "LOW",
        "INFORMATIONAL",
        "UNSPECIFIED"
      ]
    },
    "ComplianceStatus":{
      "type":"string",
      "enum":[
        "COMPLIANT",
        "NON_COMPLIANT"
      ]
    },
    "ComplianceStringFilter":{
      "type":"structure",
      "members":{
        "Key":{"shape":"ComplianceStringFilterKey"},
        "Values":{"shape":"ComplianceStringFilterValueList"},
        "Type":{"shape":"ComplianceQueryOperatorType"}
      }
    },
    "ComplianceStringFilterKey":{
      "type":"string",
      "max":200,
      "min":1
    },
    "ComplianceStringFilterList":{
      "type":"list",
      "member":{"shape":"ComplianceStringFilter"}
    },
    "ComplianceStringFilterValueList":{
      "type":"list",
      "member":{"shape":"ComplianceFilterValue"},
      "max":20,
      "min":1
    },
    "ComplianceSummaryCount":{"type":"integer"},
    "ComplianceSummaryItem":{
      "type":"structure",
      "members":{
        "ComplianceType":{"shape":"ComplianceTypeName"},
        "CompliantSummary":{"shape":"CompliantSummary"},
        "NonCompliantSummary":{"shape":"NonCompliantSummary"}
      }
    },
    "ComplianceSummaryItemList":{
      "type":"list",
      "member":{"shape":"ComplianceSummaryItem"}
    },
    "ComplianceTypeCountLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ComplianceTypeName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[A-Za-z0-9_\\-]\\w+|Custom:[a-zA-Z0-9_\\-]\\w+"
    },
    "ComplianceUploadType":{
      "type":"string",
      "enum":[
        "COMPLETE",
        "PARTIAL"
      ]
    },
    "CompliantSummary":{
      "type":"structure",
      "members":{
        "CompliantCount":{"shape":"ComplianceSummaryCount"},
        "SeveritySummary":{"shape":"SeveritySummary"}
      }
    },
    "ComputerName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ConnectionStatus":{
      "type":"string",
      "enum":[
        "Connected",
        "NotConnected"
      ]
    },
    "ContentLength":{"type":"long"},
    "CreateActivationRequest":{
      "type":"structure",
      "required":["IamRole"],
      "members":{
        "Description":{"shape":"ActivationDescription"},
        "DefaultInstanceName":{"shape":"DefaultInstanceName"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationLimit":{
          "shape":"RegistrationLimit",
          "box":true
        },
        "ExpirationDate":{"shape":"ExpirationDate"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateActivationResult":{
      "type":"structure",
      "members":{
        "ActivationId":{"shape":"ActivationId"},
        "ActivationCode":{"shape":"ActivationCode"}
      }
    },
    "CreateAssociationBatchRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"CreateAssociationBatchRequestEntries"}
      }
    },
    "CreateAssociationBatchRequestEntries":{
      "type":"list",
      "member":{"shape":"CreateAssociationBatchRequestEntry"},
      "min":1
    },
    "CreateAssociationBatchRequestEntry":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentARN"},
        "InstanceId":{"shape":"InstanceId"},
        "Parameters":{"shape":"Parameters"},
        "AutomationTargetParameterName":{"shape":"AutomationTargetParameterName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Targets":{"shape":"Targets"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "OutputLocation":{"shape":"InstanceAssociationOutputLocation"},
        "AssociationName":{"shape":"AssociationName"},
        "MaxErrors":{"shape":"MaxErrors"},
        "MaxConcurrency":{"shape":"MaxConcurrency"},
        "ComplianceSeverity":{"shape":"AssociationComplianceSeverity"},
        "SyncCompliance":{"shape":"AssociationSyncCompliance"},
        "ApplyOnlyAtCronInterval":{"shape":"ApplyOnlyAtCronInterval"}
      }
    },
    "CreateAssociationBatchResult":{
      "type":"structure",
      "members":{
        "Successful":{"shape":"AssociationDescriptionList"},
        "Failed":{"shape":"FailedCreateAssociationList"}
      }
    },
    "CreateAssociationRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentARN"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "InstanceId":{"shape":"InstanceId"},
        "Parameters":{"shape":"Parameters"},
        "Targets":{"shape":"Targets"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "OutputLocation":{"shape":"InstanceAssociationOutputLocation"},
        "AssociationName":{"shape":"AssociationName"},
        "AutomationTargetParameterName":{"shape":"AutomationTargetParameterName"},
        "MaxErrors":{"shape":"MaxErrors"},
        "MaxConcurrency":{"shape":"MaxConcurrency"},
        "ComplianceSeverity":{"shape":"AssociationComplianceSeverity"},
        "SyncCompliance":{"shape":"AssociationSyncCompliance"},
        "ApplyOnlyAtCronInterval":{"shape":"ApplyOnlyAtCronInterval"}
      }
    },
    "CreateAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    },
    "CreateDocumentRequest":{
      "type":"structure",
      "required":[
        "Content",
        "Name"
      ],
      "members":{
        "Content":{"shape":"DocumentContent"},
        "Requires":{"shape":"DocumentRequiresList"},
        "Attachments":{"shape":"AttachmentsSourceList"},
        "Name":{"shape":"DocumentName"},
        "VersionName":{"shape":"DocumentVersionName"},
        "DocumentType":{"shape":"DocumentType"},
        "DocumentFormat":{"shape":"DocumentFormat"},
        "TargetType":{"shape":"TargetType"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDocumentResult":{
      "type":"structure",
      "members":{
        "DocumentDescription":{"shape":"DocumentDescription"}
      }
    },
    "CreateMaintenanceWindowRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Schedule",
        "Duration",
        "Cutoff",
        "AllowUnassociatedTargets"
      ],
      "members":{
        "Name":{"shape":"MaintenanceWindowName"},
        "Description":{"shape":"MaintenanceWindowDescription"},
        "StartDate":{"shape":"MaintenanceWindowStringDateTime"},
        "EndDate":{"shape":"MaintenanceWindowStringDateTime"},
        "Schedule":{"shape":"MaintenanceWindowSchedule"},
        "ScheduleTimezone":{"shape":"MaintenanceWindowTimezone"},
        "ScheduleOffset":{
          "shape":"MaintenanceWindowOffset",
          "box":true
        },
        "Duration":{"shape":"MaintenanceWindowDurationHours"},
        "Cutoff":{"shape":"MaintenanceWindowCutoff"},
        "AllowUnassociatedTargets":{"shape":"MaintenanceWindowAllowUnassociatedTargets"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateMaintenanceWindowResult":{
      "type":"structure",
      "members":{
        "WindowId":{"shape":"MaintenanceWindowId"}
      }
    },
    "CreateOpsItemRequest":{
      "type":"structure",
      "required":[
        "Description",
        "Source",
        "Title"
      ],
      "members":{
        "Description":{"shape":"OpsItemDescription"},
        "OperationalData":{"shape":"OpsItemOperationalData"},
        "Notifications":{"shape":"OpsItemNotifications"},
        "Priority":{"shape":"OpsItemPriority"},
        "RelatedOpsItems":{"shape":"RelatedOpsItems"},
        "Source":{"shape":"OpsItemSource"},
        "Title":{"shape":"OpsItemTitle"},
        "Tags":{"shape":"TagList"},
        "Category":{"shape":"OpsItemCategory"},
        "Severity":{"shape":"OpsItemSeverity"}
      }
    },
    "CreateOpsItemResponse":{
      "type":"structure",
      "members":{
        "OpsItemId":{"shape":"String"}
      }
    },
    "CreatePatchBaselineRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "OperatingSystem":{"shape":"OperatingSystem"},
        "Name":{"shape":"BaselineName"},
        "GlobalFilters":{"shape":"PatchFilterGroup"},
        "ApprovalRules":{"shape":"PatchRuleGroup"},
        "ApprovedPatches":{"shape":"PatchIdList"},
        "ApprovedPatchesComplianceLevel":{"shape":"PatchComplianceLevel"},
        "ApprovedPatchesEnableNonSecurity":{
          "shape":"Boolean",
          "box":true
        },
        "RejectedPatches":{"shape":"PatchIdList"},
        "RejectedPatchesAction":{"shape":"PatchAction"},
        "Description":{"shape":"BaselineDescription"},
        "Sources":{"shape":"PatchSourceList"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "Tags":{"shape":"TagList"}
      }
    },
    "CreatePatchBaselineResult":{
      "type":"structure",
      "members":{
        "BaselineId":{"shape":"BaselineId"}
      }
    },
    "CreateResourceDataSyncRequest":{
      "type":"structure",
      "required":["SyncName"],
      "members":{
        "SyncName":{"shape":"ResourceDataSyncName"},
        "S3Destination":{"shape":"ResourceDataSyncS3Destination"},
        "SyncType":{"shape":"ResourceDataSyncType"},
        "SyncSource":{"shape":"ResourceDataSyncSource"}
      }
    },
    "CreateResourceDataSyncResult":{
      "type":"structure",
      "members":{
      }
    },
    "CreatedDate":{"type":"timestamp"},
    "CustomSchemaCountLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DateTime":{"type":"timestamp"},
    "DefaultBaseline":{"type":"boolean"},
    "DefaultInstanceName":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "DeleteActivationRequest":{
      "type":"structure",
      "required":["ActivationId"],
      "members":{
        "ActivationId":{"shape":"ActivationId"}
      }
    },
    "DeleteActivationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAssociationRequest":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentARN"},
        "InstanceId":{"shape":"InstanceId"},
        "AssociationId":{"shape":"AssociationId"}
      }
    },
    "DeleteAssociationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "VersionName":{"shape":"DocumentVersionName"},
        "Force":{"shape":"Boolean"}
      }
    },
    "DeleteDocumentResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteInventoryRequest":{
      "type":"structure",
      "required":["TypeName"],
      "members":{
        "TypeName":{"shape":"InventoryItemTypeName"},
        "SchemaDeleteOption":{"shape":"InventorySchemaDeleteOption"},
        "DryRun":{"shape":"DryRun"},
        "ClientToken":{
          "shape":"UUID",
          "idempotencyToken":true
        }
      }
    },
    "DeleteInventoryResult":{
      "type":"structure",
      "members":{
        "DeletionId":{"shape":"UUID"},
        "TypeName":{"shape":"InventoryItemTypeName"},
        "DeletionSummary":{"shape":"InventoryDeletionSummary"}
      }
    },
    "DeleteMaintenanceWindowRequest":{
      "type":"structure",
      "required":["WindowId"],
      "members":{
        "WindowId":{"shape":"MaintenanceWindowId"}
      }
    },
    "DeleteMaintenanceWindowResult":{
      "type":"structure",
      "members":{
        "WindowId":{"shape":"MaintenanceWindowId"}
      }
    },
    "DeleteParameterRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"PSParameterName"}
      }
    },
    "DeleteParameterResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteParametersRequest":{
      "type":"structure",
      "required":["Names"],
      "members":{
        "Names":{"shape":"ParameterNameList"}
      }
    },
    "DeleteParametersResult":{
      "type":"structure",
      "members":{
        "DeletedParameters":{"shape":"ParameterNameList"},
        "InvalidParameters":{"shape":"ParameterNameList"}
      }
    },
    "DeletePatchBaselineRequest":{
      "type":"structure",
      "required":["BaselineId"],
      "members":{
        "BaselineId":{"shape":"BaselineId"}
      }
    },
    "DeletePatchBaselineResult":{
      "type":"structure",
      "members":{
        "BaselineId":{"shape":"BaselineId"}
      }
    },
    "DeleteResourceDataSyncRequest":{
      "type":"structure",
      "required":["SyncName"],
      "members":{
        "SyncName":{"shape":"ResourceDataSyncName"},
        "SyncType":{"shape":"ResourceDataSyncType"}
      }
    },
    "DeleteResourceDataSyncResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeliveryTimedOutCount":{"type":"integer"},
    "DeregisterManagedInstanceRequest":{
      "type":"structure",
      "required":["InstanceId"],
      "members":{
        "InstanceId":{"shape":"ManagedInstanceId"}
      }
    },
    "DeregisterManagedInstanceResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterPatchBaselineForPatchGroupRequest":{
      "type":"structure",
      "required":[
        "BaselineId",
        "PatchGroup"
      ],
      "members":{
        "BaselineId":{"shape":"BaselineId"},
        "PatchGroup":{"shape":"PatchGroup"}
      }
    },
    "DeregisterPatchBaselineForPatchGroupResult":{
      "type":"structure",
      "members":{
        "BaselineId":{"shape":"BaselineId"},
        "PatchGroup":{"shape":"PatchGroup"}
      }
    },
    "DeregisterTargetFromMaintenanceWindowRequest":{
      "type":"structure",
      "required":[
        "WindowId",
        "WindowTargetId"
      ],
      "members":{
        "WindowId":{"shape":"MaintenanceWindowId"},
        "WindowTargetId":{"shape":"MaintenanceWindowTargetId"},
        "Safe":{
          "shape":"Boolean",
          "box":true
        }
      }
    },
    "DeregisterTargetFromMaintenanceWindowResult":{
      "type":"structure",
      "members":{
        "WindowId":{"shape":"MaintenanceWindowId"},
        "WindowTargetId":{"shape":"MaintenanceWindowTargetId"}
      }
    },
    "DeregisterTaskFromMaintenanceWindowRequest":{
      "type":"structure",
      "required":[
        "WindowId",
        "WindowTaskId"
      ],
      "members":{
        "WindowId":{"shape":"MaintenanceWindowId"},
        "WindowTaskId":{"shape":"MaintenanceWindowTaskId"}
      }
    },
    "DeregisterTaskFromMaintenanceWindowResult":{
      "type":"structure",
      "members":{
        "WindowId":{"shape":"MaintenanceWindowId"},
        "WindowTaskId":{"shape":"MaintenanceWindowTaskId"}
      }
    },
    "DescribeActivationsFilter":{
      "type":"structure",
      "members":{
        "FilterKey":{"shape":"DescribeActivationsFilterKeys"},
        "FilterValues":{"shape":"StringList"}
      }
    },
    "DescribeActivationsFilterKeys":{
      "type":"string",
      "enum":[
        "ActivationIds",
        "DefaultInstanceName",
        "IamRole"
      ]
    },
    "DescribeActivationsFilterList":{
      "type":"list",
      "member":{"shape":"DescribeActivationsFilter"}
    },
    "DescribeActivationsRequest":{
      "type":"structure",
      "members":{
[...]
