{
    "apiVersion": "v1beta3",
    "kind": "Node",
    "metadata": {
        "name": "{{ item }}",
        "labels": {
            "k8s-app": "kube-dns",
            "kubernetes.io/cluster-service": "true"
        }
    },
    "spec": {
        "externalID": "{{ item }}"
    },
    "status": {
        "capacity": {
            "cpu": "1",
            "memory": "5"
        }
    }
}
