[Unit]
Description=Kubernetes Node Unpacker
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/etc/kubernetes/kube-node-unpacker.sh

[Install]
WantedBy=multi-user.target
