{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-08-18",
    "endpointPrefix":"inspector",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Inspector",
    "signatureVersion":"v4",
    "targetPrefix":"InspectorService"
  },
  "operations":{
    "AddAttributesToFindings":{
      "name":"AddAttributesToFindings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddAttributesToFindingsRequest"},
      "output":{"shape":"AddAttributesToFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "AttachAssessmentAndRulesPackage":{
      "name":"AttachAssessmentAndRulesPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachAssessmentAndRulesPackageRequest"},
      "output":{"shape":"AttachAssessmentAndRulesPackageResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "CreateAssessment":{
      "name":"CreateAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssessmentRequest"},
      "output":{"shape":"CreateAssessmentResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "CreateResourceGroup":{
      "name":"CreateResourceGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResourceGroupRequest"},
      "output":{"shape":"CreateResourceGroupResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationInProgressException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DeleteAssessment":{
      "name":"DeleteAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAssessmentRequest"},
      "output":{"shape":"DeleteAssessmentResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationInProgressException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DeleteRun":{
      "name":"DeleteRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRunRequest"},
      "output":{"shape":"DeleteRunResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DescribeApplication":{
      "name":"DescribeApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationRequest"},
      "output":{"shape":"DescribeApplicationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DescribeAssessment":{
      "name":"DescribeAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssessmentRequest"},
      "output":{"shape":"DescribeAssessmentResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DescribeCrossAccountAccessRole":{
      "name":"DescribeCrossAccountAccessRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"DescribeCrossAccountAccessRoleResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DescribeFinding":{
      "name":"DescribeFinding",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFindingRequest"},
      "output":{"shape":"DescribeFindingResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DescribeResourceGroup":{
      "name":"DescribeResourceGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResourceGroupRequest"},
      "output":{"shape":"DescribeResourceGroupResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DescribeRulesPackage":{
      "name":"DescribeRulesPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRulesPackageRequest"},
      "output":{"shape":"DescribeRulesPackageResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DescribeRun":{
      "name":"DescribeRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRunRequest"},
      "output":{"shape":"DescribeRunResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "DetachAssessmentAndRulesPackage":{
      "name":"DetachAssessmentAndRulesPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachAssessmentAndRulesPackageRequest"},
      "output":{"shape":"DetachAssessmentAndRulesPackageResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "GetAssessmentTelemetry":{
      "name":"GetAssessmentTelemetry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAssessmentTelemetryRequest"},
      "output":{"shape":"GetAssessmentTelemetryResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListAssessmentAgents":{
      "name":"ListAssessmentAgents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssessmentAgentsRequest"},
      "output":{"shape":"ListAssessmentAgentsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "ListAssessments":{
      "name":"ListAssessments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssessmentsRequest"},
      "output":{"shape":"ListAssessmentsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "ListAttachedAssessments":{
      "name":"ListAttachedAssessments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAttachedAssessmentsRequest"},
      "output":{"shape":"ListAttachedAssessmentsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "ListAttachedRulesPackages":{
      "name":"ListAttachedRulesPackages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAttachedRulesPackagesRequest"},
      "output":{"shape":"ListAttachedRulesPackagesResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "ListFindings":{
      "name":"ListFindings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFindingsRequest"},
      "output":{"shape":"ListFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "ListRulesPackages":{
      "name":"ListRulesPackages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRulesPackagesRequest"},
      "output":{"shape":"ListRulesPackagesResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListRuns":{
      "name":"ListRuns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRunsRequest"},
      "output":{"shape":"ListRunsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "LocalizeText":{
      "name":"LocalizeText",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"LocalizeTextRequest"},
      "output":{"shape":"LocalizeTextResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "PreviewAgentsForResourceGroup":{
      "name":"PreviewAgentsForResourceGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PreviewAgentsForResourceGroupRequest"},
      "output":{"shape":"PreviewAgentsForResourceGroupResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"InvalidCrossAccountRoleException"}
      ]
    },
    "RegisterCrossAccountAccessRole":{
      "name":"RegisterCrossAccountAccessRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterCrossAccountAccessRoleRequest"},
      "output":{"shape":"RegisterCrossAccountAccessRoleResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidCrossAccountRoleException"}
      ]
    },
    "RemoveAttributesFromFindings":{
      "name":"RemoveAttributesFromFindings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveAttributesFromFindingsRequest"},
      "output":{"shape":"RemoveAttributesFromFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "RunAssessment":{
      "name":"RunAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RunAssessmentRequest"},
      "output":{"shape":"RunAssessmentResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "SetTagsForResource":{
      "name":"SetTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetTagsForResourceRequest"},
      "output":{"shape":"SetTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "StartDataCollection":{
      "name":"StartDataCollection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDataCollectionRequest"},
      "output":{"shape":"StartDataCollectionResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"InvalidCrossAccountRoleException"}
      ]
    },
    "StopDataCollection":{
      "name":"StopDataCollection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDataCollectionRequest"},
      "output":{"shape":"StopDataCollectionResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"UpdateApplicationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    },
    "UpdateAssessment":{
      "name":"UpdateAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssessmentRequest"},
      "output":{"shape":"UpdateAssessmentResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoSuchEntityException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AddAttributesToFindingsRequest":{
      "type":"structure",
      "required":[
        "findingArns",
        "attributes"
      ],
      "members":{
        "findingArns":{"shape":"ArnList"},
        "attributes":{"shape":"AttributeList"}
      }
    },
    "AddAttributesToFindingsResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "Agent":{
      "type":"structure",
      "members":{
        "agentId":{"shape":"AgentId"},
        "assessmentArn":{"shape":"Arn"},
        "agentHealth":{"shape":"AgentHealth"},
        "agentHealthCode":{"shape":"AgentHealthCode"},
        "agentHealthDetails":{"shape":"AgentHealthDetails"},
        "autoScalingGroup":{"shape":"AutoScalingGroup"},
        "accountId":{"shape":"AwsAccount"},
        "telemetry":{"shape":"TelemetryList"}
      }
    },
    "AgentHealth":{"type":"string"},
    "AgentHealthCode":{"type":"string"},
    "AgentHealthDetails":{"type":"string"},
    "AgentHealthList":{
      "type":"list",
      "member":{"shape":"AgentHealth"}
    },
    "AgentId":{"type":"string"},
    "AgentList":{
      "type":"list",
      "member":{"shape":"Agent"}
    },
    "AgentPreview":{
      "type":"structure",
      "members":{
        "agentId":{"shape":"AgentId"},
        "autoScalingGroup":{"shape":"AutoScalingGroup"}
      }
    },
    "AgentPreviewList":{
      "type":"list",
      "member":{"shape":"AgentPreview"}
    },
    "AgentsFilter":{
      "type":"structure",
      "members":{
        "agentHealthList":{"shape":"AgentHealthList"}
      }
    },
    "Application":{
      "type":"structure",
      "members":{
        "applicationArn":{"shape":"Arn"},
        "applicationName":{"shape":"Name"},
        "resourceGroupArn":{"shape":"Arn"}
      }
    },
    "ApplicationsFilter":{
      "type":"structure",
      "members":{
        "applicationNamePatterns":{"shape":"NamePatternList"}
      }
    },
    "Arn":{"type":"string"},
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "Assessment":{
      "type":"structure",
      "members":{
        "assessmentArn":{"shape":"Arn"},
        "assessmentName":{"shape":"Name"},
        "applicationArn":{"shape":"Arn"},
        "assessmentState":{"shape":"AssessmentState"},
        "failureMessage":{"shape":"FailureMessage"},
        "dataCollected":{"shape":"Bool"},
        "startTime":{"shape":"Timestamp"},
        "endTime":{"shape":"Timestamp"},
        "durationInSeconds":{"shape":"Duration"},
        "userAttributesForFindings":{"shape":"AttributeList"}
      }
    },
    "AssessmentState":{"type":"string"},
    "AssessmentStateList":{
      "type":"list",
      "member":{"shape":"AssessmentState"}
    },
    "AssessmentsFilter":{
      "type":"structure",
      "members":{
        "assessmentNamePatterns":{"shape":"NamePatternList"},
        "assessmentStates":{"shape":"AssessmentStateList"},
        "dataCollected":{"shape":"Bool"},
        "startTimeRange":{"shape":"TimestampRange"},
        "endTimeRange":{"shape":"TimestampRange"},
        "durationRange":{"shape":"DurationRange"}
      }
    },
    "AttachAssessmentAndRulesPackageRequest":{
      "type":"structure",
      "required":[
        "assessmentArn",
        "rulesPackageArn"
      ],
      "members":{
        "assessmentArn":{"shape":"Arn"},
        "rulesPackageArn":{"shape":"Arn"}
      }
    },
    "AttachAssessmentAndRulesPackageResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "Attribute":{
      "type":"structure",
      "members":{
        "key":{"shape":"AttributeKey"},
        "value":{"shape":"AttributeValue"}
      }
    },
    "AttributeKey":{"type":"string"},
    "AttributeKeyList":{
      "type":"list",
      "member":{"shape":"AttributeKey"}
    },
    "AttributeList":{
      "type":"list",
      "member":{"shape":"Attribute"}
    },
    "AttributeValue":{"type":"string"},
    "AutoScalingGroup":{"type":"string"},
    "AwsAccount":{"type":"string"},
    "Bool":{"type":"boolean"},
    "CreateApplicationRequest":{
      "type":"structure",
      "required":[
        "applicationName",
        "resourceGroupArn"
      ],
      "members":{
        "applicationName":{"shape":"Name"},
        "resourceGroupArn":{"shape":"Arn"}
      }
    },
    "CreateApplicationResponse":{
      "type":"structure",
      "members":{
        "applicationArn":{"shape":"Arn"}
      }
    },
    "CreateAssessmentRequest":{
      "type":"structure",
      "required":[
        "applicationArn",
        "assessmentName",
        "durationInSeconds"
      ],
      "members":{
        "applicationArn":{"shape":"Arn"},
        "assessmentName":{"shape":"Name"},
        "durationInSeconds":{"shape":"Duration"},
        "userAttributesForFindings":{"shape":"AttributeList"}
      }
    },
    "CreateAssessmentResponse":{
      "type":"structure",
      "members":{
        "assessmentArn":{"shape":"Arn"}
      }
    },
    "CreateResourceGroupRequest":{
      "type":"structure",
      "required":["resourceGroupTags"],
      "members":{
        "resourceGroupTags":{"shape":"ResourceGroupTags"}
      }
    },
    "CreateResourceGroupResponse":{
      "type":"structure",
      "members":{
        "resourceGroupArn":{"shape":"Arn"}
      }
    },
    "DeleteApplicationRequest":{
      "type":"structure",
      "required":["applicationArn"],
      "members":{
        "applicationArn":{"shape":"Arn"}
      }
    },
    "DeleteApplicationResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "DeleteAssessmentRequest":{
      "type":"structure",
      "required":["assessmentArn"],
      "members":{
        "assessmentArn":{"shape":"Arn"}
      }
    },
    "DeleteAssessmentResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "DeleteRunRequest":{
      "type":"structure",
      "required":["runArn"],
      "members":{
        "runArn":{"shape":"Arn"}
      }
    },
    "DeleteRunResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "DescribeApplicationRequest":{
      "type":"structure",
      "required":["applicationArn"],
      "members":{
        "applicationArn":{"shape":"Arn"}
      }
    },
    "DescribeApplicationResponse":{
      "type":"structure",
      "members":{
        "application":{"shape":"Application"}
      }
    },
    "DescribeAssessmentRequest":{
      "type":"structure",
      "required":["assessmentArn"],
      "members":{
        "assessmentArn":{"shape":"Arn"}
      }
    },
    "DescribeAssessmentResponse":{
      "type":"structure",
      "members":{
        "assessment":{"shape":"Assessment"}
      }
    },
    "DescribeCrossAccountAccessRoleResponse":{
      "type":"structure",
      "members":{
        "roleArn":{"shape":"Arn"},
        "valid":{"shape":"Bool"}
      }
    },
    "DescribeFindingRequest":{
      "type":"structure",
      "required":["findingArn"],
      "members":{
        "findingArn":{"shape":"Arn"}
      }
    },
    "DescribeFindingResponse":{
      "type":"structure",
      "members":{
        "finding":{"shape":"Finding"}
      }
    },
    "DescribeResourceGroupRequest":{
      "type":"structure",
      "required":["resourceGroupArn"],
      "members":{
        "resourceGroupArn":{"shape":"Arn"}
      }
    },
    "DescribeResourceGroupResponse":{
      "type":"structure",
      "members":{
        "resourceGroup":{"shape":"ResourceGroup"}
      }
    },
    "DescribeRulesPackageRequest":{
      "type":"structure",
      "required":["rulesPackageArn"],
      "members":{
        "rulesPackageArn":{"shape":"Arn"}
      }
    },
    "DescribeRulesPackageResponse":{
      "type":"structure",
      "members":{
        "rulesPackage":{"shape":"RulesPackage"}
      }
    },
    "DescribeRunRequest":{
      "type":"structure",
      "required":["runArn"],
      "members":{
        "runArn":{"shape":"Arn"}
      }
    },
    "DescribeRunResponse":{
      "type":"structure",
      "members":{
        "run":{"shape":"Run"}
      }
    },
    "DetachAssessmentAndRulesPackageRequest":{
      "type":"structure",
      "required":[
        "assessmentArn",
        "rulesPackageArn"
      ],
      "members":{
        "assessmentArn":{"shape":"Arn"},
        "rulesPackageArn":{"shape":"Arn"}
      }
    },
    "DetachAssessmentAndRulesPackageResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "Duration":{"type":"integer"},
    "DurationRange":{
      "type":"structure",
      "members":{
        "minimum":{"shape":"Duration"},
        "maximum":{"shape":"Duration"}
      }
    },
    "FailureMessage":{"type":"string"},
    "Finding":{
      "type":"structure",
      "members":{
        "findingArn":{"shape":"Arn"},
        "runArn":{"shape":"Arn"},
        "rulesPackageArn":{"shape":"Arn"},
        "ruleName":{"shape":"Name"},
        "agentId":{"shape":"AgentId"},
        "autoScalingGroup":{"shape":"AutoScalingGroup"},
        "severity":{"shape":"Severity"},
        "finding":{"shape":"LocalizedText"},
        "description":{"shape":"LocalizedText"},
        "recommendation":{"shape":"LocalizedText"},
        "attributes":{"shape":"AttributeList"},
        "userAttributes":{"shape":"AttributeList"}
      }
    },
    "FindingsFilter":{
      "type":"structure",
      "members":{
        "rulesPackageArns":{"shape":"ArnList"},
        "ruleNames":{"shape":"NameList"},
        "severities":{"shape":"SeverityList"},
        "attributes":{"shape":"AttributeList"},
        "userAttributes":{"shape":"AttributeList"}
      }
    },
    "GetAssessmentTelemetryRequest":{
      "type":"structure",
      "required":["assessmentArn"],
      "members":{
        "assessmentArn":{"shape":"Arn"}
      }
    },
    "GetAssessmentTelemetryResponse":{
      "type":"structure",
      "members":{
        "telemetry":{"shape":"TelemetryList"}
      }
    },
    "Integer":{"type":"integer"},
    "InternalException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "fault":true
    },
    "InvalidCrossAccountRoleException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ListApplicationsRequest":{
      "type":"structure",
      "members":{
        "filter":{"shape":"ApplicationsFilter"},
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListApplicationsResponse":{
      "type":"structure",
      "members":{
        "applicationArnList":{"shape":"ArnList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListAssessmentAgentsRequest":{
      "type":"structure",
      "required":["assessmentArn"],
      "members":{
        "assessmentArn":{"shape":"Arn"},
        "filter":{"shape":"AgentsFilter"},
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListAssessmentAgentsResponse":{
      "type":"structure",
      "members":{
        "agentList":{"shape":"AgentList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListAssessmentsRequest":{
      "type":"structure",
      "members":{
        "applicationArns":{"shape":"ArnList"},
        "filter":{"shape":"AssessmentsFilter"},
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListAssessmentsResponse":{
      "type":"structure",
      "members":{
        "assessmentArnList":{"shape":"ArnList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListAttachedAssessmentsRequest":{
      "type":"structure",
      "required":["rulesPackageArn"],
      "members":{
        "rulesPackageArn":{"shape":"Arn"},
        "filter":{"shape":"AssessmentsFilter"},
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListAttachedAssessmentsResponse":{
      "type":"structure",
      "members":{
        "assessmentArnList":{"shape":"ArnList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListAttachedRulesPackagesRequest":{
      "type":"structure",
      "required":["assessmentArn"],
      "members":{
        "assessmentArn":{"shape":"Arn"},
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListAttachedRulesPackagesResponse":{
      "type":"structure",
      "members":{
        "rulesPackageArnList":{"shape":"ArnList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListFindingsRequest":{
      "type":"structure",
      "members":{
        "runArns":{"shape":"ArnList"},
        "filter":{"shape":"FindingsFilter"},
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListFindingsResponse":{
      "type":"structure",
      "members":{
        "findingArnList":{"shape":"ArnList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListRulesPackagesRequest":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListRulesPackagesResponse":{
      "type":"structure",
      "members":{
        "rulesPackageArnList":{"shape":"ArnList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListRunsRequest":{
      "type":"structure",
      "members":{
        "assessmentArns":{"shape":"ArnList"},
        "filter":{"shape":"RunsFilter"},
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListRunsResponse":{
      "type":"structure",
      "members":{
        "runArnList":{"shape":"ArnList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{"shape":"Arn"}
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tagList":{"shape":"TagList"}
      }
    },
    "Locale":{"type":"string"},
    "LocalizeTextRequest":{
      "type":"structure",
      "required":[
        "localizedTexts",
        "locale"
      ],
      "members":{
        "localizedTexts":{"shape":"LocalizedTextList"},
        "locale":{"shape":"Locale"}
      }
    },
    "LocalizeTextResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"},
        "results":{"shape":"TextList"}
      }
    },
    "LocalizedFacility":{"type":"string"},
    "LocalizedText":{
      "type":"structure",
      "members":{
        "key":{"shape":"LocalizedTextKey"},
        "parameters":{"shape":"ParameterList"}
      }
    },
    "LocalizedTextId":{"type":"string"},
    "LocalizedTextKey":{
      "type":"structure",
      "members":{
        "facility":{"shape":"LocalizedFacility"},
        "id":{"shape":"LocalizedTextId"}
      }
    },
    "LocalizedTextList":{
      "type":"list",
      "member":{"shape":"LocalizedText"}
    },
    "Long":{"type":"long"},
    "Message":{"type":"string"},
    "MessageType":{"type":"string"},
    "MessageTypeTelemetry":{
      "type":"structure",
      "members":{
        "messageType":{"shape":"MessageType"},
        "count":{"shape":"Long"},
        "dataSize":{"shape":"Long"}
      }
    },
    "MessageTypeTelemetryList":{
      "type":"list",
      "member":{"shape":"MessageTypeTelemetry"}
    },
    "Name":{"type":"string"},
    "NameList":{
      "type":"list",
      "member":{"shape":"Name"}
    },
    "NamePattern":{"type":"string"},
    "NamePatternList":{
      "type":"list",
      "member":{"shape":"NamePattern"}
    },
    "NoSuchEntityException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "OperationInProgressException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "PaginationToken":{"type":"string"},
    "Parameter":{
      "type":"structure",
      "members":{
        "name":{"shape":"ParameterName"},
        "value":{"shape":"ParameterValue"}
      }
    },
    "ParameterList":{
      "type":"list",
      "member":{"shape":"Parameter"}
    },
    "ParameterName":{"type":"string"},
    "ParameterValue":{"type":"string"},
    "PreviewAgentsForResourceGroupRequest":{
      "type":"structure",
      "required":["resourceGroupArn"],
      "members":{
        "resourceGroupArn":{"shape":"Arn"},
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "PreviewAgentsForResourceGroupResponse":{
      "type":"structure",
      "members":{
        "agentPreviewList":{"shape":"AgentPreviewList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "RegisterCrossAccountAccessRoleRequest":{
      "type":"structure",
      "required":["roleArn"],
      "members":{
        "roleArn":{"shape":"Arn"}
      }
    },
    "RegisterCrossAccountAccessRoleResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "RemoveAttributesFromFindingsRequest":{
      "type":"structure",
      "required":[
        "findingArns",
        "attributeKeys"
      ],
      "members":{
        "findingArns":{"shape":"ArnList"},
        "attributeKeys":{"shape":"AttributeKeyList"}
      }
    },
    "RemoveAttributesFromFindingsResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "ResourceGroup":{
      "type":"structure",
      "members":{
        "resourceGroupArn":{"shape":"Arn"},
        "resourceGroupTags":{"shape":"ResourceGroupTags"}
      }
    },
    "ResourceGroupTags":{"type":"string"},
    "RulesPackage":{
      "type":"structure",
      "members":{
        "rulesPackageArn":{"shape":"Arn"},
        "rulesPackageName":{"shape":"Name"},
        "version":{"shape":"Version"},
        "provider":{"shape":"Name"},
        "description":{"shape":"LocalizedText"}
      }
    },
    "Run":{
      "type":"structure",
      "members":{
        "runArn":{"shape":"Arn"},
        "runName":{"shape":"Name"},
        "assessmentArn":{"shape":"Arn"},
        "runState":{"shape":"RunState"},
        "rulesPackages":{"shape":"ArnList"},
        "creationTime":{"shape":"Timestamp"},
        "completionTime":{"shape":"Timestamp"}
      }
    },
    "RunAssessmentRequest":{
      "type":"structure",
      "required":[
        "assessmentArn",
        "runName"
      ],
      "members":{
        "assessmentArn":{"shape":"Arn"},
        "runName":{"shape":"Name"}
      }
    },
    "RunAssessmentResponse":{
      "type":"structure",
      "members":{
        "runArn":{"shape":"Arn"}
      }
    },
    "RunState":{"type":"string"},
    "RunStateList":{
      "type":"list",
      "member":{"shape":"RunState"}
    },
    "RunsFilter":{
      "type":"structure",
      "members":{
        "runNamePatterns":{"shape":"NamePatternList"},
        "runStates":{"shape":"RunStateList"},
        "rulesPackages":{"shape":"ArnList"},
        "creationTime":{"shape":"TimestampRange"},
        "completionTime":{"shape":"TimestampRange"}
      }
    },
    "SetTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{"shape":"Arn"},
        "tags":{"shape":"TagList"}
      }
    },
    "SetTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "Severity":{"type":"string"},
    "SeverityList":{
      "type":"list",
      "member":{"shape":"Severity"}
    },
    "StartDataCollectionRequest":{
      "type":"structure",
      "required":["assessmentArn"],
      "members":{
        "assessmentArn":{"shape":"Arn"}
      }
    },
    "StartDataCollectionResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "StopDataCollectionRequest":{
      "type":"structure",
      "required":["assessmentArn"],
      "members":{
        "assessmentArn":{"shape":"Arn"}
      }
    },
    "StopDataCollectionResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "Tag":{
      "type":"structure",
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{"type":"string"},
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"}
    },
    "TagValue":{"type":"string"},
    "Telemetry":{
      "type":"structure",
      "members":{
        "status":{"shape":"TelemetryStatus"},
        "messageTypeTelemetries":{"shape":"MessageTypeTelemetryList"}
      }
    },
    "TelemetryList":{
      "type":"list",
      "member":{"shape":"Telemetry"}
    },
    "TelemetryStatus":{"type":"string"},
    "Text":{"type":"string"},
    "TextList":{
      "type":"list",
      "member":{"shape":"Text"}
    },
    "Timestamp":{"type":"timestamp"},
    "TimestampRange":{
      "type":"structure",
      "members":{
        "minimum":{"shape":"Timestamp"},
        "maximum":{"shape":"Timestamp"}
      }
    },
    "UpdateApplicationRequest":{
      "type":"structure",
      "required":[
        "applicationArn",
        "applicationName",
        "resourceGroupArn"
      ],
      "members":{
        "applicationArn":{"shape":"Arn"},
        "applicationName":{"shape":"Name"},
        "resourceGroupArn":{"shape":"Arn"}
      }
    },
    "UpdateApplicationResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "UpdateAssessmentRequest":{
      "type":"structure",
      "required":[
        "assessmentArn",
        "assessmentName",
        "durationInSeconds"
      ],
      "members":{
        "assessmentArn":{"shape":"Arn"},
        "assessmentName":{"shape":"Name"},
        "durationInSeconds":{"shape":"Duration"}
      }
    },
    "UpdateAssessmentResponse":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      }
    },
    "Version":{"type":"string"}
  }
}
