---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table57tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:+tQ0CHBBr8KqtfNJZ9ipZgZ9CxD0Cuof10snosZI2GY=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:12 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table57tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table57tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: "--batch_ef502eae-6da3-11e7-98b2-6c3be5272b75\r\nContent-Type: multipart/mixed;
      boundary=changeset_ef502eae-6da3-11e7-98b1-6c3be5272b75\r\n\r\n\r\n--changeset_ef502eae-6da3-11e7-98b1-6c3be5272b75\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":200.23,\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_ef502eae-6da3-11e7-98b1-6c3be5272b75--\r\n\r\n--batch_ef502eae-6da3-11e7-98b2-6c3be5272b75--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:p4aDPSDWPtWHLxL0afiP2BTiTAzqqUJJsmo/+gH51VU=
      Content-Type:
      - multipart/mixed; boundary=batch_ef502eae-6da3-11e7-98b2-6c3be5272b75
      X-Ms-Date:
      - Thu, 20 Jul 2017 23:34:12 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_0092b400-1327-4adb-898f-f4d6e46c73ac\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_5825ce38-5ad0-4180-ab9b-4a6a45daab73\r\n\r\n--changesetresponse_5825ce38-5ad0-4180-ab9b-4a6a45daab73\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204 No
      Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nETag: W/\"datetime'2017-07-20T23%3A34%3A11.5165989Z'\"\r\n\r\n\r\n--changesetresponse_5825ce38-5ad0-4180-ab9b-4a6a45daab73--\r\n--batchresponse_0092b400-1327-4adb-898f-f4d6e46c73ac--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_0092b400-1327-4adb-898f-f4d6e46c73ac
      X-Ms-Version:
      - 2016-05-31
    status: 202 Accepted
    code: 202
- request:
    body: "--batch_ef522a6a-6da3-11e7-98b2-6c3be5272b75\r\nContent-Type: multipart/mixed;
      boundary=changeset_ef520338-6da3-11e7-98b2-6c3be5272b75\r\n\r\n\r\n--changeset_ef520338-6da3-11e7-98b2-6c3be5272b75\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":200.23,\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"DifferentField\":123,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_ef520338-6da3-11e7-98b2-6c3be5272b75--\r\n\r\n--batch_ef522a6a-6da3-11e7-98b2-6c3be5272b75--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:tNel1+I2hXiwPgAE4BX1cNQDJbzRL4box0r2zilI/W0=
      Content-Type:
      - multipart/mixed; boundary=batch_ef522a6a-6da3-11e7-98b2-6c3be5272b75
      X-Ms-Date:
      - [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:91TdtgFChPr0gK/hnB5RCDztq97MUR2YuMLGqTbHZQE=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:12 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi?%24top=2&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table57tablebatchsuitetestbatchi","value":[{"odata.type":"golangrocksonazure.table57tablebatchsuitetestbatchi","odata.id":"https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2017-07-20T23%3A34%3A11.5276068Z''\"","odata.editLink":"table57tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-07-20T23:34:11.5276068Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","DifferentField":123,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:9wdQsmwPzbYol+61CfE3hgAHLI+vtwG4PMjZ6VoMtZk=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:12 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table57tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
