---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table48tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:19qYKaIWscHZl0FyBetemFrlUveL2KInnVIO+UobRUI=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:11 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: "--batch_ef29c3c4-6da3-11e7-98ad-6c3be5272b75\r\nContent-Type: multipart/mixed;
      boundary=changeset_ef29c3c4-6da3-11e7-98ac-6c3be5272b75\r\n\r\n\r\n--changeset_ef29c3c4-6da3-11e7-98ac-6c3be5272b75\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":200.23,\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_ef29c3c4-6da3-11e7-98ac-6c3be5272b75\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nDELETE https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nIf-Match: *\r\nPrefer: return-no-content\r\n\r\n\r\n--changeset_ef29c3c4-6da3-11e7-98ac-6c3be5272b75--\r\n\r\n--batch_ef29c3c4-6da3-11e7-98ad-6c3be5272b75--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:xpesUzw0nDp1bWkdipfYvyIor4UQFGDTXxLogQqC7Hk=
      Content-Type:
      - multipart/mixed; boundary=batch_ef29c3c4-6da3-11e7-98ad-6c3be5272b75
      X-Ms-Date:
      - Thu, 20 Jul 2017 23:34:11 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_c4dd3af6-4c42-4cb6-828e-243ff21e6083\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_88791cb4-6616-473a-8e2f-2166b7a8744c\r\n\r\n--changesetresponse_88791cb4-6616-473a-8e2f-2166b7a8744c\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 400 Bad
      Request\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
      3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"InvalidDuplicateRow\",\"message\":{\"lang\":\"en-US\",\"value\":\"1:The
      batch request contains multiple changes with same row key. An entity can appear
      only once in a batch request.\\nRequestId:875b838e-0002-0036-04b0-0102e5000000\\nTime:2017-07-20T23:34:11.7237252Z\"}}}\r\n--changesetresponse_88791cb4-6616-473a-8e2f-2166b7a8744c--\r\n--batchresponse_c4dd3af6-4c42-4cb6-828e-243ff21e6083--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_c4dd3af6-4c42-4cb6-828e-243ff21e6083
      X-Ms-Version:
      - 2016-05-31
    status: 202 Accepted
    code: 202
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:MOsIZusDSZ3DMiB872Kyp2lKkkh8yZUUDVMgUBYMtQo=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:11 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table48tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
