---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table28storageentitysuitetestmer"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:pVUxNVPhoLLMoiiZkAB5VJj885By63xk/bdQEXCtLeQ=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table28storageentitysuitetestmer')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table28storageentitysuitetestmer')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"Country":"Mexico","MalePoet":"Nezahualcoyotl","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:XfTRBBTtp/1Ry5zYZBB3kbX0x46maJnETWuw1hsz/z0=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table28storageentitysuitetestmer/@Element","odata.type":"golangrocksonazure.table28storageentitysuitetestmer","odata.id":"https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2021-04-13T15%3A57%3A42.5235301Z''\"","odata.editLink":"table28storageentitysuitetestmer(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2021-04-13T15:57:42.5235301Z","Country":"Mexico","MalePoet":"Nezahualcoyotl"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A42.5235301Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer(PartitionKey='mypartitionkey',RowKey='myrowkey')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"FemalePoet":"Sor Juana Ines de la Cruz","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:9/DEodUlTvU5TI3vpkEInorqOSE1J7Ivic5ofro82k8=
      Content-Type:
      - application/json
      If-Match:
      - W/"datetime'2021-04-13T15%3A57%3A42.5235301Z'"
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: MERGE
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A42.6075415Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FemalePoet":"Sor Juana Ines de la Cruz","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:9/DEodUlTvU5TI3vpkEInorqOSE1J7Ivic5ofro82k8=
      Content-Type:
      - application/json
      If-Match:
      - W/"datetime''2017-04-01T01%3A07%3A23.8881885Z''"
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: MERGE
  response:
    body: '{"odata.error":{"code":"ConditionNotMet","message":{"lang":"en-US","value":"The
      condition specified using HTTP conditional header(s) is not met.\nRequestId:21520146-6002-0019-147d-301f56000000\nTime:2021-04-13T15:57:42.6966536Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 412 Precondition Failed
    code: 412
    duration: ""
- request:
    body: '{"FemalePainter":"Frida Kahlo","MalePainter":"Diego Rivera","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:9/DEodUlTvU5TI3vpkEInorqOSE1J7Ivic5ofro82k8=
      Content-Type:
      - application/json
      If-Match:
      - '*'
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: MERGE
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A42.7826653Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:2WJJzhRkZgPiAG7iQW/O1eYUxjb3Wd1fcMvz+WmoBgc=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:43 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table28storageentitysuitetestmer%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
