---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table38storageentitysuitetestins"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:pVUxNVPhoLLMoiiZkAB5VJj885By63xk/bdQEXCtLeQ=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table38storageentitysuitetestins')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table38storageentitysuitetestins')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Skywalker","HasEpicTheme":true,"Name":"Anakin","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:IR5USqiNGNsn8kz1G/qMnCmI5uD06fppkWkXCgkicHQ=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table38storageentitysuitetestins%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A42.24028Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Organa","HasAwesomeDress":true,"Name":"Leia","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:IR5USqiNGNsn8kz1G/qMnCmI5uD06fppkWkXCgkicHQ=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table38storageentitysuitetestins%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A42.3283426Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:mE7QEx+FGnLBB//WYEI9rihiLH+FeJceI+xCKEixbYs=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:42 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table38storageentitysuitetestins%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
