---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table29storageentitysuitetestupd"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:3des5wh8gc9u8NrTZq9cVCKmnwS6yfI7LSgjHLseekU=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:43 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestupd')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestupd')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"AmountDue":"200.23","AmountDue@odata.type":"Edm.Double","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerCode@odata.type":"Edm.Guid","CustomerSince":"1992-12-20T21:55:00Z","CustomerSince@odata.type":"Edm.DateTime","IsActive":true,"NumberOfOrders":"255","NumberOfOrders@odata.type":"Edm.Int64","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:2o6t4psDvRkQ6XAZtZKN77q6qODbkvdZTt4QZgL5f7k=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:43 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestupd
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table29storageentitysuitetestupd/@Element","odata.type":"golangrocksonazure.table29storageentitysuitetestupd","odata.id":"https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestupd(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2021-04-13T15%3A57%3A42.9918625Z''\"","odata.editLink":"table29storageentitysuitetestupd(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2021-04-13T15:57:42.9918625Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","IsActive":true,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A42.9918625Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestupd(PartitionKey='mypartitionkey',RowKey='myrowkey')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"FamilyName":"Skywalker","HasEpicTheme":true,"Name":"Anakin","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:U0ZJs6vdQKAGAVulDoAWC/hji1MXdmg9r6WdlhVP6no=
      Content-Type:
      - application/json
      If-Match:
      - W/"datetime'2021-04-13T15%3A57%3A42.9918625Z'"
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:43 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestupd%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A43.0778755Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Skywalker","HasEpicTheme":true,"Name":"Anakin","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:U0ZJs6vdQKAGAVulDoAWC/hji1MXdmg9r6WdlhVP6no=
      Content-Type:
      - application/json
      If-Match:
      - W/"datetime''2017-04-01T01%3A07%3A23.8881885Z''"
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:43 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestupd%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: '{"odata.error":{"code":"ConditionNotMet","message":{"lang":"en-US","value":"The
      condition specified using HTTP conditional header(s) is not met.\nRequestId:2152019f-6002-0019-657d-301f56000000\nTime:2021-04-13T15:57:43.1749936Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 412 Precondition Failed
    code: 412
    duration: ""
- request:
    body: '{"FamilyName":"Organa","HasAwesomeDress":true,"Name":"Leia","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:U0ZJs6vdQKAGAVulDoAWC/hji1MXdmg9r6WdlhVP6no=
      Content-Type:
      - application/json
      If-Match:
      - '*'
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:43 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestupd%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A43.3430639Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:r6ztBgI21hP/iFjtddbjTShAIn79vMUr5dFQmRn7v4k=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:43 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table29storageentitysuitetestupd%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
