---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table29storageentitysuitetestdel"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:SBjNk9GH2RSfpUZsc040YuEE4t4YMpb+HDDY7ZR/QOM=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:40 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestdel')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestdel')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"PartitionKey":"pkey1","RowKey":"rowkey1"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:wiDefcrKEoLNh7yxqITtj+DJJkZGsOiYLGOBMJMCHSw=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:40 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table29storageentitysuitetestdel/@Element","odata.type":"golangrocksonazure.table29storageentitysuitetestdel","odata.id":"https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel(PartitionKey=''pkey1'',RowKey=''rowkey1'')","odata.etag":"W/\"datetime''2021-04-13T15%3A57%3A40.3569884Z''\"","odata.editLink":"table29storageentitysuitetestdel(PartitionKey=''pkey1'',RowKey=''rowkey1'')","PartitionKey":"pkey1","RowKey":"rowkey1","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2021-04-13T15:57:40.3569884Z"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-04-13T15%3A57%3A40.3569884Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel(PartitionKey='pkey1',RowKey='rowkey1')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:sZvkMi2dh/mzFVzdpjIbbLA4JIwNd+N8SdCkOHs2qWE=
      If-Match:
      - W/"datetime'2021-04-13T15%3A57%3A40.3569884Z'"
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:40 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel%28PartitionKey=%27pkey1%27,RowKey=%27rowkey1%27%29
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:RoPJFz2iBdWWavnY+vSdb/ycjXqkEKihzjbnVDH8zPk=
      If-Match:
      - GolangRocksOnAzure
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:40 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel%28PartitionKey=%27pkey2%27,RowKey=%27rowkey2%27%29
    method: DELETE
  response:
    body: '{"odata.error":{"code":"InvalidInput","message":{"lang":"en-US","value":"The
      etag value ''GolangRocksOnAzure'' specified in one of the request headers is
      not valid. Please make sure only one etag value is specified and is valid.\nRequestId:21520001-6002-0019-5f7d-301f56000000\nTime:2021-04-13T15:57:40.4850800Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:ofo/g+Dc6Zu61E600GrwYp8tIUGqv3A6bDeeKuj4L1w=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:40 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table29storageentitysuitetestdel%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
