{
  "title": "Google Partners API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version_module": true,
  "resources": {
    "users": {
      "methods": {
        "get": {
          "flatPath": "v2/users/{userId}",
          "path": "v2/users/{userId}",
          "id": "partners.users.get",
          "description": "Gets a user.",
          "httpMethod": "GET",
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "User"
          },
          "parameters": {
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "userView": {
              "type": "string",
              "location": "query",
              "enum": [
                "BASIC",
                "PROFILE",
                "PUBLIC_PROFILE"
              ],
              "description": "Specifies what parts of the user information to return."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "userId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifier of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean the currently\nauthenticated user."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            }
          }
        },
        "updateProfile": {
          "response": {
            "$ref": "UserProfile"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            }
          },
          "flatPath": "v2/users/profile",
          "id": "partners.users.updateProfile",
          "path": "v2/users/profile",
          "description": "Updates a user's profile. A user can only update their own profile and\nshould only be called within the context of a logged in user.",
          "request": {
            "$ref": "UserProfile"
          }
        },
        "deleteCompanyRelation": {
          "description": "Deletes a user's company relation. Unaffiliaites the user from a company.",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "userId"
          ],
          "parameters": {
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "userId": {
              "location": "path",
              "description": "The ID of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean\nthe currently authenticated user.",
              "type": "string",
              "required": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            }
          },
          "flatPath": "v2/users/{userId}/companyRelation",
          "path": "v2/users/{userId}/companyRelation",
          "id": "partners.users.deleteCompanyRelation"
        },
        "createCompanyRelation": {
          "flatPath": "v2/users/{userId}/companyRelation",
          "id": "partners.users.createCompanyRelation",
          "path": "v2/users/{userId}/companyRelation",
          "request": {
            "$ref": "CompanyRelation"
          },
          "description": "Creates a user's company relation. Affiliates the user to a company.",
          "response": {
            "$ref": "CompanyRelation"
          },
          "parameterOrder": [
            "userId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "userId": {
              "location": "path",
              "description": "The ID of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean\nthe currently authenticated user.",
              "type": "string",
              "required": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            }
          }
        }
      }
    },
    "companies": {
      "methods": {
        "list": {
          "description": "Lists companies.",
          "response": {
            "$ref": "ListCompaniesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "industries": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "INDUSTRY_UNSPECIFIED",
                "I_AUTOMOTIVE",
                "I_BUSINESS_TO_BUSINESS",
                "I_CONSUMER_PACKAGED_GOODS",
                "I_EDUCATION",
                "I_FINANCE",
                "I_HEALTHCARE",
                "I_MEDIA_AND_ENTERTAINMENT",
                "I_RETAIL",
                "I_TECHNOLOGY",
                "I_TRAVEL"
              ],
              "description": "List of industries the company can help with."
            },
            "websiteUrl": {
              "location": "query",
              "description": "Website URL that will help to find a better matched company.\n.",
              "type": "string"
            },
            "gpsMotivations": {
              "location": "query",
              "enum": [
                "GPS_MOTIVATION_UNSPECIFIED",
                "GPSM_HELP_WITH_ADVERTISING",
                "GPSM_HELP_WITH_WEBSITE",
                "GPSM_NO_WEBSITE"
              ],
              "description": "List of reasons for using Google Partner Search to get companies.",
              "type": "string",
              "repeated": true
            },
            "languageCodes": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "List of language codes that company can support. Only primary language\nsubtags are accepted as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\")."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer companies than requested.\nIf unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "orderBy": {
              "location": "query",
              "description": "How to order addresses within the returned companies. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively.",
              "type": "string"
            },
            "specializations": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "BADGE_SPECIALIZATION_UNKNOWN",
                "BADGE_SPECIALIZATION_ADWORDS_SEARCH",
                "BADGE_SPECIALIZATION_ADWORDS_DISPLAY",
                "BADGE_SPECIALIZATION_ADWORDS_MOBILE",
                "BADGE_SPECIALIZATION_ADWORDS_VIDEO",
                "BADGE_SPECIALIZATION_ADWORDS_SHOPPING"
              ],
              "description": "List of specializations that the returned agencies should provide. If this\nis not empty, any returned agency must have at least one of these\nspecializations, or one of the services in the \"services\" field."
            },
            "maxMonthlyBudget.currencyCode": {
              "location": "query",
              "description": "The 3-letter currency code defined in ISO 4217.",
              "type": "string"
            },
            "minMonthlyBudget.currencyCode": {
              "location": "query",
              "description": "The 3-letter currency code defined in ISO 4217.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "view": {
              "location": "query",
              "enum": [
                "COMPANY_VIEW_UNSPECIFIED",
                "CV_GOOGLE_PARTNER_SEARCH"
              ],
              "description": "The view of the `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`.",
              "type": "string"
            },
            "address": {
              "location": "query",
              "description": "The address to use when searching for companies.\nIf not given, the geo-located address of the request is used.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "minMonthlyBudget.units": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
            },
            "maxMonthlyBudget.nanos": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
            },
            "services": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "SERVICE_UNSPECIFIED",
                "S_ADVANCED_ADWORDS_SUPPORT",
                "S_ADVERTISING_ON_GOOGLE",
                "S_AN_ENHANCED_WEBSITE",
                "S_AN_ONLINE_MARKETING_PLAN",
                "S_MOBILE_AND_VIDEO_ADS",
                "S_MOBILE_WEBSITE_SERVICES"
              ],
              "description": "List of services that the returned agencies should provide. If this is\nnot empty, any returned agency must have at least one of these services,\nor one of the specializations in the \"specializations\" field."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "maxMonthlyBudget.units": {
              "location": "query",
              "format": "int64",
              "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
              "type": "string"
            },
            "minMonthlyBudget.nanos": {
              "location": "query",
              "format": "int32",
              "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
              "type": "integer"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListCompaniesResponse.next_page_token`\nreturned from the previous call to\nListCompanies."
            },
            "companyName": {
              "location": "query",
              "description": "Company name to search for.",
              "type": "string"
            }
          },
          "flatPath": "v2/companies",
          "id": "partners.companies.list",
          "path": "v2/companies"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "companyId"
          ],
          "response": {
            "$ref": "GetCompanyResponse"
          },
          "parameters": {
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "currencyCode": {
              "location": "query",
              "description": "If the company's budget is in a different currency code than this one, then\nthe converted budget is converted to this currency code.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "How to order addresses within the returned company. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "view": {
              "type": "string",
              "location": "query",
              "enum": [
                "COMPANY_VIEW_UNSPECIFIED",
                "CV_GOOGLE_PARTNER_SEARCH"
              ],
              "description": "The view of `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`."
            },
            "address": {
              "type": "string",
              "location": "query",
              "description": "The address to use for sorting the company's addresses by proximity.\nIf not given, the geo-located address of the request is used.\nUsed when order_by is set."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "companyId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the company to retrieve."
            }
          },
          "flatPath": "v2/companies/{companyId}",
          "path": "v2/companies/{companyId}",
          "id": "partners.companies.get",
          "description": "Gets a company."
        }
      },
      "resources": {
        "leads": {
          "methods": {
            "create": {
              "description": "Creates an advertiser lead for the given company ID.",
              "request": {
                "$ref": "CreateLeadRequest"
              },
              "response": {
                "$ref": "CreateLeadResponse"
              },
              "parameterOrder": [
                "companyId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "companyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the company to contact."
                }
              },
              "flatPath": "v2/companies/{companyId}/leads",
              "id": "partners.companies.leads.create",
              "path": "v2/companies/{companyId}/leads"
            }
          }
        }
      }
    },
    "userEvents": {
      "methods": {
        "log": {
          "description": "Logs a user event.",
          "request": {
            "$ref": "LogUserEventRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "LogUserEventResponse"
          },
          "parameters": {},
          "flatPath": "v2/userEvents:log",
          "path": "v2/userEvents:log",
          "id": "partners.userEvents.log"
        }
      }
    },
    "clientMessages": {
      "methods": {
        "log": {
          "request": {
            "$ref": "LogMessageRequest"
          },
          "description": "Logs a generic message from the client, such as\n`Failed to render component`, `Profile page is running slow`,\n`More than 500 users have accessed this result.`, etc.",
          "response": {
            "$ref": "LogMessageResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v2/clientMessages:log",
          "id": "partners.clientMessages.log",
          "path": "v2/clientMessages:log"
        }
      }
    },
    "exams": {
      "methods": {
        "getToken": {
          "response": {
            "$ref": "ExamToken"
          },
          "parameterOrder": [
            "examType"
          ],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "examType": {
              "type": "string",
              "required": true,
              "location": "path",
              "enum": [
                "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
                "CET_ADWORDS_FUNDAMENTALS",
                "CET_ADWORDS_ADVANCED_SEARCH",
                "CET_ADWORDS_ADVANCED_DISPLAY",
                "CET_VIDEO_ADS",
                "CET_DOUBLECLICK",
                "CET_ANALYTICS",
                "CET_SHOPPING",
                "CET_MOBILE",
                "CET_DIGITAL_SALES",
                "CET_MOBILE_SITES"
              ],
              "description": "The exam type we are requesting a token for."
            }
          },
          "flatPath": "v2/exams/{examType}/token",
          "id": "partners.exams.getToken",
          "path": "v2/exams/{examType}/token",
          "description": "Gets an Exam Token for a Partner's user to take an exam in the Exams System"
        }
      }
    },
    "leads": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListLeadsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "orderBy": {
              "location": "query",
              "description": "How to order Leads. Currently, only `create_time`\nand `create_time desc` are supported",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListLeadsResponse.next_page_token`\nreturned from the previous call to\nListLeads.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer leads than requested.\nIf unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            }
          },
          "flatPath": "v2/leads",
          "path": "v2/leads",
          "id": "partners.leads.list",
          "description": "Lists advertiser leads for a user's associated company.\nShould only be called within the context of an authorized logged in user."
        }
      }
    },
    "offers": {
      "methods": {
        "list": {
          "flatPath": "v2/offers",
          "id": "partners.offers.list",
          "path": "v2/offers",
          "description": "Lists the Offers available for the current user",
          "response": {
            "$ref": "ListOffersResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            }
          }
        }
      },
      "resources": {
        "history": {
          "methods": {
            "list": {
              "flatPath": "v2/offers/history",
              "id": "partners.offers.history.list",
              "path": "v2/offers/history",
              "description": "Lists the Historical Offers for the current user (or user's entire company)",
              "response": {
                "$ref": "ListOffersHistoryResponse"
              },
              "parameterOrder": [],
              "httpMethod": "GET",
              "parameters": {
                "requestMetadata.userOverrides.userId": {
                  "location": "query",
                  "description": "Logged-in user ID to impersonate instead of the user's ID.",
                  "type": "string"
                },
                "requestMetadata.partnersSessionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Google Partners session ID."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to retrieve a specific page.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of rows to return per page."
                },
                "requestMetadata.trafficSource.trafficSourceId": {
                  "location": "query",
                  "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
                  "type": "string"
                },
                "requestMetadata.locale": {
                  "type": "string",
                  "location": "query",
                  "description": "Locale to use for the current request."
                },
                "requestMetadata.userOverrides.ipAddress": {
                  "location": "query",
                  "description": "IP address to use instead of the user's geo-located IP address.",
                  "type": "string"
                },
                "entireCompany": {
                  "location": "query",
                  "description": "if true, show history for the entire company.  Requires user to be admin.",
                  "type": "boolean"
                },
                "requestMetadata.experimentIds": {
                  "location": "query",
                  "description": "Experiment IDs the current request belongs to.",
                  "type": "string",
                  "repeated": true
                },
                "requestMetadata.trafficSource.trafficSubId": {
                  "type": "string",
                  "location": "query",
                  "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Comma-separated list of fields to order by, e.g.: \"foo,bar,baz\".\nUse \"foo desc\" to sort descending.\nList of valid field names is: name, offer_code, expiration_time, status,\n    last_modified_time, sender_name, creation_time, country_code,\n    offer_type."
                }
              }
            }
          }
        }
      }
    },
    "userStates": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListUserStatesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            }
          },
          "flatPath": "v2/userStates",
          "id": "partners.userStates.list",
          "path": "v2/userStates",
          "description": "Lists states for current user."
        }
      }
    },
    "analytics": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListAnalyticsResponse"
          },
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListAnalyticsResponse.next_page_token`\nreturned from the previous call to\nListAnalytics.\nWill be a date string in `YYYY-MM-DD` format representing the end date\nof the date range of results to return.\nIf unspecified or set to \"\", default value is the current date.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer analytics than requested.\nIf unspecified or set to 0, default value is 30.\nSpecifies the number of days in the date range when querying analytics.\nThe `page_token` represents the end date of the date range\nand the start date is calculated using the `page_size` as the number\nof days BEFORE the end date.\nMust be a non-negative integer.",
              "type": "integer"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            }
          },
          "flatPath": "v2/analytics",
          "path": "v2/analytics",
          "id": "partners.analytics.list",
          "description": "Lists analytics data for a user's associated company.\nShould only be called within the context of an authorized logged in user."
        }
      }
    },
    "v2": {
      "methods": {
        "getPartnersstatus": {
          "flatPath": "v2/partnersstatus",
          "id": "partners.getPartnersstatus",
          "path": "v2/partnersstatus",
          "description": "Gets Partners Status of the logged in user's agency.\nShould only be called if the logged in user is the admin of the agency.",
          "response": {
            "$ref": "GetPartnersStatusResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            }
          }
        },
        "updateLeads": {
          "response": {
            "$ref": "Lead"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.\nOnly `state` and `adwords_customer_id` are currently supported."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            }
          },
          "flatPath": "v2/leads",
          "id": "partners.updateLeads",
          "path": "v2/leads",
          "request": {
            "$ref": "Lead"
          },
          "description": "Updates the specified lead."
        },
        "updateCompanies": {
          "response": {
            "$ref": "Company"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            }
          },
          "flatPath": "v2/companies",
          "id": "partners.updateCompanies",
          "path": "v2/companies",
          "request": {
            "$ref": "Company"
          },
          "description": "Update company.\nShould only be called within the context of an authorized logged in user."
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "schemas": {
    "LogUserEventRequest": {
      "type": "object",
      "properties": {
        "eventScope": {
          "enum": [
            "EVENT_SCOPE_UNSPECIFIED",
            "VISITOR",
            "SESSION",
            "PAGE"
          ],
          "description": "The scope of the event.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Based on visitor.",
            "Based on session.",
            "Based on page visit."
          ]
        },
        "eventDatas": {
          "items": {
            "$ref": "EventData"
          },
          "type": "array",
          "description": "List of event data for the event."
        },
        "eventCategory": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Google Partner Search category.",
            "Google Partner sign-up flow category.",
            "Google Partner portal category.",
            "Google Partner portal my-profile category.",
            "Google Partner portal certifications category.",
            "Google Partner portal community category.",
            "Google Partner portal insights category.",
            "Google Partner portal clients category.",
            "Google Partner portal public user profile category.",
            "Google Partner panel category.",
            "Google Partner portal last admin dialog category.",
            "Google Partner client category.",
            "Google Partner portal company profile category.",
            "External links category.",
            "Google Partner landing category."
          ],
          "enum": [
            "EVENT_CATEGORY_UNSPECIFIED",
            "GOOGLE_PARTNER_SEARCH",
            "GOOGLE_PARTNER_SIGNUP_FLOW",
            "GOOGLE_PARTNER_PORTAL",
            "GOOGLE_PARTNER_PORTAL_MY_PROFILE",
            "GOOGLE_PARTNER_PORTAL_CERTIFICATIONS",
            "GOOGLE_PARTNER_PORTAL_COMMUNITY",
            "GOOGLE_PARTNER_PORTAL_INSIGHTS",
            "GOOGLE_PARTNER_PORTAL_CLIENTS",
            "GOOGLE_PARTNER_PUBLIC_USER_PROFILE",
            "GOOGLE_PARTNER_PANEL",
            "GOOGLE_PARTNER_PORTAL_LAST_ADMIN_DIALOG",
            "GOOGLE_PARTNER_CLIENT",
            "GOOGLE_PARTNER_PORTAL_COMPANY_PROFILE",
            "EXTERNAL_LINKS",
            "GOOGLE_PARTNER_LANDING"
          ],
          "description": "The category the action belongs to."
        },
        "lead": {
          "$ref": "Lead",
          "description": "Advertiser lead information."
        },
        "eventAction": {
          "enum": [
            "EVENT_ACTION_UNSPECIFIED",
            "SMB_CLICKED_FIND_A_PARTNER_BUTTON_BOTTOM",
            "SMB_CLICKED_FIND_A_PARTNER_BUTTON_TOP",
            "AGENCY_CLICKED_JOIN_NOW_BUTTON_BOTTOM",
            "AGENCY_CLICKED_JOIN_NOW_BUTTON_TOP",
            "SMB_CANCELED_PARTNER_CONTACT_FORM",
            "SMB_CLICKED_CONTACT_A_PARTNER",
            "SMB_COMPLETED_PARTNER_CONTACT_FORM",
            "SMB_ENTERED_EMAIL_IN_CONTACT_PARTNER_FORM",
            "SMB_ENTERED_NAME_IN_CONTACT_PARTNER_FORM",
            "SMB_ENTERED_PHONE_IN_CONTACT_PARTNER_FORM",
            "SMB_FAILED_RECAPTCHA_IN_CONTACT_PARTNER_FORM",
            "PARTNER_VIEWED_BY_SMB",
            "SMB_CANCELED_PARTNER_CONTACT_FORM_ON_GPS",
            "SMB_CHANGED_A_SEARCH_PARAMETER_TOP",
            "SMB_CLICKED_CONTACT_A_PARTNER_ON_GPS",
            "SMB_CLICKED_SHOW_MORE_PARTNERS_BUTTON_BOTTOM",
            "SMB_COMPLETED_PARTNER_CONTACT_FORM_ON_GPS",
            "SMB_NO_PARTNERS_AVAILABLE_WITH_SEARCH_CRITERIA",
            "SMB_PERFORMED_SEARCH_ON_GPS",
            "SMB_VIEWED_A_PARTNER_ON_GPS",
            "SMB_CANCELED_PARTNER_CONTACT_FORM_ON_PROFILE_PAGE",
            "SMB_CLICKED_CONTACT_A_PARTNER_ON_PROFILE_PAGE",
            "SMB_CLICKED_PARTNER_WEBSITE",
            "SMB_COMPLETED_PARTNER_CONTACT_FORM_ON_PROFILE_PAGE",
            "SMB_VIEWED_A_PARTNER_PROFILE",
            "AGENCY_CLICKED_ACCEPT_TOS_BUTTON",
            "AGENCY_CHANGED_TOS_COUNTRY",
            "AGENCY_ADDED_ADDRESS_IN_MY_PROFILE_PORTAL",
            "AGENCY_ADDED_PHONE_NUMBER_IN_MY_PROFILE_PORTAL",
            "AGENCY_CHANGED_PRIMARY_ACCOUNT_ASSOCIATION",
            "AGENCY_CHANGED_PRIMARY_COUNTRY_ASSOCIATION",
            "AGENCY_CLICKED_AFFILIATE_BUTTON_IN_MY_PROFILE_IN_PORTAL",
            "AGENCY_CLICKED_GIVE_EDIT_ACCESS_IN_MY_PROFILE_PORTAL",
            "AGENCY_CLICKED_LOG_OUT_IN_MY_PROFILE_PORTAL",
            "AGENCY_CLICKED_MY_PROFILE_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_SAVE_AND_CONTINUE_AT_BOT_OF_COMPLETE_PROFILE",
            "AGENCY_CLICKED_UNAFFILIATE_IN_MY_PROFILE_PORTAL",
            "AGENCY_FILLED_OUT_COMP_AFFILIATION_IN_MY_PROFILE_PORTAL",
            "AGENCY_SUCCESSFULLY_CONNECTED_WITH_COMPANY_IN_MY_PROFILE",
            "AGENCY_CLICKED_CREATE_MCC_IN_MY_PROFILE_PORTAL",
            "AGENCY_DIDNT_HAVE_AN_MCC_ASSOCIATED_ON_COMPLETE_PROFILE",
            "AGENCY_HAD_AN_MCC_ASSOCIATED_ON_COMPLETE_PROFILE",
            "AGENCY_ADDED_JOB_FUNCTION_IN_MY_PROFILE_PORTAL",
            "AGENCY_LOOKED_AT_JOB_FUNCTION_DROP_DOWN",
            "AGENCY_SELECTED_ACCOUNT_MANAGER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_ACCOUNT_PLANNER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_ANALYTICS_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_CREATIVE_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_MEDIA_BUYER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_MEDIA_PLANNER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_OTHER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_PRODUCTION_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_SEO_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_SALES_REP_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_SEARCH_SPECIALIST_AS_JOB_FUNCTION",
            "AGENCY_ADDED_CHANNELS_IN_MY_PROFILE_PORTAL",
            "AGENCY_LOOKED_AT_ADD_CHANNEL_DROP_DOWN",
            "AGENCY_SELECTED_CROSS_CHANNEL_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_DISPLAY_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_MOBILE_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_SEARCH_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_SOCIAL_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_TOOLS_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_YOUTUBE_FROM_ADD_CHANNEL",
            "AGENCY_ADDED_INDUSTRIES_IN_MY_PROFILE_PORTAL",
            "AGENCY_CHANGED_ADD_INDUSTRIES_DROP_DOWN",
            "AGENCY_ADDED_MARKETS_IN_MY_PROFILE_PORTAL",
            "AGENCY_CHANGED_ADD_MARKETS_DROP_DOWN",
            "AGENCY_CHECKED_RECIEVE_MAIL_PROMOTIONS_MYPROFILE",
            "AGENCY_CHECKED_RECIEVE_MAIL_PROMOTIONS_SIGNUP",
            "AGENCY_SELECTED_OPT_IN_BETA_TESTS_AND_MKT_RESEARCH",
            "AGENCY_SELECTED_OPT_IN_BETA_TESTS_IN_MY_PROFILE_PORTAL",
            "AGENCY_SELECTED_OPT_IN_NEWS_IN_MY_PROFILE_PORTAL",
            "AGENCY_SELECTED_OPT_IN_NEWS_INVITATIONS_AND_PROMOS",
            "AGENCY_SELECTED_OPT_IN_PERFORMANCE_SUG_IN_MY_PROFILE_PORTAL",
            "AGENCY_SELECTED_OPT_IN_PERFORMANCE_SUGGESTIONS",
            "AGENCY_SELECTED_OPT_IN_SELECT_ALL_EMAIL_NOTIFICATIONS",
            "AGENCY_SELECTED_SELECT_ALL_OPT_INS_IN_MY_PROFILE_PORTAL",
            "AGENCY_CLICKED_BACK_BUTTON_ON_CONNECT_WITH_COMPANY",
            "AGENCY_CLICKED_CONTINUE_TO_OVERVIEW_ON_CONNECT_WITH_COMPANY",
            "AGECNY_CLICKED_CREATE_MCC_CONNECT_WITH_COMPANY_NOT_FOUND",
            "AGECNY_CLICKED_GIVE_EDIT_ACCESS_CONNECT_WITH_COMPANY_NOT_FOUND",
            "AGECNY_CLICKED_LOG_OUT_CONNECT_WITH_COMPANY_NOT_FOUND",
            "AGENCY_CLICKED_SKIP_FOR_NOW_ON_CONNECT_WITH_COMPANY_PAGE",
            "AGENCY_CLOSED_CONNECTED_TO_COMPANY_X_BUTTON_WRONG_COMPANY",
            "AGENCY_COMPLETED_FIELD_CONNECT_WITH_COMPANY",
            "AGECNY_FOUND_COMPANY_TO_CONNECT_WITH",
            "AGENCY_SUCCESSFULLY_CREATED_COMPANY",
            "AGENCY_ADDED_NEW_COMPANY_LOCATION",
            "AGENCY_CLICKED_COMMUNITY_JOIN_NOW_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_CONNECT_TO_COMPANY_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_GET_CERTIFIED_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_GET_VIDEO_ADS_CERTIFIED_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_LINK_TO_MCC_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_INSIGHT_CONTENT_IN_PORTAL",
            "AGENCY_CLICKED_INSIGHTS_VIEW_NOW_PITCH_DECKS_IN_PORTAL",
            "AGENCY_CLICKED_INSIGHTS_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_INSIGHTS_UPLOAD_CONTENT",
            "AGENCY_CLICKED_INSIGHTS_VIEWED_DEPRECATED",
            "AGENCY_CLICKED_COMMUNITY_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_JOIN_COMMUNITY_BUTTON_COMMUNITY_PORTAL",
            "AGENCY_CLICKED_CERTIFICATIONS_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_CERTIFICATIONS_PRODUCT_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_PARTNER_STATUS_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_PARTNER_STATUS_PRODUCT_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_OFFERS_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_SEND_BUTTON_ON_OFFERS_PAGE",
            "AGENCY_CLICKED_EXAM_DETAILS_ON_CERT_ADWORDS_PAGE",
            "AGENCY_CLICKED_SEE_EXAMS_CERTIFICATION_MAIN_PAGE",
            "AGENCY_CLICKED_TAKE_EXAM_ON_CERT_EXAM_PAGE",
            "AGENCY_OPENED_LAST_ADMIN_DIALOG",
            "AGENCY_OPENED_DIALOG_WITH_NO_USERS",
            "AGENCY_PROMOTED_USER_TO_ADMIN",
            "AGENCY_UNAFFILIATED",
            "AGENCY_CHANGED_ROLES",
            "SMB_CLICKED_COMPANY_NAME_LINK_TO_PROFILE",
            "SMB_VIEWED_ADWORDS_CERTIFICATE",
            "SMB_VIEWED_ADWORDS_SEARCH_CERTIFICATE",
            "SMB_VIEWED_ADWORDS_DISPLAY_CERTIFICATE",
            "SMB_CLICKED_ADWORDS_CERTIFICATE_HELP_ICON",
            "SMB_VIEWED_ANALYTICS_CERTIFICATE",
            "SMB_VIEWED_DOUBLECLICK_CERTIFICATE",
            "SMB_VIEWED_MOBILE_SITES_CERTIFICATE",
            "SMB_VIEWED_VIDEO_ADS_CERTIFICATE",
            "SMB_VIEWED_SHOPPING_CERTIFICATE",
            "SMB_CLICKED_VIDEO_ADS_CERTIFICATE_HELP_ICON",
            "SMB_VIEWED_DIGITAL_SALES_CERTIFICATE",
            "CLICKED_HELP_AT_BOTTOM",
            "CLICKED_HELP_AT_TOP",
            "CLIENT_ERROR",
            "AGENCY_CLICKED_LEFT_NAV_STORIES",
            "CLICKED",
            "SMB_VIEWED_MOBILE_CERTIFICATE",
            "AGENCY_FAILED_COMPANY_VERIFICATION",
            "VISITED_LANDING",
            "VISITED_GPS",
            "VISITED_AGENCY_PORTAL",
            "CANCELLED_INDIVIDUAL_SIGN_UP",
            "CANCELLED_COMPANY_SIGN_UP",
            "AGENCY_CLICKED_SIGN_IN_BUTTON_TOP",
            "AGENCY_CLICKED_SAVE_AND_CONTINUE_AT_BOT_OF_INCOMPLETE_PROFILE",
            "AGENCY_UNSELECTED_OPT_IN_NEWS_INVITATIONS_AND_PROMOS",
            "AGENCY_UNSELECTED_OPT_IN_BETA_TESTS_AND_MKT_RESEARCH",
            "AGENCY_UNSELECTED_OPT_IN_PERFORMANCE_SUGGESTIONS",
            "AGENCY_SELECTED_OPT_OUT_UNSELECT_ALL_EMAIL_NOTIFICATIONS",
            "AGENCY_LINKED_INDIVIDUAL_MCC",
            "AGENCY_SUGGESTED_TO_USER",
            "AGENCY_IGNORED_SUGGESTED_AGENCIES_AND_SEARCHED",
            "AGENCY_PICKED_SUGGESTED_AGENCY",
            "AGENCY_SEARCHED_FOR_AGENCIES",
            "AGENCY_PICKED_SEARCHED_AGENCY",
            "AGENCY_DISMISSED_AFFILIATION_WIDGET",
            "AGENCY_CLICKED_INSIGHTS_DOWNLOAD_CONTENT",
            "AGENCY_PROGRESS_INSIGHTS_VIEW_CONTENT",
            "AGENCY_CLICKED_CANCEL_ACCEPT_TOS_BUTTON",
            "SMB_ENTERED_WEBSITE_IN_CONTACT_PARTNER_FORM"
          ],
          "description": "The action that occurred.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Advertiser clicked `Find a partner` bottom button.",
            "Advertiser clicked `Find a partner` top button.",
            "Agency clicked `Join now` bottom button.",
            "Agency clicked `Join now` top button.",
            "Advertiser canceled partner contact form.",
            "Advertiser started partner contact form.",
            "Advertiser completed partner contact form.",
            "Advertiser entered email in contact form.",
            "Advertiser entered name in contact form.",
            "Advertiser entered phone in contact form.",
            "Advertiser failed \u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e\nin contact form.",
            "Company viewed by advertiser.",
            "Advertiser canceled partner contact form on Google Partner Search.",
            "Advertiser changed a top search parameter.",
            "Advertiser started partner contact form on Google Partner Search.",
            "Advertiser clicked `Show more partners` bottom button.",
            "Advertiser completed partner contact form on Google Partner Search.",
            "Advertiser saw no partners available with search criteria.",
            "Advertiser performed search on Google Partner Search.",
            "Advertiser viewed a partner on Google Partner Search.",
            "Advertiser canceled partner contact form on profile page.",
            "Advertiser started partner contact form on profile page.",
            "Advertiser clicked partner website.",
            "Advertiser completed contact form on profile page.",
            "Advertiser viewed a partner profile.",
            "Agency clicked `accept Terms Of Service` button.",
            "Agency changed Terms Of Service country.",
            "Agency added address in profile portal.",
            "Agency added phone number in profile portal.",
            "Agency changed primary account association.",
            "Agency changed primary country association.",
            "Agency clicked `affiliate` button in profile portal.",
            "Agency clicked `give edit access` in profile portal.",
            "Agency clicked `log out` in profile portal.",
            "Agency clicked profile portal left nav.",
            "Agency clicked `save and continue` at bottom of complete profile.",
            "Agency clicked `unaffiliate` in profile portal.",
            "Agency filled out company affiliation in profile portal.",
            "Agency successfully connected with company in profile portal.",
            "Agency clicked create MCC in profile portal.",
            "Agency did not have an MCC associated on profile portal.",
            "Agency had an MCC associated on profile portal.",
            "Agency added job function in profile portal.",
            "Agency looked at job function drop-down.",
            "Agency selected `account manage` as job function.",
            "Agency selected `account planner` as job function.",
            "Agency selected `Analytics` as job function.",
            "Agency selected `creative` as job function.",
            "Agency selected `media buyer` as job function.",
            "Agency selected `media planner` as job function.",
            "Agency selected `other` as job function.",
            "Agency selected `production` as job function.",
            "Agency selected `SEO` as job function.",
            "Agency selected `sales rep` as job function.",
            "Agency selected `search specialist` as job function.",
            "Agency added channels in profile portal.",
            "Agency looked at `add channel` drop-down.",
            "Agency selected `cross channel` from add channel drop-down.",
            "Agency selected `display` from add channel drop-down.",
            "Agency selected `mobile` from add channel drop-down.",
            "Agency selected `search` from add channel drop-down.",
            "Agency selected `social` from add channel drop-down.",
            "Agency selected `tools` from add channel drop-down.",
            "Agency selected `YouTube` from add channel drop-down.",
            "Agency added industries in profile portal.",
            "Agency changed `add industries` drop-down.",
            "Agency added markets in profile portal.",
            "Agency changed `add markets` drop-down.",
            "Agency checked `recieve mail promotions` in profile portal.",
            "Agency checked `recieve mail promotions` in sign-up.",
            "Agency selected `opt-in beta tests and market research`.",
            "Agency selected `opt-in beta tests` in profile portal.",
            "Agency selected `opt-in news` in profile portal.",
            "Agency selected `opt-in news invitations and promotions`.",
            "Agency selected `opt-in performance SUG` in profile portal.",
            "Agency selected `opt-in performance suggestions`.",
            "Agency selected `opt-in select all email notifications`.",
            "Agency selected `select all opt-ins` in profile portal.",
            "Agency clicked back button on `connect with company`.",
            "Agency clicked continue to overview on `connect with company`.",
            "Agency clicked `create MCC connect with company not found`.",
            "Agency clicked `give edit access connect with company not found`.",
            "Agency clicked `log out connect with company not found`.",
            "Agency clicked `skip for now on connect with company page`.",
            "Agency closed connection to company.",
            "Agency completed field connect with company.",
            "Agency found company to connect with.",
            "Agency successfully created company.",
            "Agency added new company location.",
            "Agency clicked community `join now link` in portal notifications.",
            "Agency clicked `connect to company` link in portal notifications.",
            "Agency cliecked `get certified` link in portal notifications.",
            "Agency clicked `get VideoAds certified` link in portal notifications.",
            "Agency clicked `link to MCC` link in portal notifications.",
            "Agency clicked `insight content` in portal.",
            "Agency clicked `insights view now pitch decks` in portal.",
            "Agency clicked `insights` left nav in portal.",
            "Agency clicked `insights upload content`.",
            "Agency clicked `insights viewed deprecated`.",
            "Agency clicked `community` left nav in portal.",
            "Agency clicked `join community` button in community portal.",
            "Agency clicked `certifications` left nav in portal.",
            "Agency clicked `certifications product` left nav in portal.",
            "Agency clicked `partner status` left nav in portal.",
            "Agency clicked `partner status product` left nav in portal.",
            "Agency clicked `offers` left nav in portal.",
            "Agency clicked `send` button on offers page.",
            "Agency clicked `exam details` on certifications AdWords page.",
            "Agency clicked `see exams` certifications main page.",
            "Agency clicked `take exam` on certifications exam page.",
            "Agency opened `last admin` dialog.",
            "Agency opened dialog with no users.",
            "Agency promoted user to admin.",
            "Agency unaffiliated.",
            "Agency changed roles.",
            "Advertiser clicked `company name` link to profile.",
            "Advertiser viewed AdWords certificate.",
            "Advertiser viewed AdWords Search certificate.",
            "Advertiser viewed AdWords Display certificate.",
            "Advertiser clicked AdWords certificate help icon.",
            "Advertiser viewed Analytics certificate.",
            "Advertiser viewed DoubleClick certificate.",
            "Advertiser viewed Mobile Sites certificate.",
            "Advertiser viewed VideoAds certificate.",
            "Advertiser clicked Shopping certificate help icon.",
            "Advertiser clicked VideoAds certificate help icon.",
            "Advertiser viewed Digital Sales certificate.",
            "Clicked `help` at bottom.",
            "Clicked `help` at top.",
            "Client error occurred.",
            "Agency clicked left nav `stories`.",
            "Click occured.",
            "Advertiser clicked Mobile certificate help icon.",
            "Agency failed the company verification.",
            "User visited the landing portion of Google Partners.",
            "User visited the Google Partner Search portion of Google Partners.",
            "User visited the agency portal portion of Google Partners.",
            "User cancelled signing up.",
            "User cancelled signing up their company.",
            "Agency clicked `Sign in` top button.",
            "Agency clicked `save and continue` at bottom of incomplete profile.",
            "Agency unselected `opt-in news invitations and promotions`.",
            "Agency unselected `opt-in beta tests and market research`.",
            "Agency unselected `opt-in performance suggestions`.",
            "Agency selected `opt-out unselect all email notifications`.",
            "Agency linked their individual MCC.",
            "Agency was suggested to user for affiliation.",
            "Agency ignored suggested agencies and begin searching.",
            "Agency picked a suggested agency.",
            "Agency searched for agencies.",
            "Agency picked a searched agency.",
            "Agency dismissed affiliation widget.",
            "Agency clicked on the download link for downloading content.",
            "Agency user is maklingg progress viewing a content item.",
            "Agency clicked `cancel Terms Of Service` button.",
            "Advertiser entered website in contact form."
          ]
        },
        "url": {
          "description": "The URL where the event occurred.",
          "type": "string"
        },
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Current request metadata."
        }
      },
      "id": "LogUserEventRequest",
      "description": "Request message for\nLogUserEvent."
    },
    "UserOverrides": {
      "description": "Values to use instead of the user's respective defaults. These are only\nhonored by whitelisted products.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "IP address to use instead of the user's geo-located IP address."
        },
        "userId": {
          "description": "Logged-in user ID to impersonate instead of the user's ID.",
          "type": "string"
        }
      },
      "id": "UserOverrides"
    },
    "AnalyticsDataPoint": {
      "type": "object",
      "properties": {
        "eventCount": {
          "format": "int32",
          "description": "Number of times the type of event occurred.\nMeaning depends on context (e.g. profile views, contacts, etc.).",
          "type": "integer"
        },
        "eventLocations": {
          "items": {
            "$ref": "LatLng"
          },
          "type": "array",
          "description": "Location information of where these events occurred."
        }
      },
      "id": "AnalyticsDataPoint",
      "description": "Details of the analytics events for a `Company` within a single day."
    },
    "Analytics": {
      "type": "object",
      "properties": {
        "searchViews": {
          "$ref": "AnalyticsDataPoint",
          "description": "Instances of users seeing the `Company` in Google Partners Search results\non the specified date."
        },
        "profileViews": {
          "$ref": "AnalyticsDataPoint",
          "description": "Instances of users viewing the `Company` profile\non the specified date."
        },
        "eventDate": {
          "$ref": "Date",
          "description": "Date on which these events occurred."
        },
        "contacts": {
          "$ref": "AnalyticsDataPoint",
          "description": "Instances of users contacting the `Company`\non the specified date."
        }
      },
      "id": "Analytics",
      "description": "Analytics data for a `Company` within a single day."
    },
    "PublicProfile": {
      "type": "object",
      "properties": {
        "profileImage": {
          "description": "The URL to the main profile image of the public profile.",
          "type": "string"
        },
        "displayImageUrl": {
          "description": "The URL to the main display image of the public profile. Being deprecated.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the public profile.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the public profile."
        },
        "id": {
          "type": "string",
          "description": "The ID which can be used to retrieve more details about the public profile."
        }
      },
      "id": "PublicProfile",
      "description": "Basic information from a public profile."
    },
    "AdWordsManagerAccountInfo": {
      "type": "object",
      "properties": {
        "customerName": {
          "description": "Name of the customer this account represents.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The AdWords Manager Account id."
        }
      },
      "id": "AdWordsManagerAccountInfo",
      "description": "Information about a particular AdWords Manager Account.\nRead more at https://support.google.com/adwords/answer/6139186"
    },
    "ResponseMetadata": {
      "type": "object",
      "properties": {
        "debugInfo": {
          "$ref": "DebugInfo",
          "description": "Debug information about this request."
        }
      },
      "id": "ResponseMetadata",
      "description": "Common data that is in each API response."
    },
    "RecaptchaChallenge": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the reCaptcha challenge.",
          "type": "string"
        },
        "response": {
          "description": "The response to the reCaptcha challenge.",
          "type": "string"
        }
      },
      "id": "RecaptchaChallenge",
      "description": "\u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e challenge info."
    },
    "AvailableOffer": {
      "type": "object",
      "properties": {
        "terms": {
          "description": "Terms of the offer.",
          "type": "string"
        },
        "showSpecialOfferCopy": {
          "description": "Should special text be shown on the offers page.",
          "type": "boolean"
        },
        "available": {
          "format": "int32",
          "description": "The number of codes for this offer that are available for distribution.",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "Description of the offer."
        },
        "offerLevel": {
          "enum": [
            "OFFER_LEVEL_UNSPECIFIED",
            "OFFER_LEVEL_DENY_PROBLEM",
            "OFFER_LEVEL_DENY_CONTRACT",
            "OFFER_LEVEL_MANUAL",
            "OFFER_LEVEL_LIMIT_0",
            "OFFER_LEVEL_LIMIT_5",
            "OFFER_LEVEL_LIMIT_15",
            "OFFER_LEVEL_LIMIT_50"
          ],
          "description": "Level of this offer.",
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "Users/Agencies that have no offers because of a problem.",
            "Users/Agencies that have no offers due to contractural agreements.",
            "Users/Agencies that have a manually-configured limit.",
            "Some Agencies don't get any offers.",
            "Basic level gets 5 per month.",
            "Agencies with adequate AHI and spend get 15/month.",
            "Badged partners (even in grace) get 50 per month."
          ]
        },
        "name": {
          "description": "Name of the offer.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this offer.",
          "type": "string"
        },
        "qualifiedCustomersComplete": {
          "type": "boolean",
          "description": "Whether or not the list of qualified customers is definitely complete."
        },
        "countryOfferInfos": {
          "description": "Offer info by country.",
          "items": {
            "$ref": "CountryOfferInfo"
          },
          "type": "array"
        },
        "offerType": {
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "OFFER_TYPE_SPEND_X_GET_Y",
            "OFFER_TYPE_VIDEO",
            "OFFER_TYPE_SPEND_MATCH"
          ],
          "description": "Type of offer.",
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "AdWords spend X get Y.",
            "Youtube video.",
            "Spend Match up to Y."
          ]
        },
        "maxAccountAge": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum age of an account [in days] to be eligible."
        },
        "qualifiedCustomer": {
          "description": "Customers who qualify for this offer.",
          "items": {
            "$ref": "OfferCustomer"
          },
          "type": "array"
        }
      },
      "id": "AvailableOffer",
      "description": "Available Offers to be distributed."
    },
    "LatLng": {
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair\nof doubles representing degrees latitude and degrees longitude. Unless\nspecified otherwise, this must conform to the\n\u003ca href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\"\u003eWGS84\nstandard\u003c/a\u003e. Values must be within normalized ranges.\n\nExample of normalization code in Python:\n\n    def NormalizeLongitude(longitude):\n      \"\"\"Wraps decimal degrees longitude to [-180.0, 180.0].\"\"\"\n      q, r = divmod(longitude, 360.0)\n      if r \u003e 180.0 or (r == 180.0 and q \u003c= -1.0):\n        return r - 360.0\n      return r\n\n    def NormalizeLatLng(latitude, longitude):\n      \"\"\"Wraps decimal degrees latitude and longitude to\n      [-90.0, 90.0] and [-180.0, 180.0], respectively.\"\"\"\n      r = latitude % 360.0\n      if r \u003c= 90.0:\n        return r, NormalizeLongitude(longitude)\n      elif r \u003e= 270.0:\n        return r - 360, NormalizeLongitude(longitude)\n      else:\n        return 180 - r, NormalizeLongitude(longitude + 180.0)\n\n    assert 180.0 == NormalizeLongitude(180.0)\n    assert -180.0 == NormalizeLongitude(-180.0)\n    assert -179.0 == NormalizeLongitude(181.0)\n    assert (0.0, 0.0) == NormalizeLatLng(360.0, 0.0)\n    assert (0.0, 0.0) == NormalizeLatLng(-360.0, 0.0)\n    assert (85.0, 180.0) == NormalizeLatLng(95.0, 0.0)\n    assert (-85.0, -170.0) == NormalizeLatLng(-95.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(90.0, 10.0)\n    assert (-90.0, -10.0) == NormalizeLatLng(-90.0, -10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(-180.0, 10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(180.0, 10.0)\n    assert (-90.0, 10.0) == NormalizeLatLng(270.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(-270.0, 10.0)",
      "type": "object",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number"
        }
      },
      "id": "LatLng"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The 3-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      },
      "id": "Money"
    },
    "AnalyticsSummary": {
      "type": "object",
      "properties": {
        "profileViewsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Aggregated number of profile views for the `Company` for given date range."
        },
        "searchViewsCount": {
          "format": "int32",
          "description": "Aggregated number of times users saw the `Company`\nin Google Partners Search results for given date range.",
          "type": "integer"
        },
        "contactsCount": {
          "format": "int32",
          "description": "Aggregated number of times users contacted the `Company`\nfor given date range.",
          "type": "integer"
        }
      },
      "id": "AnalyticsSummary",
      "description": "Analytics aggregated data for a `Company` for a given date range."
    },
    "LogMessageRequest": {
      "description": "Request message for\nLogClientMessage.",
      "type": "object",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Message level for tracing information.",
            "Message level for informational messages.",
            "Message level for potential problems.",
            "Message level for serious failures."
          ],
          "enum": [
            "MESSAGE_LEVEL_UNSPECIFIED",
            "ML_FINE",
            "ML_INFO",
            "ML_WARNING",
            "ML_SEVERE"
          ],
          "description": "Message level of client message."
        },
        "details": {
          "type": "string",
          "description": "Details about the client message."
        },
        "clientInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of client info, such as URL, browser navigator, browser platform, etc."
        },
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Current request metadata."
        }
      },
      "id": "LogMessageRequest"
    },
    "Lead": {
      "description": "A lead resource that represents an advertiser contact for a `Company`. These\nare usually generated via Google Partner Search (the advertiser portal).",
      "type": "object",
      "properties": {
        "adwordsCustomerId": {
          "format": "int64",
          "description": "The AdWords Customer ID of the lead.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number of lead source.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp of when this lead was created.",
          "type": "string"
        },
        "marketingOptIn": {
          "type": "boolean",
          "description": "Whether or not the lead signed up for marketing emails"
        },
        "type": {
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "LT_GPS"
          ],
          "description": "Type of lead.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Google Partner Search."
          ]
        },
        "givenName": {
          "type": "string",
          "description": "First name of lead source."
        },
        "minMonthlyBudget": {
          "$ref": "Money",
          "description": "The minimum monthly budget lead source is willing to spend."
        },
        "websiteUrl": {
          "description": "Website URL of lead source.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code of the lead's language preference, as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\")."
        },
        "state": {
          "enum": [
            "LEAD_STATE_UNSPECIFIED",
            "LEAD",
            "CONTACTED",
            "CLIENT",
            "OTHER"
          ],
          "description": "The lead's state in relation to the company.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Lead not yet contacted.",
            "Lead has been contacted.",
            "Lead has become a client.",
            "Lead in a state not covered by other options."
          ]
        },
        "gpsMotivations": {
          "items": {
            "type": "string",
            "enum": [
              "GPS_MOTIVATION_UNSPECIFIED",
              "GPSM_HELP_WITH_ADVERTISING",
              "GPSM_HELP_WITH_WEBSITE",
              "GPSM_NO_WEBSITE"
            ]
          },
          "type": "array",
          "enumDescriptions": [
            "Unchosen.",
            "Advertiser needs help with their advertising.",
            "Advertiser needs help with their website.",
            "Advertiser does not have a website."
          ],
          "description": "List of reasons for using Google Partner Search and creating a lead."
        },
        "email": {
          "description": "Email address of lead source.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "Last name of lead source."
        },
        "id": {
          "type": "string",
          "description": "ID of the lead."
        },
        "comments": {
          "description": "Comments lead source gave.",
          "type": "string"
        }
      },
      "id": "Lead"
    },
    "DebugInfo": {
      "type": "object",
      "properties": {
        "serverTraceInfo": {
          "description": "Server-side debug stack trace.",
          "type": "string"
        },
        "serverInfo": {
          "type": "string",
          "description": "Info about the server that serviced this request."
        },
        "serviceUrl": {
          "type": "string",
          "description": "URL of the service that handled this request."
        }
      },
      "id": "DebugInfo",
      "description": "Debug information about this request."
    },
    "ListUserStatesResponse": {
      "type": "object",
      "properties": {
        "userStates": {
          "description": "User's states.",
          "items": {
            "enum": [
              "USER_STATE_UNSPECIFIED",
              "US_REQUIRES_RECAPTCHA_FOR_GPS_CONTACT"
            ],
            "type": "string"
          },
          "type": "array",
          "enumDescriptions": [
            "Unchosen.",
            "User must pass \u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e to\ncontact a Partner via Google Partner Search."
          ]
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "ListUserStatesResponse",
      "description": "Response message for\nListUserStates."
    },
    "CompanyRelation": {
      "description": "A CompanyRelation resource representing information about a user's\naffiliation and standing with a company in Partners.",
      "type": "object",
      "properties": {
        "specializationStatus": {
          "items": {
            "$ref": "SpecializationStatus"
          },
          "type": "array",
          "description": "The list of Google Partners specialization statuses for the company."
        },
        "badgeTier": {
          "enum": [
            "BADGE_TIER_NONE",
            "BADGE_TIER_REGULAR",
            "BADGE_TIER_PREMIER"
          ],
          "description": "Whether the company is a Partner.",
          "type": "string",
          "enumDescriptions": [
            "Tier badge is not set.",
            "Agency has regular partner badge.",
            "Agency has premier badge."
          ]
        },
        "website": {
          "type": "string",
          "description": "The website URL for this company."
        },
        "phoneNumber": {
          "description": "The phone number for the company's primary address.",
          "type": "string"
        },
        "primaryCountryCode": {
          "type": "string",
          "description": "The primary country code of the company."
        },
        "companyId": {
          "description": "The ID of the company. There may be no id if this is a\npending company.5",
          "type": "string"
        },
        "primaryLanguageCode": {
          "description": "The primary language code of the company.",
          "type": "string"
        },
        "logoUrl": {
          "type": "string",
          "description": "A URL to a profile photo, e.g. a G+ profile photo."
        },
        "resolvedTimestamp": {
          "format": "google-datetime",
          "description": "The timestamp when the user was approved.\n@OutputOnly",
          "type": "string"
        },
        "companyAdmin": {
          "description": "Indicates if the user is an admin for this company.",
          "type": "boolean"
        },
        "isPending": {
          "description": "The flag that indicates if the company is pending verification.",
          "type": "boolean"
        },
        "address": {
          "type": "string",
          "description": "The primary address for this company."
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "The timestamp of when affiliation was requested.\n@OutputOnly",
          "type": "string"
        },
        "state": {
          "enum": [
            "USER_COMPANY_REATION_STATE_NONE_SPECIFIED",
            "USER_COMPANY_RELATION_STATE_AWAIT_EMAIL",
            "USER_COMPANY_RELATION_STATE_AWAIT_ADMIN",
            "USER_COMPANY_RELATION_STATE_APPROVED"
          ],
          "description": "The state of relationship, in terms of approvals.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "User has filled in a request to be associated with an company.\nNow waiting email confirmation.",
            "Pending approval from company.\nEmail confirmation will not approve this one.",
            "Approved by company."
          ]
        },
        "primaryAddress": {
          "$ref": "Location",
          "description": "The primary location of the company."
        },
        "managerAccount": {
          "type": "string",
          "format": "int64",
          "description": "The AdWords manager account # associated this company."
        },
        "name": {
          "type": "string",
          "description": "The name (in the company's primary language) for the company."
        },
        "segment": {
          "description": "The segment the company is classified as.",
          "items": {
            "enum": [
              "COMPANY_SEGMENT_UNKNOWN",
              "COMPANY_SEGMENT_NAL",
              "COMPANY_SEGMENT_PSP",
              "COMPANY_SEGMENT_PPSP"
            ],
            "type": "string"
          },
          "type": "array",
          "enumDescriptions": [
            "Default segment indicates an unknown.",
            "Segment representing a selected group of Partners",
            "Segment representing Premier SMB Partners, an AdWords partnership program.",
            "A segment of Premier SMB Partners that have relationship with Google."
          ]
        },
        "internalCompanyId": {
          "type": "string",
          "description": "The internal company ID.\nOnly available for a whitelisted set of api clients."
        }
      },
      "id": "CompanyRelation"
    },
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of year. Must be from 1 to 12."
        }
      },
      "id": "Date",
      "description": "Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "TrafficSource": {
      "type": "object",
      "properties": {
        "trafficSubId": {
          "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
          "type": "string"
        },
        "trafficSourceId": {
          "type": "string",
          "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
        }
      },
      "id": "TrafficSource",
      "description": "Source of traffic for the current request."
    },
    "CreateLeadRequest": {
      "description": "Request message for CreateLead.",
      "type": "object",
      "properties": {
        "recaptchaChallenge": {
          "$ref": "RecaptchaChallenge",
          "description": "\u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e challenge info."
        },
        "lead": {
          "$ref": "Lead",
          "description": "The lead resource. The `LeadType` must not be `LEAD_TYPE_UNSPECIFIED`\nand either `email` or `phone_number` must be provided."
        },
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Current request metadata."
        }
      },
      "id": "CreateLeadRequest"
    },
    "RequestMetadata": {
[...]
