{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://dlp.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "DLP",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "dlp:v2",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "name": "dlp",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "infoTypes": {
      "methods": {
        "list": {
          "description": "Returns a list of the sensitive information types that the DLP API\nsupports. See https://cloud.google.com/dlp/docs/infotypes-reference to\nlearn more.",
          "flatPath": "v2/infoTypes",
          "httpMethod": "GET",
          "id": "dlp.infoTypes.list",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "filter to only return infoTypes supported by certain parts of the\nAPI. Defaults to supported_by=INSPECT.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "description": "BCP-47 language code for localized infoType friendly\nnames. If omitted, or if localized strings are not available,\nen-US strings will be returned.",
              "location": "query",
              "type": "string"
            },
            "locationId": {
              "description": "The geographic location to list info types. Reserved for future\nextensions.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/infoTypes",
          "response": {
            "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "locations": {
      "resources": {
        "infoTypes": {
          "methods": {
            "list": {
              "description": "Returns a list of the sensitive information types that the DLP API\nsupports. See https://cloud.google.com/dlp/docs/infotypes-reference to\nlearn more.",
              "flatPath": "v2/locations/{locationId}/infoTypes",
              "httpMethod": "GET",
              "id": "dlp.locations.infoTypes.list",
              "parameterOrder": [
                "locationId"
              ],
              "parameters": {
                "filter": {
                  "description": "filter to only return infoTypes supported by certain parts of the\nAPI. Defaults to supported_by=INSPECT.",
                  "location": "query",
                  "type": "string"
                },
                "languageCode": {
                  "description": "BCP-47 language code for localized infoType friendly\nnames. If omitted, or if localized strings are not available,\nen-US strings will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "locationId": {
                  "description": "The geographic location to list info types. Reserved for future\nextensions.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/locations/{locationId}/infoTypes",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "deidentifyTemplates": {
          "methods": {
            "create": {
              "description": "Creates a DeidentifyTemplate for re-using frequently used configuration\nfor de-identifying content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates",
              "httpMethod": "POST",
              "id": "dlp.organizations.deidentifyTemplates.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/deidentifyTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "DELETE",
              "id": "dlp.organizations.deidentifyTemplates.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and deidentify template to be deleted,\nfor example `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "GET",
              "id": "dlp.organizations.deidentifyTemplates.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and deidentify template to be read, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists DeidentifyTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates",
              "httpMethod": "GET",
              "id": "dlp.organizations.deidentifyTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "locationId": {
                  "description": "The geographic location where deidentifications templates will be retrieved\nfrom. Use `-` for all locations. Reserved for future extensions.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call\nto `ListDeidentifyTemplates`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/deidentifyTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "PATCH",
              "id": "dlp.organizations.deidentifyTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of organization and deidentify template to be updated, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "inspectTemplates": {
          "methods": {
            "create": {
              "description": "Creates an InspectTemplate for re-using frequently used configuration\nfor inspecting content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates",
              "httpMethod": "POST",
              "id": "dlp.organizations.inspectTemplates.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/inspectTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes an InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "DELETE",
              "id": "dlp.organizations.inspectTemplates.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets an InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "GET",
              "id": "dlp.organizations.inspectTemplates.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and inspectTemplate to be read, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists InspectTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates",
              "httpMethod": "GET",
              "id": "dlp.organizations.inspectTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "locationId": {
                  "description": "The geographic location where inspection templates will be retrieved from.\nUse `-` for all locations. Reserved for future extensions.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call\nto `ListInspectTemplates`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/inspectTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "PATCH",
              "id": "dlp.organizations.inspectTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of organization and inspectTemplate to be updated, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "deidentifyTemplates": {
              "methods": {
                "create": {
                  "description": "Creates a DeidentifyTemplate for re-using frequently used configuration\nfor de-identifying content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationId}/deidentifyTemplates",
                  "httpMethod": "POST",
                  "id": "dlp.organizations.locations.deidentifyTemplates.create",
                  "parameterOrder": [
                    "parent",
                    "locationId"
                  ],
                  "parameters": {
                    "locationId": {
                      "description": "The geographic location to store the deidentification template. Reserved\nfor future extensions.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/locations/{locationId}/deidentifyTemplates",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "httpMethod": "DELETE",
                  "id": "dlp.organizations.locations.deidentifyTemplates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and deidentify template to be deleted,\nfor example `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.deidentifyTemplates.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and deidentify template to be read, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists DeidentifyTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationId}/deidentifyTemplates",
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.deidentifyTemplates.list",
                  "parameterOrder": [
                    "parent",
                    "locationId"
                  ],
                  "parameters": {
                    "locationId": {
                      "description": "The geographic location where deidentifications templates will be retrieved\nfrom. Use `-` for all locations. Reserved for future extensions.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from previous call\nto `ListDeidentifyTemplates`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/locations/{locationId}/deidentifyTemplates",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates the DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "httpMethod": "PATCH",
                  "id": "dlp.organizations.locations.deidentifyTemplates.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of organization and deidentify template to be updated, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "inspectTemplates": {
              "methods": {
                "create": {
                  "description": "Creates an InspectTemplate for re-using frequently used configuration\nfor inspecting content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationId}/inspectTemplates",
                  "httpMethod": "POST",
                  "id": "dlp.organizations.locations.inspectTemplates.create",
                  "parameterOrder": [
                    "parent",
                    "locationId"
                  ],
                  "parameters": {
                    "locationId": {
                      "description": "The geographic location to store the inspection template. Reserved for\nfuture extensions.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/locations/{locationId}/inspectTemplates",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes an InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "httpMethod": "DELETE",
                  "id": "dlp.organizations.locations.inspectTemplates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets an InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.inspectTemplates.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and inspectTemplate to be read, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists InspectTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationId}/inspectTemplates",
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.inspectTemplates.list",
                  "parameterOrder": [
                    "parent",
                    "locationId"
                  ],
                  "parameters": {
                    "locationId": {
                      "description": "The geographic location where inspection templates will be retrieved from.\nUse `-` for all locations. Reserved for future extensions.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from previous call\nto `ListInspectTemplates`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/locations/{locationId}/inspectTemplates",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates the InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "httpMethod": "PATCH",
                  "id": "dlp.organizations.locations.inspectTemplates.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of organization and inspectTemplate to be updated, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "storedInfoTypes": {
              "methods": {
                "create": {
                  "description": "Creates a pre-built stored infoType to be used for inspection.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationId}/storedInfoTypes",
                  "httpMethod": "POST",
                  "id": "dlp.organizations.locations.storedInfoTypes.create",
                  "parameterOrder": [
                    "parent",
                    "locationId"
                  ],
                  "parameters": {
                    "locationId": {
                      "description": "The geographic location to store the stored infoType. Reserved for\nfuture extensions.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/locations/{locationId}/storedInfoTypes",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a stored infoType.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "httpMethod": "DELETE",
                  "id": "dlp.organizations.locations.storedInfoTypes.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and storedInfoType to be deleted, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets a stored infoType.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.storedInfoTypes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and storedInfoType to be read, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists stored infoTypes.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationId}/storedInfoTypes",
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.storedInfoTypes.list",
                  "parameterOrder": [
                    "parent",
                    "locationId"
                  ],
                  "parameters": {
                    "locationId": {
                      "description": "The geographic location where stored infoTypes will be retrieved from.\nUse `-` for all locations. Reserved for future extensions.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc, display_name, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the most recent version of the\nresource was created.\n- `state`: corresponds to the state of the resource.\n- `name`: corresponds to resource name.\n- `display_name`: corresponds to info type's display name.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from previous call\nto `ListStoredInfoTypes`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/locations/{locationId}/storedInfoTypes",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates the stored infoType by creating a new version. The existing version\nwill continue to be used until the new version is ready.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "httpMethod": "PATCH",
                  "id": "dlp.organizations.locations.storedInfoTypes.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of organization and storedInfoType to be updated, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "storedInfoTypes": {
          "methods": {
            "create": {
              "description": "Creates a pre-built stored infoType to be used for inspection.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes",
              "httpMethod": "POST",
              "id": "dlp.organizations.storedInfoTypes.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/storedInfoTypes",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a stored infoType.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
              "httpMethod": "DELETE",
              "id": "dlp.organizations.storedInfoTypes.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and storedInfoType to be deleted, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets a stored infoType.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
              "httpMethod": "GET",
              "id": "dlp.organizations.storedInfoTypes.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and storedInfoType to be read, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists stored infoTypes.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes",
              "httpMethod": "GET",
              "id": "dlp.organizations.storedInfoTypes.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "locationId": {
                  "description": "The geographic location where stored infoTypes will be retrieved from.\nUse `-` for all locations. Reserved for future extensions.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc, display_name, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the most recent version of the\nresource was created.\n- `state`: corresponds to the state of the resource.\n- `name`: corresponds to resource name.\n- `display_name`: corresponds to info type's display name.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call\nto `ListStoredInfoTypes`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/storedInfoTypes",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the stored infoType by creating a new version. The existing version\nwill continue to be used until the new version is ready.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
              "httpMethod": "PATCH",
              "id": "dlp.organizations.storedInfoTypes.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of organization and storedInfoType to be updated, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "content": {
          "methods": {
            "deidentify": {
              "description": "De-identifies potentially sensitive info from a ContentItem.\nThis method has limits on input size and output size.\nSee https://cloud.google.com/dlp/docs/deidentify-sensitive-data to\nlearn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
              "flatPath": "v2/projects/{projectsId}/content:deidentify",
              "httpMethod": "POST",
              "id": "dlp.projects.content.deidentify",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/content:deidentify",
              "request": {
                "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "inspect": {
              "description": "Finds potentially sensitive info in content.\nThis method has limits on input size, processing time, and output size.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.\n\nFor how to guides, see https://cloud.google.com/dlp/docs/inspecting-images\nand https://cloud.google.com/dlp/docs/inspecting-text,",
              "flatPath": "v2/projects/{projectsId}/content:inspect",
              "httpMethod": "POST",
              "id": "dlp.projects.content.inspect",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/content:inspect",
              "request": {
                "$ref": "GooglePrivacyDlpV2InspectContentRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectContentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "reidentify": {
              "description": "Re-identifies content that has been de-identified.\nSee\nhttps://cloud.google.com/dlp/docs/pseudonymization#re-identification_in_free_text_code_example\nto learn more.",
              "flatPath": "v2/projects/{projectsId}/content:reidentify",
              "httpMethod": "POST",
              "id": "dlp.projects.content.reidentify",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/content:reidentify",
              "request": {
                "$ref": "GooglePrivacyDlpV2ReidentifyContentRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2ReidentifyContentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "deidentifyTemplates": {
          "methods": {
            "create": {
              "description": "Creates a DeidentifyTemplate for re-using frequently used configuration\nfor de-identifying content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
              "httpMethod": "POST",
              "id": "dlp.projects.deidentifyTemplates.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/deidentifyTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "DELETE",
              "id": "dlp.projects.deidentifyTemplates.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and deidentify template to be deleted,\nfor example `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "GET",
              "id": "dlp.projects.deidentifyTemplates.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and deidentify template to be read, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists DeidentifyTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
              "httpMethod": "GET",
              "id": "dlp.projects.deidentifyTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "locationId": {
                  "description": "The geographic location where deidentifications templates will be retrieved\nfrom. Use `-` for all locations. Reserved for future extensions.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call\nto `ListDeidentifyTemplates`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/deidentifyTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "PATCH",
              "id": "dlp.projects.deidentifyTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of organization and deidentify template to be updated, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "dlpJobs": {
          "methods": {
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running DlpJob. The server\nmakes a best effort to cancel the DlpJob, but success is not\nguaranteed.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}:cancel",
              "httpMethod": "POST",
              "id": "dlp.projects.dlpJobs.cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the DlpJob resource to be cancelled.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}:cancel",
              "request": {
                "$ref": "GooglePrivacyDlpV2CancelDlpJobRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "description": "Creates a new job to inspect storage or calculate risk metrics.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in inspect jobs, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
              "flatPath": "v2/projects/{projectsId}/dlpJobs",
              "httpMethod": "POST",
              "id": "dlp.projects.dlpJobs.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/dlpJobs",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDlpJobRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a long-running DlpJob. This method indicates that the client is\nno longer interested in the DlpJob result. The job will be cancelled if\npossible.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "httpMethod": "DELETE",
              "id": "dlp.projects.dlpJobs.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the DlpJob resource to be deleted.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets the latest state of a long-running DlpJob.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "httpMethod": "GET",
              "id": "dlp.projects.dlpJobs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the DlpJob resource.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists DlpJobs that match the specified filter in the request.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "flatPath": "v2/projects/{projectsId}/dlpJobs",
              "httpMethod": "GET",
              "id": "dlp.projects.dlpJobs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Allows filtering.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* Supported fields/values for inspect jobs:\n    - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED\n    - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY\n    - `trigger_name` - The resource name of the trigger that created job.\n    - 'end_time` - Corresponds to time the job finished.\n    - 'start_time` - Corresponds to time the job finished.\n* Supported fields for risk analysis jobs:\n    - `state` - RUNNING|CANCELED|FINISHED|FAILED\n    - 'end_time` - Corresponds to time the job finished.\n    - 'start_time` - Corresponds to time the job finished.\n* The operator must be `=` or `!=`.\n\nExamples:\n\n* inspected_storage = cloud_storage AND state = done\n* inspected_storage = cloud_storage OR inspected_storage = bigquery\n* inspected_storage = cloud_storage AND (state = done OR state = canceled)\n* end_time \u003e \\\"2017-12-12T00:00:00+00:00\\\"\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "locationId": {
                  "description": "The geographic location where jobs will be retrieved from.\nUse `-` for all locations. Reserved for future extensions.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc, end_time asc, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the job was created.\n- `end_time`: corresponds to time the job ended.\n- `name`: corresponds to job's name.\n- `state`: corresponds to `state`",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "type": {
                  "description": "The type of job. Defaults to `DlpJobType.INSPECT`",
                  "enum": [
                    "DLP_JOB_TYPE_UNSPECIFIED",
                    "INSPECT_JOB",
                    "RISK_ANALYSIS_JOB"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/dlpJobs",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDlpJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "image": {
          "methods": {
            "redact": {
              "description": "Redacts potentially sensitive info from an image.\nThis method has limits on input size, processing time, and output size.\nSee https://cloud.google.com/dlp/docs/redacting-sensitive-data-images to\nlearn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
              "flatPath": "v2/projects/{projectsId}/image:redact",
              "httpMethod": "POST",
              "id": "dlp.projects.image.redact",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/image:redact",
              "request": {
                "$ref": "GooglePrivacyDlpV2RedactImageRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2RedactImageResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "inspectTemplates": {
          "methods": {
            "create": {
              "description": "Creates an InspectTemplate for re-using frequently used configuration\nfor inspecting content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates",
              "httpMethod": "POST",
              "id": "dlp.projects.inspectTemplates.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/inspectTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes an InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "DELETE",
              "id": "dlp.projects.inspectTemplates.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets an InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "GET",
              "id": "dlp.projects.inspectTemplates.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and inspectTemplate to be read, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists InspectTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates",
              "httpMethod": "GET",
              "id": "dlp.projects.inspectTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "locationId": {
                  "description": "The geographic location where inspection templates will be retrieved from.\nUse `-` for all locations. Reserved for future extensions.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call\nto `ListInspectTemplates`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/inspectTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "PATCH",
              "id": "dlp.projects.inspectTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of organization and inspectTemplate to be updated, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "jobTriggers": {
          "methods": {
            "activate": {
              "description": "Activate a job trigger. Causes the immediate execute of a trigger\ninstead of waiting on the trigger event to occur.",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}:activate",
              "httpMethod": "POST",
              "id": "dlp.projects.jobTriggers.activate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the trigger to activate, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}:activate",
              "request": {
                "$ref": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "description": "Creates a job trigger to run DLP actions such as scanning storage for\nsensitive information on a set schedule.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "flatPath": "v2/projects/{projectsId}/jobTriggers",
              "httpMethod": "POST",
              "id": "dlp.projects.jobTriggers.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/jobTriggers",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "httpMethod": "DELETE",
              "id": "dlp.projects.jobTriggers.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "httpMethod": "GET",
              "id": "dlp.projects.jobTriggers.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists job triggers.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "flatPath": "v2/projects/{projectsId}/jobTriggers",
              "httpMethod": "GET",
              "id": "dlp.projects.jobTriggers.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Allows filtering.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* Supported fields/values for inspect jobs:\n    - `status` - HEALTHY|PAUSED|CANCELLED\n    - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY\n    - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by\n    quotation marks. Nanoseconds are ignored.\n    - 'error_count' - Number of errors that have occurred while running.\n* The operator must be `=` or `!=` for status and inspected_storage.\n\nExamples:\n\n* inspected_storage = cloud_storage AND status = HEALTHY\n* inspected_storage = cloud_storage OR inspected_storage = bigquery\n* inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY)\n* last_run_time \u003e \\\"2017-12-12T00:00:00+00:00\\\"\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "locationId": {
                  "description": "The geographic location where job triggers will be retrieved from.\nUse `-` for all locations. Reserved for future extensions.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma separated list of triggeredJob fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the JobTrigger was created.\n- `update_time`: corresponds to time the JobTrigger was last updated.\n- `last_run_time`: corresponds to the last time the JobTrigger ran.\n- `name`: corresponds to JobTrigger's name.\n- `display_name`: corresponds to JobTrigger's display name.\n- `status`: corresponds to JobTrigger's status.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by a server.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call\nto ListJobTriggers. `order_by` field must not\nchange for subsequent calls.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example `projects/my-project-id`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/jobTriggers",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "httpMethod": "PATCH",
              "id": "dlp.projects.jobTriggers.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "content": {
              "methods": {
                "deidentify": {
                  "description": "De-identifies potentially sensitive info from a ContentItem.\nThis method has limits on input size and output size.\nSee https://cloud.google.com/dlp/docs/deidentify-sensitive-data to\nlearn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationId}/content:deidentify",
                  "httpMethod": "POST",
                  "id": "dlp.projects.locations.content.deidentify",
                  "parameterOrder": [
                    "parent",
                    "locationId"
                  ],
                  "parameters": {
                    "locationId": {
                      "description": "The geographic location to process de-identification. Reserved for future\nextensions.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent resource name, for example projects/my-project-id.",
                      "location": "path",
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/locations/{locationId}/content:deidentify",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "inspect": {
                  "description": "Finds potentially sensitive info in content.\nThis method has limits on input size, processing time, and output size.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.\n\nFor how to guides, see https://cloud.google.com/dlp/docs/inspecting-images\nand https://cloud.google.com/dlp/docs/inspecting-text,",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationId}/content:inspect",
                  "httpMethod": "POST",
                  "id": "dlp.projects.locations.content.inspect",
                  "parameterOrder": [
                    "parent",
                    "locationId"
                  ],
[...]
