{
 "kind": "discovery#restDescription",
 "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/nsrqaI4lgGEWT1svBQ_EafFnOIk\"",
 "discoveryVersion": "v1",
 "id": "logging:v2beta1",
 "name": "logging",
 "version": "v2beta1",
 "revision": "20150610",
 "title": "Google Cloud Logging API",
 "description": "The Google Cloud Logging API lets you write log entries and manage your logs, log sinks and logs-based metrics.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "https://cloud.google.com/logging/docs/",
 "protocol": "rest",
 "baseUrl": "https://logging.googleapis.com/",
 "basePath": "/",
 "rootUrl": "https://logging.googleapis.com/",
 "servicePath": "",
 "batchPath": "batch",
 "parameters": {
  "access_token": {
   "type": "string",
   "description": "OAuth access token.",
   "location": "query"
  },
  "alt": {
   "type": "string",
   "description": "Data format for response.",
   "default": "json",
   "enumDescriptions": [
    "Responses with Content-Type of application/json",
    "Media download with context-dependent Content-Type",
    "Responses with Content-Type of application/x-protobuf"
   ],
   "location": "query"
  },
  "bearer_token": {
   "type": "string",
   "description": "OAuth bearer token.",
   "location": "query"
  },
  "callback": {
   "type": "string",
   "description": "JSONP",
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "pp": {
   "type": "boolean",
   "description": "Pretty-print response.",
   "default": "true",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
   "location": "query"
  },
  "upload_protocol": {
   "type": "string",
   "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
   "location": "query"
  },
  "uploadType": {
   "type": "string",
   "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
   "location": "query"
  },
  "$.xgafv": {
   "type": "string",
   "description": "V1 error format.",
   "enumDescriptions": [
    "v1 error format",
    "v2 error format"
   ],
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/cloud-platform.read-only": {
     "description": "View your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/logging.admin": {
     "description": "Administrate log data for your projects"
    },
    "https://www.googleapis.com/auth/logging.read": {
     "description": "View log data for your projects"
    },
    "https://www.googleapis.com/auth/logging.write": {
     "description": "Submit log data for your projects"
    }
   }
  }
 },
 "schemas": {
  "Empty": {
   "id": "Empty",
   "type": "object",
   "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
  },
  "WriteLogEntriesRequest": {
   "id": "WriteLogEntriesRequest",
   "type": "object",
   "description": "The parameters to WriteLogEntries.",
   "properties": {
    "logName": {
     "type": "string",
     "description": "Optional. A default log resource name for those log entries in `entries` that do not specify their own `logName`. Example: `\"projects/my-project/logs/syslog\"`. See LogEntry."
    },
    "resource": {
     "$ref": "MonitoredResource",
     "description": "Optional. A default monitored resource for those log entries in `entries` that do not specify their own `resource`."
    },
    "labels": {
     "type": "object",
     "description": "Optional. User-defined `key:value` items that are added to the `labels` field of each log entry in `entries`, except when a log entry specifies its own 'key:value' item with the same key. Example: `{ \"size\": \"large\", \"color\":\"red\" }`",
     "additionalProperties": {
      "type": "string"
     }
    },
    "entries": {
     "type": "array",
     "description": "Required. The log entries to write. The log entries must have values for all required fields.",
     "items": {
      "$ref": "LogEntry"
     }
    }
   }
  },
  "MonitoredResource": {
   "id": "MonitoredResource",
   "type": "object",
   "description": "A specific monitored resource or a group of monitored resources.",
   "properties": {
    "type": {
     "type": "string",
     "description": "The type of monitored resource. This field must match the value of the `type` field in a MonitoredResourceDescriptor object. For example, `\"cloudsql_database\"` represents Cloud SQL databases."
    },
    "labels": {
     "type": "object",
     "description": "Values for some or all of the labels listed in the associated monitored resource descriptor. For example, specify a specific Cloud SQL database by supplying values for both the `\"database_id\"` and `\"zone\"` labels. Specify the set of all Cloud SQL databases in a particular location by supplying a value for only the `\"zone\"` label.",
     "additionalProperties": {
      "type": "string"
     }
    }
   }
  },
  "LogEntry": {
   "id": "LogEntry",
   "type": "object",
   "description": "An individual entry in a log.",
   "properties": {
    "logName": {
     "type": "string",
     "description": "Required. The resource name of the log to which this log entry belongs. The format of the name is `projects/\u003cproject-id\u003e/logs/\u003clog-id%gt;`. Examples: `\"projects/my-projectid/logs/syslog\"`, `\"projects/1234567890/logs/library.googleapis.com%2Fbook_log\"`. The log ID part of resource name must be less than 512 characters long and can only include the following characters: upper and lower case alphanumeric characters: [A-Za-z0-9]; and punctuation characters: forward-slash, underscore, hyphen, and period. Forward-slash (`/`) characters in the log ID must be URL-encoded."
    },
    "resource": {
     "$ref": "MonitoredResource",
     "description": "Required. The monitored resource associated with this log entry. Example: a log entry that reports a database error would be associated with the monitored resource designating the particular database that reported the error."
    },
    "protoPayload": {
     "type": "object",
     "description": "The log entry payload, represented as a protocol buffer. You can only use `protoPayload` values that belong to a set of approved types.",
     "additionalProperties": {
      "type": "any",
      "description": "Properties of the object. Contains field @ype with type URL."
     }
    },
    "textPayload": {
     "type": "string",
     "description": "The log entry payload, represented as a Unicode string (UTF-8)."
    },
    "jsonPayload": {
     "type": "object",
     "description": "The log entry payload, represented as a structure that is expressed as a JSON object.",
     "additionalProperties": {
      "type": "any",
      "description": "Properties of the object."
     }
    },
    "timestamp": {
     "type": "string",
     "description": "Optional. The time the event described by the log entry occurred. If omitted, Cloud Logging will use the time the log entry is written."
    },
    "severity": {
     "type": "string",
     "description": "Optional. The severity of the log entry. The default value is `LogSeverity.DEFAULT`.",
     "enum": [
      "DEFAULT",
      "DEBUG",
      "INFO",
      "NOTICE",
      "WARNING",
      "ERROR",
      "CRITICAL",
      "ALERT",
      "EMERGENCY"
     ]
    },
    "insertId": {
     "type": "string",
     "description": "Optional. A unique ID for the log entry. If you provide this field, the logging service considers other log entries in the same log with the same ID as duplicates which can be removed. If omitted, Cloud Logging will generate a unique ID for this log entry."
    },
    "httpRequest": {
     "$ref": "HttpRequest",
     "description": "Optional. Information about the HTTP request associated with this log entry, if applicable."
    },
    "labels": {
     "type": "object",
     "description": "Optional. A set of user-defined (key, value) data that provides additional information about the log entry.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "operation": {
     "$ref": "LogEntryOperation",
     "description": "Optional. Information about an operation associated with the log entry, if applicable."
    }
   }
  },
  "HttpRequest": {
   "id": "HttpRequest",
   "type": "object",
   "description": "A common proto for logging HTTP requests.",
   "properties": {
    "requestMethod": {
     "type": "string",
     "description": "The request method. Examples: `\"GET\"`, `\"HEAD\"`, `\"PUT\"`, `\"POST\"`."
    },
    "requestUrl": {
     "type": "string",
     "description": "The scheme (http, https), the host name, the path and the query portion of the URL that was requested. Example: `\"http://example.com/some/info?color=red\"`."
    },
    "requestSize": {
     "type": "string",
     "description": "The size of the HTTP request message in bytes, including the request headers and the request body.",
     "format": "int64"
    },
    "status": {
     "type": "integer",
     "description": "The response code indicating the status of response. Examples: 200, 404.",
     "format": "int32"
    },
    "responseSize": {
     "type": "string",
     "description": "The size of the HTTP response message sent back to the client, in bytes, including the response headers and the response body.",
     "format": "int64"
    },
    "userAgent": {
     "type": "string",
     "description": "The user agent sent by the client. Example: `\"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"`."
    },
    "remoteIp": {
     "type": "string",
     "description": "The IP address (IPv4 or IPv6) of the client that issued the HTTP request. Examples: `\"192.168.1.1\"`, `\"FE80::0202:B3FF:FE1E:8329\"`."
    },
    "referer": {
     "type": "string",
     "description": "The referer(sic) URL of the request, as defined in [HTTP/1.1 Header Field Definitions](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)."
    },
    "cacheHit": {
     "type": "boolean",
     "description": "Whether or not an entity was served from cache (with or without validation)."
    },
    "validatedWithOriginServer": {
     "type": "boolean",
     "description": "Whether or not the response was validated with the origin server before being served from cache. This field is only meaningful if cache_hit is True."
    }
   }
  },
  "LogEntryOperation": {
   "id": "LogEntryOperation",
   "type": "object",
   "description": "Additional information about a potentially long-running operation with which a log entry is associated.",
   "properties": {
    "id": {
     "type": "string",
     "description": "Required. An arbitrary operation identifier. Log entries with the same identifier are assumed to be part of the same operation."
    },
    "producer": {
     "type": "string",
     "description": "Required. A arbitrary producer identifier. The combination of `id` and `producer` must be globally unique. Examples for `producer`: `\"MyDivision.MyBigCompany.com\"`, \"github.com/MyProject/MyApplication\"`."
    },
    "first": {
     "type": "boolean",
     "description": "Optional. Set this to True if this is the first log entry in the operation."
    },
    "last": {
     "type": "boolean",
     "description": "Optional. Set this to True if this is the last log entry in the operation."
    }
   }
  },
  "WriteLogEntriesResponse": {
   "id": "WriteLogEntriesResponse",
   "type": "object",
   "description": "Result returned from WriteLogEntries. empty"
  },
  "ListLogEntriesRequest": {
   "id": "ListLogEntriesRequest",
   "type": "object",
   "description": "The parameters to `ListLogEntries`.",
   "properties": {
    "projectIds": {
     "type": "array",
     "description": "Required. One or more project IDs or project numbers from which to retrieve log entries. Examples of a project ID: `\"my-project-1A\"`, `\"1234567890\"`.",
     "items": {
      "type": "string"
     }
    },
    "filter": {
     "type": "string",
     "description": "Optional. An [advanced logs filter](/logging/docs/view/advanced_filters). The filter is compared against all log entries in the projects specified by `projectIds`. Only entries that match the filter are retrieved. An empty filter matches all log entries."
    },
    "orderBy": {
     "type": "string",
     "description": "Optional. How the results should be sorted. Presently, the only permitted values are `\"timestamp\"` (default) and `\"timestamp desc\"`. The first option returns entries in order of increasing values of `LogEntry.timestamp` (oldest first), and the second option returns entries in order of decreasing timestamps (newest first). Entries with equal timestamps are returned in order of `LogEntry.insertId`."
    },
    "pageSize": {
     "type": "integer",
     "description": "Optional. The maximum number of results to return from this request. Fewer results might be returned. You must check for the 'nextPageToken` result to determine if additional results are available, which you can retrieve by passing the `nextPageToken` value in the `pageToken` parameter to the next request.",
     "format": "int32"
    },
    "pageToken": {
     "type": "string",
     "description": "Optional. If the `pageToken` request parameter is supplied, then the next page of results in the set are retrieved. The `pageToken` parameter must be set with the value of the `nextPageToken` result parameter from the previous request. The values of `projectIds`, `filter`, and `orderBy` must be the same as in the previous request."
    }
   }
  },
  "ListLogEntriesResponse": {
   "id": "ListLogEntriesResponse",
   "type": "object",
   "description": "Result returned from `ListLogEntries`.",
   "properties": {
    "entries": {
     "type": "array",
     "description": "A list of log entries.",
     "items": {
      "$ref": "LogEntry"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "If there are more results than were returned, then `nextPageToken` is given a value in the response. To get the next batch of results, call this method again using the value of `nextPageToken` as `pageToken`."
    }
   }
  },
  "ListMonitoredResourceDescriptorsResponse": {
   "id": "ListMonitoredResourceDescriptorsResponse",
   "type": "object",
   "description": "Result returned from ListMonitoredResourceDescriptors.",
   "properties": {
    "resourceDescriptors": {
     "type": "array",
     "description": "A list of resource descriptors.",
     "items": {
      "$ref": "MonitoredResourceDescriptor"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "If there are more results than were returned, then `nextPageToken` is returned in the response. To get the next batch of results, call this method again using the value of `nextPageToken` as `pageToken`."
    }
   }
  },
  "MonitoredResourceDescriptor": {
   "id": "MonitoredResourceDescriptor",
   "type": "object",
   "description": "A description of a type of monitored resource.",
   "properties": {
    "type": {
     "type": "string",
     "description": "The monitored resource type. For example, the type `\"cloudsql_database\"` represents databases in Google Cloud SQL."
    },
    "displayName": {
     "type": "string",
     "description": "A concise name for the monitored resource type, which is displayed in user interfaces. For example, `\"Cloud SQL Database\"`."
    },
    "description": {
     "type": "string",
     "description": "A detailed description of the monitored resource type, which is used in documentation."
    },
    "labels": {
     "type": "array",
     "description": "A set of labels that can be used to describe instances of this monitored resource type. For example, Cloud SQL databases can be labeled with their `\"database_id\"` and their `\"zone\"`.",
     "items": {
      "$ref": "LabelDescriptor"
     }
    }
   }
  },
  "LabelDescriptor": {
   "id": "LabelDescriptor",
   "type": "object",
   "description": "A description of a label.",
   "properties": {
    "key": {
     "type": "string",
     "description": "The label key."
    },
    "valueType": {
     "type": "string",
     "description": "The type of data that can be assigned to the label.",
     "enum": [
      "STRING",
      "BOOL",
      "INT64"
     ]
    },
    "description": {
     "type": "string",
     "description": "A human-readable description for the label."
    }
   }
  },
  "ListSinksResponse": {
   "id": "ListSinksResponse",
   "type": "object",
   "description": "Result returned from `ListSinks`.",
   "properties": {
    "sinks": {
     "type": "array",
     "description": "A list of sinks.",
     "items": {
      "$ref": "LogSink"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "If there are more results than were returned, then `nextPageToken` is given a value in the response. To get the next batch of results, call this method again using the value of `nextPageToken` as `pageToken`."
    }
   }
  },
  "LogSink": {
   "id": "LogSink",
   "type": "object",
   "description": "Describes a sink used to export log entries outside Cloud Logging.",
   "properties": {
    "name": {
     "type": "string",
     "description": "Required. The client-assigned sink identifier. Example: `\"my-severe-errors-to-pubsub\"`. Sink identifiers are limited to 1000 characters and can include only the following characters: `A-Z`, `a-z`, `0-9`, and the special characters `_-.`."
    },
    "destination": {
     "type": "string",
     "description": "The export destination. See [Exporting Logs With Sinks](/logging/docs/api/tasks/exporting-logs). Examples: `\"storage.googleapis.com/a-bucket\"`, `\"bigquery.googleapis.com/projects/a-project-id/datasets/a-dataset\"`."
    },
    "filter": {
     "type": "string",
     "description": "An [advanced logs filter](/logging/docs/view/advanced_filters) that defines the log entries to be exported. The filter must be consistent with the log entry format designed by the `outputVersionFormat` parameter, regardless of the format of the log entry that was originally written to Cloud Logging. Example: `\"logName:syslog AND severity\u003e=ERROR\"`."
    },
    "outputVersionFormat": {
     "type": "string",
     "description": "The log entry version used when exporting log entries from this sink. This version does not have to correspond to the version of the log entry when it was written to Cloud Logging.",
     "enum": [
      "VERSION_FORMAT_UNSPECIFIED",
      "V2",
      "V1"
     ]
    }
   }
  },
  "ListLogMetricsResponse": {
   "id": "ListLogMetricsResponse",
   "type": "object",
   "description": "Result returned from ListLogMetrics.",
   "properties": {
    "metrics": {
     "type": "array",
     "description": "A list of logs-based metrics.",
     "items": {
      "$ref": "LogMetric"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "If there are more results than were returned, then `nextPageToken` is given a value in the response. To get the next batch of results, call this method again using the value of `nextPageToken` as `pageToken`."
    }
   }
  },
  "LogMetric": {
   "id": "LogMetric",
   "type": "object",
   "description": "Describes a logs-based metric. The value of the metric is the number of log entries that match a logs filter.",
   "properties": {
    "name": {
     "type": "string",
     "description": "Required. The client-assigned metric identifier. Example: `\"severe_errors\"`. Metric identifiers are limited to 1000 characters and can include only the following characters: `A-Z`, `a-z`, `0-9`, and the special characters `_-.,+!*',()%/\\`. The forward-slash character (`/`) denotes a hierarchy of name pieces, and it cannot be the first character of the name."
    },
    "description": {
     "type": "string",
     "description": "A description of this metric, which is used in documentation."
    },
    "filter": {
     "type": "string",
     "description": "An [advanced logs filter](/logging/docs/view/advanced_filters). Example: `\"logName:syslog AND severity\u003e=ERROR\"`."
    }
   }
  },
  "RequestLog": {
   "id": "RequestLog",
   "type": "object",
   "description": "Complete log information about a single request to an application.",
   "properties": {
    "appId": {
     "type": "string",
     "description": "Identifies the application that handled this request."
    },
    "moduleId": {
     "type": "string",
     "description": "Identifies the module of the application that handled this request."
    },
    "versionId": {
     "type": "string",
     "description": "Version of the application that handled this request."
    },
    "requestId": {
     "type": "string",
     "description": "Globally unique identifier for a request, based on request start time. Request IDs for requests which started later will compare greater as strings than those for requests which started earlier."
    },
    "ip": {
     "type": "string",
     "description": "Origin IP address."
    },
    "startTime": {
     "type": "string",
     "description": "Time at which request was known to have begun processing."
    },
    "endTime": {
     "type": "string",
     "description": "Time at which request was known to end processing."
    },
    "latency": {
     "type": "string",
     "description": "Latency of the request."
    },
    "megaCycles": {
     "type": "string",
     "description": "Number of CPU megacycles used to process request.",
     "format": "int64"
    },
    "method": {
     "type": "string",
     "description": "Request method, such as `GET`, `HEAD`, `PUT`, `POST`, or `DELETE`."
    },
    "resource": {
     "type": "string",
     "description": "Contains the path and query portion of the URL that was requested. For example, if the URL was \"http://example.com/app?name=val\", the resource would be \"/app?name=val\". Any trailing fragment (separated by a '#' character) will not be included."
    },
    "httpVersion": {
     "type": "string",
     "description": "HTTP version of request."
    },
    "status": {
     "type": "integer",
     "description": "Response status of request.",
     "format": "int32"
    },
    "responseSize": {
     "type": "string",
     "description": "Size in bytes sent back to client by request.",
     "format": "int64"
    },
    "referrer": {
     "type": "string",
     "description": "Referrer URL of request."
    },
    "userAgent": {
     "type": "string",
     "description": "User agent used for making request."
    },
    "nickname": {
     "type": "string",
     "description": "A string that identifies a logged-in user who made this request, or empty if the user is not logged in. Most likely, this is the part of the user's email before the '@' sign. The field value is the same for different requests from the same user, but different users may have a similar name. This information is also available to the application via Users API. This field will be populated starting with App Engine 1.9.21."
    },
    "urlMapEntry": {
     "type": "string",
     "description": "File or class within URL mapping used for request. Useful for tracking down the source code which was responsible for managing request. Especially for multiply mapped handlers."
    },
    "host": {
     "type": "string",
     "description": "The Internet host and port number of the resource being requested."
    },
    "cost": {
     "type": "number",
     "description": "An indication of the relative cost of serving this request.",
     "format": "double"
    },
    "taskQueueName": {
     "type": "string",
     "description": "Queue name of the request (for an offline request)."
    },
    "taskName": {
     "type": "string",
     "description": "Task name of the request (for an offline request)."
    },
    "wasLoadingRequest": {
     "type": "boolean",
     "description": "Was this request a loading request for this instance?"
    },
    "pendingTime": {
     "type": "string",
     "description": "Time this request spent in the pending request queue, if it was pending at all."
    },
    "instanceIndex": {
     "type": "integer",
     "description": "If the instance that processed this request was individually addressable (i.e. belongs to a manually scaled module), this is the 0 based index of the instance, otherwise this value is -1.",
     "format": "int32"
    },
    "finished": {
     "type": "boolean",
     "description": "If true, represents a finished request. Otherwise, the request is active."
    },
    "instanceId": {
     "type": "string",
     "description": "An opaque identifier for the instance that handled the request."
    },
    "line": {
     "type": "array",
     "description": "List of log lines emitted by the application while serving this request, if requested.",
     "items": {
      "$ref": "LogLine"
     }
    },
    "appEngineRelease": {
     "type": "string",
     "description": "App Engine release version string."
    },
    "traceId": {
     "type": "string",
     "description": "Cloud Trace identifier of the trace for this request."
    },
    "sourceReference": {
     "type": "array",
     "description": "Source code for the application that handled this request. There can be more than one source reference per deployed application if source code is distributed among multiple repositories.",
     "items": {
      "$ref": "SourceReference"
     }
    }
   }
  },
  "LogLine": {
   "id": "LogLine",
   "type": "object",
   "description": "Application log line emitted while processing a request.",
   "properties": {
    "time": {
     "type": "string",
     "description": "Time when log entry was made. May be inaccurate."
    },
    "severity": {
     "type": "string",
     "description": "Severity of log.",
     "enum": [
      "DEFAULT",
      "DEBUG",
      "INFO",
      "NOTICE",
      "WARNING",
      "ERROR",
      "CRITICAL",
      "ALERT",
      "EMERGENCY"
     ]
    },
    "logMessage": {
     "type": "string",
     "description": "App provided log message."
    },
    "sourceLocation": {
     "$ref": "SourceLocation",
     "description": "Line of code that generated this log message."
    }
   }
  },
  "SourceLocation": {
   "id": "SourceLocation",
   "type": "object",
   "description": "Specifies a location in a source file.",
   "properties": {
    "file": {
     "type": "string",
     "description": "Source file name. May or may not be a fully qualified name, depending on the runtime environment."
    },
    "line": {
     "type": "string",
     "description": "Line within the source file.",
     "format": "int64"
    },
    "functionName": {
     "type": "string",
     "description": "Human-readable name of the function or method being invoked, with optional context such as the class or package name, for use in contexts such as the logs viewer where file:line number is less meaningful. This may vary by language, for example: in Java: qual.if.ied.Class.method in Go: dir/package.func in Python: function ..."
    }
   }
  },
  "SourceReference": {
   "id": "SourceReference",
   "type": "object",
   "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
   "properties": {
    "repository": {
     "type": "string",
     "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\""
    },
    "revisionId": {
     "type": "string",
     "description": "The canonical (and persistent) identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\""
    }
   }
  }
 },
 "resources": {
  "projects": {
   "resources": {
    "logs": {
     "methods": {
      "delete": {
       "id": "logging.projects.logs.delete",
       "path": "v2beta1/{+logName}",
       "httpMethod": "DELETE",
       "description": "Deletes a log and all its log entries. The log will reappear if it receives new entries.",
       "parameters": {
        "logName": {
         "type": "string",
         "description": "Required. The resource name of the log to delete. Example: `\"projects/my-project/logs/syslog\"`.",
         "required": true,
         "pattern": "^projects/[^/]*/logs/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "logName"
       ],
       "response": {
        "$ref": "Empty"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin"
       ]
      }
     }
    },
    "sinks": {
     "methods": {
      "list": {
       "id": "logging.projects.sinks.list",
       "path": "v2beta1/{+projectName}/sinks",
       "httpMethod": "GET",
       "description": "Lists sinks.",
       "parameters": {
        "projectName": {
         "type": "string",
         "description": "Required. The resource name of the project owning the sinks. Example: `\"projects/my-logging-project\"`, `\"projects/01234567890\"`.",
         "required": true,
         "pattern": "^projects/[^/]*$",
         "location": "path"
        },
        "pageToken": {
         "type": "string",
         "description": "Optional. If the `pageToken` request parameter is supplied, then the next page of results in the set are retrieved. The `pageToken` parameter must be set with the value of the `nextPageToken` result parameter from the previous request. The value of `projectName` must be the same as in the previous request.",
         "location": "query"
        },
        "pageSize": {
         "type": "integer",
         "description": "Optional. The maximum number of results to return from this request. Fewer results might be returned. You must check for the 'nextPageToken` result to determine if additional results are available, which you can retrieve by passing the `nextPageToken` value in the `pageToken` parameter to the next request.",
         "format": "int32",
         "location": "query"
        }
       },
       "parameterOrder": [
        "projectName"
       ],
       "response": {
        "$ref": "ListSinksResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/cloud-platform.read-only",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.read"
       ]
      },
      "get": {
       "id": "logging.projects.sinks.get",
       "path": "v2beta1/{+sinkName}",
       "httpMethod": "GET",
       "description": "Gets a sink.",
       "parameters": {
        "sinkName": {
         "type": "string",
         "description": "The resource name of the sink to return. Example: `\"projects/my-project-id/sinks/my-sink-id\"`.",
         "required": true,
         "pattern": "^projects/[^/]*/sinks/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "sinkName"
       ],
       "response": {
        "$ref": "LogSink"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/cloud-platform.read-only",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.read"
       ]
      },
      "create": {
       "id": "logging.projects.sinks.create",
       "path": "v2beta1/{+projectName}/sinks",
       "httpMethod": "POST",
       "description": "Creates a sink.",
       "parameters": {
        "projectName": {
         "type": "string",
         "description": "The resource name of the project in which to create the sink. Example: `\"projects/my-project-id\"`. The new sink must be provided in the request.",
         "required": true,
         "pattern": "^projects/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectName"
       ],
       "request": {
        "$ref": "LogSink"
       },
       "response": {
        "$ref": "LogSink"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin"
       ]
      },
      "update": {
       "id": "logging.projects.sinks.update",
       "path": "v2beta1/{+sinkName}",
       "httpMethod": "PUT",
       "description": "Creates or updates a sink.",
       "parameters": {
        "sinkName": {
         "type": "string",
         "description": "The resource name of the sink to update. Example: `\"projects/my-project-id/sinks/my-sink-id\"`. The updated sink must be provided in the request and have the same name that is specified in `sinkName`. If the sink does not exist, it is created.",
         "required": true,
         "pattern": "^projects/[^/]*/sinks/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "sinkName"
       ],
       "request": {
        "$ref": "LogSink"
       },
       "response": {
        "$ref": "LogSink"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin"
       ]
      },
      "delete": {
       "id": "logging.projects.sinks.delete",
       "path": "v2beta1/{+sinkName}",
       "httpMethod": "DELETE",
       "description": "Deletes a sink.",
       "parameters": {
        "sinkName": {
         "type": "string",
         "description": "The resource name of the sink to delete. Example: `\"projects/my-project-id/sinks/my-sink-id\"`.",
         "required": true,
         "pattern": "^projects/[^/]*/sinks/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "sinkName"
       ],
       "response": {
        "$ref": "Empty"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin"
       ]
      }
     }
    },
    "metrics": {
     "methods": {
      "list": {
       "id": "logging.projects.metrics.list",
       "path": "v2beta1/{+projectName}/metrics",
       "httpMethod": "GET",
       "description": "Lists logs-based metrics.",
       "parameters": {
        "projectName": {
         "type": "string",
         "description": "Required. The resource name for the project whose metrics are wanted. Example: `\"projects/my-project-id\"`.",
         "required": true,
         "pattern": "^projects/[^/]*$",
         "location": "path"
        },
        "pageToken": {
         "type": "string",
         "description": "Optional. If the `pageToken` request parameter is supplied, then the next page of results in the set are retrieved. The `pageToken` parameter must be set with the value of the `nextPageToken` result parameter from the previous request. The value of `projectName` must be the same as in the previous request.",
         "location": "query"
        },
        "pageSize": {
         "type": "integer",
         "description": "Optional. The maximum number of results to return from this request. Fewer results might be returned. You must check for the 'nextPageToken` result to determine if additional results are available, which you can retrieve by passing the `nextPageToken` value in the `pageToken` parameter to the next request.",
         "format": "int32",
         "location": "query"
        }
       },
       "parameterOrder": [
        "projectName"
       ],
       "response": {
        "$ref": "ListLogMetricsResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/cloud-platform.read-only",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.read"
       ]
      },
      "get": {
       "id": "logging.projects.metrics.get",
       "path": "v2beta1/{+metricName}",
       "httpMethod": "GET",
       "description": "Gets a logs-based metric.",
       "parameters": {
        "metricName": {
         "type": "string",
         "description": "The resource name of the desired metric. Example: `\"projects/my-project-id/metrics/my-metric-id\"`.",
         "required": true,
         "pattern": "^projects/[^/]*/metrics/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "metricName"
       ],
       "response": {
        "$ref": "LogMetric"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/cloud-platform.read-only",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.read"
       ]
      },
      "create": {
       "id": "logging.projects.metrics.create",
       "path": "v2beta1/{+projectName}/metrics",
       "httpMethod": "POST",
       "description": "Creates a logs-based metric.",
       "parameters": {
        "projectName": {
         "type": "string",
         "description": "The resource name of the project in which to create the metric. Example: `\"projects/my-project-id\"`. The new metric must be provided in the request.",
         "required": true,
         "pattern": "^projects/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectName"
       ],
       "request": {
        "$ref": "LogMetric"
       },
       "response": {
        "$ref": "LogMetric"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.write"
       ]
      },
      "update": {
       "id": "logging.projects.metrics.update",
       "path": "v2beta1/{+metricName}",
       "httpMethod": "PUT",
       "description": "Creates or updates a logs-based metric.",
       "parameters": {
        "metricName": {
         "type": "string",
         "description": "The resource name of the metric to update. Example: `\"projects/my-project-id/metrics/my-metric-id\"`. The updated metric must be provided in the request and have the same identifier that is specified in `metricName`. If the metric does not exist, it is created.",
         "required": true,
         "pattern": "^projects/[^/]*/metrics/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "metricName"
       ],
       "request": {
        "$ref": "LogMetric"
       },
       "response": {
        "$ref": "LogMetric"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.write"
       ]
      },
      "delete": {
       "id": "logging.projects.metrics.delete",
       "path": "v2beta1/{+metricName}",
       "httpMethod": "DELETE",
       "description": "Deletes a logs-based metric.",
       "parameters": {
        "metricName": {
         "type": "string",
         "description": "The resource name of the metric to delete. Example: `\"projects/my-project-id/metrics/my-metric-id\"`.",
         "required": true,
         "pattern": "^projects/[^/]*/metrics/[^/]*$",
         "location": "path"
        }
       },
       "parameterOrder": [
        "metricName"
       ],
       "response": {
        "$ref": "Empty"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.write"
       ]
      }
     }
    }
   }
  },
  "entries": {
   "methods": {
    "write": {
     "id": "logging.entries.write",
     "path": "v2beta1/entries:write",
     "httpMethod": "POST",
     "description": "Writes log entries to Cloud Logging. All log entries in Cloud Logging are written by this method.",
     "request": {
      "$ref": "WriteLogEntriesRequest"
     },
     "response": {
      "$ref": "WriteLogEntriesResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/logging.admin",
      "https://www.googleapis.com/auth/logging.write"
     ]
    },
    "list": {
     "id": "logging.entries.list",
     "path": "v2beta1/entries:list",
     "httpMethod": "POST",
     "description": "Lists log entries. Use this method to examine log entries from Cloud Logging. See [Exporting Logs](/logging/docs/export) for other ways to copy log entries out of Cloud Logging.",
     "request": {
      "$ref": "ListLogEntriesRequest"
     },
     "response": {
      "$ref": "ListLogEntriesResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/logging.admin",
      "https://www.googleapis.com/auth/logging.read"
     ]
    }
   }
  },
  "monitoredResourceDescriptors": {
   "methods": {
    "list": {
     "id": "logging.monitoredResourceDescriptors.list",
     "path": "v2beta1/monitoredResourceDescriptors",
     "httpMethod": "GET",
     "description": "Lists monitored resource descriptors that are used by Cloud Logging.",
     "parameters": {
      "pageSize": {
       "type": "integer",
       "description": "Optional. The maximum number of results to return from this request. Fewer results might be returned. You must check for the 'nextPageToken` result to determine if additional results are available, which you can retrieve by passing the `nextPageToken` value in the `pageToken` parameter to the next request.",
       "format": "int32",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Optional. If the `pageToken` request parameter is supplied, then the next page of results in the set are retrieved. The `pageToken` parameter must be set with the value of the `nextPageToken` result parameter from the previous request.",
       "location": "query"
      }
     },
     "response": {
      "$ref": "ListMonitoredResourceDescriptorsResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/logging.admin",
      "https://www.googleapis.com/auth/logging.read"
     ]
    }
   }
  }
 }
}
