description "cadvisor container metrics"

start on started docker
stop on stopping docker

limit nofile 20000 20000

kill timeout 60 # wait 60s between SIGTERM and SIGKILL.

exec docker run \
  --volume=/var/run:/var/run:rw \
  --volume=/sys/fs/cgroup:/sys/fs/cgroup:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=127.0.0.1:4193:8080 \
  --name=cadvisor \
  google/cadvisor:latest
