description "kubernetes proxy"

start on runlevel [2345]
stop on runlevel [!2345]

limit nofile 20000 20000

kill timeout 60 # wait 60s between SIGTERM and SIGKILL.

exec /usr/local/bin/proxy \
     --master=%(kubeapi_server)s \
     --logtostderr=true
