{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/DCrAVU-W3UzljIhuRMkT-kOc_P8\"",
 "discoveryVersion": "v1",
 "id": "drive:v2",
 "name": "drive",
 "version": "v2",
 "revision": "20170825",
 "title": "Drive API",
 "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
  "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
 },
 "documentationLink": "https://developers.google.com/drive/",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/drive/v2/",
 "basePath": "/drive/v2/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "drive/v2/",
 "batchPath": "batch/drive/v2",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/drive": {
     "description": "View and manage the files in your Google Drive"
    },
    "https://www.googleapis.com/auth/drive.appdata": {
     "description": "View and manage its own configuration data in your Google Drive"
    },
    "https://www.googleapis.com/auth/drive.apps.readonly": {
     "description": "View your Google Drive apps"
    },
    "https://www.googleapis.com/auth/drive.file": {
     "description": "View and manage Google Drive files and folders that you have opened or created with this app"
    },
    "https://www.googleapis.com/auth/drive.metadata": {
     "description": "View and manage metadata of files in your Google Drive"
    },
    "https://www.googleapis.com/auth/drive.metadata.readonly": {
     "description": "View metadata for files in your Google Drive"
    },
    "https://www.googleapis.com/auth/drive.photos.readonly": {
     "description": "View the photos, videos and albums in your Google Photos"
    },
    "https://www.googleapis.com/auth/drive.readonly": {
     "description": "View the files in your Google Drive"
    },
    "https://www.googleapis.com/auth/drive.scripts": {
     "description": "Modify your Google Apps Script scripts' behavior"
    }
   }
  }
 },
 "schemas": {
  "About": {
   "id": "About",
   "type": "object",
   "description": "An item with user information and settings.",
   "properties": {
    "additionalRoleInfo": {
     "type": "array",
     "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
     "items": {
      "type": "object",
      "properties": {
       "roleSets": {
        "type": "array",
        "description": "The supported additional roles per primary role.",
        "items": {
         "type": "object",
         "properties": {
          "additionalRoles": {
           "type": "array",
           "description": "The supported additional roles with the primary role.",
           "items": {
            "type": "string"
           }
          },
          "primaryRole": {
           "type": "string",
           "description": "A primary permission role."
          }
         }
        }
       },
       "type": {
        "type": "string",
        "description": "The content type that this additional role info applies to."
       }
      }
     }
    },
    "domainSharingPolicy": {
     "type": "string",
     "description": "The domain sharing policy for the current user. Possible values are:  \n- allowed \n- allowedWithWarning \n- incomingOnly \n- disallowed"
    },
    "etag": {
     "type": "string",
     "description": "The ETag of the item."
    },
    "exportFormats": {
     "type": "array",
     "description": "The allowable export formats.",
     "items": {
      "type": "object",
      "properties": {
       "source": {
        "type": "string",
        "description": "The content type to convert from."
       },
       "targets": {
        "type": "array",
        "description": "The possible content types to convert to.",
        "items": {
         "type": "string"
        }
       }
      }
     }
    },
    "features": {
     "type": "array",
     "description": "List of additional features enabled on this account.",
     "items": {
      "type": "object",
      "properties": {
       "featureName": {
        "type": "string",
        "description": "The name of the feature."
       },
       "featureRate": {
        "type": "number",
        "description": "The request limit rate for this feature, in queries per second.",
        "format": "double"
       }
      }
     }
    },
    "folderColorPalette": {
     "type": "array",
     "description": "The palette of allowable folder colors as RGB hex strings.",
     "items": {
      "type": "string"
     }
    },
    "importFormats": {
     "type": "array",
     "description": "The allowable import formats.",
     "items": {
      "type": "object",
      "properties": {
       "source": {
        "type": "string",
        "description": "The imported file's content type to convert from."
       },
       "targets": {
        "type": "array",
        "description": "The possible content types to convert to.",
        "items": {
         "type": "string"
        }
       }
      }
     }
    },
    "isCurrentAppInstalled": {
     "type": "boolean",
     "description": "A boolean indicating whether the authenticated app is installed by the authenticated user."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#about.",
     "default": "drive#about"
    },
    "languageCode": {
     "type": "string",
     "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
    },
    "largestChangeId": {
     "type": "string",
     "description": "The largest change id.",
     "format": "int64"
    },
    "maxUploadSizes": {
     "type": "array",
     "description": "List of max upload sizes for each file type. The most specific type takes precedence.",
     "items": {
      "type": "object",
      "properties": {
       "size": {
        "type": "string",
        "description": "The max upload size for this type.",
        "format": "int64"
       },
       "type": {
        "type": "string",
        "description": "The file type."
       }
      }
     }
    },
    "name": {
     "type": "string",
     "description": "The name of the current user."
    },
    "permissionId": {
     "type": "string",
     "description": "The current user's ID as visible in the permissions collection."
    },
    "quotaBytesByService": {
     "type": "array",
     "description": "The amount of storage quota used by different Google services.",
     "items": {
      "type": "object",
      "properties": {
       "bytesUsed": {
        "type": "string",
        "description": "The storage quota bytes used by the service.",
        "format": "int64"
       },
       "serviceName": {
        "type": "string",
        "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS."
       }
      }
     }
    },
    "quotaBytesTotal": {
     "type": "string",
     "description": "The total number of quota bytes.",
     "format": "int64"
    },
    "quotaBytesUsed": {
     "type": "string",
     "description": "The number of quota bytes used by Google Drive.",
     "format": "int64"
    },
    "quotaBytesUsedAggregate": {
     "type": "string",
     "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
     "format": "int64"
    },
    "quotaBytesUsedInTrash": {
     "type": "string",
     "description": "The number of quota bytes used by trashed items.",
     "format": "int64"
    },
    "quotaType": {
     "type": "string",
     "description": "The type of the user's storage quota. Possible values are:  \n- LIMITED \n- UNLIMITED"
    },
    "remainingChangeIds": {
     "type": "string",
     "description": "The number of remaining change ids, limited to no more than 2500.",
     "format": "int64"
    },
    "rootFolderId": {
     "type": "string",
     "description": "The id of the root folder."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this item."
    },
    "teamDriveThemes": {
     "type": "array",
     "description": "A list of themes that are supported for Team Drives.",
     "items": {
      "type": "object",
      "properties": {
       "backgroundImageLink": {
        "type": "string",
        "description": "A link to this Team Drive theme's background image."
       },
       "colorRgb": {
        "type": "string",
        "description": "The color of this Team Drive theme as an RGB hex string."
       },
       "id": {
        "type": "string",
        "description": "The ID of the theme."
       }
      }
     }
    },
    "user": {
     "$ref": "User",
     "description": "The authenticated user."
    }
   }
  },
  "App": {
   "id": "App",
   "type": "object",
   "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details.",
   "properties": {
    "authorized": {
     "type": "boolean",
     "description": "Whether the app is authorized to access data on the user's Drive."
    },
    "createInFolderTemplate": {
     "type": "string",
     "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in."
    },
    "createUrl": {
     "type": "string",
     "description": "The url to create a new file with this app."
    },
    "hasDriveWideScope": {
     "type": "boolean",
     "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive."
    },
    "icons": {
     "type": "array",
     "description": "The various icons for the app.",
     "items": {
      "type": "object",
      "properties": {
       "category": {
        "type": "string",
        "description": "Category of the icon. Allowed values are:  \n- application - icon for the application \n- document - icon for a file associated with the app \n- documentShared - icon for a shared file associated with the app"
       },
       "iconUrl": {
        "type": "string",
        "description": "URL for the icon."
       },
       "size": {
        "type": "integer",
        "description": "Size of the icon. Represented as the maximum of the width and height.",
        "format": "int32"
       }
      }
     }
    },
    "id": {
     "type": "string",
     "description": "The ID of the app."
    },
    "installed": {
     "type": "boolean",
     "description": "Whether the app is installed."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#app.",
     "default": "drive#app"
    },
    "longDescription": {
     "type": "string",
     "description": "A long description of the app."
    },
    "name": {
     "type": "string",
     "description": "The name of the app."
    },
    "objectType": {
     "type": "string",
     "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead."
    },
    "openUrlTemplate": {
     "type": "string",
     "description": "The template url for opening files with this app. The template will contain {ids} and/or {exportIds} to be replaced by the actual file ids. See  Open Files  for the full documentation."
    },
    "primaryFileExtensions": {
     "type": "array",
     "description": "The list of primary file extensions.",
     "items": {
      "type": "string"
     }
    },
    "primaryMimeTypes": {
     "type": "array",
     "description": "The list of primary mime types.",
     "items": {
      "type": "string"
     }
    },
    "productId": {
     "type": "string",
     "description": "The ID of the product listing for this app."
    },
    "productUrl": {
     "type": "string",
     "description": "A link to the product listing for this app."
    },
    "secondaryFileExtensions": {
     "type": "array",
     "description": "The list of secondary file extensions.",
     "items": {
      "type": "string"
     }
    },
    "secondaryMimeTypes": {
     "type": "array",
     "description": "The list of secondary mime types.",
     "items": {
      "type": "string"
     }
    },
    "shortDescription": {
     "type": "string",
     "description": "A short description of the app."
    },
    "supportsCreate": {
     "type": "boolean",
     "description": "Whether this app supports creating new objects."
    },
    "supportsImport": {
     "type": "boolean",
     "description": "Whether this app supports importing Google Docs."
    },
    "supportsMultiOpen": {
     "type": "boolean",
     "description": "Whether this app supports opening more than one file."
    },
    "supportsOfflineCreate": {
     "type": "boolean",
     "description": "Whether this app supports creating new files when offline."
    },
    "useByDefault": {
     "type": "boolean",
     "description": "Whether the app is selected as the default handler for the types it supports."
    }
   }
  },
  "AppList": {
   "id": "AppList",
   "type": "object",
   "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
   "properties": {
    "defaultAppIds": {
     "type": "array",
     "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
     "items": {
      "type": "string"
     }
    },
    "etag": {
     "type": "string",
     "description": "The ETag of the list."
    },
    "items": {
     "type": "array",
     "description": "The list of apps.",
     "items": {
      "$ref": "App"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#appList.",
     "default": "drive#appList"
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "Change": {
   "id": "Change",
   "type": "object",
   "description": "Representation of a change to a file or Team Drive.",
   "properties": {
    "deleted": {
     "type": "boolean",
     "description": "Whether the file or Team Drive has been removed from this list of changes, for example by deletion or loss of access."
    },
    "file": {
     "$ref": "File",
     "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
    },
    "fileId": {
     "type": "string",
     "description": "The ID of the file associated with this change."
    },
    "id": {
     "type": "string",
     "description": "The ID of the change.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#change.",
     "default": "drive#change"
    },
    "modificationDate": {
     "type": "string",
     "description": "The time of this modification.",
     "format": "date-time"
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this change."
    },
    "teamDrive": {
     "$ref": "TeamDrive",
     "description": "The updated state of the Team Drive. Present if the type is teamDrive, the user is still a member of the Team Drive, and the Team Drive has not been deleted."
    },
    "teamDriveId": {
     "type": "string",
     "description": "The ID of the Team Drive associated with this change."
    },
    "type": {
     "type": "string",
     "description": "The type of the change. Possible values are file and teamDrive."
    }
   }
  },
  "ChangeList": {
   "id": "ChangeList",
   "type": "object",
   "description": "A list of changes for a user.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the list."
    },
    "items": {
     "type": "array",
     "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Change"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#changeList.",
     "default": "drive#changeList"
    },
    "largestChangeId": {
     "type": "string",
     "description": "The current largest change ID.",
     "format": "int64"
    },
    "newStartPageToken": {
     "type": "string",
     "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached."
    },
    "nextLink": {
     "type": "string",
     "description": "A link to the next page of changes."
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "Channel": {
   "id": "Channel",
   "type": "object",
   "description": "An notification channel used to watch for resource changes.",
   "properties": {
    "address": {
     "type": "string",
     "description": "The address where notifications are delivered for this channel."
    },
    "expiration": {
     "type": "string",
     "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "A UUID or similar unique string that identifies this channel."
    },
    "kind": {
     "type": "string",
     "description": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
     "default": "api#channel"
    },
    "params": {
     "type": "object",
     "description": "Additional parameters controlling delivery channel behavior. Optional.",
     "additionalProperties": {
      "type": "string",
      "description": "Declares a new parameter by name."
     }
    },
    "payload": {
     "type": "boolean",
     "description": "A Boolean value to indicate whether payload is wanted. Optional."
    },
    "resourceId": {
     "type": "string",
     "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
    },
    "resourceUri": {
     "type": "string",
     "description": "A version-specific identifier for the watched resource."
    },
    "token": {
     "type": "string",
     "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
    },
    "type": {
     "type": "string",
     "description": "The type of delivery mechanism used for this channel."
    }
   }
  },
  "ChildList": {
   "id": "ChildList",
   "type": "object",
   "description": "A list of children of a file.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the list."
    },
    "items": {
     "type": "array",
     "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "ChildReference"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#childList.",
     "default": "drive#childList"
    },
    "nextLink": {
     "type": "string",
     "description": "A link to the next page of children."
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "ChildReference": {
   "id": "ChildReference",
   "type": "object",
   "description": "A reference to a folder's child.",
   "properties": {
    "childLink": {
     "type": "string",
     "description": "A link to the child."
    },
    "id": {
     "type": "string",
     "description": "The ID of the child.",
     "annotations": {
      "required": [
       "drive.children.insert"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#childReference.",
     "default": "drive#childReference"
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this reference."
    }
   }
  },
  "Comment": {
   "id": "Comment",
   "type": "object",
   "description": "A comment on a file in Google Drive.",
   "properties": {
    "anchor": {
     "type": "string",
     "description": "A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties."
    },
    "author": {
     "$ref": "User",
     "description": "The user who wrote this comment."
    },
    "commentId": {
     "type": "string",
     "description": "The ID of the comment."
    },
    "content": {
     "type": "string",
     "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
     "annotations": {
      "required": [
       "drive.comments.insert",
       "drive.comments.update"
      ]
     }
    },
    "context": {
     "type": "object",
     "description": "The context of the file which is being commented on.",
     "properties": {
      "type": {
       "type": "string",
       "description": "The MIME type of the context snippet."
      },
      "value": {
       "type": "string",
       "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about."
      }
     }
    },
    "createdDate": {
     "type": "string",
     "description": "The date when this comment was first created.",
     "format": "date-time"
    },
    "deleted": {
     "type": "boolean",
     "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed."
    },
    "fileId": {
     "type": "string",
     "description": "The file which this comment is addressing."
    },
    "fileTitle": {
     "type": "string",
     "description": "The title of the file which this comment is addressing."
    },
    "htmlContent": {
     "type": "string",
     "description": "HTML formatted content for this comment."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#comment.",
     "default": "drive#comment"
    },
    "modifiedDate": {
     "type": "string",
     "description": "The date when this comment or any of its replies were last modified.",
     "format": "date-time"
    },
    "replies": {
     "type": "array",
     "description": "Replies to this post.",
     "items": {
      "$ref": "CommentReply"
     }
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this comment."
    },
    "status": {
     "type": "string",
     "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status.  \n- \"open\" - The comment is still open. \n- \"resolved\" - The comment has been resolved by one of its replies."
    }
   }
  },
  "CommentList": {
   "id": "CommentList",
   "type": "object",
   "description": "A list of comments on a file in Google Drive.",
   "properties": {
    "items": {
     "type": "array",
     "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Comment"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#commentList.",
     "default": "drive#commentList"
    },
    "nextLink": {
     "type": "string",
     "description": "A link to the next page of comments."
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "CommentReply": {
   "id": "CommentReply",
   "type": "object",
   "description": "A comment on a file in Google Drive.",
   "properties": {
    "author": {
     "$ref": "User",
     "description": "The user who wrote this reply."
    },
    "content": {
     "type": "string",
     "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
     "annotations": {
      "required": [
       "drive.replies.update"
      ]
     }
    },
    "createdDate": {
     "type": "string",
     "description": "The date when this reply was first created.",
     "format": "date-time"
    },
    "deleted": {
     "type": "boolean",
     "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed."
    },
    "htmlContent": {
     "type": "string",
     "description": "HTML formatted content for this reply."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#commentReply.",
     "default": "drive#commentReply"
    },
    "modifiedDate": {
     "type": "string",
     "description": "The date when this reply was last modified.",
     "format": "date-time"
    },
    "replyId": {
     "type": "string",
     "description": "The ID of the reply."
    },
    "verb": {
     "type": "string",
     "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform to the parent comment. Possible values are:  \n- \"resolve\" - To resolve a comment. \n- \"reopen\" - To reopen (un-resolve) a comment."
    }
   }
  },
  "CommentReplyList": {
   "id": "CommentReplyList",
   "type": "object",
   "description": "A list of replies to a comment on a file in Google Drive.",
   "properties": {
    "items": {
     "type": "array",
     "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "CommentReply"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#commentReplyList.",
     "default": "drive#commentReplyList"
    },
    "nextLink": {
     "type": "string",
     "description": "A link to the next page of replies."
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "File": {
   "id": "File",
   "type": "object",
   "description": "The metadata for a file.",
   "properties": {
    "alternateLink": {
     "type": "string",
     "description": "A link for opening the file in a relevant Google editor or viewer."
    },
    "appDataContents": {
     "type": "boolean",
     "description": "Whether this file is in the Application Data folder."
    },
    "canComment": {
     "type": "boolean",
     "description": "Deprecated: use capabilities/canComment."
    },
    "canReadRevisions": {
     "type": "boolean",
     "description": "Deprecated: use capabilities/canReadRevisions."
    },
    "capabilities": {
     "type": "object",
     "description": "Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
     "properties": {
      "canAddChildren": {
       "type": "boolean",
       "description": "Whether the current user can add children to this folder. This is always false when the item is not a folder."
      },
      "canChangeRestrictedDownload": {
       "type": "boolean",
       "description": "Whether the current user can change the restricted download label of this file."
      },
      "canComment": {
       "type": "boolean",
       "description": "Whether the current user can comment on this file."
      },
      "canCopy": {
       "type": "boolean",
       "description": "Whether the current user can copy this file. For a Team Drive item, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder."
      },
      "canDelete": {
       "type": "boolean",
       "description": "Whether the current user can delete this file."
      },
      "canDownload": {
       "type": "boolean",
       "description": "Whether the current user can download this file."
      },
      "canEdit": {
       "type": "boolean",
       "description": "Whether the current user can edit this file."
      },
      "canListChildren": {
       "type": "boolean",
       "description": "Whether the current user can list the children of this folder. This is always false when the item is not a folder."
      },
      "canMoveItemIntoTeamDrive": {
       "type": "boolean",
       "description": "Whether the current user can move this item into a Team Drive. If the item is in a Team Drive, this field is equivalent to canMoveTeamDriveItem."
      },
      "canMoveTeamDriveItem": {
       "type": "boolean",
       "description": "Whether the current user can move this Team Drive item by changing its parent. Note that a request to change the parent for this item may still fail depending on the new parent that is being added. Only populated for Team Drive files."
      },
      "canReadRevisions": {
       "type": "boolean",
       "description": "Whether the current user can read the revisions resource of this file. For a Team Drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read."
      },
      "canReadTeamDrive": {
       "type": "boolean",
       "description": "Whether the current user can read the Team Drive to which this file belongs. Only populated for Team Drive files."
      },
      "canRemoveChildren": {
       "type": "boolean",
       "description": "Whether the current user can remove children from this folder. This is always false when the item is not a folder."
      },
      "canRename": {
       "type": "boolean",
       "description": "Whether the current user can rename this file."
      },
      "canShare": {
       "type": "boolean",
       "description": "Whether the current user can modify the sharing settings for this file."
      },
      "canTrash": {
       "type": "boolean",
       "description": "Whether the current user can move this file to trash."
      },
      "canUntrash": {
       "type": "boolean",
       "description": "Whether the current user can restore this file from trash."
      }
     }
    },
    "copyable": {
     "type": "boolean",
     "description": "Deprecated: use capabilities/canCopy."
    },
    "createdDate": {
     "type": "string",
     "description": "Create time for this file (formatted RFC 3339 timestamp).",
     "format": "date-time"
    },
    "defaultOpenWithLink": {
     "type": "string",
     "description": "A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used."
    },
    "description": {
     "type": "string",
     "description": "A short description of the file."
    },
    "downloadUrl": {
     "type": "string"
    },
    "editable": {
     "type": "boolean",
     "description": "Deprecated: use capabilities/canEdit."
    },
    "embedLink": {
     "type": "string",
     "description": "A link for embedding the file."
    },
    "etag": {
     "type": "string",
     "description": "ETag of the file."
    },
    "explicitlyTrashed": {
     "type": "boolean",
     "description": "Whether this file has been explicitly trashed, as opposed to recursively trashed."
    },
    "exportLinks": {
     "type": "object",
     "description": "Links for exporting Google Docs to specific formats.",
     "additionalProperties": {
      "type": "string",
      "description": "A mapping from export format to URL"
     }
    },
    "fileExtension": {
     "type": "string",
     "description": "The final component of fullFileExtension with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files."
    },
    "fileSize": {
     "type": "string",
     "description": "The size of the file in bytes. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files.",
     "format": "int64"
    },
    "folderColorRgb": {
     "type": "string",
     "description": "Folder color as an RGB hex string if the file is a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette. Not populated for Team Drive files."
    },
    "fullFileExtension": {
     "type": "string",
     "description": "The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files."
    },
    "hasAugmentedPermissions": {
     "type": "boolean",
     "description": "Whether any users are granted file access directly on this file. This field is only populated for Team Drive files."
    },
    "hasThumbnail": {
     "type": "boolean",
     "description": "Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
    },
    "headRevisionId": {
     "type": "string",
     "description": "The ID of the file's head revision. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files."
    },
    "iconLink": {
     "type": "string",
     "description": "A link to the file's icon."
    },
    "id": {
     "type": "string",
     "description": "The ID of the file."
    },
    "imageMediaMetadata": {
     "type": "object",
     "description": "Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
     "properties": {
      "aperture": {
       "type": "number",
       "description": "The aperture used to create the photo (f-number).",
       "format": "float"
      },
      "cameraMake": {
       "type": "string",
       "description": "The make of the camera used to create the photo."
      },
      "cameraModel": {
       "type": "string",
       "description": "The model of the camera used to create the photo."
      },
      "colorSpace": {
       "type": "string",
       "description": "The color space of the photo."
      },
      "date": {
       "type": "string",
       "description": "The date and time the photo was taken (EXIF format timestamp)."
      },
      "exposureBias": {
       "type": "number",
       "description": "The exposure bias of the photo (APEX value).",
       "format": "float"
      },
      "exposureMode": {
       "type": "string",
       "description": "The exposure mode used to create the photo."
      },
      "exposureTime": {
       "type": "number",
       "description": "The length of the exposure, in seconds.",
       "format": "float"
      },
      "flashUsed": {
       "type": "boolean",
       "description": "Whether a flash was used to create the photo."
      },
      "focalLength": {
       "type": "number",
       "description": "The focal length used to create the photo, in millimeters.",
       "format": "float"
      },
      "height": {
       "type": "integer",
       "description": "The height of the image in pixels.",
       "format": "int32"
      },
      "isoSpeed": {
       "type": "integer",
       "description": "The ISO speed used to create the photo.",
       "format": "int32"
      },
      "lens": {
       "type": "string",
       "description": "The lens used to create the photo."
      },
      "location": {
       "type": "object",
       "description": "Geographic location information stored in the image.",
       "properties": {
        "altitude": {
         "type": "number",
         "description": "The altitude stored in the image.",
         "format": "double"
        },
        "latitude": {
         "type": "number",
         "description": "The latitude stored in the image.",
         "format": "double"
        },
        "longitude": {
         "type": "number",
         "description": "The longitude stored in the image.",
         "format": "double"
        }
       }
      },
      "maxApertureValue": {
       "type": "number",
       "description": "The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
       "format": "float"
      },
      "meteringMode": {
       "type": "string",
       "description": "The metering mode used to create the photo."
      },
      "rotation": {
       "type": "integer",
       "description": "The rotation in clockwise degrees from the image's original orientation.",
       "format": "int32"
      },
      "sensor": {
       "type": "string",
       "description": "The type of sensor used to create the photo."
      },
      "subjectDistance": {
       "type": "integer",
       "description": "The distance to the subject of the photo, in meters.",
       "format": "int32"
      },
      "whiteBalance": {
       "type": "string",
       "description": "The white balance mode used to create the photo."
      },
      "width": {
       "type": "integer",
       "description": "The width of the image in pixels.",
       "format": "int32"
      }
     }
    },
    "indexableText": {
     "type": "object",
     "description": "Indexable text attributes for the file (can only be written)",
     "properties": {
      "text": {
       "type": "string",
       "description": "The text to be indexed for this file."
      }
     }
    },
    "isAppAuthorized": {
     "type": "boolean",
     "description": "Whether the file was created or opened by the requesting app."
    },
    "kind": {
     "type": "string",
     "description": "The type of file. This is always drive#file.",
     "default": "drive#file"
    },
    "labels": {
     "type": "object",
     "description": "A group of labels for the file.",
     "properties": {
      "hidden": {
       "type": "boolean",
       "description": "Deprecated."
      },
      "modified": {
       "type": "boolean",
       "description": "Whether the file has been modified by this user."
      },
      "restricted": {
       "type": "boolean",
       "description": "Whether viewers and commenters are prevented from downloading, printing, and copying this file."
      },
      "starred": {
       "type": "boolean",
       "description": "Whether this file is starred by the user."
      },
      "trashed": {
       "type": "boolean",
       "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files."
      },
      "viewed": {
       "type": "boolean",
       "description": "Whether this file has been viewed by this user."
      }
     }
    },
    "lastModifyingUser": {
     "$ref": "User",
     "description": "The last user to modify this file."
    },
    "lastModifyingUserName": {
     "type": "string",
     "description": "Name of the last user to modify this file."
    },
    "lastViewedByMeDate": {
     "type": "string",
     "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
     "format": "date-time"
    },
    "markedViewedByMeDate": {
     "type": "string",
     "description": "Deprecated.",
     "format": "date-time"
    },
    "md5Checksum": {
     "type": "string",
     "description": "An MD5 checksum for the content of this file. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files."
    },
    "mimeType": {
     "type": "string",
     "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type."
    },
    "modifiedByMeDate": {
     "type": "string",
     "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
     "format": "date-time"
    },
    "modifiedDate": {
     "type": "string",
     "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set.",
     "format": "date-time"
    },
    "openWithLinks": {
     "type": "object",
     "description": "A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "originalFilename": {
     "type": "string",
     "description": "The original filename of the uploaded content if available, or else the original value of the title field. This is only available for files with binary content in Drive."
    },
    "ownedByMe": {
     "type": "boolean",
     "description": "Whether the file is owned by the current user. Not populated for Team Drive files."
    },
    "ownerNames": {
     "type": "array",
     "description": "Name(s) of the owner(s) of this file. Not populated for Team Drive files.",
     "items": {
      "type": "string"
     }
    },
    "owners": {
     "type": "array",
     "description": "The owner(s) of this file. Not populated for Team Drive files.",
     "items": {
      "$ref": "User"
     }
    },
    "parents": {
     "type": "array",
     "description": "Collection of parent folders which contain this file.\nSetting this field will put the file in all of the provided folders. On insert, if no folders are provided, the file will be placed in the default root folder.",
     "items": {
      "$ref": "ParentReference"
     }
    },
    "permissionIds": {
     "type": "array",
     "description": "List of permission IDs for users with access to this file.",
     "items": {
      "type": "string"
     }
    },
    "permissions": {
     "type": "array",
     "description": "The list of permissions for users with access to this file. Not populated for Team Drive files.",
     "items": {
      "$ref": "Permission"
     }
    },
    "properties": {
     "type": "array",
     "description": "The list of properties.",
     "items": {
      "$ref": "Property"
     }
    },
    "quotaBytesUsed": {
     "type": "string",
     "description": "The number of quota bytes used by this file.",
     "format": "int64"
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this file."
    },
    "shareable": {
     "type": "boolean",
     "description": "Deprecated: use capabilities/canShare."
    },
    "shared": {
     "type": "boolean",
     "description": "Whether the file has been shared. Not populated for Team Drive files."
    },
    "sharedWithMeDate": {
     "type": "string",
     "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
     "format": "date-time"
    },
    "sharingUser": {
     "$ref": "User",
     "description": "User that shared the item with the current user, if available."
    },
    "spaces": {
     "type": "array",
     "description": "The list of spaces which contain the file. Supported values are 'drive', 'appDataFolder' and 'photos'.",
     "items": {
      "type": "string"
     }
    },
    "teamDriveId": {
     "type": "string",
     "description": "ID of the Team Drive the file resides in."
    },
    "thumbnail": {
     "type": "object",
     "description": "A thumbnail for the file. This will only be used if Drive cannot generate a standard thumbnail.",
     "properties": {
      "image": {
       "type": "string",
       "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
       "format": "byte"
      },
      "mimeType": {
       "type": "string",
       "description": "The MIME type of the thumbnail."
      }
     }
    },
    "thumbnailLink": {
     "type": "string",
     "description": "A short-lived link to the file's thumbnail. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content."
    },
    "thumbnailVersion": {
     "type": "string",
     "description": "The thumbnail version for use in thumbnail cache invalidation.",
     "format": "int64"
    },
    "title": {
     "type": "string",
     "description": "The title of this file. Note that for immutable items such as the top level folders of Team Drives, My Drive root folder, and Application Data folder the title is constant."
    },
    "trashedDate": {
     "type": "string",
     "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for Team Drive files.",
     "format": "date-time"
    },
    "trashingUser": {
     "$ref": "User",
     "description": "If the file has been explicitly trashed, the user who trashed it. Only populated for Team Drive files."
    },
    "userPermission": {
     "$ref": "Permission",
     "description": "The permissions for the authenticated user on this file."
    },
    "version": {
     "type": "string",
     "description": "A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user.",
     "format": "int64"
    },
    "videoMediaMetadata": {
     "type": "object",
     "description": "Metadata about video media. This will only be present for video types.",
     "properties": {
      "durationMillis": {
       "type": "string",
       "description": "The duration of the video in milliseconds.",
       "format": "int64"
      },
      "height": {
       "type": "integer",
       "description": "The height of the video in pixels.",
       "format": "int32"
      },
      "width": {
       "type": "integer",
       "description": "The width of the video in pixels.",
       "format": "int32"
      }
     }
    },
    "webContentLink": {
     "type": "string",
     "description": "A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials."
    },
    "webViewLink": {
     "type": "string",
     "description": "A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting."
    },
    "writersCanShare": {
     "type": "boolean",
     "description": "Whether writers can share the document with other users. Not populated for Team Drive files."
    }
   }
  },
  "FileList": {
   "id": "FileList",
   "type": "object",
   "description": "A list of files.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the list."
    },
    "incompleteSearch": {
     "type": "boolean",
     "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple Team Drives with the \"default,allTeamDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"teamDrive\"."
    },
    "items": {
     "type": "array",
     "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "File"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#fileList.",
     "default": "drive#fileList"
    },
    "nextLink": {
     "type": "string",
     "description": "A link to the next page of files."
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "GeneratedIds": {
   "id": "GeneratedIds",
   "type": "object",
   "description": "A list of generated IDs which can be provided in insert requests",
   "properties": {
    "ids": {
     "type": "array",
     "description": "The IDs generated for the requesting user in the specified space.",
     "items": {
      "type": "string"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#generatedIds",
     "default": "drive#generatedIds"
    },
    "space": {
     "type": "string",
     "description": "The type of file that can be created with these IDs."
    }
   }
  },
  "ParentList": {
   "id": "ParentList",
   "type": "object",
   "description": "A list of a file's parents.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the list."
    },
    "items": {
     "type": "array",
     "description": "The list of parents.",
     "items": {
      "$ref": "ParentReference"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#parentList.",
     "default": "drive#parentList"
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "ParentReference": {
   "id": "ParentReference",
   "type": "object",
   "description": "A reference to a file's parent.",
   "properties": {
    "id": {
     "type": "string",
     "description": "The ID of the parent.",
     "annotations": {
      "required": [
       "drive.parents.insert"
      ]
     }
    },
    "isRoot": {
     "type": "boolean",
     "description": "Whether or not the parent is the root folder."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#parentReference.",
     "default": "drive#parentReference"
    },
    "parentLink": {
     "type": "string",
     "description": "A link to the parent."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this reference."
    }
   }
  },
  "Permission": {
   "id": "Permission",
   "type": "object",
   "description": "A permission for a file.",
   "properties": {
    "additionalRoles": {
     "type": "array",
     "description": "Additional roles for this user. Only commenter is currently allowed, though more may be supported in the future.",
     "items": {
      "type": "string"
     }
    },
    "authKey": {
     "type": "string",
     "description": "Deprecated."
    },
    "deleted": {
     "type": "boolean",
     "description": "Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions."
    },
    "domain": {
     "type": "string",
     "description": "The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is user, group or domain."
    },
    "emailAddress": {
     "type": "string",
     "description": "The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is user or group."
    },
    "etag": {
     "type": "string",
     "description": "The ETag of the permission."
    },
    "expirationDate": {
     "type": "string",
     "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions:  \n- They can only be set on user and group permissions \n- The date must be in the future \n- The date cannot be more than a year in the future \n- The date can only be set on drive.permissions.update requests",
     "format": "date-time"
    },
    "id": {
     "type": "string",
     "description": "The ID of the user this permission refers to, and identical to the permissionId in the About and Files resources. When making a drive.permissions.insert request, exactly one of the id or value fields must be specified unless the permission type is anyone, in which case both id and value are ignored."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#permission.",
     "default": "drive#permission"
    },
    "name": {
     "type": "string",
     "description": "The name for this permission."
    },
    "photoLink": {
     "type": "string",
     "description": "A link to the profile photo, if available."
    },
    "role": {
     "type": "string",
     "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed:  \n- organizer \n- owner \n- reader \n- writer",
     "annotations": {
      "required": [
       "drive.permissions.insert"
      ]
     }
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this permission."
    },
    "teamDrivePermissionDetails": {
     "type": "array",
     "description": "Details of whether the permissions on this Team Drive item are inherited or directly on this item. This is an output-only field which is present only for Team Drive items.",
     "items": {
      "type": "object",
      "properties": {
       "additionalRoles": {
        "type": "array",
        "description": "Additional roles for this user. Only commenter is currently possible, though more may be supported in the future.",
        "items": {
         "type": "string"
        }
       },
       "inherited": {
        "type": "boolean",
        "description": "Whether this permission is inherited. This field is always populated. This is an output-only field."
       },
       "inheritedFrom": {
        "type": "string",
        "description": "The ID of the item from which this permission is inherited. This is an output-only field and is only populated for members of the Team Drive."
       },
       "role": {
        "type": "string",
        "description": "The primary role for this user. While new values may be added in the future, the following are currently possible:  \n- organizer \n- reader \n- writer"
       },
       "teamDrivePermissionType": {
        "type": "string",
        "description": "The Team Drive permission type for this user. While new values may be added in future, the following are currently possible:  \n- file \n- member"
       }
      }
     }
    },
    "type": {
     "type": "string",
     "description": "The account type. Allowed values are:  \n- user \n- group \n- domain \n- anyone",
     "annotations": {
      "required": [
       "drive.permissions.insert"
      ]
     }
    },
    "value": {
     "type": "string",
     "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a drive.permissions.insert request, exactly one of the id or value fields must be specified unless the permission type is anyone, in which case both id and value are ignored."
    },
    "withLink": {
     "type": "boolean",
     "description": "Whether the link is required for this permission."
    }
   }
  },
  "PermissionId": {
   "id": "PermissionId",
   "type": "object",
   "description": "An ID for a user or group as seen in Permission items.",
   "properties": {
    "id": {
     "type": "string",
     "description": "The permission ID."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#permissionId.",
     "default": "drive#permissionId"
    }
   }
  },
  "PermissionList": {
   "id": "PermissionList",
   "type": "object",
   "description": "A list of permissions associated with a file.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the list."
    },
    "items": {
     "type": "array",
     "description": "The list of permissions.",
     "items": {
      "$ref": "Permission"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#permissionList.",
     "default": "drive#permissionList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "Property": {
   "id": "Property",
   "type": "object",
   "description": "A key-value pair attached to a file that is either public or private to an application.\nThe following limits apply to file properties:  \n- Maximum of 100 properties total per file\n- Maximum of 30 private properties per app\n- Maximum of 30 public properties\n- Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "ETag of the property."
    },
    "key": {
     "type": "string",
     "description": "The key of this property."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#property.",
     "default": "drive#property"
    },
    "selfLink": {
     "type": "string",
     "description": "The link back to this property."
    },
    "value": {
     "type": "string",
     "description": "The value of this property."
    },
    "visibility": {
     "type": "string",
     "description": "The visibility of this property."
    }
   }
  },
  "PropertyList": {
   "id": "PropertyList",
   "type": "object",
   "description": "A collection of properties, key-value pairs that are either public or private to an application.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the list."
    },
    "items": {
     "type": "array",
     "description": "The list of properties.",
     "items": {
      "$ref": "Property"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#propertyList.",
     "default": "drive#propertyList"
    },
    "selfLink": {
     "type": "string",
     "description": "The link back to this list."
    }
   }
  },
  "Revision": {
   "id": "Revision",
   "type": "object",
   "description": "A revision of a file.",
   "properties": {
    "downloadUrl": {
     "type": "string",
     "description": "Short term download URL for the file. This will only be populated on files with content stored in Drive."
    },
    "etag": {
     "type": "string",
     "description": "The ETag of the revision."
    },
    "exportLinks": {
     "type": "object",
     "description": "Links for exporting Google Docs to specific formats.",
     "additionalProperties": {
      "type": "string",
      "description": "A mapping from export format to URL"
     }
    },
    "fileSize": {
     "type": "string",
     "description": "The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "The ID of the revision."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#revision.",
     "default": "drive#revision"
    },
    "lastModifyingUser": {
     "$ref": "User",
     "description": "The last user to modify this revision."
    },
    "lastModifyingUserName": {
     "type": "string",
     "description": "Name of the last user to modify this revision."
    },
    "md5Checksum": {
     "type": "string",
     "description": "An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive."
    },
    "mimeType": {
     "type": "string",
     "description": "The MIME type of the revision."
    },
    "modifiedDate": {
     "type": "string",
     "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
     "format": "date-time"
    },
    "originalFilename": {
     "type": "string",
     "description": "The original filename when this revision was created. This will only be populated on files with content stored in Drive."
    },
    "pinned": {
     "type": "boolean",
     "description": "Whether this revision is pinned to prevent automatic purging. This will only be populated and can only be modified on files with content stored in Drive which are not Google Docs. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter."
    },
    "publishAuto": {
     "type": "boolean",
     "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Google Docs."
    },
    "published": {
     "type": "boolean",
     "description": "Whether this revision is published. This is only populated and can only be modified for Google Docs."
    },
    "publishedLink": {
     "type": "string",
     "description": "A link to the published revision."
    },
    "publishedOutsideDomain": {
     "type": "boolean",
     "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Google Docs."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this revision."
    }
   }
  },
  "RevisionList": {
   "id": "RevisionList",
   "type": "object",
   "description": "A list of revisions of a file.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the list."
    },
    "items": {
     "type": "array",
     "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Revision"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#revisionList.",
     "default": "drive#revisionList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results."
    },
    "selfLink": {
     "type": "string",
     "description": "A link back to this list."
    }
   }
  },
  "StartPageToken": {
   "id": "StartPageToken",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#startPageToken\".",
     "default": "drive#startPageToken"
    },
    "startPageToken": {
     "type": "string",
     "description": "The starting page token for listing changes."
    }
   }
  },
  "TeamDrive": {
   "id": "TeamDrive",
   "type": "object",
   "description": "Representation of a Team Drive.",
   "properties": {
    "backgroundImageFile": {
     "type": "object",
     "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on drive.teamdrives.update requests that don't set themeId. When specified, all fields of the backgroundImageFile must be set.",
     "properties": {
      "id": {
       "type": "string",
       "description": "The ID of an image file in Drive to use for the background image."
      },
      "width": {
       "type": "number",
       "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
       "format": "float"
      },
      "xCoordinate": {
       "type": "number",
       "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
       "format": "float"
      },
      "yCoordinate": {
       "type": "number",
       "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
       "format": "float"
      }
     }
    },
    "backgroundImageLink": {
     "type": "string",
     "description": "A short-lived link to this Team Drive's background image."
    },
    "capabilities": {
     "type": "object",
     "description": "Capabilities the current user has on this Team Drive.",
     "properties": {
      "canAddChildren": {
       "type": "boolean",
       "description": "Whether the current user can add children to folders in this Team Drive."
      },
      "canChangeTeamDriveBackground": {
       "type": "boolean",
       "description": "Whether the current user can change the background of this Team Drive."
      },
      "canComment": {
       "type": "boolean",
       "description": "Whether the current user can comment on files in this Team Drive."
      },
      "canCopy": {
       "type": "boolean",
       "description": "Whether the current user can copy files in this Team Drive."
      },
      "canDeleteTeamDrive": {
       "type": "boolean",
       "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
      },
      "canDownload": {
       "type": "boolean",
       "description": "Whether the current user can download files in this Team Drive."
      },
      "canEdit": {
       "type": "boolean",
       "description": "Whether the current user can edit files in this Team Drive"
      },
      "canListChildren": {
       "type": "boolean",
       "description": "Whether the current user can list the children of folders in this Team Drive."
      },
      "canManageMembers": {
       "type": "boolean",
       "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
      },
      "canReadRevisions": {
       "type": "boolean",
       "description": "Whether the current user can read the revisions resource of files in this Team Drive."
      },
      "canRemoveChildren": {
       "type": "boolean",
       "description": "Whether the current user can remove children from folders in this Team Drive."
      },
      "canRename": {
       "type": "boolean",
       "description": "Whether the current user can rename files or folders in this Team Drive."
      },
      "canRenameTeamDrive": {
       "type": "boolean",
       "description": "Whether the current user can rename this Team Drive."
      },
      "canShare": {
       "type": "boolean",
       "description": "Whether the current user can share files or folders in this Team Drive."
      }
     }
    },
    "colorRgb": {
     "type": "string",
     "description": "The color of this Team Drive as an RGB hex string. It can only be set on a drive.teamdrives.update request that does not set themeId."
    },
    "id": {
     "type": "string",
     "description": "The ID of this Team Drive which is also the ID of the top level folder for this Team Drive."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#teamDrive",
     "default": "drive#teamDrive"
    },
    "name": {
     "type": "string",
     "description": "The name of this Team Drive."
    },
    "themeId": {
     "type": "string",
     "description": "The ID of the theme from which the background image and color will be set. The set of possible teamDriveThemes can be retrieved from a drive.about.get response. When not specified on a drive.teamdrives.insert request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set colorRgb or backgroundImageFile."
    }
   }
  },
  "TeamDriveList": {
   "id": "TeamDriveList",
   "type": "object",
   "description": "A list of Team Drives.",
   "properties": {
    "items": {
     "type": "array",
     "description": "The list of Team Drives.",
     "items": {
      "$ref": "TeamDrive"
     }
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#teamDriveList",
     "default": "drive#teamDriveList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of Team Drives."
    }
   }
  },
  "User": {
   "id": "User",
   "type": "object",
   "description": "Information about a Drive user.",
   "properties": {
    "displayName": {
     "type": "string",
     "description": "A plain text displayable name for this user."
    },
    "emailAddress": {
     "type": "string",
     "description": "The email address of the user."
    },
    "isAuthenticatedUser": {
     "type": "boolean",
     "description": "Whether this user is the same as the authenticated user for whom the request was made."
    },
    "kind": {
     "type": "string",
     "description": "This is always drive#user.",
     "default": "drive#user"
    },
    "permissionId": {
     "type": "string",
     "description": "The user's ID as visible in the permissions collection."
    },
    "picture": {
     "type": "object",
     "description": "The user's profile picture.",
     "properties": {
      "url": {
       "type": "string",
       "description": "A URL that points to a profile picture of this user."
      }
     }
    }
   }
  }
 },
 "resources": {
  "about": {
   "methods": {
    "get": {
     "id": "drive.about.get",
     "path": "about",
     "httpMethod": "GET",
     "description": "Gets the information about the current user along with Drive API settings",
     "parameters": {
      "includeSubscribed": {
       "type": "boolean",
       "description": "When calculating the number of remaining change IDs, whether to include public files the user has opened and shared files. When set to false, this counts only change IDs for owned files and any shared or public files that the user has explicitly added to a folder they own.",
       "default": "true",
       "location": "query"
      },
      "maxChangeIdCount": {
       "type": "string",
       "description": "Maximum number of remaining change IDs to count",
       "default": "1",
       "format": "int64",
       "location": "query"
      },
      "startChangeId": {
       "type": "string",
       "description": "Change ID to start counting from when calculating number of remaining change IDs",
       "format": "int64",
       "location": "query"
      }
     },
     "response": {
      "$ref": "About"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    }
   }
  },
  "apps": {
   "methods": {
    "get": {
     "id": "drive.apps.get",
     "path": "apps/{appId}",
     "httpMethod": "GET",
     "description": "Gets a specific app.",
     "parameters": {
      "appId": {
       "type": "string",
       "description": "The ID of the app.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "appId"
     ],
     "response": {
      "$ref": "App"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.apps.readonly",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "list": {
     "id": "drive.apps.list",
     "path": "apps",
     "httpMethod": "GET",
     "description": "Lists a user's installed apps.",
     "parameters": {
      "appFilterExtensions": {
       "type": "string",
       "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If appFilterMimeTypes are provided as well, the result is a union of the two resulting app lists.",
       "default": "",
       "location": "query"
      },
      "appFilterMimeTypes": {
       "type": "string",
       "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If appFilterExtensions are provided as well, the result is a union of the two resulting app lists.",
       "default": "",
       "location": "query"
      },
      "languageCode": {
       "type": "string",
       "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
       "location": "query"
      }
     },
     "response": {
      "$ref": "AppList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive.apps.readonly"
     ]
    }
   }
  },
  "changes": {
   "methods": {
    "get": {
     "id": "drive.changes.get",
     "path": "changes/{changeId}",
     "httpMethod": "GET",
     "description": "Gets a specific change.",
     "parameters": {
      "changeId": {
       "type": "string",
       "description": "The ID of the change.",
       "required": true,
       "location": "path"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports Team Drives.",
       "default": "false",
       "location": "query"
      },
      "teamDriveId": {
       "type": "string",
       "description": "The Team Drive from which the change will be returned.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "changeId"
     ],
     "response": {
      "$ref": "Change"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.apps.readonly",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "getStartPageToken": {
     "id": "drive.changes.getStartPageToken",
     "path": "changes/startPageToken",
     "httpMethod": "GET",
     "description": "Gets the starting pageToken for listing future changes.",
     "parameters": {
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports Team Drives.",
       "default": "false",
       "location": "query"
      },
      "teamDriveId": {
       "type": "string",
       "description": "The ID of the Team Drive for which the starting pageToken for listing future changes from that Team Drive will be returned.",
       "location": "query"
      }
     },
     "response": {
      "$ref": "StartPageToken"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.apps.readonly",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "list": {
     "id": "drive.changes.list",
     "path": "changes",
     "httpMethod": "GET",
     "description": "Lists the changes for a user or Team Drive.",
     "parameters": {
      "includeCorpusRemovals": {
       "type": "boolean",
       "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
       "default": "false",
       "location": "query"
      },
      "includeDeleted": {
       "type": "boolean",
       "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
       "default": "true",
       "location": "query"
      },
      "includeSubscribed": {
       "type": "boolean",
       "description": "Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.",
       "default": "true",
       "location": "query"
      },
      "includeTeamDriveItems": {
       "type": "boolean",
       "description": "Whether Team Drive files or changes should be included in results.",
       "default": "false",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Maximum number of changes to return.",
       "default": "100",
       "format": "int32",
       "minimum": "1",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
       "location": "query"
      },
      "spaces": {
       "type": "string",
       "description": "A comma-separated list of spaces to query. Supported values are 'drive', 'appDataFolder' and 'photos'.",
       "location": "query"
      },
      "startChangeId": {
       "type": "string",
       "description": "Change ID to start listing changes from.",
       "format": "int64",
       "location": "query"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports Team Drives.",
       "default": "false",
       "location": "query"
      },
      "teamDriveId": {
       "type": "string",
       "description": "The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.",
       "location": "query"
      }
     },
     "response": {
      "$ref": "ChangeList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.apps.readonly",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ],
     "supportsSubscription": true
    },
    "watch": {
     "id": "drive.changes.watch",
     "path": "changes/watch",
     "httpMethod": "POST",
     "description": "Subscribe to changes for a user.",
     "parameters": {
      "includeCorpusRemovals": {
       "type": "boolean",
       "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
       "default": "false",
       "location": "query"
      },
      "includeDeleted": {
       "type": "boolean",
       "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
       "default": "true",
       "location": "query"
      },
      "includeSubscribed": {
       "type": "boolean",
       "description": "Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.",
       "default": "true",
       "location": "query"
      },
      "includeTeamDriveItems": {
       "type": "boolean",
       "description": "Whether Team Drive files or changes should be included in results.",
       "default": "false",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Maximum number of changes to return.",
       "default": "100",
       "format": "int32",
       "minimum": "1",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
       "location": "query"
      },
      "spaces": {
       "type": "string",
       "description": "A comma-separated list of spaces to query. Supported values are 'drive', 'appDataFolder' and 'photos'.",
       "location": "query"
      },
      "startChangeId": {
       "type": "string",
       "description": "Change ID to start listing changes from.",
       "format": "int64",
       "location": "query"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports Team Drives.",
       "default": "false",
       "location": "query"
      },
      "teamDriveId": {
       "type": "string",
       "description": "The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.",
       "location": "query"
      }
     },
     "request": {
      "$ref": "Channel",
      "parameterName": "resource"
     },
     "response": {
      "$ref": "Channel"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.apps.readonly",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ],
     "supportsSubscription": true
    }
   }
  },
  "channels": {
   "methods": {
    "stop": {
     "id": "drive.channels.stop",
     "path": "channels/stop",
     "httpMethod": "POST",
     "description": "Stop watching resources through this channel",
     "request": {
      "$ref": "Channel",
      "parameterName": "resource"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.apps.readonly",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    }
   }
  },
  "children": {
   "methods": {
    "delete": {
     "id": "drive.children.delete",
     "path": "files/{folderId}/children/{childId}",
     "httpMethod": "DELETE",
     "description": "Removes a child from a folder.",
     "parameters": {
      "childId": {
       "type": "string",
       "description": "The ID of the child.",
       "required": true,
       "location": "path"
      },
      "folderId": {
       "type": "string",
       "description": "The ID of the folder.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "folderId",
      "childId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file"
     ]
    },
    "get": {
     "id": "drive.children.get",
     "path": "files/{folderId}/children/{childId}",
     "httpMethod": "GET",
     "description": "Gets a specific child reference.",
     "parameters": {
      "childId": {
       "type": "string",
       "description": "The ID of the child.",
       "required": true,
       "location": "path"
      },
      "folderId": {
       "type": "string",
       "description": "The ID of the folder.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "folderId",
      "childId"
     ],
     "response": {
      "$ref": "ChildReference"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "insert": {
     "id": "drive.children.insert",
     "path": "files/{folderId}/children",
     "httpMethod": "POST",
     "description": "Inserts a file into a folder.",
     "parameters": {
      "folderId": {
       "type": "string",
       "description": "The ID of the folder.",
       "required": true,
       "location": "path"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports Team Drives.",
       "default": "false",
       "location": "query"
      }
     },
     "parameterOrder": [
      "folderId"
     ],
     "request": {
      "$ref": "ChildReference"
     },
     "response": {
      "$ref": "ChildReference"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file"
     ]
    },
    "list": {
     "id": "drive.children.list",
     "path": "files/{folderId}/children",
     "httpMethod": "GET",
     "description": "Lists a folder's children.",
     "parameters": {
      "folderId": {
       "type": "string",
       "description": "The ID of the folder.",
       "required": true,
       "location": "path"
      },
      "maxResults": {
       "type": "integer",
       "description": "Maximum number of children to return.",
       "default": "100",
       "format": "int32",
       "minimum": "0",
       "location": "query"
      },
      "orderBy": {
       "type": "string",
       "description": "A comma-separated list of sort keys. Valid keys are 'createdDate', 'folder', 'lastViewedByMeDate', 'modifiedByMeDate', 'modifiedDate', 'quotaBytesUsed', 'recency', 'sharedWithMeDate', 'starred', and 'title'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Page token for children.",
       "location": "query"
      },
      "q": {
       "type": "string",
       "description": "Query string for searching children.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "folderId"
     ],
     "response": {
      "$ref": "ChildList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    }
   }
  },
  "comments": {
   "methods": {
    "delete": {
     "id": "drive.comments.delete",
     "path": "files/{fileId}/comments/{commentId}",
     "httpMethod": "DELETE",
     "description": "Deletes a comment.",
     "parameters": {
      "commentId": {
       "type": "string",
       "description": "The ID of the comment.",
       "required": true,
       "location": "path"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "fileId",
      "commentId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file"
     ]
    },
    "get": {
     "id": "drive.comments.get",
     "path": "files/{fileId}/comments/{commentId}",
     "httpMethod": "GET",
     "description": "Gets a comment by ID.",
     "parameters": {
      "commentId": {
       "type": "string",
       "description": "The ID of the comment.",
       "required": true,
       "location": "path"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      },
      "includeDeleted": {
       "type": "boolean",
       "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
       "default": "false",
       "location": "query"
      }
     },
     "parameterOrder": [
      "fileId",
      "commentId"
     ],
     "response": {
      "$ref": "Comment"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "insert": {
     "id": "drive.comments.insert",
     "path": "files/{fileId}/comments",
     "httpMethod": "POST",
     "description": "Creates a new comment on the given file.",
     "parameters": {
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "fileId"
     ],
     "request": {
      "$ref": "Comment"
     },
     "response": {
      "$ref": "Comment"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file"
     ]
    },
    "list": {
     "id": "drive.comments.list",
     "path": "files/{fileId}/comments",
     "httpMethod": "GET",
     "description": "Lists a file's comments.",
     "parameters": {
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      },
      "includeDeleted": {
       "type": "boolean",
       "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
       "default": "false",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "The maximum number of discussions to include in the response, used for paging.",
       "default": "20",
       "format": "int32",
       "minimum": "0",
       "maximum": "100",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
       "location": "query"
      },
      "updatedMin": {
       "type": "string",
       "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "fileId"
     ],
     "response": {
      "$ref": "CommentList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "patch": {
     "id": "drive.comments.patch",
     "path": "files/{fileId}/comments/{commentId}",
     "httpMethod": "PATCH",
     "description": "Updates an existing comment. This method supports patch semantics.",
     "parameters": {
      "commentId": {
       "type": "string",
       "description": "The ID of the comment.",
       "required": true,
       "location": "path"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "fileId",
      "commentId"
     ],
     "request": {
      "$ref": "Comment"
     },
     "response": {
      "$ref": "Comment"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file"
     ]
    },
    "update": {
     "id": "drive.comments.update",
     "path": "files/{fileId}/comments/{commentId}",
     "httpMethod": "PUT",
     "description": "Updates an existing comment.",
     "parameters": {
      "commentId": {
       "type": "string",
       "description": "The ID of the comment.",
       "required": true,
       "location": "path"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "fileId",
      "commentId"
     ],
     "request": {
      "$ref": "Comment"
     },
     "response": {
      "$ref": "Comment"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file"
     ]
    }
   }
  },
  "files": {
   "methods": {
    "copy": {
     "id": "drive.files.copy",
     "path": "files/{fileId}/copy",
     "httpMethod": "POST",
     "description": "Creates a copy of the specified file.",
     "parameters": {
      "convert": {
       "type": "boolean",
       "description": "Whether to convert this file to the corresponding Google Docs format.",
       "default": "false",
       "location": "query"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file to copy.",
       "required": true,
       "location": "path"
      },
      "ocr": {
       "type": "boolean",
       "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
       "default": "false",
       "location": "query"
      },
      "ocrLanguage": {
       "type": "string",
       "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
       "location": "query"
      },
      "pinned": {
       "type": "boolean",
       "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
       "default": "false",
       "location": "query"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports Team Drives.",
       "default": "false",
       "location": "query"
      },
      "timedTextLanguage": {
       "type": "string",
       "description": "The language of the timed text.",
       "location": "query"
      },
      "timedTextTrackName": {
       "type": "string",
       "description": "The timed text track name.",
       "location": "query"
      },
      "visibility": {
       "type": "string",
       "description": "The visibility of the new file. This parameter is only relevant when the source is not a native Google Doc and convert=false.",
       "default": "DEFAULT",
       "enum": [
        "DEFAULT",
        "PRIVATE"
       ],
       "enumDescriptions": [
        "The visibility of the new file is determined by the user's default visibility/sharing policies.",
        "The new file will be visible to only the owner."
       ],
       "location": "query"
      }
     },
     "parameterOrder": [
      "fileId"
     ],
     "request": {
      "$ref": "File"
     },
[...]
