{
  "metadata": {
    "apiVersion": "2017-08-29",
    "endpointPrefix": "mediaconvert",
    "signingName": "mediaconvert",
    "serviceFullName": "AWS Elemental MediaConvert",
    "serviceId": "MediaConvert",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "mediaconvert-2017-08-29",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaConvert"
  },
  "operations": {
    "AssociateCertificate": {
      "name": "AssociateCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/certificates",
        "responseCode": 201
      },
      "input": {
        "shape": "AssociateCertificateRequest"
      },
      "output": {
        "shape": "AssociateCertificateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CancelJob": {
      "name": "CancelJob",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 202
      },
      "input": {
        "shape": "CancelJobRequest"
      },
      "output": {
        "shape": "CancelJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateJob": {
      "name": "CreateJob",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "output": {
        "shape": "CreateJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateJobTemplate": {
      "name": "CreateJobTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobTemplateRequest"
      },
      "output": {
        "shape": "CreateJobTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreatePreset": {
      "name": "CreatePreset",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePresetRequest"
      },
      "output": {
        "shape": "CreatePresetResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateQueue": {
      "name": "CreateQueue",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateQueueRequest"
      },
      "output": {
        "shape": "CreateQueueResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteJobTemplate": {
      "name": "DeleteJobTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteJobTemplateRequest"
      },
      "output": {
        "shape": "DeleteJobTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeletePreset": {
      "name": "DeletePreset",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeletePresetRequest"
      },
      "output": {
        "shape": "DeletePresetResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteQueue": {
      "name": "DeleteQueue",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteQueueRequest"
      },
      "output": {
        "shape": "DeleteQueueResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DescribeEndpoints": {
      "name": "DescribeEndpoints",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/endpoints",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeEndpointsRequest"
      },
      "output": {
        "shape": "DescribeEndpointsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DisassociateCertificate": {
      "name": "DisassociateCertificate",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/certificates/{arn}",
        "responseCode": 202
      },
      "input": {
        "shape": "DisassociateCertificateRequest"
      },
      "output": {
        "shape": "DisassociateCertificateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "GetJob": {
      "name": "GetJob",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "output": {
        "shape": "GetJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "GetJobTemplate": {
      "name": "GetJobTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobTemplateRequest"
      },
      "output": {
        "shape": "GetJobTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "GetPreset": {
      "name": "GetPreset",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPresetRequest"
      },
      "output": {
        "shape": "GetPresetResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "GetQueue": {
      "name": "GetQueue",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetQueueRequest"
      },
      "output": {
        "shape": "GetQueueResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "ListJobTemplates": {
      "name": "ListJobTemplates",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobTemplatesRequest"
      },
      "output": {
        "shape": "ListJobTemplatesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "ListJobs": {
      "name": "ListJobs",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "output": {
        "shape": "ListJobsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "ListPresets": {
      "name": "ListPresets",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPresetsRequest"
      },
      "output": {
        "shape": "ListPresetsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "ListQueues": {
      "name": "ListQueues",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 200
      },
      "input": {
        "shape": "ListQueuesRequest"
      },
      "output": {
        "shape": "ListQueuesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateJobTemplate": {
      "name": "UpdateJobTemplate",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateJobTemplateRequest"
      },
      "output": {
        "shape": "UpdateJobTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdatePreset": {
      "name": "UpdatePreset",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdatePresetRequest"
      },
      "output": {
        "shape": "UpdatePresetResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateQueue": {
      "name": "UpdateQueue",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateQueueRequest"
      },
      "output": {
        "shape": "UpdateQueueResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    }
  },
  "shapes": {
    "AacAudioDescriptionBroadcasterMix": {
      "type": "string",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ]
    },
    "AacCodecProfile": {
      "type": "string",
      "enum": [
        "LC",
        "HEV1",
        "HEV2"
      ]
    },
    "AacCodingMode": {
      "type": "string",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ]
    },
    "AacRateControlMode": {
      "type": "string",
      "enum": [
        "CBR",
        "VBR"
      ]
    },
    "AacRawFormat": {
      "type": "string",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ]
    },
    "AacSettings": {
      "type": "structure",
      "members": {
        "AudioDescriptionBroadcasterMix": {
          "shape": "AacAudioDescriptionBroadcasterMix",
          "locationName": "audioDescriptionBroadcasterMix"
        },
        "Bitrate": {
          "shape": "__integerMin6000Max1024000",
          "locationName": "bitrate"
        },
        "CodecProfile": {
          "shape": "AacCodecProfile",
          "locationName": "codecProfile"
        },
        "CodingMode": {
          "shape": "AacCodingMode",
          "locationName": "codingMode"
        },
        "RateControlMode": {
          "shape": "AacRateControlMode",
          "locationName": "rateControlMode"
        },
        "RawFormat": {
          "shape": "AacRawFormat",
          "locationName": "rawFormat"
        },
        "SampleRate": {
          "shape": "__integerMin8000Max96000",
          "locationName": "sampleRate"
        },
        "Specification": {
          "shape": "AacSpecification",
          "locationName": "specification"
        },
        "VbrQuality": {
          "shape": "AacVbrQuality",
          "locationName": "vbrQuality"
        }
      }
    },
    "AacSpecification": {
      "type": "string",
      "enum": [
        "MPEG2",
        "MPEG4"
      ]
    },
    "AacVbrQuality": {
      "type": "string",
      "enum": [
        "LOW",
        "MEDIUM_LOW",
        "MEDIUM_HIGH",
        "HIGH"
      ]
    },
    "Ac3BitstreamMode": {
      "type": "string",
      "enum": [
        "COMPLETE_MAIN",
        "COMMENTARY",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ]
    },
    "Ac3CodingMode": {
      "type": "string",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ]
    },
    "Ac3DynamicRangeCompressionProfile": {
      "type": "string",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ]
    },
    "Ac3LfeFilter": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "Ac3MetadataControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__integerMin64000Max640000",
          "locationName": "bitrate"
        },
        "BitstreamMode": {
          "shape": "Ac3BitstreamMode",
          "locationName": "bitstreamMode"
        },
        "CodingMode": {
          "shape": "Ac3CodingMode",
          "locationName": "codingMode"
        },
        "Dialnorm": {
          "shape": "__integerMin1Max31",
          "locationName": "dialnorm"
        },
        "DynamicRangeCompressionProfile": {
          "shape": "Ac3DynamicRangeCompressionProfile",
          "locationName": "dynamicRangeCompressionProfile"
        },
        "LfeFilter": {
          "shape": "Ac3LfeFilter",
          "locationName": "lfeFilter"
        },
        "MetadataControl": {
          "shape": "Ac3MetadataControl",
          "locationName": "metadataControl"
        },
        "SampleRate": {
          "shape": "__integerMin48000Max48000",
          "locationName": "sampleRate"
        }
      }
    },
    "AccelerationMode": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED",
        "PREFERRED"
      ]
    },
    "AccelerationSettings": {
      "type": "structure",
      "members": {
        "Mode": {
          "shape": "AccelerationMode",
          "locationName": "mode"
        }
      },
      "required": [
        "Mode"
      ]
    },
    "AccelerationStatus": {
      "type": "string",
      "enum": [
        "NOT_APPLICABLE",
        "IN_PROGRESS",
        "ACCELERATED",
        "NOT_ACCELERATED"
      ]
    },
    "AfdSignaling": {
      "type": "string",
      "enum": [
        "NONE",
        "AUTO",
        "FIXED"
      ]
    },
    "AiffSettings": {
      "type": "structure",
      "members": {
        "BitDepth": {
          "shape": "__integerMin16Max24",
          "locationName": "bitDepth"
        },
        "Channels": {
          "shape": "__integerMin1Max64",
          "locationName": "channels"
        },
        "SampleRate": {
          "shape": "__integerMin8000Max192000",
          "locationName": "sampleRate"
        }
      }
    },
    "AlphaBehavior": {
      "type": "string",
      "enum": [
        "DISCARD",
        "REMAP_TO_LUMA"
      ]
    },
    "AncillaryConvert608To708": {
      "type": "string",
      "enum": [
        "UPCONVERT",
        "DISABLED"
      ]
    },
    "AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "Convert608To708": {
          "shape": "AncillaryConvert608To708",
          "locationName": "convert608To708"
        },
        "SourceAncillaryChannelNumber": {
          "shape": "__integerMin1Max4",
          "locationName": "sourceAncillaryChannelNumber"
        },
        "TerminateCaptions": {
          "shape": "AncillaryTerminateCaptions",
          "locationName": "terminateCaptions"
        }
      }
    },
    "AncillaryTerminateCaptions": {
      "type": "string",
      "enum": [
        "END_OF_INPUT",
        "DISABLED"
      ]
    },
    "AntiAlias": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "AssociateCertificateRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn"
        }
      },
      "required": [
        "Arn"
      ]
    },
    "AssociateCertificateResponse": {
      "type": "structure",
      "members": {
      }
    },
    "AudioChannelTag": {
      "type": "string",
      "enum": [
        "L",
        "R",
        "C",
        "LFE",
        "LS",
        "RS",
        "LC",
        "RC",
        "CS",
        "LSD",
        "RSD",
        "TCS",
        "VHL",
        "VHC",
        "VHR"
      ]
    },
    "AudioChannelTaggingSettings": {
      "type": "structure",
      "members": {
        "ChannelTag": {
          "shape": "AudioChannelTag",
          "locationName": "channelTag"
        }
      }
    },
    "AudioCodec": {
      "type": "string",
      "enum": [
        "AAC",
        "MP2",
        "MP3",
        "WAV",
        "AIFF",
        "AC3",
        "EAC3",
        "EAC3_ATMOS",
        "VORBIS",
        "OPUS",
        "PASSTHROUGH"
      ]
    },
    "AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "shape": "AacSettings",
          "locationName": "aacSettings"
        },
        "Ac3Settings": {
          "shape": "Ac3Settings",
          "locationName": "ac3Settings"
        },
        "AiffSettings": {
          "shape": "AiffSettings",
          "locationName": "aiffSettings"
        },
        "Codec": {
          "shape": "AudioCodec",
          "locationName": "codec"
        },
        "Eac3AtmosSettings": {
          "shape": "Eac3AtmosSettings",
          "locationName": "eac3AtmosSettings"
        },
        "Eac3Settings": {
          "shape": "Eac3Settings",
          "locationName": "eac3Settings"
        },
        "Mp2Settings": {
          "shape": "Mp2Settings",
          "locationName": "mp2Settings"
        },
        "Mp3Settings": {
          "shape": "Mp3Settings",
          "locationName": "mp3Settings"
        },
        "OpusSettings": {
          "shape": "OpusSettings",
          "locationName": "opusSettings"
        },
        "VorbisSettings": {
          "shape": "VorbisSettings",
          "locationName": "vorbisSettings"
        },
        "WavSettings": {
          "shape": "WavSettings",
          "locationName": "wavSettings"
        }
      }
    },
    "AudioDefaultSelection": {
      "type": "string",
      "enum": [
        "DEFAULT",
        "NOT_DEFAULT"
      ]
    },
    "AudioDescription": {
      "type": "structure",
      "members": {
        "AudioChannelTaggingSettings": {
          "shape": "AudioChannelTaggingSettings",
          "locationName": "audioChannelTaggingSettings"
        },
        "AudioNormalizationSettings": {
          "shape": "AudioNormalizationSettings",
          "locationName": "audioNormalizationSettings"
        },
        "AudioSourceName": {
          "shape": "__string",
          "locationName": "audioSourceName"
        },
        "AudioType": {
          "shape": "__integerMin0Max255",
          "locationName": "audioType"
        },
        "AudioTypeControl": {
          "shape": "AudioTypeControl",
          "locationName": "audioTypeControl"
        },
        "CodecSettings": {
          "shape": "AudioCodecSettings",
          "locationName": "codecSettings"
        },
        "CustomLanguageCode": {
          "shape": "__stringPatternAZaZ23AZaZ",
          "locationName": "customLanguageCode"
        },
        "LanguageCode": {
          "shape": "LanguageCode",
          "locationName": "languageCode"
        },
        "LanguageCodeControl": {
          "shape": "AudioLanguageCodeControl",
          "locationName": "languageCodeControl"
        },
        "RemixSettings": {
          "shape": "RemixSettings",
          "locationName": "remixSettings"
        },
        "StreamName": {
          "shape": "__stringPatternWS",
          "locationName": "streamName"
        }
      }
    },
    "AudioLanguageCodeControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "AudioNormalizationAlgorithm": {
      "type": "string",
      "enum": [
        "ITU_BS_1770_1",
        "ITU_BS_1770_2",
        "ITU_BS_1770_3",
        "ITU_BS_1770_4"
      ]
    },
    "AudioNormalizationAlgorithmControl": {
      "type": "string",
      "enum": [
        "CORRECT_AUDIO",
        "MEASURE_ONLY"
      ]
    },
    "AudioNormalizationLoudnessLogging": {
      "type": "string",
      "enum": [
        "LOG",
        "DONT_LOG"
      ]
    },
    "AudioNormalizationPeakCalculation": {
      "type": "string",
      "enum": [
        "TRUE_PEAK",
        "NONE"
      ]
    },
    "AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "shape": "AudioNormalizationAlgorithm",
          "locationName": "algorithm"
        },
        "AlgorithmControl": {
          "shape": "AudioNormalizationAlgorithmControl",
          "locationName": "algorithmControl"
        },
        "CorrectionGateLevel": {
          "shape": "__integerMinNegative70Max0",
          "locationName": "correctionGateLevel"
        },
        "LoudnessLogging": {
          "shape": "AudioNormalizationLoudnessLogging",
          "locationName": "loudnessLogging"
        },
        "PeakCalculation": {
          "shape": "AudioNormalizationPeakCalculation",
          "locationName": "peakCalculation"
        },
        "TargetLkfs": {
          "shape": "__doubleMinNegative59Max0",
          "locationName": "targetLkfs"
        }
      }
    },
    "AudioSelector": {
      "type": "structure",
      "members": {
        "CustomLanguageCode": {
          "shape": "__stringMin3Max3PatternAZaZ3",
          "locationName": "customLanguageCode"
        },
        "DefaultSelection": {
          "shape": "AudioDefaultSelection",
          "locationName": "defaultSelection"
        },
        "ExternalAudioFileInput": {
          "shape": "__stringPatternS3MM2PPWWEEBBMMMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMKKAAMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEHttpsMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMKKAAMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEE",
          "locationName": "externalAudioFileInput"
        },
        "LanguageCode": {
          "shape": "LanguageCode",
          "locationName": "languageCode"
        },
        "Offset": {
          "shape": "__integerMinNegative2147483648Max2147483647",
          "locationName": "offset"
        },
        "Pids": {
          "shape": "__listOf__integerMin1Max2147483647",
          "locationName": "pids"
        },
        "ProgramSelection": {
          "shape": "__integerMin0Max8",
          "locationName": "programSelection"
        },
        "RemixSettings": {
          "shape": "RemixSettings",
          "locationName": "remixSettings"
        },
        "SelectorType": {
          "shape": "AudioSelectorType",
          "locationName": "selectorType"
        },
        "Tracks": {
          "shape": "__listOf__integerMin1Max2147483647",
          "locationName": "tracks"
        }
      }
    },
    "AudioSelectorGroup": {
      "type": "structure",
      "members": {
        "AudioSelectorNames": {
          "shape": "__listOf__stringMin1",
          "locationName": "audioSelectorNames"
        }
      }
    },
    "AudioSelectorType": {
      "type": "string",
      "enum": [
        "PID",
        "TRACK",
        "LANGUAGE_CODE"
      ]
    },
    "AudioTypeControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "Av1AdaptiveQuantization": {
      "type": "string",
      "enum": [
        "OFF",
        "LOW",
        "MEDIUM",
        "HIGH",
        "HIGHER",
        "MAX"
      ]
    },
    "Av1FramerateControl": {
      "type": "string",
      "enum": [
        "INITIALIZE_FROM_SOURCE",
        "SPECIFIED"
      ]
    },
    "Av1FramerateConversionAlgorithm": {
      "type": "string",
      "enum": [
        "DUPLICATE_DROP",
        "INTERPOLATE",
        "FRAMEFORMER"
      ]
    },
    "Av1QvbrSettings": {
      "type": "structure",
      "members": {
        "QvbrQualityLevel": {
          "shape": "__integerMin1Max10",
          "locationName": "qvbrQualityLevel"
        },
        "QvbrQualityLevelFineTune": {
          "shape": "__doubleMin0Max1",
          "locationName": "qvbrQualityLevelFineTune"
        }
      }
    },
    "Av1RateControlMode": {
      "type": "string",
      "enum": [
        "QVBR"
      ]
    },
    "Av1Settings": {
      "type": "structure",
      "members": {
        "AdaptiveQuantization": {
          "shape": "Av1AdaptiveQuantization",
          "locationName": "adaptiveQuantization"
        },
        "FramerateControl": {
          "shape": "Av1FramerateControl",
          "locationName": "framerateControl"
        },
        "FramerateConversionAlgorithm": {
          "shape": "Av1FramerateConversionAlgorithm",
          "locationName": "framerateConversionAlgorithm"
        },
        "FramerateDenominator": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "framerateDenominator"
        },
        "FramerateNumerator": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "framerateNumerator"
        },
        "GopSize": {
          "shape": "__doubleMin0",
          "locationName": "gopSize"
        },
        "MaxBitrate": {
          "shape": "__integerMin1000Max1152000000",
          "locationName": "maxBitrate"
        },
        "NumberBFramesBetweenReferenceFrames": {
          "shape": "__integerMin7Max15",
          "locationName": "numberBFramesBetweenReferenceFrames"
        },
        "QvbrSettings": {
          "shape": "Av1QvbrSettings",
          "locationName": "qvbrSettings"
        },
        "RateControlMode": {
          "shape": "Av1RateControlMode",
          "locationName": "rateControlMode"
        },
        "Slices": {
          "shape": "__integerMin1Max32",
          "locationName": "slices"
        },
        "SpatialAdaptiveQuantization": {
          "shape": "Av1SpatialAdaptiveQuantization",
          "locationName": "spatialAdaptiveQuantization"
        }
      }
    },
    "Av1SpatialAdaptiveQuantization": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "shape": "__stringMin14PatternS3BmpBMPPngPNGHttpsBmpBMPPngPNG",
          "locationName": "availBlankingImage"
        }
      }
    },
    "AvcIntraClass": {
      "type": "string",
      "enum": [
        "CLASS_50",
        "CLASS_100",
        "CLASS_200"
      ]
    },
    "AvcIntraFramerateControl": {
      "type": "string",
      "enum": [
        "INITIALIZE_FROM_SOURCE",
        "SPECIFIED"
      ]
    },
    "AvcIntraFramerateConversionAlgorithm": {
      "type": "string",
      "enum": [
        "DUPLICATE_DROP",
        "INTERPOLATE",
        "FRAMEFORMER"
      ]
    },
    "AvcIntraInterlaceMode": {
      "type": "string",
      "enum": [
        "PROGRESSIVE",
        "TOP_FIELD",
        "BOTTOM_FIELD",
        "FOLLOW_TOP_FIELD",
        "FOLLOW_BOTTOM_FIELD"
      ]
    },
    "AvcIntraSettings": {
      "type": "structure",
      "members": {
        "AvcIntraClass": {
          "shape": "AvcIntraClass",
          "locationName": "avcIntraClass"
        },
        "FramerateControl": {
          "shape": "AvcIntraFramerateControl",
          "locationName": "framerateControl"
        },
        "FramerateConversionAlgorithm": {
          "shape": "AvcIntraFramerateConversionAlgorithm",
          "locationName": "framerateConversionAlgorithm"
        },
        "FramerateDenominator": {
          "shape": "__integerMin1Max1001",
          "locationName": "framerateDenominator"
        },
        "FramerateNumerator": {
          "shape": "__integerMin24Max60000",
          "locationName": "framerateNumerator"
        },
        "InterlaceMode": {
          "shape": "AvcIntraInterlaceMode",
          "locationName": "interlaceMode"
        },
        "SlowPal": {
          "shape": "AvcIntraSlowPal",
          "locationName": "slowPal"
        },
        "Telecine": {
          "shape": "AvcIntraTelecine",
          "locationName": "telecine"
        }
      }
    },
    "AvcIntraSlowPal": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "AvcIntraTelecine": {
      "type": "string",
      "enum": [
        "NONE",
        "HARD"
      ]
    },
    "BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 400
      }
    },
    "BillingTagsSource": {
      "type": "string",
      "enum": [
        "QUEUE",
        "PRESET",
        "JOB_TEMPLATE",
        "JOB"
      ]
    },
    "BurninDestinationSettings": {
      "type": "structure",
      "members": {
        "Alignment": {
          "shape": "BurninSubtitleAlignment",
          "locationName": "alignment"
        },
        "BackgroundColor": {
          "shape": "BurninSubtitleBackgroundColor",
          "locationName": "backgroundColor"
        },
        "BackgroundOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "backgroundOpacity"
        },
        "FontColor": {
          "shape": "BurninSubtitleFontColor",
          "locationName": "fontColor"
        },
        "FontOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "fontOpacity"
        },
        "FontResolution": {
          "shape": "__integerMin96Max600",
          "locationName": "fontResolution"
        },
        "FontScript": {
          "shape": "FontScript",
          "locationName": "fontScript"
        },
        "FontSize": {
          "shape": "__integerMin0Max96",
          "locationName": "fontSize"
        },
        "OutlineColor": {
          "shape": "BurninSubtitleOutlineColor",
          "locationName": "outlineColor"
        },
        "OutlineSize": {
          "shape": "__integerMin0Max10",
          "locationName": "outlineSize"
        },
        "ShadowColor": {
          "shape": "BurninSubtitleShadowColor",
          "locationName": "shadowColor"
        },
        "ShadowOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "shadowOpacity"
        },
        "ShadowXOffset": {
          "shape": "__integerMinNegative2147483648Max2147483647",
          "locationName": "shadowXOffset"
        },
        "ShadowYOffset": {
          "shape": "__integerMinNegative2147483648Max2147483647",
          "locationName": "shadowYOffset"
        },
        "TeletextSpacing": {
          "shape": "BurninSubtitleTeletextSpacing",
          "locationName": "teletextSpacing"
        },
        "XPosition": {
          "shape": "__integerMin0Max2147483647",
          "locationName": "xPosition"
        },
        "YPosition": {
          "shape": "__integerMin0Max2147483647",
          "locationName": "yPosition"
        }
      }
    },
    "BurninSubtitleAlignment": {
      "type": "string",
      "enum": [
        "CENTERED",
        "LEFT"
      ]
    },
    "BurninSubtitleBackgroundColor": {
      "type": "string",
      "enum": [
        "NONE",
        "BLACK",
        "WHITE"
      ]
    },
    "BurninSubtitleFontColor": {
      "type": "string",
      "enum": [
        "WHITE",
        "BLACK",
        "YELLOW",
        "RED",
        "GREEN",
        "BLUE"
      ]
    },
    "BurninSubtitleOutlineColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "WHITE",
        "YELLOW",
        "RED",
        "GREEN",
        "BLUE"
      ]
    },
    "BurninSubtitleShadowColor": {
      "type": "string",
      "enum": [
        "NONE",
        "BLACK",
        "WHITE"
      ]
    },
    "BurninSubtitleTeletextSpacing": {
      "type": "string",
      "enum": [
        "FIXED_GRID",
        "PROPORTIONAL"
      ]
    },
    "CancelJobRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "__string",
          "locationName": "id",
          "location": "uri"
        }
      },
      "required": [
        "Id"
      ]
    },
    "CancelJobResponse": {
      "type": "structure",
      "members": {
      }
    },
    "CaptionDescription": {
      "type": "structure",
      "members": {
        "CaptionSelectorName": {
          "shape": "__stringMin1",
          "locationName": "captionSelectorName"
        },
        "CustomLanguageCode": {
          "shape": "__stringPatternAZaZ23AZaZ",
          "locationName": "customLanguageCode"
        },
        "DestinationSettings": {
          "shape": "CaptionDestinationSettings",
          "locationName": "destinationSettings"
        },
        "LanguageCode": {
          "shape": "LanguageCode",
          "locationName": "languageCode"
        },
        "LanguageDescription": {
          "shape": "__string",
          "locationName": "languageDescription"
        }
      }
    },
    "CaptionDescriptionPreset": {
      "type": "structure",
      "members": {
        "CustomLanguageCode": {
          "shape": "__stringPatternAZaZ23AZaZ",
          "locationName": "customLanguageCode"
        },
        "DestinationSettings": {
          "shape": "CaptionDestinationSettings",
          "locationName": "destinationSettings"
        },
        "LanguageCode": {
          "shape": "LanguageCode",
          "locationName": "languageCode"
        },
        "LanguageDescription": {
          "shape": "__string",
          "locationName": "languageDescription"
        }
      }
    },
    "CaptionDestinationSettings": {
      "type": "structure",
      "members": {
        "BurninDestinationSettings": {
          "shape": "BurninDestinationSettings",
          "locationName": "burninDestinationSettings"
        },
        "DestinationType": {
          "shape": "CaptionDestinationType",
          "locationName": "destinationType"
        },
        "DvbSubDestinationSettings": {
          "shape": "DvbSubDestinationSettings",
          "locationName": "dvbSubDestinationSettings"
        },
        "EmbeddedDestinationSettings": {
          "shape": "EmbeddedDestinationSettings",
          "locationName": "embeddedDestinationSettings"
        },
        "ImscDestinationSettings": {
          "shape": "ImscDestinationSettings",
          "locationName": "imscDestinationSettings"
        },
        "SccDestinationSettings": {
          "shape": "SccDestinationSettings",
          "locationName": "sccDestinationSettings"
        },
        "TeletextDestinationSettings": {
          "shape": "TeletextDestinationSettings",
          "locationName": "teletextDestinationSettings"
        },
        "TtmlDestinationSettings": {
          "shape": "TtmlDestinationSettings",
          "locationName": "ttmlDestinationSettings"
        }
      }
    },
    "CaptionDestinationType": {
      "type": "string",
      "enum": [
        "BURN_IN",
        "DVB_SUB",
        "EMBEDDED",
        "EMBEDDED_PLUS_SCTE20",
        "IMSC",
        "SCTE20_PLUS_EMBEDDED",
        "SCC",
        "SRT",
        "SMI",
        "TELETEXT",
        "TTML",
        "WEBVTT"
      ]
    },
    "CaptionSelector": {
      "type": "structure",
      "members": {
        "CustomLanguageCode": {
          "shape": "__stringMin3Max3PatternAZaZ3",
          "locationName": "customLanguageCode"
        },
        "LanguageCode": {
          "shape": "LanguageCode",
          "locationName": "languageCode"
        },
        "SourceSettings": {
          "shape": "CaptionSourceSettings",
          "locationName": "sourceSettings"
        }
      }
    },
    "CaptionSourceFramerate": {
      "type": "structure",
      "members": {
        "FramerateDenominator": {
          "shape": "__integerMin1Max1001",
          "locationName": "framerateDenominator"
        },
        "FramerateNumerator": {
          "shape": "__integerMin1Max60000",
          "locationName": "framerateNumerator"
        }
      }
    },
    "CaptionSourceSettings": {
      "type": "structure",
      "members": {
        "AncillarySourceSettings": {
          "shape": "AncillarySourceSettings",
          "locationName": "ancillarySourceSettings"
        },
        "DvbSubSourceSettings": {
          "shape": "DvbSubSourceSettings",
          "locationName": "dvbSubSourceSettings"
        },
        "EmbeddedSourceSettings": {
          "shape": "EmbeddedSourceSettings",
          "locationName": "embeddedSourceSettings"
        },
        "FileSourceSettings": {
          "shape": "FileSourceSettings",
          "locationName": "fileSourceSettings"
        },
        "SourceType": {
          "shape": "CaptionSourceType",
          "locationName": "sourceType"
        },
        "TeletextSourceSettings": {
          "shape": "TeletextSourceSettings",
          "locationName": "teletextSourceSettings"
        },
        "TrackSourceSettings": {
          "shape": "TrackSourceSettings",
          "locationName": "trackSourceSettings"
        }
      }
    },
    "CaptionSourceType": {
      "type": "string",
      "enum": [
        "ANCILLARY",
        "DVB_SUB",
        "EMBEDDED",
        "SCTE20",
        "SCC",
        "TTML",
        "STL",
        "SRT",
        "SMI",
        "TELETEXT",
        "NULL_SOURCE",
        "IMSC"
      ]
    },
    "ChannelMapping": {
      "type": "structure",
      "members": {
        "OutputChannels": {
          "shape": "__listOfOutputChannelMapping",
          "locationName": "outputChannels"
        }
      }
    },
    "CmafAdditionalManifest": {
      "type": "structure",
      "members": {
        "ManifestNameModifier": {
          "shape": "__stringMin1",
          "locationName": "manifestNameModifier"
        },
        "SelectedOutputs": {
          "shape": "__listOf__stringMin1",
          "locationName": "selectedOutputs"
        }
      }
    },
    "CmafClientCache": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "CmafCodecSpecification": {
      "type": "string",
      "enum": [
        "RFC_6381",
        "RFC_4281"
      ]
    },
    "CmafEncryptionSettings": {
      "type": "structure",
      "members": {
        "ConstantInitializationVector": {
          "shape": "__stringMin32Max32Pattern09aFAF32",
          "locationName": "constantInitializationVector"
        },
        "EncryptionMethod": {
          "shape": "CmafEncryptionType",
          "locationName": "encryptionMethod"
        },
        "InitializationVectorInManifest": {
          "shape": "CmafInitializationVectorInManifest",
          "locationName": "initializationVectorInManifest"
        },
        "SpekeKeyProvider": {
          "shape": "SpekeKeyProviderCmaf",
          "locationName": "spekeKeyProvider"
        },
        "StaticKeyProvider": {
          "shape": "StaticKeyProvider",
          "locationName": "staticKeyProvider"
        },
        "Type": {
          "shape": "CmafKeyProviderType",
          "locationName": "type"
        }
      }
    },
    "CmafEncryptionType": {
      "type": "string",
      "enum": [
        "SAMPLE_AES",
        "AES_CTR"
      ]
    },
    "CmafGroupSettings": {
      "type": "structure",
      "members": {
        "AdditionalManifests": {
          "shape": "__listOfCmafAdditionalManifest",
          "locationName": "additionalManifests"
        },
        "BaseUrl": {
          "shape": "__string",
          "locationName": "baseUrl"
        },
        "ClientCache": {
          "shape": "CmafClientCache",
          "locationName": "clientCache"
        },
        "CodecSpecification": {
          "shape": "CmafCodecSpecification",
          "locationName": "codecSpecification"
        },
        "Destination": {
          "shape": "__stringPatternS3",
          "locationName": "destination"
        },
        "DestinationSettings": {
          "shape": "DestinationSettings",
          "locationName": "destinationSettings"
        },
        "Encryption": {
          "shape": "CmafEncryptionSettings",
          "locationName": "encryption"
        },
        "FragmentLength": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "fragmentLength"
        },
        "ManifestCompression": {
          "shape": "CmafManifestCompression",
          "locationName": "manifestCompression"
        },
        "ManifestDurationFormat": {
          "shape": "CmafManifestDurationFormat",
          "locationName": "manifestDurationFormat"
        },
        "MinBufferTime": {
          "shape": "__integerMin0Max2147483647",
          "locationName": "minBufferTime"
        },
        "MinFinalSegmentLength": {
          "shape": "__doubleMin0Max2147483647",
          "locationName": "minFinalSegmentLength"
        },
        "MpdProfile": {
          "shape": "CmafMpdProfile",
          "locationName": "mpdProfile"
        },
        "SegmentControl": {
          "shape": "CmafSegmentControl",
          "locationName": "segmentControl"
        },
        "SegmentLength": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "segmentLength"
        },
        "StreamInfResolution": {
          "shape": "CmafStreamInfResolution",
          "locationName": "streamInfResolution"
        },
        "WriteDashManifest": {
          "shape": "CmafWriteDASHManifest",
          "locationName": "writeDashManifest"
        },
        "WriteHlsManifest": {
          "shape": "CmafWriteHLSManifest",
          "locationName": "writeHlsManifest"
        },
        "WriteSegmentTimelineInRepresentation": {
          "shape": "CmafWriteSegmentTimelineInRepresentation",
          "locationName": "writeSegmentTimelineInRepresentation"
        }
      }
    },
    "CmafInitializationVectorInManifest": {
      "type": "string",
      "enum": [
        "INCLUDE",
        "EXCLUDE"
      ]
    },
    "CmafKeyProviderType": {
      "type": "string",
      "enum": [
        "SPEKE",
        "STATIC_KEY"
      ]
    },
    "CmafManifestCompression": {
      "type": "string",
      "enum": [
        "GZIP",
        "NONE"
      ]
    },
    "CmafManifestDurationFormat": {
      "type": "string",
      "enum": [
        "FLOATING_POINT",
        "INTEGER"
      ]
    },
    "CmafMpdProfile": {
      "type": "string",
      "enum": [
        "MAIN_PROFILE",
        "ON_DEMAND_PROFILE"
      ]
    },
    "CmafSegmentControl": {
      "type": "string",
      "enum": [
        "SINGLE_FILE",
        "SEGMENTED_FILES"
      ]
    },
    "CmafStreamInfResolution": {
      "type": "string",
      "enum": [
        "INCLUDE",
        "EXCLUDE"
      ]
    },
    "CmafWriteDASHManifest": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "CmafWriteHLSManifest": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "CmafWriteSegmentTimelineInRepresentation": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "CmfcScte35Esam": {
      "type": "string",
      "enum": [
        "INSERT",
        "NONE"
      ]
    },
    "CmfcScte35Source": {
      "type": "string",
      "enum": [
        "PASSTHROUGH",
        "NONE"
      ]
    },
    "CmfcSettings": {
      "type": "structure",
      "members": {
        "Scte35Esam": {
          "shape": "CmfcScte35Esam",
          "locationName": "scte35Esam"
        },
        "Scte35Source": {
          "shape": "CmfcScte35Source",
          "locationName": "scte35Source"
        }
      }
    },
    "ColorCorrector": {
      "type": "structure",
      "members": {
        "Brightness": {
          "shape": "__integerMin1Max100",
          "locationName": "brightness"
        },
        "ColorSpaceConversion": {
          "shape": "ColorSpaceConversion",
          "locationName": "colorSpaceConversion"
        },
        "Contrast": {
          "shape": "__integerMin1Max100",
          "locationName": "contrast"
        },
        "Hdr10Metadata": {
          "shape": "Hdr10Metadata",
          "locationName": "hdr10Metadata"
        },
        "Hue": {
          "shape": "__integerMinNegative180Max180",
          "locationName": "hue"
        },
        "Saturation": {
          "shape": "__integerMin1Max100",
          "locationName": "saturation"
        }
      }
    },
    "ColorMetadata": {
      "type": "string",
      "enum": [
        "IGNORE",
        "INSERT"
      ]
    },
    "ColorSpace": {
      "type": "string",
      "enum": [
        "FOLLOW",
        "REC_601",
        "REC_709",
        "HDR10",
        "HLG_2020"
      ]
    },
    "ColorSpaceConversion": {
      "type": "string",
      "enum": [
        "NONE",
        "FORCE_601",
        "FORCE_709",
        "FORCE_HDR10",
        "FORCE_HLG_2020"
      ]
    },
    "ColorSpaceUsage": {
      "type": "string",
      "enum": [
        "FORCE",
        "FALLBACK"
      ]
    },
    "Commitment": {
      "type": "string",
      "enum": [
        "ONE_YEAR"
      ]
    },
    "ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 409
      }
    },
    "ContainerSettings": {
      "type": "structure",
      "members": {
        "CmfcSettings": {
          "shape": "CmfcSettings",
          "locationName": "cmfcSettings"
        },
        "Container": {
          "shape": "ContainerType",
          "locationName": "container"
        },
        "F4vSettings": {
          "shape": "F4vSettings",
          "locationName": "f4vSettings"
        },
        "M2tsSettings": {
          "shape": "M2tsSettings",
          "locationName": "m2tsSettings"
        },
        "M3u8Settings": {
          "shape": "M3u8Settings",
          "locationName": "m3u8Settings"
        },
        "MovSettings": {
          "shape": "MovSettings",
          "locationName": "movSettings"
        },
        "Mp4Settings": {
          "shape": "Mp4Settings",
          "locationName": "mp4Settings"
        },
        "MpdSettings": {
          "shape": "MpdSettings",
          "locationName": "mpdSettings"
        },
        "MxfSettings": {
          "shape": "MxfSettings",
          "locationName": "mxfSettings"
        }
      }
    },
    "ContainerType": {
      "type": "string",
      "enum": [
        "F4V",
        "ISMV",
        "M2TS",
        "M3U8",
        "CMFC",
        "MOV",
        "MP4",
        "MPD",
        "MXF",
        "WEBM",
        "RAW"
      ]
    },
    "CreateJobRequest": {
      "type": "structure",
      "members": {
        "AccelerationSettings": {
          "shape": "AccelerationSettings",
          "locationName": "accelerationSettings"
        },
        "BillingTagsSource": {
          "shape": "BillingTagsSource",
          "locationName": "billingTagsSource"
        },
        "ClientRequestToken": {
          "shape": "__string",
          "locationName": "clientRequestToken",
          "idempotencyToken": true
        },
        "HopDestinations": {
          "shape": "__listOfHopDestination",
          "locationName": "hopDestinations"
        },
        "JobTemplate": {
          "shape": "__string",
          "locationName": "jobTemplate"
        },
        "Priority": {
          "shape": "__integerMinNegative50Max50",
          "locationName": "priority"
        },
        "Queue": {
          "shape": "__string",
          "locationName": "queue"
        },
        "Role": {
          "shape": "__string",
          "locationName": "role"
        },
        "Settings": {
          "shape": "JobSettings",
          "locationName": "settings"
        },
        "SimulateReservedQueue": {
          "shape": "SimulateReservedQueue",
          "locationName": "simulateReservedQueue"
        },
        "StatusUpdateInterval": {
          "shape": "StatusUpdateInterval",
          "locationName": "statusUpdateInterval"
        },
        "Tags": {
          "shape": "__mapOf__string",
          "locationName": "tags"
        },
        "UserMetadata": {
          "shape": "__mapOf__string",
          "locationName": "userMetadata"
        }
      },
      "required": [
        "Role",
        "Settings"
      ]
    },
    "CreateJobResponse": {
      "type": "structure",
      "members": {
        "Job": {
          "shape": "Job",
          "locationName": "job"
        }
      }
    },
    "CreateJobTemplateRequest": {
      "type": "structure",
      "members": {
        "AccelerationSettings": {
          "shape": "AccelerationSettings",
          "locationName": "accelerationSettings"
        },
        "Category": {
          "shape": "__string",
          "locationName": "category"
        },
        "Description": {
          "shape": "__string",
          "locationName": "description"
        },
        "HopDestinations": {
          "shape": "__listOfHopDestination",
          "locationName": "hopDestinations"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "Priority": {
          "shape": "__integerMinNegative50Max50",
          "locationName": "priority"
        },
        "Queue": {
          "shape": "__string",
          "locationName": "queue"
        },
        "Settings": {
          "shape": "JobTemplateSettings",
          "locationName": "settings"
        },
        "StatusUpdateInterval": {
          "shape": "StatusUpdateInterval",
          "locationName": "statusUpdateInterval"
        },
        "Tags": {
          "shape": "__mapOf__string",
          "locationName": "tags"
        }
      },
      "required": [
        "Settings",
        "Name"
      ]
    },
    "CreateJobTemplateResponse": {
      "type": "structure",
      "members": {
        "JobTemplate": {
          "shape": "JobTemplate",
          "locationName": "jobTemplate"
        }
      }
    },
    "CreatePresetRequest": {
      "type": "structure",
      "members": {
        "Category": {
          "shape": "__string",
          "locationName": "category"
        },
        "Description": {
          "shape": "__string",
          "locationName": "description"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "Settings": {
          "shape": "PresetSettings",
          "locationName": "settings"
        },
        "Tags": {
          "shape": "__mapOf__string",
          "locationName": "tags"
        }
      },
      "required": [
        "Settings",
        "Name"
      ]
    },
    "CreatePresetResponse": {
      "type": "structure",
      "members": {
        "Preset": {
          "shape": "Preset",
          "locationName": "preset"
        }
      }
    },
    "CreateQueueRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "__string",
          "locationName": "description"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "PricingPlan": {
          "shape": "PricingPlan",
          "locationName": "pricingPlan"
        },
        "ReservationPlanSettings": {
          "shape": "ReservationPlanSettings",
          "locationName": "reservationPlanSettings"
        },
        "Status": {
          "shape": "QueueStatus",
          "locationName": "status"
        },
        "Tags": {
          "shape": "__mapOf__string",
          "locationName": "tags"
        }
      },
      "required": [
        "Name"
      ]
    },
    "CreateQueueResponse": {
      "type": "structure",
      "members": {
        "Queue": {
          "shape": "Queue",
          "locationName": "queue"
        }
      }
    },
    "DashAdditionalManifest": {
      "type": "structure",
      "members": {
        "ManifestNameModifier": {
          "shape": "__stringMin1",
          "locationName": "manifestNameModifier"
        },
        "SelectedOutputs": {
          "shape": "__listOf__stringMin1",
          "locationName": "selectedOutputs"
        }
      }
    },
    "DashIsoEncryptionSettings": {
      "type": "structure",
      "members": {
        "PlaybackDeviceCompatibility": {
          "shape": "DashIsoPlaybackDeviceCompatibility",
          "locationName": "playbackDeviceCompatibility"
        },
        "SpekeKeyProvider": {
          "shape": "SpekeKeyProvider",
          "locationName": "spekeKeyProvider"
        }
      }
    },
    "DashIsoGroupSettings": {
      "type": "structure",
      "members": {
        "AdditionalManifests": {
          "shape": "__listOfDashAdditionalManifest",
          "locationName": "additionalManifests"
        },
        "BaseUrl": {
          "shape": "__string",
          "locationName": "baseUrl"
        },
        "Destination": {
          "shape": "__stringPatternS3",
          "locationName": "destination"
        },
        "DestinationSettings": {
          "shape": "DestinationSettings",
          "locationName": "destinationSettings"
        },
        "Encryption": {
          "shape": "DashIsoEncryptionSettings",
          "locationName": "encryption"
        },
        "FragmentLength": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "fragmentLength"
        },
        "HbbtvCompliance": {
          "shape": "DashIsoHbbtvCompliance",
          "locationName": "hbbtvCompliance"
        },
        "MinBufferTime": {
          "shape": "__integerMin0Max2147483647",
          "locationName": "minBufferTime"
        },
        "MpdProfile": {
          "shape": "DashIsoMpdProfile",
          "locationName": "mpdProfile"
        },
        "SegmentControl": {
          "shape": "DashIsoSegmentControl",
          "locationName": "segmentControl"
        },
        "SegmentLength": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "segmentLength"
        },
        "WriteSegmentTimelineInRepresentation": {
          "shape": "DashIsoWriteSegmentTimelineInRepresentation",
          "locationName": "writeSegmentTimelineInRepresentation"
        }
      }
    },
    "DashIsoHbbtvCompliance": {
      "type": "string",
      "enum": [
        "HBBTV_1_5",
        "NONE"
      ]
    },
    "DashIsoMpdProfile": {
      "type": "string",
      "enum": [
        "MAIN_PROFILE",
        "ON_DEMAND_PROFILE"
      ]
    },
    "DashIsoPlaybackDeviceCompatibility": {
      "type": "string",
      "enum": [
        "CENC_V1",
        "UNENCRYPTED_SEI"
      ]
    },
    "DashIsoSegmentControl": {
      "type": "string",
      "enum": [
        "SINGLE_FILE",
        "SEGMENTED_FILES"
      ]
    },
    "DashIsoWriteSegmentTimelineInRepresentation": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "DecryptionMode": {
      "type": "string",
      "enum": [
        "AES_CTR",
        "AES_CBC",
        "AES_GCM"
      ]
    },
    "DeinterlaceAlgorithm": {
      "type": "string",
      "enum": [
        "INTERPOLATE",
        "INTERPOLATE_TICKER",
        "BLEND",
        "BLEND_TICKER"
      ]
    },
    "Deinterlacer": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "shape": "DeinterlaceAlgorithm",
          "locationName": "algorithm"
        },
        "Control": {
          "shape": "DeinterlacerControl",
          "locationName": "control"
        },
        "Mode": {
          "shape": "DeinterlacerMode",
          "locationName": "mode"
        }
      }
    },
    "DeinterlacerControl": {
      "type": "string",
      "enum": [
        "FORCE_ALL_FRAMES",
        "NORMAL"
      ]
    },
    "DeinterlacerMode": {
      "type": "string",
      "enum": [
        "DEINTERLACE",
        "INVERSE_TELECINE",
        "ADAPTIVE"
      ]
    },
    "DeleteJobTemplateRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "location": "uri"
        }
      },
      "required": [
        "Name"
      ]
    },
    "DeleteJobTemplateResponse": {
      "type": "structure",
      "members": {
      }
    },
    "DeletePresetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "location": "uri"
        }
      },
      "required": [
        "Name"
      ]
    },
    "DeletePresetResponse": {
      "type": "structure",
      "members": {
      }
    },
    "DeleteQueueRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "location": "uri"
        }
      },
      "required": [
        "Name"
      ]
    },
    "DeleteQueueResponse": {
      "type": "structure",
      "members": {
      }
    },
    "DescribeEndpointsMode": {
      "type": "string",
      "enum": [
        "DEFAULT",
        "GET_ONLY"
      ]
    },
    "DescribeEndpointsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "shape": "__integer",
          "locationName": "maxResults"
        },
        "Mode": {
          "shape": "DescribeEndpointsMode",
          "locationName": "mode"
        },
        "NextToken": {
          "shape": "__string",
          "locationName": "nextToken"
        }
      }
    },
    "DescribeEndpointsResponse": {
      "type": "structure",
      "members": {
        "Endpoints": {
          "shape": "__listOfEndpoint",
          "locationName": "endpoints"
        },
        "NextToken": {
          "shape": "__string",
          "locationName": "nextToken"
        }
      }
    },
    "DestinationSettings": {
      "type": "structure",
      "members": {
        "S3Settings": {
          "shape": "S3DestinationSettings",
          "locationName": "s3Settings"
        }
      }
    },
    "DisassociateCertificateRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn",
          "location": "uri"
        }
      },
      "required": [
        "Arn"
      ]
    },
    "DisassociateCertificateResponse": {
      "type": "structure",
      "members": {
      }
    },
    "DolbyVision": {
      "type": "structure",
      "members": {
        "L6Metadata": {
          "shape": "DolbyVisionLevel6Metadata",
          "locationName": "l6Metadata"
        },
        "L6Mode": {
          "shape": "DolbyVisionLevel6Mode",
          "locationName": "l6Mode"
        },
        "Profile": {
          "shape": "DolbyVisionProfile",
          "locationName": "profile"
        }
      }
    },
    "DolbyVisionLevel6Metadata": {
      "type": "structure",
      "members": {
        "MaxCll": {
          "shape": "__integerMin0Max65535",
          "locationName": "maxCll"
        },
        "MaxFall": {
          "shape": "__integerMin0Max65535",
          "locationName": "maxFall"
        }
      }
    },
    "DolbyVisionLevel6Mode": {
      "type": "string",
      "enum": [
        "PASSTHROUGH",
        "RECALCULATE",
        "SPECIFY"
      ]
    },
    "DolbyVisionProfile": {
      "type": "string",
      "enum": [
        "PROFILE_5"
      ]
    },
    "DropFrameTimecode": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "DvbNitSettings": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "shape": "__integerMin0Max65535",
          "locationName": "networkId"
        },
        "NetworkName": {
          "shape": "__stringMin1Max256",
          "locationName": "networkName"
        },
        "NitInterval": {
          "shape": "__integerMin25Max10000",
          "locationName": "nitInterval"
        }
      }
    },
    "DvbSdtSettings": {
      "type": "structure",
      "members": {
        "OutputSdt": {
          "shape": "OutputSdt",
          "locationName": "outputSdt"
        },
        "SdtInterval": {
          "shape": "__integerMin25Max2000",
          "locationName": "sdtInterval"
        },
        "ServiceName": {
          "shape": "__stringMin1Max256",
          "locationName": "serviceName"
        },
        "ServiceProviderName": {
          "shape": "__stringMin1Max256",
          "locationName": "serviceProviderName"
        }
      }
    },
    "DvbSubDestinationSettings": {
      "type": "structure",
      "members": {
        "Alignment": {
          "shape": "DvbSubtitleAlignment",
          "locationName": "alignment"
        },
        "BackgroundColor": {
          "shape": "DvbSubtitleBackgroundColor",
          "locationName": "backgroundColor"
        },
        "BackgroundOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "backgroundOpacity"
        },
        "FontColor": {
          "shape": "DvbSubtitleFontColor",
          "locationName": "fontColor"
        },
        "FontOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "fontOpacity"
        },
        "FontResolution": {
          "shape": "__integerMin96Max600",
          "locationName": "fontResolution"
        },
        "FontScript": {
          "shape": "FontScript",
          "locationName": "fontScript"
        },
        "FontSize": {
          "shape": "__integerMin0Max96",
          "locationName": "fontSize"
        },
        "OutlineColor": {
          "shape": "DvbSubtitleOutlineColor",
          "locationName": "outlineColor"
        },
        "OutlineSize": {
          "shape": "__integerMin0Max10",
          "locationName": "outlineSize"
        },
        "ShadowColor": {
          "shape": "DvbSubtitleShadowColor",
          "locationName": "shadowColor"
        },
        "ShadowOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "shadowOpacity"
        },
        "ShadowXOffset": {
          "shape": "__integerMinNegative2147483648Max2147483647",
          "locationName": "shadowXOffset"
        },
        "ShadowYOffset": {
          "shape": "__integerMinNegative2147483648Max2147483647",
          "locationName": "shadowYOffset"
        },
        "SubtitlingType": {
          "shape": "DvbSubtitlingType",
          "locationName": "subtitlingType"
        },
        "TeletextSpacing": {
          "shape": "DvbSubtitleTeletextSpacing",
          "locationName": "teletextSpacing"
        },
        "XPosition": {
          "shape": "__integerMin0Max2147483647",
          "locationName": "xPosition"
        },
        "YPosition": {
          "shape": "__integerMin0Max2147483647",
          "locationName": "yPosition"
        }
      }
    },
    "DvbSubSourceSettings": {
      "type": "structure",
      "members": {
        "Pid": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "pid"
        }
      }
    },
    "DvbSubtitleAlignment": {
      "type": "string",
      "enum": [
        "CENTERED",
        "LEFT"
      ]
    },
    "DvbSubtitleBackgroundColor": {
      "type": "string",
      "enum": [
        "NONE",
        "BLACK",
        "WHITE"
      ]
    },
    "DvbSubtitleFontColor": {
      "type": "string",
      "enum": [
        "WHITE",
        "BLACK",
        "YELLOW",
        "RED",
        "GREEN",
        "BLUE"
      ]
    },
    "DvbSubtitleOutlineColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "WHITE",
        "YELLOW",
        "RED",
        "GREEN",
        "BLUE"
      ]
    },
    "DvbSubtitleShadowColor": {
      "type": "string",
      "enum": [
        "NONE",
        "BLACK",
        "WHITE"
      ]
    },
    "DvbSubtitleTeletextSpacing": {
      "type": "string",
      "enum": [
        "FIXED_GRID",
        "PROPORTIONAL"
      ]
    },
    "DvbSubtitlingType": {
      "type": "string",
      "enum": [
        "HEARING_IMPAIRED",
        "STANDARD"
      ]
    },
    "DvbTdtSettings": {
      "type": "structure",
      "members": {
        "TdtInterval": {
          "shape": "__integerMin1000Max30000",
          "locationName": "tdtInterval"
        }
      }
    },
    "Eac3AtmosBitstreamMode": {
      "type": "string",
      "enum": [
        "COMPLETE_MAIN"
      ]
    },
    "Eac3AtmosCodingMode": {
      "type": "string",
      "enum": [
        "CODING_MODE_9_1_6"
      ]
    },
    "Eac3AtmosDialogueIntelligence": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "Eac3AtmosDynamicRangeCompressionLine": {
      "type": "string",
      "enum": [
        "NONE",
        "FILM_STANDARD",
        "FILM_LIGHT",
        "MUSIC_STANDARD",
        "MUSIC_LIGHT",
        "SPEECH"
      ]
    },
    "Eac3AtmosDynamicRangeCompressionRf": {
      "type": "string",
      "enum": [
        "NONE",
        "FILM_STANDARD",
        "FILM_LIGHT",
        "MUSIC_STANDARD",
        "MUSIC_LIGHT",
        "SPEECH"
      ]
    },
    "Eac3AtmosMeteringMode": {
      "type": "string",
      "enum": [
        "LEQ_A",
        "ITU_BS_1770_1",
        "ITU_BS_1770_2",
        "ITU_BS_1770_3",
        "ITU_BS_1770_4"
      ]
    },
    "Eac3AtmosSettings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__integerMin384000Max768000",
          "locationName": "bitrate"
        },
        "BitstreamMode": {
          "shape": "Eac3AtmosBitstreamMode",
          "locationName": "bitstreamMode"
        },
        "CodingMode": {
          "shape": "Eac3AtmosCodingMode",
          "locationName": "codingMode"
        },
        "DialogueIntelligence": {
          "shape": "Eac3AtmosDialogueIntelligence",
          "locationName": "dialogueIntelligence"
        },
        "DynamicRangeCompressionLine": {
          "shape": "Eac3AtmosDynamicRangeCompressionLine",
          "locationName": "dynamicRangeCompressionLine"
        },
        "DynamicRangeCompressionRf": {
          "shape": "Eac3AtmosDynamicRangeCompressionRf",
          "locationName": "dynamicRangeCompressionRf"
        },
        "LoRoCenterMixLevel": {
          "shape": "__doubleMinNegative6Max3",
          "locationName": "loRoCenterMixLevel"
        },
        "LoRoSurroundMixLevel": {
          "shape": "__doubleMinNegative60MaxNegative1",
          "locationName": "loRoSurroundMixLevel"
        },
        "LtRtCenterMixLevel": {
          "shape": "__doubleMinNegative6Max3",
          "locationName": "ltRtCenterMixLevel"
        },
        "LtRtSurroundMixLevel": {
          "shape": "__doubleMinNegative60MaxNegative1",
          "locationName": "ltRtSurroundMixLevel"
        },
        "MeteringMode": {
          "shape": "Eac3AtmosMeteringMode",
          "locationName": "meteringMode"
        },
        "SampleRate": {
          "shape": "__integerMin48000Max48000",
          "locationName": "sampleRate"
        },
        "SpeechThreshold": {
          "shape": "__integerMin1Max100",
          "locationName": "speechThreshold"
        },
        "StereoDownmix": {
          "shape": "Eac3AtmosStereoDownmix",
          "locationName": "stereoDownmix"
        },
        "SurroundExMode": {
          "shape": "Eac3AtmosSurroundExMode",
          "locationName": "surroundExMode"
        }
      }
    },
    "Eac3AtmosStereoDownmix": {
      "type": "string",
      "enum": [
        "NOT_INDICATED",
        "STEREO",
        "SURROUND",
        "DPL2"
      ]
    },
    "Eac3AtmosSurroundExMode": {
      "type": "string",
      "enum": [
        "NOT_INDICATED",
        "ENABLED",
        "DISABLED"
      ]
    },
    "Eac3AttenuationControl": {
      "type": "string",
      "enum": [
        "ATTENUATE_3_DB",
        "NONE"
      ]
    },
    "Eac3BitstreamMode": {
      "type": "string",
      "enum": [
        "COMPLETE_MAIN",
        "COMMENTARY",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "VISUALLY_IMPAIRED"
      ]
    },
    "Eac3CodingMode": {
      "type": "string",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2"
      ]
    },
    "Eac3DcFilter": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "Eac3DynamicRangeCompressionLine": {
      "type": "string",
      "enum": [
        "NONE",
        "FILM_STANDARD",
        "FILM_LIGHT",
        "MUSIC_STANDARD",
        "MUSIC_LIGHT",
        "SPEECH"
      ]
    },
    "Eac3DynamicRangeCompressionRf": {
      "type": "string",
      "enum": [
        "NONE",
        "FILM_STANDARD",
        "FILM_LIGHT",
        "MUSIC_STANDARD",
        "MUSIC_LIGHT",
        "SPEECH"
      ]
    },
    "Eac3LfeControl": {
      "type": "string",
      "enum": [
        "LFE",
        "NO_LFE"
      ]
    },
    "Eac3LfeFilter": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "Eac3MetadataControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "Eac3PassthroughControl": {
      "type": "string",
      "enum": [
        "WHEN_POSSIBLE",
        "NO_PASSTHROUGH"
      ]
    },
    "Eac3PhaseControl": {
      "type": "string",
      "enum": [
        "SHIFT_90_DEGREES",
        "NO_SHIFT"
      ]
    },
    "Eac3Settings": {
      "type": "structure",
      "members": {
        "AttenuationControl": {
          "shape": "Eac3AttenuationControl",
          "locationName": "attenuationControl"
        },
        "Bitrate": {
          "shape": "__integerMin64000Max640000",
          "locationName": "bitrate"
        },
        "BitstreamMode": {
          "shape": "Eac3BitstreamMode",
          "locationName": "bitstreamMode"
        },
        "CodingMode": {
          "shape": "Eac3CodingMode",
          "locationName": "codingMode"
        },
        "DcFilter": {
          "shape": "Eac3DcFilter",
          "locationName": "dcFilter"
        },
        "Dialnorm": {
          "shape": "__integerMin1Max31",
          "locationName": "dialnorm"
        },
        "DynamicRangeCompressionLine": {
          "shape": "Eac3DynamicRangeCompressionLine",
          "locationName": "dynamicRangeCompressionLine"
        },
        "DynamicRangeCompressionRf": {
          "shape": "Eac3DynamicRangeCompressionRf",
          "locationName": "dynamicRangeCompressionRf"
        },
        "LfeControl": {
          "shape": "Eac3LfeControl",
          "locationName": "lfeControl"
        },
        "LfeFilter": {
          "shape": "Eac3LfeFilter",
          "locationName": "lfeFilter"
        },
        "LoRoCenterMixLevel": {
          "shape": "__doubleMinNegative60Max3",
          "locationName": "loRoCenterMixLevel"
        },
        "LoRoSurroundMixLevel": {
          "shape": "__doubleMinNegative60MaxNegative1",
          "locationName": "loRoSurroundMixLevel"
        },
        "LtRtCenterMixLevel": {
          "shape": "__doubleMinNegative60Max3",
          "locationName": "ltRtCenterMixLevel"
        },
        "LtRtSurroundMixLevel": {
          "shape": "__doubleMinNegative60MaxNegative1",
          "locationName": "ltRtSurroundMixLevel"
        },
        "MetadataControl": {
          "shape": "Eac3MetadataControl",
          "locationName": "metadataControl"
        },
        "PassthroughControl": {
          "shape": "Eac3PassthroughControl",
          "locationName": "passthroughControl"
        },
        "PhaseControl": {
          "shape": "Eac3PhaseControl",
          "locationName": "phaseControl"
        },
        "SampleRate": {
          "shape": "__integerMin48000Max48000",
          "locationName": "sampleRate"
        },
        "StereoDownmix": {
          "shape": "Eac3StereoDownmix",
          "locationName": "stereoDownmix"
        },
        "SurroundExMode": {
          "shape": "Eac3SurroundExMode",
          "locationName": "surroundExMode"
        },
        "SurroundMode": {
          "shape": "Eac3SurroundMode",
          "locationName": "surroundMode"
        }
      }
    },
    "Eac3StereoDownmix": {
      "type": "string",
      "enum": [
        "NOT_INDICATED",
        "LO_RO",
        "LT_RT",
        "DPL2"
      ]
    },
    "Eac3SurroundExMode": {
      "type": "string",
      "enum": [
        "NOT_INDICATED",
        "ENABLED",
        "DISABLED"
      ]
    },
    "Eac3SurroundMode": {
      "type": "string",
      "enum": [
        "NOT_INDICATED",
        "ENABLED",
        "DISABLED"
      ]
    },
    "EmbeddedConvert608To708": {
      "type": "string",
      "enum": [
        "UPCONVERT",
        "DISABLED"
      ]
    },
    "EmbeddedDestinationSettings": {
      "type": "structure",
      "members": {
        "Destination608ChannelNumber": {
          "shape": "__integerMin1Max4",
          "locationName": "destination608ChannelNumber"
        },
        "Destination708ServiceNumber": {
          "shape": "__integerMin1Max6",
          "locationName": "destination708ServiceNumber"
        }
      }
    },
    "EmbeddedSourceSettings": {
      "type": "structure",
      "members": {
        "Convert608To708": {
          "shape": "EmbeddedConvert608To708",
          "locationName": "convert608To708"
        },
        "Source608ChannelNumber": {
          "shape": "__integerMin1Max4",
          "locationName": "source608ChannelNumber"
        },
        "Source608TrackNumber": {
          "shape": "__integerMin1Max1",
          "locationName": "source608TrackNumber"
        },
        "TerminateCaptions": {
          "shape": "EmbeddedTerminateCaptions",
          "locationName": "terminateCaptions"
        }
      }
    },
    "EmbeddedTerminateCaptions": {
      "type": "string",
      "enum": [
        "END_OF_INPUT",
        "DISABLED"
      ]
    },
    "Endpoint": {
      "type": "structure",
      "members": {
        "Url": {
          "shape": "__string",
          "locationName": "url"
        }
      }
    },
    "EsamManifestConfirmConditionNotification": {
      "type": "structure",
      "members": {
        "MccXml": {
          "shape": "__stringPatternSNManifestConfirmConditionNotificationNS",
          "locationName": "mccXml"
        }
      }
    },
    "EsamSettings": {
      "type": "structure",
      "members": {
        "ManifestConfirmConditionNotification": {
          "shape": "EsamManifestConfirmConditionNotification",
          "locationName": "manifestConfirmConditionNotification"
        },
        "ResponseSignalPreroll": {
          "shape": "__integerMin0Max30000",
          "locationName": "responseSignalPreroll"
        },
        "SignalProcessingNotification": {
          "shape": "EsamSignalProcessingNotification",
          "locationName": "signalProcessingNotification"
        }
      }
    },
    "EsamSignalProcessingNotification": {
      "type": "structure",
      "members": {
        "SccXml": {
          "shape": "__stringPatternSNSignalProcessingNotificationNS",
          "locationName": "sccXml"
        }
      }
    },
    "ExceptionBody": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      }
    },
    "F4vMoovPlacement": {
      "type": "string",
      "enum": [
        "PROGRESSIVE_DOWNLOAD",
        "NORMAL"
      ]
    },
    "F4vSettings": {
      "type": "structure",
      "members": {
        "MoovPlacement": {
          "shape": "F4vMoovPlacement",
          "locationName": "moovPlacement"
        }
      }
    },
    "FileGroupSettings": {
      "type": "structure",
      "members": {
        "Destination": {
          "shape": "__stringPatternS3",
          "locationName": "destination"
        },
        "DestinationSettings": {
          "shape": "DestinationSettings",
          "locationName": "destinationSettings"
        }
      }
    },
    "FileSourceConvert608To708": {
      "type": "string",
      "enum": [
        "UPCONVERT",
        "DISABLED"
      ]
    },
    "FileSourceSettings": {
      "type": "structure",
      "members": {
        "Convert608To708": {
          "shape": "FileSourceConvert608To708",
          "locationName": "convert608To708"
        },
        "Framerate": {
          "shape": "CaptionSourceFramerate",
          "locationName": "framerate"
        },
        "SourceFile": {
          "shape": "__stringMin14PatternS3SccSCCTtmlTTMLDfxpDFXPStlSTLSrtSRTXmlXMLSmiSMIHttpsSccSCCTtmlTTMLDfxpDFXPStlSTLSrtSRTXmlXMLSmiSMI",
          "locationName": "sourceFile"
        },
        "TimeDelta": {
          "shape": "__integerMinNegative2147483648Max2147483647",
          "locationName": "timeDelta"
        }
      }
    },
    "FontScript": {
      "type": "string",
      "enum": [
        "AUTOMATIC",
        "HANS",
        "HANT"
      ]
    },
    "ForbiddenException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 403
      }
    },
    "FrameCaptureSettings": {
      "type": "structure",
      "members": {
        "FramerateDenominator": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "framerateDenominator"
        },
        "FramerateNumerator": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "framerateNumerator"
        },
        "MaxCaptures": {
          "shape": "__integerMin1Max10000000",
          "locationName": "maxCaptures"
        },
        "Quality": {
          "shape": "__integerMin1Max100",
          "locationName": "quality"
        }
      }
    },
    "GetJobRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "__string",
          "locationName": "id",
          "location": "uri"
        }
      },
      "required": [
        "Id"
      ]
    },
    "GetJobResponse": {
      "type": "structure",
      "members": {
        "Job": {
          "shape": "Job",
          "locationName": "job"
        }
      }
    },
    "GetJobTemplateRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "location": "uri"
        }
      },
      "required": [
        "Name"
      ]
    },
    "GetJobTemplateResponse": {
      "type": "structure",
      "members": {
        "JobTemplate": {
          "shape": "JobTemplate",
          "locationName": "jobTemplate"
        }
      }
    },
    "GetPresetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "location": "uri"
        }
      },
      "required": [
        "Name"
      ]
    },
    "GetPresetResponse": {
      "type": "structure",
      "members": {
        "Preset": {
          "shape": "Preset",
          "locationName": "preset"
        }
      }
    },
    "GetQueueRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "location": "uri"
        }
      },
      "required": [
        "Name"
      ]
    },
    "GetQueueResponse": {
      "type": "structure",
      "members": {
        "Queue": {
          "shape": "Queue",
          "locationName": "queue"
        }
      }
    },
    "H264AdaptiveQuantization": {
      "type": "string",
      "enum": [
        "OFF",
        "LOW",
        "MEDIUM",
        "HIGH",
        "HIGHER",
        "MAX"
      ]
    },
    "H264CodecLevel": {
      "type": "string",
      "enum": [
        "AUTO",
        "LEVEL_1",
        "LEVEL_1_1",
        "LEVEL_1_2",
        "LEVEL_1_3",
        "LEVEL_2",
        "LEVEL_2_1",
        "LEVEL_2_2",
        "LEVEL_3",
        "LEVEL_3_1",
        "LEVEL_3_2",
        "LEVEL_4",
        "LEVEL_4_1",
        "LEVEL_4_2",
        "LEVEL_5",
        "LEVEL_5_1",
        "LEVEL_5_2"
      ]
    },
    "H264CodecProfile": {
      "type": "string",
      "enum": [
        "BASELINE",
        "HIGH",
        "HIGH_10BIT",
        "HIGH_422",
        "HIGH_422_10BIT",
        "MAIN"
      ]
    },
    "H264DynamicSubGop": {
      "type": "string",
      "enum": [
        "ADAPTIVE",
        "STATIC"
      ]
    },
    "H264EntropyEncoding": {
      "type": "string",
      "enum": [
        "CABAC",
        "CAVLC"
      ]
    },
    "H264FieldEncoding": {
      "type": "string",
      "enum": [
        "PAFF",
        "FORCE_FIELD"
      ]
    },
    "H264FlickerAdaptiveQuantization": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H264FramerateControl": {
      "type": "string",
      "enum": [
        "INITIALIZE_FROM_SOURCE",
        "SPECIFIED"
      ]
    },
    "H264FramerateConversionAlgorithm": {
      "type": "string",
      "enum": [
        "DUPLICATE_DROP",
        "INTERPOLATE",
        "FRAMEFORMER"
      ]
    },
    "H264GopBReference": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H264GopSizeUnits": {
      "type": "string",
      "enum": [
        "FRAMES",
        "SECONDS"
      ]
    },
    "H264InterlaceMode": {
      "type": "string",
      "enum": [
        "PROGRESSIVE",
        "TOP_FIELD",
        "BOTTOM_FIELD",
        "FOLLOW_TOP_FIELD",
        "FOLLOW_BOTTOM_FIELD"
      ]
    },
    "H264ParControl": {
      "type": "string",
      "enum": [
        "INITIALIZE_FROM_SOURCE",
        "SPECIFIED"
      ]
    },
    "H264QualityTuningLevel": {
      "type": "string",
      "enum": [
        "SINGLE_PASS",
        "SINGLE_PASS_HQ",
        "MULTI_PASS_HQ"
      ]
    },
    "H264QvbrSettings": {
      "type": "structure",
      "members": {
        "MaxAverageBitrate": {
          "shape": "__integerMin1000Max1152000000",
          "locationName": "maxAverageBitrate"
        },
        "QvbrQualityLevel": {
          "shape": "__integerMin1Max10",
          "locationName": "qvbrQualityLevel"
        },
        "QvbrQualityLevelFineTune": {
          "shape": "__doubleMin0Max1",
          "locationName": "qvbrQualityLevelFineTune"
        }
      }
    },
    "H264RateControlMode": {
      "type": "string",
      "enum": [
        "VBR",
        "CBR",
        "QVBR"
      ]
    },
    "H264RepeatPps": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H264SceneChangeDetect": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED",
        "TRANSITION_DETECTION"
      ]
    },
    "H264Settings": {
      "type": "structure",
      "members": {
        "AdaptiveQuantization": {
          "shape": "H264AdaptiveQuantization",
          "locationName": "adaptiveQuantization"
        },
        "Bitrate": {
          "shape": "__integerMin1000Max1152000000",
          "locationName": "bitrate"
        },
        "CodecLevel": {
          "shape": "H264CodecLevel",
          "locationName": "codecLevel"
        },
        "CodecProfile": {
          "shape": "H264CodecProfile",
          "locationName": "codecProfile"
        },
        "DynamicSubGop": {
          "shape": "H264DynamicSubGop",
          "locationName": "dynamicSubGop"
        },
        "EntropyEncoding": {
          "shape": "H264EntropyEncoding",
          "locationName": "entropyEncoding"
        },
        "FieldEncoding": {
          "shape": "H264FieldEncoding",
          "locationName": "fieldEncoding"
        },
        "FlickerAdaptiveQuantization": {
          "shape": "H264FlickerAdaptiveQuantization",
          "locationName": "flickerAdaptiveQuantization"
        },
        "FramerateControl": {
          "shape": "H264FramerateControl",
          "locationName": "framerateControl"
        },
        "FramerateConversionAlgorithm": {
          "shape": "H264FramerateConversionAlgorithm",
          "locationName": "framerateConversionAlgorithm"
        },
        "FramerateDenominator": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "framerateDenominator"
        },
        "FramerateNumerator": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "framerateNumerator"
        },
        "GopBReference": {
          "shape": "H264GopBReference",
          "locationName": "gopBReference"
        },
        "GopClosedCadence": {
          "shape": "__integerMin0Max2147483647",
          "locationName": "gopClosedCadence"
        },
        "GopSize": {
          "shape": "__doubleMin0",
          "locationName": "gopSize"
        },
        "GopSizeUnits": {
          "shape": "H264GopSizeUnits",
          "locationName": "gopSizeUnits"
        },
        "HrdBufferInitialFillPercentage": {
          "shape": "__integerMin0Max100",
          "locationName": "hrdBufferInitialFillPercentage"
        },
        "HrdBufferSize": {
          "shape": "__integerMin0Max1152000000",
          "locationName": "hrdBufferSize"
        },
        "InterlaceMode": {
          "shape": "H264InterlaceMode",
          "locationName": "interlaceMode"
        },
        "MaxBitrate": {
          "shape": "__integerMin1000Max1152000000",
          "locationName": "maxBitrate"
        },
        "MinIInterval": {
          "shape": "__integerMin0Max30",
          "locationName": "minIInterval"
        },
        "NumberBFramesBetweenReferenceFrames": {
          "shape": "__integerMin0Max7",
          "locationName": "numberBFramesBetweenReferenceFrames"
        },
        "NumberReferenceFrames": {
          "shape": "__integerMin1Max6",
          "locationName": "numberReferenceFrames"
        },
        "ParControl": {
          "shape": "H264ParControl",
          "locationName": "parControl"
        },
        "ParDenominator": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "parDenominator"
        },
        "ParNumerator": {
          "shape": "__integerMin1Max2147483647",
          "locationName": "parNumerator"
        },
        "QualityTuningLevel": {
          "shape": "H264QualityTuningLevel",
          "locationName": "qualityTuningLevel"
        },
        "QvbrSettings": {
          "shape": "H264QvbrSettings",
          "locationName": "qvbrSettings"
        },
        "RateControlMode": {
          "shape": "H264RateControlMode",
          "locationName": "rateControlMode"
        },
        "RepeatPps": {
          "shape": "H264RepeatPps",
          "locationName": "repeatPps"
        },
        "SceneChangeDetect": {
          "shape": "H264SceneChangeDetect",
          "locationName": "sceneChangeDetect"
        },
        "Slices": {
          "shape": "__integerMin1Max32",
          "locationName": "slices"
        },
        "SlowPal": {
          "shape": "H264SlowPal",
          "locationName": "slowPal"
        },
        "Softness": {
          "shape": "__integerMin0Max128",
          "locationName": "softness"
        },
        "SpatialAdaptiveQuantization": {
          "shape": "H264SpatialAdaptiveQuantization",
          "locationName": "spatialAdaptiveQuantization"
        },
        "Syntax": {
          "shape": "H264Syntax",
          "locationName": "syntax"
        },
        "Telecine": {
          "shape": "H264Telecine",
          "locationName": "telecine"
        },
        "TemporalAdaptiveQuantization": {
          "shape": "H264TemporalAdaptiveQuantization",
          "locationName": "temporalAdaptiveQuantization"
        },
        "UnregisteredSeiTimecode": {
          "shape": "H264UnregisteredSeiTimecode",
          "locationName": "unregisteredSeiTimecode"
        }
      }
    },
    "H264SlowPal": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H264SpatialAdaptiveQuantization": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H264Syntax": {
      "type": "string",
      "enum": [
        "DEFAULT",
        "RP2027"
      ]
    },
    "H264Telecine": {
      "type": "string",
      "enum": [
        "NONE",
        "SOFT",
        "HARD"
      ]
    },
    "H264TemporalAdaptiveQuantization": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H264UnregisteredSeiTimecode": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H265AdaptiveQuantization": {
      "type": "string",
      "enum": [
        "OFF",
        "LOW",
        "MEDIUM",
        "HIGH",
        "HIGHER",
        "MAX"
      ]
    },
    "H265AlternateTransferFunctionSei": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H265CodecLevel": {
      "type": "string",
      "enum": [
        "AUTO",
        "LEVEL_1",
        "LEVEL_2",
        "LEVEL_2_1",
        "LEVEL_3",
        "LEVEL_3_1",
        "LEVEL_4",
        "LEVEL_4_1",
        "LEVEL_5",
        "LEVEL_5_1",
        "LEVEL_5_2",
        "LEVEL_6",
        "LEVEL_6_1",
        "LEVEL_6_2"
      ]
    },
    "H265CodecProfile": {
      "type": "string",
      "enum": [
        "MAIN_MAIN",
        "MAIN_HIGH",
        "MAIN10_MAIN",
        "MAIN10_HIGH",
        "MAIN_422_8BIT_MAIN",
        "MAIN_422_8BIT_HIGH",
        "MAIN_422_10BIT_MAIN",
        "MAIN_422_10BIT_HIGH"
      ]
    },
    "H265DynamicSubGop": {
      "type": "string",
      "enum": [
        "ADAPTIVE",
        "STATIC"
      ]
    },
    "H265FlickerAdaptiveQuantization": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H265FramerateControl": {
      "type": "string",
      "enum": [
        "INITIALIZE_FROM_SOURCE",
        "SPECIFIED"
      ]
    },
    "H265FramerateConversionAlgorithm": {
      "type": "string",
      "enum": [
        "DUPLICATE_DROP",
        "INTERPOLATE",
        "FRAMEFORMER"
      ]
    },
    "H265GopBReference": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "H265GopSizeUnits": {
      "type": "string",
      "enum": [
        "FRAMES",
        "SECONDS"
      ]
    },
[...]
