apiVersion: v1
kind: Config
users:
- name: kube-scheduler
  user:
    client-certificate-data: {{ server_cert_b64 }}
    client-key-data: {{ server_key_b64 }}
clusters:
- name: local
  cluster:
    server: {{ apiserver_endpoint }}
    certificate-authority-data: {{ ca_cert_b64 }}
contexts:
- context:
    cluster: local
    user: kube-scheduler
  name: kube-scheduler-context
current-context: kube-scheduler-context
