[Unit]
Description=Kubernetes-Master Addon Object Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/etc/kubernetes/kube-master-addons.sh

[Install]
WantedBy=multi-user.target
