{
 "kind": "discovery#restDescription",
 "etag": "\"kEk3sFj6Ef5_yR1-H3bAO6qw9mI/zcpG0fjFy3jg5hXoSMJXXIEGriY\"",
 "discoveryVersion": "v1",
 "id": "youtube:v3",
 "name": "youtube",
 "canonicalName": "YouTube",
 "version": "v3",
 "title": "YouTube Data API",
 "description": "Programmatic access to YouTube features.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/youtube-16.png",
  "x32": "http://www.google.com/images/icons/product/youtube-32.png"
 },
 "documentationLink": "https://developers.google.com/youtube/v3",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/youtube/v3/",
 "basePath": "/youtube/v3/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "youtube/v3/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/youtube": {
     "description": "Manage your YouTube account"
    },
    "https://www.googleapis.com/auth/youtube.readonly": {
     "description": "View your YouTube account"
    },
    "https://www.googleapis.com/auth/youtube.upload": {
     "description": "Manage your YouTube videos"
    },
    "https://www.googleapis.com/auth/youtubepartner": {
     "description": "View and manage your assets and associated content on YouTube"
    },
    "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
     "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
    }
   }
  }
 },
 "schemas": {
  "AccessPolicy": {
   "id": "AccessPolicy",
   "type": "object",
   "description": "Rights management policy for YouTube resources.",
   "properties": {
    "allowed": {
     "type": "boolean",
     "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default."
    },
    "exception": {
     "type": "array",
     "description": "A list of region codes that identify countries where the default policy do not apply.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Activity": {
   "id": "Activity",
   "type": "object",
   "description": "An activity resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
   "properties": {
    "contentDetails": {
     "$ref": "ActivityContentDetails",
     "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video."
    },
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the activity."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\".",
     "default": "youtube#activity"
    },
    "snippet": {
     "$ref": "ActivitySnippet",
     "description": "The snippet object contains basic details about the activity, including the activity's type and group ID."
    }
   }
  },
  "ActivityContentDetails": {
   "id": "ActivityContentDetails",
   "type": "object",
   "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc.",
   "properties": {
    "bulletin": {
     "$ref": "ActivityContentDetailsBulletin",
     "description": "The bulletin object contains details about a channel bulletin post. This object is only present if the snippet.type is bulletin."
    },
    "channelItem": {
     "$ref": "ActivityContentDetailsChannelItem",
     "description": "The channelItem object contains details about a resource which was added to a channel. This property is only present if the snippet.type is channelItem."
    },
    "comment": {
     "$ref": "ActivityContentDetailsComment",
     "description": "The comment object contains information about a resource that received a comment. This property is only present if the snippet.type is comment."
    },
    "favorite": {
     "$ref": "ActivityContentDetailsFavorite",
     "description": "The favorite object contains information about a video that was marked as a favorite video. This property is only present if the snippet.type is favorite."
    },
    "like": {
     "$ref": "ActivityContentDetailsLike",
     "description": "The like object contains information about a resource that received a positive (like) rating. This property is only present if the snippet.type is like."
    },
    "playlistItem": {
     "$ref": "ActivityContentDetailsPlaylistItem",
     "description": "The playlistItem object contains information about a new playlist item. This property is only present if the snippet.type is playlistItem."
    },
    "promotedItem": {
     "$ref": "ActivityContentDetailsPromotedItem",
     "description": "The promotedItem object contains details about a resource which is being promoted. This property is only present if the snippet.type is promotedItem."
    },
    "recommendation": {
     "$ref": "ActivityContentDetailsRecommendation",
     "description": "The recommendation object contains information about a recommended resource. This property is only present if the snippet.type is recommendation."
    },
    "social": {
     "$ref": "ActivityContentDetailsSocial",
     "description": "The social object contains details about a social network post. This property is only present if the snippet.type is social."
    },
    "subscription": {
     "$ref": "ActivityContentDetailsSubscription",
     "description": "The subscription object contains information about a channel that a user subscribed to. This property is only present if the snippet.type is subscription."
    },
    "upload": {
     "$ref": "ActivityContentDetailsUpload",
     "description": "The upload object contains information about the uploaded video. This property is only present if the snippet.type is upload."
    }
   }
  },
  "ActivityContentDetailsBulletin": {
   "id": "ActivityContentDetailsBulletin",
   "type": "object",
   "description": "Details about a channel bulletin post.",
   "properties": {
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object contains information that identifies the resource associated with a bulletin post."
    }
   }
  },
  "ActivityContentDetailsChannelItem": {
   "id": "ActivityContentDetailsChannelItem",
   "type": "object",
   "description": "Details about a resource which was added to a channel.",
   "properties": {
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object contains information that identifies the resource that was added to the channel."
    }
   }
  },
  "ActivityContentDetailsComment": {
   "id": "ActivityContentDetailsComment",
   "type": "object",
   "description": "Information about a resource that received a comment.",
   "properties": {
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object contains information that identifies the resource associated with the comment."
    }
   }
  },
  "ActivityContentDetailsFavorite": {
   "id": "ActivityContentDetailsFavorite",
   "type": "object",
   "description": "Information about a video that was marked as a favorite video.",
   "properties": {
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object contains information that identifies the resource that was marked as a favorite."
    }
   }
  },
  "ActivityContentDetailsLike": {
   "id": "ActivityContentDetailsLike",
   "type": "object",
   "description": "Information about a resource that received a positive (like) rating.",
   "properties": {
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object contains information that identifies the rated resource."
    }
   }
  },
  "ActivityContentDetailsPlaylistItem": {
   "id": "ActivityContentDetailsPlaylistItem",
   "type": "object",
   "description": "Information about a new playlist item.",
   "properties": {
    "playlistId": {
     "type": "string",
     "description": "The value that YouTube uses to uniquely identify the playlist."
    },
    "playlistItemId": {
     "type": "string",
     "description": "ID of the item within the playlist."
    },
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object contains information about the resource that was added to the playlist."
    }
   }
  },
  "ActivityContentDetailsPromotedItem": {
   "id": "ActivityContentDetailsPromotedItem",
   "type": "object",
   "description": "Details about a resource which is being promoted.",
   "properties": {
    "adTag": {
     "type": "string",
     "description": "The URL the client should fetch to request a promoted item."
    },
    "clickTrackingUrl": {
     "type": "string",
     "description": "The URL the client should ping to indicate that the user clicked through on this promoted item."
    },
    "creativeViewUrl": {
     "type": "string",
     "description": "The URL the client should ping to indicate that the user was shown this promoted item."
    },
    "ctaType": {
     "type": "string",
     "description": "The type of call-to-action, a message to the user indicating action that can be taken.",
     "enum": [
      "unspecified",
      "visitAdvertiserSite"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "customCtaButtonText": {
     "type": "string",
     "description": "The custom call-to-action button text. If specified, it will override the default button text for the cta_type."
    },
    "descriptionText": {
     "type": "string",
     "description": "The text description to accompany the promoted item."
    },
    "destinationUrl": {
     "type": "string",
     "description": "The URL the client should direct the user to, if the user chooses to visit the advertiser's website."
    },
    "forecastingUrl": {
     "type": "array",
     "description": "The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.",
     "items": {
      "type": "string"
     }
    },
    "impressionUrl": {
     "type": "array",
     "description": "The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item.",
     "items": {
      "type": "string"
     }
    },
    "videoId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the promoted video."
    }
   }
  },
  "ActivityContentDetailsRecommendation": {
   "id": "ActivityContentDetailsRecommendation",
   "type": "object",
   "description": "Information that identifies the recommended resource.",
   "properties": {
    "reason": {
     "type": "string",
     "description": "The reason that the resource is recommended to the user.",
     "enum": [
      "unspecified",
      "videoFavorited",
      "videoLiked",
      "videoWatched"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object contains information that identifies the recommended resource."
    },
    "seedResourceId": {
     "$ref": "ResourceId",
     "description": "The seedResourceId object contains information about the resource that caused the recommendation."
    }
   }
  },
  "ActivityContentDetailsSocial": {
   "id": "ActivityContentDetailsSocial",
   "type": "object",
   "description": "Details about a social network post.",
   "properties": {
    "author": {
     "type": "string",
     "description": "The author of the social network post."
    },
    "imageUrl": {
     "type": "string",
     "description": "An image of the post's author."
    },
    "referenceUrl": {
     "type": "string",
     "description": "The URL of the social network post."
    },
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post."
    },
    "type": {
     "type": "string",
     "description": "The name of the social network.",
     "enum": [
      "facebook",
      "googlePlus",
      "twitter",
      "unspecified"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "ActivityContentDetailsSubscription": {
   "id": "ActivityContentDetailsSubscription",
   "type": "object",
   "description": "Information about a channel that a user subscribed to.",
   "properties": {
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The resourceId object contains information that identifies the resource that the user subscribed to."
    }
   }
  },
  "ActivityContentDetailsUpload": {
   "id": "ActivityContentDetailsUpload",
   "type": "object",
   "description": "Information about the uploaded video.",
   "properties": {
    "videoId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the uploaded video."
    }
   }
  },
  "ActivityListResponse": {
   "id": "ActivityListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of activities, or events, that match the request criteria.",
     "items": {
      "$ref": "Activity"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\".",
     "default": "youtube#activityListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "ActivitySnippet": {
   "id": "ActivitySnippet",
   "type": "object",
   "description": "Basic details about an activity, including title, description, thumbnails, activity type and group.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity."
    },
    "channelTitle": {
     "type": "string",
     "description": "Channel title for the channel responsible for this activity"
    },
    "description": {
     "type": "string",
     "description": "The description of the resource primarily associated with the activity.",
     "annotations": {
      "required": [
       "youtube.activities.insert"
      ]
     }
    },
    "groupId": {
     "type": "string",
     "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the video was uploaded. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "thumbnails": {
     "$ref": "ThumbnailDetails",
     "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
    },
    "title": {
     "type": "string",
     "description": "The title of the resource primarily associated with the activity."
    },
    "type": {
     "type": "string",
     "description": "The type of activity that the resource describes.",
     "enum": [
      "bulletin",
      "channelItem",
      "comment",
      "favorite",
      "like",
      "playlistItem",
      "promotedItem",
      "recommendation",
      "social",
      "subscription",
      "upload"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CdnSettings": {
   "id": "CdnSettings",
   "type": "object",
   "description": "Brief description of the live stream cdn settings.",
   "properties": {
    "format": {
     "type": "string",
     "description": "The format of the video stream that you are sending to Youtube.",
     "annotations": {
      "required": [
       "youtube.liveStreams.insert",
       "youtube.liveStreams.update"
      ]
     }
    },
    "ingestionInfo": {
     "$ref": "IngestionInfo",
     "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube."
    },
    "ingestionType": {
     "type": "string",
     "description": "The method or protocol used to transmit the video stream.",
     "enum": [
      "rtmp"
     ],
     "enumDescriptions": [
      ""
     ],
     "annotations": {
      "required": [
       "youtube.liveStreams.insert",
       "youtube.liveStreams.update"
      ]
     }
    }
   }
  },
  "Channel": {
   "id": "Channel",
   "type": "object",
   "description": "A channel resource contains information about a YouTube channel.",
   "properties": {
    "auditDetails": {
     "$ref": "ChannelAuditDetails",
     "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process."
    },
    "brandingSettings": {
     "$ref": "ChannelBrandingSettings",
     "description": "The brandingSettings object encapsulates information about the branding of the channel."
    },
    "contentDetails": {
     "$ref": "ChannelContentDetails",
     "description": "The contentDetails object encapsulates information about the channel's content."
    },
    "contentOwnerDetails": {
     "$ref": "ChannelContentOwnerDetails",
     "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel."
    },
    "conversionPings": {
     "$ref": "ChannelConversionPings",
     "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel."
    },
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel."
    },
    "invideoPromotion": {
     "$ref": "InvideoPromotion",
     "description": "The invideoPromotion object encapsulates information about promotion campaign associated with the channel."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\".",
     "default": "youtube#channel"
    },
    "snippet": {
     "$ref": "ChannelSnippet",
     "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images."
    },
    "statistics": {
     "$ref": "ChannelStatistics",
     "description": "The statistics object encapsulates statistics for the channel."
    },
    "status": {
     "$ref": "ChannelStatus",
     "description": "The status object encapsulates information about the privacy status of the channel."
    },
    "topicDetails": {
     "$ref": "ChannelTopicDetails",
     "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel."
    }
   }
  },
  "ChannelAuditDetails": {
   "id": "ChannelAuditDetails",
   "type": "object",
   "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.",
   "properties": {
    "communityGuidelinesGoodStanding": {
     "type": "boolean",
     "description": "Whether or not the channel respects the community guidelines."
    },
    "contentIdClaimsGoodStanding": {
     "type": "boolean",
     "description": "Whether or not the channel has any unresolved claims."
    },
    "copyrightStrikesGoodStanding": {
     "type": "boolean",
     "description": "Whether or not the channel has any copyright strikes."
    },
    "overallGoodStanding": {
     "type": "boolean",
     "description": "Describes the general state of the channel. This field will always show if there are any issues whatsoever with the channel. Currently this field represents the result of the logical and operation over the community guidelines good standing, the copyright strikes good standing and the content ID claims good standing, but this may change in the future."
    }
   }
  },
  "ChannelBannerResource": {
   "id": "ChannelBannerResource",
   "type": "object",
   "description": "A channel banner returned as the response to a channel_banner.insert call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".",
     "default": "youtube#channelBannerResource"
    },
    "url": {
     "type": "string",
     "description": "The URL of this banner image."
    }
   }
  },
  "ChannelBrandingSettings": {
   "id": "ChannelBrandingSettings",
   "type": "object",
   "description": "Branding properties of a YouTube channel.",
   "properties": {
    "channel": {
     "$ref": "ChannelSettings",
     "description": "Branding properties for the channel view."
    },
    "hints": {
     "type": "array",
     "description": "Additional experimental branding properties.",
     "items": {
      "$ref": "PropertyValue"
     }
    },
    "image": {
     "$ref": "ImageSettings",
     "description": "Branding properties for branding images."
    },
    "watch": {
     "$ref": "WatchSettings",
     "description": "Branding properties for the watch page."
    }
   }
  },
  "ChannelContentDetails": {
   "id": "ChannelContentDetails",
   "type": "object",
   "description": "Details about the content of a channel.",
   "properties": {
    "googlePlusUserId": {
     "type": "string",
     "description": "The googlePlusUserId object identifies the Google+ profile ID associated with this channel."
    },
    "relatedPlaylists": {
     "type": "object",
     "properties": {
      "favorites": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel\"s favorite videos. Use the  playlistItems.insert and  playlistItems.delete to add or remove items from that list."
      },
      "likes": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel\"s liked videos. Use the   playlistItems.insert and  playlistItems.delete to add or remove items from that list."
      },
      "uploads": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the  videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos."
      },
      "watchHistory": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel\"s watch history. Use the  playlistItems.insert and  playlistItems.delete to add or remove items from that list."
      },
      "watchLater": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and  playlistItems.delete to add or remove items from that list."
      }
     }
    }
   }
  },
  "ChannelContentOwnerDetails": {
   "id": "ChannelContentOwnerDetails",
   "type": "object",
   "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
   "properties": {
    "contentOwner": {
     "type": "string",
     "description": "The ID of the content owner linked to the channel."
    },
    "timeLinked": {
     "type": "string",
     "description": "The date and time of when the channel was linked to the content owner. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    }
   }
  },
  "ChannelConversionPing": {
   "id": "ChannelConversionPing",
   "type": "object",
   "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
   "properties": {
    "context": {
     "type": "string",
     "description": "Defines the context of the ping.",
     "enum": [
      "cview",
      "subscribe",
      "unsubscribe"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "conversionUrl": {
     "type": "string",
     "description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping."
    }
   }
  },
  "ChannelConversionPings": {
   "id": "ChannelConversionPings",
   "type": "object",
   "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
   "properties": {
    "pings": {
     "type": "array",
     "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
     "items": {
      "$ref": "ChannelConversionPing"
     }
    }
   }
  },
  "ChannelListResponse": {
   "id": "ChannelListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of channels that match the request criteria.",
     "items": {
      "$ref": "Channel"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".",
     "default": "youtube#channelListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "ChannelSection": {
   "id": "ChannelSection",
   "type": "object",
   "description": "TODO(lxz) follow up with adiamondstein@ to fullfill the doc before deploying",
   "properties": {
    "contentDetails": {
     "$ref": "ChannelSectionContentDetails",
     "description": "The contentDetails object contains details about the ChannelSection content, such as playlists and channels."
    },
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the ChannelSection."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
     "default": "youtube#channelSection"
    },
    "snippet": {
     "$ref": "ChannelSectionSnippet",
     "description": "The snippet object contains basic details about the ChannelSection, such as its type, style and title."
    }
   }
  },
  "ChannelSectionContentDetails": {
   "id": "ChannelSectionContentDetails",
   "type": "object",
   "description": "Details about a channelsection, including playlists and channels.",
   "properties": {
    "channels": {
     "type": "array",
     "description": "The channel ids for type multiple_channels.",
     "items": {
      "type": "string"
     }
    },
    "playlists": {
     "type": "array",
     "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ChannelSectionListResponse": {
   "id": "ChannelSectionListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of ChannelSections that match the request criteria.",
     "items": {
      "$ref": "ChannelSection"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
     "default": "youtube#channelSectionListResponse"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "ChannelSectionSnippet": {
   "id": "ChannelSectionSnippet",
   "type": "object",
   "description": "Basic details about a channelsection, including title, style and position.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel that published the channelSection."
    },
    "position": {
     "type": "integer",
     "description": "The position of the channelSection in the channel.",
     "format": "uint32"
    },
    "style": {
     "type": "string",
     "description": "The style of the channelSection.",
     "enum": [
      "channelsectionStyleUndefined",
      "horizontalRow",
      "verticalList"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "title": {
     "type": "string",
     "description": "The channelSection's title for multiple_playlists and multiple_channels."
    },
    "type": {
     "type": "string",
     "description": "The type of the channelSection.",
     "enum": [
      "allPlaylists",
      "channelsectionTypeUndefined",
      "completedEvents",
      "likedPlaylists",
      "likes",
      "liveEvents",
      "multipleChannels",
      "multiplePlaylists",
      "popularUploads",
      "recentActivity",
      "recentPosts",
      "recentUploads",
      "singlePlaylist",
      "upcomingEvents"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "ChannelSettings": {
   "id": "ChannelSettings",
   "type": "object",
   "description": "Branding properties for the channel view.",
   "properties": {
    "defaultTab": {
     "type": "string",
     "description": "Which content tab users should see when viewing the channel."
    },
    "description": {
     "type": "string",
     "description": "Specifies the channel description."
    },
    "featuredChannelsTitle": {
     "type": "string",
     "description": "Title for the featured channels tab."
    },
    "featuredChannelsUrls": {
     "type": "array",
     "description": "The list of featured channels.",
     "items": {
      "type": "string"
     }
    },
    "keywords": {
     "type": "string",
     "description": "Lists keywords associated with the channel, comma-separated."
    },
    "moderateComments": {
     "type": "boolean",
     "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible."
    },
    "profileColor": {
     "type": "string",
     "description": "A prominent color that can be rendered on this channel page."
    },
    "showBrowseView": {
     "type": "boolean",
     "description": "Whether the tab to browse the videos should be displayed."
    },
    "showRelatedChannels": {
     "type": "boolean",
     "description": "Whether related channels should be proposed."
    },
    "title": {
     "type": "string",
     "description": "Specifies the channel title."
    },
    "trackingAnalyticsAccountId": {
     "type": "string",
     "description": "The ID for a Google Analytics account to track and measure traffic to the channels."
    },
    "unsubscribedTrailer": {
     "type": "string",
     "description": "The trailer of the channel, for users that are not subscribers."
    }
   }
  },
  "ChannelSnippet": {
   "id": "ChannelSnippet",
   "type": "object",
   "description": "Basic details about a channel, including title, description and thumbnails.",
   "properties": {
    "description": {
     "type": "string",
     "description": "The description of the channel."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the channel was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "thumbnails": {
     "$ref": "ThumbnailDetails",
     "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
    },
    "title": {
     "type": "string",
     "description": "The channel's title."
    }
   }
  },
  "ChannelStatistics": {
   "id": "ChannelStatistics",
   "type": "object",
   "description": "Statistics about a channel: number of subscribers, number of videos in the channel, etc.",
   "properties": {
    "commentCount": {
     "type": "string",
     "description": "The number of comments for the channel.",
     "format": "uint64"
    },
    "hiddenSubscriberCount": {
     "type": "boolean",
     "description": "Whether or not the number of subscribers is shown for this user."
    },
    "subscriberCount": {
     "type": "string",
     "description": "The number of subscribers that the channel has.",
     "format": "uint64"
    },
    "videoCount": {
     "type": "string",
     "description": "The number of videos uploaded to the channel.",
     "format": "uint64"
    },
    "viewCount": {
     "type": "string",
     "description": "The number of times the channel has been viewed.",
     "format": "uint64"
    }
   }
  },
  "ChannelStatus": {
   "id": "ChannelStatus",
   "type": "object",
   "description": "JSON template for the status part of a channel.",
   "properties": {
    "isLinked": {
     "type": "boolean",
     "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity."
    },
    "privacyStatus": {
     "type": "string",
     "description": "Privacy status of the channel.",
     "enum": [
      "private",
      "public",
      "unlisted"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "ChannelTopicDetails": {
   "id": "ChannelTopicDetails",
   "type": "object",
   "description": "Freebase topic information related to the channel.",
   "properties": {
    "topicIds": {
     "type": "array",
     "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ContentRating": {
   "id": "ContentRating",
   "type": "object",
   "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows.",
   "properties": {
    "acbRating": {
     "type": "string",
     "description": "Rating system in Australia - Australian Classification Board",
     "enum": [
      "acbC",
      "acbE",
      "acbG",
      "acbM",
      "acbMa15plus",
      "acbP",
      "acbPg",
      "acbR18plus",
      "acbUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "bbfcRating": {
     "type": "string",
     "description": "British Board of Film Classification",
     "enum": [
      "bbfc12",
      "bbfc12a",
      "bbfc15",
      "bbfc18",
      "bbfcPg",
      "bbfcR18",
      "bbfcU",
      "bbfcUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "catvRating": {
     "type": "string",
     "description": "Rating system for Canadian TV - Canadian TV Classification System",
     "enum": [
      "catv14plus",
      "catv18plus",
      "catvC",
      "catvC8",
      "catvG",
      "catvPg",
      "catvUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "catvfrRating": {
     "type": "string",
     "description": "Rating system for French Canadian TV - Regie du cinema",
     "enum": [
      "catvfr13plus",
      "catvfr16plus",
      "catvfr18plus",
      "catvfr8plus",
      "catvfrG",
      "catvfrUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "cbfcRating": {
     "type": "string",
     "description": "Rating system in India - Central Board of Film Certification",
     "enum": [
      "cbfcA",
      "cbfcS",
      "cbfcU",
      "cbfcUA",
      "cbfcUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "chvrsRating": {
     "type": "string",
     "description": "Canadian Home Video Rating System",
     "enum": [
      "chvrs14a",
      "chvrs18a",
      "chvrsE",
      "chvrsG",
      "chvrsPg",
      "chvrsR",
      "chvrsUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "djctqRating": {
     "type": "string",
     "description": "Rating system in Brazil - Department of Justice, Rating, Titles and Qualification",
     "enum": [
      "djctq10",
      "djctq12",
      "djctq14",
      "djctq16",
      "djctq18",
      "djctqL",
      "djctqUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "eirinRating": {
     "type": "string",
     "description": "Rating system in Japan - Eiga Rinri Kanri Iinkai",
     "enum": [
      "eirinG",
      "eirinPg12",
      "eirinR15plus",
      "eirinR18plus",
      "eirinUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "fmocRating": {
     "type": "string",
     "description": "Rating system in France - French Minister of Culture",
     "enum": [
      "fmoc10",
      "fmoc12",
      "fmoc16",
      "fmoc18",
      "fmocE",
      "fmocU",
      "fmocUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "fskRating": {
     "type": "string",
     "description": "Rating system in Germany - Voluntary Self Regulation of the Movie Industry",
     "enum": [
      "fsk0",
      "fsk12",
      "fsk16",
      "fsk18",
      "fsk6",
      "fskUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "icaaRating": {
     "type": "string",
     "description": "Rating system in Spain - Instituto de Cinematografia y de las Artes Audiovisuales",
     "enum": [
      "icaa12",
      "icaa13",
      "icaa16",
      "icaa18",
      "icaa7",
      "icaaApta",
      "icaaUnrated",
      "icaaX"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "kmrbRating": {
     "type": "string",
     "description": "Rating system in South Korea - Korea Media Rating Board",
     "enum": [
      "kmrb12plus",
      "kmrb15plus",
      "kmrbAll",
      "kmrbR",
      "kmrbTeenr",
      "kmrbUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "mibacRating": {
     "type": "string",
     "description": "Rating system in Italy - Ministero dei Beni e delle Attivita Culturali e del Turismo",
     "enum": [
      "mibacT",
      "mibacUnrated",
      "mibacVap",
      "mibacVm12",
      "mibacVm14",
      "mibacVm18"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "mpaaRating": {
     "type": "string",
     "description": "Motion Picture Association of America rating for the content.",
     "enum": [
      "mpaaG",
      "mpaaNc17",
      "mpaaPg",
      "mpaaPg13",
      "mpaaR",
      "mpaaUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "oflcRating": {
     "type": "string",
     "description": "Rating system in New Zealand - Office of Film and Literature Classification",
     "enum": [
      "oflcG",
      "oflcM",
      "oflcPg",
      "oflcR13",
      "oflcR15",
      "oflcR16",
      "oflcR18",
      "oflcUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "rtcRating": {
     "type": "string",
     "description": "Rating system in Mexico - General Directorate of Radio, Television and Cinematography",
     "enum": [
      "rtcA",
      "rtcAa",
      "rtcB",
      "rtcB15",
      "rtcC",
      "rtcD",
      "rtcUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "russiaRating": {
     "type": "string",
     "description": "Rating system in Russia",
     "enum": [
      "russia0",
      "russia12",
      "russia16",
      "russia18",
      "russia6",
      "russiaUnrated"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "tvpgRating": {
     "type": "string",
     "description": "TV Parental Guidelines rating of the content.",
     "enum": [
      "pg14",
      "tvpgG",
      "tvpgMa",
      "tvpgPg",
      "tvpgUnrated",
      "tvpgY",
      "tvpgY7",
      "tvpgY7Fv"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "ytRating": {
     "type": "string",
     "description": "Internal YouTube rating.",
     "enum": [
      "ytAgeRestricted"
     ],
     "enumDescriptions": [
      ""
     ]
    }
   }
  },
  "GeoPoint": {
   "id": "GeoPoint",
   "type": "object",
   "description": "Geographical coordinates of a point, in WGS84.",
   "properties": {
    "altitude": {
     "type": "number",
     "description": "Altitude above the reference ellipsoid, in meters.",
     "format": "double"
    },
    "latitude": {
     "type": "number",
     "description": "Latitude in degrees.",
     "format": "double"
    },
    "longitude": {
     "type": "number",
     "description": "Longitude in degrees.",
     "format": "double"
    }
   }
  },
  "GuideCategory": {
   "id": "GuideCategory",
   "type": "object",
   "description": "A guideCategory resource identifies a category that YouTube algorithmically assigns based on a channel's content or other indicators, such as the channel's popularity. The list is similar to video categories, with the difference being that a video's uploader can assign a video category but only YouTube can assign a channel category.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the guide category."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#guideCategory\".",
     "default": "youtube#guideCategory"
    },
    "snippet": {
     "$ref": "GuideCategorySnippet",
     "description": "The snippet object contains basic details about the category, such as its title."
    }
   }
  },
  "GuideCategoryListResponse": {
   "id": "GuideCategoryListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of categories that can be associated with YouTube channels. In this map, the category ID is the map key, and its value is the corresponding guideCategory resource.",
     "items": {
      "$ref": "GuideCategory"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#guideCategoryListResponse\".",
     "default": "youtube#guideCategoryListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "GuideCategorySnippet": {
   "id": "GuideCategorySnippet",
   "type": "object",
   "description": "Basic details about a guide category.",
   "properties": {
    "channelId": {
     "type": "string",
     "default": "UCBR8-60-B28hp2BmDPdntcQ"
    },
    "title": {
     "type": "string",
     "description": "Description of the guide category."
    }
   }
  },
  "I18nLanguage": {
   "id": "I18nLanguage",
   "type": "object",
   "description": "An i18nLanguage resource identifies a UI language currently supported by YouTube.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the i18n language."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\".",
     "default": "youtube#i18nLanguage"
    },
    "snippet": {
     "$ref": "I18nLanguageSnippet",
     "description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name."
    }
   }
  },
  "I18nLanguageListResponse": {
   "id": "I18nLanguageListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource.",
     "items": {
      "$ref": "I18nLanguage"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\".",
     "default": "youtube#i18nLanguageListResponse"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "I18nLanguageSnippet": {
   "id": "I18nLanguageSnippet",
   "type": "object",
   "description": "Basic details about an i18n language, such as language code and human-readable name.",
   "properties": {
    "hl": {
     "type": "string",
     "description": "A short BCP-47 code that uniquely identifies a language."
    },
    "name": {
     "type": "string",
     "description": "The human-readable name of the language in the language itself."
    }
   }
  },
  "I18nRegion": {
   "id": "I18nRegion",
   "type": "object",
   "description": "A i18nRegion resource identifies a region where YouTube is available.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the i18n region."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\".",
     "default": "youtube#i18nRegion"
    },
    "snippet": {
     "$ref": "I18nRegionSnippet",
     "description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name."
    }
   }
  },
  "I18nRegionListResponse": {
   "id": "I18nRegionListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.",
     "items": {
      "$ref": "I18nRegion"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegionListResponse\".",
     "default": "youtube#i18nRegionListResponse"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "I18nRegionSnippet": {
   "id": "I18nRegionSnippet",
   "type": "object",
   "description": "Basic details about an i18n region, such as region code and human-readable name.",
   "properties": {
    "gl": {
     "type": "string",
     "description": "The region code as a 2-letter ISO country code."
    },
    "name": {
     "type": "string",
     "description": "The human-readable name of the region."
    }
   }
  },
  "ImageSettings": {
   "id": "ImageSettings",
   "type": "object",
   "description": "Branding properties for images associated with the channel.",
   "properties": {
    "backgroundImageUrl": {
     "$ref": "LocalizedProperty",
     "description": "The URL for the background image shown on the video watch page. The image should be 1200px by 615px, with a maximum file size of 128k."
    },
    "bannerExternalUrl": {
     "type": "string",
     "description": "This is used only in update requests; if it's set, we use this URL to generate all of the above banner URLs."
    },
    "bannerImageUrl": {
     "type": "string",
     "description": "Banner image. Desktop size (1060x175)."
    },
    "bannerMobileExtraHdImageUrl": {
     "type": "string",
     "description": "Banner image. Mobile size high resolution (1440x395)."
    },
    "bannerMobileHdImageUrl": {
     "type": "string",
     "description": "Banner image. Mobile size high resolution (1280x360)."
    },
    "bannerMobileImageUrl": {
     "type": "string",
     "description": "Banner image. Mobile size (640x175)."
    },
    "bannerMobileLowImageUrl": {
     "type": "string",
     "description": "Banner image. Mobile size low resolution (320x88)."
    },
    "bannerMobileMediumHdImageUrl": {
     "type": "string",
     "description": "Banner image. Mobile size medium/high resolution (960x263)."
    },
    "bannerTabletExtraHdImageUrl": {
     "type": "string",
     "description": "Banner image. Tablet size extra high resolution (2560x424)."
    },
    "bannerTabletHdImageUrl": {
     "type": "string",
     "description": "Banner image. Tablet size high resolution (2276x377)."
    },
    "bannerTabletImageUrl": {
     "type": "string",
     "description": "Banner image. Tablet size (1707x283)."
    },
    "bannerTabletLowImageUrl": {
     "type": "string",
     "description": "Banner image. Tablet size low resolution (1138x188)."
    },
    "bannerTvHighImageUrl": {
     "type": "string",
     "description": "Banner image. TV size high resolution (1920x1080)."
    },
    "bannerTvImageUrl": {
     "type": "string",
     "description": "Banner image. TV size extra high resolution (2120x1192)."
    },
    "bannerTvLowImageUrl": {
     "type": "string",
     "description": "Banner image. TV size low resolution (854x480)."
    },
    "bannerTvMediumImageUrl": {
     "type": "string",
     "description": "Banner image. TV size medium resolution (1280x720)."
    },
    "largeBrandedBannerImageImapScript": {
     "$ref": "LocalizedProperty",
     "description": "The image map script for the large banner image."
    },
    "largeBrandedBannerImageUrl": {
     "$ref": "LocalizedProperty",
     "description": "The URL for the 854px by 70px image that appears below the video player in the expanded video view of the video watch page."
    },
    "smallBrandedBannerImageImapScript": {
     "$ref": "LocalizedProperty",
     "description": "The image map script for the small banner image."
    },
    "smallBrandedBannerImageUrl": {
     "$ref": "LocalizedProperty",
     "description": "The URL for the 640px by 70px banner image that appears below the video player in the default view of the video watch page."
    },
    "trackingImageUrl": {
     "type": "string",
     "description": "The URL for a 1px by 1px tracking pixel that can be used to collect statistics for views of the channel or video pages."
    },
    "watchIconImageUrl": {
     "type": "string",
     "description": "The URL for the image that appears above the top-left corner of the video player. This is a 25-pixel-high image with a flexible width that cannot exceed 170 pixels."
    }
   }
  },
  "IngestionInfo": {
   "id": "IngestionInfo",
   "type": "object",
   "description": "Describes information necessary for ingesting an RTMP or an HTTP stream.",
   "properties": {
    "backupIngestionAddress": {
     "type": "string",
     "description": "The backup ingestion URL that you should use to stream video to YouTube. You have the option of simultaneously streaming the content that you are sending to the ingestionAddress to this URL."
    },
    "ingestionAddress": {
     "type": "string",
     "description": "The primary ingestion URL that you should use to stream video to YouTube. You must stream video to this URL.\n\nDepending on which application or tool you use to encode your video stream, you may need to enter the stream URL and stream name separately or you may need to concatenate them in the following format:\n\nSTREAM_URL/STREAM_NAME"
    },
    "streamName": {
     "type": "string",
     "description": "The HTTP or RTMP stream name that YouTube assigns to the video stream."
    }
   }
  },
  "InvideoBranding": {
   "id": "InvideoBranding",
   "type": "object",
   "properties": {
    "imageBytes": {
     "type": "string",
     "format": "byte"
    },
    "imageUrl": {
     "type": "string"
    },
    "position": {
     "$ref": "InvideoPosition"
    },
    "targetChannelId": {
     "type": "string"
    },
    "timing": {
     "$ref": "InvideoTiming"
    }
   }
  },
  "InvideoPosition": {
   "id": "InvideoPosition",
   "type": "object",
   "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.",
   "properties": {
    "cornerPosition": {
     "type": "string",
     "description": "Describes in which corner of the video the visual widget will appear.",
     "enum": [
      "bottomLeft",
      "bottomRight",
      "topLeft",
      "topRight"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "type": {
     "type": "string",
     "description": "Defines the position type.",
     "enum": [
      "corner"
     ],
     "enumDescriptions": [
      ""
     ]
    }
   }
  },
  "InvideoPromotion": {
   "id": "InvideoPromotion",
   "type": "object",
   "description": "Describes an invideo promotion campaign consisting of multiple promoted items. A campaign belongs to a single channel_id.",
   "properties": {
    "defaultTiming": {
     "$ref": "InvideoTiming",
     "description": "The default temporal position within the video where the promoted item will be displayed. Can be overriden by more specific timing in the item."
    },
    "items": {
     "type": "array",
     "description": "List of promoted items in decreasing priority.",
     "items": {
      "$ref": "PromotedItem"
     }
    },
    "position": {
     "$ref": "InvideoPosition",
     "description": "The spatial position within the video where the promoted item will be displayed."
    }
   }
  },
  "InvideoTiming": {
   "id": "InvideoTiming",
   "type": "object",
   "description": "Describes a temporal position of a visual widget inside a video.",
   "properties": {
    "durationMs": {
     "type": "string",
     "description": "Defines the duration in milliseconds for which the promotion should be displayed. If missing, the client should use the default.",
     "format": "uint64"
    },
    "offsetMs": {
     "type": "string",
     "description": "Defines the time at which the promotion will appear. Depending on the value of type the value of the offsetMs field will represent a time offset from the start or from the end of the video, expressed in milliseconds.",
     "format": "uint64"
    },
    "type": {
     "type": "string",
     "description": "Describes a timing type. If the value is offsetFromStart, then the offsetMs field represents an offset from the start of the video. If the value is offsetFromEnd, then the offsetMs field represents an offset from the end of the video.",
     "enum": [
      "offsetFromEnd",
      "offsetFromStart"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    }
   }
  },
  "LiveBroadcast": {
   "id": "LiveBroadcast",
   "type": "object",
   "description": "A liveBroadcast resource represents an event that will be streamed, via live video, on YouTube.",
   "properties": {
    "contentDetails": {
     "$ref": "LiveBroadcastContentDetails",
     "description": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded."
    },
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube assigns to uniquely identify the broadcast.",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".",
     "default": "youtube#liveBroadcast"
    },
    "snippet": {
     "$ref": "LiveBroadcastSnippet",
     "description": "The snippet object contains basic details about the event, including its title, description, start time, and end time."
    },
    "status": {
     "$ref": "LiveBroadcastStatus",
     "description": "The status object contains information about the event's status."
    }
   }
  },
  "LiveBroadcastContentDetails": {
   "id": "LiveBroadcastContentDetails",
   "type": "object",
   "description": "Detailed settings of a broadcast.",
   "properties": {
    "boundStreamId": {
     "type": "string",
     "description": "This value uniquely identifies the live stream bound to the broadcast."
    },
    "enableClosedCaptions": {
     "type": "boolean",
     "description": "This setting indicates whether closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API."
    },
    "enableContentEncryption": {
     "type": "boolean",
     "description": "This setting indicates whether YouTube should enable content encryption for the broadcast.",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "enableDvr": {
     "type": "boolean",
     "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true.\n\n\n\nImportant: You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends.",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "enableEmbed": {
     "type": "boolean",
     "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video.",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "monitorStream": {
     "$ref": "MonitorStreamInfo",
     "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly."
    },
    "recordFromStart": {
     "type": "boolean",
     "description": "Automatically start recording after the event goes live. The default value for this property is true.\n\n\n\nImportant: You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback.",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "startWithSlate": {
     "type": "boolean",
     "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers.",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.update"
      ]
     }
    }
   }
  },
  "LiveBroadcastListResponse": {
   "id": "LiveBroadcastListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of broadcasts that match the request criteria.",
     "items": {
      "$ref": "LiveBroadcast"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\".",
     "default": "youtube#liveBroadcastListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "LiveBroadcastSnippet": {
   "id": "LiveBroadcastSnippet",
   "type": "object",
   "properties": {
    "actualEndTime": {
     "type": "string",
     "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "actualStartTime": {
     "type": "string",
     "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast."
    },
    "description": {
     "type": "string",
     "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "scheduledEndTime": {
     "type": "string",
     "description": "The date and time that the broadcast is scheduled to end. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.insert",
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "scheduledStartTime": {
     "type": "string",
     "description": "The date and time that the broadcast is scheduled to start. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.insert",
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "thumbnails": {
     "$ref": "ThumbnailDetails",
     "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
    },
    "title": {
     "type": "string",
     "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.insert",
       "youtube.liveBroadcasts.update"
      ]
     }
    }
   }
  },
  "LiveBroadcastStatus": {
   "id": "LiveBroadcastStatus",
   "type": "object",
   "properties": {
    "lifeCycleStatus": {
     "type": "string",
     "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.",
     "enum": [
      "abandoned",
      "complete",
      "completeStarting",
      "created",
      "live",
      "liveStarting",
      "ready",
      "reclaimed",
      "revoked",
      "testStarting",
      "testing"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "privacyStatus": {
     "type": "string",
     "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
     "enum": [
      "private",
      "public",
      "unlisted"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ],
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.insert",
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "recordingStatus": {
     "type": "string",
     "description": "The broadcast's recording status.",
     "enum": [
      "notRecording",
      "recorded",
      "recording"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "LiveStream": {
   "id": "LiveStream",
   "type": "object",
   "description": "A live stream describes a live ingestion point.",
   "properties": {
    "cdn": {
     "$ref": "CdnSettings",
     "description": "The cdn object defines the live stream's content delivery network (CDN) settings. These settings provide details about the manner in which you stream your content to YouTube."
    },
    "contentDetails": {
     "$ref": "LiveStreamContentDetails",
     "description": "The content_details object contains information about the stream, including the closed captions ingestion URL."
    },
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube assigns to uniquely identify the stream.",
     "annotations": {
      "required": [
       "youtube.liveStreams.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStream\".",
     "default": "youtube#liveStream"
    },
    "snippet": {
     "$ref": "LiveStreamSnippet",
     "description": "The snippet object contains basic details about the stream, including its channel, title, and description."
    },
    "status": {
     "$ref": "LiveStreamStatus",
     "description": "The status object contains information about live stream's status."
    }
   }
  },
  "LiveStreamContentDetails": {
   "id": "LiveStreamContentDetails",
   "type": "object",
   "description": "Detailed settings of a stream.",
   "properties": {
    "closedCaptionsIngestionUrl": {
     "type": "string",
     "description": "The ingestion URL where the closed captions of this stream are sent."
    }
   }
  },
  "LiveStreamListResponse": {
   "id": "LiveStreamListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of live streams that match the request criteria.",
     "items": {
      "$ref": "LiveStream"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".",
     "default": "youtube#liveStreamListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "LiveStreamSnippet": {
   "id": "LiveStreamSnippet",
   "type": "object",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream."
    },
    "description": {
     "type": "string",
     "description": "The stream's description. The value cannot be longer than 10000 characters."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the stream was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "title": {
     "type": "string",
     "description": "The stream's title. The value must be between 1 and 128 characters long.",
     "annotations": {
      "required": [
       "youtube.liveStreams.insert",
       "youtube.liveStreams.update"
      ]
     }
    }
   }
  },
  "LiveStreamStatus": {
   "id": "LiveStreamStatus",
   "type": "object",
   "description": "Brief description of the live stream status.",
   "properties": {
    "streamStatus": {
     "type": "string",
     "enum": [
      "active",
      "created",
      "error",
      "inactive",
      "ready"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "LocalizedProperty": {
   "id": "LocalizedProperty",
   "type": "object",
   "description": "Represent a property available in different languages.",
   "properties": {
    "default": {
     "type": "string",
     "description": "Default value for the localized property."
    },
    "localized": {
     "type": "array",
     "description": "The localized values.",
     "items": {
      "$ref": "LocalizedString"
     }
    }
   }
  },
  "LocalizedString": {
   "id": "LocalizedString",
   "type": "object",
   "description": "A localized string.",
   "properties": {
    "language": {
     "type": "string",
     "description": "Language associated to this value."
    },
    "value": {
     "type": "string",
     "description": "Value of the property."
    }
   }
  },
  "MonitorStreamInfo": {
   "id": "MonitorStreamInfo",
   "type": "object",
   "description": "Settings and Info of the monitor stream",
   "properties": {
    "broadcastStreamDelayMs": {
     "type": "integer",
     "description": "If you have set the enableMonitorStream property to true, then this property determines the length of the live broadcast delay.",
     "format": "uint32",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.update"
      ]
     }
    },
    "embedHtml": {
     "type": "string",
     "description": "HTML code that embeds a player that plays the monitor stream."
    },
    "enableMonitorStream": {
     "type": "boolean",
     "description": "This value determines whether the monitor stream is enabled for the broadcast. If the monitor stream is enabled, then YouTube will broadcast the event content on a special stream intended only for the broadcaster's consumption. The broadcaster can use the stream to review the event content and also to identify the optimal times to insert cuepoints.\n\nYou need to set this value to true if you intend to have a broadcast delay for your event.\n\nNote: This property cannot be updated once the broadcast is in the testing or live state.",
     "annotations": {
      "required": [
       "youtube.liveBroadcasts.update"
      ]
     }
    }
   }
  },
  "PageInfo": {
   "id": "PageInfo",
   "type": "object",
   "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.",
   "properties": {
    "resultsPerPage": {
     "type": "integer",
     "description": "The number of results included in the API response.",
     "format": "int32"
    },
    "totalResults": {
     "type": "integer",
     "description": "The total number of results in the result set.",
     "format": "int32"
    }
   }
  },
  "Playlist": {
   "id": "Playlist",
   "type": "object",
   "description": "A playlist resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private.\n\nYouTube also uses playlists to identify special collections of videos for a channel, such as:  \n- uploaded videos \n- favorite videos \n- positively rated (liked) videos \n- watch history \n- watch later  To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the  channel resource for a given channel.\n\nYou can then use the   playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the   playlistItems.insert and   playlistItems.delete methods.",
   "properties": {
    "contentDetails": {
     "$ref": "PlaylistContentDetails",
     "description": "The contentDetails object contains information like video count."
    },
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the playlist."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\".",
     "default": "youtube#playlist"
    },
    "player": {
     "$ref": "PlaylistPlayer",
     "description": "The player object contains information that you would use to play the playlist in an embedded player."
    },
    "snippet": {
     "$ref": "PlaylistSnippet",
     "description": "The snippet object contains basic details about the playlist, such as its title and description."
    },
    "status": {
     "$ref": "PlaylistStatus",
     "description": "The status object contains status information for the playlist."
    }
   }
  },
  "PlaylistContentDetails": {
   "id": "PlaylistContentDetails",
   "type": "object",
   "properties": {
    "itemCount": {
     "type": "integer",
     "description": "The number of videos in the playlist.",
     "format": "uint32"
    }
   }
  },
  "PlaylistItem": {
   "id": "PlaylistItem",
   "type": "object",
   "description": "A playlistItem resource identifies another resource, such as a video, that is included in a playlist. In addition, the playlistItem  resource contains details about the included resource that pertain specifically to how that resource is used in that playlist.\n\nYouTube uses playlists to identify special collections of videos for a channel, such as:  \n- uploaded videos \n- favorite videos \n- positively rated (liked) videos \n- watch history \n- watch later  To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information.\n\nYou can retrieve the playlist IDs for each of these lists from the  channel resource  for a given channel. You can then use the   playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the   playlistItems.insert and   playlistItems.delete methods. For example, if a user gives a positive rating to a video, you would insert that video into the liked videos playlist for that user's channel.",
   "properties": {
    "contentDetails": {
     "$ref": "PlaylistItemContentDetails",
     "description": "The contentDetails object is included in the resource if the included item is a YouTube video. The object contains additional information about the video."
    },
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the playlist item."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItem\".",
     "default": "youtube#playlistItem"
    },
    "snippet": {
     "$ref": "PlaylistItemSnippet",
     "description": "The snippet object contains basic details about the playlist item, such as its title and position in the playlist."
    },
    "status": {
     "$ref": "PlaylistItemStatus",
     "description": "The status object contains information about the playlist item's privacy status."
    }
   }
  },
  "PlaylistItemContentDetails": {
   "id": "PlaylistItemContentDetails",
   "type": "object",
   "properties": {
    "endAt": {
     "type": "string",
     "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video."
    },
    "note": {
     "type": "string",
     "description": "A user-generated note for this item."
    },
    "startAt": {
     "type": "string",
     "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0."
    },
    "videoId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request."
    }
   }
  },
  "PlaylistItemListResponse": {
   "id": "PlaylistItemListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of playlist items that match the request criteria.",
     "items": {
      "$ref": "PlaylistItem"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\".",
     "default": "youtube#playlistItemListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "PlaylistItemSnippet": {
   "id": "PlaylistItemSnippet",
   "type": "object",
   "description": "Basic details about a playlist, including title, description and thumbnails.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist."
    },
    "channelTitle": {
     "type": "string",
     "description": "Channel title for the channel that the playlist item belongs to."
    },
    "description": {
     "type": "string",
     "description": "The item's description."
    },
    "playlistId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the playlist that the playlist item is in.",
     "annotations": {
      "required": [
       "youtube.playlistItems.insert",
       "youtube.playlistItems.update"
      ]
     }
    },
    "position": {
     "type": "integer",
     "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth.",
     "format": "uint32"
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the item was added to the playlist. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item.",
     "annotations": {
      "required": [
       "youtube.playlistItems.insert",
       "youtube.playlistItems.update"
      ]
     }
    },
    "thumbnails": {
     "$ref": "ThumbnailDetails",
     "description": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
    },
    "title": {
     "type": "string",
     "description": "The item's title."
    }
   }
  },
  "PlaylistItemStatus": {
   "id": "PlaylistItemStatus",
   "type": "object",
   "description": "Information about the playlist item's privacy status.",
   "properties": {
    "privacyStatus": {
     "type": "string",
     "description": "This resource's privacy status.",
     "enum": [
      "private",
      "public",
      "unlisted"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "PlaylistListResponse": {
   "id": "PlaylistListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of playlists that match the request criteria.",
     "items": {
      "$ref": "Playlist"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\".",
     "default": "youtube#playlistListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "PlaylistPlayer": {
   "id": "PlaylistPlayer",
   "type": "object",
   "properties": {
    "embedHtml": {
     "type": "string",
     "description": "An \u003ciframe\u003e tag that embeds a player that will play the playlist."
    }
   }
  },
  "PlaylistSnippet": {
   "id": "PlaylistSnippet",
   "type": "object",
   "description": "Basic details about a playlist, including title, description and thumbnails.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist."
    },
    "channelTitle": {
     "type": "string",
     "description": "The channel title of the channel that the video belongs to."
    },
    "description": {
     "type": "string",
     "description": "The playlist's description."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the playlist was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "tags": {
     "type": "array",
     "description": "Keyword tags associated with the playlist.",
     "items": {
      "type": "string"
     }
    },
    "thumbnails": {
     "$ref": "ThumbnailDetails",
     "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
    },
    "title": {
     "type": "string",
     "description": "The playlist's title.",
     "annotations": {
      "required": [
       "youtube.playlists.insert",
       "youtube.playlists.update"
      ]
     }
    }
   }
  },
  "PlaylistStatus": {
   "id": "PlaylistStatus",
   "type": "object",
   "properties": {
    "privacyStatus": {
     "type": "string",
     "description": "The playlist's privacy status.",
     "enum": [
      "private",
      "public",
      "unlisted"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "PromotedItem": {
   "id": "PromotedItem",
   "type": "object",
   "description": "Describes a single promoted item.",
   "properties": {
    "customMessage": {
     "type": "string",
     "description": "A custom message to display for this promotion. This field is currently ignored unless the promoted item is a website."
    },
    "id": {
     "$ref": "PromotedItemId",
     "description": "Identifies the promoted item."
    },
    "promotedByContentOwner": {
     "type": "boolean",
     "description": "If true, the content owner's name will be used when displaying the promotion. This field can only be set when the update is made on behalf of the content owner."
    },
    "timing": {
     "$ref": "InvideoTiming",
     "description": "The temporal position within the video where the promoted item will be displayed. If present, it overrides the default timing."
    }
   }
  },
  "PromotedItemId": {
   "id": "PromotedItemId",
   "type": "object",
   "description": "Describes a single promoted item id. It is a union of various possible types.",
   "properties": {
    "recentlyUploadedBy": {
     "type": "string",
     "description": "If type is recentUpload, this field identifies the channel from which to take the recent upload. If missing, the channel is assumed to be the same channel for which the invideoPromotion is set."
    },
    "type": {
     "type": "string",
     "description": "Describes the type of the promoted item.",
     "enum": [
      "recentUpload",
      "video",
      "website"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "videoId": {
     "type": "string",
     "description": "If the promoted item represents a video, this field represents the unique YouTube ID identifying it. This field will be present only if type has the value video."
    },
    "websiteUrl": {
     "type": "string",
     "description": "If the promoted item represents a website, this field represents the url pointing to the website. This field will be present only if type has the value website."
    }
   }
  },
  "PropertyValue": {
   "id": "PropertyValue",
   "type": "object",
   "description": "A pair Property / Value.",
   "properties": {
    "property": {
     "type": "string",
     "description": "A property."
    },
    "value": {
     "type": "string",
     "description": "The property's value."
    }
   }
  },
  "ResourceId": {
   "id": "ResourceId",
   "type": "object",
   "description": "A resource id is a generic reference that points to another YouTube resource.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource."
    },
    "playlistId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist."
    },
    "videoId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video."
    }
   }
  },
  "SearchListResponse": {
   "id": "SearchListResponse",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "eventId": {
     "type": "string",
     "description": "Serialized EventId of the request which produced this response."
    },
    "items": {
     "type": "array",
     "description": "A list of results that match the search criteria.",
     "items": {
      "$ref": "SearchResult"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\".",
     "default": "youtube#searchListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "visitorId": {
     "type": "string",
     "description": "The visitorId identifies the visitor."
    }
   }
  },
  "SearchResult": {
   "id": "SearchResult",
   "type": "object",
   "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
     "$ref": "ResourceId",
     "description": "The id object contains information that can be used to uniquely identify the resource that matches the search request."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\".",
     "default": "youtube#searchResult"
    },
    "snippet": {
     "$ref": "SearchResultSnippet",
     "description": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description."
    }
   }
  },
  "SearchResultSnippet": {
   "id": "SearchResultSnippet",
   "type": "object",
   "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies."
    },
    "channelTitle": {
     "type": "string",
     "description": "The title of the channel that published the resource that the search result identifies."
    },
    "description": {
     "type": "string",
     "description": "A description of the search result."
    },
    "liveBroadcastContent": {
     "type": "string",
     "description": "It indicates if the resource (video or channel) has upcoming/active live broadcast content. Or it's \"none\" if there is not any upcoming/active live broadcasts.",
     "enum": [
      "live",
      "none",
      "upcoming"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "publishedAt": {
     "type": "string",
     "description": "The creation date and time of the resource that the search result identifies. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "thumbnails": {
     "$ref": "ThumbnailDetails",
     "description": "A map of thumbnail images associated with the search result. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
    },
    "title": {
     "type": "string",
     "description": "The title of the search result."
    }
   }
  },
  "Subscription": {
   "id": "Subscription",
   "type": "object",
   "description": "A subscription resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
   "properties": {
    "contentDetails": {
     "$ref": "SubscriptionContentDetails",
     "description": "The contentDetails object contains basic statistics about the subscription."
    },
    "etag": {
     "type": "string",
     "description": "Etag of this resource."
    },
    "id": {
[...]
