{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-10-01",
    "endpointPrefix":"gamelift",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon GameLift",
    "serviceId":"GameLift",
    "signatureVersion":"v4",
    "targetPrefix":"GameLift",
    "uid":"gamelift-2015-10-01"
  },
  "operations":{
    "AcceptMatch":{
      "name":"AcceptMatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptMatchInput"},
      "output":{"shape":"AcceptMatchOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"}
      ]
    },
    "ClaimGameServer":{
      "name":"ClaimGameServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ClaimGameServerInput"},
      "output":{"shape":"ClaimGameServerOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"OutOfCapacityException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateAlias":{
      "name":"CreateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAliasInput"},
      "output":{"shape":"CreateAliasOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"LimitExceededException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "CreateBuild":{
      "name":"CreateBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBuildInput"},
      "output":{"shape":"CreateBuildOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TaggingFailedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFleetInput"},
      "output":{"shape":"CreateFleetOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "CreateGameServerGroup":{
      "name":"CreateGameServerGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGameServerGroupInput"},
      "output":{"shape":"CreateGameServerGroupOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "CreateGameSession":{
      "name":"CreateGameSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGameSessionInput"},
      "output":{"shape":"CreateGameSessionOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidFleetStatusException"},
        {"shape":"TerminalRoutingStrategyException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"FleetCapacityExceededException"},
        {"shape":"LimitExceededException"},
        {"shape":"IdempotentParameterMismatchException"}
      ]
    },
    "CreateGameSessionQueue":{
      "name":"CreateGameSessionQueue",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGameSessionQueueInput"},
      "output":{"shape":"CreateGameSessionQueueOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"LimitExceededException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "CreateMatchmakingConfiguration":{
      "name":"CreateMatchmakingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMatchmakingConfigurationInput"},
      "output":{"shape":"CreateMatchmakingConfigurationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "CreateMatchmakingRuleSet":{
      "name":"CreateMatchmakingRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMatchmakingRuleSetInput"},
      "output":{"shape":"CreateMatchmakingRuleSetOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "CreatePlayerSession":{
      "name":"CreatePlayerSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePlayerSessionInput"},
      "output":{"shape":"CreatePlayerSessionOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidGameSessionStatusException"},
        {"shape":"GameSessionFullException"},
        {"shape":"TerminalRoutingStrategyException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"}
      ]
    },
    "CreatePlayerSessions":{
      "name":"CreatePlayerSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePlayerSessionsInput"},
      "output":{"shape":"CreatePlayerSessionsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidGameSessionStatusException"},
        {"shape":"GameSessionFullException"},
        {"shape":"TerminalRoutingStrategyException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"}
      ]
    },
    "CreateScript":{
      "name":"CreateScript",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateScriptInput"},
      "output":{"shape":"CreateScriptOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TaggingFailedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateVpcPeeringAuthorization":{
      "name":"CreateVpcPeeringAuthorization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcPeeringAuthorizationInput"},
      "output":{"shape":"CreateVpcPeeringAuthorizationOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateVpcPeeringConnection":{
      "name":"CreateVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcPeeringConnectionInput"},
      "output":{"shape":"CreateVpcPeeringConnectionOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteAlias":{
      "name":"DeleteAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAliasInput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TaggingFailedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteBuild":{
      "name":"DeleteBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBuildInput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TaggingFailedException"},
        {"shape":"InvalidRequestException"}
      ]
    },
    "DeleteFleet":{
      "name":"DeleteFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFleetInput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidFleetStatusException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "DeleteGameServerGroup":{
      "name":"DeleteGameServerGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGameServerGroupInput"},
      "output":{"shape":"DeleteGameServerGroupOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteGameSessionQueue":{
      "name":"DeleteGameSessionQueue",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGameSessionQueueInput"},
      "output":{"shape":"DeleteGameSessionQueueOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "DeleteMatchmakingConfiguration":{
      "name":"DeleteMatchmakingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMatchmakingConfigurationInput"},
      "output":{"shape":"DeleteMatchmakingConfigurationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "DeleteMatchmakingRuleSet":{
      "name":"DeleteMatchmakingRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMatchmakingRuleSetInput"},
      "output":{"shape":"DeleteMatchmakingRuleSetOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"},
        {"shape":"NotFoundException"},
        {"shape":"TaggingFailedException"}
      ]
    },
    "DeleteScalingPolicy":{
      "name":"DeleteScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteScalingPolicyInput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "DeleteScript":{
      "name":"DeleteScript",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteScriptInput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"},
        {"shape":"TaggingFailedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteVpcPeeringAuthorization":{
      "name":"DeleteVpcPeeringAuthorization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcPeeringAuthorizationInput"},
      "output":{"shape":"DeleteVpcPeeringAuthorizationOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteVpcPeeringConnection":{
      "name":"DeleteVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcPeeringConnectionInput"},
      "output":{"shape":"DeleteVpcPeeringConnectionOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeregisterGameServer":{
      "name":"DeregisterGameServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterGameServerInput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeAlias":{
      "name":"DescribeAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAliasInput"},
      "output":{"shape":"DescribeAliasOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeBuild":{
      "name":"DescribeBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBuildInput"},
      "output":{"shape":"DescribeBuildOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeEC2InstanceLimits":{
      "name":"DescribeEC2InstanceLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEC2InstanceLimitsInput"},
      "output":{"shape":"DescribeEC2InstanceLimitsOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DescribeFleetAttributes":{
      "name":"DescribeFleetAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAttributesInput"},
      "output":{"shape":"DescribeFleetAttributesOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DescribeFleetCapacity":{
      "name":"DescribeFleetCapacity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetCapacityInput"},
      "output":{"shape":"DescribeFleetCapacityOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DescribeFleetEvents":{
      "name":"DescribeFleetEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetEventsInput"},
      "output":{"shape":"DescribeFleetEventsOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"}
      ]
    },
    "DescribeFleetPortSettings":{
      "name":"DescribeFleetPortSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetPortSettingsInput"},
      "output":{"shape":"DescribeFleetPortSettingsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DescribeFleetUtilization":{
      "name":"DescribeFleetUtilization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetUtilizationInput"},
      "output":{"shape":"DescribeFleetUtilizationOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DescribeGameServer":{
      "name":"DescribeGameServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGameServerInput"},
      "output":{"shape":"DescribeGameServerOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeGameServerGroup":{
      "name":"DescribeGameServerGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGameServerGroupInput"},
      "output":{"shape":"DescribeGameServerGroupOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeGameServerInstances":{
      "name":"DescribeGameServerInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGameServerInstancesInput"},
      "output":{"shape":"DescribeGameServerInstancesOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeGameSessionDetails":{
      "name":"DescribeGameSessionDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGameSessionDetailsInput"},
      "output":{"shape":"DescribeGameSessionDetailsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"TerminalRoutingStrategyException"}
      ]
    },
    "DescribeGameSessionPlacement":{
      "name":"DescribeGameSessionPlacement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGameSessionPlacementInput"},
      "output":{"shape":"DescribeGameSessionPlacementOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DescribeGameSessionQueues":{
      "name":"DescribeGameSessionQueues",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGameSessionQueuesInput"},
      "output":{"shape":"DescribeGameSessionQueuesOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DescribeGameSessions":{
      "name":"DescribeGameSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGameSessionsInput"},
      "output":{"shape":"DescribeGameSessionsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"TerminalRoutingStrategyException"}
      ]
    },
    "DescribeInstances":{
      "name":"DescribeInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancesInput"},
      "output":{"shape":"DescribeInstancesOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeMatchmaking":{
      "name":"DescribeMatchmaking",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMatchmakingInput"},
      "output":{"shape":"DescribeMatchmakingOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"}
      ]
    },
    "DescribeMatchmakingConfigurations":{
      "name":"DescribeMatchmakingConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMatchmakingConfigurationsInput"},
      "output":{"shape":"DescribeMatchmakingConfigurationsOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"}
      ]
    },
    "DescribeMatchmakingRuleSets":{
      "name":"DescribeMatchmakingRuleSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMatchmakingRuleSetsInput"},
      "output":{"shape":"DescribeMatchmakingRuleSetsOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"UnsupportedRegionException"}
      ]
    },
    "DescribePlayerSessions":{
      "name":"DescribePlayerSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePlayerSessionsInput"},
      "output":{"shape":"DescribePlayerSessionsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DescribeRuntimeConfiguration":{
      "name":"DescribeRuntimeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRuntimeConfigurationInput"},
      "output":{"shape":"DescribeRuntimeConfigurationOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"}
      ]
    },
    "DescribeScalingPolicies":{
      "name":"DescribeScalingPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScalingPoliciesInput"},
      "output":{"shape":"DescribeScalingPoliciesOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "DescribeScript":{
      "name":"DescribeScript",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScriptInput"},
      "output":{"shape":"DescribeScriptOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"}
      ]
    },
    "DescribeVpcPeeringAuthorizations":{
      "name":"DescribeVpcPeeringAuthorizations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcPeeringAuthorizationsInput"},
      "output":{"shape":"DescribeVpcPeeringAuthorizationsOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeVpcPeeringConnections":{
      "name":"DescribeVpcPeeringConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcPeeringConnectionsInput"},
      "output":{"shape":"DescribeVpcPeeringConnectionsOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetGameSessionLogUrl":{
      "name":"GetGameSessionLogUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGameSessionLogUrlInput"},
      "output":{"shape":"GetGameSessionLogUrlOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"}
      ]
    },
    "GetInstanceAccess":{
      "name":"GetInstanceAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceAccessInput"},
      "output":{"shape":"GetInstanceAccessOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListAliases":{
      "name":"ListAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAliasesInput"},
      "output":{"shape":"ListAliasesOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListBuilds":{
      "name":"ListBuilds",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBuildsInput"},
      "output":{"shape":"ListBuildsOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListFleets":{
      "name":"ListFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFleetsInput"},
      "output":{"shape":"ListFleetsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListGameServerGroups":{
      "name":"ListGameServerGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGameServerGroupsInput"},
      "output":{"shape":"ListGameServerGroupsOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListGameServers":{
      "name":"ListGameServers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGameServersInput"},
      "output":{"shape":"ListGameServersOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListScripts":{
      "name":"ListScripts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListScriptsInput"},
      "output":{"shape":"ListScriptsOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TaggingFailedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "PutScalingPolicy":{
      "name":"PutScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutScalingPolicyInput"},
      "output":{"shape":"PutScalingPolicyOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "RegisterGameServer":{
      "name":"RegisterGameServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterGameServerInput"},
      "output":{"shape":"RegisterGameServerOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "RequestUploadCredentials":{
      "name":"RequestUploadCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestUploadCredentialsInput"},
      "output":{"shape":"RequestUploadCredentialsOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ResolveAlias":{
      "name":"ResolveAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResolveAliasInput"},
      "output":{"shape":"ResolveAliasOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"TerminalRoutingStrategyException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ResumeGameServerGroup":{
      "name":"ResumeGameServerGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResumeGameServerGroupInput"},
      "output":{"shape":"ResumeGameServerGroupOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "SearchGameSessions":{
      "name":"SearchGameSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchGameSessionsInput"},
      "output":{"shape":"SearchGameSessionsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"TerminalRoutingStrategyException"}
      ]
    },
    "StartFleetActions":{
      "name":"StartFleetActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartFleetActionsInput"},
      "output":{"shape":"StartFleetActionsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "StartGameSessionPlacement":{
      "name":"StartGameSessionPlacement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartGameSessionPlacementInput"},
      "output":{"shape":"StartGameSessionPlacementOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "StartMatchBackfill":{
      "name":"StartMatchBackfill",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMatchBackfillInput"},
      "output":{"shape":"StartMatchBackfillOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"}
      ]
    },
    "StartMatchmaking":{
      "name":"StartMatchmaking",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMatchmakingInput"},
      "output":{"shape":"StartMatchmakingOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"}
      ]
    },
    "StopFleetActions":{
      "name":"StopFleetActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopFleetActionsInput"},
      "output":{"shape":"StopFleetActionsOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "StopGameSessionPlacement":{
      "name":"StopGameSessionPlacement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopGameSessionPlacementInput"},
      "output":{"shape":"StopGameSessionPlacementOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "StopMatchmaking":{
      "name":"StopMatchmaking",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopMatchmakingInput"},
      "output":{"shape":"StopMatchmakingOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"}
      ]
    },
    "SuspendGameServerGroup":{
      "name":"SuspendGameServerGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SuspendGameServerGroupInput"},
      "output":{"shape":"SuspendGameServerGroupOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TaggingFailedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TaggingFailedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "UpdateAlias":{
      "name":"UpdateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAliasInput"},
      "output":{"shape":"UpdateAliasOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "UpdateBuild":{
      "name":"UpdateBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateBuildInput"},
      "output":{"shape":"UpdateBuildOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "UpdateFleetAttributes":{
      "name":"UpdateFleetAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFleetAttributesInput"},
      "output":{"shape":"UpdateFleetAttributesOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidFleetStatusException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "UpdateFleetCapacity":{
      "name":"UpdateFleetCapacity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFleetCapacityInput"},
      "output":{"shape":"UpdateFleetCapacityOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidFleetStatusException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "UpdateFleetPortSettings":{
      "name":"UpdateFleetPortSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFleetPortSettingsInput"},
      "output":{"shape":"UpdateFleetPortSettingsOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidFleetStatusException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "UpdateGameServer":{
      "name":"UpdateGameServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGameServerInput"},
      "output":{"shape":"UpdateGameServerOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "UpdateGameServerGroup":{
      "name":"UpdateGameServerGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGameServerGroupInput"},
      "output":{"shape":"UpdateGameServerGroupOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "UpdateGameSession":{
      "name":"UpdateGameSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGameSessionInput"},
      "output":{"shape":"UpdateGameSessionOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidGameSessionStatusException"},
        {"shape":"InvalidRequestException"}
      ]
    },
    "UpdateGameSessionQueue":{
      "name":"UpdateGameSessionQueue",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGameSessionQueueInput"},
      "output":{"shape":"UpdateGameSessionQueueOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "UpdateMatchmakingConfiguration":{
      "name":"UpdateMatchmakingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMatchmakingConfigurationInput"},
      "output":{"shape":"UpdateMatchmakingConfigurationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"}
      ]
    },
    "UpdateRuntimeConfiguration":{
      "name":"UpdateRuntimeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRuntimeConfigurationInput"},
      "output":{"shape":"UpdateRuntimeConfigurationOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidFleetStatusException"}
      ]
    },
    "UpdateScript":{
      "name":"UpdateScript",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateScriptInput"},
      "output":{"shape":"UpdateScriptOutput"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ValidateMatchmakingRuleSet":{
      "name":"ValidateMatchmakingRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ValidateMatchmakingRuleSetInput"},
      "output":{"shape":"ValidateMatchmakingRuleSetOutput"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"UnsupportedRegionException"},
        {"shape":"InvalidRequestException"}
      ]
    }
  },
  "shapes":{
    "AcceptMatchInput":{
      "type":"structure",
      "required":[
        "TicketId",
        "PlayerIds",
        "AcceptanceType"
      ],
      "members":{
        "TicketId":{"shape":"MatchmakingIdStringModel"},
        "PlayerIds":{"shape":"StringList"},
        "AcceptanceType":{"shape":"AcceptanceType"}
      }
    },
    "AcceptMatchOutput":{
      "type":"structure",
      "members":{
      }
    },
    "AcceptanceType":{
      "type":"string",
      "enum":[
        "ACCEPT",
        "REJECT"
      ]
    },
    "Alias":{
      "type":"structure",
      "members":{
        "AliasId":{"shape":"AliasId"},
        "Name":{"shape":"NonBlankAndLengthConstraintString"},
        "AliasArn":{"shape":"AliasArn"},
        "Description":{"shape":"FreeText"},
        "RoutingStrategy":{"shape":"RoutingStrategy"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"}
      }
    },
    "AliasArn":{
      "type":"string",
      "pattern":"^arn:.*:alias\\/alias-\\S+"
    },
    "AliasId":{
      "type":"string",
      "pattern":"^alias-\\S+"
    },
    "AliasIdOrArn":{
      "type":"string",
      "pattern":"^alias-\\S+|^arn:.*:alias\\/alias-\\S+"
    },
    "AliasList":{
      "type":"list",
      "member":{"shape":"Alias"}
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "ArnStringModel":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9:/-]+"
    },
    "AttributeValue":{
      "type":"structure",
      "members":{
        "S":{"shape":"NonZeroAndMaxString"},
        "N":{"shape":"DoubleObject"},
        "SL":{"shape":"StringList"},
        "SDM":{"shape":"StringDoubleMap"}
      }
    },
    "AutoScalingGroupArn":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "AwsCredentials":{
      "type":"structure",
      "members":{
        "AccessKeyId":{"shape":"NonEmptyString"},
        "SecretAccessKey":{"shape":"NonEmptyString"},
        "SessionToken":{"shape":"NonEmptyString"}
      },
      "sensitive":true
    },
    "BackfillMode":{
      "type":"string",
      "enum":[
        "AUTOMATIC",
        "MANUAL"
      ]
    },
    "BalancingStrategy":{
      "type":"string",
      "enum":[
        "SPOT_ONLY",
        "SPOT_PREFERRED",
        "ON_DEMAND_ONLY"
      ]
    },
    "BooleanModel":{"type":"boolean"},
    "Build":{
      "type":"structure",
      "members":{
        "BuildId":{"shape":"BuildId"},
        "BuildArn":{"shape":"BuildArn"},
        "Name":{"shape":"FreeText"},
        "Version":{"shape":"FreeText"},
        "Status":{"shape":"BuildStatus"},
        "SizeOnDisk":{"shape":"PositiveLong"},
        "OperatingSystem":{"shape":"OperatingSystem"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "BuildArn":{
      "type":"string",
      "pattern":"^arn:.*:build\\/build-\\S+"
    },
    "BuildId":{
      "type":"string",
      "pattern":"^build-\\S+"
    },
    "BuildIdOrArn":{
      "type":"string",
      "pattern":"^build-\\S+|^arn:.*:build\\/build-\\S+"
    },
    "BuildList":{
      "type":"list",
      "member":{"shape":"Build"}
    },
    "BuildStatus":{
      "type":"string",
      "enum":[
        "INITIALIZED",
        "READY",
        "FAILED"
      ]
    },
    "CertificateConfiguration":{
      "type":"structure",
      "required":["CertificateType"],
      "members":{
        "CertificateType":{"shape":"CertificateType"}
      }
    },
    "CertificateType":{
      "type":"string",
      "enum":[
        "DISABLED",
        "GENERATED"
      ]
    },
    "ClaimGameServerInput":{
      "type":"structure",
      "required":["GameServerGroupName"],
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupNameOrArn"},
        "GameServerId":{"shape":"GameServerId"},
        "GameServerData":{"shape":"GameServerData"}
      }
    },
    "ClaimGameServerOutput":{
      "type":"structure",
      "members":{
        "GameServer":{"shape":"GameServer"}
      }
    },
    "ComparisonOperatorType":{
      "type":"string",
      "enum":[
        "GreaterThanOrEqualToThreshold",
        "GreaterThanThreshold",
        "LessThanThreshold",
        "LessThanOrEqualToThreshold"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true
    },
    "CreateAliasInput":{
      "type":"structure",
      "required":[
        "Name",
        "RoutingStrategy"
      ],
      "members":{
        "Name":{"shape":"NonBlankAndLengthConstraintString"},
        "Description":{"shape":"NonZeroAndMaxString"},
        "RoutingStrategy":{"shape":"RoutingStrategy"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateAliasOutput":{
      "type":"structure",
      "members":{
        "Alias":{"shape":"Alias"}
      }
    },
    "CreateBuildInput":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonZeroAndMaxString"},
        "Version":{"shape":"NonZeroAndMaxString"},
        "StorageLocation":{"shape":"S3Location"},
        "OperatingSystem":{"shape":"OperatingSystem"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateBuildOutput":{
      "type":"structure",
      "members":{
        "Build":{"shape":"Build"},
        "UploadCredentials":{"shape":"AwsCredentials"},
        "StorageLocation":{"shape":"S3Location"}
      }
    },
    "CreateFleetInput":{
      "type":"structure",
      "required":[
        "Name",
        "EC2InstanceType"
      ],
      "members":{
        "Name":{"shape":"NonZeroAndMaxString"},
        "Description":{"shape":"NonZeroAndMaxString"},
        "BuildId":{"shape":"BuildIdOrArn"},
        "ScriptId":{"shape":"ScriptIdOrArn"},
        "ServerLaunchPath":{"shape":"NonZeroAndMaxString"},
        "ServerLaunchParameters":{"shape":"NonZeroAndMaxString"},
        "LogPaths":{"shape":"StringList"},
        "EC2InstanceType":{"shape":"EC2InstanceType"},
        "EC2InboundPermissions":{"shape":"IpPermissionsList"},
        "NewGameSessionProtectionPolicy":{"shape":"ProtectionPolicy"},
        "RuntimeConfiguration":{"shape":"RuntimeConfiguration"},
        "ResourceCreationLimitPolicy":{"shape":"ResourceCreationLimitPolicy"},
        "MetricGroups":{"shape":"MetricGroupList"},
        "PeerVpcAwsAccountId":{"shape":"NonZeroAndMaxString"},
        "PeerVpcId":{"shape":"NonZeroAndMaxString"},
        "FleetType":{"shape":"FleetType"},
        "InstanceRoleArn":{"shape":"NonEmptyString"},
        "CertificateConfiguration":{"shape":"CertificateConfiguration"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateFleetOutput":{
      "type":"structure",
      "members":{
        "FleetAttributes":{"shape":"FleetAttributes"}
      }
    },
    "CreateGameServerGroupInput":{
      "type":"structure",
      "required":[
        "GameServerGroupName",
        "RoleArn",
        "MinSize",
        "MaxSize",
        "LaunchTemplate",
        "InstanceDefinitions"
      ],
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupName"},
        "RoleArn":{"shape":"IamRoleArn"},
        "MinSize":{"shape":"WholeNumber"},
        "MaxSize":{"shape":"PositiveInteger"},
        "LaunchTemplate":{"shape":"LaunchTemplateSpecification"},
        "InstanceDefinitions":{"shape":"InstanceDefinitions"},
        "AutoScalingPolicy":{"shape":"GameServerGroupAutoScalingPolicy"},
        "BalancingStrategy":{"shape":"BalancingStrategy"},
        "GameServerProtectionPolicy":{"shape":"GameServerProtectionPolicy"},
        "VpcSubnets":{"shape":"VpcSubnets"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateGameServerGroupOutput":{
      "type":"structure",
      "members":{
        "GameServerGroup":{"shape":"GameServerGroup"}
      }
    },
    "CreateGameSessionInput":{
      "type":"structure",
      "required":["MaximumPlayerSessionCount"],
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"},
        "AliasId":{"shape":"AliasIdOrArn"},
        "MaximumPlayerSessionCount":{"shape":"WholeNumber"},
        "Name":{"shape":"NonZeroAndMaxString"},
        "GameProperties":{"shape":"GamePropertyList"},
        "CreatorId":{"shape":"NonZeroAndMaxString"},
        "GameSessionId":{"shape":"IdStringModel"},
        "IdempotencyToken":{"shape":"IdStringModel"},
        "GameSessionData":{"shape":"GameSessionData"}
      }
    },
    "CreateGameSessionOutput":{
      "type":"structure",
      "members":{
        "GameSession":{"shape":"GameSession"}
      }
    },
    "CreateGameSessionQueueInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"GameSessionQueueName"},
        "TimeoutInSeconds":{"shape":"WholeNumber"},
        "PlayerLatencyPolicies":{"shape":"PlayerLatencyPolicyList"},
        "Destinations":{"shape":"GameSessionQueueDestinationList"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateGameSessionQueueOutput":{
      "type":"structure",
      "members":{
        "GameSessionQueue":{"shape":"GameSessionQueue"}
      }
    },
    "CreateMatchmakingConfigurationInput":{
      "type":"structure",
      "required":[
        "Name",
        "GameSessionQueueArns",
        "RequestTimeoutSeconds",
        "AcceptanceRequired",
        "RuleSetName"
      ],
      "members":{
        "Name":{"shape":"MatchmakingIdStringModel"},
        "Description":{"shape":"NonZeroAndMaxString"},
        "GameSessionQueueArns":{"shape":"QueueArnsList"},
        "RequestTimeoutSeconds":{"shape":"MatchmakingRequestTimeoutInteger"},
        "AcceptanceTimeoutSeconds":{"shape":"MatchmakingAcceptanceTimeoutInteger"},
        "AcceptanceRequired":{"shape":"BooleanModel"},
        "RuleSetName":{"shape":"MatchmakingRuleSetName"},
        "NotificationTarget":{"shape":"SnsArnStringModel"},
        "AdditionalPlayerCount":{"shape":"WholeNumber"},
        "CustomEventData":{"shape":"CustomEventData"},
        "GameProperties":{"shape":"GamePropertyList"},
        "GameSessionData":{"shape":"GameSessionData"},
        "BackfillMode":{"shape":"BackfillMode"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateMatchmakingConfigurationOutput":{
      "type":"structure",
      "members":{
        "Configuration":{"shape":"MatchmakingConfiguration"}
      }
    },
    "CreateMatchmakingRuleSetInput":{
      "type":"structure",
      "required":[
        "Name",
        "RuleSetBody"
      ],
      "members":{
        "Name":{"shape":"MatchmakingIdStringModel"},
        "RuleSetBody":{"shape":"RuleSetBody"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateMatchmakingRuleSetOutput":{
      "type":"structure",
      "required":["RuleSet"],
      "members":{
        "RuleSet":{"shape":"MatchmakingRuleSet"}
      }
    },
    "CreatePlayerSessionInput":{
      "type":"structure",
      "required":[
        "GameSessionId",
        "PlayerId"
      ],
      "members":{
        "GameSessionId":{"shape":"ArnStringModel"},
        "PlayerId":{"shape":"NonZeroAndMaxString"},
        "PlayerData":{"shape":"PlayerData"}
      }
    },
    "CreatePlayerSessionOutput":{
      "type":"structure",
      "members":{
        "PlayerSession":{"shape":"PlayerSession"}
      }
    },
    "CreatePlayerSessionsInput":{
      "type":"structure",
      "required":[
        "GameSessionId",
        "PlayerIds"
      ],
      "members":{
        "GameSessionId":{"shape":"ArnStringModel"},
        "PlayerIds":{"shape":"PlayerIdList"},
        "PlayerDataMap":{"shape":"PlayerDataMap"}
      }
    },
    "CreatePlayerSessionsOutput":{
      "type":"structure",
      "members":{
        "PlayerSessions":{"shape":"PlayerSessionList"}
      }
    },
    "CreateScriptInput":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonZeroAndMaxString"},
        "Version":{"shape":"NonZeroAndMaxString"},
        "StorageLocation":{"shape":"S3Location"},
        "ZipFile":{"shape":"ZipBlob"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateScriptOutput":{
      "type":"structure",
      "members":{
        "Script":{"shape":"Script"}
      }
    },
    "CreateVpcPeeringAuthorizationInput":{
      "type":"structure",
      "required":[
        "GameLiftAwsAccountId",
        "PeerVpcId"
      ],
      "members":{
        "GameLiftAwsAccountId":{"shape":"NonZeroAndMaxString"},
        "PeerVpcId":{"shape":"NonZeroAndMaxString"}
      }
    },
    "CreateVpcPeeringAuthorizationOutput":{
      "type":"structure",
      "members":{
        "VpcPeeringAuthorization":{"shape":"VpcPeeringAuthorization"}
      }
    },
    "CreateVpcPeeringConnectionInput":{
      "type":"structure",
      "required":[
        "FleetId",
        "PeerVpcAwsAccountId",
        "PeerVpcId"
      ],
      "members":{
        "FleetId":{"shape":"FleetId"},
        "PeerVpcAwsAccountId":{"shape":"NonZeroAndMaxString"},
        "PeerVpcId":{"shape":"NonZeroAndMaxString"}
      }
    },
    "CreateVpcPeeringConnectionOutput":{
      "type":"structure",
      "members":{
      }
    },
    "CustomEventData":{
      "type":"string",
      "max":256,
      "min":0
    },
    "DeleteAliasInput":{
      "type":"structure",
      "required":["AliasId"],
      "members":{
        "AliasId":{"shape":"AliasIdOrArn"}
      }
    },
    "DeleteBuildInput":{
      "type":"structure",
      "required":["BuildId"],
      "members":{
        "BuildId":{"shape":"BuildIdOrArn"}
      }
    },
    "DeleteFleetInput":{
      "type":"structure",
      "required":["FleetId"],
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"}
      }
    },
    "DeleteGameServerGroupInput":{
      "type":"structure",
      "required":["GameServerGroupName"],
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupNameOrArn"},
        "DeleteOption":{"shape":"GameServerGroupDeleteOption"}
      }
    },
    "DeleteGameServerGroupOutput":{
      "type":"structure",
      "members":{
        "GameServerGroup":{"shape":"GameServerGroup"}
      }
    },
    "DeleteGameSessionQueueInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"GameSessionQueueNameOrArn"}
      }
    },
    "DeleteGameSessionQueueOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMatchmakingConfigurationInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"MatchmakingConfigurationName"}
      }
    },
    "DeleteMatchmakingConfigurationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMatchmakingRuleSetInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"MatchmakingRuleSetName"}
      }
    },
    "DeleteMatchmakingRuleSetOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteScalingPolicyInput":{
      "type":"structure",
      "required":[
        "Name",
        "FleetId"
      ],
      "members":{
        "Name":{"shape":"NonZeroAndMaxString"},
        "FleetId":{"shape":"FleetIdOrArn"}
      }
    },
    "DeleteScriptInput":{
      "type":"structure",
      "required":["ScriptId"],
      "members":{
        "ScriptId":{"shape":"ScriptIdOrArn"}
      }
    },
    "DeleteVpcPeeringAuthorizationInput":{
      "type":"structure",
      "required":[
        "GameLiftAwsAccountId",
        "PeerVpcId"
      ],
      "members":{
        "GameLiftAwsAccountId":{"shape":"NonZeroAndMaxString"},
        "PeerVpcId":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DeleteVpcPeeringAuthorizationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteVpcPeeringConnectionInput":{
      "type":"structure",
      "required":[
        "FleetId",
        "VpcPeeringConnectionId"
      ],
      "members":{
        "FleetId":{"shape":"FleetId"},
        "VpcPeeringConnectionId":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DeleteVpcPeeringConnectionOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterGameServerInput":{
      "type":"structure",
      "required":[
        "GameServerGroupName",
        "GameServerId"
      ],
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupNameOrArn"},
        "GameServerId":{"shape":"GameServerId"}
      }
    },
    "DescribeAliasInput":{
      "type":"structure",
      "required":["AliasId"],
      "members":{
        "AliasId":{"shape":"AliasIdOrArn"}
      }
    },
    "DescribeAliasOutput":{
      "type":"structure",
      "members":{
        "Alias":{"shape":"Alias"}
      }
    },
    "DescribeBuildInput":{
      "type":"structure",
      "required":["BuildId"],
      "members":{
        "BuildId":{"shape":"BuildIdOrArn"}
      }
    },
    "DescribeBuildOutput":{
      "type":"structure",
      "members":{
        "Build":{"shape":"Build"}
      }
    },
    "DescribeEC2InstanceLimitsInput":{
      "type":"structure",
      "members":{
        "EC2InstanceType":{"shape":"EC2InstanceType"}
      }
    },
    "DescribeEC2InstanceLimitsOutput":{
      "type":"structure",
      "members":{
        "EC2InstanceLimits":{"shape":"EC2InstanceLimitList"}
      }
    },
    "DescribeFleetAttributesInput":{
      "type":"structure",
      "members":{
        "FleetIds":{"shape":"FleetIdOrArnList"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeFleetAttributesOutput":{
      "type":"structure",
      "members":{
        "FleetAttributes":{"shape":"FleetAttributesList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeFleetCapacityInput":{
      "type":"structure",
      "members":{
        "FleetIds":{"shape":"FleetIdOrArnList"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeFleetCapacityOutput":{
      "type":"structure",
      "members":{
        "FleetCapacity":{"shape":"FleetCapacityList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeFleetEventsInput":{
      "type":"structure",
      "required":["FleetId"],
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeFleetEventsOutput":{
      "type":"structure",
      "members":{
        "Events":{"shape":"EventList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeFleetPortSettingsInput":{
      "type":"structure",
      "required":["FleetId"],
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"}
      }
    },
    "DescribeFleetPortSettingsOutput":{
      "type":"structure",
      "members":{
        "InboundPermissions":{"shape":"IpPermissionsList"}
      }
    },
    "DescribeFleetUtilizationInput":{
      "type":"structure",
      "members":{
        "FleetIds":{"shape":"FleetIdOrArnList"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeFleetUtilizationOutput":{
      "type":"structure",
      "members":{
        "FleetUtilization":{"shape":"FleetUtilizationList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeGameServerGroupInput":{
      "type":"structure",
      "required":["GameServerGroupName"],
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupNameOrArn"}
      }
    },
    "DescribeGameServerGroupOutput":{
      "type":"structure",
      "members":{
        "GameServerGroup":{"shape":"GameServerGroup"}
      }
    },
    "DescribeGameServerInput":{
      "type":"structure",
      "required":[
        "GameServerGroupName",
        "GameServerId"
      ],
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupNameOrArn"},
        "GameServerId":{"shape":"GameServerId"}
      }
    },
    "DescribeGameServerInstancesInput":{
      "type":"structure",
      "required":["GameServerGroupName"],
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupNameOrArn"},
        "InstanceIds":{"shape":"GameServerInstanceIds"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeGameServerInstancesOutput":{
      "type":"structure",
      "members":{
        "GameServerInstances":{"shape":"GameServerInstances"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeGameServerOutput":{
      "type":"structure",
      "members":{
        "GameServer":{"shape":"GameServer"}
      }
    },
    "DescribeGameSessionDetailsInput":{
      "type":"structure",
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"},
        "GameSessionId":{"shape":"ArnStringModel"},
        "AliasId":{"shape":"AliasIdOrArn"},
        "StatusFilter":{"shape":"NonZeroAndMaxString"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeGameSessionDetailsOutput":{
      "type":"structure",
      "members":{
        "GameSessionDetails":{"shape":"GameSessionDetailList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeGameSessionPlacementInput":{
      "type":"structure",
      "required":["PlacementId"],
      "members":{
        "PlacementId":{"shape":"IdStringModel"}
      }
    },
    "DescribeGameSessionPlacementOutput":{
      "type":"structure",
      "members":{
        "GameSessionPlacement":{"shape":"GameSessionPlacement"}
      }
    },
    "DescribeGameSessionQueuesInput":{
      "type":"structure",
      "members":{
        "Names":{"shape":"GameSessionQueueNameOrArnList"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeGameSessionQueuesOutput":{
      "type":"structure",
      "members":{
        "GameSessionQueues":{"shape":"GameSessionQueueList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeGameSessionsInput":{
      "type":"structure",
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"},
        "GameSessionId":{"shape":"ArnStringModel"},
        "AliasId":{"shape":"AliasIdOrArn"},
        "StatusFilter":{"shape":"NonZeroAndMaxString"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeGameSessionsOutput":{
      "type":"structure",
      "members":{
        "GameSessions":{"shape":"GameSessionList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeInstancesInput":{
      "type":"structure",
      "required":["FleetId"],
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"},
        "InstanceId":{"shape":"InstanceId"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeInstancesOutput":{
      "type":"structure",
      "members":{
        "Instances":{"shape":"InstanceList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeMatchmakingConfigurationsInput":{
      "type":"structure",
      "members":{
        "Names":{"shape":"MatchmakingConfigurationNameList"},
        "RuleSetName":{"shape":"MatchmakingRuleSetName"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeMatchmakingConfigurationsOutput":{
      "type":"structure",
      "members":{
        "Configurations":{"shape":"MatchmakingConfigurationList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeMatchmakingInput":{
      "type":"structure",
      "required":["TicketIds"],
      "members":{
        "TicketIds":{"shape":"MatchmakingIdList"}
      }
    },
    "DescribeMatchmakingOutput":{
      "type":"structure",
      "members":{
        "TicketList":{"shape":"MatchmakingTicketList"}
      }
    },
    "DescribeMatchmakingRuleSetsInput":{
      "type":"structure",
      "members":{
        "Names":{"shape":"MatchmakingRuleSetNameList"},
        "Limit":{"shape":"RuleSetLimit"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeMatchmakingRuleSetsOutput":{
      "type":"structure",
      "required":["RuleSets"],
      "members":{
        "RuleSets":{"shape":"MatchmakingRuleSetList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribePlayerSessionsInput":{
      "type":"structure",
      "members":{
        "GameSessionId":{"shape":"ArnStringModel"},
        "PlayerId":{"shape":"NonZeroAndMaxString"},
        "PlayerSessionId":{"shape":"PlayerSessionId"},
        "PlayerSessionStatusFilter":{"shape":"NonZeroAndMaxString"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribePlayerSessionsOutput":{
      "type":"structure",
      "members":{
        "PlayerSessions":{"shape":"PlayerSessionList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeRuntimeConfigurationInput":{
      "type":"structure",
      "required":["FleetId"],
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"}
      }
    },
    "DescribeRuntimeConfigurationOutput":{
      "type":"structure",
      "members":{
        "RuntimeConfiguration":{"shape":"RuntimeConfiguration"}
      }
    },
    "DescribeScalingPoliciesInput":{
      "type":"structure",
      "required":["FleetId"],
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"},
        "StatusFilter":{"shape":"ScalingStatusType"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeScalingPoliciesOutput":{
      "type":"structure",
      "members":{
        "ScalingPolicies":{"shape":"ScalingPolicyList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "DescribeScriptInput":{
      "type":"structure",
      "required":["ScriptId"],
      "members":{
        "ScriptId":{"shape":"ScriptIdOrArn"}
      }
    },
    "DescribeScriptOutput":{
      "type":"structure",
      "members":{
        "Script":{"shape":"Script"}
      }
    },
    "DescribeVpcPeeringAuthorizationsInput":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeVpcPeeringAuthorizationsOutput":{
      "type":"structure",
      "members":{
        "VpcPeeringAuthorizations":{"shape":"VpcPeeringAuthorizationList"}
      }
    },
    "DescribeVpcPeeringConnectionsInput":{
      "type":"structure",
      "members":{
        "FleetId":{"shape":"FleetId"}
      }
    },
    "DescribeVpcPeeringConnectionsOutput":{
      "type":"structure",
      "members":{
        "VpcPeeringConnections":{"shape":"VpcPeeringConnectionList"}
      }
    },
    "DesiredPlayerSession":{
      "type":"structure",
      "members":{
        "PlayerId":{"shape":"NonZeroAndMaxString"},
        "PlayerData":{"shape":"PlayerData"}
      }
    },
    "DesiredPlayerSessionList":{
      "type":"list",
      "member":{"shape":"DesiredPlayerSession"}
    },
    "DnsName":{"type":"string"},
    "Double":{"type":"double"},
    "DoubleObject":{"type":"double"},
    "EC2InstanceCounts":{
      "type":"structure",
      "members":{
        "DESIRED":{"shape":"WholeNumber"},
        "MINIMUM":{"shape":"WholeNumber"},
        "MAXIMUM":{"shape":"WholeNumber"},
        "PENDING":{"shape":"WholeNumber"},
        "ACTIVE":{"shape":"WholeNumber"},
        "IDLE":{"shape":"WholeNumber"},
        "TERMINATING":{"shape":"WholeNumber"}
      }
    },
    "EC2InstanceLimit":{
      "type":"structure",
      "members":{
        "EC2InstanceType":{"shape":"EC2InstanceType"},
        "CurrentInstances":{"shape":"WholeNumber"},
        "InstanceLimit":{"shape":"WholeNumber"}
      }
    },
    "EC2InstanceLimitList":{
      "type":"list",
      "member":{"shape":"EC2InstanceLimit"}
    },
    "EC2InstanceType":{
      "type":"string",
      "enum":[
        "t2.micro",
        "t2.small",
        "t2.medium",
        "t2.large",
        "c3.large",
        "c3.xlarge",
        "c3.2xlarge",
        "c3.4xlarge",
        "c3.8xlarge",
        "c4.large",
        "c4.xlarge",
        "c4.2xlarge",
        "c4.4xlarge",
        "c4.8xlarge",
        "c5.large",
        "c5.xlarge",
        "c5.2xlarge",
        "c5.4xlarge",
        "c5.9xlarge",
        "c5.12xlarge",
        "c5.18xlarge",
        "c5.24xlarge",
        "r3.large",
        "r3.xlarge",
        "r3.2xlarge",
        "r3.4xlarge",
        "r3.8xlarge",
        "r4.large",
        "r4.xlarge",
        "r4.2xlarge",
        "r4.4xlarge",
        "r4.8xlarge",
        "r4.16xlarge",
        "r5.large",
        "r5.xlarge",
        "r5.2xlarge",
        "r5.4xlarge",
        "r5.8xlarge",
        "r5.12xlarge",
        "r5.16xlarge",
        "r5.24xlarge",
        "m3.medium",
        "m3.large",
        "m3.xlarge",
        "m3.2xlarge",
        "m4.large",
        "m4.xlarge",
        "m4.2xlarge",
        "m4.4xlarge",
        "m4.10xlarge",
        "m5.large",
        "m5.xlarge",
        "m5.2xlarge",
        "m5.4xlarge",
        "m5.8xlarge",
        "m5.12xlarge",
        "m5.16xlarge",
        "m5.24xlarge"
      ]
    },
    "Event":{
      "type":"structure",
      "members":{
        "EventId":{"shape":"NonZeroAndMaxString"},
        "ResourceId":{"shape":"NonZeroAndMaxString"},
        "EventCode":{"shape":"EventCode"},
        "Message":{"shape":"NonEmptyString"},
        "EventTime":{"shape":"Timestamp"},
        "PreSignedLogUrl":{"shape":"NonZeroAndMaxString"}
      }
    },
    "EventCode":{
      "type":"string",
      "enum":[
        "GENERIC_EVENT",
        "FLEET_CREATED",
        "FLEET_DELETED",
        "FLEET_SCALING_EVENT",
        "FLEET_STATE_DOWNLOADING",
        "FLEET_STATE_VALIDATING",
        "FLEET_STATE_BUILDING",
        "FLEET_STATE_ACTIVATING",
        "FLEET_STATE_ACTIVE",
        "FLEET_STATE_ERROR",
        "FLEET_INITIALIZATION_FAILED",
        "FLEET_BINARY_DOWNLOAD_FAILED",
        "FLEET_VALIDATION_LAUNCH_PATH_NOT_FOUND",
        "FLEET_VALIDATION_EXECUTABLE_RUNTIME_FAILURE",
        "FLEET_VALIDATION_TIMED_OUT",
        "FLEET_ACTIVATION_FAILED",
        "FLEET_ACTIVATION_FAILED_NO_INSTANCES",
        "FLEET_NEW_GAME_SESSION_PROTECTION_POLICY_UPDATED",
        "SERVER_PROCESS_INVALID_PATH",
        "SERVER_PROCESS_SDK_INITIALIZATION_TIMEOUT",
        "SERVER_PROCESS_PROCESS_READY_TIMEOUT",
        "SERVER_PROCESS_CRASHED",
        "SERVER_PROCESS_TERMINATED_UNHEALTHY",
        "SERVER_PROCESS_FORCE_TERMINATED",
        "SERVER_PROCESS_PROCESS_EXIT_TIMEOUT",
        "GAME_SESSION_ACTIVATION_TIMEOUT",
        "FLEET_CREATION_EXTRACTING_BUILD",
        "FLEET_CREATION_RUNNING_INSTALLER",
        "FLEET_CREATION_VALIDATING_RUNTIME_CONFIG",
        "FLEET_VPC_PEERING_SUCCEEDED",
        "FLEET_VPC_PEERING_FAILED",
        "FLEET_VPC_PEERING_DELETED",
        "INSTANCE_INTERRUPTED"
      ]
    },
    "EventList":{
      "type":"list",
      "member":{"shape":"Event"}
    },
    "FleetAction":{
      "type":"string",
      "enum":["AUTO_SCALING"]
    },
    "FleetActionList":{
      "type":"list",
      "member":{"shape":"FleetAction"},
      "max":1,
      "min":1
    },
    "FleetArn":{
      "type":"string",
      "pattern":"^arn:.*:fleet\\/fleet-\\S+"
    },
    "FleetAttributes":{
      "type":"structure",
      "members":{
        "FleetId":{"shape":"FleetId"},
        "FleetArn":{"shape":"FleetArn"},
        "FleetType":{"shape":"FleetType"},
        "InstanceType":{"shape":"EC2InstanceType"},
        "Description":{"shape":"NonZeroAndMaxString"},
        "Name":{"shape":"NonZeroAndMaxString"},
        "CreationTime":{"shape":"Timestamp"},
        "TerminationTime":{"shape":"Timestamp"},
        "Status":{"shape":"FleetStatus"},
        "BuildId":{"shape":"BuildId"},
        "BuildArn":{"shape":"BuildArn"},
        "ScriptId":{"shape":"ScriptId"},
        "ScriptArn":{"shape":"ScriptArn"},
        "ServerLaunchPath":{"shape":"NonZeroAndMaxString"},
        "ServerLaunchParameters":{"shape":"NonZeroAndMaxString"},
        "LogPaths":{"shape":"StringList"},
        "NewGameSessionProtectionPolicy":{"shape":"ProtectionPolicy"},
        "OperatingSystem":{"shape":"OperatingSystem"},
        "ResourceCreationLimitPolicy":{"shape":"ResourceCreationLimitPolicy"},
        "MetricGroups":{"shape":"MetricGroupList"},
        "StoppedActions":{"shape":"FleetActionList"},
        "InstanceRoleArn":{"shape":"NonEmptyString"},
        "CertificateConfiguration":{"shape":"CertificateConfiguration"}
      }
    },
    "FleetAttributesList":{
      "type":"list",
      "member":{"shape":"FleetAttributes"}
    },
    "FleetCapacity":{
      "type":"structure",
      "members":{
        "FleetId":{"shape":"FleetId"},
        "InstanceType":{"shape":"EC2InstanceType"},
        "InstanceCounts":{"shape":"EC2InstanceCounts"}
      }
    },
    "FleetCapacityExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true
    },
    "FleetCapacityList":{
      "type":"list",
      "member":{"shape":"FleetCapacity"}
    },
    "FleetId":{
      "type":"string",
      "pattern":"^fleet-\\S+"
    },
    "FleetIdList":{
      "type":"list",
      "member":{"shape":"FleetId"},
      "min":1
    },
    "FleetIdOrArn":{
      "type":"string",
      "pattern":"^fleet-\\S+|^arn:.*:fleet\\/fleet-\\S+"
    },
    "FleetIdOrArnList":{
      "type":"list",
      "member":{"shape":"FleetIdOrArn"},
      "min":1
    },
    "FleetStatus":{
      "type":"string",
      "enum":[
        "NEW",
        "DOWNLOADING",
        "VALIDATING",
        "BUILDING",
        "ACTIVATING",
        "ACTIVE",
        "DELETING",
        "ERROR",
        "TERMINATED"
      ]
    },
    "FleetType":{
      "type":"string",
      "enum":[
        "ON_DEMAND",
        "SPOT"
      ]
    },
    "FleetUtilization":{
      "type":"structure",
      "members":{
        "FleetId":{"shape":"FleetId"},
        "ActiveServerProcessCount":{"shape":"WholeNumber"},
        "ActiveGameSessionCount":{"shape":"WholeNumber"},
        "CurrentPlayerSessionCount":{"shape":"WholeNumber"},
        "MaximumPlayerSessionCount":{"shape":"WholeNumber"}
      }
    },
    "FleetUtilizationList":{
      "type":"list",
      "member":{"shape":"FleetUtilization"}
    },
    "Float":{"type":"float"},
    "FreeText":{"type":"string"},
    "GameProperty":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"GamePropertyKey"},
        "Value":{"shape":"GamePropertyValue"}
      }
    },
    "GamePropertyKey":{
      "type":"string",
      "max":32
    },
    "GamePropertyList":{
      "type":"list",
      "member":{"shape":"GameProperty"},
      "max":16
    },
    "GamePropertyValue":{
      "type":"string",
      "max":96
    },
    "GameServer":{
      "type":"structure",
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupName"},
        "GameServerGroupArn":{"shape":"GameServerGroupArn"},
        "GameServerId":{"shape":"GameServerId"},
        "InstanceId":{"shape":"GameServerInstanceId"},
        "ConnectionInfo":{"shape":"GameServerConnectionInfo"},
        "GameServerData":{"shape":"GameServerData"},
        "ClaimStatus":{"shape":"GameServerClaimStatus"},
        "UtilizationStatus":{"shape":"GameServerUtilizationStatus"},
        "RegistrationTime":{"shape":"Timestamp"},
        "LastClaimTime":{"shape":"Timestamp"},
        "LastHealthCheckTime":{"shape":"Timestamp"}
      }
    },
    "GameServerClaimStatus":{
      "type":"string",
      "enum":["CLAIMED"]
    },
    "GameServerConnectionInfo":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":".*\\S.*"
    },
    "GameServerData":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":".*\\S.*"
    },
    "GameServerGroup":{
      "type":"structure",
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupName"},
        "GameServerGroupArn":{"shape":"GameServerGroupArn"},
        "RoleArn":{"shape":"IamRoleArn"},
        "InstanceDefinitions":{"shape":"InstanceDefinitions"},
        "BalancingStrategy":{"shape":"BalancingStrategy"},
        "GameServerProtectionPolicy":{"shape":"GameServerProtectionPolicy"},
        "AutoScalingGroupArn":{"shape":"AutoScalingGroupArn"},
        "Status":{"shape":"GameServerGroupStatus"},
        "StatusReason":{"shape":"NonZeroAndMaxString"},
        "SuspendedActions":{"shape":"GameServerGroupActions"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"}
      }
    },
    "GameServerGroupAction":{
      "type":"string",
      "enum":["REPLACE_INSTANCE_TYPES"]
    },
    "GameServerGroupActions":{
      "type":"list",
      "member":{"shape":"GameServerGroupAction"},
      "max":1,
      "min":1
    },
    "GameServerGroupArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^arn:.*:gameservergroup\\/[a-zA-Z0-9-\\.]*"
    },
    "GameServerGroupAutoScalingPolicy":{
      "type":"structure",
      "required":["TargetTrackingConfiguration"],
      "members":{
        "EstimatedInstanceWarmup":{"shape":"PositiveInteger"},
        "TargetTrackingConfiguration":{"shape":"TargetTrackingConfiguration"}
      }
    },
    "GameServerGroupDeleteOption":{
      "type":"string",
      "enum":[
        "SAFE_DELETE",
        "FORCE_DELETE",
        "RETAIN"
      ]
    },
    "GameServerGroupInstanceType":{
      "type":"string",
      "enum":[
        "c4.large",
        "c4.xlarge",
        "c4.2xlarge",
        "c4.4xlarge",
        "c4.8xlarge",
        "c5.large",
        "c5.xlarge",
        "c5.2xlarge",
        "c5.4xlarge",
        "c5.9xlarge",
        "c5.12xlarge",
        "c5.18xlarge",
        "c5.24xlarge",
        "r4.large",
        "r4.xlarge",
        "r4.2xlarge",
        "r4.4xlarge",
        "r4.8xlarge",
        "r4.16xlarge",
        "r5.large",
        "r5.xlarge",
        "r5.2xlarge",
        "r5.4xlarge",
        "r5.8xlarge",
        "r5.12xlarge",
        "r5.16xlarge",
        "r5.24xlarge",
        "m4.large",
        "m4.xlarge",
        "m4.2xlarge",
        "m4.4xlarge",
        "m4.10xlarge",
        "m5.large",
        "m5.xlarge",
        "m5.2xlarge",
        "m5.4xlarge",
        "m5.8xlarge",
        "m5.12xlarge",
        "m5.16xlarge",
        "m5.24xlarge"
      ]
    },
    "GameServerGroupName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9-\\.]+"
    },
    "GameServerGroupNameOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9-\\.]+|^arn:.*:gameservergroup\\/[a-zA-Z0-9-\\.]+"
    },
    "GameServerGroupStatus":{
      "type":"string",
      "enum":[
        "NEW",
        "ACTIVATING",
        "ACTIVE",
        "DELETE_SCHEDULED",
        "DELETING",
        "DELETED",
        "ERROR"
      ]
    },
    "GameServerGroups":{
      "type":"list",
      "member":{"shape":"GameServerGroup"}
    },
    "GameServerHealthCheck":{
      "type":"string",
      "enum":["HEALTHY"]
    },
    "GameServerId":{
      "type":"string",
      "max":128,
      "min":3,
      "pattern":"[a-zA-Z0-9-\\.]+"
    },
    "GameServerInstance":{
      "type":"structure",
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupName"},
        "GameServerGroupArn":{"shape":"GameServerGroupArn"},
        "InstanceId":{"shape":"GameServerInstanceId"},
        "InstanceStatus":{"shape":"GameServerInstanceStatus"}
      }
    },
    "GameServerInstanceId":{
      "type":"string",
      "max":19,
      "min":19,
      "pattern":"^i-[0-9a-zA-Z]{17}$"
    },
    "GameServerInstanceIds":{
      "type":"list",
      "member":{"shape":"GameServerInstanceId"},
      "max":20,
      "min":1
    },
    "GameServerInstanceStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "DRAINING",
        "SPOT_TERMINATING"
      ]
    },
    "GameServerInstances":{
      "type":"list",
      "member":{"shape":"GameServerInstance"}
    },
    "GameServerProtectionPolicy":{
      "type":"string",
      "enum":[
        "NO_PROTECTION",
        "FULL_PROTECTION"
      ]
    },
    "GameServerUtilizationStatus":{
      "type":"string",
      "enum":[
        "AVAILABLE",
        "UTILIZED"
      ]
    },
    "GameServers":{
      "type":"list",
      "member":{"shape":"GameServer"}
    },
    "GameSession":{
      "type":"structure",
      "members":{
        "GameSessionId":{"shape":"NonZeroAndMaxString"},
        "Name":{"shape":"NonZeroAndMaxString"},
        "FleetId":{"shape":"FleetId"},
        "FleetArn":{"shape":"FleetArn"},
        "CreationTime":{"shape":"Timestamp"},
        "TerminationTime":{"shape":"Timestamp"},
        "CurrentPlayerSessionCount":{"shape":"WholeNumber"},
        "MaximumPlayerSessionCount":{"shape":"WholeNumber"},
        "Status":{"shape":"GameSessionStatus"},
        "StatusReason":{"shape":"GameSessionStatusReason"},
        "GameProperties":{"shape":"GamePropertyList"},
        "IpAddress":{"shape":"IpAddress"},
        "DnsName":{"shape":"DnsName"},
        "Port":{"shape":"PortNumber"},
        "PlayerSessionCreationPolicy":{"shape":"PlayerSessionCreationPolicy"},
        "CreatorId":{"shape":"NonZeroAndMaxString"},
        "GameSessionData":{"shape":"GameSessionData"},
        "MatchmakerData":{"shape":"MatchmakerData"}
      }
    },
    "GameSessionActivationTimeoutSeconds":{
      "type":"integer",
      "max":600,
      "min":1
    },
    "GameSessionConnectionInfo":{
      "type":"structure",
      "members":{
        "GameSessionArn":{"shape":"ArnStringModel"},
        "IpAddress":{"shape":"StringModel"},
        "DnsName":{"shape":"DnsName"},
        "Port":{"shape":"PositiveInteger"},
        "MatchedPlayerSessions":{"shape":"MatchedPlayerSessionList"}
      }
    },
    "GameSessionData":{
      "type":"string",
      "max":4096,
      "min":1
    },
    "GameSessionDetail":{
      "type":"structure",
      "members":{
        "GameSession":{"shape":"GameSession"},
        "ProtectionPolicy":{"shape":"ProtectionPolicy"}
      }
    },
    "GameSessionDetailList":{
      "type":"list",
      "member":{"shape":"GameSessionDetail"}
    },
    "GameSessionFullException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true
    },
    "GameSessionList":{
      "type":"list",
      "member":{"shape":"GameSession"}
    },
    "GameSessionPlacement":{
      "type":"structure",
      "members":{
        "PlacementId":{"shape":"IdStringModel"},
        "GameSessionQueueName":{"shape":"GameSessionQueueName"},
        "Status":{"shape":"GameSessionPlacementState"},
        "GameProperties":{"shape":"GamePropertyList"},
        "MaximumPlayerSessionCount":{"shape":"WholeNumber"},
        "GameSessionName":{"shape":"NonZeroAndMaxString"},
        "GameSessionId":{"shape":"NonZeroAndMaxString"},
        "GameSessionArn":{"shape":"NonZeroAndMaxString"},
        "GameSessionRegion":{"shape":"NonZeroAndMaxString"},
        "PlayerLatencies":{"shape":"PlayerLatencyList"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "IpAddress":{"shape":"IpAddress"},
        "DnsName":{"shape":"DnsName"},
        "Port":{"shape":"PortNumber"},
        "PlacedPlayerSessions":{"shape":"PlacedPlayerSessionList"},
        "GameSessionData":{"shape":"GameSessionData"},
        "MatchmakerData":{"shape":"MatchmakerData"}
      }
    },
    "GameSessionPlacementState":{
      "type":"string",
      "enum":[
        "PENDING",
        "FULFILLED",
        "CANCELLED",
        "TIMED_OUT",
        "FAILED"
      ]
    },
    "GameSessionQueue":{
      "type":"structure",
      "members":{
        "Name":{"shape":"GameSessionQueueName"},
        "GameSessionQueueArn":{"shape":"GameSessionQueueArn"},
        "TimeoutInSeconds":{"shape":"WholeNumber"},
        "PlayerLatencyPolicies":{"shape":"PlayerLatencyPolicyList"},
        "Destinations":{"shape":"GameSessionQueueDestinationList"}
      }
    },
    "GameSessionQueueArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^arn:.*:gamesessionqueue\\/[a-zA-Z0-9-]+"
    },
    "GameSessionQueueDestination":{
      "type":"structure",
      "members":{
        "DestinationArn":{"shape":"ArnStringModel"}
      }
    },
    "GameSessionQueueDestinationList":{
      "type":"list",
      "member":{"shape":"GameSessionQueueDestination"}
    },
    "GameSessionQueueList":{
      "type":"list",
      "member":{"shape":"GameSessionQueue"}
    },
    "GameSessionQueueName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "GameSessionQueueNameOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+|^arn:.*:gamesessionqueue\\/[a-zA-Z0-9-]+"
    },
    "GameSessionQueueNameOrArnList":{
      "type":"list",
      "member":{"shape":"GameSessionQueueNameOrArn"}
    },
    "GameSessionStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "ACTIVATING",
        "TERMINATED",
        "TERMINATING",
        "ERROR"
      ]
    },
    "GameSessionStatusReason":{
      "type":"string",
      "enum":["INTERRUPTED"]
    },
    "GetGameSessionLogUrlInput":{
      "type":"structure",
      "required":["GameSessionId"],
      "members":{
        "GameSessionId":{"shape":"ArnStringModel"}
      }
    },
    "GetGameSessionLogUrlOutput":{
      "type":"structure",
      "members":{
        "PreSignedUrl":{"shape":"NonZeroAndMaxString"}
      }
    },
    "GetInstanceAccessInput":{
      "type":"structure",
      "required":[
        "FleetId",
        "InstanceId"
      ],
      "members":{
        "FleetId":{"shape":"FleetIdOrArn"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "GetInstanceAccessOutput":{
      "type":"structure",
      "members":{
        "InstanceAccess":{"shape":"InstanceAccess"}
      }
    },
    "IamRoleArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^arn:.*:role\\/[\\w+=,.@-]+"
    },
    "IdStringModel":{
      "type":"string",
      "max":48,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "IdempotentParameterMismatchException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true
    },
    "Instance":{
      "type":"structure",
      "members":{
        "FleetId":{"shape":"FleetId"},
        "InstanceId":{"shape":"InstanceId"},
        "IpAddress":{"shape":"IpAddress"},
        "DnsName":{"shape":"DnsName"},
        "OperatingSystem":{"shape":"OperatingSystem"},
        "Type":{"shape":"EC2InstanceType"},
        "Status":{"shape":"InstanceStatus"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "InstanceAccess":{
      "type":"structure",
      "members":{
        "FleetId":{"shape":"FleetId"},
        "InstanceId":{"shape":"InstanceId"},
        "IpAddress":{"shape":"IpAddress"},
        "OperatingSystem":{"shape":"OperatingSystem"},
        "Credentials":{"shape":"InstanceCredentials"}
      }
    },
    "InstanceCredentials":{
      "type":"structure",
      "members":{
        "UserName":{"shape":"NonEmptyString"},
        "Secret":{"shape":"NonEmptyString"}
      },
      "sensitive":true
    },
    "InstanceDefinition":{
      "type":"structure",
      "required":["InstanceType"],
      "members":{
        "InstanceType":{"shape":"GameServerGroupInstanceType"},
        "WeightedCapacity":{"shape":"WeightedCapacity"}
      }
    },
    "InstanceDefinitions":{
      "type":"list",
      "member":{"shape":"InstanceDefinition"},
      "max":20,
      "min":2
    },
    "InstanceId":{
      "type":"string",
      "pattern":"[a-zA-Z0-9\\.-]+"
    },
    "InstanceList":{
      "type":"list",
      "member":{"shape":"Instance"}
    },
    "InstanceStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "ACTIVE",
        "TERMINATING"
      ]
    },
    "Integer":{"type":"integer"},
    "InternalServiceException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true,
      "fault":true
    },
    "InvalidFleetStatusException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true
    },
    "InvalidGameSessionStatusException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true
    },
    "InvalidRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true
    },
    "IpAddress":{"type":"string"},
    "IpPermission":{
      "type":"structure",
      "required":[
        "FromPort",
        "ToPort",
        "IpRange",
        "Protocol"
      ],
      "members":{
        "FromPort":{"shape":"PortNumber"},
        "ToPort":{"shape":"PortNumber"},
        "IpRange":{"shape":"NonBlankString"},
        "Protocol":{"shape":"IpProtocol"}
      }
    },
    "IpPermissionsList":{
      "type":"list",
      "member":{"shape":"IpPermission"},
      "max":50
    },
    "IpProtocol":{
      "type":"string",
      "enum":[
        "TCP",
        "UDP"
      ]
    },
    "LatencyMap":{
      "type":"map",
      "key":{"shape":"NonEmptyString"},
      "value":{"shape":"PositiveInteger"}
    },
    "LaunchTemplateId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]+"
    },
    "LaunchTemplateName":{
      "type":"string",
      "max":128,
      "min":3,
      "pattern":"[a-zA-Z0-9\\(\\)\\.\\-/_]+"
    },
    "LaunchTemplateSpecification":{
      "type":"structure",
      "members":{
        "LaunchTemplateId":{"shape":"LaunchTemplateId"},
        "LaunchTemplateName":{"shape":"LaunchTemplateName"},
        "Version":{"shape":"LaunchTemplateVersion"}
      }
    },
    "LaunchTemplateVersion":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]+"
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true
    },
    "ListAliasesInput":{
      "type":"structure",
      "members":{
        "RoutingStrategyType":{"shape":"RoutingStrategyType"},
        "Name":{"shape":"NonEmptyString"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonEmptyString"}
      }
    },
    "ListAliasesOutput":{
      "type":"structure",
      "members":{
        "Aliases":{"shape":"AliasList"},
        "NextToken":{"shape":"NonEmptyString"}
      }
    },
    "ListBuildsInput":{
      "type":"structure",
      "members":{
        "Status":{"shape":"BuildStatus"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonEmptyString"}
      }
    },
    "ListBuildsOutput":{
      "type":"structure",
      "members":{
        "Builds":{"shape":"BuildList"},
        "NextToken":{"shape":"NonEmptyString"}
      }
    },
    "ListFleetsInput":{
      "type":"structure",
      "members":{
        "BuildId":{"shape":"BuildIdOrArn"},
        "ScriptId":{"shape":"ScriptIdOrArn"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "ListFleetsOutput":{
      "type":"structure",
      "members":{
        "FleetIds":{"shape":"FleetIdList"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "ListGameServerGroupsInput":{
      "type":"structure",
      "members":{
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "ListGameServerGroupsOutput":{
      "type":"structure",
      "members":{
        "GameServerGroups":{"shape":"GameServerGroups"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "ListGameServersInput":{
      "type":"structure",
      "required":["GameServerGroupName"],
      "members":{
        "GameServerGroupName":{"shape":"GameServerGroupNameOrArn"},
        "SortOrder":{"shape":"SortOrder"},
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "ListGameServersOutput":{
      "type":"structure",
      "members":{
        "GameServers":{"shape":"GameServers"},
        "NextToken":{"shape":"NonZeroAndMaxString"}
      }
    },
    "ListScriptsInput":{
      "type":"structure",
      "members":{
        "Limit":{"shape":"PositiveInteger"},
        "NextToken":{"shape":"NonEmptyString"}
      }
    },
    "ListScriptsOutput":{
      "type":"structure",
      "members":{
        "Scripts":{"shape":"ScriptList"},
        "NextToken":{"shape":"NonEmptyString"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceARN"],
      "members":{
        "ResourceARN":{"shape":"AmazonResourceName"}
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"}
      }
    },
    "MatchedPlayerSession":{
      "type":"structure",
      "members":{
        "PlayerId":{"shape":"NonZeroAndMaxString"},
        "PlayerSessionId":{"shape":"PlayerSessionId"}
      }
    },
    "MatchedPlayerSessionList":{
      "type":"list",
      "member":{"shape":"MatchedPlayerSession"}
    },
    "MatchmakerData":{
      "type":"string",
      "max":390000,
      "min":1
    },
    "MatchmakingAcceptanceTimeoutInteger":{
      "type":"integer",
      "max":600,
      "min":1
    },
    "MatchmakingConfiguration":{
      "type":"structure",
      "members":{
        "Name":{"shape":"MatchmakingIdStringModel"},
        "ConfigurationArn":{"shape":"MatchmakingConfigurationArn"},
        "Description":{"shape":"NonZeroAndMaxString"},
        "GameSessionQueueArns":{"shape":"QueueArnsList"},
        "RequestTimeoutSeconds":{"shape":"MatchmakingRequestTimeoutInteger"},
        "AcceptanceTimeoutSeconds":{"shape":"MatchmakingAcceptanceTimeoutInteger"},
        "AcceptanceRequired":{"shape":"BooleanModel"},
        "RuleSetName":{"shape":"MatchmakingIdStringModel"},
        "RuleSetArn":{"shape":"MatchmakingRuleSetArn"},
        "NotificationTarget":{"shape":"SnsArnStringModel"},
        "AdditionalPlayerCount":{"shape":"WholeNumber"},
        "CustomEventData":{"shape":"CustomEventData"},
        "CreationTime":{"shape":"Timestamp"},
        "GameProperties":{"shape":"GamePropertyList"},
        "GameSessionData":{"shape":"GameSessionData"},
        "BackfillMode":{"shape":"BackfillMode"}
      }
    },
    "MatchmakingConfigurationArn":{
      "type":"string",
      "pattern":"^arn:.*:matchmakingconfiguration\\/[a-zA-Z0-9-\\.]*"
    },
    "MatchmakingConfigurationList":{
      "type":"list",
      "member":{"shape":"MatchmakingConfiguration"}
    },
    "MatchmakingConfigurationName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9-\\.]*|^arn:.*:matchmakingconfiguration\\/[a-zA-Z0-9-\\.]*"
    },
    "MatchmakingConfigurationNameList":{
      "type":"list",
      "member":{"shape":"MatchmakingConfigurationName"}
    },
    "MatchmakingConfigurationStatus":{
      "type":"string",
      "enum":[
        "CANCELLED",
        "COMPLETED",
        "FAILED",
        "PLACING",
        "QUEUED",
        "REQUIRES_ACCEPTANCE",
        "SEARCHING",
        "TIMED_OUT"
      ]
    },
    "MatchmakingIdList":{
      "type":"list",
      "member":{"shape":"MatchmakingIdStringModel"}
    },
    "MatchmakingIdStringModel":{
      "type":"string",
      "max":128,
      "pattern":"[a-zA-Z0-9-\\.]*"
    },
    "MatchmakingRequestTimeoutInteger":{
      "type":"integer",
      "max":43200,
      "min":1
    },
    "MatchmakingRuleSet":{
      "type":"structure",
      "required":["RuleSetBody"],
      "members":{
        "RuleSetName":{"shape":"MatchmakingIdStringModel"},
        "RuleSetArn":{"shape":"MatchmakingRuleSetArn"},
        "RuleSetBody":{"shape":"RuleSetBody"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "MatchmakingRuleSetArn":{
      "type":"string",
      "pattern":"^arn:.*:matchmakingruleset\\/[a-zA-Z0-9-\\.]*"
    },
    "MatchmakingRuleSetList":{
      "type":"list",
      "member":{"shape":"MatchmakingRuleSet"}
    },
    "MatchmakingRuleSetName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9-\\.]*|^arn:.*:matchmakingruleset\\/[a-zA-Z0-9-\\.]*"
    },
    "MatchmakingRuleSetNameList":{
      "type":"list",
      "member":{"shape":"MatchmakingRuleSetName"},
      "max":10,
      "min":1
    },
[...]
