---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Prefer:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/%28retry%29?timeout=30
    method: DELETE
  response:
    body: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
      specified resource does not exist.\nRequestId:2151f04c-6002-0019-777d-301f56000000\nTime:2021-04-13T15:57:13.4988597Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Version:
      - "2016-05-31"
    status: 404 The specified resource does not exist.
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:20 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/31storageclientsuitetestdoretry?restype=container&se=2050-12-20T21%3A55%3A06Z&sig=rcHSmJ9lUiNC5I%2F1tqM35%2FATPQ%2Fbq41nnXOlOxBAwFQ%3D&sp=racwdl&sr=c&sv=2018-03-28
    method: HEAD
  response:
    body: ""
    headers:
      X-Ms-Error-Code:
      - AuthorizationFailure
      X-Ms-Version:
      - "2018-03-28"
    status: 403 This request is not authorized to perform this operation.
    code: 403
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:27 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/31storageclientsuitetestdoretry?restype=container&se=2050-12-20T21%3A55%3A06Z&sig=YrSNFHLIBz9pTwGYutjO4TkMFjpUO%2BUnmT6DiqjhoAw%3D&sp=rwdlacup&spr=https&srt=sco&ss=b&sv=2018-03-28
    method: HEAD
  response:
    body: ""
    headers:
      X-Ms-Error-Code:
      - ContainerNotFound
      X-Ms-Version:
      - "2018-03-28"
    status: 404 The specified container does not exist.
    code: 404
    duration: ""
[...]
