{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/SVNF-AhBYHOs4eXUnUEAajfsb74\"",
 "discoveryVersion": "v1",
 "id": "dfareporting:v2.7",
 "name": "dfareporting",
 "version": "v2.7",
 "revision": "20171109",
 "title": "DCM/DFA Reporting And Trafficking API",
 "description": "Manages your DoubleClick Campaign Manager ad campaigns and reports.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/doubleclick-16.gif",
  "x32": "https://www.google.com/images/icons/product/doubleclick-32.gif"
 },
 "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/dfareporting/v2.7/",
 "basePath": "/dfareporting/v2.7/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "dfareporting/v2.7/",
 "batchPath": "batch/dfareporting/v2.7",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/ddmconversions": {
     "description": "Manage DoubleClick Digital Marketing conversions"
    },
    "https://www.googleapis.com/auth/dfareporting": {
     "description": "View and manage DoubleClick for Advertisers reports"
    },
    "https://www.googleapis.com/auth/dfatrafficking": {
     "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
    }
   }
  }
 },
 "schemas": {
  "Account": {
   "id": "Account",
   "type": "object",
   "description": "Contains properties of a DCM account.",
   "properties": {
    "accountPermissionIds": {
     "type": "array",
     "description": "Account permissions assigned to this account.",
     "items": {
      "type": "string",
      "format": "int64"
     }
    },
    "accountProfile": {
     "type": "string",
     "description": "Profile for this account. This is a read-only field that can be left blank.",
     "enum": [
      "ACCOUNT_PROFILE_BASIC",
      "ACCOUNT_PROFILE_STANDARD"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "active": {
     "type": "boolean",
     "description": "Whether this account is active."
    },
    "activeAdsLimitTier": {
     "type": "string",
     "description": "Maximum number of active ads allowed for this account.",
     "enum": [
      "ACTIVE_ADS_TIER_100K",
      "ACTIVE_ADS_TIER_1M",
      "ACTIVE_ADS_TIER_200K",
      "ACTIVE_ADS_TIER_300K",
      "ACTIVE_ADS_TIER_40K",
      "ACTIVE_ADS_TIER_500K",
      "ACTIVE_ADS_TIER_750K",
      "ACTIVE_ADS_TIER_75K"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "activeViewOptOut": {
     "type": "boolean",
     "description": "Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions."
    },
    "availablePermissionIds": {
     "type": "array",
     "description": "User role permissions available to the user roles of this account.",
     "items": {
      "type": "string",
      "format": "int64"
     }
    },
    "countryId": {
     "type": "string",
     "description": "ID of the country associated with this account.",
     "format": "int64"
    },
    "currencyId": {
     "type": "string",
     "description": "ID of currency associated with this account. This is a required field.\nAcceptable values are: \n- \"1\" for USD \n- \"2\" for GBP \n- \"3\" for ESP \n- \"4\" for SEK \n- \"5\" for CAD \n- \"6\" for JPY \n- \"7\" for DEM \n- \"8\" for AUD \n- \"9\" for FRF \n- \"10\" for ITL \n- \"11\" for DKK \n- \"12\" for NOK \n- \"13\" for FIM \n- \"14\" for ZAR \n- \"15\" for IEP \n- \"16\" for NLG \n- \"17\" for EUR \n- \"18\" for KRW \n- \"19\" for TWD \n- \"20\" for SGD \n- \"21\" for CNY \n- \"22\" for HKD \n- \"23\" for NZD \n- \"24\" for MYR \n- \"25\" for BRL \n- \"26\" for PTE \n- \"27\" for MXP \n- \"28\" for CLP \n- \"29\" for TRY \n- \"30\" for ARS \n- \"31\" for PEN \n- \"32\" for ILS \n- \"33\" for CHF \n- \"34\" for VEF \n- \"35\" for COP \n- \"36\" for GTQ \n- \"37\" for PLN \n- \"39\" for INR \n- \"40\" for THB \n- \"41\" for IDR \n- \"42\" for CZK \n- \"43\" for RON \n- \"44\" for HUF \n- \"45\" for RUB \n- \"46\" for AED \n- \"47\" for BGN \n- \"48\" for HRK \n- \"49\" for MXN \n- \"50\" for NGN",
     "format": "int64"
    },
    "defaultCreativeSizeId": {
     "type": "string",
     "description": "Default placement dimensions for this account.",
     "format": "int64"
    },
    "description": {
     "type": "string",
     "description": "Description of this account."
    },
    "id": {
     "type": "string",
     "description": "ID of this account. This is a read-only, auto-generated field.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#account\".",
     "default": "dfareporting#account"
    },
    "locale": {
     "type": "string",
     "description": "Locale of this account.\nAcceptable values are: \n- \"cs\" (Czech) \n- \"de\" (German) \n- \"en\" (English) \n- \"en-GB\" (English United Kingdom) \n- \"es\" (Spanish) \n- \"fr\" (French) \n- \"it\" (Italian) \n- \"ja\" (Japanese) \n- \"ko\" (Korean) \n- \"pl\" (Polish) \n- \"pt-BR\" (Portuguese Brazil) \n- \"ru\" (Russian) \n- \"sv\" (Swedish) \n- \"tr\" (Turkish) \n- \"zh-CN\" (Chinese Simplified) \n- \"zh-TW\" (Chinese Traditional)"
    },
    "maximumImageSize": {
     "type": "string",
     "description": "Maximum image size allowed for this account, in kilobytes. Value must be greater than or equal to 1.",
     "format": "int64"
    },
    "name": {
     "type": "string",
     "description": "Name of this account. This is a required field, and must be less than 128 characters long and be globally unique."
    },
    "nielsenOcrEnabled": {
     "type": "boolean",
     "description": "Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default."
    },
    "reportsConfiguration": {
     "$ref": "ReportsConfiguration",
     "description": "Reporting configuration of this account."
    },
    "shareReportsWithTwitter": {
     "type": "boolean",
     "description": "Share Path to Conversion reports with Twitter."
    },
    "teaserSizeLimit": {
     "type": "string",
     "description": "File size limit in kilobytes of Rich Media teaser creatives. Acceptable values are 1 to 10240, inclusive.",
     "format": "int64"
    }
   }
  },
  "AccountActiveAdSummary": {
   "id": "AccountActiveAdSummary",
   "type": "object",
   "description": "Gets a summary of active ads in an account.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "ID of the account.",
     "format": "int64"
    },
    "activeAds": {
     "type": "string",
     "description": "Ads that have been activated for the account",
     "format": "int64"
    },
    "activeAdsLimitTier": {
     "type": "string",
     "description": "Maximum number of active ads allowed for the account.",
     "enum": [
      "ACTIVE_ADS_TIER_100K",
      "ACTIVE_ADS_TIER_1M",
      "ACTIVE_ADS_TIER_200K",
      "ACTIVE_ADS_TIER_300K",
      "ACTIVE_ADS_TIER_40K",
      "ACTIVE_ADS_TIER_500K",
      "ACTIVE_ADS_TIER_750K",
      "ACTIVE_ADS_TIER_75K"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "availableAds": {
     "type": "string",
     "description": "Ads that can be activated for the account.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountActiveAdSummary\".",
     "default": "dfareporting#accountActiveAdSummary"
    }
   }
  },
  "AccountPermission": {
   "id": "AccountPermission",
   "type": "object",
   "description": "AccountPermissions contains information about a particular account permission. Some features of DCM require an account permission to be present in the account.",
   "properties": {
    "accountProfiles": {
     "type": "array",
     "description": "Account profiles associated with this account permission.\n\nPossible values are:\n- \"ACCOUNT_PROFILE_BASIC\"\n- \"ACCOUNT_PROFILE_STANDARD\"",
     "items": {
      "type": "string",
      "enum": [
       "ACCOUNT_PROFILE_BASIC",
       "ACCOUNT_PROFILE_STANDARD"
      ],
      "enumDescriptions": [
       "",
       ""
      ]
     }
    },
    "id": {
     "type": "string",
     "description": "ID of this account permission.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
     "default": "dfareporting#accountPermission"
    },
    "level": {
     "type": "string",
     "description": "Administrative level required to enable this account permission.",
     "enum": [
      "ADMINISTRATOR",
      "USER"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "name": {
     "type": "string",
     "description": "Name of this account permission."
    },
    "permissionGroupId": {
     "type": "string",
     "description": "Permission group of this account permission.",
     "format": "int64"
    }
   }
  },
  "AccountPermissionGroup": {
   "id": "AccountPermissionGroup",
   "type": "object",
   "description": "AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions.",
   "properties": {
    "id": {
     "type": "string",
     "description": "ID of this account permission group.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroup\".",
     "default": "dfareporting#accountPermissionGroup"
    },
    "name": {
     "type": "string",
     "description": "Name of this account permission group."
    }
   }
  },
  "AccountPermissionGroupsListResponse": {
   "id": "AccountPermissionGroupsListResponse",
   "type": "object",
   "description": "Account Permission Group List Response",
   "properties": {
    "accountPermissionGroups": {
     "type": "array",
     "description": "Account permission group collection.",
     "items": {
      "$ref": "AccountPermissionGroup"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupsListResponse\".",
     "default": "dfareporting#accountPermissionGroupsListResponse"
    }
   }
  },
  "AccountPermissionsListResponse": {
   "id": "AccountPermissionsListResponse",
   "type": "object",
   "description": "Account Permission List Response",
   "properties": {
    "accountPermissions": {
     "type": "array",
     "description": "Account permission collection.",
     "items": {
      "$ref": "AccountPermission"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionsListResponse\".",
     "default": "dfareporting#accountPermissionsListResponse"
    }
   }
  },
  "AccountUserProfile": {
   "id": "AccountUserProfile",
   "type": "object",
   "description": "AccountUserProfiles contains properties of a DCM user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "active": {
     "type": "boolean",
     "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable."
    },
    "advertiserFilter": {
     "$ref": "ObjectFilter",
     "description": "Filter that describes which advertisers are visible to the user profile."
    },
    "campaignFilter": {
     "$ref": "ObjectFilter",
     "description": "Filter that describes which campaigns are visible to the user profile."
    },
    "comments": {
     "type": "string",
     "description": "Comments for this user profile."
    },
    "email": {
     "type": "string",
     "description": "Email of the user profile. The email addresss must be linked to a Google Account. This field is required on insertion and is read-only after insertion."
    },
    "id": {
     "type": "string",
     "description": "ID of the user profile. This is a read-only, auto-generated field.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
     "default": "dfareporting#accountUserProfile"
    },
    "locale": {
     "type": "string",
     "description": "Locale of the user profile. This is a required field.\nAcceptable values are:  \n- \"cs\" (Czech) \n- \"de\" (German) \n- \"en\" (English) \n- \"en-GB\" (English United Kingdom) \n- \"es\" (Spanish) \n- \"fr\" (French) \n- \"it\" (Italian) \n- \"ja\" (Japanese) \n- \"ko\" (Korean) \n- \"pl\" (Polish) \n- \"pt-BR\" (Portuguese Brazil)\n- \"ru\" (Russian) \n- \"sv\" (Swedish) \n- \"tr\" (Turkish) \n- \"zh-CN\" (Chinese Simplified) \n- \"zh-TW\" (Chinese Traditional)"
    },
    "name": {
     "type": "string",
     "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;\"#%,\"."
    },
    "siteFilter": {
     "$ref": "ObjectFilter",
     "description": "Filter that describes which sites are visible to the user profile."
    },
    "subaccountId": {
     "type": "string",
     "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "traffickerType": {
     "type": "string",
     "description": "Trafficker type of this user profile.",
     "enum": [
      "EXTERNAL_TRAFFICKER",
      "INTERNAL_NON_TRAFFICKER",
      "INTERNAL_TRAFFICKER"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "userAccessType": {
     "type": "string",
     "description": "User type of the user profile. This is a read-only field that can be left blank.",
     "enum": [
      "INTERNAL_ADMINISTRATOR",
      "NORMAL_USER",
      "READ_ONLY_SUPER_USER",
      "SUPER_USER"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "userRoleFilter": {
     "$ref": "ObjectFilter",
     "description": "Filter that describes which user roles are visible to the user profile."
    },
    "userRoleId": {
     "type": "string",
     "description": "User role ID of the user profile. This is a required field.",
     "format": "int64"
    }
   }
  },
  "AccountUserProfilesListResponse": {
   "id": "AccountUserProfilesListResponse",
   "type": "object",
   "description": "Account User Profile List Response",
   "properties": {
    "accountUserProfiles": {
     "type": "array",
     "description": "Account user profile collection.",
     "items": {
      "$ref": "AccountUserProfile"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\".",
     "default": "dfareporting#accountUserProfilesListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "AccountsListResponse": {
   "id": "AccountsListResponse",
   "type": "object",
   "description": "Account List Response",
   "properties": {
    "accounts": {
     "type": "array",
     "description": "Account collection.",
     "items": {
      "$ref": "Account"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountsListResponse\".",
     "default": "dfareporting#accountsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "Activities": {
   "id": "Activities",
   "type": "object",
   "description": "Represents an activity group.",
   "properties": {
    "filters": {
     "type": "array",
     "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
     "items": {
      "$ref": "DimensionValue"
     }
    },
    "kind": {
     "type": "string",
     "description": "The kind of resource this is, in this case dfareporting#activities.",
     "default": "dfareporting#activities"
    },
    "metricNames": {
     "type": "array",
     "description": "List of names of floodlight activity metrics.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Ad": {
   "id": "Ad",
   "type": "object",
   "description": "Contains properties of a DCM ad.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "Account ID of this ad. This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "active": {
     "type": "boolean",
     "description": "Whether this ad is active. When true, archived must be false."
    },
    "advertiserId": {
     "type": "string",
     "description": "Advertiser ID of this ad. This is a required field on insertion.",
     "format": "int64"
    },
    "advertiserIdDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
    },
    "archived": {
     "type": "boolean",
     "description": "Whether this ad is archived. When true, active must be false."
    },
    "audienceSegmentId": {
     "type": "string",
     "description": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD.",
     "format": "int64"
    },
    "campaignId": {
     "type": "string",
     "description": "Campaign ID of this ad. This is a required field on insertion.",
     "format": "int64"
    },
    "campaignIdDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
    },
    "clickThroughUrl": {
     "$ref": "ClickThroughUrl",
     "description": "Click-through URL for this ad. This is a required field on insertion. Applicable when type is AD_SERVING_CLICK_TRACKER."
    },
    "clickThroughUrlSuffixProperties": {
     "$ref": "ClickThroughUrlSuffixProperties",
     "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative."
    },
    "comments": {
     "type": "string",
     "description": "Comments for this ad."
    },
    "compatibility": {
     "type": "string",
     "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.",
     "enum": [
      "APP",
      "APP_INTERSTITIAL",
      "DISPLAY",
      "DISPLAY_INTERSTITIAL",
      "IN_STREAM_VIDEO"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "createInfo": {
     "$ref": "LastModifiedInfo",
     "description": "Information about the creation of this ad. This is a read-only field."
    },
    "creativeGroupAssignments": {
     "type": "array",
     "description": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments.",
     "items": {
      "$ref": "CreativeGroupAssignment"
     }
    },
    "creativeRotation": {
     "$ref": "CreativeRotation",
     "description": "Creative rotation for this ad. Applicable when type is AD_SERVING_DEFAULT_AD, AD_SERVING_STANDARD_AD, or AD_SERVING_TRACKING. When type is AD_SERVING_DEFAULT_AD, this field should have exactly one creativeAssignment."
    },
    "dayPartTargeting": {
     "$ref": "DayPartTargeting",
     "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
    },
    "defaultClickThroughEventTagProperties": {
     "$ref": "DefaultClickThroughEventTagProperties",
     "description": "Default click-through event tag properties for this ad."
    },
    "deliverySchedule": {
     "$ref": "DeliverySchedule",
     "description": "Delivery schedule information for this ad. Applicable when type is AD_SERVING_STANDARD_AD or AD_SERVING_TRACKING. This field along with subfields priority and impressionRatio are required on insertion when type is AD_SERVING_STANDARD_AD."
    },
    "dynamicClickTracker": {
     "type": "boolean",
     "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert."
    },
    "endTime": {
     "type": "string",
     "description": "Date and time that this ad should stop serving. Must be later than the start time. This is a required field on insertion.",
     "format": "date-time"
    },
    "eventTagOverrides": {
     "type": "array",
     "description": "Event tag overrides for this ad.",
     "items": {
      "$ref": "EventTagOverride"
     }
    },
    "geoTargeting": {
     "$ref": "GeoTargeting",
     "description": "Geographical targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
    },
    "id": {
     "type": "string",
     "description": "ID of this ad. This is a read-only, auto-generated field.",
     "format": "int64"
    },
    "idDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the ID of this ad. This is a read-only, auto-generated field."
    },
    "keyValueTargetingExpression": {
     "$ref": "KeyValueTargetingExpression",
     "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ad\".",
     "default": "dfareporting#ad"
    },
    "languageTargeting": {
     "$ref": "LanguageTargeting",
     "description": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
    },
    "lastModifiedInfo": {
     "$ref": "LastModifiedInfo",
     "description": "Information about the most recent modification of this ad. This is a read-only field."
    },
    "name": {
     "type": "string",
     "description": "Name of this ad. This is a required field and must be less than 256 characters long."
    },
    "placementAssignments": {
     "type": "array",
     "description": "Placement assignments for this ad.",
     "items": {
      "$ref": "PlacementAssignment"
     }
    },
    "remarketingListExpression": {
     "$ref": "ListTargetingExpression",
     "description": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
    },
    "size": {
     "$ref": "Size",
     "description": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD."
    },
    "sslCompliant": {
     "type": "boolean",
     "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
    },
    "sslRequired": {
     "type": "boolean",
     "description": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated."
    },
    "startTime": {
     "type": "string",
     "description": "Date and time that this ad should start serving. If creating an ad, this field must be a time in the future. This is a required field on insertion.",
     "format": "date-time"
    },
    "subaccountId": {
     "type": "string",
     "description": "Subaccount ID of this ad. This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "targetingTemplateId": {
     "type": "string",
     "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD.",
     "format": "int64"
    },
    "technologyTargeting": {
     "$ref": "TechnologyTargeting",
     "description": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
    },
    "type": {
     "type": "string",
     "description": "Type of ad. This is a required field on insertion. Note that default ads (AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource).",
     "enum": [
      "AD_SERVING_CLICK_TRACKER",
      "AD_SERVING_DEFAULT_AD",
      "AD_SERVING_STANDARD_AD",
      "AD_SERVING_TRACKING"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AdSlot": {
   "id": "AdSlot",
   "type": "object",
   "description": "Ad Slot",
   "properties": {
    "comment": {
     "type": "string",
     "description": "Comment for this ad slot."
    },
    "compatibility": {
     "type": "string",
     "description": "Ad slot compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop, mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
     "enum": [
      "APP",
      "APP_INTERSTITIAL",
      "DISPLAY",
      "DISPLAY_INTERSTITIAL",
      "IN_STREAM_VIDEO"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "height": {
     "type": "string",
     "description": "Height of this ad slot.",
     "format": "int64"
    },
    "linkedPlacementId": {
     "type": "string",
     "description": "ID of the placement from an external platform that is linked to this ad slot.",
     "format": "int64"
    },
    "name": {
     "type": "string",
     "description": "Name of this ad slot."
    },
    "paymentSourceType": {
     "type": "string",
     "description": "Payment source type of this ad slot.",
     "enum": [
      "PLANNING_PAYMENT_SOURCE_TYPE_AGENCY_PAID",
      "PLANNING_PAYMENT_SOURCE_TYPE_PUBLISHER_PAID"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "primary": {
     "type": "boolean",
     "description": "Primary ad slot of a roadblock inventory item."
    },
    "width": {
     "type": "string",
     "description": "Width of this ad slot.",
     "format": "int64"
    }
   }
  },
  "AdsListResponse": {
   "id": "AdsListResponse",
   "type": "object",
   "description": "Ad List Response",
   "properties": {
    "ads": {
     "type": "array",
     "description": "Ad collection.",
     "items": {
      "$ref": "Ad"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\".",
     "default": "dfareporting#adsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "Advertiser": {
   "id": "Advertiser",
   "type": "object",
   "description": "Contains properties of a DCM advertiser.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "advertiserGroupId": {
     "type": "string",
     "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
     "format": "int64"
    },
    "clickThroughUrlSuffix": {
     "type": "string",
     "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long."
    },
    "defaultClickThroughEventTagId": {
     "type": "string",
     "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.",
     "format": "int64"
    },
    "defaultEmail": {
     "type": "string",
     "description": "Default email address used in sender field for tag emails."
    },
    "floodlightConfigurationId": {
     "type": "string",
     "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: \n- This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. \n- This advertiser's original floodlight configuration is not already shared with another advertiser.",
     "format": "int64"
    },
    "floodlightConfigurationIdDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field."
    },
    "id": {
     "type": "string",
     "description": "ID of this advertiser. This is a read-only, auto-generated field.",
     "format": "int64"
    },
    "idDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\".",
     "default": "dfareporting#advertiser"
    },
    "name": {
     "type": "string",
     "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account."
    },
    "originalFloodlightConfigurationId": {
     "type": "string",
     "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement.",
     "format": "int64"
    },
    "status": {
     "type": "string",
     "description": "Status of this advertiser.",
     "enum": [
      "APPROVED",
      "ON_HOLD"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "subaccountId": {
     "type": "string",
     "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "suspended": {
     "type": "boolean",
     "description": "Suspension status of this advertiser."
    }
   }
  },
  "AdvertiserGroup": {
   "id": "AdvertiserGroup",
   "type": "object",
   "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "Account ID of this advertiser group. This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "ID of this advertiser group. This is a read-only, auto-generated field.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\".",
     "default": "dfareporting#advertiserGroup"
    },
    "name": {
     "type": "string",
     "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account."
    }
   }
  },
  "AdvertiserGroupsListResponse": {
   "id": "AdvertiserGroupsListResponse",
   "type": "object",
   "description": "Advertiser Group List Response",
   "properties": {
    "advertiserGroups": {
     "type": "array",
     "description": "Advertiser group collection.",
     "items": {
      "$ref": "AdvertiserGroup"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\".",
     "default": "dfareporting#advertiserGroupsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "AdvertisersListResponse": {
   "id": "AdvertisersListResponse",
   "type": "object",
   "description": "Advertiser List Response",
   "properties": {
    "advertisers": {
     "type": "array",
     "description": "Advertiser collection.",
     "items": {
      "$ref": "Advertiser"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\".",
     "default": "dfareporting#advertisersListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "AudienceSegment": {
   "id": "AudienceSegment",
   "type": "object",
   "description": "Audience Segment.",
   "properties": {
    "allocation": {
     "type": "integer",
     "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive.",
     "format": "int32"
    },
    "id": {
     "type": "string",
     "description": "ID of this audience segment. This is a read-only, auto-generated field.",
     "format": "int64"
    },
    "name": {
     "type": "string",
     "description": "Name of this audience segment. This is a required field and must be less than 65 characters long."
    }
   }
  },
  "AudienceSegmentGroup": {
   "id": "AudienceSegmentGroup",
   "type": "object",
   "description": "Audience Segment Group.",
   "properties": {
    "audienceSegments": {
     "type": "array",
     "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
     "items": {
      "$ref": "AudienceSegment"
     }
    },
    "id": {
     "type": "string",
     "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
     "format": "int64"
    },
    "name": {
     "type": "string",
     "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long."
    }
   }
  },
  "Browser": {
   "id": "Browser",
   "type": "object",
   "description": "Contains information about a browser that can be targeted by ads.",
   "properties": {
    "browserVersionId": {
     "type": "string",
     "description": "ID referring to this grouping of browser and version numbers. This is the ID used for targeting.",
     "format": "int64"
    },
    "dartId": {
     "type": "string",
     "description": "DART ID of this browser. This is the ID used when generating reports.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browser\".",
     "default": "dfareporting#browser"
    },
    "majorVersion": {
     "type": "string",
     "description": "Major version number (leftmost number) of this browser. For example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
    },
    "minorVersion": {
     "type": "string",
     "description": "Minor version number (number after first dot on left) of this browser. For example, for Chrome 5.0.375.86 beta, this field should be set to 0. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
    },
    "name": {
     "type": "string",
     "description": "Name of this browser."
    }
   }
  },
  "BrowsersListResponse": {
   "id": "BrowsersListResponse",
   "type": "object",
   "description": "Browser List Response",
   "properties": {
    "browsers": {
     "type": "array",
     "description": "Browser collection.",
     "items": {
      "$ref": "Browser"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\".",
     "default": "dfareporting#browsersListResponse"
    }
   }
  },
  "Campaign": {
   "id": "Campaign",
   "type": "object",
   "description": "Contains properties of a DCM campaign.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "Account ID of this campaign. This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "additionalCreativeOptimizationConfigurations": {
     "type": "array",
     "description": "Additional creative optimization configurations for the campaign.",
     "items": {
      "$ref": "CreativeOptimizationConfiguration"
     }
    },
    "advertiserGroupId": {
     "type": "string",
     "description": "Advertiser group ID of the associated advertiser.",
     "format": "int64"
    },
    "advertiserId": {
     "type": "string",
     "description": "Advertiser ID of this campaign. This is a required field.",
     "format": "int64"
    },
    "advertiserIdDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field."
    },
    "archived": {
     "type": "boolean",
     "description": "Whether this campaign has been archived."
    },
    "audienceSegmentGroups": {
     "type": "array",
     "description": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups.",
     "items": {
      "$ref": "AudienceSegmentGroup"
     }
    },
    "billingInvoiceCode": {
     "type": "string",
     "description": "Billing invoice code included in the DCM client billing invoices associated with the campaign."
    },
    "clickThroughUrlSuffixProperties": {
     "$ref": "ClickThroughUrlSuffixProperties",
     "description": "Click-through URL suffix override properties for this campaign."
    },
    "comment": {
     "type": "string",
     "description": "Arbitrary comments about this campaign. Must be less than 256 characters long."
    },
    "createInfo": {
     "$ref": "LastModifiedInfo",
     "description": "Information about the creation of this campaign. This is a read-only field."
    },
    "creativeGroupIds": {
     "type": "array",
     "description": "List of creative group IDs that are assigned to the campaign.",
     "items": {
      "type": "string",
      "format": "int64"
     }
    },
    "creativeOptimizationConfiguration": {
     "$ref": "CreativeOptimizationConfiguration",
     "description": "Creative optimization configuration for the campaign."
    },
    "defaultClickThroughEventTagProperties": {
     "$ref": "DefaultClickThroughEventTagProperties",
     "description": "Click-through event tag ID override properties for this campaign."
    },
    "endDate": {
     "type": "string",
     "description": "Date on which the campaign will stop running. On insert, the end date must be today or a future date. The end date must be later than or be the same as the start date. If, for example, you set 6/25/2015 as both the start and end dates, the effective campaign run date is just that day only, 6/25/2015. The hours, minutes, and seconds of the end date should not be set, as doing so will result in an error. This is a required field.",
     "format": "date"
    },
    "eventTagOverrides": {
     "type": "array",
     "description": "Overrides that can be used to activate or deactivate advertiser event tags.",
     "items": {
      "$ref": "EventTagOverride"
     }
    },
    "externalId": {
     "type": "string",
     "description": "External ID for this campaign."
    },
    "id": {
     "type": "string",
     "description": "ID of this campaign. This is a read-only auto-generated field.",
     "format": "int64"
    },
    "idDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\".",
     "default": "dfareporting#campaign"
    },
    "lastModifiedInfo": {
     "$ref": "LastModifiedInfo",
     "description": "Information about the most recent modification of this campaign. This is a read-only field."
    },
    "lookbackConfiguration": {
     "$ref": "LookbackConfiguration",
     "description": "Lookback window settings for the campaign."
    },
    "name": {
     "type": "string",
     "description": "Name of this campaign. This is a required field and must be less than 256 characters long and unique among campaigns of the same advertiser."
    },
    "nielsenOcrEnabled": {
     "type": "boolean",
     "description": "Whether Nielsen reports are enabled for this campaign."
    },
    "startDate": {
     "type": "string",
     "description": "Date on which the campaign starts running. The start date can be any date. The hours, minutes, and seconds of the start date should not be set, as doing so will result in an error. This is a required field.",
     "format": "date"
    },
    "subaccountId": {
     "type": "string",
     "description": "Subaccount ID of this campaign. This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "traffickerEmails": {
     "type": "array",
     "description": "Campaign trafficker contact emails.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "CampaignCreativeAssociation": {
   "id": "CampaignCreativeAssociation",
   "type": "object",
   "description": "Identifies a creative which has been associated with a given campaign.",
   "properties": {
    "creativeId": {
     "type": "string",
     "description": "ID of the creative associated with the campaign. This is a required field.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\".",
     "default": "dfareporting#campaignCreativeAssociation"
    }
   }
  },
  "CampaignCreativeAssociationsListResponse": {
   "id": "CampaignCreativeAssociationsListResponse",
   "type": "object",
   "description": "Campaign Creative Association List Response",
   "properties": {
    "campaignCreativeAssociations": {
     "type": "array",
     "description": "Campaign creative association collection",
     "items": {
      "$ref": "CampaignCreativeAssociation"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
     "default": "dfareporting#campaignCreativeAssociationsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "CampaignsListResponse": {
   "id": "CampaignsListResponse",
   "type": "object",
   "description": "Campaign List Response",
   "properties": {
    "campaigns": {
     "type": "array",
     "description": "Campaign collection.",
     "items": {
      "$ref": "Campaign"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
     "default": "dfareporting#campaignsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "ChangeLog": {
   "id": "ChangeLog",
   "type": "object",
   "description": "Describes a change that a user has made to a resource.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "Account ID of the modified object.",
     "format": "int64"
    },
    "action": {
     "type": "string",
     "description": "Action which caused the change."
    },
    "changeTime": {
     "type": "string",
     "description": "Time when the object was modified.",
     "format": "date-time"
    },
    "fieldName": {
     "type": "string",
     "description": "Field name of the object which changed."
    },
    "id": {
     "type": "string",
     "description": "ID of this change log.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
     "default": "dfareporting#changeLog"
    },
    "newValue": {
     "type": "string",
     "description": "New value of the object field."
    },
    "objectId": {
     "type": "string",
     "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
     "format": "int64"
    },
    "objectType": {
     "type": "string",
     "description": "Object type of the change log."
    },
    "oldValue": {
     "type": "string",
     "description": "Old value of the object field."
    },
    "subaccountId": {
     "type": "string",
     "description": "Subaccount ID of the modified object.",
     "format": "int64"
    },
    "transactionId": {
     "type": "string",
     "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
     "format": "int64"
    },
    "userProfileId": {
     "type": "string",
     "description": "ID of the user who modified the object.",
     "format": "int64"
    },
    "userProfileName": {
     "type": "string",
     "description": "User profile name of the user who modified the object."
    }
   }
  },
  "ChangeLogsListResponse": {
   "id": "ChangeLogsListResponse",
   "type": "object",
   "description": "Change Log List Response",
   "properties": {
    "changeLogs": {
     "type": "array",
     "description": "Change log collection.",
     "items": {
      "$ref": "ChangeLog"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
     "default": "dfareporting#changeLogsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "CitiesListResponse": {
   "id": "CitiesListResponse",
   "type": "object",
   "description": "City List Response",
   "properties": {
    "cities": {
     "type": "array",
     "description": "City collection.",
     "items": {
      "$ref": "City"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
     "default": "dfareporting#citiesListResponse"
    }
   }
  },
  "City": {
   "id": "City",
   "type": "object",
   "description": "Contains information about a city that can be targeted by ads.",
   "properties": {
    "countryCode": {
     "type": "string",
     "description": "Country code of the country to which this city belongs."
    },
    "countryDartId": {
     "type": "string",
     "description": "DART ID of the country to which this city belongs.",
     "format": "int64"
    },
    "dartId": {
     "type": "string",
     "description": "DART ID of this city. This is the ID used for targeting and generating reports.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\".",
     "default": "dfareporting#city"
    },
    "metroCode": {
     "type": "string",
     "description": "Metro region code of the metro region (DMA) to which this city belongs."
    },
    "metroDmaId": {
     "type": "string",
     "description": "ID of the metro region (DMA) to which this city belongs.",
     "format": "int64"
    },
    "name": {
     "type": "string",
     "description": "Name of this city."
    },
    "regionCode": {
     "type": "string",
     "description": "Region code of the region to which this city belongs."
    },
    "regionDartId": {
     "type": "string",
     "description": "DART ID of the region to which this city belongs.",
     "format": "int64"
    }
   }
  },
  "ClickTag": {
   "id": "ClickTag",
   "type": "object",
   "description": "Creative Click Tag.",
   "properties": {
    "eventName": {
     "type": "string",
     "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
    },
    "name": {
     "type": "string",
     "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field."
    },
    "value": {
     "type": "string",
     "description": "Parameter value for the specified click tag. This field contains a click-through url."
    }
   }
  },
  "ClickThroughUrl": {
   "id": "ClickThroughUrl",
   "type": "object",
   "description": "Click-through URL",
   "properties": {
    "computedClickThroughUrl": {
     "type": "string",
     "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: \n- If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field.\n- If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field.\n- If neither of the above cases apply, then the customClickThroughUrl is assigned to this field."
    },
    "customClickThroughUrl": {
     "type": "string",
     "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset."
    },
    "defaultLandingPage": {
     "type": "boolean",
     "description": "Whether the campaign default landing page is used."
    },
    "landingPageId": {
     "type": "string",
     "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
     "format": "int64"
    }
   }
  },
  "ClickThroughUrlSuffixProperties": {
   "id": "ClickThroughUrlSuffixProperties",
   "type": "object",
   "description": "Click Through URL Suffix settings.",
   "properties": {
    "clickThroughUrlSuffix": {
     "type": "string",
     "description": "Click-through URL suffix to apply to all ads in this entity's scope. Must be less than 128 characters long."
    },
    "overrideInheritedSuffix": {
     "type": "boolean",
     "description": "Whether this entity should override the inherited click-through URL suffix with its own defined value."
    }
   }
  },
  "CompanionClickThroughOverride": {
   "id": "CompanionClickThroughOverride",
   "type": "object",
   "description": "Companion Click-through override.",
   "properties": {
    "clickThroughUrl": {
     "$ref": "ClickThroughUrl",
     "description": "Click-through URL of this companion click-through override."
    },
    "creativeId": {
     "type": "string",
     "description": "ID of the creative for this companion click-through override.",
     "format": "int64"
    }
   }
  },
  "CompanionSetting": {
   "id": "CompanionSetting",
   "type": "object",
   "description": "Companion Settings",
   "properties": {
    "companionsDisabled": {
     "type": "boolean",
     "description": "Whether companions are disabled for this placement."
    },
    "enabledSizes": {
     "type": "array",
     "description": "Whitelist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
     "items": {
      "$ref": "Size"
     }
    },
    "imageOnly": {
     "type": "boolean",
     "description": "Whether to serve only static images as companions."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
     "default": "dfareporting#companionSetting"
    }
   }
  },
  "CompatibleFields": {
   "id": "CompatibleFields",
   "type": "object",
   "description": "Represents a response to the queryCompatibleFields method.",
   "properties": {
    "crossDimensionReachReportCompatibleFields": {
     "$ref": "CrossDimensionReachReportCompatibleFields",
     "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\"."
    },
    "floodlightReportCompatibleFields": {
     "$ref": "FloodlightReportCompatibleFields",
     "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\"."
    },
    "kind": {
     "type": "string",
     "description": "The kind of resource this is, in this case dfareporting#compatibleFields.",
     "default": "dfareporting#compatibleFields"
    },
    "pathToConversionReportCompatibleFields": {
     "$ref": "PathToConversionReportCompatibleFields",
     "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\"."
    },
    "reachReportCompatibleFields": {
     "$ref": "ReachReportCompatibleFields",
     "description": "Contains items that are compatible to be selected for a report of type \"REACH\"."
    },
    "reportCompatibleFields": {
     "$ref": "ReportCompatibleFields",
     "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\"."
    }
   }
  },
  "ConnectionType": {
   "id": "ConnectionType",
   "type": "object",
   "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users.",
   "properties": {
    "id": {
     "type": "string",
     "description": "ID of this connection type.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
     "default": "dfareporting#connectionType"
    },
    "name": {
     "type": "string",
     "description": "Name of this connection type."
    }
   }
  },
  "ConnectionTypesListResponse": {
   "id": "ConnectionTypesListResponse",
   "type": "object",
   "description": "Connection Type List Response",
   "properties": {
    "connectionTypes": {
     "type": "array",
     "description": "Collection of connection types such as broadband and mobile.",
     "items": {
      "$ref": "ConnectionType"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
     "default": "dfareporting#connectionTypesListResponse"
    }
   }
  },
  "ContentCategoriesListResponse": {
   "id": "ContentCategoriesListResponse",
   "type": "object",
   "description": "Content Category List Response",
   "properties": {
    "contentCategories": {
     "type": "array",
     "description": "Content category collection.",
     "items": {
      "$ref": "ContentCategory"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategoriesListResponse\".",
     "default": "dfareporting#contentCategoriesListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token to be used for the next list operation."
    }
   }
  },
  "ContentCategory": {
   "id": "ContentCategory",
   "type": "object",
   "description": "Organizes placements according to the contents of their associated webpages.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "Account ID of this content category. This is a read-only field that can be left blank.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "ID of this content category. This is a read-only, auto-generated field.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\".",
     "default": "dfareporting#contentCategory"
    },
    "name": {
     "type": "string",
     "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account."
    }
   }
  },
  "Conversion": {
   "id": "Conversion",
   "type": "object",
   "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
   "properties": {
    "childDirectedTreatment": {
     "type": "boolean",
     "description": "Whether the conversion was directed toward children."
    },
    "customVariables": {
     "type": "array",
     "description": "Custom floodlight variables.",
     "items": {
      "$ref": "CustomFloodlightVariable"
     }
    },
    "encryptedUserId": {
     "type": "string",
     "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[] and mobileDeviceId. This or encryptedUserIdCandidates[] or mobileDeviceId is a required field."
    },
    "encryptedUserIdCandidates": {
     "type": "array",
     "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with NO_COOKIE_MATCH_FOUND error. When set, encryptionInfo should also be specified. This field should only be used when calling conversions.batchinsert. This field is mutually exclusive with encryptedUserId and mobileDeviceId. This or encryptedUserId or mobileDeviceId is a required field.",
     "items": {
      "type": "string"
     }
    },
    "floodlightActivityId": {
     "type": "string",
     "description": "Floodlight Activity ID of this conversion. This is a required field.",
     "format": "int64"
    },
    "floodlightConfigurationId": {
     "type": "string",
     "description": "Floodlight Configuration ID of this conversion. This is a required field.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\".",
     "default": "dfareporting#conversion"
    },
    "limitAdTracking": {
     "type": "boolean",
     "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing."
    },
    "mobileDeviceId": {
     "type": "string",
     "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId and encryptedUserIdCandidates[]. This or encryptedUserId or encryptedUserIdCandidates[] is a required field."
    },
    "ordinal": {
     "type": "string",
     "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field."
    },
    "quantity": {
     "type": "string",
     "description": "The quantity of the conversion.",
     "format": "int64"
    },
    "timestampMicros": {
     "type": "string",
     "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
     "format": "int64"
    },
    "value": {
     "type": "number",
     "description": "The value of the conversion.",
     "format": "double"
    }
   }
  },
  "ConversionError": {
   "id": "ConversionError",
   "type": "object",
   "description": "The error code and description for a conversion that failed to insert or update.",
   "properties": {
    "code": {
     "type": "string",
     "description": "The error code.",
     "enum": [
      "INTERNAL",
      "INVALID_ARGUMENT",
      "NOT_FOUND",
      "PERMISSION_DENIED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionError\".",
     "default": "dfareporting#conversionError"
    },
    "message": {
     "type": "string",
     "description": "A description of the error."
    }
   }
  },
  "ConversionStatus": {
   "id": "ConversionStatus",
   "type": "object",
   "description": "The original conversion that was inserted or updated and whether there were any errors.",
   "properties": {
    "conversion": {
     "$ref": "Conversion",
     "description": "The original conversion that was inserted or updated."
    },
    "errors": {
     "type": "array",
     "description": "A list of errors related to this conversion.",
     "items": {
      "$ref": "ConversionError"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\".",
     "default": "dfareporting#conversionStatus"
    }
   }
  },
  "ConversionsBatchInsertRequest": {
   "id": "ConversionsBatchInsertRequest",
   "type": "object",
   "description": "Insert Conversions Request.",
   "properties": {
    "conversions": {
     "type": "array",
     "description": "The set of conversions to insert.",
     "items": {
      "$ref": "Conversion"
     }
    },
    "encryptionInfo": {
     "$ref": "EncryptionInfo",
     "description": "Describes how encryptedUserId or encryptedUserIdCandidates[] is encrypted. This is a required field if encryptedUserId or encryptedUserIdCandidates[] is used."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertRequest\".",
     "default": "dfareporting#conversionsBatchInsertRequest"
    }
   }
  },
  "ConversionsBatchInsertResponse": {
   "id": "ConversionsBatchInsertResponse",
   "type": "object",
   "description": "Insert Conversions Response.",
   "properties": {
    "hasFailures": {
     "type": "boolean",
     "description": "Indicates that some or all conversions failed to insert."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\".",
     "default": "dfareporting#conversionsBatchInsertResponse"
    },
    "status": {
     "type": "array",
     "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted.",
     "items": {
      "$ref": "ConversionStatus"
     }
    }
   }
  },
  "CountriesListResponse": {
   "id": "CountriesListResponse",
   "type": "object",
   "description": "Country List Response",
   "properties": {
    "countries": {
     "type": "array",
     "description": "Country collection.",
     "items": {
      "$ref": "Country"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
     "default": "dfareporting#countriesListResponse"
    }
   }
  },
  "Country": {
   "id": "Country",
   "type": "object",
   "description": "Contains information about a country that can be targeted by ads.",
   "properties": {
    "countryCode": {
     "type": "string",
     "description": "Country code."
    },
    "dartId": {
     "type": "string",
     "description": "DART ID of this country. This is the ID used for targeting and generating reports.",
     "format": "int64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\".",
     "default": "dfareporting#country"
    },
    "name": {
     "type": "string",
     "description": "Name of this country."
    },
    "sslEnabled": {
     "type": "boolean",
     "description": "Whether ad serving supports secure servers in this country."
    }
   }
  },
  "Creative": {
   "id": "Creative",
   "type": "object",
   "description": "Contains properties of a Creative.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
     "format": "int64"
    },
    "active": {
     "type": "boolean",
     "description": "Whether the creative is active. Applicable to all creative types."
    },
    "adParameters": {
     "type": "string",
     "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID."
    },
    "adTagKeys": {
     "type": "array",
     "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
     "items": {
      "type": "string"
     }
    },
    "advertiserId": {
     "type": "string",
     "description": "Advertiser ID of this creative. This is a required field. Applicable to all creative types.",
     "format": "int64"
    },
    "allowScriptAccess": {
     "type": "boolean",
     "description": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE."
    },
    "archived": {
     "type": "boolean",
     "description": "Whether the creative is archived. Applicable to all creative types."
    },
    "artworkType": {
     "type": "string",
     "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
     "enum": [
      "ARTWORK_TYPE_FLASH",
      "ARTWORK_TYPE_HTML5",
      "ARTWORK_TYPE_IMAGE",
      "ARTWORK_TYPE_MIXED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "authoringSource": {
     "type": "string",
     "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
     "enum": [
      "CREATIVE_AUTHORING_SOURCE_DBM",
      "CREATIVE_AUTHORING_SOURCE_DCM",
      "CREATIVE_AUTHORING_SOURCE_STUDIO"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "authoringTool": {
     "type": "string",
     "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
     "enum": [
      "NINJA",
      "SWIFFY"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "auto_advance_images": {
     "type": "boolean",
     "description": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY."
    },
    "backgroundColor": {
     "type": "string",
     "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE."
    },
    "backupImageClickThroughUrl": {
     "type": "string",
     "description": "Click-through URL for backup image. Applicable to the following creative types: FLASH_INPAGE, and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
    },
    "backupImageFeatures": {
     "type": "array",
     "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by DCM for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
     "items": {
      "type": "string",
      "enum": [
       "APPLICATION_CACHE",
       "AUDIO",
       "CANVAS",
       "CANVAS_TEXT",
       "CSS_ANIMATIONS",
       "CSS_BACKGROUND_SIZE",
       "CSS_BORDER_IMAGE",
       "CSS_BORDER_RADIUS",
       "CSS_BOX_SHADOW",
       "CSS_COLUMNS",
       "CSS_FLEX_BOX",
       "CSS_FONT_FACE",
       "CSS_GENERATED_CONTENT",
       "CSS_GRADIENTS",
       "CSS_HSLA",
       "CSS_MULTIPLE_BGS",
       "CSS_OPACITY",
       "CSS_REFLECTIONS",
       "CSS_RGBA",
       "CSS_TEXT_SHADOW",
       "CSS_TRANSFORMS",
       "CSS_TRANSFORMS3D",
       "CSS_TRANSITIONS",
       "DRAG_AND_DROP",
       "GEO_LOCATION",
       "HASH_CHANGE",
       "HISTORY",
       "INDEXED_DB",
       "INLINE_SVG",
       "INPUT_ATTR_AUTOCOMPLETE",
       "INPUT_ATTR_AUTOFOCUS",
       "INPUT_ATTR_LIST",
       "INPUT_ATTR_MAX",
       "INPUT_ATTR_MIN",
       "INPUT_ATTR_MULTIPLE",
       "INPUT_ATTR_PATTERN",
       "INPUT_ATTR_PLACEHOLDER",
       "INPUT_ATTR_REQUIRED",
       "INPUT_ATTR_STEP",
       "INPUT_TYPE_COLOR",
       "INPUT_TYPE_DATE",
       "INPUT_TYPE_DATETIME",
       "INPUT_TYPE_DATETIME_LOCAL",
       "INPUT_TYPE_EMAIL",
       "INPUT_TYPE_MONTH",
       "INPUT_TYPE_NUMBER",
       "INPUT_TYPE_RANGE",
       "INPUT_TYPE_SEARCH",
       "INPUT_TYPE_TEL",
       "INPUT_TYPE_TIME",
       "INPUT_TYPE_URL",
       "INPUT_TYPE_WEEK",
       "LOCAL_STORAGE",
       "POST_MESSAGE",
       "SESSION_STORAGE",
       "SMIL",
       "SVG_CLIP_PATHS",
       "SVG_FE_IMAGE",
       "SVG_FILTERS",
       "SVG_HREF",
       "TOUCH",
       "VIDEO",
       "WEBGL",
       "WEB_SOCKETS",
       "WEB_SQL_DATABASE",
       "WEB_WORKERS"
      ],
      "enumDescriptions": [
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       ""
      ]
     }
    },
    "backupImageReportingLabel": {
     "type": "string",
     "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE."
    },
    "backupImageTargetWindow": {
     "$ref": "TargetWindow",
     "description": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
    },
    "clickTags": {
     "type": "array",
     "description": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
     "items": {
      "$ref": "ClickTag"
     }
    },
    "commercialId": {
     "type": "string",
     "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID."
    },
    "companionCreatives": {
     "type": "array",
     "description": "List of companion creatives assigned to an in-Stream videocreative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
     "items": {
      "type": "string",
      "format": "int64"
     }
    },
    "compatibility": {
     "type": "array",
     "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. Applicable to all creative types.\n\nAcceptable values are:\n- \"APP\"\n- \"APP_INTERSTITIAL\"\n- \"IN_STREAM_VIDEO\"\n- \"DISPLAY\"\n- \"DISPLAY_INTERSTITIAL\"",
     "items": {
      "type": "string",
      "enum": [
       "APP",
       "APP_INTERSTITIAL",
       "DISPLAY",
       "DISPLAY_INTERSTITIAL",
       "IN_STREAM_VIDEO"
      ],
      "enumDescriptions": [
       "",
       "",
       "",
       "",
       ""
      ]
     }
    },
    "convertFlashToHtml5": {
     "type": "boolean",
     "description": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
    },
    "counterCustomEvents": {
     "type": "array",
     "description": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
     "items": {
      "$ref": "CreativeCustomEvent"
     }
    },
    "creativeAssetSelection": {
     "$ref": "CreativeAssetSelection",
     "description": "Required if dynamicAssetSelection is true."
    },
    "creativeAssets": {
     "type": "array",
     "description": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
     "items": {
      "$ref": "CreativeAsset"
     }
    },
    "creativeFieldAssignments": {
     "type": "array",
     "description": "Creative field assignments for this creative. Applicable to all creative types.",
     "items": {
      "$ref": "CreativeFieldAssignment"
     }
    },
    "customKeyValues": {
     "type": "array",
     "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
     "items": {
      "type": "string"
     }
    },
    "dynamicAssetSelection": {
     "type": "boolean",
     "description": "Set this to true to enable the use of rules to target individual assets in this creative. When set to true creativeAssetSelection must be set. This also controls asset-level companions. When this is true, companion creatives should be assigned to creative assets. Learn more. Applicable to INSTREAM_VIDEO creatives."
    },
    "exitCustomEvents": {
     "type": "array",
     "description": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
     "items": {
      "$ref": "CreativeCustomEvent"
     }
    },
    "fsCommand": {
     "$ref": "FsCommand",
     "description": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE."
    },
    "htmlCode": {
     "type": "string",
     "description": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is true. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA."
    },
    "htmlCodeLocked": {
     "type": "boolean",
     "description": "Whether HTML code is DCM-generated or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER."
    },
    "id": {
     "type": "string",
     "description": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types.",
     "format": "int64"
    },
    "idDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\".",
     "default": "dfareporting#creative"
    },
    "lastModifiedInfo": {
     "$ref": "LastModifiedInfo",
     "description": "Creative last modification information. This is a read-only field. Applicable to all creative types."
    },
    "latestTraffickedCreativeId": {
     "type": "string",
     "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
     "format": "int64"
    },
    "name": {
     "type": "string",
     "description": "Name of the creative. This is a required field and must be less than 256 characters long. Applicable to all creative types."
    },
    "overrideCss": {
     "type": "string",
     "description": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA."
    },
    "progressOffset": {
     "$ref": "VideoOffset",
     "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO."
    },
    "redirectUrl": {
     "type": "string",
     "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT"
    },
    "renderingId": {
     "type": "string",
     "description": "ID of current rendering version. This is a read-only field. Applicable to all creative types.",
     "format": "int64"
    },
    "renderingIdDimensionValue": {
     "$ref": "DimensionValue",
     "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types."
    },
    "requiredFlashPluginVersion": {
     "type": "string",
     "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
    },
    "requiredFlashVersion": {
     "type": "integer",
     "description": "The internal Flash version for this creative as calculated by DoubleClick Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
     "format": "int32"
    },
    "size": {
     "$ref": "Size",
     "description": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA."
    },
    "skipOffset": {
     "$ref": "VideoOffset",
     "description": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO."
    },
    "skippable": {
     "type": "boolean",
     "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID."
    },
    "sslCompliant": {
     "type": "boolean",
     "description": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types."
    },
    "sslOverride": {
     "type": "boolean",
     "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types."
    },
    "studioAdvertiserId": {
     "type": "string",
     "description": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
     "format": "int64"
    },
    "studioCreativeId": {
     "type": "string",
     "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
     "format": "int64"
    },
    "studioTraffickedCreativeId": {
     "type": "string",
     "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
     "format": "int64"
    },
    "subaccountId": {
     "type": "string",
     "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
     "format": "int64"
    },
    "thirdPartyBackupImageImpressionsUrl": {
     "type": "string",
     "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA."
    },
    "thirdPartyRichMediaImpressionsUrl": {
     "type": "string",
     "description": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA."
    },
    "thirdPartyUrls": {
     "type": "array",
     "description": "Third-party URLs for tracking in-stream video creative events. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
     "items": {
      "$ref": "ThirdPartyTrackingUrl"
     }
    },
    "timerCustomEvents": {
     "type": "array",
     "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE.",
     "items": {
      "$ref": "CreativeCustomEvent"
     }
    },
    "totalFileSize": {
     "type": "string",
     "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
     "format": "int64"
    },
    "type": {
     "type": "string",
     "description": "Type of this creative. This is a required field. Applicable to all creative types.\n\nNote: FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types.",
     "enum": [
      "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
      "CUSTOM_DISPLAY",
      "CUSTOM_DISPLAY_INTERSTITIAL",
      "DISPLAY",
      "DISPLAY_IMAGE_GALLERY",
      "DISPLAY_REDIRECT",
      "FLASH_INPAGE",
      "HTML5_BANNER",
      "IMAGE",
      "INSTREAM_VIDEO",
      "INSTREAM_VIDEO_REDIRECT",
      "INTERNAL_REDIRECT",
      "INTERSTITIAL_INTERNAL_REDIRECT",
      "RICH_MEDIA_DISPLAY_BANNER",
      "RICH_MEDIA_DISPLAY_EXPANDING",
      "RICH_MEDIA_DISPLAY_INTERSTITIAL",
      "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
      "RICH_MEDIA_IM_EXPAND",
      "RICH_MEDIA_INPAGE_FLOATING",
      "RICH_MEDIA_MOBILE_IN_APP",
      "RICH_MEDIA_PEEL_DOWN",
      "TRACKING_TEXT",
      "VPAID_LINEAR_VIDEO",
      "VPAID_NON_LINEAR_VIDEO"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "version": {
     "type": "integer",
     "description": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.",
     "format": "int32"
    },
    "videoDescription": {
     "type": "string",
     "description": "Description of the video ad. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID."
    },
    "videoDuration": {
     "type": "number",
     "description": "Creative video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, all RICH_MEDIA, and all VPAID.",
     "format": "float"
    }
   }
  },
  "CreativeAsset": {
   "id": "CreativeAsset",
   "type": "object",
   "description": "Creative Asset.",
   "properties": {
    "actionScript3": {
     "type": "boolean",
     "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
    },
    "active": {
     "type": "boolean",
     "description": "Whether the video asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
    },
    "alignment": {
     "type": "string",
     "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL.",
     "enum": [
      "ALIGNMENT_BOTTOM",
      "ALIGNMENT_LEFT",
      "ALIGNMENT_RIGHT",
      "ALIGNMENT_TOP"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "artworkType": {
     "type": "string",
     "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
     "enum": [
      "ARTWORK_TYPE_FLASH",
      "ARTWORK_TYPE_HTML5",
      "ARTWORK_TYPE_IMAGE",
      "ARTWORK_TYPE_MIXED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "assetIdentifier": {
     "$ref": "CreativeAssetId",
     "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
    },
    "backupImageExit": {
     "$ref": "CreativeCustomEvent",
     "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA."
    },
    "bitRate": {
     "type": "integer",
     "description": "Detected bit-rate for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
     "format": "int32"
    },
    "childAssetType": {
     "type": "string",
     "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
     "enum": [
      "CHILD_ASSET_TYPE_DATA",
      "CHILD_ASSET_TYPE_FLASH",
      "CHILD_ASSET_TYPE_IMAGE",
      "CHILD_ASSET_TYPE_VIDEO"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "collapsedSize": {
     "$ref": "Size",
     "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN."
    },
    "companionCreativeIds": {
     "type": "array",
     "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true.",
     "items": {
      "type": "string",
      "format": "int64"
     }
    },
    "customStartTimeValue": {
     "type": "integer",
     "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0.",
     "format": "int32"
    },
    "detectedFeatures": {
     "type": "array",
     "description": "List of feature dependencies for the creative asset that are detected by DCM. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
     "items": {
      "type": "string",
      "enum": [
       "APPLICATION_CACHE",
       "AUDIO",
       "CANVAS",
       "CANVAS_TEXT",
       "CSS_ANIMATIONS",
       "CSS_BACKGROUND_SIZE",
       "CSS_BORDER_IMAGE",
       "CSS_BORDER_RADIUS",
       "CSS_BOX_SHADOW",
       "CSS_COLUMNS",
       "CSS_FLEX_BOX",
       "CSS_FONT_FACE",
       "CSS_GENERATED_CONTENT",
       "CSS_GRADIENTS",
       "CSS_HSLA",
       "CSS_MULTIPLE_BGS",
       "CSS_OPACITY",
       "CSS_REFLECTIONS",
       "CSS_RGBA",
       "CSS_TEXT_SHADOW",
       "CSS_TRANSFORMS",
       "CSS_TRANSFORMS3D",
       "CSS_TRANSITIONS",
       "DRAG_AND_DROP",
       "GEO_LOCATION",
       "HASH_CHANGE",
       "HISTORY",
       "INDEXED_DB",
       "INLINE_SVG",
       "INPUT_ATTR_AUTOCOMPLETE",
       "INPUT_ATTR_AUTOFOCUS",
       "INPUT_ATTR_LIST",
       "INPUT_ATTR_MAX",
       "INPUT_ATTR_MIN",
       "INPUT_ATTR_MULTIPLE",
       "INPUT_ATTR_PATTERN",
       "INPUT_ATTR_PLACEHOLDER",
       "INPUT_ATTR_REQUIRED",
       "INPUT_ATTR_STEP",
       "INPUT_TYPE_COLOR",
       "INPUT_TYPE_DATE",
       "INPUT_TYPE_DATETIME",
       "INPUT_TYPE_DATETIME_LOCAL",
       "INPUT_TYPE_EMAIL",
       "INPUT_TYPE_MONTH",
       "INPUT_TYPE_NUMBER",
       "INPUT_TYPE_RANGE",
       "INPUT_TYPE_SEARCH",
       "INPUT_TYPE_TEL",
       "INPUT_TYPE_TIME",
       "INPUT_TYPE_URL",
       "INPUT_TYPE_WEEK",
       "LOCAL_STORAGE",
       "POST_MESSAGE",
       "SESSION_STORAGE",
       "SMIL",
       "SVG_CLIP_PATHS",
       "SVG_FE_IMAGE",
       "SVG_FILTERS",
       "SVG_HREF",
       "TOUCH",
       "VIDEO",
       "WEBGL",
       "WEB_SOCKETS",
       "WEB_SQL_DATABASE",
       "WEB_WORKERS"
      ],
      "enumDescriptions": [
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       ""
      ]
     }
    },
    "displayType": {
     "type": "string",
     "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
     "enum": [
      "ASSET_DISPLAY_TYPE_BACKDROP",
      "ASSET_DISPLAY_TYPE_EXPANDING",
      "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
      "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
      "ASSET_DISPLAY_TYPE_FLOATING",
      "ASSET_DISPLAY_TYPE_INPAGE",
      "ASSET_DISPLAY_TYPE_OVERLAY",
      "ASSET_DISPLAY_TYPE_PEEL_DOWN",
      "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
      "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "duration": {
     "type": "integer",
     "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1.",
     "format": "int32"
    },
    "durationType": {
     "type": "string",
     "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
     "enum": [
      "ASSET_DURATION_TYPE_AUTO",
      "ASSET_DURATION_TYPE_CUSTOM",
      "ASSET_DURATION_TYPE_NONE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "expandedDimension": {
     "$ref": "Size",
     "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
    },
    "fileSize": {
     "type": "string",
     "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
     "format": "int64"
    },
    "flashVersion": {
     "type": "integer",
[...]
