---
- include: pkgMgrInstallers/centos-install.yml
  when: ansible_distribution == "CentOS"

- name: Set fact saying we did CentOS package install
  set_fact:
    did_install: true
  when: ansible_distribution == "CentOS"



- include: pkgMgrInstallers/fedora-install.yml
  when: ansible_distribution == "Fedora" and ansible_distribution_release != "Rawhide"

- name: Set fact saying we did Fedora package install
  set_fact:
    did_install: true
  when: ansible_distribution == "Fedora" and ansible_distribution_release != "Rawhide"



- include: pkgMgrInstallers/generic-install.yml
  when: not did_install
