---
version: 1
rwmutex: {}
interactions:
- request:
    body: <StorageServiceProperties><Logging><Version>1.0</Version><Delete>true</Delete><Read>false</Read><Write>true</Write><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></MinuteMetrics><Cors><CorsRule><AllowedOrigins>*</AllowedOrigins><AllowedMethods>GET,PUT</AllowedMethods><MaxAgeInSeconds>500</MaxAgeInSeconds><ExposedHeaders>x-ms-meta-customheader,x-ms-meta-data*</ExposedHeaders><AllowedHeaders>x-ms-meta-customheader,x-ms-meta-target*</AllowedHeaders></CorsRule></Cors></StorageServiceProperties>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Fe7IsgnehikmW/A2Lk6ZfYKu/fYlHCLJxinQFFwDP4o=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:11 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/?comp=properties&restype=service
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 202 Accepted
    code: 202
[...]
