{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-07-09",
    "endpointPrefix":"codepipeline",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"CodePipeline",
    "serviceFullName":"AWS CodePipeline",
    "signatureVersion":"v4",
    "targetPrefix":"CodePipeline_20150709",
    "protocol":"json"
  },
  "operations":{
    "AcknowledgeJob":{
      "name":"AcknowledgeJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcknowledgeJobInput"},
      "output":{"shape":"AcknowledgeJobOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"InvalidNonceException",
          "exception":true
        },
        {
          "shape":"JobNotFoundException",
          "exception":true
        }
      ]
    },
    "AcknowledgeThirdPartyJob":{
      "name":"AcknowledgeThirdPartyJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcknowledgeThirdPartyJobInput"},
      "output":{"shape":"AcknowledgeThirdPartyJobOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"InvalidNonceException",
          "exception":true
        },
        {
          "shape":"JobNotFoundException",
          "exception":true
        },
        {
          "shape":"InvalidClientTokenException",
          "exception":true
        }
      ]
    },
    "CreateCustomActionType":{
      "name":"CreateCustomActionType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomActionTypeInput"},
      "output":{"shape":"CreateCustomActionTypeOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "exception":true
        }
      ]
    },
    "CreatePipeline":{
      "name":"CreatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePipelineInput"},
      "output":{"shape":"CreatePipelineOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"PipelineNameInUseException",
          "exception":true
        },
        {
          "shape":"InvalidStageDeclarationException",
          "exception":true
        },
        {
          "shape":"InvalidActionDeclarationException",
          "exception":true
        },
        {
          "shape":"InvalidBlockerDeclarationException",
          "exception":true
        },
        {
          "shape":"InvalidStructureException",
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "exception":true
        }
      ]
    },
    "DeleteCustomActionType":{
      "name":"DeleteCustomActionType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomActionTypeInput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        }
      ]
    },
    "DeletePipeline":{
      "name":"DeletePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePipelineInput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        }
      ]
    },
    "DisableStageTransition":{
      "name":"DisableStageTransition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableStageTransitionInput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true
        },
        {
          "shape":"StageNotFoundException",
          "exception":true
        }
      ]
    },
    "EnableStageTransition":{
      "name":"EnableStageTransition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableStageTransitionInput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true
        },
        {
          "shape":"StageNotFoundException",
          "exception":true
        }
      ]
    },
    "GetJobDetails":{
      "name":"GetJobDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobDetailsInput"},
      "output":{"shape":"GetJobDetailsOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"JobNotFoundException",
          "exception":true
        }
      ]
    },
    "GetPipeline":{
      "name":"GetPipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPipelineInput"},
      "output":{"shape":"GetPipelineOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true
        },
        {
          "shape":"PipelineVersionNotFoundException",
          "exception":true
        }
      ]
    },
    "GetPipelineState":{
      "name":"GetPipelineState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPipelineStateInput"},
      "output":{"shape":"GetPipelineStateOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true
        }
      ]
    },
    "GetThirdPartyJobDetails":{
      "name":"GetThirdPartyJobDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetThirdPartyJobDetailsInput"},
      "output":{"shape":"GetThirdPartyJobDetailsOutput"},
      "errors":[
        {
          "shape":"JobNotFoundException",
          "exception":true
        },
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"InvalidClientTokenException",
          "exception":true
        },
        {
          "shape":"InvalidJobException",
          "exception":true
        }
      ]
    },
    "ListActionTypes":{
      "name":"ListActionTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListActionTypesInput"},
      "output":{"shape":"ListActionTypesOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"InvalidNextTokenException",
          "exception":true
        }
      ]
    },
    "ListPipelines":{
      "name":"ListPipelines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPipelinesInput"},
      "output":{"shape":"ListPipelinesOutput"},
      "errors":[
        {
          "shape":"InvalidNextTokenException",
          "exception":true
        }
      ]
    },
    "PollForJobs":{
      "name":"PollForJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PollForJobsInput"},
      "output":{"shape":"PollForJobsOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"ActionTypeNotFoundException",
          "exception":true
        }
      ]
    },
    "PollForThirdPartyJobs":{
      "name":"PollForThirdPartyJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PollForThirdPartyJobsInput"},
      "output":{"shape":"PollForThirdPartyJobsOutput"},
      "errors":[
        {
          "shape":"ActionTypeNotFoundException",
          "exception":true
        },
        {
          "shape":"ValidationException",
          "exception":true
        }
      ]
    },
    "PutActionRevision":{
      "name":"PutActionRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutActionRevisionInput"},
      "output":{"shape":"PutActionRevisionOutput"},
      "errors":[
        {
          "shape":"PipelineNotFoundException",
          "exception":true
        },
        {
          "shape":"StageNotFoundException",
          "exception":true
        },
        {
          "shape":"ActionNotFoundException",
          "exception":true
        },
        {
          "shape":"ValidationException",
          "exception":true
        }
      ]
    },
    "PutJobFailureResult":{
      "name":"PutJobFailureResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutJobFailureResultInput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"JobNotFoundException",
          "exception":true
        },
        {
          "shape":"InvalidJobStateException",
          "exception":true
        }
      ]
    },
    "PutJobSuccessResult":{
      "name":"PutJobSuccessResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutJobSuccessResultInput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"JobNotFoundException",
          "exception":true
        },
        {
          "shape":"InvalidJobStateException",
          "exception":true
        }
      ]
    },
    "PutThirdPartyJobFailureResult":{
      "name":"PutThirdPartyJobFailureResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutThirdPartyJobFailureResultInput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"JobNotFoundException",
          "exception":true
        },
        {
          "shape":"InvalidJobStateException",
          "exception":true
        },
        {
          "shape":"InvalidClientTokenException",
          "exception":true
        }
      ]
    },
    "PutThirdPartyJobSuccessResult":{
      "name":"PutThirdPartyJobSuccessResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutThirdPartyJobSuccessResultInput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"JobNotFoundException",
          "exception":true
        },
        {
          "shape":"InvalidJobStateException",
          "exception":true
        },
        {
          "shape":"InvalidClientTokenException",
          "exception":true
        }
      ]
    },
    "StartPipelineExecution":{
      "name":"StartPipelineExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartPipelineExecutionInput"},
      "output":{"shape":"StartPipelineExecutionOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true
        }
      ]
    },
    "UpdatePipeline":{
      "name":"UpdatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePipelineInput"},
      "output":{"shape":"UpdatePipelineOutput"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true
        },
        {
          "shape":"InvalidStageDeclarationException",
          "exception":true
        },
        {
          "shape":"InvalidActionDeclarationException",
          "exception":true
        },
        {
          "shape":"InvalidBlockerDeclarationException",
          "exception":true
        },
        {
          "shape":"InvalidStructureException",
          "exception":true
        }
      ]
    }
  },
  "shapes":{
    "AWSSessionCredentials":{
      "type":"structure",
      "required":[
        "accessKeyId",
        "secretAccessKey",
        "sessionToken"
      ],
      "members":{
        "accessKeyId":{"shape":"AccessKeyId"},
        "secretAccessKey":{"shape":"SecretAccessKey"},
        "sessionToken":{"shape":"SessionToken"}
      },
      "sensitive":true
    },
    "AccessKeyId":{"type":"string"},
    "AccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "AcknowledgeJobInput":{
      "type":"structure",
      "required":[
        "jobId",
        "nonce"
      ],
      "members":{
        "jobId":{"shape":"JobId"},
        "nonce":{"shape":"Nonce"}
      }
    },
    "AcknowledgeJobOutput":{
      "type":"structure",
      "members":{
        "status":{"shape":"JobStatus"}
      }
    },
    "AcknowledgeThirdPartyJobInput":{
      "type":"structure",
      "required":[
        "jobId",
        "nonce",
        "clientToken"
      ],
      "members":{
        "jobId":{"shape":"ThirdPartyJobId"},
        "nonce":{"shape":"Nonce"},
        "clientToken":{"shape":"ClientToken"}
      }
    },
    "AcknowledgeThirdPartyJobOutput":{
      "type":"structure",
      "members":{
        "status":{"shape":"JobStatus"}
      }
    },
    "ActionCategory":{
      "type":"string",
      "enum":[
        "Source",
        "Build",
        "Deploy",
        "Test",
        "Invoke"
      ]
    },
    "ActionConfiguration":{
      "type":"structure",
      "members":{
        "configuration":{"shape":"ActionConfigurationMap"}
      }
    },
    "ActionConfigurationKey":{
      "type":"string",
      "min":1,
      "max":50
    },
    "ActionConfigurationMap":{
      "type":"map",
      "key":{"shape":"ActionConfigurationKey"},
      "value":{"shape":"ActionConfigurationValue"}
    },
    "ActionConfigurationProperty":{
      "type":"structure",
      "required":[
        "name",
        "required",
        "key",
        "secret"
      ],
      "members":{
        "name":{"shape":"ActionConfigurationKey"},
        "required":{"shape":"Boolean"},
        "key":{"shape":"Boolean"},
        "secret":{"shape":"Boolean"},
        "queryable":{"shape":"Boolean"},
        "description":{"shape":"Description"},
        "type":{"shape":"ActionConfigurationPropertyType"}
      }
    },
    "ActionConfigurationPropertyList":{
      "type":"list",
      "member":{"shape":"ActionConfigurationProperty"},
      "max":10
    },
    "ActionConfigurationPropertyType":{
      "type":"string",
      "enum":[
        "String",
        "Number",
        "Boolean"
      ]
    },
    "ActionConfigurationQueryableValue":{
      "type":"string",
      "min":1,
      "max":20,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "ActionConfigurationValue":{
      "type":"string",
      "min":1,
      "max":250
    },
    "ActionContext":{
      "type":"structure",
      "members":{
        "name":{"shape":"ActionName"}
      }
    },
    "ActionDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "actionTypeId"
      ],
      "members":{
        "name":{"shape":"ActionName"},
        "actionTypeId":{"shape":"ActionTypeId"},
        "runOrder":{"shape":"ActionRunOrder"},
        "configuration":{"shape":"ActionConfigurationMap"},
        "outputArtifacts":{"shape":"OutputArtifactList"},
        "inputArtifacts":{"shape":"InputArtifactList"},
        "roleArn":{"shape":"RoleArn"}
      }
    },
    "ActionExecution":{
      "type":"structure",
      "members":{
        "status":{"shape":"ActionExecutionStatus"},
        "summary":{"shape":"ExecutionSummary"},
        "lastStatusChange":{"shape":"Timestamp"},
        "externalExecutionId":{"shape":"ExecutionId"},
        "externalExecutionUrl":{"shape":"Url"},
        "percentComplete":{"shape":"Percentage"},
        "errorDetails":{"shape":"ErrorDetails"}
      }
    },
    "ActionExecutionStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Succeeded",
        "Failed"
      ]
    },
    "ActionName":{
      "type":"string",
      "min":1,
      "max":100,
      "pattern":"[A-Za-z0-9.@\\-_]+"
    },
    "ActionNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ActionOwner":{
      "type":"string",
      "enum":[
        "AWS",
        "ThirdParty",
        "Custom"
      ]
    },
    "ActionProvider":{
      "type":"string",
      "min":1,
      "max":25,
      "pattern":"[0-9A-Za-z_-]+"
    },
    "ActionRevision":{
      "type":"structure",
      "required":[
        "revisionId",
        "created"
      ],
      "members":{
        "revisionId":{"shape":"RevisionId"},
        "revisionChangeId":{"shape":"RevisionChangeId"},
        "created":{"shape":"Timestamp"}
      }
    },
    "ActionRunOrder":{
      "type":"integer",
      "min":1,
      "max":999
    },
    "ActionState":{
      "type":"structure",
      "members":{
        "actionName":{"shape":"ActionName"},
        "currentRevision":{"shape":"ActionRevision"},
        "latestExecution":{"shape":"ActionExecution"},
        "entityUrl":{"shape":"Url"},
        "revisionUrl":{"shape":"Url"}
      }
    },
    "ActionStateList":{
      "type":"list",
      "member":{"shape":"ActionState"}
    },
    "ActionType":{
      "type":"structure",
      "required":[
        "id",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "members":{
        "id":{"shape":"ActionTypeId"},
        "settings":{"shape":"ActionTypeSettings"},
        "actionConfigurationProperties":{"shape":"ActionConfigurationPropertyList"},
        "inputArtifactDetails":{"shape":"ArtifactDetails"},
        "outputArtifactDetails":{"shape":"ArtifactDetails"}
      }
    },
    "ActionTypeId":{
      "type":"structure",
      "required":[
        "category",
        "owner",
        "provider",
        "version"
      ],
      "members":{
        "category":{"shape":"ActionCategory"},
        "owner":{"shape":"ActionOwner"},
        "provider":{"shape":"ActionProvider"},
        "version":{"shape":"Version"}
      }
    },
    "ActionTypeList":{
      "type":"list",
      "member":{"shape":"ActionType"}
    },
    "ActionTypeNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ActionTypeSettings":{
      "type":"structure",
      "members":{
        "thirdPartyConfigurationUrl":{"shape":"Url"},
        "entityUrlTemplate":{"shape":"UrlTemplate"},
        "executionUrlTemplate":{"shape":"UrlTemplate"},
        "revisionUrlTemplate":{"shape":"UrlTemplate"}
      }
    },
    "Artifact":{
      "type":"structure",
      "members":{
        "name":{"shape":"ArtifactName"},
        "revision":{"shape":"Revision"},
        "location":{"shape":"ArtifactLocation"}
      }
    },
    "ArtifactDetails":{
      "type":"structure",
      "required":[
        "minimumCount",
        "maximumCount"
      ],
      "members":{
        "minimumCount":{"shape":"MinimumArtifactCount"},
        "maximumCount":{"shape":"MaximumArtifactCount"}
      }
    },
    "ArtifactList":{
      "type":"list",
      "member":{"shape":"Artifact"}
    },
    "ArtifactLocation":{
      "type":"structure",
      "members":{
        "type":{"shape":"ArtifactLocationType"},
        "s3Location":{"shape":"S3ArtifactLocation"}
      }
    },
    "ArtifactLocationType":{
      "type":"string",
      "enum":["S3"]
    },
    "ArtifactName":{
      "type":"string",
      "min":1,
      "max":100,
      "pattern":"[a-zA-Z0-9_\\-]+"
    },
    "ArtifactStore":{
      "type":"structure",
      "required":[
        "type",
        "location"
      ],
      "members":{
        "type":{"shape":"ArtifactStoreType"},
        "location":{"shape":"ArtifactStoreLocation"},
        "encryptionKey":{"shape":"EncryptionKey"}
      }
    },
    "ArtifactStoreLocation":{
      "type":"string",
      "min":3,
      "max":63,
      "pattern":"[a-zA-Z0-9\\-\\.]+"
    },
    "ArtifactStoreType":{
      "type":"string",
      "enum":["S3"]
    },
    "BlockerDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "name":{"shape":"BlockerName"},
        "type":{"shape":"BlockerType"}
      }
    },
    "BlockerName":{
      "type":"string",
      "min":1,
      "max":100
    },
    "BlockerType":{
      "type":"string",
      "enum":["Schedule"]
    },
    "Boolean":{"type":"boolean"},
    "ClientId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "ClientToken":{"type":"string"},
    "Code":{"type":"string"},
    "ContinuationToken":{"type":"string"},
    "CreateCustomActionTypeInput":{
      "type":"structure",
      "required":[
        "category",
        "provider",
        "version",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "members":{
        "category":{"shape":"ActionCategory"},
        "provider":{"shape":"ActionProvider"},
        "version":{"shape":"Version"},
        "settings":{"shape":"ActionTypeSettings"},
        "configurationProperties":{"shape":"ActionConfigurationPropertyList"},
        "inputArtifactDetails":{"shape":"ArtifactDetails"},
        "outputArtifactDetails":{"shape":"ArtifactDetails"}
      }
    },
    "CreateCustomActionTypeOutput":{
      "type":"structure",
      "required":["actionType"],
      "members":{
        "actionType":{"shape":"ActionType"}
      }
    },
    "CreatePipelineInput":{
      "type":"structure",
      "required":["pipeline"],
      "members":{
        "pipeline":{"shape":"PipelineDeclaration"}
      }
    },
    "CreatePipelineOutput":{
      "type":"structure",
      "members":{
        "pipeline":{"shape":"PipelineDeclaration"}
      }
    },
    "CurrentRevision":{
      "type":"structure",
      "required":[
        "revision",
        "changeIdentifier"
      ],
      "members":{
        "revision":{"shape":"Revision"},
        "changeIdentifier":{"shape":"RevisionChangeIdentifier"}
      }
    },
    "DeleteCustomActionTypeInput":{
      "type":"structure",
      "required":[
        "category",
        "provider",
        "version"
      ],
      "members":{
        "category":{"shape":"ActionCategory"},
        "provider":{"shape":"ActionProvider"},
        "version":{"shape":"Version"}
      }
    },
    "DeletePipelineInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"PipelineName"}
      }
    },
    "Description":{
      "type":"string",
      "min":1,
      "max":2048
    },
    "DisableStageTransitionInput":{
      "type":"structure",
      "required":[
        "pipelineName",
        "stageName",
        "transitionType",
        "reason"
      ],
      "members":{
        "pipelineName":{"shape":"PipelineName"},
        "stageName":{"shape":"StageName"},
        "transitionType":{"shape":"StageTransitionType"},
        "reason":{"shape":"DisabledReason"}
      }
    },
    "DisabledReason":{
      "type":"string",
      "min":1,
      "max":300,
      "pattern":"[a-zA-Z0-9!@ \\(\\)\\.\\*\\?\\-]+"
    },
    "EnableStageTransitionInput":{
      "type":"structure",
      "required":[
        "pipelineName",
        "stageName",
        "transitionType"
      ],
      "members":{
        "pipelineName":{"shape":"PipelineName"},
        "stageName":{"shape":"StageName"},
        "transitionType":{"shape":"StageTransitionType"}
      }
    },
    "Enabled":{"type":"boolean"},
    "EncryptionKey":{
      "type":"structure",
      "required":[
        "id",
        "type"
      ],
      "members":{
        "id":{"shape":"EncryptionKeyId"},
        "type":{"shape":"EncryptionKeyType"}
      }
    },
    "EncryptionKeyId":{
      "type":"string",
      "min":1,
      "max":100
    },
    "EncryptionKeyType":{
      "type":"string",
      "enum":["KMS"]
    },
    "ErrorDetails":{
      "type":"structure",
      "members":{
        "code":{"shape":"Code"},
        "message":{"shape":"Message"}
      }
    },
    "ExecutionDetails":{
      "type":"structure",
      "members":{
        "summary":{"shape":"ExecutionSummary"},
        "externalExecutionId":{"shape":"ExecutionId"},
        "percentComplete":{"shape":"Percentage"}
      }
    },
    "ExecutionId":{"type":"string"},
    "ExecutionSummary":{"type":"string"},
    "FailureDetails":{
      "type":"structure",
      "required":[
        "type",
        "message"
      ],
      "members":{
        "type":{"shape":"FailureType"},
        "message":{"shape":"Message"},
        "externalExecutionId":{"shape":"ExecutionId"}
      }
    },
    "FailureType":{
      "type":"string",
      "enum":[
        "JobFailed",
        "ConfigurationError",
        "PermissionError",
        "RevisionOutOfSync",
        "RevisionUnavailable",
        "SystemUnavailable"
      ]
    },
    "GetJobDetailsInput":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{"shape":"JobId"}
      }
    },
    "GetJobDetailsOutput":{
      "type":"structure",
      "members":{
        "jobDetails":{"shape":"JobDetails"}
      }
    },
    "GetPipelineInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"PipelineName"},
        "version":{"shape":"PipelineVersion"}
      }
    },
    "GetPipelineOutput":{
      "type":"structure",
      "members":{
        "pipeline":{"shape":"PipelineDeclaration"}
      }
    },
    "GetPipelineStateInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"PipelineName"}
      }
    },
    "GetPipelineStateOutput":{
      "type":"structure",
      "members":{
        "pipelineName":{"shape":"PipelineName"},
        "pipelineVersion":{"shape":"PipelineVersion"},
        "stageStates":{"shape":"StageStateList"},
        "created":{"shape":"Timestamp"},
        "updated":{"shape":"Timestamp"}
      }
    },
    "GetThirdPartyJobDetailsInput":{
      "type":"structure",
      "required":[
        "jobId",
        "clientToken"
      ],
      "members":{
        "jobId":{"shape":"ThirdPartyJobId"},
        "clientToken":{"shape":"ClientToken"}
      }
    },
    "GetThirdPartyJobDetailsOutput":{
      "type":"structure",
      "members":{
        "jobDetails":{"shape":"ThirdPartyJobDetails"}
      }
    },
    "InputArtifact":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"ArtifactName"}
      }
    },
    "InputArtifactList":{
      "type":"list",
      "member":{"shape":"InputArtifact"}
    },
    "InvalidActionDeclarationException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidBlockerDeclarationException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidClientTokenException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidJobException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidJobStateException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidNextTokenException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidNonceException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidStageDeclarationException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidStructureException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Job":{
      "type":"structure",
      "members":{
        "id":{"shape":"JobId"},
        "data":{"shape":"JobData"},
        "nonce":{"shape":"Nonce"},
        "accountId":{"shape":"AccountId"}
      }
    },
    "JobData":{
      "type":"structure",
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "actionConfiguration":{"shape":"ActionConfiguration"},
        "pipelineContext":{"shape":"PipelineContext"},
        "inputArtifacts":{"shape":"ArtifactList"},
        "outputArtifacts":{"shape":"ArtifactList"},
        "artifactCredentials":{"shape":"AWSSessionCredentials"},
        "continuationToken":{"shape":"ContinuationToken"},
        "encryptionKey":{"shape":"EncryptionKey"}
      }
    },
    "JobDetails":{
      "type":"structure",
      "members":{
        "id":{"shape":"JobId"},
        "data":{"shape":"JobData"},
        "accountId":{"shape":"AccountId"}
      }
    },
    "JobId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "JobList":{
      "type":"list",
      "member":{"shape":"Job"}
    },
    "JobNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "JobStatus":{
      "type":"string",
      "enum":[
        "Created",
        "Queued",
        "Dispatched",
        "InProgress",
        "TimedOut",
        "Succeeded",
        "Failed"
      ]
    },
    "LastChangedAt":{"type":"timestamp"},
    "LastChangedBy":{"type":"string"},
    "LimitExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ListActionTypesInput":{
      "type":"structure",
      "members":{
        "actionOwnerFilter":{"shape":"ActionOwner"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListActionTypesOutput":{
      "type":"structure",
      "required":["actionTypes"],
      "members":{
        "actionTypes":{"shape":"ActionTypeList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListPipelinesInput":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListPipelinesOutput":{
      "type":"structure",
      "members":{
        "pipelines":{"shape":"PipelineList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "MaxBatchSize":{
      "type":"integer",
      "min":1
    },
    "MaximumArtifactCount":{
      "type":"integer",
      "min":0,
      "max":5
    },
    "Message":{"type":"string"},
    "MinimumArtifactCount":{
      "type":"integer",
      "min":0,
      "max":5
    },
    "NextToken":{"type":"string"},
    "Nonce":{"type":"string"},
    "OutputArtifact":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"ArtifactName"}
      }
    },
    "OutputArtifactList":{
      "type":"list",
      "member":{"shape":"OutputArtifact"}
    },
    "Percentage":{
      "type":"integer",
      "min":0,
      "max":100
    },
    "PipelineContext":{
      "type":"structure",
      "members":{
        "pipelineName":{"shape":"PipelineName"},
        "stage":{"shape":"StageContext"},
        "action":{"shape":"ActionContext"}
      }
    },
    "PipelineDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "roleArn",
        "artifactStore",
        "stages"
      ],
      "members":{
        "name":{"shape":"PipelineName"},
        "roleArn":{"shape":"RoleArn"},
        "artifactStore":{"shape":"ArtifactStore"},
        "stages":{"shape":"PipelineStageDeclarationList"},
        "version":{"shape":"PipelineVersion"}
      }
    },
    "PipelineExecutionId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "PipelineList":{
      "type":"list",
      "member":{"shape":"PipelineSummary"}
    },
    "PipelineName":{
      "type":"string",
      "min":1,
      "max":100,
      "pattern":"[A-Za-z0-9.@\\-_]+"
    },
    "PipelineNameInUseException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "PipelineNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "PipelineStageDeclarationList":{
      "type":"list",
      "member":{"shape":"StageDeclaration"}
    },
    "PipelineSummary":{
      "type":"structure",
      "members":{
        "name":{"shape":"PipelineName"},
        "version":{"shape":"PipelineVersion"},
        "created":{"shape":"Timestamp"},
        "updated":{"shape":"Timestamp"}
      }
    },
    "PipelineVersion":{
      "type":"integer",
      "min":1
    },
    "PipelineVersionNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "PollForJobsInput":{
      "type":"structure",
      "required":["actionTypeId"],
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "maxBatchSize":{"shape":"MaxBatchSize"},
        "queryParam":{"shape":"QueryParamMap"}
      }
    },
    "PollForJobsOutput":{
      "type":"structure",
      "members":{
        "jobs":{"shape":"JobList"}
      }
    },
    "PollForThirdPartyJobsInput":{
      "type":"structure",
      "required":["actionTypeId"],
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "maxBatchSize":{"shape":"MaxBatchSize"}
      }
    },
    "PollForThirdPartyJobsOutput":{
      "type":"structure",
      "members":{
        "jobs":{"shape":"ThirdPartyJobList"}
      }
    },
    "PutActionRevisionInput":{
      "type":"structure",
      "required":[
        "pipelineName",
        "stageName",
        "actionName",
        "actionRevision"
      ],
      "members":{
        "pipelineName":{"shape":"PipelineName"},
        "stageName":{"shape":"StageName"},
        "actionName":{"shape":"ActionName"},
        "actionRevision":{"shape":"ActionRevision"}
      }
    },
    "PutActionRevisionOutput":{
      "type":"structure",
      "members":{
        "newRevision":{"shape":"Boolean"},
        "pipelineExecutionId":{"shape":"PipelineExecutionId"}
      }
    },
    "PutJobFailureResultInput":{
      "type":"structure",
      "required":[
        "jobId",
        "failureDetails"
      ],
      "members":{
        "jobId":{"shape":"JobId"},
        "failureDetails":{"shape":"FailureDetails"}
      }
    },
    "PutJobSuccessResultInput":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{"shape":"JobId"},
        "currentRevision":{"shape":"CurrentRevision"},
        "continuationToken":{"shape":"ContinuationToken"},
        "executionDetails":{"shape":"ExecutionDetails"}
      }
    },
    "PutThirdPartyJobFailureResultInput":{
      "type":"structure",
      "required":[
        "jobId",
        "clientToken",
        "failureDetails"
      ],
      "members":{
        "jobId":{"shape":"ThirdPartyJobId"},
        "clientToken":{"shape":"ClientToken"},
        "failureDetails":{"shape":"FailureDetails"}
      }
    },
    "PutThirdPartyJobSuccessResultInput":{
      "type":"structure",
      "required":[
        "jobId",
        "clientToken"
      ],
      "members":{
        "jobId":{"shape":"ThirdPartyJobId"},
        "clientToken":{"shape":"ClientToken"},
        "currentRevision":{"shape":"CurrentRevision"},
        "continuationToken":{"shape":"ContinuationToken"},
        "executionDetails":{"shape":"ExecutionDetails"}
      }
    },
    "QueryParamMap":{
      "type":"map",
      "key":{"shape":"ActionConfigurationKey"},
      "value":{"shape":"ActionConfigurationQueryableValue"},
      "min":0,
      "max":1
    },
    "Revision":{"type":"string"},
    "RevisionChangeId":{"type":"string"},
    "RevisionChangeIdentifier":{"type":"string"},
    "RevisionId":{"type":"string"},
    "RoleArn":{
      "type":"string",
      "pattern":"arn:[^:]+:iam::[0-9]{12}:role/.*"
    },
    "S3ArtifactLocation":{
      "type":"structure",
      "required":[
        "bucketName",
        "objectKey"
      ],
      "members":{
        "bucketName":{"shape":"S3BucketName"},
        "objectKey":{"shape":"S3ObjectKey"}
      }
    },
    "S3BucketName":{"type":"string"},
    "S3ObjectKey":{"type":"string"},
    "SecretAccessKey":{"type":"string"},
    "SessionToken":{"type":"string"},
    "StageActionDeclarationList":{
      "type":"list",
      "member":{"shape":"ActionDeclaration"}
    },
    "StageBlockerDeclarationList":{
      "type":"list",
      "member":{"shape":"BlockerDeclaration"}
    },
    "StageContext":{
      "type":"structure",
      "members":{
        "name":{"shape":"StageName"}
      }
    },
    "StageDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "actions"
      ],
      "members":{
        "name":{"shape":"StageName"},
        "blockers":{"shape":"StageBlockerDeclarationList"},
        "actions":{"shape":"StageActionDeclarationList"}
      }
    },
    "StageName":{
      "type":"string",
      "min":1,
      "max":100,
      "pattern":"[A-Za-z0-9.@\\-_]+"
    },
    "StageNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "StageState":{
      "type":"structure",
      "members":{
        "stageName":{"shape":"StageName"},
        "inboundTransitionState":{"shape":"TransitionState"},
        "actionStates":{"shape":"ActionStateList"}
      }
    },
    "StageStateList":{
      "type":"list",
      "member":{"shape":"StageState"}
    },
    "StageTransitionType":{
      "type":"string",
      "enum":[
        "Inbound",
        "Outbound"
      ]
    },
    "StartPipelineExecutionInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"PipelineName"}
      }
    },
    "StartPipelineExecutionOutput":{
      "type":"structure",
      "members":{
        "pipelineExecutionId":{"shape":"PipelineExecutionId"}
      }
    },
    "ThirdPartyJob":{
      "type":"structure",
      "members":{
        "clientId":{"shape":"ClientId"},
        "jobId":{"shape":"JobId"}
      }
    },
    "ThirdPartyJobData":{
      "type":"structure",
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "actionConfiguration":{"shape":"ActionConfiguration"},
        "pipelineContext":{"shape":"PipelineContext"},
        "inputArtifacts":{"shape":"ArtifactList"},
        "outputArtifacts":{"shape":"ArtifactList"},
        "artifactCredentials":{"shape":"AWSSessionCredentials"},
        "continuationToken":{"shape":"ContinuationToken"},
        "encryptionKey":{"shape":"EncryptionKey"}
      }
    },
    "ThirdPartyJobDetails":{
      "type":"structure",
      "members":{
        "id":{"shape":"ThirdPartyJobId"},
        "data":{"shape":"ThirdPartyJobData"},
        "nonce":{"shape":"Nonce"}
      }
    },
    "ThirdPartyJobId":{
      "type":"string",
      "min":1,
      "max":512
    },
    "ThirdPartyJobList":{
      "type":"list",
      "member":{"shape":"ThirdPartyJob"}
    },
    "Timestamp":{"type":"timestamp"},
    "TransitionState":{
      "type":"structure",
      "members":{
        "enabled":{"shape":"Enabled"},
        "lastChangedBy":{"shape":"LastChangedBy"},
        "lastChangedAt":{"shape":"LastChangedAt"},
        "disabledReason":{"shape":"DisabledReason"}
      }
    },
    "UpdatePipelineInput":{
      "type":"structure",
      "required":["pipeline"],
      "members":{
        "pipeline":{"shape":"PipelineDeclaration"}
      }
    },
    "UpdatePipelineOutput":{
      "type":"structure",
      "members":{
        "pipeline":{"shape":"PipelineDeclaration"}
      }
    },
    "Url":{
      "type":"string",
      "min":1,
      "max":2048
    },
    "UrlTemplate":{
      "type":"string",
      "min":1,
      "max":2048
    },
    "ValidationException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Version":{
      "type":"string",
      "min":1,
      "max":9,
      "pattern":"[0-9A-Za-z_-]+"
    }
  }
}
