{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/RtyLBkqFU92HxRM-H7PV1QN7704\"",
 "discoveryVersion": "v1",
 "id": "compute:v1",
 "name": "compute",
 "version": "v1",
 "revision": "20170416",
 "title": "Compute Engine API",
 "description": "Creates and runs virtual machines on Google Cloud Platform.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
  "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
 },
 "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/compute/v1/projects/",
 "basePath": "/compute/v1/projects/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "compute/v1/projects/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/compute": {
     "description": "View and manage your Google Compute Engine resources"
    },
    "https://www.googleapis.com/auth/compute.readonly": {
     "description": "View your Google Compute Engine resources"
    },
    "https://www.googleapis.com/auth/devstorage.full_control": {
     "description": "Manage your data and permissions in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_only": {
     "description": "View your data in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_write": {
     "description": "Manage your data in Google Cloud Storage"
    }
   }
  }
 },
 "schemas": {
  "AccessConfig": {
   "id": "AccessConfig",
   "type": "object",
   "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#accessConfig for access configs.",
     "default": "compute#accessConfig"
    },
    "name": {
     "type": "string",
     "description": "The name of this access configuration. The default and recommended name is External NAT but you can use any arbitrary string you would like. For example, My external IP or Network Access."
    },
    "natIP": {
     "type": "string",
     "description": "An external IP address associated with this instance. Specify an unused static external IP address available to the project or leave this field undefined to use an IP from a shared ephemeral IP address pool. If you specify a static external IP address, it must live in the same region as the zone of the instance."
    },
    "type": {
     "type": "string",
     "description": "The type of configuration. The default and only option is ONE_TO_ONE_NAT.",
     "default": "ONE_TO_ONE_NAT",
     "enum": [
      "ONE_TO_ONE_NAT"
     ],
     "enumDescriptions": [
      ""
     ]
    }
   }
  },
  "Address": {
   "id": "Address",
   "type": "object",
   "description": "A reserved address resource.",
   "properties": {
    "address": {
     "type": "string",
     "description": "The static external IP address represented by this resource."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#address for addresses.",
     "default": "compute#address"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.addresses.insert"
      ]
     }
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the regional address resides. This field is not applicable to global addresses."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the address, which can be either IN_USE or RESERVED. An address that is RESERVED is currently reserved and available to use. An IN_USE address is currently being used by another resource and is not available.",
     "enum": [
      "IN_USE",
      "RESERVED"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "users": {
     "type": "array",
     "description": "[Output Only] The URLs of the resources that are using this address.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "AddressAggregatedList": {
   "id": "AddressAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "[Output Only] A map of scoped address lists.",
     "additionalProperties": {
      "$ref": "AddressesScopedList",
      "description": "[Output Only] Name of the scope containing this set of addresses."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#addressAggregatedList for aggregated lists of addresses.",
     "default": "compute#addressAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "AddressList": {
   "id": "AddressList",
   "type": "object",
   "description": "Contains a list of addresses.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] A list of addresses.",
     "items": {
      "$ref": "Address"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#addressList for lists of addresses.",
     "default": "compute#addressList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    }
   }
  },
  "AddressesScopedList": {
   "id": "AddressesScopedList",
   "type": "object",
   "properties": {
    "addresses": {
     "type": "array",
     "description": "[Output Only] List of addresses contained in this scope.",
     "items": {
      "$ref": "Address"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of addresses when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AttachedDisk": {
   "id": "AttachedDisk",
   "type": "object",
   "description": "An instance-attached disk resource.",
   "properties": {
    "autoDelete": {
     "type": "boolean",
     "description": "Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
    },
    "boot": {
     "type": "boolean",
     "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
    },
    "deviceName": {
     "type": "string",
     "description": "Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance.\n\nIf not specified, the server chooses a default device name to apply to this disk, in the form persistent-disks-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
    },
    "diskEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "Encrypts or decrypts a disk using a customer-supplied encryption key.\n\nIf you are creating a new disk, this field encrypts the new disk using an encryption key that you provide. If you are attaching an existing disk that is already encrypted, this field decrypts the disk using the customer-supplied encryption key.\n\nIf you encrypt a disk using a customer-supplied key, you must provide the same key again when you attempt to use this resource at a later time. For example, you must provide the key when you create a snapshot or an image from the disk or when you attach the disk to a virtual machine instance.\n\nIf you do not provide an encryption key, then the disk will be encrypted using an automatically generated key and you do not need to provide a key to use the disk later.\n\nInstance templates do not store customer-supplied encryption keys, so you cannot use your own keys to encrypt disks in a managed instance group."
    },
    "index": {
     "type": "integer",
     "description": "Assigns a zero-based index to this disk, where 0 is reserved for the boot disk. For example, if you have many disks attached to an instance, each disk would have a unique index number. If not specified, the server will choose an appropriate value.",
     "format": "int32"
    },
    "initializeParams": {
     "$ref": "AttachedDiskInitializeParams",
     "description": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both."
    },
    "interface": {
     "type": "string",
     "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance.",
     "enum": [
      "NVME",
      "SCSI"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#attachedDisk for attached disks.",
     "default": "compute#attachedDisk"
    },
    "licenses": {
     "type": "array",
     "description": "[Output Only] Any valid publicly visible licenses.",
     "items": {
      "type": "string"
     }
    },
    "mode": {
     "type": "string",
     "description": "The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode.",
     "enum": [
      "READ_ONLY",
      "READ_WRITE"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "source": {
     "type": "string",
     "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource. When creating a new instance, one of initializeParams.sourceImage or disks.source is required.\n\nIf desired, you can also attach existing non-root persistent disks using this property. This field is only applicable for persistent disks.\n\nNote that for InstanceTemplate, specify the disk name, not the URL for the disk."
    },
    "type": {
     "type": "string",
     "description": "Specifies the type of the disk, either SCRATCH or PERSISTENT. If not specified, the default is PERSISTENT.",
     "enum": [
      "PERSISTENT",
      "SCRATCH"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    }
   }
  },
  "AttachedDiskInitializeParams": {
   "id": "AttachedDiskInitializeParams",
   "type": "object",
   "description": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both.",
   "properties": {
    "diskName": {
     "type": "string",
     "description": "Specifies the disk name. If not specified, the default is to use the name of the instance."
    },
    "diskSizeGb": {
     "type": "string",
     "description": "Specifies the size of the disk in base-2 GB.",
     "format": "int64"
    },
    "diskType": {
     "type": "string",
     "description": "Specifies the disk type to use to create the instance. If not specified, the default is pd-standard, specified using the full URL. For example:\n\nhttps://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/pd-standard \n\nOther values include pd-ssd and local-ssd. If you define this field, you can provide either the full or partial URL. For example, the following are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/diskType \n- projects/project/zones/zone/diskTypes/diskType \n- zones/zone/diskTypes/diskType  Note that for InstanceTemplate, this is the name of the disk type, not URL."
    },
    "sourceImage": {
     "type": "string",
     "description": "The source image to create this disk. When creating a new instance, one of initializeParams.sourceImage or disks.source is required.\n\nTo create a disk with one of the public operating system images, specify the image by its family name. For example, specify family/debian-8 to use the latest Debian 8 image:\n\nprojects/debian-cloud/global/images/family/debian-8 \n\nAlternatively, use a specific version of a public operating system image:\n\nprojects/debian-cloud/global/images/debian-8-jessie-vYYYYMMDD \n\nTo create a disk with a private image that you created, specify the image name in the following format:\n\nglobal/images/my-private-image \n\nYou can also specify a private image by its image family, which returns the latest version of the image in that family. Replace the image name with family/family-name:\n\nglobal/images/family/my-private-family \n\nIf the source image is deleted later, this field will not be set."
    },
    "sourceImageEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "The customer-supplied encryption key of the source image. Required if the source image is protected by a customer-supplied encryption key.\n\nInstance templates do not store customer-supplied encryption keys, so you cannot create disks for instances in a managed instance group if the source images are encrypted with your own keys."
    }
   }
  },
  "Autoscaler": {
   "id": "Autoscaler",
   "type": "object",
   "description": "Represents an Autoscaler resource. Autoscalers allow you to automatically scale virtual machine instances in managed instance groups according to an autoscaling policy that you define. For more information, read Autoscaling Groups of Instances.",
   "properties": {
    "autoscalingPolicy": {
     "$ref": "AutoscalingPolicy",
     "description": "The configuration parameters for the autoscaling algorithm. You can define one or more of the policies for an autoscaler: cpuUtilization, customMetricUtilizations, and loadBalancingUtilization.\n\nIf none of these are specified, the default will be to autoscale based on cpuUtilization to 0.6 or 60%."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#autoscaler for autoscalers.",
     "default": "compute#autoscaler"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.instanceGroups.insert"
      ]
     }
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the instance group resides (for autoscalers living in regional scope)."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "target": {
     "type": "string",
     "description": "URL of the managed instance group that this autoscaler will scale."
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the instance group resides (for autoscalers living in zonal scope)."
    }
   }
  },
  "AutoscalerAggregatedList": {
   "id": "AutoscalerAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A map of scoped autoscaler lists.",
     "additionalProperties": {
      "$ref": "AutoscalersScopedList",
      "description": "[Output Only] Name of the scope containing this set of autoscalers."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#autoscalerAggregatedList for aggregated lists of autoscalers.",
     "default": "compute#autoscalerAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "AutoscalerList": {
   "id": "AutoscalerList",
   "type": "object",
   "description": "Contains a list of Autoscaler resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of Autoscaler resources.",
     "items": {
      "$ref": "Autoscaler"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#autoscalerList for lists of autoscalers.",
     "default": "compute#autoscalerList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "AutoscalersScopedList": {
   "id": "AutoscalersScopedList",
   "type": "object",
   "properties": {
    "autoscalers": {
     "type": "array",
     "description": "[Output Only] List of autoscalers contained in this scope.",
     "items": {
      "$ref": "Autoscaler"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of autoscalers when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AutoscalingPolicy": {
   "id": "AutoscalingPolicy",
   "type": "object",
   "description": "Cloud Autoscaler policy.",
   "properties": {
    "coolDownPeriodSec": {
     "type": "integer",
     "description": "The number of seconds that the autoscaler should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. The default time autoscaler waits is 60 seconds.\n\nVirtual machine initialization times might vary because of numerous factors. We recommend that you test how long an instance may take to initialize. To do this, create an instance and time the startup process.",
     "format": "int32"
    },
    "cpuUtilization": {
     "$ref": "AutoscalingPolicyCpuUtilization",
     "description": "Defines the CPU utilization policy that allows the autoscaler to scale based on the average CPU utilization of a managed instance group."
    },
    "customMetricUtilizations": {
     "type": "array",
     "description": "Configuration parameters of autoscaling based on a custom metric.",
     "items": {
      "$ref": "AutoscalingPolicyCustomMetricUtilization"
     }
    },
    "loadBalancingUtilization": {
     "$ref": "AutoscalingPolicyLoadBalancingUtilization",
     "description": "Configuration parameters of autoscaling based on load balancer."
    },
    "maxNumReplicas": {
     "type": "integer",
     "description": "The maximum number of instances that the autoscaler can scale up to. This is required when creating or updating an autoscaler. The maximum number of replicas should not be lower than minimal number of replicas.",
     "format": "int32"
    },
    "minNumReplicas": {
     "type": "integer",
     "description": "The minimum number of replicas that the autoscaler can scale down to. This cannot be less than 0. If not provided, autoscaler will choose a default value depending on maximum number of instances allowed.",
     "format": "int32"
    }
   }
  },
  "AutoscalingPolicyCpuUtilization": {
   "id": "AutoscalingPolicyCpuUtilization",
   "type": "object",
   "description": "CPU utilization policy.",
   "properties": {
    "utilizationTarget": {
     "type": "number",
     "description": "The target CPU utilization that the autoscaler should maintain. Must be a float value in the range (0, 1]. If not specified, the default is 0.6.\n\nIf the CPU level is below the target utilization, the autoscaler scales down the number of instances until it reaches the minimum number of instances you specified or until the average CPU of your instances reaches the target utilization.\n\nIf the average CPU is above the target utilization, the autoscaler scales up until it reaches the maximum number of instances you specified or until the average utilization reaches the target utilization.",
     "format": "double"
    }
   }
  },
  "AutoscalingPolicyCustomMetricUtilization": {
   "id": "AutoscalingPolicyCustomMetricUtilization",
   "type": "object",
   "description": "Custom utilization metric policy.",
   "properties": {
    "metric": {
     "type": "string",
     "description": "The identifier of the Stackdriver Monitoring metric. The metric cannot have negative values and should be a utilization metric, which means that the number of virtual machines handling requests should increase or decrease proportionally to the metric. The metric must also have a label of compute.googleapis.com/resource_id with the value of the instance's unique ID, although this alone does not guarantee that the metric is valid.\n\nFor example, the following is a valid metric:\ncompute.googleapis.com/instance/network/received_bytes_count\nThe following is not a valid metric because it does not increase or decrease based on usage:\ncompute.googleapis.com/instance/cpu/reserved_cores"
    },
    "utilizationTarget": {
     "type": "number",
     "description": "Target value of the metric which autoscaler should maintain. Must be a positive value.",
     "format": "double"
    },
    "utilizationTargetType": {
     "type": "string",
     "description": "Defines how target utilization value is expressed for a Stackdriver Monitoring metric. Either GAUGE, DELTA_PER_SECOND, or DELTA_PER_MINUTE. If not specified, the default is GAUGE.",
     "enum": [
      "DELTA_PER_MINUTE",
      "DELTA_PER_SECOND",
      "GAUGE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "AutoscalingPolicyLoadBalancingUtilization": {
   "id": "AutoscalingPolicyLoadBalancingUtilization",
   "type": "object",
   "description": "Configuration parameters of autoscaling based on load balancing.",
   "properties": {
    "utilizationTarget": {
     "type": "number",
     "description": "Fraction of backend capacity utilization (set in HTTP(s) load balancing configuration) that autoscaler should maintain. Must be a positive float value. If not defined, the default is 0.8.",
     "format": "double"
    }
   }
  },
  "Backend": {
   "id": "Backend",
   "type": "object",
   "description": "Message containing information of one individual backend.",
   "properties": {
    "balancingMode": {
     "type": "string",
     "description": "Specifies the balancing mode for this backend. For global HTTP(S) or TCP/SSL load balancing, the default is UTILIZATION. Valid values are UTILIZATION, RATE (for HTTP(S)) and CONNECTION (for TCP/SSL).\n\nThis cannot be used for internal load balancing.",
     "enum": [
      "CONNECTION",
      "RATE",
      "UTILIZATION"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "capacityScaler": {
     "type": "number",
     "description": "A multiplier applied to the group's maximum servicing capacity (based on UTILIZATION, RATE or CONNECTION). Default value is 1, which means the group will serve up to 100% of its configured capacity (depending on balancingMode). A setting of 0 means the group is completely drained, offering 0% of its available Capacity. Valid range is [0.0,1.0].\n\nThis cannot be used for internal load balancing.",
     "format": "float"
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "group": {
     "type": "string",
     "description": "The fully-qualified URL of a zonal Instance Group resource. This instance group defines the list of instances that serve traffic. Member virtual machine instances from each instance group must live in the same zone as the instance group itself. No two backends in a backend service are allowed to use same Instance Group resource.\n\nNote that you must specify an Instance Group resource using the fully-qualified URL, rather than a partial URL.\n\nWhen the BackendService has load balancing scheme INTERNAL, the instance group must be in a zone within the same region as the BackendService."
    },
    "maxConnections": {
     "type": "integer",
     "description": "The max number of simultaneous connections for the group. Can be used with either CONNECTION or UTILIZATION balancing modes. For CONNECTION mode, either maxConnections or maxConnectionsPerInstance must be set.\n\nThis cannot be used for internal load balancing.",
     "format": "int32"
    },
    "maxConnectionsPerInstance": {
     "type": "integer",
     "description": "The max number of simultaneous connections that a single backend instance can handle. This is used to calculate the capacity of the group. Can be used in either CONNECTION or UTILIZATION balancing modes. For CONNECTION mode, either maxConnections or maxConnectionsPerInstance must be set.\n\nThis cannot be used for internal load balancing.",
     "format": "int32"
    },
    "maxRate": {
     "type": "integer",
     "description": "The max requests per second (RPS) of the group. Can be used with either RATE or UTILIZATION balancing modes, but required if RATE mode. For RATE mode, either maxRate or maxRatePerInstance must be set.\n\nThis cannot be used for internal load balancing.",
     "format": "int32"
    },
    "maxRatePerInstance": {
     "type": "number",
     "description": "The max requests per second (RPS) that a single backend instance can handle. This is used to calculate the capacity of the group. Can be used in either balancing mode. For RATE mode, either maxRate or maxRatePerInstance must be set.\n\nThis cannot be used for internal load balancing.",
     "format": "float"
    },
    "maxUtilization": {
     "type": "number",
     "description": "Used when balancingMode is UTILIZATION. This ratio defines the CPU utilization target for the group. The default is 0.8. Valid range is [0.0, 1.0].\n\nThis cannot be used for internal load balancing.",
     "format": "float"
    }
   }
  },
  "BackendBucket": {
   "id": "BackendBucket",
   "type": "object",
   "description": "A BackendBucket resource. This resource defines a Cloud Storage bucket.",
   "properties": {
    "bucketName": {
     "type": "string",
     "description": "Cloud Storage bucket name."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "enableCdn": {
     "type": "boolean",
     "description": "If true, enable Cloud CDN for this BackendBucket."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "Type of the resource.",
     "default": "compute#backendBucket"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    }
   }
  },
  "BackendBucketList": {
   "id": "BackendBucketList",
   "type": "object",
   "description": "Contains a list of BackendBucket resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of BackendBucket resources.",
     "items": {
      "$ref": "BackendBucket"
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#backendBucketList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "BackendService": {
   "id": "BackendService",
   "type": "object",
   "description": "A BackendService resource. This resource defines a group of backend virtual machines and their serving capacity.",
   "properties": {
    "affinityCookieTtlSec": {
     "type": "integer",
     "description": "Lifetime of cookies in seconds if session_affinity is GENERATED_COOKIE. If set to 0, the cookie is non-persistent and lasts only until the end of the browser session (or equivalent). The maximum allowed value for TTL is one day.\n\nWhen the load balancing scheme is INTERNAL, this field is not used.",
     "format": "int32"
    },
    "backends": {
     "type": "array",
     "description": "The list of backends that serve this BackendService.",
     "items": {
      "$ref": "Backend"
     }
    },
    "cdnPolicy": {
     "$ref": "BackendServiceCdnPolicy",
     "description": "Cloud CDN configuration for this BackendService."
    },
    "connectionDraining": {
     "$ref": "ConnectionDraining"
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "enableCDN": {
     "type": "boolean",
     "description": "If true, enable Cloud CDN for this BackendService.\n\nWhen the load balancing scheme is INTERNAL, this field is not used."
    },
    "fingerprint": {
     "type": "string",
     "description": "Fingerprint of this resource. A hash of the contents stored in this object. This field is used in optimistic locking. This field will be ignored when inserting a BackendService. An up-to-date fingerprint must be provided in order to update the BackendService.",
     "format": "byte"
    },
    "healthChecks": {
     "type": "array",
     "description": "The list of URLs to the HttpHealthCheck or HttpsHealthCheck resource for health checking this BackendService. Currently at most one health check can be specified, and a health check is required.\n\nFor internal load balancing, a URL to a HealthCheck resource must be specified instead.",
     "items": {
      "type": "string"
     }
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendService for backend services.",
     "default": "compute#backendService"
    },
    "loadBalancingScheme": {
     "type": "string",
     "enum": [
      "EXTERNAL",
      "INTERNAL",
      "INVALID_LOAD_BALANCING_SCHEME"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "port": {
     "type": "integer",
     "description": "Deprecated in favor of portName. The TCP port to connect on the backend. The default value is 80.\n\nThis cannot be used for internal load balancing.",
     "format": "int32"
    },
    "portName": {
     "type": "string",
     "description": "Name of backend port. The same name should appear in the instance groups referenced by this service. Required when the load balancing scheme is EXTERNAL.\n\nWhen the load balancing scheme is INTERNAL, this field is not used."
    },
    "protocol": {
     "type": "string",
     "description": "The protocol this BackendService uses to communicate with backends.\n\nPossible values are HTTP, HTTPS, TCP, and SSL. The default is HTTP.\n\nFor internal load balancing, the possible values are TCP and UDP, and the default is TCP.",
     "enum": [
      "HTTP",
      "HTTPS",
      "SSL",
      "TCP",
      "UDP"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the regional backend service resides. This field is not applicable to global backend services."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "sessionAffinity": {
     "type": "string",
     "description": "Type of session affinity to use. The default is NONE.\n\nWhen the load balancing scheme is EXTERNAL, can be NONE, CLIENT_IP, or GENERATED_COOKIE.\n\nWhen the load balancing scheme is INTERNAL, can be NONE, CLIENT_IP, CLIENT_IP_PROTO, or CLIENT_IP_PORT_PROTO.\n\nWhen the protocol is UDP, this field is not used.",
     "enum": [
      "CLIENT_IP",
      "CLIENT_IP_PORT_PROTO",
      "CLIENT_IP_PROTO",
      "GENERATED_COOKIE",
      "NONE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "timeoutSec": {
     "type": "integer",
     "description": "How many seconds to wait for the backend before considering it a failed request. Default is 30 seconds.",
     "format": "int32"
    }
   }
  },
  "BackendServiceAggregatedList": {
   "id": "BackendServiceAggregatedList",
   "type": "object",
   "description": "Contains a list of BackendServicesScopedList.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A map of scoped BackendService lists.",
     "additionalProperties": {
      "$ref": "BackendServicesScopedList",
      "description": "Name of the scope containing this set of BackendServices."
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#backendServiceAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "BackendServiceCdnPolicy": {
   "id": "BackendServiceCdnPolicy",
   "type": "object",
   "description": "Message containing Cloud CDN configuration for a backend service.",
   "properties": {
    "cacheKeyPolicy": {
     "$ref": "CacheKeyPolicy",
     "description": "The CacheKeyPolicy for this CdnPolicy."
    }
   }
  },
  "BackendServiceGroupHealth": {
   "id": "BackendServiceGroupHealth",
   "type": "object",
   "properties": {
    "healthStatus": {
     "type": "array",
     "items": {
      "$ref": "HealthStatus"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendServiceGroupHealth for the health of backend services.",
     "default": "compute#backendServiceGroupHealth"
    }
   }
  },
  "BackendServiceList": {
   "id": "BackendServiceList",
   "type": "object",
   "description": "Contains a list of BackendService resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of BackendService resources.",
     "items": {
      "$ref": "BackendService"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendServiceList for lists of backend services.",
     "default": "compute#backendServiceList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "BackendServicesScopedList": {
   "id": "BackendServicesScopedList",
   "type": "object",
   "properties": {
    "backendServices": {
     "type": "array",
     "description": "List of BackendServices contained in this scope.",
     "items": {
      "$ref": "BackendService"
     }
    },
    "warning": {
     "type": "object",
     "description": "Informational warning which replaces the list of backend services when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "CacheInvalidationRule": {
   "id": "CacheInvalidationRule",
   "type": "object",
   "properties": {
    "host": {
     "type": "string",
     "description": "If set, this invalidation rule will only apply to requests with a Host header matching host."
    },
    "path": {
     "type": "string"
    }
   }
  },
  "CacheKeyPolicy": {
   "id": "CacheKeyPolicy",
   "type": "object",
   "description": "Message containing what to include in the cache key for a request for Cloud CDN.",
   "properties": {
    "includeHost": {
     "type": "boolean",
     "description": "If true, requests to different hosts will be cached separately."
    },
    "includeProtocol": {
     "type": "boolean",
     "description": "If true, http and https requests will be cached separately."
    },
    "includeQueryString": {
     "type": "boolean",
     "description": "If true, include query string parameters in the cache key according to query_string_whitelist and query_string_blacklist. If neither is set, the entire query string will be included. If false, the query string will be excluded from the cache key entirely."
    },
    "queryStringBlacklist": {
     "type": "array",
     "description": "Names of query string parameters to exclude in cache keys. All other parameters will be included. Either specify query_string_whitelist or query_string_blacklist, not both. '&' and '=' will be percent encoded and not treated as delimiters.",
     "items": {
      "type": "string"
     }
    },
    "queryStringWhitelist": {
     "type": "array",
     "description": "Names of query string parameters to include in cache keys. All other parameters will be excluded. Either specify query_string_whitelist or query_string_blacklist, not both. '&' and '=' will be percent encoded and not treated as delimiters.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ConnectionDraining": {
   "id": "ConnectionDraining",
   "type": "object",
   "description": "Message containing connection draining configuration.",
   "properties": {
    "drainingTimeoutSec": {
     "type": "integer",
     "description": "Time for which instance will be drained (not accept new connections, but still work to finish started).",
     "format": "int32"
    }
   }
  },
  "CustomerEncryptionKey": {
   "id": "CustomerEncryptionKey",
   "type": "object",
   "description": "Represents a customer-supplied encryption key",
   "properties": {
    "rawKey": {
     "type": "string",
     "description": "Specifies a 256-bit customer-supplied encryption key, encoded in RFC 4648 base64 to either encrypt or decrypt this resource."
    },
    "sha256": {
     "type": "string",
     "description": "[Output only] The RFC 4648 base64 encoded SHA-256 hash of the customer-supplied encryption key that protects this resource."
    }
   }
  },
  "CustomerEncryptionKeyProtectedDisk": {
   "id": "CustomerEncryptionKeyProtectedDisk",
   "type": "object",
   "properties": {
    "diskEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "Decrypts data associated with the disk with a customer-supplied encryption key."
    },
    "source": {
     "type": "string",
     "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource. This field is only applicable for persistent disks."
    }
   }
  },
  "DeprecationStatus": {
   "id": "DeprecationStatus",
   "type": "object",
   "description": "Deprecation status for a public resource.",
   "properties": {
    "deleted": {
     "type": "string",
     "description": "An optional RFC3339 timestamp on or after which the state of this resource is intended to change to DELETED. This is only informational and the status will not change unless the client explicitly changes it."
    },
    "deprecated": {
     "type": "string",
     "description": "An optional RFC3339 timestamp on or after which the state of this resource is intended to change to DEPRECATED. This is only informational and the status will not change unless the client explicitly changes it."
    },
    "obsolete": {
     "type": "string",
     "description": "An optional RFC3339 timestamp on or after which the state of this resource is intended to change to OBSOLETE. This is only informational and the status will not change unless the client explicitly changes it."
    },
    "replacement": {
     "type": "string",
     "description": "The URL of the suggested replacement for a deprecated resource. The suggested replacement resource must be the same kind of resource as the deprecated resource."
    },
    "state": {
     "type": "string",
     "description": "The deprecation state of this resource. This can be DEPRECATED, OBSOLETE, or DELETED. Operations which create a new resource using a DEPRECATED resource will return successfully, but with a warning indicating the deprecated resource and recommending its replacement. Operations which use OBSOLETE or DELETED resources will be rejected and result in an error.",
     "enum": [
      "DELETED",
      "DEPRECATED",
      "OBSOLETE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "Disk": {
   "id": "Disk",
   "type": "object",
   "description": "A Disk resource.",
   "properties": {
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "diskEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "Encrypts the disk using a customer-supplied encryption key.\n\nAfter you encrypt a disk with a customer-supplied key, you must provide the same key if you use the disk later (e.g. to create a disk snapshot or an image, or to attach the disk to a virtual machine).\n\nCustomer-supplied encryption keys do not protect access to metadata of the disk.\n\nIf you do not provide an encryption key when creating the disk, then the disk will be encrypted using an automatically generated key and you do not need to provide a key to use the disk later."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#disk for disks.",
     "default": "compute#disk"
    },
    "lastAttachTimestamp": {
     "type": "string",
     "description": "[Output Only] Last attach timestamp in RFC3339 text format."
    },
    "lastDetachTimestamp": {
     "type": "string",
     "description": "[Output Only] Last detach timestamp in RFC3339 text format."
    },
    "licenses": {
     "type": "array",
     "description": "Any applicable publicly visible licenses.",
     "items": {
      "type": "string"
     }
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.disks.insert"
      ]
     }
    },
    "options": {
     "type": "string",
     "description": "Internal use only."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined fully-qualified URL for this resource."
    },
    "sizeGb": {
     "type": "string",
     "description": "Size of the persistent disk, specified in GB. You can specify this field when creating a persistent disk using the sourceImage or sourceSnapshot parameter, or specify it alone to create an empty persistent disk.\n\nIf you specify this field along with sourceImage or sourceSnapshot, the value of sizeGb must not be less than the size of the sourceImage or the size of the snapshot.",
     "format": "int64"
    },
    "sourceImage": {
     "type": "string",
     "description": "The source image used to create this disk. If the source image is deleted, this field will not be set.\n\nTo create a disk with one of the public operating system images, specify the image by its family name. For example, specify family/debian-8 to use the latest Debian 8 image:\n\nprojects/debian-cloud/global/images/family/debian-8 \n\nAlternatively, use a specific version of a public operating system image:\n\nprojects/debian-cloud/global/images/debian-8-jessie-vYYYYMMDD \n\nTo create a disk with a private image that you created, specify the image name in the following format:\n\nglobal/images/my-private-image \n\nYou can also specify a private image by its image family, which returns the latest version of the image in that family. Replace the image name with family/family-name:\n\nglobal/images/family/my-private-family"
    },
    "sourceImageEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "The customer-supplied encryption key of the source image. Required if the source image is protected by a customer-supplied encryption key."
    },
    "sourceImageId": {
     "type": "string",
     "description": "[Output Only] The ID value of the image used to create this disk. This value identifies the exact image that was used to create this persistent disk. For example, if you created the persistent disk from an image that was later deleted and recreated under the same name, the source image ID would identify the exact version of the image that was used."
    },
    "sourceSnapshot": {
     "type": "string",
     "description": "The source snapshot used to create this disk. You can provide this as a partial or full URL to the resource. For example, the following are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/global/snapshots/snapshot \n- projects/project/global/snapshots/snapshot \n- global/snapshots/snapshot"
    },
    "sourceSnapshotEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "The customer-supplied encryption key of the source snapshot. Required if the source snapshot is protected by a customer-supplied encryption key."
    },
    "sourceSnapshotId": {
     "type": "string",
     "description": "[Output Only] The unique ID of the snapshot used to create this disk. This value identifies the exact snapshot that was used to create this persistent disk. For example, if you created the persistent disk from a snapshot that was later deleted and recreated under the same name, the source snapshot ID would identify the exact version of the snapshot that was used."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of disk creation.",
     "enum": [
      "CREATING",
      "FAILED",
      "READY",
      "RESTORING"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "type": {
     "type": "string",
     "description": "URL of the disk type resource describing which disk type to use to create the disk. Provide this when creating the disk."
    },
    "users": {
     "type": "array",
     "description": "[Output Only] Links to the users of the disk (attached instances) in form: project/zones/zone/instances/instance",
     "items": {
      "type": "string"
     }
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the disk resides."
    }
   }
  },
  "DiskAggregatedList": {
   "id": "DiskAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "object",
     "description": "[Output Only] A map of scoped disk lists.",
     "additionalProperties": {
      "$ref": "DisksScopedList",
      "description": "[Output Only] Name of the scope containing this set of disks."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#diskAggregatedList for aggregated lists of persistent disks.",
     "default": "compute#diskAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results. Acceptable values are 0 to 500, inclusive. (Default: 500)"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "DiskList": {
   "id": "DiskList",
   "type": "object",
   "description": "A list of Disk resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of Disk resources.",
     "items": {
      "$ref": "Disk"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#diskList for lists of disks.",
     "default": "compute#diskList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "DiskMoveRequest": {
   "id": "DiskMoveRequest",
   "type": "object",
   "properties": {
    "destinationZone": {
     "type": "string",
     "description": "The URL of the destination zone to move the disk. This can be a full or partial URL. For example, the following are all valid URLs to a zone:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone \n- projects/project/zones/zone \n- zones/zone"
    },
    "targetDisk": {
     "type": "string",
     "description": "The URL of the target disk to move. This can be a full or partial URL. For example, the following are all valid URLs to a disk:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/disks/disk \n- projects/project/zones/zone/disks/disk \n- zones/zone/disks/disk"
    }
   }
  },
  "DiskType": {
   "id": "DiskType",
   "type": "object",
   "description": "A DiskType resource.",
   "properties": {
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "defaultDiskSizeGb": {
     "type": "string",
     "description": "[Output Only] Server-defined default disk size in GB.",
     "format": "int64"
    },
    "deprecated": {
     "$ref": "DeprecationStatus",
     "description": "[Output Only] The deprecation status associated with this disk type."
    },
    "description": {
     "type": "string",
     "description": "[Output Only] An optional description of this resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#diskType for disk types.",
     "default": "compute#diskType"
    },
    "name": {
     "type": "string",
     "description": "[Output Only] Name of the resource.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "validDiskSize": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the valid disk size, such as \"10GB-10TB\"."
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the disk type resides."
    }
   }
  },
  "DiskTypeAggregatedList": {
   "id": "DiskTypeAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "object",
     "description": "[Output Only] A map of scoped disk type lists.",
     "additionalProperties": {
      "$ref": "DiskTypesScopedList",
      "description": "[Output Only] Name of the scope containing this set of disk types."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#diskTypeAggregatedList.",
     "default": "compute#diskTypeAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "DiskTypeList": {
   "id": "DiskTypeList",
   "type": "object",
   "description": "Contains a list of disk types.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] A list of Disk Type resources.",
     "items": {
      "$ref": "DiskType"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#diskTypeList for disk types.",
     "default": "compute#diskTypeList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "DiskTypesScopedList": {
   "id": "DiskTypesScopedList",
   "type": "object",
   "properties": {
    "diskTypes": {
     "type": "array",
     "description": "[Output Only] List of disk types contained in this scope.",
     "items": {
      "$ref": "DiskType"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of disk types when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "DisksResizeRequest": {
   "id": "DisksResizeRequest",
   "type": "object",
   "properties": {
    "sizeGb": {
     "type": "string",
     "description": "The new size of the persistent disk, which is specified in GB.",
     "format": "int64"
    }
   }
  },
  "DisksScopedList": {
   "id": "DisksScopedList",
   "type": "object",
   "properties": {
    "disks": {
     "type": "array",
     "description": "[Output Only] List of disks contained in this scope.",
     "items": {
      "$ref": "Disk"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of disks when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "Firewall": {
   "id": "Firewall",
   "type": "object",
   "description": "Represents a Firewall resource.",
   "properties": {
    "allowed": {
     "type": "array",
     "description": "The list of ALLOW rules specified by this firewall. Each rule specifies a protocol and port-range tuple that describes a permitted connection.",
     "items": {
      "type": "object",
      "properties": {
       "IPProtocol": {
        "type": "string",
        "description": "The IP protocol to which this rule applies. The protocol type is required when creating a firewall rule. This value can either be one of the following well known protocol strings (tcp, udp, icmp, esp, ah, sctp), or the IP protocol number."
       },
       "ports": {
        "type": "array",
        "description": "An optional list of ports to which this rule applies. This field is only applicable for UDP or TCP protocol. Each entry must be either an integer or a range. If not specified, this rule applies to connections through any port.\n\nExample inputs include: [\"22\"], [\"80\",\"443\"], and [\"12345-12349\"].",
        "items": {
         "type": "string"
        }
       }
      }
     }
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Ony] Type of the resource. Always compute#firewall for firewall rules.",
     "default": "compute#firewall"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.firewalls.insert",
       "compute.firewalls.patch"
      ]
     }
    },
    "network": {
     "type": "string",
     "description": "URL of the network resource for this firewall rule. If not specified when creating a firewall rule, the default network is used:\nglobal/networks/default\nIf you choose to specify this property, you can specify the network as a full or partial URL. For example, the following are all valid URLs:  \n- https://www.googleapis.com/compute/v1/projects/myproject/global/networks/my-network \n- projects/myproject/global/networks/my-network \n- global/networks/default"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "sourceRanges": {
     "type": "array",
     "description": "If source ranges are specified, the firewall will apply only to traffic that has source IP address in these ranges. These ranges must be expressed in CIDR format. One or both of sourceRanges and sourceTags may be set. If both properties are set, the firewall will apply to traffic that has source IP address within sourceRanges OR the source IP that belongs to a tag listed in the sourceTags property. The connection does not need to match both properties for the firewall to apply. Only IPv4 is supported.",
     "items": {
      "type": "string"
     }
    },
    "sourceTags": {
     "type": "array",
     "description": "If source tags are specified, the firewall will apply only to traffic with source IP that belongs to a tag listed in source tags. Source tags cannot be used to control traffic to an instance's external IP address. Because tags are associated with an instance, not an IP address. One or both of sourceRanges and sourceTags may be set. If both properties are set, the firewall will apply to traffic that has source IP address within sourceRanges OR the source IP that belongs to a tag listed in the sourceTags property. The connection does not need to match both properties for the firewall to apply.",
     "items": {
      "type": "string"
     }
    },
    "targetTags": {
     "type": "array",
     "description": "A list of instance tags indicating sets of instances located in the network that may make network connections as specified in allowed[]. If no targetTags are specified, the firewall rule applies to all instances on the specified network.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "FirewallList": {
   "id": "FirewallList",
   "type": "object",
   "description": "Contains a list of firewalls.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] A list of Firewall resources.",
     "items": {
      "$ref": "Firewall"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#firewallList for lists of firewalls.",
     "default": "compute#firewallList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "ForwardingRule": {
   "id": "ForwardingRule",
   "type": "object",
   "description": "A ForwardingRule resource. A ForwardingRule resource specifies which pool of target virtual machines to forward a packet to if it matches the given [IPAddress, IPProtocol, ports] tuple.",
   "properties": {
    "IPAddress": {
     "type": "string",
     "description": "The IP address that this forwarding rule is serving on behalf of.\n\nFor global forwarding rules, the address must be a global IP. For regional forwarding rules, the address must live in the same region as the forwarding rule. By default, this field is empty and an ephemeral IP from the same scope (global or regional) will be assigned.\n\nWhen the load balancing scheme is INTERNAL, this can only be an RFC 1918 IP address belonging to the network/subnetwork configured for the forwarding rule. A reserved address cannot be used. If the field is empty, the IP address will be automatically allocated from the internal IP range of the subnetwork or network configured for this forwarding rule. Only IPv4 is supported."
    },
    "IPProtocol": {
     "type": "string",
     "description": "The IP protocol to which this rule applies. Valid options are TCP, UDP, ESP, AH, SCTP or ICMP.\n\nWhen the load balancing scheme is INTERNAL, only TCP and UDP are valid.",
     "enum": [
      "AH",
      "ESP",
      "ICMP",
      "SCTP",
      "TCP",
      "UDP"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "backendService": {
     "type": "string",
     "description": "This field is not used for external load balancing.\n\nFor internal load balancing, this field identifies the BackendService resource to receive the matched traffic."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#forwardingRule for Forwarding Rule resources.",
     "default": "compute#forwardingRule"
    },
    "loadBalancingScheme": {
     "type": "string",
     "description": "This signifies what the ForwardingRule will be used for and can only take the following values: INTERNAL, EXTERNAL The value of INTERNAL means that this will be used for Internal Network Load Balancing (TCP, UDP). The value of EXTERNAL means that this will be used for External Load Balancing (HTTP(S) LB, External TCP/UDP LB, SSL Proxy)",
     "enum": [
      "EXTERNAL",
      "INTERNAL",
      "INVALID"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "network": {
     "type": "string",
     "description": "This field is not used for external load balancing.\n\nFor internal load balancing, this field identifies the network that the load balanced IP should belong to for this Forwarding Rule. If this field is not specified, the default network will be used."
    },
    "portRange": {
     "type": "string",
     "description": "This field is used along with the target field for TargetHttpProxy, TargetHttpsProxy, TargetSslProxy, TargetTcpProxy, TargetVpnGateway, TargetPool, TargetInstance.\n\nApplicable only when IPProtocol is TCP, UDP, or SCTP, only packets addressed to ports in the specified range will be forwarded to target. Forwarding rules with the same [IPAddress, IPProtocol] pair must have disjoint port ranges.\n\nSome types of forwarding target have constraints on the acceptable ports:  \n- TargetHttpProxy: 80, 8080 \n- TargetHttpsProxy: 443 \n- TargetSslProxy: 443 \n- TargetVpnGateway: 500, 4500\n-"
    },
    "ports": {
     "type": "array",
     "description": "This field is used along with the backend_service field for internal load balancing.\n\nWhen the load balancing scheme is INTERNAL, a single port or a comma separated list of ports can be configured. Only packets addressed to these ports will be forwarded to the backends configured with this forwarding rule.\n\nYou may specify a maximum of up to 5 ports.",
     "items": {
      "type": "string"
     }
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the regional forwarding rule resides. This field is not applicable to global forwarding rules."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "subnetwork": {
     "type": "string",
     "description": "This field is not used for external load balancing.\n\nFor internal load balancing, this field identifies the subnetwork that the load balanced IP should belong to for this Forwarding Rule.\n\nIf the network specified is in auto subnet mode, this field is optional. However, if the network is in custom subnet mode, a subnetwork must be specified."
    },
    "target": {
     "type": "string",
     "description": "The URL of the target resource to receive the matched traffic. For regional forwarding rules, this target must live in the same region as the forwarding rule. For global forwarding rules, this target must be a global load balancing resource. The forwarded traffic must be of a type appropriate to the target object.\n\nThis field is not used for internal load balancing."
    }
   }
  },
  "ForwardingRuleAggregatedList": {
   "id": "ForwardingRuleAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A map of scoped forwarding rule lists.",
     "additionalProperties": {
      "$ref": "ForwardingRulesScopedList",
      "description": "Name of the scope containing this set of addresses."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#forwardingRuleAggregatedList for lists of forwarding rules.",
     "default": "compute#forwardingRuleAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "ForwardingRuleList": {
   "id": "ForwardingRuleList",
   "type": "object",
   "description": "Contains a list of ForwardingRule resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource. Set by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of ForwardingRule resources.",
     "items": {
      "$ref": "ForwardingRule"
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#forwardingRuleList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "ForwardingRulesScopedList": {
   "id": "ForwardingRulesScopedList",
   "type": "object",
   "properties": {
    "forwardingRules": {
     "type": "array",
     "description": "List of forwarding rules contained in this scope.",
     "items": {
      "$ref": "ForwardingRule"
     }
    },
    "warning": {
     "type": "object",
     "description": "Informational warning which replaces the list of forwarding rules when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "GuestOsFeature": {
   "id": "GuestOsFeature",
   "type": "object",
   "description": "Guest OS features.",
   "properties": {
    "type": {
     "type": "string",
     "description": "The type of supported feature. Currenty only VIRTIO_SCSI_MULTIQUEUE is supported. For newer Windows images, the server might also populate this property with the value WINDOWS to indicate that this is a Windows image. This value is purely informational and does not enable or disable any features.",
     "enum": [
      "FEATURE_TYPE_UNSPECIFIED",
      "VIRTIO_SCSI_MULTIQUEUE",
      "WINDOWS"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "HTTPHealthCheck": {
   "id": "HTTPHealthCheck",
   "type": "object",
   "properties": {
    "host": {
     "type": "string",
     "description": "The value of the host header in the HTTP health check request. If left empty (default value), the IP on behalf of which this health check is performed will be used."
    },
    "port": {
     "type": "integer",
     "description": "The TCP port number for the health check request. The default value is 80. Valid values are 1 through 65535.",
     "format": "int32"
    },
    "portName": {
     "type": "string",
     "description": "Port name as defined in InstanceGroup#NamedPort#name. If both port and port_name are defined, port takes precedence."
    },
    "proxyHeader": {
     "type": "string",
     "description": "Specifies the type of proxy header to append before sending data to the backend, either NONE or PROXY_V1. The default is NONE.",
     "enum": [
      "NONE",
      "PROXY_V1"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "requestPath": {
     "type": "string",
     "description": "The request path of the HTTP health check request. The default value is /."
    }
   }
  },
  "HTTPSHealthCheck": {
   "id": "HTTPSHealthCheck",
   "type": "object",
   "properties": {
    "host": {
     "type": "string",
     "description": "The value of the host header in the HTTPS health check request. If left empty (default value), the IP on behalf of which this health check is performed will be used."
    },
    "port": {
     "type": "integer",
     "description": "The TCP port number for the health check request. The default value is 443. Valid values are 1 through 65535.",
     "format": "int32"
    },
    "portName": {
     "type": "string",
     "description": "Port name as defined in InstanceGroup#NamedPort#name. If both port and port_name are defined, port takes precedence."
    },
    "proxyHeader": {
     "type": "string",
     "description": "Specifies the type of proxy header to append before sending data to the backend, either NONE or PROXY_V1. The default is NONE.",
     "enum": [
      "NONE",
      "PROXY_V1"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "requestPath": {
     "type": "string",
     "description": "The request path of the HTTPS health check request. The default value is /."
    }
   }
  },
  "HealthCheck": {
   "id": "HealthCheck",
   "type": "object",
   "description": "An HealthCheck resource. This resource defines a template for how individual virtual machines should be checked for health, via one of the supported protocols.",
   "properties": {
    "checkIntervalSec": {
     "type": "integer",
     "description": "How often (in seconds) to send a health check. The default value is 5 seconds.",
     "format": "int32"
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in 3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "healthyThreshold": {
     "type": "integer",
     "description": "A so-far unhealthy instance will be marked healthy after this many consecutive successes. The default value is 2.",
     "format": "int32"
    },
    "httpHealthCheck": {
     "$ref": "HTTPHealthCheck"
    },
    "httpsHealthCheck": {
     "$ref": "HTTPSHealthCheck"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "Type of the resource.",
     "default": "compute#healthCheck"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "sslHealthCheck": {
     "$ref": "SSLHealthCheck"
    },
    "tcpHealthCheck": {
     "$ref": "TCPHealthCheck"
    },
    "timeoutSec": {
     "type": "integer",
     "description": "How long (in seconds) to wait before claiming failure. The default value is 5 seconds. It is invalid for timeoutSec to have greater value than checkIntervalSec.",
     "format": "int32"
    },
    "type": {
     "type": "string",
     "description": "Specifies the type of the healthCheck, either TCP, SSL, HTTP or HTTPS. If not specified, the default is TCP. Exactly one of the protocol-specific health check field must be specified, which must match type field.",
     "enum": [
      "HTTP",
      "HTTPS",
      "INVALID",
      "SSL",
      "TCP"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "unhealthyThreshold": {
     "type": "integer",
     "description": "A so-far healthy instance will be marked unhealthy after this many consecutive failures. The default value is 2.",
     "format": "int32"
    }
   }
  },
  "HealthCheckList": {
   "id": "HealthCheckList",
   "type": "object",
   "description": "Contains a list of HealthCheck resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of HealthCheck resources.",
     "items": {
      "$ref": "HealthCheck"
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#healthCheckList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
[...]
