{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-03-31",
    "endpointPrefix":"glue",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"AWS Glue",
    "serviceId":"Glue",
    "signatureVersion":"v4",
    "targetPrefix":"AWSGlue",
    "uid":"glue-2017-03-31"
  },
  "operations":{
    "BatchCreatePartition":{
      "name":"BatchCreatePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchCreatePartitionRequest"},
      "output":{"shape":"BatchCreatePartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "BatchDeleteConnection":{
      "name":"BatchDeleteConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteConnectionRequest"},
      "output":{"shape":"BatchDeleteConnectionResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchDeletePartition":{
      "name":"BatchDeletePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeletePartitionRequest"},
      "output":{"shape":"BatchDeletePartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchDeleteTable":{
      "name":"BatchDeleteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteTableRequest"},
      "output":{"shape":"BatchDeleteTableResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchDeleteTableVersion":{
      "name":"BatchDeleteTableVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteTableVersionRequest"},
      "output":{"shape":"BatchDeleteTableVersionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchGetCrawlers":{
      "name":"BatchGetCrawlers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetCrawlersRequest"},
      "output":{"shape":"BatchGetCrawlersResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchGetDevEndpoints":{
      "name":"BatchGetDevEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDevEndpointsRequest"},
      "output":{"shape":"BatchGetDevEndpointsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "BatchGetJobs":{
      "name":"BatchGetJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetJobsRequest"},
      "output":{"shape":"BatchGetJobsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "BatchGetPartition":{
      "name":"BatchGetPartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetPartitionRequest"},
      "output":{"shape":"BatchGetPartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "BatchGetTriggers":{
      "name":"BatchGetTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetTriggersRequest"},
      "output":{"shape":"BatchGetTriggersResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "BatchGetWorkflows":{
      "name":"BatchGetWorkflows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetWorkflowsRequest"},
      "output":{"shape":"BatchGetWorkflowsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "BatchStopJobRun":{
      "name":"BatchStopJobRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchStopJobRunRequest"},
      "output":{"shape":"BatchStopJobRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchUpdatePartition":{
      "name":"BatchUpdatePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchUpdatePartitionRequest"},
      "output":{"shape":"BatchUpdatePartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CancelMLTaskRun":{
      "name":"CancelMLTaskRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelMLTaskRunRequest"},
      "output":{"shape":"CancelMLTaskRunResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateClassifier":{
      "name":"CreateClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClassifierRequest"},
      "output":{"shape":"CreateClassifierResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "CreateConnection":{
      "name":"CreateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConnectionRequest"},
      "output":{"shape":"CreateConnectionResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateCrawler":{
      "name":"CreateCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCrawlerRequest"},
      "output":{"shape":"CreateCrawlerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"}
      ]
    },
    "CreateDatabase":{
      "name":"CreateDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatabaseRequest"},
      "output":{"shape":"CreateDatabaseResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateDevEndpoint":{
      "name":"CreateDevEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDevEndpointRequest"},
      "output":{"shape":"CreateDevEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNumberLimitExceededException"}
      ]
    },
    "CreateJob":{
      "name":"CreateJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateJobRequest"},
      "output":{"shape":"CreateJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "CreateMLTransform":{
      "name":"CreateMLTransform",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMLTransformRequest"},
      "output":{"shape":"CreateMLTransformResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"IdempotentParameterMismatchException"}
      ]
    },
    "CreatePartition":{
      "name":"CreatePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePartitionRequest"},
      "output":{"shape":"CreatePartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateScript":{
      "name":"CreateScript",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateScriptRequest"},
      "output":{"shape":"CreateScriptResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "CreateSecurityConfiguration":{
      "name":"CreateSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSecurityConfigurationRequest"},
      "output":{"shape":"CreateSecurityConfigurationResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"}
      ]
    },
    "CreateTable":{
      "name":"CreateTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTableRequest"},
      "output":{"shape":"CreateTableResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateTrigger":{
      "name":"CreateTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTriggerRequest"},
      "output":{"shape":"CreateTriggerResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "CreateUserDefinedFunction":{
      "name":"CreateUserDefinedFunction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserDefinedFunctionRequest"},
      "output":{"shape":"CreateUserDefinedFunctionResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateWorkflow":{
      "name":"CreateWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkflowRequest"},
      "output":{"shape":"CreateWorkflowResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "DeleteClassifier":{
      "name":"DeleteClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClassifierRequest"},
      "output":{"shape":"DeleteClassifierResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteColumnStatisticsForPartition":{
      "name":"DeleteColumnStatisticsForPartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteColumnStatisticsForPartitionRequest"},
      "output":{"shape":"DeleteColumnStatisticsForPartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "DeleteColumnStatisticsForTable":{
      "name":"DeleteColumnStatisticsForTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteColumnStatisticsForTableRequest"},
      "output":{"shape":"DeleteColumnStatisticsForTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectionRequest"},
      "output":{"shape":"DeleteConnectionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteCrawler":{
      "name":"DeleteCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCrawlerRequest"},
      "output":{"shape":"DeleteCrawlerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"CrawlerRunningException"},
        {"shape":"SchedulerTransitioningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteDatabase":{
      "name":"DeleteDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatabaseRequest"},
      "output":{"shape":"DeleteDatabaseResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteDevEndpoint":{
      "name":"DeleteDevEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDevEndpointRequest"},
      "output":{"shape":"DeleteDevEndpointResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "DeleteJob":{
      "name":"DeleteJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteJobRequest"},
      "output":{"shape":"DeleteJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteMLTransform":{
      "name":"DeleteMLTransform",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMLTransformRequest"},
      "output":{"shape":"DeleteMLTransformResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeletePartition":{
      "name":"DeletePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePartitionRequest"},
      "output":{"shape":"DeletePartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"ConditionCheckFailureException"}
      ]
    },
    "DeleteSecurityConfiguration":{
      "name":"DeleteSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSecurityConfigurationRequest"},
      "output":{"shape":"DeleteSecurityConfigurationResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteTable":{
      "name":"DeleteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTableRequest"},
      "output":{"shape":"DeleteTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteTableVersion":{
      "name":"DeleteTableVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTableVersionRequest"},
      "output":{"shape":"DeleteTableVersionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteTrigger":{
      "name":"DeleteTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTriggerRequest"},
      "output":{"shape":"DeleteTriggerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "DeleteUserDefinedFunction":{
      "name":"DeleteUserDefinedFunction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserDefinedFunctionRequest"},
      "output":{"shape":"DeleteUserDefinedFunctionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteWorkflow":{
      "name":"DeleteWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkflowRequest"},
      "output":{"shape":"DeleteWorkflowResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "GetCatalogImportStatus":{
      "name":"GetCatalogImportStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCatalogImportStatusRequest"},
      "output":{"shape":"GetCatalogImportStatusResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetClassifier":{
      "name":"GetClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetClassifierRequest"},
      "output":{"shape":"GetClassifierResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetClassifiers":{
      "name":"GetClassifiers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetClassifiersRequest"},
      "output":{"shape":"GetClassifiersResponse"},
      "errors":[
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetColumnStatisticsForPartition":{
      "name":"GetColumnStatisticsForPartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetColumnStatisticsForPartitionRequest"},
      "output":{"shape":"GetColumnStatisticsForPartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetColumnStatisticsForTable":{
      "name":"GetColumnStatisticsForTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetColumnStatisticsForTableRequest"},
      "output":{"shape":"GetColumnStatisticsForTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetConnection":{
      "name":"GetConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectionRequest"},
      "output":{"shape":"GetConnectionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetConnections":{
      "name":"GetConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectionsRequest"},
      "output":{"shape":"GetConnectionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetCrawler":{
      "name":"GetCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCrawlerRequest"},
      "output":{"shape":"GetCrawlerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetCrawlerMetrics":{
      "name":"GetCrawlerMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCrawlerMetricsRequest"},
      "output":{"shape":"GetCrawlerMetricsResponse"},
      "errors":[
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetCrawlers":{
      "name":"GetCrawlers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCrawlersRequest"},
      "output":{"shape":"GetCrawlersResponse"},
      "errors":[
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetDataCatalogEncryptionSettings":{
      "name":"GetDataCatalogEncryptionSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDataCatalogEncryptionSettingsRequest"},
      "output":{"shape":"GetDataCatalogEncryptionSettingsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetDatabase":{
      "name":"GetDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDatabaseRequest"},
      "output":{"shape":"GetDatabaseResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetDatabases":{
      "name":"GetDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDatabasesRequest"},
      "output":{"shape":"GetDatabasesResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetDataflowGraph":{
      "name":"GetDataflowGraph",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDataflowGraphRequest"},
      "output":{"shape":"GetDataflowGraphResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetDevEndpoint":{
      "name":"GetDevEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDevEndpointRequest"},
      "output":{"shape":"GetDevEndpointResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "GetDevEndpoints":{
      "name":"GetDevEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDevEndpointsRequest"},
      "output":{"shape":"GetDevEndpointsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "GetJob":{
      "name":"GetJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRequest"},
      "output":{"shape":"GetJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetJobBookmark":{
      "name":"GetJobBookmark",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobBookmarkRequest"},
      "output":{"shape":"GetJobBookmarkResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ValidationException"}
      ]
    },
    "GetJobRun":{
      "name":"GetJobRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRunRequest"},
      "output":{"shape":"GetJobRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetJobRuns":{
      "name":"GetJobRuns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRunsRequest"},
      "output":{"shape":"GetJobRunsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetJobs":{
      "name":"GetJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobsRequest"},
      "output":{"shape":"GetJobsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetMLTaskRun":{
      "name":"GetMLTaskRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMLTaskRunRequest"},
      "output":{"shape":"GetMLTaskRunResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetMLTaskRuns":{
      "name":"GetMLTaskRuns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMLTaskRunsRequest"},
      "output":{"shape":"GetMLTaskRunsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetMLTransform":{
      "name":"GetMLTransform",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMLTransformRequest"},
      "output":{"shape":"GetMLTransformResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetMLTransforms":{
      "name":"GetMLTransforms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMLTransformsRequest"},
      "output":{"shape":"GetMLTransformsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetMapping":{
      "name":"GetMapping",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMappingRequest"},
      "output":{"shape":"GetMappingResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ]
    },
    "GetPartition":{
      "name":"GetPartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPartitionRequest"},
      "output":{"shape":"GetPartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetPartitionIndexes":{
      "name":"GetPartitionIndexes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPartitionIndexesRequest"},
      "output":{"shape":"GetPartitionIndexesResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"ConflictException"}
      ]
    },
    "GetPartitions":{
      "name":"GetPartitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPartitionsRequest"},
      "output":{"shape":"GetPartitionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetPlan":{
      "name":"GetPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPlanRequest"},
      "output":{"shape":"GetPlanResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetResourcePolicies":{
      "name":"GetResourcePolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePoliciesRequest"},
      "output":{"shape":"GetResourcePoliciesResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "GetSecurityConfiguration":{
      "name":"GetSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSecurityConfigurationRequest"},
      "output":{"shape":"GetSecurityConfigurationResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetSecurityConfigurations":{
      "name":"GetSecurityConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSecurityConfigurationsRequest"},
      "output":{"shape":"GetSecurityConfigurationsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetTable":{
      "name":"GetTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTableRequest"},
      "output":{"shape":"GetTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetTableVersion":{
      "name":"GetTableVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTableVersionRequest"},
      "output":{"shape":"GetTableVersionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetTableVersions":{
      "name":"GetTableVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTableVersionsRequest"},
      "output":{"shape":"GetTableVersionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetTables":{
      "name":"GetTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTablesRequest"},
      "output":{"shape":"GetTablesResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetTags":{
      "name":"GetTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTagsRequest"},
      "output":{"shape":"GetTagsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ]
    },
    "GetTrigger":{
      "name":"GetTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTriggerRequest"},
      "output":{"shape":"GetTriggerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetTriggers":{
      "name":"GetTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTriggersRequest"},
      "output":{"shape":"GetTriggersResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetUserDefinedFunction":{
      "name":"GetUserDefinedFunction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserDefinedFunctionRequest"},
      "output":{"shape":"GetUserDefinedFunctionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetUserDefinedFunctions":{
      "name":"GetUserDefinedFunctions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserDefinedFunctionsRequest"},
      "output":{"shape":"GetUserDefinedFunctionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetWorkflow":{
      "name":"GetWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetWorkflowRequest"},
      "output":{"shape":"GetWorkflowResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetWorkflowRun":{
      "name":"GetWorkflowRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetWorkflowRunRequest"},
      "output":{"shape":"GetWorkflowRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetWorkflowRunProperties":{
      "name":"GetWorkflowRunProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetWorkflowRunPropertiesRequest"},
      "output":{"shape":"GetWorkflowRunPropertiesResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetWorkflowRuns":{
      "name":"GetWorkflowRuns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetWorkflowRunsRequest"},
      "output":{"shape":"GetWorkflowRunsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ImportCatalogToGlue":{
      "name":"ImportCatalogToGlue",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportCatalogToGlueRequest"},
      "output":{"shape":"ImportCatalogToGlueResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListCrawlers":{
      "name":"ListCrawlers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCrawlersRequest"},
      "output":{"shape":"ListCrawlersResponse"},
      "errors":[
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListDevEndpoints":{
      "name":"ListDevEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDevEndpointsRequest"},
      "output":{"shape":"ListDevEndpointsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListJobsRequest"},
      "output":{"shape":"ListJobsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListMLTransforms":{
      "name":"ListMLTransforms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMLTransformsRequest"},
      "output":{"shape":"ListMLTransformsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListTriggers":{
      "name":"ListTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTriggersRequest"},
      "output":{"shape":"ListTriggersResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListWorkflows":{
      "name":"ListWorkflows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkflowsRequest"},
      "output":{"shape":"ListWorkflowsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "PutDataCatalogEncryptionSettings":{
      "name":"PutDataCatalogEncryptionSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutDataCatalogEncryptionSettingsRequest"},
      "output":{"shape":"PutDataCatalogEncryptionSettingsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"ConditionCheckFailureException"}
      ]
    },
    "PutWorkflowRunProperties":{
      "name":"PutWorkflowRunProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutWorkflowRunPropertiesRequest"},
      "output":{"shape":"PutWorkflowRunPropertiesResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "ResetJobBookmark":{
      "name":"ResetJobBookmark",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetJobBookmarkRequest"},
      "output":{"shape":"ResetJobBookmarkResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ResumeWorkflowRun":{
      "name":"ResumeWorkflowRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResumeWorkflowRunRequest"},
      "output":{"shape":"ResumeWorkflowRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentRunsExceededException"},
        {"shape":"IllegalWorkflowStateException"}
      ]
    },
    "SearchTables":{
      "name":"SearchTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchTablesRequest"},
      "output":{"shape":"SearchTablesResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StartCrawler":{
      "name":"StartCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCrawlerRequest"},
      "output":{"shape":"StartCrawlerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"CrawlerRunningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StartCrawlerSchedule":{
      "name":"StartCrawlerSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCrawlerScheduleRequest"},
      "output":{"shape":"StartCrawlerScheduleResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"SchedulerRunningException"},
        {"shape":"SchedulerTransitioningException"},
        {"shape":"NoScheduleException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StartExportLabelsTaskRun":{
      "name":"StartExportLabelsTaskRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartExportLabelsTaskRunRequest"},
      "output":{"shape":"StartExportLabelsTaskRunResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "StartImportLabelsTaskRun":{
      "name":"StartImportLabelsTaskRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartImportLabelsTaskRunRequest"},
      "output":{"shape":"StartImportLabelsTaskRunResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "StartJobRun":{
      "name":"StartJobRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartJobRunRequest"},
      "output":{"shape":"StartJobRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentRunsExceededException"}
      ]
    },
    "StartMLEvaluationTaskRun":{
      "name":"StartMLEvaluationTaskRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMLEvaluationTaskRunRequest"},
      "output":{"shape":"StartMLEvaluationTaskRunResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"ConcurrentRunsExceededException"},
        {"shape":"MLTransformNotReadyException"}
      ]
    },
    "StartMLLabelingSetGenerationTaskRun":{
      "name":"StartMLLabelingSetGenerationTaskRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMLLabelingSetGenerationTaskRunRequest"},
      "output":{"shape":"StartMLLabelingSetGenerationTaskRunResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"ConcurrentRunsExceededException"}
      ]
    },
    "StartTrigger":{
      "name":"StartTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTriggerRequest"},
      "output":{"shape":"StartTriggerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentRunsExceededException"}
      ]
    },
    "StartWorkflowRun":{
      "name":"StartWorkflowRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartWorkflowRunRequest"},
      "output":{"shape":"StartWorkflowRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentRunsExceededException"}
      ]
    },
    "StopCrawler":{
      "name":"StopCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCrawlerRequest"},
      "output":{"shape":"StopCrawlerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"CrawlerNotRunningException"},
        {"shape":"CrawlerStoppingException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StopCrawlerSchedule":{
      "name":"StopCrawlerSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCrawlerScheduleRequest"},
      "output":{"shape":"StopCrawlerScheduleResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"SchedulerNotRunningException"},
        {"shape":"SchedulerTransitioningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StopTrigger":{
      "name":"StopTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTriggerRequest"},
      "output":{"shape":"StopTriggerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "StopWorkflowRun":{
      "name":"StopWorkflowRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopWorkflowRunRequest"},
      "output":{"shape":"StopWorkflowRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"IllegalWorkflowStateException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ]
    },
    "UpdateClassifier":{
      "name":"UpdateClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateClassifierRequest"},
      "output":{"shape":"UpdateClassifierResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"VersionMismatchException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "UpdateColumnStatisticsForPartition":{
      "name":"UpdateColumnStatisticsForPartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateColumnStatisticsForPartitionRequest"},
      "output":{"shape":"UpdateColumnStatisticsForPartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateColumnStatisticsForTable":{
      "name":"UpdateColumnStatisticsForTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateColumnStatisticsForTableRequest"},
      "output":{"shape":"UpdateColumnStatisticsForTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateConnection":{
      "name":"UpdateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConnectionRequest"},
      "output":{"shape":"UpdateConnectionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateCrawler":{
      "name":"UpdateCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCrawlerRequest"},
      "output":{"shape":"UpdateCrawlerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"VersionMismatchException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"CrawlerRunningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "UpdateCrawlerSchedule":{
      "name":"UpdateCrawlerSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCrawlerScheduleRequest"},
      "output":{"shape":"UpdateCrawlerScheduleResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"VersionMismatchException"},
        {"shape":"SchedulerTransitioningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "UpdateDatabase":{
      "name":"UpdateDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDatabaseRequest"},
      "output":{"shape":"UpdateDatabaseResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateDevEndpoint":{
      "name":"UpdateDevEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDevEndpointRequest"},
      "output":{"shape":"UpdateDevEndpointResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"ValidationException"}
      ]
    },
    "UpdateJob":{
      "name":"UpdateJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateJobRequest"},
      "output":{"shape":"UpdateJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "UpdateMLTransform":{
      "name":"UpdateMLTransform",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMLTransformRequest"},
      "output":{"shape":"UpdateMLTransformResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdatePartition":{
      "name":"UpdatePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePartitionRequest"},
      "output":{"shape":"UpdatePartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateTable":{
      "name":"UpdateTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTableRequest"},
      "output":{"shape":"UpdateTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateTrigger":{
      "name":"UpdateTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTriggerRequest"},
      "output":{"shape":"UpdateTriggerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "UpdateUserDefinedFunction":{
      "name":"UpdateUserDefinedFunction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserDefinedFunctionRequest"},
      "output":{"shape":"UpdateUserDefinedFunctionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateWorkflow":{
      "name":"UpdateWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkflowRequest"},
      "output":{"shape":"UpdateWorkflowResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "Action":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"NameString"},
        "Arguments":{"shape":"GenericMap"},
        "Timeout":{"shape":"Timeout"},
        "SecurityConfiguration":{"shape":"NameString"},
        "NotificationProperty":{"shape":"NotificationProperty"},
        "CrawlerName":{"shape":"NameString"}
      }
    },
    "ActionList":{
      "type":"list",
      "member":{"shape":"Action"}
    },
    "AdditionalPlanOptionsMap":{
      "type":"map",
      "key":{"shape":"GenericString"},
      "value":{"shape":"GenericString"}
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "AttemptCount":{"type":"integer"},
    "BatchCreatePartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionInputList"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionInputList":{"shape":"PartitionInputList"}
      }
    },
    "BatchCreatePartitionResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"PartitionErrors"}
      }
    },
    "BatchDeleteConnectionRequest":{
      "type":"structure",
      "required":["ConnectionNameList"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "ConnectionNameList":{"shape":"DeleteConnectionNameList"}
      }
    },
    "BatchDeleteConnectionResponse":{
      "type":"structure",
      "members":{
        "Succeeded":{"shape":"NameStringList"},
        "Errors":{"shape":"ErrorByName"}
      }
    },
    "BatchDeletePartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionsToDelete"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionsToDelete":{"shape":"BatchDeletePartitionValueList"}
      }
    },
    "BatchDeletePartitionResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"PartitionErrors"}
      }
    },
    "BatchDeletePartitionValueList":{
      "type":"list",
      "member":{"shape":"PartitionValueList"},
      "max":25,
      "min":0
    },
    "BatchDeleteTableNameList":{
      "type":"list",
      "member":{"shape":"NameString"},
      "max":100,
      "min":0
    },
    "BatchDeleteTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TablesToDelete"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TablesToDelete":{"shape":"BatchDeleteTableNameList"}
      }
    },
    "BatchDeleteTableResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"TableErrors"}
      }
    },
    "BatchDeleteTableVersionList":{
      "type":"list",
      "member":{"shape":"VersionString"},
      "max":100,
      "min":0
    },
    "BatchDeleteTableVersionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "VersionIds"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "VersionIds":{"shape":"BatchDeleteTableVersionList"}
      }
    },
    "BatchDeleteTableVersionResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"TableVersionErrors"}
      }
    },
    "BatchGetCrawlersRequest":{
      "type":"structure",
      "required":["CrawlerNames"],
      "members":{
        "CrawlerNames":{"shape":"CrawlerNameList"}
      }
    },
    "BatchGetCrawlersResponse":{
      "type":"structure",
      "members":{
        "Crawlers":{"shape":"CrawlerList"},
        "CrawlersNotFound":{"shape":"CrawlerNameList"}
      }
    },
    "BatchGetDevEndpointsRequest":{
      "type":"structure",
      "required":["DevEndpointNames"],
      "members":{
        "DevEndpointNames":{"shape":"DevEndpointNames"}
      }
    },
    "BatchGetDevEndpointsResponse":{
      "type":"structure",
      "members":{
        "DevEndpoints":{"shape":"DevEndpointList"},
        "DevEndpointsNotFound":{"shape":"DevEndpointNames"}
      }
    },
    "BatchGetJobsRequest":{
      "type":"structure",
      "required":["JobNames"],
      "members":{
        "JobNames":{"shape":"JobNameList"}
      }
    },
    "BatchGetJobsResponse":{
      "type":"structure",
      "members":{
        "Jobs":{"shape":"JobList"},
        "JobsNotFound":{"shape":"JobNameList"}
      }
    },
    "BatchGetPartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionsToGet"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionsToGet":{"shape":"BatchGetPartitionValueList"}
      }
    },
    "BatchGetPartitionResponse":{
      "type":"structure",
      "members":{
        "Partitions":{"shape":"PartitionList"},
        "UnprocessedKeys":{"shape":"BatchGetPartitionValueList"}
      }
    },
    "BatchGetPartitionValueList":{
      "type":"list",
      "member":{"shape":"PartitionValueList"},
      "max":1000,
      "min":0
    },
    "BatchGetTriggersRequest":{
      "type":"structure",
      "required":["TriggerNames"],
      "members":{
        "TriggerNames":{"shape":"TriggerNameList"}
      }
    },
    "BatchGetTriggersResponse":{
      "type":"structure",
      "members":{
        "Triggers":{"shape":"TriggerList"},
        "TriggersNotFound":{"shape":"TriggerNameList"}
      }
    },
    "BatchGetWorkflowsRequest":{
      "type":"structure",
      "required":["Names"],
      "members":{
        "Names":{"shape":"WorkflowNames"},
        "IncludeGraph":{"shape":"NullableBoolean"}
      }
    },
    "BatchGetWorkflowsResponse":{
      "type":"structure",
      "members":{
        "Workflows":{"shape":"Workflows"},
        "MissingWorkflows":{"shape":"WorkflowNames"}
      }
    },
    "BatchStopJobRunError":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"NameString"},
        "JobRunId":{"shape":"IdString"},
        "ErrorDetail":{"shape":"ErrorDetail"}
      }
    },
    "BatchStopJobRunErrorList":{
      "type":"list",
      "member":{"shape":"BatchStopJobRunError"}
    },
    "BatchStopJobRunJobRunIdList":{
      "type":"list",
      "member":{"shape":"IdString"},
      "max":25,
      "min":1
    },
    "BatchStopJobRunRequest":{
      "type":"structure",
      "required":[
        "JobName",
        "JobRunIds"
      ],
      "members":{
        "JobName":{"shape":"NameString"},
        "JobRunIds":{"shape":"BatchStopJobRunJobRunIdList"}
      }
    },
    "BatchStopJobRunResponse":{
      "type":"structure",
      "members":{
        "SuccessfulSubmissions":{"shape":"BatchStopJobRunSuccessfulSubmissionList"},
        "Errors":{"shape":"BatchStopJobRunErrorList"}
      }
    },
    "BatchStopJobRunSuccessfulSubmission":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"NameString"},
        "JobRunId":{"shape":"IdString"}
      }
    },
    "BatchStopJobRunSuccessfulSubmissionList":{
      "type":"list",
      "member":{"shape":"BatchStopJobRunSuccessfulSubmission"}
    },
    "BatchUpdatePartitionFailureEntry":{
      "type":"structure",
      "members":{
        "PartitionValueList":{"shape":"BoundedPartitionValueList"},
        "ErrorDetail":{"shape":"ErrorDetail"}
      }
    },
    "BatchUpdatePartitionFailureList":{
      "type":"list",
      "member":{"shape":"BatchUpdatePartitionFailureEntry"}
    },
    "BatchUpdatePartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "Entries"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "Entries":{"shape":"BatchUpdatePartitionRequestEntryList"}
      }
    },
    "BatchUpdatePartitionRequestEntry":{
      "type":"structure",
      "required":[
        "PartitionValueList",
        "PartitionInput"
      ],
      "members":{
        "PartitionValueList":{"shape":"BoundedPartitionValueList"},
        "PartitionInput":{"shape":"PartitionInput"}
      }
    },
    "BatchUpdatePartitionRequestEntryList":{
      "type":"list",
      "member":{"shape":"BatchUpdatePartitionRequestEntry"},
      "max":100,
      "min":1
    },
    "BatchUpdatePartitionResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"BatchUpdatePartitionFailureList"}
      }
    },
    "BinaryColumnStatisticsData":{
      "type":"structure",
      "required":[
        "MaximumLength",
        "AverageLength",
        "NumberOfNulls"
      ],
      "members":{
        "MaximumLength":{"shape":"NonNegativeLong"},
        "AverageLength":{"shape":"NonNegativeDouble"},
        "NumberOfNulls":{"shape":"NonNegativeLong"}
      }
    },
    "Blob":{"type":"blob"},
    "Boolean":{"type":"boolean"},
    "BooleanColumnStatisticsData":{
      "type":"structure",
      "required":[
        "NumberOfTrues",
        "NumberOfFalses",
        "NumberOfNulls"
      ],
      "members":{
        "NumberOfTrues":{"shape":"NonNegativeLong"},
        "NumberOfFalses":{"shape":"NonNegativeLong"},
        "NumberOfNulls":{"shape":"NonNegativeLong"}
      }
    },
    "BooleanNullable":{"type":"boolean"},
    "BooleanValue":{"type":"boolean"},
    "BoundedPartitionValueList":{
      "type":"list",
      "member":{"shape":"ValueString"},
      "max":100,
      "min":0
    },
    "CancelMLTaskRunRequest":{
      "type":"structure",
      "required":[
        "TransformId",
        "TaskRunId"
      ],
      "members":{
        "TransformId":{"shape":"HashString"},
        "TaskRunId":{"shape":"HashString"}
      }
    },
    "CancelMLTaskRunResponse":{
      "type":"structure",
      "members":{
        "TransformId":{"shape":"HashString"},
        "TaskRunId":{"shape":"HashString"},
        "Status":{"shape":"TaskStatusType"}
      }
    },
    "CatalogEncryptionMode":{
      "type":"string",
      "enum":[
        "DISABLED",
        "SSE-KMS"
      ]
    },
    "CatalogEntries":{
      "type":"list",
      "member":{"shape":"CatalogEntry"}
    },
    "CatalogEntry":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"}
      }
    },
    "CatalogIdString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "CatalogImportStatus":{
      "type":"structure",
      "members":{
        "ImportCompleted":{"shape":"Boolean"},
        "ImportTime":{"shape":"Timestamp"},
        "ImportedBy":{"shape":"NameString"}
      }
    },
    "CatalogTablesList":{
      "type":"list",
      "member":{"shape":"NameString"},
      "min":1
    },
    "CatalogTarget":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "Tables"
      ],
      "members":{
        "DatabaseName":{"shape":"NameString"},
        "Tables":{"shape":"CatalogTablesList"}
      }
    },
    "CatalogTargetList":{
      "type":"list",
      "member":{"shape":"CatalogTarget"}
    },
    "Classification":{"type":"string"},
    "Classifier":{
      "type":"structure",
      "members":{
        "GrokClassifier":{"shape":"GrokClassifier"},
        "XMLClassifier":{"shape":"XMLClassifier"},
        "JsonClassifier":{"shape":"JsonClassifier"},
        "CsvClassifier":{"shape":"CsvClassifier"}
      }
    },
    "ClassifierList":{
      "type":"list",
      "member":{"shape":"Classifier"}
    },
    "ClassifierNameList":{
      "type":"list",
      "member":{"shape":"NameString"}
    },
    "CloudWatchEncryption":{
      "type":"structure",
      "members":{
        "CloudWatchEncryptionMode":{"shape":"CloudWatchEncryptionMode"},
        "KmsKeyArn":{"shape":"KmsKeyArn"}
      }
    },
    "CloudWatchEncryptionMode":{
      "type":"string",
      "enum":[
        "DISABLED",
        "SSE-KMS"
      ]
    },
    "CodeGenArgName":{"type":"string"},
    "CodeGenArgValue":{"type":"string"},
    "CodeGenEdge":{
      "type":"structure",
      "required":[
        "Source",
        "Target"
      ],
      "members":{
        "Source":{"shape":"CodeGenIdentifier"},
        "Target":{"shape":"CodeGenIdentifier"},
        "TargetParameter":{"shape":"CodeGenArgName"}
      }
    },
    "CodeGenIdentifier":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z_][A-Za-z0-9_]*"
    },
    "CodeGenNode":{
      "type":"structure",
      "required":[
        "Id",
        "NodeType",
        "Args"
      ],
      "members":{
        "Id":{"shape":"CodeGenIdentifier"},
        "NodeType":{"shape":"CodeGenNodeType"},
        "Args":{"shape":"CodeGenNodeArgs"},
        "LineNumber":{"shape":"Integer"}
      }
    },
    "CodeGenNodeArg":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{"shape":"CodeGenArgName"},
        "Value":{"shape":"CodeGenArgValue"},
        "Param":{"shape":"Boolean"}
      }
    },
    "CodeGenNodeArgs":{
      "type":"list",
      "member":{"shape":"CodeGenNodeArg"},
      "max":50,
      "min":0
    },
    "CodeGenNodeType":{"type":"string"},
    "Column":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "Type":{"shape":"ColumnTypeString"},
        "Comment":{"shape":"CommentString"},
        "Parameters":{"shape":"ParametersMap"}
      }
    },
    "ColumnError":{
      "type":"structure",
      "members":{
        "ColumnName":{"shape":"NameString"},
        "Error":{"shape":"ErrorDetail"}
      }
    },
    "ColumnErrors":{
      "type":"list",
      "member":{"shape":"ColumnError"}
    },
    "ColumnList":{
      "type":"list",
      "member":{"shape":"Column"}
    },
    "ColumnNameString":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "ColumnStatistics":{
      "type":"structure",
      "required":[
        "ColumnName",
        "ColumnType",
        "AnalyzedTime",
        "StatisticsData"
      ],
      "members":{
        "ColumnName":{"shape":"NameString"},
        "ColumnType":{"shape":"TypeString"},
        "AnalyzedTime":{"shape":"Timestamp"},
        "StatisticsData":{"shape":"ColumnStatisticsData"}
      }
    },
    "ColumnStatisticsData":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{"shape":"ColumnStatisticsType"},
        "BooleanColumnStatisticsData":{"shape":"BooleanColumnStatisticsData"},
        "DateColumnStatisticsData":{"shape":"DateColumnStatisticsData"},
        "DecimalColumnStatisticsData":{"shape":"DecimalColumnStatisticsData"},
        "DoubleColumnStatisticsData":{"shape":"DoubleColumnStatisticsData"},
        "LongColumnStatisticsData":{"shape":"LongColumnStatisticsData"},
        "StringColumnStatisticsData":{"shape":"StringColumnStatisticsData"},
        "BinaryColumnStatisticsData":{"shape":"BinaryColumnStatisticsData"}
      }
    },
    "ColumnStatisticsError":{
      "type":"structure",
      "members":{
        "ColumnStatistics":{"shape":"ColumnStatistics"},
        "Error":{"shape":"ErrorDetail"}
      }
    },
    "ColumnStatisticsErrors":{
      "type":"list",
      "member":{"shape":"ColumnStatisticsError"}
    },
    "ColumnStatisticsList":{
      "type":"list",
      "member":{"shape":"ColumnStatistics"}
    },
    "ColumnStatisticsType":{
      "type":"string",
      "enum":[
        "BOOLEAN",
        "DATE",
        "DECIMAL",
        "DOUBLE",
        "LONG",
        "STRING",
        "BINARY"
      ]
    },
    "ColumnTypeString":{
      "type":"string",
      "max":131072,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "ColumnValueStringList":{
      "type":"list",
      "member":{"shape":"ColumnValuesString"}
    },
    "ColumnValuesString":{"type":"string"},
    "CommentString":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "Comparator":{
      "type":"string",
      "enum":[
        "EQUALS",
        "GREATER_THAN",
        "LESS_THAN",
        "GREATER_THAN_EQUALS",
        "LESS_THAN_EQUALS"
      ]
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "ConcurrentRunsExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "Condition":{
      "type":"structure",
      "members":{
        "LogicalOperator":{"shape":"LogicalOperator"},
        "JobName":{"shape":"NameString"},
        "State":{"shape":"JobRunState"},
        "CrawlerName":{"shape":"NameString"},
        "CrawlState":{"shape":"CrawlState"}
      }
    },
    "ConditionCheckFailureException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "ConditionList":{
      "type":"list",
      "member":{"shape":"Condition"}
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "ConfusionMatrix":{
      "type":"structure",
      "members":{
        "NumTruePositives":{"shape":"RecordsCount"},
        "NumFalsePositives":{"shape":"RecordsCount"},
        "NumTrueNegatives":{"shape":"RecordsCount"},
        "NumFalseNegatives":{"shape":"RecordsCount"}
      }
    },
    "Connection":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "ConnectionType":{"shape":"ConnectionType"},
        "MatchCriteria":{"shape":"MatchCriteria"},
        "ConnectionProperties":{"shape":"ConnectionProperties"},
        "PhysicalConnectionRequirements":{"shape":"PhysicalConnectionRequirements"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "LastUpdatedBy":{"shape":"NameString"}
      }
    },
    "ConnectionInput":{
      "type":"structure",
      "required":[
        "Name",
        "ConnectionType",
        "ConnectionProperties"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "ConnectionType":{"shape":"ConnectionType"},
        "MatchCriteria":{"shape":"MatchCriteria"},
        "ConnectionProperties":{"shape":"ConnectionProperties"},
        "PhysicalConnectionRequirements":{"shape":"PhysicalConnectionRequirements"}
      }
    },
    "ConnectionList":{
      "type":"list",
      "member":{"shape":"Connection"}
    },
    "ConnectionName":{"type":"string"},
    "ConnectionPasswordEncryption":{
      "type":"structure",
      "required":["ReturnConnectionPasswordEncrypted"],
      "members":{
        "ReturnConnectionPasswordEncrypted":{"shape":"Boolean"},
        "AwsKmsKeyId":{"shape":"NameString"}
      }
    },
    "ConnectionProperties":{
      "type":"map",
      "key":{"shape":"ConnectionPropertyKey"},
      "value":{"shape":"ValueString"},
      "max":100,
      "min":0
    },
    "ConnectionPropertyKey":{
      "type":"string",
      "enum":[
        "HOST",
        "PORT",
        "USERNAME",
        "PASSWORD",
        "ENCRYPTED_PASSWORD",
        "JDBC_DRIVER_JAR_URI",
        "JDBC_DRIVER_CLASS_NAME",
        "JDBC_ENGINE",
        "JDBC_ENGINE_VERSION",
        "CONFIG_FILES",
        "INSTANCE_ID",
        "JDBC_CONNECTION_URL",
        "JDBC_ENFORCE_SSL",
        "CUSTOM_JDBC_CERT",
        "SKIP_CUSTOM_JDBC_CERT_VALIDATION",
        "CUSTOM_JDBC_CERT_STRING",
        "CONNECTION_URL",
        "KAFKA_BOOTSTRAP_SERVERS",
        "KAFKA_SSL_ENABLED",
        "KAFKA_CUSTOM_CERT",
        "KAFKA_SKIP_CUSTOM_CERT_VALIDATION"
      ]
    },
    "ConnectionType":{
      "type":"string",
      "enum":[
        "JDBC",
        "SFTP",
        "MONGODB",
        "KAFKA",
        "NETWORK"
      ]
    },
    "ConnectionsList":{
      "type":"structure",
      "members":{
        "Connections":{"shape":"OrchestrationStringList"}
      }
    },
    "Crawl":{
      "type":"structure",
      "members":{
        "State":{"shape":"CrawlState"},
        "StartedOn":{"shape":"TimestampValue"},
        "CompletedOn":{"shape":"TimestampValue"},
        "ErrorMessage":{"shape":"DescriptionString"},
        "LogGroup":{"shape":"LogGroup"},
        "LogStream":{"shape":"LogStream"}
      }
    },
    "CrawlList":{
      "type":"list",
      "member":{"shape":"Crawl"}
    },
    "CrawlState":{
      "type":"string",
      "enum":[
        "RUNNING",
        "CANCELLING",
        "CANCELLED",
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "Crawler":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"},
        "Role":{"shape":"Role"},
        "Targets":{"shape":"CrawlerTargets"},
        "DatabaseName":{"shape":"DatabaseName"},
        "Description":{"shape":"DescriptionString"},
        "Classifiers":{"shape":"ClassifierNameList"},
        "RecrawlPolicy":{"shape":"RecrawlPolicy"},
        "SchemaChangePolicy":{"shape":"SchemaChangePolicy"},
        "State":{"shape":"CrawlerState"},
        "TablePrefix":{"shape":"TablePrefix"},
        "Schedule":{"shape":"Schedule"},
        "CrawlElapsedTime":{"shape":"MillisecondsCount"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdated":{"shape":"Timestamp"},
        "LastCrawl":{"shape":"LastCrawlInfo"},
        "Version":{"shape":"VersionId"},
        "Configuration":{"shape":"CrawlerConfiguration"},
        "CrawlerSecurityConfiguration":{"shape":"CrawlerSecurityConfiguration"}
      }
    },
    "CrawlerConfiguration":{"type":"string"},
    "CrawlerList":{
      "type":"list",
      "member":{"shape":"Crawler"}
    },
    "CrawlerMetrics":{
      "type":"structure",
      "members":{
        "CrawlerName":{"shape":"NameString"},
        "TimeLeftSeconds":{"shape":"NonNegativeDouble"},
        "StillEstimating":{"shape":"Boolean"},
        "LastRuntimeSeconds":{"shape":"NonNegativeDouble"},
        "MedianRuntimeSeconds":{"shape":"NonNegativeDouble"},
        "TablesCreated":{"shape":"NonNegativeInteger"},
        "TablesUpdated":{"shape":"NonNegativeInteger"},
        "TablesDeleted":{"shape":"NonNegativeInteger"}
      }
    },
    "CrawlerMetricsList":{
      "type":"list",
      "member":{"shape":"CrawlerMetrics"}
    },
    "CrawlerNameList":{
      "type":"list",
      "member":{"shape":"NameString"},
      "max":100,
      "min":0
    },
    "CrawlerNodeDetails":{
      "type":"structure",
      "members":{
        "Crawls":{"shape":"CrawlList"}
      }
    },
    "CrawlerNotRunningException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "CrawlerRunningException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "CrawlerSecurityConfiguration":{
      "type":"string",
      "max":128,
      "min":0
    },
    "CrawlerState":{
      "type":"string",
      "enum":[
        "READY",
        "RUNNING",
        "STOPPING"
      ]
    },
    "CrawlerStoppingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "CrawlerTargets":{
      "type":"structure",
      "members":{
        "S3Targets":{"shape":"S3TargetList"},
        "JdbcTargets":{"shape":"JdbcTargetList"},
        "MongoDBTargets":{"shape":"MongoDBTargetList"},
        "DynamoDBTargets":{"shape":"DynamoDBTargetList"},
        "CatalogTargets":{"shape":"CatalogTargetList"}
      }
    },
    "CreateClassifierRequest":{
      "type":"structure",
      "members":{
        "GrokClassifier":{"shape":"CreateGrokClassifierRequest"},
        "XMLClassifier":{"shape":"CreateXMLClassifierRequest"},
        "JsonClassifier":{"shape":"CreateJsonClassifierRequest"},
        "CsvClassifier":{"shape":"CreateCsvClassifierRequest"}
      }
    },
    "CreateClassifierResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateConnectionRequest":{
      "type":"structure",
      "required":["ConnectionInput"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "ConnectionInput":{"shape":"ConnectionInput"}
      }
    },
    "CreateConnectionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateCrawlerRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Role",
        "Targets"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Role":{"shape":"Role"},
        "DatabaseName":{"shape":"DatabaseName"},
        "Description":{"shape":"DescriptionString"},
        "Targets":{"shape":"CrawlerTargets"},
        "Schedule":{"shape":"CronExpression"},
        "Classifiers":{"shape":"ClassifierNameList"},
        "TablePrefix":{"shape":"TablePrefix"},
        "SchemaChangePolicy":{"shape":"SchemaChangePolicy"},
        "RecrawlPolicy":{"shape":"RecrawlPolicy"},
        "Configuration":{"shape":"CrawlerConfiguration"},
        "CrawlerSecurityConfiguration":{"shape":"CrawlerSecurityConfiguration"},
        "Tags":{"shape":"TagsMap"}
      }
    },
    "CreateCrawlerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateCsvClassifierRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "Delimiter":{"shape":"CsvColumnDelimiter"},
        "QuoteSymbol":{"shape":"CsvQuoteSymbol"},
        "ContainsHeader":{"shape":"CsvHeaderOption"},
        "Header":{"shape":"CsvHeader"},
        "DisableValueTrimming":{"shape":"NullableBoolean"},
        "AllowSingleColumn":{"shape":"NullableBoolean"}
      }
    },
    "CreateDatabaseRequest":{
      "type":"structure",
      "required":["DatabaseInput"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseInput":{"shape":"DatabaseInput"}
      }
    },
    "CreateDatabaseResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateDevEndpointRequest":{
      "type":"structure",
      "required":[
        "EndpointName",
        "RoleArn"
      ],
      "members":{
        "EndpointName":{"shape":"GenericString"},
        "RoleArn":{"shape":"RoleArn"},
        "SecurityGroupIds":{"shape":"StringList"},
        "SubnetId":{"shape":"GenericString"},
        "PublicKey":{"shape":"GenericString"},
        "PublicKeys":{"shape":"PublicKeysList"},
        "NumberOfNodes":{"shape":"IntegerValue"},
        "WorkerType":{"shape":"WorkerType"},
        "GlueVersion":{"shape":"GlueVersionString"},
        "NumberOfWorkers":{"shape":"NullableInteger"},
        "ExtraPythonLibsS3Path":{"shape":"GenericString"},
        "ExtraJarsS3Path":{"shape":"GenericString"},
        "SecurityConfiguration":{"shape":"NameString"},
        "Tags":{"shape":"TagsMap"},
        "Arguments":{"shape":"MapValue"}
      }
    },
    "CreateDevEndpointResponse":{
      "type":"structure",
      "members":{
        "EndpointName":{"shape":"GenericString"},
        "Status":{"shape":"GenericString"},
        "SecurityGroupIds":{"shape":"StringList"},
        "SubnetId":{"shape":"GenericString"},
        "RoleArn":{"shape":"RoleArn"},
        "YarnEndpointAddress":{"shape":"GenericString"},
        "ZeppelinRemoteSparkInterpreterPort":{"shape":"IntegerValue"},
        "NumberOfNodes":{"shape":"IntegerValue"},
        "WorkerType":{"shape":"WorkerType"},
        "GlueVersion":{"shape":"GlueVersionString"},
        "NumberOfWorkers":{"shape":"NullableInteger"},
        "AvailabilityZone":{"shape":"GenericString"},
        "VpcId":{"shape":"GenericString"},
        "ExtraPythonLibsS3Path":{"shape":"GenericString"},
        "ExtraJarsS3Path":{"shape":"GenericString"},
        "FailureReason":{"shape":"GenericString"},
        "SecurityConfiguration":{"shape":"NameString"},
        "CreatedTimestamp":{"shape":"TimestampValue"},
        "Arguments":{"shape":"MapValue"}
      }
    },
    "CreateGrokClassifierRequest":{
      "type":"structure",
      "required":[
        "Classification",
        "Name",
        "GrokPattern"
      ],
      "members":{
        "Classification":{"shape":"Classification"},
        "Name":{"shape":"NameString"},
        "GrokPattern":{"shape":"GrokPattern"},
        "CustomPatterns":{"shape":"CustomPatterns"}
      }
    },
    "CreateJobRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Role",
        "Command"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "LogUri":{"shape":"UriString"},
        "Role":{"shape":"RoleString"},
        "ExecutionProperty":{"shape":"ExecutionProperty"},
        "Command":{"shape":"JobCommand"},
        "DefaultArguments":{"shape":"GenericMap"},
        "NonOverridableArguments":{"shape":"GenericMap"},
        "Connections":{"shape":"ConnectionsList"},
        "MaxRetries":{"shape":"MaxRetries"},
        "AllocatedCapacity":{
          "shape":"IntegerValue",
          "deprecated":true,
          "deprecatedMessage":"This property is deprecated, use MaxCapacity instead."
        },
        "Timeout":{"shape":"Timeout"},
        "MaxCapacity":{"shape":"NullableDouble"},
        "SecurityConfiguration":{"shape":"NameString"},
        "Tags":{"shape":"TagsMap"},
        "NotificationProperty":{"shape":"NotificationProperty"},
        "GlueVersion":{"shape":"GlueVersionString"},
        "NumberOfWorkers":{"shape":"NullableInteger"},
        "WorkerType":{"shape":"WorkerType"}
      }
    },
    "CreateJobResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "CreateJsonClassifierRequest":{
      "type":"structure",
      "required":[
        "Name",
        "JsonPath"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "JsonPath":{"shape":"JsonPath"}
      }
    },
    "CreateMLTransformRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InputRecordTables",
        "Parameters",
        "Role"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "InputRecordTables":{"shape":"GlueTables"},
        "Parameters":{"shape":"TransformParameters"},
        "Role":{"shape":"RoleString"},
        "GlueVersion":{"shape":"GlueVersionString"},
        "MaxCapacity":{"shape":"NullableDouble"},
        "WorkerType":{"shape":"WorkerType"},
        "NumberOfWorkers":{"shape":"NullableInteger"},
        "Timeout":{"shape":"Timeout"},
        "MaxRetries":{"shape":"NullableInteger"},
        "Tags":{"shape":"TagsMap"},
        "TransformEncryption":{"shape":"TransformEncryption"}
      }
    },
    "CreateMLTransformResponse":{
      "type":"structure",
      "members":{
        "TransformId":{"shape":"HashString"}
      }
    },
    "CreatePartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionInput"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionInput":{"shape":"PartitionInput"}
      }
    },
    "CreatePartitionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateScriptRequest":{
      "type":"structure",
      "members":{
        "DagNodes":{"shape":"DagNodes"},
        "DagEdges":{"shape":"DagEdges"},
        "Language":{"shape":"Language"}
      }
    },
    "CreateScriptResponse":{
      "type":"structure",
      "members":{
        "PythonScript":{"shape":"PythonScript"},
        "ScalaCode":{"shape":"ScalaCode"}
      }
    },
    "CreateSecurityConfigurationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "EncryptionConfiguration"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"}
      }
    },
    "CreateSecurityConfigurationResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"},
        "CreatedTimestamp":{"shape":"TimestampValue"}
      }
    },
    "CreateTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableInput"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableInput":{"shape":"TableInput"},
        "PartitionIndexes":{"shape":"PartitionIndexList"}
      }
    },
    "CreateTableResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateTriggerRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Type",
        "Actions"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "WorkflowName":{"shape":"NameString"},
        "Type":{"shape":"TriggerType"},
        "Schedule":{"shape":"GenericString"},
        "Predicate":{"shape":"Predicate"},
        "Actions":{"shape":"ActionList"},
        "Description":{"shape":"DescriptionString"},
        "StartOnCreation":{"shape":"BooleanValue"},
        "Tags":{"shape":"TagsMap"}
      }
    },
    "CreateTriggerResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "CreateUserDefinedFunctionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "FunctionInput"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "FunctionInput":{"shape":"UserDefinedFunctionInput"}
      }
    },
    "CreateUserDefinedFunctionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateWorkflowRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"GenericString"},
        "DefaultRunProperties":{"shape":"WorkflowRunProperties"},
        "Tags":{"shape":"TagsMap"},
        "MaxConcurrentRuns":{"shape":"NullableInteger"}
      }
    },
    "CreateWorkflowResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "CreateXMLClassifierRequest":{
      "type":"structure",
      "required":[
        "Classification",
        "Name"
      ],
      "members":{
        "Classification":{"shape":"Classification"},
        "Name":{"shape":"NameString"},
        "RowTag":{"shape":"RowTag"}
      }
    },
    "CronExpression":{"type":"string"},
    "CsvClassifier":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdated":{"shape":"Timestamp"},
        "Version":{"shape":"VersionId"},
        "Delimiter":{"shape":"CsvColumnDelimiter"},
        "QuoteSymbol":{"shape":"CsvQuoteSymbol"},
        "ContainsHeader":{"shape":"CsvHeaderOption"},
        "Header":{"shape":"CsvHeader"},
        "DisableValueTrimming":{"shape":"NullableBoolean"},
        "AllowSingleColumn":{"shape":"NullableBoolean"}
      }
    },
    "CsvColumnDelimiter":{
      "type":"string",
      "max":1,
      "min":1,
      "pattern":"[^\\r\\n]"
    },
    "CsvHeader":{
[...]
