{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/jobs": {
          "description": "Manage job postings"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://jobs.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Cloud Talent Solution",
  "description": "Cloud Talent Solution provides the capability to create, read, update, and delete job postings, as well as search jobs based on keywords and filters.\n",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/talent-solution/job-search/docs/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "jobs:v2",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://jobs.mtls.googleapis.com/",
  "name": "jobs",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "companies": {
      "methods": {
        "create": {
          "description": "Creates a new company entity.",
          "flatPath": "v2/companies",
          "httpMethod": "POST",
          "id": "jobs.companies.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/companies",
          "request": {
            "$ref": "Company"
          },
          "response": {
            "$ref": "Company"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "delete": {
          "description": "Deletes the specified company.",
          "flatPath": "v2/companies/{companiesId}",
          "httpMethod": "DELETE",
          "id": "jobs.companies.delete",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the company to be deleted,\nsuch as, \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
              "location": "path",
              "pattern": "^companies/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "get": {
          "description": "Retrieves the specified company.",
          "flatPath": "v2/companies/{companiesId}",
          "httpMethod": "GET",
          "id": "jobs.companies.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name of the company to retrieve,\nsuch as \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
              "location": "path",
              "pattern": "^companies/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Company"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "list": {
          "description": "Lists all companies associated with a Cloud Talent Solution account.",
          "flatPath": "v2/companies",
          "httpMethod": "GET",
          "id": "jobs.companies.list",
          "parameterOrder": [],
          "parameters": {
            "mustHaveOpenJobs": {
              "description": "Optional. Set to true if the companies request must have open jobs.\n\nDefaults to false.\n\nIf true, at most page_size of companies are fetched, among which\nonly those with open jobs are returned.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "description": "Optional. The maximum number of companies to be returned, at most 100.\nDefault is 100 if a non-positive number is provided.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. The starting indicator from which to return results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/companies",
          "response": {
            "$ref": "ListCompaniesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "patch": {
          "description": "Updates the specified company. Company names can't be updated. To update a\ncompany name, delete the company and all jobs associated with it, and only\nthen re-create them.",
          "flatPath": "v2/companies/{companiesId}",
          "httpMethod": "PATCH",
          "id": "jobs.companies.patch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required during company update.\n\nThe resource name for a company. This is generated by the service when a\ncompany is created, for example,\n\"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
              "location": "path",
              "pattern": "^companies/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateCompanyFields": {
              "description": "Optional but strongly recommended to be provided for the best service\nexperience.\n\nIf update_company_fields is provided, only the specified fields in\ncompany are updated. Otherwise all the fields are updated.\n\nA field mask to specify the company fields to update. Valid values are:\n\n* displayName\n* website\n* imageUrl\n* companySize\n* distributorBillingCompanyId\n* companyInfoSources\n* careerPageLink\n* hiringAgency\n* hqLocation\n* eeoText\n* keywordSearchableCustomAttributes\n* title (deprecated)\n* keywordSearchableCustomFields (deprecated)",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "request": {
            "$ref": "Company"
          },
          "response": {
            "$ref": "Company"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        }
      },
      "resources": {
        "jobs": {
          "methods": {
            "list": {
              "description": "Deprecated. Use ListJobs instead.\n\nLists all jobs associated with a company.",
              "flatPath": "v2/companies/{companiesId}/jobs",
              "httpMethod": "GET",
              "id": "jobs.companies.jobs.list",
              "parameterOrder": [
                "companyName"
              ],
              "parameters": {
                "companyName": {
                  "description": "Required. The resource name of the company that owns the jobs to be listed,\nsuch as, \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
                  "location": "path",
                  "pattern": "^companies/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "idsOnly": {
                  "description": "Optional. If set to `true`, only job ID, job requisition ID and language code will be\nreturned.\n\nA typical use is to synchronize job repositories.\n\nDefaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "includeJobsCount": {
                  "description": "Deprecated. Please DO NOT use this field except for small companies.\nSuggest counting jobs page by page instead.\n\nOptional.\n\nSet to true if the total number of open jobs is to be returned.\n\nDefaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "jobRequisitionId": {
                  "description": "Optional. The requisition ID, also known as posting ID, assigned by the company\nto the job.\n\nThe maximum number of allowable characters is 225.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of jobs to be returned per page of results.\n\nIf ids_only is set to true, the maximum allowed page size\nis 1000. Otherwise, the maximum allowed page size is 100.\n\nDefault is 100 if empty or a number \u003c 1 is specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. The starting point of a query result.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/{+companyName}/jobs",
              "response": {
                "$ref": "ListCompanyJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/jobs"
              ]
            }
          }
        }
      }
    },
    "jobs": {
      "methods": {
        "batchDelete": {
          "description": "Deletes a list of Job postings by filter.",
          "flatPath": "v2/jobs:batchDelete",
          "httpMethod": "POST",
          "id": "jobs.jobs.batchDelete",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:batchDelete",
          "request": {
            "$ref": "BatchDeleteJobsRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "create": {
          "description": "Creates a new job.\n\nTypically, the job becomes searchable within 10 seconds, but it may take\nup to 5 minutes.",
          "flatPath": "v2/jobs",
          "httpMethod": "POST",
          "id": "jobs.jobs.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs",
          "request": {
            "$ref": "CreateJobRequest"
          },
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "delete": {
          "description": "Deletes the specified job.\n\nTypically, the job becomes unsearchable within 10 seconds, but it may take\nup to 5 minutes.",
          "flatPath": "v2/jobs/{jobsId}",
          "httpMethod": "DELETE",
          "id": "jobs.jobs.delete",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "disableFastProcess": {
              "description": "Deprecated. This field is not working anymore.\n\nOptional.\n\nIf set to true, this call waits for all processing steps to complete\nbefore the job is cleaned up. Otherwise, the call returns while some\nsteps are still taking place asynchronously, hence faster.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "description": "Required. The resource name of the job to be deleted, such as \"jobs/11111111\".",
              "location": "path",
              "pattern": "^jobs/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "deleteByFilter": {
          "description": "Deprecated. Use BatchDeleteJobs instead.\n\nDeletes the specified job by filter. You can specify whether to\nsynchronously wait for validation, indexing, and general processing to be\ncompleted before the response is returned.",
          "flatPath": "v2/jobs:deleteByFilter",
          "httpMethod": "POST",
          "id": "jobs.jobs.deleteByFilter",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:deleteByFilter",
          "request": {
            "$ref": "DeleteJobsByFilterRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "get": {
          "description": "Retrieves the specified job, whose status is OPEN or recently EXPIRED\nwithin the last 90 days.",
          "flatPath": "v2/jobs/{jobsId}",
          "httpMethod": "GET",
          "id": "jobs.jobs.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the job to retrieve, such as \"jobs/11111111\".",
              "location": "path",
              "pattern": "^jobs/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "histogram": {
          "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make\na single call with both search and histogram.\n\nRetrieves a histogram for the given\nGetHistogramRequest. This call provides a structured\ncount of jobs that match against the search query, grouped by specified\nfacets.\n\nThis call constrains the visibility of jobs\npresent in the database, and only counts jobs the caller has\npermission to search against.\n\nFor example, use this call to generate the\nnumber of jobs in the U.S. by state.",
          "flatPath": "v2/jobs:histogram",
          "httpMethod": "POST",
          "id": "jobs.jobs.histogram",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:histogram",
          "request": {
            "$ref": "GetHistogramRequest"
          },
          "response": {
            "$ref": "GetHistogramResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "list": {
          "description": "Lists jobs by filter.",
          "flatPath": "v2/jobs",
          "httpMethod": "GET",
          "id": "jobs.jobs.list",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Required. The filter string specifies the jobs to be enumerated.\n\nSupported operator: =, AND\n\nThe fields eligible for filtering are:\n\n* `companyName` (Required)\n* `requisitionId` (Optional)\n\nSample Query:\n\n* companyName = \"companies/123\"\n* companyName = \"companies/123\" AND requisitionId = \"req-1\"",
              "location": "query",
              "type": "string"
            },
            "idsOnly": {
              "description": "Optional. If set to `true`, only Job.name, Job.requisition_id and\nJob.language_code will be returned.\n\nA typical use case is to synchronize job repositories.\n\nDefaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "description": "Optional. The maximum number of jobs to be returned per page of results.\n\nIf ids_only is set to true, the maximum allowed page size\nis 1000. Otherwise, the maximum allowed page size is 100.\n\nDefault is 100 if empty or a number \u003c 1 is specified.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. The starting point of a query result.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/jobs",
          "response": {
            "$ref": "ListJobsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "patch": {
          "description": "Updates specified job.\n\nTypically, updated contents become visible in search results within 10\nseconds, but it may take up to 5 minutes.",
          "flatPath": "v2/jobs/{jobsId}",
          "httpMethod": "PATCH",
          "id": "jobs.jobs.patch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required during job update.\n\nResource name assigned to a job by the API, for example, \"/jobs/foo\". Use\nof this field in job queries and API calls is preferred over the use of\nrequisition_id since this value is unique.",
              "location": "path",
              "pattern": "^jobs/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "request": {
            "$ref": "UpdateJobRequest"
          },
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "search": {
          "description": "Searches for jobs using the provided SearchJobsRequest.\n\nThis call constrains the visibility of jobs\npresent in the database, and only returns jobs that the caller has\npermission to search against.",
          "flatPath": "v2/jobs:search",
          "httpMethod": "POST",
          "id": "jobs.jobs.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:search",
          "request": {
            "$ref": "SearchJobsRequest"
          },
          "response": {
            "$ref": "SearchJobsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "searchForAlert": {
          "description": "Searches for jobs using the provided SearchJobsRequest.\n\nThis API call is intended for the use case of targeting passive job\nseekers (for example, job seekers who have signed up to receive email\nalerts about potential job opportunities), and has different algorithmic\nadjustments that are targeted to passive job seekers.\n\nThis call constrains the visibility of jobs\npresent in the database, and only returns jobs the caller has\npermission to search against.",
          "flatPath": "v2/jobs:searchForAlert",
          "httpMethod": "POST",
          "id": "jobs.jobs.searchForAlert",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:searchForAlert",
          "request": {
            "$ref": "SearchJobsRequest"
          },
          "response": {
            "$ref": "SearchJobsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        }
      }
    },
    "v2": {
      "methods": {
        "complete": {
          "description": "Completes the specified prefix with job keyword suggestions.\nIntended for use by a job search auto-complete search box.",
          "flatPath": "v2:complete",
          "httpMethod": "GET",
          "id": "jobs.complete",
          "parameterOrder": [],
          "parameters": {
            "companyName": {
              "description": "Optional. If provided, restricts completion to the specified company.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "description": "Required. The language of the query. This is\nthe BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).\n\nFor CompletionType.JOB_TITLE type, only open jobs with same\nlanguage_code are returned.\n\nFor CompletionType.COMPANY_NAME type,\nonly companies having open jobs with same language_code are\nreturned.\n\nFor CompletionType.COMBINED type, only open jobs with same\nlanguage_code or companies having open jobs with same\nlanguage_code are returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Required. Completion result count.\nThe maximum allowed page size is 10.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "query": {
              "description": "Required. The query used to generate suggestions.",
              "location": "query",
              "type": "string"
            },
            "scope": {
              "description": "Optional. The scope of the completion. The defaults is CompletionScope.PUBLIC.",
              "enum": [
                "COMPLETION_SCOPE_UNSPECIFIED",
                "TENANT",
                "PUBLIC"
              ],
              "location": "query",
              "type": "string"
            },
            "type": {
              "description": "Optional. The completion topic. The default is CompletionType.COMBINED.",
              "enum": [
                "COMPLETION_TYPE_UNSPECIFIED",
                "JOB_TITLE",
                "COMPANY_NAME",
                "COMBINED"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2:complete",
          "response": {
            "$ref": "CompleteQueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        }
      }
    }
  },
  "revision": "20200219",
  "rootUrl": "https://jobs.googleapis.com/",
  "schemas": {
    "BatchDeleteJobsRequest": {
      "description": "Input only.\n\nBatch delete jobs request.",
      "id": "BatchDeleteJobsRequest",
      "properties": {
        "filter": {
          "description": "Required. The filter string specifies the jobs to be deleted.\n\nSupported operator: =, AND\n\nThe fields eligible for filtering are:\n\n* `companyName` (Required)\n* `requisitionId` (Required)\n\nSample Query: companyName = \"companies/123\" AND requisitionId = \"req-1\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BucketRange": {
      "description": "Represents starting and ending value of a range in double.",
      "id": "BucketRange",
      "properties": {
        "from": {
          "description": "Starting value of the bucket range.",
          "format": "double",
          "type": "number"
        },
        "to": {
          "description": "Ending value of the bucket range.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "BucketizedCount": {
      "description": "Represents count of jobs within one bucket.",
      "id": "BucketizedCount",
      "properties": {
        "count": {
          "description": "Number of jobs whose numeric field value fall into `range`.",
          "format": "int32",
          "type": "integer"
        },
        "range": {
          "$ref": "BucketRange",
          "description": "Bucket range on which histogram was performed for the numeric field,\nthat is, the count represents number of jobs in this range."
        }
      },
      "type": "object"
    },
    "CommuteInfo": {
      "description": "Output only.\n\nCommute details related to this job.",
      "id": "CommuteInfo",
      "properties": {
        "jobLocation": {
          "$ref": "JobLocation",
          "description": "Location used as the destination in the commute calculation."
        },
        "travelDuration": {
          "description": "The number of seconds required to travel to the job location from the query\nlocation. A duration of 0 seconds indicates that the job is not\nreachable within the requested duration, but was returned as part of an\nexpanded query.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommutePreference": {
      "description": "Input only.\n\nParameters needed for commute search.",
      "id": "CommutePreference",
      "properties": {
        "allowNonStreetLevelAddress": {
          "description": "Optional. If `true`, jobs without street level addresses may also be returned.\nFor city level addresses, the city center is used. For state and coarser\nlevel addresses, text matching is used.\nIf this field is set to `false` or is not specified, only jobs that include\nstreet level addresses will be returned by commute search.",
          "type": "boolean"
        },
        "departureHourLocal": {
          "description": "Optional. The departure hour to use to calculate traffic impact. Accepts an\ninteger between 0 and 23, representing the hour in the time zone of the\nstart_location. Must not be present if road_traffic is specified.",
          "format": "int32",
          "type": "integer"
        },
        "method": {
          "description": "Required. The method of transportation for which to calculate the commute time.",
          "enum": [
            "COMMUTE_METHOD_UNSPECIFIED",
            "DRIVING",
            "TRANSIT"
          ],
          "enumDescriptions": [
            "Commute method is not specified.",
            "Commute time is calculated based on driving time.",
            "Commute time is calculated based on public transit including bus, metro,\nsubway, etc."
          ],
          "type": "string"
        },
        "roadTraffic": {
          "description": "Optional. Specifies the traffic density to use when calculating commute time.\nMust not be present if departure_hour_local is specified.",
          "enum": [
            "ROAD_TRAFFIC_UNSPECIFIED",
            "TRAFFIC_FREE",
            "BUSY_HOUR"
          ],
          "enumDescriptions": [
            "Road traffic situation is not specified.",
            "Optimal commute time without considering any traffic impact.",
            "Commute time calculation takes in account the peak traffic impact."
          ],
          "type": "string"
        },
        "startLocation": {
          "$ref": "LatLng",
          "description": "Required. The latitude and longitude of the location from which to calculate the\ncommute time."
        },
        "travelTime": {
          "description": "Required. The maximum travel time in seconds. The maximum allowed value is `3600s`\n(one hour). Format is `123s`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Company": {
      "description": "A Company resource represents a company in the service. A company is the\nentity that owns job listings, that is, the hiring entity responsible for\nemploying applicants for the job position.",
      "id": "Company",
      "properties": {
        "careerPageLink": {
          "description": "Optional. The URL to employer's career site or careers page on the employer's web\nsite.",
          "type": "string"
        },
        "companyInfoSources": {
          "description": "Optional. Identifiers external to the application that help to further identify\nthe employer.",
          "items": {
            "$ref": "CompanyInfoSource"
          },
          "type": "array"
        },
        "companySize": {
          "description": "Optional. The employer's company size.",
          "enum": [
            "COMPANY_SIZE_UNSPECIFIED",
            "MINI",
            "SMALL",
            "SMEDIUM",
            "MEDIUM",
            "BIG",
            "BIGGER",
            "GIANT"
          ],
          "enumDescriptions": [
            "Default value if the size is not specified.",
            "The company has less than 50 employees.",
            "The company has between 50 and 99 employees.",
            "The company has between 100 and 499 employees.",
            "The company has between 500 and 999 employees.",
            "The company has between 1,000 and 4,999 employees.",
            "The company has between 5,000 and 9,999 employees.",
            "The company has 10,000 or more employees."
          ],
          "type": "string"
        },
        "disableLocationOptimization": {
          "description": "Deprecated. Do not use this field.\n\nOptional.\n\nThis field is no longer used. Any value set to it is ignored.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The name of the employer to be displayed with the job,\nfor example, \"Google, LLC.\".",
          "type": "string"
        },
        "distributorBillingCompanyId": {
          "description": "Optional. The unique company identifier provided by the client to identify an\nemployer for billing purposes. Recommended practice is to use\nthe distributor_company_id.\n\nDefaults to same value as distributor_company_id when a value\nis not provided.",
          "type": "string"
        },
        "distributorCompanyId": {
          "description": "Required. A client's company identifier, used to uniquely identify the\ncompany. If an employer has a subsidiary or sub-brand, such as \"Alphabet\"\nand \"Google\", which the client wishes to use as the company displayed on\nthe job. Best practice is to create a distinct company identifier for each\ndistinct brand displayed.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "eeoText": {
          "description": "Optional. Equal Employment Opportunity legal disclaimer text to be\nassociated with all jobs, and typically to be displayed in all\nroles.\n\nThe maximum number of allowed characters is 500.",
          "type": "string"
        },
        "hiringAgency": {
          "description": "Optional. Set to true if it is the hiring agency that post jobs for other\nemployers.\n\nDefaults to false if not provided.",
          "type": "boolean"
        },
        "hqLocation": {
          "description": "Optional. The street address of the company's main headquarters, which may be\ndifferent from the job location. The service attempts\nto geolocate the provided address, and populates a more specific\nlocation wherever possible in structured_company_hq_location.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Optional. A URL that hosts the employer's company logo. If provided,\nthe logo image should be squared at 80x80 pixels.\n\nThe url must be a Google Photos or Google Album url.\nOnly images in these Google sub-domains are accepted.",
          "type": "string"
        },
        "keywordSearchableCustomAttributes": {
          "description": "Optional. A list of keys of filterable Job.custom_attributes, whose\ncorresponding `string_values` are used in keyword search. Jobs with\n`string_values` under these specified field keys are returned if any\nof the values matches the search keyword. Custom field values with\nparenthesis, brackets and special symbols might not be properly searchable,\nand those keyword queries need to be surrounded by quotes.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "keywordSearchableCustomFields": {
          "description": "Deprecated. Use keyword_searchable_custom_attributes instead.\n\nOptional.\n\nA list of filterable custom fields that should be used in keyword\nsearch. The jobs of this company are returned if any of these custom\nfields matches the search keyword. Custom field values with parenthesis,\nbrackets and special symbols might not be properly searchable, and those\nkeyword queries need to be surrounded by quotes.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "name": {
          "description": "Required during company update.\n\nThe resource name for a company. This is generated by the service when a\ncompany is created, for example,\n\"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
          "type": "string"
        },
        "structuredCompanyHqLocation": {
          "$ref": "JobLocation",
          "description": "Output only. A structured headquarters location of the company,\nresolved from hq_location if possible."
        },
        "suspended": {
          "description": "Output only. Indicates whether a company is flagged to be suspended from public\navailability by the service when job content appears suspicious,\nabusive, or spammy.",
          "type": "boolean"
        },
        "title": {
          "description": "Deprecated. Use display_name instead.\n\nRequired.\n\nThe name of the employer to be displayed with the job,\nfor example, \"Google, LLC.\".",
          "type": "string"
        },
        "website": {
          "description": "Optional. The URL representing the company's primary web site or home page,\nsuch as, \"www.google.com\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompanyInfoSource": {
      "description": "A resource that represents an external  Google identifier for a company,\nfor example, a Google+ business page or a Google Maps business page.\nFor unsupported types, use `unknown_type_id`.",
      "id": "CompanyInfoSource",
      "properties": {
        "freebaseMid": {
          "description": "Optional. The Google's Knowledge Graph value for the employer's company.",
          "type": "string"
        },
        "gplusId": {
          "description": "Optional. The numeric identifier for the employer's Google+ business page.",
          "type": "string"
        },
        "mapsCid": {
          "description": "Optional. The numeric identifier for the employer's headquarters on Google Maps,\nnamely, the Google Maps CID (cell id).",
          "type": "string"
        },
        "unknownTypeId": {
          "description": "Optional. A Google identifier that does not match any of the other types.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationEntry": {
      "description": "A compensation entry that represents one component of compensation, such\nas base pay, bonus, or other compensation type.\n\nAnnualization: One compensation entry can be annualized if\n- it contains valid amount or range.\n- and its expected_units_per_year is set or can be derived.\nIts annualized range is determined as (amount or range) times\nexpected_units_per_year.",
      "id": "CompensationEntry",
      "properties": {
        "amount": {
          "$ref": "Money",
          "description": "Optional. Compensation amount."
        },
        "description": {
          "description": "Optional. Compensation description.  For example, could\nindicate equity terms or provide additional context to an estimated\nbonus.",
          "type": "string"
        },
        "expectedUnitsPerYear": {
          "description": "Optional. Expected number of units paid each year. If not specified, when\nJob.employment_types is FULLTIME, a default value is inferred\nbased on unit. Default values:\n- HOURLY: 2080\n- DAILY: 260\n- WEEKLY: 52\n- MONTHLY: 12\n- ANNUAL: 1",
          "format": "double",
          "type": "number"
        },
        "range": {
          "$ref": "CompensationRange",
          "description": "Optional. Compensation range."
        },
        "type": {
          "description": "Required. Compensation type.",
          "enum": [
            "COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_TYPE.",
            "Base compensation: Refers to the fixed amount of money paid to an\nemployee by an employer in return for work performed. Base compensation\ndoes not include benefits, bonuses or any other potential compensation\nfrom an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "type": "string"
        },
        "unit": {
          "description": "Optional. Frequency of the specified amount.\n\nDefault is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "enum": [
            "COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationFilter": {
      "description": "Input only.\n\nFilter on job compensation type and amount.",
      "id": "CompensationFilter",
      "properties": {
        "includeJobsWithUnspecifiedCompensationRange": {
          "description": "Optional. Whether to include jobs whose compensation range is unspecified.",
          "type": "boolean"
        },
        "range": {
          "$ref": "CompensationRange",
          "description": "Optional. Compensation range."
        },
        "type": {
          "description": "Required. Type of filter.",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ],
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and\nonly if the job contains a base CompensationEntry and the base\nCompensationEntry's unit matches provided units.\nPopulate one or more units.\n\nSee CompensationInfo.CompensationEntry for definition of\nbase compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job\nis a match if and only if the job contains a base CompensationEntry, and\nthe base entry's unit matches provided compensation_units and amount\nor range overlaps with provided compensation_range.\n\nSee CompensationInfo.CompensationEntry for definition of\nbase compensation entry.\n\nSet exactly one units and populate range.",
            "Filter by annualized base compensation amount and `base compensation\nentry's` unit. Populate range and zero or more units.",
            "Filter by annualized total compensation amount and `base compensation\nentry's` unit . Populate range and zero or more units."
          ],
          "type": "string"
        },
        "units": {
          "description": "Required. Specify desired `base compensation entry's`\nCompensationInfo.CompensationUnit.",
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "items": {
            "enum": [
              "COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CompensationHistogramRequest": {
      "description": "Input only.\n\nCompensation based histogram request.",
      "id": "CompensationHistogramRequest",
      "properties": {
        "bucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Required. Numeric histogram options, like buckets, whether include min or max value."
        },
        "type": {
          "description": "Required. Type of the request, representing which field the histogramming should be\nperformed over. A single request can only specify one histogram of each\n`CompensationHistogramRequestType`.",
          "enum": [
            "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
            "BASE",
            "ANNUALIZED_BASE",
            "ANNUALIZED_TOTAL"
          ],
          "enumDescriptions": [
            "Default value. Invalid.",
            "Histogram by job's base compensation. See CompensationEntry for\ndefinition of base compensation.",
            "Histogram by job's annualized base compensation. See CompensationEntry\nfor definition of annualized base compensation.",
            "Histogram by job's annualized total compensation. See CompensationEntry\nfor definition of annualized total compensation."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationHistogramResult": {
      "description": "Output only.\n\nCompensation based histogram result.",
      "id": "CompensationHistogramResult",
      "properties": {
        "result": {
          "$ref": "NumericBucketingResult",
          "description": "Histogram result."
        },
        "type": {
          "description": "Type of the request, corresponding to\nCompensationHistogramRequest.type.",
          "enum": [
            "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
            "BASE",
            "ANNUALIZED_BASE",
            "ANNUALIZED_TOTAL"
          ],
          "enumDescriptions": [
            "Default value. Invalid.",
            "Histogram by job's base compensation. See CompensationEntry for\ndefinition of base compensation.",
            "Histogram by job's annualized base compensation. See CompensationEntry\nfor definition of annualized base compensation.",
            "Histogram by job's annualized total compensation. See CompensationEntry\nfor definition of annualized total compensation."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationInfo": {
      "description": "Job compensation details.",
      "id": "CompensationInfo",
      "properties": {
        "amount": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nThe amount of compensation or pay for the job.\nAs an alternative, compensation_amount_min and\ncompensation_amount_max may be used to define a range of\ncompensation."
        },
        "annualizedBaseCompensationRange": {
          "$ref": "CompensationRange",
          "description": "Output only. Annualized base compensation range. Computed as\nbase compensation entry's CompensationEntry.compensation times\nCompensationEntry.expected_units_per_year.\n\nSee CompensationEntry for explanation on compensation annualization."
        },
        "annualizedTotalCompensationRange": {
          "$ref": "CompensationRange",
          "description": "Output only. Annualized total compensation range. Computed as\nall compensation entries' CompensationEntry.compensation times\nCompensationEntry.expected_units_per_year.\n\nSee CompensationEntry for explanation on compensation annualization."
        },
        "entries": {
          "description": "Optional. Job compensation information.\n\nAt most one entry can be of type\nCompensationInfo.CompensationType.BASE, which is\nreferred as ** base compensation entry ** for the job.",
          "items": {
            "$ref": "CompensationEntry"
          },
          "type": "array"
        },
        "max": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nAn upper bound on a range for compensation or pay for the job.\nThe currency type is specified in compensation_amount."
        },
        "min": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nA lower bound on a range for compensation or pay for the job.\nThe currency type is specified in compensation_amount."
        },
        "type": {
          "description": "Deprecated. Use entries instead.\n\nOptional.\n\nType of job compensation.",
          "enum": [
            "JOB_COMPENSATION_TYPE_UNSPECIFIED",
            "HOURLY",
            "SALARY",
            "PER_PROJECT",
            "COMMISSION",
            "OTHER_TYPE"
          ],
          "enumDescriptions": [
            "The default value if the type is not specified.",
            "The job compensation is quoted by the number of hours worked.",
            "The job compensation is quoted on an annual basis.",
            "The job compensation is quoted by project completion.",
            "The job compensation is quoted based solely on commission.",
            "The job compensation is not quoted according to the listed compensation\noptions."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationRange": {
      "description": "Compensation range.",
      "id": "CompensationRange",
      "properties": {
        "max": {
          "$ref": "Money",
          "description": "Optional. The maximum amount of compensation. If left empty, the value is set\nto a maximal compensation value and the currency code is set to\nmatch the currency code of\nmin_compensation."
        },
        "min": {
          "$ref": "Money",
          "description": "Optional. The minimum amount of compensation. If left empty, the value is set\nto zero and the currency code is set to match the\ncurrency code of max_compensation."
        }
      },
      "type": "object"
    },
    "CompleteQueryResponse": {
      "description": "Output only.\n\nResponse of auto-complete query.",
      "id": "CompleteQueryResponse",
      "properties": {
        "completionResults": {
          "description": "Results of the matching job/company candidates.",
          "items": {
            "$ref": "CompletionResult"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        }
      },
      "type": "object"
    },
    "CompletionResult": {
      "description": "Output only.\n\nResource that represents completion results.",
      "id": "CompletionResult",
      "properties": {
        "imageUrl": {
          "description": "The URL for the company logo if `type=COMPANY_NAME`.",
          "type": "string"
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "type": {
          "description": "The completion topic.",
          "enum": [
            "COMPLETION_TYPE_UNSPECIFIED",
            "JOB_TITLE",
            "COMPANY_NAME",
            "COMBINED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Only suggest job titles.",
            "Only suggest company names.",
            "Suggest both job titles and company names."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateJobRequest": {
      "description": "Input only.\n\nCreate job request.",
      "id": "CreateJobRequest",
      "properties": {
        "disableStreetAddressResolution": {
          "description": "Deprecated. Please use processing_options. This flag is ignored if\nprocessing_options is set.\n\nOptional.\n\nIf set to `true`, the service does not attempt to resolve a\nmore precise address for the job.",
          "type": "boolean"
        },
        "job": {
          "$ref": "Job",
          "description": "Required. The Job to be created."
        },
        "processingOptions": {
          "$ref": "JobProcessingOptions",
          "description": "Optional. Options for job processing."
        }
      },
      "type": "object"
    },
    "CustomAttribute": {
      "description": "Custom attribute values that are either filterable or non-filterable.",
      "id": "CustomAttribute",
      "properties": {
        "filterable": {
          "description": "Optional. If the `filterable` flag is true, custom field values are searchable.\nIf false, values are not searchable.\n\nDefault is false.",
          "type": "boolean"
        },
        "longValue": {
          "description": "Optional but at least one of string_values or long_value must\nbe specified.\n\nThis field is used to perform number range search.\n(`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`. For\n`long_value`, a value between Long.MIN and Long.MAX is allowed.",
          "format": "int64",
          "type": "string"
        },
        "stringValues": {
          "$ref": "StringValues",
          "description": "Optional but at least one of string_values or long_value must\nbe specified.\n\nThis field is used to perform a string match (`CASE_SENSITIVE_MATCH` or\n`CASE_INSENSITIVE_MATCH`) search.\nFor filterable `string_values`, a maximum total number of 200 values\nis allowed, with each `string_value` has a byte size of no more than\n255B. For unfilterable `string_values`, the maximum total byte size of\nunfilterable `string_values` is 50KB.\n\nEmpty strings are not allowed."
        }
      },
      "type": "object"
    },
    "CustomAttributeHistogramRequest": {
      "description": "Custom attributes histogram request. An error will be thrown if neither\nstring_value_histogram or long_value_histogram_bucketing_option has\nbeen defined.",
      "id": "CustomAttributeHistogramRequest",
      "properties": {
        "key": {
          "description": "Required. Specifies the custom field key to perform a histogram on. If specified\nwithout `long_value_histogram_bucketing_option`, histogram on string values\nof the given `key` is triggered, otherwise histogram is performed on long\nvalues.",
          "type": "string"
        },
        "longValueHistogramBucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Optional. Specifies buckets used to perform a range histogram on Job's\nfilterable long custom field values, or min/max value requirements."
        },
        "stringValueHistogram": {
          "description": "Optional. If set to true, the response will include the histogram value for\neach key as a string.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CustomAttributeHistogramResult": {
      "description": "Output only.\n\nCustom attribute histogram result.",
      "id": "CustomAttributeHistogramResult",
      "properties": {
        "key": {
          "description": "Stores the key of custom attribute the histogram is performed on.",
          "type": "string"
        },
        "longValueHistogramResult": {
          "$ref": "NumericBucketingResult",
          "description": "Stores bucketed histogram counting result or min/max values for\ncustom attribute long values associated with `key`."
        },
        "stringValueHistogramResult": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Stores a map from the values of string custom field associated\nwith `key` to the number of jobs with that value in this histogram result.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "CustomField": {
      "description": "Resource that represents the custom data not captured by the standard fields.",
      "id": "CustomField",
      "properties": {
        "values": {
          "description": "Optional. The values of the custom data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomFieldFilter": {
      "description": "Input only.\n\nCustom field filter of the search.",
      "id": "CustomFieldFilter",
      "properties": {
        "queries": {
          "description": "Required. The query strings for the filter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "Optional. The type of filter.\nDefaults to FilterType.OR.",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "OR",
            "AND",
            "NOT"
          ],
          "enumDescriptions": [
            "Default value.",
            "Search for a match with any query.",
            "Search for a match with all queries.",
            "Negate the set of filter values for the search."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day\nand time zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. This can represent:\n\n* A full date, with non-zero year, month and day values\n* A month and day value, with a zero year, e.g. an anniversary\n* A year on its own, with zero month and day values\n* A year and month value, with a zero day, e.g. a credit card expiration date\n\nRelated types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year by itself or a year and month where the day is not\nsignificant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a\nmonth and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DeleteJobsByFilterRequest": {
      "description": "Deprecated. Use BatchDeleteJobsRequest instead.\n\nInput only.\n\nDelete job by filter request.\n\nThe job typically becomes unsearchable within 10 seconds, but it may take\nup to 5 minutes.",
      "id": "DeleteJobsByFilterRequest",
      "properties": {
        "disableFastProcess": {
          "description": "Optional. If set to true, this call waits for all processing steps to complete\nbefore the job is cleaned up. Otherwise, the call returns while some\nsteps are still taking place asynchronously, hence faster.",
          "type": "boolean"
        },
        "filter": {
          "$ref": "Filter",
          "description": "Required. Restrictions on the scope of the delete request."
        }
      },
      "type": "object"
    },
    "DeviceInfo": {
      "description": "Input only.\n\nDevice information collected from the job seeker, candidate, or\nother entity conducting the job search. Providing this information improves\nthe quality of the search results across devices.",
      "id": "DeviceInfo",
      "properties": {
        "deviceType": {
          "description": "Optional. Type of the device.",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "WEB",
            "MOBILE_WEB",
            "ANDROID",
            "IOS",
            "BOT",
            "OTHER"
          ],
          "enumDescriptions": [
            "The device type isn't specified.",
            "A desktop web browser, such as, Chrome, Firefox, Safari, or Internet\nExplorer)",
            "A mobile device web browser, such as a phone or tablet with a Chrome\nbrowser.",
            "An Android device native application.",
            "An iOS device native application.",
            "A bot, as opposed to a device operated by human beings, such as a web\ncrawler.",
            "Other devices types."
          ],
          "type": "string"
        },
        "id": {
          "description": "Optional. A device-specific ID. The ID must be a unique identifier that distinguishes\nthe device from other devices.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ExtendedCompensationFilter": {
      "description": "Deprecated. Always use CompensationFilter.\n\nInput only.\n\nFilter on job compensation type and amount.",
      "id": "ExtendedCompensationFilter",
      "properties": {
        "compensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Optional. Compensation range."
        },
        "compensationUnits": {
          "description": "Required. Specify desired `base compensation entry's`\nExtendedCompensationInfo.CompensationUnit.",
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "items": {
            "enum": [
              "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "currency": {
          "description": "Optional. Specify currency in 3-letter\n[ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) format. If\nunspecified, jobs are returned regardless of currency.",
          "type": "string"
        },
        "includeJobWithUnspecifiedCompensationRange": {
          "description": "Optional. Whether to include jobs whose compensation range is unspecified.",
          "type": "boolean"
        },
        "type": {
          "description": "Required. Type of filter.",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ],
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and\nonly if the job contains a base CompensationEntry and the base\nCompensationEntry's unit matches provided compensation_units.\nPopulate one or more compensation_units.\n\nSee ExtendedCompensationInfo.CompensationEntry for definition of\nbase compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job\nis a match if and only if the job contains a base CompensationEntry, and\nthe base entry's unit matches provided compensation_units and amount\nor range overlaps with provided compensation_range.\n\nSee ExtendedCompensationInfo.CompensationEntry for definition of\nbase compensation entry.\n\nSet exactly one\ncompensation_units and populate\ncompensation_range.",
            "Filter by annualized base compensation amount and `base compensation\nentry's` unit. Populate compensation_range and zero or more\ncompensation_units.",
            "Filter by annualized total compensation amount and `base compensation\nentry's` unit . Populate compensation_range and zero or more\ncompensation_units."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExtendedCompensationInfo": {
      "description": "Deprecated. Use CompensationInfo.\n\nDescribes job compensation.",
      "id": "ExtendedCompensationInfo",
      "properties": {
        "annualizedBaseCompensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Output only. Annualized base compensation range."
        },
        "annualizedBaseCompensationUnspecified": {
          "description": "Output only. Indicates annualized base compensation range cannot be derived, due to\nthe job's base compensation entry cannot be annualized.\nSee CompensationEntry for explanation on annualization and base\ncompensation entry.",
          "type": "boolean"
        },
        "annualizedTotalCompensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Output only. Annualized total compensation range."
        },
        "annualizedTotalCompensationUnspecified": {
          "description": "Output only. Indicates annualized total compensation range cannot be derived, due to\nthe job's all CompensationEntry cannot be annualized.\nSee CompensationEntry for explanation on annualization and base\ncompensation entry.",
          "type": "boolean"
        },
        "currency": {
          "description": "Optional. A 3-letter [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html)\ncurrency code.",
          "type": "string"
        },
        "entries": {
          "description": "Optional. Job compensation information.\n\nAt most one entry can be of type\nExtendedCompensationInfo.CompensationType.BASE, which is\nreferred as ** base compensation entry ** for the job.",
          "items": {
            "$ref": "ExtendedCompensationInfoCompensationEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExtendedCompensationInfoCompensationEntry": {
      "description": "Deprecated. See CompensationInfo.\n\nA compensation entry that represents one component of compensation, such\nas base pay, bonus, or other compensation type.\n\nAnnualization: One compensation entry can be annualized if\n- it contains valid amount or range.\n- and its expected_units_per_year is set or can be derived.\nIts annualized range is determined as (amount or range) times\nexpected_units_per_year.",
      "id": "ExtendedCompensationInfoCompensationEntry",
      "properties": {
        "amount": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Optional. Monetary amount."
        },
        "description": {
          "description": "Optional. Compensation description.",
          "type": "string"
        },
        "expectedUnitsPerYear": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Optional. Expected number of units paid each year. If not specified, when\nJob.employment_types is FULLTIME, a default value is inferred\nbased on unit. Default values:\n- HOURLY: 2080\n- DAILY: 260\n- WEEKLY: 52\n- MONTHLY: 12\n- ANNUAL: 1"
        },
        "range": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Optional. Compensation range."
        },
        "type": {
          "description": "Required. Compensation type.",
          "enum": [
            "EXTENDED_COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_TYPE.",
            "Base compensation: Refers to the fixed amount of money paid to an\nemployee by an employer in return for work performed. Base compensation\ndoes not include benefits, bonuses or any other potential compensation\nfrom an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "type": "string"
        },
        "unit": {
          "description": "Optional. Frequency of the specified amount.\n\nDefault is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "enum": [
            "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "type": "string"
        },
        "unspecified": {
          "description": "Optional. Indicates compensation amount and range are unset.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ExtendedCompensationInfoCompensationRange": {
      "description": "Deprecated. See CompensationInfo.\n\nCompensation range.",
      "id": "ExtendedCompensationInfoCompensationRange",
      "properties": {
        "max": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Required. Maximum value."
        },
        "min": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Required. Minimum value."
        }
      },
      "type": "object"
    },
    "ExtendedCompensationInfoDecimal": {
      "description": "Deprecated. See CompensationInfo.\n\nDecimal number.",
      "id": "ExtendedCompensationInfoDecimal",
      "properties": {
        "micros": {
          "description": "Micro (10^-6) units.\nThe value must be between -999,999 and +999,999 inclusive.\nIf `units` is positive, `micros` must be positive or zero.\nIf `units` is zero, `micros` can be positive, zero, or negative.\nIf `units` is negative, `micros` must be negative or zero.\nFor example -1.75 is represented as `units`=-1 and `micros`=-750,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "description": "Whole units.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Filter": {
      "description": "Deprecated. Use BatchDeleteJobsRequest instead.\n\nInput only.\n\nFilter for jobs to be deleted.",
      "id": "Filter",
      "properties": {
        "requisitionId": {
          "description": "Required. The requisition ID (or posting ID) assigned by the client to identify a\njob. This is intended for client identification and tracking of\nlistings.\nname takes precedence over this field\nThe maximum number of allowed characters is 225.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetHistogramRequest": {
      "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make\na single call with both search and histogram.\n\nInput only.\n\nA request for the `GetHistogram` method.",
      "id": "GetHistogramRequest",
      "properties": {
        "allowBroadening": {
          "description": "Optional. Controls whether to broaden the search to avoid too few results for a\ngiven query in instances where a search has sparse results. Results from a\nbroadened query is a superset of the results from the original query.\n\nDefaults to false.",
          "type": "boolean"
        },
        "filters": {
          "$ref": "JobFilters",
          "description": "Deprecated. Use query instead.\n\nOptional.\n\nRestrictions on the scope of the histogram."
        },
        "query": {
          "$ref": "JobQuery",
          "description": "Optional. Query used to search against jobs, such as keyword, location filters, etc."
        },
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Meta information, such as `user_id`, collected from the job searcher or\nother entity conducting a job search, is used to improve the service's\nsearch quality. Users determine identifier values, which must be\nunique and consist."
        },
        "searchTypes": {
          "description": "Required. A list of facets that specify the histogram data to be calculated\nagainst and returned.\n\nHistogram response times can be slow, and counts\ncan be approximations. This call may be temporarily or permanently removed\nprior to the production release of Cloud Talent Solution.",
          "enumDescriptions": [
            "The default value if search type is not specified.",
            "Filter by the company id field.",
            "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
            "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
            "Filter by the date published field. Values are stringified\nwith TimeRange, for example, TimeRange.PAST_MONTH.",
            "Filter by custom field 1.",
            "Filter by custom field 2.",
            "Filter by custom field 3.",
            "Filter by custom field 4.",
            "Filter by custom field 5.",
            "Filter by custom field 6.",
            "Filter by custom field 7.",
            "Filter by custom field 8.",
            "Filter by custom field 9.",
            "Filter by custom field 10.",
            "Filter by custom field 11.",
            "Filter by custom field 12.",
            "Filter by custom field 13.",
            "Filter by custom field 14.",
            "Filter by custom field 15.",
            "Filter by custom field 16.",
            "Filter by custom field 17.",
            "Filter by custom field 18.",
            "Filter by custom field 19.",
            "Filter by custom field 20.",
            "Filter by the required education level of the job.",
            "Filter by the required experience level of the job.",
            "Filter by Admin1, which is a global placeholder for\nreferring to state, province, or the particular term a country uses to\ndefine the geographic structure below the country level.\nExamples include states codes such as \"CA\", \"IL\", \"NY\", and\nprovinces, such as \"BC\".",
            "Filter by the country code of job, such as US, JP, FR.",
            "Filter by the \"city name\", \"Admin1 code\", for example,\n\"Mountain View, CA\" or \"New York, NY\".",
            "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\".\n\nThis is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
            "Filter by the language code portion of the locale field, such as \"en\" or\n\"fr\".",
            "Filter by the Category.",
            "Filter by the city center GPS coordinate (latitude and longitude), for\nexample, 37.4038522,-122.0987765. Since the coordinates of a city center\ncan change, clients may need to refresh them periodically.",
            "A combination of state or province code with a country code. This field\ndiffers from `JOB_ADMIN1`, which can be used in multiple countries.",
            "Deprecated. Use COMPANY_DISPLAY_NAME instead.\n\nCompany display name.",
            "Company display name.",
            "Base compensation unit."
          ],
          "items": {
            "enum": [
              "JOB_FIELD_UNSPECIFIED",
              "COMPANY_ID",
              "EMPLOYMENT_TYPE",
              "COMPANY_SIZE",
              "DATE_PUBLISHED",
              "CUSTOM_FIELD_1",
              "CUSTOM_FIELD_2",
              "CUSTOM_FIELD_3",
              "CUSTOM_FIELD_4",
              "CUSTOM_FIELD_5",
              "CUSTOM_FIELD_6",
              "CUSTOM_FIELD_7",
              "CUSTOM_FIELD_8",
              "CUSTOM_FIELD_9",
              "CUSTOM_FIELD_10",
              "CUSTOM_FIELD_11",
              "CUSTOM_FIELD_12",
              "CUSTOM_FIELD_13",
              "CUSTOM_FIELD_14",
              "CUSTOM_FIELD_15",
              "CUSTOM_FIELD_16",
              "CUSTOM_FIELD_17",
              "CUSTOM_FIELD_18",
              "CUSTOM_FIELD_19",
              "CUSTOM_FIELD_20",
              "EDUCATION_LEVEL",
              "EXPERIENCE_LEVEL",
              "ADMIN1",
              "COUNTRY",
              "CITY",
              "LOCALE",
              "LANGUAGE",
              "CATEGORY",
              "CITY_COORDINATE",
              "ADMIN1_COUNTRY",
              "COMPANY_TITLE",
              "COMPANY_DISPLAY_NAME",
              "BASE_COMPENSATION_UNIT"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GetHistogramResponse": {
      "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make\na single call with both search and histogram.\n\nOutput only.\n\nThe response of the GetHistogram method.",
      "id": "GetHistogramResponse",
      "properties": {
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request\ntracking id."
        },
        "results": {
          "description": "The Histogram results.",
          "items": {
            "$ref": "HistogramResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "HistogramFacets": {
      "description": "Input only.\n\nHistogram facets to be specified in SearchJobsRequest.",
      "id": "HistogramFacets",
      "properties": {
        "compensationHistogramFacets": {
          "description": "Optional. Specifies compensation field-based histogram requests.\nDuplicate values of CompensationHistogramRequest.type are not allowed.",
          "items": {
            "$ref": "CompensationHistogramRequest"
          },
          "type": "array"
        },
        "customAttributeHistogramFacets": {
          "description": "Optional. Specifies the custom attributes histogram requests.\nDuplicate values of CustomAttributeHistogramRequest.key are not\nallowed.",
          "items": {
            "$ref": "CustomAttributeHistogramRequest"
          },
          "type": "array"
        },
        "simpleHistogramFacets": {
          "description": "Optional. Specifies the simple type of histogram facets, for example,\n`COMPANY_SIZE`, `EMPLOYMENT_TYPE` etc. This field is equivalent to\nGetHistogramRequest.",
          "enumDescriptions": [
            "The default value if search type is not specified.",
            "Filter by the company id field.",
            "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
            "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
            "Filter by the date published field. Values are stringified\nwith TimeRange, for example, TimeRange.PAST_MONTH.",
            "Filter by custom field 1.",
            "Filter by custom field 2.",
            "Filter by custom field 3.",
            "Filter by custom field 4.",
            "Filter by custom field 5.",
            "Filter by custom field 6.",
            "Filter by custom field 7.",
            "Filter by custom field 8.",
            "Filter by custom field 9.",
            "Filter by custom field 10.",
            "Filter by custom field 11.",
            "Filter by custom field 12.",
            "Filter by custom field 13.",
            "Filter by custom field 14.",
            "Filter by custom field 15.",
            "Filter by custom field 16.",
            "Filter by custom field 17.",
            "Filter by custom field 18.",
            "Filter by custom field 19.",
            "Filter by custom field 20.",
            "Filter by the required education level of the job.",
            "Filter by the required experience level of the job.",
            "Filter by Admin1, which is a global placeholder for\nreferring to state, province, or the particular term a country uses to\ndefine the geographic structure below the country level.\nExamples include states codes such as \"CA\", \"IL\", \"NY\", and\nprovinces, such as \"BC\".",
            "Filter by the country code of job, such as US, JP, FR.",
            "Filter by the \"city name\", \"Admin1 code\", for example,\n\"Mountain View, CA\" or \"New York, NY\".",
            "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\".\n\nThis is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
            "Filter by the language code portion of the locale field, such as \"en\" or\n\"fr\".",
            "Filter by the Category.",
            "Filter by the city center GPS coordinate (latitude and longitude), for\nexample, 37.4038522,-122.0987765. Since the coordinates of a city center\ncan change, clients may need to refresh them periodically.",
            "A combination of state or province code with a country code. This field\ndiffers from `JOB_ADMIN1`, which can be used in multiple countries.",
            "Deprecated. Use COMPANY_DISPLAY_NAME instead.\n\nCompany display name.",
            "Company display name.",
            "Base compensation unit."
          ],
          "items": {
            "enum": [
              "JOB_FIELD_UNSPECIFIED",
              "COMPANY_ID",
              "EMPLOYMENT_TYPE",
              "COMPANY_SIZE",
              "DATE_PUBLISHED",
              "CUSTOM_FIELD_1",
              "CUSTOM_FIELD_2",
              "CUSTOM_FIELD_3",
              "CUSTOM_FIELD_4",
              "CUSTOM_FIELD_5",
              "CUSTOM_FIELD_6",
              "CUSTOM_FIELD_7",
              "CUSTOM_FIELD_8",
              "CUSTOM_FIELD_9",
              "CUSTOM_FIELD_10",
              "CUSTOM_FIELD_11",
              "CUSTOM_FIELD_12",
              "CUSTOM_FIELD_13",
              "CUSTOM_FIELD_14",
              "CUSTOM_FIELD_15",
              "CUSTOM_FIELD_16",
              "CUSTOM_FIELD_17",
              "CUSTOM_FIELD_18",
              "CUSTOM_FIELD_19",
              "CUSTOM_FIELD_20",
              "EDUCATION_LEVEL",
              "EXPERIENCE_LEVEL",
              "ADMIN1",
              "COUNTRY",
              "CITY",
              "LOCALE",
              "LANGUAGE",
              "CATEGORY",
              "CITY_COORDINATE",
              "ADMIN1_COUNTRY",
              "COMPANY_TITLE",
              "COMPANY_DISPLAY_NAME",
              "BASE_COMPENSATION_UNIT"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "HistogramResult": {
      "description": "Output only.\n\nResult of a histogram call. The response contains the histogram map for the\nsearch type specified by HistogramResult.field.\nThe response is a map of each filter value to the corresponding count of\njobs for that filter.",
      "id": "HistogramResult",
      "properties": {
        "searchType": {
          "description": "The Histogram search filters.",
          "enum": [
            "JOB_FIELD_UNSPECIFIED",
            "COMPANY_ID",
            "EMPLOYMENT_TYPE",
            "COMPANY_SIZE",
            "DATE_PUBLISHED",
            "CUSTOM_FIELD_1",
            "CUSTOM_FIELD_2",
            "CUSTOM_FIELD_3",
            "CUSTOM_FIELD_4",
            "CUSTOM_FIELD_5",
            "CUSTOM_FIELD_6",
            "CUSTOM_FIELD_7",
            "CUSTOM_FIELD_8",
            "CUSTOM_FIELD_9",
            "CUSTOM_FIELD_10",
            "CUSTOM_FIELD_11",
            "CUSTOM_FIELD_12",
            "CUSTOM_FIELD_13",
            "CUSTOM_FIELD_14",
            "CUSTOM_FIELD_15",
            "CUSTOM_FIELD_16",
            "CUSTOM_FIELD_17",
            "CUSTOM_FIELD_18",
            "CUSTOM_FIELD_19",
            "CUSTOM_FIELD_20",
            "EDUCATION_LEVEL",
            "EXPERIENCE_LEVEL",
            "ADMIN1",
            "COUNTRY",
            "CITY",
            "LOCALE",
            "LANGUAGE",
            "CATEGORY",
            "CITY_COORDINATE",
            "ADMIN1_COUNTRY",
            "COMPANY_TITLE",
            "COMPANY_DISPLAY_NAME",
            "BASE_COMPENSATION_UNIT"
          ],
          "enumDescriptions": [
            "The default value if search type is not specified.",
            "Filter by the company id field.",
            "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
            "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
            "Filter by the date published field. Values are stringified\nwith TimeRange, for example, TimeRange.PAST_MONTH.",
            "Filter by custom field 1.",
            "Filter by custom field 2.",
            "Filter by custom field 3.",
            "Filter by custom field 4.",
            "Filter by custom field 5.",
            "Filter by custom field 6.",
            "Filter by custom field 7.",
            "Filter by custom field 8.",
            "Filter by custom field 9.",
            "Filter by custom field 10.",
            "Filter by custom field 11.",
            "Filter by custom field 12.",
            "Filter by custom field 13.",
            "Filter by custom field 14.",
            "Filter by custom field 15.",
            "Filter by custom field 16.",
            "Filter by custom field 17.",
            "Filter by custom field 18.",
            "Filter by custom field 19.",
            "Filter by custom field 20.",
            "Filter by the required education level of the job.",
            "Filter by the required experience level of the job.",
            "Filter by Admin1, which is a global placeholder for\nreferring to state, province, or the particular term a country uses to\ndefine the geographic structure below the country level.\nExamples include states codes such as \"CA\", \"IL\", \"NY\", and\nprovinces, such as \"BC\".",
            "Filter by the country code of job, such as US, JP, FR.",
            "Filter by the \"city name\", \"Admin1 code\", for example,\n\"Mountain View, CA\" or \"New York, NY\".",
            "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\".\n\nThis is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\".\nFor more information, see\n[Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
            "Filter by the language code portion of the locale field, such as \"en\" or\n\"fr\".",
            "Filter by the Category.",
            "Filter by the city center GPS coordinate (latitude and longitude), for\nexample, 37.4038522,-122.0987765. Since the coordinates of a city center\ncan change, clients may need to refresh them periodically.",
            "A combination of state or province code with a country code. This field\ndiffers from `JOB_ADMIN1`, which can be used in multiple countries.",
            "Deprecated. Use COMPANY_DISPLAY_NAME instead.\n\nCompany display name.",
            "Company display name.",
            "Base compensation unit."
          ],
          "type": "string"
        },
        "values": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A map from the values of field to the number of jobs with that value\nin this search result.\n\nKey: search type (filter names, such as the companyName).\n\nValues: the count of jobs that match the filter for this search.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "HistogramResults": {
      "description": "Output only.\n\nHistogram results that matches HistogramFacets specified in\nSearchJobsRequest.",
      "id": "HistogramResults",
      "properties": {
        "compensationHistogramResults": {
          "description": "Specifies compensation field-based histogram results that matches\nHistogramFacets.compensation_histogram_requests.",
          "items": {
            "$ref": "CompensationHistogramResult"
          },
          "type": "array"
        },
        "customAttributeHistogramResults": {
          "description": "Specifies histogram results for custom attributes that\nmatches HistogramFacets.custom_attribute_histogram_facets.",
          "items": {
            "$ref": "CustomAttributeHistogramResult"
          },
          "type": "array"
        },
        "simpleHistogramResults": {
          "description": "Specifies histogram results that matches\nHistogramFacets.simple_histogram_facets.",
          "items": {
            "$ref": "HistogramResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Job": {
      "description": "A Job resource represents a job posting (also referred to as a \"job listing\"\nor \"job requisition\"). A job belongs to a Company, which is the hiring\nentity responsible for the job.",
      "id": "Job",
      "properties": {
        "applicationEmailList": {
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this field to specify email address(es) to which resumes or\napplications can be sent.\n\nThe maximum number of allowed characters is 255.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "applicationInstruction": {
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this field to provide instructions, such as \"Mail your application\nto ...\", that a candidate can follow to apply for the job.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 3,000.",
          "type": "string"
        },
        "applicationUrls": {
          "description": "Optional but at least one of application_urls,\napplication_email_list or application_instruction must be\nspecified.\n\nUse this URL field to direct an applicant to a website, for example to\nlink to an online application form.\n\nThe maximum number of allowed characters is 2,000.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "benefits": {
          "description": "Optional. The benefits included with the job.",
          "enumDescriptions": [
            "Default value if the type is not specified.",
            "The job includes access to programs that support child care, such\nas daycare.",
            "The job includes dental services that are covered by a dental\ninsurance plan.",
            "The job offers specific benefits to domestic partners.",
            "The job allows for a flexible work schedule.",
            "The job includes health services that are covered by a medical\ninsurance plan.",
            "The job includes a life insurance plan provided by the employer or\navailable for purchase by the employee.",
            "The job allows for a leave of absence to a parent to care for a newborn\nchild.",
            "The job includes a workplace retirement plan provided by the\nemployer or available for purchase by the employee.",
            "The job allows for paid time off due to illness.",
            "Deprecated. Set Region.TELECOMMUTE instead.\n\nThe job allows telecommuting (working remotely).",
            "The job includes paid time off for vacation.",
            "The job includes vision services that are covered by a vision\ninsurance plan."
          ],
          "items": {
            "enum": [
              "JOB_BENEFIT_TYPE_UNSPECIFIED",
              "CHILD_CARE",
              "DENTAL",
              "DOMESTIC_PARTNER",
              "FLEXIBLE_HOURS",
              "MEDICAL",
              "LIFE_INSURANCE",
              "PARENTAL_LEAVE",
              "RETIREMENT_PLAN",
              "SICK_DAYS",
              "TELECOMMUTE",
              "VACATION",
              "VISION"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "companyDisplayName": {
          "description": "Output only. The name of the company listing the job.",
          "type": "string"
        },
        "companyName": {
          "description": "Optional but one of company_name or distributor_company_id must be\nprovided.\n\nThe resource name of the company listing the job, such as\n/companies/foo. This field takes precedence over the\ndistributor-assigned company identifier, distributor_company_id.",
          "type": "string"
        },
        "companyTitle": {
          "description": "Deprecated. Use company_display_name instead.\n\nOutput only.\n\nThe name of the company listing the job.",
          "type": "string"
        },
        "compensationInfo": {
          "$ref": "CompensationInfo",
          "description": "Optional. Job compensation information."
        },
        "createTime": {
          "description": "Output only. The timestamp when this job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "customAttributes": {
          "additionalProperties": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional. A map of fields to hold both filterable and non-filterable custom job\nattributes that are not covered by the provided structured fields.\n\nThis field is a more general combination of the deprecated id-based\nfilterable_custom_fields and string-based\nnon_filterable_custom_fields.\n\nThe keys of the map are strings up to 64 bytes and must match the\npattern: a-zA-Z*.\n\nAt most 100 filterable and at most 100 unfilterable keys are supported.\nFor filterable `string_values`, across all keys at most 200 values are\nallowed, with each string no more than 255 characters. For unfilterable\n`string_values`, the maximum total size of `string_values` across all keys\nis 50KB.",
          "type": "object"
        },
        "department": {
          "description": "Optional. The department or functional area within the company with the open\nposition.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the job, which typically includes a multi-paragraph\ndescription of the company and related information. Separate fields are\nprovided on the job object for responsibilities,\nqualifications, and other job characteristics. Use of\nthese separate job fields is recommended.\n\nThis field accepts and sanitizes HTML input, and also accepts\nbold, italic, ordered list, and unordered list markup tags.\n\nThe maximum number of allowed characters is 100,000.",
          "type": "string"
        },
        "distributorCompanyId": {
          "description": "Optional but one of company_name or distributor_company_id must be\nprovided.\n\nA unique company identifier used by job distributors to identify an\nemployer's company entity. company_name takes precedence over\nthis field, and is the recommended field to use to identify companies.\n\nThe maximum number of allowed characters is 255.",
          "type": "string"
        },
        "educationLevels": {
          "description": "Optional. The desired education level for the job, such as\n\"Bachelors\", \"Masters\", \"Doctorate\".",
          "enumDescriptions": [
            "The default value if the level is not specified.",
            "A High School diploma is required for the position.",
            "An Associate degree is required for the position.",
            "A Bachelors degree is required for the position.",
            "A Masters degree is required for the position.",
            "A Doctorate degree is required for the position.",
            "No formal education is required for the position."
          ],
          "items": {
            "enum": [
              "EDUCATION_LEVEL_UNSPECIFIED",
              "HIGH_SCHOOL",
              "ASSOCIATE",
              "BACHELORS",
              "MASTERS",
              "DOCTORATE",
              "NO_DEGREE_REQUIRED"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "employmentTypes": {
          "description": "Optional. The employment type(s) of a job, for example,\nfull time or\npart time.",
          "enumDescriptions": [
            "The default value if the employment type is not specified.",
            "The job requires working a number of hours that constitute full\ntime employment, typically 40 or more hours per week.",
            "The job entails working fewer hours than a full time job,\ntypically less than 40 hours a week.",
            "The job is offered as a contracted, as opposed to a salaried employee,\nposition.",
            "The job is offered as a temporary employment opportunity, usually\na short-term engagement.",
            "The job is a fixed-term opportunity for students or entry-level job seekers\nto obtain on-the-job training, typically offered as a summer position.",
            "The is an opportunity for an individual to volunteer, where there is no\nexpectation of compensation for the provided services.",
            "The job requires an employee to work on an as-needed basis with a\nflexible schedule.",
            "The job is offered as a contracted position with the understanding\nthat it is converted into a full-time position at the end of the\ncontract. Jobs of this type are also returned by a search for\nEmploymentType.CONTRACTOR jobs.",
            "The job involves employing people in remote areas and flying them\ntemporarily to the work site instead of relocating employees and their\nfamilies permanently.",
            "The job does not fit any of the other listed types."
          ],
          "items": {
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "CONTRACT_TO_HIRE",
              "FLY_IN_FLY_OUT",
              "OTHER"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Optional. The end date of the job in UTC time zone. Typically this field\nis used for contracting engagements.\nDates prior to 1970/1/1 and invalid date formats are ignored."
        },
        "expireTime": {
[...]
