body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#header {
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
}

#header span{
    display: inline-block;
    width: 60px;
    padding-left: 30px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.total.okay {
    background: linear-gradient(to left, #e3e3e3 80%, #009900 20%);
}

span.total.unstable {
    background: linear-gradient(to left, #e3e3e3 80%, #EE9500 20%);
}

span.total.failed {
    background: linear-gradient(to left, #e3e3e3 80%, #AA0000 20%);
}

span.total.skipped {
    background: linear-gradient(to left, #e3e3e3 80%, #999999 20%);
}

ul.test {
    list-style-type: none;
    padding: 0 0 5px 5px;
    width: 100%;
}

li.test {
    margin: 0 0 10px 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    padding-left: 4%;
}

li.test.okay {
    background: linear-gradient(to left, #e3e3e3 97%, #009900 3%);
}

li.test.unstable {
    background: linear-gradient(to left, #e3e3e3 97%, #EE9500 3%);
}

li.test.failed {
    background: linear-gradient(to left, #e3e3e3 97%, #AA0000 3%);
}

li.test.skipped {
    background: linear-gradient(to left, #e3e3e3 97%, #999999 3%);
}

ul.suite {
    list-style: none;
    margin: 2px 0 0 0;
    padding-left: 20px;
}

li.suite {
    margin: 0 0 2px 0;
    font-size: normal;
    font-weight: normal;
}

li.suite span {
    float: left;
    width: 70px;
    font-weight: bold;
}

li.suite span.time {
    width: 50px;
    font-weight: normal;
}

li.suite span.okay {
    color: green;
}

li.suite span.unstable {
    color: orange;
}

li.suite span.failed {
    color: red;
}
