{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2006-03-01",
    "checksumFormat":"md5",
    "endpointPrefix":"s3",
    "globalEndpoint":"s3.amazonaws.com",
    "protocol":"rest-xml",
    "serviceAbbreviation":"Amazon S3",
    "serviceFullName":"Amazon Simple Storage Service",
    "signatureVersion":"s3",
    "timestampFormat":"rfc822",
    "uid":"s3-2006-03-01"
  },
  "operations":{
    "AbortMultipartUpload":{
      "name":"AbortMultipartUpload",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"AbortMultipartUploadRequest"},
      "output":{"shape":"AbortMultipartUploadOutput"},
      "errors":[
        {"shape":"NoSuchUpload"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html"
    },
    "CompleteMultipartUpload":{
      "name":"CompleteMultipartUpload",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"CompleteMultipartUploadRequest"},
      "output":{"shape":"CompleteMultipartUploadOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html"
    },
    "CopyObject":{
      "name":"CopyObject",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"CopyObjectRequest"},
      "output":{"shape":"CopyObjectOutput"},
      "errors":[
        {"shape":"ObjectNotInActiveTierError"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html",
      "alias":"PutObjectCopy"
    },
    "CreateBucket":{
      "name":"CreateBucket",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}"
      },
      "input":{"shape":"CreateBucketRequest"},
      "output":{"shape":"CreateBucketOutput"},
      "errors":[
        {"shape":"BucketAlreadyExists"},
        {"shape":"BucketAlreadyOwnedByYou"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html",
      "alias":"PutBucket"
    },
    "CreateMultipartUpload":{
      "name":"CreateMultipartUpload",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}?uploads"
      },
      "input":{"shape":"CreateMultipartUploadRequest"},
      "output":{"shape":"CreateMultipartUploadOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html",
      "alias":"InitiateMultipartUpload"
    },
    "DeleteBucket":{
      "name":"DeleteBucket",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}"
      },
      "input":{"shape":"DeleteBucketRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html"
    },
    "DeleteBucketAnalyticsConfiguration":{
      "name":"DeleteBucketAnalyticsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?analytics"
      },
      "input":{"shape":"DeleteBucketAnalyticsConfigurationRequest"}
    },
    "DeleteBucketCors":{
      "name":"DeleteBucketCors",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?cors"
      },
      "input":{"shape":"DeleteBucketCorsRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html"
    },
    "DeleteBucketInventoryConfiguration":{
      "name":"DeleteBucketInventoryConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?inventory"
      },
      "input":{"shape":"DeleteBucketInventoryConfigurationRequest"}
    },
    "DeleteBucketLifecycle":{
      "name":"DeleteBucketLifecycle",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?lifecycle"
      },
      "input":{"shape":"DeleteBucketLifecycleRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html"
    },
    "DeleteBucketMetricsConfiguration":{
      "name":"DeleteBucketMetricsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?metrics"
      },
      "input":{"shape":"DeleteBucketMetricsConfigurationRequest"}
    },
    "DeleteBucketPolicy":{
      "name":"DeleteBucketPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?policy"
      },
      "input":{"shape":"DeleteBucketPolicyRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html"
    },
    "DeleteBucketReplication":{
      "name":"DeleteBucketReplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?replication"
      },
      "input":{"shape":"DeleteBucketReplicationRequest"}
    },
    "DeleteBucketTagging":{
      "name":"DeleteBucketTagging",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?tagging"
      },
      "input":{"shape":"DeleteBucketTaggingRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html"
    },
    "DeleteBucketWebsite":{
      "name":"DeleteBucketWebsite",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?website"
      },
      "input":{"shape":"DeleteBucketWebsiteRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html"
    },
    "DeleteObject":{
      "name":"DeleteObject",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"DeleteObjectRequest"},
      "output":{"shape":"DeleteObjectOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html"
    },
    "DeleteObjectTagging":{
      "name":"DeleteObjectTagging",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}/{Key+}?tagging"
      },
      "input":{"shape":"DeleteObjectTaggingRequest"},
      "output":{"shape":"DeleteObjectTaggingOutput"}
    },
    "DeleteObjects":{
      "name":"DeleteObjects",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}?delete"
      },
      "input":{"shape":"DeleteObjectsRequest"},
      "output":{"shape":"DeleteObjectsOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html",
      "alias":"DeleteMultipleObjects"
    },
    "GetBucketAccelerateConfiguration":{
      "name":"GetBucketAccelerateConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?accelerate"
      },
      "input":{"shape":"GetBucketAccelerateConfigurationRequest"},
      "output":{"shape":"GetBucketAccelerateConfigurationOutput"}
    },
    "GetBucketAcl":{
      "name":"GetBucketAcl",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?acl"
      },
      "input":{"shape":"GetBucketAclRequest"},
      "output":{"shape":"GetBucketAclOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html"
    },
    "GetBucketAnalyticsConfiguration":{
      "name":"GetBucketAnalyticsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?analytics"
      },
      "input":{"shape":"GetBucketAnalyticsConfigurationRequest"},
      "output":{"shape":"GetBucketAnalyticsConfigurationOutput"}
    },
    "GetBucketCors":{
      "name":"GetBucketCors",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?cors"
      },
      "input":{"shape":"GetBucketCorsRequest"},
      "output":{"shape":"GetBucketCorsOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html"
    },
    "GetBucketInventoryConfiguration":{
      "name":"GetBucketInventoryConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?inventory"
      },
      "input":{"shape":"GetBucketInventoryConfigurationRequest"},
      "output":{"shape":"GetBucketInventoryConfigurationOutput"}
    },
    "GetBucketLifecycle":{
      "name":"GetBucketLifecycle",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?lifecycle"
      },
      "input":{"shape":"GetBucketLifecycleRequest"},
      "output":{"shape":"GetBucketLifecycleOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlifecycle.html",
      "deprecated":true
    },
    "GetBucketLifecycleConfiguration":{
      "name":"GetBucketLifecycleConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?lifecycle"
      },
      "input":{"shape":"GetBucketLifecycleConfigurationRequest"},
      "output":{"shape":"GetBucketLifecycleConfigurationOutput"}
    },
    "GetBucketLocation":{
      "name":"GetBucketLocation",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?location"
      },
      "input":{"shape":"GetBucketLocationRequest"},
      "output":{"shape":"GetBucketLocationOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html"
    },
    "GetBucketLogging":{
      "name":"GetBucketLogging",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?logging"
      },
      "input":{"shape":"GetBucketLoggingRequest"},
      "output":{"shape":"GetBucketLoggingOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlogging.html"
    },
    "GetBucketMetricsConfiguration":{
      "name":"GetBucketMetricsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?metrics"
      },
      "input":{"shape":"GetBucketMetricsConfigurationRequest"},
      "output":{"shape":"GetBucketMetricsConfigurationOutput"}
    },
    "GetBucketNotification":{
      "name":"GetBucketNotification",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?notification"
      },
      "input":{"shape":"GetBucketNotificationConfigurationRequest"},
      "output":{"shape":"NotificationConfigurationDeprecated"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETnotification.html",
      "deprecated":true
    },
    "GetBucketNotificationConfiguration":{
      "name":"GetBucketNotificationConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?notification"
      },
      "input":{"shape":"GetBucketNotificationConfigurationRequest"},
      "output":{"shape":"NotificationConfiguration"}
    },
    "GetBucketPolicy":{
      "name":"GetBucketPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?policy"
      },
      "input":{"shape":"GetBucketPolicyRequest"},
      "output":{"shape":"GetBucketPolicyOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETpolicy.html"
    },
    "GetBucketReplication":{
      "name":"GetBucketReplication",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?replication"
      },
      "input":{"shape":"GetBucketReplicationRequest"},
      "output":{"shape":"GetBucketReplicationOutput"}
    },
    "GetBucketRequestPayment":{
      "name":"GetBucketRequestPayment",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?requestPayment"
      },
      "input":{"shape":"GetBucketRequestPaymentRequest"},
      "output":{"shape":"GetBucketRequestPaymentOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentGET.html"
    },
    "GetBucketTagging":{
      "name":"GetBucketTagging",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?tagging"
      },
      "input":{"shape":"GetBucketTaggingRequest"},
      "output":{"shape":"GetBucketTaggingOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html"
    },
    "GetBucketVersioning":{
      "name":"GetBucketVersioning",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?versioning"
      },
      "input":{"shape":"GetBucketVersioningRequest"},
      "output":{"shape":"GetBucketVersioningOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETversioningStatus.html"
    },
    "GetBucketWebsite":{
      "name":"GetBucketWebsite",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?website"
      },
      "input":{"shape":"GetBucketWebsiteRequest"},
      "output":{"shape":"GetBucketWebsiteOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETwebsite.html"
    },
    "GetObject":{
      "name":"GetObject",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"GetObjectRequest"},
      "output":{"shape":"GetObjectOutput"},
      "errors":[
        {"shape":"NoSuchKey"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html"
    },
    "GetObjectAcl":{
      "name":"GetObjectAcl",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}?acl"
      },
      "input":{"shape":"GetObjectAclRequest"},
      "output":{"shape":"GetObjectAclOutput"},
      "errors":[
        {"shape":"NoSuchKey"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETacl.html"
    },
    "GetObjectTagging":{
      "name":"GetObjectTagging",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}?tagging"
      },
      "input":{"shape":"GetObjectTaggingRequest"},
      "output":{"shape":"GetObjectTaggingOutput"}
    },
    "GetObjectTorrent":{
      "name":"GetObjectTorrent",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}?torrent"
      },
      "input":{"shape":"GetObjectTorrentRequest"},
      "output":{"shape":"GetObjectTorrentOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETtorrent.html"
    },
    "HeadBucket":{
      "name":"HeadBucket",
      "http":{
        "method":"HEAD",
        "requestUri":"/{Bucket}"
      },
      "input":{"shape":"HeadBucketRequest"},
      "errors":[
        {"shape":"NoSuchBucket"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html"
    },
    "HeadObject":{
      "name":"HeadObject",
      "http":{
        "method":"HEAD",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"HeadObjectRequest"},
      "output":{"shape":"HeadObjectOutput"},
      "errors":[
        {"shape":"NoSuchKey"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html"
    },
    "ListBucketAnalyticsConfigurations":{
      "name":"ListBucketAnalyticsConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?analytics"
      },
      "input":{"shape":"ListBucketAnalyticsConfigurationsRequest"},
      "output":{"shape":"ListBucketAnalyticsConfigurationsOutput"}
    },
    "ListBucketInventoryConfigurations":{
      "name":"ListBucketInventoryConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?inventory"
      },
      "input":{"shape":"ListBucketInventoryConfigurationsRequest"},
      "output":{"shape":"ListBucketInventoryConfigurationsOutput"}
    },
    "ListBucketMetricsConfigurations":{
      "name":"ListBucketMetricsConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?metrics"
      },
      "input":{"shape":"ListBucketMetricsConfigurationsRequest"},
      "output":{"shape":"ListBucketMetricsConfigurationsOutput"}
    },
    "ListBuckets":{
      "name":"ListBuckets",
      "http":{
        "method":"GET",
        "requestUri":"/"
      },
      "output":{"shape":"ListBucketsOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html",
      "alias":"GetService"
    },
    "ListMultipartUploads":{
      "name":"ListMultipartUploads",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?uploads"
      },
      "input":{"shape":"ListMultipartUploadsRequest"},
      "output":{"shape":"ListMultipartUploadsOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html"
    },
    "ListObjectVersions":{
      "name":"ListObjectVersions",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?versions"
      },
      "input":{"shape":"ListObjectVersionsRequest"},
      "output":{"shape":"ListObjectVersionsOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html",
      "alias":"GetBucketObjectVersions"
    },
    "ListObjects":{
      "name":"ListObjects",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}"
      },
      "input":{"shape":"ListObjectsRequest"},
      "output":{"shape":"ListObjectsOutput"},
      "errors":[
        {"shape":"NoSuchBucket"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html",
      "alias":"GetBucket"
    },
    "ListObjectsV2":{
      "name":"ListObjectsV2",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?list-type=2"
      },
      "input":{"shape":"ListObjectsV2Request"},
      "output":{"shape":"ListObjectsV2Output"},
      "errors":[
        {"shape":"NoSuchBucket"}
      ]
    },
    "ListParts":{
      "name":"ListParts",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"ListPartsRequest"},
      "output":{"shape":"ListPartsOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html"
    },
    "PutBucketAccelerateConfiguration":{
      "name":"PutBucketAccelerateConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?accelerate"
      },
      "input":{"shape":"PutBucketAccelerateConfigurationRequest"}
    },
    "PutBucketAcl":{
      "name":"PutBucketAcl",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?acl"
      },
      "input":{"shape":"PutBucketAclRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html"
    },
    "PutBucketAnalyticsConfiguration":{
      "name":"PutBucketAnalyticsConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?analytics"
      },
      "input":{"shape":"PutBucketAnalyticsConfigurationRequest"}
    },
    "PutBucketCors":{
      "name":"PutBucketCors",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?cors"
      },
      "input":{"shape":"PutBucketCorsRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html"
    },
    "PutBucketInventoryConfiguration":{
      "name":"PutBucketInventoryConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?inventory"
      },
      "input":{"shape":"PutBucketInventoryConfigurationRequest"}
    },
    "PutBucketLifecycle":{
      "name":"PutBucketLifecycle",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?lifecycle"
      },
      "input":{"shape":"PutBucketLifecycleRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlifecycle.html",
      "deprecated":true
    },
    "PutBucketLifecycleConfiguration":{
      "name":"PutBucketLifecycleConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?lifecycle"
      },
      "input":{"shape":"PutBucketLifecycleConfigurationRequest"}
    },
    "PutBucketLogging":{
      "name":"PutBucketLogging",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?logging"
      },
      "input":{"shape":"PutBucketLoggingRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlogging.html"
    },
    "PutBucketMetricsConfiguration":{
      "name":"PutBucketMetricsConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?metrics"
      },
      "input":{"shape":"PutBucketMetricsConfigurationRequest"}
    },
    "PutBucketNotification":{
      "name":"PutBucketNotification",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?notification"
      },
      "input":{"shape":"PutBucketNotificationRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTnotification.html",
      "deprecated":true
    },
    "PutBucketNotificationConfiguration":{
      "name":"PutBucketNotificationConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?notification"
      },
      "input":{"shape":"PutBucketNotificationConfigurationRequest"}
    },
    "PutBucketPolicy":{
      "name":"PutBucketPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?policy"
      },
      "input":{"shape":"PutBucketPolicyRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTpolicy.html"
    },
    "PutBucketReplication":{
      "name":"PutBucketReplication",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?replication"
      },
      "input":{"shape":"PutBucketReplicationRequest"}
    },
    "PutBucketRequestPayment":{
      "name":"PutBucketRequestPayment",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?requestPayment"
      },
      "input":{"shape":"PutBucketRequestPaymentRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentPUT.html"
    },
    "PutBucketTagging":{
      "name":"PutBucketTagging",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?tagging"
      },
      "input":{"shape":"PutBucketTaggingRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html"
    },
    "PutBucketVersioning":{
      "name":"PutBucketVersioning",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?versioning"
      },
      "input":{"shape":"PutBucketVersioningRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html"
    },
    "PutBucketWebsite":{
      "name":"PutBucketWebsite",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?website"
      },
      "input":{"shape":"PutBucketWebsiteRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html"
    },
    "PutObject":{
      "name":"PutObject",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"PutObjectRequest"},
      "output":{"shape":"PutObjectOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html"
    },
    "PutObjectAcl":{
      "name":"PutObjectAcl",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}?acl"
      },
      "input":{"shape":"PutObjectAclRequest"},
      "output":{"shape":"PutObjectAclOutput"},
      "errors":[
        {"shape":"NoSuchKey"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html"
    },
    "PutObjectTagging":{
      "name":"PutObjectTagging",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}?tagging"
      },
      "input":{"shape":"PutObjectTaggingRequest"},
      "output":{"shape":"PutObjectTaggingOutput"}
    },
    "RestoreObject":{
      "name":"RestoreObject",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}?restore"
      },
      "input":{"shape":"RestoreObjectRequest"},
      "output":{"shape":"RestoreObjectOutput"},
      "errors":[
        {"shape":"ObjectAlreadyInActiveTierError"}
      ],
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectRestore.html",
      "alias":"PostObjectRestore"
    },
    "UploadPart":{
      "name":"UploadPart",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"UploadPartRequest"},
      "output":{"shape":"UploadPartOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPart.html"
    },
    "UploadPartCopy":{
      "name":"UploadPartCopy",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"UploadPartCopyRequest"},
      "output":{"shape":"UploadPartCopyOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html"
    }
  },
  "shapes":{
    "AbortDate":{"type":"timestamp"},
    "AbortIncompleteMultipartUpload":{
      "type":"structure",
      "members":{
        "DaysAfterInitiation":{"shape":"DaysAfterInitiation"}
      }
    },
    "AbortMultipartUploadOutput":{
      "type":"structure",
      "members":{
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "AbortMultipartUploadRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "UploadId":{
          "shape":"MultipartUploadId",
          "location":"querystring",
          "locationName":"uploadId"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "AbortRuleId":{"type":"string"},
    "AccelerateConfiguration":{
      "type":"structure",
      "members":{
        "Status":{"shape":"BucketAccelerateStatus"}
      }
    },
    "AcceptRanges":{"type":"string"},
    "AccessControlPolicy":{
      "type":"structure",
      "members":{
        "Grants":{
          "shape":"Grants",
          "locationName":"AccessControlList"
        },
        "Owner":{"shape":"Owner"}
      }
    },
    "AccountId":{"type":"string"},
    "AllowedHeader":{"type":"string"},
    "AllowedHeaders":{
      "type":"list",
      "member":{"shape":"AllowedHeader"},
      "flattened":true
    },
    "AllowedMethod":{"type":"string"},
    "AllowedMethods":{
      "type":"list",
      "member":{"shape":"AllowedMethod"},
      "flattened":true
    },
    "AllowedOrigin":{"type":"string"},
    "AllowedOrigins":{
      "type":"list",
      "member":{"shape":"AllowedOrigin"},
      "flattened":true
    },
    "AnalyticsAndOperator":{
      "type":"structure",
      "members":{
        "Prefix":{"shape":"Prefix"},
        "Tags":{
          "shape":"TagSet",
          "flattened":true,
          "locationName":"Tag"
        }
      }
    },
    "AnalyticsConfiguration":{
      "type":"structure",
      "required":[
        "Id",
        "StorageClassAnalysis"
      ],
      "members":{
        "Id":{"shape":"AnalyticsId"},
        "Filter":{"shape":"AnalyticsFilter"},
        "StorageClassAnalysis":{"shape":"StorageClassAnalysis"}
      }
    },
    "AnalyticsConfigurationList":{
      "type":"list",
      "member":{"shape":"AnalyticsConfiguration"},
      "flattened":true
    },
    "AnalyticsExportDestination":{
      "type":"structure",
      "required":["S3BucketDestination"],
      "members":{
        "S3BucketDestination":{"shape":"AnalyticsS3BucketDestination"}
      }
    },
    "AnalyticsFilter":{
      "type":"structure",
      "members":{
        "Prefix":{"shape":"Prefix"},
        "Tag":{"shape":"Tag"},
        "And":{"shape":"AnalyticsAndOperator"}
      }
    },
    "AnalyticsId":{"type":"string"},
    "AnalyticsS3BucketDestination":{
      "type":"structure",
      "required":[
        "Format",
        "Bucket"
      ],
      "members":{
        "Format":{"shape":"AnalyticsS3ExportFileFormat"},
        "BucketAccountId":{"shape":"AccountId"},
        "Bucket":{"shape":"BucketName"},
        "Prefix":{"shape":"Prefix"}
      }
    },
    "AnalyticsS3ExportFileFormat":{
      "type":"string",
      "enum":["CSV"]
    },
    "Body":{"type":"blob"},
    "Bucket":{
      "type":"structure",
      "members":{
        "Name":{"shape":"BucketName"},
        "CreationDate":{"shape":"CreationDate"}
      }
    },
    "BucketAccelerateStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Suspended"
      ]
    },
    "BucketAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BucketAlreadyOwnedByYou":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BucketCannedACL":{
      "type":"string",
      "enum":[
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read"
      ]
    },
    "BucketLifecycleConfiguration":{
      "type":"structure",
      "required":["Rules"],
      "members":{
        "Rules":{
          "shape":"LifecycleRules",
          "locationName":"Rule"
        }
      }
    },
    "BucketLocationConstraint":{
      "type":"string",
      "enum":[
        "EU",
        "eu-west-1",
        "us-west-1",
        "us-west-2",
        "ap-south-1",
        "ap-southeast-1",
        "ap-southeast-2",
        "ap-northeast-1",
        "sa-east-1",
        "cn-north-1",
        "eu-central-1"
      ]
    },
    "BucketLoggingStatus":{
      "type":"structure",
      "members":{
        "LoggingEnabled":{"shape":"LoggingEnabled"}
      }
    },
    "BucketLogsPermission":{
      "type":"string",
      "enum":[
        "FULL_CONTROL",
        "READ",
        "WRITE"
      ]
    },
    "BucketName":{"type":"string"},
    "BucketVersioningStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Suspended"
      ]
    },
    "Buckets":{
      "type":"list",
      "member":{
        "shape":"Bucket",
        "locationName":"Bucket"
      }
    },
    "CORSConfiguration":{
      "type":"structure",
      "required":["CORSRules"],
      "members":{
        "CORSRules":{
          "shape":"CORSRules",
          "locationName":"CORSRule"
        }
      }
    },
    "CORSRule":{
      "type":"structure",
      "required":[
        "AllowedMethods",
        "AllowedOrigins"
      ],
      "members":{
        "AllowedHeaders":{
          "shape":"AllowedHeaders",
          "locationName":"AllowedHeader"
        },
        "AllowedMethods":{
          "shape":"AllowedMethods",
          "locationName":"AllowedMethod"
        },
        "AllowedOrigins":{
          "shape":"AllowedOrigins",
          "locationName":"AllowedOrigin"
        },
        "ExposeHeaders":{
          "shape":"ExposeHeaders",
          "locationName":"ExposeHeader"
        },
        "MaxAgeSeconds":{"shape":"MaxAgeSeconds"}
      }
    },
    "CORSRules":{
      "type":"list",
      "member":{"shape":"CORSRule"},
      "flattened":true
    },
    "CacheControl":{"type":"string"},
    "CloudFunction":{"type":"string"},
    "CloudFunctionConfiguration":{
      "type":"structure",
      "members":{
        "Id":{"shape":"NotificationId"},
        "Event":{
          "shape":"Event",
          "deprecated":true
        },
        "Events":{
          "shape":"EventList",
          "locationName":"Event"
        },
        "CloudFunction":{"shape":"CloudFunction"},
        "InvocationRole":{"shape":"CloudFunctionInvocationRole"}
      }
    },
    "CloudFunctionInvocationRole":{"type":"string"},
    "Code":{"type":"string"},
    "CommonPrefix":{
      "type":"structure",
      "members":{
        "Prefix":{"shape":"Prefix"}
      }
    },
    "CommonPrefixList":{
      "type":"list",
      "member":{"shape":"CommonPrefix"},
      "flattened":true
    },
    "CompleteMultipartUploadOutput":{
      "type":"structure",
      "members":{
        "Location":{"shape":"Location"},
        "Bucket":{"shape":"BucketName"},
        "Key":{"shape":"ObjectKey"},
        "Expiration":{
          "shape":"Expiration",
          "location":"header",
          "locationName":"x-amz-expiration"
        },
        "ETag":{"shape":"ETag"},
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"header",
          "locationName":"x-amz-version-id"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "CompleteMultipartUploadRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "MultipartUpload":{
          "shape":"CompletedMultipartUpload",
          "locationName":"CompleteMultipartUpload",
          "xmlNamespace":{"uri":"http://s3.amazonaws.com/doc/2006-03-01/"}
        },
        "UploadId":{
          "shape":"MultipartUploadId",
          "location":"querystring",
          "locationName":"uploadId"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      },
      "payload":"MultipartUpload"
    },
    "CompletedMultipartUpload":{
      "type":"structure",
      "members":{
        "Parts":{
          "shape":"CompletedPartList",
          "locationName":"Part"
        }
      }
    },
    "CompletedPart":{
      "type":"structure",
      "members":{
        "ETag":{"shape":"ETag"},
        "PartNumber":{"shape":"PartNumber"}
      }
    },
    "CompletedPartList":{
      "type":"list",
      "member":{"shape":"CompletedPart"},
      "flattened":true
    },
    "Condition":{
      "type":"structure",
      "members":{
        "HttpErrorCodeReturnedEquals":{"shape":"HttpErrorCodeReturnedEquals"},
        "KeyPrefixEquals":{"shape":"KeyPrefixEquals"}
      }
    },
    "ContentDisposition":{"type":"string"},
    "ContentEncoding":{"type":"string"},
    "ContentLanguage":{"type":"string"},
    "ContentLength":{"type":"long"},
    "ContentMD5":{"type":"string"},
    "ContentRange":{"type":"string"},
    "ContentType":{"type":"string"},
    "CopyObjectOutput":{
      "type":"structure",
      "members":{
        "CopyObjectResult":{"shape":"CopyObjectResult"},
        "Expiration":{
          "shape":"Expiration",
          "location":"header",
          "locationName":"x-amz-expiration"
        },
        "CopySourceVersionId":{
          "shape":"CopySourceVersionId",
          "location":"header",
          "locationName":"x-amz-copy-source-version-id"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"header",
          "locationName":"x-amz-version-id"
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      },
      "payload":"CopyObjectResult"
    },
    "CopyObjectRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "CopySource",
        "Key"
      ],
      "members":{
        "ACL":{
          "shape":"ObjectCannedACL",
          "location":"header",
          "locationName":"x-amz-acl"
        },
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "CacheControl":{
          "shape":"CacheControl",
          "location":"header",
          "locationName":"Cache-Control"
        },
        "ContentDisposition":{
          "shape":"ContentDisposition",
          "location":"header",
          "locationName":"Content-Disposition"
        },
        "ContentEncoding":{
          "shape":"ContentEncoding",
          "location":"header",
          "locationName":"Content-Encoding"
        },
        "ContentLanguage":{
          "shape":"ContentLanguage",
          "location":"header",
          "locationName":"Content-Language"
        },
        "ContentType":{
          "shape":"ContentType",
          "location":"header",
          "locationName":"Content-Type"
        },
        "CopySource":{
          "shape":"CopySource",
          "location":"header",
          "locationName":"x-amz-copy-source"
        },
        "CopySourceIfMatch":{
          "shape":"CopySourceIfMatch",
          "location":"header",
          "locationName":"x-amz-copy-source-if-match"
        },
        "CopySourceIfModifiedSince":{
          "shape":"CopySourceIfModifiedSince",
          "location":"header",
          "locationName":"x-amz-copy-source-if-modified-since"
        },
        "CopySourceIfNoneMatch":{
          "shape":"CopySourceIfNoneMatch",
          "location":"header",
          "locationName":"x-amz-copy-source-if-none-match"
        },
        "CopySourceIfUnmodifiedSince":{
          "shape":"CopySourceIfUnmodifiedSince",
          "location":"header",
          "locationName":"x-amz-copy-source-if-unmodified-since"
        },
        "Expires":{
          "shape":"Expires",
          "location":"header",
          "locationName":"Expires"
        },
        "GrantFullControl":{
          "shape":"GrantFullControl",
          "location":"header",
          "locationName":"x-amz-grant-full-control"
        },
        "GrantRead":{
          "shape":"GrantRead",
          "location":"header",
          "locationName":"x-amz-grant-read"
        },
        "GrantReadACP":{
          "shape":"GrantReadACP",
          "location":"header",
          "locationName":"x-amz-grant-read-acp"
        },
        "GrantWriteACP":{
          "shape":"GrantWriteACP",
          "location":"header",
          "locationName":"x-amz-grant-write-acp"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "Metadata":{
          "shape":"Metadata",
          "location":"headers",
          "locationName":"x-amz-meta-"
        },
        "MetadataDirective":{
          "shape":"MetadataDirective",
          "location":"header",
          "locationName":"x-amz-metadata-directive"
        },
        "TaggingDirective":{
          "shape":"TaggingDirective",
          "location":"header",
          "locationName":"x-amz-tagging-directive"
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "StorageClass":{
          "shape":"StorageClass",
          "location":"header",
          "locationName":"x-amz-storage-class"
        },
        "WebsiteRedirectLocation":{
          "shape":"WebsiteRedirectLocation",
          "location":"header",
          "locationName":"x-amz-website-redirect-location"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey":{
          "shape":"SSECustomerKey",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "CopySourceSSECustomerAlgorithm":{
          "shape":"CopySourceSSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-copy-source-server-side-encryption-customer-algorithm"
        },
        "CopySourceSSECustomerKey":{
          "shape":"CopySourceSSECustomerKey",
          "location":"header",
          "locationName":"x-amz-copy-source-server-side-encryption-customer-key"
        },
        "CopySourceSSECustomerKeyMD5":{
          "shape":"CopySourceSSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-copy-source-server-side-encryption-customer-key-MD5"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        },
        "Tagging":{
          "shape":"TaggingHeader",
          "location":"header",
          "locationName":"x-amz-tagging"
        }
      }
    },
    "CopyObjectResult":{
      "type":"structure",
      "members":{
        "ETag":{"shape":"ETag"},
        "LastModified":{"shape":"LastModified"}
      }
    },
    "CopyPartResult":{
      "type":"structure",
      "members":{
        "ETag":{"shape":"ETag"},
        "LastModified":{"shape":"LastModified"}
      }
    },
    "CopySource":{
      "type":"string",
      "pattern":"\\/.+\\/.+"
    },
    "CopySourceIfMatch":{"type":"string"},
    "CopySourceIfModifiedSince":{"type":"timestamp"},
    "CopySourceIfNoneMatch":{"type":"string"},
    "CopySourceIfUnmodifiedSince":{"type":"timestamp"},
    "CopySourceRange":{"type":"string"},
    "CopySourceSSECustomerAlgorithm":{"type":"string"},
    "CopySourceSSECustomerKey":{
      "type":"string",
      "sensitive":true
    },
    "CopySourceSSECustomerKeyMD5":{"type":"string"},
    "CopySourceVersionId":{"type":"string"},
    "CreateBucketConfiguration":{
      "type":"structure",
      "members":{
        "LocationConstraint":{"shape":"BucketLocationConstraint"}
      }
    },
    "CreateBucketOutput":{
      "type":"structure",
      "members":{
        "Location":{
          "shape":"Location",
          "location":"header",
          "locationName":"Location"
        }
      }
    },
    "CreateBucketRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "ACL":{
          "shape":"BucketCannedACL",
          "location":"header",
          "locationName":"x-amz-acl"
        },
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "CreateBucketConfiguration":{
          "shape":"CreateBucketConfiguration",
          "locationName":"CreateBucketConfiguration",
          "xmlNamespace":{"uri":"http://s3.amazonaws.com/doc/2006-03-01/"}
        },
        "GrantFullControl":{
          "shape":"GrantFullControl",
          "location":"header",
          "locationName":"x-amz-grant-full-control"
        },
        "GrantRead":{
          "shape":"GrantRead",
          "location":"header",
          "locationName":"x-amz-grant-read"
        },
        "GrantReadACP":{
          "shape":"GrantReadACP",
          "location":"header",
          "locationName":"x-amz-grant-read-acp"
        },
        "GrantWrite":{
          "shape":"GrantWrite",
          "location":"header",
          "locationName":"x-amz-grant-write"
        },
        "GrantWriteACP":{
          "shape":"GrantWriteACP",
          "location":"header",
          "locationName":"x-amz-grant-write-acp"
        }
      },
      "payload":"CreateBucketConfiguration"
    },
    "CreateMultipartUploadOutput":{
      "type":"structure",
      "members":{
        "AbortDate":{
          "shape":"AbortDate",
          "location":"header",
          "locationName":"x-amz-abort-date"
        },
        "AbortRuleId":{
          "shape":"AbortRuleId",
          "location":"header",
          "locationName":"x-amz-abort-rule-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "locationName":"Bucket"
        },
        "Key":{"shape":"ObjectKey"},
        "UploadId":{"shape":"MultipartUploadId"},
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "CreateMultipartUploadRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "ACL":{
          "shape":"ObjectCannedACL",
          "location":"header",
          "locationName":"x-amz-acl"
        },
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "CacheControl":{
          "shape":"CacheControl",
          "location":"header",
          "locationName":"Cache-Control"
        },
        "ContentDisposition":{
          "shape":"ContentDisposition",
          "location":"header",
          "locationName":"Content-Disposition"
        },
        "ContentEncoding":{
          "shape":"ContentEncoding",
          "location":"header",
          "locationName":"Content-Encoding"
        },
        "ContentLanguage":{
          "shape":"ContentLanguage",
          "location":"header",
          "locationName":"Content-Language"
        },
        "ContentType":{
          "shape":"ContentType",
          "location":"header",
          "locationName":"Content-Type"
        },
        "Expires":{
          "shape":"Expires",
          "location":"header",
          "locationName":"Expires"
        },
        "GrantFullControl":{
          "shape":"GrantFullControl",
          "location":"header",
          "locationName":"x-amz-grant-full-control"
        },
        "GrantRead":{
          "shape":"GrantRead",
          "location":"header",
          "locationName":"x-amz-grant-read"
        },
        "GrantReadACP":{
          "shape":"GrantReadACP",
          "location":"header",
          "locationName":"x-amz-grant-read-acp"
        },
        "GrantWriteACP":{
          "shape":"GrantWriteACP",
          "location":"header",
          "locationName":"x-amz-grant-write-acp"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "Metadata":{
          "shape":"Metadata",
          "location":"headers",
          "locationName":"x-amz-meta-"
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "StorageClass":{
          "shape":"StorageClass",
          "location":"header",
          "locationName":"x-amz-storage-class"
        },
        "WebsiteRedirectLocation":{
          "shape":"WebsiteRedirectLocation",
          "location":"header",
          "locationName":"x-amz-website-redirect-location"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey":{
          "shape":"SSECustomerKey",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        },
        "Tagging":{
          "shape":"TaggingHeader",
          "location":"header",
          "locationName":"x-amz-tagging"
        }
      }
    },
    "CreationDate":{"type":"timestamp"},
    "Date":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "Days":{"type":"integer"},
    "DaysAfterInitiation":{"type":"integer"},
    "Delete":{
      "type":"structure",
      "required":["Objects"],
      "members":{
        "Objects":{
          "shape":"ObjectIdentifierList",
          "locationName":"Object"
        },
        "Quiet":{"shape":"Quiet"}
      }
    },
    "DeleteBucketAnalyticsConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"AnalyticsId",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "DeleteBucketCorsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketInventoryConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"InventoryId",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "DeleteBucketLifecycleRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketMetricsConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"MetricsId",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "DeleteBucketPolicyRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketReplicationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketTaggingRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketWebsiteRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteMarker":{"type":"boolean"},
    "DeleteMarkerEntry":{
      "type":"structure",
      "members":{
        "Owner":{"shape":"Owner"},
        "Key":{"shape":"ObjectKey"},
        "VersionId":{"shape":"ObjectVersionId"},
        "IsLatest":{"shape":"IsLatest"},
        "LastModified":{"shape":"LastModified"}
      }
    },
    "DeleteMarkerVersionId":{"type":"string"},
    "DeleteMarkers":{
      "type":"list",
      "member":{"shape":"DeleteMarkerEntry"},
      "flattened":true
    },
    "DeleteObjectOutput":{
      "type":"structure",
      "members":{
        "DeleteMarker":{
          "shape":"DeleteMarker",
          "location":"header",
          "locationName":"x-amz-delete-marker"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"header",
          "locationName":"x-amz-version-id"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "DeleteObjectRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "MFA":{
          "shape":"MFA",
          "location":"header",
          "locationName":"x-amz-mfa"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"querystring",
          "locationName":"versionId"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "DeleteObjectTaggingOutput":{
      "type":"structure",
      "members":{
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"header",
          "locationName":"x-amz-version-id"
        }
      }
    },
    "DeleteObjectTaggingRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"querystring",
          "locationName":"versionId"
        }
      }
    },
    "DeleteObjectsOutput":{
      "type":"structure",
      "members":{
        "Deleted":{"shape":"DeletedObjects"},
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        },
        "Errors":{
          "shape":"Errors",
          "locationName":"Error"
        }
      }
    },
    "DeleteObjectsRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Delete"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Delete":{
          "shape":"Delete",
          "locationName":"Delete",
          "xmlNamespace":{"uri":"http://s3.amazonaws.com/doc/2006-03-01/"}
        },
        "MFA":{
          "shape":"MFA",
          "location":"header",
          "locationName":"x-amz-mfa"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      },
      "payload":"Delete"
    },
    "DeletedObject":{
      "type":"structure",
      "members":{
        "Key":{"shape":"ObjectKey"},
        "VersionId":{"shape":"ObjectVersionId"},
        "DeleteMarker":{"shape":"DeleteMarker"},
        "DeleteMarkerVersionId":{"shape":"DeleteMarkerVersionId"}
      }
    },
    "DeletedObjects":{
      "type":"list",
      "member":{"shape":"DeletedObject"},
      "flattened":true
    },
    "Delimiter":{"type":"string"},
    "Destination":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{"shape":"BucketName"},
        "StorageClass":{"shape":"StorageClass"}
      }
    },
    "DisplayName":{"type":"string"},
    "ETag":{"type":"string"},
    "EmailAddress":{"type":"string"},
    "EncodingType":{
      "type":"string",
      "enum":["url"]
    },
    "Error":{
      "type":"structure",
      "members":{
        "Key":{"shape":"ObjectKey"},
        "VersionId":{"shape":"ObjectVersionId"},
        "Code":{"shape":"Code"},
        "Message":{"shape":"Message"}
      }
    },
    "ErrorDocument":{
      "type":"structure",
      "required":["Key"],
      "members":{
        "Key":{"shape":"ObjectKey"}
      }
    },
    "Errors":{
      "type":"list",
      "member":{"shape":"Error"},
      "flattened":true
    },
    "Event":{
      "type":"string",
      "enum":[
        "s3:ReducedRedundancyLostObject",
        "s3:ObjectCreated:*",
        "s3:ObjectCreated:Put",
        "s3:ObjectCreated:Post",
        "s3:ObjectCreated:Copy",
        "s3:ObjectCreated:CompleteMultipartUpload",
        "s3:ObjectRemoved:*",
        "s3:ObjectRemoved:Delete",
        "s3:ObjectRemoved:DeleteMarkerCreated"
      ]
    },
    "EventList":{
      "type":"list",
      "member":{"shape":"Event"},
      "flattened":true
    },
    "Expiration":{"type":"string"},
    "ExpirationStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Disabled"
      ]
    },
    "ExpiredObjectDeleteMarker":{"type":"boolean"},
    "Expires":{"type":"timestamp"},
    "ExposeHeader":{"type":"string"},
    "ExposeHeaders":{
      "type":"list",
      "member":{"shape":"ExposeHeader"},
      "flattened":true
    },
    "FetchOwner":{"type":"boolean"},
    "FilterRule":{
      "type":"structure",
      "members":{
        "Name":{"shape":"FilterRuleName"},
        "Value":{"shape":"FilterRuleValue"}
      }
    },
    "FilterRuleList":{
      "type":"list",
      "member":{"shape":"FilterRule"},
      "flattened":true
    },
    "FilterRuleName":{
      "type":"string",
      "enum":[
        "prefix",
        "suffix"
      ]
    },
    "FilterRuleValue":{"type":"string"},
    "GetBucketAccelerateConfigurationOutput":{
      "type":"structure",
      "members":{
        "Status":{"shape":"BucketAccelerateStatus"}
      }
    },
    "GetBucketAccelerateConfigurationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketAclOutput":{
      "type":"structure",
      "members":{
        "Owner":{"shape":"Owner"},
        "Grants":{
          "shape":"Grants",
          "locationName":"AccessControlList"
        }
      }
    },
    "GetBucketAclRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketAnalyticsConfigurationOutput":{
      "type":"structure",
      "members":{
        "AnalyticsConfiguration":{"shape":"AnalyticsConfiguration"}
      },
      "payload":"AnalyticsConfiguration"
    },
    "GetBucketAnalyticsConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"AnalyticsId",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "GetBucketCorsOutput":{
      "type":"structure",
      "members":{
        "CORSRules":{
          "shape":"CORSRules",
          "locationName":"CORSRule"
        }
      }
    },
    "GetBucketCorsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketInventoryConfigurationOutput":{
      "type":"structure",
      "members":{
        "InventoryConfiguration":{"shape":"InventoryConfiguration"}
      },
      "payload":"InventoryConfiguration"
    },
    "GetBucketInventoryConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"InventoryId",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "GetBucketLifecycleConfigurationOutput":{
      "type":"structure",
      "members":{
        "Rules":{
          "shape":"LifecycleRules",
          "locationName":"Rule"
        }
      }
    },
    "GetBucketLifecycleConfigurationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketLifecycleOutput":{
      "type":"structure",
      "members":{
        "Rules":{
          "shape":"Rules",
          "locationName":"Rule"
        }
      }
    },
    "GetBucketLifecycleRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketLocationOutput":{
      "type":"structure",
      "members":{
        "LocationConstraint":{"shape":"BucketLocationConstraint"}
      }
    },
    "GetBucketLocationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketLoggingOutput":{
      "type":"structure",
      "members":{
        "LoggingEnabled":{"shape":"LoggingEnabled"}
      }
    },
    "GetBucketLoggingRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketMetricsConfigurationOutput":{
      "type":"structure",
      "members":{
        "MetricsConfiguration":{"shape":"MetricsConfiguration"}
      },
      "payload":"MetricsConfiguration"
    },
    "GetBucketMetricsConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"MetricsId",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "GetBucketNotificationConfigurationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketPolicyOutput":{
      "type":"structure",
      "members":{
        "Policy":{"shape":"Policy"}
      },
      "payload":"Policy"
    },
    "GetBucketPolicyRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketReplicationOutput":{
      "type":"structure",
      "members":{
        "ReplicationConfiguration":{"shape":"ReplicationConfiguration"}
      },
      "payload":"ReplicationConfiguration"
    },
    "GetBucketReplicationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketRequestPaymentOutput":{
      "type":"structure",
      "members":{
        "Payer":{"shape":"Payer"}
      }
    },
    "GetBucketRequestPaymentRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketTaggingOutput":{
      "type":"structure",
      "required":["TagSet"],
      "members":{
        "TagSet":{"shape":"TagSet"}
      }
    },
    "GetBucketTaggingRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketVersioningOutput":{
      "type":"structure",
      "members":{
        "Status":{"shape":"BucketVersioningStatus"},
        "MFADelete":{
          "shape":"MFADeleteStatus",
          "locationName":"MfaDelete"
        }
      }
    },
    "GetBucketVersioningRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketWebsiteOutput":{
      "type":"structure",
      "members":{
        "RedirectAllRequestsTo":{"shape":"RedirectAllRequestsTo"},
        "IndexDocument":{"shape":"IndexDocument"},
        "ErrorDocument":{"shape":"ErrorDocument"},
        "RoutingRules":{"shape":"RoutingRules"}
      }
    },
    "GetBucketWebsiteRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetObjectAclOutput":{
      "type":"structure",
      "members":{
        "Owner":{"shape":"Owner"},
        "Grants":{
          "shape":"Grants",
          "locationName":"AccessControlList"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "GetObjectAclRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"querystring",
          "locationName":"versionId"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "GetObjectOutput":{
      "type":"structure",
      "members":{
        "Body":{
          "shape":"Body",
          "streaming":true
        },
        "DeleteMarker":{
          "shape":"DeleteMarker",
          "location":"header",
          "locationName":"x-amz-delete-marker"
        },
        "AcceptRanges":{
          "shape":"AcceptRanges",
          "location":"header",
          "locationName":"accept-ranges"
        },
        "Expiration":{
          "shape":"Expiration",
          "location":"header",
          "locationName":"x-amz-expiration"
        },
        "Restore":{
          "shape":"Restore",
          "location":"header",
          "locationName":"x-amz-restore"
        },
        "LastModified":{
          "shape":"LastModified",
          "location":"header",
          "locationName":"Last-Modified"
        },
        "ContentLength":{
          "shape":"ContentLength",
          "location":"header",
          "locationName":"Content-Length"
        },
        "ETag":{
          "shape":"ETag",
          "location":"header",
          "locationName":"ETag"
        },
        "MissingMeta":{
          "shape":"MissingMeta",
          "location":"header",
          "locationName":"x-amz-missing-meta"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"header",
          "locationName":"x-amz-version-id"
        },
        "CacheControl":{
          "shape":"CacheControl",
          "location":"header",
          "locationName":"Cache-Control"
        },
        "ContentDisposition":{
          "shape":"ContentDisposition",
          "location":"header",
          "locationName":"Content-Disposition"
        },
        "ContentEncoding":{
          "shape":"ContentEncoding",
          "location":"header",
          "locationName":"Content-Encoding"
        },
        "ContentLanguage":{
          "shape":"ContentLanguage",
          "location":"header",
          "locationName":"Content-Language"
        },
        "ContentRange":{
          "shape":"ContentRange",
          "location":"header",
          "locationName":"Content-Range"
        },
        "ContentType":{
          "shape":"ContentType",
          "location":"header",
          "locationName":"Content-Type"
        },
        "Expires":{
          "shape":"Expires",
          "location":"header",
          "locationName":"Expires"
        },
        "WebsiteRedirectLocation":{
          "shape":"WebsiteRedirectLocation",
          "location":"header",
          "locationName":"x-amz-website-redirect-location"
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "Metadata":{
          "shape":"Metadata",
          "location":"headers",
          "locationName":"x-amz-meta-"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "StorageClass":{
          "shape":"StorageClass",
          "location":"header",
          "locationName":"x-amz-storage-class"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        },
        "ReplicationStatus":{
          "shape":"ReplicationStatus",
          "location":"header",
          "locationName":"x-amz-replication-status"
        },
        "PartsCount":{
          "shape":"PartsCount",
          "location":"header",
          "locationName":"x-amz-mp-parts-count"
        },
        "TagCount":{
          "shape":"TagCount",
          "location":"header",
          "locationName":"x-amz-tagging-count"
        }
      },
      "payload":"Body"
    },
    "GetObjectRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "IfMatch":{
          "shape":"IfMatch",
          "location":"header",
          "locationName":"If-Match"
        },
        "IfModifiedSince":{
          "shape":"IfModifiedSince",
          "location":"header",
          "locationName":"If-Modified-Since"
        },
        "IfNoneMatch":{
          "shape":"IfNoneMatch",
          "location":"header",
          "locationName":"If-None-Match"
        },
        "IfUnmodifiedSince":{
          "shape":"IfUnmodifiedSince",
          "location":"header",
          "locationName":"If-Unmodified-Since"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "Range":{
          "shape":"Range",
          "location":"header",
          "locationName":"Range"
        },
        "ResponseCacheControl":{
          "shape":"ResponseCacheControl",
          "location":"querystring",
          "locationName":"response-cache-control"
        },
        "ResponseContentDisposition":{
          "shape":"ResponseContentDisposition",
          "location":"querystring",
          "locationName":"response-content-disposition"
        },
        "ResponseContentEncoding":{
          "shape":"ResponseContentEncoding",
          "location":"querystring",
          "locationName":"response-content-encoding"
        },
        "ResponseContentLanguage":{
          "shape":"ResponseContentLanguage",
          "location":"querystring",
          "locationName":"response-content-language"
        },
        "ResponseContentType":{
          "shape":"ResponseContentType",
          "location":"querystring",
          "locationName":"response-content-type"
        },
        "ResponseExpires":{
          "shape":"ResponseExpires",
          "location":"querystring",
          "locationName":"response-expires"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"querystring",
          "locationName":"versionId"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey":{
          "shape":"SSECustomerKey",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        },
        "PartNumber":{
          "shape":"PartNumber",
          "location":"querystring",
          "locationName":"partNumber"
        }
      }
    },
    "GetObjectTaggingOutput":{
      "type":"structure",
      "required":["TagSet"],
      "members":{
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"header",
          "locationName":"x-amz-version-id"
        },
        "TagSet":{"shape":"TagSet"}
      }
    },
    "GetObjectTaggingRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"querystring",
          "locationName":"versionId"
        }
      }
    },
    "GetObjectTorrentOutput":{
      "type":"structure",
      "members":{
        "Body":{
          "shape":"Body",
          "streaming":true
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      },
      "payload":"Body"
    },
    "GetObjectTorrentRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "GlacierJobParameters":{
      "type":"structure",
      "required":["Tier"],
      "members":{
        "Tier":{"shape":"Tier"}
      }
    },
    "Grant":{
      "type":"structure",
      "members":{
        "Grantee":{"shape":"Grantee"},
        "Permission":{"shape":"Permission"}
      }
    },
    "GrantFullControl":{"type":"string"},
    "GrantRead":{"type":"string"},
    "GrantReadACP":{"type":"string"},
    "GrantWrite":{"type":"string"},
    "GrantWriteACP":{"type":"string"},
    "Grantee":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "DisplayName":{"shape":"DisplayName"},
        "EmailAddress":{"shape":"EmailAddress"},
        "ID":{"shape":"ID"},
        "Type":{
          "shape":"Type",
          "locationName":"xsi:type",
          "xmlAttribute":true
        },
        "URI":{"shape":"URI"}
      },
      "xmlNamespace":{
        "prefix":"xsi",
        "uri":"http://www.w3.org/2001/XMLSchema-instance"
      }
    },
    "Grants":{
      "type":"list",
      "member":{
        "shape":"Grant",
        "locationName":"Grant"
      }
    },
    "HeadBucketRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "HeadObjectOutput":{
      "type":"structure",
      "members":{
        "DeleteMarker":{
          "shape":"DeleteMarker",
          "location":"header",
          "locationName":"x-amz-delete-marker"
        },
        "AcceptRanges":{
          "shape":"AcceptRanges",
          "location":"header",
          "locationName":"accept-ranges"
        },
        "Expiration":{
          "shape":"Expiration",
          "location":"header",
          "locationName":"x-amz-expiration"
        },
        "Restore":{
          "shape":"Restore",
          "location":"header",
          "locationName":"x-amz-restore"
        },
        "LastModified":{
          "shape":"LastModified",
          "location":"header",
          "locationName":"Last-Modified"
        },
        "ContentLength":{
          "shape":"ContentLength",
          "location":"header",
          "locationName":"Content-Length"
        },
        "ETag":{
          "shape":"ETag",
          "location":"header",
          "locationName":"ETag"
        },
        "MissingMeta":{
          "shape":"MissingMeta",
          "location":"header",
          "locationName":"x-amz-missing-meta"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"header",
          "locationName":"x-amz-version-id"
        },
        "CacheControl":{
          "shape":"CacheControl",
          "location":"header",
          "locationName":"Cache-Control"
        },
        "ContentDisposition":{
          "shape":"ContentDisposition",
          "location":"header",
          "locationName":"Content-Disposition"
        },
        "ContentEncoding":{
          "shape":"ContentEncoding",
          "location":"header",
          "locationName":"Content-Encoding"
        },
        "ContentLanguage":{
          "shape":"ContentLanguage",
          "location":"header",
          "locationName":"Content-Language"
        },
        "ContentType":{
          "shape":"ContentType",
          "location":"header",
          "locationName":"Content-Type"
        },
        "Expires":{
          "shape":"Expires",
          "location":"header",
          "locationName":"Expires"
        },
        "WebsiteRedirectLocation":{
          "shape":"WebsiteRedirectLocation",
          "location":"header",
          "locationName":"x-amz-website-redirect-location"
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "Metadata":{
          "shape":"Metadata",
          "location":"headers",
          "locationName":"x-amz-meta-"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "StorageClass":{
          "shape":"StorageClass",
          "location":"header",
          "locationName":"x-amz-storage-class"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        },
        "ReplicationStatus":{
          "shape":"ReplicationStatus",
          "location":"header",
          "locationName":"x-amz-replication-status"
        },
        "PartsCount":{
          "shape":"PartsCount",
          "location":"header",
          "locationName":"x-amz-mp-parts-count"
        }
      }
    },
    "HeadObjectRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "IfMatch":{
          "shape":"IfMatch",
          "location":"header",
          "locationName":"If-Match"
        },
        "IfModifiedSince":{
          "shape":"IfModifiedSince",
          "location":"header",
          "locationName":"If-Modified-Since"
        },
        "IfNoneMatch":{
          "shape":"IfNoneMatch",
          "location":"header",
          "locationName":"If-None-Match"
        },
        "IfUnmodifiedSince":{
          "shape":"IfUnmodifiedSince",
          "location":"header",
          "locationName":"If-Unmodified-Since"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "Range":{
          "shape":"Range",
          "location":"header",
          "locationName":"Range"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "location":"querystring",
          "locationName":"versionId"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey":{
          "shape":"SSECustomerKey",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        },
        "PartNumber":{
          "shape":"PartNumber",
          "location":"querystring",
          "locationName":"partNumber"
        }
      }
    },
    "HostName":{"type":"string"},
    "HttpErrorCodeReturnedEquals":{"type":"string"},
    "HttpRedirectCode":{"type":"string"},
    "ID":{"type":"string"},
    "IfMatch":{"type":"string"},
    "IfModifiedSince":{"type":"timestamp"},
    "IfNoneMatch":{"type":"string"},
    "IfUnmodifiedSince":{"type":"timestamp"},
    "IndexDocument":{
      "type":"structure",
      "required":["Suffix"],
      "members":{
        "Suffix":{"shape":"Suffix"}
      }
    },
    "Initiated":{"type":"timestamp"},
    "Initiator":{
      "type":"structure",
      "members":{
        "ID":{"shape":"ID"},
        "DisplayName":{"shape":"DisplayName"}
      }
    },
    "InventoryConfiguration":{
      "type":"structure",
      "required":[
        "Destination",
        "IsEnabled",
        "Id",
        "IncludedObjectVersions",
        "Schedule"
      ],
      "members":{
        "Destination":{"shape":"InventoryDestination"},
        "IsEnabled":{"shape":"IsEnabled"},
        "Filter":{"shape":"InventoryFilter"},
        "Id":{"shape":"InventoryId"},
        "IncludedObjectVersions":{"shape":"InventoryIncludedObjectVersions"},
        "OptionalFields":{"shape":"InventoryOptionalFields"},
        "Schedule":{"shape":"InventorySchedule"}
      }
    },
    "InventoryConfigurationList":{
      "type":"list",
      "member":{"shape":"InventoryConfiguration"},
      "flattened":true
    },
    "InventoryDestination":{
      "type":"structure",
      "required":["S3BucketDestination"],
      "members":{
        "S3BucketDestination":{"shape":"InventoryS3BucketDestination"}
      }
    },
    "InventoryFilter":{
      "type":"structure",
      "required":["Prefix"],
      "members":{
        "Prefix":{"shape":"Prefix"}
      }
    },
    "InventoryFormat":{
      "type":"string",
      "enum":["CSV"]
    },
    "InventoryFrequency":{
      "type":"string",
      "enum":[
        "Daily",
        "Weekly"
      ]
    },
    "InventoryId":{"type":"string"},
    "InventoryIncludedObjectVersions":{
      "type":"string",
      "enum":[
        "All",
        "Current"
      ]
    },
    "InventoryOptionalField":{
      "type":"string",
      "enum":[
        "Size",
        "LastModifiedDate",
        "StorageClass",
        "ETag",
        "IsMultipartUploaded",
        "ReplicationStatus"
      ]
    },
    "InventoryOptionalFields":{
      "type":"list",
      "member":{
        "shape":"InventoryOptionalField",
        "locationName":"Field"
      }
    },
    "InventoryS3BucketDestination":{
      "type":"structure",
      "required":[
        "Bucket",
        "Format"
      ],
      "members":{
        "AccountId":{"shape":"AccountId"},
        "Bucket":{"shape":"BucketName"},
        "Format":{"shape":"InventoryFormat"},
        "Prefix":{"shape":"Prefix"}
      }
    },
    "InventorySchedule":{
      "type":"structure",
      "required":["Frequency"],
      "members":{
        "Frequency":{"shape":"InventoryFrequency"}
      }
    },
    "IsEnabled":{"type":"boolean"},
    "IsLatest":{"type":"boolean"},
    "IsTruncated":{"type":"boolean"},
    "KeyCount":{"type":"integer"},
    "KeyMarker":{"type":"string"},
    "KeyPrefixEquals":{"type":"string"},
    "LambdaFunctionArn":{"type":"string"},
    "LambdaFunctionConfiguration":{
      "type":"structure",
      "required":[
        "LambdaFunctionArn",
        "Events"
      ],
      "members":{
        "Id":{"shape":"NotificationId"},
        "LambdaFunctionArn":{
          "shape":"LambdaFunctionArn",
          "locationName":"CloudFunction"
        },
        "Events":{
          "shape":"EventList",
          "locationName":"Event"
        },
        "Filter":{"shape":"NotificationConfigurationFilter"}
      }
    },
    "LambdaFunctionConfigurationList":{
      "type":"list",
      "member":{"shape":"LambdaFunctionConfiguration"},
      "flattened":true
    },
    "LastModified":{"type":"timestamp"},
    "LifecycleConfiguration":{
      "type":"structure",
      "required":["Rules"],
      "members":{
        "Rules":{
          "shape":"Rules",
          "locationName":"Rule"
        }
      }
    },
    "LifecycleExpiration":{
      "type":"structure",
      "members":{
        "Date":{"shape":"Date"},
        "Days":{"shape":"Days"},
        "ExpiredObjectDeleteMarker":{"shape":"ExpiredObjectDeleteMarker"}
      }
    },
    "LifecycleRule":{
      "type":"structure",
      "required":["Status"],
      "members":{
        "Expiration":{"shape":"LifecycleExpiration"},
        "ID":{"shape":"ID"},
        "Prefix":{
          "shape":"Prefix",
          "deprecated":true
        },
        "Filter":{"shape":"LifecycleRuleFilter"},
        "Status":{"shape":"ExpirationStatus"},
        "Transitions":{
          "shape":"TransitionList",
          "locationName":"Transition"
        },
        "NoncurrentVersionTransitions":{
          "shape":"NoncurrentVersionTransitionList",
          "locationName":"NoncurrentVersionTransition"
        },
        "NoncurrentVersionExpiration":{"shape":"NoncurrentVersionExpiration"},
        "AbortIncompleteMultipartUpload":{"shape":"AbortIncompleteMultipartUpload"}
      }
    },
    "LifecycleRuleAndOperator":{
      "type":"structure",
      "members":{
        "Prefix":{"shape":"Prefix"},
        "Tags":{
          "shape":"TagSet",
          "flattened":true,
          "locationName":"Tag"
        }
      }
    },
    "LifecycleRuleFilter":{
      "type":"structure",
      "members":{
        "Prefix":{"shape":"Prefix"},
        "Tag":{"shape":"Tag"},
        "And":{"shape":"LifecycleRuleAndOperator"}
      }
    },
    "LifecycleRules":{
      "type":"list",
      "member":{"shape":"LifecycleRule"},
      "flattened":true
    },
    "ListBucketAnalyticsConfigurationsOutput":{
      "type":"structure",
      "members":{
        "IsTruncated":{"shape":"IsTruncated"},
        "ContinuationToken":{"shape":"Token"},
        "NextContinuationToken":{"shape":"NextToken"},
        "AnalyticsConfigurationList":{
          "shape":"AnalyticsConfigurationList",
          "locationName":"AnalyticsConfiguration"
        }
      }
    },
    "ListBucketAnalyticsConfigurationsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "ContinuationToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"continuation-token"
        }
      }
    },
    "ListBucketInventoryConfigurationsOutput":{
      "type":"structure",
      "members":{
        "ContinuationToken":{"shape":"Token"},
        "InventoryConfigurationList":{
          "shape":"InventoryConfigurationList",
          "locationName":"InventoryConfiguration"
        },
        "IsTruncated":{"shape":"IsTruncated"},
        "NextContinuationToken":{"shape":"NextToken"}
      }
    },
    "ListBucketInventoryConfigurationsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "ContinuationToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"continuation-token"
        }
      }
    },
    "ListBucketMetricsConfigurationsOutput":{
      "type":"structure",
      "members":{
        "IsTruncated":{"shape":"IsTruncated"},
        "ContinuationToken":{"shape":"Token"},
        "NextContinuationToken":{"shape":"NextToken"},
        "MetricsConfigurationList":{
          "shape":"MetricsConfigurationList",
          "locationName":"MetricsConfiguration"
        }
      }
    },
    "ListBucketMetricsConfigurationsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "ContinuationToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"continuation-token"
        }
      }
    },
    "ListBucketsOutput":{
      "type":"structure",
      "members":{
        "Buckets":{"shape":"Buckets"},
        "Owner":{"shape":"Owner"}
      }
    },
    "ListMultipartUploadsOutput":{
      "type":"structure",
      "members":{
        "Bucket":{"shape":"BucketName"},
        "KeyMarker":{"shape":"KeyMarker"},
        "UploadIdMarker":{"shape":"UploadIdMarker"},
        "NextKeyMarker":{"shape":"NextKeyMarker"},
        "Prefix":{"shape":"Prefix"},
        "Delimiter":{"shape":"Delimiter"},
        "NextUploadIdMarker":{"shape":"NextUploadIdMarker"},
        "MaxUploads":{"shape":"MaxUploads"},
        "IsTruncated":{"shape":"IsTruncated"},
        "Uploads":{
          "shape":"MultipartUploadList",
          "locationName":"Upload"
        },
        "CommonPrefixes":{"shape":"CommonPrefixList"},
        "EncodingType":{"shape":"EncodingType"}
      }
    },
    "ListMultipartUploadsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Delimiter":{
          "shape":"Delimiter",
          "location":"querystring",
          "locationName":"delimiter"
        },
        "EncodingType":{
          "shape":"EncodingType",
          "location":"querystring",
          "locationName":"encoding-type"
        },
        "KeyMarker":{
          "shape":"KeyMarker",
          "location":"querystring",
          "locationName":"key-marker"
        },
        "MaxUploads":{
          "shape":"MaxUploads",
          "location":"querystring",
          "locationName":"max-uploads"
        },
        "Prefix":{
          "shape":"Prefix",
          "location":"querystring",
          "locationName":"prefix"
        },
        "UploadIdMarker":{
          "shape":"UploadIdMarker",
          "location":"querystring",
          "locationName":"upload-id-marker"
        }
      }
    },
    "ListObjectVersionsOutput":{
      "type":"structure",
      "members":{
        "IsTruncated":{"shape":"IsTruncated"},
        "KeyMarker":{"shape":"KeyMarker"},
        "VersionIdMarker":{"shape":"VersionIdMarker"},
        "NextKeyMarker":{"shape":"NextKeyMarker"},
        "NextVersionIdMarker":{"shape":"NextVersionIdMarker"},
        "Versions":{
          "shape":"ObjectVersionList",
          "locationName":"Version"
        },
        "DeleteMarkers":{
          "shape":"DeleteMarkers",
          "locationName":"DeleteMarker"
        },
        "Name":{"shape":"BucketName"},
        "Prefix":{"shape":"Prefix"},
        "Delimiter":{"shape":"Delimiter"},
        "MaxKeys":{"shape":"MaxKeys"},
        "CommonPrefixes":{"shape":"CommonPrefixList"},
        "EncodingType":{"shape":"EncodingType"}
      }
    },
    "ListObjectVersionsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Delimiter":{
          "shape":"Delimiter",
          "location":"querystring",
          "locationName":"delimiter"
        },
        "EncodingType":{
          "shape":"EncodingType",
          "location":"querystring",
          "locationName":"encoding-type"
        },
        "KeyMarker":{
          "shape":"KeyMarker",
          "location":"querystring",
          "locationName":"key-marker"
        },
        "MaxKeys":{
          "shape":"MaxKeys",
          "location":"querystring",
          "locationName":"max-keys"
        },
        "Prefix":{
          "shape":"Prefix",
          "location":"querystring",
          "locationName":"prefix"
        },
        "VersionIdMarker":{
          "shape":"VersionIdMarker",
          "location":"querystring",
          "locationName":"version-id-marker"
        }
      }
    },
    "ListObjectsOutput":{
      "type":"structure",
      "members":{
        "IsTruncated":{"shape":"IsTruncated"},
        "Marker":{"shape":"Marker"},
        "NextMarker":{"shape":"NextMarker"},
        "Contents":{"shape":"ObjectList"},
        "Name":{"shape":"BucketName"},
        "Prefix":{"shape":"Prefix"},
        "Delimiter":{"shape":"Delimiter"},
        "MaxKeys":{"shape":"MaxKeys"},
        "CommonPrefixes":{"shape":"CommonPrefixList"},
        "EncodingType":{"shape":"EncodingType"}
      }
    },
    "ListObjectsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Delimiter":{
          "shape":"Delimiter",
          "location":"querystring",
          "locationName":"delimiter"
        },
        "EncodingType":{
          "shape":"EncodingType",
          "location":"querystring",
          "locationName":"encoding-type"
        },
        "Marker":{
          "shape":"Marker",
          "location":"querystring",
          "locationName":"marker"
        },
        "MaxKeys":{
          "shape":"MaxKeys",
          "location":"querystring",
          "locationName":"max-keys"
        },
        "Prefix":{
          "shape":"Prefix",
          "location":"querystring",
          "locationName":"prefix"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "ListObjectsV2Output":{
      "type":"structure",
      "members":{
        "IsTruncated":{"shape":"IsTruncated"},
        "Contents":{"shape":"ObjectList"},
        "Name":{"shape":"BucketName"},
        "Prefix":{"shape":"Prefix"},
        "Delimiter":{"shape":"Delimiter"},
        "MaxKeys":{"shape":"MaxKeys"},
        "CommonPrefixes":{"shape":"CommonPrefixList"},
        "EncodingType":{"shape":"EncodingType"},
        "KeyCount":{"shape":"KeyCount"},
        "ContinuationToken":{"shape":"Token"},
        "NextContinuationToken":{"shape":"NextToken"},
        "StartAfter":{"shape":"StartAfter"}
      }
    },
    "ListObjectsV2Request":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Delimiter":{
          "shape":"Delimiter",
          "location":"querystring",
          "locationName":"delimiter"
        },
        "EncodingType":{
          "shape":"EncodingType",
          "location":"querystring",
          "locationName":"encoding-type"
        },
        "MaxKeys":{
          "shape":"MaxKeys",
          "location":"querystring",
          "locationName":"max-keys"
        },
        "Prefix":{
          "shape":"Prefix",
          "location":"querystring",
[...]
