{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-10-31",
    "endpointPrefix":"rds",
    "protocol":"query",
    "serviceAbbreviation":"Amazon RDS",
    "serviceFullName":"Amazon Relational Database Service",
    "signatureVersion":"v4",
    "uid":"rds-2014-10-31",
    "xmlNamespace":"http://rds.amazonaws.com/doc/2014-10-31/"
  },
  "operations":{
    "AddRoleToDBCluster":{
      "name":"AddRoleToDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRoleToDBClusterMessage"},
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterRoleAlreadyExistsFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterRoleQuotaExceededFault"}
      ]
    },
    "AddSourceIdentifierToSubscription":{
      "name":"AddSourceIdentifierToSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddSourceIdentifierToSubscriptionMessage"},
      "output":{
        "shape":"AddSourceIdentifierToSubscriptionResult",
        "resultWrapper":"AddSourceIdentifierToSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ]
    },
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceMessage"},
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"}
      ]
    },
    "ApplyPendingMaintenanceAction":{
      "name":"ApplyPendingMaintenanceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ApplyPendingMaintenanceActionMessage"},
      "output":{
        "shape":"ApplyPendingMaintenanceActionResult",
        "resultWrapper":"ApplyPendingMaintenanceActionResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ]
    },
    "AuthorizeDBSecurityGroupIngress":{
      "name":"AuthorizeDBSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeDBSecurityGroupIngressMessage"},
      "output":{
        "shape":"AuthorizeDBSecurityGroupIngressResult",
        "resultWrapper":"AuthorizeDBSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"AuthorizationAlreadyExistsFault"},
        {"shape":"AuthorizationQuotaExceededFault"}
      ]
    },
    "CopyDBClusterParameterGroup":{
      "name":"CopyDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBClusterParameterGroupMessage"},
      "output":{
        "shape":"CopyDBClusterParameterGroupResult",
        "resultWrapper":"CopyDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ]
    },
    "CopyDBClusterSnapshot":{
      "name":"CopyDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBClusterSnapshotMessage"},
      "output":{
        "shape":"CopyDBClusterSnapshotResult",
        "resultWrapper":"CopyDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "CopyDBParameterGroup":{
      "name":"CopyDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBParameterGroupMessage"},
      "output":{
        "shape":"CopyDBParameterGroupResult",
        "resultWrapper":"CopyDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"},
        {"shape":"DBParameterGroupQuotaExceededFault"}
      ]
    },
    "CopyDBSnapshot":{
      "name":"CopyDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBSnapshotMessage"},
      "output":{
        "shape":"CopyDBSnapshotResult",
        "resultWrapper":"CopyDBSnapshotResult"
      },
      "errors":[
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "CopyOptionGroup":{
      "name":"CopyOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyOptionGroupMessage"},
      "output":{
        "shape":"CopyOptionGroupResult",
        "resultWrapper":"CopyOptionGroupResult"
      },
      "errors":[
        {"shape":"OptionGroupAlreadyExistsFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"OptionGroupQuotaExceededFault"}
      ]
    },
    "CreateDBCluster":{
      "name":"CreateDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterMessage"},
      "output":{
        "shape":"CreateDBClusterResult",
        "resultWrapper":"CreateDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"}
      ]
    },
    "CreateDBClusterParameterGroup":{
      "name":"CreateDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterParameterGroupMessage"},
      "output":{
        "shape":"CreateDBClusterParameterGroupResult",
        "resultWrapper":"CreateDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ]
    },
    "CreateDBClusterSnapshot":{
      "name":"CreateDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterSnapshotMessage"},
      "output":{
        "shape":"CreateDBClusterSnapshotResult",
        "resultWrapper":"CreateDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"}
      ]
    },
    "CreateDBInstance":{
      "name":"CreateDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBInstanceMessage"},
      "output":{
        "shape":"CreateDBInstanceResult",
        "resultWrapper":"CreateDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DomainNotFoundFault"}
      ]
    },
    "CreateDBInstanceReadReplica":{
      "name":"CreateDBInstanceReadReplica",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBInstanceReadReplicaMessage"},
      "output":{
        "shape":"CreateDBInstanceReadReplicaResult",
        "resultWrapper":"CreateDBInstanceReadReplicaResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"DBSubnetGroupNotAllowedFault"},
        {"shape":"InvalidDBSubnetGroupFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "CreateDBParameterGroup":{
      "name":"CreateDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBParameterGroupMessage"},
      "output":{
        "shape":"CreateDBParameterGroupResult",
        "resultWrapper":"CreateDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ]
    },
    "CreateDBSecurityGroup":{
      "name":"CreateDBSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBSecurityGroupMessage"},
      "output":{
        "shape":"CreateDBSecurityGroupResult",
        "resultWrapper":"CreateDBSecurityGroupResult"
      },
      "errors":[
        {"shape":"DBSecurityGroupAlreadyExistsFault"},
        {"shape":"DBSecurityGroupQuotaExceededFault"},
        {"shape":"DBSecurityGroupNotSupportedFault"}
      ]
    },
    "CreateDBSnapshot":{
      "name":"CreateDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBSnapshotMessage"},
      "output":{
        "shape":"CreateDBSnapshotResult",
        "resultWrapper":"CreateDBSnapshotResult"
      },
      "errors":[
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"SnapshotQuotaExceededFault"}
      ]
    },
    "CreateDBSubnetGroup":{
      "name":"CreateDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBSubnetGroupMessage"},
      "output":{
        "shape":"CreateDBSubnetGroupResult",
        "resultWrapper":"CreateDBSubnetGroupResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupAlreadyExistsFault"},
        {"shape":"DBSubnetGroupQuotaExceededFault"},
        {"shape":"DBSubnetQuotaExceededFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ]
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSubscriptionMessage"},
      "output":{
        "shape":"CreateEventSubscriptionResult",
        "resultWrapper":"CreateEventSubscriptionResult"
      },
      "errors":[
        {"shape":"EventSubscriptionQuotaExceededFault"},
        {"shape":"SubscriptionAlreadyExistFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ]
    },
    "CreateOptionGroup":{
      "name":"CreateOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOptionGroupMessage"},
      "output":{
        "shape":"CreateOptionGroupResult",
        "resultWrapper":"CreateOptionGroupResult"
      },
      "errors":[
        {"shape":"OptionGroupAlreadyExistsFault"},
        {"shape":"OptionGroupQuotaExceededFault"}
      ]
    },
    "DeleteDBCluster":{
      "name":"DeleteDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterMessage"},
      "output":{
        "shape":"DeleteDBClusterResult",
        "resultWrapper":"DeleteDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"}
      ]
    },
    "DeleteDBClusterParameterGroup":{
      "name":"DeleteDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DeleteDBClusterSnapshot":{
      "name":"DeleteDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterSnapshotMessage"},
      "output":{
        "shape":"DeleteDBClusterSnapshotResult",
        "resultWrapper":"DeleteDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ]
    },
    "DeleteDBInstance":{
      "name":"DeleteDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBInstanceMessage"},
      "output":{
        "shape":"DeleteDBInstanceResult",
        "resultWrapper":"DeleteDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    },
    "DeleteDBParameterGroup":{
      "name":"DeleteDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DeleteDBSecurityGroup":{
      "name":"DeleteDBSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBSecurityGroupMessage"},
      "errors":[
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"DBSecurityGroupNotFoundFault"}
      ]
    },
    "DeleteDBSnapshot":{
      "name":"DeleteDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBSnapshotMessage"},
      "output":{
        "shape":"DeleteDBSnapshotResult",
        "resultWrapper":"DeleteDBSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"DBSnapshotNotFoundFault"}
      ]
    },
    "DeleteDBSubnetGroup":{
      "name":"DeleteDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBSubnetGroupMessage"},
      "errors":[
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidDBSubnetStateFault"},
        {"shape":"DBSubnetGroupNotFoundFault"}
      ]
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSubscriptionMessage"},
      "output":{
        "shape":"DeleteEventSubscriptionResult",
        "resultWrapper":"DeleteEventSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"InvalidEventSubscriptionStateFault"}
      ]
    },
    "DeleteOptionGroup":{
      "name":"DeleteOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOptionGroupMessage"},
      "errors":[
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"InvalidOptionGroupStateFault"}
      ]
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesMessage"},
      "output":{
        "shape":"AccountAttributesMessage",
        "resultWrapper":"DescribeAccountAttributesResult"
      }
    },
    "DescribeCertificates":{
      "name":"DescribeCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCertificatesMessage"},
      "output":{
        "shape":"CertificateMessage",
        "resultWrapper":"DescribeCertificatesResult"
      },
      "errors":[
        {"shape":"CertificateNotFoundFault"}
      ]
    },
    "DescribeDBClusterParameterGroups":{
      "name":"DescribeDBClusterParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterParameterGroupsMessage"},
      "output":{
        "shape":"DBClusterParameterGroupsMessage",
        "resultWrapper":"DescribeDBClusterParameterGroupsResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DescribeDBClusterParameters":{
      "name":"DescribeDBClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterParametersMessage"},
      "output":{
        "shape":"DBClusterParameterGroupDetails",
        "resultWrapper":"DescribeDBClusterParametersResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DescribeDBClusterSnapshotAttributes":{
      "name":"DescribeDBClusterSnapshotAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterSnapshotAttributesMessage"},
      "output":{
        "shape":"DescribeDBClusterSnapshotAttributesResult",
        "resultWrapper":"DescribeDBClusterSnapshotAttributesResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ]
    },
    "DescribeDBClusterSnapshots":{
      "name":"DescribeDBClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterSnapshotsMessage"},
      "output":{
        "shape":"DBClusterSnapshotMessage",
        "resultWrapper":"DescribeDBClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ]
    },
    "DescribeDBClusters":{
      "name":"DescribeDBClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClustersMessage"},
      "output":{
        "shape":"DBClusterMessage",
        "resultWrapper":"DescribeDBClustersResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"}
      ]
    },
    "DescribeDBEngineVersions":{
      "name":"DescribeDBEngineVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBEngineVersionsMessage"},
      "output":{
        "shape":"DBEngineVersionMessage",
        "resultWrapper":"DescribeDBEngineVersionsResult"
      }
    },
    "DescribeDBInstances":{
      "name":"DescribeDBInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBInstancesMessage"},
      "output":{
        "shape":"DBInstanceMessage",
        "resultWrapper":"DescribeDBInstancesResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "DescribeDBLogFiles":{
      "name":"DescribeDBLogFiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBLogFilesMessage"},
      "output":{
        "shape":"DescribeDBLogFilesResponse",
        "resultWrapper":"DescribeDBLogFilesResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "DescribeDBParameterGroups":{
      "name":"DescribeDBParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBParameterGroupsMessage"},
      "output":{
        "shape":"DBParameterGroupsMessage",
        "resultWrapper":"DescribeDBParameterGroupsResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DescribeDBParameters":{
      "name":"DescribeDBParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBParametersMessage"},
      "output":{
        "shape":"DBParameterGroupDetails",
        "resultWrapper":"DescribeDBParametersResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DescribeDBSecurityGroups":{
      "name":"DescribeDBSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSecurityGroupsMessage"},
      "output":{
        "shape":"DBSecurityGroupMessage",
        "resultWrapper":"DescribeDBSecurityGroupsResult"
      },
      "errors":[
        {"shape":"DBSecurityGroupNotFoundFault"}
      ]
    },
    "DescribeDBSnapshotAttributes":{
      "name":"DescribeDBSnapshotAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSnapshotAttributesMessage"},
      "output":{
        "shape":"DescribeDBSnapshotAttributesResult",
        "resultWrapper":"DescribeDBSnapshotAttributesResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"}
      ]
    },
    "DescribeDBSnapshots":{
      "name":"DescribeDBSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSnapshotsMessage"},
      "output":{
        "shape":"DBSnapshotMessage",
        "resultWrapper":"DescribeDBSnapshotsResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"}
      ]
    },
    "DescribeDBSubnetGroups":{
      "name":"DescribeDBSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSubnetGroupsMessage"},
      "output":{
        "shape":"DBSubnetGroupMessage",
        "resultWrapper":"DescribeDBSubnetGroupsResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupNotFoundFault"}
      ]
    },
    "DescribeEngineDefaultClusterParameters":{
      "name":"DescribeEngineDefaultClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngineDefaultClusterParametersMessage"},
      "output":{
        "shape":"DescribeEngineDefaultClusterParametersResult",
        "resultWrapper":"DescribeEngineDefaultClusterParametersResult"
      }
    },
    "DescribeEngineDefaultParameters":{
      "name":"DescribeEngineDefaultParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngineDefaultParametersMessage"},
      "output":{
        "shape":"DescribeEngineDefaultParametersResult",
        "resultWrapper":"DescribeEngineDefaultParametersResult"
      }
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventCategoriesMessage"},
      "output":{
        "shape":"EventCategoriesMessage",
        "resultWrapper":"DescribeEventCategoriesResult"
      }
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSubscriptionsMessage"},
      "output":{
        "shape":"EventSubscriptionsMessage",
        "resultWrapper":"DescribeEventSubscriptionsResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"}
      ]
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{
        "shape":"EventsMessage",
        "resultWrapper":"DescribeEventsResult"
      }
    },
    "DescribeOptionGroupOptions":{
      "name":"DescribeOptionGroupOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOptionGroupOptionsMessage"},
      "output":{
        "shape":"OptionGroupOptionsMessage",
        "resultWrapper":"DescribeOptionGroupOptionsResult"
      }
    },
    "DescribeOptionGroups":{
      "name":"DescribeOptionGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOptionGroupsMessage"},
      "output":{
        "shape":"OptionGroups",
        "resultWrapper":"DescribeOptionGroupsResult"
      },
      "errors":[
        {"shape":"OptionGroupNotFoundFault"}
      ]
    },
    "DescribeOrderableDBInstanceOptions":{
      "name":"DescribeOrderableDBInstanceOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrderableDBInstanceOptionsMessage"},
      "output":{
        "shape":"OrderableDBInstanceOptionsMessage",
        "resultWrapper":"DescribeOrderableDBInstanceOptionsResult"
      }
    },
    "DescribePendingMaintenanceActions":{
      "name":"DescribePendingMaintenanceActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePendingMaintenanceActionsMessage"},
      "output":{
        "shape":"PendingMaintenanceActionsMessage",
        "resultWrapper":"DescribePendingMaintenanceActionsResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ]
    },
    "DescribeReservedDBInstances":{
      "name":"DescribeReservedDBInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedDBInstancesMessage"},
      "output":{
        "shape":"ReservedDBInstanceMessage",
        "resultWrapper":"DescribeReservedDBInstancesResult"
      },
      "errors":[
        {"shape":"ReservedDBInstanceNotFoundFault"}
      ]
    },
    "DescribeReservedDBInstancesOfferings":{
      "name":"DescribeReservedDBInstancesOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedDBInstancesOfferingsMessage"},
      "output":{
        "shape":"ReservedDBInstancesOfferingMessage",
        "resultWrapper":"DescribeReservedDBInstancesOfferingsResult"
      },
      "errors":[
        {"shape":"ReservedDBInstancesOfferingNotFoundFault"}
      ]
    },
    "DescribeSourceRegions":{
      "name":"DescribeSourceRegions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSourceRegionsMessage"},
      "output":{
        "shape":"SourceRegionMessage",
        "resultWrapper":"DescribeSourceRegionsResult"
      }
    },
    "DownloadDBLogFilePortion":{
      "name":"DownloadDBLogFilePortion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DownloadDBLogFilePortionMessage"},
      "output":{
        "shape":"DownloadDBLogFilePortionDetails",
        "resultWrapper":"DownloadDBLogFilePortionResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBLogFileNotFoundFault"}
      ]
    },
    "FailoverDBCluster":{
      "name":"FailoverDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"FailoverDBClusterMessage"},
      "output":{
        "shape":"FailoverDBClusterResult",
        "resultWrapper":"FailoverDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceMessage"},
      "output":{
        "shape":"TagListMessage",
        "resultWrapper":"ListTagsForResourceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"}
      ]
    },
    "ModifyDBCluster":{
      "name":"ModifyDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterMessage"},
      "output":{
        "shape":"ModifyDBClusterResult",
        "resultWrapper":"ModifyDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"DBClusterParameterGroupNotFoundFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBClusterAlreadyExistsFault"}
      ]
    },
    "ModifyDBClusterParameterGroup":{
      "name":"ModifyDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterParameterGroupMessage"},
      "output":{
        "shape":"DBClusterParameterGroupNameMessage",
        "resultWrapper":"ModifyDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InvalidDBParameterGroupStateFault"}
      ]
    },
    "ModifyDBClusterSnapshotAttribute":{
      "name":"ModifyDBClusterSnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterSnapshotAttributeMessage"},
      "output":{
        "shape":"ModifyDBClusterSnapshotAttributeResult",
        "resultWrapper":"ModifyDBClusterSnapshotAttributeResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"SharedSnapshotQuotaExceededFault"}
      ]
    },
    "ModifyDBInstance":{
      "name":"ModifyDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBInstanceMessage"},
      "output":{
        "shape":"ModifyDBInstanceResult",
        "resultWrapper":"ModifyDBInstanceResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"DBUpgradeDependencyFailureFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"CertificateNotFoundFault"},
        {"shape":"DomainNotFoundFault"}
      ]
    },
    "ModifyDBParameterGroup":{
      "name":"ModifyDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBParameterGroupMessage"},
      "output":{
        "shape":"DBParameterGroupNameMessage",
        "resultWrapper":"ModifyDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InvalidDBParameterGroupStateFault"}
      ]
    },
    "ModifyDBSnapshot":{
      "name":"ModifyDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBSnapshotMessage"},
      "output":{
        "shape":"ModifyDBSnapshotResult",
        "resultWrapper":"ModifyDBSnapshotResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"}
      ]
    },
    "ModifyDBSnapshotAttribute":{
      "name":"ModifyDBSnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBSnapshotAttributeMessage"},
      "output":{
        "shape":"ModifyDBSnapshotAttributeResult",
        "resultWrapper":"ModifyDBSnapshotAttributeResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"SharedSnapshotQuotaExceededFault"}
      ]
    },
    "ModifyDBSubnetGroup":{
      "name":"ModifyDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBSubnetGroupMessage"},
      "output":{
        "shape":"ModifyDBSubnetGroupResult",
        "resultWrapper":"ModifyDBSubnetGroupResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetQuotaExceededFault"},
        {"shape":"SubnetAlreadyInUse"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ]
    },
    "ModifyEventSubscription":{
      "name":"ModifyEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEventSubscriptionMessage"},
      "output":{
        "shape":"ModifyEventSubscriptionResult",
        "resultWrapper":"ModifyEventSubscriptionResult"
      },
      "errors":[
        {"shape":"EventSubscriptionQuotaExceededFault"},
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"}
      ]
    },
    "ModifyOptionGroup":{
      "name":"ModifyOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyOptionGroupMessage"},
      "output":{
        "shape":"ModifyOptionGroupResult",
        "resultWrapper":"ModifyOptionGroupResult"
      },
      "errors":[
        {"shape":"InvalidOptionGroupStateFault"},
        {"shape":"OptionGroupNotFoundFault"}
      ]
    },
    "PromoteReadReplica":{
      "name":"PromoteReadReplica",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PromoteReadReplicaMessage"},
      "output":{
        "shape":"PromoteReadReplicaResult",
        "resultWrapper":"PromoteReadReplicaResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "PromoteReadReplicaDBCluster":{
      "name":"PromoteReadReplicaDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PromoteReadReplicaDBClusterMessage"},
      "output":{
        "shape":"PromoteReadReplicaDBClusterResult",
        "resultWrapper":"PromoteReadReplicaDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    },
    "PurchaseReservedDBInstancesOffering":{
      "name":"PurchaseReservedDBInstancesOffering",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PurchaseReservedDBInstancesOfferingMessage"},
      "output":{
        "shape":"PurchaseReservedDBInstancesOfferingResult",
        "resultWrapper":"PurchaseReservedDBInstancesOfferingResult"
      },
      "errors":[
        {"shape":"ReservedDBInstancesOfferingNotFoundFault"},
        {"shape":"ReservedDBInstanceAlreadyExistsFault"},
        {"shape":"ReservedDBInstanceQuotaExceededFault"}
      ]
    },
    "RebootDBInstance":{
      "name":"RebootDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootDBInstanceMessage"},
      "output":{
        "shape":"RebootDBInstanceResult",
        "resultWrapper":"RebootDBInstanceResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "RemoveRoleFromDBCluster":{
      "name":"RemoveRoleFromDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveRoleFromDBClusterMessage"},
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterRoleNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    },
    "RemoveSourceIdentifierFromSubscription":{
      "name":"RemoveSourceIdentifierFromSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveSourceIdentifierFromSubscriptionMessage"},
      "output":{
        "shape":"RemoveSourceIdentifierFromSubscriptionResult",
        "resultWrapper":"RemoveSourceIdentifierFromSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ]
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceMessage"},
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"}
      ]
    },
    "ResetDBClusterParameterGroup":{
      "name":"ResetDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetDBClusterParameterGroupMessage"},
      "output":{
        "shape":"DBClusterParameterGroupNameMessage",
        "resultWrapper":"ResetDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "ResetDBParameterGroup":{
      "name":"ResetDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetDBParameterGroupMessage"},
      "output":{
        "shape":"DBParameterGroupNameMessage",
        "resultWrapper":"ResetDBParameterGroupResult"
      },
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "RestoreDBClusterFromS3":{
      "name":"RestoreDBClusterFromS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBClusterFromS3Message"},
      "output":{
        "shape":"RestoreDBClusterFromS3Result",
        "resultWrapper":"RestoreDBClusterFromS3Result"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidS3BucketFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"}
      ]
    },
    "RestoreDBClusterFromSnapshot":{
      "name":"RestoreDBClusterFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBClusterFromSnapshotMessage"},
      "output":{
        "shape":"RestoreDBClusterFromSnapshotResult",
        "resultWrapper":"RestoreDBClusterFromSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InsufficientDBClusterCapacityFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "RestoreDBClusterToPointInTime":{
      "name":"RestoreDBClusterToPointInTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBClusterToPointInTimeMessage"},
      "output":{
        "shape":"RestoreDBClusterToPointInTimeResult",
        "resultWrapper":"RestoreDBClusterToPointInTimeResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InsufficientDBClusterCapacityFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"StorageQuotaExceededFault"}
      ]
    },
    "RestoreDBInstanceFromDBSnapshot":{
      "name":"RestoreDBInstanceFromDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBInstanceFromDBSnapshotMessage"},
      "output":{
        "shape":"RestoreDBInstanceFromDBSnapshotResult",
        "resultWrapper":"RestoreDBInstanceFromDBSnapshotResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"DomainNotFoundFault"}
      ]
    },
    "RestoreDBInstanceToPointInTime":{
      "name":"RestoreDBInstanceToPointInTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBInstanceToPointInTimeMessage"},
      "output":{
        "shape":"RestoreDBInstanceToPointInTimeResult",
        "resultWrapper":"RestoreDBInstanceToPointInTimeResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"PointInTimeRestoreNotEnabledFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"DomainNotFoundFault"}
      ]
    },
    "RevokeDBSecurityGroupIngress":{
      "name":"RevokeDBSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeDBSecurityGroupIngressMessage"},
      "output":{
        "shape":"RevokeDBSecurityGroupIngressResult",
        "resultWrapper":"RevokeDBSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"}
      ]
    },
    "StartDBInstance":{
      "name":"StartDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDBInstanceMessage"},
      "output":{
        "shape":"StartDBInstanceResult",
        "resultWrapper":"StartDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "StopDBInstance":{
      "name":"StopDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDBInstanceMessage"},
      "output":{
        "shape":"StopDBInstanceResult",
        "resultWrapper":"StopDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    }
  },
  "shapes":{
    "AccountAttributesMessage":{
      "type":"structure",
      "members":{
        "AccountQuotas":{"shape":"AccountQuotaList"}
      }
    },
    "AccountQuota":{
      "type":"structure",
      "members":{
        "AccountQuotaName":{"shape":"String"},
        "Used":{"shape":"Long"},
        "Max":{"shape":"Long"}
      },
      "wrapper":true
    },
    "AccountQuotaList":{
      "type":"list",
      "member":{
        "shape":"AccountQuota",
        "locationName":"AccountQuota"
      }
    },
    "AddRoleToDBClusterMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "RoleArn"
      ],
      "members":{
        "DBClusterIdentifier":{"shape":"String"},
        "RoleArn":{"shape":"String"}
      }
    },
    "AddSourceIdentifierToSubscriptionMessage":{
      "type":"structure",
      "required":[
        "SubscriptionName",
        "SourceIdentifier"
      ],
      "members":{
        "SubscriptionName":{"shape":"String"},
        "SourceIdentifier":{"shape":"String"}
      }
    },
    "AddSourceIdentifierToSubscriptionResult":{
      "type":"structure",
      "members":{
        "EventSubscription":{"shape":"EventSubscription"}
      }
    },
    "AddTagsToResourceMessage":{
      "type":"structure",
      "required":[
        "ResourceName",
        "Tags"
      ],
      "members":{
        "ResourceName":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "ApplyMethod":{
      "type":"string",
      "enum":[
        "immediate",
        "pending-reboot"
      ]
    },
    "ApplyPendingMaintenanceActionMessage":{
      "type":"structure",
      "required":[
        "ResourceIdentifier",
        "ApplyAction",
        "OptInType"
      ],
      "members":{
        "ResourceIdentifier":{"shape":"String"},
        "ApplyAction":{"shape":"String"},
        "OptInType":{"shape":"String"}
      }
    },
    "ApplyPendingMaintenanceActionResult":{
      "type":"structure",
      "members":{
        "ResourcePendingMaintenanceActions":{"shape":"ResourcePendingMaintenanceActions"}
      }
    },
    "AttributeValueList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AttributeValue"
      }
    },
    "AuthorizationAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizeDBSecurityGroupIngressMessage":{
      "type":"structure",
      "required":["DBSecurityGroupName"],
      "members":{
        "DBSecurityGroupName":{"shape":"String"},
        "CIDRIP":{"shape":"String"},
        "EC2SecurityGroupName":{"shape":"String"},
        "EC2SecurityGroupId":{"shape":"String"},
        "EC2SecurityGroupOwnerId":{"shape":"String"}
      }
    },
    "AuthorizeDBSecurityGroupIngressResult":{
      "type":"structure",
      "members":{
        "DBSecurityGroup":{"shape":"DBSecurityGroup"}
      }
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"}
      },
      "wrapper":true
    },
    "AvailabilityZoneList":{
      "type":"list",
      "member":{
        "shape":"AvailabilityZone",
        "locationName":"AvailabilityZone"
      }
    },
    "AvailabilityZones":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AvailabilityZone"
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanOptional":{"type":"boolean"},
    "Certificate":{
      "type":"structure",
      "members":{
        "CertificateIdentifier":{"shape":"String"},
        "CertificateType":{"shape":"String"},
        "Thumbprint":{"shape":"String"},
        "ValidFrom":{"shape":"TStamp"},
        "ValidTill":{"shape":"TStamp"},
        "CertificateArn":{"shape":"String"}
      },
      "wrapper":true
    },
    "CertificateList":{
      "type":"list",
      "member":{
        "shape":"Certificate",
        "locationName":"Certificate"
      }
    },
    "CertificateMessage":{
      "type":"structure",
      "members":{
        "Certificates":{"shape":"CertificateList"},
        "Marker":{"shape":"String"}
      }
    },
    "CertificateNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CertificateNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "CharacterSet":{
      "type":"structure",
      "members":{
        "CharacterSetName":{"shape":"String"},
        "CharacterSetDescription":{"shape":"String"}
      }
    },
    "CopyDBClusterParameterGroupMessage":{
      "type":"structure",
      "required":[
        "SourceDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupDescription"
      ],
      "members":{
        "SourceDBClusterParameterGroupIdentifier":{"shape":"String"},
        "TargetDBClusterParameterGroupIdentifier":{"shape":"String"},
        "TargetDBClusterParameterGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CopyDBClusterParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroup":{"shape":"DBClusterParameterGroup"}
      }
    },
    "CopyDBClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "SourceDBClusterSnapshotIdentifier",
        "TargetDBClusterSnapshotIdentifier"
      ],
      "members":{
        "SourceDBClusterSnapshotIdentifier":{"shape":"String"},
        "TargetDBClusterSnapshotIdentifier":{"shape":"String"},
        "KmsKeyId":{"shape":"String"},
        "PreSignedUrl":{"shape":"String"},
        "CopyTags":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CopyDBClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshot":{"shape":"DBClusterSnapshot"}
      }
    },
    "CopyDBParameterGroupMessage":{
      "type":"structure",
      "required":[
        "SourceDBParameterGroupIdentifier",
        "TargetDBParameterGroupIdentifier",
        "TargetDBParameterGroupDescription"
      ],
      "members":{
        "SourceDBParameterGroupIdentifier":{"shape":"String"},
        "TargetDBParameterGroupIdentifier":{"shape":"String"},
        "TargetDBParameterGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CopyDBParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBParameterGroup":{"shape":"DBParameterGroup"}
      }
    },
    "CopyDBSnapshotMessage":{
      "type":"structure",
      "required":[
        "SourceDBSnapshotIdentifier",
        "TargetDBSnapshotIdentifier"
      ],
      "members":{
        "SourceDBSnapshotIdentifier":{"shape":"String"},
        "TargetDBSnapshotIdentifier":{"shape":"String"},
        "KmsKeyId":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "CopyTags":{"shape":"BooleanOptional"},
        "PreSignedUrl":{"shape":"String"},
        "OptionGroupName":{"shape":"String"}
      }
    },
    "CopyDBSnapshotResult":{
      "type":"structure",
      "members":{
        "DBSnapshot":{"shape":"DBSnapshot"}
      }
    },
    "CopyOptionGroupMessage":{
      "type":"structure",
      "required":[
        "SourceOptionGroupIdentifier",
        "TargetOptionGroupIdentifier",
        "TargetOptionGroupDescription"
      ],
      "members":{
        "SourceOptionGroupIdentifier":{"shape":"String"},
        "TargetOptionGroupIdentifier":{"shape":"String"},
        "TargetOptionGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CopyOptionGroupResult":{
      "type":"structure",
      "members":{
        "OptionGroup":{"shape":"OptionGroup"}
      }
    },
    "CreateDBClusterMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "Engine"
      ],
      "members":{
        "AvailabilityZones":{"shape":"AvailabilityZones"},
        "BackupRetentionPeriod":{"shape":"IntegerOptional"},
        "CharacterSetName":{"shape":"String"},
        "DatabaseName":{"shape":"String"},
        "DBClusterIdentifier":{"shape":"String"},
        "DBClusterParameterGroupName":{"shape":"String"},
        "VpcSecurityGroupIds":{"shape":"VpcSecurityGroupIdList"},
        "DBSubnetGroupName":{"shape":"String"},
        "Engine":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "Port":{"shape":"IntegerOptional"},
        "MasterUsername":{"shape":"String"},
        "MasterUserPassword":{"shape":"String"},
        "OptionGroupName":{"shape":"String"},
        "PreferredBackupWindow":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "ReplicationSourceIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "StorageEncrypted":{"shape":"BooleanOptional"},
        "KmsKeyId":{"shape":"String"},
        "PreSignedUrl":{"shape":"String"},
        "EnableIAMDatabaseAuthentication":{"shape":"BooleanOptional"}
      }
    },
    "CreateDBClusterParameterGroupMessage":{
      "type":"structure",
      "required":[
        "DBClusterParameterGroupName",
        "DBParameterGroupFamily",
        "Description"
      ],
      "members":{
        "DBClusterParameterGroupName":{"shape":"String"},
        "DBParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBClusterParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroup":{"shape":"DBClusterParameterGroup"}
      }
    },
    "CreateDBClusterResult":{
      "type":"structure",
      "members":{
        "DBCluster":{"shape":"DBCluster"}
      }
    },
    "CreateDBClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "DBClusterSnapshotIdentifier",
        "DBClusterIdentifier"
      ],
      "members":{
        "DBClusterSnapshotIdentifier":{"shape":"String"},
        "DBClusterIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshot":{"shape":"DBClusterSnapshot"}
      }
    },
    "CreateDBInstanceMessage":{
      "type":"structure",
      "required":[
        "DBInstanceIdentifier",
        "DBInstanceClass",
        "Engine"
      ],
      "members":{
        "DBName":{"shape":"String"},
        "DBInstanceIdentifier":{"shape":"String"},
        "AllocatedStorage":{"shape":"IntegerOptional"},
        "DBInstanceClass":{"shape":"String"},
        "Engine":{"shape":"String"},
        "MasterUsername":{"shape":"String"},
        "MasterUserPassword":{"shape":"String"},
        "DBSecurityGroups":{"shape":"DBSecurityGroupNameList"},
        "VpcSecurityGroupIds":{"shape":"VpcSecurityGroupIdList"},
        "AvailabilityZone":{"shape":"String"},
        "DBSubnetGroupName":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "DBParameterGroupName":{"shape":"String"},
        "BackupRetentionPeriod":{"shape":"IntegerOptional"},
        "PreferredBackupWindow":{"shape":"String"},
        "Port":{"shape":"IntegerOptional"},
        "MultiAZ":{"shape":"BooleanOptional"},
        "EngineVersion":{"shape":"String"},
        "AutoMinorVersionUpgrade":{"shape":"BooleanOptional"},
        "LicenseModel":{"shape":"String"},
        "Iops":{"shape":"IntegerOptional"},
        "OptionGroupName":{"shape":"String"},
        "CharacterSetName":{"shape":"String"},
        "PubliclyAccessible":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"},
        "DBClusterIdentifier":{"shape":"String"},
        "StorageType":{"shape":"String"},
        "TdeCredentialArn":{"shape":"String"},
        "TdeCredentialPassword":{"shape":"String"},
        "StorageEncrypted":{"shape":"BooleanOptional"},
        "KmsKeyId":{"shape":"String"},
        "Domain":{"shape":"String"},
        "CopyTagsToSnapshot":{"shape":"BooleanOptional"},
        "MonitoringInterval":{"shape":"IntegerOptional"},
        "MonitoringRoleArn":{"shape":"String"},
        "DomainIAMRoleName":{"shape":"String"},
        "PromotionTier":{"shape":"IntegerOptional"},
        "Timezone":{"shape":"String"},
        "EnableIAMDatabaseAuthentication":{"shape":"BooleanOptional"},
        "EnablePerformanceInsights":{"shape":"BooleanOptional"},
        "PerformanceInsightsKMSKeyId":{"shape":"String"}
      }
    },
    "CreateDBInstanceReadReplicaMessage":{
      "type":"structure",
      "required":[
        "DBInstanceIdentifier",
        "SourceDBInstanceIdentifier"
      ],
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "SourceDBInstanceIdentifier":{"shape":"String"},
        "DBInstanceClass":{"shape":"String"},
        "AvailabilityZone":{"shape":"String"},
        "Port":{"shape":"IntegerOptional"},
        "AutoMinorVersionUpgrade":{"shape":"BooleanOptional"},
        "Iops":{"shape":"IntegerOptional"},
        "OptionGroupName":{"shape":"String"},
        "PubliclyAccessible":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"},
        "DBSubnetGroupName":{"shape":"String"},
        "StorageType":{"shape":"String"},
        "CopyTagsToSnapshot":{"shape":"BooleanOptional"},
        "MonitoringInterval":{"shape":"IntegerOptional"},
        "MonitoringRoleArn":{"shape":"String"},
        "KmsKeyId":{"shape":"String"},
        "PreSignedUrl":{"shape":"String"},
        "EnableIAMDatabaseAuthentication":{"shape":"BooleanOptional"},
        "EnablePerformanceInsights":{"shape":"BooleanOptional"},
        "PerformanceInsightsKMSKeyId":{"shape":"String"}
      }
    },
    "CreateDBInstanceReadReplicaResult":{
      "type":"structure",
      "members":{
        "DBInstance":{"shape":"DBInstance"}
      }
    },
    "CreateDBInstanceResult":{
      "type":"structure",
      "members":{
        "DBInstance":{"shape":"DBInstance"}
      }
    },
    "CreateDBParameterGroupMessage":{
      "type":"structure",
      "required":[
        "DBParameterGroupName",
        "DBParameterGroupFamily",
        "Description"
      ],
      "members":{
        "DBParameterGroupName":{"shape":"String"},
        "DBParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBParameterGroup":{"shape":"DBParameterGroup"}
      }
    },
    "CreateDBSecurityGroupMessage":{
      "type":"structure",
      "required":[
        "DBSecurityGroupName",
        "DBSecurityGroupDescription"
      ],
      "members":{
        "DBSecurityGroupName":{"shape":"String"},
        "DBSecurityGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBSecurityGroupResult":{
      "type":"structure",
      "members":{
        "DBSecurityGroup":{"shape":"DBSecurityGroup"}
      }
    },
    "CreateDBSnapshotMessage":{
      "type":"structure",
      "required":[
        "DBSnapshotIdentifier",
        "DBInstanceIdentifier"
      ],
      "members":{
        "DBSnapshotIdentifier":{"shape":"String"},
        "DBInstanceIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBSnapshotResult":{
      "type":"structure",
      "members":{
        "DBSnapshot":{"shape":"DBSnapshot"}
      }
    },
    "CreateDBSubnetGroupMessage":{
      "type":"structure",
      "required":[
        "DBSubnetGroupName",
        "DBSubnetGroupDescription",
        "SubnetIds"
      ],
      "members":{
        "DBSubnetGroupName":{"shape":"String"},
        "DBSubnetGroupDescription":{"shape":"String"},
        "SubnetIds":{"shape":"SubnetIdentifierList"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBSubnetGroupResult":{
      "type":"structure",
      "members":{
        "DBSubnetGroup":{"shape":"DBSubnetGroup"}
      }
    },
    "CreateEventSubscriptionMessage":{
      "type":"structure",
      "required":[
        "SubscriptionName",
        "SnsTopicArn"
      ],
      "members":{
        "SubscriptionName":{"shape":"String"},
        "SnsTopicArn":{"shape":"String"},
        "SourceType":{"shape":"String"},
        "EventCategories":{"shape":"EventCategoriesList"},
        "SourceIds":{"shape":"SourceIdsList"},
        "Enabled":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEventSubscriptionResult":{
      "type":"structure",
      "members":{
        "EventSubscription":{"shape":"EventSubscription"}
      }
    },
    "CreateOptionGroupMessage":{
      "type":"structure",
      "required":[
        "OptionGroupName",
        "EngineName",
        "MajorEngineVersion",
        "OptionGroupDescription"
      ],
      "members":{
        "OptionGroupName":{"shape":"String"},
        "EngineName":{"shape":"String"},
        "MajorEngineVersion":{"shape":"String"},
        "OptionGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateOptionGroupResult":{
      "type":"structure",
      "members":{
        "OptionGroup":{"shape":"OptionGroup"}
      }
    },
    "DBCluster":{
      "type":"structure",
      "members":{
        "AllocatedStorage":{"shape":"IntegerOptional"},
        "AvailabilityZones":{"shape":"AvailabilityZones"},
        "BackupRetentionPeriod":{"shape":"IntegerOptional"},
        "CharacterSetName":{"shape":"String"},
        "DatabaseName":{"shape":"String"},
        "DBClusterIdentifier":{"shape":"String"},
        "DBClusterParameterGroup":{"shape":"String"},
        "DBSubnetGroup":{"shape":"String"},
        "Status":{"shape":"String"},
        "PercentProgress":{"shape":"String"},
        "EarliestRestorableTime":{"shape":"TStamp"},
        "Endpoint":{"shape":"String"},
        "ReaderEndpoint":{"shape":"String"},
        "MultiAZ":{"shape":"Boolean"},
        "Engine":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "LatestRestorableTime":{"shape":"TStamp"},
        "Port":{"shape":"IntegerOptional"},
        "MasterUsername":{"shape":"String"},
        "DBClusterOptionGroupMemberships":{"shape":"DBClusterOptionGroupMemberships"},
        "PreferredBackupWindow":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "ReplicationSourceIdentifier":{"shape":"String"},
        "ReadReplicaIdentifiers":{"shape":"ReadReplicaIdentifierList"},
        "DBClusterMembers":{"shape":"DBClusterMemberList"},
        "VpcSecurityGroups":{"shape":"VpcSecurityGroupMembershipList"},
        "HostedZoneId":{"shape":"String"},
        "StorageEncrypted":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"String"},
        "DbClusterResourceId":{"shape":"String"},
        "DBClusterArn":{"shape":"String"},
        "AssociatedRoles":{"shape":"DBClusterRoles"},
        "IAMDatabaseAuthenticationEnabled":{"shape":"Boolean"},
        "CloneGroupId":{"shape":"String"},
        "ClusterCreateTime":{"shape":"TStamp"}
      },
      "wrapper":true
    },
    "DBClusterAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterAlreadyExistsFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBClusterList":{
      "type":"list",
      "member":{
        "shape":"DBCluster",
        "locationName":"DBCluster"
      }
    },
    "DBClusterMember":{
      "type":"structure",
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "IsClusterWriter":{"shape":"Boolean"},
        "DBClusterParameterGroupStatus":{"shape":"String"},
        "PromotionTier":{"shape":"IntegerOptional"}
      },
      "wrapper":true
    },
    "DBClusterMemberList":{
      "type":"list",
      "member":{
        "shape":"DBClusterMember",
        "locationName":"DBClusterMember"
      }
    },
    "DBClusterMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBClusters":{"shape":"DBClusterList"}
      }
    },
    "DBClusterNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterNotFoundFault",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBClusterOptionGroupMemberships":{
      "type":"list",
      "member":{
        "shape":"DBClusterOptionGroupStatus",
        "locationName":"DBClusterOptionGroup"
      }
    },
    "DBClusterOptionGroupStatus":{
      "type":"structure",
      "members":{
        "DBClusterOptionGroupName":{"shape":"String"},
        "Status":{"shape":"String"}
      }
    },
    "DBClusterParameterGroup":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroupName":{"shape":"String"},
        "DBParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "DBClusterParameterGroupArn":{"shape":"String"}
      },
      "wrapper":true
    },
    "DBClusterParameterGroupDetails":{
      "type":"structure",
      "members":{
        "Parameters":{"shape":"ParametersList"},
        "Marker":{"shape":"String"}
      }
    },
    "DBClusterParameterGroupList":{
      "type":"list",
      "member":{
        "shape":"DBClusterParameterGroup",
        "locationName":"DBClusterParameterGroup"
      }
    },
    "DBClusterParameterGroupNameMessage":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroupName":{"shape":"String"}
      }
    },
    "DBClusterParameterGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterParameterGroupNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBClusterParameterGroupsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBClusterParameterGroups":{"shape":"DBClusterParameterGroupList"}
      }
    },
    "DBClusterQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterQuotaExceededFault",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "DBClusterRole":{
      "type":"structure",
      "members":{
        "RoleArn":{"shape":"String"},
        "Status":{"shape":"String"}
      }
    },
    "DBClusterRoleAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterRoleAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBClusterRoleNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterRoleNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBClusterRoleQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterRoleQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBClusterRoles":{
      "type":"list",
      "member":{
        "shape":"DBClusterRole",
        "locationName":"DBClusterRole"
      }
    },
    "DBClusterSnapshot":{
      "type":"structure",
      "members":{
        "AvailabilityZones":{"shape":"AvailabilityZones"},
        "DBClusterSnapshotIdentifier":{"shape":"String"},
        "DBClusterIdentifier":{"shape":"String"},
        "SnapshotCreateTime":{"shape":"TStamp"},
        "Engine":{"shape":"String"},
        "AllocatedStorage":{"shape":"Integer"},
        "Status":{"shape":"String"},
        "Port":{"shape":"Integer"},
        "VpcId":{"shape":"String"},
        "ClusterCreateTime":{"shape":"TStamp"},
        "MasterUsername":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "LicenseModel":{"shape":"String"},
        "SnapshotType":{"shape":"String"},
        "PercentProgress":{"shape":"Integer"},
        "StorageEncrypted":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"String"},
        "DBClusterSnapshotArn":{"shape":"String"},
        "SourceDBClusterSnapshotArn":{"shape":"String"},
        "IAMDatabaseAuthenticationEnabled":{"shape":"Boolean"}
      },
      "wrapper":true
    },
    "DBClusterSnapshotAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterSnapshotAlreadyExistsFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBClusterSnapshotAttribute":{
      "type":"structure",
      "members":{
        "AttributeName":{"shape":"String"},
        "AttributeValues":{"shape":"AttributeValueList"}
      }
    },
    "DBClusterSnapshotAttributeList":{
      "type":"list",
      "member":{
        "shape":"DBClusterSnapshotAttribute",
        "locationName":"DBClusterSnapshotAttribute"
      }
    },
    "DBClusterSnapshotAttributesResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshotIdentifier":{"shape":"String"},
        "DBClusterSnapshotAttributes":{"shape":"DBClusterSnapshotAttributeList"}
      },
      "wrapper":true
    },
    "DBClusterSnapshotList":{
      "type":"list",
      "member":{
        "shape":"DBClusterSnapshot",
        "locationName":"DBClusterSnapshot"
      }
    },
    "DBClusterSnapshotMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBClusterSnapshots":{"shape":"DBClusterSnapshotList"}
      }
    },
    "DBClusterSnapshotNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBClusterSnapshotNotFoundFault",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBEngineVersion":{
      "type":"structure",
      "members":{
        "Engine":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "DBParameterGroupFamily":{"shape":"String"},
        "DBEngineDescription":{"shape":"String"},
        "DBEngineVersionDescription":{"shape":"String"},
        "DefaultCharacterSet":{"shape":"CharacterSet"},
        "SupportedCharacterSets":{"shape":"SupportedCharacterSetsList"},
        "ValidUpgradeTarget":{"shape":"ValidUpgradeTargetList"},
        "SupportedTimezones":{"shape":"SupportedTimezonesList"}
      }
    },
    "DBEngineVersionList":{
      "type":"list",
      "member":{
        "shape":"DBEngineVersion",
        "locationName":"DBEngineVersion"
      }
    },
    "DBEngineVersionMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBEngineVersions":{"shape":"DBEngineVersionList"}
      }
    },
    "DBInstance":{
      "type":"structure",
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "DBInstanceClass":{"shape":"String"},
        "Engine":{"shape":"String"},
        "DBInstanceStatus":{"shape":"String"},
        "MasterUsername":{"shape":"String"},
        "DBName":{"shape":"String"},
        "Endpoint":{"shape":"Endpoint"},
        "AllocatedStorage":{"shape":"Integer"},
        "InstanceCreateTime":{"shape":"TStamp"},
        "PreferredBackupWindow":{"shape":"String"},
        "BackupRetentionPeriod":{"shape":"Integer"},
        "DBSecurityGroups":{"shape":"DBSecurityGroupMembershipList"},
        "VpcSecurityGroups":{"shape":"VpcSecurityGroupMembershipList"},
        "DBParameterGroups":{"shape":"DBParameterGroupStatusList"},
        "AvailabilityZone":{"shape":"String"},
        "DBSubnetGroup":{"shape":"DBSubnetGroup"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "PendingModifiedValues":{"shape":"PendingModifiedValues"},
        "LatestRestorableTime":{"shape":"TStamp"},
        "MultiAZ":{"shape":"Boolean"},
        "EngineVersion":{"shape":"String"},
        "AutoMinorVersionUpgrade":{"shape":"Boolean"},
        "ReadReplicaSourceDBInstanceIdentifier":{"shape":"String"},
        "ReadReplicaDBInstanceIdentifiers":{"shape":"ReadReplicaDBInstanceIdentifierList"},
        "ReadReplicaDBClusterIdentifiers":{"shape":"ReadReplicaDBClusterIdentifierList"},
        "LicenseModel":{"shape":"String"},
        "Iops":{"shape":"IntegerOptional"},
        "OptionGroupMemberships":{"shape":"OptionGroupMembershipList"},
        "CharacterSetName":{"shape":"String"},
        "SecondaryAvailabilityZone":{"shape":"String"},
        "PubliclyAccessible":{"shape":"Boolean"},
        "StatusInfos":{"shape":"DBInstanceStatusInfoList"},
        "StorageType":{"shape":"String"},
        "TdeCredentialArn":{"shape":"String"},
        "DbInstancePort":{"shape":"Integer"},
        "DBClusterIdentifier":{"shape":"String"},
        "StorageEncrypted":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"String"},
        "DbiResourceId":{"shape":"String"},
        "CACertificateIdentifier":{"shape":"String"},
        "DomainMemberships":{"shape":"DomainMembershipList"},
        "CopyTagsToSnapshot":{"shape":"Boolean"},
        "MonitoringInterval":{"shape":"IntegerOptional"},
        "EnhancedMonitoringResourceArn":{"shape":"String"},
        "MonitoringRoleArn":{"shape":"String"},
        "PromotionTier":{"shape":"IntegerOptional"},
        "DBInstanceArn":{"shape":"String"},
        "Timezone":{"shape":"String"},
        "IAMDatabaseAuthenticationEnabled":{"shape":"Boolean"},
        "PerformanceInsightsEnabled":{"shape":"BooleanOptional"},
        "PerformanceInsightsKMSKeyId":{"shape":"String"}
      },
      "wrapper":true
    },
    "DBInstanceAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBInstanceAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBInstanceList":{
      "type":"list",
      "member":{
        "shape":"DBInstance",
        "locationName":"DBInstance"
      }
    },
    "DBInstanceMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBInstances":{"shape":"DBInstanceList"}
      }
    },
    "DBInstanceNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBInstanceNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBInstanceStatusInfo":{
      "type":"structure",
      "members":{
        "StatusType":{"shape":"String"},
        "Normal":{"shape":"Boolean"},
        "Status":{"shape":"String"},
        "Message":{"shape":"String"}
      }
    },
    "DBInstanceStatusInfoList":{
      "type":"list",
      "member":{
        "shape":"DBInstanceStatusInfo",
        "locationName":"DBInstanceStatusInfo"
      }
    },
    "DBLogFileNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBLogFileNotFoundFault",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBParameterGroup":{
      "type":"structure",
      "members":{
        "DBParameterGroupName":{"shape":"String"},
        "DBParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "DBParameterGroupArn":{"shape":"String"}
      },
      "wrapper":true
    },
    "DBParameterGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBParameterGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBParameterGroupDetails":{
      "type":"structure",
      "members":{
        "Parameters":{"shape":"ParametersList"},
        "Marker":{"shape":"String"}
      }
    },
    "DBParameterGroupList":{
      "type":"list",
      "member":{
        "shape":"DBParameterGroup",
        "locationName":"DBParameterGroup"
      }
    },
    "DBParameterGroupNameMessage":{
      "type":"structure",
      "members":{
        "DBParameterGroupName":{"shape":"String"}
      }
    },
    "DBParameterGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBParameterGroupNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBParameterGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBParameterGroupQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBParameterGroupStatus":{
      "type":"structure",
      "members":{
        "DBParameterGroupName":{"shape":"String"},
        "ParameterApplyStatus":{"shape":"String"}
      }
    },
    "DBParameterGroupStatusList":{
      "type":"list",
      "member":{
        "shape":"DBParameterGroupStatus",
        "locationName":"DBParameterGroup"
      }
    },
    "DBParameterGroupsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBParameterGroups":{"shape":"DBParameterGroupList"}
      }
    },
    "DBSecurityGroup":{
      "type":"structure",
      "members":{
        "OwnerId":{"shape":"String"},
        "DBSecurityGroupName":{"shape":"String"},
        "DBSecurityGroupDescription":{"shape":"String"},
        "VpcId":{"shape":"String"},
        "EC2SecurityGroups":{"shape":"EC2SecurityGroupList"},
        "IPRanges":{"shape":"IPRangeList"},
        "DBSecurityGroupArn":{"shape":"String"}
      },
      "wrapper":true
    },
    "DBSecurityGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSecurityGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBSecurityGroupMembership":{
      "type":"structure",
      "members":{
        "DBSecurityGroupName":{"shape":"String"},
        "Status":{"shape":"String"}
      }
    },
    "DBSecurityGroupMembershipList":{
      "type":"list",
      "member":{
        "shape":"DBSecurityGroupMembership",
        "locationName":"DBSecurityGroup"
      }
    },
    "DBSecurityGroupMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBSecurityGroups":{"shape":"DBSecurityGroups"}
      }
    },
    "DBSecurityGroupNameList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"DBSecurityGroupName"
      }
    },
    "DBSecurityGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSecurityGroupNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBSecurityGroupNotSupportedFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSecurityGroupNotSupported",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBSecurityGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"QuotaExceeded.DBSecurityGroup",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBSecurityGroups":{
      "type":"list",
      "member":{
        "shape":"DBSecurityGroup",
        "locationName":"DBSecurityGroup"
      }
    },
    "DBSnapshot":{
      "type":"structure",
      "members":{
        "DBSnapshotIdentifier":{"shape":"String"},
        "DBInstanceIdentifier":{"shape":"String"},
        "SnapshotCreateTime":{"shape":"TStamp"},
        "Engine":{"shape":"String"},
        "AllocatedStorage":{"shape":"Integer"},
        "Status":{"shape":"String"},
        "Port":{"shape":"Integer"},
        "AvailabilityZone":{"shape":"String"},
        "VpcId":{"shape":"String"},
        "InstanceCreateTime":{"shape":"TStamp"},
        "MasterUsername":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "LicenseModel":{"shape":"String"},
        "SnapshotType":{"shape":"String"},
        "Iops":{"shape":"IntegerOptional"},
        "OptionGroupName":{"shape":"String"},
        "PercentProgress":{"shape":"Integer"},
        "SourceRegion":{"shape":"String"},
        "SourceDBSnapshotIdentifier":{"shape":"String"},
        "StorageType":{"shape":"String"},
        "TdeCredentialArn":{"shape":"String"},
        "Encrypted":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"String"},
        "DBSnapshotArn":{"shape":"String"},
        "Timezone":{"shape":"String"},
        "IAMDatabaseAuthenticationEnabled":{"shape":"Boolean"}
      },
      "wrapper":true
    },
    "DBSnapshotAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSnapshotAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBSnapshotAttribute":{
      "type":"structure",
      "members":{
        "AttributeName":{"shape":"String"},
        "AttributeValues":{"shape":"AttributeValueList"}
      },
      "wrapper":true
    },
    "DBSnapshotAttributeList":{
      "type":"list",
      "member":{
        "shape":"DBSnapshotAttribute",
        "locationName":"DBSnapshotAttribute"
      }
    },
    "DBSnapshotAttributesResult":{
      "type":"structure",
      "members":{
        "DBSnapshotIdentifier":{"shape":"String"},
        "DBSnapshotAttributes":{"shape":"DBSnapshotAttributeList"}
      },
      "wrapper":true
    },
    "DBSnapshotList":{
      "type":"list",
      "member":{
        "shape":"DBSnapshot",
        "locationName":"DBSnapshot"
      }
    },
    "DBSnapshotMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBSnapshots":{"shape":"DBSnapshotList"}
      }
    },
    "DBSnapshotNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSnapshotNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBSubnetGroup":{
      "type":"structure",
      "members":{
        "DBSubnetGroupName":{"shape":"String"},
        "DBSubnetGroupDescription":{"shape":"String"},
        "VpcId":{"shape":"String"},
        "SubnetGroupStatus":{"shape":"String"},
        "Subnets":{"shape":"SubnetList"},
        "DBSubnetGroupArn":{"shape":"String"}
      },
      "wrapper":true
    },
    "DBSubnetGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSubnetGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBSubnetGroupDoesNotCoverEnoughAZs":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSubnetGroupDoesNotCoverEnoughAZs",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBSubnetGroupMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "DBSubnetGroups":{"shape":"DBSubnetGroups"}
      }
    },
    "DBSubnetGroupNotAllowedFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSubnetGroupNotAllowedFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBSubnetGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSubnetGroupNotFoundFault",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DBSubnetGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSubnetGroupQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBSubnetGroups":{
      "type":"list",
      "member":{
        "shape":"DBSubnetGroup",
        "locationName":"DBSubnetGroup"
      }
    },
    "DBSubnetQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBSubnetQuotaExceededFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBUpgradeDependencyFailureFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DBUpgradeDependencyFailure",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DeleteDBClusterMessage":{
      "type":"structure",
      "required":["DBClusterIdentifier"],
      "members":{
        "DBClusterIdentifier":{"shape":"String"},
        "SkipFinalSnapshot":{"shape":"Boolean"},
        "FinalDBSnapshotIdentifier":{"shape":"String"}
      }
    },
    "DeleteDBClusterParameterGroupMessage":{
      "type":"structure",
      "required":["DBClusterParameterGroupName"],
      "members":{
        "DBClusterParameterGroupName":{"shape":"String"}
      }
    },
    "DeleteDBClusterResult":{
      "type":"structure",
      "members":{
        "DBCluster":{"shape":"DBCluster"}
      }
    },
    "DeleteDBClusterSnapshotMessage":{
      "type":"structure",
      "required":["DBClusterSnapshotIdentifier"],
      "members":{
        "DBClusterSnapshotIdentifier":{"shape":"String"}
      }
    },
    "DeleteDBClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshot":{"shape":"DBClusterSnapshot"}
      }
    },
    "DeleteDBInstanceMessage":{
      "type":"structure",
      "required":["DBInstanceIdentifier"],
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "SkipFinalSnapshot":{"shape":"Boolean"},
        "FinalDBSnapshotIdentifier":{"shape":"String"}
      }
    },
    "DeleteDBInstanceResult":{
      "type":"structure",
      "members":{
        "DBInstance":{"shape":"DBInstance"}
      }
    },
    "DeleteDBParameterGroupMessage":{
      "type":"structure",
      "required":["DBParameterGroupName"],
      "members":{
        "DBParameterGroupName":{"shape":"String"}
      }
    },
    "DeleteDBSecurityGroupMessage":{
      "type":"structure",
      "required":["DBSecurityGroupName"],
      "members":{
        "DBSecurityGroupName":{"shape":"String"}
      }
    },
    "DeleteDBSnapshotMessage":{
      "type":"structure",
      "required":["DBSnapshotIdentifier"],
      "members":{
        "DBSnapshotIdentifier":{"shape":"String"}
      }
    },
    "DeleteDBSnapshotResult":{
      "type":"structure",
      "members":{
        "DBSnapshot":{"shape":"DBSnapshot"}
      }
    },
    "DeleteDBSubnetGroupMessage":{
      "type":"structure",
      "required":["DBSubnetGroupName"],
      "members":{
        "DBSubnetGroupName":{"shape":"String"}
      }
    },
    "DeleteEventSubscriptionMessage":{
      "type":"structure",
      "required":["SubscriptionName"],
      "members":{
        "SubscriptionName":{"shape":"String"}
      }
    },
    "DeleteEventSubscriptionResult":{
      "type":"structure",
      "members":{
        "EventSubscription":{"shape":"EventSubscription"}
      }
    },
    "DeleteOptionGroupMessage":{
      "type":"structure",
      "required":["OptionGroupName"],
      "members":{
        "OptionGroupName":{"shape":"String"}
      }
    },
    "DescribeAccountAttributesMessage":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeCertificatesMessage":{
      "type":"structure",
      "members":{
        "CertificateIdentifier":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBClusterParameterGroupsMessage":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroupName":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBClusterParametersMessage":{
      "type":"structure",
      "required":["DBClusterParameterGroupName"],
      "members":{
        "DBClusterParameterGroupName":{"shape":"String"},
        "Source":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBClusterSnapshotAttributesMessage":{
      "type":"structure",
      "required":["DBClusterSnapshotIdentifier"],
      "members":{
        "DBClusterSnapshotIdentifier":{"shape":"String"}
      }
    },
    "DescribeDBClusterSnapshotAttributesResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshotAttributesResult":{"shape":"DBClusterSnapshotAttributesResult"}
      }
    },
    "DescribeDBClusterSnapshotsMessage":{
      "type":"structure",
      "members":{
        "DBClusterIdentifier":{"shape":"String"},
        "DBClusterSnapshotIdentifier":{"shape":"String"},
        "SnapshotType":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "IncludeShared":{"shape":"Boolean"},
        "IncludePublic":{"shape":"Boolean"}
      }
    },
    "DescribeDBClustersMessage":{
      "type":"structure",
      "members":{
        "DBClusterIdentifier":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBEngineVersionsMessage":{
      "type":"structure",
      "members":{
        "Engine":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "DBParameterGroupFamily":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "DefaultOnly":{"shape":"Boolean"},
        "ListSupportedCharacterSets":{"shape":"BooleanOptional"},
        "ListSupportedTimezones":{"shape":"BooleanOptional"}
      }
    },
    "DescribeDBInstancesMessage":{
      "type":"structure",
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBLogFilesDetails":{
      "type":"structure",
      "members":{
        "LogFileName":{"shape":"String"},
        "LastWritten":{"shape":"Long"},
        "Size":{"shape":"Long"}
      }
    },
    "DescribeDBLogFilesList":{
      "type":"list",
      "member":{
        "shape":"DescribeDBLogFilesDetails",
        "locationName":"DescribeDBLogFilesDetails"
      }
    },
    "DescribeDBLogFilesMessage":{
      "type":"structure",
      "required":["DBInstanceIdentifier"],
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "FilenameContains":{"shape":"String"},
        "FileLastWritten":{"shape":"Long"},
        "FileSize":{"shape":"Long"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBLogFilesResponse":{
      "type":"structure",
      "members":{
        "DescribeDBLogFiles":{"shape":"DescribeDBLogFilesList"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBParameterGroupsMessage":{
      "type":"structure",
      "members":{
        "DBParameterGroupName":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBParametersMessage":{
      "type":"structure",
      "required":["DBParameterGroupName"],
      "members":{
        "DBParameterGroupName":{"shape":"String"},
        "Source":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBSecurityGroupsMessage":{
      "type":"structure",
      "members":{
        "DBSecurityGroupName":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDBSnapshotAttributesMessage":{
      "type":"structure",
      "required":["DBSnapshotIdentifier"],
      "members":{
        "DBSnapshotIdentifier":{"shape":"String"}
      }
    },
    "DescribeDBSnapshotAttributesResult":{
      "type":"structure",
      "members":{
        "DBSnapshotAttributesResult":{"shape":"DBSnapshotAttributesResult"}
      }
    },
    "DescribeDBSnapshotsMessage":{
      "type":"structure",
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "DBSnapshotIdentifier":{"shape":"String"},
        "SnapshotType":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "IncludeShared":{"shape":"Boolean"},
        "IncludePublic":{"shape":"Boolean"}
      }
    },
    "DescribeDBSubnetGroupsMessage":{
      "type":"structure",
      "members":{
        "DBSubnetGroupName":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeEngineDefaultClusterParametersMessage":{
      "type":"structure",
      "required":["DBParameterGroupFamily"],
      "members":{
        "DBParameterGroupFamily":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeEngineDefaultClusterParametersResult":{
      "type":"structure",
      "members":{
        "EngineDefaults":{"shape":"EngineDefaults"}
      }
    },
    "DescribeEngineDefaultParametersMessage":{
      "type":"structure",
      "required":["DBParameterGroupFamily"],
      "members":{
        "DBParameterGroupFamily":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeEngineDefaultParametersResult":{
      "type":"structure",
      "members":{
        "EngineDefaults":{"shape":"EngineDefaults"}
      }
    },
    "DescribeEventCategoriesMessage":{
      "type":"structure",
      "members":{
        "SourceType":{"shape":"String"},
        "Filters":{"shape":"FilterList"}
      }
    },
    "DescribeEventSubscriptionsMessage":{
      "type":"structure",
      "members":{
        "SubscriptionName":{"shape":"String"},
        "Filters":{"shape":"FilterList"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeEventsMessage":{
      "type":"structure",
      "members":{
        "SourceIdentifier":{"shape":"String"},
[...]
