{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-11-15",
    "endpointPrefix":"ec2",
    "protocol":"ec2",
    "serviceAbbreviation":"Amazon EC2",
    "serviceFullName":"Amazon Elastic Compute Cloud",
    "serviceId":"EC2",
    "signatureVersion":"v4",
    "uid":"ec2-2016-11-15",
    "xmlNamespace":"http://ec2.amazonaws.com/doc/2016-11-15"
  },
  "operations":{
    "AcceptReservedInstancesExchangeQuote":{
      "name":"AcceptReservedInstancesExchangeQuote",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptReservedInstancesExchangeQuoteRequest"},
      "output":{"shape":"AcceptReservedInstancesExchangeQuoteResult"}
    },
    "AcceptTransitGatewayPeeringAttachment":{
      "name":"AcceptTransitGatewayPeeringAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptTransitGatewayPeeringAttachmentRequest"},
      "output":{"shape":"AcceptTransitGatewayPeeringAttachmentResult"}
    },
    "AcceptTransitGatewayVpcAttachment":{
      "name":"AcceptTransitGatewayVpcAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptTransitGatewayVpcAttachmentRequest"},
      "output":{"shape":"AcceptTransitGatewayVpcAttachmentResult"}
    },
    "AcceptVpcEndpointConnections":{
      "name":"AcceptVpcEndpointConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptVpcEndpointConnectionsRequest"},
      "output":{"shape":"AcceptVpcEndpointConnectionsResult"}
    },
    "AcceptVpcPeeringConnection":{
      "name":"AcceptVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptVpcPeeringConnectionRequest"},
      "output":{"shape":"AcceptVpcPeeringConnectionResult"}
    },
    "AdvertiseByoipCidr":{
      "name":"AdvertiseByoipCidr",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdvertiseByoipCidrRequest"},
      "output":{"shape":"AdvertiseByoipCidrResult"}
    },
    "AllocateAddress":{
      "name":"AllocateAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateAddressRequest"},
      "output":{"shape":"AllocateAddressResult"}
    },
    "AllocateHosts":{
      "name":"AllocateHosts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateHostsRequest"},
      "output":{"shape":"AllocateHostsResult"}
    },
    "ApplySecurityGroupsToClientVpnTargetNetwork":{
      "name":"ApplySecurityGroupsToClientVpnTargetNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ApplySecurityGroupsToClientVpnTargetNetworkRequest"},
      "output":{"shape":"ApplySecurityGroupsToClientVpnTargetNetworkResult"}
    },
    "AssignIpv6Addresses":{
      "name":"AssignIpv6Addresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssignIpv6AddressesRequest"},
      "output":{"shape":"AssignIpv6AddressesResult"}
    },
    "AssignPrivateIpAddresses":{
      "name":"AssignPrivateIpAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssignPrivateIpAddressesRequest"},
      "output":{"shape":"AssignPrivateIpAddressesResult"}
    },
    "AssociateAddress":{
      "name":"AssociateAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateAddressRequest"},
      "output":{"shape":"AssociateAddressResult"}
    },
    "AssociateClientVpnTargetNetwork":{
      "name":"AssociateClientVpnTargetNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateClientVpnTargetNetworkRequest"},
      "output":{"shape":"AssociateClientVpnTargetNetworkResult"}
    },
    "AssociateDhcpOptions":{
      "name":"AssociateDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateDhcpOptionsRequest"}
    },
    "AssociateEnclaveCertificateIamRole":{
      "name":"AssociateEnclaveCertificateIamRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateEnclaveCertificateIamRoleRequest"},
      "output":{"shape":"AssociateEnclaveCertificateIamRoleResult"}
    },
    "AssociateIamInstanceProfile":{
      "name":"AssociateIamInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateIamInstanceProfileRequest"},
      "output":{"shape":"AssociateIamInstanceProfileResult"}
    },
    "AssociateRouteTable":{
      "name":"AssociateRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateRouteTableRequest"},
      "output":{"shape":"AssociateRouteTableResult"}
    },
    "AssociateSubnetCidrBlock":{
      "name":"AssociateSubnetCidrBlock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateSubnetCidrBlockRequest"},
      "output":{"shape":"AssociateSubnetCidrBlockResult"}
    },
    "AssociateTransitGatewayMulticastDomain":{
      "name":"AssociateTransitGatewayMulticastDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateTransitGatewayMulticastDomainRequest"},
      "output":{"shape":"AssociateTransitGatewayMulticastDomainResult"}
    },
    "AssociateTransitGatewayRouteTable":{
      "name":"AssociateTransitGatewayRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateTransitGatewayRouteTableRequest"},
      "output":{"shape":"AssociateTransitGatewayRouteTableResult"}
    },
    "AssociateVpcCidrBlock":{
      "name":"AssociateVpcCidrBlock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateVpcCidrBlockRequest"},
      "output":{"shape":"AssociateVpcCidrBlockResult"}
    },
    "AttachClassicLinkVpc":{
      "name":"AttachClassicLinkVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachClassicLinkVpcRequest"},
      "output":{"shape":"AttachClassicLinkVpcResult"}
    },
    "AttachInternetGateway":{
      "name":"AttachInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachInternetGatewayRequest"}
    },
    "AttachNetworkInterface":{
      "name":"AttachNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachNetworkInterfaceRequest"},
      "output":{"shape":"AttachNetworkInterfaceResult"}
    },
    "AttachVolume":{
      "name":"AttachVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachVolumeRequest"},
      "output":{"shape":"VolumeAttachment"}
    },
    "AttachVpnGateway":{
      "name":"AttachVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachVpnGatewayRequest"},
      "output":{"shape":"AttachVpnGatewayResult"}
    },
    "AuthorizeClientVpnIngress":{
      "name":"AuthorizeClientVpnIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeClientVpnIngressRequest"},
      "output":{"shape":"AuthorizeClientVpnIngressResult"}
    },
    "AuthorizeSecurityGroupEgress":{
      "name":"AuthorizeSecurityGroupEgress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSecurityGroupEgressRequest"}
    },
    "AuthorizeSecurityGroupIngress":{
      "name":"AuthorizeSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSecurityGroupIngressRequest"}
    },
    "BundleInstance":{
      "name":"BundleInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BundleInstanceRequest"},
      "output":{"shape":"BundleInstanceResult"}
    },
    "CancelBundleTask":{
      "name":"CancelBundleTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelBundleTaskRequest"},
      "output":{"shape":"CancelBundleTaskResult"}
    },
    "CancelCapacityReservation":{
      "name":"CancelCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelCapacityReservationRequest"},
      "output":{"shape":"CancelCapacityReservationResult"}
    },
    "CancelConversionTask":{
      "name":"CancelConversionTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelConversionRequest"}
    },
    "CancelExportTask":{
      "name":"CancelExportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelExportTaskRequest"}
    },
    "CancelImportTask":{
      "name":"CancelImportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelImportTaskRequest"},
      "output":{"shape":"CancelImportTaskResult"}
    },
    "CancelReservedInstancesListing":{
      "name":"CancelReservedInstancesListing",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelReservedInstancesListingRequest"},
      "output":{"shape":"CancelReservedInstancesListingResult"}
    },
    "CancelSpotFleetRequests":{
      "name":"CancelSpotFleetRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelSpotFleetRequestsRequest"},
      "output":{"shape":"CancelSpotFleetRequestsResponse"}
    },
    "CancelSpotInstanceRequests":{
      "name":"CancelSpotInstanceRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelSpotInstanceRequestsRequest"},
      "output":{"shape":"CancelSpotInstanceRequestsResult"}
    },
    "ConfirmProductInstance":{
      "name":"ConfirmProductInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmProductInstanceRequest"},
      "output":{"shape":"ConfirmProductInstanceResult"}
    },
    "CopyFpgaImage":{
      "name":"CopyFpgaImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyFpgaImageRequest"},
      "output":{"shape":"CopyFpgaImageResult"}
    },
    "CopyImage":{
      "name":"CopyImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyImageRequest"},
      "output":{"shape":"CopyImageResult"}
    },
    "CopySnapshot":{
      "name":"CopySnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopySnapshotRequest"},
      "output":{"shape":"CopySnapshotResult"}
    },
    "CreateCapacityReservation":{
      "name":"CreateCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCapacityReservationRequest"},
      "output":{"shape":"CreateCapacityReservationResult"}
    },
    "CreateCarrierGateway":{
      "name":"CreateCarrierGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCarrierGatewayRequest"},
      "output":{"shape":"CreateCarrierGatewayResult"}
    },
    "CreateClientVpnEndpoint":{
      "name":"CreateClientVpnEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClientVpnEndpointRequest"},
      "output":{"shape":"CreateClientVpnEndpointResult"}
    },
    "CreateClientVpnRoute":{
      "name":"CreateClientVpnRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClientVpnRouteRequest"},
      "output":{"shape":"CreateClientVpnRouteResult"}
    },
    "CreateCustomerGateway":{
      "name":"CreateCustomerGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomerGatewayRequest"},
      "output":{"shape":"CreateCustomerGatewayResult"}
    },
    "CreateDefaultSubnet":{
      "name":"CreateDefaultSubnet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDefaultSubnetRequest"},
      "output":{"shape":"CreateDefaultSubnetResult"}
    },
    "CreateDefaultVpc":{
      "name":"CreateDefaultVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDefaultVpcRequest"},
      "output":{"shape":"CreateDefaultVpcResult"}
    },
    "CreateDhcpOptions":{
      "name":"CreateDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDhcpOptionsRequest"},
      "output":{"shape":"CreateDhcpOptionsResult"}
    },
    "CreateEgressOnlyInternetGateway":{
      "name":"CreateEgressOnlyInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEgressOnlyInternetGatewayRequest"},
      "output":{"shape":"CreateEgressOnlyInternetGatewayResult"}
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFleetRequest"},
      "output":{"shape":"CreateFleetResult"}
    },
    "CreateFlowLogs":{
      "name":"CreateFlowLogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFlowLogsRequest"},
      "output":{"shape":"CreateFlowLogsResult"}
    },
    "CreateFpgaImage":{
      "name":"CreateFpgaImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFpgaImageRequest"},
      "output":{"shape":"CreateFpgaImageResult"}
    },
    "CreateImage":{
      "name":"CreateImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageRequest"},
      "output":{"shape":"CreateImageResult"}
    },
    "CreateInstanceExportTask":{
      "name":"CreateInstanceExportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceExportTaskRequest"},
      "output":{"shape":"CreateInstanceExportTaskResult"}
    },
    "CreateInternetGateway":{
      "name":"CreateInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInternetGatewayRequest"},
      "output":{"shape":"CreateInternetGatewayResult"}
    },
    "CreateKeyPair":{
      "name":"CreateKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateKeyPairRequest"},
      "output":{"shape":"KeyPair"}
    },
    "CreateLaunchTemplate":{
      "name":"CreateLaunchTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLaunchTemplateRequest"},
      "output":{"shape":"CreateLaunchTemplateResult"}
    },
    "CreateLaunchTemplateVersion":{
      "name":"CreateLaunchTemplateVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLaunchTemplateVersionRequest"},
      "output":{"shape":"CreateLaunchTemplateVersionResult"}
    },
    "CreateLocalGatewayRoute":{
      "name":"CreateLocalGatewayRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocalGatewayRouteRequest"},
      "output":{"shape":"CreateLocalGatewayRouteResult"}
    },
    "CreateLocalGatewayRouteTableVpcAssociation":{
      "name":"CreateLocalGatewayRouteTableVpcAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocalGatewayRouteTableVpcAssociationRequest"},
      "output":{"shape":"CreateLocalGatewayRouteTableVpcAssociationResult"}
    },
    "CreateManagedPrefixList":{
      "name":"CreateManagedPrefixList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateManagedPrefixListRequest"},
      "output":{"shape":"CreateManagedPrefixListResult"}
    },
    "CreateNatGateway":{
      "name":"CreateNatGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNatGatewayRequest"},
      "output":{"shape":"CreateNatGatewayResult"}
    },
    "CreateNetworkAcl":{
      "name":"CreateNetworkAcl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkAclRequest"},
      "output":{"shape":"CreateNetworkAclResult"}
    },
    "CreateNetworkAclEntry":{
      "name":"CreateNetworkAclEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkAclEntryRequest"}
    },
    "CreateNetworkInterface":{
      "name":"CreateNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkInterfaceRequest"},
      "output":{"shape":"CreateNetworkInterfaceResult"}
    },
    "CreateNetworkInterfacePermission":{
      "name":"CreateNetworkInterfacePermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkInterfacePermissionRequest"},
      "output":{"shape":"CreateNetworkInterfacePermissionResult"}
    },
    "CreatePlacementGroup":{
      "name":"CreatePlacementGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePlacementGroupRequest"},
      "output":{"shape":"CreatePlacementGroupResult"}
    },
    "CreateReservedInstancesListing":{
      "name":"CreateReservedInstancesListing",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReservedInstancesListingRequest"},
      "output":{"shape":"CreateReservedInstancesListingResult"}
    },
    "CreateRoute":{
      "name":"CreateRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRouteRequest"},
      "output":{"shape":"CreateRouteResult"}
    },
    "CreateRouteTable":{
      "name":"CreateRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRouteTableRequest"},
      "output":{"shape":"CreateRouteTableResult"}
    },
    "CreateSecurityGroup":{
      "name":"CreateSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSecurityGroupRequest"},
      "output":{"shape":"CreateSecurityGroupResult"}
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotRequest"},
      "output":{"shape":"Snapshot"}
    },
    "CreateSnapshots":{
      "name":"CreateSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotsRequest"},
      "output":{"shape":"CreateSnapshotsResult"}
    },
    "CreateSpotDatafeedSubscription":{
      "name":"CreateSpotDatafeedSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSpotDatafeedSubscriptionRequest"},
      "output":{"shape":"CreateSpotDatafeedSubscriptionResult"}
    },
    "CreateSubnet":{
      "name":"CreateSubnet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSubnetRequest"},
      "output":{"shape":"CreateSubnetResult"}
    },
    "CreateTags":{
      "name":"CreateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTagsRequest"}
    },
    "CreateTrafficMirrorFilter":{
      "name":"CreateTrafficMirrorFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrafficMirrorFilterRequest"},
      "output":{"shape":"CreateTrafficMirrorFilterResult"}
    },
    "CreateTrafficMirrorFilterRule":{
      "name":"CreateTrafficMirrorFilterRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrafficMirrorFilterRuleRequest"},
      "output":{"shape":"CreateTrafficMirrorFilterRuleResult"}
    },
    "CreateTrafficMirrorSession":{
      "name":"CreateTrafficMirrorSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrafficMirrorSessionRequest"},
      "output":{"shape":"CreateTrafficMirrorSessionResult"}
    },
    "CreateTrafficMirrorTarget":{
      "name":"CreateTrafficMirrorTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrafficMirrorTargetRequest"},
      "output":{"shape":"CreateTrafficMirrorTargetResult"}
    },
    "CreateTransitGateway":{
      "name":"CreateTransitGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransitGatewayRequest"},
      "output":{"shape":"CreateTransitGatewayResult"}
    },
    "CreateTransitGatewayMulticastDomain":{
      "name":"CreateTransitGatewayMulticastDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransitGatewayMulticastDomainRequest"},
      "output":{"shape":"CreateTransitGatewayMulticastDomainResult"}
    },
    "CreateTransitGatewayPeeringAttachment":{
      "name":"CreateTransitGatewayPeeringAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransitGatewayPeeringAttachmentRequest"},
      "output":{"shape":"CreateTransitGatewayPeeringAttachmentResult"}
    },
    "CreateTransitGatewayPrefixListReference":{
      "name":"CreateTransitGatewayPrefixListReference",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransitGatewayPrefixListReferenceRequest"},
      "output":{"shape":"CreateTransitGatewayPrefixListReferenceResult"}
    },
    "CreateTransitGatewayRoute":{
      "name":"CreateTransitGatewayRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransitGatewayRouteRequest"},
      "output":{"shape":"CreateTransitGatewayRouteResult"}
    },
    "CreateTransitGatewayRouteTable":{
      "name":"CreateTransitGatewayRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransitGatewayRouteTableRequest"},
      "output":{"shape":"CreateTransitGatewayRouteTableResult"}
    },
    "CreateTransitGatewayVpcAttachment":{
      "name":"CreateTransitGatewayVpcAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransitGatewayVpcAttachmentRequest"},
      "output":{"shape":"CreateTransitGatewayVpcAttachmentResult"}
    },
    "CreateVolume":{
      "name":"CreateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVolumeRequest"},
      "output":{"shape":"Volume"}
    },
    "CreateVpc":{
      "name":"CreateVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcRequest"},
      "output":{"shape":"CreateVpcResult"}
    },
    "CreateVpcEndpoint":{
      "name":"CreateVpcEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcEndpointRequest"},
      "output":{"shape":"CreateVpcEndpointResult"}
    },
    "CreateVpcEndpointConnectionNotification":{
      "name":"CreateVpcEndpointConnectionNotification",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcEndpointConnectionNotificationRequest"},
      "output":{"shape":"CreateVpcEndpointConnectionNotificationResult"}
    },
    "CreateVpcEndpointServiceConfiguration":{
      "name":"CreateVpcEndpointServiceConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcEndpointServiceConfigurationRequest"},
      "output":{"shape":"CreateVpcEndpointServiceConfigurationResult"}
    },
    "CreateVpcPeeringConnection":{
      "name":"CreateVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcPeeringConnectionRequest"},
      "output":{"shape":"CreateVpcPeeringConnectionResult"}
    },
    "CreateVpnConnection":{
      "name":"CreateVpnConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpnConnectionRequest"},
      "output":{"shape":"CreateVpnConnectionResult"}
    },
    "CreateVpnConnectionRoute":{
      "name":"CreateVpnConnectionRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpnConnectionRouteRequest"}
    },
    "CreateVpnGateway":{
      "name":"CreateVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpnGatewayRequest"},
      "output":{"shape":"CreateVpnGatewayResult"}
    },
    "DeleteCarrierGateway":{
      "name":"DeleteCarrierGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCarrierGatewayRequest"},
      "output":{"shape":"DeleteCarrierGatewayResult"}
    },
    "DeleteClientVpnEndpoint":{
      "name":"DeleteClientVpnEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClientVpnEndpointRequest"},
      "output":{"shape":"DeleteClientVpnEndpointResult"}
    },
    "DeleteClientVpnRoute":{
      "name":"DeleteClientVpnRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClientVpnRouteRequest"},
      "output":{"shape":"DeleteClientVpnRouteResult"}
    },
    "DeleteCustomerGateway":{
      "name":"DeleteCustomerGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomerGatewayRequest"}
    },
    "DeleteDhcpOptions":{
      "name":"DeleteDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDhcpOptionsRequest"}
    },
    "DeleteEgressOnlyInternetGateway":{
      "name":"DeleteEgressOnlyInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEgressOnlyInternetGatewayRequest"},
      "output":{"shape":"DeleteEgressOnlyInternetGatewayResult"}
    },
    "DeleteFleets":{
      "name":"DeleteFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFleetsRequest"},
      "output":{"shape":"DeleteFleetsResult"}
    },
    "DeleteFlowLogs":{
      "name":"DeleteFlowLogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFlowLogsRequest"},
      "output":{"shape":"DeleteFlowLogsResult"}
    },
    "DeleteFpgaImage":{
      "name":"DeleteFpgaImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFpgaImageRequest"},
      "output":{"shape":"DeleteFpgaImageResult"}
    },
    "DeleteInternetGateway":{
      "name":"DeleteInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInternetGatewayRequest"}
    },
    "DeleteKeyPair":{
      "name":"DeleteKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteKeyPairRequest"}
    },
    "DeleteLaunchTemplate":{
      "name":"DeleteLaunchTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLaunchTemplateRequest"},
      "output":{"shape":"DeleteLaunchTemplateResult"}
    },
    "DeleteLaunchTemplateVersions":{
      "name":"DeleteLaunchTemplateVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLaunchTemplateVersionsRequest"},
      "output":{"shape":"DeleteLaunchTemplateVersionsResult"}
    },
    "DeleteLocalGatewayRoute":{
      "name":"DeleteLocalGatewayRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLocalGatewayRouteRequest"},
      "output":{"shape":"DeleteLocalGatewayRouteResult"}
    },
    "DeleteLocalGatewayRouteTableVpcAssociation":{
      "name":"DeleteLocalGatewayRouteTableVpcAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLocalGatewayRouteTableVpcAssociationRequest"},
      "output":{"shape":"DeleteLocalGatewayRouteTableVpcAssociationResult"}
    },
    "DeleteManagedPrefixList":{
      "name":"DeleteManagedPrefixList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteManagedPrefixListRequest"},
      "output":{"shape":"DeleteManagedPrefixListResult"}
    },
    "DeleteNatGateway":{
      "name":"DeleteNatGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNatGatewayRequest"},
      "output":{"shape":"DeleteNatGatewayResult"}
    },
    "DeleteNetworkAcl":{
      "name":"DeleteNetworkAcl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkAclRequest"}
    },
    "DeleteNetworkAclEntry":{
      "name":"DeleteNetworkAclEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkAclEntryRequest"}
    },
    "DeleteNetworkInterface":{
      "name":"DeleteNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkInterfaceRequest"}
    },
    "DeleteNetworkInterfacePermission":{
      "name":"DeleteNetworkInterfacePermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkInterfacePermissionRequest"},
      "output":{"shape":"DeleteNetworkInterfacePermissionResult"}
    },
    "DeletePlacementGroup":{
      "name":"DeletePlacementGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePlacementGroupRequest"}
    },
    "DeleteQueuedReservedInstances":{
      "name":"DeleteQueuedReservedInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteQueuedReservedInstancesRequest"},
      "output":{"shape":"DeleteQueuedReservedInstancesResult"}
    },
    "DeleteRoute":{
      "name":"DeleteRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRouteRequest"}
    },
    "DeleteRouteTable":{
      "name":"DeleteRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRouteTableRequest"}
    },
    "DeleteSecurityGroup":{
      "name":"DeleteSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSecurityGroupRequest"}
    },
    "DeleteSnapshot":{
      "name":"DeleteSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotRequest"}
    },
    "DeleteSpotDatafeedSubscription":{
      "name":"DeleteSpotDatafeedSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSpotDatafeedSubscriptionRequest"}
    },
    "DeleteSubnet":{
      "name":"DeleteSubnet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSubnetRequest"}
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsRequest"}
    },
    "DeleteTrafficMirrorFilter":{
      "name":"DeleteTrafficMirrorFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrafficMirrorFilterRequest"},
      "output":{"shape":"DeleteTrafficMirrorFilterResult"}
    },
    "DeleteTrafficMirrorFilterRule":{
      "name":"DeleteTrafficMirrorFilterRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrafficMirrorFilterRuleRequest"},
      "output":{"shape":"DeleteTrafficMirrorFilterRuleResult"}
    },
    "DeleteTrafficMirrorSession":{
      "name":"DeleteTrafficMirrorSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrafficMirrorSessionRequest"},
      "output":{"shape":"DeleteTrafficMirrorSessionResult"}
    },
    "DeleteTrafficMirrorTarget":{
      "name":"DeleteTrafficMirrorTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrafficMirrorTargetRequest"},
      "output":{"shape":"DeleteTrafficMirrorTargetResult"}
    },
    "DeleteTransitGateway":{
      "name":"DeleteTransitGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTransitGatewayRequest"},
      "output":{"shape":"DeleteTransitGatewayResult"}
    },
    "DeleteTransitGatewayMulticastDomain":{
      "name":"DeleteTransitGatewayMulticastDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTransitGatewayMulticastDomainRequest"},
      "output":{"shape":"DeleteTransitGatewayMulticastDomainResult"}
    },
    "DeleteTransitGatewayPeeringAttachment":{
      "name":"DeleteTransitGatewayPeeringAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTransitGatewayPeeringAttachmentRequest"},
      "output":{"shape":"DeleteTransitGatewayPeeringAttachmentResult"}
    },
    "DeleteTransitGatewayPrefixListReference":{
      "name":"DeleteTransitGatewayPrefixListReference",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTransitGatewayPrefixListReferenceRequest"},
      "output":{"shape":"DeleteTransitGatewayPrefixListReferenceResult"}
    },
    "DeleteTransitGatewayRoute":{
      "name":"DeleteTransitGatewayRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTransitGatewayRouteRequest"},
      "output":{"shape":"DeleteTransitGatewayRouteResult"}
    },
    "DeleteTransitGatewayRouteTable":{
      "name":"DeleteTransitGatewayRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTransitGatewayRouteTableRequest"},
      "output":{"shape":"DeleteTransitGatewayRouteTableResult"}
    },
    "DeleteTransitGatewayVpcAttachment":{
      "name":"DeleteTransitGatewayVpcAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTransitGatewayVpcAttachmentRequest"},
      "output":{"shape":"DeleteTransitGatewayVpcAttachmentResult"}
    },
    "DeleteVolume":{
      "name":"DeleteVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVolumeRequest"}
    },
    "DeleteVpc":{
      "name":"DeleteVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcRequest"}
    },
    "DeleteVpcEndpointConnectionNotifications":{
      "name":"DeleteVpcEndpointConnectionNotifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcEndpointConnectionNotificationsRequest"},
      "output":{"shape":"DeleteVpcEndpointConnectionNotificationsResult"}
    },
    "DeleteVpcEndpointServiceConfigurations":{
      "name":"DeleteVpcEndpointServiceConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcEndpointServiceConfigurationsRequest"},
      "output":{"shape":"DeleteVpcEndpointServiceConfigurationsResult"}
    },
    "DeleteVpcEndpoints":{
      "name":"DeleteVpcEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcEndpointsRequest"},
      "output":{"shape":"DeleteVpcEndpointsResult"}
    },
    "DeleteVpcPeeringConnection":{
      "name":"DeleteVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcPeeringConnectionRequest"},
      "output":{"shape":"DeleteVpcPeeringConnectionResult"}
    },
    "DeleteVpnConnection":{
      "name":"DeleteVpnConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpnConnectionRequest"}
    },
    "DeleteVpnConnectionRoute":{
      "name":"DeleteVpnConnectionRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpnConnectionRouteRequest"}
    },
    "DeleteVpnGateway":{
      "name":"DeleteVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpnGatewayRequest"}
    },
    "DeprovisionByoipCidr":{
      "name":"DeprovisionByoipCidr",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeprovisionByoipCidrRequest"},
      "output":{"shape":"DeprovisionByoipCidrResult"}
    },
    "DeregisterImage":{
      "name":"DeregisterImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterImageRequest"}
    },
    "DeregisterInstanceEventNotificationAttributes":{
      "name":"DeregisterInstanceEventNotificationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterInstanceEventNotificationAttributesRequest"},
      "output":{"shape":"DeregisterInstanceEventNotificationAttributesResult"}
    },
    "DeregisterTransitGatewayMulticastGroupMembers":{
      "name":"DeregisterTransitGatewayMulticastGroupMembers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterTransitGatewayMulticastGroupMembersRequest"},
      "output":{"shape":"DeregisterTransitGatewayMulticastGroupMembersResult"}
    },
    "DeregisterTransitGatewayMulticastGroupSources":{
      "name":"DeregisterTransitGatewayMulticastGroupSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterTransitGatewayMulticastGroupSourcesRequest"},
      "output":{"shape":"DeregisterTransitGatewayMulticastGroupSourcesResult"}
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesRequest"},
      "output":{"shape":"DescribeAccountAttributesResult"}
    },
    "DescribeAddresses":{
      "name":"DescribeAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAddressesRequest"},
      "output":{"shape":"DescribeAddressesResult"}
    },
    "DescribeAggregateIdFormat":{
      "name":"DescribeAggregateIdFormat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAggregateIdFormatRequest"},
      "output":{"shape":"DescribeAggregateIdFormatResult"}
    },
    "DescribeAvailabilityZones":{
      "name":"DescribeAvailabilityZones",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAvailabilityZonesRequest"},
      "output":{"shape":"DescribeAvailabilityZonesResult"}
    },
    "DescribeBundleTasks":{
      "name":"DescribeBundleTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBundleTasksRequest"},
      "output":{"shape":"DescribeBundleTasksResult"}
    },
    "DescribeByoipCidrs":{
      "name":"DescribeByoipCidrs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeByoipCidrsRequest"},
      "output":{"shape":"DescribeByoipCidrsResult"}
    },
    "DescribeCapacityReservations":{
      "name":"DescribeCapacityReservations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCapacityReservationsRequest"},
      "output":{"shape":"DescribeCapacityReservationsResult"}
    },
    "DescribeCarrierGateways":{
      "name":"DescribeCarrierGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCarrierGatewaysRequest"},
      "output":{"shape":"DescribeCarrierGatewaysResult"}
    },
    "DescribeClassicLinkInstances":{
      "name":"DescribeClassicLinkInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClassicLinkInstancesRequest"},
      "output":{"shape":"DescribeClassicLinkInstancesResult"}
    },
    "DescribeClientVpnAuthorizationRules":{
      "name":"DescribeClientVpnAuthorizationRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClientVpnAuthorizationRulesRequest"},
      "output":{"shape":"DescribeClientVpnAuthorizationRulesResult"}
    },
    "DescribeClientVpnConnections":{
      "name":"DescribeClientVpnConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClientVpnConnectionsRequest"},
      "output":{"shape":"DescribeClientVpnConnectionsResult"}
    },
    "DescribeClientVpnEndpoints":{
      "name":"DescribeClientVpnEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClientVpnEndpointsRequest"},
      "output":{"shape":"DescribeClientVpnEndpointsResult"}
    },
    "DescribeClientVpnRoutes":{
      "name":"DescribeClientVpnRoutes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClientVpnRoutesRequest"},
      "output":{"shape":"DescribeClientVpnRoutesResult"}
    },
    "DescribeClientVpnTargetNetworks":{
      "name":"DescribeClientVpnTargetNetworks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClientVpnTargetNetworksRequest"},
      "output":{"shape":"DescribeClientVpnTargetNetworksResult"}
    },
    "DescribeCoipPools":{
      "name":"DescribeCoipPools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCoipPoolsRequest"},
      "output":{"shape":"DescribeCoipPoolsResult"}
    },
    "DescribeConversionTasks":{
      "name":"DescribeConversionTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConversionTasksRequest"},
      "output":{"shape":"DescribeConversionTasksResult"}
    },
    "DescribeCustomerGateways":{
      "name":"DescribeCustomerGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomerGatewaysRequest"},
      "output":{"shape":"DescribeCustomerGatewaysResult"}
    },
    "DescribeDhcpOptions":{
      "name":"DescribeDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDhcpOptionsRequest"},
      "output":{"shape":"DescribeDhcpOptionsResult"}
    },
    "DescribeEgressOnlyInternetGateways":{
      "name":"DescribeEgressOnlyInternetGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEgressOnlyInternetGatewaysRequest"},
      "output":{"shape":"DescribeEgressOnlyInternetGatewaysResult"}
    },
    "DescribeElasticGpus":{
      "name":"DescribeElasticGpus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeElasticGpusRequest"},
      "output":{"shape":"DescribeElasticGpusResult"}
    },
    "DescribeExportImageTasks":{
      "name":"DescribeExportImageTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExportImageTasksRequest"},
      "output":{"shape":"DescribeExportImageTasksResult"}
    },
    "DescribeExportTasks":{
      "name":"DescribeExportTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExportTasksRequest"},
      "output":{"shape":"DescribeExportTasksResult"}
    },
    "DescribeFastSnapshotRestores":{
      "name":"DescribeFastSnapshotRestores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFastSnapshotRestoresRequest"},
      "output":{"shape":"DescribeFastSnapshotRestoresResult"}
    },
    "DescribeFleetHistory":{
      "name":"DescribeFleetHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetHistoryRequest"},
      "output":{"shape":"DescribeFleetHistoryResult"}
    },
    "DescribeFleetInstances":{
      "name":"DescribeFleetInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetInstancesRequest"},
      "output":{"shape":"DescribeFleetInstancesResult"}
    },
    "DescribeFleets":{
      "name":"DescribeFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetsRequest"},
      "output":{"shape":"DescribeFleetsResult"}
    },
    "DescribeFlowLogs":{
      "name":"DescribeFlowLogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFlowLogsRequest"},
      "output":{"shape":"DescribeFlowLogsResult"}
    },
    "DescribeFpgaImageAttribute":{
      "name":"DescribeFpgaImageAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFpgaImageAttributeRequest"},
      "output":{"shape":"DescribeFpgaImageAttributeResult"}
    },
    "DescribeFpgaImages":{
      "name":"DescribeFpgaImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFpgaImagesRequest"},
      "output":{"shape":"DescribeFpgaImagesResult"}
    },
    "DescribeHostReservationOfferings":{
      "name":"DescribeHostReservationOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHostReservationOfferingsRequest"},
      "output":{"shape":"DescribeHostReservationOfferingsResult"}
    },
    "DescribeHostReservations":{
      "name":"DescribeHostReservations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHostReservationsRequest"},
      "output":{"shape":"DescribeHostReservationsResult"}
    },
    "DescribeHosts":{
      "name":"DescribeHosts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHostsRequest"},
      "output":{"shape":"DescribeHostsResult"}
    },
    "DescribeIamInstanceProfileAssociations":{
      "name":"DescribeIamInstanceProfileAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIamInstanceProfileAssociationsRequest"},
      "output":{"shape":"DescribeIamInstanceProfileAssociationsResult"}
    },
    "DescribeIdFormat":{
      "name":"DescribeIdFormat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIdFormatRequest"},
      "output":{"shape":"DescribeIdFormatResult"}
    },
    "DescribeIdentityIdFormat":{
      "name":"DescribeIdentityIdFormat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIdentityIdFormatRequest"},
      "output":{"shape":"DescribeIdentityIdFormatResult"}
    },
    "DescribeImageAttribute":{
      "name":"DescribeImageAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageAttributeRequest"},
      "output":{"shape":"ImageAttribute"}
    },
    "DescribeImages":{
      "name":"DescribeImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImagesRequest"},
      "output":{"shape":"DescribeImagesResult"}
    },
    "DescribeImportImageTasks":{
      "name":"DescribeImportImageTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImportImageTasksRequest"},
      "output":{"shape":"DescribeImportImageTasksResult"}
    },
    "DescribeImportSnapshotTasks":{
      "name":"DescribeImportSnapshotTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImportSnapshotTasksRequest"},
      "output":{"shape":"DescribeImportSnapshotTasksResult"}
    },
    "DescribeInstanceAttribute":{
      "name":"DescribeInstanceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceAttributeRequest"},
      "output":{"shape":"InstanceAttribute"}
    },
    "DescribeInstanceCreditSpecifications":{
      "name":"DescribeInstanceCreditSpecifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceCreditSpecificationsRequest"},
      "output":{"shape":"DescribeInstanceCreditSpecificationsResult"}
    },
    "DescribeInstanceEventNotificationAttributes":{
      "name":"DescribeInstanceEventNotificationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceEventNotificationAttributesRequest"},
      "output":{"shape":"DescribeInstanceEventNotificationAttributesResult"}
    },
    "DescribeInstanceStatus":{
      "name":"DescribeInstanceStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceStatusRequest"},
      "output":{"shape":"DescribeInstanceStatusResult"}
    },
    "DescribeInstanceTypeOfferings":{
      "name":"DescribeInstanceTypeOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceTypeOfferingsRequest"},
      "output":{"shape":"DescribeInstanceTypeOfferingsResult"}
    },
    "DescribeInstanceTypes":{
      "name":"DescribeInstanceTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceTypesRequest"},
      "output":{"shape":"DescribeInstanceTypesResult"}
    },
    "DescribeInstances":{
      "name":"DescribeInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancesRequest"},
      "output":{"shape":"DescribeInstancesResult"}
    },
    "DescribeInternetGateways":{
      "name":"DescribeInternetGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInternetGatewaysRequest"},
      "output":{"shape":"DescribeInternetGatewaysResult"}
    },
    "DescribeIpv6Pools":{
      "name":"DescribeIpv6Pools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIpv6PoolsRequest"},
      "output":{"shape":"DescribeIpv6PoolsResult"}
    },
    "DescribeKeyPairs":{
      "name":"DescribeKeyPairs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeKeyPairsRequest"},
      "output":{"shape":"DescribeKeyPairsResult"}
    },
    "DescribeLaunchTemplateVersions":{
      "name":"DescribeLaunchTemplateVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLaunchTemplateVersionsRequest"},
      "output":{"shape":"DescribeLaunchTemplateVersionsResult"}
    },
    "DescribeLaunchTemplates":{
      "name":"DescribeLaunchTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLaunchTemplatesRequest"},
      "output":{"shape":"DescribeLaunchTemplatesResult"}
    },
    "DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociations":{
      "name":"DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociationsRequest"},
      "output":{"shape":"DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociationsResult"}
    },
    "DescribeLocalGatewayRouteTableVpcAssociations":{
      "name":"DescribeLocalGatewayRouteTableVpcAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocalGatewayRouteTableVpcAssociationsRequest"},
      "output":{"shape":"DescribeLocalGatewayRouteTableVpcAssociationsResult"}
    },
    "DescribeLocalGatewayRouteTables":{
      "name":"DescribeLocalGatewayRouteTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocalGatewayRouteTablesRequest"},
      "output":{"shape":"DescribeLocalGatewayRouteTablesResult"}
    },
    "DescribeLocalGatewayVirtualInterfaceGroups":{
      "name":"DescribeLocalGatewayVirtualInterfaceGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocalGatewayVirtualInterfaceGroupsRequest"},
      "output":{"shape":"DescribeLocalGatewayVirtualInterfaceGroupsResult"}
    },
    "DescribeLocalGatewayVirtualInterfaces":{
      "name":"DescribeLocalGatewayVirtualInterfaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocalGatewayVirtualInterfacesRequest"},
      "output":{"shape":"DescribeLocalGatewayVirtualInterfacesResult"}
    },
    "DescribeLocalGateways":{
      "name":"DescribeLocalGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocalGatewaysRequest"},
      "output":{"shape":"DescribeLocalGatewaysResult"}
    },
    "DescribeManagedPrefixLists":{
      "name":"DescribeManagedPrefixLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeManagedPrefixListsRequest"},
      "output":{"shape":"DescribeManagedPrefixListsResult"}
    },
    "DescribeMovingAddresses":{
      "name":"DescribeMovingAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMovingAddressesRequest"},
      "output":{"shape":"DescribeMovingAddressesResult"}
    },
    "DescribeNatGateways":{
      "name":"DescribeNatGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNatGatewaysRequest"},
      "output":{"shape":"DescribeNatGatewaysResult"}
    },
    "DescribeNetworkAcls":{
      "name":"DescribeNetworkAcls",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNetworkAclsRequest"},
      "output":{"shape":"DescribeNetworkAclsResult"}
    },
    "DescribeNetworkInterfaceAttribute":{
      "name":"DescribeNetworkInterfaceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNetworkInterfaceAttributeRequest"},
      "output":{"shape":"DescribeNetworkInterfaceAttributeResult"}
    },
    "DescribeNetworkInterfacePermissions":{
      "name":"DescribeNetworkInterfacePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNetworkInterfacePermissionsRequest"},
      "output":{"shape":"DescribeNetworkInterfacePermissionsResult"}
    },
    "DescribeNetworkInterfaces":{
      "name":"DescribeNetworkInterfaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNetworkInterfacesRequest"},
      "output":{"shape":"DescribeNetworkInterfacesResult"}
    },
    "DescribePlacementGroups":{
      "name":"DescribePlacementGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePlacementGroupsRequest"},
      "output":{"shape":"DescribePlacementGroupsResult"}
    },
    "DescribePrefixLists":{
      "name":"DescribePrefixLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePrefixListsRequest"},
      "output":{"shape":"DescribePrefixListsResult"}
    },
    "DescribePrincipalIdFormat":{
      "name":"DescribePrincipalIdFormat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePrincipalIdFormatRequest"},
      "output":{"shape":"DescribePrincipalIdFormatResult"}
    },
    "DescribePublicIpv4Pools":{
      "name":"DescribePublicIpv4Pools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePublicIpv4PoolsRequest"},
      "output":{"shape":"DescribePublicIpv4PoolsResult"}
    },
    "DescribeRegions":{
      "name":"DescribeRegions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegionsRequest"},
      "output":{"shape":"DescribeRegionsResult"}
    },
    "DescribeReservedInstances":{
      "name":"DescribeReservedInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedInstancesRequest"},
      "output":{"shape":"DescribeReservedInstancesResult"}
    },
    "DescribeReservedInstancesListings":{
      "name":"DescribeReservedInstancesListings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedInstancesListingsRequest"},
      "output":{"shape":"DescribeReservedInstancesListingsResult"}
    },
    "DescribeReservedInstancesModifications":{
      "name":"DescribeReservedInstancesModifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedInstancesModificationsRequest"},
      "output":{"shape":"DescribeReservedInstancesModificationsResult"}
    },
    "DescribeReservedInstancesOfferings":{
      "name":"DescribeReservedInstancesOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedInstancesOfferingsRequest"},
      "output":{"shape":"DescribeReservedInstancesOfferingsResult"}
    },
    "DescribeRouteTables":{
      "name":"DescribeRouteTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRouteTablesRequest"},
      "output":{"shape":"DescribeRouteTablesResult"}
    },
    "DescribeScheduledInstanceAvailability":{
      "name":"DescribeScheduledInstanceAvailability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScheduledInstanceAvailabilityRequest"},
      "output":{"shape":"DescribeScheduledInstanceAvailabilityResult"}
    },
    "DescribeScheduledInstances":{
      "name":"DescribeScheduledInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScheduledInstancesRequest"},
      "output":{"shape":"DescribeScheduledInstancesResult"}
    },
    "DescribeSecurityGroupReferences":{
      "name":"DescribeSecurityGroupReferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSecurityGroupReferencesRequest"},
      "output":{"shape":"DescribeSecurityGroupReferencesResult"}
    },
    "DescribeSecurityGroups":{
      "name":"DescribeSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSecurityGroupsRequest"},
      "output":{"shape":"DescribeSecurityGroupsResult"}
    },
    "DescribeSnapshotAttribute":{
      "name":"DescribeSnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotAttributeRequest"},
      "output":{"shape":"DescribeSnapshotAttributeResult"}
    },
    "DescribeSnapshots":{
      "name":"DescribeSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotsRequest"},
      "output":{"shape":"DescribeSnapshotsResult"}
    },
    "DescribeSpotDatafeedSubscription":{
      "name":"DescribeSpotDatafeedSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotDatafeedSubscriptionRequest"},
      "output":{"shape":"DescribeSpotDatafeedSubscriptionResult"}
    },
    "DescribeSpotFleetInstances":{
      "name":"DescribeSpotFleetInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotFleetInstancesRequest"},
      "output":{"shape":"DescribeSpotFleetInstancesResponse"}
    },
    "DescribeSpotFleetRequestHistory":{
      "name":"DescribeSpotFleetRequestHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotFleetRequestHistoryRequest"},
      "output":{"shape":"DescribeSpotFleetRequestHistoryResponse"}
    },
    "DescribeSpotFleetRequests":{
      "name":"DescribeSpotFleetRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotFleetRequestsRequest"},
      "output":{"shape":"DescribeSpotFleetRequestsResponse"}
    },
    "DescribeSpotInstanceRequests":{
      "name":"DescribeSpotInstanceRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotInstanceRequestsRequest"},
      "output":{"shape":"DescribeSpotInstanceRequestsResult"}
    },
    "DescribeSpotPriceHistory":{
      "name":"DescribeSpotPriceHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotPriceHistoryRequest"},
      "output":{"shape":"DescribeSpotPriceHistoryResult"}
    },
    "DescribeStaleSecurityGroups":{
      "name":"DescribeStaleSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStaleSecurityGroupsRequest"},
      "output":{"shape":"DescribeStaleSecurityGroupsResult"}
    },
    "DescribeSubnets":{
      "name":"DescribeSubnets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSubnetsRequest"},
      "output":{"shape":"DescribeSubnetsResult"}
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsRequest"},
      "output":{"shape":"DescribeTagsResult"}
    },
    "DescribeTrafficMirrorFilters":{
      "name":"DescribeTrafficMirrorFilters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrafficMirrorFiltersRequest"},
      "output":{"shape":"DescribeTrafficMirrorFiltersResult"}
    },
    "DescribeTrafficMirrorSessions":{
      "name":"DescribeTrafficMirrorSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrafficMirrorSessionsRequest"},
      "output":{"shape":"DescribeTrafficMirrorSessionsResult"}
    },
    "DescribeTrafficMirrorTargets":{
      "name":"DescribeTrafficMirrorTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrafficMirrorTargetsRequest"},
      "output":{"shape":"DescribeTrafficMirrorTargetsResult"}
    },
    "DescribeTransitGatewayAttachments":{
      "name":"DescribeTransitGatewayAttachments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransitGatewayAttachmentsRequest"},
      "output":{"shape":"DescribeTransitGatewayAttachmentsResult"}
    },
    "DescribeTransitGatewayMulticastDomains":{
      "name":"DescribeTransitGatewayMulticastDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransitGatewayMulticastDomainsRequest"},
      "output":{"shape":"DescribeTransitGatewayMulticastDomainsResult"}
    },
    "DescribeTransitGatewayPeeringAttachments":{
      "name":"DescribeTransitGatewayPeeringAttachments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransitGatewayPeeringAttachmentsRequest"},
      "output":{"shape":"DescribeTransitGatewayPeeringAttachmentsResult"}
    },
    "DescribeTransitGatewayRouteTables":{
      "name":"DescribeTransitGatewayRouteTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransitGatewayRouteTablesRequest"},
      "output":{"shape":"DescribeTransitGatewayRouteTablesResult"}
    },
    "DescribeTransitGatewayVpcAttachments":{
      "name":"DescribeTransitGatewayVpcAttachments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransitGatewayVpcAttachmentsRequest"},
      "output":{"shape":"DescribeTransitGatewayVpcAttachmentsResult"}
    },
    "DescribeTransitGateways":{
      "name":"DescribeTransitGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransitGatewaysRequest"},
      "output":{"shape":"DescribeTransitGatewaysResult"}
    },
    "DescribeVolumeAttribute":{
      "name":"DescribeVolumeAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumeAttributeRequest"},
      "output":{"shape":"DescribeVolumeAttributeResult"}
    },
    "DescribeVolumeStatus":{
      "name":"DescribeVolumeStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumeStatusRequest"},
      "output":{"shape":"DescribeVolumeStatusResult"}
    },
    "DescribeVolumes":{
      "name":"DescribeVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumesRequest"},
      "output":{"shape":"DescribeVolumesResult"}
    },
    "DescribeVolumesModifications":{
      "name":"DescribeVolumesModifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumesModificationsRequest"},
      "output":{"shape":"DescribeVolumesModificationsResult"}
    },
    "DescribeVpcAttribute":{
      "name":"DescribeVpcAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcAttributeRequest"},
      "output":{"shape":"DescribeVpcAttributeResult"}
    },
    "DescribeVpcClassicLink":{
      "name":"DescribeVpcClassicLink",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcClassicLinkRequest"},
      "output":{"shape":"DescribeVpcClassicLinkResult"}
    },
    "DescribeVpcClassicLinkDnsSupport":{
      "name":"DescribeVpcClassicLinkDnsSupport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcClassicLinkDnsSupportRequest"},
      "output":{"shape":"DescribeVpcClassicLinkDnsSupportResult"}
    },
    "DescribeVpcEndpointConnectionNotifications":{
      "name":"DescribeVpcEndpointConnectionNotifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointConnectionNotificationsRequest"},
      "output":{"shape":"DescribeVpcEndpointConnectionNotificationsResult"}
    },
    "DescribeVpcEndpointConnections":{
      "name":"DescribeVpcEndpointConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointConnectionsRequest"},
      "output":{"shape":"DescribeVpcEndpointConnectionsResult"}
    },
    "DescribeVpcEndpointServiceConfigurations":{
      "name":"DescribeVpcEndpointServiceConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointServiceConfigurationsRequest"},
      "output":{"shape":"DescribeVpcEndpointServiceConfigurationsResult"}
    },
    "DescribeVpcEndpointServicePermissions":{
      "name":"DescribeVpcEndpointServicePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointServicePermissionsRequest"},
      "output":{"shape":"DescribeVpcEndpointServicePermissionsResult"}
    },
    "DescribeVpcEndpointServices":{
      "name":"DescribeVpcEndpointServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointServicesRequest"},
      "output":{"shape":"DescribeVpcEndpointServicesResult"}
    },
    "DescribeVpcEndpoints":{
      "name":"DescribeVpcEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointsRequest"},
      "output":{"shape":"DescribeVpcEndpointsResult"}
    },
    "DescribeVpcPeeringConnections":{
      "name":"DescribeVpcPeeringConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcPeeringConnectionsRequest"},
      "output":{"shape":"DescribeVpcPeeringConnectionsResult"}
    },
    "DescribeVpcs":{
      "name":"DescribeVpcs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcsRequest"},
      "output":{"shape":"DescribeVpcsResult"}
    },
    "DescribeVpnConnections":{
      "name":"DescribeVpnConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpnConnectionsRequest"},
      "output":{"shape":"DescribeVpnConnectionsResult"}
    },
    "DescribeVpnGateways":{
      "name":"DescribeVpnGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpnGatewaysRequest"},
      "output":{"shape":"DescribeVpnGatewaysResult"}
    },
    "DetachClassicLinkVpc":{
      "name":"DetachClassicLinkVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachClassicLinkVpcRequest"},
      "output":{"shape":"DetachClassicLinkVpcResult"}
    },
    "DetachInternetGateway":{
      "name":"DetachInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachInternetGatewayRequest"}
    },
    "DetachNetworkInterface":{
      "name":"DetachNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachNetworkInterfaceRequest"}
    },
    "DetachVolume":{
      "name":"DetachVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachVolumeRequest"},
      "output":{"shape":"VolumeAttachment"}
    },
    "DetachVpnGateway":{
      "name":"DetachVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachVpnGatewayRequest"}
    },
    "DisableEbsEncryptionByDefault":{
      "name":"DisableEbsEncryptionByDefault",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableEbsEncryptionByDefaultRequest"},
      "output":{"shape":"DisableEbsEncryptionByDefaultResult"}
    },
    "DisableFastSnapshotRestores":{
      "name":"DisableFastSnapshotRestores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableFastSnapshotRestoresRequest"},
      "output":{"shape":"DisableFastSnapshotRestoresResult"}
    },
    "DisableTransitGatewayRouteTablePropagation":{
      "name":"DisableTransitGatewayRouteTablePropagation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableTransitGatewayRouteTablePropagationRequest"},
      "output":{"shape":"DisableTransitGatewayRouteTablePropagationResult"}
    },
    "DisableVgwRoutePropagation":{
      "name":"DisableVgwRoutePropagation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableVgwRoutePropagationRequest"}
    },
    "DisableVpcClassicLink":{
      "name":"DisableVpcClassicLink",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableVpcClassicLinkRequest"},
      "output":{"shape":"DisableVpcClassicLinkResult"}
    },
    "DisableVpcClassicLinkDnsSupport":{
      "name":"DisableVpcClassicLinkDnsSupport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableVpcClassicLinkDnsSupportRequest"},
      "output":{"shape":"DisableVpcClassicLinkDnsSupportResult"}
    },
    "DisassociateAddress":{
      "name":"DisassociateAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateAddressRequest"}
    },
    "DisassociateClientVpnTargetNetwork":{
      "name":"DisassociateClientVpnTargetNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateClientVpnTargetNetworkRequest"},
      "output":{"shape":"DisassociateClientVpnTargetNetworkResult"}
    },
    "DisassociateEnclaveCertificateIamRole":{
      "name":"DisassociateEnclaveCertificateIamRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateEnclaveCertificateIamRoleRequest"},
      "output":{"shape":"DisassociateEnclaveCertificateIamRoleResult"}
    },
    "DisassociateIamInstanceProfile":{
      "name":"DisassociateIamInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateIamInstanceProfileRequest"},
      "output":{"shape":"DisassociateIamInstanceProfileResult"}
    },
    "DisassociateRouteTable":{
      "name":"DisassociateRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateRouteTableRequest"}
    },
    "DisassociateSubnetCidrBlock":{
      "name":"DisassociateSubnetCidrBlock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateSubnetCidrBlockRequest"},
      "output":{"shape":"DisassociateSubnetCidrBlockResult"}
    },
    "DisassociateTransitGatewayMulticastDomain":{
      "name":"DisassociateTransitGatewayMulticastDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateTransitGatewayMulticastDomainRequest"},
      "output":{"shape":"DisassociateTransitGatewayMulticastDomainResult"}
    },
    "DisassociateTransitGatewayRouteTable":{
      "name":"DisassociateTransitGatewayRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateTransitGatewayRouteTableRequest"},
      "output":{"shape":"DisassociateTransitGatewayRouteTableResult"}
    },
    "DisassociateVpcCidrBlock":{
      "name":"DisassociateVpcCidrBlock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateVpcCidrBlockRequest"},
      "output":{"shape":"DisassociateVpcCidrBlockResult"}
    },
    "EnableEbsEncryptionByDefault":{
      "name":"EnableEbsEncryptionByDefault",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableEbsEncryptionByDefaultRequest"},
      "output":{"shape":"EnableEbsEncryptionByDefaultResult"}
    },
    "EnableFastSnapshotRestores":{
      "name":"EnableFastSnapshotRestores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableFastSnapshotRestoresRequest"},
      "output":{"shape":"EnableFastSnapshotRestoresResult"}
    },
    "EnableTransitGatewayRouteTablePropagation":{
      "name":"EnableTransitGatewayRouteTablePropagation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableTransitGatewayRouteTablePropagationRequest"},
      "output":{"shape":"EnableTransitGatewayRouteTablePropagationResult"}
    },
    "EnableVgwRoutePropagation":{
      "name":"EnableVgwRoutePropagation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableVgwRoutePropagationRequest"}
    },
    "EnableVolumeIO":{
      "name":"EnableVolumeIO",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableVolumeIORequest"}
    },
    "EnableVpcClassicLink":{
      "name":"EnableVpcClassicLink",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableVpcClassicLinkRequest"},
      "output":{"shape":"EnableVpcClassicLinkResult"}
    },
    "EnableVpcClassicLinkDnsSupport":{
      "name":"EnableVpcClassicLinkDnsSupport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableVpcClassicLinkDnsSupportRequest"},
      "output":{"shape":"EnableVpcClassicLinkDnsSupportResult"}
    },
    "ExportClientVpnClientCertificateRevocationList":{
      "name":"ExportClientVpnClientCertificateRevocationList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportClientVpnClientCertificateRevocationListRequest"},
      "output":{"shape":"ExportClientVpnClientCertificateRevocationListResult"}
    },
    "ExportClientVpnClientConfiguration":{
      "name":"ExportClientVpnClientConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportClientVpnClientConfigurationRequest"},
      "output":{"shape":"ExportClientVpnClientConfigurationResult"}
    },
    "ExportImage":{
      "name":"ExportImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportImageRequest"},
      "output":{"shape":"ExportImageResult"}
    },
    "ExportTransitGatewayRoutes":{
      "name":"ExportTransitGatewayRoutes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportTransitGatewayRoutesRequest"},
      "output":{"shape":"ExportTransitGatewayRoutesResult"}
    },
    "GetAssociatedEnclaveCertificateIamRoles":{
      "name":"GetAssociatedEnclaveCertificateIamRoles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAssociatedEnclaveCertificateIamRolesRequest"},
      "output":{"shape":"GetAssociatedEnclaveCertificateIamRolesResult"}
    },
    "GetAssociatedIpv6PoolCidrs":{
      "name":"GetAssociatedIpv6PoolCidrs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAssociatedIpv6PoolCidrsRequest"},
      "output":{"shape":"GetAssociatedIpv6PoolCidrsResult"}
    },
    "GetCapacityReservationUsage":{
      "name":"GetCapacityReservationUsage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCapacityReservationUsageRequest"},
      "output":{"shape":"GetCapacityReservationUsageResult"}
    },
    "GetCoipPoolUsage":{
      "name":"GetCoipPoolUsage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCoipPoolUsageRequest"},
      "output":{"shape":"GetCoipPoolUsageResult"}
    },
    "GetConsoleOutput":{
      "name":"GetConsoleOutput",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConsoleOutputRequest"},
      "output":{"shape":"GetConsoleOutputResult"}
    },
    "GetConsoleScreenshot":{
      "name":"GetConsoleScreenshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConsoleScreenshotRequest"},
      "output":{"shape":"GetConsoleScreenshotResult"}
    },
    "GetDefaultCreditSpecification":{
      "name":"GetDefaultCreditSpecification",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDefaultCreditSpecificationRequest"},
      "output":{"shape":"GetDefaultCreditSpecificationResult"}
    },
    "GetEbsDefaultKmsKeyId":{
      "name":"GetEbsDefaultKmsKeyId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEbsDefaultKmsKeyIdRequest"},
      "output":{"shape":"GetEbsDefaultKmsKeyIdResult"}
    },
    "GetEbsEncryptionByDefault":{
      "name":"GetEbsEncryptionByDefault",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEbsEncryptionByDefaultRequest"},
      "output":{"shape":"GetEbsEncryptionByDefaultResult"}
    },
    "GetGroupsForCapacityReservation":{
      "name":"GetGroupsForCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupsForCapacityReservationRequest"},
      "output":{"shape":"GetGroupsForCapacityReservationResult"}
    },
    "GetHostReservationPurchasePreview":{
      "name":"GetHostReservationPurchasePreview",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetHostReservationPurchasePreviewRequest"},
      "output":{"shape":"GetHostReservationPurchasePreviewResult"}
    },
    "GetLaunchTemplateData":{
      "name":"GetLaunchTemplateData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLaunchTemplateDataRequest"},
      "output":{"shape":"GetLaunchTemplateDataResult"}
    },
    "GetManagedPrefixListAssociations":{
      "name":"GetManagedPrefixListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetManagedPrefixListAssociationsRequest"},
      "output":{"shape":"GetManagedPrefixListAssociationsResult"}
    },
    "GetManagedPrefixListEntries":{
      "name":"GetManagedPrefixListEntries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetManagedPrefixListEntriesRequest"},
      "output":{"shape":"GetManagedPrefixListEntriesResult"}
    },
    "GetPasswordData":{
      "name":"GetPasswordData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPasswordDataRequest"},
      "output":{"shape":"GetPasswordDataResult"}
    },
    "GetReservedInstancesExchangeQuote":{
      "name":"GetReservedInstancesExchangeQuote",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservedInstancesExchangeQuoteRequest"},
      "output":{"shape":"GetReservedInstancesExchangeQuoteResult"}
    },
    "GetTransitGatewayAttachmentPropagations":{
      "name":"GetTransitGatewayAttachmentPropagations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTransitGatewayAttachmentPropagationsRequest"},
      "output":{"shape":"GetTransitGatewayAttachmentPropagationsResult"}
    },
    "GetTransitGatewayMulticastDomainAssociations":{
      "name":"GetTransitGatewayMulticastDomainAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTransitGatewayMulticastDomainAssociationsRequest"},
      "output":{"shape":"GetTransitGatewayMulticastDomainAssociationsResult"}
    },
    "GetTransitGatewayPrefixListReferences":{
      "name":"GetTransitGatewayPrefixListReferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTransitGatewayPrefixListReferencesRequest"},
      "output":{"shape":"GetTransitGatewayPrefixListReferencesResult"}
    },
    "GetTransitGatewayRouteTableAssociations":{
      "name":"GetTransitGatewayRouteTableAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTransitGatewayRouteTableAssociationsRequest"},
      "output":{"shape":"GetTransitGatewayRouteTableAssociationsResult"}
    },
    "GetTransitGatewayRouteTablePropagations":{
      "name":"GetTransitGatewayRouteTablePropagations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTransitGatewayRouteTablePropagationsRequest"},
      "output":{"shape":"GetTransitGatewayRouteTablePropagationsResult"}
    },
    "ImportClientVpnClientCertificateRevocationList":{
      "name":"ImportClientVpnClientCertificateRevocationList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportClientVpnClientCertificateRevocationListRequest"},
      "output":{"shape":"ImportClientVpnClientCertificateRevocationListResult"}
    },
    "ImportImage":{
      "name":"ImportImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportImageRequest"},
      "output":{"shape":"ImportImageResult"}
    },
    "ImportInstance":{
      "name":"ImportInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportInstanceRequest"},
      "output":{"shape":"ImportInstanceResult"}
    },
    "ImportKeyPair":{
      "name":"ImportKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportKeyPairRequest"},
      "output":{"shape":"ImportKeyPairResult"}
    },
    "ImportSnapshot":{
      "name":"ImportSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportSnapshotRequest"},
      "output":{"shape":"ImportSnapshotResult"}
    },
    "ImportVolume":{
      "name":"ImportVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportVolumeRequest"},
      "output":{"shape":"ImportVolumeResult"}
    },
    "ModifyAvailabilityZoneGroup":{
      "name":"ModifyAvailabilityZoneGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyAvailabilityZoneGroupRequest"},
      "output":{"shape":"ModifyAvailabilityZoneGroupResult"}
    },
    "ModifyCapacityReservation":{
      "name":"ModifyCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyCapacityReservationRequest"},
      "output":{"shape":"ModifyCapacityReservationResult"}
    },
    "ModifyClientVpnEndpoint":{
      "name":"ModifyClientVpnEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClientVpnEndpointRequest"},
      "output":{"shape":"ModifyClientVpnEndpointResult"}
    },
    "ModifyDefaultCreditSpecification":{
      "name":"ModifyDefaultCreditSpecification",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDefaultCreditSpecificationRequest"},
      "output":{"shape":"ModifyDefaultCreditSpecificationResult"}
    },
    "ModifyEbsDefaultKmsKeyId":{
      "name":"ModifyEbsDefaultKmsKeyId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEbsDefaultKmsKeyIdRequest"},
      "output":{"shape":"ModifyEbsDefaultKmsKeyIdResult"}
    },
    "ModifyFleet":{
      "name":"ModifyFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyFleetRequest"},
      "output":{"shape":"ModifyFleetResult"}
    },
    "ModifyFpgaImageAttribute":{
      "name":"ModifyFpgaImageAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyFpgaImageAttributeRequest"},
      "output":{"shape":"ModifyFpgaImageAttributeResult"}
    },
    "ModifyHosts":{
      "name":"ModifyHosts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyHostsRequest"},
      "output":{"shape":"ModifyHostsResult"}
    },
    "ModifyIdFormat":{
      "name":"ModifyIdFormat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyIdFormatRequest"}
    },
    "ModifyIdentityIdFormat":{
      "name":"ModifyIdentityIdFormat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyIdentityIdFormatRequest"}
    },
    "ModifyImageAttribute":{
      "name":"ModifyImageAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyImageAttributeRequest"}
    },
    "ModifyInstanceAttribute":{
      "name":"ModifyInstanceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceAttributeRequest"}
    },
    "ModifyInstanceCapacityReservationAttributes":{
      "name":"ModifyInstanceCapacityReservationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceCapacityReservationAttributesRequest"},
      "output":{"shape":"ModifyInstanceCapacityReservationAttributesResult"}
    },
    "ModifyInstanceCreditSpecification":{
      "name":"ModifyInstanceCreditSpecification",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceCreditSpecificationRequest"},
      "output":{"shape":"ModifyInstanceCreditSpecificationResult"}
    },
    "ModifyInstanceEventStartTime":{
      "name":"ModifyInstanceEventStartTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceEventStartTimeRequest"},
      "output":{"shape":"ModifyInstanceEventStartTimeResult"}
    },
    "ModifyInstanceMetadataOptions":{
      "name":"ModifyInstanceMetadataOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceMetadataOptionsRequest"},
      "output":{"shape":"ModifyInstanceMetadataOptionsResult"}
    },
    "ModifyInstancePlacement":{
      "name":"ModifyInstancePlacement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstancePlacementRequest"},
      "output":{"shape":"ModifyInstancePlacementResult"}
    },
    "ModifyLaunchTemplate":{
      "name":"ModifyLaunchTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyLaunchTemplateRequest"},
      "output":{"shape":"ModifyLaunchTemplateResult"}
    },
    "ModifyManagedPrefixList":{
      "name":"ModifyManagedPrefixList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyManagedPrefixListRequest"},
      "output":{"shape":"ModifyManagedPrefixListResult"}
    },
    "ModifyNetworkInterfaceAttribute":{
      "name":"ModifyNetworkInterfaceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyNetworkInterfaceAttributeRequest"}
    },
    "ModifyReservedInstances":{
      "name":"ModifyReservedInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReservedInstancesRequest"},
      "output":{"shape":"ModifyReservedInstancesResult"}
    },
    "ModifySnapshotAttribute":{
      "name":"ModifySnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySnapshotAttributeRequest"}
    },
    "ModifySpotFleetRequest":{
      "name":"ModifySpotFleetRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySpotFleetRequestRequest"},
      "output":{"shape":"ModifySpotFleetRequestResponse"}
    },
    "ModifySubnetAttribute":{
      "name":"ModifySubnetAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySubnetAttributeRequest"}
    },
    "ModifyTrafficMirrorFilterNetworkServices":{
      "name":"ModifyTrafficMirrorFilterNetworkServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTrafficMirrorFilterNetworkServicesRequest"},
      "output":{"shape":"ModifyTrafficMirrorFilterNetworkServicesResult"}
    },
    "ModifyTrafficMirrorFilterRule":{
      "name":"ModifyTrafficMirrorFilterRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTrafficMirrorFilterRuleRequest"},
      "output":{"shape":"ModifyTrafficMirrorFilterRuleResult"}
    },
    "ModifyTrafficMirrorSession":{
      "name":"ModifyTrafficMirrorSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTrafficMirrorSessionRequest"},
      "output":{"shape":"ModifyTrafficMirrorSessionResult"}
    },
    "ModifyTransitGateway":{
      "name":"ModifyTransitGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTransitGatewayRequest"},
      "output":{"shape":"ModifyTransitGatewayResult"}
    },
    "ModifyTransitGatewayPrefixListReference":{
      "name":"ModifyTransitGatewayPrefixListReference",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTransitGatewayPrefixListReferenceRequest"},
      "output":{"shape":"ModifyTransitGatewayPrefixListReferenceResult"}
    },
    "ModifyTransitGatewayVpcAttachment":{
      "name":"ModifyTransitGatewayVpcAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTransitGatewayVpcAttachmentRequest"},
      "output":{"shape":"ModifyTransitGatewayVpcAttachmentResult"}
    },
    "ModifyVolume":{
      "name":"ModifyVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVolumeRequest"},
      "output":{"shape":"ModifyVolumeResult"}
    },
    "ModifyVolumeAttribute":{
      "name":"ModifyVolumeAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVolumeAttributeRequest"}
    },
    "ModifyVpcAttribute":{
      "name":"ModifyVpcAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcAttributeRequest"}
    },
    "ModifyVpcEndpoint":{
      "name":"ModifyVpcEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcEndpointRequest"},
      "output":{"shape":"ModifyVpcEndpointResult"}
    },
    "ModifyVpcEndpointConnectionNotification":{
      "name":"ModifyVpcEndpointConnectionNotification",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcEndpointConnectionNotificationRequest"},
      "output":{"shape":"ModifyVpcEndpointConnectionNotificationResult"}
    },
    "ModifyVpcEndpointServiceConfiguration":{
      "name":"ModifyVpcEndpointServiceConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcEndpointServiceConfigurationRequest"},
      "output":{"shape":"ModifyVpcEndpointServiceConfigurationResult"}
    },
    "ModifyVpcEndpointServicePermissions":{
      "name":"ModifyVpcEndpointServicePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcEndpointServicePermissionsRequest"},
      "output":{"shape":"ModifyVpcEndpointServicePermissionsResult"}
    },
    "ModifyVpcPeeringConnectionOptions":{
      "name":"ModifyVpcPeeringConnectionOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcPeeringConnectionOptionsRequest"},
      "output":{"shape":"ModifyVpcPeeringConnectionOptionsResult"}
    },
    "ModifyVpcTenancy":{
      "name":"ModifyVpcTenancy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcTenancyRequest"},
      "output":{"shape":"ModifyVpcTenancyResult"}
    },
    "ModifyVpnConnection":{
      "name":"ModifyVpnConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpnConnectionRequest"},
      "output":{"shape":"ModifyVpnConnectionResult"}
    },
    "ModifyVpnConnectionOptions":{
      "name":"ModifyVpnConnectionOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpnConnectionOptionsRequest"},
      "output":{"shape":"ModifyVpnConnectionOptionsResult"}
    },
    "ModifyVpnTunnelCertificate":{
      "name":"ModifyVpnTunnelCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpnTunnelCertificateRequest"},
      "output":{"shape":"ModifyVpnTunnelCertificateResult"}
    },
    "ModifyVpnTunnelOptions":{
      "name":"ModifyVpnTunnelOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpnTunnelOptionsRequest"},
      "output":{"shape":"ModifyVpnTunnelOptionsResult"}
    },
    "MonitorInstances":{
      "name":"MonitorInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MonitorInstancesRequest"},
      "output":{"shape":"MonitorInstancesResult"}
    },
    "MoveAddressToVpc":{
      "name":"MoveAddressToVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MoveAddressToVpcRequest"},
      "output":{"shape":"MoveAddressToVpcResult"}
    },
    "ProvisionByoipCidr":{
      "name":"ProvisionByoipCidr",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ProvisionByoipCidrRequest"},
[...]
