{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/7DxE-WvhKyxBCPMjpNGA9QTXnO8\"",
 "discoveryVersion": "v1",
 "id": "content:v2",
 "name": "content",
 "canonicalName": "Shopping Content",
 "version": "v2",
 "revision": "20170905",
 "title": "Content API for Shopping",
 "description": "Manages product items, inventory, and Merchant Center accounts for Google Shopping.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
  "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
 },
 "documentationLink": "https://developers.google.com/shopping-content",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/content/v2/",
 "basePath": "/content/v2/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "content/v2/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/content": {
     "description": "Manage your product listings and accounts for Google Shopping"
    }
   }
  }
 },
 "schemas": {
  "Account": {
   "id": "Account",
   "type": "object",
   "description": "Account data.",
   "properties": {
    "adultContent": {
     "type": "boolean",
     "description": "Indicates whether the merchant sells adult content."
    },
    "adwordsLinks": {
     "type": "array",
     "description": "List of linked AdWords accounts that are active or pending approval. To create a new link request, add a new link with status active to the list. It will remain in a pending state until approved or rejected either in the AdWords interface or through the  AdWords API. To delete an active link, or to cancel a link request, remove it from the list.",
     "items": {
      "$ref": "AccountAdwordsLink"
     }
    },
    "id": {
     "type": "string",
     "description": "Merchant Center account ID.",
     "format": "uint64",
     "annotations": {
      "required": [
       "content.accounts.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#account\".",
     "default": "content#account"
    },
    "name": {
     "type": "string",
     "description": "Display name for the account.",
     "annotations": {
      "required": [
       "content.accounts.insert",
       "content.accounts.update"
      ]
     }
    },
    "reviewsUrl": {
     "type": "string",
     "description": "URL for individual seller reviews, i.e., reviews for each child account."
    },
    "sellerId": {
     "type": "string",
     "description": "Client-specific, locally-unique, internal ID for the child account."
    },
    "users": {
     "type": "array",
     "description": "Users with access to the account. Every account (except for subaccounts) must have at least one admin user.",
     "items": {
      "$ref": "AccountUser"
     }
    },
    "websiteUrl": {
     "type": "string",
     "description": "The merchant's website."
    }
   }
  },
  "AccountAdwordsLink": {
   "id": "AccountAdwordsLink",
   "type": "object",
   "properties": {
    "adwordsId": {
     "type": "string",
     "description": "Customer ID of the AdWords account.",
     "format": "uint64"
    },
    "status": {
     "type": "string",
     "description": "Status of the link between this Merchant Center account and the AdWords account. Upon retrieval, it represents the actual status of the link and can be either active if it was approved in Google AdWords or pending if it's pending approval. Upon insertion, it represents the intended status of the link. Re-uploading a link with status active when it's still pending or with status pending when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status inactive is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending."
    }
   }
  },
  "AccountIdentifier": {
   "id": "AccountIdentifier",
   "type": "object",
   "properties": {
    "aggregatorId": {
     "type": "string",
     "description": "The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount).",
     "format": "uint64"
    },
    "merchantId": {
     "type": "string",
     "description": "The merchant account ID, set for individual accounts and subaccounts.",
     "format": "uint64"
    }
   }
  },
  "AccountStatus": {
   "id": "AccountStatus",
   "type": "object",
   "description": "The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account for which the status is reported."
    },
    "accountLevelIssues": {
     "type": "array",
     "description": "A list of account level issues.",
     "items": {
      "$ref": "AccountStatusAccountLevelIssue"
     }
    },
    "dataQualityIssues": {
     "type": "array",
     "description": "A list of data quality issues.",
     "items": {
      "$ref": "AccountStatusDataQualityIssue"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountStatus\".",
     "default": "content#accountStatus"
    },
    "websiteClaimed": {
     "type": "boolean",
     "description": "Whether the account's website is claimed or not."
    }
   }
  },
  "AccountStatusAccountLevelIssue": {
   "id": "AccountStatusAccountLevelIssue",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "Country for which this issue is reported."
    },
    "detail": {
     "type": "string",
     "description": "Additional details about the issue."
    },
    "id": {
     "type": "string",
     "description": "Issue identifier."
    },
    "severity": {
     "type": "string",
     "description": "Severity of the issue."
    },
    "title": {
     "type": "string",
     "description": "Short description of the issue."
    }
   }
  },
  "AccountStatusDataQualityIssue": {
   "id": "AccountStatusDataQualityIssue",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "Country for which this issue is reported."
    },
    "detail": {
     "type": "string",
     "description": "A more detailed description of the issue."
    },
    "displayedValue": {
     "type": "string",
     "description": "Actual value displayed on the landing page."
    },
    "exampleItems": {
     "type": "array",
     "description": "Example items featuring the issue.",
     "items": {
      "$ref": "AccountStatusExampleItem"
     }
    },
    "id": {
     "type": "string",
     "description": "Issue identifier."
    },
    "lastChecked": {
     "type": "string",
     "description": "Last time the account was checked for this issue."
    },
    "location": {
     "type": "string",
     "description": "The attribute name that is relevant for the issue."
    },
    "numItems": {
     "type": "integer",
     "description": "Number of items in the account found to have the said issue.",
     "format": "uint32"
    },
    "severity": {
     "type": "string",
     "description": "Severity of the problem."
    },
    "submittedValue": {
     "type": "string",
     "description": "Submitted value that causes the issue."
    }
   }
  },
  "AccountStatusExampleItem": {
   "id": "AccountStatusExampleItem",
   "type": "object",
   "description": "An example of an item that has poor data quality. An item value on the landing page differs from what is submitted, or conflicts with a policy.",
   "properties": {
    "itemId": {
     "type": "string",
     "description": "Unique item ID as specified in the uploaded product data."
    },
    "link": {
     "type": "string",
     "description": "Landing page of the item."
    },
    "submittedValue": {
     "type": "string",
     "description": "The item value that was submitted."
    },
    "title": {
     "type": "string",
     "description": "Title of the item."
    },
    "valueOnLandingPage": {
     "type": "string",
     "description": "The actual value on the landing page."
    }
   }
  },
  "AccountTax": {
   "id": "AccountTax",
   "type": "object",
   "description": "The tax settings of a merchant account.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account to which these account tax settings belong.",
     "format": "uint64",
     "annotations": {
      "required": [
       "content.accounttax.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountTax\".",
     "default": "content#accountTax"
    },
    "rules": {
     "type": "array",
     "description": "Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.",
     "items": {
      "$ref": "AccountTaxTaxRule"
     }
    }
   }
  },
  "AccountTaxTaxRule": {
   "id": "AccountTaxTaxRule",
   "type": "object",
   "description": "Tax calculation rule to apply in a state or province (USA only).",
   "properties": {
    "country": {
     "type": "string",
     "description": "Country code in which tax is applicable."
    },
    "locationId": {
     "type": "string",
     "description": "State (or province) is which the tax is applicable, described by its location id (also called criteria id).",
     "format": "uint64",
     "annotations": {
      "required": [
       "content.accounttax.update"
      ]
     }
    },
    "ratePercent": {
     "type": "string",
     "description": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative."
    },
    "shippingTaxed": {
     "type": "boolean",
     "description": "If true, shipping charges are also taxed."
    },
    "useGlobalRate": {
     "type": "boolean",
     "description": "Whether the tax rate is taken from a global tax table or specified explicitly."
    }
   }
  },
  "AccountUser": {
   "id": "AccountUser",
   "type": "object",
   "properties": {
    "admin": {
     "type": "boolean",
     "description": "Whether user is an admin."
    },
    "emailAddress": {
     "type": "string",
     "description": "User's email address."
    }
   }
  },
  "AccountsAuthInfoResponse": {
   "id": "AccountsAuthInfoResponse",
   "type": "object",
   "properties": {
    "accountIdentifiers": {
     "type": "array",
     "description": "The account identifiers corresponding to the authenticated user.\n- For an individual account: only the merchant ID is defined\n- For an aggregator: only the aggregator ID is defined\n- For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined.",
     "items": {
      "$ref": "AccountIdentifier"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsAuthInfoResponse\".",
     "default": "content#accountsAuthInfoResponse"
    }
   }
  },
  "AccountsClaimWebsiteResponse": {
   "id": "AccountsClaimWebsiteResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsClaimWebsiteResponse\".",
     "default": "content#accountsClaimWebsiteResponse"
    }
   }
  },
  "AccountsCustomBatchRequest": {
   "id": "AccountsCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "AccountsCustomBatchRequestEntry"
     }
    }
   }
  },
  "AccountsCustomBatchRequestEntry": {
   "id": "AccountsCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accounts request.",
   "properties": {
    "account": {
     "$ref": "Account",
     "description": "The account to create or update. Only defined if the method is insert or update."
    },
    "accountId": {
     "type": "string",
     "description": "The ID of the targeted account. Only defined if the method is get, delete or claimwebsite.",
     "format": "uint64"
    },
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "force": {
     "type": "boolean",
     "description": "Whether the account should be deleted if the account has offers. Only applicable if the method is delete."
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string"
    },
    "overwrite": {
     "type": "boolean",
     "description": "Only applicable if the method is claimwebsite. Indicates whether or not to take the claim from another account in case there is a conflict."
    }
   }
  },
  "AccountsCustomBatchResponse": {
   "id": "AccountsCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "AccountsCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponse\".",
     "default": "content#accountsCustomBatchResponse"
    }
   }
  },
  "AccountsCustomBatchResponseEntry": {
   "id": "AccountsCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accounts response.",
   "properties": {
    "account": {
     "$ref": "Account",
     "description": "The retrieved, created, or updated account. Not defined if the method was delete or claimwebsite."
    },
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponseEntry\".",
     "default": "content#accountsCustomBatchResponseEntry"
    }
   }
  },
  "AccountsListResponse": {
   "id": "AccountsListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsListResponse\".",
     "default": "content#accountsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of accounts."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "Account"
     }
    }
   }
  },
  "AccountstatusesCustomBatchRequest": {
   "id": "AccountstatusesCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "AccountstatusesCustomBatchRequestEntry"
     }
    }
   }
  },
  "AccountstatusesCustomBatchRequestEntry": {
   "id": "AccountstatusesCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accountstatuses request.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the (sub-)account whose status to get.",
     "format": "uint64"
    },
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string",
     "description": "The method (get)."
    }
   }
  },
  "AccountstatusesCustomBatchResponse": {
   "id": "AccountstatusesCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "AccountstatusesCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesCustomBatchResponse\".",
     "default": "content#accountstatusesCustomBatchResponse"
    }
   }
  },
  "AccountstatusesCustomBatchResponseEntry": {
   "id": "AccountstatusesCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accountstatuses response.",
   "properties": {
    "accountStatus": {
     "$ref": "AccountStatus",
     "description": "The requested account status. Defined if and only if the request was successful."
    },
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    }
   }
  },
  "AccountstatusesListResponse": {
   "id": "AccountstatusesListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesListResponse\".",
     "default": "content#accountstatusesListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of account statuses."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "AccountStatus"
     }
    }
   }
  },
  "AccounttaxCustomBatchRequest": {
   "id": "AccounttaxCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "AccounttaxCustomBatchRequestEntry"
     }
    }
   }
  },
  "AccounttaxCustomBatchRequestEntry": {
   "id": "AccounttaxCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accounttax request.",
   "properties": {
    "accountId": {
     "type": "string",
     "description": "The ID of the account for which to get/update account tax settings.",
     "format": "uint64"
    },
    "accountTax": {
     "$ref": "AccountTax",
     "description": "The account tax settings to update. Only defined if the method is update."
    },
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string"
    }
   }
  },
  "AccounttaxCustomBatchResponse": {
   "id": "AccounttaxCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "AccounttaxCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponse\".",
     "default": "content#accounttaxCustomBatchResponse"
    }
   }
  },
  "AccounttaxCustomBatchResponseEntry": {
   "id": "AccounttaxCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch accounttax response.",
   "properties": {
    "accountTax": {
     "$ref": "AccountTax",
     "description": "The retrieved or updated account tax settings."
    },
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponseEntry\".",
     "default": "content#accounttaxCustomBatchResponseEntry"
    }
   }
  },
  "AccounttaxListResponse": {
   "id": "AccounttaxListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxListResponse\".",
     "default": "content#accounttaxListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of account tax settings."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "AccountTax"
     }
    }
   }
  },
  "CarrierRate": {
   "id": "CarrierRate",
   "type": "object",
   "properties": {
    "carrierName": {
     "type": "string",
     "description": "Carrier service, such as \"UPS\" or \"Fedex\". The list of supported carriers can be retrieved via the getSupportedCarriers method. Required."
    },
    "carrierService": {
     "type": "string",
     "description": "Carrier service, such as \"ground\" or \"2 days\". The list of supported services for a carrier can be retrieved via the getSupportedCarriers method. Required."
    },
    "flatAdjustment": {
     "$ref": "Price",
     "description": "Additive shipping rate modifier. Can be negative. For example { \"value\": \"1\", \"currency\" : \"USD\" } adds $1 to the rate, { \"value\": \"-3\", \"currency\" : \"USD\" } removes $3 from the rate. Optional."
    },
    "name": {
     "type": "string",
     "description": "Name of the carrier rate. Must be unique per rate group. Required."
    },
    "originPostalCode": {
     "type": "string",
     "description": "Shipping origin for this carrier rate. Required."
    },
    "percentageAdjustment": {
     "type": "string",
     "description": "Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example \"5.4\" increases the rate by 5.4%, \"-3\" decreases the rate by 3%. Optional."
    }
   }
  },
  "CarriersCarrier": {
   "id": "CarriersCarrier",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "The CLDR country code of the carrier (e.g., \"US\"). Always present."
    },
    "name": {
     "type": "string",
     "description": "The name of the carrier (e.g., \"UPS\"). Always present."
    },
    "services": {
     "type": "array",
     "description": "A list of supported services (e.g., \"ground\") for that carrier. Contains at least one service.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Datafeed": {
   "id": "Datafeed",
   "type": "object",
   "description": "Datafeed configuration data.",
   "properties": {
    "attributeLanguage": {
     "type": "string",
     "description": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed."
    },
    "contentLanguage": {
     "type": "string",
     "description": "The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for targetCountry.",
     "annotations": {
      "required": [
       "content.datafeeds.insert"
      ]
     }
    },
    "contentType": {
     "type": "string",
     "description": "The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported.",
     "annotations": {
      "required": [
       "content.datafeeds.insert",
       "content.datafeeds.update"
      ]
     }
    },
    "fetchSchedule": {
     "$ref": "DatafeedFetchSchedule",
     "description": "Fetch schedule for the feed file."
    },
    "fileName": {
     "type": "string",
     "description": "The filename of the feed. All feeds must have a unique file name.",
     "annotations": {
      "required": [
       "content.datafeeds.insert",
       "content.datafeeds.update"
      ]
     }
    },
    "format": {
     "$ref": "DatafeedFormat",
     "description": "Format of the feed file."
    },
    "id": {
     "type": "string",
     "description": "The ID of the data feed.",
     "format": "int64",
     "annotations": {
      "required": [
       "content.datafeeds.update"
      ]
     }
    },
    "intendedDestinations": {
     "type": "array",
     "description": "The list of intended destinations (corresponds to checked check boxes in Merchant Center).",
     "items": {
      "type": "string"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeed\".",
     "default": "content#datafeed"
    },
    "name": {
     "type": "string",
     "description": "A descriptive name of the data feed.",
     "annotations": {
      "required": [
       "content.datafeeds.insert"
      ]
     }
    },
    "targetCountry": {
     "type": "string",
     "description": "The country where the items in the feed will be included in the search index, represented as a CLDR territory code.",
     "annotations": {
      "required": [
       "content.datafeeds.insert",
       "content.datafeeds.update"
      ]
     }
    }
   }
  },
  "DatafeedFetchSchedule": {
   "id": "DatafeedFetchSchedule",
   "type": "object",
   "description": "The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.",
   "properties": {
    "dayOfMonth": {
     "type": "integer",
     "description": "The day of the month the feed file should be fetched (1-31).",
     "format": "uint32"
    },
    "fetchUrl": {
     "type": "string",
     "description": "The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols."
    },
    "hour": {
     "type": "integer",
     "description": "The hour of the day the feed file should be fetched (0-23).",
     "format": "uint32"
    },
    "minuteOfHour": {
     "type": "integer",
     "description": "The minute of the hour the feed file should be fetched (0-59). Read-only.",
     "format": "uint32"
    },
    "password": {
     "type": "string",
     "description": "An optional password for fetch_url."
    },
    "paused": {
     "type": "boolean",
     "description": "Whether the scheduled fetch is paused or not."
    },
    "timeZone": {
     "type": "string",
     "description": "Time zone used for schedule. UTC by default. E.g., \"America/Los_Angeles\"."
    },
    "username": {
     "type": "string",
     "description": "An optional user name for fetch_url."
    },
    "weekday": {
     "type": "string",
     "description": "The day of the week the feed file should be fetched."
    }
   }
  },
  "DatafeedFormat": {
   "id": "DatafeedFormat",
   "type": "object",
   "properties": {
    "columnDelimiter": {
     "type": "string",
     "description": "Delimiter for the separation of values in a delimiter-separated values feed. If not specified, the delimiter will be auto-detected. Ignored for non-DSV data feeds."
    },
    "fileEncoding": {
     "type": "string",
     "description": "Character encoding scheme of the data feed. If not specified, the encoding will be auto-detected."
    },
    "quotingMode": {
     "type": "string",
     "description": "Specifies how double quotes are interpreted. If not specified, the mode will be auto-detected. Ignored for non-DSV data feeds."
    }
   }
  },
  "DatafeedStatus": {
   "id": "DatafeedStatus",
   "type": "object",
   "description": "The status of a datafeed, i.e., the result of the last retrieval of the datafeed computed asynchronously when the feed processing is finished.",
   "properties": {
    "datafeedId": {
     "type": "string",
     "description": "The ID of the feed for which the status is reported.",
     "format": "uint64"
    },
    "errors": {
     "type": "array",
     "description": "The list of errors occurring in the feed.",
     "items": {
      "$ref": "DatafeedStatusError"
     }
    },
    "itemsTotal": {
     "type": "string",
     "description": "The number of items in the feed that were processed.",
     "format": "uint64"
    },
    "itemsValid": {
     "type": "string",
     "description": "The number of items in the feed that were valid.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedStatus\".",
     "default": "content#datafeedStatus"
    },
    "lastUploadDate": {
     "type": "string",
     "description": "The last date at which the feed was uploaded."
    },
    "processingStatus": {
     "type": "string",
     "description": "The processing status of the feed."
    },
    "warnings": {
     "type": "array",
     "description": "The list of errors occurring in the feed.",
     "items": {
      "$ref": "DatafeedStatusError"
     }
    }
   }
  },
  "DatafeedStatusError": {
   "id": "DatafeedStatusError",
   "type": "object",
   "description": "An error occurring in the feed, like \"invalid price\".",
   "properties": {
    "code": {
     "type": "string",
     "description": "The code of the error, e.g., \"validation/invalid_value\"."
    },
    "count": {
     "type": "string",
     "description": "The number of occurrences of the error in the feed.",
     "format": "uint64"
    },
    "examples": {
     "type": "array",
     "description": "A list of example occurrences of the error, grouped by product.",
     "items": {
      "$ref": "DatafeedStatusExample"
     }
    },
    "message": {
     "type": "string",
     "description": "The error message, e.g., \"Invalid price\"."
    }
   }
  },
  "DatafeedStatusExample": {
   "id": "DatafeedStatusExample",
   "type": "object",
   "description": "An example occurrence for a particular error.",
   "properties": {
    "itemId": {
     "type": "string",
     "description": "The ID of the example item."
    },
    "lineNumber": {
     "type": "string",
     "description": "Line number in the data feed where the example is found.",
     "format": "uint64"
    },
    "value": {
     "type": "string",
     "description": "The problematic value."
    }
   }
  },
  "DatafeedsCustomBatchRequest": {
   "id": "DatafeedsCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "DatafeedsCustomBatchRequestEntry"
     }
    }
   }
  },
  "DatafeedsCustomBatchRequestEntry": {
   "id": "DatafeedsCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch datafeeds request.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "datafeed": {
     "$ref": "Datafeed",
     "description": "The data feed to insert."
    },
    "datafeedId": {
     "type": "string",
     "description": "The ID of the data feed to get or delete.",
     "format": "uint64"
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string"
    }
   }
  },
  "DatafeedsCustomBatchResponse": {
   "id": "DatafeedsCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "DatafeedsCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsCustomBatchResponse\".",
     "default": "content#datafeedsCustomBatchResponse"
    }
   }
  },
  "DatafeedsCustomBatchResponseEntry": {
   "id": "DatafeedsCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch datafeeds response.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "datafeed": {
     "$ref": "Datafeed",
     "description": "The requested data feed. Defined if and only if the request was successful."
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    }
   }
  },
  "DatafeedsListResponse": {
   "id": "DatafeedsListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsListResponse\".",
     "default": "content#datafeedsListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of datafeeds."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "Datafeed"
     }
    }
   }
  },
  "DatafeedstatusesCustomBatchRequest": {
   "id": "DatafeedstatusesCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "DatafeedstatusesCustomBatchRequestEntry"
     }
    }
   }
  },
  "DatafeedstatusesCustomBatchRequestEntry": {
   "id": "DatafeedstatusesCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch datafeedstatuses request.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "datafeedId": {
     "type": "string",
     "description": "The ID of the data feed to get or delete.",
     "format": "uint64"
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "method": {
     "type": "string"
    }
   }
  },
  "DatafeedstatusesCustomBatchResponse": {
   "id": "DatafeedstatusesCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "DatafeedstatusesCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesCustomBatchResponse\".",
     "default": "content#datafeedstatusesCustomBatchResponse"
    }
   }
  },
  "DatafeedstatusesCustomBatchResponseEntry": {
   "id": "DatafeedstatusesCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch datafeedstatuses response.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "datafeedStatus": {
     "$ref": "DatafeedStatus",
     "description": "The requested data feed status. Defined if and only if the request was successful."
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    }
   }
  },
  "DatafeedstatusesListResponse": {
   "id": "DatafeedstatusesListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesListResponse\".",
     "default": "content#datafeedstatusesListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of datafeed statuses."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "DatafeedStatus"
     }
    }
   }
  },
  "DeliveryTime": {
   "id": "DeliveryTime",
   "type": "object",
   "properties": {
    "maxTransitTimeInDays": {
     "type": "integer",
     "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to minTransitTimeInDays. Required.",
     "format": "uint32"
    },
    "minTransitTimeInDays": {
     "type": "integer",
     "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Required.",
     "format": "uint32"
    }
   }
  },
  "Error": {
   "id": "Error",
   "type": "object",
   "description": "An error returned by the API.",
   "properties": {
    "domain": {
     "type": "string",
     "description": "The domain of the error."
    },
    "message": {
     "type": "string",
     "description": "A description of the error."
    },
    "reason": {
     "type": "string",
     "description": "The error code."
    }
   }
  },
  "Errors": {
   "id": "Errors",
   "type": "object",
   "description": "A list of errors returned by a failed batch entry.",
   "properties": {
    "code": {
     "type": "integer",
     "description": "The HTTP status of the first error in errors.",
     "format": "uint32"
    },
    "errors": {
     "type": "array",
     "description": "A list of errors.",
     "items": {
      "$ref": "Error"
     }
    },
    "message": {
     "type": "string",
     "description": "The message of the first error in errors."
    }
   }
  },
  "Headers": {
   "id": "Headers",
   "type": "object",
   "description": "A non-empty list of row or column headers for a table. Exactly one of prices, weights, numItems, postalCodeGroupNames, or locations must be set.",
   "properties": {
    "locations": {
     "type": "array",
     "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "$ref": "LocationIdSet"
     }
    },
    "numberOfItems": {
     "type": "array",
     "description": "A list of inclusive number of items upper bounds. The last value can be \"infinity\". For example [\"10\", \"50\", \"infinity\"] represents the headers \"\u003c= 10 items\", \" 50 items\". Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "type": "string"
     }
    },
    "postalCodeGroupNames": {
     "type": "array",
     "description": "A list of postal group names. The last value can be \"all other locations\". Example: [\"zone 1\", \"zone 2\", \"all other locations\"]. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "type": "string"
     }
    },
    "prices": {
     "type": "array",
     "description": "be \"infinity\". For example [{\"value\": \"10\", \"currency\": \"USD\"}, {\"value\": \"500\", \"currency\": \"USD\"}, {\"value\": \"infinity\", \"currency\": \"USD\"}] represents the headers \"\u003c= $10\", \" $500\". All prices within a service must have the same currency. Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "$ref": "Price"
     }
    },
    "weights": {
     "type": "array",
     "description": "be \"infinity\". For example [{\"value\": \"10\", \"unit\": \"kg\"}, {\"value\": \"50\", \"unit\": \"kg\"}, {\"value\": \"infinity\", \"unit\": \"kg\"}] represents the headers \"\u003c= 10kg\", \" 50kg\". All weights within a service must have the same unit. Must be non-empty. Can only be set if all other fields are not set.",
     "items": {
      "$ref": "Weight"
     }
    }
   }
  },
  "Installment": {
   "id": "Installment",
   "type": "object",
   "properties": {
    "amount": {
     "$ref": "Price",
     "description": "The amount the buyer has to pay per month."
    },
    "months": {
     "type": "string",
     "description": "The number of installments the buyer has to pay.",
     "format": "int64"
    }
   }
  },
  "Inventory": {
   "id": "Inventory",
   "type": "object",
   "properties": {
    "availability": {
     "type": "string",
     "description": "The availability of the product."
    },
    "installment": {
     "$ref": "Installment",
     "description": "Number and amount of installments to pay for an item. Brazil only."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#inventory\".",
     "default": "content#inventory"
    },
    "loyaltyPoints": {
     "$ref": "LoyaltyPoints",
     "description": "Loyalty points that users receive after purchasing the item. Japan only."
    },
    "pickup": {
     "$ref": "InventoryPickup",
     "description": "Store pickup information. Only supported for local inventory. Not setting pickup means \"don't update\" while setting it to the empty value ({} in JSON) means \"delete\". Otherwise, pickupMethod and pickupSla must be set together, unless pickupMethod is \"not supported\"."
    },
    "price": {
     "$ref": "Price",
     "description": "The price of the product."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity of the product. Must be equal to or greater than zero. Supported only for local products.",
     "format": "uint32"
    },
    "salePrice": {
     "$ref": "Price",
     "description": "The sale price of the product. Mandatory if sale_price_effective_date is defined."
    },
    "salePriceEffectiveDate": {
     "type": "string",
     "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided."
    },
    "sellOnGoogleQuantity": {
     "type": "integer",
     "description": "The quantity of the product that is reserved for sell-on-google ads. Supported only for online products.",
     "format": "uint32"
    }
   }
  },
  "InventoryCustomBatchRequest": {
   "id": "InventoryCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "InventoryCustomBatchRequestEntry"
     }
    }
   }
  },
  "InventoryCustomBatchRequestEntry": {
   "id": "InventoryCustomBatchRequestEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch inventory request.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "inventory": {
     "$ref": "Inventory",
     "description": "Price and availability of the product."
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "productId": {
     "type": "string",
     "description": "The ID of the product for which to update price and availability."
    },
    "storeCode": {
     "type": "string",
     "description": "The code of the store for which to update price and availability. Use online to update price and availability of an online product."
    }
   }
  },
  "InventoryCustomBatchResponse": {
   "id": "InventoryCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "InventoryCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#inventoryCustomBatchResponse\".",
     "default": "content#inventoryCustomBatchResponse"
    }
   }
  },
  "InventoryCustomBatchResponseEntry": {
   "id": "InventoryCustomBatchResponseEntry",
   "type": "object",
   "description": "A batch entry encoding a single non-batch inventory response.",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#inventoryCustomBatchResponseEntry\".",
     "default": "content#inventoryCustomBatchResponseEntry"
    }
   }
  },
  "InventoryPickup": {
   "id": "InventoryPickup",
   "type": "object",
   "properties": {
    "pickupMethod": {
     "type": "string",
     "description": "Whether store pickup is available for this offer and whether the pickup option should be shown as buy, reserve, or not supported. Only supported for local inventory. Unless the value is \"not supported\", must be submitted together with pickupSla."
    },
    "pickupSla": {
     "type": "string",
     "description": "The expected date that an order will be ready for pickup, relative to when the order is placed. Only supported for local inventory. Must be submitted together with pickupMethod."
    }
   }
  },
  "InventorySetRequest": {
   "id": "InventorySetRequest",
   "type": "object",
   "properties": {
    "availability": {
     "type": "string",
     "description": "The availability of the product."
    },
    "installment": {
     "$ref": "Installment",
     "description": "Number and amount of installments to pay for an item. Brazil only."
    },
    "loyaltyPoints": {
     "$ref": "LoyaltyPoints",
     "description": "Loyalty points that users receive after purchasing the item. Japan only."
    },
    "pickup": {
     "$ref": "InventoryPickup",
     "description": "Store pickup information. Only supported for local inventory. Not setting pickup means \"don't update\" while setting it to the empty value ({} in JSON) means \"delete\". Otherwise, pickupMethod and pickupSla must be set together, unless pickupMethod is \"not supported\"."
    },
    "price": {
     "$ref": "Price",
     "description": "The price of the product."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity of the product. Must be equal to or greater than zero. Supported only for local products.",
     "format": "uint32"
    },
    "salePrice": {
     "$ref": "Price",
     "description": "The sale price of the product. Mandatory if sale_price_effective_date is defined."
    },
    "salePriceEffectiveDate": {
     "type": "string",
     "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided."
    },
    "sellOnGoogleQuantity": {
     "type": "integer",
     "description": "The quantity of the product that is reserved for sell-on-google ads. Supported only for online products.",
     "format": "uint32"
    }
   }
  },
  "InventorySetResponse": {
   "id": "InventorySetResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#inventorySetResponse\".",
     "default": "content#inventorySetResponse"
    }
   }
  },
  "LocationIdSet": {
   "id": "LocationIdSet",
   "type": "object",
   "properties": {
    "locationIds": {
     "type": "array",
     "description": "A non-empty list of location IDs. They must all be of the same location type (e.g., state).",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "LoyaltyPoints": {
   "id": "LoyaltyPoints",
   "type": "object",
   "properties": {
    "name": {
     "type": "string",
     "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters."
    },
    "pointsValue": {
     "type": "string",
     "description": "The retailer's loyalty points in absolute value.",
     "format": "int64"
    },
    "ratio": {
     "type": "number",
     "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0.",
     "format": "double"
    }
   }
  },
  "Order": {
   "id": "Order",
   "type": "object",
   "properties": {
    "acknowledged": {
     "type": "boolean",
     "description": "Whether the order was acknowledged."
    },
    "channelType": {
     "type": "string",
     "description": "The channel type of the order: \"purchaseOnGoogle\" or \"googleExpress\"."
    },
    "customer": {
     "$ref": "OrderCustomer",
     "description": "The details of the customer who placed the order."
    },
    "deliveryDetails": {
     "$ref": "OrderDeliveryDetails",
     "description": "The details for the delivery."
    },
    "id": {
     "type": "string",
     "description": "The REST id of the order. Globally unique."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#order\".",
     "default": "content#order"
    },
    "lineItems": {
     "type": "array",
     "description": "Line items that are ordered.",
     "items": {
      "$ref": "OrderLineItem"
     }
    },
    "merchantId": {
     "type": "string",
     "format": "uint64"
    },
    "merchantOrderId": {
     "type": "string",
     "description": "Merchant-provided id of the order."
    },
    "netAmount": {
     "$ref": "Price",
     "description": "The net amount for the order. For example, if an order was originally for a grand total of $100 and a refund was issued for $20, the net amount will be $80."
    },
    "paymentMethod": {
     "$ref": "OrderPaymentMethod",
     "description": "The details of the payment method."
    },
    "paymentStatus": {
     "type": "string",
     "description": "The status of the payment."
    },
    "placedDate": {
     "type": "string",
     "description": "The date when the order was placed, in ISO 8601 format."
    },
    "promotions": {
     "type": "array",
     "description": "The details of the merchant provided promotions applied to the order. More details about the program are here.",
     "items": {
      "$ref": "OrderPromotion"
     }
    },
    "refunds": {
     "type": "array",
     "description": "Refunds for the order.",
     "items": {
      "$ref": "OrderRefund"
     }
    },
    "shipments": {
     "type": "array",
     "description": "Shipments of the order.",
     "items": {
      "$ref": "OrderShipment"
     }
    },
    "shippingCost": {
     "$ref": "Price",
     "description": "The total cost of shipping for all items."
    },
    "shippingCostTax": {
     "$ref": "Price",
     "description": "The tax for the total shipping cost."
    },
    "shippingOption": {
     "type": "string",
     "description": "The requested shipping option."
    },
    "status": {
     "type": "string",
     "description": "The status of the order."
    }
   }
  },
  "OrderAddress": {
   "id": "OrderAddress",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "CLDR country code (e.g. \"US\")."
    },
    "fullAddress": {
     "type": "array",
     "description": "Strings representing the lines of the printed label for mailing the order, for example:\nJohn Smith\n1600 Amphitheatre Parkway\nMountain View, CA, 94043\nUnited States",
     "items": {
      "type": "string"
     }
    },
    "isPostOfficeBox": {
     "type": "boolean",
     "description": "Whether the address is a post office box."
    },
    "locality": {
     "type": "string",
     "description": "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs)."
    },
    "postalCode": {
     "type": "string",
     "description": "Postal Code or ZIP (e.g. \"94043\")."
    },
    "recipientName": {
     "type": "string",
     "description": "Name of the recipient."
    },
    "region": {
     "type": "string",
     "description": "Top-level administrative subdivision of the country (e.g. \"CA\")."
    },
    "streetAddress": {
     "type": "array",
     "description": "Street-level part of the address.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "OrderCancellation": {
   "id": "OrderCancellation",
   "type": "object",
   "properties": {
    "actor": {
     "type": "string",
     "description": "The actor that created the cancellation."
    },
    "creationDate": {
     "type": "string",
     "description": "Date on which the cancellation has been created, in ISO 8601 format."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity that was canceled.",
     "format": "uint32"
    },
    "reason": {
     "type": "string",
     "description": "The reason for the cancellation. Orders that are cancelled with a noInventory reason will lead to the removal of the product from POG until you make an update to that product. This will not affect your Shopping ads."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrderCustomer": {
   "id": "OrderCustomer",
   "type": "object",
   "properties": {
    "email": {
     "type": "string",
     "description": "Email address of the customer."
    },
    "explicitMarketingPreference": {
     "type": "boolean",
     "description": "If set, this indicates the user explicitly chose to opt in or out of providing marketing rights to the merchant. If unset, this indicates the user has already made this choice in a previous purchase, and was thus not shown the marketing right opt in/out checkbox during the checkout flow."
    },
    "fullName": {
     "type": "string",
     "description": "Full name of the customer."
    }
   }
  },
  "OrderDeliveryDetails": {
   "id": "OrderDeliveryDetails",
   "type": "object",
   "properties": {
    "address": {
     "$ref": "OrderAddress",
     "description": "The delivery address"
    },
    "phoneNumber": {
     "type": "string",
     "description": "The phone number of the person receiving the delivery."
    }
   }
  },
  "OrderLineItem": {
   "id": "OrderLineItem",
   "type": "object",
   "properties": {
    "cancellations": {
     "type": "array",
     "description": "Cancellations of the line item.",
     "items": {
      "$ref": "OrderCancellation"
     }
    },
    "id": {
     "type": "string",
     "description": "The id of the line item."
    },
    "price": {
     "$ref": "Price",
     "description": "Total price for the line item. For example, if two items for $10 are purchased, the total price will be $20."
    },
    "product": {
     "$ref": "OrderLineItemProduct",
     "description": "Product data from the time of the order placement."
    },
    "quantityCanceled": {
     "type": "integer",
     "description": "Number of items canceled.",
     "format": "uint32"
    },
    "quantityDelivered": {
     "type": "integer",
     "description": "Number of items delivered.",
     "format": "uint32"
    },
    "quantityOrdered": {
     "type": "integer",
     "description": "Number of items ordered.",
     "format": "uint32"
    },
    "quantityPending": {
     "type": "integer",
     "description": "Number of items pending.",
     "format": "uint32"
    },
    "quantityReturned": {
     "type": "integer",
     "description": "Number of items returned.",
     "format": "uint32"
    },
    "quantityShipped": {
     "type": "integer",
     "description": "Number of items shipped.",
     "format": "uint32"
    },
    "returnInfo": {
     "$ref": "OrderLineItemReturnInfo",
     "description": "Details of the return policy for the line item."
    },
    "returns": {
     "type": "array",
     "description": "Returns of the line item.",
     "items": {
      "$ref": "OrderReturn"
     }
    },
    "shippingDetails": {
     "$ref": "OrderLineItemShippingDetails",
     "description": "Details of the requested shipping for the line item."
    },
    "tax": {
     "$ref": "Price",
     "description": "Total tax amount for the line item. For example, if two items are purchased, and each have a cost tax of $2, the total tax amount will be $4."
    }
   }
  },
  "OrderLineItemProduct": {
   "id": "OrderLineItemProduct",
   "type": "object",
   "properties": {
    "brand": {
     "type": "string",
     "description": "Brand of the item."
    },
    "channel": {
     "type": "string",
     "description": "The item's channel (online or local)."
    },
    "condition": {
     "type": "string",
     "description": "Condition or state of the item."
    },
    "contentLanguage": {
     "type": "string",
     "description": "The two-letter ISO 639-1 language code for the item."
    },
    "gtin": {
     "type": "string",
     "description": "Global Trade Item Number (GTIN) of the item."
    },
    "id": {
     "type": "string",
     "description": "The REST id of the product."
    },
    "imageLink": {
     "type": "string",
     "description": "URL of an image of the item."
    },
    "itemGroupId": {
     "type": "string",
     "description": "Shared identifier for all variants of the same product."
    },
    "mpn": {
     "type": "string",
     "description": "Manufacturer Part Number (MPN) of the item."
    },
    "offerId": {
     "type": "string",
     "description": "An identifier of the item."
    },
    "price": {
     "$ref": "Price",
     "description": "Price of the item."
    },
    "shownImage": {
     "type": "string",
     "description": "URL to the cached image shown to the user when order was placed."
    },
    "targetCountry": {
     "type": "string",
     "description": "The CLDR territory code of the target country of the product."
    },
    "title": {
     "type": "string",
     "description": "The title of the product."
    },
    "variantAttributes": {
     "type": "array",
     "description": "Variant attributes for the item. These are dimensions of the product, such as color, gender, material, pattern, and size. You can find a comprehensive list of variant attributes here.",
     "items": {
      "$ref": "OrderLineItemProductVariantAttribute"
     }
    }
   }
  },
  "OrderLineItemProductVariantAttribute": {
   "id": "OrderLineItemProductVariantAttribute",
   "type": "object",
   "properties": {
    "dimension": {
     "type": "string",
     "description": "The dimension of the variant."
    },
    "value": {
     "type": "string",
     "description": "The value for the dimension."
    }
   }
  },
  "OrderLineItemReturnInfo": {
   "id": "OrderLineItemReturnInfo",
   "type": "object",
   "properties": {
    "daysToReturn": {
     "type": "integer",
     "description": "How many days later the item can be returned.",
     "format": "int32",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "isReturnable": {
     "type": "boolean",
     "description": "Whether the item is returnable.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "policyUrl": {
     "type": "string",
     "description": "URL of the item return policy.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    }
   }
  },
  "OrderLineItemShippingDetails": {
   "id": "OrderLineItemShippingDetails",
   "type": "object",
   "properties": {
    "deliverByDate": {
     "type": "string",
     "description": "The delivery by date, in ISO 8601 format.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "method": {
     "$ref": "OrderLineItemShippingDetailsMethod",
     "description": "Details of the shipping method.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "shipByDate": {
     "type": "string",
     "description": "The ship by date, in ISO 8601 format.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    }
   }
  },
  "OrderLineItemShippingDetailsMethod": {
   "id": "OrderLineItemShippingDetailsMethod",
   "type": "object",
   "properties": {
    "carrier": {
     "type": "string",
     "description": "The carrier for the shipping. Optional."
    },
    "maxDaysInTransit": {
     "type": "integer",
     "description": "Maximum transit time.",
     "format": "uint32",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "methodName": {
     "type": "string",
     "description": "The name of the shipping method.",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    },
    "minDaysInTransit": {
     "type": "integer",
     "description": "Minimum transit time.",
     "format": "uint32",
     "annotations": {
      "required": [
       "content.orders.createtestorder"
      ]
     }
    }
   }
  },
  "OrderPaymentMethod": {
   "id": "OrderPaymentMethod",
   "type": "object",
   "properties": {
    "billingAddress": {
     "$ref": "OrderAddress",
     "description": "The billing address."
    },
    "expirationMonth": {
     "type": "integer",
     "description": "The card expiration month (January = 1, February = 2 etc.).",
     "format": "int32"
    },
    "expirationYear": {
     "type": "integer",
     "description": "The card expiration year (4-digit, e.g. 2015).",
     "format": "int32"
    },
    "lastFourDigits": {
     "type": "string",
     "description": "The last four digits of the card number."
    },
    "phoneNumber": {
     "type": "string",
     "description": "The billing phone number."
    },
    "type": {
     "type": "string",
     "description": "The type of instrument (VISA, Mastercard, etc)."
    }
   }
  },
  "OrderPromotion": {
   "id": "OrderPromotion",
   "type": "object",
   "properties": {
    "benefits": {
     "type": "array",
     "items": {
      "$ref": "OrderPromotionBenefit"
     }
    },
    "effectiveDates": {
     "type": "string",
     "description": "The date and time frame when the promotion is active and ready for validation review. Note that the promotion live time may be delayed for a few hours due to the validation review.\nStart date and end date are separated by a forward slash (/). The start date is specified by the format (YYYY-MM-DD), followed by the letter ?T?, the time of the day when the sale starts (in Greenwich Mean Time, GMT), followed by an expression of the time zone for the sale. The end date is in the same format."
    },
    "genericRedemptionCode": {
     "type": "string",
     "description": "Optional. The text code that corresponds to the promotion when applied on the retailer?s website."
    },
    "id": {
     "type": "string",
     "description": "The unique ID of the promotion."
    },
    "longTitle": {
     "type": "string",
     "description": "The full title of the promotion."
    },
    "productApplicability": {
     "type": "string",
     "description": "Whether the promotion is applicable to all products or only specific products."
    },
    "redemptionChannel": {
     "type": "string",
     "description": "Indicates that the promotion is valid online."
    }
   }
  },
  "OrderPromotionBenefit": {
   "id": "OrderPromotionBenefit",
   "type": "object",
   "properties": {
    "discount": {
     "$ref": "Price",
     "description": "The discount in the order price when the promotion is applied."
    },
    "offerIds": {
     "type": "array",
     "description": "The OfferId(s) that were purchased in this order and map to this specific benefit of the promotion.",
     "items": {
      "type": "string"
     }
    },
    "subType": {
     "type": "string",
     "description": "Further describes the benefit of the promotion. Note that we will expand on this enumeration as we support new promotion sub-types."
    },
    "taxImpact": {
     "$ref": "Price",
     "description": "The impact on tax when the promotion is applied."
    },
    "type": {
     "type": "string",
     "description": "Describes whether the promotion applies to products (e.g. 20% off) or to shipping (e.g. Free Shipping)."
    }
   }
  },
  "OrderRefund": {
   "id": "OrderRefund",
   "type": "object",
   "properties": {
    "actor": {
     "type": "string",
     "description": "The actor that created the refund."
    },
    "amount": {
     "$ref": "Price",
     "description": "The amount that is refunded."
    },
    "creationDate": {
     "type": "string",
     "description": "Date on which the item has been created, in ISO 8601 format."
    },
    "reason": {
     "type": "string",
     "description": "The reason for the refund."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrderReturn": {
   "id": "OrderReturn",
   "type": "object",
   "properties": {
    "actor": {
     "type": "string",
     "description": "The actor that created the refund."
    },
    "creationDate": {
     "type": "string",
     "description": "Date on which the item has been created, in ISO 8601 format."
    },
    "quantity": {
     "type": "integer",
     "description": "Quantity that is returned.",
     "format": "uint32"
    },
    "reason": {
     "type": "string",
     "description": "The reason for the return."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrderShipment": {
   "id": "OrderShipment",
   "type": "object",
   "properties": {
    "carrier": {
     "type": "string",
     "description": "The carrier handling the shipment."
    },
    "creationDate": {
     "type": "string",
     "description": "Date on which the shipment has been created, in ISO 8601 format."
    },
    "deliveryDate": {
     "type": "string",
     "description": "Date on which the shipment has been delivered, in ISO 8601 format. Present only if status is delievered"
    },
    "id": {
     "type": "string",
     "description": "The id of the shipment."
    },
    "lineItems": {
     "type": "array",
     "description": "The line items that are shipped.",
     "items": {
      "$ref": "OrderShipmentLineItemShipment"
     }
    },
    "status": {
     "type": "string",
     "description": "The status of the shipment."
    },
    "trackingId": {
     "type": "string",
     "description": "The tracking id for the shipment."
    }
   }
  },
  "OrderShipmentLineItemShipment": {
   "id": "OrderShipmentLineItemShipment",
   "type": "object",
   "properties": {
    "lineItemId": {
     "type": "string",
     "description": "The id of the line item that is shipped."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity that is shipped.",
     "format": "uint32"
    }
   }
  },
  "OrdersAcknowledgeRequest": {
   "id": "OrdersAcknowledgeRequest",
   "type": "object",
   "properties": {
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    }
   }
  },
  "OrdersAcknowledgeResponse": {
   "id": "OrdersAcknowledgeResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAcknowledgeResponse\".",
     "default": "content#ordersAcknowledgeResponse"
    }
   }
  },
  "OrdersAdvanceTestOrderResponse": {
   "id": "OrdersAdvanceTestOrderResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAdvanceTestOrderResponse\".",
     "default": "content#ordersAdvanceTestOrderResponse"
    }
   }
  },
  "OrdersCancelLineItemRequest": {
   "id": "OrdersCancelLineItemRequest",
   "type": "object",
   "properties": {
    "amount": {
     "$ref": "Price",
     "description": "Amount to refund for the cancelation. Optional. If not set, Google will calculate the default based on the price and tax of the items involved. The amount must not be larger than the net amount left on the order."
    },
    "lineItemId": {
     "type": "string",
     "description": "The ID of the line item to cancel."
    },
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity to cancel.",
     "format": "uint32"
    },
    "reason": {
     "type": "string",
     "description": "The reason for the cancellation."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrdersCancelLineItemResponse": {
   "id": "OrdersCancelLineItemResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelLineItemResponse\".",
     "default": "content#ordersCancelLineItemResponse"
    }
   }
  },
  "OrdersCancelRequest": {
   "id": "OrdersCancelRequest",
   "type": "object",
   "properties": {
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    },
    "reason": {
     "type": "string",
     "description": "The reason for the cancellation."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrdersCancelResponse": {
   "id": "OrdersCancelResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelResponse\".",
     "default": "content#ordersCancelResponse"
    }
   }
  },
  "OrdersCreateTestOrderRequest": {
   "id": "OrdersCreateTestOrderRequest",
   "type": "object",
   "properties": {
    "templateName": {
     "type": "string",
     "description": "The test order template to use. Specify as an alternative to testOrder as a shortcut for retrieving a template and then creating an order using that template."
    },
    "testOrder": {
     "$ref": "TestOrder",
     "description": "The test order to create."
    }
   }
  },
  "OrdersCreateTestOrderResponse": {
   "id": "OrdersCreateTestOrderResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCreateTestOrderResponse\".",
     "default": "content#ordersCreateTestOrderResponse"
    },
    "orderId": {
     "type": "string",
     "description": "The ID of the newly created test order."
    }
   }
  },
  "OrdersCustomBatchRequest": {
   "id": "OrdersCustomBatchRequest",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The request entries to be processed in the batch.",
     "items": {
      "$ref": "OrdersCustomBatchRequestEntry"
     }
    }
   }
  },
  "OrdersCustomBatchRequestEntry": {
   "id": "OrdersCustomBatchRequestEntry",
   "type": "object",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "An entry ID, unique within the batch request.",
     "format": "uint32"
    },
    "cancel": {
     "$ref": "OrdersCustomBatchRequestEntryCancel",
     "description": "Required for cancel method."
    },
    "cancelLineItem": {
     "$ref": "OrdersCustomBatchRequestEntryCancelLineItem",
     "description": "Required for cancelLineItem method."
    },
    "merchantId": {
     "type": "string",
     "description": "The ID of the managing account.",
     "format": "uint64"
    },
    "merchantOrderId": {
     "type": "string",
     "description": "The merchant order id. Required for updateMerchantOrderId and getByMerchantOrderId methods."
    },
    "method": {
     "type": "string",
     "description": "The method to apply."
    },
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order. Required for all methods beside get and getByMerchantOrderId."
    },
    "orderId": {
     "type": "string",
     "description": "The ID of the order. Required for all methods beside getByMerchantOrderId."
    },
    "refund": {
     "$ref": "OrdersCustomBatchRequestEntryRefund",
     "description": "Required for refund method."
    },
    "returnLineItem": {
     "$ref": "OrdersCustomBatchRequestEntryReturnLineItem",
     "description": "Required for returnLineItem method."
    },
    "shipLineItems": {
     "$ref": "OrdersCustomBatchRequestEntryShipLineItems",
     "description": "Required for shipLineItems method."
    },
    "updateShipment": {
     "$ref": "OrdersCustomBatchRequestEntryUpdateShipment",
     "description": "Required for updateShipment method."
    }
   }
  },
  "OrdersCustomBatchRequestEntryCancel": {
   "id": "OrdersCustomBatchRequestEntryCancel",
   "type": "object",
   "properties": {
    "reason": {
     "type": "string",
     "description": "The reason for the cancellation."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrdersCustomBatchRequestEntryCancelLineItem": {
   "id": "OrdersCustomBatchRequestEntryCancelLineItem",
   "type": "object",
   "properties": {
    "amount": {
     "$ref": "Price",
     "description": "Amount to refund for the cancelation. Optional. If not set, Google will calculate the default based on the price and tax of the items involved. The amount must not be larger than the net amount left on the order."
    },
    "lineItemId": {
     "type": "string",
     "description": "The ID of the line item to cancel."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity to cancel.",
     "format": "uint32"
    },
    "reason": {
     "type": "string",
     "description": "The reason for the cancellation."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrdersCustomBatchRequestEntryRefund": {
   "id": "OrdersCustomBatchRequestEntryRefund",
   "type": "object",
   "properties": {
    "amount": {
     "$ref": "Price",
     "description": "The amount that is refunded."
    },
    "reason": {
     "type": "string",
     "description": "The reason for the refund."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrdersCustomBatchRequestEntryReturnLineItem": {
   "id": "OrdersCustomBatchRequestEntryReturnLineItem",
   "type": "object",
   "properties": {
    "lineItemId": {
     "type": "string",
     "description": "The ID of the line item to return."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity to return.",
     "format": "uint32"
    },
    "reason": {
     "type": "string",
     "description": "The reason for the return."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrdersCustomBatchRequestEntryShipLineItems": {
   "id": "OrdersCustomBatchRequestEntryShipLineItems",
   "type": "object",
   "properties": {
    "carrier": {
     "type": "string",
     "description": "The carrier handling the shipment."
    },
    "lineItems": {
     "type": "array",
     "description": "Line items to ship.",
     "items": {
      "$ref": "OrderShipmentLineItemShipment"
     }
    },
    "shipmentId": {
     "type": "string",
     "description": "The ID of the shipment."
    },
    "trackingId": {
     "type": "string",
     "description": "The tracking id for the shipment."
    }
   }
  },
  "OrdersCustomBatchRequestEntryUpdateShipment": {
   "id": "OrdersCustomBatchRequestEntryUpdateShipment",
   "type": "object",
   "properties": {
    "carrier": {
     "type": "string",
     "description": "The carrier handling the shipment. Not updated if missing."
    },
    "shipmentId": {
     "type": "string",
     "description": "The ID of the shipment."
    },
    "status": {
     "type": "string",
     "description": "New status for the shipment. Not updated if missing."
    },
    "trackingId": {
     "type": "string",
     "description": "The tracking id for the shipment. Not updated if missing."
    }
   }
  },
  "OrdersCustomBatchResponse": {
   "id": "OrdersCustomBatchResponse",
   "type": "object",
   "properties": {
    "entries": {
     "type": "array",
     "description": "The result of the execution of the batch requests.",
     "items": {
      "$ref": "OrdersCustomBatchResponseEntry"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCustomBatchResponse\".",
     "default": "content#ordersCustomBatchResponse"
    }
   }
  },
  "OrdersCustomBatchResponseEntry": {
   "id": "OrdersCustomBatchResponseEntry",
   "type": "object",
   "properties": {
    "batchId": {
     "type": "integer",
     "description": "The ID of the request entry this entry responds to.",
     "format": "uint32"
    },
    "errors": {
     "$ref": "Errors",
     "description": "A list of errors defined if and only if the request failed."
    },
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution. Only defined if the method is not get or getByMerchantOrderId and if the request was successful."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCustomBatchResponseEntry\".",
     "default": "content#ordersCustomBatchResponseEntry"
    },
    "order": {
     "$ref": "Order",
     "description": "The retrieved order. Only defined if the method is get and if the request was successful."
    }
   }
  },
  "OrdersGetByMerchantOrderIdResponse": {
   "id": "OrdersGetByMerchantOrderIdResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersGetByMerchantOrderIdResponse\".",
     "default": "content#ordersGetByMerchantOrderIdResponse"
    },
    "order": {
     "$ref": "Order",
     "description": "The requested order."
    }
   }
  },
  "OrdersGetTestOrderTemplateResponse": {
   "id": "OrdersGetTestOrderTemplateResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersGetTestOrderTemplateResponse\".",
     "default": "content#ordersGetTestOrderTemplateResponse"
    },
    "template": {
     "$ref": "TestOrder",
     "description": "The requested test order template."
    }
   }
  },
  "OrdersListResponse": {
   "id": "OrdersListResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersListResponse\".",
     "default": "content#ordersListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token for the retrieval of the next page of orders."
    },
    "resources": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    }
   }
  },
  "OrdersRefundRequest": {
   "id": "OrdersRefundRequest",
   "type": "object",
   "properties": {
    "amount": {
     "$ref": "Price",
     "description": "The amount that is refunded."
    },
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    },
    "reason": {
     "type": "string",
     "description": "The reason for the refund."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrdersRefundResponse": {
   "id": "OrdersRefundResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersRefundResponse\".",
     "default": "content#ordersRefundResponse"
    }
   }
  },
  "OrdersReturnLineItemRequest": {
   "id": "OrdersReturnLineItemRequest",
   "type": "object",
   "properties": {
    "lineItemId": {
     "type": "string",
     "description": "The ID of the line item to return."
    },
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    },
    "quantity": {
     "type": "integer",
     "description": "The quantity to return.",
     "format": "uint32"
    },
    "reason": {
     "type": "string",
     "description": "The reason for the return."
    },
    "reasonText": {
     "type": "string",
     "description": "The explanation of the reason."
    }
   }
  },
  "OrdersReturnLineItemResponse": {
   "id": "OrdersReturnLineItemResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersReturnLineItemResponse\".",
     "default": "content#ordersReturnLineItemResponse"
    }
   }
  },
  "OrdersShipLineItemsRequest": {
   "id": "OrdersShipLineItemsRequest",
   "type": "object",
   "properties": {
    "carrier": {
     "type": "string",
     "description": "The carrier handling the shipment."
    },
    "lineItems": {
     "type": "array",
     "description": "Line items to ship.",
     "items": {
      "$ref": "OrderShipmentLineItemShipment"
     }
    },
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    },
    "shipmentId": {
     "type": "string",
     "description": "The ID of the shipment."
    },
    "trackingId": {
     "type": "string",
     "description": "The tracking id for the shipment."
    }
   }
  },
  "OrdersShipLineItemsResponse": {
   "id": "OrdersShipLineItemsResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersShipLineItemsResponse\".",
     "default": "content#ordersShipLineItemsResponse"
    }
   }
  },
  "OrdersUpdateMerchantOrderIdRequest": {
   "id": "OrdersUpdateMerchantOrderIdRequest",
   "type": "object",
   "properties": {
    "merchantOrderId": {
     "type": "string",
     "description": "The merchant order id to be assigned to the order. Must be unique per merchant."
    },
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    }
   }
  },
  "OrdersUpdateMerchantOrderIdResponse": {
   "id": "OrdersUpdateMerchantOrderIdResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateMerchantOrderIdResponse\".",
     "default": "content#ordersUpdateMerchantOrderIdResponse"
    }
   }
  },
  "OrdersUpdateShipmentRequest": {
   "id": "OrdersUpdateShipmentRequest",
   "type": "object",
   "properties": {
    "carrier": {
     "type": "string",
     "description": "The carrier handling the shipment. Not updated if missing."
    },
    "operationId": {
     "type": "string",
     "description": "The ID of the operation. Unique across all operations for a given order."
    },
    "shipmentId": {
     "type": "string",
     "description": "The ID of the shipment."
    },
    "status": {
     "type": "string",
     "description": "New status for the shipment. Not updated if missing."
    },
    "trackingId": {
     "type": "string",
     "description": "The tracking id for the shipment. Not updated if missing."
    }
   }
  },
  "OrdersUpdateShipmentResponse": {
   "id": "OrdersUpdateShipmentResponse",
   "type": "object",
   "properties": {
    "executionStatus": {
     "type": "string",
     "description": "The status of the execution."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateShipmentResponse\".",
     "default": "content#ordersUpdateShipmentResponse"
    }
   }
  },
  "PostalCodeGroup": {
   "id": "PostalCodeGroup",
   "type": "object",
   "properties": {
    "country": {
     "type": "string",
     "description": "The CLDR territory code of the country the postal code group applies to. Required."
    },
    "name": {
     "type": "string",
     "description": "The name of the postal code group, referred to in headers. Required."
    },
    "postalCodeRanges": {
     "type": "array",
     "description": "A range of postal codes. Required.",
     "items": {
      "$ref": "PostalCodeRange"
     }
    }
   }
  },
  "PostalCodeRange": {
   "id": "PostalCodeRange",
   "type": "object",
   "properties": {
    "postalCodeRangeBegin": {
     "type": "string",
     "description": "A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: \"94108\", \"9410*\", \"9*\". Required."
    },
    "postalCodeRangeEnd": {
     "type": "string",
     "description": "A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin."
    }
   }
  },
  "Price": {
   "id": "Price",
   "type": "object",
   "properties": {
    "currency": {
     "type": "string",
     "description": "The currency of the price."
    },
    "value": {
     "type": "string",
     "description": "The price represented as a number."
    }
   }
  },
  "Product": {
   "id": "Product",
   "type": "object",
   "description": "Product data.",
   "properties": {
    "additionalImageLinks": {
     "type": "array",
     "description": "Additional URLs of images of the item.",
     "items": {
      "type": "string"
     }
    },
    "additionalProductTypes": {
     "type": "array",
     "description": "Additional categories of the item (formatted as in products feed specification).",
     "items": {
      "type": "string"
     }
    },
    "adult": {
     "type": "boolean",
     "description": "Set to true if the item is targeted towards adults."
    },
    "adwordsGrouping": {
     "type": "string",
     "description": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise."
    },
    "adwordsLabels": {
     "type": "array",
     "description": "Similar to adwords_grouping, but only works on CPC.",
     "items": {
      "type": "string"
     }
    },
    "adwordsRedirect": {
     "type": "string",
     "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
    },
    "ageGroup": {
     "type": "string",
     "description": "Target age group of the item."
    },
    "aspects": {
     "type": "array",
     "description": "Specifies the intended aspects for the product.",
     "items": {
      "$ref": "ProductAspect"
     }
    },
    "availability": {
     "type": "string",
     "description": "Availability status of the item."
    },
    "availabilityDate": {
     "type": "string",
     "description": "The day a pre-ordered product becomes available for delivery, in ISO 8601 format."
    },
    "brand": {
     "type": "string",
     "description": "Brand of the item."
    },
    "channel": {
     "type": "string",
     "description": "The item's channel (online or local).",
     "annotations": {
      "required": [
       "content.products.insert"
      ]
     }
    },
    "color": {
     "type": "string",
     "description": "Color of the item."
    },
    "condition": {
     "type": "string",
     "description": "Condition or state of the item."
    },
    "contentLanguage": {
     "type": "string",
     "description": "The two-letter ISO 639-1 language code for the item.",
     "annotations": {
      "required": [
       "content.products.insert"
      ]
     }
    },
    "customAttributes": {
     "type": "array",
     "description": "A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (e.g., { \"name\": \"size type\", \"type\": \"text\", \"value\": \"regular\" }). This is useful for submitting attributes not explicitly exposed by the API.",
     "items": {
      "$ref": "ProductCustomAttribute"
     }
    },
    "customGroups": {
     "type": "array",
     "description": "A list of custom (merchant-provided) custom attribute groups.",
     "items": {
      "$ref": "ProductCustomGroup"
     }
    },
    "customLabel0": {
     "type": "string",
     "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
    },
    "customLabel1": {
     "type": "string",
     "description": "Custom label 1 for custom grouping of items in a Shopping campaign."
    },
    "customLabel2": {
     "type": "string",
     "description": "Custom label 2 for custom grouping of items in a Shopping campaign."
    },
    "customLabel3": {
     "type": "string",
     "description": "Custom label 3 for custom grouping of items in a Shopping campaign."
    },
    "customLabel4": {
     "type": "string",
     "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
    },
    "description": {
     "type": "string",
     "description": "Description of the item."
    },
    "destinations": {
     "type": "array",
     "description": "Specifies the intended destinations for the product.",
     "items": {
      "$ref": "ProductDestination"
     }
    },
    "displayAdsId": {
     "type": "string",
     "description": "An identifier for an item for dynamic remarketing campaigns."
    },
    "displayAdsLink": {
     "type": "string",
     "description": "URL directly to your item's landing page for dynamic remarketing campaigns."
    },
    "displayAdsSimilarIds": {
     "type": "array",
     "description": "Advertiser-specified recommendations.",
     "items": {
      "type": "string"
     }
    },
    "displayAdsTitle": {
     "type": "string",
     "description": "Title of an item for dynamic remarketing campaigns."
    },
    "displayAdsValue": {
     "type": "number",
     "description": "Offer margin for dynamic remarketing campaigns.",
     "format": "double"
    },
    "energyEfficiencyClass": {
     "type": "string",
     "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
    },
    "expirationDate": {
     "type": "string",
     "description": "Date on which the item should expire, as specified upon insertion, in ISO 8601 format. The actual expiration date in Google Shopping is exposed in productstatuses as googleExpirationDate and might be earlier if expirationDate is too far in the future."
    },
    "gender": {
     "type": "string",
     "description": "Target gender of the item."
    },
    "googleProductCategory": {
     "type": "string",
     "description": "Google's category of the item (see Google product taxonomy)."
    },
    "gtin": {
     "type": "string",
     "description": "Global Trade Item Number (GTIN) of the item."
    },
    "id": {
     "type": "string",
     "description": "The REST id of the product."
    },
    "identifierExists": {
     "type": "boolean",
     "description": "False when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Required according to the Unique Product Identifier Rules for all target countries except for Canada."
    },
    "imageLink": {
     "type": "string",
     "description": "URL of an image of the item."
    },
    "installment": {
     "$ref": "Installment",
     "description": "Number and amount of installments to pay for an item. Brazil only."
    },
    "isBundle": {
     "type": "boolean",
     "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price."
    },
    "itemGroupId": {
     "type": "string",
     "description": "Shared identifier for all variants of the same product."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"content#product\".",
     "default": "content#product"
    },
    "link": {
     "type": "string",
     "description": "URL directly linking to your item's page on your website."
    },
    "loyaltyPoints": {
     "$ref": "LoyaltyPoints",
     "description": "Loyalty points that users receive after purchasing the item. Japan only."
    },
    "material": {
     "type": "string",
     "description": "The material of which the item is made."
    },
    "maxHandlingTime": {
     "type": "string",
     "description": "Maximal product handling time (in business days).",
     "format": "int64"
    },
    "minHandlingTime": {
     "type": "string",
     "description": "Minimal product handling time (in business days).",
     "format": "int64"
    },
    "mobileLink": {
     "type": "string",
     "description": "Link to a mobile-optimized version of the landing page."
    },
    "mpn": {
     "type": "string",
     "description": "Manufacturer Part Number (MPN) of the item."
    },
    "multipack": {
     "type": "string",
     "description": "The number of identical products in a merchant-defined multipack.",
     "format": "int64"
    },
    "offerId": {
     "type": "string",
     "description": "An identifier of the item. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. Only valid unicode characters are accepted. See the products feed specification for details.",
     "annotations": {
      "required": [
       "content.products.insert"
      ]
     }
    },
    "onlineOnly": {
     "type": "boolean",
     "description": "Whether an item is available for purchase only online."
    },
    "pattern": {
     "type": "string",
     "description": "The item's pattern (e.g. polka dots)."
    },
    "price": {
     "$ref": "Price",
     "description": "Price of the item."
    },
    "productType": {
     "type": "string",
     "description": "Your category of the item (formatted as in products feed specification)."
    },
    "promotionIds": {
     "type": "array",
     "description": "The unique ID of a promotion.",
     "items": {
      "type": "string"
     }
    },
    "salePrice": {
     "$ref": "Price",
     "description": "Advertised sale price of the item."
    },
    "salePriceEffectiveDate": {
     "type": "string",
     "description": "Date range during which the item is on sale (see products feed specification)."
    },
    "sellOnGoogleQuantity": {
     "type": "string",
     "description": "The quantity of the product that is reserved for sell-on-google ads.",
     "format": "int64"
    },
    "shipping": {
     "type": "array",
     "description": "Shipping rules.",
     "items": {
      "$ref": "ProductShipping"
     }
    },
    "shippingHeight": {
     "$ref": "ProductShippingDimension",
     "description": "Height of the item for shipping."
    },
    "shippingLabel": {
     "type": "string",
     "description": "The shipping label of the product, used to group product in account-level shipping rules."
    },
    "shippingLength": {
     "$ref": "ProductShippingDimension",
     "description": "Length of the item for shipping."
    },
    "shippingWeight": {
     "$ref": "ProductShippingWeight",
     "description": "Weight of the item for shipping."
    },
    "shippingWidth": {
     "$ref": "ProductShippingDimension",
     "description": "Width of the item for shipping."
    },
    "sizeSystem": {
     "type": "string",
     "description": "System in which the size is specified. Recommended for apparel items."
    },
    "sizeType": {
     "type": "string",
     "description": "The cut of the item. Recommended for apparel items."
    },
    "sizes": {
     "type": "array",
     "description": "Size of the item.",
     "items": {
      "type": "string"
     }
    },
    "targetCountry": {
     "type": "string",
     "description": "The CLDR territory code for the item.",
     "annotations": {
      "required": [
       "content.products.insert"
      ]
     }
    },
    "taxes": {
     "type": "array",
     "description": "Tax information.",
     "items": {
      "$ref": "ProductTax"
     }
    },
    "title": {
     "type": "string",
     "description": "Title of the item."
    },
[...]
