[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
Requires=etcd.service
After=etcd.service

[Service]
EnvironmentFile=/etc/default/kubelet
ExecStart=/opt/bin/kubelet $KUBELET_OPTS
Restart=always
RestartSec=10
