---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:QofJA9v6g5Gj5PXIxAYRHWOwjRwICYxNpDhokNvHuCQ=
      x-ms-date:
      - Tue, 28 May 2019 22:36:10 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.queue.core.windows.net/queue-161storagequeuesuitetestsetpermissionsalternatetruewithti
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2051-12-20T21:55:06Z</Expiry><Permission>ru</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:l6uHXPWV9WnBT5UpzO5bmpr/DvbZlg+iFtHpOO3iRDI=
      x-ms-date:
      - Tue, 28 May 2019 22:36:10 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.queue.core.windows.net/queue-161storagequeuesuitetestsetpermissionsalternatetruewithti?comp=acl&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
