---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:RIn1HWHfeh9HncCUnoR5Kc+0vdkbDxO8KIcL0zm/g5g=
      x-ms-date:
      - Tue, 28 May 2019 22:36:09 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:00Z</Start><Expiry>2051-12-20T21:55:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:FpLTZIKh0JHURM/LXa8hK68MTi/YSuMisr3BO1K4MaM=
      x-ms-date:
      - Tue, 28 May 2019 22:36:09 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout?comp=acl
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:7blWF3bD6ncqpRPaxhjVnrZcTx2fuF1PYlXLg+tw0IE=
      x-ms-date:
      - Tue, 28 May 2019 22:36:09 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout?comp=acl&timeout=30
    method: GET
  response:
    body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x[...]
[...]
