# Examples
examples/simple/simple
examples/random/random

# Typical backup/temporary files of editors
*~
*#

# Never include any accidentally created vendor dirs.
# This is a library!
vendor/

# The remainder of this file is taken from
# https://github.com/github/gitignore/blob/master/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
