{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.notifications": {
          "description": "View and manage notifications received on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "View users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "basePath": "/admin/directory/v1/",
  "baseUrl": "https://www.googleapis.com/admin/directory/v1/",
  "batchPath": "batch/admin/directory_v1",
  "canonicalName": "directory",
  "description": "Manages enterprise resources such as users and groups, administrative notifications, security features, and more.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/admin-sdk/directory/",
  "etag": "\"LYADMvHWYH2ul9D6m9UT9gT77YM/NqxQAUkUIvUDCo2pCkVJ3_L6Gh4\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "admin:directory_v1",
  "kind": "discovery#restDescription",
  "name": "admin",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "packagePath": "admin",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "asps": {
      "methods": {
        "delete": {
          "description": "Delete an ASP issued by a user.",
          "httpMethod": "DELETE",
          "id": "directory.asps.delete",
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "parameters": {
            "codeId": {
              "description": "The unique ID of the ASP to be deleted.",
              "format": "int32",
              "location": "path",
              "required": true,
              "type": "integer"
            },
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "users/{userKey}/asps/{codeId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ]
        },
        "get": {
          "description": "Get information about an ASP issued by a user.",
          "httpMethod": "GET",
          "id": "directory.asps.get",
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "parameters": {
            "codeId": {
              "description": "The unique ID of the ASP.",
              "format": "int32",
              "location": "path",
              "required": true,
              "type": "integer"
            },
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "users/{userKey}/asps/{codeId}",
          "response": {
            "$ref": "Asp"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ]
        },
        "list": {
          "description": "List the ASPs issued by a user.",
          "httpMethod": "GET",
          "id": "directory.asps.list",
          "parameterOrder": [
            "userKey"
          ],
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "users/{userKey}/asps",
          "response": {
            "$ref": "Asps"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "description": "Stop watching resources through this channel",
          "httpMethod": "POST",
          "id": "admin.channels.stop",
          "path": "/admin/directory_v1/channels/stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.alias",
            "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "chromeosdevices": {
      "methods": {
        "action": {
          "description": "Take action on Chrome OS Device",
          "httpMethod": "POST",
          "id": "directory.chromeosdevices.action",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceId": {
              "description": "Immutable ID of Chrome OS Device",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/chromeos/{resourceId}/action",
          "request": {
            "$ref": "ChromeOsDeviceAction"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ]
        },
        "get": {
          "description": "Retrieve Chrome OS Device",
          "httpMethod": "GET",
          "id": "directory.chromeosdevices.get",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deviceId": {
              "description": "Immutable ID of Chrome OS Device",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/chromeos/{deviceId}",
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ]
        },
        "list": {
          "description": "Retrieve all Chrome OS Devices of a customer (paginated)",
          "httpMethod": "GET",
          "id": "directory.chromeosdevices.list",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "default": "100",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "orderBy": {
              "description": "Column to use for sorting results",
              "enum": [
                "annotatedLocation",
                "annotatedUser",
                "lastSync",
                "notes",
                "serialNumber",
                "status",
                "supportEndDate"
              ],
              "enumDescriptions": [
                "Chromebook location as annotated by the administrator.",
                "Chromebook user as annotated by administrator.",
                "Chromebook last sync.",
                "Chromebook notes as annotated by the administrator.",
                "Chromebook Serial Number.",
                "Chromebook status.",
                "Chromebook support end date."
              ],
              "location": "query",
              "type": "string"
            },
            "orgUnitPath": {
              "description": "Full path of the organizational unit or its ID",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify next page in the list",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "type": "string"
            },
            "query": {
              "description": "Search string in the format given at http://support.google.com/chromeos/a/bin/answer.py?answer=1698333",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/chromeos",
          "response": {
            "$ref": "ChromeOsDevices"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ]
        },
        "moveDevicesToOu": {
          "description": "Move or insert multiple Chrome OS Devices to organizational unit",
          "httpMethod": "POST",
          "id": "directory.chromeosdevices.moveDevicesToOu",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orgUnitPath": {
              "description": "Full path of the target organizational unit or its ID",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "request": {
            "$ref": "ChromeOsMoveDevicesToOu"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ]
        },
        "patch": {
          "description": "Update Chrome OS Device. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "directory.chromeosdevices.patch",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deviceId": {
              "description": "Immutable ID of Chrome OS Device",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/chromeos/{deviceId}",
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ]
        },
        "update": {
          "description": "Update Chrome OS Device",
          "httpMethod": "PUT",
          "id": "directory.chromeosdevices.update",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deviceId": {
              "description": "Immutable ID of Chrome OS Device",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/chromeos/{deviceId}",
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ]
        }
      }
    },
    "customers": {
      "methods": {
        "get": {
          "description": "Retrieves a customer.",
          "httpMethod": "GET",
          "id": "directory.customers.get",
          "parameterOrder": [
            "customerKey"
          ],
          "parameters": {
            "customerKey": {
              "description": "Id of the customer to be retrieved",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customers/{customerKey}",
          "response": {
            "$ref": "Customer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer",
            "https://www.googleapis.com/auth/admin.directory.customer.readonly"
          ]
        },
        "patch": {
          "description": "Updates a customer. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "directory.customers.patch",
          "parameterOrder": [
            "customerKey"
          ],
          "parameters": {
            "customerKey": {
              "description": "Id of the customer to be updated",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customers/{customerKey}",
          "request": {
            "$ref": "Customer"
          },
          "response": {
            "$ref": "Customer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer"
          ]
        },
        "update": {
          "description": "Updates a customer.",
          "httpMethod": "PUT",
          "id": "directory.customers.update",
          "parameterOrder": [
            "customerKey"
          ],
          "parameters": {
            "customerKey": {
              "description": "Id of the customer to be updated",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customers/{customerKey}",
          "request": {
            "$ref": "Customer"
          },
          "response": {
            "$ref": "Customer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer"
          ]
        }
      }
    },
    "domainAliases": {
      "methods": {
        "delete": {
          "description": "Deletes a Domain Alias of the customer.",
          "httpMethod": "DELETE",
          "id": "directory.domainAliases.delete",
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "domainAliasName": {
              "description": "Name of domain alias to be retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/domainaliases/{domainAliasName}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ]
        },
        "get": {
          "description": "Retrieves a domain alias of the customer.",
          "httpMethod": "GET",
          "id": "directory.domainAliases.get",
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "domainAliasName": {
              "description": "Name of domain alias to be retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/domainaliases/{domainAliasName}",
          "response": {
            "$ref": "DomainAlias"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ]
        },
        "insert": {
          "description": "Inserts a Domain alias of the customer.",
          "httpMethod": "POST",
          "id": "directory.domainAliases.insert",
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/domainaliases",
          "request": {
            "$ref": "DomainAlias"
          },
          "response": {
            "$ref": "DomainAlias"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ]
        },
        "list": {
          "description": "Lists the domain aliases of the customer.",
          "httpMethod": "GET",
          "id": "directory.domainAliases.list",
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "parentDomainName": {
              "description": "Name of the parent domain for which domain aliases are to be fetched.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "customer/{customer}/domainaliases",
          "response": {
            "$ref": "DomainAliases"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ]
        }
      }
    },
    "domains": {
      "methods": {
        "delete": {
          "description": "Deletes a domain of the customer.",
          "httpMethod": "DELETE",
          "id": "directory.domains.delete",
          "parameterOrder": [
            "customer",
            "domainName"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "domainName": {
              "description": "Name of domain to be deleted",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/domains/{domainName}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ]
        },
        "get": {
          "description": "Retrieves a domain of the customer.",
          "httpMethod": "GET",
          "id": "directory.domains.get",
          "parameterOrder": [
            "customer",
            "domainName"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "domainName": {
              "description": "Name of domain to be retrieved",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/domains/{domainName}",
          "response": {
            "$ref": "Domains"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ]
        },
        "insert": {
          "description": "Inserts a domain of the customer.",
          "httpMethod": "POST",
          "id": "directory.domains.insert",
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/domains",
          "request": {
            "$ref": "Domains"
          },
          "response": {
            "$ref": "Domains"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ]
        },
        "list": {
          "description": "Lists the domains of the customer.",
          "httpMethod": "GET",
          "id": "directory.domains.list",
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/domains",
          "response": {
            "$ref": "Domains2"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ]
        }
      }
    },
    "groups": {
      "methods": {
        "delete": {
          "description": "Delete Group",
          "httpMethod": "DELETE",
          "id": "directory.groups.delete",
          "parameterOrder": [
            "groupKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ]
        },
        "get": {
          "description": "Retrieve Group",
          "httpMethod": "GET",
          "id": "directory.groups.get",
          "parameterOrder": [
            "groupKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}",
          "response": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ]
        },
        "insert": {
          "description": "Create Group",
          "httpMethod": "POST",
          "id": "directory.groups.insert",
          "path": "groups",
          "request": {
            "$ref": "Group"
          },
          "response": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ]
        },
        "list": {
          "description": "Retrieve all groups of a domain or of a user given a userKey (paginated)",
          "httpMethod": "GET",
          "id": "directory.groups.list",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account. In case of multi-domain, to fetch all groups for a customer, fill this field instead of domain.",
              "location": "query",
              "type": "string"
            },
            "domain": {
              "description": "Name of the domain. Fill this field to get groups from only this domain. To return all groups in a multi-domain fill customer field instead.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "200",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "orderBy": {
              "description": "Column to use for sorting results",
              "enum": [
                "email"
              ],
              "enumDescriptions": [
                "Email of the group."
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify next page in the list",
              "location": "query",
              "type": "string"
            },
            "query": {
              "description": "Query string search. Should be of the form \"\". Complete documentation is at https://developers.google.com/admin-sdk/directory/v1/guides/search-groups",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "type": "string"
            },
            "userKey": {
              "description": "Email or immutable ID of the user if only those groups are to be listed, the given user is a member of. If it's an ID, it should match with the ID of the user object.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "groups",
          "response": {
            "$ref": "Groups"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ]
        },
        "patch": {
          "description": "Update Group. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "directory.groups.patch",
          "parameterOrder": [
            "groupKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group. If ID, it should match with id of group object",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}",
          "request": {
            "$ref": "Group"
          },
          "response": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ]
        },
        "update": {
          "description": "Update Group",
          "httpMethod": "PUT",
          "id": "directory.groups.update",
          "parameterOrder": [
            "groupKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group. If ID, it should match with id of group object",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}",
          "request": {
            "$ref": "Group"
          },
          "response": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ]
        }
      },
      "resources": {
        "aliases": {
          "methods": {
            "delete": {
              "description": "Remove a alias for the group",
              "httpMethod": "DELETE",
              "id": "directory.groups.aliases.delete",
              "parameterOrder": [
                "groupKey",
                "alias"
              ],
              "parameters": {
                "alias": {
                  "description": "The alias to be removed",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "groupKey": {
                  "description": "Email or immutable ID of the group",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "groups/{groupKey}/aliases/{alias}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ]
            },
            "insert": {
              "description": "Add a alias for the group",
              "httpMethod": "POST",
              "id": "directory.groups.aliases.insert",
              "parameterOrder": [
                "groupKey"
              ],
              "parameters": {
                "groupKey": {
                  "description": "Email or immutable ID of the group",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "groups/{groupKey}/aliases",
              "request": {
                "$ref": "Alias"
              },
              "response": {
                "$ref": "Alias"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ]
            },
            "list": {
              "description": "List all aliases for a group",
              "httpMethod": "GET",
              "id": "directory.groups.aliases.list",
              "parameterOrder": [
                "groupKey"
              ],
              "parameters": {
                "groupKey": {
                  "description": "Email or immutable ID of the group",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "groups/{groupKey}/aliases",
              "response": {
                "$ref": "Aliases"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group",
                "https://www.googleapis.com/auth/admin.directory.group.readonly"
              ],
              "supportsSubscription": true
            }
          }
        }
      }
    },
    "members": {
      "methods": {
        "delete": {
          "description": "Remove membership.",
          "httpMethod": "DELETE",
          "id": "directory.members.delete",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "memberKey": {
              "description": "Email or immutable ID of the member",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}/members/{memberKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ]
        },
        "get": {
          "description": "Retrieve Group Member",
          "httpMethod": "GET",
          "id": "directory.members.get",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "memberKey": {
              "description": "Email or immutable ID of the member",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}/members/{memberKey}",
          "response": {
            "$ref": "Member"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ]
        },
        "hasMember": {
          "description": "Checks whether the given user is a member of the group. Membership can be direct or nested.",
          "httpMethod": "GET",
          "id": "directory.members.hasMember",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "memberKey": {
              "description": "Identifies the user member in the API request. The value can be the user's primary email address, alias, or unique ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}/hasMember/{memberKey}",
          "response": {
            "$ref": "MembersHasMember"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ]
        },
        "insert": {
          "description": "Add user to the specified group.",
          "httpMethod": "POST",
          "id": "directory.members.insert",
          "parameterOrder": [
            "groupKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}/members",
          "request": {
            "$ref": "Member"
          },
          "response": {
            "$ref": "Member"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ]
        },
        "list": {
          "description": "Retrieve all members in a group (paginated)",
          "httpMethod": "GET",
          "id": "directory.members.list",
          "parameterOrder": [
            "groupKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDerivedMembership": {
              "description": "Whether to list indirect memberships. Default: false.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "200",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "Token to specify next page in the list",
              "location": "query",
              "type": "string"
            },
            "roles": {
              "description": "Comma separated role values to filter list results on.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "groups/{groupKey}/members",
          "response": {
            "$ref": "Members"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ]
        },
        "patch": {
          "description": "Update membership of a user in the specified group. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "directory.members.patch",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group. If ID, it should match with id of group object",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "memberKey": {
              "description": "Email or immutable ID of the user. If ID, it should match with id of member object",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}/members/{memberKey}",
          "request": {
            "$ref": "Member"
          },
          "response": {
            "$ref": "Member"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ]
        },
        "update": {
          "description": "Update membership of a user in the specified group.",
          "httpMethod": "PUT",
          "id": "directory.members.update",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "parameters": {
            "groupKey": {
              "description": "Email or immutable ID of the group. If ID, it should match with id of group object",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "memberKey": {
              "description": "Email or immutable ID of the user. If ID, it should match with id of member object",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "groups/{groupKey}/members/{memberKey}",
          "request": {
            "$ref": "Member"
          },
          "response": {
            "$ref": "Member"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ]
        }
      }
    },
    "mobiledevices": {
      "methods": {
        "action": {
          "description": "Take action on Mobile Device",
          "httpMethod": "POST",
          "id": "directory.mobiledevices.action",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceId": {
              "description": "Immutable ID of Mobile Device",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/mobile/{resourceId}/action",
          "request": {
            "$ref": "MobileDeviceAction"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action"
          ]
        },
        "delete": {
          "description": "Delete Mobile Device",
          "httpMethod": "DELETE",
          "id": "directory.mobiledevices.delete",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceId": {
              "description": "Immutable ID of Mobile Device",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/mobile/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile"
          ]
        },
        "get": {
          "description": "Retrieve Mobile Device",
          "httpMethod": "GET",
          "id": "directory.mobiledevices.get",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "type": "string"
            },
            "resourceId": {
              "description": "Immutable ID of Mobile Device",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/mobile/{resourceId}",
          "response": {
            "$ref": "MobileDevice"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ]
        },
        "list": {
          "description": "Retrieve all Mobile Devices of a customer (paginated)",
          "httpMethod": "GET",
          "id": "directory.mobiledevices.list",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "default": "100",
              "description": "Maximum number of results to return. Max allowed value is 100.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "orderBy": {
              "description": "Column to use for sorting results",
              "enum": [
                "deviceId",
                "email",
                "lastSync",
                "model",
                "name",
                "os",
                "status",
                "type"
              ],
              "enumDescriptions": [
                "Mobile Device serial number.",
                "Owner user email.",
                "Last policy settings sync date time of the device.",
                "Mobile Device model.",
                "Owner user name.",
                "Mobile operating system.",
                "Status of the device.",
                "Type of the device."
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify next page in the list",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "type": "string"
            },
            "query": {
              "description": "Search string in the format given at http://support.google.com/a/bin/answer.py?answer=1408863#search",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "customer/{customerId}/devices/mobile",
          "response": {
            "$ref": "MobileDevices"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ]
        }
      }
    },
    "notifications": {
      "methods": {
        "delete": {
          "description": "Deletes a notification",
          "httpMethod": "DELETE",
          "id": "directory.notifications.delete",
          "parameterOrder": [
            "customer",
            "notificationId"
          ],
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's G Suite account. The customerId is also returned as part of the Users resource.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "notificationId": {
              "description": "The unique ID of the notification.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/notifications/{notificationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.notifications"
          ]
        },
        "get": {
          "description": "Retrieves a notification.",
          "httpMethod": "GET",
          "id": "directory.notifications.get",
          "parameterOrder": [
            "customer",
            "notificationId"
          ],
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's G Suite account. The customerId is also returned as part of the Users resource.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "notificationId": {
              "description": "The unique ID of the notification.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/notifications/{notificationId}",
          "response": {
            "$ref": "Notification"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.notifications"
          ]
        },
        "list": {
          "description": "Retrieves a list of notifications.",
          "httpMethod": "GET",
          "id": "directory.notifications.list",
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The ISO 639-1 code of the language notifications are returned in. The default is English (en).",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of notifications to return per page. The default is 100.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token to specify the page of results to retrieve.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "customer/{customer}/notifications",
          "response": {
            "$ref": "Notifications"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.notifications"
          ]
        },
        "patch": {
          "description": "Updates a notification. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "directory.notifications.patch",
          "parameterOrder": [
            "customer",
            "notificationId"
          ],
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "notificationId": {
              "description": "The unique ID of the notification.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/notifications/{notificationId}",
          "request": {
            "$ref": "Notification"
          },
          "response": {
            "$ref": "Notification"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.notifications"
          ]
        },
        "update": {
          "description": "Updates a notification.",
          "httpMethod": "PUT",
          "id": "directory.notifications.update",
          "parameterOrder": [
            "customer",
            "notificationId"
          ],
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "notificationId": {
              "description": "The unique ID of the notification.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/notifications/{notificationId}",
          "request": {
            "$ref": "Notification"
          },
          "response": {
            "$ref": "Notification"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.notifications"
          ]
        }
      }
    },
    "orgunits": {
      "methods": {
        "delete": {
          "description": "Remove organizational unit",
          "httpMethod": "DELETE",
          "id": "directory.orgunits.delete",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orgUnitPath": {
              "description": "Full path of the organizational unit or its ID",
              "location": "path",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/orgunits{/orgUnitPath*}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ]
        },
        "get": {
          "description": "Retrieve organizational unit",
          "httpMethod": "GET",
          "id": "directory.orgunits.get",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orgUnitPath": {
              "description": "Full path of the organizational unit or its ID",
              "location": "path",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/orgunits{/orgUnitPath*}",
          "response": {
            "$ref": "OrgUnit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit",
            "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
          ]
        },
        "insert": {
          "description": "Add organizational unit",
          "httpMethod": "POST",
          "id": "directory.orgunits.insert",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/orgunits",
          "request": {
            "$ref": "OrgUnit"
          },
          "response": {
            "$ref": "OrgUnit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ]
        },
        "list": {
          "description": "Retrieve all organizational units",
          "httpMethod": "GET",
          "id": "directory.orgunits.list",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orgUnitPath": {
              "default": "",
              "description": "the URL-encoded organizational unit's path or its ID",
              "location": "query",
              "type": "string"
            },
            "type": {
              "description": "Whether to return all sub-organizations or just immediate children",
              "enum": [
                "all",
                "children"
              ],
              "enumDescriptions": [
                "All sub-organizational units.",
                "Immediate children only (default)."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "customer/{customerId}/orgunits",
          "response": {
            "$ref": "OrgUnits"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit",
            "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
          ]
        },
        "patch": {
          "description": "Update organizational unit. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "directory.orgunits.patch",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orgUnitPath": {
              "description": "Full path of the organizational unit or its ID",
              "location": "path",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/orgunits{/orgUnitPath*}",
          "request": {
            "$ref": "OrgUnit"
          },
          "response": {
            "$ref": "OrgUnit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ]
        },
        "update": {
          "description": "Update organizational unit",
          "httpMethod": "PUT",
          "id": "directory.orgunits.update",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the G Suite account",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orgUnitPath": {
              "description": "Full path of the organizational unit or its ID",
              "location": "path",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customerId}/orgunits{/orgUnitPath*}",
          "request": {
            "$ref": "OrgUnit"
          },
          "response": {
            "$ref": "OrgUnit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ]
        }
      }
    },
    "privileges": {
      "methods": {
        "list": {
          "description": "Retrieves a paginated list of all privileges for a customer.",
          "httpMethod": "GET",
          "id": "directory.privileges.list",
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/roles/ALL/privileges",
          "response": {
            "$ref": "Privileges"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ]
        }
      }
    },
    "resolvedAppAccessSettings": {
      "methods": {
        "GetSettings": {
          "description": "Retrieves resolved app access settings of the logged in user.",
          "httpMethod": "GET",
          "id": "directory.resolvedAppAccessSettings.GetSettings",
          "path": "resolvedappaccesssettings",
          "response": {
            "$ref": "AppAccessCollections"
          }
        },
        "ListTrustedApps": {
          "description": "Retrieves the list of apps trusted by the admin of the logged in user.",
          "httpMethod": "GET",
          "id": "directory.resolvedAppAccessSettings.ListTrustedApps",
          "path": "trustedapps",
          "response": {
            "$ref": "TrustedApps"
          }
        }
      }
    },
    "resources": {
      "resources": {
        "buildings": {
          "methods": {
            "delete": {
              "description": "Deletes a building.",
              "httpMethod": "DELETE",
              "id": "directory.resources.buildings.delete",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "parameters": {
                "buildingId": {
                  "description": "The ID of the building to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/buildings/{buildingId}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "get": {
              "description": "Retrieves a building.",
              "httpMethod": "GET",
              "id": "directory.resources.buildings.get",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "parameters": {
                "buildingId": {
                  "description": "The unique ID of the building to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/buildings/{buildingId}",
              "response": {
                "$ref": "Building"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ]
            },
            "insert": {
              "description": "Inserts a building.",
              "httpMethod": "POST",
              "id": "directory.resources.buildings.insert",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "coordinatesSource": {
                  "default": "SOURCE_UNSPECIFIED",
                  "description": "Source from which Building.coordinates are derived.",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to RESOLVED_FROM_ADDRESS if postal address is provided. Otherwise, defaults to CLIENT_SPECIFIED if coordinates are provided."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/buildings",
              "request": {
                "$ref": "Building"
              },
              "response": {
                "$ref": "Building"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "list": {
              "description": "Retrieves a list of buildings for an account.",
              "httpMethod": "GET",
              "id": "directory.resources.buildings.list",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "format": "int32",
                  "location": "query",
                  "maximum": "500",
                  "minimum": "1",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Token to specify the next page in the list.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/buildings",
              "response": {
                "$ref": "Buildings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ]
            },
            "patch": {
              "description": "Updates a building. This method supports patch semantics.",
              "httpMethod": "PATCH",
              "id": "directory.resources.buildings.patch",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "parameters": {
                "buildingId": {
                  "description": "The ID of the building to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "coordinatesSource": {
                  "default": "SOURCE_UNSPECIFIED",
                  "description": "Source from which Building.coordinates are derived.",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to RESOLVED_FROM_ADDRESS if postal address is provided. Otherwise, defaults to CLIENT_SPECIFIED if coordinates are provided."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/buildings/{buildingId}",
              "request": {
                "$ref": "Building"
              },
              "response": {
                "$ref": "Building"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "update": {
              "description": "Updates a building.",
              "httpMethod": "PUT",
              "id": "directory.resources.buildings.update",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "parameters": {
                "buildingId": {
                  "description": "The ID of the building to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "coordinatesSource": {
                  "default": "SOURCE_UNSPECIFIED",
                  "description": "Source from which Building.coordinates are derived.",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to RESOLVED_FROM_ADDRESS if postal address is provided. Otherwise, defaults to CLIENT_SPECIFIED if coordinates are provided."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/buildings/{buildingId}",
              "request": {
                "$ref": "Building"
              },
              "response": {
                "$ref": "Building"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            }
          }
        },
        "calendars": {
          "methods": {
            "delete": {
              "description": "Deletes a calendar resource.",
              "httpMethod": "DELETE",
              "id": "directory.resources.calendars.delete",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "parameters": {
                "calendarResourceId": {
                  "description": "The unique ID of the calendar resource to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/calendars/{calendarResourceId}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "get": {
              "description": "Retrieves a calendar resource.",
              "httpMethod": "GET",
              "id": "directory.resources.calendars.get",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "parameters": {
                "calendarResourceId": {
                  "description": "The unique ID of the calendar resource to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/calendars/{calendarResourceId}",
              "response": {
                "$ref": "CalendarResource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ]
            },
            "insert": {
              "description": "Inserts a calendar resource.",
              "httpMethod": "POST",
              "id": "directory.resources.calendars.insert",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/calendars",
              "request": {
                "$ref": "CalendarResource"
              },
              "response": {
                "$ref": "CalendarResource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "list": {
              "description": "Retrieves a list of calendar resources for an account.",
              "httpMethod": "GET",
              "id": "directory.resources.calendars.list",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "format": "int32",
                  "location": "query",
                  "maximum": "500",
                  "minimum": "1",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Field(s) to sort results by in either ascending or descending order. Supported fields include resourceId, resourceName, capacity, buildingId, and floorName. If no order is specified, defaults to ascending. Should be of the form \"field [asc|desc], field [asc|desc], ...\". For example buildingId, capacity desc would return results sorted first by buildingId in ascending order then by capacity in descending order.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the next page in the list.",
                  "location": "query",
                  "type": "string"
                },
                "query": {
                  "description": "String query used to filter results. Should be of the form \"field operator value\" where field can be any of supported fields and operators can be any of supported operations. Operators include '=' for exact match and ':' for prefix match or HAS match where applicable. For prefix match, the value should always be followed by a *. Supported fields include generatedResourceName, name, buildingId, featureInstances.feature.name. For example buildingId=US-NYC-9TH AND featureInstances.feature.name:Phone.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/calendars",
              "response": {
                "$ref": "CalendarResources"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ]
            },
            "patch": {
              "description": "Updates a calendar resource.\n\nThis method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved. This method supports patch semantics.",
              "httpMethod": "PATCH",
              "id": "directory.resources.calendars.patch",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "parameters": {
                "calendarResourceId": {
                  "description": "The unique ID of the calendar resource to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/calendars/{calendarResourceId}",
              "request": {
                "$ref": "CalendarResource"
              },
              "response": {
                "$ref": "CalendarResource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "update": {
              "description": "Updates a calendar resource.\n\nThis method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved.",
              "httpMethod": "PUT",
              "id": "directory.resources.calendars.update",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "parameters": {
                "calendarResourceId": {
                  "description": "The unique ID of the calendar resource to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/calendars/{calendarResourceId}",
              "request": {
                "$ref": "CalendarResource"
              },
              "response": {
                "$ref": "CalendarResource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            }
          }
        },
        "features": {
          "methods": {
            "delete": {
              "description": "Deletes a feature.",
              "httpMethod": "DELETE",
              "id": "directory.resources.features.delete",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "featureKey": {
                  "description": "The unique ID of the feature to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/features/{featureKey}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "get": {
              "description": "Retrieves a feature.",
              "httpMethod": "GET",
              "id": "directory.resources.features.get",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "featureKey": {
                  "description": "The unique ID of the feature to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/features/{featureKey}",
              "response": {
                "$ref": "Feature"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ]
            },
            "insert": {
              "description": "Inserts a feature.",
              "httpMethod": "POST",
              "id": "directory.resources.features.insert",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/features",
              "request": {
                "$ref": "Feature"
              },
              "response": {
                "$ref": "Feature"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "list": {
              "description": "Retrieves a list of features for an account.",
              "httpMethod": "GET",
              "id": "directory.resources.features.list",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "format": "int32",
                  "location": "query",
                  "maximum": "500",
                  "minimum": "1",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Token to specify the next page in the list.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/features",
              "response": {
                "$ref": "Features"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ]
            },
            "patch": {
              "description": "Updates a feature. This method supports patch semantics.",
              "httpMethod": "PATCH",
              "id": "directory.resources.features.patch",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "featureKey": {
                  "description": "The unique ID of the feature to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/features/{featureKey}",
              "request": {
                "$ref": "Feature"
              },
              "response": {
                "$ref": "Feature"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "rename": {
              "description": "Renames a feature.",
              "httpMethod": "POST",
              "id": "directory.resources.features.rename",
              "parameterOrder": [
                "customer",
                "oldName"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "oldName": {
                  "description": "The unique ID of the feature to rename.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/features/{oldName}/rename",
              "request": {
                "$ref": "FeatureRename"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "update": {
              "description": "Updates a feature.",
              "httpMethod": "PUT",
              "id": "directory.resources.features.update",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "featureKey": {
                  "description": "The unique ID of the feature to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "customer/{customer}/resources/features/{featureKey}",
              "request": {
                "$ref": "Feature"
              },
              "response": {
                "$ref": "Feature"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            }
          }
        }
      }
    },
    "roleAssignments": {
      "methods": {
        "delete": {
          "description": "Deletes a role assignment.",
          "httpMethod": "DELETE",
          "id": "directory.roleAssignments.delete",
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "roleAssignmentId": {
              "description": "Immutable ID of the role assignment.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/roleassignments/{roleAssignmentId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ]
        },
        "get": {
          "description": "Retrieve a role assignment.",
          "httpMethod": "GET",
          "id": "directory.roleAssignments.get",
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the G Suite account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "roleAssignmentId": {
              "description": "Immutable ID of the role assignment.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "customer/{customer}/roleassignments/{roleAssignmentId}",
          "response": {
            "$ref": "RoleAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ]
        },
        "insert": {
          "description": "Creates a role assignment.",
          "httpMethod": "POST",
          "id": "directory.roleAssignments.insert",
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
[...]
