	<div id="doccontent">
			{{ content }}
	</div>
<script type="text/javascript">
	$(function() {
			 	$('.nav-link').click( function() {
		        	var href = $(this).attr('href');
					var containertest = href.indexOf('#');
					history.pushState({}, null, href);
					if(containertest == -1){
						$('#doccontent').animate({scrollTop: 0}, 500).load(href + ' #doccontent > *');
					}
		        return false; // don't actually follow the link
		     	});
			    (function() {
			      var cx = '000109980045891363434:ylkdyqkassi';
			      var gcse = document.createElement('script');
			      gcse.type = 'text/javascript';
			      gcse.async = true;
			      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			          '//cse.google.com/cse.js?cx=' + cx;
			      var s = document.getElementsByTagName('script')[0];
			      s.parentNode.insertBefore(gcse, s);
			    })();
	});
</script>
