	<div id="doccontent">
			{{ content }}
	</div>
<script type="text/javascript">
	$(function() {
		/* Google custom search engine */
		(function() {
			var cx = '000109980045891363434:ylkdyqkassi';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				'//cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		})();
	});
</script>
