<ul class="menu">
	<li class="version">
		<a href="{{ site.url }}/v1.0/index.html" class="nav-link">Version 1.0</a>
	</li>
	<li class="navContainer">
		<a href="{{ site.url }}/v1.0/docs/README.html" class="nav-link">What is Kubernetes?</a>
	</li><!-- 
					GETTING STARTED
					 -->
	<li class="navContainer">Getting Started
	</li><!-- <li>System Requirements 
					</li>-->
	<li class="navSubMenu">
		<a href="{{ site.url }}/v1.0/docs/getting-started-guides/README.html" class="nav-link">Creating Kubernetes Clusters</a> <!--
			<li class="navSubMenu">
				<a href="#" class="nav-link">Next Steps Roadmap</a>
			</li> -->
	</li><!-- 
USERS GUIDE
	-->
	<li class="navContainer">User's Guide
	</li>
	<li class="navSubMenu">
		<a href="#" class="nav-link">Overview and Concepts</a>
		<ul class="navSubMenu">
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/overview.html" class="nav-link">Overview</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/design/architecture.html" class="nav-link">Architecture</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/pods.html" class="nav-link">Pods</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/labels.html" class="nav-link">Labels & Selectors</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/replication-controller.html" class="nav-link">Replication Controller</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/services.html" class="nav-link">Services</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/volumes.html" class="nav-link">Volumes</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/secrets.html" class="nav-link">Secrets</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/dentifiers.html" class="nav-link">Names</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/namespaces.html" class="nav-link">Namespaces</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/annotations.html" class="nav-link">Annotations</a>
			</li>
		</ul>
	</li><!-- 
APPLICATION ADMINISTRATION
		 -->
	<li class="navContainer2">Application Administration
	</li>
	<li class="navSubMenu2">
		<a href="{{ site.url }}/v1.0/docs/user-guide/README.html" class="nav-link">Application Admin Guide</a>
	</li>
	<li class="navSubMenu2"><a href="#">Quick Walkthrough (Basics Tutorials)</a>
		<ul>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/walkthrough/README.html" class="nav-link">Kubernetes 101</a>
			</li>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/walkthrough/k8s201.html" class="nav-link">Kubernetes 201</a>
			</li>
		</ul>
	</li>
	<li class="navSubMenu2"><a href="#">Detailed Walkthrough</a>
		<ul>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/quick-start.html" class="nav-link">Quick Start: Launching Applications</a>
			</li>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/configuring-containers.html" class="nav-link">Configuring Containers</a>
			</li>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/deploying-applications.html" class="nav-link">Deploying Applications</a>
			</li>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/connecting-applications.html" class="nav-link">Connecting Applications</a>
			</li>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/production-pods.html" class="nav-link">Working with Containers</a>
			</li>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/managing-deployments.html" class="nav-link">Managing Deployments</a>
			</li>
			<li class="navSubMenu">
				<a href="{{ site.url }}/v1.0/docs/user-guide/introspection-and-debugging.html" class="nav-link">Troubleshooting</a>
			</li>
			<li class="navSubMenu">Debugging:
			</li>
			<li class="navSubMenu2">
				<a href="{{ site.url }}/v1.0/docs/user-guide/ui.html" class="nav-link">Web Interface</a>
			</li>
			<li class="navSubMenu2">
				<a href="{{ site.url }}/v1.0/docs/user-guide/logging.html" class="nav-link">Logging</a>
			</li>
			<li class="navSubMenu2">
				<a href="{{ site.url }}/v1.0/docs/user-guide/monitoring.html" class="nav-link">Monitoring</a>
			</li>
			<li class="navSubMenu2">
				<a href="{{ site.url }}/v1.0/docs/user-guide/getting-into-containers.html" class="nav-link">Container Access (exec)</a>
			</li>
			<li class="navSubMenu2">
				<a href="{{ site.url }}/v1.0/docs/user-guide/connecting-to-applications-proxy.html" class="nav-link">Connect with Proxies</a>
			</li>
			<li class="navSubMenu2">
				<a href="{{ site.url }}/v1.0/docs/user-guide/connecting-to-applications-port-forward.html" class="nav-link">Connect with Port Forwarding</a>
			</li>
		</ul>
	</li>
	</li><!-- 
CLUSTER ADMINISTRATION 
		-->
	<li class="navContainer2">Cluster Administration
	</li>
	<li class="navSubMenu2">
		<a href="{{ site.url }}/v1.0/docs/admin/cluster-admin-guide.html" class="nav-link">Administering Clusters</a>
	</li>
	<li class="navSubMenu2">
		<a href="{{ site.url }}/v1.0/docs/design/README.html" class="nav-link">Planning and Designing</a>
		<ul class="navSubMenu">
			<li>
				<a href="#" class="nav-link">Scheduler</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/design/security.html" class="nav-link">Security</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/design/access.html" class="nav-link">Access Management</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/admin/admission-controllers.html" class="nav-link">Admission Controllers</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/admin/authentication.html" class="nav-link">Authentication</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/design/namespaces.html" class="nav-link">Namespaces</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/admin/networking.html" class="nav-link">Networking</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/admin/availability.html" class="nav-link">Availability</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/admin/high-availability.html" class="nav-link">High-Availability</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/resources.html" class="nav-link">Resources</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/roadmap.html" class="nav-link">Future Development</a>
			</li>
		</ul>
	</li>
	<li class="navSubMenu2">
		<a href="{{ site.url }}/v1.0/docs/admin/cluster_management.html" class="nav-link">Managing Clusters and Nodes</a>
		<ul class="navSubMenu">
			<li>
				<a href="#" class="nav-link">Creating Clusters and Nodes</a>
			</li>
			<li>
				<a href="#" class="nav-link">Configuring Clusters</a>
			</li>
			<li>
				<a href="https://github.com/GoogleCloudPlatform/kubernetes/wiki/User-FAQ#how-do-i-change-the-size-of-my-cluster" class="nav-link">Changing Cluster Size</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/admin/esource_quota.html" class="nav-link">Setting Resource Quotas</a>
			</li>
			<li>
				<a href="#" class="nav-link">Setting Limits</a>
			</li>
			<li>
				<a href="#" class="nav-link">Sharing Clusters</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/logging.html" class="nav-link">Logging</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/admin/networking.html" class="nav-link">Networking</a>
			</li>
			<li>
				<a href="#" class="nav-link">Viewing Clusters</a>
			</li>
			<li>
				<a href="#" class="nav-link">Upgrading Clusters</a>
			</li>
			<li>
				<a href="#" class="nav-link">Tearing Down Clusters</a>
			</li>
		</ul>
	</li>
	<li class="navSubMenu2">
		<a href="{{ site.url }}/v1.0/cluster/addons/cluster-monitoring/README.html" class="nav-link">Monitoring Clusters</a>
	</li>
	<li class="navSubMenu2">
				<a href="{{ site.url }}/v1.0/docs/admin/salt.html" class="nav-link">Configuration Management: SaltStack</a>
	</li>
	<li class="navSubMenu2">
		<a href="#" class="nav-link">Container Image Registry</a>
	</li><!-- 
				SOLUTIONS
			 -->
	<!--
				<li class="navContainer">Solutions
			</li>
			<li class="navSubMenu">
				<a href="#" class="nav-link">Deploying a solution goes here</a>
			</li>
					-->
	<!-- 
				TUTORIALS
				 -->
	<li class="navContainer">Tutorials
	</li>
	<li class="navSubMenu">
		<a href="#" class="nav-link">Kubernetes Basics</a>
		<ul class="navSubMenu3">
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/walkthrough/README.html" class="nav-link">Kubernetes 101</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/walkthrough/k8s201.html" class="nav-link">Kubernetes 201</a>
			</li>
		</ul>
	</li>
	<li class="navSubMenu">
		<a href="#" class="nav-link">Deploying Clusters</a>
		<ul class="navSubMenu3">
			<li>
				<a href="{{ site.url }}/v1.0/examples/cassandra/README.html" class="nav-link">Apache Cassandra Database</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/spark/README.html" class="nav-link">Apache Spark</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/storm/README.html" class="nav-link">Apache Storm</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/celery-rabbitmq/README.html" class="nav-link">Distributed Task Queue</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/hazelcast/README.html" class="nav-link">Hazelcast</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/meteor/README.html" class="nav-link">Meteor Applications</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/redis/README.html" class="nav-link">Redis</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/rethinkdb/README.html" class="nav-link">RethinkDB</a>
			</li>
		</ul>
	</li>
	<li class="navSubMenu">
		<a href="{{ site.url }}/v1.0/examples/mysql-wordpress-pd/README.html" class="nav-link">Persistent Images</a>
	</li>
	<li class="navSubMenu">
		<a href="#" class="nav-link">Multi-tier Applications</a>
		<ul class="navSubMenu3">
			<li>
				<a href="{{ site.url }}/v1.0/examples/guestbook-go/README.html" class="nav-link">Guestbook - Go Server</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/guestbook/README.html" class="nav-link">GuestBook - PHP Server</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/phabricator/README.html" class="nav-link">MySQL - Phabricator Server</a>
			</li>
		</ul>
	</li><!-- 
				EXAMPLES
				 -->
	<li class="navContainer">Examples
	</li>
	<li class="navSubMenu">
		<a href="#" class="nav-link">Setup and Configuration</a>
		<ul class="navSubMenu3">
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/simple-yaml.html" class="nav-link">Using Configuration Files</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/environment-guide/README.html" class="nav-link">Using Environment Variables</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/downward-api/README.html" class="nav-link">Using the Downward API</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/node-selection/README.html" class="nav-link">Assigning Pods to Nodes</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/examples/kubectl-container/README.html" class="nav-link">Packaging kubectl into a Pod</a>
			</li>
			<li>Resource Control:
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/kubernetes-namespaces/README.html" class="nav-link">Sharing through Namespaces</a>
			</li>
			<li>Networking:
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/simple-nginx.html" class="nav-link">Creating Servers with Ext. IPs</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/cluster-dns/README.html" class="nav-link">Setting Up & Configuring DNS</a>
			</li>
			<li>Logging:
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/docs/user-guide/logging-demo/README.html" class="nav-link">Configuring with Visualization</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/elasticsearch/README.html" class="nav-link">Deploying Elasticsearch</a>
			</li>
			<li>Security:
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/openshift-origin/README.html" class="nav-link">Deploying OpenShift Origin</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/docs/user-guide/secrets/README.html" class="nav-link">Creating and Using Secrets</a>
			</li>
			<li>Storage Models:
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/docs/user-guide/persistent-volumes/README.html" class="nav-link">Persistent Volumes</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/rbd/README.html" class="nav-link">Ceph Volumes</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/glusterfs/README.html" class="nav-link">GlusterFS Volumes</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/iscsi/README.html" class="nav-link">iSCSI Volumes</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/nfs/README.html" class="nav-link">NFS Volumes</a>
			</li>
			<!--><li class="navSubMenu3">
				<a href="#" class="nav-link">MongoDB Volumes</a>
				-->
			</li>
			<li>Test Loads, Health, and Status:
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/k8petstore/README.html" class="nav-link">Simulating Large Test Loads</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/docs/user-guide/liveness/README.html" class="nav-link">Checking if Pods are Healthy</a>
			</li>
			<li class="navSubMenu3">
				<a href="{{ site.url }}/v1.0/examples/explorer/README.html" class="nav-link">Exploring Pods</a>
			</li>
		</ul>
	</li>
	<li class="navSubMenu">
		<a href="#" class="nav-link">Upgrading Pods and Clusters</a>
<ul class="navSubMenu3">
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/update-demo/README.html" class="nav-link">Updating Live Pods</a>
	</li>
	<li>
		<a href="#" class="nav-link">Upgrading Clusters</a>
	</li>
</ul>
</li>
	<!-- 
				API REFERENCE
				 -->
	<li class="navContainer">API Reference
	</li>
	<li class="navSubMenu">
		<a href="{{ site.url }}/v1.0/docs/api.html" class="nav-link">API Basics</a>
<ul class="navSubMenu3">
	<li>
		<a href="{{ site.url }}/v1.0/docs/client-libraries.html" class="nav-link">Client Libraries</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/admin/authorization.html" class="nav-link">API Authorization</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/admin/accessing-the-api.html" class="nav-link">Reaching the API</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/working-with-resources.html" class="nav-link">Working with Resources</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/api-conventions.html" class="nav-link">API Conventions</a>
	</li>
</ul>
	</li>
	<li class="navSubMenu">
		<a href="http://kubernetes.io/third_party/swagger-ui/" class="nav-link">Kubernetes API Reference</a>
	</li><!-- 
				CLI REFERENCE
				 -->
	<li class="navContainer">CLI Reference
	</li>
	<li class="navSubMenu">
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl.html" class="nav-link">kubectl</a>
<ul class="navSubMenu3">
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_api-versions.html" class="nav-link">kubectl api-versions</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_cluster-info.html" class="nav-link">kubectl cluster-info</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_config_set-cluster.html" class="nav-link">kubectl set-cluster</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_config_set-context.html" class="nav-link">kubectl set-context</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_config_set-credentials.html" class="nav-link">kubectl set-credentials</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_config_set.html" class="nav-link">kubectl config set</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_config_unset.html" class="nav-link">kubectl config unset</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_config_use-context.html" class="nav-link">kubectl use-context</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_config.html" class="nav-link">kubectl config</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_config_view.html" class="nav-link">kubectl config view</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_create.html" class="nav-link">kubectl create</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_delete.html" class="nav-link">kubectl delete</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_describe.html" class="nav-link">kubectl describe</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_exec.html" class="nav-link">kubectl exec</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_expose.html" class="nav-link">kubectl expose</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_get.html" class="nav-link">kubectl get</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_label.html" class="nav-link">kubectl label</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_logs.html" class="nav-link">kubectl logs</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_namespace.html" class="nav-link">kubectl namespace</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_port-forward.html" class="nav-link">kubectl port-forward</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_patch.html" class="nav-link">kubectl patch</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_proxy.html" class="nav-link">kubectl proxy</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_replace.html" class="nav-link">kubectl replace</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_rolling-update.html" class="nav-link">kubectl rolling-update</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_run.html" class="nav-link">kubectl run</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_scale.html" class="nav-link">kubectl scale</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_stop.html" class="nav-link">kubectl stop</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/docs/user-guide/kubectl/kubectl_version.html" class="nav-link">kubectl version</a>
	</li>
</ul>
	</li>
	<li class="navContainer"><a href="{{ site.url }}/v1.0/docs/troubleshooting.html" class="nav-link">Troubleshooting</a>
		<ul class="navSubMenu3">
			<li>
				<a href="{{ site.url }}/v1.0/docs/user-guide/application-troubleshooting.html" class="nav-link">Applications</a>
			</li>
			<li>
				<a href="{{ site.url }}/v1.0/docs/admin/cluster-troubleshooting.html" class="nav-link">Clusters</a>
			</li>
			<li>Wiki FAQ
			</li>
			<li class="navSubMenu3">
				<a href="https://github.com/GoogleCloudPlatform/kubernetes/wiki/User-FAQ" class="nav-link">User FAQ</a>
			</li>
			<li class="navSubMenu3">
				<a href="https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ" class="nav-link">Debugging FAQ</a>
			</li>
			<li class="navSubMenu3">
				<a href="https://github.com/GoogleCloudPlatform/kubernetes/wiki/Services-FAQ" class="nav-link">Services FAQ</a>
			</li>
			<li>GitHub
			</li>
			<li class="navSubMenu3">
				<a href="https://github.com/GoogleCloudPlatform/kubernetes/issues" class="nav-link">Kubernetes Issues</a>
			</li>
		</ul>
	</li>
	<!-- 
				SUPPORT
				 -->
	<li class="navContainer">
		<a href="#" class="nav-link">Support</a>
<ul class="navSubMenu">
	<li>
		<a href="#" class="nav-link">Getting Help</a>
	</li>
	<li>
		<a href="#" class="nav-link">Esculating Security Issues</a>
	</li>
	<li>
		<a href="http://kubernetes.io/community/" class="nav-link">Community</a>
	</li>
	<li>
		<a href="{{ site.url }}/v1.0/contrib/recipes">Community Contriubted Solutions</a>
	</li>
	<li>
		<a href="https://github.com/GoogleCloudPlatform/kubernetes/wiki/Media" class="nav-link">Presentation and Videos</a>
	</li>
</ul>
	</li>
	<!-- 
				RELEASE NOTES
				 -->
	<li>
		<a href="https://github.com/GoogleCloudPlatform/kubernetes/releases" class="navContainer nav-link">Release Notes</a>
	</li>
	<li class="navContainer">
		<a href="{{ site.url }}/v1.0/docs/glossary.html" class="nav-link">Glossary</a>
	</li>
<!--
		<hr>
		<ul>
			<li>
				<a href="{{ site.url }}/vHEAD/index.html" class="nav-link">Development HEAD (unstable)</a>
			</li>
		</ul>
			-->
