{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/dkoYxqfGO2jaG60VA5h0K8BOG4k\"",
 "discoveryVersion": "v1",
 "id": "storage:v1",
 "name": "storage",
 "version": "v1",
 "revision": "20170824",
 "title": "Cloud Storage JSON API",
 "description": "Stores and retrieves potentially large, immutable data objects.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/cloud_storage-16.png",
  "x32": "https://www.google.com/images/icons/product/cloud_storage-32.png"
 },
 "documentationLink": "https://developers.google.com/storage/docs/json_api/",
 "labels": [
  "labs"
 ],
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/storage/v1/",
 "basePath": "/storage/v1/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "storage/v1/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/cloud-platform.read-only": {
     "description": "View your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/devstorage.full_control": {
     "description": "Manage your data and permissions in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_only": {
     "description": "View your data in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_write": {
     "description": "Manage your data in Google Cloud Storage"
    }
   }
  }
 },
 "schemas": {
  "Bucket": {
   "id": "Bucket",
   "type": "object",
   "description": "A bucket.",
   "properties": {
    "acl": {
     "type": "array",
     "description": "Access controls on the bucket.",
     "items": {
      "$ref": "BucketAccessControl"
     },
     "annotations": {
      "required": [
       "storage.buckets.update"
      ]
     }
    },
    "billing": {
     "type": "object",
     "description": "The bucket's billing configuration.",
     "properties": {
      "requesterPays": {
       "type": "boolean",
       "description": "When set to true, bucket is requester pays."
      }
     }
    },
    "cors": {
     "type": "array",
     "description": "The bucket's Cross-Origin Resource Sharing (CORS) configuration.",
     "items": {
      "type": "object",
      "properties": {
       "maxAgeSeconds": {
        "type": "integer",
        "description": "The value, in seconds, to return in the  Access-Control-Max-Age header used in preflight responses.",
        "format": "int32"
       },
       "method": {
        "type": "array",
        "description": "The list of HTTP methods on which to include CORS response headers, (GET, OPTIONS, POST, etc) Note: \"*\" is permitted in the list of methods, and means \"any method\".",
        "items": {
         "type": "string"
        }
       },
       "origin": {
        "type": "array",
        "description": "The list of Origins eligible to receive CORS response headers. Note: \"*\" is permitted in the list of origins, and means \"any Origin\".",
        "items": {
         "type": "string"
        }
       },
       "responseHeader": {
        "type": "array",
        "description": "The list of HTTP headers other than the simple response headers to give permission for the user-agent to share across domains.",
        "items": {
         "type": "string"
        }
       }
      }
     }
    },
    "defaultObjectAcl": {
     "type": "array",
     "description": "Default access controls to apply to new objects when no ACL is provided.",
     "items": {
      "$ref": "ObjectAccessControl"
     }
    },
    "encryption": {
     "type": "object",
     "description": "Encryption configuration used by default for newly inserted objects, when no encryption config is specified.",
     "properties": {
      "defaultKmsKeyName": {
       "type": "string"
      }
     }
    },
    "etag": {
     "type": "string",
     "description": "HTTP 1.1 Entity tag for the bucket."
    },
    "id": {
     "type": "string",
     "description": "The ID of the bucket. For buckets, the id and name properities are the same."
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For buckets, this is always storage#bucket.",
     "default": "storage#bucket"
    },
    "labels": {
     "type": "object",
     "description": "User-provided labels, in key/value pairs.",
     "additionalProperties": {
      "type": "string",
      "description": "An individual label entry."
     }
    },
    "lifecycle": {
     "type": "object",
     "description": "The bucket's lifecycle configuration. See lifecycle management for more information.",
     "properties": {
      "rule": {
       "type": "array",
       "description": "A lifecycle management rule, which is made of an action to take and the condition(s) under which the action will be taken.",
       "items": {
        "type": "object",
        "properties": {
         "action": {
          "type": "object",
          "description": "The action to take.",
          "properties": {
           "storageClass": {
            "type": "string",
            "description": "Target storage class. Required iff the type of the action is SetStorageClass."
           },
           "type": {
            "type": "string",
            "description": "Type of the action. Currently, only Delete and SetStorageClass are supported."
           }
          }
         },
         "condition": {
          "type": "object",
          "description": "The condition(s) under which the action will be taken.",
          "properties": {
           "age": {
            "type": "integer",
            "description": "Age of an object (in days). This condition is satisfied when an object reaches the specified age.",
            "format": "int32"
           },
           "createdBefore": {
            "type": "string",
            "description": "A date in RFC 3339 format with only the date part (for instance, \"2013-01-15\"). This condition is satisfied when an object is created before midnight of the specified date in UTC.",
            "format": "date"
           },
           "isLive": {
            "type": "boolean",
            "description": "Relevant only for versioned objects. If the value is true, this condition matches live objects; if the value is false, it matches archived objects."
           },
           "matchesStorageClass": {
            "type": "array",
            "description": "Objects having any of the storage classes specified by this condition will be matched. Values include MULTI_REGIONAL, REGIONAL, NEARLINE, COLDLINE, STANDARD, and DURABLE_REDUCED_AVAILABILITY.",
            "items": {
             "type": "string"
            }
           },
           "numNewerVersions": {
            "type": "integer",
            "description": "Relevant only for versioned objects. If the value is N, this condition is satisfied when there are at least N versions (including the live version) newer than this version of the object.",
            "format": "int32"
           }
          }
         }
        }
       }
      }
     }
    },
    "location": {
     "type": "string",
     "description": "The location of the bucket. Object data for objects in the bucket resides in physical storage within this region. Defaults to US. See the developer's guide for the authoritative list."
    },
    "logging": {
     "type": "object",
     "description": "The bucket's logging configuration, which defines the destination bucket and optional name prefix for the current bucket's logs.",
     "properties": {
      "logBucket": {
       "type": "string",
       "description": "The destination bucket where the current bucket's logs should be placed."
      },
      "logObjectPrefix": {
       "type": "string",
       "description": "A prefix for log object names."
      }
     }
    },
    "metageneration": {
     "type": "string",
     "description": "The metadata generation of this bucket.",
     "format": "int64"
    },
    "name": {
     "type": "string",
     "description": "The name of the bucket.",
     "annotations": {
      "required": [
       "storage.buckets.insert"
      ]
     }
    },
    "owner": {
     "type": "object",
     "description": "The owner of the bucket. This is always the project team's owner group.",
     "properties": {
      "entity": {
       "type": "string",
       "description": "The entity, in the form project-owner-projectId."
      },
      "entityId": {
       "type": "string",
       "description": "The ID for the entity."
      }
     }
    },
    "projectNumber": {
     "type": "string",
     "description": "The project number of the project the bucket belongs to.",
     "format": "uint64"
    },
    "selfLink": {
     "type": "string",
     "description": "The URI of this bucket."
    },
    "storageClass": {
     "type": "string",
     "description": "The bucket's default storage class, used whenever no storageClass is specified for a newly-created object. This defines how objects in the bucket are stored and determines the SLA and the cost of storage. Values include MULTI_REGIONAL, REGIONAL, STANDARD, NEARLINE, COLDLINE, and DURABLE_REDUCED_AVAILABILITY. If this value is not specified when the bucket is created, it will default to STANDARD. For more information, see storage classes."
    },
    "timeCreated": {
     "type": "string",
     "description": "The creation time of the bucket in RFC 3339 format.",
     "format": "date-time"
    },
    "updated": {
     "type": "string",
     "description": "The modification time of the bucket in RFC 3339 format.",
     "format": "date-time"
    },
    "versioning": {
     "type": "object",
     "description": "The bucket's versioning configuration.",
     "properties": {
      "enabled": {
       "type": "boolean",
       "description": "While set to true, versioning is fully enabled for this bucket."
      }
     }
    },
    "website": {
     "type": "object",
     "description": "The bucket's website configuration, controlling how the service behaves when accessing bucket contents as a web site. See the Static Website Examples for more information.",
     "properties": {
      "mainPageSuffix": {
       "type": "string",
       "description": "If the requested object path is missing, the service will ensure the path has a trailing '/', append this suffix, and attempt to retrieve the resulting object. This allows the creation of index.html objects to represent directory pages."
      },
      "notFoundPage": {
       "type": "string",
       "description": "If the requested object path is missing, and any mainPageSuffix object is missing, if applicable, the service will return the named object from this bucket as the content for a 404 Not Found result."
      }
     }
    }
   }
  },
  "BucketAccessControl": {
   "id": "BucketAccessControl",
   "type": "object",
   "description": "An access-control entry.",
   "properties": {
    "bucket": {
     "type": "string",
     "description": "The name of the bucket."
    },
    "domain": {
     "type": "string",
     "description": "The domain associated with the entity, if any."
    },
    "email": {
     "type": "string",
     "description": "The email address associated with the entity, if any."
    },
    "entity": {
     "type": "string",
     "description": "The entity holding the permission, in one of the following forms: \n- user-userId \n- user-email \n- group-groupId \n- group-email \n- domain-domain \n- project-team-projectId \n- allUsers \n- allAuthenticatedUsers Examples: \n- The user liz@example.com would be user-liz@example.com. \n- The group example@googlegroups.com would be group-example@googlegroups.com. \n- To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.",
     "annotations": {
      "required": [
       "storage.bucketAccessControls.insert"
      ]
     }
    },
    "entityId": {
     "type": "string",
     "description": "The ID for the entity, if any."
    },
    "etag": {
     "type": "string",
     "description": "HTTP 1.1 Entity tag for the access-control entry."
    },
    "id": {
     "type": "string",
     "description": "The ID of the access-control entry."
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For bucket access control entries, this is always storage#bucketAccessControl.",
     "default": "storage#bucketAccessControl"
    },
    "projectTeam": {
     "type": "object",
     "description": "The project team associated with the entity, if any.",
     "properties": {
      "projectNumber": {
       "type": "string",
       "description": "The project number."
      },
      "team": {
       "type": "string",
       "description": "The team."
      }
     }
    },
    "role": {
     "type": "string",
     "description": "The access permission for the entity.",
     "annotations": {
      "required": [
       "storage.bucketAccessControls.insert"
      ]
     }
    },
    "selfLink": {
     "type": "string",
     "description": "The link to this access-control entry."
    }
   }
  },
  "BucketAccessControls": {
   "id": "BucketAccessControls",
   "type": "object",
   "description": "An access-control list.",
   "properties": {
    "items": {
     "type": "array",
     "description": "The list of items.",
     "items": {
      "$ref": "BucketAccessControl"
     }
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For lists of bucket access control entries, this is always storage#bucketAccessControls.",
     "default": "storage#bucketAccessControls"
    }
   }
  },
  "Buckets": {
   "id": "Buckets",
   "type": "object",
   "description": "A list of buckets.",
   "properties": {
    "items": {
     "type": "array",
     "description": "The list of items.",
     "items": {
      "$ref": "Bucket"
     }
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For lists of buckets, this is always storage#buckets.",
     "default": "storage#buckets"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
    }
   }
  },
  "Channel": {
   "id": "Channel",
   "type": "object",
   "description": "An notification channel used to watch for resource changes.",
   "properties": {
    "address": {
     "type": "string",
     "description": "The address where notifications are delivered for this channel."
    },
    "expiration": {
     "type": "string",
     "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "A UUID or similar unique string that identifies this channel."
    },
    "kind": {
     "type": "string",
     "description": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
     "default": "api#channel"
    },
    "params": {
     "type": "object",
     "description": "Additional parameters controlling delivery channel behavior. Optional.",
     "additionalProperties": {
      "type": "string",
      "description": "Declares a new parameter by name."
     }
    },
    "payload": {
     "type": "boolean",
     "description": "A Boolean value to indicate whether payload is wanted. Optional."
    },
    "resourceId": {
     "type": "string",
     "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
    },
    "resourceUri": {
     "type": "string",
     "description": "A version-specific identifier for the watched resource."
    },
    "token": {
     "type": "string",
     "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
    },
    "type": {
     "type": "string",
     "description": "The type of delivery mechanism used for this channel."
    }
   }
  },
  "ComposeRequest": {
   "id": "ComposeRequest",
   "type": "object",
   "description": "A Compose request.",
   "properties": {
    "destination": {
     "$ref": "Object",
     "description": "Properties of the resulting object."
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is.",
     "default": "storage#composeRequest"
    },
    "sourceObjects": {
     "type": "array",
     "description": "The list of source objects that will be concatenated into a single object.",
     "items": {
      "type": "object",
      "properties": {
       "generation": {
        "type": "string",
        "description": "The generation of this object to use as the source.",
        "format": "int64"
       },
       "name": {
        "type": "string",
        "description": "The source object's name. The source object's bucket is implicitly the destination bucket.",
        "annotations": {
         "required": [
          "storage.objects.compose"
         ]
        }
       },
       "objectPreconditions": {
        "type": "object",
        "description": "Conditions that must be met for this operation to execute.",
        "properties": {
         "ifGenerationMatch": {
          "type": "string",
          "description": "Only perform the composition if the generation of the source object that would be used matches this value. If this value and a generation are both specified, they must be the same value or the call will fail.",
          "format": "int64"
         }
        }
       }
      }
     },
     "annotations": {
      "required": [
       "storage.objects.compose"
      ]
     }
    }
   }
  },
  "Notification": {
   "id": "Notification",
   "type": "object",
   "description": "A subscription to receive Google PubSub notifications.",
   "properties": {
    "custom_attributes": {
     "type": "object",
     "description": "An optional list of additional attributes to attach to each Cloud PubSub message published for this notification subscription.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "etag": {
     "type": "string",
     "description": "HTTP 1.1 Entity tag for this subscription notification."
    },
    "event_types": {
     "type": "array",
     "description": "If present, only send notifications about listed event types. If empty, sent notifications for all event types.",
     "items": {
      "type": "string"
     }
    },
    "id": {
     "type": "string",
     "description": "The ID of the notification."
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For notifications, this is always storage#notification.",
     "default": "storage#notification"
    },
    "object_name_prefix": {
     "type": "string",
     "description": "If present, only apply this notification configuration to object names that begin with this prefix."
    },
    "payload_format": {
     "type": "string",
     "description": "The desired content of the Payload.",
     "default": "JSON_API_V1"
    },
    "selfLink": {
     "type": "string",
     "description": "The canonical URL of this notification."
    },
    "topic": {
     "type": "string",
     "description": "The Cloud PubSub topic to which this subscription publishes. Formatted as: '//pubsub.googleapis.com/projects/{project-identifier}/topics/{my-topic}'",
     "annotations": {
      "required": [
       "storage.notifications.insert"
      ]
     }
    }
   }
  },
  "Notifications": {
   "id": "Notifications",
   "type": "object",
   "description": "A list of notification subscriptions.",
   "properties": {
    "items": {
     "type": "array",
     "description": "The list of items.",
     "items": {
      "$ref": "Notification"
     }
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For lists of notifications, this is always storage#notifications.",
     "default": "storage#notifications"
    }
   }
  },
  "Object": {
   "id": "Object",
   "type": "object",
   "description": "An object.",
   "properties": {
    "acl": {
     "type": "array",
     "description": "Access controls on the object.",
     "items": {
      "$ref": "ObjectAccessControl"
     },
     "annotations": {
      "required": [
       "storage.objects.update"
      ]
     }
    },
    "bucket": {
     "type": "string",
     "description": "The name of the bucket containing this object."
    },
    "cacheControl": {
     "type": "string",
     "description": "Cache-Control directive for the object data. If omitted, and the object is accessible to all anonymous users, the default will be public, max-age=3600."
    },
    "componentCount": {
     "type": "integer",
     "description": "Number of underlying components that make up this object. Components are accumulated by compose operations.",
     "format": "int32"
    },
    "contentDisposition": {
     "type": "string",
     "description": "Content-Disposition of the object data."
    },
    "contentEncoding": {
     "type": "string",
     "description": "Content-Encoding of the object data."
    },
    "contentLanguage": {
     "type": "string",
     "description": "Content-Language of the object data."
    },
    "contentType": {
     "type": "string",
     "description": "Content-Type of the object data. If an object is stored without a Content-Type, it is served as application/octet-stream."
    },
    "crc32c": {
     "type": "string",
     "description": "CRC32c checksum, as described in RFC 4960, Appendix B; encoded using base64 in big-endian byte order. For more information about using the CRC32c checksum, see Hashes and ETags: Best Practices."
    },
    "customerEncryption": {
     "type": "object",
     "description": "Metadata of customer-supplied encryption key, if the object is encrypted by such a key.",
     "properties": {
      "encryptionAlgorithm": {
       "type": "string",
       "description": "The encryption algorithm."
      },
      "keySha256": {
       "type": "string",
       "description": "SHA256 hash value of the encryption key."
      }
     }
    },
    "etag": {
     "type": "string",
     "description": "HTTP 1.1 Entity tag for the object."
    },
    "generation": {
     "type": "string",
     "description": "The content generation of this object. Used for object versioning.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "The ID of the object, including the bucket name, object name, and generation number."
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For objects, this is always storage#object.",
     "default": "storage#object"
    },
    "kmsKeyName": {
     "type": "string",
     "description": "Cloud KMS Key used to encrypt this object, if the object is encrypted by such a key."
    },
    "md5Hash": {
     "type": "string",
     "description": "MD5 hash of the data; encoded using base64. For more information about using the MD5 hash, see Hashes and ETags: Best Practices."
    },
    "mediaLink": {
     "type": "string",
     "description": "Media download link."
    },
    "metadata": {
     "type": "object",
     "description": "User-provided metadata, in key/value pairs.",
     "additionalProperties": {
      "type": "string",
      "description": "An individual metadata entry."
     }
    },
    "metageneration": {
     "type": "string",
     "description": "The version of the metadata for this object at this generation. Used for preconditions and for detecting changes in metadata. A metageneration number is only meaningful in the context of a particular generation of a particular object.",
     "format": "int64"
    },
    "name": {
     "type": "string",
     "description": "The name of the object. Required if not specified by URL parameter."
    },
    "owner": {
     "type": "object",
     "description": "The owner of the object. This will always be the uploader of the object.",
     "properties": {
      "entity": {
       "type": "string",
       "description": "The entity, in the form user-userId."
      },
      "entityId": {
       "type": "string",
       "description": "The ID for the entity."
      }
     }
    },
    "selfLink": {
     "type": "string",
     "description": "The link to this object."
    },
    "size": {
     "type": "string",
     "description": "Content-Length of the data in bytes.",
     "format": "uint64"
    },
    "storageClass": {
     "type": "string",
     "description": "Storage class of the object."
    },
    "timeCreated": {
     "type": "string",
     "description": "The creation time of the object in RFC 3339 format.",
     "format": "date-time"
    },
    "timeDeleted": {
     "type": "string",
     "description": "The deletion time of the object in RFC 3339 format. Will be returned if and only if this version of the object has been deleted.",
     "format": "date-time"
    },
    "timeStorageClassUpdated": {
     "type": "string",
     "description": "The time at which the object's storage class was last changed. When the object is initially created, it will be set to timeCreated.",
     "format": "date-time"
    },
    "updated": {
     "type": "string",
     "description": "The modification time of the object metadata in RFC 3339 format.",
     "format": "date-time"
    }
   }
  },
  "ObjectAccessControl": {
   "id": "ObjectAccessControl",
   "type": "object",
   "description": "An access-control entry.",
   "properties": {
    "bucket": {
     "type": "string",
     "description": "The name of the bucket."
    },
    "domain": {
     "type": "string",
     "description": "The domain associated with the entity, if any."
    },
    "email": {
     "type": "string",
     "description": "The email address associated with the entity, if any."
    },
    "entity": {
     "type": "string",
     "description": "The entity holding the permission, in one of the following forms: \n- user-userId \n- user-email \n- group-groupId \n- group-email \n- domain-domain \n- project-team-projectId \n- allUsers \n- allAuthenticatedUsers Examples: \n- The user liz@example.com would be user-liz@example.com. \n- The group example@googlegroups.com would be group-example@googlegroups.com. \n- To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.",
     "annotations": {
      "required": [
       "storage.defaultObjectAccessControls.insert",
       "storage.objectAccessControls.insert"
      ]
     }
    },
    "entityId": {
     "type": "string",
     "description": "The ID for the entity, if any."
    },
    "etag": {
     "type": "string",
     "description": "HTTP 1.1 Entity tag for the access-control entry."
    },
    "generation": {
     "type": "string",
     "description": "The content generation of the object, if applied to an object.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "The ID of the access-control entry."
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For object access control entries, this is always storage#objectAccessControl.",
     "default": "storage#objectAccessControl"
    },
    "object": {
     "type": "string",
     "description": "The name of the object, if applied to an object."
    },
    "projectTeam": {
     "type": "object",
     "description": "The project team associated with the entity, if any.",
     "properties": {
      "projectNumber": {
       "type": "string",
       "description": "The project number."
      },
      "team": {
       "type": "string",
       "description": "The team."
      }
     }
    },
    "role": {
     "type": "string",
     "description": "The access permission for the entity.",
     "annotations": {
      "required": [
       "storage.defaultObjectAccessControls.insert",
       "storage.objectAccessControls.insert"
      ]
     }
    },
    "selfLink": {
     "type": "string",
     "description": "The link to this access-control entry."
    }
   }
  },
  "ObjectAccessControls": {
   "id": "ObjectAccessControls",
   "type": "object",
   "description": "An access-control list.",
   "properties": {
    "items": {
     "type": "array",
     "description": "The list of items.",
     "items": {
      "$ref": "ObjectAccessControl"
     }
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For lists of object access control entries, this is always storage#objectAccessControls.",
     "default": "storage#objectAccessControls"
    }
   }
  },
  "Objects": {
   "id": "Objects",
   "type": "object",
   "description": "A list of objects.",
   "properties": {
    "items": {
     "type": "array",
     "description": "The list of items.",
     "items": {
      "$ref": "Object"
     }
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For lists of objects, this is always storage#objects.",
     "default": "storage#objects"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
    },
    "prefixes": {
     "type": "array",
     "description": "The list of prefixes of objects matching-but-not-listed up to and including the requested delimiter.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Policy": {
   "id": "Policy",
   "type": "object",
   "description": "A bucket/object IAM policy.",
   "properties": {
    "bindings": {
     "type": "array",
     "description": "An association between a role, which comes with a set of permissions, and members who may assume that role.",
     "items": {
      "type": "object",
      "properties": {
       "condition": {
        "type": "any"
       },
       "members": {
        "type": "array",
        "description": "A collection of identifiers for members who may assume the provided role. Recognized identifiers are as follows:  \n- allUsers — A special identifier that represents anyone on the internet; with or without a Google account.  \n- allAuthenticatedUsers — A special identifier that represents anyone who is authenticated with a Google account or a service account.  \n- user:emailid — An email address that represents a specific account. For example, user:alice@gmail.com or user:joe@example.com.  \n- serviceAccount:emailid — An email address that represents a service account. For example,  serviceAccount:my-other-app@appspot.gserviceaccount.com .  \n- group:emailid — An email address that represents a Google group. For example, group:admins@example.com.  \n- domain:domain — A Google Apps domain name that represents all the users of that domain. For example, domain:google.com or domain:example.com.  \n- projectOwner:projectid — Owners of the given project. For example, projectOwner:my-example-project  \n- projectEditor:projectid — Editors of the given project. For example, projectEditor:my-example-project  \n- projectViewer:projectid — Viewers of the given project. For example, projectViewer:my-example-project",
        "items": {
         "type": "string"
        },
        "annotations": {
         "required": [
          "storage.buckets.setIamPolicy",
          "storage.objects.setIamPolicy"
         ]
        }
       },
       "role": {
        "type": "string",
        "description": "The role to which members belong. Two types of roles are supported: new IAM roles, which grant permissions that do not map directly to those provided by ACLs, and legacy IAM roles, which do map directly to ACL permissions. All roles are of the format roles/storage.specificRole.\nThe new IAM roles are:  \n- roles/storage.admin — Full control of Google Cloud Storage resources.  \n- roles/storage.objectViewer — Read-Only access to Google Cloud Storage objects.  \n- roles/storage.objectCreator — Access to create objects in Google Cloud Storage.  \n- roles/storage.objectAdmin — Full control of Google Cloud Storage objects.   The legacy IAM roles are:  \n- roles/storage.legacyObjectReader — Read-only access to objects without listing. Equivalent to an ACL entry on an object with the READER role.  \n- roles/storage.legacyObjectOwner — Read/write access to existing objects without listing. Equivalent to an ACL entry on an object with the OWNER role.  \n- roles/storage.legacyBucketReader — Read access to buckets with object listing. Equivalent to an ACL entry on a bucket with the READER role.  \n- roles/storage.legacyBucketWriter — Read access to buckets with object listing/creation/deletion. Equivalent to an ACL entry on a bucket with the WRITER role.  \n- roles/storage.legacyBucketOwner — Read and write access to existing buckets with object listing/creation/deletion. Equivalent to an ACL entry on a bucket with the OWNER role.",
        "annotations": {
         "required": [
          "storage.buckets.setIamPolicy",
          "storage.objects.setIamPolicy"
         ]
        }
       }
      }
     },
     "annotations": {
      "required": [
       "storage.buckets.setIamPolicy",
       "storage.objects.setIamPolicy"
      ]
     }
    },
    "etag": {
     "type": "string",
     "description": "HTTP 1.1  Entity tag for the policy.",
     "format": "byte"
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For policies, this is always storage#policy. This field is ignored on input.",
     "default": "storage#policy"
    },
    "resourceId": {
     "type": "string",
     "description": "The ID of the resource to which this policy belongs. Will be of the form projects/_/buckets/bucket for buckets, and projects/_/buckets/bucket/objects/object for objects. A specific generation may be specified by appending #generationNumber to the end of the object name, e.g. projects/_/buckets/my-bucket/objects/data.txt#17. The current generation can be denoted with #0. This field is ignored on input."
    }
   }
  },
  "RewriteResponse": {
   "id": "RewriteResponse",
   "type": "object",
   "description": "A rewrite response.",
   "properties": {
    "done": {
     "type": "boolean",
     "description": "true if the copy is finished; otherwise, false if the copy is in progress. This property is always present in the response."
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is.",
     "default": "storage#rewriteResponse"
    },
    "objectSize": {
     "type": "string",
     "description": "The total size of the object being copied in bytes. This property is always present in the response.",
     "format": "int64"
    },
    "resource": {
     "$ref": "Object",
     "description": "A resource containing the metadata for the copied-to object. This property is present in the response only when copying completes."
    },
    "rewriteToken": {
     "type": "string",
     "description": "A token to use in subsequent requests to continue copying data. This token is present in the response only when there is more data to copy."
    },
    "totalBytesRewritten": {
     "type": "string",
     "description": "The total bytes written so far, which can be used to provide a waiting user with a progress indicator. This property is always present in the response.",
     "format": "int64"
    }
   }
  },
  "ServiceAccount": {
   "id": "ServiceAccount",
   "type": "object",
   "description": "A subscription to receive Google PubSub notifications.",
   "properties": {
    "email_address": {
     "type": "string",
     "description": "The ID of the notification."
    },
    "kind": {
     "type": "string",
     "description": "The kind of item this is. For notifications, this is always storage#notification.",
     "default": "storage#serviceAccount"
    }
   }
  },
  "TestIamPermissionsResponse": {
   "id": "TestIamPermissionsResponse",
   "type": "object",
   "description": "A storage.(buckets|objects).testIamPermissions response.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The kind of item this is.",
     "default": "storage#testIamPermissionsResponse"
    },
    "permissions": {
     "type": "array",
     "description": "The permissions held by the caller. Permissions are always of the format storage.resource.capability, where resource is one of buckets or objects. The supported permissions are as follows:  \n- storage.buckets.delete — Delete bucket.  \n- storage.buckets.get — Read bucket metadata.  \n- storage.buckets.getIamPolicy — Read bucket IAM policy.  \n- storage.buckets.create — Create bucket.  \n- storage.buckets.list — List buckets.  \n- storage.buckets.setIamPolicy — Update bucket IAM policy.  \n- storage.buckets.update — Update bucket metadata.  \n- storage.objects.delete — Delete object.  \n- storage.objects.get — Read object data and metadata.  \n- storage.objects.getIamPolicy — Read object IAM policy.  \n- storage.objects.create — Create object.  \n- storage.objects.list — List objects.  \n- storage.objects.setIamPolicy — Update object IAM policy.  \n- storage.objects.update — Update object metadata.",
     "items": {
      "type": "string"
     }
    }
   }
  }
 },
 "resources": {
  "bucketAccessControls": {
   "methods": {
    "delete": {
     "id": "storage.bucketAccessControls.delete",
     "path": "b/{bucket}/acl/{entity}",
     "httpMethod": "DELETE",
     "description": "Permanently deletes the ACL entry for the specified entity on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "entity"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "get": {
     "id": "storage.bucketAccessControls.get",
     "path": "b/{bucket}/acl/{entity}",
     "httpMethod": "GET",
     "description": "Returns the ACL entry for the specified entity on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "entity"
     ],
     "response": {
      "$ref": "BucketAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "insert": {
     "id": "storage.bucketAccessControls.insert",
     "path": "b/{bucket}/acl",
     "httpMethod": "POST",
     "description": "Creates a new ACL entry on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "request": {
      "$ref": "BucketAccessControl"
     },
     "response": {
      "$ref": "BucketAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "list": {
     "id": "storage.bucketAccessControls.list",
     "path": "b/{bucket}/acl",
     "httpMethod": "GET",
     "description": "Retrieves ACL entries on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "response": {
      "$ref": "BucketAccessControls"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "patch": {
     "id": "storage.bucketAccessControls.patch",
     "path": "b/{bucket}/acl/{entity}",
     "httpMethod": "PATCH",
     "description": "Updates an ACL entry on the specified bucket. This method supports patch semantics.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "entity"
     ],
     "request": {
      "$ref": "BucketAccessControl"
     },
     "response": {
      "$ref": "BucketAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "update": {
     "id": "storage.bucketAccessControls.update",
     "path": "b/{bucket}/acl/{entity}",
     "httpMethod": "PUT",
     "description": "Updates an ACL entry on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "entity"
     ],
     "request": {
      "$ref": "BucketAccessControl"
     },
     "response": {
      "$ref": "BucketAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    }
   }
  },
  "buckets": {
   "methods": {
    "delete": {
     "id": "storage.buckets.delete",
     "path": "b/{bucket}",
     "httpMethod": "DELETE",
     "description": "Permanently deletes an empty bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "If set, only deletes the bucket if its metageneration matches this value.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationNotMatch": {
       "type": "string",
       "description": "If set, only deletes the bucket if its metageneration does not match this value.",
       "format": "int64",
       "location": "query"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "get": {
     "id": "storage.buckets.get",
     "path": "b/{bucket}",
     "httpMethod": "GET",
     "description": "Returns metadata for the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationNotMatch": {
       "type": "string",
       "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "projection": {
       "type": "string",
       "description": "Set of properties to return. Defaults to noAcl.",
       "enum": [
        "full",
        "noAcl"
       ],
       "enumDescriptions": [
        "Include all properties.",
        "Omit owner, acl and defaultObjectAcl properties."
       ],
       "location": "query"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "response": {
      "$ref": "Bucket"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "getIamPolicy": {
     "id": "storage.buckets.getIamPolicy",
     "path": "b/{bucket}/iam",
     "httpMethod": "GET",
     "description": "Returns an IAM policy for the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "response": {
      "$ref": "Policy"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "insert": {
     "id": "storage.buckets.insert",
     "path": "b",
     "httpMethod": "POST",
     "description": "Creates a new bucket.",
     "parameters": {
      "predefinedAcl": {
       "type": "string",
       "description": "Apply a predefined set of access controls to this bucket.",
       "enum": [
        "authenticatedRead",
        "private",
        "projectPrivate",
        "publicRead",
        "publicReadWrite"
       ],
       "enumDescriptions": [
        "Project team owners get OWNER access, and allAuthenticatedUsers get READER access.",
        "Project team owners get OWNER access.",
        "Project team members get access according to their roles.",
        "Project team owners get OWNER access, and allUsers get READER access.",
        "Project team owners get OWNER access, and allUsers get WRITER access."
       ],
       "location": "query"
      },
      "predefinedDefaultObjectAcl": {
       "type": "string",
       "description": "Apply a predefined set of default object access controls to this bucket.",
       "enum": [
        "authenticatedRead",
        "bucketOwnerFullControl",
        "bucketOwnerRead",
        "private",
        "projectPrivate",
        "publicRead"
       ],
       "enumDescriptions": [
        "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
        "Object owner gets OWNER access, and project team owners get OWNER access.",
        "Object owner gets OWNER access, and project team owners get READER access.",
        "Object owner gets OWNER access.",
        "Object owner gets OWNER access, and project team members get access according to their roles.",
        "Object owner gets OWNER access, and allUsers get READER access."
       ],
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "A valid API project identifier.",
       "required": true,
       "location": "query"
      },
      "projection": {
       "type": "string",
       "description": "Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.",
       "enum": [
        "full",
        "noAcl"
       ],
       "enumDescriptions": [
        "Include all properties.",
        "Omit owner, acl and defaultObjectAcl properties."
       ],
       "location": "query"
      }
     },
     "parameterOrder": [
      "project"
     ],
     "request": {
      "$ref": "Bucket"
     },
     "response": {
      "$ref": "Bucket"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "list": {
     "id": "storage.buckets.list",
     "path": "b",
     "httpMethod": "GET",
     "description": "Retrieves a list of buckets for a given project.",
     "parameters": {
      "maxResults": {
       "type": "integer",
       "description": "Maximum number of buckets to return in a single response. The service will use this parameter or 1,000 items, whichever is smaller.",
       "default": "1000",
       "format": "uint32",
       "minimum": "0",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "A previously-returned page token representing part of the larger set of results to view.",
       "location": "query"
      },
      "prefix": {
       "type": "string",
       "description": "Filter results to buckets whose names begin with this prefix.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "A valid API project identifier.",
       "required": true,
       "location": "query"
      },
      "projection": {
       "type": "string",
       "description": "Set of properties to return. Defaults to noAcl.",
       "enum": [
        "full",
        "noAcl"
       ],
       "enumDescriptions": [
        "Include all properties.",
        "Omit owner, acl and defaultObjectAcl properties."
       ],
       "location": "query"
      }
     },
     "parameterOrder": [
      "project"
     ],
     "response": {
      "$ref": "Buckets"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "patch": {
     "id": "storage.buckets.patch",
     "path": "b/{bucket}",
     "httpMethod": "PATCH",
     "description": "Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate. This method supports patch semantics.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationNotMatch": {
       "type": "string",
       "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "predefinedAcl": {
       "type": "string",
       "description": "Apply a predefined set of access controls to this bucket.",
       "enum": [
        "authenticatedRead",
        "private",
        "projectPrivate",
        "publicRead",
        "publicReadWrite"
       ],
       "enumDescriptions": [
        "Project team owners get OWNER access, and allAuthenticatedUsers get READER access.",
        "Project team owners get OWNER access.",
        "Project team members get access according to their roles.",
        "Project team owners get OWNER access, and allUsers get READER access.",
        "Project team owners get OWNER access, and allUsers get WRITER access."
       ],
       "location": "query"
      },
      "predefinedDefaultObjectAcl": {
       "type": "string",
       "description": "Apply a predefined set of default object access controls to this bucket.",
       "enum": [
        "authenticatedRead",
        "bucketOwnerFullControl",
        "bucketOwnerRead",
        "private",
        "projectPrivate",
        "publicRead"
       ],
       "enumDescriptions": [
        "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
        "Object owner gets OWNER access, and project team owners get OWNER access.",
        "Object owner gets OWNER access, and project team owners get READER access.",
        "Object owner gets OWNER access.",
        "Object owner gets OWNER access, and project team members get access according to their roles.",
        "Object owner gets OWNER access, and allUsers get READER access."
       ],
       "location": "query"
      },
      "projection": {
       "type": "string",
       "description": "Set of properties to return. Defaults to full.",
       "enum": [
        "full",
        "noAcl"
       ],
       "enumDescriptions": [
        "Include all properties.",
        "Omit owner, acl and defaultObjectAcl properties."
       ],
       "location": "query"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "request": {
      "$ref": "Bucket"
     },
     "response": {
      "$ref": "Bucket"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "setIamPolicy": {
     "id": "storage.buckets.setIamPolicy",
     "path": "b/{bucket}/iam",
     "httpMethod": "PUT",
     "description": "Updates an IAM policy for the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "request": {
      "$ref": "Policy"
     },
     "response": {
      "$ref": "Policy"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "testIamPermissions": {
     "id": "storage.buckets.testIamPermissions",
     "path": "b/{bucket}/iam/testPermissions",
     "httpMethod": "GET",
     "description": "Tests a set of permissions on the given bucket to see which, if any, are held by the caller.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "permissions": {
       "type": "string",
       "description": "Permissions to test.",
       "required": true,
       "repeated": true,
       "location": "query"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "permissions"
     ],
     "response": {
      "$ref": "TestIamPermissionsResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "update": {
     "id": "storage.buckets.update",
     "path": "b/{bucket}",
     "httpMethod": "PUT",
     "description": "Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationNotMatch": {
       "type": "string",
       "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "predefinedAcl": {
       "type": "string",
       "description": "Apply a predefined set of access controls to this bucket.",
       "enum": [
        "authenticatedRead",
        "private",
        "projectPrivate",
        "publicRead",
        "publicReadWrite"
       ],
       "enumDescriptions": [
        "Project team owners get OWNER access, and allAuthenticatedUsers get READER access.",
        "Project team owners get OWNER access.",
        "Project team members get access according to their roles.",
        "Project team owners get OWNER access, and allUsers get READER access.",
        "Project team owners get OWNER access, and allUsers get WRITER access."
       ],
       "location": "query"
      },
      "predefinedDefaultObjectAcl": {
       "type": "string",
       "description": "Apply a predefined set of default object access controls to this bucket.",
       "enum": [
        "authenticatedRead",
        "bucketOwnerFullControl",
        "bucketOwnerRead",
        "private",
        "projectPrivate",
        "publicRead"
       ],
       "enumDescriptions": [
        "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
        "Object owner gets OWNER access, and project team owners get OWNER access.",
        "Object owner gets OWNER access, and project team owners get READER access.",
        "Object owner gets OWNER access.",
        "Object owner gets OWNER access, and project team members get access according to their roles.",
        "Object owner gets OWNER access, and allUsers get READER access."
       ],
       "location": "query"
      },
      "projection": {
       "type": "string",
       "description": "Set of properties to return. Defaults to full.",
       "enum": [
        "full",
        "noAcl"
       ],
       "enumDescriptions": [
        "Include all properties.",
        "Omit owner, acl and defaultObjectAcl properties."
       ],
       "location": "query"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "request": {
      "$ref": "Bucket"
     },
     "response": {
      "$ref": "Bucket"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    }
   }
  },
  "channels": {
   "methods": {
    "stop": {
     "id": "storage.channels.stop",
     "path": "channels/stop",
     "httpMethod": "POST",
     "description": "Stop watching resources through this channel",
     "request": {
      "$ref": "Channel",
      "parameterName": "resource"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    }
   }
  },
  "defaultObjectAccessControls": {
   "methods": {
    "delete": {
     "id": "storage.defaultObjectAccessControls.delete",
     "path": "b/{bucket}/defaultObjectAcl/{entity}",
     "httpMethod": "DELETE",
     "description": "Permanently deletes the default object ACL entry for the specified entity on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "entity"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "get": {
     "id": "storage.defaultObjectAccessControls.get",
     "path": "b/{bucket}/defaultObjectAcl/{entity}",
     "httpMethod": "GET",
     "description": "Returns the default object ACL entry for the specified entity on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "entity"
     ],
     "response": {
      "$ref": "ObjectAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "insert": {
     "id": "storage.defaultObjectAccessControls.insert",
     "path": "b/{bucket}/defaultObjectAcl",
     "httpMethod": "POST",
     "description": "Creates a new default object ACL entry on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "request": {
      "$ref": "ObjectAccessControl"
     },
     "response": {
      "$ref": "ObjectAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "list": {
     "id": "storage.defaultObjectAccessControls.list",
     "path": "b/{bucket}/defaultObjectAcl",
     "httpMethod": "GET",
     "description": "Retrieves default object ACL entries on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "If present, only return default ACL listing if the bucket's current metageneration matches this value.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationNotMatch": {
       "type": "string",
       "description": "If present, only return default ACL listing if the bucket's current metageneration does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "response": {
      "$ref": "ObjectAccessControls"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "patch": {
     "id": "storage.defaultObjectAccessControls.patch",
     "path": "b/{bucket}/defaultObjectAcl/{entity}",
     "httpMethod": "PATCH",
     "description": "Updates a default object ACL entry on the specified bucket. This method supports patch semantics.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "entity"
     ],
     "request": {
      "$ref": "ObjectAccessControl"
     },
     "response": {
      "$ref": "ObjectAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "update": {
     "id": "storage.defaultObjectAccessControls.update",
     "path": "b/{bucket}/defaultObjectAcl/{entity}",
     "httpMethod": "PUT",
     "description": "Updates a default object ACL entry on the specified bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "entity"
     ],
     "request": {
      "$ref": "ObjectAccessControl"
     },
     "response": {
      "$ref": "ObjectAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    }
   }
  },
  "notifications": {
   "methods": {
    "delete": {
     "id": "storage.notifications.delete",
     "path": "b/{bucket}/notificationConfigs/{notification}",
     "httpMethod": "DELETE",
     "description": "Permanently deletes a notification subscription.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "The parent bucket of the notification.",
       "required": true,
       "location": "path"
      },
      "notification": {
       "type": "string",
       "description": "ID of the notification to delete.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "notification"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "get": {
     "id": "storage.notifications.get",
     "path": "b/{bucket}/notificationConfigs/{notification}",
     "httpMethod": "GET",
     "description": "View a notification configuration.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "The parent bucket of the notification.",
       "required": true,
       "location": "path"
      },
      "notification": {
       "type": "string",
       "description": "Notification ID",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "notification"
     ],
     "response": {
      "$ref": "Notification"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "insert": {
     "id": "storage.notifications.insert",
     "path": "b/{bucket}/notificationConfigs",
     "httpMethod": "POST",
     "description": "Creates a notification subscription for a given bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "The parent bucket of the notification.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "request": {
      "$ref": "Notification"
     },
     "response": {
      "$ref": "Notification"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "list": {
     "id": "storage.notifications.list",
     "path": "b/{bucket}/notificationConfigs",
     "httpMethod": "GET",
     "description": "Retrieves a list of notification subscriptions for a given bucket.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a Google Cloud Storage bucket.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket"
     ],
     "response": {
      "$ref": "Notifications"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    }
   }
  },
  "objectAccessControls": {
   "methods": {
    "delete": {
     "id": "storage.objectAccessControls.delete",
     "path": "b/{bucket}/o/{object}/acl/{entity}",
     "httpMethod": "DELETE",
     "description": "Permanently deletes the ACL entry for the specified entity on the specified object.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
       "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "object": {
       "type": "string",
       "description": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "object",
      "entity"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "get": {
     "id": "storage.objectAccessControls.get",
     "path": "b/{bucket}/o/{object}/acl/{entity}",
     "httpMethod": "GET",
     "description": "Returns the ACL entry for the specified entity on the specified object.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
       "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "object": {
       "type": "string",
       "description": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "object",
      "entity"
     ],
     "response": {
      "$ref": "ObjectAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "insert": {
     "id": "storage.objectAccessControls.insert",
     "path": "b/{bucket}/o/{object}/acl",
     "httpMethod": "POST",
     "description": "Creates a new ACL entry on the specified object.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
       "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "object": {
       "type": "string",
       "description": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "object"
     ],
     "request": {
      "$ref": "ObjectAccessControl"
     },
     "response": {
      "$ref": "ObjectAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "list": {
     "id": "storage.objectAccessControls.list",
     "path": "b/{bucket}/o/{object}/acl",
     "httpMethod": "GET",
     "description": "Retrieves ACL entries on the specified object.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
       "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "object": {
       "type": "string",
       "description": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "object"
     ],
     "response": {
      "$ref": "ObjectAccessControls"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "patch": {
     "id": "storage.objectAccessControls.patch",
     "path": "b/{bucket}/o/{object}/acl/{entity}",
     "httpMethod": "PATCH",
     "description": "Updates an ACL entry on the specified object. This method supports patch semantics.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
       "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "object": {
       "type": "string",
       "description": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "object",
      "entity"
     ],
     "request": {
      "$ref": "ObjectAccessControl"
     },
     "response": {
      "$ref": "ObjectAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    },
    "update": {
     "id": "storage.objectAccessControls.update",
     "path": "b/{bucket}/o/{object}/acl/{entity}",
     "httpMethod": "PUT",
     "description": "Updates an ACL entry on the specified object.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of a bucket.",
       "required": true,
       "location": "path"
      },
      "entity": {
       "type": "string",
       "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
       "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "object": {
       "type": "string",
       "description": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "object",
      "entity"
     ],
     "request": {
      "$ref": "ObjectAccessControl"
     },
     "response": {
      "$ref": "ObjectAccessControl"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control"
     ]
    }
   }
  },
  "objects": {
   "methods": {
    "compose": {
     "id": "storage.objects.compose",
     "path": "b/{destinationBucket}/o/{destinationObject}/compose",
     "httpMethod": "POST",
     "description": "Concatenates a list of existing objects into a new object in the same bucket.",
     "parameters": {
      "destinationBucket": {
       "type": "string",
       "description": "Name of the bucket in which to store the new object.",
       "required": true,
       "location": "path"
      },
      "destinationObject": {
       "type": "string",
       "description": "Name of the new object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "destinationPredefinedAcl": {
       "type": "string",
       "description": "Apply a predefined set of access controls to the destination object.",
       "enum": [
        "authenticatedRead",
        "bucketOwnerFullControl",
        "bucketOwnerRead",
        "private",
        "projectPrivate",
        "publicRead"
       ],
       "enumDescriptions": [
        "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
        "Object owner gets OWNER access, and project team owners get OWNER access.",
        "Object owner gets OWNER access, and project team owners get READER access.",
        "Object owner gets OWNER access.",
        "Object owner gets OWNER access, and project team members get access according to their roles.",
        "Object owner gets OWNER access, and allUsers get READER access."
       ],
       "location": "query"
      },
      "ifGenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "kmsKeyName": {
       "type": "string",
       "description": "Resource name of the Cloud KMS key, of the form projects/my-project/locations/global/keyRings/my-kr/cryptoKeys/my-key, that will be used to encrypt the object. Overrides the object metadata's kms_key_name value, if any.",
       "location": "query"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "destinationBucket",
      "destinationObject"
     ],
     "request": {
      "$ref": "ComposeRequest"
     },
     "response": {
      "$ref": "Object"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ],
     "supportsMediaDownload": true,
     "useMediaDownloadService": true
    },
    "copy": {
     "id": "storage.objects.copy",
     "path": "b/{sourceBucket}/o/{sourceObject}/copyTo/b/{destinationBucket}/o/{destinationObject}",
     "httpMethod": "POST",
     "description": "Copies a source object to a destination object. Optionally overrides metadata.",
     "parameters": {
      "destinationBucket": {
       "type": "string",
       "description": "Name of the bucket in which to store the new object. Overrides the provided object metadata's bucket value, if any.For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "destinationObject": {
       "type": "string",
       "description": "Name of the new object. Required when the object metadata is not otherwise provided. Overrides the object metadata's name value, if any.",
       "required": true,
       "location": "path"
      },
      "destinationPredefinedAcl": {
       "type": "string",
       "description": "Apply a predefined set of access controls to the destination object.",
       "enum": [
        "authenticatedRead",
        "bucketOwnerFullControl",
        "bucketOwnerRead",
        "private",
        "projectPrivate",
        "publicRead"
       ],
       "enumDescriptions": [
        "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
        "Object owner gets OWNER access, and project team owners get OWNER access.",
        "Object owner gets OWNER access, and project team owners get READER access.",
        "Object owner gets OWNER access.",
        "Object owner gets OWNER access, and project team members get access according to their roles.",
        "Object owner gets OWNER access, and allUsers get READER access."
       ],
       "location": "query"
      },
      "ifGenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the destination object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.",
       "format": "int64",
       "location": "query"
      },
      "ifGenerationNotMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the destination object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the destination object's current metageneration matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationNotMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the destination object's current metageneration does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifSourceGenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the source object's current generation matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifSourceGenerationNotMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the source object's current generation does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifSourceMetagenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the source object's current metageneration matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifSourceMetagenerationNotMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the source object's current metageneration does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "projection": {
       "type": "string",
       "description": "Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.",
       "enum": [
        "full",
        "noAcl"
       ],
       "enumDescriptions": [
        "Include all properties.",
        "Omit the owner, acl property."
       ],
       "location": "query"
      },
      "sourceBucket": {
       "type": "string",
       "description": "Name of the bucket in which to find the source object.",
       "required": true,
       "location": "path"
      },
      "sourceGeneration": {
       "type": "string",
       "description": "If present, selects a specific revision of the source object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "sourceObject": {
       "type": "string",
       "description": "Name of the source object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "sourceBucket",
      "sourceObject",
      "destinationBucket",
      "destinationObject"
     ],
     "request": {
      "$ref": "Object"
     },
     "response": {
      "$ref": "Object"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ],
     "supportsMediaDownload": true,
     "useMediaDownloadService": true
    },
    "delete": {
     "id": "storage.objects.delete",
     "path": "b/{bucket}/o/{object}",
     "httpMethod": "DELETE",
     "description": "Deletes an object and its metadata. Deletions are permanent if versioning is not enabled for the bucket, or if the generation parameter is used.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of the bucket in which the object resides.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
       "description": "If present, permanently deletes a specific revision of this object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "ifGenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.",
       "format": "int64",
       "location": "query"
      },
      "ifGenerationNotMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationNotMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "object": {
       "type": "string",
       "description": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "object"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ]
    },
    "get": {
     "id": "storage.objects.get",
     "path": "b/{bucket}/o/{object}",
     "httpMethod": "GET",
     "description": "Retrieves an object or its metadata.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of the bucket in which the object resides.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
       "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
       "format": "int64",
       "location": "query"
      },
      "ifGenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.",
       "format": "int64",
       "location": "query"
      },
      "ifGenerationNotMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
       "format": "int64",
       "location": "query"
      },
      "ifMetagenerationNotMatch": {
       "type": "string",
       "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
       "format": "int64",
       "location": "query"
      },
      "object": {
       "type": "string",
       "description": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
       "required": true,
       "location": "path"
      },
      "projection": {
       "type": "string",
       "description": "Set of properties to return. Defaults to noAcl.",
       "enum": [
        "full",
        "noAcl"
       ],
       "enumDescriptions": [
        "Include all properties.",
        "Omit the owner, acl property."
       ],
       "location": "query"
      },
      "userProject": {
       "type": "string",
       "description": "The project to be billed for this request, for Requester Pays buckets.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "bucket",
      "object"
     ],
     "response": {
      "$ref": "Object"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/devstorage.full_control",
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/devstorage.read_write"
     ],
     "supportsMediaDownload": true,
     "useMediaDownloadService": true
    },
    "getIamPolicy": {
     "id": "storage.objects.getIamPolicy",
     "path": "b/{bucket}/o/{object}/iam",
     "httpMethod": "GET",
     "description": "Returns an IAM policy for the specified object.",
     "parameters": {
      "bucket": {
       "type": "string",
       "description": "Name of the bucket in which the object resides.",
       "required": true,
       "location": "path"
      },
      "generation": {
       "type": "string",
[...]
