---
version: 1
rwmutex: {}
interactions:
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>raud</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:TTOhdgM61gCd1KIVpfW3mTs72+fV2LWLUvYGz1VBbVk=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:12 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/nonexistingtable?comp=acl&timeout=30
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>TableNotFound</m:code><m:message xml:lang="en-US">The table specified does not exist.
      RequestId:875b83c5-0002-0036-30b0-0102e5000000
      Time:2017-07-20T23:34:12.3131481Z</m:message></m:error>
    headers:
      Content-Type:
      - application/xml
      X-Ms-Version:
      - 2016-05-31
    status: 404 The table specified does not exist.
    code: 404
