---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table25storagetablesuitetestget"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:+tQ0CHBBr8KqtfNJZ9ipZgZ9CxD0Cuof10snosZI2GY=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:12 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table25storagetablesuitetestget')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table25storagetablesuitetestget')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:DqUkcRm63zw4TmTwylrWMEcfvZn0hr0PGTBVpCFMfbY=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:12 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table25storagetablesuitetestget%27%29?timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#Tables/@Element","odata.type":"golangrocksonazure.Tables","odata.id":"https://golangrocksonazure.table.core.windows.net/Tables(''table25storagetablesuitetestget'')","odata.editLink":"Tables(''table25storagetablesuitetestget'')","TableName":"table25storagetablesuitetestget"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
[...]
