{{ template "base" .KubeHome }}
ENCRYPTION_PROVIDER_CONFIG_PATH={{.EncryptionProviderConfigPath}}
{{if .EncryptionProviderConfig}}
  ENCRYPTION_PROVIDER_CONFIG={{.EncryptionProviderConfig}}
{{end}}
{{if .CloudKMSIntegration}}
  readonly CLOUD_KMS_INTEGRATION=true
{{end}}