.bodywrapper {
    height: 85vh;
}

div #doccontent {
    position: absolute;
    top:134px;
    left:250px;
    font-family: "Roboto";
    padding-left: 30px;
    padding-right: 30px;
    max-width: 900px;
    overflow: auto;

    h1 {
        font-size: 45px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 0.3em;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 238, 238);
        margin-top: 0.83em;
        margin-bottom: 0.83em;
    }

    h2 {
        font-size: 35px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 0.3em;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 238, 238);
        margin-top: 0.83em;
        margin-bottom: 0.83em;
    }

    h3 {
        font-size: 28px;
        font-weight: 700;
        text-align: left;
        line-height: 40px;
        letter-spacing: 0em;
        margin-top: 0.53em;
        margin-bottom: 0.53em;
    }

    h4 {
        font-size: 22px;
        font-weight: 500;
        text-align: left;
        line-height: 32px;
        letter-spacing: 0em;
        margin-top: 0.43em;
        margin-bottom: 0.43em;
    }

    h5 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 0.43em;
        margin-bottom: 0.43em;
    }

    li {
        color: $gray;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0em;
    }

    table {
        color: $gray;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0em;
        thead {
            color: black;
        }
    }

    pre {
        overflow-y: visible;
        padding: 0.8em;
    }

    code {
        color: black;
        font-family: Monospace;
        font-size: 14px;
    }

    ul {
        list-style-type: disc;
        margin-left: 1.5em;
        padding-left: 1.5em;
    }

    ol {
        list-style-type: decimal;
        margin-left: 1.5em;
        padding-left: 1.5em;
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
	
	p > code {
	  white-space: nowrap;
	}

    img {
        max-width: 100%;
    }
}
