a {
	text-decoration: none;
}
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#wrapper {
	position: fixed;
	top: 155px;
	left: 0px;
	float:left;
	width: 250px;
	bottom: 0px;
	overflow: auto;
	padding-bottom: 20px;
}
.menu {
	width: auto;
	height: auto;
	margin: .75em;
}
.menu > li,
.menu > li > a,
.menu > li > ul > li,
.menu > li > ul > li > ul > li {
	margin-bottom: .75em;
}
/* default second level menu state (keep menus hidden until clicked) - see :active class */
.menu > li > ul {
	display: none;
}
.menu > li > a {
	width: 100%;
	height: auto;
	color:#505050;
	display: block;
	position: center;
}
.menu ul li{
	height: auto;
}
.menu ul li a {
	width: 100%;
	height: auto;
	text-indent: .75em;
	position: center;
}
.menu ul li:last-child a {
	
}
.menu > li > a:hover, .menu > li > a.active, .menu > li > ul > li > a.active {
	color: #428BCB;
}
.menu > li > a.active {
	color: #428BCB;
}
.menu > li > a:before {
	position: absolute;
}
.menu > li > ul li a:before{
	position: absolute;
}
.menu > li > ul li:hover a,
.menu > li > ul li:hover a:before {
	color:#428BCB;
}
.version {
	font-style:italic;
}
.navContainer {
	font-weight:bold;
	margin-top:2px;
	margin-left:.6em;
}
.navContainer2 {
	font-weight:bold;
	margin-top:2px;
	margin-left:1.2em;
}
.navSubMenu {
    font-weight: normal;
	margin-left:1.2em;
}
.navSubMenu2 {
    font-weight: normal;
	margin-left:1.8em;
}
.navSubMenu3 {
    font-weight: normal;
	margin-left:.6em;
}

#gcse-searchbox {
  background-color: #fff;
  padding: 13px;
  position: fixed;
  z-index: 1;
}

/* Restore gcse default styles. */
/* TODO: Don't overwrite root styles. This should not be necessary. */
.gcse-wrapper * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.gcse-wrapper .gsc-cursor-page.gsc-cursor-current-page {
  color: #fff !important;
}
.gcse-wrapper b {
  font-weight: bold;
}
