a {
	text-decoration: none;
}
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navbuttonarrow {
    position: fixed;
    top: 70px;
    height: 73px;
    width: 40px;
    padding-top: $searchboxpadding;
    padding-left: $searchboxpadding;
    padding-bottom: $searchboxpadding;
    background: white;
    z-index: $zNav;
    img {
        margin-top: 11px;
        margin-left: $searchboxpadding - 1px;
    }
}
.versionselector {
	position: relative;
	left: 0;
	display: inline-block;
	padding: 5px 5px 0 10px;
	button {
		border-style: solid;
		border-width: 1px;
		border-radius: 2px;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.25);
		background-color: #ffffff;
		margin: 0;
		padding: 0.4em 0.8em;
		font-size: 1em;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
	}
	button:hover {
		font-weight: bold;
		box-shadow: inset 0 2px 0 rgba(255,255,255,0.2),0 2px 3px rgba(0,0,0,0.25);
	}
}.versionselector .dropdown-menu {
	position: absolute;
	list-style: none;
	display: none;
	top: 100%;
	left: 5px;
	width: 150%;
	margin: 0;
	padding: 5px;
	border-color: #f6f6f6;
	border-style: ridge;
	border-width: .25px;
	border-radius: 1px;
	background: white;
	box-shadow: 3px 3px 6px #888888;
	li {
		left: 10px;
	}
	li.text-only {
		left: 5px;
		color: #000000;
		font-style: italic;
		text-decoration: none;
		border-bottom: 1px solid #000000;
		padding-top: 5px;
	}
	a {
		left: 25%;
		display: block;
		padding: 0.5em 0.5em;
	}
	a.active {
		color: #428BCB;
	}
	a:hover {
		font-weight: bold;
	}
}
#wrapper {
	position: fixed;
	left: 3px;
	bottom: 0px;
	overflow: auto;
	padding-bottom: 20px;
}
.menu {
	width: auto;
	height: auto;
	margin: .75em;
}
.menu > li,
.menu > li > a,
.menu > li > ul > li{
	margin-bottom: .75em;
}
/* default second level menu state (keep menus hidden until clicked) - see :active class */
.menu > li > ul {
	display: none;
}
.menu > li > a {
	width: 100%;
	height: auto;
	color:#505050;
	display: block;
	position: center;
}
.menu ul li{
	height: auto;
}
.menu ul li a {
	width: 100%;
	height: auto;
	text-indent: .75em;
	position: center;
}
.menu > li > a:hover, .menu > li > a.active, .menu > li > ul > li > a.active {
	color: #428BCB;
}
/* add caret to container topics (that have sub-menus) */
.menu > li.haschild > a:before {
	content: '▸ ';
	margin-left: -.8em;
}
.version {
	font-style:italic;
}
.navContainer {
	font-weight:bold;
	margin-top:2px;
	margin-left:.3em;
}
.navContainer2 {
	font-weight:bold;
	margin-top:2px;
	margin-left:.8em;
}
.navSubMenu {
    font-weight: normal;
	margin-left:1em;
}
.navSubMenu2 {
    font-weight: normal;
	margin-left:1.8em;
}
.navSubMenu3 {
    font-weight: normal;
	margin-left:.6em;
}
#gcse-searchbox {
    position: fixed;
    top: 70px;
    height: $searchboxheight;
    padding: $searchboxpadding;
    background: $white;
    z-index: $zNav;
}
/* Restore gcse default styles. */
/* TODO: Don't overwrite root styles. This should not be necessary. */
.gcse-wrapper * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.gcse-wrapper .gsc-cursor-page.gsc-cursor-current-page {
    color: #fff !important;
}
.gcse-wrapper b {
    font-weight: bold;
}
