{
 "kind": "discovery#restDescription",
 "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/NXGE8K6l7s4gwLojFu4aKRPUYGk\"",
 "discoveryVersion": "v1",
 "id": "compute:v1",
 "name": "compute",
 "version": "v1",
 "revision": "20150713",
 "title": "Compute Engine API",
 "description": "API for the Google Compute Engine service.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
  "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
 },
 "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/compute/v1/projects/",
 "basePath": "/compute/v1/projects/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "compute/v1/projects/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/compute": {
     "description": "View and manage your Google Compute Engine resources"
    },
    "https://www.googleapis.com/auth/compute.readonly": {
     "description": "View your Google Compute Engine resources"
    },
    "https://www.googleapis.com/auth/devstorage.full_control": {
     "description": "Manage your data and permissions in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_only": {
     "description": "View your data in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_write": {
     "description": "Manage your data in Google Cloud Storage"
    }
   }
  }
 },
 "schemas": {
  "AccessConfig": {
   "id": "AccessConfig",
   "type": "object",
   "description": "An access configuration attached to an instance's network interface.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#accessConfig for access configs.",
     "default": "compute#accessConfig"
    },
    "name": {
     "type": "string",
     "description": "Name of this access configuration."
    },
    "natIP": {
     "type": "string",
     "description": "An external IP address associated with this instance. Specify an unused static external IP address available to the project or leave this field undefined to use an IP from a shared ephemeral IP address pool. If you specify a static external IP address, it must live in the same region as the zone of the instance."
    },
    "type": {
     "type": "string",
     "description": "The type of configuration. The default and only option is ONE_TO_ONE_NAT.",
     "default": "ONE_TO_ONE_NAT",
     "enum": [
      "ONE_TO_ONE_NAT"
     ],
     "enumDescriptions": [
      ""
     ]
    }
   }
  },
  "Address": {
   "id": "Address",
   "type": "object",
   "description": "A reserved address resource.",
   "properties": {
    "address": {
     "type": "string",
     "description": "The static external IP address represented by this resource."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#address for addresses.",
     "default": "compute#address"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.addresses.insert"
      ]
     }
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the regional address resides. This field is not applicable to global addresses."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for the resource."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the address, which can be either IN_USE or RESERVED. An address that is RESERVED is currently reserved and available to use. An IN_USE address is currently being used by another resource and is not available.",
     "enum": [
      "IN_USE",
      "RESERVED"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "users": {
     "type": "array",
     "description": "[Output Only] The URLs of the resources that are using this address.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "AddressAggregatedList": {
   "id": "AddressAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "[Output Only] A map of scoped address lists.",
     "additionalProperties": {
      "$ref": "AddressesScopedList",
      "description": "[Output Only] Name of the scope containing this set of addresses."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#addressAggregatedList for aggregated lists of addresses.",
     "default": "compute#addressAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "AddressList": {
   "id": "AddressList",
   "type": "object",
   "description": "Contains a list of address resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] A list of Address resources.",
     "items": {
      "$ref": "Address"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#addressList for lists of addresses.",
     "default": "compute#addressList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for the resource."
    }
   }
  },
  "AddressesScopedList": {
   "id": "AddressesScopedList",
   "type": "object",
   "properties": {
    "addresses": {
     "type": "array",
     "description": "[Output Only] List of addresses contained in this scope.",
     "items": {
      "$ref": "Address"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of addresses when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] The warning type identifier for this warning.",
       "enum": [
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata for this warning in key: value format.",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key for the warning data."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] Optional human-readable details for this warning."
      }
     }
    }
   }
  },
  "AttachedDisk": {
   "id": "AttachedDisk",
   "type": "object",
   "description": "An instance-attached disk resource.",
   "properties": {
    "autoDelete": {
     "type": "boolean",
     "description": "Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
    },
    "boot": {
     "type": "boolean",
     "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
    },
    "deviceName": {
     "type": "string",
     "description": "Specifies a unique device name of your choice that is reflected into the /dev/ tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance.\n\nIf not specified, the server chooses a default device name to apply to this disk, in the form persistent-disks-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
    },
    "index": {
     "type": "integer",
     "description": "Assigns a zero-based index to this disk, where 0 is reserved for the boot disk. For example, if you have many disks attached to an instance, each disk would have a unique index number. If not specified, the server will choose an appropriate value.",
     "format": "int32"
    },
    "initializeParams": {
     "$ref": "AttachedDiskInitializeParams",
     "description": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both."
    },
    "interface": {
     "type": "string",
     "enum": [
      "NVME",
      "SCSI"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#attachedDisk for attached disks.",
     "default": "compute#attachedDisk"
    },
    "licenses": {
     "type": "array",
     "description": "[Output Only] Any valid publicly visible licenses.",
     "items": {
      "type": "string"
     }
    },
    "mode": {
     "type": "string",
     "description": "The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode.",
     "enum": [
      "READ_ONLY",
      "READ_WRITE"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "source": {
     "type": "string",
     "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource. This field is only applicable for persistent disks."
    },
    "type": {
     "type": "string",
     "description": "Specifies the type of the disk, either SCRATCH or PERSISTENT. If not specified, the default is PERSISTENT.",
     "enum": [
      "PERSISTENT",
      "SCRATCH"
     ],
     "enumDescriptions": [
      "",
      ""
     ],
     "annotations": {
      "required": [
       "compute.instances.insert"
      ]
     }
    }
   }
  },
  "AttachedDiskInitializeParams": {
   "id": "AttachedDiskInitializeParams",
   "type": "object",
   "description": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both.",
   "properties": {
    "diskName": {
     "type": "string",
     "description": "Specifies the disk name. If not specified, the default is to use the name of the instance."
    },
    "diskSizeGb": {
     "type": "string",
     "description": "Specifies the size of the disk in base-2 GB.",
     "format": "int64"
    },
    "diskType": {
     "type": "string",
     "description": "Specifies the disk type to use to create the instance. If not specified, the default is pd-standard, specified using the full URL. For example:\n\nhttps://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/pd-standard \n\nOther values include pd-ssd and local-ssd. If you define this field, you can provide either the full or partial URL. For example, the following are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/diskType \n- projects/project/zones/zone/diskTypes/diskType \n- zones/zone/diskTypes/diskType"
    },
    "sourceImage": {
     "type": "string",
     "description": "A source image used to create the disk. You can provide a private (custom) image, and Compute Engine will use the corresponding image from your project. For example:\n\nglobal/images/my-private-image \n\nOr you can provide an image from a publicly-available project. For example, to use a Debian image from the debian-cloud project, make sure to include the project in the URL:\n\nprojects/debian-cloud/global/images/debian-7-wheezy-vYYYYMMDD \n\nwhere vYYYYMMDD is the image version. The fully-qualified URL will also work in both cases."
    }
   }
  },
  "Autoscaler": {
   "id": "Autoscaler",
   "type": "object",
   "properties": {
    "autoscalingPolicy": {
     "$ref": "AutoscalingPolicy",
     "description": "Autoscaling configuration."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "Creation timestamp in RFC3339 text format (output only)."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "id": {
     "type": "string",
     "description": "Unique identifier for the resource; defined by the server (output only).",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "Type of the resource.",
     "default": "compute#autoscaler"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.instanceGroups.insert"
      ]
     }
    },
    "selfLink": {
     "type": "string",
     "description": "Server defined URL for the resource (output only)."
    },
    "target": {
     "type": "string",
     "description": "URL of Instance Group Manager or Replica Pool which will be controlled by Autoscaler."
    },
    "zone": {
     "type": "string",
     "description": "URL of the zone where the instance group resides (output only)."
    }
   }
  },
  "AutoscalerAggregatedList": {
   "id": "AutoscalerAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "Unique identifier for the resource; defined by the server (output only)."
    },
    "items": {
     "type": "object",
     "description": "A map of scoped autoscaler lists.",
     "additionalProperties": {
      "$ref": "AutoscalersScopedList",
      "description": "Name of the scope containing this set of autoscalers."
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#autoscalerAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token used to continue a truncated list request (output only)."
    },
    "selfLink": {
     "type": "string",
     "description": "Server defined URL for this resource (output only)."
    }
   }
  },
  "AutoscalerList": {
   "id": "AutoscalerList",
   "type": "object",
   "description": "Contains a list of persistent autoscaler resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "Unique identifier for the resource; defined by the server (output only)."
    },
    "items": {
     "type": "array",
     "description": "A list of Autoscaler resources.",
     "items": {
      "$ref": "Autoscaler"
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#autoscalerList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token used to continue a truncated list request (output only)."
    },
    "selfLink": {
     "type": "string",
     "description": "Server defined URL for this resource (output only)."
    }
   }
  },
  "AutoscalersScopedList": {
   "id": "AutoscalersScopedList",
   "type": "object",
   "properties": {
    "autoscalers": {
     "type": "array",
     "description": "List of autoscalers contained in this scope.",
     "items": {
      "$ref": "Autoscaler"
     }
    },
    "warning": {
     "type": "object",
     "description": "Informational warning which replaces the list of autoscalers when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] The warning type identifier for this warning.",
       "enum": [
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata for this warning in key: value format.",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key for the warning data."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] Optional human-readable details for this warning."
      }
     }
    }
   }
  },
  "AutoscalingPolicy": {
   "id": "AutoscalingPolicy",
   "type": "object",
   "description": "Cloud Autoscaler policy.",
   "properties": {
    "coolDownPeriodSec": {
     "type": "integer",
     "description": "The number of seconds that the Autoscaler should wait between two succeeding changes to the number of virtual machines. You should define an interval that is at least as long as the initialization time of a virtual machine and the time it may take for replica pool to create the virtual machine. The default is 60 seconds.",
     "format": "int32"
    },
    "cpuUtilization": {
     "$ref": "AutoscalingPolicyCpuUtilization",
     "description": "TODO(jbartosik): Add support for scaling based on muliple utilization metrics (take max recommendation). Exactly one utilization policy should be provided. Configuration parameters of CPU based autoscaling policy."
    },
    "customMetricUtilizations": {
     "type": "array",
     "description": "Configuration parameters of autoscaling based on custom metric.",
     "items": {
      "$ref": "AutoscalingPolicyCustomMetricUtilization"
     }
    },
    "loadBalancingUtilization": {
     "$ref": "AutoscalingPolicyLoadBalancingUtilization",
     "description": "Configuration parameters of autoscaling based on load balancer."
    },
    "maxNumReplicas": {
     "type": "integer",
     "description": "The maximum number of replicas that the Autoscaler can scale up to. This field is required for config to be effective. Maximum number of replicas should be not lower than minimal number of replicas. Absolute limit for this value is defined in Autoscaler backend.",
     "format": "int32"
    },
    "minNumReplicas": {
     "type": "integer",
     "description": "The minimum number of replicas that the Autoscaler can scale down to. Can't be less than 0. If not provided Autoscaler will choose default value depending on maximal number of replicas.",
     "format": "int32"
    }
   }
  },
  "AutoscalingPolicyCpuUtilization": {
   "id": "AutoscalingPolicyCpuUtilization",
   "type": "object",
   "description": "CPU utilization policy.",
   "properties": {
    "utilizationTarget": {
     "type": "number",
     "description": "The target utilization that the Autoscaler should maintain. It is represented as a fraction of used cores. For example: 6 cores used in 8-core VM are represented here as 0.75. Must be a float value between (0, 1]. If not defined, the default is 0.8.",
     "format": "double"
    }
   }
  },
  "AutoscalingPolicyCustomMetricUtilization": {
   "id": "AutoscalingPolicyCustomMetricUtilization",
   "type": "object",
   "description": "Custom utilization metric policy.",
   "properties": {
    "metric": {
     "type": "string",
     "description": "Identifier of the metric. It should be a Cloud Monitoring metric. The metric can not have negative values. The metric should be an utilization metric (increasing number of VMs handling requests x times should reduce average value of the metric roughly x times). For example you could use: compute.googleapis.com/instance/network/received_bytes_count."
    },
    "utilizationTarget": {
     "type": "number",
     "description": "Target value of the metric which Autoscaler should maintain. Must be a positive value.",
     "format": "double"
    },
    "utilizationTargetType": {
     "type": "string",
     "description": "Defines type in which utilization_target is expressed.",
     "enum": [
      "DELTA_PER_MINUTE",
      "DELTA_PER_SECOND",
      "GAUGE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "AutoscalingPolicyLoadBalancingUtilization": {
   "id": "AutoscalingPolicyLoadBalancingUtilization",
   "type": "object",
   "description": "Load balancing utilization policy.",
   "properties": {
    "utilizationTarget": {
     "type": "number",
     "description": "Fraction of backend capacity utilization (set in HTTP load balancing configuration) that Autoscaler should maintain. Must be a positive float value. If not defined, the default is 0.8. For example if your maxRatePerInstance capacity (in HTTP Load Balancing configuration) is set at 10 and you would like to keep number of instances such that each instance receives 7 QPS on average, set this to 0.7.",
     "format": "double"
    }
   }
  },
  "Backend": {
   "id": "Backend",
   "type": "object",
   "description": "Message containing information of one individual backend.",
   "properties": {
    "balancingMode": {
     "type": "string",
     "description": "Specifies the balancing mode for this backend. The default is UTILIZATION but available values are UTILIZATION and RATE.",
     "enum": [
      "RATE",
      "UTILIZATION"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "capacityScaler": {
     "type": "number",
     "description": "A multiplier applied to the group's maximum servicing capacity (either UTILIZATION or RATE). Default value is 1, which means the group will serve up to 100% of its configured CPU or RPS (depending on balancingMode). A setting of 0 means the group is completely drained, offering 0% of its available CPU or RPS. Valid range is [0.0,1.0].",
     "format": "float"
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource. Provided by the client when the resource is created."
    },
    "group": {
     "type": "string",
     "description": "The fully-qualified URL of a zonal Instance Group resource. This instance group defines the list of instances that serve traffic. Member virtual machine instances from each instance group must live in the same zone as the instance group itself. No two backends in a backend service are allowed to use same Instance Group resource.\n\nNote that you must specify an Instance Group resource using the fully-qualified URL, rather than a partial URL."
    },
    "maxRate": {
     "type": "integer",
     "description": "The max RPS of the group. Can be used with either balancing mode, but required if RATE mode. For RATE mode, either maxRate or maxRatePerInstance must be set.",
     "format": "int32"
    },
    "maxRatePerInstance": {
     "type": "number",
     "description": "The max RPS that a single backed instance can handle. This is used to calculate the capacity of the group. Can be used in either balancing mode. For RATE mode, either maxRate or maxRatePerInstance must be set.",
     "format": "float"
    },
    "maxUtilization": {
     "type": "number",
     "description": "Used when balancingMode is UTILIZATION. This ratio defines the CPU utilization target for the group. The default is 0.8. Valid range is [0.0, 1.0].",
     "format": "float"
    }
   }
  },
  "BackendService": {
   "id": "BackendService",
   "type": "object",
   "description": "A BackendService resource. This resource defines a group of backend VMs together with their serving capacity.",
   "properties": {
    "backends": {
     "type": "array",
     "description": "The list of backends that serve this BackendService.",
     "items": {
      "$ref": "Backend"
     }
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource. Provided by the client when the resource is created."
    },
    "fingerprint": {
     "type": "string",
     "description": "Fingerprint of this resource. A hash of the contents stored in this object. This field is used in optimistic locking. This field will be ignored when inserting a BackendService. An up-to-date fingerprint must be provided in order to update the BackendService.",
     "format": "byte"
    },
    "healthChecks": {
     "type": "array",
     "description": "The list of URLs to the HttpHealthCheck resource for health checking this BackendService. Currently at most one health check can be specified, and a health check is required.",
     "items": {
      "type": "string"
     }
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendService for backend services.",
     "default": "compute#backendService"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "port": {
     "type": "integer",
     "description": "Deprecated in favor of port name. The TCP port to connect on the backend. The default value is 80.",
     "format": "int32"
    },
    "portName": {
     "type": "string",
     "description": "Name of backend port. The same name should appear in the resource views referenced by this service. Required."
    },
    "protocol": {
     "type": "string",
     "enum": [
      "HTTP"
     ],
     "enumDescriptions": [
      ""
     ]
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for the resource."
    },
    "timeoutSec": {
     "type": "integer",
     "description": "How many seconds to wait for the backend before considering it a failed request. Default is 30 seconds.",
     "format": "int32"
    }
   }
  },
  "BackendServiceGroupHealth": {
   "id": "BackendServiceGroupHealth",
   "type": "object",
   "properties": {
    "healthStatus": {
     "type": "array",
     "items": {
      "$ref": "HealthStatus"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendServiceGroupHealth for the health of backend services.",
     "default": "compute#backendServiceGroupHealth"
    }
   }
  },
  "BackendServiceList": {
   "id": "BackendServiceList",
   "type": "object",
   "description": "Contains a list of BackendService resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of BackendService resources.",
     "items": {
      "$ref": "BackendService"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendServiceList for lists of backend services.",
     "default": "compute#backendServiceList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    }
   }
  },
  "DeprecationStatus": {
   "id": "DeprecationStatus",
   "type": "object",
   "description": "Deprecation status for a public resource.",
   "properties": {
    "deleted": {
     "type": "string",
     "description": "An optional RFC3339 timestamp on or after which the deprecation state of this resource will be changed to DELETED."
    },
    "deprecated": {
     "type": "string",
     "description": "An optional RFC3339 timestamp on or after which the deprecation state of this resource will be changed to DEPRECATED."
    },
    "obsolete": {
     "type": "string",
     "description": "An optional RFC3339 timestamp on or after which the deprecation state of this resource will be changed to OBSOLETE."
    },
    "replacement": {
     "type": "string",
     "description": "The URL of the suggested replacement for a deprecated resource. The suggested replacement resource must be the same kind of resource as the deprecated resource."
    },
    "state": {
     "type": "string",
     "description": "The deprecation state of this resource. This can be DEPRECATED, OBSOLETE, or DELETED. Operations which create a new resource using a DEPRECATED resource will return successfully, but with a warning indicating the deprecated resource and recommending its replacement. Operations which use OBSOLETE or DELETED resources will be rejected and result in an error.",
     "enum": [
      "DELETED",
      "DEPRECATED",
      "OBSOLETE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "Disk": {
   "id": "Disk",
   "type": "object",
   "description": "A Disk resource.",
   "properties": {
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#disk for disks.",
     "default": "compute#disk"
    },
    "lastAttachTimestamp": {
     "type": "string",
     "description": "[Output Only] Last attach timestamp in RFC3339 text format."
    },
    "lastDetachTimestamp": {
     "type": "string",
     "description": "[Output Only] Last detach timestamp in RFC3339 text format."
    },
    "licenses": {
     "type": "array",
     "description": "Any applicable publicly visible licenses.",
     "items": {
      "type": "string"
     }
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.disks.insert"
      ]
     }
    },
    "options": {
     "type": "string",
     "description": "Internal use only."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined fully-qualified URL for this resource."
    },
    "sizeGb": {
     "type": "string",
     "description": "Size of the persistent disk, specified in GB. You can specify this field when creating a persistent disk using the sourceImage or sourceSnapshot parameter, or specify it alone to create an empty persistent disk.\n\nIf you specify this field along with sourceImage or sourceSnapshot, the value of sizeGb must not be less than the size of the sourceImage or the size of the snapshot.",
     "format": "int64"
    },
    "sourceImage": {
     "type": "string",
     "description": "The source image used to create this disk. If the source image is deleted from the system, this field will not be set, even if an image with the same name has been re-created.\n\nWhen creating a disk, you can provide a private (custom) image using the following input, and Compute Engine will use the corresponding image from your project. For example:\n\nglobal/images/my-private-image \n\nOr you can provide an image from a publicly-available project. For example, to use a Debian image from the debian-cloud project, make sure to include the project in the URL:\n\nprojects/debian-cloud/global/images/debian-7-wheezy-vYYYYMMDD \n\nwhere vYYYYMMDD is the image version. The fully-qualified URL will also work in both cases."
    },
    "sourceImageId": {
     "type": "string",
     "description": "The ID value of the image used to create this disk. This value identifies the exact image that was used to create this persistent disk. For example, if you created the persistent disk from an image that was later deleted and recreated under the same name, the source image ID would identify the exact version of the image that was used."
    },
    "sourceSnapshot": {
     "type": "string",
     "description": "The source snapshot used to create this disk. You can provide this as a partial or full URL to the resource. For example, the following are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/global/snapshots/snapshot \n- projects/project/global/snapshots/snapshot \n- global/snapshots/snapshot"
    },
    "sourceSnapshotId": {
     "type": "string",
     "description": "[Output Only] The unique ID of the snapshot used to create this disk. This value identifies the exact snapshot that was used to create this persistent disk. For example, if you created the persistent disk from a snapshot that was later deleted and recreated under the same name, the source snapshot ID would identify the exact version of the snapshot that was used."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of disk creation. Applicable statuses includes: CREATING, FAILED, READY, RESTORING.",
     "enum": [
      "CREATING",
      "FAILED",
      "READY",
      "RESTORING"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "type": {
     "type": "string",
     "description": "URL of the disk type resource describing which disk type to use to create the disk; provided by the client when the disk is created."
    },
    "users": {
     "type": "array",
     "description": "Links to the users of the disk (attached instances) in form: project/zones/zone/instances/instance",
     "items": {
      "type": "string"
     }
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the disk resides."
    }
   }
  },
  "DiskAggregatedList": {
   "id": "DiskAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "[Output Only] A map of scoped disk lists.",
     "additionalProperties": {
      "$ref": "DisksScopedList",
      "description": "[Output Only] Name of the scope containing this set of disks."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#diskAggregatedList for aggregated lists of persistent disks.",
     "default": "compute#diskAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "DiskList": {
   "id": "DiskList",
   "type": "object",
   "description": "A list of Disk resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] A list of persistent disks.",
     "items": {
      "$ref": "Disk"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#diskList for lists of disks.",
     "default": "compute#diskList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "DiskMoveRequest": {
   "id": "DiskMoveRequest",
   "type": "object",
   "properties": {
    "destinationZone": {
     "type": "string",
     "description": "The URL of the destination zone to move the disk to. This can be a full or partial URL. For example, the following are all valid URLs to a zone:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone \n- projects/project/zones/zone \n- zones/zone"
    },
    "targetDisk": {
     "type": "string",
     "description": "The URL of the target disk to move. This can be a full or partial URL. For example, the following are all valid URLs to a disk:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/disks/disk \n- projects/project/zones/zone/disks/disk \n- zones/zone/disks/disk"
    }
   }
  },
  "DiskType": {
   "id": "DiskType",
   "type": "object",
   "description": "A disk type resource.",
   "properties": {
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "defaultDiskSizeGb": {
     "type": "string",
     "description": "[Output Only] Server defined default disk size in GB.",
     "format": "int64"
    },
    "deprecated": {
     "$ref": "DeprecationStatus",
     "description": "[Output Only] The deprecation status associated with this disk type."
    },
    "description": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#diskType for disk types.",
     "default": "compute#diskType"
    },
    "name": {
     "type": "string",
     "description": "[Output Only] Name of the resource.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for the resource."
    },
    "validDiskSize": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the valid disk size, such as \"10GB-10TB\"."
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the disk type resides."
    }
   }
  },
  "DiskTypeAggregatedList": {
   "id": "DiskTypeAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "[Output Only] A map of scoped disk type lists.",
     "additionalProperties": {
      "$ref": "DiskTypesScopedList",
      "description": "[Output Only] Name of the scope containing this set of disk types."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#diskTypeAggregatedList.",
     "default": "compute#diskTypeAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "DiskTypeList": {
   "id": "DiskTypeList",
   "type": "object",
   "description": "Contains a list of disk type resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] A list of Disk Type resources.",
     "items": {
      "$ref": "DiskType"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#diskTypeList for disk types.",
     "default": "compute#diskTypeList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "DiskTypesScopedList": {
   "id": "DiskTypesScopedList",
   "type": "object",
   "properties": {
    "diskTypes": {
     "type": "array",
     "description": "[Output Only] List of disk types contained in this scope.",
     "items": {
      "$ref": "DiskType"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of disk types when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] The warning type identifier for this warning.",
       "enum": [
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata for this warning in key: value format.",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key for the warning data."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] Optional human-readable details for this warning."
      }
     }
    }
   }
  },
  "DisksScopedList": {
   "id": "DisksScopedList",
   "type": "object",
   "properties": {
    "disks": {
     "type": "array",
     "description": "[Output Only] List of disks contained in this scope.",
     "items": {
      "$ref": "Disk"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of disks when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] The warning type identifier for this warning.",
       "enum": [
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata for this warning in key: value format.",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key for the warning data."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] Optional human-readable details for this warning."
      }
     }
    }
   }
  },
  "Firewall": {
   "id": "Firewall",
   "type": "object",
   "description": "A Firewall resource.",
   "properties": {
    "allowed": {
     "type": "array",
     "description": "The list of rules specified by this firewall. Each rule specifies a protocol and port-range tuple that describes a permitted connection.",
     "items": {
      "type": "object",
      "properties": {
       "IPProtocol": {
        "type": "string",
        "description": "The IP protocol that is allowed for this rule. The protocol type is required when creating a firewall. This value can either be one of the following well known protocol strings (tcp, udp, icmp, esp, ah, sctp), or the IP protocol number."
       },
       "ports": {
        "type": "array",
        "description": "An optional list of ports which are allowed. This field is only applicable for UDP or TCP protocol. Each entry must be either an integer or a range. If not specified, connections through any port are allowed\n\nExample inputs include: [\"22\"], [\"80\",\"443\"], and [\"12345-12349\"].",
        "items": {
         "type": "string"
        }
       }
      }
     }
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Ony] Type of the resource. Always compute#firewall for firewall rules.",
     "default": "compute#firewall"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.firewalls.insert",
       "compute.firewalls.patch"
      ]
     }
    },
    "network": {
     "type": "string",
     "description": "URL of the network resource for this firewall rule. This field is required for creating an instance but optional when creating a firewall rule. If not specified when creating a firewall rule, the default network is used:\nglobal/networks/default\nIf you choose to specify this property, you can specify the network as a full or partial URL. For example, the following are all valid URLs:  \n- https://www.googleapis.com/compute/v1/projects/myproject/global/networks/my-network \n- projects/myproject/global/networks/my-network \n- global/networks/default"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for the resource."
    },
    "sourceRanges": {
     "type": "array",
     "description": "The IP address blocks that this rule applies to, expressed in CIDR format. One or both of sourceRanges and sourceTags may be set.\n\nIf both properties are set, an inbound connection is allowed if the range matches the sourceRanges OR the tag of the source matches the sourceTags property. The connection does not need to match both properties.",
     "items": {
      "type": "string"
     }
    },
    "sourceTags": {
     "type": "array",
     "description": "A list of instance tags which this rule applies to. One or both of sourceRanges and sourceTags may be set.\n\nIf both properties are set, an inbound connection is allowed if the range matches the sourceRanges OR the tag of the source matches the sourceTags property. The connection does not need to match both properties.",
     "items": {
      "type": "string"
     }
    },
    "targetTags": {
     "type": "array",
     "description": "A list of instance tags indicating sets of instances located in the network that may make network connections as specified in allowed[]. If no targetTags are specified, the firewall rule applies to all instances on the specified network.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "FirewallList": {
   "id": "FirewallList",
   "type": "object",
   "description": "Contains a list of Firewall resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] A list of Firewall resources.",
     "items": {
      "$ref": "Firewall"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#firewallList for lists of firewalls.",
     "default": "compute#firewallList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "ForwardingRule": {
   "id": "ForwardingRule",
   "type": "object",
   "description": "A ForwardingRule resource. A ForwardingRule resource specifies which pool of target VMs to forward a packet to if it matches the given [IPAddress, IPProtocol, portRange] tuple.",
   "properties": {
    "IPAddress": {
     "type": "string",
     "description": "Value of the reserved IP address that this forwarding rule is serving on behalf of. For global forwarding rules, the address must be a global IP; for regional forwarding rules, the address must live in the same region as the forwarding rule. If left empty (default value), an ephemeral IP from the same scope (global or regional) will be assigned."
    },
    "IPProtocol": {
     "type": "string",
     "description": "The IP protocol to which this rule applies, valid options are TCP, UDP, ESP, AH or SCTP.",
     "enum": [
      "AH",
      "ESP",
      "SCTP",
      "TCP",
      "UDP"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "Type of the resource.",
     "default": "compute#forwardingRule"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "portRange": {
     "type": "string",
     "description": "Applicable only when `IPProtocol` is TCP, UDP, or SCTP, only packets addressed to ports in the specified range will be forwarded to target. If portRange is left empty (default value), all ports are forwarded. Forwarding rules with the same `[IPAddress, IPProtocol]` pair must have disjoint port ranges."
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the regional forwarding rule resides. This field is not applicable to global forwarding rules."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "target": {
     "type": "string",
     "description": "The URL of the target resource to receive the matched traffic. For regional forwarding rules, this target must live in the same region as the forwarding rule. For global forwarding rules, this target must be a global TargetHttpProxy or TargetHttpsProxy resource."
    }
   }
  },
  "ForwardingRuleAggregatedList": {
   "id": "ForwardingRuleAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A map of scoped forwarding rule lists.",
     "additionalProperties": {
      "$ref": "ForwardingRulesScopedList",
      "description": "Name of the scope containing this set of addresses."
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#forwardingRuleAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "ForwardingRuleList": {
   "id": "ForwardingRuleList",
   "type": "object",
   "description": "Contains a list of ForwardingRule resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource. Set by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of ForwardingRule resources.",
     "items": {
      "$ref": "ForwardingRule"
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#forwardingRuleList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "ForwardingRulesScopedList": {
   "id": "ForwardingRulesScopedList",
   "type": "object",
   "properties": {
    "forwardingRules": {
     "type": "array",
     "description": "List of forwarding rules contained in this scope.",
     "items": {
      "$ref": "ForwardingRule"
     }
    },
    "warning": {
     "type": "object",
     "description": "Informational warning which replaces the list of forwarding rules when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] The warning type identifier for this warning.",
       "enum": [
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata for this warning in key: value format.",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key for the warning data."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] Optional human-readable details for this warning."
      }
     }
    }
   }
  },
  "HealthCheckReference": {
   "id": "HealthCheckReference",
   "type": "object",
   "properties": {
    "healthCheck": {
     "type": "string"
    }
   }
  },
  "HealthStatus": {
   "id": "HealthStatus",
   "type": "object",
   "properties": {
    "healthState": {
     "type": "string",
     "description": "Health state of the instance.",
     "enum": [
      "HEALTHY",
      "UNHEALTHY"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "instance": {
     "type": "string",
     "description": "URL of the instance resource."
    },
    "ipAddress": {
     "type": "string",
     "description": "The IP address represented by this resource."
    },
    "port": {
     "type": "integer",
     "description": "The port on the instance.",
     "format": "int32"
    }
   }
  },
  "HostRule": {
   "id": "HostRule",
   "type": "object",
   "description": "UrlMaps A host-matching rule for a URL. If matched, will use the named PathMatcher to select the BackendService.",
   "properties": {
    "description": {
     "type": "string",
     "description": "An optional textual description."
    },
    "hosts": {
     "type": "array",
     "description": "The list of host patterns to match. They must be valid hostnames except that they may start with *. or *-. The * acts like a glob and will match any string of atoms (separated by .s and -s) to the left.",
     "items": {
      "type": "string"
     }
    },
    "pathMatcher": {
     "type": "string",
     "description": "The name of the PathMatcher to match the path portion of the URL, if the this hostRule matches the URL's host portion."
    }
   }
  },
  "HttpHealthCheck": {
   "id": "HttpHealthCheck",
   "type": "object",
   "description": "An HttpHealthCheck resource. This resource defines a template for how individual VMs should be checked for health, via HTTP.",
   "properties": {
    "checkIntervalSec": {
     "type": "integer",
     "description": "How often (in seconds) to send a health check. The default value is 5 seconds.",
     "format": "int32"
    },
    "creationTimestamp": {
     "type": "string",
     "description": "Creation timestamp in RFC3339 text format (output only)."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "healthyThreshold": {
     "type": "integer",
     "description": "A so-far unhealthy VM will be marked healthy after this many consecutive successes. The default value is 2.",
     "format": "int32"
    },
    "host": {
     "type": "string",
     "description": "The value of the host header in the HTTP health check request. If left empty (default value), the public IP on behalf of which this health check is performed will be used."
    },
    "id": {
     "type": "string",
     "description": "Unique identifier for the resource; defined by the server (output only).",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "Type of the resource.",
     "default": "compute#httpHealthCheck"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "port": {
     "type": "integer",
     "description": "The TCP port number for the HTTP health check request. The default value is 80.",
     "format": "int32"
    },
    "requestPath": {
     "type": "string",
     "description": "The request path of the HTTP health check request. The default value is \"/\"."
    },
    "selfLink": {
     "type": "string",
     "description": "Server defined URL for the resource (output only)."
    },
    "timeoutSec": {
     "type": "integer",
     "description": "How long (in seconds) to wait before claiming failure. The default value is 5 seconds. It is invalid for timeoutSec to have greater value than checkIntervalSec.",
     "format": "int32"
    },
    "unhealthyThreshold": {
     "type": "integer",
     "description": "A so-far healthy VM will be marked unhealthy after this many consecutive failures. The default value is 2.",
     "format": "int32"
    }
   }
  },
  "HttpHealthCheckList": {
   "id": "HttpHealthCheckList",
   "type": "object",
   "description": "Contains a list of HttpHealthCheck resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "Unique identifier for the resource; defined by the server (output only)."
    },
    "items": {
     "type": "array",
     "description": "A list of HttpHealthCheck resources.",
     "items": {
      "$ref": "HttpHealthCheck"
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#httpHealthCheckList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token used to continue a truncated list request (output only)."
    },
    "selfLink": {
     "type": "string",
     "description": "Server defined URL for this resource (output only)."
    }
   }
  },
  "Image": {
   "id": "Image",
   "type": "object",
   "description": "An Image resource.",
   "properties": {
    "archiveSizeBytes": {
     "type": "string",
     "description": "Size of the image tar.gz archive stored in Google Cloud Storage (in bytes).",
     "format": "int64"
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "deprecated": {
     "$ref": "DeprecationStatus",
     "description": "The deprecation status associated with this image."
    },
    "description": {
     "type": "string",
     "description": "Textual description of the resource; provided by the client when the resource is created."
    },
    "diskSizeGb": {
     "type": "string",
     "description": "Size of the image when restored onto a persistent disk (in GB).",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#image for images.",
     "default": "compute#image"
    },
    "licenses": {
     "type": "array",
     "description": "Any applicable publicly visible licenses.",
     "items": {
      "type": "string"
     }
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.images.insert"
      ]
     }
    },
    "rawDisk": {
     "type": "object",
     "description": "The parameters of the raw disk image.",
     "properties": {
      "containerType": {
       "type": "string",
       "description": "The format used to encode and transmit the block device, which should be TAR. This is just a container and transmission format and not a runtime format. Provided by the client when the disk image is created.",
       "enum": [
        "TAR"
       ],
       "enumDescriptions": [
        ""
       ]
      },
      "sha1Checksum": {
       "type": "string",
       "description": "An optional SHA1 checksum of the disk image before unpackaging; provided by the client when the disk image is created.",
       "pattern": "[a-f0-9]{40}"
      },
      "source": {
       "type": "string",
       "description": "The full Google Cloud Storage URL where the disk image is stored. You must provide either this property or the sourceDisk property but not both.",
       "annotations": {
        "required": [
         "compute.images.insert"
        ]
       }
      }
     }
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for the resource."
    },
    "sourceDisk": {
     "type": "string",
     "description": "URL of the The source disk used to create this image. This can be a full or valid partial URL. You must provide either this property or the rawDisk.source property but not both to create an image. For example, the following are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/disk/disk \n- projects/project/zones/zone/disk/disk \n- zones/zone/disks/disk"
    },
    "sourceDiskId": {
     "type": "string",
     "description": "The ID value of the disk used to create this image. This value may be used to determine whether the image was taken from the current or a previous instance of a given disk name."
    },
    "sourceType": {
     "type": "string",
     "description": "The type of the image used to create this disk. The default and only value is RAW",
     "default": "RAW",
     "enum": [
      "RAW"
     ],
     "enumDescriptions": [
      ""
     ]
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the image. An image can be used to create other resources, such as instances, only after the image has been successfully created and the status is set to READY. Possible values are FAILED, PENDING, or READY.",
     "enum": [
      "FAILED",
      "PENDING",
      "READY"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "ImageList": {
   "id": "ImageList",
   "type": "object",
   "description": "Contains a list of Image resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "Unique identifier for the resource; defined by the server (output only)."
    },
    "items": {
     "type": "array",
     "description": "A list of Image resources.",
     "items": {
      "$ref": "Image"
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#imageList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token used to continue a truncated list request (output only)."
    },
    "selfLink": {
     "type": "string",
     "description": "Server defined URL for this resource (output only)."
    }
   }
  },
  "Instance": {
   "id": "Instance",
   "type": "object",
   "description": "An Instance resource.",
   "properties": {
    "canIpForward": {
     "type": "boolean",
     "description": "Allows this instance to send and receive packets with non-matching destination or source IPs. This is required if you plan to use this instance to forward routes. For more information, see Enabling IP Forwarding."
    },
    "cpuPlatform": {
     "type": "string",
     "description": "[Output Only] The CPU platform used by this instance."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "disks": {
     "type": "array",
     "description": "Array of disks associated with this instance. Persistent disks must be created before you can assign them.",
     "items": {
      "$ref": "AttachedDisk"
     }
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#instance for instances.",
     "default": "compute#instance"
    },
    "machineType": {
     "type": "string",
     "description": "Full or partial URL of the machine type resource to use for this instance. This is provided by the client when the instance is created. For example, the following is a valid partial url:\n\nzones/zone/machineTypes/machine-type",
     "annotations": {
      "required": [
       "compute.instances.insert"
      ]
     }
    },
    "metadata": {
     "$ref": "Metadata",
     "description": "The metadata key/value pairs assigned to this instance. This includes custom metadata and predefined keys."
    },
    "name": {
     "type": "string",
     "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
    },
    "networkInterfaces": {
     "type": "array",
     "description": "An array of configurations for this interface. This specifies how this interface is configured to interact with other network services, such as connecting to the internet.",
     "items": {
      "$ref": "NetworkInterface"
     }
    },
    "scheduling": {
     "$ref": "Scheduling",
     "description": "Scheduling options for this instance."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    },
    "serviceAccounts": {
     "type": "array",
     "description": "A list of service accounts, with their specified scopes, authorized for this instance. Service accounts generate access tokens that can be accessed through the metadata server and used to authenticate applications on the instance. See Authenticating from Google Compute Engine for more information.",
     "items": {
      "$ref": "ServiceAccount"
     }
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the instance. One of the following values: PROVISIONING, STAGING, RUNNING, STOPPING, and TERMINATED.",
     "enum": [
      "PROVISIONING",
      "RUNNING",
      "STAGING",
      "STOPPED",
      "STOPPING",
      "SUSPENDED",
      "SUSPENDING",
      "TERMINATED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "statusMessage": {
     "type": "string",
     "description": "[Output Only] An optional, human-readable explanation of the status."
    },
    "tags": {
     "$ref": "Tags",
     "description": "A list of tags to appy to this instance. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during instance creation. The tags can be later modified by the setTags method. Each tag within the list must comply with RFC1035."
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the instance resides."
    }
   }
  },
  "InstanceAggregatedList": {
   "id": "InstanceAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "[Output Only] A map of scoped instance lists.",
     "additionalProperties": {
      "$ref": "InstancesScopedList",
      "description": "Name of the scope containing this set of instances."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#instanceAggregatedList for aggregated lists of Instance resources.",
     "default": "compute#instanceAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this resource."
    }
   }
  },
  "InstanceGroup": {
   "id": "InstanceGroup",
   "type": "object",
   "properties": {
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] The creation timestamp for this instance group in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional text description for the instance group."
    },
    "fingerprint": {
     "type": "string",
     "description": "[Output Only] The fingerprint of the named ports information. The system uses this fingerprint to detect conflicts when multiple users change the named ports information concurrently.",
     "format": "byte"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] A unique identifier for this instance group. The server defines this identifier.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] The resource type, which is always compute#instanceGroup for instance groups.",
     "default": "compute#instanceGroup"
    },
    "name": {
     "type": "string",
     "description": "The name of the instance group. The name must be 1-63 characters long, and comply with RFC1035.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.instanceGroupManagers.insert"
      ]
     }
    },
    "namedPorts": {
     "type": "array",
     "description": "Assigns a name to a port number. For example: {name: ?http?, port: 80} This allows the system to reference ports by the assigned name instead of a port number. Named ports can also contain multiple ports. For example: [{name: ?http?, port: 80},{name: \"http\", port: 8080}] Named ports apply to all instances in this instance group.",
     "items": {
      "$ref": "NamedPort"
     }
    },
    "network": {
     "type": "string",
     "description": "The URL of the network to which all instances in the instance group belong."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The URL for this instance group. The server defines this URL."
    },
    "size": {
     "type": "integer",
     "description": "[Output Only] The total number of instances in the instance group.",
     "format": "int32"
    },
    "zone": {
     "type": "string",
     "description": "The URL of the zone where the instance group is located."
    }
   }
  },
  "InstanceGroupAggregatedList": {
   "id": "InstanceGroupAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] A unique identifier for this aggregated list of instance groups. The server defines this identifier."
    },
    "items": {
     "type": "object",
     "description": "A map of scoped instance group lists.",
     "additionalProperties": {
      "$ref": "InstanceGroupsScopedList",
      "description": "The name of the scope that contains this set of instance groups."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] The resource type, which is always compute#instanceGroupAggregatedList for aggregated lists of instance groups.",
     "default": "compute#instanceGroupAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token that is used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] A unique identifier for this aggregated list of instance groups. The server defines this identifier."
    }
   }
  },
  "InstanceGroupList": {
   "id": "InstanceGroupList",
   "type": "object",
   "description": "A list of InstanceGroup resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] A unique identifier for this list of instance groups. The server defines this identifier."
    },
    "items": {
     "type": "array",
     "description": "A list of InstanceGroup resources.",
     "items": {
      "$ref": "InstanceGroup"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] The resource type, which is always compute#instanceGroupList for instance group lists.",
     "default": "compute#instanceGroupList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token that is used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The URL for this instance group. The server defines this URL."
    }
   }
  },
  "InstanceGroupManager": {
   "id": "InstanceGroupManager",
   "type": "object",
   "description": "InstanceGroupManagers\n\nNext available tag: 17",
   "properties": {
    "autoHealingPolicies": {
     "type": "array",
     "description": "The autohealing policy for this managed instance group. You can specify only one value.",
     "items": {
      "$ref": "InstanceGroupManagerAutoHealingPolicy"
     }
    },
    "baseInstanceName": {
     "type": "string",
     "description": "The base instance name to use for instances in this group. The value must be 1-58 characters long. Instances are named by appending a hyphen and a random four-character string to the base instance name. The base instance name must comply with RFC1035.",
     "pattern": "[a-z][-a-z0-9]{0,57}",
     "annotations": {
      "required": [
       "compute.instanceGroupManagers.insert"
      ]
     }
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] The creation timestamp for this managed instance group in RFC3339 text format."
    },
    "currentActions": {
     "$ref": "InstanceGroupManagerActionsSummary",
     "description": "[Output Only] The list of instance actions and the number of instances in this managed instance group that are scheduled for those actions."
    },
    "description": {
     "type": "string",
     "description": "An optional text description for the managed instance group."
    },
    "fingerprint": {
     "type": "string",
     "description": "[Output Only] The fingerprint of the target pools information, which is a hash of the contents. This field is used for optimistic locking when updating the target pool entries.",
     "format": "byte"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] A unique identifier for this managed instance group. The server defines this identifier.",
     "format": "uint64"
    },
    "instanceGroup": {
     "type": "string",
     "description": "[Output Only] The URL of the InstanceGroup resource."
    },
    "instanceTemplate": {
     "type": "string",
     "description": "The URL of the instance template that is specified for this managed instance group. The group uses this template to create all new instances in the managed instance group.",
     "annotations": {
      "required": [
       "compute.instanceGroupManagers.insert"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] The resource type, which is always compute#instanceGroupManager for managed instance groups.",
     "default": "compute#instanceGroupManager"
    },
    "name": {
     "type": "string",
     "description": "The name of the managed instance group. The name must be 1-63 characters long, and comply with RFC1035.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.instanceGroupManagers.insert"
      ]
     }
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server defined URL for this managed instance group."
    },
    "targetPools": {
     "type": "array",
     "description": "The URL of all TargetPool resources to which new instances in the instanceGroup field are added. Updating the target pool values does not affect existing instances.",
     "items": {
      "type": "string"
     }
    },
    "targetSize": {
     "type": "integer",
     "description": "The target number of running instances for this managed instance group. Deleting or abandoning instances reduces this number. Resizing the group changes this number.",
     "format": "int32",
     "annotations": {
      "required": [
       "compute.instanceGroupManagers.insert"
      ]
     }
    },
    "zone": {
     "type": "string",
     "description": "The URL of the zone where the managed instance group is located."
    }
   }
  },
  "InstanceGroupManagerActionsSummary": {
   "id": "InstanceGroupManagerActionsSummary",
   "type": "object",
   "properties": {
    "abandoning": {
     "type": "integer",
     "format": "int32"
    },
    "creating": {
     "type": "integer",
     "format": "int32"
    },
    "deleting": {
     "type": "integer",
     "format": "int32"
    },
    "none": {
     "type": "integer",
     "format": "int32"
    },
    "recreating": {
     "type": "integer",
     "format": "int32"
    },
    "refreshing": {
     "type": "integer",
     "format": "int32"
    },
    "restarting": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "InstanceGroupManagerAggregatedList": {
   "id": "InstanceGroupManagerAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] A unique identifier for this aggregated list of managed instance groups. The server defines this identifier."
    },
    "items": {
     "type": "object",
     "description": "A map of filtered managed instance group lists.",
     "additionalProperties": {
      "$ref": "InstanceGroupManagersScopedList",
      "description": "The name of the scope that contains this set of managed instance groups."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#instanceGroupManagerAggregatedList for an aggregated list of managed instance groups.",
     "default": "compute#instanceGroupManagerAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token that is used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The URL for this aggregated list of managed instance groups. The server defines this URL."
    }
   }
  },
  "InstanceGroupManagerAutoHealingPolicy": {
   "id": "InstanceGroupManagerAutoHealingPolicy",
   "type": "object",
   "properties": {
    "actionType": {
     "type": "string",
     "description": "The action to perform when an instance becomes unhealthy. Possible values are RECREATE or RESTART. RECREATE replaces an unhealthy instance with a new instance that is based on the instance template for this managed instance group. RESTART performs a soft restart on an instance. If the instance cannot restart softly, the instance performs a hard restart.",
     "enum": [
      "RECREATE",
      "RESTART"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "healthCheck": {
     "type": "string",
     "description": "The URL for the HealthCheck that signals autohealing."
    }
   }
  },
  "InstanceGroupManagerList": {
   "id": "InstanceGroupManagerList",
   "type": "object",
   "description": "[Output Only] A list of InstanceGroupManager resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] A unique identifier for this managed instance group. The server defines this identifier."
    },
    "items": {
     "type": "array",
     "description": "[Output Only] A list of managed instance group resources.",
     "items": {
      "$ref": "InstanceGroupManager"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#instanceGroupManagerList for a list of managed instance group resources.",
     "default": "compute#instanceGroupManagerList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token that is used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The URL for this managed instance group. The server defines this URL."
    }
   }
  },
  "InstanceGroupManagersAbandonInstancesRequest": {
   "id": "InstanceGroupManagersAbandonInstancesRequest",
   "type": "object",
   "properties": {
    "instances": {
     "type": "array",
     "description": "The names of instances to abandon from the managed instance group.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "InstanceGroupManagersDeleteInstancesRequest": {
   "id": "InstanceGroupManagersDeleteInstancesRequest",
   "type": "object",
   "properties": {
    "instances": {
     "type": "array",
     "description": "The names of one or more instances to delete.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "InstanceGroupManagersListManagedInstancesResponse": {
   "id": "InstanceGroupManagersListManagedInstancesResponse",
   "type": "object",
   "properties": {
    "managedInstances": {
     "type": "array",
     "description": "List of managed instances. If empty - all instances are listed.",
     "items": {
      "$ref": "ManagedInstance"
     }
    }
   }
  },
  "InstanceGroupManagersRecreateInstancesRequest": {
   "id": "InstanceGroupManagersRecreateInstancesRequest",
   "type": "object",
   "properties": {
    "instances": {
     "type": "array",
     "description": "The names of one or more instances to recreate.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "InstanceGroupManagersScopedList": {
   "id": "InstanceGroupManagersScopedList",
   "type": "object",
   "properties": {
    "instanceGroupManagers": {
     "type": "array",
     "description": "[Output Only] The list of managed instance groups that are contained in the specified project and zone.",
     "items": {
      "$ref": "InstanceGroupManager"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] The warning that replaces the list of managed instance groups when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] The warning type identifier for this warning.",
       "enum": [
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata for this warning in key: value format.",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key for the warning data."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] Optional human-readable details for this warning."
      }
     }
    }
   }
  },
  "InstanceGroupManagersSetInstanceTemplateRequest": {
   "id": "InstanceGroupManagersSetInstanceTemplateRequest",
   "type": "object",
   "properties": {
    "instanceTemplate": {
     "type": "string",
     "description": "The URL of the instance template that is specified for this managed instance group. The group uses this template to create all new instances in the managed instance group."
    }
   }
  },
  "InstanceGroupManagersSetTargetPoolsRequest": {
   "id": "InstanceGroupManagersSetTargetPoolsRequest",
   "type": "object",
   "properties": {
    "fingerprint": {
     "type": "string",
     "description": "The fingerprint of the target pools information, which is a hash of the contents. This field is used for optimistic locking when updating the target pool entries.",
     "format": "byte"
    },
    "targetPools": {
     "type": "array",
     "description": "The list of target pool URLs that instances in this managed instance group belong to. When the managed instance group creates new instances, the group automatically adds those instances to the target pools that are specified in this parameter. Changing the value of this parameter does not change the target pools of existing instances in this managed instance group.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "InstanceGroupsAddInstancesRequest": {
   "id": "InstanceGroupsAddInstancesRequest",
   "type": "object",
   "properties": {
    "instances": {
     "type": "array",
     "description": "The instances to add to the instance group.",
     "items": {
      "$ref": "InstanceReference"
     }
    }
   }
  },
  "InstanceGroupsListInstances": {
   "id": "InstanceGroupsListInstances",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] A unique identifier for this list of instance groups. The server defines this identifier."
    },
    "items": {
     "type": "array",
     "description": "A list of InstanceWithNamedPorts resources, which contains all named ports for the given instance.",
     "items": {
      "$ref": "InstanceWithNamedPorts"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] The resource type, which is always compute#instanceGroupsListInstances for lists of instance groups.",
     "default": "compute#instanceGroupsListInstances"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token that is used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The URL for this list of instance groups. The server defines this URL."
    }
   }
  },
  "InstanceGroupsListInstancesRequest": {
   "id": "InstanceGroupsListInstancesRequest",
   "type": "object",
   "properties": {
    "instanceState": {
     "type": "string",
     "description": "A filter for the state of the instances in the instance group. Valid options are ALL or RUNNING. If you do not specify this parameter the list includes all instances regardless of their state.",
     "enum": [
      "ALL",
      "RUNNING"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "portName": {
     "type": "string",
     "description": "A filter for the named ports that are associated with instances in the instance group. If you specify this parameter, the generated list includes only instances that are associated with the specified named ports. If you do not specify this parameter, the generated list includes all instances regardless of their named ports.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    }
   }
  },
  "InstanceGroupsRemoveInstancesRequest": {
   "id": "InstanceGroupsRemoveInstancesRequest",
   "type": "object",
   "properties": {
    "instances": {
     "type": "array",
     "description": "The instances to remove from the instance group.",
     "items": {
      "$ref": "InstanceReference"
     }
    }
   }
  },
  "InstanceGroupsScopedList": {
   "id": "InstanceGroupsScopedList",
   "type": "object",
   "properties": {
    "instanceGroups": {
     "type": "array",
     "description": "[Output Only] The list of instance groups that are contained in this scope.",
     "items": {
      "$ref": "InstanceGroup"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] An informational warning that replaces the list of instance groups when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] The warning type identifier for this warning.",
       "enum": [
        "DEPRECATED_RESOURCE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "INJECTED_KERNELS_DEPRECATED",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_NOT_DELETED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata for this warning in key: value format.",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key for the warning data."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] Optional human-readable details for this warning."
      }
     }
    }
   }
  },
  "InstanceGroupsSetNamedPortsRequest": {
   "id": "InstanceGroupsSetNamedPortsRequest",
   "type": "object",
   "properties": {
    "fingerprint": {
     "type": "string",
     "description": "The fingerprint of the named ports information, which is a hash of the contents. Use this field for optimistic locking when you update the named ports entries.",
     "format": "byte"
    },
[...]
