{
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/dataflow",
  "revision": "20170907",
  "id": "dataflow:v1b3",
  "title": "Google Dataflow API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "workerMessages": {
          "id": "dataflow.projects.workerMessages",
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "description": "Send a worker_message to the service.",
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "description": "The project to send the WorkerMessages to.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "workerMessages": {
              "description": "Send a worker_message to the service.",
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The project to send the WorkerMessages to."
                },
                "location": {
                  "description": "The location which contains the job",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "id": "dataflow.projects.locations.workerMessages",
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages"
            }
          },
          "resources": {
            "templates": {
              "methods": {
                "launch": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    },
                    "gcsPath": {
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location to which to direct the request.",
                      "type": "string",
                      "required": true
                    },
                    "validateOnly": {
                      "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "id": "dataflow.projects.locations.templates.launch",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "description": "Launch a template."
                },
                "get": {
                  "parameters": {
                    "view": {
                      "location": "query",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    },
                    "gcsPath": {
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location to which to direct the request.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "id": "dataflow.projects.locations.templates.get",
                  "description": "Get the template associated with a template.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "GetTemplateResponse"
                  }
                },
                "create": {
                  "description": "Creates a Cloud Dataflow job from a template.",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location to which to direct the request.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "id": "dataflow.projects.locations.templates.create"
                }
              }
            },
            "jobs": {
              "methods": {
                "list": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.list",
                  "description": "List the jobs of a project in a given region.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                      "type": "integer"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The project which owns the jobs.",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "description": "The kind of filter to use."
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "description": "The location that contains this job.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.get",
                  "description": "Gets the state of the specified Cloud Dataflow job."
                },
                "update": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.update",
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Updates the state of an existing Cloud Dataflow job.",
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job ID.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}"
                },
                "create": {
                  "description": "Creates a Cloud Dataflow job.",
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "type": "string",
                      "required": true
                    },
                    "replaceJobId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message."
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response."
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.create"
                },
                "getMetrics": {
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "description": "Request the job status.",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location which contains the job specified by job_id.",
                      "type": "string",
                      "required": true
                    },
                    "startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The job to get messages for."
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A project id.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics"
                }
              },
              "resources": {
                "workItems": {
                  "methods": {
                    "lease": {
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "description": "Leases a dataflow WorkItem to run.",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "jobId": {
                          "description": "Identifies the workflow job this worker belongs to.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Identifies the project this worker belongs to.",
                          "type": "string",
                          "required": true
                        },
                        "location": {
                          "description": "The location which contains the WorkItem's job.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease"
                    },
                    "reportStatus": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the WorkItem's job.",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "description": "The job which the WorkItem is part of.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "The project which owns the WorkItem's job.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "description": "Reports the status of dataflow WorkItems leased by a worker."
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "sendCapture": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "parameters": {
                        "jobId": {
                          "location": "path",
                          "description": "The job id.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "description": "The project id.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "location": {
                          "description": "The location which contains the job specified by job_id.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "description": "Send encoded debug capture data for component.",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      }
                    },
                    "getConfig": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the job specified by job_id.",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job id.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The project id."
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "description": "Get encoded debug configuration for component. Not cacheable."
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "projectId": {
                          "description": "A project id.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "jobId": {
                          "description": "The job to get messages about.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "endTime": {
                          "location": "query",
                          "format": "google-datetime",
                          "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                          "type": "string"
                        },
                        "location": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The location which contains the job specified by job_id."
                        },
                        "startTime": {
                          "location": "query",
                          "format": "google-datetime",
                          "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                          "type": "integer",
                          "location": "query"
                        },
                        "minimumImportance": {
                          "description": "Filter to only get messages with importance \u003e= level",
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ]
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "description": "Request the job status.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "templates": {
          "methods": {
            "get": {
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "id": "dataflow.projects.templates.get",
              "path": "v1b3/projects/{projectId}/templates:get",
              "description": "Get the template associated with a template.",
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "The location to which to direct the request.",
                  "type": "string"
                },
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "METADATA_ONLY"
                  ]
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "required": true
                },
                "gcsPath": {
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                  "type": "string"
                }
              }
            },
            "create": {
              "flatPath": "v1b3/projects/{projectId}/templates",
              "id": "dataflow.projects.templates.create",
              "path": "v1b3/projects/{projectId}/templates",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "description": "Creates a Cloud Dataflow job from a template.",
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "launch": {
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "description": "The location to which to direct the request.",
                  "type": "string",
                  "location": "query"
                },
                "validateOnly": {
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                  "type": "boolean"
                },
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "gcsPath": {
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "id": "dataflow.projects.templates.launch",
              "path": "v1b3/projects/{projectId}/templates:launch",
              "description": "Launch a template.",
              "request": {
                "$ref": "LaunchTemplateParameters"
              }
            }
          }
        },
        "jobs": {
          "methods": {
            "aggregated": {
              "description": "List the jobs of a project across all regions.",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "ListJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The project which owns the jobs."
                },
                "filter": {
                  "description": "The kind of filter to use.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                },
                "location": {
                  "description": "The location that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit."
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "id": "dataflow.projects.jobs.aggregated"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "The project which owns the jobs.",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "description": "The kind of filter to use.",
                  "type": "string"
                },
                "location": {
                  "description": "The location that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                  "type": "integer"
                },
                "view": {
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "path": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.list",
              "description": "List the jobs of a project in a given region."
            },
            "create": {
              "description": "Creates a Cloud Dataflow job.",
              "request": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "The level of information requested in response.",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to."
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location that contains this job."
                },
                "replaceJobId": {
                  "location": "query",
                  "description": "Deprecated. This field is now in the Job message.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "path": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.create"
            },
            "getMetrics": {
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "id": "dataflow.projects.jobs.getMetrics",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "description": "Request the job status.",
              "response": {
                "$ref": "JobMetrics"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "location": {
                  "description": "The location which contains the job specified by job_id.",
                  "type": "string",
                  "location": "query"
                },
                "startTime": {
                  "format": "google-datetime",
                  "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                  "type": "string",
                  "location": "query"
                },
                "jobId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The job to get messages for."
                },
                "projectId": {
                  "location": "path",
                  "description": "A project id.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "description": "Gets the state of the specified Cloud Dataflow job.",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "view": {
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "location": "query"
                },
                "jobId": {
                  "description": "The job ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "projectId": {
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "required": true
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.get"
            },
            "update": {
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "location": {
                  "description": "The location that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "jobId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The job ID."
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.update",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "description": "Updates the state of an existing Cloud Dataflow job.",
              "request": {
                "$ref": "Job"
              }
            }
          },
          "resources": {
            "workItems": {
              "methods": {
                "lease": {
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "description": "Leases a dataflow WorkItem to run.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "description": "Identifies the workflow job this worker belongs to.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Identifies the project this worker belongs to.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease"
                },
                "reportStatus": {
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "description": "The job which the WorkItem is part of.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The project which owns the WorkItem's job.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  }
                }
              }
            },
            "debug": {
              "methods": {
                "sendCapture": {
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "description": "The job id.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "description": "The project id.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "description": "Send encoded debug capture data for component."
                },
                "getConfig": {
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The project id.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "description": "Request the job status.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "The job to get messages about.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "A project id."
                    },
                    "location": {
                      "location": "query",
                      "description": "The location which contains the job specified by job_id.",
                      "type": "string"
                    },
                    "endTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                      "type": "integer",
                      "location": "query"
                    },
                    "minimumImportance": {
                      "location": "query",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "description": "Filter to only get messages with importance \u003e= level",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "id": "dataflow.projects.jobs.messages.list"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    }
  },
  "schemas": {
    "WorkerMessageCode": {
      "description": "A message code is used to report status and error messages to the service.\nThe message codes are intended to be machine readable. The service will\ntake care of translating these into user understandable messages if\nnecessary.\n\nExample use cases:\n  1. Worker processes reporting successful startup.\n  2. Worker processes reporting specific errors (e.g. package staging\n     failure).",
      "type": "object",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameters contains specific information about the code.\n\nThis is a struct to allow parameters of different types.\n\nExamples:\n 1. For a \"HARNESS_STARTED\" message parameters might provide the name\n    of the worker and additional data like timing information.\n 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing\n    the GCS objects being downloaded and fields containing errors.\n\nIn general complex data structures should be avoided. If a worker\nneeds to send a specific and complicated data structure then please\nconsider defining a new proto and adding it to the data oneof in\nWorkerMessageResponse.\n\nConventions:\n Parameters should only be used for information that isn't typically passed\n as a label.\n hostname and other worker identifiers should almost always be passed\n as labels since they will be included on most messages.",
          "type": "object"
        },
        "code": {
          "description": "The code is a string intended for consumption by a machine that identifies\nthe type of message being sent.\nExamples:\n 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has\n     started.\n 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading\n    a GCS file as part of the boot process of one of the worker containers.\n\nThis is a string and not an enum to make it easy to add new codes without\nwaiting for an API change.",
          "type": "string"
        }
      },
      "id": "WorkerMessageCode"
    },
    "CustomSourceLocation": {
      "description": "Identifies the location of a custom souce.",
      "type": "object",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      },
      "id": "CustomSourceLocation"
    },
    "MapTask": {
      "type": "object",
      "properties": {
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing this MapTask.\nUnique across the workflow."
        },
        "systemName": {
          "description": "System-defined name of this MapTask.\nUnique across the workflow.",
          "type": "string"
        },
        "instructions": {
          "description": "The instructions in the MapTask.",
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array"
        }
      },
      "id": "MapTask",
      "description": "MapTask consists of an ordered set of instructions, each of which\ndescribes one particular low-level operation for the worker to\nperform in order to accomplish the MapTask's WorkItem.\n\nEach instruction must appear in the list before any instructions which\ndepends on its output."
    },
    "FloatingPointMean": {
      "description": "A representation of a floating point mean metric contribution.",
      "type": "object",
      "properties": {
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        },
        "sum": {
          "format": "double",
          "description": "The sum of all values being aggregated.",
          "type": "number"
        }
      },
      "id": "FloatingPointMean"
    },
    "ReportWorkItemStatusResponse": {
      "description": "Response from a request to report the status of WorkItems.",
      "type": "object",
      "properties": {
        "workItemServiceStates": {
          "description": "A set of messages indicating the service-side state for each\nWorkItem whose status was reported, in the same order as the\nWorkItemStatus messages in the ReportWorkItemStatusRequest which\nresulting in this response.",
          "items": {
            "$ref": "WorkItemServiceState"
          },
          "type": "array"
        }
      },
      "id": "ReportWorkItemStatusResponse"
    },
    "InstructionOutput": {
      "description": "An output of an instruction.",
      "type": "object",
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of this output.\nUnique across the workflow."
        },
        "onlyCountKeyBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions\nshould only report the key size."
        },
        "onlyCountValueBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions\nshould only report the value size.",
          "type": "boolean"
        },
        "codec": {
          "description": "The codec to use to encode data being written via this output.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph.\nOutputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        }
      },
      "id": "InstructionOutput"
    },
    "CreateJobFromTemplateRequest": {
      "description": "A request to create a Cloud Dataflow job from a template.",
      "type": "object",
      "properties": {
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "location": {
          "description": "The location to which to direct the request.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The runtime parameters to pass to the job.",
          "type": "object"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        }
      },
      "id": "CreateJobFromTemplateRequest"
    },
    "IntegerMean": {
      "type": "object",
      "properties": {
        "sum": {
          "$ref": "SplitInt64",
          "description": "The sum of all values being aggregated."
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      },
      "id": "IntegerMean",
      "description": "A representation of an integer mean metric contribution."
    },
    "ListJobsResponse": {
      "description": "Response to a request to list Cloud Dataflow jobs.  This may be a partial\nresponse, depending on the page size in the ListJobsRequest.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "A subset of the requested job information.",
          "items": {
            "$ref": "Job"
          },
          "type": "array"
        },
        "failedLocation": {
          "description": "Zero or more messages describing locations that failed to respond.",
          "items": {
            "$ref": "FailedLocation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        }
      },
      "id": "ListJobsResponse"
    },
    "ComputationTopology": {
      "properties": {
        "keyRanges": {
          "description": "The key ranges processed by the computation.",
          "items": {
            "$ref": "KeyRangeLocation"
          },
          "type": "array"
        },
        "outputs": {
          "description": "The outputs from the computation.",
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array"
        },
        "stateFamilies": {
          "description": "The state family values.",
          "items": {
            "$ref": "StateFamilyConfig"
          },
          "type": "array"
        },
        "systemStageName": {
          "description": "The system stage name.",
          "type": "string"
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "inputs": {
          "description": "The inputs to the computation.",
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array"
        }
      },
      "id": "ComputationTopology",
      "description": "All configuration data for a particular Computation.",
      "type": "object"
    },
    "RuntimeEnvironment": {
      "description": "The environment values to set at runtime.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the\ntemplate if not specified.",
          "type": "string"
        },
        "zone": {
          "description": "The Compute Engine [availability\nzone](https://cloud.google.com/compute/docs/regions-zones/regions-zones)\nfor launching worker instances to run your pipeline.",
          "type": "string"
        },
        "maxWorkers": {
          "format": "int32",
          "description": "The maximum number of Google Compute Engine instances to be made\navailable to your pipeline during execution, from 1 to 1000.",
          "type": "integer"
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory.\nUse with caution.",
          "type": "boolean"
        }
      },
      "id": "RuntimeEnvironment"
    },
    "StreamingSideInputLocation": {
      "properties": {
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        },
        "stateFamily": {
          "description": "Identifies the state family where this side input is stored.",
          "type": "string"
        }
      },
      "id": "StreamingSideInputLocation",
      "description": "Identifies the location of a streaming side input.",
      "type": "object"
    },
    "MountedDataDisk": {
      "description": "Describes mounted data disk.",
      "type": "object",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk.\nThis name is local to the Google Cloud Platform project and uniquely\nidentifies the disk within that project, for example\n\"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "id": "MountedDataDisk"
    },
    "LaunchTemplateResponse": {
      "id": "LaunchTemplateResponse",
      "description": "Response to the request to launch a template.",
      "type": "object",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and\nthe job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "Job": {
      "description": "Defines a job to be run by the Cloud Dataflow service.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for this job.\n\nThe labels map can contain no more than 64 entries.  Entries of the labels\nmap are UTF8 strings that comply with the following restrictions:\n\n* Keys must conform to regexp:  \\p{Ll}\\p{Lo}{0,62}\n* Values must conform to regexp:  [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}\n* Both keys and values are additionally constrained to be \u003c= 128 bytes in\nsize."
        },
        "environment": {
          "$ref": "Environment",
          "description": "The environment for the job."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the job was initially created. Immutable and set by the\nCloud Dataflow service."
        },
        "stageStates": {
          "description": "This field may be mutated by the Cloud Dataflow service;\ncallers cannot mutate it.",
          "items": {
            "$ref": "ExecutionStageState"
          },
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is\nprocessed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read,\nprocessed, and written continuously."
          ],
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ],
          "description": "The type of Cloud Dataflow job.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "pipelineDescription": {
          "$ref": "PipelineDescription",
          "description": "Preliminary field: The format of this data may change at any time.\nA description of the user pipeline and stages through which it is executed.\nCreated by Cloud Dataflow service.  Only retrieved with\nJOB_VIEW_DESCRIPTION or JOB_VIEW_ALL."
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID\nof the job it replaced.\n\nWhen sending a `CreateJobRequest`, you can update a job by specifying it\nhere. The job named here is stopped, and its intermediate state is\ntransferred to this job.",
          "type": "string"
        },
        "requestedState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING"
          ],
          "description": "The job's requested state.\n\n`UpdateJob` may be used to switch between the `JOB_STATE_STOPPED` and\n`JOB_STATE_RUNNING` states, by setting requested_state.  `UpdateJob` may\nalso be used to directly set a job's requested state to\n`JOB_STATE_CANCELLED` or `JOB_STATE_DONE`, irrevocably terminating the\njob if it has not already reached a terminal state.",
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not\nyet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed.\nThis is a terminal job state.  This state may be set by the Cloud Dataflow\nservice, as a transition from `JOB_STATE_RUNNING`. It may also be set via a\nCloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal\nstate.",
            "`JOB_STATE_FAILED` indicates that the job has failed.  This is a\nterminal job state.  This state may only be set by the Cloud Dataflow\nservice, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly\ncancelled. This is a terminal job state. This state may only be\nset via a Cloud Dataflow `UpdateJob` call, and only if the job has not\nyet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated,\nmeaning that this job was stopped and another job was started, inheriting\nstate from this one. This is a terminal job state. This state may only be\nset by the Cloud Dataflow service, and only as a transition from\n`JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining.\nA draining job has stopped pulling from its input sources and is processing\nany data that remains in-flight. This state may be set via a Cloud Dataflow\n`UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs\nthat are draining may only transition to `JOB_STATE_DRAINED`,\n`JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained.\nA drained job terminated by stopping pulling from its input sources and\nprocessing any data that remained in-flight when draining was requested.\nThis state is a terminal state, may only be set by the Cloud Dataflow\nservice, and only as a transition from `JOB_STATE_DRAINING`.",
            "'JOB_STATE_PENDING' indicates that the job has been created but is not yet\nrunning.  Jobs that are pending may only transition to `JOB_STATE_RUNNING`,\nor `JOB_STATE_FAILED`.",
            "'JOB_STATE_CANCELLING' indicates that the job has been explicitly cancelled\nand is in the process of stopping.  Jobs that are cancelling may only\ntransition to 'JOB_STATE_CANCELLED' or 'JOB_STATE_FAILED'."
          ]
        },
        "tempFiles": {
          "description": "A set of files the system should be aware of that are used\nfor temporary storage. These temporary files will be\nremoved on job completion.\nNo duplicates are allowed.\nNo file patterns are supported.\n\nThe supported files are:\n\nGoogle Cloud Storage:\n\n   storage.googleapis.com/{bucket}/{object}\n   bucket.storage.googleapis.com/{object}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientRequestId": {
          "description": "The client's unique identifier of the job, re-used across retried attempts.\nIf this field is set, the service will ensure its uniqueness.\nThe request to create a job will fail if the service has knowledge of a\npreviously submitted job with the same client's ID and job name.\nThe caller may use this field to ensure idempotence of job\ncreation across retried attempts to create a job.\nBy default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        },
        "name": {
          "description": "The user-specified Cloud Dataflow job name.\n\nOnly one Job with a given name may exist in a project at any\ngiven time. If a caller attempts to create a Job with the same\nname as an already-existing Job, the attempt returns the\nexisting Job.\n\nThe name must match the regular expression\n`[a-z]([-a-z0-9]{0,38}[a-z0-9])?`",
          "type": "string"
        },
        "steps": {
          "description": "The top-level steps that constitute the entire job.",
          "items": {
            "$ref": "Step"
          },
          "type": "array"
        },
        "replacedByJobId": {
          "description": "If another job is an update of this job (and thus, this job is in\n`JOB_STATE_UPDATED`), this field contains the ID of that job.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this job.\n\nThis field is set by the Cloud Dataflow service when the Job is\ncreated, and is immutable for the life of the job.",
          "type": "string"
        },
        "executionInfo": {
          "$ref": "JobExecutionInfo",
          "description": "Deprecated."
        },
        "currentState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not\nyet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed.\nThis is a terminal job state.  This state may be set by the Cloud Dataflow\nservice, as a transition from `JOB_STATE_RUNNING`. It may also be set via a\nCloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal\nstate.",
            "`JOB_STATE_FAILED` indicates that the job has failed.  This is a\nterminal job state.  This state may only be set by the Cloud Dataflow\nservice, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly\ncancelled. This is a terminal job state. This state may only be\nset via a Cloud Dataflow `UpdateJob` call, and only if the job has not\nyet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated,\nmeaning that this job was stopped and another job was started, inheriting\nstate from this one. This is a terminal job state. This state may only be\nset by the Cloud Dataflow service, and only as a transition from\n`JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining.\nA draining job has stopped pulling from its input sources and is processing\nany data that remains in-flight. This state may be set via a Cloud Dataflow\n`UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs\nthat are draining may only transition to `JOB_STATE_DRAINED`,\n`JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained.\nA drained job terminated by stopping pulling from its input sources and\nprocessing any data that remained in-flight when draining was requested.\nThis state is a terminal state, may only be set by the Cloud Dataflow\nservice, and only as a transition from `JOB_STATE_DRAINING`.",
            "'JOB_STATE_PENDING' indicates that the job has been created but is not yet\nrunning.  Jobs that are pending may only transition to `JOB_STATE_RUNNING`,\nor `JOB_STATE_FAILED`.",
            "'JOB_STATE_CANCELLING' indicates that the job has been explicitly cancelled\nand is in the process of stopping.  Jobs that are cancelling may only\ntransition to 'JOB_STATE_CANCELLED' or 'JOB_STATE_FAILED'."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING"
          ],
          "description": "The current state of the job.\n\nJobs are created in the `JOB_STATE_STOPPED` state unless otherwise\nspecified.\n\nA job in the `JOB_STATE_RUNNING` state may asynchronously enter a\nterminal state. After a job has reached a terminal state, no\nfurther state updates may be made.\n\nThis field may be mutated by the Cloud Dataflow service;\ncallers cannot mutate it.",
          "type": "string"
        },
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        },
        "currentStateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp associated with the current state."
        },
        "transformNameMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of transform name prefixes of the job to be replaced to the\ncorresponding name prefixes of the new job.",
          "type": "object"
        }
      },
      "id": "Job"
    },
    "DynamicSourceSplit": {
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this\nmessage describes the two parts of the split relative to the\ndescription of the current task's input.",
      "type": "object",
      "properties": {
        "primary": {
          "description": "Primary part (continued to be processed by worker).\nSpecified relative to the previously-current source.\nBecomes current.",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "Residual part (returned to the pool of work).\nSpecified relative to the previously-current source.",
          "$ref": "DerivedSource"
        }
      },
      "id": "DynamicSourceSplit"
    },
    "DerivedSource": {
      "description": "Specification of one of the bundles produced as a result of splitting\na Source (e.g. when executing a SourceSplitRequest, or when\nsplitting an active task using WorkItemStatus.dynamic_source_split),\nrelative to the source being split.",
      "type": "object",
      "properties": {
        "derivationMode": {
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "description": "What source to base the produced source on (if any).",
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ]
        },
        "source": {
          "$ref": "Source",
          "description": "Specification of the source."
        }
      },
      "id": "DerivedSource"
    },
    "SideInputId": {
      "description": "Uniquely identifies a side input.",
      "type": "object",
      "properties": {
        "declaringStepName": {
          "description": "The step that receives and usually consumes this side input.",
          "type": "string"
        },
        "inputIndex": {
          "format": "int32",
          "description": "The index of the side input, from the list of non_parallel_inputs.",
          "type": "integer"
        }
      },
      "id": "SideInputId"
    },
    "SourceOperationResponse": {
      "description": "The result of a SourceOperationRequest, specified in\nReportWorkItemStatusRequest.source_operation when the work item\nis completed.",
      "type": "object",
      "properties": {
        "getMetadata": {
          "$ref": "SourceGetMetadataResponse",
          "description": "A response to a request to get metadata about a source."
        },
        "split": {
          "description": "A response to a request to split a source.",
          "$ref": "SourceSplitResponse"
        }
      },
      "id": "SourceOperationResponse"
    },
    "SendDebugCaptureResponse": {
      "type": "object",
      "properties": {},
      "id": "SendDebugCaptureResponse",
      "description": "Response to a send capture request.\nnothing"
    },
    "SideInputInfo": {
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will access this side input by;\nthis should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        },
        "kind": {
          "description": "How to interpret the source element(s) as a side input value.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "sources": {
          "description": "The source(s) to read element(s) from to get the value of this side input.\nIf more than one source, then the elements are taken from the\nsources, in the specified order if order matters.\nAt least one source is required.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        }
      },
      "id": "SideInputInfo"
    },
    "CounterStructuredNameAndMetadata": {
      "description": "A single message which encapsulates structured name and metadata for a given\ncounter.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        },
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        }
      },
      "id": "CounterStructuredNameAndMetadata"
    },
    "ConcatPosition": {
      "description": "A position that encapsulates an inner position and an index for the inner\nposition. A ConcatPosition can be used by a reader of a source that\nencapsulates a set of other sources.",
      "type": "object",
      "properties": {
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the inner source."
        }
      },
      "id": "ConcatPosition"
    },
    "WriteInstruction": {
      "properties": {
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        }
      },
      "id": "WriteInstruction",
      "description": "An instruction that writes records.\nTakes one input, produces no outputs.",
      "type": "object"
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "type": "object",
      "properties": {
        "algorithm": {
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling.",
          "type": "string",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ]
        },
        "maxNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of workers to cap scaling at."
        }
      },
      "id": "AutoscalingSettings"
    },
    "StreamingComputationRanges": {
      "type": "object",
      "properties": {
        "rangeAssignments": {
          "description": "Data disk assignments for ranges from this computation.",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "type": "array"
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        }
      },
      "id": "StreamingComputationRanges",
      "description": "Describes full or partial data disk assignment information of the computation\nranges."
    },
    "ExecutionStageSummary": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Dataflow service generated id for this stage.",
          "type": "string"
        },
        "componentTransform": {
          "description": "Transforms that comprise this execution stage.",
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array"
        },
        "componentSource": {
          "description": "Collections produced and consumed by component transforms of this stage.",
          "items": {
            "$ref": "ComponentSource"
          },
          "type": "array"
        },
        "kind": {
          "description": "Type of tranform this stage is executing.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "outputSource": {
          "items": {
            "$ref": "StageSource"
          },
          "type": "array",
          "description": "Output sources for this stage."
        },
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "inputSource": {
          "description": "Input sources for this stage.",
          "items": {
            "$ref": "StageSource"
          },
          "type": "array"
        }
      },
      "id": "ExecutionStageSummary",
      "description": "Description of the composing transforms, names/ids, and input/outputs of a\nstage of execution.  Some composing transforms and sources may have been\ngenerated by the Dataflow service during execution planning."
    },
    "SendWorkerMessagesRequest": {
      "id": "SendWorkerMessagesRequest",
      "description": "A request for sending worker messages to the service.",
      "type": "object",
      "properties": {
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "items": {
            "$ref": "WorkerMessage"
          },
          "type": "array"
        },
        "location": {
          "description": "The location which contains the job",
          "type": "string"
        }
      }
    },
[...]
