{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "basePath": "/books/v1/",
  "baseUrl": "https://www.googleapis.com/books/v1/",
  "batchPath": "batch/books/v1",
  "description": "Searches for books and manages your Google Books library.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/books/docs/v1/getting_started",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/IJLNBRdljvLuWJUzNqsxt7enycE\"",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/ebooks-16.png",
    "x32": "https://www.google.com/images/icons/product/ebooks-32.png"
  },
  "id": "books:v1",
  "kind": "discovery#restDescription",
  "name": "books",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "bookshelves": {
      "methods": {
        "get": {
          "description": "Retrieves metadata for a specific bookshelf for the specified user.",
          "httpMethod": "GET",
          "id": "books.bookshelves.get",
          "parameterOrder": [
            "userId",
            "shelf"
          ],
          "parameters": {
            "shelf": {
              "description": "ID of bookshelf to retrieve.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "userId": {
              "description": "ID of user for whom to retrieve bookshelves.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "users/{userId}/bookshelves/{shelf}",
          "response": {
            "$ref": "Bookshelf"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "list": {
          "description": "Retrieves a list of public bookshelves for the specified user.",
          "httpMethod": "GET",
          "id": "books.bookshelves.list",
          "parameterOrder": [
            "userId"
          ],
          "parameters": {
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "userId": {
              "description": "ID of user for whom to retrieve bookshelves.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "users/{userId}/bookshelves",
          "response": {
            "$ref": "Bookshelves"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      },
      "resources": {
        "volumes": {
          "methods": {
            "list": {
              "description": "Retrieves volumes in a specific bookshelf for the specified user.",
              "httpMethod": "GET",
              "id": "books.bookshelves.volumes.list",
              "parameterOrder": [
                "userId",
                "shelf"
              ],
              "parameters": {
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "format": "uint32",
                  "location": "query",
                  "minimum": "0",
                  "type": "integer"
                },
                "shelf": {
                  "description": "ID of bookshelf to retrieve volumes.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showPreorders": {
                  "description": "Set to true to show pre-ordered books. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "startIndex": {
                  "description": "Index of the first element to return (starts at 0)",
                  "format": "uint32",
                  "location": "query",
                  "minimum": "0",
                  "type": "integer"
                },
                "userId": {
                  "description": "ID of user for whom to retrieve bookshelf volumes.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "users/{userId}/bookshelves/{shelf}/volumes",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      }
    },
    "cloudloading": {
      "methods": {
        "addBook": {
          "description": "",
          "httpMethod": "POST",
          "id": "books.cloudloading.addBook",
          "parameters": {
            "drive_document_id": {
              "description": "A drive document id. The upload_client_token must not be set.",
              "location": "query",
              "type": "string"
            },
            "mime_type": {
              "description": "The document MIME type. It can be set only if the drive_document_id is set.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "The document name. It can be set only if the drive_document_id is set.",
              "location": "query",
              "type": "string"
            },
            "upload_client_token": {
              "location": "query",
              "type": "string"
            }
          },
          "path": "cloudloading/addBook",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "deleteBook": {
          "description": "Remove the book and its contents",
          "httpMethod": "POST",
          "id": "books.cloudloading.deleteBook",
          "parameterOrder": [
            "volumeId"
          ],
          "parameters": {
            "volumeId": {
              "description": "The id of the book to be removed.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "cloudloading/deleteBook",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "updateBook": {
          "description": "",
          "httpMethod": "POST",
          "id": "books.cloudloading.updateBook",
          "path": "cloudloading/updateBook",
          "request": {
            "$ref": "BooksCloudloadingResource"
          },
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "dictionary": {
      "methods": {
        "listOfflineMetadata": {
          "description": "Returns a list of offline dictionary metadata available",
          "httpMethod": "GET",
          "id": "books.dictionary.listOfflineMetadata",
          "parameterOrder": [
            "cpksver"
          ],
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to request the data.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "dictionary/listOfflineMetadata",
          "response": {
            "$ref": "Metadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "familysharing": {
      "methods": {
        "getFamilyInfo": {
          "description": "Gets information regarding the family that the user is part of.",
          "httpMethod": "GET",
          "id": "books.familysharing.getFamilyInfo",
          "parameters": {
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "familysharing/getFamilyInfo",
          "response": {
            "$ref": "FamilyInfo"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "share": {
          "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
          "httpMethod": "POST",
          "id": "books.familysharing.share",
          "parameters": {
            "docId": {
              "description": "The docid to share.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "volumeId": {
              "description": "The volume to share.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "familysharing/share",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "unshare": {
          "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
          "httpMethod": "POST",
          "id": "books.familysharing.unshare",
          "parameters": {
            "docId": {
              "description": "The docid to unshare.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "volumeId": {
              "description": "The volume to unshare.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "familysharing/unshare",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "layers": {
      "methods": {
        "get": {
          "description": "Gets the layer summary for a volume.",
          "httpMethod": "GET",
          "id": "books.layers.get",
          "parameterOrder": [
            "volumeId",
            "summaryId"
          ],
          "parameters": {
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "summaryId": {
              "description": "The ID for the layer to get the summary for.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "volumeId": {
              "description": "The volume to retrieve layers for.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "volumes/{volumeId}/layersummary/{summaryId}",
          "response": {
            "$ref": "Layersummary"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "list": {
          "description": "List the layer summaries for a volume.",
          "httpMethod": "GET",
          "id": "books.layers.list",
          "parameterOrder": [
            "volumeId"
          ],
          "parameters": {
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "location": "query",
              "maximum": "200",
              "minimum": "0",
              "type": "integer"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous page.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "volumeId": {
              "description": "The volume to retrieve layers for.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "volumes/{volumeId}/layersummary",
          "response": {
            "$ref": "Layersummaries"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      },
      "resources": {
        "annotationData": {
          "methods": {
            "get": {
              "description": "Gets the annotation data.",
              "httpMethod": "GET",
              "id": "books.layers.annotationData.get",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationDataId",
                "contentVersion"
              ],
              "parameters": {
                "allowWebDefinitions": {
                  "description": "For the dictionary layer. Whether or not to allow web definitions.",
                  "location": "query",
                  "type": "boolean"
                },
                "annotationDataId": {
                  "description": "The ID of the annotation data to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "contentVersion": {
                  "description": "The content version for the volume you are trying to retrieve.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "h": {
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "scale": {
                  "description": "The requested scale for the image.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "0",
                  "type": "integer"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "w": {
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "response": {
                "$ref": "Annotationdata"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "list": {
              "description": "Gets the annotation data for a volume and layer.",
              "httpMethod": "GET",
              "id": "books.layers.annotationData.list",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "parameters": {
                "annotationDataId": {
                  "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "h": {
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotation data.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "format": "uint32",
                  "location": "query",
                  "maximum": "200",
                  "minimum": "0",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "scale": {
                  "description": "The requested scale for the image.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "0",
                  "type": "integer"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "updatedMax": {
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query",
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotation data for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "w": {
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "volumes/{volumeId}/layers/{layerId}/data",
              "response": {
                "$ref": "Annotationsdata"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "volumeAnnotations": {
          "methods": {
            "get": {
              "description": "Gets the volume annotation.",
              "httpMethod": "GET",
              "id": "books.layers.volumeAnnotations.get",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationId"
              ],
              "parameters": {
                "annotationId": {
                  "description": "The ID of the volume annotation to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "response": {
                "$ref": "Volumeannotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "list": {
              "description": "Gets the volume annotations for a volume and layer.",
              "httpMethod": "GET",
              "id": "books.layers.volumeAnnotations.list",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "parameters": {
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "endOffset": {
                  "description": "The end offset to end retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "endPosition": {
                  "description": "The end position to end retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "format": "uint32",
                  "location": "query",
                  "maximum": "200",
                  "minimum": "0",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "showDeleted": {
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "startOffset": {
                  "description": "The start offset to start retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "startPosition": {
                  "description": "The start position to start retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "updatedMax": {
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query",
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query",
                  "type": "string"
                },
                "volumeAnnotationsVersion": {
                  "description": "The version of the volume annotations that you are requesting.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "volumes/{volumeId}/layers/{layerId}",
              "response": {
                "$ref": "Volumeannotations"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      }
    },
    "myconfig": {
      "methods": {
        "getUserSettings": {
          "description": "Gets the current settings for the user.",
          "httpMethod": "GET",
          "id": "books.myconfig.getUserSettings",
          "path": "myconfig/getUserSettings",
          "response": {
            "$ref": "Usersettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "releaseDownloadAccess": {
          "description": "Release downloaded content access restriction.",
          "httpMethod": "POST",
          "id": "books.myconfig.releaseDownloadAccess",
          "parameterOrder": [
            "volumeIds",
            "cpksver"
          ],
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to release the restriction.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "volumeIds": {
              "description": "The volume(s) to release restrictions for.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "myconfig/releaseDownloadAccess",
          "response": {
            "$ref": "DownloadAccesses"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "requestAccess": {
          "description": "Request concurrent and download access restrictions.",
          "httpMethod": "POST",
          "id": "books.myconfig.requestAccess",
          "parameterOrder": [
            "source",
            "volumeId",
            "nonce",
            "cpksver"
          ],
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to request the restrictions.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "licenseTypes": {
              "description": "The type of access license to request. If not specified, the default is BOTH.",
              "enum": [
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ],
              "enumDescriptions": [
                "Both concurrent and download licenses.",
                "Concurrent access license.",
                "Offline download access license."
              ],
              "location": "query",
              "type": "string"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query",
              "type": "string"
            },
            "nonce": {
              "description": "The client nonce value.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "volumeId": {
              "description": "The volume to request concurrent/download restrictions for.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "myconfig/requestAccess",
          "response": {
            "$ref": "RequestAccess"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "syncVolumeLicenses": {
          "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
          "httpMethod": "POST",
          "id": "books.myconfig.syncVolumeLicenses",
          "parameterOrder": [
            "source",
            "nonce",
            "cpksver"
          ],
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to release the restriction.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "features": {
              "description": "List of features supported by the client, i.e., 'RENTALS'",
              "enum": [
                "RENTALS"
              ],
              "enumDescriptions": [
                "Client supports rentals."
              ],
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "includeNonComicsSeries": {
              "description": "Set to true to include non-comics series. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query",
              "type": "string"
            },
            "nonce": {
              "description": "The client nonce value.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "showPreorders": {
              "description": "Set to true to show pre-ordered books. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "volumeIds": {
              "description": "The volume(s) to request download restrictions for.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "path": "myconfig/syncVolumeLicenses",
          "response": {
            "$ref": "Volumes"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "updateUserSettings": {
          "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
          "httpMethod": "POST",
          "id": "books.myconfig.updateUserSettings",
          "path": "myconfig/updateUserSettings",
          "request": {
            "$ref": "Usersettings"
          },
          "response": {
            "$ref": "Usersettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "mylibrary": {
      "resources": {
        "annotations": {
          "methods": {
            "delete": {
              "description": "Deletes an annotation.",
              "httpMethod": "DELETE",
              "id": "books.mylibrary.annotations.delete",
              "parameterOrder": [
                "annotationId"
              ],
              "parameters": {
                "annotationId": {
                  "description": "The ID for the annotation to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "mylibrary/annotations/{annotationId}",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "insert": {
              "description": "Inserts a new annotation.",
              "httpMethod": "POST",
              "id": "books.mylibrary.annotations.insert",
              "parameters": {
                "annotationId": {
                  "description": "The ID for the annotation to insert.",
                  "location": "query",
                  "type": "string"
                },
                "country": {
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "location": "query",
                  "type": "string"
                },
                "showOnlySummaryInResponse": {
                  "description": "Requests that only the summary of the specified layer be provided in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "mylibrary/annotations",
              "request": {
                "$ref": "Annotation"
              },
              "response": {
                "$ref": "Annotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "list": {
              "description": "Retrieves a list of annotations, possibly filtered.",
              "httpMethod": "GET",
              "id": "books.mylibrary.annotations.list",
              "parameters": {
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "location": "query",
                  "type": "string"
                },
                "layerId": {
                  "description": "The layer ID to limit annotation by.",
                  "location": "query",
                  "type": "string"
                },
                "layerIds": {
                  "description": "The layer ID(s) to limit annotation by.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "format": "uint32",
                  "location": "query",
                  "maximum": "40",
                  "minimum": "0",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "showDeleted": {
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "updatedMax": {
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query",
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to restrict annotations to.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "mylibrary/annotations",
              "response": {
                "$ref": "Annotations"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "summary": {
              "description": "Gets the summary of specified layers.",
              "httpMethod": "POST",
              "id": "books.mylibrary.annotations.summary",
              "parameterOrder": [
                "layerIds",
                "volumeId"
              ],
              "parameters": {
                "layerIds": {
                  "description": "Array of layer IDs to get the summary for.",
                  "location": "query",
                  "repeated": true,
                  "required": true,
                  "type": "string"
                },
                "volumeId": {
                  "description": "Volume id to get the summary for.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "mylibrary/annotations/summary",
              "response": {
                "$ref": "AnnotationsSummary"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "update": {
              "description": "Updates an existing annotation.",
              "httpMethod": "PUT",
              "id": "books.mylibrary.annotations.update",
              "parameterOrder": [
                "annotationId"
              ],
              "parameters": {
                "annotationId": {
                  "description": "The ID for the annotation to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "mylibrary/annotations/{annotationId}",
              "request": {
                "$ref": "Annotation"
              },
              "response": {
                "$ref": "Annotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "bookshelves": {
          "methods": {
            "addVolume": {
              "description": "Adds a volume to a bookshelf.",
              "httpMethod": "POST",
              "id": "books.mylibrary.bookshelves.addVolume",
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "parameters": {
                "reason": {
                  "description": "The reason for which the book is added to the library.",
                  "enum": [
                    "IOS_PREX",
                    "IOS_SEARCH",
                    "ONBOARDING"
                  ],
                  "enumDescriptions": [
                    "Volumes added from the PREX flow on iOS.",
                    "Volumes added from the Search flow on iOS.",
                    "Volumes added from the Onboarding flow."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "shelf": {
                  "description": "ID of bookshelf to which to add a volume.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "ID of volume to add.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "mylibrary/bookshelves/{shelf}/addVolume",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "clearVolumes": {
              "description": "Clears all volumes from a bookshelf.",
              "httpMethod": "POST",
              "id": "books.mylibrary.bookshelves.clearVolumes",
              "parameterOrder": [
                "shelf"
              ],
              "parameters": {
                "shelf": {
                  "description": "ID of bookshelf from which to remove a volume.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "mylibrary/bookshelves/{shelf}/clearVolumes",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "get": {
              "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
              "httpMethod": "GET",
              "id": "books.mylibrary.bookshelves.get",
              "parameterOrder": [
                "shelf"
              ],
              "parameters": {
                "shelf": {
                  "description": "ID of bookshelf to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "mylibrary/bookshelves/{shelf}",
              "response": {
                "$ref": "Bookshelf"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "list": {
              "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
              "httpMethod": "GET",
              "id": "books.mylibrary.bookshelves.list",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "mylibrary/bookshelves",
              "response": {
                "$ref": "Bookshelves"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "moveVolume": {
              "description": "Moves a volume within a bookshelf.",
              "httpMethod": "POST",
              "id": "books.mylibrary.bookshelves.moveVolume",
              "parameterOrder": [
                "shelf",
                "volumeId",
                "volumePosition"
              ],
              "parameters": {
                "shelf": {
                  "description": "ID of bookshelf with the volume.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "ID of volume to move.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "volumePosition": {
                  "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)",
                  "format": "int32",
                  "location": "query",
                  "required": true,
                  "type": "integer"
                }
              },
              "path": "mylibrary/bookshelves/{shelf}/moveVolume",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "removeVolume": {
              "description": "Removes a volume from a bookshelf.",
              "httpMethod": "POST",
              "id": "books.mylibrary.bookshelves.removeVolume",
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "parameters": {
                "reason": {
                  "description": "The reason for which the book is removed from the library.",
                  "enum": [
                    "ONBOARDING"
                  ],
                  "enumDescriptions": [
                    "Samples removed from the Onboarding flow."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "shelf": {
                  "description": "ID of bookshelf from which to remove a volume.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "ID of volume to remove.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "mylibrary/bookshelves/{shelf}/removeVolume",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          },
          "resources": {
            "volumes": {
              "methods": {
                "list": {
                  "description": "Gets volume information for volumes on a bookshelf.",
                  "httpMethod": "GET",
                  "id": "books.mylibrary.bookshelves.volumes.list",
                  "parameterOrder": [
                    "shelf"
                  ],
                  "parameters": {
                    "country": {
                      "description": "ISO-3166-1 code to override the IP-based location.",
                      "location": "query",
                      "type": "string"
                    },
                    "maxResults": {
                      "description": "Maximum number of results to return",
                      "format": "uint32",
                      "location": "query",
                      "minimum": "0",
                      "type": "integer"
                    },
                    "projection": {
                      "description": "Restrict information returned to a set of selected fields.",
                      "enum": [
                        "full",
                        "lite"
                      ],
                      "enumDescriptions": [
                        "Includes all volume data.",
                        "Includes a subset of fields in volumeInfo and accessInfo."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "q": {
                      "description": "Full-text search query string in this bookshelf.",
                      "location": "query",
                      "type": "string"
                    },
                    "shelf": {
                      "description": "The bookshelf ID or name retrieve volumes for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "showPreorders": {
                      "description": "Set to true to show pre-ordered books. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "source": {
                      "description": "String to identify the originator of this request.",
                      "location": "query",
                      "type": "string"
                    },
                    "startIndex": {
                      "description": "Index of the first element to return (starts at 0)",
                      "format": "uint32",
                      "location": "query",
                      "minimum": "0",
                      "type": "integer"
                    }
                  },
                  "path": "mylibrary/bookshelves/{shelf}/volumes",
                  "response": {
                    "$ref": "Volumes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/books"
                  ]
                }
              }
            }
          }
        },
        "readingpositions": {
          "methods": {
            "get": {
              "description": "Retrieves my reading position information for a volume.",
              "httpMethod": "GET",
              "id": "books.mylibrary.readingpositions.get",
              "parameterOrder": [
                "volumeId"
              ],
              "parameters": {
                "contentVersion": {
                  "description": "Volume content version for which this reading position is requested.",
                  "location": "query",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "ID of volume for which to retrieve a reading position.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "mylibrary/readingpositions/{volumeId}",
              "response": {
                "$ref": "ReadingPosition"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "setPosition": {
              "description": "Sets my reading position information for a volume.",
              "httpMethod": "POST",
              "id": "books.mylibrary.readingpositions.setPosition",
              "parameterOrder": [
                "volumeId",
                "timestamp",
                "position"
              ],
              "parameters": {
                "action": {
                  "description": "Action that caused this reading position to be set.",
                  "enum": [
                    "bookmark",
                    "chapter",
                    "next-page",
                    "prev-page",
                    "scroll",
                    "search"
                  ],
                  "enumDescriptions": [
                    "User chose bookmark within volume.",
                    "User selected chapter from list.",
                    "Next page event.",
                    "Previous page event.",
                    "User navigated to page.",
                    "User chose search results within volume."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "contentVersion": {
                  "description": "Volume content version for which this reading position applies.",
                  "location": "query",
                  "type": "string"
                },
                "deviceCookie": {
                  "description": "Random persistent device cookie optional on set position.",
                  "location": "query",
                  "type": "string"
                },
                "position": {
                  "description": "Position string for the new volume reading position.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "timestamp": {
                  "description": "RFC 3339 UTC format timestamp associated with this reading position.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "volumeId": {
                  "description": "ID of volume for which to update the reading position.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "mylibrary/readingpositions/{volumeId}/setPosition",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      }
    },
    "notification": {
      "methods": {
        "get": {
          "description": "Returns notification details for a given notification id.",
          "httpMethod": "GET",
          "id": "books.notification.get",
          "parameterOrder": [
            "notification_id"
          ],
          "parameters": {
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.",
              "location": "query",
              "type": "string"
            },
            "notification_id": {
              "description": "String to identify the notification.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "notification/get",
          "response": {
            "$ref": "Notification"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "onboarding": {
      "methods": {
        "listCategories": {
          "description": "List categories for onboarding experience.",
          "httpMethod": "GET",
          "id": "books.onboarding.listCategories",
          "parameters": {
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "onboarding/listCategories",
          "response": {
            "$ref": "Category"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "listCategoryVolumes": {
          "description": "List available volumes under categories for onboarding experience.",
          "httpMethod": "GET",
          "id": "books.onboarding.listCategoryVolumes",
          "parameters": {
            "categoryId": {
              "description": "List of category ids requested.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "location": "query",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.",
              "enum": [
                "mature",
                "not-mature"
              ],
              "enumDescriptions": [
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Number of maximum results per page to be included in the response.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous page.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "onboarding/listCategoryVolumes",
          "response": {
            "$ref": "Volume2"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "personalizedstream": {
      "methods": {
        "get": {
          "description": "Returns a stream of personalized book clusters",
          "httpMethod": "GET",
          "id": "books.personalizedstream.get",
          "parameters": {
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
              "location": "query",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "enum": [
                "mature",
                "not-mature"
              ],
              "enumDescriptions": [
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "personalizedstream/get",
          "response": {
            "$ref": "Discoveryclusters"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "promooffer": {
      "methods": {
        "accept": {
          "description": "",
          "httpMethod": "POST",
          "id": "books.promooffer.accept",
          "parameters": {
            "androidId": {
              "description": "device android_id",
              "location": "query",
              "type": "string"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "description": "device manufacturer",
              "location": "query",
              "type": "string"
            },
            "model": {
              "description": "device model",
              "location": "query",
              "type": "string"
            },
            "offerId": {
              "location": "query",
              "type": "string"
            },
            "product": {
              "description": "device product",
              "location": "query",
              "type": "string"
            },
            "serial": {
              "description": "device serial",
              "location": "query",
              "type": "string"
            },
            "volumeId": {
              "description": "Volume id to exercise the offer",
              "location": "query",
              "type": "string"
            }
          },
          "path": "promooffer/accept",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "dismiss": {
          "description": "",
          "httpMethod": "POST",
          "id": "books.promooffer.dismiss",
          "parameters": {
            "androidId": {
              "description": "device android_id",
              "location": "query",
              "type": "string"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "description": "device manufacturer",
              "location": "query",
              "type": "string"
            },
            "model": {
              "description": "device model",
              "location": "query",
              "type": "string"
            },
            "offerId": {
              "description": "Offer to dimiss",
              "location": "query",
              "type": "string"
            },
            "product": {
              "description": "device product",
              "location": "query",
              "type": "string"
            },
            "serial": {
              "description": "device serial",
              "location": "query",
              "type": "string"
            }
          },
          "path": "promooffer/dismiss",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "get": {
          "description": "Returns a list of promo offers available to the user",
          "httpMethod": "GET",
          "id": "books.promooffer.get",
          "parameters": {
            "androidId": {
              "description": "device android_id",
              "location": "query",
              "type": "string"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "description": "device manufacturer",
              "location": "query",
              "type": "string"
            },
            "model": {
              "description": "device model",
              "location": "query",
              "type": "string"
            },
            "product": {
              "description": "device product",
              "location": "query",
              "type": "string"
            },
            "serial": {
              "description": "device serial",
              "location": "query",
              "type": "string"
            }
          },
          "path": "promooffer/get",
          "response": {
            "$ref": "Offers"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "series": {
      "methods": {
        "get": {
          "description": "Returns Series metadata for the given series ids.",
          "httpMethod": "GET",
          "id": "books.series.get",
          "parameterOrder": [
            "series_id"
          ],
          "parameters": {
            "series_id": {
              "description": "String that identifies the series",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "series/get",
          "response": {
            "$ref": "Series"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      },
      "resources": {
        "membership": {
          "methods": {
            "get": {
              "description": "Returns Series membership data given the series id.",
              "httpMethod": "GET",
              "id": "books.series.membership.get",
              "parameterOrder": [
                "series_id"
              ],
              "parameters": {
                "page_size": {
                  "description": "Number of maximum results per page to be included in the response.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "page_token": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "series_id": {
                  "description": "String that identifies the series",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "series/membership/get",
              "response": {
                "$ref": "Seriesmembership"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      }
    },
    "volumes": {
      "methods": {
        "get": {
          "description": "Gets volume information for a single volume.",
          "httpMethod": "GET",
          "id": "books.volumes.get",
          "parameterOrder": [
            "volumeId"
          ],
          "parameters": {
            "country": {
              "description": "ISO-3166-1 code to override the IP-based location.",
              "location": "query",
              "type": "string"
            },
            "includeNonComicsSeries": {
              "description": "Set to true to include non-comics series. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "partner": {
              "description": "Brand results for partner ID.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "full",
                "lite"
              ],
              "enumDescriptions": [
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ],
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "user_library_consistent_read": {
              "location": "query",
              "type": "boolean"
            },
            "volumeId": {
              "description": "ID of volume to retrieve.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "volumes/{volumeId}",
          "response": {
            "$ref": "Volume"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "list": {
          "description": "Performs a book search.",
          "httpMethod": "GET",
          "id": "books.volumes.list",
          "parameterOrder": [
            "q"
          ],
          "parameters": {
            "download": {
              "description": "Restrict to volumes by download availability.",
              "enum": [
                "epub"
              ],
              "enumDescriptions": [
                "All volumes with epub."
              ],
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "Filter search results.",
              "enum": [
                "ebooks",
                "free-ebooks",
                "full",
                "paid-ebooks",
                "partial"
              ],
              "enumDescriptions": [
                "All Google eBooks.",
                "Google eBook with full volume text viewability.",
                "Public can view entire volume text.",
                "Google eBook with a price.",
                "Public able to see parts of text."
              ],
              "location": "query",
              "type": "string"
            },
            "langRestrict": {
              "description": "Restrict results to books with this language code.",
              "location": "query",
              "type": "string"
            },
            "libraryRestrict": {
              "description": "Restrict search to this user's library.",
              "enum": [
                "my-library",
                "no-restrict"
              ],
              "enumDescriptions": [
                "Restrict to the user's library, any shelf.",
                "Do not restrict based on user's library."
              ],
              "location": "query",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "enum": [
                "mature",
                "not-mature"
              ],
              "enumDescriptions": [
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "uint32",
              "location": "query",
              "maximum": "40",
              "minimum": "0",
              "type": "integer"
            },
            "orderBy": {
              "description": "Sort search results.",
              "enum": [
                "newest",
                "relevance"
              ],
              "enumDescriptions": [
                "Most recently published.",
                "Relevance to search terms."
              ],
              "location": "query",
              "type": "string"
            },
            "partner": {
              "description": "Restrict and brand results for partner ID.",
              "location": "query",
              "type": "string"
            },
            "printType": {
              "description": "Restrict to books or magazines.",
              "enum": [
                "all",
                "books",
                "magazines"
              ],
              "enumDescriptions": [
                "All volume content types.",
                "Just books.",
                "Just magazines."
              ],
              "location": "query",
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "full",
                "lite"
              ],
              "enumDescriptions": [
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ],
              "location": "query",
              "type": "string"
            },
            "q": {
              "description": "Full-text search query string.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "showPreorders": {
              "description": "Set to true to show books available for preorder. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "startIndex": {
              "description": "Index of the first result to return (starts at 0)",
              "format": "uint32",
              "location": "query",
              "minimum": "0",
              "type": "integer"
            }
          },
          "path": "volumes",
          "response": {
            "$ref": "Volumes"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      },
      "resources": {
        "associated": {
          "methods": {
            "list": {
              "description": "Return a list of associated books.",
              "httpMethod": "GET",
              "id": "books.volumes.associated.list",
              "parameterOrder": [
                "volumeId"
              ],
              "parameters": {
                "association": {
                  "description": "Association type.",
                  "enum": [
                    "end-of-sample",
                    "end-of-volume",
                    "related-for-play"
                  ],
                  "enumDescriptions": [
                    "Recommendations for display end-of-sample.",
                    "Recommendations for display end-of-volume.",
                    "Related volumes for Play Store."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query",
                  "type": "string"
                },
                "maxAllowedMaturityRating": {
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "enum": [
                    "mature",
                    "not-mature"
                  ],
                  "enumDescriptions": [
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "ID of the source volume.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "volumes/{volumeId}/associated",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "mybooks": {
          "methods": {
            "list": {
              "description": "Return a list of books in My Library.",
              "httpMethod": "GET",
              "id": "books.volumes.mybooks.list",
              "parameters": {
                "acquireMethod": {
                  "description": "How the book was acquired",
                  "enum": [
                    "FAMILY_SHARED",
                    "PREORDERED",
                    "PREVIOUSLY_RENTED",
                    "PUBLIC_DOMAIN",
                    "PURCHASED",
                    "RENTED",
                    "SAMPLE",
                    "UPLOADED"
                  ],
                  "enumDescriptions": [
                    "Books acquired via Family Sharing",
                    "Preordered books (not yet available)",
                    "User-rented books past their expiration time",
                    "Public domain books",
                    "Purchased books",
                    "User-rented books",
                    "Sample books",
                    "User uploaded books"
                  ],
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "country": {
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "location": "query",
                  "type": "string"
                },
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex:'en_US'. Used for generating recommendations.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "format": "uint32",
                  "location": "query",
                  "maximum": "100",
                  "minimum": "0",
                  "type": "integer"
                },
                "processingState": {
                  "description": "The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.",
                  "enum": [
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "enumDescriptions": [
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ],
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "startIndex": {
                  "description": "Index of the first result to return (starts at 0)",
                  "format": "uint32",
                  "location": "query",
                  "minimum": "0",
                  "type": "integer"
                }
              },
              "path": "volumes/mybooks",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "recommended": {
          "methods": {
            "list": {
              "description": "Return a list of recommended books for the current user.",
              "httpMethod": "GET",
              "id": "books.volumes.recommended.list",
              "parameters": {
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query",
                  "type": "string"
                },
                "maxAllowedMaturityRating": {
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "enum": [
                    "mature",
                    "not-mature"
                  ],
                  "enumDescriptions": [
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "volumes/recommended",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "rate": {
              "description": "Rate a recommended book for the current user.",
              "httpMethod": "POST",
              "id": "books.volumes.recommended.rate",
              "parameterOrder": [
                "rating",
                "volumeId"
              ],
              "parameters": {
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query",
                  "type": "string"
                },
                "rating": {
                  "description": "Rating to be given to the volume.",
                  "enum": [
                    "HAVE_IT",
                    "NOT_INTERESTED"
                  ],
                  "enumDescriptions": [
                    "Rating indicating a dismissal due to ownership.",
                    "Rating indicating a negative dismissal of a volume."
                  ],
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "ID of the source volume.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "volumes/recommended/rate",
              "response": {
                "$ref": "BooksVolumesRecommendedRateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "useruploaded": {
          "methods": {
            "list": {
              "description": "Return a list of books uploaded by the current user.",
              "httpMethod": "GET",
              "id": "books.volumes.useruploaded.list",
              "parameters": {
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "format": "uint32",
                  "location": "query",
                  "maximum": "40",
                  "minimum": "0",
                  "type": "integer"
                },
                "processingState": {
                  "description": "The processing state of the user uploaded volumes to be returned.",
                  "enum": [
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "enumDescriptions": [
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ],
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "startIndex": {
                  "description": "Index of the first result to return (starts at 0)",
                  "format": "uint32",
                  "location": "query",
                  "minimum": "0",
                  "type": "integer"
                },
                "volumeId": {
                  "description": "The ids of the volumes to be returned. If not specified all that match the processingState are returned.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "path": "volumes/useruploaded",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20200204",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "Annotation": {
      "id": "Annotation",
      "properties": {
        "afterSelectedText": {
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "beforeSelectedText": {
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "clientVersionRanges": {
          "description": "Selection ranges sent from the client.",
          "properties": {
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation sent by client."
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation sent by client."
            },
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation sent by client."
            },
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation sent by client."
            }
          },
          "type": "object"
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "format": "date-time",
          "type": "string"
        },
        "currentVersionRanges": {
          "description": "Selection ranges for the most recent content version.",
          "properties": {
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation for version above."
            }
          },
          "type": "object"
        },
        "data": {
          "description": "User-created data for this annotation.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "highlightStyle": {
          "description": "The highlight style for this annotation.",
          "type": "string"
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string"
        },
        "kind": {
          "default": "books#annotation",
          "description": "Resource type.",
          "type": "string"
        },
        "layerId": {
          "description": "The layer this annotation is for.",
          "type": "string"
        },
        "layerSummary": {
          "properties": {
            "allowedCharacterCount": {
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32",
              "type": "integer"
            },
            "limitType": {
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer.",
              "type": "string"
            },
            "remainingCharacterCount": {
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32",
              "type": "integer"
            }
          },
          "type": "object"
        },
        "pageIds": {
          "description": "Pages that this annotation spans.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this annotation was modified.",
          "format": "date-time",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Annotationdata": {
      "id": "Annotationdata",
      "properties": {
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        },
        "data": {
          "type": "any"
        },
        "encoded_data": {
          "description": "Base64 encoded data for this annotation data.",
          "format": "byte",
          "type": "string"
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "kind": {
          "default": "books#annotationdata",
          "description": "Resource Type",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "format": "date-time",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Annotations": {
      "id": "Annotations",
      "properties": {
        "items": {
          "description": "A list of annotations.",
          "items": {
            "$ref": "Annotation"
          },
          "type": "array"
        },
        "kind": {
          "default": "books#annotations",
          "description": "Resource type.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "totalItems": {
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AnnotationsSummary": {
      "id": "AnnotationsSummary",
      "properties": {
        "kind": {
          "default": "books#annotationsSummary",
          "type": "string"
        },
        "layers": {
          "items": {
            "properties": {
              "allowedCharacterCount": {
                "format": "int32",
                "type": "integer"
              },
              "layerId": {
                "type": "string"
              },
              "limitType": {
                "type": "string"
              },
              "remainingCharacterCount": {
                "format": "int32",
                "type": "integer"
              },
              "updated": {
                "format": "date-time",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Annotationsdata": {
      "id": "Annotationsdata",
      "properties": {
        "items": {
          "description": "A list of Annotation Data.",
          "items": {
            "$ref": "Annotationdata"
          },
          "type": "array"
        },
        "kind": {
          "default": "books#annotationsdata",
          "description": "Resource type",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BooksAnnotationsRange": {
      "id": "BooksAnnotationsRange",
      "properties": {
        "endOffset": {
          "description": "The offset from the ending position.",
          "type": "string"
        },
        "endPosition": {
          "description": "The ending position for the range.",
          "type": "string"
        },
        "startOffset": {
          "description": "The offset from the starting position.",
          "type": "string"
        },
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BooksCloudloadingResource": {
      "id": "BooksCloudloadingResource",
      "properties": {
        "author": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "volumeId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "BooksSubscriptionReleaseInfo": {
      "id": "BooksSubscriptionReleaseInfo",
      "properties": {
        "amountInMicros": {
          "description": "Amount in micros of the specified currency code.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "Currency code of the amount.",
          "type": "string"
        },
        "releaseNumber": {
          "description": "The release number of this issue/volume/book.",
          "type": "string"
        },
        "releaseTimestampUs": {
          "description": "The release date.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BooksVolumesRecommendedRateResponse": {
      "id": "BooksVolumesRecommendedRateResponse",
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      },
      "type": "object"
    },
[...]
