{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/genomics.readonly": {
          "description": "View Genomics data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/genomics": {
          "description": "View and manage Genomics data"
        }
      }
    }
  },
  "servicePath": "",
  "description": "Upload, process, query, and search Genomics data in the cloud.",
  "kind": "discovery#restDescription",
  "rootUrl": "https://genomics.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "genomics",
  "batchPath": "batch",
  "id": "genomics:v1",
  "documentationLink": "https://cloud.google.com/genomics",
  "revision": "20170909",
  "title": "Genomics API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "referencesets": {
      "methods": {
        "search": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchReferenceSetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/referencesets/search",
          "path": "v1/referencesets/search",
          "id": "genomics.referencesets.search",
          "request": {
            "$ref": "SearchReferenceSetsRequest"
          },
          "description": "Searches for reference sets which match the given criteria.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReferenceSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L71)"
        },
        "get": {
          "response": {
            "$ref": "ReferenceSet"
          },
          "parameterOrder": [
            "referenceSetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "referenceSetId": {
              "location": "path",
              "description": "The ID of the reference set.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/referencesets/{referenceSetId}",
          "id": "genomics.referencesets.get",
          "path": "v1/referencesets/{referenceSetId}",
          "description": "Gets a reference set.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReferenceSet](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L83)."
        }
      }
    },
    "callsets": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "callSetId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "callSetId": {
              "description": "The ID of the call set to be deleted.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/callsets/{callSetId}",
          "path": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.delete",
          "description": "Deletes a call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "search": {
          "request": {
            "$ref": "SearchCallSetsRequest"
          },
          "description": "Gets a list of call sets matching the criteria.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchCallSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L178).",
          "response": {
            "$ref": "SearchCallSetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/callsets/search",
          "id": "genomics.callsets.search",
          "path": "v1/callsets/search"
        },
        "get": {
          "response": {
            "$ref": "CallSet"
          },
          "parameterOrder": [
            "callSetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "callSetId": {
              "description": "The ID of the call set.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.get",
          "path": "v1/callsets/{callSetId}",
          "description": "Gets a call set by ID.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "patch": {
          "request": {
            "$ref": "CallSet"
          },
          "description": "Updates a call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "response": {
            "$ref": "CallSet"
          },
          "parameterOrder": [
            "callSetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "callSetId": {
              "description": "The ID of the call set to be updated.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "An optional mask specifying which fields to update. At this time, the only\nmutable field is name. The only\nacceptable value is \"name\". If unspecified, all mutable fields will be\nupdated.",
              "type": "string"
            }
          },
          "flatPath": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.patch",
          "path": "v1/callsets/{callSetId}"
        },
        "create": {
          "request": {
            "$ref": "CallSet"
          },
          "description": "Creates a new call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "CallSet"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/callsets",
          "id": "genomics.callsets.create",
          "path": "v1/callsets"
        }
      }
    },
    "reads": {
      "methods": {
        "search": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchReadsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/reads/search",
          "path": "v1/reads/search",
          "id": "genomics.reads.search",
          "description": "Gets a list of reads for one or more read group sets.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nReads search operates over a genomic coordinate space of reference sequence\n& position defined over the reference sequences to which the requested\nread group sets are aligned.\n\nIf a target positional range is specified, search returns all reads whose\nalignment to the reference genome overlap the range. A query which\nspecifies only read group set IDs yields all reads in those read group\nsets, including unmapped reads.\n\nAll reads returned (including reads on subsequent pages) are ordered by\ngenomic coordinate (by reference sequence, then position). Reads with\nequivalent genomic coordinates are returned in an unspecified order. This\norder is consistent, such that two queries for the same content (regardless\nof page size) yield reads in the same order across their respective streams\nof paginated responses.\n\nImplements\n[GlobalAllianceApi.searchReads](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L85).",
          "request": {
            "$ref": "SearchReadsRequest"
          }
        }
      }
    },
    "readgroupsets": {
      "resources": {
        "coveragebuckets": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCoverageBucketsResponse"
              },
              "parameterOrder": [
                "readGroupSetId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/genomics",
                "https://www.googleapis.com/auth/genomics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024. The maximum value is 2048.",
                  "type": "integer"
                },
                "start": {
                  "format": "int64",
                  "description": "The start position of the range on the reference, 0-based inclusive. If\nspecified, `referenceName` must also be specified. Defaults to 0.",
                  "type": "string",
                  "location": "query"
                },
                "readGroupSetId": {
                  "description": "Required. The ID of the read group set over which coverage is requested.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "targetBucketWidth": {
                  "format": "int64",
                  "description": "The desired width of each reported coverage bucket in base pairs. This\nwill be rounded down to the nearest precomputed bucket width; the value\nof which is returned as `bucketWidth` in the response. Defaults\nto infinity (each bucket spans an entire reference sequence) or the length\nof the target range, if specified. The smallest precomputed\n`bucketWidth` is currently 2048 base pairs; this is subject to\nchange.",
                  "type": "string",
                  "location": "query"
                },
                "referenceName": {
                  "description": "The name of the reference to query, within the reference set associated\nwith this query. Optional.",
                  "type": "string",
                  "location": "query"
                },
                "end": {
                  "format": "int64",
                  "description": "The end position of the range on the reference, 0-based exclusive. If\nspecified, `referenceName` must also be specified. If unset or 0, defaults\nto the length of the reference.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/readgroupsets/{readGroupSetId}/coveragebuckets",
              "path": "v1/readgroupsets/{readGroupSetId}/coveragebuckets",
              "id": "genomics.readgroupsets.coveragebuckets.list",
              "description": "Lists fixed width coverage buckets for a read group set, each of which\ncorrespond to a range of a reference sequence. Each bucket summarizes\ncoverage information across its corresponding genomic range.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nCoverage is defined as the number of reads which are aligned to a given\nbase in the reference sequence. Coverage buckets are available at several\nprecomputed bucket widths, enabling retrieval of various coverage 'zoom\nlevels'. The caller must have READ permissions for the target read group\nset."
            }
          }
        }
      },
      "methods": {
        "import": {
          "description": "Creates read group sets by asynchronously importing the provided\ninformation.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe caller must have WRITE permissions to the dataset.\n\n## Notes on [BAM](https://samtools.github.io/hts-specs/SAMv1.pdf) import\n\n- Tags will be converted to strings - tag types are not preserved\n- Comments (`@CO`) in the input file header will not be preserved\n- Original header order of references (`@SQ`) will not be preserved\n- Any reverse stranded unmapped reads will be reverse complemented, and\ntheir qualities (also the \"BQ\" and \"OQ\" tags, if any) will be reversed\n- Unmapped reads will be stripped of positional information (reference name\nand position)",
          "request": {
            "$ref": "ImportReadGroupSetsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/readgroupsets:import",
          "path": "v1/readgroupsets:import",
          "id": "genomics.readgroupsets.import"
        },
        "delete": {
          "description": "Deletes a read group set.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "readGroupSetId": {
              "location": "path",
              "description": "The ID of the read group set to be deleted. The caller must have WRITE\npermissions to the dataset associated with this read group set.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "id": "genomics.readgroupsets.delete",
          "path": "v1/readgroupsets/{readGroupSetId}"
        },
        "export": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "readGroupSetId": {
              "description": "Required. The ID of the read group set to export. The caller must have\nREAD access to this read group set.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/readgroupsets/{readGroupSetId}:export",
          "id": "genomics.readgroupsets.export",
          "path": "v1/readgroupsets/{readGroupSetId}:export",
          "request": {
            "$ref": "ExportReadGroupSetRequest"
          },
          "description": "Exports a read group set to a BAM file in Google Cloud Storage.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nNote that currently there may be some differences between exported BAM\nfiles and the original BAM file at the time of import. See\nImportReadGroupSets\nfor caveats."
        },
        "search": {
          "response": {
            "$ref": "SearchReadGroupSetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/readgroupsets/search",
          "id": "genomics.readgroupsets.search",
          "path": "v1/readgroupsets/search",
          "request": {
            "$ref": "SearchReadGroupSetsRequest"
          },
          "description": "Searches for read group sets matching the criteria.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReadGroupSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L135)."
        },
        "get": {
          "id": "genomics.readgroupsets.get",
          "path": "v1/readgroupsets/{readGroupSetId}",
          "description": "Gets a read group set by ID.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "ReadGroupSet"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "readGroupSetId": {
              "location": "path",
              "description": "The ID of the read group set.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/readgroupsets/{readGroupSetId}"
        },
        "patch": {
          "response": {
            "$ref": "ReadGroupSet"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "readGroupSetId": {
              "description": "The ID of the read group set to be updated. The caller must have WRITE\npermissions to the dataset associated with this read group set.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "An optional mask specifying which fields to update. Supported fields:\n\n* name.\n* referenceSetId.\n\nLeaving `updateMask` unset is equivalent to specifying all mutable\nfields.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "id": "genomics.readgroupsets.patch",
          "path": "v1/readgroupsets/{readGroupSetId}",
          "description": "Updates a read group set.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "request": {
            "$ref": "ReadGroupSet"
          }
        }
      }
    },
    "variants": {
      "methods": {
        "create": {
          "id": "genomics.variants.create",
          "path": "v1/variants",
          "request": {
            "$ref": "Variant"
          },
          "description": "Creates a new variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "Variant"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/variants"
        },
        "search": {
          "request": {
            "$ref": "SearchVariantsRequest"
          },
          "description": "Gets a list of variants matching the criteria.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchVariants](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L126).",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchVariantsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/variants/search",
          "path": "v1/variants/search",
          "id": "genomics.variants.search"
        },
        "get": {
          "response": {
            "$ref": "Variant"
          },
          "parameterOrder": [
            "variantId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "variantId": {
              "location": "path",
              "description": "The ID of the variant.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/variants/{variantId}",
          "id": "genomics.variants.get",
          "path": "v1/variants/{variantId}",
          "description": "Gets a variant by ID.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "patch": {
          "id": "genomics.variants.patch",
          "path": "v1/variants/{variantId}",
          "description": "Updates a variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics. Returns the modified variant without\nits calls.",
          "request": {
            "$ref": "Variant"
          },
          "response": {
            "$ref": "Variant"
          },
          "parameterOrder": [
            "variantId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "An optional mask specifying which fields to update. At this time, mutable\nfields are names and\ninfo. Acceptable values are \"names\" and\n\"info\". If unspecified, all mutable fields will be updated.",
              "type": "string"
            },
            "variantId": {
              "location": "path",
              "description": "The ID of the variant to be updated.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variants/{variantId}"
        },
        "merge": {
          "id": "genomics.variants.merge",
          "path": "v1/variants:merge",
          "description": "Merges the given variants with existing variants.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nEach variant will be\nmerged with an existing variant that matches its reference sequence,\nstart, end, reference bases, and alternative bases. If no such variant\nexists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant\nis added to the existing variant. Variant info fields are merged as\nspecified in the\ninfoMergeConfig\nfield of the MergeVariantsRequest.\n\nPlease exercise caution when using this method!  It is easy to introduce\nmistakes in existing variants and difficult to back out of them.  For\nexample,\nsuppose you were trying to merge a new variant with an existing one and\nboth\nvariants contain calls that belong to callsets with the same callset ID.\n\n    // Existing variant - irrelevant fields trimmed for clarity\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    0,\n                    1\n                ],\n            }\n        ]\n    }\n\n    // New variant with conflicting call information\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    1,\n                    1\n                ],\n            }\n        ]\n    }\n\nThe resulting merged variant would overwrite the existing calls with those\nfrom the new variant:\n\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    1,\n                    1\n                ],\n            }\n        ]\n    }\n\nThis may be the desired outcome, but it is up to the user to determine if\nif that is indeed the case.",
          "request": {
            "$ref": "MergeVariantsRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variants:merge"
        },
        "import": {
          "id": "genomics.variants.import",
          "path": "v1/variants:import",
          "description": "Creates variant data by asynchronously importing the provided information.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe variants for import will be merged with any existing variant that\nmatches its reference sequence, start, end, reference bases, and\nalternative bases. If no such variant exists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant\nis added to the existing variant, and Variant info fields are merged\nas specified in\ninfoMergeConfig.\nAs a special case, for single-sample VCF files, QUAL and FILTER fields will\nbe moved to the call level; these are sometimes interpreted in a\ncall-specific context.\nImported VCF headers are appended to the metadata already in a variant set.",
          "request": {
            "$ref": "ImportVariantsRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variants:import"
        },
        "delete": {
          "path": "v1/variants/{variantId}",
          "id": "genomics.variants.delete",
          "description": "Deletes a variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "variantId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "variantId": {
              "location": "path",
              "description": "The ID of the variant to be deleted.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/variants/{variantId}"
        }
      }
    },
    "annotationsets": {
      "methods": {
        "delete": {
          "path": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.delete",
          "description": "Deletes an annotation set. Caller must have WRITE permission\nfor the associated annotation set.",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "annotationSetId"
          ],
          "parameters": {
            "annotationSetId": {
              "location": "path",
              "description": "The ID of the annotation set to be deleted.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotationsets/{annotationSetId}"
        },
        "search": {
          "response": {
            "$ref": "SearchAnnotationSetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/annotationsets/search",
          "id": "genomics.annotationsets.search",
          "path": "v1/annotationsets/search",
          "request": {
            "$ref": "SearchAnnotationSetsRequest"
          },
          "description": "Searches for annotation sets that match the given criteria. Annotation sets\nare returned in an unspecified order. This order is consistent, such that\ntwo queries for the same content (regardless of page size) yield annotation\nsets in the same order across their respective streams of paginated\nresponses. Caller must have READ permission for the queried datasets."
        },
        "get": {
          "response": {
            "$ref": "AnnotationSet"
          },
          "parameterOrder": [
            "annotationSetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "annotationSetId": {
              "description": "The ID of the annotation set to be retrieved.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.get",
          "path": "v1/annotationsets/{annotationSetId}",
          "description": "Gets an annotation set. Caller must have READ permission for\nthe associated dataset."
        },
        "update": {
          "description": "Updates an annotation set. The update must respect all mutability\nrestrictions and other invariants described on the annotation set resource.\nCaller must have WRITE permission for the associated dataset.",
          "request": {
            "$ref": "AnnotationSet"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "annotationSetId"
          ],
          "response": {
            "$ref": "AnnotationSet"
          },
          "parameters": {
            "annotationSetId": {
              "description": "The ID of the annotation set to be updated.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "An optional mask specifying which fields to update. Mutable fields are\nname,\nsource_uri, and\ninfo. If unspecified, all\nmutable fields will be updated.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "path": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.update"
        },
        "create": {
          "id": "genomics.annotationsets.create",
          "path": "v1/annotationsets",
          "request": {
            "$ref": "AnnotationSet"
          },
          "description": "Creates a new annotation set. Caller must have WRITE permission for the\nassociated dataset.\n\nThe following fields are required:\n\n  * datasetId\n  * referenceSetId\n\nAll other fields may be optionally specified, unless documented as being\nserver-generated (for example, the `id` field).",
          "response": {
            "$ref": "AnnotationSet"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/annotationsets"
        }
      }
    },
    "references": {
      "methods": {
        "search": {
          "id": "genomics.references.search",
          "path": "v1/references/search",
          "request": {
            "$ref": "SearchReferencesRequest"
          },
          "description": "Searches for references which match the given criteria.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReferences](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L146).",
          "response": {
            "$ref": "SearchReferencesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/references/search"
        },
        "get": {
          "response": {
            "$ref": "Reference"
          },
          "parameterOrder": [
            "referenceId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "referenceId": {
              "description": "The ID of the reference.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/references/{referenceId}",
          "id": "genomics.references.get",
          "path": "v1/references/{referenceId}",
          "description": "Gets a reference.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReference](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L158)."
        }
      },
      "resources": {
        "bases": {
          "methods": {
            "list": {
              "id": "genomics.references.bases.list",
              "path": "v1/references/{referenceId}/bases",
              "description": "Lists the bases in a reference, optionally restricted to a range.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReferenceBases](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L221).",
              "parameterOrder": [
                "referenceId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListBasesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/genomics",
                "https://www.googleapis.com/auth/genomics.readonly"
              ],
              "parameters": {
                "start": {
                  "location": "query",
                  "format": "int64",
                  "description": "The start position (0-based) of this query. Defaults to 0.",
                  "type": "string"
                },
                "referenceId": {
                  "location": "path",
                  "description": "The ID of the reference.",
                  "type": "string",
                  "required": true
                },
                "end": {
                  "format": "int64",
                  "description": "The end position (0-based, exclusive) of this query. Defaults to the length\nof this reference.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of bases to return in a single page. If unspecified,\ndefaults to 200Kbp (kilo base pairs). The maximum value is 10Mbp (mega base\npairs).",
                  "type": "integer"
                }
              },
              "flatPath": "v1/references/{referenceId}/bases"
            }
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "create": {
          "id": "genomics.datasets.create",
          "path": "v1/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Creates a new dataset.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/datasets"
        },
        "setIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "pattern": "^datasets/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/datasets/{datasetsId}:setIamPolicy",
          "id": "genomics.datasets.setIamPolicy",
          "path": "v1/{+resource}:setIamPolicy",
          "description": "Sets the access control policy on the specified dataset. Replaces any\nexisting policy.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nSee \u003ca href=\"/iam/docs/managing-policies#setting_a_policy\"\u003eSetting a\nPolicy\u003c/a\u003e for more information.",
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "type": "string",
              "required": true,
              "pattern": "^datasets/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "v1/datasets/{datasetsId}:getIamPolicy",
          "id": "genomics.datasets.getIamPolicy",
          "path": "v1/{+resource}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for the dataset. This is empty if the\npolicy or resource does not exist.\n\nSee \u003ca href=\"/iam/docs/managing-policies#getting_a_policy\"\u003eGetting a\nPolicy\u003c/a\u003e for more information.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "patch": {
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates a dataset.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset to be updated.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "An optional mask specifying which fields to update. At this time, the only\nmutable field is name. The only\nacceptable value is \"name\". If unspecified, all mutable fields will be\nupdated.",
              "type": "string"
            }
          },
          "flatPath": "v1/datasets/{datasetId}",
          "id": "genomics.datasets.patch",
          "path": "v1/datasets/{datasetId}"
        },
        "undelete": {
          "id": "genomics.datasets.undelete",
          "path": "v1/datasets/{datasetId}:undelete",
          "request": {
            "$ref": "UndeleteDatasetRequest"
          },
          "description": "Undeletes a dataset by restoring a dataset which was deleted via this API.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis operation is only possible for a week after the deletion occurred.",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "datasetId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "The ID of the dataset to be undeleted.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/datasets/{datasetId}:undelete"
        },
        "get": {
          "description": "Gets a dataset by ID.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "The ID of the dataset.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/datasets/{datasetId}",
          "id": "genomics.datasets.get",
          "path": "v1/datasets/{datasetId}"
        },
        "testIamPermissions": {
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.\nSee \u003ca href=\"/iam/docs/managing-policies#testing_permissions\"\u003eTesting\nPermissions\u003c/a\u003e for more information.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "type": "string",
              "required": true,
              "pattern": "^datasets/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "v1/datasets/{datasetsId}:testIamPermissions",
          "id": "genomics.datasets.testIamPermissions",
          "path": "v1/{+resource}:testIamPermissions"
        },
        "delete": {
          "path": "v1/datasets/{datasetId}",
          "id": "genomics.datasets.delete",
          "description": "Deletes a dataset and all of its contents (all read group sets,\nreference sets, variant sets, call sets, annotation sets, etc.)\nThis is reversible (up to one week after the deletion) via\nthe\ndatasets.undelete\noperation.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "datasetId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset to be deleted.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/datasets/{datasetId}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListDatasetsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 50. The maximum value is 1024.",
              "type": "integer"
            },
            "projectId": {
              "location": "query",
              "description": "Required. The Google Cloud project ID to list datasets for.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/datasets",
          "path": "v1/datasets",
          "id": "genomics.datasets.list",
          "description": "Lists datasets within a project.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        }
      }
    },
    "variantsets": {
      "methods": {
        "export": {
          "request": {
            "$ref": "ExportVariantSetRequest"
          },
          "description": "Exports variant set data to an external destination.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "httpMethod": "POST",
          "parameterOrder": [
            "variantSetId"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "variantSetId": {
              "location": "path",
              "description": "Required. The ID of the variant set that contains variant data which\nshould be exported. The caller must have READ access to this variant set.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/variantsets/{variantSetId}:export",
          "path": "v1/variantsets/{variantSetId}:export",
          "id": "genomics.variantsets.export"
        },
        "search": {
          "id": "genomics.variantsets.search",
          "path": "v1/variantsets/search",
          "description": "Returns a list of all variant sets matching search criteria.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchVariantSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L49).",
          "request": {
            "$ref": "SearchVariantSetsRequest"
          },
          "response": {
            "$ref": "SearchVariantSetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/variantsets/search"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "VariantSet"
          },
          "parameterOrder": [
            "variantSetId"
          ],
          "parameters": {
            "variantSetId": {
              "description": "Required. The ID of the variant set.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/variantsets/{variantSetId}",
          "path": "v1/variantsets/{variantSetId}",
          "id": "genomics.variantsets.get",
          "description": "Gets a variant set by ID.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "patch": {
          "request": {
            "$ref": "VariantSet"
          },
          "description": "Updates a variant set using patch semantics.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "VariantSet"
          },
          "parameterOrder": [
            "variantSetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "An optional mask specifying which fields to update. Supported fields:\n\n* metadata.\n* name.\n* description.\n\nLeaving `updateMask` unset is equivalent to specifying all mutable\nfields.",
              "type": "string"
            },
            "variantSetId": {
              "location": "path",
              "description": "The ID of the variant to be updated (must already exist).",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/variantsets/{variantSetId}",
          "id": "genomics.variantsets.patch",
          "path": "v1/variantsets/{variantSetId}"
        },
        "delete": {
          "description": "Deletes a variant set including all variants, call sets, and calls within.\nThis is not reversible.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "variantSetId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "variantSetId": {
              "location": "path",
              "description": "The ID of the variant set to be deleted.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variantsets/{variantSetId}",
          "id": "genomics.variantsets.delete",
          "path": "v1/variantsets/{variantSetId}"
        },
        "create": {
          "path": "v1/variantsets",
          "id": "genomics.variantsets.create",
          "request": {
            "$ref": "VariantSet"
          },
          "description": "Creates a new variant set.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe provided variant set must have a valid `datasetId` set - all other\nfields are optional. Note that the `id` field will be ignored, as this is\nassigned by the server.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "VariantSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/variantsets"
        }
      }
    },
    "annotations": {
      "methods": {
        "update": {
          "description": "Updates an annotation. Caller must have\nWRITE permission for the associated dataset.",
          "request": {
            "$ref": "Annotation"
          },
          "response": {
            "$ref": "Annotation"
          },
          "parameterOrder": [
            "annotationId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "An optional mask specifying which fields to update. Mutable fields are\nname,\nvariant,\ntranscript, and\ninfo. If unspecified, all mutable\nfields will be updated.",
              "type": "string"
            },
            "annotationId": {
              "description": "The ID of the annotation to be updated.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.update",
          "path": "v1/annotations/{annotationId}"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "annotationId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "annotationId": {
              "description": "The ID of the annotation to be deleted.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.delete",
          "path": "v1/annotations/{annotationId}",
          "description": "Deletes an annotation. Caller must have WRITE permission for\nthe associated annotation set."
        },
        "create": {
          "response": {
            "$ref": "Annotation"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations",
          "id": "genomics.annotations.create",
          "path": "v1/annotations",
          "description": "Creates a new annotation. Caller must have WRITE permission\nfor the associated annotation set.\n\nThe following fields are required:\n\n* annotationSetId\n* referenceName or\n  referenceId\n\n### Transcripts\n\nFor annotations of type TRANSCRIPT, the following fields of\ntranscript must be provided:\n\n* exons.start\n* exons.end\n\nAll other fields may be optionally specified, unless documented as being\nserver-generated (for example, the `id` field). The annotated\nrange must be no longer than 100Mbp (mega base pairs). See the\nAnnotation resource\nfor additional restrictions on each field.",
          "request": {
            "$ref": "Annotation"
          }
        },
        "batchCreate": {
          "id": "genomics.annotations.batchCreate",
          "path": "v1/annotations:batchCreate",
          "description": "Creates one or more new annotations atomically. All annotations must\nbelong to the same annotation set. Caller must have WRITE\npermission for this annotation set. For optimal performance, batch\npositionally adjacent annotations together.\n\nIf the request has a systemic issue, such as an attempt to write to\nan inaccessible annotation set, the entire RPC will fail accordingly. For\nlesser data issues, when possible an error will be isolated to the\ncorresponding batch entry in the response; the remaining well formed\nannotations will be created normally.\n\nFor details on the requirements for each individual annotation resource,\nsee\nCreateAnnotation.",
          "request": {
            "$ref": "BatchCreateAnnotationsRequest"
          },
          "response": {
            "$ref": "BatchCreateAnnotationsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations:batchCreate"
        },
        "search": {
          "path": "v1/annotations/search",
          "id": "genomics.annotations.search",
          "description": "Searches for annotations that match the given criteria. Results are\nordered by genomic coordinate (by reference sequence, then position).\nAnnotations with equivalent genomic coordinates are returned in an\nunspecified order. This order is consistent, such that two queries for the\nsame content (regardless of page size) yield annotations in the same order\nacross their respective streams of paginated responses. Caller must have\nREAD permission for the queried annotation sets.",
          "request": {
            "$ref": "SearchAnnotationsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchAnnotationsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/annotations/search"
        },
        "get": {
          "response": {
            "$ref": "Annotation"
          },
          "parameterOrder": [
            "annotationId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "annotationId": {
              "description": "The ID of the annotation to be retrieved.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.get",
          "path": "v1/annotations/{annotationId}",
          "description": "Gets an annotation. Caller must have READ permission\nfor the associated annotation set."
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients may use Operations.GetOperation or Operations.ListOperations to check whether the cancellation succeeded or the operation completed despite cancellation.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/.+$",
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "id": "genomics.operations.cancel",
          "path": "v1/{+name}:cancel"
        },
        "get": {
          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^operations/.+$",
              "location": "path",
              "description": "The name of the operation resource.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "id": "genomics.operations.get",
          "path": "v1/{+name}"
        },
        "list": {
          "id": "genomics.operations.list",
          "path": "v1/{+name}",
          "description": "Lists operations that match the specified filter in the request.",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "filter": {
              "description": "A string for filtering Operations.\nThe following filter fields are supported&#58;\n\n* projectId&#58; Required. Corresponds to\n  OperationMetadata.projectId.\n* createTime&#58; The time this job was created, in seconds from the\n  [epoch](http://en.wikipedia.org/wiki/Unix_time). Can use `\u003e=` and/or `\u003c=`\n  operators.\n* status&#58; Can be `RUNNING`, `SUCCESS`, `FAILURE`, or `CANCELED`. Only\n  one status may be specified.\n* labels.key where key is a label key.\n\nExamples&#58;\n\n* `projectId = my-project AND createTime \u003e= 1432140000`\n* `projectId = my-project AND createTime \u003e= 1432140000 AND createTime \u003c= 1432150000 AND status = RUNNING`\n* `projectId = my-project AND labels.color = *`\n* `projectId = my-project AND labels.color = red`",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "type": "string",
              "required": true,
              "pattern": "^operations$",
              "location": "path"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of results to return. If unspecified, defaults to\n256. The maximum value is 2048.",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/operations"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "schemas": {
    "SearchAnnotationSetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nProvide this value in a subsequent request to return the next page of\nresults. This field will be empty if there aren't any additional results.",
          "type": "string"
        },
        "annotationSets": {
          "description": "The matching annotation sets.",
          "items": {
            "$ref": "AnnotationSet"
          },
          "type": "array"
        }
      },
      "id": "SearchAnnotationSetsResponse"
    },
    "ImportVariantsRequest": {
      "properties": {
        "normalizeReferenceNames": {
          "description": "Convert reference names to the canonical representation.\nhg19 haploytypes (those reference names containing \"_hap\")\nare not modified in any way.\nAll other reference names are modified according to the following rules:\nThe reference name is capitalized.\nThe \"chr\" prefix is dropped for all autosomes and sex chromsomes.\nFor example \"chr17\" becomes \"17\" and \"chrX\" becomes \"X\".\nAll mitochondrial chromosomes (\"chrM\", \"chrMT\", etc) become \"MT\".",
          "type": "boolean"
        },
        "format": {
          "enumDescriptions": [
            "",
            "VCF (Variant Call Format). The VCF files may be gzip compressed. gVCF is\nalso supported. Disclaimer: gzip VCF imports are currently much slower\nthan equivalent uncompressed VCF imports. For this reason, uncompressed\nVCF is currently recommended for imports with more than 1GB combined\nuncompressed size, or for time sensitive imports.",
            "Complete Genomics masterVarBeta format. The masterVarBeta files may\nbe bzip2 compressed."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "FORMAT_VCF",
            "FORMAT_COMPLETE_GENOMICS"
          ],
          "description": "The format of the variant data being imported. If unspecified, defaults to\nto `VCF`.",
          "type": "string"
        },
        "infoMergeConfig": {
          "additionalProperties": {
            "enum": [
              "INFO_MERGE_OPERATION_UNSPECIFIED",
              "IGNORE_NEW",
              "MOVE_TO_CALLS"
            ],
            "type": "string"
          },
          "description": "A mapping between info field keys and the InfoMergeOperations to\nbe performed on them. This is plumbed down to the MergeVariantRequests\ngenerated by the resulting import job.",
          "type": "object"
        },
        "sourceUris": {
          "description": "A list of URIs referencing variant files in Google Cloud Storage. URIs can\ninclude wildcards [as described\nhere](https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames).\nNote that recursive wildcards ('**') are not supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "variantSetId": {
          "description": "Required. The variant set to which variant data should be imported.",
          "type": "string"
        }
      },
      "id": "ImportVariantsRequest",
      "description": "The variant data import request.",
      "type": "object"
    },
    "VariantAnnotation": {
      "properties": {
        "clinicalSignificance": {
          "enum": [
            "CLINICAL_SIGNIFICANCE_UNSPECIFIED",
            "CLINICAL_SIGNIFICANCE_OTHER",
            "UNCERTAIN",
            "BENIGN",
            "LIKELY_BENIGN",
            "LIKELY_PATHOGENIC",
            "PATHOGENIC",
            "DRUG_RESPONSE",
            "HISTOCOMPATIBILITY",
            "CONFERS_SENSITIVITY",
            "RISK_FACTOR",
            "ASSOCIATION",
            "PROTECTIVE",
            "MULTIPLE_REPORTED"
          ],
          "description": "Describes the clinical significance of a variant.\nIt is adapted from the ClinVar controlled vocabulary for clinical\nsignificance described at:\nhttp://www.ncbi.nlm.nih.gov/clinvar/docs/clinsig/",
          "type": "string",
          "enumDescriptions": [
            "",
            "`OTHER` should be used when no other clinical significance\nvalue will suffice.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "`MULTIPLE_REPORTED` should be used when multiple clinical\nsignficances are reported for a variant. The original clinical\nsignificance values may be provided in the `info` field."
          ]
        },
        "conditions": {
          "description": "The set of conditions associated with this variant.\nA condition describes the way a variant influences human health.",
          "items": {
            "$ref": "ClinicalCondition"
          },
          "type": "array"
        },
        "effect": {
          "enumDescriptions": [
            "",
            "`EFFECT_OTHER` should be used when no other Effect\nwill suffice.",
            "`FRAMESHIFT` indicates a mutation in which the insertion or\ndeletion of nucleotides resulted in a frameshift change.",
            "`FRAME_PRESERVING_INDEL` indicates a mutation in which a\nmultiple of three nucleotides has been inserted or deleted, resulting\nin no change to the reading frame of the coding sequence.",
            "`SYNONYMOUS_SNP` indicates a single nucleotide polymorphism\nmutation that results in no amino acid change.",
            "`NONSYNONYMOUS_SNP` indicates a single nucleotide\npolymorphism mutation that results in an amino acid change.",
            "`STOP_GAIN` indicates a mutation that leads to the creation\nof a stop codon at the variant site. Frameshift mutations creating\ndownstream stop codons do not count as `STOP_GAIN`.",
            "`STOP_LOSS` indicates a mutation that eliminates a\nstop codon at the variant site.",
            "`SPLICE_SITE_DISRUPTION` indicates that this variant is\nfound in a splice site for the associated transcript, and alters the\nnormal splicing pattern."
          ],
          "enum": [
            "EFFECT_UNSPECIFIED",
            "EFFECT_OTHER",
            "FRAMESHIFT",
            "FRAME_PRESERVING_INDEL",
            "SYNONYMOUS_SNP",
            "NONSYNONYMOUS_SNP",
            "STOP_GAIN",
            "STOP_LOSS",
            "SPLICE_SITE_DISRUPTION"
          ],
          "description": "Effect of the variant on the coding sequence.",
          "type": "string"
        },
        "transcriptIds": {
          "description": "Google annotation IDs of the transcripts affected by this variant. These\nshould be provided when the variant is created.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_OTHER",
            "INSERTION",
            "DELETION",
            "SUBSTITUTION",
            "SNP",
            "STRUCTURAL",
            "CNV"
          ],
          "description": "Type has been adapted from ClinVar's list of variant types.",
          "type": "string",
          "enumDescriptions": [
            "",
            "`TYPE_OTHER` should be used when no other Type will suffice.\nFurther explanation of the variant type may be included in the\ninfo field.",
            "`INSERTION` indicates an insertion.",
            "`DELETION` indicates a deletion.",
            "`SUBSTITUTION` indicates a block substitution of\ntwo or more nucleotides.",
            "`SNP` indicates a single nucleotide polymorphism.",
            "`STRUCTURAL` indicates a large structural variant,\nincluding chromosomal fusions, inversions, etc.",
            "`CNV` indicates a variation in copy number."
          ]
        },
        "alternateBases": {
          "description": "The alternate allele for this variant. If multiple alternate alleles\nexist at this location, create a separate variant for each one, as they\nmay represent distinct conditions.",
          "type": "string"
        },
        "geneId": {
          "description": "Google annotation ID of the gene affected by this variant. This should\nbe provided when the variant is created.",
          "type": "string"
        }
      },
      "id": "VariantAnnotation",
      "type": "object"
    },
    "ListCoverageBucketsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nProvide this value in a subsequent request to return the next page of\nresults. This field will be empty if there aren't any additional results.",
          "type": "string"
        },
        "bucketWidth": {
          "format": "int64",
          "description": "The length of each coverage bucket in base pairs. Note that buckets at the\nend of a reference sequence may be shorter. This value is omitted if the\nbucket width is infinity (the default behaviour, with no range or\n`targetBucketWidth`).",
          "type": "string"
        },
        "coverageBuckets": {
          "description": "The coverage buckets. The list of buckets is sparse; a bucket with 0\noverlapping reads is not returned. A bucket never crosses more than one\nreference sequence. Each bucket has width `bucketWidth`, unless\nits end is the end of the reference sequence.",
          "items": {
            "$ref": "CoverageBucket"
          },
          "type": "array"
        }
      },
      "id": "ListCoverageBucketsResponse"
    },
    "ExportVariantSetRequest": {
      "properties": {
        "bigqueryTable": {
          "description": "Required. The BigQuery table to export data to.\nIf the table doesn't exist, it will be created. If it already exists, it\nwill be overwritten.",
          "type": "string"
        },
        "bigqueryDataset": {
          "description": "Required. The BigQuery dataset to export data to. This dataset must already\nexist. Note that this is distinct from the Genomics concept of \"dataset\".",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "",
            "Export the data to Google BigQuery."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "FORMAT_BIGQUERY"
          ],
          "description": "The format for the exported data.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The Google Cloud project ID that owns the destination\nBigQuery dataset. The caller must have WRITE access to this project.  This\nproject will also own the resulting export job.",
          "type": "string"
        },
        "callSetIds": {
          "description": "If provided, only variant call information from the specified call sets\nwill be exported. By default all variant calls are exported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ExportVariantSetRequest",
      "description": "The variant data export request.",
      "type": "object"
    },
    "SearchAnnotationsRequest": {
      "type": "object",
      "properties": {
        "referenceId": {
          "description": "The ID of the reference to query.",
          "type": "string"
        },
        "end": {
          "format": "int64",
          "description": "The end position of the range on the reference, 0-based exclusive. If\nreferenceId or\nreferenceName\nmust be specified, Defaults to the length of the reference.",
          "type": "string"
        },
        "pageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 256. The maximum value is 2048.",
          "type": "integer"
        },
        "start": {
          "format": "int64",
          "description": "The start position of the range on the reference, 0-based inclusive. If\nspecified,\nreferenceId or\nreferenceName\nmust be specified. Defaults to 0.",
          "type": "string"
        },
        "annotationSetIds": {
          "description": "Required. The annotation sets to search within. The caller must have\n`READ` access to these annotation sets.\nAll queried annotation sets must have the same type.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referenceName": {
          "description": "The name of the reference to query, within the reference set associated\nwith this query.",
          "type": "string"
        }
      },
      "id": "SearchAnnotationsRequest"
    },
    "OperationEvent": {
      "description": "An event that occurred during an Operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Optional time of when event finished. An event can have a start time and no\nfinish time. If an event has a finish time, there must be a start time.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional time of when event started.",
          "type": "string"
        },
        "description": {
          "description": "Required description of event.",
          "type": "string"
        }
      },
      "id": "OperationEvent"
    },
    "CodingSequence": {
      "properties": {
        "start": {
          "format": "int64",
          "description": "The start of the coding sequence on this annotation's reference sequence,\n0-based inclusive. Note that this position is relative to the reference\nstart, and *not* the containing annotation start.",
          "type": "string"
        },
        "end": {
          "format": "int64",
          "description": "The end of the coding sequence on this annotation's reference sequence,\n0-based exclusive. Note that this position is relative to the reference\nstart, and *not* the containing annotation start.",
          "type": "string"
        }
      },
      "id": "CodingSequence",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {},
      "id": "GetIamPolicyRequest"
    },
    "SearchReferencesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nProvide this value in a subsequent request to return the next page of\nresults. This field will be empty if there aren't any additional results.",
          "type": "string"
        },
        "references": {
          "description": "The matching references.",
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        }
      },
      "id": "SearchReferencesResponse",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "SearchAnnotationSetsRequest": {
      "properties": {
        "datasetIds": {
          "description": "Required. The dataset IDs to search within. Caller must have `READ` access\nto these datasets.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "types": {
          "description": "If specified, only annotation sets that have any of these types are\nreturned.",
          "items": {
            "enum": [
              "ANNOTATION_TYPE_UNSPECIFIED",
              "GENERIC",
              "VARIANT",
              "GENE",
              "TRANSCRIPT"
            ],
            "type": "string"
          },
          "type": "array",
          "enumDescriptions": [
            "",
            "A `GENERIC` annotation type should be used when no other annotation\ntype will suffice. This represents an untyped annotation of the reference\ngenome.",
            "A `VARIANT` annotation type.",
            "A `GENE` annotation type represents the existence of a gene at the\nassociated reference coordinates. The start coordinate is typically the\ngene's transcription start site and the end is typically the end of the\ngene's last exon.",
            "A `TRANSCRIPT` annotation type represents the assertion that a\nparticular region of the reference genome may be transcribed as RNA."
          ]
        },
        "name": {
          "description": "Only return annotations sets for which a substring of the name matches this\nstring (case insensitive).",
          "type": "string"
        },
        "referenceSetId": {
          "description": "If specified, only annotation sets associated with the given reference set\nare returned.",
          "type": "string"
        },
        "pageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 128. The maximum value is 1024.",
          "type": "integer"
        }
      },
      "id": "SearchAnnotationSetsRequest",
      "type": "object"
    },
    "SearchReadGroupSetsResponse": {
      "description": "The read group set search response.",
      "type": "object",
      "properties": {
        "readGroupSets": {
          "description": "The list of matching read group sets.",
          "items": {
            "$ref": "ReadGroupSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nProvide this value in a subsequent request to return the next page of\nresults. This field will be empty if there aren't any additional results.",
          "type": "string"
        }
      },
      "id": "SearchReadGroupSetsResponse"
    },
    "SearchReferencesRequest": {
      "properties": {
        "pageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
          "type": "string"
        },
        "accessions": {
          "description": "If present, return references for which a prefix of any of\nsourceAccessions match\nany of these strings. Accession numbers typically have a main number and a\nversion, for example `GCF_000001405.26`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024. The maximum value is 4096.",
          "type": "integer"
        },
        "referenceSetId": {
          "description": "If present, return only references which belong to this reference set.",
          "type": "string"
        },
        "md5checksums": {
          "description": "If present, return references for which the\nmd5checksum matches exactly.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SearchReferencesRequest",
      "type": "object"
    },
    "LinearAlignment": {
      "properties": {
        "mappingQuality": {
          "format": "int32",
          "description": "The mapping quality of this alignment. Represents how likely\nthe read maps to this position as opposed to other locations.\n\nSpecifically, this is -10 log10 Pr(mapping position is wrong), rounded to\nthe nearest integer.",
          "type": "integer"
        },
        "cigar": {
          "description": "Represents the local alignment of this sequence (alignment matches, indels,\netc) against the reference.",
          "items": {
            "$ref": "CigarUnit"
          },
          "type": "array"
        },
        "position": {
          "$ref": "Position",
          "description": "The position of this alignment."
        }
      },
      "id": "LinearAlignment",
      "description": "A linear alignment can be represented by one CIGAR string. Describes the\nmapped position and local alignment of the read to the reference.",
      "type": "object"
    },
    "Dataset": {
      "properties": {
        "name": {
          "description": "The dataset name.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud project ID that this dataset belongs to.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated dataset ID, unique across all datasets.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time this dataset was created, in seconds from the epoch.",
          "type": "string"
        }
      },
      "id": "Dataset",
      "description": "A Dataset is a collection of genomic data.\n\nFor more genomics resource definitions, see [Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
      "type": "object"
    },
    "ImportVariantsResponse": {
      "properties": {
        "callSetIds": {
          "description": "IDs of the call sets created during the import.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ImportVariantsResponse",
      "description": "The variant data import response.",
      "type": "object"
    },
    "ReadGroup": {
      "properties": {
        "predictedInsertSize": {
          "format": "int32",
          "description": "The predicted insert size of this read group. The insert size is the length\nthe sequenced DNA fragment from end-to-end, not including the adapters.",
          "type": "integer"
        },
        "programs": {
          "description": "The programs used to generate this read group. Programs are always\nidentical for all read groups within a read group set. For this reason,\nonly the first read group in a returned set will have this field\npopulated.",
          "items": {
            "$ref": "Program"
          },
          "type": "array"
        },
        "description": {
          "description": "A free-form text description of this read group.",
          "type": "string"
        },
        "sampleId": {
          "description": "A client-supplied sample identifier for the reads in this read group.",
          "type": "string"
        },
        "datasetId": {
          "description": "The dataset to which this read group belongs.",
          "type": "string"
        },
        "experiment": {
          "description": "The experiment used to generate this read group.",
          "$ref": "Experiment"
        },
        "name": {
          "description": "The read group name. This corresponds to the @RG ID field in the SAM spec.",
          "type": "string"
        },
        "referenceSetId": {
          "description": "The reference set the reads in this read group are aligned to.",
          "type": "string"
        },
        "info": {
          "additionalProperties": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "description": "A map of additional read group information. This must be of the form\nmap\u003cstring, string[]\u003e (string key mapping to a list of string values).",
          "type": "object"
        },
        "id": {
          "description": "The server-generated read group ID, unique for all read groups.\nNote: This is different than the @RG ID field in the SAM spec. For that\nvalue, see name.",
          "type": "string"
        }
      },
      "id": "ReadGroup",
      "description": "A read group is all the data that's processed the same way by the sequencer.",
      "type": "object"
    },
    "ReadGroupSet": {
      "properties": {
        "datasetId": {
          "description": "The dataset to which this read group set belongs.",
          "type": "string"
        },
        "readGroups": {
[...]
