language: go

before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover

install:
  - mkdir -p "$GOPATH/src/google.golang.org"
  - mv "$TRAVIS_BUILD_DIR" "$GOPATH/src/google.golang.org/grpc"

script:
  - make test testrace
  - make coverage
