{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "resources": {
        "storeInfos": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "ListStoreInfosResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playmovies_partner.readonly"
              ],
              "parameters": {
                "studioNames": {
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "string",
                  "repeated": true
                },
                "name": {
                  "location": "query",
                  "description": "Filter that matches StoreInfos with a `name` or `show_name`\nthat contains the given case-insensitive name.",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "description": "REQUIRED. See _General rules_ for more information about this field.",
                  "type": "string",
                  "required": true
                },
                "seasonIds": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Filter StoreInfos that match any of the given `season_id`s."
                },
                "videoIds": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Filter StoreInfos that match any of the given `video_id`s."
                },
                "videoId": {
                  "location": "query",
                  "description": "Filter StoreInfos that match a given `video_id`.\nNOTE: this field is deprecated and will be removed on V2; `video_ids`\nshould be used instead.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "integer"
                },
                "mids": {
                  "location": "query",
                  "description": "Filter StoreInfos that match any of the given `mid`s.",
                  "type": "string",
                  "repeated": true
                },
                "pphNames": {
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "string",
                  "repeated": true
                },
                "countries": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Filter StoreInfos that match (case-insensitive) any of the given country\ncodes, using the \"ISO 3166-1 alpha-2\" format (examples: \"US\", \"us\", \"Us\")."
                }
              },
              "flatPath": "v1/accounts/{accountId}/storeInfos",
              "path": "v1/accounts/{accountId}/storeInfos",
              "id": "playmoviespartner.accounts.storeInfos.list",
              "description": "List StoreInfos owned or managed by the partner.\n\nSee _Authentication and Authorization rules_ and\n_List methods rules_ for more information about this method."
            }
          },
          "resources": {
            "country": {
              "methods": {
                "get": {
                  "description": "Get a StoreInfo given its video id and country.\n\nSee _Authentication and Authorization rules_ and\n_Get methods rules_ for more information about this method.",
                  "response": {
                    "$ref": "StoreInfo"
                  },
                  "parameterOrder": [
                    "accountId",
                    "videoId",
                    "country"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "country": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED. Edit country."
                    },
                    "videoId": {
                      "location": "path",
                      "description": "REQUIRED. Video ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "description": "REQUIRED. See _General rules_ for more information about this field.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playmovies_partner.readonly"
                  ],
                  "flatPath": "v1/accounts/{accountId}/storeInfos/{videoId}/country/{country}",
                  "id": "playmoviespartner.accounts.storeInfos.country.get",
                  "path": "v1/accounts/{accountId}/storeInfos/{videoId}/country/{country}"
                }
              }
            }
          }
        },
        "orders": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "ListOrdersResponse"
              },
              "parameters": {
                "status": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "STATUS_UNSPECIFIED",
                    "STATUS_APPROVED",
                    "STATUS_FAILED",
                    "STATUS_PROCESSING",
                    "STATUS_UNFULFILLED",
                    "STATUS_NOT_AVAILABLE"
                  ],
                  "description": "Filter Orders that match one of the given status."
                },
                "studioNames": {
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "string",
                  "repeated": true
                },
                "name": {
                  "location": "query",
                  "description": "Filter that matches Orders with a `name`, `show`, `season` or `episode`\nthat contains the given case-insensitive name.",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "description": "REQUIRED. See _General rules_ for more information about this field.",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "string"
                },
                "customId": {
                  "location": "query",
                  "description": "Filter Orders that match a case-insensitive, partner-specific custom id.",
                  "type": "string"
                },
                "videoIds": {
                  "location": "query",
                  "description": "Filter Orders that match any of the given `video_id`s.",
                  "type": "string",
                  "repeated": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "integer"
                },
                "pphNames": {
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "string",
                  "repeated": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playmovies_partner.readonly"
              ],
              "flatPath": "v1/accounts/{accountId}/orders",
              "path": "v1/accounts/{accountId}/orders",
              "id": "playmoviespartner.accounts.orders.list",
              "description": "List Orders owned or managed by the partner.\n\nSee _Authentication and Authorization rules_ and\n_List methods rules_ for more information about this method."
            },
            "get": {
              "response": {
                "$ref": "Order"
              },
              "parameterOrder": [
                "accountId",
                "orderId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "orderId": {
                  "location": "path",
                  "description": "REQUIRED. Order ID.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED. See _General rules_ for more information about this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playmovies_partner.readonly"
              ],
              "flatPath": "v1/accounts/{accountId}/orders/{orderId}",
              "id": "playmoviespartner.accounts.orders.get",
              "path": "v1/accounts/{accountId}/orders/{orderId}",
              "description": "Get an Order given its id.\n\nSee _Authentication and Authorization rules_ and\n_Get methods rules_ for more information about this method."
            }
          }
        },
        "avails": {
          "methods": {
            "list": {
              "description": "List Avails owned or managed by the partner.\n\nSee _Authentication and Authorization rules_ and\n_List methods rules_ for more information about this method.",
              "response": {
                "$ref": "ListAvailsResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "altIds": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Filter Avails that match (case-insensitive) any of the given partner-specific custom ids."
                },
                "pphNames": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field."
                },
                "altId": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter Avails that match a case-insensitive, partner-specific custom id.\nNOTE: this field is deprecated and will be removed on V2; `alt_ids`\nshould be used instead."
                },
                "studioNames": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field."
                },
                "accountId": {
                  "location": "path",
                  "description": "REQUIRED. See _General rules_ for more information about this field.",
                  "type": "string",
                  "required": true
                },
                "territories": {
                  "location": "query",
                  "description": "Filter Avails that match (case-insensitive) any of the given country codes,\nusing the \"ISO 3166-1 alpha-2\" format (examples: \"US\", \"us\", \"Us\").",
                  "type": "string",
                  "repeated": true
                },
                "title": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter that matches Avails with a `title_internal_alias`,\n`series_title_internal_alias`, `season_title_internal_alias`,\nor `episode_title_internal_alias` that contains the given\ncase-insensitive title."
                },
                "videoIds": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Filter Avails that match any of the given `video_id`s."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "See _List methods rules_ for info about this field."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "See _List methods rules_ for info about this field.",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playmovies_partner.readonly"
              ],
              "flatPath": "v1/accounts/{accountId}/avails",
              "id": "playmoviespartner.accounts.avails.list",
              "path": "v1/accounts/{accountId}/avails"
            },
            "get": {
              "response": {
                "$ref": "Avail"
              },
              "parameterOrder": [
                "accountId",
                "availId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "availId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED. Avail ID."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED. See _General rules_ for more information about this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playmovies_partner.readonly"
              ],
              "flatPath": "v1/accounts/{accountId}/avails/{availId}",
              "id": "playmoviespartner.accounts.avails.get",
              "path": "v1/accounts/{accountId}/avails/{availId}",
              "description": "Get an Avail given its avail group id and avail id."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "schemas": {
    "Avail": {
      "type": "object",
      "properties": {
        "start": {
          "description": "Start of term in YYYY-MM-DD format in the timezone of the\ncountry of the Avail.\nExample: \"2013-05-14\".",
          "type": "string"
        },
        "pphNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Name of the post-production houses that manage the Avail.\nNot part of EMA Specs."
        },
        "ratingSystem": {
          "type": "string",
          "description": "Rating system applied to the version of title within territory\nof Avail.\nRating systems should be formatted as per\n[EMA ratings spec](http://www.movielabs.com/md/ratings/)\nExample: \"MPAA\""
        },
        "seriesAltId": {
          "description": "Other identifier referring to the series, as defined by partner.\nOnly available on TV avails.\nExample: \"rs_googlers\".",
          "type": "string"
        },
        "altId": {
          "type": "string",
          "description": "Other identifier referring to the Edit, as defined by partner.\nExample: \"GOOGLER_2006\""
        },
        "episodeNumber": {
          "description": "The number assigned to the episode within a season.\nOnly available on TV Avails.\nExample: \"3\".",
          "type": "string"
        },
        "seriesTitleInternalAlias": {
          "type": "string",
          "description": "Title used by involved parties to refer to this series.\nOnly available on TV Avails.\nExample: \"Googlers, The\"."
        },
        "formatProfile": {
          "enum": [
            "FORMAT_PROFILE_UNSPECIFIED",
            "SD",
            "HD",
            "UHD"
          ],
          "description": "Indicates the format profile covered by the transaction.",
          "type": "string",
          "enumDescriptions": [
            "Value could not be determined, please contact technical support if\nit should.",
            "Standard-definition format.",
            "High-definition format.",
            "4K UHD."
          ]
        },
        "contentId": {
          "description": "Title Identifier. This should be the Title Level EIDR.\nExample: \"10.5240/1489-49A2-3956-4B2D-FE16-5\".",
          "type": "string"
        },
        "titleInternalAlias": {
          "description": "Title used by involved parties to refer to this content.\nExample: \"Googlers, The\".\nOnly available on Movie Avails.",
          "type": "string"
        },
        "ratingValue": {
          "description": "Value representing the rating.\nRatings should be formatted as per http://www.movielabs.com/md/ratings/\nExample: \"PG\"",
          "type": "string"
        },
        "storeLanguage": {
          "description": "Spoken language of the intended audience.\nLanguage shall be encoded in accordance with RFC 5646.\nExample: \"fr\".",
          "type": "string"
        },
        "captionExemption": {
          "type": "string",
          "description": "Communicating an exempt category as defined by FCC regulations.\nIt is not required for non-US Avails.\nExample: \"1\""
        },
        "displayName": {
          "description": "The name of the studio that owns the Edit referred in the Avail.\nThis is the equivalent of `studio_name` in other resources, but it follows\nthe EMA nomenclature.\nExample: \"Google Films\".",
          "type": "string"
        },
        "productId": {
          "description": "Edit Identifier. This should be the Edit Level EIDR.\nExample: \"10.2340/1489-49A2-3956-4B2D-FE16-6\"",
          "type": "string"
        },
        "seasonTitleInternalAlias": {
          "description": "Title used by involved parties to refer to this season.\nOnly available on TV Avails.\nExample: \"Googlers, The\".",
          "type": "string"
        },
        "priceValue": {
          "type": "string",
          "description": "Value to be applied to the pricing type.\nExample: \"4\" or \"2.99\""
        },
        "episodeAltId": {
          "type": "string",
          "description": "Other identifier referring to the episode, as defined by partner.\nOnly available on TV avails.\nExample: \"rs_googlers_s1_3\"."
        },
        "territory": {
          "description": "ISO 3166-1 alpha-2 country code for the country or territory\nof this Avail.\nFor Avails, we use Territory in lieu of Country to comply with\nEMA specifications.\nBut please note that Territory and Country identify the same thing.\nExample: \"US\".",
          "type": "string"
        },
        "workType": {
          "type": "string",
          "enumDescriptions": [
            "Value could not be determined, please contact technical support if\nit should.",
            "A movie picture.",
            "A season of a TV show.",
            "An episode of a TV show.",
            "A collection of movies, i.e. \"Googlers 1 and Googlers, the return\""
          ],
          "enum": [
            "TITLE_TYPE_UNSPECIFIED",
            "MOVIE",
            "SEASON",
            "EPISODE",
            "BUNDLE"
          ],
          "description": "Work type as enumerated in EMA."
        },
        "availId": {
          "description": "ID internally generated by Google to uniquely identify an Avail.\nNot part of EMA Specs.",
          "type": "string"
        },
        "ratingReason": {
          "type": "string",
          "description": "Value representing the rating reason.\nRating reasons should be formatted as per\n[EMA ratings spec](http://www.movielabs.com/md/ratings/)\nand comma-separated for inclusion of multiple reasons.\nExample: \"L, S, V\""
        },
        "episodeTitleInternalAlias": {
          "type": "string",
          "description": "OPTIONAL.TV Only. Title used by involved parties to refer to this episode.\nOnly available on TV Avails.\nExample: \"Coding at Google\"."
        },
        "suppressionLiftDate": {
          "description": "First date an Edit could be publically announced as becoming\navailable at a specific future date in territory of Avail.\n*Not* the Avail start date or pre-order start date.\nFormat is YYYY-MM-DD.\nOnly available for pre-orders.\nExample: \"2012-12-10\"",
          "type": "string"
        },
        "seasonAltId": {
          "description": "Other identifier referring to the season, as defined by partner.\nOnly available on TV avails.\nExample: \"rs_googlers_s1\".",
          "type": "string"
        },
        "encodeId": {
          "description": "Manifestation Identifier. This should be the Manifestation\nLevel EIDR.\nExample: \"10.2340/1489-49A2-3956-4B2D-FE16-7\"",
          "type": "string"
        },
        "priceType": {
          "description": "Type of pricing that should be applied to this Avail\nbased on how the partner classify them.\nExample: \"Tier\", \"WSP\", \"SRP\", or \"Category\".",
          "type": "string"
        },
        "captionIncluded": {
          "type": "boolean",
          "description": "Communicating if caption file will be delivered."
        },
        "seasonNumber": {
          "type": "string",
          "description": "The number assigned to the season within a series.\nOnly available on TV Avails.\nExample: \"1\"."
        },
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "EST",
            "VOD",
            "SVOD",
            "POEST"
          ],
          "description": "Type of transaction.",
          "type": "string",
          "enumDescriptions": [
            "Value could not be determined, please contact technical support if\nit should.",
            "Electronic Sell Through - purchase policy for unlimited viewing.",
            "Video On Demand - rental policy for temporary viewing.",
            "Subscription Video On Demand - used for subscription platforms.\nNot supported on Google Play.",
            "Pre-order Electronic Sell Through - pre-order purchase only window."
          ]
        },
        "releaseDate": {
          "type": "string",
          "description": "Release date of the Title in earliest released territory.\nTypically it is just the year, but it is free-form as per EMA spec.\nExamples: \"1979\", \"Oct 2014\""
        },
        "end": {
          "description": "End of term in YYYY-MM-DD format in the timezone of the country\nof the Avail.\n\"Open\" if no end date is available.\nExample: \"2019-02-17\"",
          "type": "string"
        },
        "videoId": {
          "type": "string",
          "description": "Google-generated ID identifying the video linked to this Avail, once\ndelivered.\nNot part of EMA Specs.\nExample: 'gtry456_xc'"
        }
      },
      "id": "Avail",
      "description": "An Avail describes the Availability Window of a specific Edit in a given\ncountry, which means the period Google is allowed to sell or rent the Edit.\n\nAvails are exposed in EMA format Version 1.6b (available at\nhttp://www.movielabs.com/md/avails/)\n\nStudios can see the Avails for the Titles they own.\nPost-production houses cannot see any Avails."
    },
    "ListOrdersResponse": {
      "description": "Response to the 'ListOrders' method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "See _List methods rules_ for info about this field.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "See _List methods rules_ for more information about this field."
        },
        "orders": {
          "description": "List of Orders that match the request criteria.",
          "items": {
            "$ref": "Order"
          },
          "type": "array"
        }
      },
      "id": "ListOrdersResponse"
    },
    "StoreInfo": {
      "description": "Information about a playable sequence (video) associated with an Edit\nand available at the Google Play Store.\n\nInternally, each StoreInfo is uniquely identified by a `video_id`\nand `country`.\n\nExternally, Title-level EIDR or Edit-level EIDR, if provided,\ncan also be used to identify a specific title or edit in a country.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Default Edit name, usually in the language of the country of\norigin.\nExample: \"Googlers, The\"."
        },
        "seasonId": {
          "description": "Google-generated ID identifying the season linked to the Edit.\nOnly available for TV Edits.\nExample: 'ster23ex'",
          "type": "string"
        },
        "titleLevelEidr": {
          "description": "Title-level EIDR ID.\nExample: \"10.5240/1489-49A2-3956-4B2D-FE16-5\".",
          "type": "string"
        },
        "seasonName": {
          "type": "string",
          "description": "Default Season name, usually in the language of the country of\norigin.\nOnly available for TV Edits\nExample: \"Googlers, The - A Brave New World\"."
        },
        "seasonNumber": {
          "description": "The number assigned to the season within a show.\nOnly available on TV Edits.\nExample: \"1\".",
          "type": "string"
        },
        "editLevelEidr": {
          "description": "Edit-level EIDR ID.\nExample: \"10.5240/1489-49A2-3956-4B2D-FE16-6\".",
          "type": "string"
        },
        "hasEstOffer": {
          "description": "Whether the Edit has a EST offer.",
          "type": "boolean"
        },
        "hasSdOffer": {
          "type": "boolean",
          "description": "Whether the Edit has a SD offer."
        },
        "videoId": {
          "description": "Google-generated ID identifying the video linked to the Edit.\nExample: 'gtry456_xc'",
          "type": "string"
        },
        "liveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the Edit went live on the Store."
        },
        "hasInfoCards": {
          "description": "Whether the Edit has info cards.",
          "type": "boolean"
        },
        "hasVodOffer": {
          "description": "Whether the Edit has a VOD offer.",
          "type": "boolean"
        },
        "pphNames": {
          "description": "Name of the post-production houses that manage the Edit.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "episodeNumber": {
          "description": "The number assigned to the episode within a season.\nOnly available on TV Edits.\nExample: \"1\".",
          "type": "string"
        },
        "studioName": {
          "description": "Name of the studio that owns the Edit ordered.",
          "type": "string"
        },
        "subtitles": {
          "description": "Subtitles available for this Edit.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "audioTracks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Audio tracks available for this Edit."
        },
        "showName": {
          "description": "Default Show name, usually in the language of the country of\norigin.\nOnly available for TV Edits\nExample: \"Googlers, The\".",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "Country where Edit is available in ISO 3166-1 alpha-2 country\ncode.\nExample: \"US\"."
        },
        "showId": {
          "description": "Google-generated ID identifying the show linked to the Edit.\nOnly available for TV Edits.\nExample: 'et2hsue_x'",
          "type": "string"
        },
        "type": {
          "enum": [
            "TITLE_TYPE_UNSPECIFIED",
            "MOVIE",
            "SEASON",
            "EPISODE",
            "BUNDLE"
          ],
          "description": "Edit type, like Movie, Episode or Season.",
          "type": "string",
          "enumDescriptions": [
            "Value could not be determined, please contact technical support if\nit should.",
            "A movie picture.",
            "A season of a TV show.",
            "An episode of a TV show.",
            "A collection of movies, i.e. \"Googlers 1 and Googlers, the return\""
          ]
        },
        "trailerId": {
          "description": "Google-generated ID identifying the trailer linked to the Edit.\nExample: 'bhd_4e_cx'",
          "type": "string"
        },
        "hasHdOffer": {
          "type": "boolean",
          "description": "Whether the Edit has a HD offer."
        },
        "mid": {
          "type": "string",
          "description": "Knowledge Graph ID associated to this Edit, if available.\nThis ID links the Edit to its knowledge entity, externally accessible\nat http://freebase.com.\nIn the absense of Title EIDR or Edit EIDR, this ID helps link together\nmultiple Edits across countries.\nExample: '/m/0ffx29'"
        },
        "hasAudio51": {
          "type": "boolean",
          "description": "Whether the Edit has a 5.1 channel audio track."
        }
      },
      "id": "StoreInfo"
    },
    "Order": {
      "type": "object",
      "properties": {
        "statusDetail": {
          "enum": [
            "ORDER_STATUS_UNSPECIFIED",
            "ORDER_STATUS_QC_APPROVED",
            "ORDER_STATUS_QC_REJECTION",
            "ORDER_STATUS_INTERNAL_FIX",
            "ORDER_STATUS_OPEN_ORDER",
            "ORDER_STATUS_NOT_AVAILABLE",
            "ORDER_STATUS_AWAITING_REDELIVERY",
            "ORDER_STATUS_READY_FOR_QC",
            "ORDER_STATUS_FILE_PROCESSING"
          ],
          "description": "Detailed status of the order",
          "type": "string",
          "enumDescriptions": [
            "Value could not be determined, please contact technical support if\nit should.",
            "Approved by Google's Quality Control team.",
            "Rejected by Google's Quality Control team, pending partner redelivery.",
            "Internal error while processing the Order.",
            "Waiting for initial delivery from partner.",
            "Used on Orders that do not have Status, like TV Seasons.",
            "Waiting for re-delivery from partner.",
            "Asset was delivered by partner, but is being reviewed by Google's\nQuality Control team.",
            "Waiting for Google to process the asset."
          ]
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Value could not be determined, please contact technical support if\nit should.",
            "Approved by Google.",
            "Waiting for partner to re-deliver the asset after a rejection by Google.",
            "Waiting for Google to process the asset.",
            "Waiting for partner to deliver the asset.",
            "Used when Status is not available (i.e: Orders for TV Seasons)."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_APPROVED",
            "STATUS_FAILED",
            "STATUS_PROCESSING",
            "STATUS_UNFULFILLED",
            "STATUS_NOT_AVAILABLE"
          ],
          "description": "High-level status of the order."
        },
        "earliestAvailStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the earliest start date of the Avails\nlinked to this Order."
        },
        "name": {
          "description": "Default Edit name,\nusually in the language of the country of origin.\nExample: \"Googlers, The\".",
          "type": "string"
        },
        "studioName": {
          "description": "Name of the studio that owns the Edit ordered.",
          "type": "string"
        },
        "receivedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the Order was fulfilled."
        },
        "seasonName": {
          "type": "string",
          "description": "Default Season name,\nusually in the language of the country of origin.\nOnly available for TV Edits\nExample: \"Googlers, The - A Brave New World\"."
        },
        "customId": {
          "description": "ID that can be used to externally identify an Order.\nThis ID is provided by partners when submitting the Avails.\nExample: 'GOOGLER_2006'",
          "type": "string"
        },
        "channelName": {
          "type": "string",
          "description": "YouTube Channel Name that should be used to fulfill the Order.\nExample: \"Google_channel\"."
        },
        "approvedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the Order was approved."
        },
        "showName": {
          "description": "Default Show name,\nusually in the language of the country of origin.\nOnly available for TV Edits\nExample: \"Googlers, The\".",
          "type": "string"
        },
        "normalizedPriority": {
          "enum": [
            "NORMALIZED_PRIORITY_UNSPECIFIED",
            "LOW_PRIORITY",
            "HIGH_PRIORITY"
          ],
          "description": "A simpler representation of the priority.",
          "type": "string",
          "enumDescriptions": [
            "Value could not be determined, please contact technical support if\nit should.",
            "A low-priority asset, typically from a library movie.",
            "A high-priority asset, typically from a new release or box office hit."
          ]
        },
        "orderId": {
          "type": "string",
          "description": "ID internally generated by Google to uniquely identify an Order.\nExample: 'abcde12_x'"
        },
        "type": {
          "enum": [
            "TITLE_TYPE_UNSPECIFIED",
            "MOVIE",
            "SEASON",
            "EPISODE",
            "BUNDLE"
          ],
          "description": "Type of the Edit linked to the Order.",
          "type": "string",
          "enumDescriptions": [
            "Value could not be determined, please contact technical support if\nit should.",
            "A movie picture.",
            "A season of a TV show.",
            "An episode of a TV show.",
            "A collection of movies, i.e. \"Googlers 1 and Googlers, the return\""
          ]
        },
        "rejectionNote": {
          "type": "string",
          "description": "Field explaining why an Order has been rejected.\nExample: \"Trailer audio is 2ch mono, please re-deliver in stereo\"."
        },
        "channelId": {
          "type": "string",
          "description": "YouTube Channel ID that should be used to fulfill the Order.\nExample: \"UCRG64darCZhb\"."
        },
        "legacyPriority": {
          "description": "Legacy Order priority, as defined by Google.\nExample: 'P0'",
          "type": "string"
        },
        "pphName": {
          "description": "Name of the post-production house that manages the Edit ordered.",
          "type": "string"
        },
        "orderedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the Order was created."
        },
        "priority": {
          "format": "double",
          "description": "Order priority, as defined by Google.\nThe higher the value, the higher the priority.\nExample: 90",
          "type": "number"
        },
        "videoId": {
          "type": "string",
          "description": "Google-generated ID identifying the video linked to this Order, once\ndelivered.\nExample: 'gtry456_xc'."
        },
        "episodeName": {
          "type": "string",
          "description": "Default Episode name,\nusually in the language of the country of origin.\nOnly available for TV Edits\nExample: \"Googlers, The - Pilot\"."
        },
        "countries": {
          "description": "Countries where the Order is available,\nusing the \"ISO 3166-1 alpha-2\" format (example: \"US\").",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Order",
      "description": "An Order tracks the fulfillment of an Edit when delivered using the\nlegacy, non-component-based delivery.\n\nEach Order is uniquely identified by an `order_id`, which is generated\nby Google.\n\nExternally, Orders can also be identified by partners using its `custom_id`\n(when provided)."
    },
    "ListStoreInfosResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "See 'List methods rules' for info about this field.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "See _List methods rules_ for more information about this field.",
          "type": "integer"
        },
        "storeInfos": {
          "items": {
            "$ref": "StoreInfo"
          },
          "type": "array",
          "description": "List of StoreInfos that match the request criteria."
        }
      },
      "id": "ListStoreInfosResponse",
      "description": "Response to the 'ListStoreInfos' method."
    },
    "ListAvailsResponse": {
      "type": "object",
      "properties": {
        "avails": {
          "description": "List of Avails that match the request criteria.",
          "items": {
            "$ref": "Avail"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "See _List methods rules_ for info about this field."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "See _List methods rules_ for more information about this field."
        }
      },
      "id": "ListAvailsResponse",
      "description": "Response to the 'ListAvails' method."
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "baseUrl": "https://playmoviespartner.googleapis.com/",
  "canonicalName": "Play Movies",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playmovies_partner.readonly": {
          "description": "View the digital assets you publish on Google Play Movies and TV"
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "description": "Gets the delivery status of titles for Google Play Movies Partners.",
  "rootUrl": "https://playmoviespartner.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "playmoviespartner",
  "batchPath": "batch",
  "revision": "20170906",
  "documentationLink": "https://developers.google.com/playmoviespartner/",
  "id": "playmoviespartner:v1",
  "title": "Google Play Movies Partner API"
}
