---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table45storageentitysuitetestins"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:AI3ePSpVLqD19g+mXulm9H31qjWddHbgztLq37YCVjU=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:06 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table45storageentitysuitetestins')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table45storageentitysuitetestins')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: '{"FamilyName":"Skywalker","HasCoolWeapon":true,"Name":"Luke","PartitionKey":"mypartitionkey","RowKey":"100"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:2mQ+/toNV4Zej2Tj+dMXZvteNPWITD1yX+ejVvJukt0=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:06 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table45storageentitysuitetestins
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/table45storageentitysuitetestins(PartitionKey='mypartitionkey',RowKey='100')
      Etag:
      - W/"datetime'2017-07-20T23%3A34%3A06.2918277Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table45storageentitysuitetestins(PartitionKey='mypartitionkey',RowKey='100')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:1PCHlLdFTrZfuJL4aBAVviq75FBLgDdZVWZtev+5adE=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:06 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table45storageentitysuitetestins?%24filter=RowKey+eq+%27200%27&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table45storageentitysuitetestins","value":[{"odata.type":"golangrocksonazure.table45storageentitysuitetestins","odata.id":"https://golangrocksonazure.table.core.windows.net/table45storageentitysuitetestins(PartitionKey=''mypartitionkey'',RowKey=''200'')","odata.etag":"W/\"datetime''2017-07-20T23%3A34%3A06.3028356Z''\"","odata.editLink":"table45storageentitysuitetestins(PartitionKey=''mypartitionkey'',RowKey=''200'')","PartitionKey":"mypartitionkey","RowKey":"200","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-07-20T23:34:06.3028356Z","FamilyName":"Skywalker","HasCoolWeapon":true,"Name":"Luke"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:2np4hn/jbawvF+iCaf6ACraiW0fIVKDb/2wDtqWiv4k=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:06 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table45storageentitysuitetestins%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
