---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table46storageentitysuitetestexe"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:EZbr90rtN7p5TmCd/xfA3tm6NyuGDRnetLfXXOuS8g0=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:05 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table46storageentitysuitetestexe')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table46storageentitysuitetestexe')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: '{"PartitionKey":"pkey","RowKey":"r0"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:XgAFhnNhoaF6lUGEvhiAZ0dl+eJEwSCqcw6ycoY8crc=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:05 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table46storageentitysuitetestexe/@Element","odata.type":"golangrocksonazure.table46storageentitysuitetestexe","odata.id":"https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe(PartitionKey=''pkey'',RowKey=''r0'')","odata.etag":"W/\"datetime''2017-07-20T23%3A34%3A05.7064077Z''\"","odata.editLink":"table46storageentitysuitetestexe(PartitionKey=''pkey'',RowKey=''r0'')","PartitionKey":"pkey","RowKey":"r0","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-07-20T23:34:05.7064077Z"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2017-07-20T23%3A34%3A05.7064077Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe(PartitionKey='pkey',RowKey='r0')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:1rFMXgyzKxIYvrKSPG8sLSiM0QbHXmkSFrBts/7dP5Q=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:05 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe?%24top=2&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table46storageentitysuitetestexe","value":[{"odata.type":"golangrocksonazure.table46storageentitysuitetestexe","odata.id":"https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe(PartitionKey=''pkey'',RowKey=''r0'')","odata.etag":"W/\"datetime''2017-07-20T23%3A34%3A05.7064077Z''\"","odata.editLink":"table46storageentitysuitetestexe(PartitionKey=''pkey'',RowKey=''r0'')","PartitionKey":"pkey","RowKey":"r0","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-07-20T23:34:05.7064077Z"},{"odata.type":"golangrocksonazure.table46storageentitysuitetestexe","odata.id":"https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe(PartitionKey=''pkey'',RowKey=''r1'')","odata.etag":"W/\"datetime''2017-07-20T23%3A34%3A05.7164148Z''\"","odata.editLink":"table46storageentitysuitetestexe(PartitionKey=''pkey'',RowKey=''r1'')","PartitionKey":"pkey","RowKey":"r1","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-07-20T23:34:05.7164148Z"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Continuation-Nextpartitionkey:
      - 1!8!cGtleQ--
      X-Ms-Continuation-Nextrowkey:
      - 1!4!cjI-
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:1rFMXgyzKxIYvrKSPG8sLSiM0QbHXmkSFrBts/7dP5Q=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:05 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe?%24top=2&NextPartitionKey=1%218%21cGtleQ--&NextRowKey=1%214%21cjI-&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazur[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:1rFMXgyzKxIYvrKSPG8sLSiM0QbHXmkSFrBts/7dP5Q=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:05 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe?%24top=2&NextPartitionKey=1%218%21cGtleQ--&NextRowKey=1%214%21cjQ-&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table46storageentitysuitetestexe","value":[{"odata.type":"golangrocksonazure.table46storageentitysuitetestexe","odata.id":"https://golangrocksonazure.table.core.windows.net/table46storageentitysuitetestexe(PartitionKey=''pkey'',RowKey=''r4'')","odata.etag":"W/\"datetime''2017-07-20T23%3A34%3A05.7454357Z''\"","odata.editLink":"table46storageentitysuitetestexe(PartitionKey=''pkey'',RowKey=''r4'')","PartitionKey":"pkey","RowKey":"r4","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-07-20T23:34:05.7454357Z"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:7kLM103T06YElqGv9d3TDcjGoJ7Y0Z4LcgxfHm8aPw4=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:05 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table46storageentitysuitetestexe%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
