---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:xwW9Yl+jCjK7Bq7wUXzzs7z1qkn/W/m69F7JljlREHU=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:03 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-58containersuitetestsetconta?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D4CFC7CE4EACC8"'
      Last-Modified:
      - Thu, 20 Jul 2017 23:34:03 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:1WYq6akw3g2PxZDCz94w/ETr7y7uENNQOERZdtshqH4=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:03 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-58containersuitetestsetconta?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D4CFC7CEDE694B"'
      Last-Modified:
      - Thu, 20 Jul 2017 23:34:04 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
[...]
