---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Mtj+R4Ckw8JZEVYWC90vvqKKG8BwxCQXgunDgOIIrMg=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:04 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-61containersuitetestsettheng?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D4CFC7CE75EBE2"'
      Last-Modified:
      - Thu, 20 Jul 2017 23:34:03 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>AutoRestIsSuperCool</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-21T17:55:06Z</Start><Expiry>2050-12-22T03:55:06Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:DZCaX3tsteRAyWCEEJvEq178Q/Qb6XjZEAt/PwfcqHc=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:04 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-61containersuitetestsettheng?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D4CFC7CEFBE1B7"'
      Last-Modified:
      - Thu, 20 Jul 2017 23:34:04 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
[...]
