---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:di8lwPEbTZ45atEteWsZ8n4fUggDkyBthUMfq7Kpmvk=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:04 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-65containersuitetestsetconta?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D4CFC7CE651F91"'
      Last-Modified:
      - Thu, 20 Jul 2017 23:34:03 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:mDAnQr9HmsAfaAfsSeFK1NDtVnfKyGxE3WSscOZxoLo=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:04 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-65containersuitetestsetconta?comp=acl&restype=container&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D4CFC7CEEB3CE0"'
      Last-Modified:
      - Thu, 20 Jul 2017 23:34:04 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
[...]
