{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "View and manage its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "basePath": "/games/v1/",
  "baseUrl": "https://www.googleapis.com/games/v1/",
  "batchPath": "batch/games/v1",
  "canonicalName": "Games",
  "description": "The API for Google Play Game Services.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/games/services/",
  "etag": "\"F5McR9eEaw0XRpaO3M9gbIugkbs/S1XdsaA4QL0oNYNbtJtRXPuoeKA\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "games:v1",
  "kind": "discovery#restDescription",
  "name": "games",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "achievementDefinitions": {
      "methods": {
        "list": {
          "description": "Lists all the achievement definitions for your application.",
          "httpMethod": "GET",
          "id": "games.achievementDefinitions.list",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "200",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "achievements",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "achievements": {
      "methods": {
        "increment": {
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "httpMethod": "POST",
          "id": "games.achievements.increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "requestId": {
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "stepsToIncrement": {
              "description": "The number of steps to increment.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "required": true,
              "type": "integer"
            }
          },
          "path": "achievements/{achievementId}/increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "httpMethod": "GET",
          "id": "games.achievements.list",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "200",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "state": {
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reveal": {
          "description": "Sets the state of the achievement with the given ID to REVEALED for the currently authenticated player.",
          "httpMethod": "POST",
          "id": "games.achievements.reveal",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "achievements/{achievementId}/reveal",
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "setStepsAtLeast": {
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "httpMethod": "POST",
          "id": "games.achievements.setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "steps": {
              "description": "The minimum value to set the steps to.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "required": true,
              "type": "integer"
            }
          },
          "path": "achievements/{achievementId}/setStepsAtLeast",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "unlock": {
          "description": "Unlocks this achievement for the currently authenticated player.",
          "httpMethod": "POST",
          "id": "games.achievements.unlock",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "builtinGameId": {
              "description": "Override used only by built-in games in Play Games application.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "achievements/{achievementId}/unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "updateMultiple": {
          "description": "Updates multiple achievements for the currently authenticated player.",
          "httpMethod": "POST",
          "id": "games.achievements.updateMultiple",
          "parameters": {
            "builtinGameId": {
              "description": "Override used only by built-in games in Play Games application.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "achievements/updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified platformType, the returned response will not include any instance data.",
          "httpMethod": "GET",
          "id": "games.applications.get",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "platformType": {
              "description": "Restrict application details returned to the specific platform.",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "played": {
          "description": "Indicate that the the currently authenticated user is playing your application.",
          "httpMethod": "POST",
          "id": "games.applications.played",
          "parameters": {
            "builtinGameId": {
              "description": "Override used only by built-in games in Play Games application.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "applications/played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "verify": {
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "httpMethod": "GET",
          "id": "games.applications.verify",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "applications/{applicationId}/verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "httpMethod": "GET",
          "id": "games.events.listByPlayer",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "events",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listDefinitions": {
          "description": "Returns a list of the event definitions in this application.",
          "httpMethod": "GET",
          "id": "games.events.listDefinitions",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "eventDefinitions",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "record": {
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "httpMethod": "POST",
          "id": "games.events.record",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "events",
          "request": {
            "$ref": "EventRecordRequest"
          },
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "httpMethod": "GET",
          "id": "games.leaderboards.get",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "leaderboards/{leaderboardId}",
          "response": {
            "$ref": "Leaderboard"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "description": "Lists all the leaderboard metadata for your application.",
          "httpMethod": "GET",
          "id": "games.leaderboards.list",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "200",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "leaderboards",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "description": "Return the metagame configuration data for the calling application.",
          "httpMethod": "GET",
          "id": "games.metagame.getMetagameConfig",
          "path": "metagameConfig",
          "response": {
            "$ref": "MetagameConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listCategoriesByPlayer": {
          "description": "List play data aggregated per category for the player corresponding to playerId.",
          "httpMethod": "GET",
          "id": "games.metagame.listCategoriesByPlayer",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "parameters": {
            "collection": {
              "description": "The collection of categories for which data will be returned.",
              "enum": [
                "all"
              ],
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "players": {
      "methods": {
        "get": {
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set playerId to me.",
          "httpMethod": "GET",
          "id": "games.players.get",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "players/{playerId}",
          "response": {
            "$ref": "Player"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "description": "Get the collection of players for the currently authenticated user.",
          "httpMethod": "GET",
          "id": "games.players.list",
          "parameterOrder": [
            "collection"
          ],
          "parameters": {
            "collection": {
              "description": "Collection of players being retrieved",
              "enum": [
                "connected",
                "playedWith",
                "played_with",
                "visible"
              ],
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "(DEPRECATED: please use played_with!) Retrieve a list of players you have played a multiplayer game (realtime or turn-based) with recently.",
                "Retrieve a list of players you have played a multiplayer game (realtime or turn-based) with recently.",
                "Retrieve a list of players in the user's social graph that are visible to this game."
              ],
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "50",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "players/me/players/{collection}",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "pushtokens": {
      "methods": {
        "remove": {
          "description": "Removes a push token for the current user and application. Removing a non-existent push token will report success.",
          "httpMethod": "POST",
          "id": "games.pushtokens.remove",
          "path": "pushtokens/remove",
          "request": {
            "$ref": "PushTokenId"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "update": {
          "description": "Registers a push token for the current user and application.",
          "httpMethod": "PUT",
          "id": "games.pushtokens.update",
          "path": "pushtokens",
          "request": {
            "$ref": "PushToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "description": "Checks whether the games client is out of date.",
          "httpMethod": "GET",
          "id": "games.revisions.check",
          "parameterOrder": [
            "clientRevision"
          ],
          "parameters": {
            "clientRevision": {
              "description": "The revision of the client SDK used by your application. Format:\n[PLATFORM_TYPE]:[VERSION_NUMBER]. Possible values of PLATFORM_TYPE are:\n \n- \"ANDROID\" - Client is running the Android SDK. \n- \"IOS\" - Client is running the iOS SDK. \n- \"WEB_APP\" - Client is running as a Web App.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "revisions/check",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "rooms": {
      "methods": {
        "create": {
          "description": "Create a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
          "httpMethod": "POST",
          "id": "games.rooms.create",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "rooms/create",
          "request": {
            "$ref": "RoomCreateRequest"
          },
          "response": {
            "$ref": "Room"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "decline": {
          "description": "Decline an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
          "httpMethod": "POST",
          "id": "games.rooms.decline",
          "parameterOrder": [
            "roomId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "roomId": {
              "description": "The ID of the room.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "rooms/{roomId}/decline",
          "response": {
            "$ref": "Room"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "dismiss": {
          "description": "Dismiss an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
          "httpMethod": "POST",
          "id": "games.rooms.dismiss",
          "parameterOrder": [
            "roomId"
          ],
          "parameters": {
            "roomId": {
              "description": "The ID of the room.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "rooms/{roomId}/dismiss",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "get": {
          "description": "Get the data for a room.",
          "httpMethod": "GET",
          "id": "games.rooms.get",
          "parameterOrder": [
            "roomId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "roomId": {
              "description": "The ID of the room.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "rooms/{roomId}",
          "response": {
            "$ref": "Room"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "join": {
          "description": "Join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
          "httpMethod": "POST",
          "id": "games.rooms.join",
          "parameterOrder": [
            "roomId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "roomId": {
              "description": "The ID of the room.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "rooms/{roomId}/join",
          "request": {
            "$ref": "RoomJoinRequest"
          },
          "response": {
            "$ref": "Room"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "leave": {
          "description": "Leave a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
          "httpMethod": "POST",
          "id": "games.rooms.leave",
          "parameterOrder": [
            "roomId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "roomId": {
              "description": "The ID of the room.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "rooms/{roomId}/leave",
          "request": {
            "$ref": "RoomLeaveRequest"
          },
          "response": {
            "$ref": "Room"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "description": "Returns invitations to join rooms.",
          "httpMethod": "GET",
          "id": "games.rooms.list",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of rooms to return in the response, used for paging. For any response, the actual number of rooms to return may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "500",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "rooms",
          "response": {
            "$ref": "RoomList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reportStatus": {
          "description": "Updates sent by a client reporting the status of peers in a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
          "httpMethod": "POST",
          "id": "games.rooms.reportStatus",
          "parameterOrder": [
            "roomId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "roomId": {
              "description": "The ID of the room.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "rooms/{roomId}/reportstatus",
          "request": {
            "$ref": "RoomP2PStatuses"
          },
          "response": {
            "$ref": "RoomStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "get": {
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, leaderboardId can be set to ALL to retrieve data for all leaderboards in a given time span.\nNOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "httpMethod": "GET",
          "id": "games.scores.get",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "parameters": {
            "includeRankType": {
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL"
              ],
              "enumDescriptions": [
                "Retrieve public and social ranks.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "Retrieve the social rank."
              ],
              "location": "query",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "30",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "timeSpan": {
              "description": "The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL",
                "ALL_TIME",
                "DAILY",
                "WEEKLY"
              ],
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "httpMethod": "GET",
          "id": "games.scores.list",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "parameters": {
            "collection": {
              "description": "The collection of scores you're requesting.",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "SOCIAL_1P"
              ],
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "List only social scores.",
                "List only social scores, not respecting the fACL."
              ],
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "30",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "timeSpan": {
              "description": "The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "DAILY",
                "WEEKLY"
              ],
              "enumDescriptions": [
                "List the all-time top scores.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "leaderboards/{leaderboardId}/scores/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listWindow": {
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "httpMethod": "GET",
          "id": "games.scores.listWindow",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "parameters": {
            "collection": {
              "description": "The collection of scores you're requesting.",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "SOCIAL_1P"
              ],
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "List only social scores.",
                "List only social scores, not respecting the fACL."
              ],
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "30",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "returnTopIfAbsent": {
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "location": "query",
              "type": "boolean"
            },
            "timeSpan": {
              "description": "The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "DAILY",
                "WEEKLY"
              ],
              "enumDescriptions": [
                "List the all-time top scores.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "leaderboards/{leaderboardId}/window/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "submit": {
          "description": "Submits a score to the specified leaderboard.",
          "httpMethod": "POST",
          "id": "games.scores.submit",
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "score": {
              "description": "The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "format": "int64",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "scoreTag": {
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "location": "query",
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "type": "string"
            }
          },
          "path": "leaderboards/{leaderboardId}/scores",
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "submitMultiple": {
          "description": "Submits multiple scores to leaderboards.",
          "httpMethod": "POST",
          "id": "games.scores.submitMultiple",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "leaderboards/scores",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "description": "Retrieves the metadata for a given snapshot ID.",
          "httpMethod": "GET",
          "id": "games.snapshots.get",
          "parameterOrder": [
            "snapshotId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "snapshots/{snapshotId}",
          "response": {
            "$ref": "Snapshot"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "httpMethod": "GET",
          "id": "games.snapshots.list",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "25",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "players/{playerId}/snapshots",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "turnBasedMatches": {
      "methods": {
        "cancel": {
          "description": "Cancel a turn-based match.",
          "httpMethod": "PUT",
          "id": "games.turnBasedMatches.cancel",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "create": {
          "description": "Create a turn-based match.",
          "httpMethod": "POST",
          "id": "games.turnBasedMatches.create",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "turnbasedmatches/create",
          "request": {
            "$ref": "TurnBasedMatchCreateRequest"
          },
          "response": {
            "$ref": "TurnBasedMatch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "decline": {
          "description": "Decline an invitation to play a turn-based match.",
          "httpMethod": "PUT",
          "id": "games.turnBasedMatches.decline",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/decline",
          "response": {
            "$ref": "TurnBasedMatch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "dismiss": {
          "description": "Dismiss a turn-based match from the match list. The match will no longer show up in the list and will not generate notifications.",
          "httpMethod": "PUT",
          "id": "games.turnBasedMatches.dismiss",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/dismiss",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "finish": {
          "description": "Finish a turn-based match. Each player should make this call once, after all results are in. Only the player whose turn it is may make the first call to Finish, and can pass in the final match state.",
          "httpMethod": "PUT",
          "id": "games.turnBasedMatches.finish",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/finish",
          "request": {
            "$ref": "TurnBasedMatchResults"
          },
          "response": {
            "$ref": "TurnBasedMatch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "get": {
          "description": "Get the data for a turn-based match.",
          "httpMethod": "GET",
          "id": "games.turnBasedMatches.get",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "includeMatchData": {
              "description": "Get match data along with metadata.",
              "location": "query",
              "type": "boolean"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}",
          "response": {
            "$ref": "TurnBasedMatch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "join": {
          "description": "Join a turn-based match.",
          "httpMethod": "PUT",
          "id": "games.turnBasedMatches.join",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/join",
          "response": {
            "$ref": "TurnBasedMatch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "leave": {
          "description": "Leave a turn-based match when it is not the current player's turn, without canceling the match.",
          "httpMethod": "PUT",
          "id": "games.turnBasedMatches.leave",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/leave",
          "response": {
            "$ref": "TurnBasedMatch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "leaveTurn": {
          "description": "Leave a turn-based match during the current player's turn, without canceling the match.",
          "httpMethod": "PUT",
          "id": "games.turnBasedMatches.leaveTurn",
          "parameterOrder": [
            "matchId",
            "matchVersion"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "matchVersion": {
              "description": "The version of the match being updated.",
              "format": "int32",
              "location": "query",
              "required": true,
              "type": "integer"
            },
            "pendingParticipantId": {
              "description": "The ID of another participant who should take their turn next. If not set, the match will wait for other player(s) to join via automatching; this is only valid if automatch criteria is set on the match with remaining slots for automatched players.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/leaveTurn",
          "response": {
            "$ref": "TurnBasedMatch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "description": "Returns turn-based matches the player is or was involved in.",
          "httpMethod": "GET",
          "id": "games.turnBasedMatches.list",
          "parameters": {
            "includeMatchData": {
              "description": "True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.",
              "location": "query",
              "type": "boolean"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxCompletedMatches": {
              "description": "The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.",
              "format": "int32",
              "location": "query",
              "maximum": "500",
              "minimum": "0",
              "type": "integer"
            },
            "maxResults": {
              "description": "The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "500",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "turnbasedmatches",
          "response": {
            "$ref": "TurnBasedMatchList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "rematch": {
          "description": "Create a rematch of a match that was previously completed, with the same participants. This can be called by only one player on a match still in their list; the player must have called Finish first. Returns the newly created match; it will be the caller's turn.",
          "httpMethod": "POST",
          "id": "games.turnBasedMatches.rematch",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "requestId": {
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/rematch",
          "response": {
            "$ref": "TurnBasedMatchRematch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "sync": {
          "description": "Returns turn-based matches the player is or was involved in that changed since the last sync call, with the least recent changes coming first. Matches that should be removed from the local cache will have a status of MATCH_DELETED.",
          "httpMethod": "GET",
          "id": "games.turnBasedMatches.sync",
          "parameters": {
            "includeMatchData": {
              "description": "True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.",
              "location": "query",
              "type": "boolean"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxCompletedMatches": {
              "description": "The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.",
              "format": "int32",
              "location": "query",
              "maximum": "500",
              "minimum": "0",
              "type": "integer"
            },
            "maxResults": {
              "description": "The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.",
              "format": "int32",
              "location": "query",
              "maximum": "500",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "turnbasedmatches/sync",
          "response": {
            "$ref": "TurnBasedMatchSync"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "takeTurn": {
          "description": "Commit the results of a player turn.",
          "httpMethod": "PUT",
          "id": "games.turnBasedMatches.takeTurn",
          "parameterOrder": [
            "matchId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "matchId": {
              "description": "The ID of the match.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "turnbasedmatches/{matchId}/turn",
          "request": {
            "$ref": "TurnBasedMatchTurn"
          },
          "response": {
            "$ref": "TurnBasedMatch"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    }
  },
  "revision": "20191017",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "AchievementDefinition": {
      "description": "This is a JSON template for an achievement definition object.",
      "id": "AchievementDefinition",
      "properties": {
        "achievementType": {
          "description": "The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.",
          "type": "string"
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points which will be earned when unlocking this achievement.",
          "format": "int64",
          "type": "string"
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "initialState": {
          "description": "The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "kind": {
          "default": "games#achievementDefinition",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementDefinition.",
          "type": "string"
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "description": "This is a JSON template for a list of achievement definition objects.",
      "id": "AchievementDefinitionsListResponse",
      "properties": {
        "items": {
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array"
        },
        "kind": {
          "default": "games#achievementDefinitionsListResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementDefinitionsListResponse.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementIncrementResponse": {
      "description": "This is a JSON template for an achievement increment response",
      "id": "AchievementIncrementResponse",
      "properties": {
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "games#achievementIncrementResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementIncrementResponse.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AchievementRevealResponse": {
      "description": "This is a JSON template for an achievement reveal response",
      "id": "AchievementRevealResponse",
      "properties": {
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be UNLOCKED if the achievement was already unlocked.\nPossible values are:  \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
          "type": "string"
        },
        "kind": {
          "default": "games#achievementRevealResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementRevealResponse.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementSetStepsAtLeastResponse": {
      "description": "This is a JSON template for an achievement set steps at least response.",
      "id": "AchievementSetStepsAtLeastResponse",
      "properties": {
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "games#achievementSetStepsAtLeastResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementSetStepsAtLeastResponse.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AchievementUnlockResponse": {
      "description": "This is a JSON template for an achievement unlock response",
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "default": "games#achievementUnlockResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUnlockResponse.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "description": "This is a JSON template for a list of achievement update requests.",
      "id": "AchievementUpdateMultipleRequest",
      "properties": {
        "kind": {
          "default": "games#achievementUpdateMultipleRequest",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateMultipleRequest.",
          "type": "string"
        },
        "updates": {
          "description": "The individual achievement update requests.",
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "description": "This is a JSON template for an achievement unlock response.",
      "id": "AchievementUpdateMultipleResponse",
      "properties": {
        "kind": {
          "default": "games#achievementUpdateMultipleResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateListResponse.",
          "type": "string"
        },
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AchievementUpdateRequest": {
      "description": "This is a JSON template for a request to update an achievement.",
      "id": "AchievementUpdateRequest",
      "properties": {
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type INCREMENT was requested for the achievement."
        },
        "kind": {
          "default": "games#achievementUpdateRequest",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateRequest.",
          "type": "string"
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type SET_STEPS_AT_LEAST was requested for the achievement."
        },
        "updateType": {
          "description": "The type of update being applied.\nPossible values are:  \n- \"REVEAL\" - Achievement is revealed. \n- \"UNLOCK\" - Achievement is unlocked. \n- \"INCREMENT\" - Achievement is incremented. \n- \"SET_STEPS_AT_LEAST\" - Achievement progress is set to at least the passed value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementUpdateResponse": {
      "description": "This is a JSON template for an achievement update response.",
      "id": "AchievementUpdateResponse",
      "properties": {
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "games#achievementUpdateResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateResponse.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AggregateStats": {
      "description": "This is a JSON template for aggregate stats.",
      "id": "AggregateStats",
      "properties": {
        "count": {
          "description": "The number of messages sent between a pair of peers.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "default": "games#aggregateStats",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#aggregateStats.",
          "type": "string"
        },
        "max": {
          "description": "The maximum amount.",
          "format": "int64",
          "type": "string"
        },
        "min": {
          "description": "The minimum amount.",
          "format": "int64",
          "type": "string"
        },
        "sum": {
          "description": "The total number of bytes sent for messages between a pair of peers.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnonymousPlayer": {
      "description": "This is a JSON template for an anonymous player",
      "id": "AnonymousPlayer",
      "properties": {
        "avatarImageUrl": {
          "description": "The base URL for the image to display for the anonymous player.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the anonymous player.",
          "type": "string"
        },
        "kind": {
          "default": "games#anonymousPlayer",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#anonymousPlayer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Application": {
      "description": "This is a JSON template for the Application resource.",
      "id": "Application",
      "properties": {
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        },
        "assets": {
          "description": "The assets of the application.",
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.\nPossible values are:  \n- \"SNAPSHOTS\" - Snapshots has been enabled",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "instances": {
          "description": "The instances of the application.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        },
        "kind": {
          "default": "games#application",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#application.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "The last updated timestamp of the application.",
          "format": "int64",
          "type": "string"
        },
        "leaderboard_count": {
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationCategory": {
      "description": "This is a JSON template for an application category object.",
      "id": "ApplicationCategory",
      "properties": {
        "kind": {
          "default": "games#applicationCategory",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#applicationCategory.",
          "type": "string"
        },
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "description": "This is a JSON template for a third party application verification response resource.",
      "id": "ApplicationVerifyResponse",
      "properties": {
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        },
        "kind": {
          "default": "games#applicationVerifyResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#applicationVerifyResponse.",
          "type": "string"
        },
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Category": {
      "description": "This is a JSON template for data related to individual game categories.",
      "id": "Category",
      "properties": {
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "default": "games#category",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CategoryListResponse": {
      "description": "This is a JSON template for a list of category data objects.",
      "id": "CategoryListResponse",
      "properties": {
        "items": {
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          },
          "type": "array"
        },
        "kind": {
          "default": "games#categoryListResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#categoryListResponse.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventBatchRecordFailure": {
      "description": "This is a JSON template for a batch update failure resource.",
      "id": "EventBatchRecordFailure",
      "properties": {
        "failureCause": {
          "description": "The cause for the update failure.\nPossible values are:  \n- \"TOO_LARGE\": A batch request was issued with more events than are allowed in a single batch. \n- \"TIME_PERIOD_EXPIRED\": A batch was sent with data too far in the past to record. \n- \"TIME_PERIOD_SHORT\": A batch was sent with a time range that was too short. \n- \"TIME_PERIOD_LONG\": A batch was sent with a time range that was too long. \n- \"ALREADY_UPDATED\": An attempt was made to record a batch of data which was already seen. \n- \"RECORD_RATE_HIGH\": An attempt was made to record data faster than the server will apply updates.",
          "type": "string"
        },
        "kind": {
          "default": "games#eventBatchRecordFailure",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventBatchRecordFailure.",
          "type": "string"
        },
        "range": {
          "$ref": "EventPeriodRange",
          "description": "The time range which was rejected; empty for a request-wide failure."
        }
      },
      "type": "object"
    },
    "EventChild": {
      "description": "This is a JSON template for an event child relationship resource.",
      "id": "EventChild",
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "default": "games#eventChild",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventChild.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventDefinition": {
      "description": "This is a JSON template for an event definition resource.",
      "id": "EventDefinition",
      "properties": {
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          },
          "type": "array"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "kind": {
          "default": "games#eventDefinition",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventDefinition.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.\nPossible values are:  \n- \"REVEALED\": This event should be visible to all users. \n- \"HIDDEN\": This event should only be shown to users that have recorded this event at least once.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventDefinitionListResponse": {
      "description": "This is a JSON template for a ListDefinitions response.",
      "id": "EventDefinitionListResponse",
      "properties": {
        "items": {
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          },
          "type": "array"
        },
        "kind": {
          "default": "games#eventDefinitionListResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventDefinitionListResponse.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventPeriodRange": {
      "description": "This is a JSON template for an event period time range.",
      "id": "EventPeriodRange",
      "properties": {
        "kind": {
          "default": "games#eventPeriodRange",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventPeriodRange.",
          "type": "string"
        },
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "periodStartMillis": {
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventPeriodUpdate": {
      "description": "This is a JSON template for an event period update resource.",
      "id": "EventPeriodUpdate",
      "properties": {
        "kind": {
          "default": "games#eventPeriodUpdate",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventPeriodUpdate.",
          "type": "string"
        },
        "timePeriod": {
          "$ref": "EventPeriodRange",
          "description": "The time period being covered by this update."
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EventRecordFailure": {
      "description": "This is a JSON template for an event update failure resource.",
      "id": "EventRecordFailure",
      "properties": {
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "failureCause": {
          "description": "The cause for the update failure.\nPossible values are:  \n- \"NOT_FOUND\" - An attempt was made to set an event that was not defined. \n- \"INVALID_UPDATE_VALUE\" - An attempt was made to increment an event by a non-positive value.",
          "type": "string"
        },
        "kind": {
          "default": "games#eventRecordFailure",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventRecordFailure.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventRecordRequest": {
      "description": "This is a JSON template for an event period update resource.",
      "id": "EventRecordRequest",
      "properties": {
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "default": "games#eventRecordRequest",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventRecordRequest.",
          "type": "string"
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64",
          "type": "string"
        },
        "timePeriods": {
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EventUpdateRequest": {
      "description": "This is a JSON template for an event period update resource.",
      "id": "EventUpdateRequest",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "kind": {
          "default": "games#eventUpdateRequest",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventUpdateRequest.",
          "type": "string"
        },
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventUpdateResponse": {
      "description": "This is a JSON template for an event period update resource.",
      "id": "EventUpdateResponse",
      "properties": {
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array"
        },
        "eventFailures": {
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "type": "array"
        },
        "kind": {
          "default": "games#eventUpdateResponse",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventUpdateResponse.",
          "type": "string"
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "description": "This is a JSON template for the payload to request to increment an achievement.",
      "id": "GamesAchievementIncrement",
      "properties": {
        "kind": {
          "default": "games#GamesAchievementIncrement",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#GamesAchievementIncrement.",
          "type": "string"
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64",
          "type": "string"
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GamesAchievementSetStepsAtLeast": {
      "description": "This is a JSON template for the payload to request to increment an achievement.",
      "id": "GamesAchievementSetStepsAtLeast",
      "properties": {
        "kind": {
          "default": "games#GamesAchievementSetStepsAtLeast",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#GamesAchievementSetStepsAtLeast.",
          "type": "string"
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ImageAsset": {
      "description": "This is a JSON template for an image asset object.",
      "id": "ImageAsset",
      "properties": {
        "height": {
          "description": "The height of the asset.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "games#imageAsset",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#imageAsset.",
          "type": "string"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "width": {
          "description": "The width of the asset.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Instance": {
      "description": "This is a JSON template for the Instance resource.",
      "id": "Instance",
      "properties": {
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        },
        "iosInstance": {
          "$ref": "InstanceIosDetails",
          "description": "Platform dependent details for iOS."
        },
        "kind": {
          "default": "games#instance",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#instance.",
          "type": "string"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "platformType": {
          "description": "The platform type.\nPossible values are:  \n- \"ANDROID\" - Instance is for Android. \n- \"IOS\" - Instance is for iOS \n- \"WEB_APP\" - Instance is for Web App.",
          "type": "string"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "webInstance": {
          "$ref": "InstanceWebDetails",
          "description": "Platform dependent details for Web."
        }
      },
      "type": "object"
    },
    "InstanceAndroidDetails": {
      "description": "This is a JSON template for the Android instance details resource.",
      "id": "InstanceAndroidDetails",
      "properties": {
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "kind": {
          "default": "games#instanceAndroidDetails",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#instanceAndroidDetails.",
          "type": "string"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "InstanceIosDetails": {
      "description": "This is a JSON template for the iOS details resource.",
      "id": "InstanceIosDetails",
      "properties": {
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "kind": {
          "default": "games#instanceIosDetails",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#instanceIosDetails.",
          "type": "string"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "supportIpad": {
[...]
