{
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "signingName": "medialive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "protocol": "rest-json",
    "uid": "medialive-2017-10-14",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaLive",
    "jsonVersion": "1.1"
  },
  "operations": {
    "AcceptInputDeviceTransfer": {
      "name": "AcceptInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/accept",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInputDeviceTransferRequest"
      },
      "output": {
        "shape": "AcceptInputDeviceTransferResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "BatchDelete": {
      "name": "BatchDelete",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteRequest"
      },
      "output": {
        "shape": "BatchDeleteResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "BatchStart": {
      "name": "BatchStart",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/start",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchStartRequest"
      },
      "output": {
        "shape": "BatchStartResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "BatchStop": {
      "name": "BatchStop",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchStopRequest"
      },
      "output": {
        "shape": "BatchStopResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "BatchUpdateSchedule": {
      "name": "BatchUpdateSchedule",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateScheduleRequest"
      },
      "output": {
        "shape": "BatchUpdateScheduleResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CancelInputDeviceTransfer": {
      "name": "CancelInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/cancel",
        "responseCode": 200
      },
      "input": {
        "shape": "CancelInputDeviceTransferRequest"
      },
      "output": {
        "shape": "CancelInputDeviceTransferResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateChannel": {
      "name": "CreateChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "output": {
        "shape": "CreateChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateInput": {
      "name": "CreateInput",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInputRequest"
      },
      "output": {
        "shape": "CreateInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateInputSecurityGroup": {
      "name": "CreateInputSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInputSecurityGroupRequest"
      },
      "output": {
        "shape": "CreateInputSecurityGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateMultiplex": {
      "name": "CreateMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexRequest"
      },
      "output": {
        "shape": "CreateMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateMultiplexProgram": {
      "name": "CreateMultiplexProgram",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexProgramRequest"
      },
      "output": {
        "shape": "CreateMultiplexProgramResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateTags": {
      "name": "CreateTags",
      "http": {
        "method": "POST",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "CreateTagsRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "DeleteChannel": {
      "name": "DeleteChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "output": {
        "shape": "DeleteChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteInput": {
      "name": "DeleteInput",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputRequest"
      },
      "output": {
        "shape": "DeleteInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteInputSecurityGroup": {
      "name": "DeleteInputSecurityGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputSecurityGroupRequest"
      },
      "output": {
        "shape": "DeleteInputSecurityGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteMultiplex": {
      "name": "DeleteMultiplex",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteMultiplexRequest"
      },
      "output": {
        "shape": "DeleteMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteMultiplexProgram": {
      "name": "DeleteMultiplexProgram",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMultiplexProgramRequest"
      },
      "output": {
        "shape": "DeleteMultiplexProgramResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteReservation": {
      "name": "DeleteReservation",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteReservationRequest"
      },
      "output": {
        "shape": "DeleteReservationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteSchedule": {
      "name": "DeleteSchedule",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteScheduleRequest"
      },
      "output": {
        "shape": "DeleteScheduleResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteTags": {
      "name": "DeleteTags",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteTagsRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "DescribeChannel": {
      "name": "DescribeChannel",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "output": {
        "shape": "DescribeChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeInput": {
      "name": "DescribeInput",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputRequest"
      },
      "output": {
        "shape": "DescribeInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeInputDevice": {
      "name": "DescribeInputDevice",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputDeviceRequest"
      },
      "output": {
        "shape": "DescribeInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeInputDeviceThumbnail": {
      "name": "DescribeInputDeviceThumbnail",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/thumbnailData",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputDeviceThumbnailRequest"
      },
      "output": {
        "shape": "DescribeInputDeviceThumbnailResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeInputSecurityGroup": {
      "name": "DescribeInputSecurityGroup",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputSecurityGroupRequest"
      },
      "output": {
        "shape": "DescribeInputSecurityGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeMultiplex": {
      "name": "DescribeMultiplex",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexRequest"
      },
      "output": {
        "shape": "DescribeMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeMultiplexProgram": {
      "name": "DescribeMultiplexProgram",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexProgramRequest"
      },
      "output": {
        "shape": "DescribeMultiplexProgramResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeOffering": {
      "name": "DescribeOffering",
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings/{offeringId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOfferingRequest"
      },
      "output": {
        "shape": "DescribeOfferingResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeReservation": {
      "name": "DescribeReservation",
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReservationRequest"
      },
      "output": {
        "shape": "DescribeReservationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeSchedule": {
      "name": "DescribeSchedule",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeScheduleRequest"
      },
      "output": {
        "shape": "DescribeScheduleResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListChannels": {
      "name": "ListChannels",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "output": {
        "shape": "ListChannelsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListInputDeviceTransfers": {
      "name": "ListInputDeviceTransfers",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDeviceTransfers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputDeviceTransfersRequest"
      },
      "output": {
        "shape": "ListInputDeviceTransfersResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListInputDevices": {
      "name": "ListInputDevices",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputDevicesRequest"
      },
      "output": {
        "shape": "ListInputDevicesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListInputSecurityGroups": {
      "name": "ListInputSecurityGroups",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputSecurityGroupsRequest"
      },
      "output": {
        "shape": "ListInputSecurityGroupsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListInputs": {
      "name": "ListInputs",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputsRequest"
      },
      "output": {
        "shape": "ListInputsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListMultiplexPrograms": {
      "name": "ListMultiplexPrograms",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexProgramsRequest"
      },
      "output": {
        "shape": "ListMultiplexProgramsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListMultiplexes": {
      "name": "ListMultiplexes",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexesRequest"
      },
      "output": {
        "shape": "ListMultiplexesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListOfferings": {
      "name": "ListOfferings",
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOfferingsRequest"
      },
      "output": {
        "shape": "ListOfferingsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListReservations": {
      "name": "ListReservations",
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReservationsRequest"
      },
      "output": {
        "shape": "ListReservationsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "PurchaseOffering": {
      "name": "PurchaseOffering",
      "http": {
        "method": "POST",
        "requestUri": "/prod/offerings/{offeringId}/purchase",
        "responseCode": 201
      },
      "input": {
        "shape": "PurchaseOfferingRequest"
      },
      "output": {
        "shape": "PurchaseOfferingResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "RejectInputDeviceTransfer": {
      "name": "RejectInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/reject",
        "responseCode": 200
      },
      "input": {
        "shape": "RejectInputDeviceTransferRequest"
      },
      "output": {
        "shape": "RejectInputDeviceTransferResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StartChannel": {
      "name": "StartChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartChannelRequest"
      },
      "output": {
        "shape": "StartChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StartMultiplex": {
      "name": "StartMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/start",
        "responseCode": 202
      },
      "input": {
        "shape": "StartMultiplexRequest"
      },
      "output": {
        "shape": "StartMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StopChannel": {
      "name": "StopChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopChannelRequest"
      },
      "output": {
        "shape": "StopChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StopMultiplex": {
      "name": "StopMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/stop",
        "responseCode": 202
      },
      "input": {
        "shape": "StopMultiplexRequest"
      },
      "output": {
        "shape": "StopMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "TransferInputDevice": {
      "name": "TransferInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/transfer",
        "responseCode": 200
      },
      "input": {
        "shape": "TransferInputDeviceRequest"
      },
      "output": {
        "shape": "TransferInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateChannel": {
      "name": "UpdateChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "output": {
        "shape": "UpdateChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateChannelClass": {
      "name": "UpdateChannelClass",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/channelClass",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelClassRequest"
      },
      "output": {
        "shape": "UpdateChannelClassResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateInput": {
      "name": "UpdateInput",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputRequest"
      },
      "output": {
        "shape": "UpdateInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateInputDevice": {
      "name": "UpdateInputDevice",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputDeviceRequest"
      },
      "output": {
        "shape": "UpdateInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateInputSecurityGroup": {
      "name": "UpdateInputSecurityGroup",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputSecurityGroupRequest"
      },
      "output": {
        "shape": "UpdateInputSecurityGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateMultiplex": {
      "name": "UpdateMultiplex",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexRequest"
      },
      "output": {
        "shape": "UpdateMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateMultiplexProgram": {
      "name": "UpdateMultiplexProgram",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexProgramRequest"
      },
      "output": {
        "shape": "UpdateMultiplexProgramResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateReservation": {
      "name": "UpdateReservation",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateReservationRequest"
      },
      "output": {
        "shape": "UpdateReservationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    }
  },
  "shapes": {
    "AacCodingMode": {
      "type": "string",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ]
    },
    "AacInputType": {
      "type": "string",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ]
    },
    "AacProfile": {
      "type": "string",
      "enum": [
        "HEV1",
        "HEV2",
        "LC"
      ]
    },
    "AacRateControlMode": {
      "type": "string",
      "enum": [
        "CBR",
        "VBR"
      ]
    },
    "AacRawFormat": {
      "type": "string",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ]
    },
    "AacSettings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__double",
          "locationName": "bitrate"
        },
        "CodingMode": {
          "shape": "AacCodingMode",
          "locationName": "codingMode"
        },
        "InputType": {
          "shape": "AacInputType",
          "locationName": "inputType"
        },
        "Profile": {
          "shape": "AacProfile",
          "locationName": "profile"
        },
        "RateControlMode": {
          "shape": "AacRateControlMode",
          "locationName": "rateControlMode"
        },
        "RawFormat": {
          "shape": "AacRawFormat",
          "locationName": "rawFormat"
        },
        "SampleRate": {
          "shape": "__double",
          "locationName": "sampleRate"
        },
        "Spec": {
          "shape": "AacSpec",
          "locationName": "spec"
        },
        "VbrQuality": {
          "shape": "AacVbrQuality",
          "locationName": "vbrQuality"
        }
      }
    },
    "AacSpec": {
      "type": "string",
      "enum": [
        "MPEG2",
        "MPEG4"
      ]
    },
    "AacVbrQuality": {
      "type": "string",
      "enum": [
        "HIGH",
        "LOW",
        "MEDIUM_HIGH",
        "MEDIUM_LOW"
      ]
    },
    "Ac3BitstreamMode": {
      "type": "string",
      "enum": [
        "COMMENTARY",
        "COMPLETE_MAIN",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ]
    },
    "Ac3CodingMode": {
      "type": "string",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ]
    },
    "Ac3DrcProfile": {
      "type": "string",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ]
    },
    "Ac3LfeFilter": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "Ac3MetadataControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__double",
          "locationName": "bitrate"
        },
        "BitstreamMode": {
          "shape": "Ac3BitstreamMode",
          "locationName": "bitstreamMode"
        },
        "CodingMode": {
          "shape": "Ac3CodingMode",
          "locationName": "codingMode"
        },
        "Dialnorm": {
          "shape": "__integerMin1Max31",
          "locationName": "dialnorm"
        },
        "DrcProfile": {
          "shape": "Ac3DrcProfile",
          "locationName": "drcProfile"
        },
        "LfeFilter": {
          "shape": "Ac3LfeFilter",
          "locationName": "lfeFilter"
        },
        "MetadataControl": {
          "shape": "Ac3MetadataControl",
          "locationName": "metadataControl"
        }
      }
    },
    "AcceptInputDeviceTransferRequest": {
      "type": "structure",
      "members": {
        "InputDeviceId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputDeviceId"
        }
      },
      "required": [
        "InputDeviceId"
      ]
    },
    "AcceptInputDeviceTransferResponse": {
      "type": "structure",
      "members": {
      }
    },
    "AccessDenied": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      }
    },
    "AfdSignaling": {
      "type": "string",
      "enum": [
        "AUTO",
        "FIXED",
        "NONE"
      ]
    },
    "AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "SourceAncillaryChannelNumber": {
          "shape": "__integerMin1Max4",
          "locationName": "sourceAncillaryChannelNumber"
        }
      }
    },
    "ArchiveContainerSettings": {
      "type": "structure",
      "members": {
        "M2tsSettings": {
          "shape": "M2tsSettings",
          "locationName": "m2tsSettings"
        },
        "RawSettings": {
          "shape": "RawSettings",
          "locationName": "rawSettings"
        }
      }
    },
    "ArchiveGroupSettings": {
      "type": "structure",
      "members": {
        "Destination": {
          "shape": "OutputLocationRef",
          "locationName": "destination"
        },
        "RolloverInterval": {
          "shape": "__integerMin1",
          "locationName": "rolloverInterval"
        }
      },
      "required": [
        "Destination"
      ]
    },
    "ArchiveOutputSettings": {
      "type": "structure",
      "members": {
        "ContainerSettings": {
          "shape": "ArchiveContainerSettings",
          "locationName": "containerSettings"
        },
        "Extension": {
          "shape": "__string",
          "locationName": "extension"
        },
        "NameModifier": {
          "shape": "__string",
          "locationName": "nameModifier"
        }
      },
      "required": [
        "ContainerSettings"
      ]
    },
    "AribDestinationSettings": {
      "type": "structure",
      "members": {
      }
    },
    "AribSourceSettings": {
      "type": "structure",
      "members": {
      }
    },
    "AudioChannelMapping": {
      "type": "structure",
      "members": {
        "InputChannelLevels": {
          "shape": "__listOfInputChannelLevel",
          "locationName": "inputChannelLevels"
        },
        "OutputChannel": {
          "shape": "__integerMin0Max7",
          "locationName": "outputChannel"
        }
      },
      "required": [
        "OutputChannel",
        "InputChannelLevels"
      ]
    },
    "AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "shape": "AacSettings",
          "locationName": "aacSettings"
        },
        "Ac3Settings": {
          "shape": "Ac3Settings",
          "locationName": "ac3Settings"
        },
        "Eac3Settings": {
          "shape": "Eac3Settings",
          "locationName": "eac3Settings"
        },
        "Mp2Settings": {
          "shape": "Mp2Settings",
          "locationName": "mp2Settings"
        },
        "PassThroughSettings": {
          "shape": "PassThroughSettings",
          "locationName": "passThroughSettings"
        },
        "WavSettings": {
          "shape": "WavSettings",
          "locationName": "wavSettings"
        }
      }
    },
    "AudioDescription": {
      "type": "structure",
      "members": {
        "AudioNormalizationSettings": {
          "shape": "AudioNormalizationSettings",
          "locationName": "audioNormalizationSettings"
        },
        "AudioSelectorName": {
          "shape": "__string",
          "locationName": "audioSelectorName"
        },
        "AudioType": {
          "shape": "AudioType",
          "locationName": "audioType"
        },
        "AudioTypeControl": {
          "shape": "AudioDescriptionAudioTypeControl",
          "locationName": "audioTypeControl"
        },
        "CodecSettings": {
          "shape": "AudioCodecSettings",
          "locationName": "codecSettings"
        },
        "LanguageCode": {
          "shape": "__stringMin1Max35",
          "locationName": "languageCode"
        },
        "LanguageCodeControl": {
          "shape": "AudioDescriptionLanguageCodeControl",
          "locationName": "languageCodeControl"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "RemixSettings": {
          "shape": "RemixSettings",
          "locationName": "remixSettings"
        },
        "StreamName": {
          "shape": "__string",
          "locationName": "streamName"
        }
      },
      "required": [
        "AudioSelectorName",
        "Name"
      ]
    },
    "AudioDescriptionAudioTypeControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "AudioDescriptionLanguageCodeControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "AudioLanguageSelection": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "shape": "__string",
          "locationName": "languageCode"
        },
        "LanguageSelectionPolicy": {
          "shape": "AudioLanguageSelectionPolicy",
          "locationName": "languageSelectionPolicy"
        }
      },
      "required": [
        "LanguageCode"
      ]
    },
    "AudioLanguageSelectionPolicy": {
      "type": "string",
      "enum": [
        "LOOSE",
        "STRICT"
      ]
    },
    "AudioNormalizationAlgorithm": {
      "type": "string",
      "enum": [
        "ITU_1770_1",
        "ITU_1770_2"
      ]
    },
    "AudioNormalizationAlgorithmControl": {
      "type": "string",
      "enum": [
        "CORRECT_AUDIO"
      ]
    },
    "AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "shape": "AudioNormalizationAlgorithm",
          "locationName": "algorithm"
        },
        "AlgorithmControl": {
          "shape": "AudioNormalizationAlgorithmControl",
          "locationName": "algorithmControl"
        },
        "TargetLkfs": {
          "shape": "__doubleMinNegative59Max0",
          "locationName": "targetLkfs"
        }
      }
    },
    "AudioOnlyHlsSegmentType": {
      "type": "string",
      "enum": [
        "AAC",
        "FMP4"
      ]
    },
    "AudioOnlyHlsSettings": {
      "type": "structure",
      "members": {
        "AudioGroupId": {
          "shape": "__string",
          "locationName": "audioGroupId"
        },
        "AudioOnlyImage": {
          "shape": "InputLocation",
          "locationName": "audioOnlyImage"
        },
        "AudioTrackType": {
          "shape": "AudioOnlyHlsTrackType",
          "locationName": "audioTrackType"
        },
        "SegmentType": {
          "shape": "AudioOnlyHlsSegmentType",
          "locationName": "segmentType"
        }
      }
    },
    "AudioOnlyHlsTrackType": {
      "type": "string",
      "enum": [
        "ALTERNATE_AUDIO_AUTO_SELECT",
        "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT",
        "ALTERNATE_AUDIO_NOT_AUTO_SELECT",
        "AUDIO_ONLY_VARIANT_STREAM"
      ]
    },
    "AudioPidSelection": {
      "type": "structure",
      "members": {
        "Pid": {
          "shape": "__integerMin0Max8191",
          "locationName": "pid"
        }
      },
      "required": [
        "Pid"
      ]
    },
    "AudioSelector": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__stringMin1",
          "locationName": "name"
        },
        "SelectorSettings": {
          "shape": "AudioSelectorSettings",
          "locationName": "selectorSettings"
        }
      },
      "required": [
        "Name"
      ]
    },
    "AudioSelectorSettings": {
      "type": "structure",
      "members": {
        "AudioLanguageSelection": {
          "shape": "AudioLanguageSelection",
          "locationName": "audioLanguageSelection"
        },
        "AudioPidSelection": {
          "shape": "AudioPidSelection",
          "locationName": "audioPidSelection"
        },
        "AudioTrackSelection": {
          "shape": "AudioTrackSelection",
          "locationName": "audioTrackSelection"
        }
      }
    },
    "AudioTrack": {
      "type": "structure",
      "members": {
        "Track": {
          "shape": "__integerMin1",
          "locationName": "track"
        }
      },
      "required": [
        "Track"
      ]
    },
    "AudioTrackSelection": {
      "type": "structure",
      "members": {
        "Tracks": {
          "shape": "__listOfAudioTrack",
          "locationName": "tracks"
        }
      },
      "required": [
        "Tracks"
      ]
    },
    "AudioType": {
      "type": "string",
      "enum": [
        "CLEAN_EFFECTS",
        "HEARING_IMPAIRED",
        "UNDEFINED",
        "VISUAL_IMPAIRED_COMMENTARY"
      ]
    },
    "AuthenticationScheme": {
      "type": "string",
      "enum": [
        "AKAMAI",
        "COMMON"
      ]
    },
    "AutomaticInputFailoverSettings": {
      "type": "structure",
      "members": {
        "ErrorClearTimeMsec": {
          "shape": "__integerMin1",
          "locationName": "errorClearTimeMsec"
        },
        "FailoverConditions": {
          "shape": "__listOfFailoverCondition",
          "locationName": "failoverConditions"
        },
        "InputPreference": {
          "shape": "InputPreference",
          "locationName": "inputPreference"
        },
        "SecondaryInputId": {
          "shape": "__string",
          "locationName": "secondaryInputId"
        }
      },
      "required": [
        "SecondaryInputId"
      ]
    },
    "AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "shape": "InputLocation",
          "locationName": "availBlankingImage"
        },
        "State": {
          "shape": "AvailBlankingState",
          "locationName": "state"
        }
      }
    },
    "AvailBlankingState": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "AvailConfiguration": {
      "type": "structure",
      "members": {
        "AvailSettings": {
          "shape": "AvailSettings",
          "locationName": "availSettings"
        }
      }
    },
    "AvailSettings": {
      "type": "structure",
      "members": {
        "Scte35SpliceInsert": {
          "shape": "Scte35SpliceInsert",
          "locationName": "scte35SpliceInsert"
        },
        "Scte35TimeSignalApos": {
          "shape": "Scte35TimeSignalApos",
          "locationName": "scte35TimeSignalApos"
        }
      }
    },
    "BadGatewayException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 502
      }
    },
    "BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 400
      }
    },
    "BatchDelete": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "InputIds": {
          "shape": "__listOf__string",
          "locationName": "inputIds"
        },
        "InputSecurityGroupIds": {
          "shape": "__listOf__string",
          "locationName": "inputSecurityGroupIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchDeleteRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "InputIds": {
          "shape": "__listOf__string",
          "locationName": "inputIds"
        },
        "InputSecurityGroupIds": {
          "shape": "__listOf__string",
          "locationName": "inputSecurityGroupIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchDeleteResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchDeleteResultModel": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchFailedResultModel": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn"
        },
        "Code": {
          "shape": "__string",
          "locationName": "code"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id"
        },
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      }
    },
    "BatchScheduleActionCreateRequest": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "shape": "__listOfScheduleAction",
          "locationName": "scheduleActions"
        }
      },
      "required": [
        "ScheduleActions"
      ]
    },
    "BatchScheduleActionCreateResult": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "shape": "__listOfScheduleAction",
          "locationName": "scheduleActions"
        }
      },
      "required": [
        "ScheduleActions"
      ]
    },
    "BatchScheduleActionDeleteRequest": {
      "type": "structure",
      "members": {
        "ActionNames": {
          "shape": "__listOf__string",
          "locationName": "actionNames"
        }
      },
      "required": [
        "ActionNames"
      ]
    },
    "BatchScheduleActionDeleteResult": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "shape": "__listOfScheduleAction",
          "locationName": "scheduleActions"
        }
      },
      "required": [
        "ScheduleActions"
      ]
    },
    "BatchStart": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchStartRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchStartResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchStartResultModel": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchStop": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchStopRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchStopResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchStopResultModel": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchSuccessfulResultModel": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id"
        },
        "State": {
          "shape": "__string",
          "locationName": "state"
        }
      }
    },
    "BatchUpdateScheduleRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "channelId"
        },
        "Creates": {
          "shape": "BatchScheduleActionCreateRequest",
          "locationName": "creates"
        },
        "Deletes": {
          "shape": "BatchScheduleActionDeleteRequest",
          "locationName": "deletes"
        }
      },
      "required": [
        "ChannelId"
      ]
    },
    "BatchUpdateScheduleResponse": {
      "type": "structure",
      "members": {
        "Creates": {
          "shape": "BatchScheduleActionCreateResult",
          "locationName": "creates"
        },
        "Deletes": {
          "shape": "BatchScheduleActionDeleteResult",
          "locationName": "deletes"
        }
      }
    },
    "BatchUpdateScheduleResult": {
      "type": "structure",
      "members": {
        "Creates": {
          "shape": "BatchScheduleActionCreateResult",
          "locationName": "creates"
        },
        "Deletes": {
          "shape": "BatchScheduleActionDeleteResult",
          "locationName": "deletes"
        }
      }
    },
    "BlackoutSlate": {
      "type": "structure",
      "members": {
        "BlackoutSlateImage": {
          "shape": "InputLocation",
          "locationName": "blackoutSlateImage"
        },
        "NetworkEndBlackout": {
          "shape": "BlackoutSlateNetworkEndBlackout",
          "locationName": "networkEndBlackout"
        },
        "NetworkEndBlackoutImage": {
          "shape": "InputLocation",
          "locationName": "networkEndBlackoutImage"
        },
        "NetworkId": {
          "shape": "__stringMin34Max34",
          "locationName": "networkId"
        },
        "State": {
          "shape": "BlackoutSlateState",
          "locationName": "state"
        }
      }
    },
    "BlackoutSlateNetworkEndBlackout": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "BlackoutSlateState": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "BurnInAlignment": {
      "type": "string",
      "enum": [
        "CENTERED",
        "LEFT",
        "SMART"
      ]
    },
    "BurnInBackgroundColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "NONE",
        "WHITE"
      ]
    },
    "BurnInDestinationSettings": {
      "type": "structure",
      "members": {
        "Alignment": {
          "shape": "BurnInAlignment",
          "locationName": "alignment"
        },
        "BackgroundColor": {
          "shape": "BurnInBackgroundColor",
          "locationName": "backgroundColor"
        },
        "BackgroundOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "backgroundOpacity"
        },
        "Font": {
          "shape": "InputLocation",
          "locationName": "font"
        },
        "FontColor": {
          "shape": "BurnInFontColor",
          "locationName": "fontColor"
        },
        "FontOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "fontOpacity"
        },
        "FontResolution": {
          "shape": "__integerMin96Max600",
          "locationName": "fontResolution"
        },
        "FontSize": {
          "shape": "__string",
          "locationName": "fontSize"
        },
        "OutlineColor": {
          "shape": "BurnInOutlineColor",
          "locationName": "outlineColor"
        },
        "OutlineSize": {
          "shape": "__integerMin0Max10",
          "locationName": "outlineSize"
        },
        "ShadowColor": {
          "shape": "BurnInShadowColor",
          "locationName": "shadowColor"
        },
        "ShadowOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "shadowOpacity"
        },
        "ShadowXOffset": {
          "shape": "__integer",
          "locationName": "shadowXOffset"
        },
        "ShadowYOffset": {
          "shape": "__integer",
          "locationName": "shadowYOffset"
        },
        "TeletextGridControl": {
          "shape": "BurnInTeletextGridControl",
          "locationName": "teletextGridControl"
        },
        "XPosition": {
          "shape": "__integerMin0",
          "locationName": "xPosition"
        },
        "YPosition": {
          "shape": "__integerMin0",
          "locationName": "yPosition"
        }
      }
    },
    "BurnInFontColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "BLUE",
        "GREEN",
        "RED",
        "WHITE",
        "YELLOW"
      ]
    },
    "BurnInOutlineColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "BLUE",
        "GREEN",
        "RED",
        "WHITE",
        "YELLOW"
      ]
    },
    "BurnInShadowColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "NONE",
        "WHITE"
      ]
    },
    "BurnInTeletextGridControl": {
      "type": "string",
      "enum": [
        "FIXED",
        "SCALED"
      ]
    },
    "CancelInputDeviceTransferRequest": {
      "type": "structure",
      "members": {
        "InputDeviceId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputDeviceId"
        }
      },
      "required": [
        "InputDeviceId"
      ]
    },
    "CancelInputDeviceTransferResponse": {
      "type": "structure",
      "members": {
      }
    },
    "CaptionDescription": {
      "type": "structure",
      "members": {
        "CaptionSelectorName": {
          "shape": "__string",
          "locationName": "captionSelectorName"
        },
        "DestinationSettings": {
          "shape": "CaptionDestinationSettings",
          "locationName": "destinationSettings"
        },
        "LanguageCode": {
          "shape": "__string",
          "locationName": "languageCode"
        },
        "LanguageDescription": {
          "shape": "__string",
          "locationName": "languageDescription"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        }
      },
      "required": [
        "CaptionSelectorName",
        "Name"
      ]
    },
    "CaptionDestinationSettings": {
      "type": "structure",
      "members": {
        "AribDestinationSettings": {
          "shape": "AribDestinationSettings",
          "locationName": "aribDestinationSettings"
        },
        "BurnInDestinationSettings": {
          "shape": "BurnInDestinationSettings",
          "locationName": "burnInDestinationSettings"
        },
        "DvbSubDestinationSettings": {
          "shape": "DvbSubDestinationSettings",
          "locationName": "dvbSubDestinationSettings"
        },
        "EbuTtDDestinationSettings": {
          "shape": "EbuTtDDestinationSettings",
          "locationName": "ebuTtDDestinationSettings"
        },
        "EmbeddedDestinationSettings": {
          "shape": "EmbeddedDestinationSettings",
          "locationName": "embeddedDestinationSettings"
        },
        "EmbeddedPlusScte20DestinationSettings": {
          "shape": "EmbeddedPlusScte20DestinationSettings",
          "locationName": "embeddedPlusScte20DestinationSettings"
        },
        "RtmpCaptionInfoDestinationSettings": {
          "shape": "RtmpCaptionInfoDestinationSettings",
          "locationName": "rtmpCaptionInfoDestinationSettings"
        },
        "Scte20PlusEmbeddedDestinationSettings": {
          "shape": "Scte20PlusEmbeddedDestinationSettings",
          "locationName": "scte20PlusEmbeddedDestinationSettings"
        },
        "Scte27DestinationSettings": {
          "shape": "Scte27DestinationSettings",
          "locationName": "scte27DestinationSettings"
        },
        "SmpteTtDestinationSettings": {
          "shape": "SmpteTtDestinationSettings",
          "locationName": "smpteTtDestinationSettings"
        },
        "TeletextDestinationSettings": {
          "shape": "TeletextDestinationSettings",
          "locationName": "teletextDestinationSettings"
        },
        "TtmlDestinationSettings": {
          "shape": "TtmlDestinationSettings",
          "locationName": "ttmlDestinationSettings"
        },
        "WebvttDestinationSettings": {
          "shape": "WebvttDestinationSettings",
          "locationName": "webvttDestinationSettings"
        }
      }
    },
    "CaptionLanguageMapping": {
      "type": "structure",
      "members": {
        "CaptionChannel": {
          "shape": "__integerMin1Max4",
          "locationName": "captionChannel"
        },
        "LanguageCode": {
          "shape": "__stringMin3Max3",
          "locationName": "languageCode"
        },
        "LanguageDescription": {
          "shape": "__stringMin1",
          "locationName": "languageDescription"
        }
      },
      "required": [
        "LanguageCode",
        "LanguageDescription",
        "CaptionChannel"
      ]
    },
    "CaptionSelector": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "shape": "__string",
          "locationName": "languageCode"
        },
        "Name": {
          "shape": "__stringMin1",
          "locationName": "name"
        },
        "SelectorSettings": {
          "shape": "CaptionSelectorSettings",
          "locationName": "selectorSettings"
        }
      },
      "required": [
        "Name"
      ]
    },
    "CaptionSelectorSettings": {
      "type": "structure",
      "members": {
        "AncillarySourceSettings": {
          "shape": "AncillarySourceSettings",
          "locationName": "ancillarySourceSettings"
        },
        "AribSourceSettings": {
          "shape": "AribSourceSettings",
          "locationName": "aribSourceSettings"
        },
        "DvbSubSourceSettings": {
          "shape": "DvbSubSourceSettings",
          "locationName": "dvbSubSourceSettings"
        },
        "EmbeddedSourceSettings": {
          "shape": "EmbeddedSourceSettings",
          "locationName": "embeddedSourceSettings"
        },
        "Scte20SourceSettings": {
          "shape": "Scte20SourceSettings",
          "locationName": "scte20SourceSettings"
        },
        "Scte27SourceSettings": {
          "shape": "Scte27SourceSettings",
          "locationName": "scte27SourceSettings"
        },
        "TeletextSourceSettings": {
          "shape": "TeletextSourceSettings",
          "locationName": "teletextSourceSettings"
        }
      }
    },
    "CdiInputResolution": {
      "type": "string",
      "enum": [
        "SD",
        "HD",
        "FHD",
        "UHD"
      ]
    },
    "CdiInputSpecification": {
      "type": "structure",
      "members": {
        "Resolution": {
          "shape": "CdiInputResolution",
          "locationName": "resolution"
        }
      }
    },
    "Channel": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn"
        },
        "CdiInputSpecification": {
          "shape": "CdiInputSpecification",
          "locationName": "cdiInputSpecification"
        },
        "ChannelClass": {
          "shape": "ChannelClass",
          "locationName": "channelClass"
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations"
        },
        "EgressEndpoints": {
          "shape": "__listOfChannelEgressEndpoint",
          "locationName": "egressEndpoints"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id"
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments"
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "LogLevel": {
          "shape": "LogLevel",
          "locationName": "logLevel"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "PipelineDetails": {
          "shape": "__listOfPipelineDetail",
          "locationName": "pipelineDetails"
        },
        "PipelinesRunningCount": {
          "shape": "__integer",
          "locationName": "pipelinesRunningCount"
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn"
        },
        "State": {
          "shape": "ChannelState",
          "locationName": "state"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        }
      }
    },
    "ChannelClass": {
      "type": "string",
      "enum": [
        "STANDARD",
        "SINGLE_PIPELINE"
      ]
    },
    "ChannelConfigurationValidationError": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        },
        "ValidationErrors": {
          "shape": "__listOfValidationError",
          "locationName": "validationErrors"
        }
      }
    },
    "ChannelEgressEndpoint": {
      "type": "structure",
      "members": {
        "SourceIp": {
          "shape": "__string",
          "locationName": "sourceIp"
        }
      }
    },
    "ChannelState": {
      "type": "string",
      "enum": [
        "CREATING",
        "CREATE_FAILED",
        "IDLE",
        "STARTING",
        "RUNNING",
        "RECOVERING",
        "STOPPING",
        "DELETING",
        "DELETED",
        "UPDATING",
        "UPDATE_FAILED"
      ]
    },
    "ChannelSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn"
        },
        "CdiInputSpecification": {
          "shape": "CdiInputSpecification",
          "locationName": "cdiInputSpecification"
        },
        "ChannelClass": {
          "shape": "ChannelClass",
          "locationName": "channelClass"
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations"
        },
        "EgressEndpoints": {
          "shape": "__listOfChannelEgressEndpoint",
          "locationName": "egressEndpoints"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id"
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments"
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "LogLevel": {
          "shape": "LogLevel",
          "locationName": "logLevel"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "PipelinesRunningCount": {
          "shape": "__integer",
          "locationName": "pipelinesRunningCount"
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn"
        },
        "State": {
          "shape": "ChannelState",
          "locationName": "state"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        }
      }
    },
    "ColorSpacePassthroughSettings": {
      "type": "structure",
      "members": {
      }
    },
    "ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 409
      }
    },
    "CreateChannel": {
      "type": "structure",
      "members": {
        "CdiInputSpecification": {
          "shape": "CdiInputSpecification",
          "locationName": "cdiInputSpecification"
        },
        "ChannelClass": {
          "shape": "ChannelClass",
          "locationName": "channelClass"
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments"
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "LogLevel": {
          "shape": "LogLevel",
          "locationName": "logLevel"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "idempotencyToken": true
        },
        "Reserved": {
          "shape": "__string",
          "locationName": "reserved",
          "deprecated": true
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        }
      }
    },
    "CreateChannelRequest": {
      "type": "structure",
      "members": {
        "CdiInputSpecification": {
          "shape": "CdiInputSpecification",
          "locationName": "cdiInputSpecification"
        },
        "ChannelClass": {
          "shape": "ChannelClass",
          "locationName": "channelClass"
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments"
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "LogLevel": {
          "shape": "LogLevel",
          "locationName": "logLevel"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "idempotencyToken": true
        },
        "Reserved": {
          "shape": "__string",
          "locationName": "reserved",
          "deprecated": true
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        }
      }
    },
    "CreateChannelResponse": {
      "type": "structure",
      "members": {
        "Channel": {
          "shape": "Channel",
          "locationName": "channel"
        }
      }
    },
    "CreateChannelResultModel": {
      "type": "structure",
      "members": {
        "Channel": {
          "shape": "Channel",
          "locationName": "channel"
        }
      }
    },
    "CreateInput": {
      "type": "structure",
      "members": {
        "Destinations": {
          "shape": "__listOfInputDestinationRequest",
          "locationName": "destinations"
        },
        "InputDevices": {
          "shape": "__listOfInputDeviceSettings",
          "locationName": "inputDevices"
        },
        "InputSecurityGroups": {
          "shape": "__listOf__string",
          "locationName": "inputSecurityGroups"
        },
        "MediaConnectFlows": {
          "shape": "__listOfMediaConnectFlowRequest",
          "locationName": "mediaConnectFlows"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "idempotencyToken": true
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn"
        },
        "Sources": {
          "shape": "__listOfInputSourceRequest",
          "locationName": "sources"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        },
        "Type": {
          "shape": "InputType",
          "locationName": "type"
        },
        "Vpc": {
          "shape": "InputVpcRequest",
          "locationName": "vpc"
        }
      }
    },
    "CreateInputRequest": {
      "type": "structure",
      "members": {
        "Destinations": {
          "shape": "__listOfInputDestinationRequest",
          "locationName": "destinations"
        },
        "InputDevices": {
          "shape": "__listOfInputDeviceSettings",
          "locationName": "inputDevices"
        },
        "InputSecurityGroups": {
          "shape": "__listOf__string",
          "locationName": "inputSecurityGroups"
        },
        "MediaConnectFlows": {
          "shape": "__listOfMediaConnectFlowRequest",
          "locationName": "mediaConnectFlows"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "idempotencyToken": true
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn"
        },
        "Sources": {
          "shape": "__listOfInputSourceRequest",
          "locationName": "sources"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        },
        "Type": {
          "shape": "InputType",
          "locationName": "type"
        },
        "Vpc": {
          "shape": "InputVpcRequest",
          "locationName": "vpc"
        }
      }
    },
    "CreateInputResponse": {
      "type": "structure",
      "members": {
        "Input": {
          "shape": "Input",
          "locationName": "input"
        }
      }
    },
    "CreateInputResultModel": {
      "type": "structure",
      "members": {
        "Input": {
          "shape": "Input",
          "locationName": "input"
        }
      }
    },
    "CreateInputSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        },
        "WhitelistRules": {
          "shape": "__listOfInputWhitelistRuleCidr",
          "locationName": "whitelistRules"
        }
      }
    },
    "CreateInputSecurityGroupResponse": {
      "type": "structure",
      "members": {
        "SecurityGroup": {
          "shape": "InputSecurityGroup",
          "locationName": "securityGroup"
        }
      }
    },
    "CreateInputSecurityGroupResultModel": {
      "type": "structure",
      "members": {
        "SecurityGroup": {
          "shape": "InputSecurityGroup",
          "locationName": "securityGroup"
        }
      }
    },
    "CreateMultiplex": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "shape": "__listOf__string",
          "locationName": "availabilityZones"
        },
        "MultiplexSettings": {
          "shape": "MultiplexSettings",
          "locationName": "multiplexSettings"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "idempotencyToken": true
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        }
      },
      "required": [
        "RequestId",
        "MultiplexSettings",
        "AvailabilityZones",
        "Name"
      ]
    },
    "CreateMultiplexProgram": {
      "type": "structure",
      "members": {
        "MultiplexProgramSettings": {
          "shape": "MultiplexProgramSettings",
          "locationName": "multiplexProgramSettings"
        },
        "ProgramName": {
          "shape": "__string",
          "locationName": "programName"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "idempotencyToken": true
        }
      },
      "required": [
        "RequestId",
        "MultiplexProgramSettings",
        "ProgramName"
      ]
    },
    "CreateMultiplexProgramRequest": {
      "type": "structure",
      "members": {
        "MultiplexId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "multiplexId"
        },
        "MultiplexProgramSettings": {
          "shape": "MultiplexProgramSettings",
          "locationName": "multiplexProgramSettings"
        },
        "ProgramName": {
          "shape": "__string",
          "locationName": "programName"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "idempotencyToken": true
        }
      },
      "required": [
        "MultiplexId",
        "RequestId",
        "MultiplexProgramSettings",
        "ProgramName"
      ]
    },
    "CreateMultiplexProgramResponse": {
      "type": "structure",
      "members": {
        "MultiplexProgram": {
          "shape": "MultiplexProgram",
          "locationName": "multiplexProgram"
        }
      }
    },
    "CreateMultiplexProgramResultModel": {
      "type": "structure",
      "members": {
        "MultiplexProgram": {
          "shape": "MultiplexProgram",
          "locationName": "multiplexProgram"
        }
      }
    },
    "CreateMultiplexRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "shape": "__listOf__string",
          "locationName": "availabilityZones"
        },
        "MultiplexSettings": {
          "shape": "MultiplexSettings",
          "locationName": "multiplexSettings"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "idempotencyToken": true
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        }
      },
      "required": [
        "RequestId",
        "MultiplexSettings",
        "AvailabilityZones",
        "Name"
      ]
    },
    "CreateMultiplexResponse": {
      "type": "structure",
      "members": {
        "Multiplex": {
          "shape": "Multiplex",
          "locationName": "multiplex"
        }
      }
    },
    "CreateMultiplexResultModel": {
      "type": "structure",
      "members": {
        "Multiplex": {
          "shape": "Multiplex",
          "locationName": "multiplex"
        }
      }
    },
    "CreateTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "resource-arn"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        }
      },
      "required": [
        "ResourceArn"
      ]
    },
    "DeleteChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "channelId"
        }
      },
      "required": [
        "ChannelId"
      ]
    },
    "DeleteChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn"
        },
        "CdiInputSpecification": {
          "shape": "CdiInputSpecification",
          "locationName": "cdiInputSpecification"
        },
        "ChannelClass": {
          "shape": "ChannelClass",
          "locationName": "channelClass"
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations"
        },
        "EgressEndpoints": {
          "shape": "__listOfChannelEgressEndpoint",
          "locationName": "egressEndpoints"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id"
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments"
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "LogLevel": {
          "shape": "LogLevel",
          "locationName": "logLevel"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
        },
        "PipelineDetails": {
          "shape": "__listOfPipelineDetail",
          "locationName": "pipelineDetails"
        },
        "PipelinesRunningCount": {
          "shape": "__integer",
          "locationName": "pipelinesRunningCount"
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn"
        },
        "State": {
          "shape": "ChannelState",
          "locationName": "state"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags"
        }
      }
    },
    "DeleteInputRequest": {
      "type": "structure",
      "members": {
        "InputId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputId"
        }
      },
      "required": [
        "InputId"
      ]
    },
    "DeleteInputResponse": {
      "type": "structure",
      "members": {
      }
    },
    "DeleteInputSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "InputSecurityGroupId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputSecurityGroupId"
        }
      },
      "required": [
        "InputSecurityGroupId"
      ]
    },
    "DeleteInputSecurityGroupResponse": {
      "type": "structure",
      "members": {
      }
    },
    "DeleteMultiplexProgramRequest": {
      "type": "structure",
      "members": {
        "MultiplexId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "multiplexId"
        },
        "ProgramName": {
          "shape": "__string",
          "location": "uri",
          "locationName": "programName"
        }
      },
      "required": [
        "MultiplexId",
        "ProgramName"
      ]
    },
    "DeleteMultiplexProgramResponse": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "shape": "__string",
          "locationName": "channelId"
        },
        "MultiplexProgramSettings": {
          "shape": "MultiplexProgramSettings",
          "locationName": "multiplexProgramSettings"
        },
        "PacketIdentifiersMap": {
          "shape": "MultiplexProgramPacketIdentifiersMap",
          "locationName": "packetIdentifiersMap"
        },
        "PipelineDetails": {
          "shape": "__listOfMultiplexProgramPipelineDetail",
          "locationName": "pipelineDetails"
        },
        "ProgramName": {
          "shape": "__string",
          "locationName": "programName"
        }
      }
    },
    "DeleteMultiplexRequest": {
      "type": "structure",
      "members": {
        "MultiplexId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "multiplexId"
        }
      },
      "required": [
        "MultiplexId"
      ]
    },
    "DeleteMultiplexResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn"
        },
        "AvailabilityZones": {
          "shape": "__listOf__string",
          "locationName": "availabilityZones"
        },
        "Destinations": {
          "shape": "__listOfMultiplexOutputDestination",
          "locationName": "destinations"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id"
        },
        "MultiplexSettings": {
          "shape": "MultiplexSettings",
          "locationName": "multiplexSettings"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name"
[...]
