# This file configures ngnix to serve Kubernetes binaries using http.
# The charms find the location path from the api relation to the charm.
server {
    listen 80 default_server;
    root %(alias)s;

    location %(web_uri)s {
        alias %(alias)s;
    }
}
