description "Kubernetes Scheduler"

start on runlevel [2345]
stop on runlevel [!2345]

limit nofile 20000 20000

kill timeout 30 # wait 30s between SIGTERM and SIGKILL.

exec /usr/local/bin/scheduler \
     --address=%(bind_address)s \
     --logtostderr=true \
     --master=%(api_server_address)s







