{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-11-27",
    "endpointPrefix":"comprehend",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Comprehend",
    "serviceId":"Comprehend",
    "signatureVersion":"v4",
    "signingName":"comprehend",
    "targetPrefix":"Comprehend_20171127",
    "uid":"comprehend-2017-11-27"
  },
  "operations":{
    "BatchDetectDominantLanguage":{
      "name":"BatchDetectDominantLanguage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectDominantLanguageRequest"},
      "output":{"shape":"BatchDetectDominantLanguageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "BatchDetectEntities":{
      "name":"BatchDetectEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectEntitiesRequest"},
      "output":{"shape":"BatchDetectEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "BatchDetectKeyPhrases":{
      "name":"BatchDetectKeyPhrases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectKeyPhrasesRequest"},
      "output":{"shape":"BatchDetectKeyPhrasesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "BatchDetectSentiment":{
      "name":"BatchDetectSentiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectSentimentRequest"},
      "output":{"shape":"BatchDetectSentimentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "BatchDetectSyntax":{
      "name":"BatchDetectSyntax",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectSyntaxRequest"},
      "output":{"shape":"BatchDetectSyntaxResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ClassifyDocument":{
      "name":"ClassifyDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ClassifyDocumentRequest"},
      "output":{"shape":"ClassifyDocumentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateDocumentClassifier":{
      "name":"CreateDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentClassifierRequest"},
      "output":{"shape":"CreateDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointRequest"},
      "output":{"shape":"CreateEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateEntityRecognizer":{
      "name":"CreateEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEntityRecognizerRequest"},
      "output":{"shape":"CreateEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteDocumentClassifier":{
      "name":"DeleteDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentClassifierRequest"},
      "output":{"shape":"DeleteDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointRequest"},
      "output":{"shape":"DeleteEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteEntityRecognizer":{
      "name":"DeleteEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEntityRecognizerRequest"},
      "output":{"shape":"DeleteEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeDocumentClassificationJob":{
      "name":"DescribeDocumentClassificationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentClassificationJobRequest"},
      "output":{"shape":"DescribeDocumentClassificationJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeDocumentClassifier":{
      "name":"DescribeDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentClassifierRequest"},
      "output":{"shape":"DescribeDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeDominantLanguageDetectionJob":{
      "name":"DescribeDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDominantLanguageDetectionJobRequest"},
      "output":{"shape":"DescribeDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointRequest"},
      "output":{"shape":"DescribeEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeEntitiesDetectionJob":{
      "name":"DescribeEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntitiesDetectionJobRequest"},
      "output":{"shape":"DescribeEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeEntityRecognizer":{
      "name":"DescribeEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntityRecognizerRequest"},
      "output":{"shape":"DescribeEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeKeyPhrasesDetectionJob":{
      "name":"DescribeKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"DescribeKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribePiiEntitiesDetectionJob":{
      "name":"DescribePiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePiiEntitiesDetectionJobRequest"},
      "output":{"shape":"DescribePiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeSentimentDetectionJob":{
      "name":"DescribeSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSentimentDetectionJobRequest"},
      "output":{"shape":"DescribeSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeTopicsDetectionJob":{
      "name":"DescribeTopicsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTopicsDetectionJobRequest"},
      "output":{"shape":"DescribeTopicsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DetectDominantLanguage":{
      "name":"DetectDominantLanguage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectDominantLanguageRequest"},
      "output":{"shape":"DetectDominantLanguageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DetectEntities":{
      "name":"DetectEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectEntitiesRequest"},
      "output":{"shape":"DetectEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DetectKeyPhrases":{
      "name":"DetectKeyPhrases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectKeyPhrasesRequest"},
      "output":{"shape":"DetectKeyPhrasesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DetectPiiEntities":{
      "name":"DetectPiiEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectPiiEntitiesRequest"},
      "output":{"shape":"DetectPiiEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DetectSentiment":{
      "name":"DetectSentiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectSentimentRequest"},
      "output":{"shape":"DetectSentimentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DetectSyntax":{
      "name":"DetectSyntax",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectSyntaxRequest"},
      "output":{"shape":"DetectSyntaxResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListDocumentClassificationJobs":{
      "name":"ListDocumentClassificationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentClassificationJobsRequest"},
      "output":{"shape":"ListDocumentClassificationJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListDocumentClassifiers":{
      "name":"ListDocumentClassifiers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentClassifiersRequest"},
      "output":{"shape":"ListDocumentClassifiersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListDominantLanguageDetectionJobs":{
      "name":"ListDominantLanguageDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDominantLanguageDetectionJobsRequest"},
      "output":{"shape":"ListDominantLanguageDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsRequest"},
      "output":{"shape":"ListEndpointsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListEntitiesDetectionJobs":{
      "name":"ListEntitiesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntitiesDetectionJobsRequest"},
      "output":{"shape":"ListEntitiesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListEntityRecognizers":{
      "name":"ListEntityRecognizers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntityRecognizersRequest"},
      "output":{"shape":"ListEntityRecognizersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListKeyPhrasesDetectionJobs":{
      "name":"ListKeyPhrasesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListKeyPhrasesDetectionJobsRequest"},
      "output":{"shape":"ListKeyPhrasesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListPiiEntitiesDetectionJobs":{
      "name":"ListPiiEntitiesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPiiEntitiesDetectionJobsRequest"},
      "output":{"shape":"ListPiiEntitiesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListSentimentDetectionJobs":{
      "name":"ListSentimentDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSentimentDetectionJobsRequest"},
      "output":{"shape":"ListSentimentDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTopicsDetectionJobs":{
      "name":"ListTopicsDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTopicsDetectionJobsRequest"},
      "output":{"shape":"ListTopicsDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartDocumentClassificationJob":{
      "name":"StartDocumentClassificationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDocumentClassificationJobRequest"},
      "output":{"shape":"StartDocumentClassificationJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartDominantLanguageDetectionJob":{
      "name":"StartDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDominantLanguageDetectionJobRequest"},
      "output":{"shape":"StartDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartEntitiesDetectionJob":{
      "name":"StartEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEntitiesDetectionJobRequest"},
      "output":{"shape":"StartEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartKeyPhrasesDetectionJob":{
      "name":"StartKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"StartKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartPiiEntitiesDetectionJob":{
      "name":"StartPiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartPiiEntitiesDetectionJobRequest"},
      "output":{"shape":"StartPiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartSentimentDetectionJob":{
      "name":"StartSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSentimentDetectionJobRequest"},
      "output":{"shape":"StartSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartTopicsDetectionJob":{
      "name":"StartTopicsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTopicsDetectionJobRequest"},
      "output":{"shape":"StartTopicsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopDominantLanguageDetectionJob":{
      "name":"StopDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDominantLanguageDetectionJobRequest"},
      "output":{"shape":"StopDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopEntitiesDetectionJob":{
      "name":"StopEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopEntitiesDetectionJobRequest"},
      "output":{"shape":"StopEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopKeyPhrasesDetectionJob":{
      "name":"StopKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"StopKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopPiiEntitiesDetectionJob":{
      "name":"StopPiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopPiiEntitiesDetectionJobRequest"},
      "output":{"shape":"StopPiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopSentimentDetectionJob":{
      "name":"StopSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopSentimentDetectionJobRequest"},
      "output":{"shape":"StopSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopTrainingDocumentClassifier":{
      "name":"StopTrainingDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingDocumentClassifierRequest"},
      "output":{"shape":"StopTrainingDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopTrainingEntityRecognizer":{
      "name":"StopTrainingEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingEntityRecognizerRequest"},
      "output":{"shape":"StopTrainingEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"TooManyTagKeysException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointRequest"},
      "output":{"shape":"UpdateEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"InternalServerException"}
      ]
    }
  },
  "shapes":{
    "AnyLengthString":{"type":"string"},
    "AttributeNamesList":{
      "type":"list",
      "member":{"shape":"AttributeNamesListItem"}
    },
    "AttributeNamesListItem":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "AugmentedManifestsListItem":{
      "type":"structure",
      "required":[
        "S3Uri",
        "AttributeNames"
      ],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "AttributeNames":{"shape":"AttributeNamesList"}
      }
    },
    "BatchDetectDominantLanguageItemResult":{
      "type":"structure",
      "members":{
        "Index":{"shape":"Integer"},
        "Languages":{"shape":"ListOfDominantLanguages"}
      }
    },
    "BatchDetectDominantLanguageRequest":{
      "type":"structure",
      "required":["TextList"],
      "members":{
        "TextList":{"shape":"CustomerInputStringList"}
      }
    },
    "BatchDetectDominantLanguageResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{"shape":"ListOfDetectDominantLanguageResult"},
        "ErrorList":{"shape":"BatchItemErrorList"}
      },
      "sensitive":true
    },
    "BatchDetectEntitiesItemResult":{
      "type":"structure",
      "members":{
        "Index":{"shape":"Integer"},
        "Entities":{"shape":"ListOfEntities"}
      }
    },
    "BatchDetectEntitiesRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{"shape":"CustomerInputStringList"},
        "LanguageCode":{"shape":"LanguageCode"}
      }
    },
    "BatchDetectEntitiesResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{"shape":"ListOfDetectEntitiesResult"},
        "ErrorList":{"shape":"BatchItemErrorList"}
      },
      "sensitive":true
    },
    "BatchDetectKeyPhrasesItemResult":{
      "type":"structure",
      "members":{
        "Index":{"shape":"Integer"},
        "KeyPhrases":{"shape":"ListOfKeyPhrases"}
      }
    },
    "BatchDetectKeyPhrasesRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{"shape":"CustomerInputStringList"},
        "LanguageCode":{"shape":"LanguageCode"}
      }
    },
    "BatchDetectKeyPhrasesResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{"shape":"ListOfDetectKeyPhrasesResult"},
        "ErrorList":{"shape":"BatchItemErrorList"}
      },
      "sensitive":true
    },
    "BatchDetectSentimentItemResult":{
      "type":"structure",
      "members":{
        "Index":{"shape":"Integer"},
        "Sentiment":{"shape":"SentimentType"},
        "SentimentScore":{"shape":"SentimentScore"}
      }
    },
    "BatchDetectSentimentRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{"shape":"CustomerInputStringList"},
        "LanguageCode":{"shape":"LanguageCode"}
      }
    },
    "BatchDetectSentimentResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{"shape":"ListOfDetectSentimentResult"},
        "ErrorList":{"shape":"BatchItemErrorList"}
      },
      "sensitive":true
    },
    "BatchDetectSyntaxItemResult":{
      "type":"structure",
      "members":{
        "Index":{"shape":"Integer"},
        "SyntaxTokens":{"shape":"ListOfSyntaxTokens"}
      }
    },
    "BatchDetectSyntaxRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{"shape":"CustomerInputStringList"},
        "LanguageCode":{"shape":"SyntaxLanguageCode"}
      }
    },
    "BatchDetectSyntaxResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{"shape":"ListOfDetectSyntaxResult"},
        "ErrorList":{"shape":"BatchItemErrorList"}
      },
      "sensitive":true
    },
    "BatchItemError":{
      "type":"structure",
      "members":{
        "Index":{"shape":"Integer"},
        "ErrorCode":{"shape":"String"},
        "ErrorMessage":{"shape":"String"}
      }
    },
    "BatchItemErrorList":{
      "type":"list",
      "member":{"shape":"BatchItemError"}
    },
    "BatchSizeLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ClassifierEvaluationMetrics":{
      "type":"structure",
      "members":{
        "Accuracy":{"shape":"Double"},
        "Precision":{"shape":"Double"},
        "Recall":{"shape":"Double"},
        "F1Score":{"shape":"Double"},
        "MicroPrecision":{"shape":"Double"},
        "MicroRecall":{"shape":"Double"},
        "MicroF1Score":{"shape":"Double"},
        "HammingLoss":{"shape":"Double"}
      }
    },
    "ClassifierMetadata":{
      "type":"structure",
      "members":{
        "NumberOfLabels":{"shape":"Integer"},
        "NumberOfTrainedDocuments":{"shape":"Integer"},
        "NumberOfTestDocuments":{"shape":"Integer"},
        "EvaluationMetrics":{"shape":"ClassifierEvaluationMetrics"}
      },
      "sensitive":true
    },
    "ClassifyDocumentRequest":{
      "type":"structure",
      "required":[
        "Text",
        "EndpointArn"
      ],
      "members":{
        "Text":{"shape":"CustomerInputString"},
        "EndpointArn":{"shape":"DocumentClassifierEndpointArn"}
      }
    },
    "ClassifyDocumentResponse":{
      "type":"structure",
      "members":{
        "Classes":{"shape":"ListOfClasses"},
        "Labels":{"shape":"ListOfLabels"}
      },
      "sensitive":true
    },
    "ClientRequestTokenString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9-]+$"
    },
    "ComprehendArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-]{1,64}/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ComprehendArnName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
    },
    "ComprehendEndpointArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier-endpoint|entity-recognizer-endpoint)/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ComprehendEndpointName":{
      "type":"string",
      "max":40,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
    },
    "ComprehendModelArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier|entity-recognizer)/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "CreateDocumentClassifierRequest":{
      "type":"structure",
      "required":[
        "DocumentClassifierName",
        "DataAccessRoleArn",
        "InputDataConfig",
        "LanguageCode"
      ],
      "members":{
        "DocumentClassifierName":{"shape":"ComprehendArnName"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "Tags":{"shape":"TagList"},
        "InputDataConfig":{"shape":"DocumentClassifierInputDataConfig"},
        "OutputDataConfig":{"shape":"DocumentClassifierOutputDataConfig"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "LanguageCode":{"shape":"LanguageCode"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"},
        "Mode":{"shape":"DocumentClassifierMode"}
      }
    },
    "CreateDocumentClassifierResponse":{
      "type":"structure",
      "members":{
        "DocumentClassifierArn":{"shape":"DocumentClassifierArn"}
      }
    },
    "CreateEndpointRequest":{
      "type":"structure",
      "required":[
        "EndpointName",
        "ModelArn",
        "DesiredInferenceUnits"
      ],
      "members":{
        "EndpointName":{"shape":"ComprehendEndpointName"},
        "ModelArn":{"shape":"ComprehendModelArn"},
        "DesiredInferenceUnits":{"shape":"InferenceUnitsInteger"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEndpointResponse":{
      "type":"structure",
      "members":{
        "EndpointArn":{"shape":"ComprehendEndpointArn"}
      }
    },
    "CreateEntityRecognizerRequest":{
      "type":"structure",
      "required":[
        "RecognizerName",
        "DataAccessRoleArn",
        "InputDataConfig",
        "LanguageCode"
      ],
      "members":{
        "RecognizerName":{"shape":"ComprehendArnName"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "Tags":{"shape":"TagList"},
        "InputDataConfig":{"shape":"EntityRecognizerInputDataConfig"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "LanguageCode":{"shape":"LanguageCode"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "CreateEntityRecognizerResponse":{
      "type":"structure",
      "members":{
        "EntityRecognizerArn":{"shape":"EntityRecognizerArn"}
      }
    },
    "CustomerInputString":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "CustomerInputStringList":{
      "type":"list",
      "member":{"shape":"CustomerInputString"},
      "sensitive":true
    },
    "DeleteDocumentClassifierRequest":{
      "type":"structure",
      "required":["DocumentClassifierArn"],
      "members":{
        "DocumentClassifierArn":{"shape":"DocumentClassifierArn"}
      }
    },
    "DeleteDocumentClassifierResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteEndpointRequest":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{"shape":"ComprehendEndpointArn"}
      }
    },
    "DeleteEndpointResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteEntityRecognizerRequest":{
      "type":"structure",
      "required":["EntityRecognizerArn"],
      "members":{
        "EntityRecognizerArn":{"shape":"EntityRecognizerArn"}
      }
    },
    "DeleteEntityRecognizerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeDocumentClassificationJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribeDocumentClassificationJobResponse":{
      "type":"structure",
      "members":{
        "DocumentClassificationJobProperties":{"shape":"DocumentClassificationJobProperties"}
      }
    },
    "DescribeDocumentClassifierRequest":{
      "type":"structure",
      "required":["DocumentClassifierArn"],
      "members":{
        "DocumentClassifierArn":{"shape":"DocumentClassifierArn"}
      }
    },
    "DescribeDocumentClassifierResponse":{
      "type":"structure",
      "members":{
        "DocumentClassifierProperties":{"shape":"DocumentClassifierProperties"}
      }
    },
    "DescribeDominantLanguageDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribeDominantLanguageDetectionJobResponse":{
      "type":"structure",
      "members":{
        "DominantLanguageDetectionJobProperties":{"shape":"DominantLanguageDetectionJobProperties"}
      }
    },
    "DescribeEndpointRequest":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{"shape":"ComprehendEndpointArn"}
      }
    },
    "DescribeEndpointResponse":{
      "type":"structure",
      "members":{
        "EndpointProperties":{"shape":"EndpointProperties"}
      }
    },
    "DescribeEntitiesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribeEntitiesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "EntitiesDetectionJobProperties":{"shape":"EntitiesDetectionJobProperties"}
      }
    },
    "DescribeEntityRecognizerRequest":{
      "type":"structure",
      "required":["EntityRecognizerArn"],
      "members":{
        "EntityRecognizerArn":{"shape":"EntityRecognizerArn"}
      }
    },
    "DescribeEntityRecognizerResponse":{
      "type":"structure",
      "members":{
        "EntityRecognizerProperties":{"shape":"EntityRecognizerProperties"}
      }
    },
    "DescribeKeyPhrasesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribeKeyPhrasesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "KeyPhrasesDetectionJobProperties":{"shape":"KeyPhrasesDetectionJobProperties"}
      }
    },
    "DescribePiiEntitiesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribePiiEntitiesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "PiiEntitiesDetectionJobProperties":{"shape":"PiiEntitiesDetectionJobProperties"}
      }
    },
    "DescribeSentimentDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribeSentimentDetectionJobResponse":{
      "type":"structure",
      "members":{
        "SentimentDetectionJobProperties":{"shape":"SentimentDetectionJobProperties"}
      }
    },
    "DescribeTopicsDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribeTopicsDetectionJobResponse":{
      "type":"structure",
      "members":{
        "TopicsDetectionJobProperties":{"shape":"TopicsDetectionJobProperties"}
      }
    },
    "DetectDominantLanguageRequest":{
      "type":"structure",
      "required":["Text"],
      "members":{
        "Text":{"shape":"CustomerInputString"}
      }
    },
    "DetectDominantLanguageResponse":{
      "type":"structure",
      "members":{
        "Languages":{"shape":"ListOfDominantLanguages"}
      },
      "sensitive":true
    },
    "DetectEntitiesRequest":{
      "type":"structure",
      "required":["Text"],
      "members":{
        "Text":{"shape":"CustomerInputString"},
        "LanguageCode":{"shape":"LanguageCode"},
        "EndpointArn":{"shape":"EntityRecognizerEndpointArn"}
      }
    },
    "DetectEntitiesResponse":{
      "type":"structure",
      "members":{
        "Entities":{"shape":"ListOfEntities"}
      },
      "sensitive":true
    },
    "DetectKeyPhrasesRequest":{
      "type":"structure",
      "required":[
        "Text",
        "LanguageCode"
      ],
      "members":{
        "Text":{"shape":"CustomerInputString"},
        "LanguageCode":{"shape":"LanguageCode"}
      }
    },
    "DetectKeyPhrasesResponse":{
      "type":"structure",
      "members":{
        "KeyPhrases":{"shape":"ListOfKeyPhrases"}
      },
      "sensitive":true
    },
    "DetectPiiEntitiesRequest":{
      "type":"structure",
      "required":[
        "Text",
        "LanguageCode"
      ],
      "members":{
        "Text":{"shape":"String"},
        "LanguageCode":{"shape":"LanguageCode"}
      }
    },
    "DetectPiiEntitiesResponse":{
      "type":"structure",
      "members":{
        "Entities":{"shape":"ListOfPiiEntities"}
      }
    },
    "DetectSentimentRequest":{
      "type":"structure",
      "required":[
        "Text",
        "LanguageCode"
      ],
      "members":{
        "Text":{"shape":"CustomerInputString"},
        "LanguageCode":{"shape":"LanguageCode"}
      }
    },
    "DetectSentimentResponse":{
      "type":"structure",
      "members":{
        "Sentiment":{"shape":"SentimentType"},
        "SentimentScore":{"shape":"SentimentScore"}
      },
      "sensitive":true
    },
    "DetectSyntaxRequest":{
      "type":"structure",
      "required":[
        "Text",
        "LanguageCode"
      ],
      "members":{
        "Text":{"shape":"CustomerInputString"},
        "LanguageCode":{"shape":"SyntaxLanguageCode"}
      }
    },
    "DetectSyntaxResponse":{
      "type":"structure",
      "members":{
        "SyntaxTokens":{"shape":"ListOfSyntaxTokens"}
      },
      "sensitive":true
    },
    "DocumentClass":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "Score":{"shape":"Float"}
      }
    },
    "DocumentClassificationJobFilter":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "DocumentClassificationJobProperties":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "DocumentClassifierArn":{"shape":"DocumentClassifierArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "DocumentClassificationJobPropertiesList":{
      "type":"list",
      "member":{"shape":"DocumentClassificationJobProperties"}
    },
    "DocumentClassifierArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:document-classifier/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "DocumentClassifierAugmentedManifestsList":{
      "type":"list",
      "member":{"shape":"AugmentedManifestsListItem"}
    },
    "DocumentClassifierDataFormat":{
      "type":"string",
      "enum":[
        "COMPREHEND_CSV",
        "AUGMENTED_MANIFEST"
      ]
    },
    "DocumentClassifierEndpointArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:document-classifier-endpoint/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "DocumentClassifierFilter":{
      "type":"structure",
      "members":{
        "Status":{"shape":"ModelStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "DocumentClassifierInputDataConfig":{
      "type":"structure",
      "members":{
        "DataFormat":{"shape":"DocumentClassifierDataFormat"},
        "S3Uri":{"shape":"S3Uri"},
        "LabelDelimiter":{"shape":"LabelDelimiter"},
        "AugmentedManifests":{"shape":"DocumentClassifierAugmentedManifestsList"}
      }
    },
    "DocumentClassifierMode":{
      "type":"string",
      "enum":[
        "MULTI_CLASS",
        "MULTI_LABEL"
      ]
    },
    "DocumentClassifierOutputDataConfig":{
      "type":"structure",
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "DocumentClassifierProperties":{
      "type":"structure",
      "members":{
        "DocumentClassifierArn":{"shape":"DocumentClassifierArn"},
        "LanguageCode":{"shape":"LanguageCode"},
        "Status":{"shape":"ModelStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "TrainingStartTime":{"shape":"Timestamp"},
        "TrainingEndTime":{"shape":"Timestamp"},
        "InputDataConfig":{"shape":"DocumentClassifierInputDataConfig"},
        "OutputDataConfig":{"shape":"DocumentClassifierOutputDataConfig"},
        "ClassifierMetadata":{"shape":"ClassifierMetadata"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"},
        "Mode":{"shape":"DocumentClassifierMode"}
      }
    },
    "DocumentClassifierPropertiesList":{
      "type":"list",
      "member":{"shape":"DocumentClassifierProperties"}
    },
    "DocumentLabel":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "Score":{"shape":"Float"}
      }
    },
    "DominantLanguage":{
      "type":"structure",
      "members":{
        "LanguageCode":{"shape":"String"},
        "Score":{"shape":"Float"}
      }
    },
    "DominantLanguageDetectionJobFilter":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "DominantLanguageDetectionJobProperties":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "DominantLanguageDetectionJobPropertiesList":{
      "type":"list",
      "member":{"shape":"DominantLanguageDetectionJobProperties"}
    },
    "Double":{"type":"double"},
    "EndpointFilter":{
      "type":"structure",
      "members":{
        "ModelArn":{"shape":"ComprehendModelArn"},
        "Status":{"shape":"EndpointStatus"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "CreationTimeAfter":{"shape":"Timestamp"}
      }
    },
    "EndpointProperties":{
      "type":"structure",
      "members":{
        "EndpointArn":{"shape":"ComprehendEndpointArn"},
        "Status":{"shape":"EndpointStatus"},
        "Message":{"shape":"AnyLengthString"},
        "ModelArn":{"shape":"ComprehendModelArn"},
        "DesiredInferenceUnits":{"shape":"InferenceUnitsInteger"},
        "CurrentInferenceUnits":{"shape":"InferenceUnitsInteger"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "EndpointPropertiesList":{
      "type":"list",
      "member":{"shape":"EndpointProperties"}
    },
    "EndpointStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "DELETING",
        "FAILED",
        "IN_SERVICE",
        "UPDATING"
      ]
    },
    "EntitiesDetectionJobFilter":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "EntitiesDetectionJobProperties":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "EntityRecognizerArn":{"shape":"EntityRecognizerArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "LanguageCode":{"shape":"LanguageCode"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "EntitiesDetectionJobPropertiesList":{
      "type":"list",
      "member":{"shape":"EntitiesDetectionJobProperties"}
    },
    "Entity":{
      "type":"structure",
      "members":{
        "Score":{"shape":"Float"},
        "Type":{"shape":"EntityType"},
        "Text":{"shape":"String"},
        "BeginOffset":{"shape":"Integer"},
        "EndOffset":{"shape":"Integer"}
      }
    },
    "EntityRecognizerAnnotations":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"}
      }
    },
    "EntityRecognizerArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:entity-recognizer/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "EntityRecognizerAugmentedManifestsList":{
      "type":"list",
      "member":{"shape":"AugmentedManifestsListItem"}
    },
    "EntityRecognizerDataFormat":{
      "type":"string",
      "enum":[
        "COMPREHEND_CSV",
        "AUGMENTED_MANIFEST"
      ]
    },
    "EntityRecognizerDocuments":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"}
      }
    },
    "EntityRecognizerEndpointArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:entity-recognizer-endpoint/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "EntityRecognizerEntityList":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"}
      }
    },
    "EntityRecognizerEvaluationMetrics":{
      "type":"structure",
      "members":{
        "Precision":{"shape":"Double"},
        "Recall":{"shape":"Double"},
        "F1Score":{"shape":"Double"}
      }
    },
    "EntityRecognizerFilter":{
      "type":"structure",
      "members":{
        "Status":{"shape":"ModelStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "EntityRecognizerInputDataConfig":{
      "type":"structure",
      "required":["EntityTypes"],
      "members":{
        "DataFormat":{"shape":"EntityRecognizerDataFormat"},
        "EntityTypes":{"shape":"EntityTypesList"},
        "Documents":{"shape":"EntityRecognizerDocuments"},
        "Annotations":{"shape":"EntityRecognizerAnnotations"},
        "EntityList":{"shape":"EntityRecognizerEntityList"},
        "AugmentedManifests":{"shape":"EntityRecognizerAugmentedManifestsList"}
      }
    },
    "EntityRecognizerMetadata":{
      "type":"structure",
      "members":{
        "NumberOfTrainedDocuments":{"shape":"Integer"},
        "NumberOfTestDocuments":{"shape":"Integer"},
        "EvaluationMetrics":{"shape":"EntityRecognizerEvaluationMetrics"},
        "EntityTypes":{"shape":"EntityRecognizerMetadataEntityTypesList"}
      },
      "sensitive":true
    },
    "EntityRecognizerMetadataEntityTypesList":{
      "type":"list",
      "member":{"shape":"EntityRecognizerMetadataEntityTypesListItem"}
    },
    "EntityRecognizerMetadataEntityTypesListItem":{
      "type":"structure",
      "members":{
        "Type":{"shape":"AnyLengthString"},
        "EvaluationMetrics":{"shape":"EntityTypesEvaluationMetrics"},
        "NumberOfTrainMentions":{"shape":"Integer"}
      }
    },
    "EntityRecognizerProperties":{
      "type":"structure",
      "members":{
        "EntityRecognizerArn":{"shape":"EntityRecognizerArn"},
        "LanguageCode":{"shape":"LanguageCode"},
        "Status":{"shape":"ModelStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "TrainingStartTime":{"shape":"Timestamp"},
        "TrainingEndTime":{"shape":"Timestamp"},
        "InputDataConfig":{"shape":"EntityRecognizerInputDataConfig"},
        "RecognizerMetadata":{"shape":"EntityRecognizerMetadata"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "EntityRecognizerPropertiesList":{
      "type":"list",
      "member":{"shape":"EntityRecognizerProperties"}
    },
    "EntityType":{
      "type":"string",
      "enum":[
        "PERSON",
        "LOCATION",
        "ORGANIZATION",
        "COMMERCIAL_ITEM",
        "EVENT",
        "DATE",
        "QUANTITY",
        "TITLE",
        "OTHER"
      ]
    },
    "EntityTypeName":{
      "type":"string",
      "max":64,
      "pattern":"^(?:(?!\\\\n+|\\\\t+|\\\\r+|[\\r\\t\\n\\s,]).)+$"
    },
    "EntityTypesEvaluationMetrics":{
      "type":"structure",
      "members":{
        "Precision":{"shape":"Double"},
        "Recall":{"shape":"Double"},
        "F1Score":{"shape":"Double"}
      }
    },
    "EntityTypesList":{
      "type":"list",
      "member":{"shape":"EntityTypesListItem"}
    },
    "EntityTypesListItem":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{"shape":"EntityTypeName"}
      }
    },
    "Float":{"type":"float"},
    "IamRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+"
    },
    "InferenceUnitsInteger":{
      "type":"integer",
      "min":1
    },
    "InputDataConfig":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "InputFormat":{"shape":"InputFormat"}
      }
    },
    "InputFormat":{
      "type":"string",
      "enum":[
        "ONE_DOC_PER_FILE",
        "ONE_DOC_PER_LINE"
      ]
    },
    "Integer":{"type":"integer"},
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true,
      "fault":true
    },
    "InvalidFilterException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "JobId":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "JobName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "JobNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "JobStatus":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "STOP_REQUESTED",
        "STOPPED"
      ]
    },
    "KeyPhrase":{
      "type":"structure",
      "members":{
        "Score":{"shape":"Float"},
        "Text":{"shape":"String"},
        "BeginOffset":{"shape":"Integer"},
        "EndOffset":{"shape":"Integer"}
      }
    },
    "KeyPhrasesDetectionJobFilter":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "KeyPhrasesDetectionJobProperties":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "LanguageCode":{"shape":"LanguageCode"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "KeyPhrasesDetectionJobPropertiesList":{
      "type":"list",
      "member":{"shape":"KeyPhrasesDetectionJobProperties"}
    },
    "KmsKeyId":{
      "type":"string",
      "max":2048
    },
    "KmsKeyValidationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "LabelDelimiter":{
      "type":"string",
      "max":1,
      "min":1,
      "pattern":"^[ ~!@#$%^*\\-_+=|\\\\:;\\t>?/]$"
    },
    "LanguageCode":{
      "type":"string",
      "enum":[
        "en",
        "es",
        "fr",
        "de",
        "it",
        "pt",
        "ar",
        "hi",
        "ja",
        "ko",
        "zh",
        "zh-TW"
      ]
    },
    "ListDocumentClassificationJobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"DocumentClassificationJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListDocumentClassificationJobsResponse":{
      "type":"structure",
      "members":{
        "DocumentClassificationJobPropertiesList":{"shape":"DocumentClassificationJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListDocumentClassifiersRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"DocumentClassifierFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListDocumentClassifiersResponse":{
      "type":"structure",
      "members":{
        "DocumentClassifierPropertiesList":{"shape":"DocumentClassifierPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListDominantLanguageDetectionJobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"DominantLanguageDetectionJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListDominantLanguageDetectionJobsResponse":{
      "type":"structure",
      "members":{
        "DominantLanguageDetectionJobPropertiesList":{"shape":"DominantLanguageDetectionJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListEndpointsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"EndpointFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListEndpointsResponse":{
      "type":"structure",
      "members":{
        "EndpointPropertiesList":{"shape":"EndpointPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListEntitiesDetectionJobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"EntitiesDetectionJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListEntitiesDetectionJobsResponse":{
      "type":"structure",
      "members":{
        "EntitiesDetectionJobPropertiesList":{"shape":"EntitiesDetectionJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListEntityRecognizersRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"EntityRecognizerFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListEntityRecognizersResponse":{
      "type":"structure",
      "members":{
        "EntityRecognizerPropertiesList":{"shape":"EntityRecognizerPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListKeyPhrasesDetectionJobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"KeyPhrasesDetectionJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListKeyPhrasesDetectionJobsResponse":{
      "type":"structure",
      "members":{
        "KeyPhrasesDetectionJobPropertiesList":{"shape":"KeyPhrasesDetectionJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListOfClasses":{
      "type":"list",
      "member":{"shape":"DocumentClass"}
    },
    "ListOfDetectDominantLanguageResult":{
      "type":"list",
      "member":{"shape":"BatchDetectDominantLanguageItemResult"}
    },
    "ListOfDetectEntitiesResult":{
      "type":"list",
      "member":{"shape":"BatchDetectEntitiesItemResult"}
    },
    "ListOfDetectKeyPhrasesResult":{
      "type":"list",
      "member":{"shape":"BatchDetectKeyPhrasesItemResult"}
    },
    "ListOfDetectSentimentResult":{
      "type":"list",
      "member":{"shape":"BatchDetectSentimentItemResult"}
    },
    "ListOfDetectSyntaxResult":{
      "type":"list",
      "member":{"shape":"BatchDetectSyntaxItemResult"}
    },
    "ListOfDominantLanguages":{
      "type":"list",
      "member":{"shape":"DominantLanguage"}
    },
    "ListOfEntities":{
      "type":"list",
      "member":{"shape":"Entity"}
    },
    "ListOfKeyPhrases":{
      "type":"list",
      "member":{"shape":"KeyPhrase"}
    },
    "ListOfLabels":{
      "type":"list",
      "member":{"shape":"DocumentLabel"}
    },
    "ListOfPiiEntities":{
      "type":"list",
      "member":{"shape":"PiiEntity"}
    },
    "ListOfPiiEntityTypes":{
      "type":"list",
      "member":{"shape":"PiiEntityType"}
    },
    "ListOfSyntaxTokens":{
      "type":"list",
      "member":{"shape":"SyntaxToken"}
    },
    "ListPiiEntitiesDetectionJobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"PiiEntitiesDetectionJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListPiiEntitiesDetectionJobsResponse":{
      "type":"structure",
      "members":{
        "PiiEntitiesDetectionJobPropertiesList":{"shape":"PiiEntitiesDetectionJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListSentimentDetectionJobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"SentimentDetectionJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListSentimentDetectionJobsResponse":{
      "type":"structure",
      "members":{
        "SentimentDetectionJobPropertiesList":{"shape":"SentimentDetectionJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{"shape":"ComprehendArn"}
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "ResourceArn":{"shape":"ComprehendArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "ListTopicsDetectionJobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"TopicsDetectionJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListTopicsDetectionJobsResponse":{
      "type":"structure",
      "members":{
        "TopicsDetectionJobPropertiesList":{"shape":"TopicsDetectionJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "MaskCharacter":{
      "type":"string",
      "max":1,
      "min":1,
      "pattern":"[!@#$%&*]"
    },
    "MaxResultsInteger":{
      "type":"integer",
      "max":500,
      "min":1
    },
    "ModelStatus":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "TRAINING",
        "DELETING",
        "STOP_REQUESTED",
        "STOPPED",
        "IN_ERROR",
        "TRAINED"
      ]
    },
    "NumberOfTopicsInteger":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "OutputDataConfig":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "PartOfSpeechTag":{
      "type":"structure",
      "members":{
        "Tag":{"shape":"PartOfSpeechTagType"},
        "Score":{"shape":"Float"}
      }
    },
    "PartOfSpeechTagType":{
      "type":"string",
      "enum":[
        "ADJ",
        "ADP",
        "ADV",
        "AUX",
        "CONJ",
        "CCONJ",
        "DET",
        "INTJ",
        "NOUN",
        "NUM",
        "O",
        "PART",
        "PRON",
        "PROPN",
        "PUNCT",
        "SCONJ",
        "SYM",
        "VERB"
      ]
    },
    "PiiEntitiesDetectionJobFilter":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "PiiEntitiesDetectionJobProperties":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"PiiOutputDataConfig"},
        "RedactionConfig":{"shape":"RedactionConfig"},
        "LanguageCode":{"shape":"LanguageCode"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "Mode":{"shape":"PiiEntitiesDetectionMode"}
      }
    },
    "PiiEntitiesDetectionJobPropertiesList":{
      "type":"list",
      "member":{"shape":"PiiEntitiesDetectionJobProperties"}
    },
    "PiiEntitiesDetectionMaskMode":{
      "type":"string",
      "enum":[
        "MASK",
        "REPLACE_WITH_PII_ENTITY_TYPE"
      ]
    },
    "PiiEntitiesDetectionMode":{
      "type":"string",
      "enum":[
        "ONLY_REDACTION",
        "ONLY_OFFSETS"
      ]
    },
    "PiiEntity":{
      "type":"structure",
      "members":{
        "Score":{"shape":"Float"},
        "Type":{"shape":"PiiEntityType"},
        "BeginOffset":{"shape":"Integer"},
        "EndOffset":{"shape":"Integer"}
      }
    },
    "PiiEntityType":{
      "type":"string",
      "enum":[
        "BANK_ACCOUNT_NUMBER",
        "BANK_ROUTING",
        "CREDIT_DEBIT_NUMBER",
        "CREDIT_DEBIT_CVV",
        "CREDIT_DEBIT_EXPIRY",
        "PIN",
        "EMAIL",
        "ADDRESS",
        "NAME",
        "PHONE",
        "SSN",
        "DATE_TIME",
        "PASSPORT_NUMBER",
        "DRIVER_ID",
        "URL",
        "AGE",
        "USERNAME",
        "PASSWORD",
        "AWS_ACCESS_KEY",
        "AWS_SECRET_KEY",
        "IP_ADDRESS",
        "MAC_ADDRESS",
        "ALL"
      ]
    },
    "PiiOutputDataConfig":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "RedactionConfig":{
      "type":"structure",
      "members":{
        "PiiEntityTypes":{"shape":"ListOfPiiEntityTypes"},
        "MaskMode":{"shape":"PiiEntitiesDetectionMaskMode"},
        "MaskCharacter":{"shape":"MaskCharacter"}
      }
    },
    "ResourceInUseException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ResourceLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ResourceUnavailableException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "S3Uri":{
      "type":"string",
      "max":1024,
      "pattern":"s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?"
    },
    "SecurityGroupId":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[-0-9a-zA-Z]+"
    },
    "SecurityGroupIds":{
      "type":"list",
      "member":{"shape":"SecurityGroupId"},
      "max":5,
      "min":1
    },
    "SentimentDetectionJobFilter":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "SentimentDetectionJobProperties":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "LanguageCode":{"shape":"LanguageCode"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "SentimentDetectionJobPropertiesList":{
      "type":"list",
      "member":{"shape":"SentimentDetectionJobProperties"}
    },
    "SentimentScore":{
      "type":"structure",
      "members":{
        "Positive":{"shape":"Float"},
        "Negative":{"shape":"Float"},
        "Neutral":{"shape":"Float"},
        "Mixed":{"shape":"Float"}
      }
    },
    "SentimentType":{
      "type":"string",
      "enum":[
        "POSITIVE",
        "NEGATIVE",
        "NEUTRAL",
        "MIXED"
      ]
    },
    "StartDocumentClassificationJobRequest":{
      "type":"structure",
      "required":[
        "DocumentClassifierArn",
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn"
      ],
      "members":{
        "JobName":{"shape":"JobName"},
        "DocumentClassifierArn":{"shape":"DocumentClassifierArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "StartDocumentClassificationJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StartDominantLanguageDetectionJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn"
      ],
      "members":{
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "JobName":{"shape":"JobName"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "StartDominantLanguageDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StartEntitiesDetectionJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "LanguageCode"
      ],
      "members":{
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "JobName":{"shape":"JobName"},
        "EntityRecognizerArn":{"shape":"EntityRecognizerArn"},
        "LanguageCode":{"shape":"LanguageCode"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "StartEntitiesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StartKeyPhrasesDetectionJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "LanguageCode"
      ],
      "members":{
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "JobName":{"shape":"JobName"},
        "LanguageCode":{"shape":"LanguageCode"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "StartKeyPhrasesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StartPiiEntitiesDetectionJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "Mode",
        "DataAccessRoleArn",
        "LanguageCode"
      ],
      "members":{
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "Mode":{"shape":"PiiEntitiesDetectionMode"},
        "RedactionConfig":{"shape":"RedactionConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "JobName":{"shape":"JobName"},
        "LanguageCode":{"shape":"LanguageCode"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        }
      }
    },
    "StartPiiEntitiesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StartSentimentDetectionJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "LanguageCode"
      ],
      "members":{
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "JobName":{"shape":"JobName"},
        "LanguageCode":{"shape":"LanguageCode"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "StartSentimentDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StartTopicsDetectionJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn"
      ],
      "members":{
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "JobName":{"shape":"JobName"},
        "NumberOfTopics":{"shape":"NumberOfTopicsInteger"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "StartTopicsDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StopDominantLanguageDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopDominantLanguageDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StopEntitiesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopEntitiesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StopKeyPhrasesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopKeyPhrasesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StopPiiEntitiesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopPiiEntitiesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StopSentimentDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopSentimentDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobStatus":{"shape":"JobStatus"}
      }
    },
    "StopTrainingDocumentClassifierRequest":{
      "type":"structure",
      "required":["DocumentClassifierArn"],
      "members":{
        "DocumentClassifierArn":{"shape":"DocumentClassifierArn"}
      }
    },
    "StopTrainingDocumentClassifierResponse":{
      "type":"structure",
      "members":{
      }
    },
    "StopTrainingEntityRecognizerRequest":{
      "type":"structure",
      "required":["EntityRecognizerArn"],
      "members":{
        "EntityRecognizerArn":{"shape":"EntityRecognizerArn"}
      }
    },
    "StopTrainingEntityRecognizerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "String":{
      "type":"string",
      "min":1
    },
    "SubnetId":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[-0-9a-zA-Z]+"
    },
    "Subnets":{
      "type":"list",
      "member":{"shape":"SubnetId"},
      "max":16,
      "min":1
    },
    "SyntaxLanguageCode":{
      "type":"string",
      "enum":[
        "en",
        "es",
        "fr",
        "de",
        "it",
        "pt"
      ]
    },
    "SyntaxToken":{
      "type":"structure",
      "members":{
        "TokenId":{"shape":"Integer"},
        "Text":{"shape":"String"},
        "BeginOffset":{"shape":"Integer"},
        "EndOffset":{"shape":"Integer"},
        "PartOfSpeech":{"shape":"PartOfSpeechTag"}
      }
    },
    "Tag":{
      "type":"structure",
      "required":["Key"],
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"}
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"}
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{"shape":"ComprehendArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "TextSizeLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "TooManyRequestsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "TooManyTagKeysException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "TooManyTagsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "TopicsDetectionJobFilter":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "TopicsDetectionJobProperties":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "NumberOfTopics":{"shape":"Integer"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "TopicsDetectionJobPropertiesList":{
      "type":"list",
      "member":{"shape":"TopicsDetectionJobProperties"}
    },
    "UnsupportedLanguageException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{"shape":"ComprehendArn"},
        "TagKeys":{"shape":"TagKeyList"}
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateEndpointRequest":{
      "type":"structure",
      "required":[
        "EndpointArn",
        "DesiredInferenceUnits"
      ],
      "members":{
        "EndpointArn":{"shape":"ComprehendEndpointArn"},
        "DesiredInferenceUnits":{"shape":"InferenceUnitsInteger"}
      }
    },
    "UpdateEndpointResponse":{
      "type":"structure",
      "members":{
      }
    },
    "VpcConfig":{
      "type":"structure",
      "required":[
        "SecurityGroupIds",
        "Subnets"
      ],
      "members":{
        "SecurityGroupIds":{"shape":"SecurityGroupIds"},
        "Subnets":{"shape":"Subnets"}
      }
    }
  }
}
