---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table38storageentitysuitetestins"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Oh0YpunWtzbcxt4V3JMBnrQ+lfS3XvwDoMqK3npRZSA=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:04 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table38storageentitysuitetestins')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table38storageentitysuitetestins')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Skywalker","HasEpicTheme":true,"Name":"Anakin","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:3vmTb+x20lwDQxphiOYY2VtAM6T64vnqWN+bnCDBsM0=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:04 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table38storageentitysuitetestins%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2019-05-28T22%3A36%3A04.1257646Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Organa","HasAwesomeDress":true,"Name":"Leia","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:3vmTb+x20lwDQxphiOYY2VtAM6T64vnqWN+bnCDBsM0=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:04 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table38storageentitysuitetestins%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2019-05-28T22%3A36%3A04.134771Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:ZfJ3VxLesoqgqYYx69Np2j1lSSXnKc4BwDdCnV98A+o=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:04 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table38storageentitysuitetestins%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
