---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table36storageentitysuitetestins"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Oh0YpunWtzbcxt4V3JMBnrQ+lfS3XvwDoMqK3npRZSA=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:04 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table36storageentitysuitetestins')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table36storageentitysuitetestins')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"FamilyName":"Skywalker","Name":"Luke","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:gx2Cr5EKVmdnhb/z3cLFlqRQAo4NAyf5xDIBlYyhcio=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:04 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table36storageentitysuitetestins%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: MERGE
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2019-05-28T22%3A36%3A04.071727Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"Father":"Anakin","Mentor":"Yoda","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:gx2Cr5EKVmdnhb/z3cLFlqRQAo4NAyf5xDIBlYyhcio=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:04 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table36storageentitysuitetestins%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
    method: MERGE
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2019-05-28T22%3A36%3A04.0817336Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:5QCiDwI8qRh9nB7nbmi0vfwnZla9vm+AonI5iN9mSDs=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:04 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table36storageentitysuitetestins%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
