# Code owners file.
# This file controls who is tagged for review for any given pull request.

# For anything not explicitly taken by someone else:
*               @census-instrumentation/global-owners @rakyll @rghetia 

