{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "View and manage Google Drive files and folders that you have opened or created with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://sheets.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Sheets",
  "description": "Reads and writes Google Sheets.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/sheets/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "sheets:v4",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
  "name": "sheets",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "spreadsheets": {
      "methods": {
        "batchUpdate": {
          "description": "Applies one or more updates to the spreadsheet.\n\nEach request is validated before\nbeing applied. If any request is not valid then the entire request will\nfail and nothing will be applied.\n\nSome requests have replies to\ngive you some information about how\nthey are applied. The replies will mirror the requests.  For example,\nif you applied 4 updates and the 3rd one had a reply, then the\nresponse will have 2 empty replies, the actual reply, and another empty\nreply, in that order.\n\nDue to the collaborative nature of spreadsheets, it is not guaranteed that\nthe spreadsheet will reflect exactly your changes after this completes,\nhowever it is guaranteed that the updates in the request will be\napplied together atomically. Your changes may be altered with respect to\ncollaborator changes. If there are no collaborators, the spreadsheet\nshould reflect your changes.",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "httpMethod": "POST",
          "id": "sheets.spreadsheets.batchUpdate",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "parameters": {
            "spreadsheetId": {
              "description": "The spreadsheet to apply the updates to.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateSpreadsheetRequest"
          },
          "response": {
            "$ref": "BatchUpdateSpreadsheetResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ]
        },
        "create": {
          "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
          "flatPath": "v4/spreadsheets",
          "httpMethod": "POST",
          "id": "sheets.spreadsheets.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v4/spreadsheets",
          "request": {
            "$ref": "Spreadsheet"
          },
          "response": {
            "$ref": "Spreadsheet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ]
        },
        "get": {
          "description": "Returns the spreadsheet at the given ID.\nThe caller must specify the spreadsheet ID.\n\nBy default, data within grids will not be returned.\nYou can include grid data one of two ways:\n\n* Specify a field mask listing your desired fields using the `fields` URL\nparameter in HTTP\n\n* Set the includeGridData\nURL parameter to true.  If a field mask is set, the `includeGridData`\nparameter is ignored\n\nFor large spreadsheets, it is recommended to retrieve only the specific\nfields of the spreadsheet that you want.\n\nTo retrieve only subsets of the spreadsheet, use the\nranges URL parameter.\nMultiple ranges can be specified.  Limiting the range will\nreturn only the portions of the spreadsheet that intersect the requested\nranges. Ranges are specified using A1 notation.",
          "flatPath": "v4/spreadsheets/{spreadsheetId}",
          "httpMethod": "GET",
          "id": "sheets.spreadsheets.get",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "parameters": {
            "includeGridData": {
              "description": "True if grid data should be returned.\nThis parameter is ignored if a field mask was set in the request.",
              "location": "query",
              "type": "boolean"
            },
            "ranges": {
              "description": "The ranges to retrieve from the spreadsheet.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "spreadsheetId": {
              "description": "The spreadsheet to request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v4/spreadsheets/{spreadsheetId}",
          "response": {
            "$ref": "Spreadsheet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ]
        },
        "getByDataFilter": {
          "description": "Returns the spreadsheet at the given ID.\nThe caller must specify the spreadsheet ID.\n\nThis method differs from GetSpreadsheet in that it allows selecting\nwhich subsets of spreadsheet data to return by specifying a\ndataFilters parameter.\nMultiple DataFilters can be specified.  Specifying one or\nmore data filters will return the portions of the spreadsheet that\nintersect ranges matched by any of the filters.\n\nBy default, data within grids will not be returned.\nYou can include grid data one of two ways:\n\n* Specify a field mask listing your desired fields using the `fields` URL\nparameter in HTTP\n\n* Set the includeGridData\nparameter to true.  If a field mask is set, the `includeGridData`\nparameter is ignored\n\nFor large spreadsheets, it is recommended to retrieve only the specific\nfields of the spreadsheet that you want.",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "httpMethod": "POST",
          "id": "sheets.spreadsheets.getByDataFilter",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "parameters": {
            "spreadsheetId": {
              "description": "The spreadsheet to request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "request": {
            "$ref": "GetSpreadsheetByDataFilterRequest"
          },
          "response": {
            "$ref": "Spreadsheet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ]
        }
      },
      "resources": {
        "developerMetadata": {
          "methods": {
            "get": {
              "description": "Returns the developer metadata with the specified ID.\nThe caller must specify the spreadsheet ID and the developer metadata's\nunique metadataId.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "httpMethod": "GET",
              "id": "sheets.spreadsheets.developerMetadata.get",
              "parameterOrder": [
                "spreadsheetId",
                "metadataId"
              ],
              "parameters": {
                "metadataId": {
                  "description": "The ID of the developer metadata to retrieve.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "response": {
                "$ref": "DeveloperMetadata"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "search": {
              "description": "Returns all developer metadata matching the specified DataFilter.\nIf the provided DataFilter represents a DeveloperMetadataLookup object,\nthis will return all DeveloperMetadata entries selected by it. If the\nDataFilter represents a location in a spreadsheet, this will return all\ndeveloper metadata associated with locations intersecting that region.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.developerMetadata.search",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "request": {
                "$ref": "SearchDeveloperMetadataRequest"
              },
              "response": {
                "$ref": "SearchDeveloperMetadataResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            }
          }
        },
        "sheets": {
          "methods": {
            "copyTo": {
              "description": "Copies a single sheet from a spreadsheet to another spreadsheet.\nReturns the properties of the newly created sheet.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.sheets.copyTo",
              "parameterOrder": [
                "spreadsheetId",
                "sheetId"
              ],
              "parameters": {
                "sheetId": {
                  "description": "The ID of the sheet to copy.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet containing the sheet to copy.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "request": {
                "$ref": "CopySheetToAnotherSpreadsheetRequest"
              },
              "response": {
                "$ref": "SheetProperties"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            }
          }
        },
        "values": {
          "methods": {
            "append": {
              "description": "Appends values to a spreadsheet. The input range is used to search for\nexisting data and find a \"table\" within that range. Values will be\nappended to the next row of the table, starting with the first column of\nthe table. See the\n[guide](/sheets/api/guides/values#appending_values)\nand\n[sample code](/sheets/api/samples/writing#append_values)\nfor specific details of how tables are detected and data is appended.\n\nThe caller must specify the spreadsheet ID, range, and\na valueInputOption.  The `valueInputOption` only\ncontrols how the input data will be added to the sheet (column-wise or\nrow-wise), it does not influence what cell the data starts being written\nto.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.append",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "parameters": {
                "includeValuesInResponse": {
                  "description": "Determines if the update response should include the values\nof the cells that were appended. By default, responses\ndo not include the updated values.",
                  "location": "query",
                  "type": "boolean"
                },
                "insertDataOption": {
                  "description": "How the input data should be inserted.",
                  "enum": [
                    "OVERWRITE",
                    "INSERT_ROWS"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "range": {
                  "description": "The A1 notation of a range to search for a logical table of data.\nValues are appended after the last row of the table.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "responseDateTimeRenderOption": {
                  "description": "Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "responseValueRenderOption": {
                  "description": "Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "valueInputOption": {
                  "description": "How the input data should be interpreted.",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "request": {
                "$ref": "ValueRange"
              },
              "response": {
                "$ref": "AppendValuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchClear": {
              "description": "Clears one or more ranges of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and one or more ranges.\nOnly values are cleared -- all other properties of the cell (such as\nformatting, data validation, etc..) are kept.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.batchClear",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "request": {
                "$ref": "BatchClearValuesRequest"
              },
              "response": {
                "$ref": "BatchClearValuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchClearByDataFilter": {
              "description": "Clears one or more ranges of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and one or more\nDataFilters. Ranges matching any of the specified data\nfilters will be cleared.  Only values are cleared -- all other properties\nof the cell (such as formatting, data validation, etc..) are kept.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.batchClearByDataFilter",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "request": {
                "$ref": "BatchClearValuesByDataFilterRequest"
              },
              "response": {
                "$ref": "BatchClearValuesByDataFilterResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchGet": {
              "description": "Returns one or more ranges of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and one or more ranges.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "httpMethod": "GET",
              "id": "sheets.spreadsheets.values.batchGet",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "dateTimeRenderOption": {
                  "description": "How dates, times, and durations should be represented in the output.\nThis is ignored if value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "majorDimension": {
                  "description": "The major dimension that results should use.\n\nFor example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`,\nthen requesting `range=A1:B2,majorDimension=ROWS` returns `[[1,2],[3,4]]`,\nwhereas requesting `range=A1:B2,majorDimension=COLUMNS` returns\n`[[1,3],[2,4]]`.",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "ranges": {
                  "description": "The A1 notation of the values to retrieve.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "valueRenderOption": {
                  "description": "How values should be represented in the output.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "response": {
                "$ref": "BatchGetValuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ]
            },
            "batchGetByDataFilter": {
              "description": "Returns one or more ranges of values that match the specified data filters.\nThe caller must specify the spreadsheet ID and one or more\nDataFilters.  Ranges that match any of the data filters in\nthe request will be returned.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.batchGetByDataFilter",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "request": {
                "$ref": "BatchGetValuesByDataFilterRequest"
              },
              "response": {
                "$ref": "BatchGetValuesByDataFilterResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchUpdate": {
              "description": "Sets values in one or more ranges of a spreadsheet.\nThe caller must specify the spreadsheet ID,\na valueInputOption, and one or more\nValueRanges.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.batchUpdate",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "request": {
                "$ref": "BatchUpdateValuesRequest"
              },
              "response": {
                "$ref": "BatchUpdateValuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchUpdateByDataFilter": {
              "description": "Sets values in one or more ranges of a spreadsheet.\nThe caller must specify the spreadsheet ID,\na valueInputOption, and one or more\nDataFilterValueRanges.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "request": {
                "$ref": "BatchUpdateValuesByDataFilterRequest"
              },
              "response": {
                "$ref": "BatchUpdateValuesByDataFilterResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "clear": {
              "description": "Clears values from a spreadsheet.\nThe caller must specify the spreadsheet ID and range.\nOnly values are cleared -- all other properties of the cell (such as\nformatting, data validation, etc..) are kept.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.clear",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "parameters": {
                "range": {
                  "description": "The A1 notation of the values to clear.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "request": {
                "$ref": "ClearValuesRequest"
              },
              "response": {
                "$ref": "ClearValuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "get": {
              "description": "Returns a range of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and a range.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "httpMethod": "GET",
              "id": "sheets.spreadsheets.values.get",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "parameters": {
                "dateTimeRenderOption": {
                  "description": "How dates, times, and durations should be represented in the output.\nThis is ignored if value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "majorDimension": {
                  "description": "The major dimension that results should use.\n\nFor example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then\nrequesting `range=A1:B2,majorDimension=ROWS` returns `[[1,2],[3,4]]`,\nwhereas requesting `range=A1:B2,majorDimension=COLUMNS` returns\n`[[1,3],[2,4]]`.",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "range": {
                  "description": "The A1 notation of the values to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "valueRenderOption": {
                  "description": "How values should be represented in the output.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "response": {
                "$ref": "ValueRange"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ]
            },
            "update": {
              "description": "Sets values in a range of a spreadsheet.\nThe caller must specify the spreadsheet ID, range, and\na valueInputOption.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "httpMethod": "PUT",
              "id": "sheets.spreadsheets.values.update",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "parameters": {
                "includeValuesInResponse": {
                  "description": "Determines if the update response should include the values\nof the cells that were updated. By default, responses\ndo not include the updated values.\nIf the range to write was larger than the range actually written, the\nresponse includes all values in the requested range (excluding trailing\nempty rows and columns).",
                  "location": "query",
                  "type": "boolean"
                },
                "range": {
                  "description": "The A1 notation of the values to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "responseDateTimeRenderOption": {
                  "description": "Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is\nDateTimeRenderOption.SERIAL_NUMBER.",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "responseValueRenderOption": {
                  "description": "Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "valueInputOption": {
                  "description": "How the input data should be interpreted.",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "request": {
                "$ref": "ValueRange"
              },
              "response": {
                "$ref": "UpdateValuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20200225",
  "rootUrl": "https://sheets.googleapis.com/",
  "schemas": {
    "AddBandingRequest": {
      "description": "Adds a new banded range to the spreadsheet.",
      "id": "AddBandingRequest",
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range to add. The bandedRangeId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a range that already exists.)"
        }
      },
      "type": "object"
    },
    "AddBandingResponse": {
      "description": "The result of adding a banded range.",
      "id": "AddBandingResponse",
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range that was added."
        }
      },
      "type": "object"
    },
    "AddChartRequest": {
      "description": "Adds a chart to a sheet in the spreadsheet.",
      "id": "AddChartRequest",
      "properties": {
        "chart": {
          "$ref": "EmbeddedChart",
          "description": "The chart that should be added to the spreadsheet, including the position\nwhere it should be placed. The chartId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of an embedded object that already exists.)"
        }
      },
      "type": "object"
    },
    "AddChartResponse": {
      "description": "The result of adding a chart to a spreadsheet.",
      "id": "AddChartResponse",
      "properties": {
        "chart": {
          "$ref": "EmbeddedChart",
          "description": "The newly added chart."
        }
      },
      "type": "object"
    },
    "AddConditionalFormatRuleRequest": {
      "description": "Adds a new conditional format rule at the given index.\nAll subsequent rules' indexes are incremented.",
      "id": "AddConditionalFormatRuleRequest",
      "properties": {
        "index": {
          "description": "The zero-based index where the rule should be inserted.",
          "format": "int32",
          "type": "integer"
        },
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule to add."
        }
      },
      "type": "object"
    },
    "AddDimensionGroupRequest": {
      "description": "Creates a group over the specified range.\n\nIf the requested range is a superset of the range of an existing group G,\nthen the depth of G is incremented and this new group G' has the\ndepth of that group. For example, a group [C:D, depth 1] + [B:E] results in\ngroups [B:E, depth 1] and [C:D, depth 2].\nIf the requested range is a subset of the range of an existing group G,\nthen the depth of the new group G' becomes one greater than the depth of G.\nFor example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1]\nand [C:D, depth 2].\nIf the requested range starts before and ends within, or starts within and\nends after, the range of an existing group G, then the range of the existing\ngroup G becomes the union of the ranges, and the new group G' has\ndepth one greater than the depth of G and range as the intersection of the\nranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E,\ndepth 1] and [C:D, depth 2].",
      "id": "AddDimensionGroupRequest",
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The range over which to create a group."
        }
      },
      "type": "object"
    },
    "AddDimensionGroupResponse": {
      "description": "The result of adding a group.",
      "id": "AddDimensionGroupResponse",
      "properties": {
        "dimensionGroups": {
          "description": "All groups of a dimension after adding a group to that dimension.",
          "items": {
            "$ref": "DimensionGroup"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AddFilterViewRequest": {
      "description": "Adds a filter view.",
      "id": "AddFilterViewRequest",
      "properties": {
        "filter": {
          "$ref": "FilterView",
          "description": "The filter to add. The filterViewId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a filter that already exists.)"
        }
      },
      "type": "object"
    },
    "AddFilterViewResponse": {
      "description": "The result of adding a filter view.",
      "id": "AddFilterViewResponse",
      "properties": {
        "filter": {
          "$ref": "FilterView",
          "description": "The newly added filter view."
        }
      },
      "type": "object"
    },
    "AddNamedRangeRequest": {
      "description": "Adds a named range to the spreadsheet.",
      "id": "AddNamedRangeRequest",
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to add. The namedRangeId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a range that already exists.)"
        }
      },
      "type": "object"
    },
    "AddNamedRangeResponse": {
      "description": "The result of adding a named range.",
      "id": "AddNamedRangeResponse",
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to add."
        }
      },
      "type": "object"
    },
    "AddProtectedRangeRequest": {
      "description": "Adds a new protected range.",
      "id": "AddProtectedRangeRequest",
      "properties": {
        "protectedRange": {
          "$ref": "ProtectedRange",
          "description": "The protected range to be added. The\nprotectedRangeId field is optional; if\none is not set, an id will be randomly generated. (It is an error to\nspecify the ID of a range that already exists.)"
        }
      },
      "type": "object"
    },
    "AddProtectedRangeResponse": {
      "description": "The result of adding a new protected range.",
      "id": "AddProtectedRangeResponse",
      "properties": {
        "protectedRange": {
          "$ref": "ProtectedRange",
          "description": "The newly added protected range."
        }
      },
      "type": "object"
    },
    "AddSheetRequest": {
      "description": "Adds a new sheet.\nWhen a sheet is added at a given index,\nall subsequent sheets' indexes are incremented.\nTo add an object sheet, use AddChartRequest instead and specify\nEmbeddedObjectPosition.sheetId or\nEmbeddedObjectPosition.newSheet.",
      "id": "AddSheetRequest",
      "properties": {
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties the new sheet should have.\nAll properties are optional.\nThe sheetId field is optional; if one is not\nset, an id will be randomly generated. (It is an error to specify the ID\nof a sheet that already exists.)"
        }
      },
      "type": "object"
    },
    "AddSheetResponse": {
      "description": "The result of adding a sheet.",
      "id": "AddSheetResponse",
      "properties": {
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties of the newly added sheet."
        }
      },
      "type": "object"
    },
    "AddSlicerRequest": {
      "description": "Adds a slicer to a sheet in the spreadsheet.",
      "id": "AddSlicerRequest",
      "properties": {
        "slicer": {
          "$ref": "Slicer",
          "description": "The slicer that should be added to the spreadsheet, including\nthe position where it should be placed. The slicerId field is optional; if one is not set, an id\nwill be randomly generated. (It is an error to specify the ID\nof a slicer that already exists.)"
        }
      },
      "type": "object"
    },
    "AddSlicerResponse": {
      "description": "The result of adding a slicer to a spreadsheet.",
      "id": "AddSlicerResponse",
      "properties": {
        "slicer": {
          "$ref": "Slicer",
          "description": "The newly added slicer."
        }
      },
      "type": "object"
    },
    "AppendCellsRequest": {
      "description": "Adds new cells after the last row with data in a sheet,\ninserting new rows into the sheet if necessary.",
      "id": "AppendCellsRequest",
      "properties": {
        "fields": {
          "description": "The fields of CellData that should be updated.\nAt least one field must be specified.\nThe root is the CellData; 'row.values.' should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "rows": {
          "description": "The data to append.",
          "items": {
            "$ref": "RowData"
          },
          "type": "array"
        },
        "sheetId": {
          "description": "The sheet ID to append the data to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AppendDimensionRequest": {
      "description": "Appends rows or columns to the end of a sheet.",
      "id": "AppendDimensionRequest",
      "properties": {
        "dimension": {
          "description": "Whether rows or columns should be appended.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string"
        },
        "length": {
          "description": "The number of rows or columns to append.",
          "format": "int32",
          "type": "integer"
        },
        "sheetId": {
          "description": "The sheet to append rows or columns to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AppendValuesResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "id": "AppendValuesResponse",
      "properties": {
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "tableRange": {
          "description": "The range (in A1 notation) of the table that values are being appended to\n(before the values were appended).\nEmpty if no table was found.",
          "type": "string"
        },
        "updates": {
          "$ref": "UpdateValuesResponse",
          "description": "Information about the updates that were applied."
        }
      },
      "type": "object"
    },
    "AutoFillRequest": {
      "description": "Fills in more data based on existing data.",
      "id": "AutoFillRequest",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to autofill. This will examine the range and detect\nthe location that has data and automatically fill that data\nin to the rest of the range."
        },
        "sourceAndDestination": {
          "$ref": "SourceAndDestination",
          "description": "The source and destination areas to autofill.\nThis explicitly lists the source of the autofill and where to\nextend that data."
        },
        "useAlternateSeries": {
          "description": "True if we should generate data with the \"alternate\" series.\nThis differs based on the type and amount of source data.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AutoResizeDimensionsRequest": {
      "description": "Automatically resizes one or more dimensions based on the contents\nof the cells in that dimension.",
      "id": "AutoResizeDimensionsRequest",
      "properties": {
        "dimensions": {
          "$ref": "DimensionRange",
          "description": "The dimensions to automatically resize."
        }
      },
      "type": "object"
    },
    "BandedRange": {
      "description": "A banded (alternating colors) range in a sheet.",
      "id": "BandedRange",
      "properties": {
        "bandedRangeId": {
          "description": "The id of the banded range.",
          "format": "int32",
          "type": "integer"
        },
        "columnProperties": {
          "$ref": "BandingProperties",
          "description": "Properties for column bands. These properties are applied on a column-\nby-column basis throughout all the columns in the range. At least one of\nrow_properties or column_properties must be specified."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range over which these properties are applied."
        },
        "rowProperties": {
          "$ref": "BandingProperties",
          "description": "Properties for row bands. These properties are applied on a row-by-row\nbasis throughout all the rows in the range. At least one of\nrow_properties or column_properties must be specified."
        }
      },
      "type": "object"
    },
    "BandingProperties": {
      "description": "Properties referring a single dimension (either row or column). If both\nBandedRange.row_properties and BandedRange.column_properties are\nset, the fill colors are applied to cells according to the following rules:\n\n* header_color and footer_color take priority over band colors.\n* first_band_color takes priority over second_band_color.\n* row_properties takes priority over column_properties.\n\nFor example, the first row color takes priority over the first column\ncolor, but the first column color takes priority over the second row color.\nSimilarly, the row header takes priority over the column header in the\ntop left cell, but the column header takes priority over the first row\ncolor if the row header is not set.",
      "id": "BandingProperties",
      "properties": {
        "firstBandColor": {
          "$ref": "Color",
          "description": "The first color that is alternating. (Required)"
        },
        "firstBandColorStyle": {
          "$ref": "ColorStyle",
          "description": "The first color that is alternating. (Required)\nIf first_band_color is also set, this field takes precedence."
        },
        "footerColor": {
          "$ref": "Color",
          "description": "The color of the last row or column. If this field is not set, the last\nrow or column is filled with either first_band_color or\nsecond_band_color, depending on the color of the previous row or\ncolumn."
        },
        "footerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the last row or column. If this field is not set, the last\nrow or column is filled with either first_band_color or\nsecond_band_color, depending on the color of the previous row or\ncolumn.\nIf footer_color is also set, this field takes precedence."
        },
        "headerColor": {
          "$ref": "Color",
          "description": "The color of the first row or column. If this field is set, the first row\nor column is filled with this color and the colors alternate between\nfirst_band_color and second_band_color starting from the second\nrow or column. Otherwise, the first row or column is filled with\nfirst_band_color and the colors proceed to alternate as they normally\nwould."
        },
        "headerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the first row or column. If this field is set, the first row\nor column is filled with this color and the colors alternate between\nfirst_band_color and second_band_color starting from the second\nrow or column. Otherwise, the first row or column is filled with\nfirst_band_color and the colors proceed to alternate as they normally\nwould. If header_color is also set, this field takes precedence."
        },
        "secondBandColor": {
          "$ref": "Color",
          "description": "The second color that is alternating. (Required)"
        },
        "secondBandColorStyle": {
          "$ref": "ColorStyle",
          "description": "The second color that is alternating. (Required)\nIf second_band_color is also set, this field takes precedence."
        }
      },
      "type": "object"
    },
    "BaselineValueFormat": {
      "description": "Formatting options for baseline value.",
      "id": "BaselineValueFormat",
      "properties": {
        "comparisonType": {
          "description": "The comparison type of key value with baseline value.",
          "enum": [
            "COMPARISON_TYPE_UNDEFINED",
            "ABSOLUTE_DIFFERENCE",
            "PERCENTAGE_DIFFERENCE"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Use absolute difference between key and baseline value.",
            "Use percentage difference between key and baseline value."
          ],
          "type": "string"
        },
        "description": {
          "description": "Description which is appended after the baseline value.\nThis field is optional.",
          "type": "string"
        },
        "negativeColor": {
          "$ref": "Color",
          "description": "Color to be used, in case baseline value represents a negative change for\nkey value. This field is optional."
        },
        "negativeColorStyle": {
          "$ref": "ColorStyle",
          "description": "Color to be used, in case baseline value represents a negative change for\nkey value. This field is optional.\nIf negative_color is also set, this field takes precedence."
        },
        "position": {
          "$ref": "TextPosition",
          "description": "Specifies the horizontal text positioning of baseline value.\nThis field is optional. If not specified, default positioning is used."
        },
        "positiveColor": {
          "$ref": "Color",
          "description": "Color to be used, in case baseline value represents a positive change for\nkey value. This field is optional."
        },
        "positiveColorStyle": {
          "$ref": "ColorStyle",
          "description": "Color to be used, in case baseline value represents a positive change for\nkey value. This field is optional.\nIf positive_color is also set, this field takes precedence."
        },
        "textFormat": {
          "$ref": "TextFormat",
          "description": "Text formatting options for baseline value."
        }
      },
      "type": "object"
    },
    "BasicChartAxis": {
      "description": "An axis of the chart.\nA chart may not have more than one axis per\naxis position.",
      "id": "BasicChartAxis",
      "properties": {
        "format": {
          "$ref": "TextFormat",
          "description": "The format of the title.\nOnly valid if the axis is not associated with the domain."
        },
        "position": {
          "description": "The position of this axis.",
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart.\nFor most charts, this is the standard major axis.\nFor bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is an unusual major axis."
          ],
          "type": "string"
        },
        "title": {
          "description": "The title of this axis. If set, this overrides any title inferred\nfrom headers of the data.",
          "type": "string"
        },
        "titleTextPosition": {
          "$ref": "TextPosition",
          "description": "The axis title text position."
        },
        "viewWindowOptions": {
          "$ref": "ChartAxisViewWindowOptions",
          "description": "The view window options for this axis."
        }
      },
      "type": "object"
    },
    "BasicChartDomain": {
      "description": "The domain of a chart.\nFor example, if charting stock prices over time, this would be the date.",
      "id": "BasicChartDomain",
      "properties": {
        "domain": {
          "$ref": "ChartData",
          "description": "The data of the domain. For example, if charting stock prices over time,\nthis is the data representing the dates."
        },
        "reversed": {
          "description": "True to reverse the order of the domain values (horizontal axis).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BasicChartSeries": {
      "description": "A single series of data in a chart.\nFor example, if charting stock prices over time, multiple series may exist,\none for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".",
      "id": "BasicChartSeries",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "The color for elements (such as bars, lines, and points) associated with\nthis series.  If empty, a default color is used."
        },
        "colorStyle": {
          "$ref": "ColorStyle",
          "description": "The color for elements (such as bars, lines, and points) associated with\nthis series.  If empty, a default color is used.\nIf color is also set, this field takes precedence."
        },
        "lineStyle": {
          "$ref": "LineStyle",
          "description": "The line style of this series. Valid only if the\nchartType is AREA,\nLINE, or SCATTER.\nCOMBO charts are also supported if the\nseries chart type is\nAREA or LINE."
        },
        "series": {
          "$ref": "ChartData",
          "description": "The data being visualized in this chart series."
        },
        "targetAxis": {
          "description": "The minor axis that will specify the range of values for this series.\nFor example, if charting stocks over time, the \"Volume\" series\nmay want to be pinned to the right with the prices pinned to the left,\nbecause the scale of trading volume is different than the scale of\nprices.\nIt is an error to specify an axis that isn't a valid minor axis\nfor the chart's type.",
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart.\nFor most charts, this is the standard major axis.\nFor bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is an unusual major axis."
          ],
          "type": "string"
        },
        "type": {
          "description": "The type of this series. Valid only if the\nchartType is\nCOMBO.\nDifferent types will change the way the series is visualized.\nOnly LINE, AREA,\nand COLUMN are supported.",
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/barchart\"\u003ebar chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/linechart\"\u003eline chart\u003c/a\u003e.",
            "An \u003ca href=\"/chart/interactive/docs/gallery/areachart\"\u003earea chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/columnchart\"\u003ecolumn chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/scatterchart\"\u003escatter\nchart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/combochart\"\u003ecombo chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/steppedareachart\"\u003estepped area\nchart\u003c/a\u003e."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BasicChartSpec": {
      "description": "The specification for a basic chart.  See BasicChartType for the list\nof charts this supports.",
      "id": "BasicChartSpec",
      "properties": {
        "axis": {
          "description": "The axis on the chart.",
          "items": {
            "$ref": "BasicChartAxis"
          },
          "type": "array"
        },
        "chartType": {
          "description": "The type of the chart.",
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/barchart\"\u003ebar chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/linechart\"\u003eline chart\u003c/a\u003e.",
            "An \u003ca href=\"/chart/interactive/docs/gallery/areachart\"\u003earea chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/columnchart\"\u003ecolumn chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/scatterchart\"\u003escatter\nchart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/combochart\"\u003ecombo chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/steppedareachart\"\u003estepped area\nchart\u003c/a\u003e."
          ],
          "type": "string"
        },
        "compareMode": {
          "description": "The behavior of tooltips and data highlighting when hovering on data and\nchart area.",
          "enum": [
            "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
            "DATUM",
            "CATEGORY"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Only the focused data element is highlighted and shown in the tooltip.",
            "All data elements with the same category (e.g., domain value) are\nhighlighted and shown in the tooltip."
          ],
          "type": "string"
        },
        "domains": {
          "description": "The domain of data this is charting.\nOnly a single domain is supported.",
          "items": {
            "$ref": "BasicChartDomain"
          },
          "type": "array"
        },
        "headerCount": {
          "description": "The number of rows or columns in the data that are \"headers\".\nIf not set, Google Sheets will guess how many rows are headers based\non the data.\n\n(Note that BasicChartAxis.title may override the axis title\n inferred from the header values.)",
          "format": "int32",
          "type": "integer"
        },
        "interpolateNulls": {
          "description": "If some values in a series are missing, gaps may appear in the chart (e.g,\nsegments of lines in a line chart will be missing).  To eliminate these\ngaps set this to true.\nApplies to Line, Area, and Combo charts.",
          "type": "boolean"
        },
        "legendPosition": {
          "description": "The position of the chart legend.",
          "enum": [
            "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered."
          ],
          "type": "string"
        },
        "lineSmoothing": {
          "description": "Gets whether all lines should be rendered smooth or straight by default.\nApplies to Line charts.",
          "type": "boolean"
        },
        "series": {
          "description": "The data this chart is visualizing.",
          "items": {
            "$ref": "BasicChartSeries"
          },
          "type": "array"
        },
        "stackedType": {
          "description": "The stacked type for charts that support vertical stacking.\nApplies to Area, Bar, Column, Combo, and Stepped Area charts.",
          "enum": [
            "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
            "NOT_STACKED",
            "STACKED",
            "PERCENT_STACKED"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Series are not stacked.",
            "Series values are stacked, each value is rendered vertically beginning\nfrom the top of the value below it.",
            "Vertical stacks are stretched to reach the top of the chart, with\nvalues laid out as percentages of each other."
          ],
          "type": "string"
        },
        "threeDimensional": {
          "description": "True to make the chart 3D.\nApplies to Bar and Column charts.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BasicFilter": {
      "description": "The default filter associated with a sheet.",
      "id": "BasicFilter",
      "properties": {
        "criteria": {
          "additionalProperties": {
            "$ref": "FilterCriteria"
          },
          "description": "The criteria for showing/hiding values per column.\nThe map's key is the column index, and the value is the criteria for\nthat column.",
          "type": "object"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range the filter covers."
        },
        "sortSpecs": {
          "description": "The sort order per column. Later specifications are used when values\nare equal in the earlier specifications.",
          "items": {
            "$ref": "SortSpec"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchClearValuesByDataFilterRequest": {
      "description": "The request for clearing more than one range selected by a\nDataFilter in a spreadsheet.",
      "id": "BatchClearValuesByDataFilterRequest",
      "properties": {
        "dataFilters": {
          "description": "The DataFilters used to determine which ranges to clear.",
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchClearValuesByDataFilterResponse": {
      "description": "The response when clearing a range of values selected with\nDataFilters in a spreadsheet.",
      "id": "BatchClearValuesByDataFilterResponse",
      "properties": {
        "clearedRanges": {
          "description": "The ranges that were cleared, in A1 notation. If the requests are for an\nunbounded range or a ranger larger than the bounds of the sheet, this is\nthe actual ranges that were cleared, bounded to the sheet's limits.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchClearValuesRequest": {
      "description": "The request for clearing more than one range of values in a spreadsheet.",
      "id": "BatchClearValuesRequest",
      "properties": {
        "ranges": {
          "description": "The ranges to clear, in A1 notation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchClearValuesResponse": {
      "description": "The response when clearing a range of values in a spreadsheet.",
      "id": "BatchClearValuesResponse",
      "properties": {
        "clearedRanges": {
          "description": "The ranges that were cleared, in A1 notation. If the requests are for an\nunbounded range or a ranger larger than the bounds of the sheet, this is\nthe actual ranges that were cleared, bounded to the sheet's limits.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchGetValuesByDataFilterRequest": {
      "description": "The request for retrieving a range of values in a spreadsheet selected by a\nset of DataFilters.",
      "id": "BatchGetValuesByDataFilterRequest",
      "properties": {
        "dataFilters": {
          "description": "The data filters used to match the ranges of values to retrieve. Ranges\nthat match any of the specified data filters are included in the response.",
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array"
        },
        "dateTimeRenderOption": {
          "description": "How dates, times, and durations should be represented in the output.\nThis is ignored if value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].",
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.",
            "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
          ],
          "type": "string"
        },
        "majorDimension": {
          "description": "The major dimension that results should use.\n\nFor example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`,\nthen a request that selects that range and sets `majorDimension=ROWS`\nreturns `[[1,2],[3,4]]`, whereas a request that sets\n`majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string"
        },
        "valueRenderOption": {
          "description": "How values should be represented in the output.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "enumDescriptions": [
            "Values will be calculated \u0026 formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.",
            "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchGetValuesByDataFilterResponse": {
      "description": "The response when retrieving more than one range of values in a spreadsheet\nselected by DataFilters.",
      "id": "BatchGetValuesByDataFilterResponse",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the spreadsheet the data was retrieved from.",
          "type": "string"
        },
        "valueRanges": {
          "description": "The requested values with the list of data filters that matched them.",
          "items": {
            "$ref": "MatchedValueRange"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchGetValuesResponse": {
      "description": "The response when retrieving more than one range of values in a spreadsheet.",
      "id": "BatchGetValuesResponse",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the spreadsheet the data was retrieved from.",
          "type": "string"
        },
        "valueRanges": {
          "description": "The requested values. The order of the ValueRanges is the same as the\norder of the requested ranges.",
          "items": {
            "$ref": "ValueRange"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchUpdateSpreadsheetRequest": {
      "description": "The request for updating any aspect of a spreadsheet.",
      "id": "BatchUpdateSpreadsheetRequest",
      "properties": {
        "includeSpreadsheetInResponse": {
          "description": "Determines if the update response should include the spreadsheet\nresource.",
          "type": "boolean"
        },
        "requests": {
          "description": "A list of updates to apply to the spreadsheet.\nRequests will be applied in the order they are specified.\nIf any request is not valid, no requests will be applied.",
          "items": {
            "$ref": "Request"
          },
          "type": "array"
        },
        "responseIncludeGridData": {
          "description": "True if grid data should be returned. Meaningful only if\nif include_spreadsheet_in_response is 'true'.\nThis parameter is ignored if a field mask was set in the request.",
          "type": "boolean"
        },
        "responseRanges": {
          "description": "Limits the ranges included in the response spreadsheet.\nMeaningful only if include_spreadsheet_response is 'true'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchUpdateSpreadsheetResponse": {
      "description": "The reply for batch updating a spreadsheet.",
      "id": "BatchUpdateSpreadsheetResponse",
      "properties": {
        "replies": {
          "description": "The reply of the updates.  This maps 1:1 with the updates, although\nreplies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          },
          "type": "array"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "updatedSpreadsheet": {
          "$ref": "Spreadsheet",
          "description": "The spreadsheet after updates were applied. This is only set if\n[BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response] is `true`."
        }
      },
      "type": "object"
    },
    "BatchUpdateValuesByDataFilterRequest": {
      "description": "The request for updating more than one range of values in a spreadsheet.",
      "id": "BatchUpdateValuesByDataFilterRequest",
      "properties": {
        "data": {
          "description": "The new values to apply to the spreadsheet.  If more than one range is\nmatched by the specified DataFilter the specified values are applied to\nall of those ranges.",
          "items": {
            "$ref": "DataFilterValueRange"
          },
          "type": "array"
        },
        "includeValuesInResponse": {
          "description": "Determines if the update response should include the values\nof the cells that were updated. By default, responses\ndo not include the updated values. The `updatedData` field within\neach of the BatchUpdateValuesResponse.responses contains the updated\nvalues. If the range to write was larger than the range actually written,\nthe response includes all values in the requested range (excluding trailing\nempty rows and columns).",
          "type": "boolean"
        },
        "responseDateTimeRenderOption": {
          "description": "Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is\nDateTimeRenderOption.SERIAL_NUMBER.",
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.",
            "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
          ],
          "type": "string"
        },
        "responseValueRenderOption": {
          "description": "Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "enumDescriptions": [
            "Values will be calculated \u0026 formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.",
            "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
          ],
          "type": "string"
        },
        "valueInputOption": {
          "description": "How the input data should be interpreted.",
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ],
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored\nas-is.",
            "The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateValuesByDataFilterResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "id": "BatchUpdateValuesByDataFilterResponse",
      "properties": {
        "responses": {
          "description": "The response for each range updated.",
          "items": {
            "$ref": "UpdateValuesByDataFilterResponse"
          },
          "type": "array"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "totalUpdatedCells": {
          "description": "The total number of cells updated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedColumns": {
          "description": "The total number of columns where at least one cell in the column was\nupdated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedRows": {
          "description": "The total number of rows where at least one cell in the row was updated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedSheets": {
          "description": "The total number of sheets where at least one cell in the sheet was\nupdated.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BatchUpdateValuesRequest": {
      "description": "The request for updating more than one range of values in a spreadsheet.",
      "id": "BatchUpdateValuesRequest",
      "properties": {
        "data": {
          "description": "The new values to apply to the spreadsheet.",
          "items": {
            "$ref": "ValueRange"
          },
          "type": "array"
        },
        "includeValuesInResponse": {
          "description": "Determines if the update response should include the values\nof the cells that were updated. By default, responses\ndo not include the updated values. The `updatedData` field within\neach of the BatchUpdateValuesResponse.responses contains the updated\nvalues. If the range to write was larger than the range actually written,\nthe response includes all values in the requested range (excluding trailing\nempty rows and columns).",
          "type": "boolean"
        },
        "responseDateTimeRenderOption": {
          "description": "Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is\nDateTimeRenderOption.SERIAL_NUMBER.",
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.",
            "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
          ],
          "type": "string"
        },
        "responseValueRenderOption": {
          "description": "Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "enumDescriptions": [
            "Values will be calculated \u0026 formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.",
            "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
          ],
          "type": "string"
        },
        "valueInputOption": {
          "description": "How the input data should be interpreted.",
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ],
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored\nas-is.",
            "The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateValuesResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "id": "BatchUpdateValuesResponse",
      "properties": {
        "responses": {
          "description": "One UpdateValuesResponse per requested range, in the same order as\nthe requests appeared.",
          "items": {
            "$ref": "UpdateValuesResponse"
          },
          "type": "array"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "totalUpdatedCells": {
          "description": "The total number of cells updated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedColumns": {
          "description": "The total number of columns where at least one cell in the column was\nupdated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedRows": {
          "description": "The total number of rows where at least one cell in the row was updated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedSheets": {
          "description": "The total number of sheets where at least one cell in the sheet was\nupdated.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BooleanCondition": {
      "description": "A condition that can evaluate to true or false.\nBooleanConditions are used by conditional formatting,\ndata validation, and the criteria in filters.",
      "id": "BooleanCondition",
      "properties": {
        "type": {
          "description": "The type of condition.",
          "enum": [
            "CONDITION_TYPE_UNSPECIFIED",
            "NUMBER_GREATER",
            "NUMBER_GREATER_THAN_EQ",
            "NUMBER_LESS",
            "NUMBER_LESS_THAN_EQ",
            "NUMBER_EQ",
            "NUMBER_NOT_EQ",
            "NUMBER_BETWEEN",
            "NUMBER_NOT_BETWEEN",
            "TEXT_CONTAINS",
            "TEXT_NOT_CONTAINS",
            "TEXT_STARTS_WITH",
            "TEXT_ENDS_WITH",
            "TEXT_EQ",
            "TEXT_IS_EMAIL",
            "TEXT_IS_URL",
            "DATE_EQ",
            "DATE_BEFORE",
            "DATE_AFTER",
            "DATE_ON_OR_BEFORE",
            "DATE_ON_OR_AFTER",
            "DATE_BETWEEN",
            "DATE_NOT_BETWEEN",
            "DATE_IS_VALID",
            "ONE_OF_RANGE",
            "ONE_OF_LIST",
            "BLANK",
            "NOT_BLANK",
            "CUSTOM_FORMULA",
            "BOOLEAN"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "The cell's value must be greater than the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be greater than or equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be less than the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be less than or equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be not equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be between the two condition values.\nSupported by data validation, conditional formatting and filters.\nRequires exactly two ConditionValues.",
            "The cell's value must not be between the two condition values.\nSupported by data validation, conditional formatting and filters.\nRequires exactly two ConditionValues.",
            "The cell's value must contain the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must not contain the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must start with the condition's value.\nSupported by conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must end with the condition's value.\nSupported by conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be exactly the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be a valid email address.\nSupported by data validation.\nRequires no ConditionValues.",
            "The cell's value must be a valid URL.\nSupported by data validation.\nRequires no ConditionValues.",
            "The cell's value must be the same date as the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be before the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
            "The cell's value must be after the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
            "The cell's value must be on or before the date of the condition's value.\nSupported by data validation.\nRequires a single ConditionValue\nthat may be a relative date.",
            "The cell's value must be on or after the date of the condition's value.\nSupported by data validation.\nRequires a single ConditionValue\nthat may be a relative date.",
            "The cell's value must be between the dates of the two condition values.\nSupported by data validation.\nRequires exactly two ConditionValues.",
            "The cell's value must be outside the dates of the two condition values.\nSupported by data validation.\nRequires exactly two ConditionValues.",
            "The cell's value must be a date.\nSupported by data validation.\nRequires no ConditionValues.",
            "The cell's value must be listed in the grid in condition value's range.\nSupported by data validation.\nRequires a single ConditionValue,\nand the value must be a valid range in A1 notation.",
            "The cell's value must be in the list of condition values.\nSupported by data validation.\nSupports any number of condition values,\none per item in the list.\nFormulas are not supported in the values.",
            "The cell's value must be empty.\nSupported by conditional formatting and filters.\nRequires no ConditionValues.",
            "The cell's value must not be empty.\nSupported by conditional formatting and filters.\nRequires no ConditionValues.",
            "The condition's formula must evaluate to true.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
            "The cell's value must be TRUE/FALSE or in the list of condition values.\nSupported by data validation.\nRenders as a cell checkbox.\nSupports zero, one or two ConditionValues.  No\nvalues indicates the cell must be TRUE or FALSE, where TRUE renders as\nchecked and FALSE renders as unchecked.  One value indicates the cell\nwill render as checked when it contains that value and unchecked when it\nis blank.  Two values indicate that the cell will render as checked when\nit contains the first value and unchecked when it contains the second\nvalue.  For example, [\"Yes\",\"No\"] indicates that the cell will render a\nchecked box when it has the value \"Yes\" and an unchecked box when it has\nthe value \"No\"."
          ],
          "type": "string"
        },
        "values": {
          "description": "The values of the condition. The number of supported values depends\non the condition type.  Some support zero values,\nothers one or two values,\nand ConditionType.ONE_OF_LIST supports an arbitrary number of values.",
          "items": {
            "$ref": "ConditionValue"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BooleanRule": {
      "description": "A rule that may or may not match, depending on the condition.",
      "id": "BooleanRule",
      "properties": {
        "condition": {
          "$ref": "BooleanCondition",
          "description": "The condition of the rule. If the condition evaluates to true,\nthe format is applied."
        },
        "format": {
          "$ref": "CellFormat",
          "description": "The format to apply.\nConditional formatting can only apply a subset of formatting:\nbold, italic,\nstrikethrough,\nforeground color \u0026\nbackground color."
        }
      },
      "type": "object"
    },
    "Border": {
      "description": "A border along a cell.",
      "id": "Border",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "The color of the border."
        },
        "colorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the border.\nIf color is also set, this field takes precedence."
        },
        "style": {
          "description": "The style of the border.",
          "enum": [
            "STYLE_UNSPECIFIED",
            "DOTTED",
            "DASHED",
            "SOLID",
            "SOLID_MEDIUM",
            "SOLID_THICK",
            "NONE",
            "DOUBLE"
          ],
          "enumDescriptions": [
            "The style is not specified. Do not use this.",
            "The border is dotted.",
            "The border is dashed.",
            "The border is a thin solid line.",
            "The border is a medium solid line.",
            "The border is a thick solid line.",
            "No border.\nUsed only when updating a border in order to erase it.",
            "The border is two solid lines."
          ],
          "type": "string"
        },
        "width": {
          "description": "The width of the border, in pixels.\nDeprecated; the width is determined by the \"style\" field.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Borders": {
      "description": "The borders of the cell.",
      "id": "Borders",
      "properties": {
        "bottom": {
          "$ref": "Border",
          "description": "The bottom border of the cell."
        },
        "left": {
          "$ref": "Border",
          "description": "The left border of the cell."
        },
        "right": {
          "$ref": "Border",
          "description": "The right border of the cell."
        },
        "top": {
          "$ref": "Border",
          "description": "The top border of the cell."
        }
      },
      "type": "object"
    },
    "BubbleChartSpec": {
      "description": "A \u003ca href=\"/chart/interactive/docs/gallery/bubblechart\"\u003ebubble chart\u003c/a\u003e.",
      "id": "BubbleChartSpec",
      "properties": {
        "bubbleBorderColor": {
          "$ref": "Color",
          "description": "The bubble border color."
        },
        "bubbleBorderColorStyle": {
          "$ref": "ColorStyle",
          "description": "The bubble border color.\nIf bubble_border_color is also set, this field takes precedence."
        },
        "bubbleLabels": {
          "$ref": "ChartData",
          "description": "The data containing the bubble labels.  These do not need to be unique."
        },
        "bubbleMaxRadiusSize": {
          "description": "The max radius size of the bubbles, in pixels.\nIf specified, the field must be a positive value.",
          "format": "int32",
          "type": "integer"
        },
        "bubbleMinRadiusSize": {
          "description": "The minimum radius size of the bubbles, in pixels.\nIf specific, the field must be a positive value.",
          "format": "int32",
          "type": "integer"
        },
        "bubbleOpacity": {
          "description": "The opacity of the bubbles between 0 and 1.0.\n0 is fully transparent and 1 is fully opaque.",
          "format": "float",
          "type": "number"
        },
        "bubbleSizes": {
          "$ref": "ChartData",
          "description": "The data contianing the bubble sizes.  Bubble sizes are used to draw\nthe bubbles at different sizes relative to each other.\nIf specified, group_ids must also be specified.  This field is\noptional."
        },
        "bubbleTextStyle": {
          "$ref": "TextFormat",
          "description": "The format of the text inside the bubbles.\nUnderline and Strikethrough are not supported."
        },
        "domain": {
          "$ref": "ChartData",
          "description": "The data containing the bubble x-values.  These values locate the bubbles\nin the chart horizontally."
        },
        "groupIds": {
          "$ref": "ChartData",
[...]
