{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2012-12-01",
    "endpointPrefix":"redshift",
    "protocol":"query",
    "serviceFullName":"Amazon Redshift",
    "serviceId":"Redshift",
    "signatureVersion":"v4",
    "uid":"redshift-2012-12-01",
    "xmlNamespace":"http://redshift.amazonaws.com/doc/2012-12-01/"
  },
  "operations":{
    "AcceptReservedNodeExchange":{
      "name":"AcceptReservedNodeExchange",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptReservedNodeExchangeInputMessage"},
      "output":{
        "shape":"AcceptReservedNodeExchangeOutputMessage",
        "resultWrapper":"AcceptReservedNodeExchangeResult"
      },
      "errors":[
        {"shape":"ReservedNodeNotFoundFault"},
        {"shape":"InvalidReservedNodeStateFault"},
        {"shape":"ReservedNodeAlreadyMigratedFault"},
        {"shape":"ReservedNodeOfferingNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceUnavailableFault"},
        {"shape":"ReservedNodeAlreadyExistsFault"}
      ]
    },
    "AuthorizeClusterSecurityGroupIngress":{
      "name":"AuthorizeClusterSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeClusterSecurityGroupIngressMessage"},
      "output":{
        "shape":"AuthorizeClusterSecurityGroupIngressResult",
        "resultWrapper":"AuthorizeClusterSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"InvalidClusterSecurityGroupStateFault"},
        {"shape":"AuthorizationAlreadyExistsFault"},
        {"shape":"AuthorizationQuotaExceededFault"}
      ]
    },
    "AuthorizeSnapshotAccess":{
      "name":"AuthorizeSnapshotAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSnapshotAccessMessage"},
      "output":{
        "shape":"AuthorizeSnapshotAccessResult",
        "resultWrapper":"AuthorizeSnapshotAccessResult"
      },
      "errors":[
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"AuthorizationAlreadyExistsFault"},
        {"shape":"AuthorizationQuotaExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"LimitExceededFault"}
      ]
    },
    "BatchDeleteClusterSnapshots":{
      "name":"BatchDeleteClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteClusterSnapshotsRequest"},
      "output":{
        "shape":"BatchDeleteClusterSnapshotsResult",
        "resultWrapper":"BatchDeleteClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"BatchDeleteRequestSizeExceededFault"}
      ]
    },
    "BatchModifyClusterSnapshots":{
      "name":"BatchModifyClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchModifyClusterSnapshotsMessage"},
      "output":{
        "shape":"BatchModifyClusterSnapshotsOutputMessage",
        "resultWrapper":"BatchModifyClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"InvalidRetentionPeriodFault"},
        {"shape":"BatchModifyClusterSnapshotsLimitExceededFault"}
      ]
    },
    "CancelResize":{
      "name":"CancelResize",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelResizeMessage"},
      "output":{
        "shape":"ResizeProgressMessage",
        "resultWrapper":"CancelResizeResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ResizeNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnsupportedOperationFault"}
      ]
    },
    "CopyClusterSnapshot":{
      "name":"CopyClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyClusterSnapshotMessage"},
      "output":{
        "shape":"CopyClusterSnapshotResult",
        "resultWrapper":"CopyClusterSnapshotResult"
      },
      "errors":[
        {"shape":"ClusterSnapshotAlreadyExistsFault"},
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"ClusterSnapshotQuotaExceededFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ]
    },
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterMessage"},
      "output":{
        "shape":"CreateClusterResult",
        "resultWrapper":"CreateClusterResult"
      },
      "errors":[
        {"shape":"ClusterAlreadyExistsFault"},
        {"shape":"InsufficientClusterCapacityFault"},
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"ClusterQuotaExceededFault"},
        {"shape":"NumberOfNodesQuotaExceededFault"},
        {"shape":"NumberOfNodesPerClusterLimitExceededFault"},
        {"shape":"ClusterSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidClusterSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"HsmClientCertificateNotFoundFault"},
        {"shape":"HsmConfigurationNotFoundFault"},
        {"shape":"InvalidElasticIpFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidClusterTrackFault"},
        {"shape":"SnapshotScheduleNotFoundFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ]
    },
    "CreateClusterParameterGroup":{
      "name":"CreateClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterParameterGroupMessage"},
      "output":{
        "shape":"CreateClusterParameterGroupResult",
        "resultWrapper":"CreateClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"ClusterParameterGroupQuotaExceededFault"},
        {"shape":"ClusterParameterGroupAlreadyExistsFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "CreateClusterSecurityGroup":{
      "name":"CreateClusterSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSecurityGroupMessage"},
      "output":{
        "shape":"CreateClusterSecurityGroupResult",
        "resultWrapper":"CreateClusterSecurityGroupResult"
      },
      "errors":[
        {"shape":"ClusterSecurityGroupAlreadyExistsFault"},
        {"shape":"ClusterSecurityGroupQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "CreateClusterSnapshot":{
      "name":"CreateClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSnapshotMessage"},
      "output":{
        "shape":"CreateClusterSnapshotResult",
        "resultWrapper":"CreateClusterSnapshotResult"
      },
      "errors":[
        {"shape":"ClusterSnapshotAlreadyExistsFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ClusterSnapshotQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ]
    },
    "CreateClusterSubnetGroup":{
      "name":"CreateClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSubnetGroupMessage"},
      "output":{
        "shape":"CreateClusterSubnetGroupResult",
        "resultWrapper":"CreateClusterSubnetGroupResult"
      },
      "errors":[
        {"shape":"ClusterSubnetGroupAlreadyExistsFault"},
        {"shape":"ClusterSubnetGroupQuotaExceededFault"},
        {"shape":"ClusterSubnetQuotaExceededFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"DependentServiceRequestThrottlingFault"}
      ]
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSubscriptionMessage"},
      "output":{
        "shape":"CreateEventSubscriptionResult",
        "resultWrapper":"CreateEventSubscriptionResult"
      },
      "errors":[
        {"shape":"EventSubscriptionQuotaExceededFault"},
        {"shape":"SubscriptionAlreadyExistFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionEventIdNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"},
        {"shape":"SubscriptionSeverityNotFoundFault"},
        {"shape":"SourceNotFoundFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "CreateHsmClientCertificate":{
      "name":"CreateHsmClientCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHsmClientCertificateMessage"},
      "output":{
        "shape":"CreateHsmClientCertificateResult",
        "resultWrapper":"CreateHsmClientCertificateResult"
      },
      "errors":[
        {"shape":"HsmClientCertificateAlreadyExistsFault"},
        {"shape":"HsmClientCertificateQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "CreateHsmConfiguration":{
      "name":"CreateHsmConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHsmConfigurationMessage"},
      "output":{
        "shape":"CreateHsmConfigurationResult",
        "resultWrapper":"CreateHsmConfigurationResult"
      },
      "errors":[
        {"shape":"HsmConfigurationAlreadyExistsFault"},
        {"shape":"HsmConfigurationQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "CreateScheduledAction":{
      "name":"CreateScheduledAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateScheduledActionMessage"},
      "output":{
        "shape":"ScheduledAction",
        "resultWrapper":"CreateScheduledActionResult"
      },
      "errors":[
        {"shape":"ScheduledActionAlreadyExistsFault"},
        {"shape":"ScheduledActionQuotaExceededFault"},
        {"shape":"ScheduledActionTypeUnsupportedFault"},
        {"shape":"InvalidScheduleFault"},
        {"shape":"InvalidScheduledActionFault"},
        {"shape":"UnauthorizedOperation"}
      ]
    },
    "CreateSnapshotCopyGrant":{
      "name":"CreateSnapshotCopyGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotCopyGrantMessage"},
      "output":{
        "shape":"CreateSnapshotCopyGrantResult",
        "resultWrapper":"CreateSnapshotCopyGrantResult"
      },
      "errors":[
        {"shape":"SnapshotCopyGrantAlreadyExistsFault"},
        {"shape":"SnapshotCopyGrantQuotaExceededFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"DependentServiceRequestThrottlingFault"}
      ]
    },
    "CreateSnapshotSchedule":{
      "name":"CreateSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotScheduleMessage"},
      "output":{
        "shape":"SnapshotSchedule",
        "resultWrapper":"CreateSnapshotScheduleResult"
      },
      "errors":[
        {"shape":"SnapshotScheduleAlreadyExistsFault"},
        {"shape":"InvalidScheduleFault"},
        {"shape":"SnapshotScheduleQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"ScheduleDefinitionTypeUnsupportedFault"}
      ]
    },
    "CreateTags":{
      "name":"CreateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTagsMessage"},
      "errors":[
        {"shape":"TagLimitExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "CreateUsageLimit":{
      "name":"CreateUsageLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUsageLimitMessage"},
      "output":{
        "shape":"UsageLimit",
        "resultWrapper":"CreateUsageLimitResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"UsageLimitAlreadyExistsFault"},
        {"shape":"InvalidUsageLimitFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"UnsupportedOperationFault"}
      ]
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterMessage"},
      "output":{
        "shape":"DeleteClusterResult",
        "resultWrapper":"DeleteClusterResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterSnapshotAlreadyExistsFault"},
        {"shape":"ClusterSnapshotQuotaExceededFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ]
    },
    "DeleteClusterParameterGroup":{
      "name":"DeleteClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidClusterParameterGroupStateFault"},
        {"shape":"ClusterParameterGroupNotFoundFault"}
      ]
    },
    "DeleteClusterSecurityGroup":{
      "name":"DeleteClusterSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSecurityGroupMessage"},
      "errors":[
        {"shape":"InvalidClusterSecurityGroupStateFault"},
        {"shape":"ClusterSecurityGroupNotFoundFault"}
      ]
    },
    "DeleteClusterSnapshot":{
      "name":"DeleteClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSnapshotMessage"},
      "output":{
        "shape":"DeleteClusterSnapshotResult",
        "resultWrapper":"DeleteClusterSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"ClusterSnapshotNotFoundFault"}
      ]
    },
    "DeleteClusterSubnetGroup":{
      "name":"DeleteClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSubnetGroupMessage"},
      "errors":[
        {"shape":"InvalidClusterSubnetGroupStateFault"},
        {"shape":"InvalidClusterSubnetStateFault"},
        {"shape":"ClusterSubnetGroupNotFoundFault"}
      ]
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSubscriptionMessage"},
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"InvalidSubscriptionStateFault"}
      ]
    },
    "DeleteHsmClientCertificate":{
      "name":"DeleteHsmClientCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHsmClientCertificateMessage"},
      "errors":[
        {"shape":"InvalidHsmClientCertificateStateFault"},
        {"shape":"HsmClientCertificateNotFoundFault"}
      ]
    },
    "DeleteHsmConfiguration":{
      "name":"DeleteHsmConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHsmConfigurationMessage"},
      "errors":[
        {"shape":"InvalidHsmConfigurationStateFault"},
        {"shape":"HsmConfigurationNotFoundFault"}
      ]
    },
    "DeleteScheduledAction":{
      "name":"DeleteScheduledAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteScheduledActionMessage"},
      "errors":[
        {"shape":"ScheduledActionNotFoundFault"},
        {"shape":"UnauthorizedOperation"}
      ]
    },
    "DeleteSnapshotCopyGrant":{
      "name":"DeleteSnapshotCopyGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotCopyGrantMessage"},
      "errors":[
        {"shape":"InvalidSnapshotCopyGrantStateFault"},
        {"shape":"SnapshotCopyGrantNotFoundFault"}
      ]
    },
    "DeleteSnapshotSchedule":{
      "name":"DeleteSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotScheduleMessage"},
      "errors":[
        {"shape":"InvalidClusterSnapshotScheduleStateFault"},
        {"shape":"SnapshotScheduleNotFoundFault"}
      ]
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsMessage"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DeleteUsageLimit":{
      "name":"DeleteUsageLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUsageLimitMessage"},
      "errors":[
        {"shape":"UsageLimitNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ]
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesMessage"},
      "output":{
        "shape":"AccountAttributeList",
        "resultWrapper":"DescribeAccountAttributesResult"
      }
    },
    "DescribeClusterDbRevisions":{
      "name":"DescribeClusterDbRevisions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterDbRevisionsMessage"},
      "output":{
        "shape":"ClusterDbRevisionsMessage",
        "resultWrapper":"DescribeClusterDbRevisionsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"}
      ]
    },
    "DescribeClusterParameterGroups":{
      "name":"DescribeClusterParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterParameterGroupsMessage"},
      "output":{
        "shape":"ClusterParameterGroupsMessage",
        "resultWrapper":"DescribeClusterParameterGroupsResult"
      },
      "errors":[
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeClusterParameters":{
      "name":"DescribeClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterParametersMessage"},
      "output":{
        "shape":"ClusterParameterGroupDetails",
        "resultWrapper":"DescribeClusterParametersResult"
      },
      "errors":[
        {"shape":"ClusterParameterGroupNotFoundFault"}
      ]
    },
    "DescribeClusterSecurityGroups":{
      "name":"DescribeClusterSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSecurityGroupsMessage"},
      "output":{
        "shape":"ClusterSecurityGroupMessage",
        "resultWrapper":"DescribeClusterSecurityGroupsResult"
      },
      "errors":[
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeClusterSnapshots":{
      "name":"DescribeClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSnapshotsMessage"},
      "output":{
        "shape":"SnapshotMessage",
        "resultWrapper":"DescribeClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeClusterSubnetGroups":{
      "name":"DescribeClusterSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSubnetGroupsMessage"},
      "output":{
        "shape":"ClusterSubnetGroupMessage",
        "resultWrapper":"DescribeClusterSubnetGroupsResult"
      },
      "errors":[
        {"shape":"ClusterSubnetGroupNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeClusterTracks":{
      "name":"DescribeClusterTracks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterTracksMessage"},
      "output":{
        "shape":"TrackListMessage",
        "resultWrapper":"DescribeClusterTracksResult"
      },
      "errors":[
        {"shape":"InvalidClusterTrackFault"},
        {"shape":"UnauthorizedOperation"}
      ]
    },
    "DescribeClusterVersions":{
      "name":"DescribeClusterVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterVersionsMessage"},
      "output":{
        "shape":"ClusterVersionsMessage",
        "resultWrapper":"DescribeClusterVersionsResult"
      }
    },
    "DescribeClusters":{
      "name":"DescribeClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClustersMessage"},
      "output":{
        "shape":"ClustersMessage",
        "resultWrapper":"DescribeClustersResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeDefaultClusterParameters":{
      "name":"DescribeDefaultClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDefaultClusterParametersMessage"},
      "output":{
        "shape":"DescribeDefaultClusterParametersResult",
        "resultWrapper":"DescribeDefaultClusterParametersResult"
      }
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventCategoriesMessage"},
      "output":{
        "shape":"EventCategoriesMessage",
        "resultWrapper":"DescribeEventCategoriesResult"
      }
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSubscriptionsMessage"},
      "output":{
        "shape":"EventSubscriptionsMessage",
        "resultWrapper":"DescribeEventSubscriptionsResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{
        "shape":"EventsMessage",
        "resultWrapper":"DescribeEventsResult"
      }
    },
    "DescribeHsmClientCertificates":{
      "name":"DescribeHsmClientCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHsmClientCertificatesMessage"},
      "output":{
        "shape":"HsmClientCertificateMessage",
        "resultWrapper":"DescribeHsmClientCertificatesResult"
      },
      "errors":[
        {"shape":"HsmClientCertificateNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeHsmConfigurations":{
      "name":"DescribeHsmConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHsmConfigurationsMessage"},
      "output":{
        "shape":"HsmConfigurationMessage",
        "resultWrapper":"DescribeHsmConfigurationsResult"
      },
      "errors":[
        {"shape":"HsmConfigurationNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeLoggingStatus":{
      "name":"DescribeLoggingStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoggingStatusMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"DescribeLoggingStatusResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"}
      ]
    },
    "DescribeNodeConfigurationOptions":{
      "name":"DescribeNodeConfigurationOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNodeConfigurationOptionsMessage"},
      "output":{
        "shape":"NodeConfigurationOptionsMessage",
        "resultWrapper":"DescribeNodeConfigurationOptionsResult"
      },
      "errors":[
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"AccessToSnapshotDeniedFault"}
      ]
    },
    "DescribeOrderableClusterOptions":{
      "name":"DescribeOrderableClusterOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrderableClusterOptionsMessage"},
      "output":{
        "shape":"OrderableClusterOptionsMessage",
        "resultWrapper":"DescribeOrderableClusterOptionsResult"
      }
    },
    "DescribeReservedNodeOfferings":{
      "name":"DescribeReservedNodeOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedNodeOfferingsMessage"},
      "output":{
        "shape":"ReservedNodeOfferingsMessage",
        "resultWrapper":"DescribeReservedNodeOfferingsResult"
      },
      "errors":[
        {"shape":"ReservedNodeOfferingNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceUnavailableFault"}
      ]
    },
    "DescribeReservedNodes":{
      "name":"DescribeReservedNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedNodesMessage"},
      "output":{
        "shape":"ReservedNodesMessage",
        "resultWrapper":"DescribeReservedNodesResult"
      },
      "errors":[
        {"shape":"ReservedNodeNotFoundFault"},
        {"shape":"DependentServiceUnavailableFault"}
      ]
    },
    "DescribeResize":{
      "name":"DescribeResize",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResizeMessage"},
      "output":{
        "shape":"ResizeProgressMessage",
        "resultWrapper":"DescribeResizeResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ResizeNotFoundFault"}
      ]
    },
    "DescribeScheduledActions":{
      "name":"DescribeScheduledActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScheduledActionsMessage"},
      "output":{
        "shape":"ScheduledActionsMessage",
        "resultWrapper":"DescribeScheduledActionsResult"
      },
      "errors":[
        {"shape":"ScheduledActionNotFoundFault"},
        {"shape":"UnauthorizedOperation"}
      ]
    },
    "DescribeSnapshotCopyGrants":{
      "name":"DescribeSnapshotCopyGrants",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotCopyGrantsMessage"},
      "output":{
        "shape":"SnapshotCopyGrantMessage",
        "resultWrapper":"DescribeSnapshotCopyGrantsResult"
      },
      "errors":[
        {"shape":"SnapshotCopyGrantNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeSnapshotSchedules":{
      "name":"DescribeSnapshotSchedules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotSchedulesMessage"},
      "output":{
        "shape":"DescribeSnapshotSchedulesOutputMessage",
        "resultWrapper":"DescribeSnapshotSchedulesResult"
      }
    },
    "DescribeStorage":{
      "name":"DescribeStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"CustomerStorageMessage",
        "resultWrapper":"DescribeStorageResult"
      }
    },
    "DescribeTableRestoreStatus":{
      "name":"DescribeTableRestoreStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTableRestoreStatusMessage"},
      "output":{
        "shape":"TableRestoreStatusMessage",
        "resultWrapper":"DescribeTableRestoreStatusResult"
      },
      "errors":[
        {"shape":"TableRestoreNotFoundFault"},
        {"shape":"ClusterNotFoundFault"}
      ]
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsMessage"},
      "output":{
        "shape":"TaggedResourceListMessage",
        "resultWrapper":"DescribeTagsResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "DescribeUsageLimits":{
      "name":"DescribeUsageLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUsageLimitsMessage"},
      "output":{
        "shape":"UsageLimitList",
        "resultWrapper":"DescribeUsageLimitsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ]
    },
    "DisableLogging":{
      "name":"DisableLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableLoggingMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"DisableLoggingResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"}
      ]
    },
    "DisableSnapshotCopy":{
      "name":"DisableSnapshotCopy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableSnapshotCopyMessage"},
      "output":{
        "shape":"DisableSnapshotCopyResult",
        "resultWrapper":"DisableSnapshotCopyResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"SnapshotCopyAlreadyDisabledFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnauthorizedOperation"}
      ]
    },
    "EnableLogging":{
      "name":"EnableLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableLoggingMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"EnableLoggingResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"BucketNotFoundFault"},
        {"shape":"InsufficientS3BucketPolicyFault"},
        {"shape":"InvalidS3KeyPrefixFault"},
        {"shape":"InvalidS3BucketNameFault"},
        {"shape":"InvalidClusterStateFault"}
      ]
    },
    "EnableSnapshotCopy":{
      "name":"EnableSnapshotCopy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableSnapshotCopyMessage"},
      "output":{
        "shape":"EnableSnapshotCopyResult",
        "resultWrapper":"EnableSnapshotCopyResult"
      },
      "errors":[
        {"shape":"IncompatibleOrderableOptions"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"CopyToRegionDisabledFault"},
        {"shape":"SnapshotCopyAlreadyEnabledFault"},
        {"shape":"UnknownSnapshotCopyRegionFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"SnapshotCopyGrantNotFoundFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ]
    },
    "GetClusterCredentials":{
      "name":"GetClusterCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetClusterCredentialsMessage"},
      "output":{
        "shape":"ClusterCredentials",
        "resultWrapper":"GetClusterCredentialsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ]
    },
    "GetReservedNodeExchangeOfferings":{
      "name":"GetReservedNodeExchangeOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservedNodeExchangeOfferingsInputMessage"},
      "output":{
        "shape":"GetReservedNodeExchangeOfferingsOutputMessage",
        "resultWrapper":"GetReservedNodeExchangeOfferingsResult"
      },
      "errors":[
        {"shape":"ReservedNodeNotFoundFault"},
        {"shape":"InvalidReservedNodeStateFault"},
        {"shape":"ReservedNodeAlreadyMigratedFault"},
        {"shape":"ReservedNodeOfferingNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceUnavailableFault"}
      ]
    },
    "ModifyCluster":{
      "name":"ModifyCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterMessage"},
      "output":{
        "shape":"ModifyClusterResult",
        "resultWrapper":"ModifyClusterResult"
      },
      "errors":[
        {"shape":"InvalidClusterStateFault"},
        {"shape":"InvalidClusterSecurityGroupStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"NumberOfNodesQuotaExceededFault"},
        {"shape":"NumberOfNodesPerClusterLimitExceededFault"},
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"InsufficientClusterCapacityFault"},
        {"shape":"UnsupportedOptionFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"HsmClientCertificateNotFoundFault"},
        {"shape":"HsmConfigurationNotFoundFault"},
        {"shape":"ClusterAlreadyExistsFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidElasticIpFault"},
        {"shape":"TableLimitExceededFault"},
        {"shape":"InvalidClusterTrackFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ]
    },
    "ModifyClusterDbRevision":{
      "name":"ModifyClusterDbRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterDbRevisionMessage"},
      "output":{
        "shape":"ModifyClusterDbRevisionResult",
        "resultWrapper":"ModifyClusterDbRevisionResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ClusterOnLatestRevisionFault"},
        {"shape":"InvalidClusterStateFault"}
      ]
    },
    "ModifyClusterIamRoles":{
      "name":"ModifyClusterIamRoles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterIamRolesMessage"},
      "output":{
        "shape":"ModifyClusterIamRolesResult",
        "resultWrapper":"ModifyClusterIamRolesResult"
      },
      "errors":[
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterNotFoundFault"}
      ]
    },
    "ModifyClusterMaintenance":{
      "name":"ModifyClusterMaintenance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterMaintenanceMessage"},
      "output":{
        "shape":"ModifyClusterMaintenanceResult",
        "resultWrapper":"ModifyClusterMaintenanceResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"}
      ]
    },
    "ModifyClusterParameterGroup":{
      "name":"ModifyClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterParameterGroupMessage"},
      "output":{
        "shape":"ClusterParameterGroupNameMessage",
        "resultWrapper":"ModifyClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"InvalidClusterParameterGroupStateFault"}
      ]
    },
    "ModifyClusterSnapshot":{
      "name":"ModifyClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterSnapshotMessage"},
      "output":{
        "shape":"ModifyClusterSnapshotResult",
        "resultWrapper":"ModifyClusterSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ]
    },
    "ModifyClusterSnapshotSchedule":{
      "name":"ModifyClusterSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterSnapshotScheduleMessage"},
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"SnapshotScheduleNotFoundFault"},
        {"shape":"InvalidClusterSnapshotScheduleStateFault"}
      ]
    },
    "ModifyClusterSubnetGroup":{
      "name":"ModifyClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterSubnetGroupMessage"},
      "output":{
        "shape":"ModifyClusterSubnetGroupResult",
        "resultWrapper":"ModifyClusterSubnetGroupResult"
      },
      "errors":[
        {"shape":"ClusterSubnetGroupNotFoundFault"},
        {"shape":"ClusterSubnetQuotaExceededFault"},
        {"shape":"SubnetAlreadyInUse"},
        {"shape":"InvalidSubnet"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"DependentServiceRequestThrottlingFault"}
      ]
    },
    "ModifyEventSubscription":{
      "name":"ModifyEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEventSubscriptionMessage"},
      "output":{
        "shape":"ModifyEventSubscriptionResult",
        "resultWrapper":"ModifyEventSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionEventIdNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"},
        {"shape":"SubscriptionSeverityNotFoundFault"},
        {"shape":"SourceNotFoundFault"},
        {"shape":"InvalidSubscriptionStateFault"}
      ]
    },
    "ModifyScheduledAction":{
      "name":"ModifyScheduledAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyScheduledActionMessage"},
      "output":{
        "shape":"ScheduledAction",
        "resultWrapper":"ModifyScheduledActionResult"
      },
      "errors":[
        {"shape":"ScheduledActionNotFoundFault"},
        {"shape":"ScheduledActionTypeUnsupportedFault"},
        {"shape":"InvalidScheduleFault"},
        {"shape":"InvalidScheduledActionFault"},
        {"shape":"UnauthorizedOperation"}
      ]
    },
    "ModifySnapshotCopyRetentionPeriod":{
      "name":"ModifySnapshotCopyRetentionPeriod",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySnapshotCopyRetentionPeriodMessage"},
      "output":{
        "shape":"ModifySnapshotCopyRetentionPeriodResult",
        "resultWrapper":"ModifySnapshotCopyRetentionPeriodResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"SnapshotCopyDisabledFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ]
    },
    "ModifySnapshotSchedule":{
      "name":"ModifySnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySnapshotScheduleMessage"},
      "output":{
        "shape":"SnapshotSchedule",
        "resultWrapper":"ModifySnapshotScheduleResult"
      },
      "errors":[
        {"shape":"InvalidScheduleFault"},
        {"shape":"SnapshotScheduleNotFoundFault"},
        {"shape":"SnapshotScheduleUpdateInProgressFault"}
      ]
    },
    "ModifyUsageLimit":{
      "name":"ModifyUsageLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyUsageLimitMessage"},
      "output":{
        "shape":"UsageLimit",
        "resultWrapper":"ModifyUsageLimitResult"
      },
      "errors":[
        {"shape":"InvalidUsageLimitFault"},
        {"shape":"UsageLimitNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ]
    },
    "PauseCluster":{
      "name":"PauseCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PauseClusterMessage"},
      "output":{
        "shape":"PauseClusterResult",
        "resultWrapper":"PauseClusterResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"}
      ]
    },
    "PurchaseReservedNodeOffering":{
      "name":"PurchaseReservedNodeOffering",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PurchaseReservedNodeOfferingMessage"},
      "output":{
        "shape":"PurchaseReservedNodeOfferingResult",
        "resultWrapper":"PurchaseReservedNodeOfferingResult"
      },
      "errors":[
        {"shape":"ReservedNodeOfferingNotFoundFault"},
        {"shape":"ReservedNodeAlreadyExistsFault"},
        {"shape":"ReservedNodeQuotaExceededFault"},
        {"shape":"UnsupportedOperationFault"}
      ]
    },
    "RebootCluster":{
      "name":"RebootCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootClusterMessage"},
      "output":{
        "shape":"RebootClusterResult",
        "resultWrapper":"RebootClusterResult"
      },
      "errors":[
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterNotFoundFault"}
      ]
    },
    "ResetClusterParameterGroup":{
      "name":"ResetClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetClusterParameterGroupMessage"},
      "output":{
        "shape":"ClusterParameterGroupNameMessage",
        "resultWrapper":"ResetClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"InvalidClusterParameterGroupStateFault"},
        {"shape":"ClusterParameterGroupNotFoundFault"}
      ]
    },
    "ResizeCluster":{
      "name":"ResizeCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResizeClusterMessage"},
      "output":{
        "shape":"ResizeClusterResult",
        "resultWrapper":"ResizeClusterResult"
      },
      "errors":[
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"NumberOfNodesQuotaExceededFault"},
        {"shape":"NumberOfNodesPerClusterLimitExceededFault"},
        {"shape":"InsufficientClusterCapacityFault"},
        {"shape":"UnsupportedOptionFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"LimitExceededFault"}
      ]
    },
    "RestoreFromClusterSnapshot":{
      "name":"RestoreFromClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreFromClusterSnapshotMessage"},
      "output":{
        "shape":"RestoreFromClusterSnapshotResult",
        "resultWrapper":"RestoreFromClusterSnapshotResult"
      },
      "errors":[
        {"shape":"AccessToSnapshotDeniedFault"},
        {"shape":"ClusterAlreadyExistsFault"},
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"ClusterQuotaExceededFault"},
        {"shape":"InsufficientClusterCapacityFault"},
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"NumberOfNodesQuotaExceededFault"},
        {"shape":"NumberOfNodesPerClusterLimitExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidClusterSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"ClusterSubnetGroupNotFoundFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"HsmClientCertificateNotFoundFault"},
        {"shape":"HsmConfigurationNotFoundFault"},
        {"shape":"InvalidElasticIpFault"},
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidClusterTrackFault"},
        {"shape":"SnapshotScheduleNotFoundFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ]
    },
    "RestoreTableFromClusterSnapshot":{
      "name":"RestoreTableFromClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreTableFromClusterSnapshotMessage"},
      "output":{
        "shape":"RestoreTableFromClusterSnapshotResult",
        "resultWrapper":"RestoreTableFromClusterSnapshotResult"
      },
      "errors":[
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InProgressTableRestoreQuotaExceededFault"},
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"InvalidTableRestoreArgumentFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnsupportedOperationFault"}
      ]
    },
    "ResumeCluster":{
      "name":"ResumeCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResumeClusterMessage"},
      "output":{
        "shape":"ResumeClusterResult",
        "resultWrapper":"ResumeClusterResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"}
      ]
    },
    "RevokeClusterSecurityGroupIngress":{
      "name":"RevokeClusterSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeClusterSecurityGroupIngressMessage"},
      "output":{
        "shape":"RevokeClusterSecurityGroupIngressResult",
        "resultWrapper":"RevokeClusterSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"InvalidClusterSecurityGroupStateFault"}
      ]
    },
    "RevokeSnapshotAccess":{
      "name":"RevokeSnapshotAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeSnapshotAccessMessage"},
      "output":{
        "shape":"RevokeSnapshotAccessResult",
        "resultWrapper":"RevokeSnapshotAccessResult"
      },
      "errors":[
        {"shape":"AccessToSnapshotDeniedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"ClusterSnapshotNotFoundFault"}
      ]
    },
    "RotateEncryptionKey":{
      "name":"RotateEncryptionKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RotateEncryptionKeyMessage"},
      "output":{
        "shape":"RotateEncryptionKeyResult",
        "resultWrapper":"RotateEncryptionKeyResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"DependentServiceRequestThrottlingFault"}
      ]
    }
  },
  "shapes":{
    "AcceptReservedNodeExchangeInputMessage":{
      "type":"structure",
      "required":[
        "ReservedNodeId",
        "TargetReservedNodeOfferingId"
      ],
      "members":{
        "ReservedNodeId":{"shape":"String"},
        "TargetReservedNodeOfferingId":{"shape":"String"}
      }
    },
    "AcceptReservedNodeExchangeOutputMessage":{
      "type":"structure",
      "members":{
        "ExchangedReservedNode":{"shape":"ReservedNode"}
      }
    },
    "AccessToSnapshotDeniedFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AccessToSnapshotDenied",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AccountAttribute":{
      "type":"structure",
      "members":{
        "AttributeName":{"shape":"String"},
        "AttributeValues":{"shape":"AttributeValueList"}
      }
    },
    "AccountAttributeList":{
      "type":"structure",
      "members":{
        "AccountAttributes":{"shape":"AttributeList"}
      }
    },
    "AccountWithRestoreAccess":{
      "type":"structure",
      "members":{
        "AccountId":{"shape":"String"},
        "AccountAlias":{"shape":"String"}
      }
    },
    "AccountsWithRestoreAccessList":{
      "type":"list",
      "member":{
        "shape":"AccountWithRestoreAccess",
        "locationName":"AccountWithRestoreAccess"
      }
    },
    "ActionType":{
      "type":"string",
      "enum":[
        "restore-cluster",
        "recommend-node-config",
        "resize-cluster"
      ]
    },
    "AssociatedClusterList":{
      "type":"list",
      "member":{
        "shape":"ClusterAssociatedToSchedule",
        "locationName":"ClusterAssociatedToSchedule"
      }
    },
    "AttributeList":{
      "type":"list",
      "member":{
        "shape":"AccountAttribute",
        "locationName":"AccountAttribute"
      }
    },
    "AttributeNameList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AttributeName"
      }
    },
    "AttributeValueList":{
      "type":"list",
      "member":{
        "shape":"AttributeValueTarget",
        "locationName":"AttributeValueTarget"
      }
    },
    "AttributeValueTarget":{
      "type":"structure",
      "members":{
        "AttributeValue":{"shape":"String"}
      }
    },
    "AuthorizationAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizeClusterSecurityGroupIngressMessage":{
      "type":"structure",
      "required":["ClusterSecurityGroupName"],
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "CIDRIP":{"shape":"String"},
        "EC2SecurityGroupName":{"shape":"String"},
        "EC2SecurityGroupOwnerId":{"shape":"String"}
      }
    },
    "AuthorizeClusterSecurityGroupIngressResult":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroup":{"shape":"ClusterSecurityGroup"}
      }
    },
    "AuthorizeSnapshotAccessMessage":{
      "type":"structure",
      "required":[
        "SnapshotIdentifier",
        "AccountWithRestoreAccess"
      ],
      "members":{
        "SnapshotIdentifier":{"shape":"String"},
        "SnapshotClusterIdentifier":{"shape":"String"},
        "AccountWithRestoreAccess":{"shape":"String"}
      }
    },
    "AuthorizeSnapshotAccessResult":{
      "type":"structure",
      "members":{
        "Snapshot":{"shape":"Snapshot"}
      }
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "SupportedPlatforms":{"shape":"SupportedPlatformsList"}
      },
      "wrapper":true
    },
    "AvailabilityZoneList":{
      "type":"list",
      "member":{
        "shape":"AvailabilityZone",
        "locationName":"AvailabilityZone"
      }
    },
    "BatchDeleteClusterSnapshotsRequest":{
      "type":"structure",
      "required":["Identifiers"],
      "members":{
        "Identifiers":{"shape":"DeleteClusterSnapshotMessageList"}
      }
    },
    "BatchDeleteClusterSnapshotsResult":{
      "type":"structure",
      "members":{
        "Resources":{"shape":"SnapshotIdentifierList"},
        "Errors":{"shape":"BatchSnapshotOperationErrorList"}
      }
    },
    "BatchDeleteRequestSizeExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"BatchDeleteRequestSizeExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "BatchModifyClusterSnapshotsLimitExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"BatchModifyClusterSnapshotsLimitExceededFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "BatchModifyClusterSnapshotsMessage":{
      "type":"structure",
      "required":["SnapshotIdentifierList"],
      "members":{
        "SnapshotIdentifierList":{"shape":"SnapshotIdentifierList"},
        "ManualSnapshotRetentionPeriod":{"shape":"IntegerOptional"},
        "Force":{"shape":"Boolean"}
      }
    },
    "BatchModifyClusterSnapshotsOutputMessage":{
      "type":"structure",
      "members":{
        "Resources":{"shape":"SnapshotIdentifierList"},
        "Errors":{"shape":"BatchSnapshotOperationErrors"}
      }
    },
    "BatchSnapshotOperationErrorList":{
      "type":"list",
      "member":{
        "shape":"SnapshotErrorMessage",
        "locationName":"SnapshotErrorMessage"
      }
    },
    "BatchSnapshotOperationErrors":{
      "type":"list",
      "member":{
        "shape":"SnapshotErrorMessage",
        "locationName":"SnapshotErrorMessage"
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanOptional":{"type":"boolean"},
    "BucketNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"BucketNotFoundFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CancelResizeMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"}
      }
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "NodeType":{"shape":"String"},
        "ClusterStatus":{"shape":"String"},
        "ClusterAvailabilityStatus":{"shape":"String"},
        "ModifyStatus":{"shape":"String"},
        "MasterUsername":{"shape":"String"},
        "DBName":{"shape":"String"},
        "Endpoint":{"shape":"Endpoint"},
        "ClusterCreateTime":{"shape":"TStamp"},
        "AutomatedSnapshotRetentionPeriod":{"shape":"Integer"},
        "ManualSnapshotRetentionPeriod":{"shape":"Integer"},
        "ClusterSecurityGroups":{"shape":"ClusterSecurityGroupMembershipList"},
        "VpcSecurityGroups":{"shape":"VpcSecurityGroupMembershipList"},
        "ClusterParameterGroups":{"shape":"ClusterParameterGroupStatusList"},
        "ClusterSubnetGroupName":{"shape":"String"},
        "VpcId":{"shape":"String"},
        "AvailabilityZone":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "PendingModifiedValues":{"shape":"PendingModifiedValues"},
        "ClusterVersion":{"shape":"String"},
        "AllowVersionUpgrade":{"shape":"Boolean"},
        "NumberOfNodes":{"shape":"Integer"},
        "PubliclyAccessible":{"shape":"Boolean"},
        "Encrypted":{"shape":"Boolean"},
        "RestoreStatus":{"shape":"RestoreStatus"},
        "DataTransferProgress":{"shape":"DataTransferProgress"},
        "HsmStatus":{"shape":"HsmStatus"},
        "ClusterSnapshotCopyStatus":{"shape":"ClusterSnapshotCopyStatus"},
        "ClusterPublicKey":{"shape":"String"},
        "ClusterNodes":{"shape":"ClusterNodesList"},
        "ElasticIpStatus":{"shape":"ElasticIpStatus"},
        "ClusterRevisionNumber":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "KmsKeyId":{"shape":"String"},
        "EnhancedVpcRouting":{"shape":"Boolean"},
        "IamRoles":{"shape":"ClusterIamRoleList"},
        "PendingActions":{"shape":"PendingActionsList"},
        "MaintenanceTrackName":{"shape":"String"},
        "ElasticResizeNumberOfNodeOptions":{"shape":"String"},
        "DeferredMaintenanceWindows":{"shape":"DeferredMaintenanceWindowsList"},
        "SnapshotScheduleIdentifier":{"shape":"String"},
        "SnapshotScheduleState":{"shape":"ScheduleState"},
        "ExpectedNextSnapshotScheduleTime":{"shape":"TStamp"},
        "ExpectedNextSnapshotScheduleTimeStatus":{"shape":"String"},
        "NextMaintenanceWindowStartTime":{"shape":"TStamp"},
        "ResizeInfo":{"shape":"ResizeInfo"}
      },
      "wrapper":true
    },
    "ClusterAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterAssociatedToSchedule":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "ScheduleAssociationState":{"shape":"ScheduleState"}
      }
    },
    "ClusterCredentials":{
      "type":"structure",
      "members":{
        "DbUser":{"shape":"String"},
        "DbPassword":{"shape":"SensitiveString"},
        "Expiration":{"shape":"TStamp"}
      }
    },
    "ClusterDbRevision":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "CurrentDatabaseRevision":{"shape":"String"},
        "DatabaseRevisionReleaseDate":{"shape":"TStamp"},
        "RevisionTargets":{"shape":"RevisionTargetsList"}
      }
    },
    "ClusterDbRevisionsList":{
      "type":"list",
      "member":{
        "shape":"ClusterDbRevision",
        "locationName":"ClusterDbRevision"
      }
    },
    "ClusterDbRevisionsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ClusterDbRevisions":{"shape":"ClusterDbRevisionsList"}
      }
    },
    "ClusterIamRole":{
      "type":"structure",
      "members":{
        "IamRoleArn":{"shape":"String"},
        "ApplyStatus":{"shape":"String"}
      }
    },
    "ClusterIamRoleList":{
      "type":"list",
      "member":{
        "shape":"ClusterIamRole",
        "locationName":"ClusterIamRole"
      }
    },
    "ClusterList":{
      "type":"list",
      "member":{
        "shape":"Cluster",
        "locationName":"Cluster"
      }
    },
    "ClusterNode":{
      "type":"structure",
      "members":{
        "NodeRole":{"shape":"String"},
        "PrivateIPAddress":{"shape":"String"},
        "PublicIPAddress":{"shape":"String"}
      }
    },
    "ClusterNodesList":{
      "type":"list",
      "member":{"shape":"ClusterNode"}
    },
    "ClusterNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterOnLatestRevisionFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterOnLatestRevision",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterParameterGroup":{
      "type":"structure",
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "ParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      },
      "wrapper":true
    },
    "ClusterParameterGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterParameterGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterParameterGroupDetails":{
      "type":"structure",
      "members":{
        "Parameters":{"shape":"ParametersList"},
        "Marker":{"shape":"String"}
      }
    },
    "ClusterParameterGroupNameMessage":{
      "type":"structure",
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "ParameterGroupStatus":{"shape":"String"}
      }
    },
    "ClusterParameterGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterParameterGroupNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterParameterGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterParameterGroupQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterParameterGroupStatus":{
      "type":"structure",
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "ParameterApplyStatus":{"shape":"String"},
        "ClusterParameterStatusList":{"shape":"ClusterParameterStatusList"}
      }
    },
    "ClusterParameterGroupStatusList":{
      "type":"list",
      "member":{
        "shape":"ClusterParameterGroupStatus",
        "locationName":"ClusterParameterGroup"
      }
    },
    "ClusterParameterGroupsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ParameterGroups":{"shape":"ParameterGroupList"}
      }
    },
    "ClusterParameterStatus":{
      "type":"structure",
      "members":{
        "ParameterName":{"shape":"String"},
        "ParameterApplyStatus":{"shape":"String"},
        "ParameterApplyErrorDescription":{"shape":"String"}
      }
    },
    "ClusterParameterStatusList":{
      "type":"list",
      "member":{"shape":"ClusterParameterStatus"}
    },
    "ClusterQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSecurityGroup":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "Description":{"shape":"String"},
        "EC2SecurityGroups":{"shape":"EC2SecurityGroupList"},
        "IPRanges":{"shape":"IPRangeList"},
        "Tags":{"shape":"TagList"}
      },
      "wrapper":true
    },
    "ClusterSecurityGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSecurityGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSecurityGroupMembership":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "Status":{"shape":"String"}
      }
    },
    "ClusterSecurityGroupMembershipList":{
      "type":"list",
      "member":{
        "shape":"ClusterSecurityGroupMembership",
        "locationName":"ClusterSecurityGroup"
      }
    },
    "ClusterSecurityGroupMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ClusterSecurityGroups":{"shape":"ClusterSecurityGroups"}
      }
    },
    "ClusterSecurityGroupNameList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"ClusterSecurityGroupName"
      }
    },
    "ClusterSecurityGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSecurityGroupNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSecurityGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"QuotaExceeded.ClusterSecurityGroup",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSecurityGroups":{
      "type":"list",
      "member":{
        "shape":"ClusterSecurityGroup",
        "locationName":"ClusterSecurityGroup"
      }
    },
    "ClusterSnapshotAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSnapshotAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSnapshotCopyStatus":{
      "type":"structure",
      "members":{
        "DestinationRegion":{"shape":"String"},
        "RetentionPeriod":{"shape":"Long"},
        "ManualSnapshotRetentionPeriod":{"shape":"Integer"},
        "SnapshotCopyGrantName":{"shape":"String"}
      }
    },
    "ClusterSnapshotNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSnapshotNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSnapshotQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSnapshotQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSubnetGroup":{
      "type":"structure",
      "members":{
        "ClusterSubnetGroupName":{"shape":"String"},
        "Description":{"shape":"String"},
        "VpcId":{"shape":"String"},
        "SubnetGroupStatus":{"shape":"String"},
        "Subnets":{"shape":"SubnetList"},
        "Tags":{"shape":"TagList"}
      },
      "wrapper":true
    },
    "ClusterSubnetGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSubnetGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSubnetGroupMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ClusterSubnetGroups":{"shape":"ClusterSubnetGroups"}
      }
    },
    "ClusterSubnetGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSubnetGroupNotFoundFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSubnetGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSubnetGroupQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSubnetGroups":{
      "type":"list",
      "member":{
        "shape":"ClusterSubnetGroup",
        "locationName":"ClusterSubnetGroup"
      }
    },
    "ClusterSubnetQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSubnetQuotaExceededFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterVersion":{
      "type":"structure",
      "members":{
        "ClusterVersion":{"shape":"String"},
        "ClusterParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"}
      }
    },
    "ClusterVersionList":{
      "type":"list",
      "member":{
        "shape":"ClusterVersion",
        "locationName":"ClusterVersion"
      }
    },
    "ClusterVersionsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ClusterVersions":{"shape":"ClusterVersionList"}
      }
    },
    "ClustersMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "Clusters":{"shape":"ClusterList"}
      }
    },
    "CopyClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "SourceSnapshotIdentifier",
        "TargetSnapshotIdentifier"
      ],
      "members":{
        "SourceSnapshotIdentifier":{"shape":"String"},
        "SourceSnapshotClusterIdentifier":{"shape":"String"},
        "TargetSnapshotIdentifier":{"shape":"String"},
        "ManualSnapshotRetentionPeriod":{"shape":"IntegerOptional"}
      }
    },
    "CopyClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "Snapshot":{"shape":"Snapshot"}
      }
    },
    "CopyToRegionDisabledFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CopyToRegionDisabledFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CreateClusterMessage":{
      "type":"structure",
      "required":[
        "ClusterIdentifier",
        "NodeType",
        "MasterUsername",
        "MasterUserPassword"
      ],
      "members":{
        "DBName":{"shape":"String"},
        "ClusterIdentifier":{"shape":"String"},
        "ClusterType":{"shape":"String"},
        "NodeType":{"shape":"String"},
        "MasterUsername":{"shape":"String"},
        "MasterUserPassword":{"shape":"String"},
        "ClusterSecurityGroups":{"shape":"ClusterSecurityGroupNameList"},
        "VpcSecurityGroupIds":{"shape":"VpcSecurityGroupIdList"},
        "ClusterSubnetGroupName":{"shape":"String"},
        "AvailabilityZone":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "ClusterParameterGroupName":{"shape":"String"},
        "AutomatedSnapshotRetentionPeriod":{"shape":"IntegerOptional"},
        "ManualSnapshotRetentionPeriod":{"shape":"IntegerOptional"},
        "Port":{"shape":"IntegerOptional"},
        "ClusterVersion":{"shape":"String"},
        "AllowVersionUpgrade":{"shape":"BooleanOptional"},
        "NumberOfNodes":{"shape":"IntegerOptional"},
        "PubliclyAccessible":{"shape":"BooleanOptional"},
        "Encrypted":{"shape":"BooleanOptional"},
        "HsmClientCertificateIdentifier":{"shape":"String"},
        "HsmConfigurationIdentifier":{"shape":"String"},
        "ElasticIp":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "KmsKeyId":{"shape":"String"},
        "EnhancedVpcRouting":{"shape":"BooleanOptional"},
        "AdditionalInfo":{"shape":"String"},
        "IamRoles":{"shape":"IamRoleArnList"},
        "MaintenanceTrackName":{"shape":"String"},
        "SnapshotScheduleIdentifier":{"shape":"String"}
      }
    },
    "CreateClusterParameterGroupMessage":{
      "type":"structure",
      "required":[
        "ParameterGroupName",
        "ParameterGroupFamily",
        "Description"
      ],
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "ParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateClusterParameterGroupResult":{
      "type":"structure",
      "members":{
        "ClusterParameterGroup":{"shape":"ClusterParameterGroup"}
      }
    },
    "CreateClusterResult":{
      "type":"structure",
      "members":{
        "Cluster":{"shape":"Cluster"}
      }
    },
    "CreateClusterSecurityGroupMessage":{
      "type":"structure",
      "required":[
        "ClusterSecurityGroupName",
        "Description"
      ],
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateClusterSecurityGroupResult":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroup":{"shape":"ClusterSecurityGroup"}
      }
    },
    "CreateClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "SnapshotIdentifier",
        "ClusterIdentifier"
      ],
      "members":{
        "SnapshotIdentifier":{"shape":"String"},
        "ClusterIdentifier":{"shape":"String"},
        "ManualSnapshotRetentionPeriod":{"shape":"IntegerOptional"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "Snapshot":{"shape":"Snapshot"}
      }
    },
    "CreateClusterSubnetGroupMessage":{
      "type":"structure",
      "required":[
        "ClusterSubnetGroupName",
        "Description",
        "SubnetIds"
      ],
      "members":{
        "ClusterSubnetGroupName":{"shape":"String"},
        "Description":{"shape":"String"},
        "SubnetIds":{"shape":"SubnetIdentifierList"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateClusterSubnetGroupResult":{
      "type":"structure",
      "members":{
        "ClusterSubnetGroup":{"shape":"ClusterSubnetGroup"}
      }
    },
    "CreateEventSubscriptionMessage":{
      "type":"structure",
      "required":[
        "SubscriptionName",
        "SnsTopicArn"
      ],
      "members":{
        "SubscriptionName":{"shape":"String"},
        "SnsTopicArn":{"shape":"String"},
        "SourceType":{"shape":"String"},
        "SourceIds":{"shape":"SourceIdsList"},
        "EventCategories":{"shape":"EventCategoriesList"},
        "Severity":{"shape":"String"},
        "Enabled":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEventSubscriptionResult":{
      "type":"structure",
      "members":{
        "EventSubscription":{"shape":"EventSubscription"}
      }
    },
    "CreateHsmClientCertificateMessage":{
      "type":"structure",
      "required":["HsmClientCertificateIdentifier"],
      "members":{
        "HsmClientCertificateIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHsmClientCertificateResult":{
      "type":"structure",
      "members":{
        "HsmClientCertificate":{"shape":"HsmClientCertificate"}
      }
    },
    "CreateHsmConfigurationMessage":{
      "type":"structure",
      "required":[
        "HsmConfigurationIdentifier",
        "Description",
        "HsmIpAddress",
        "HsmPartitionName",
        "HsmPartitionPassword",
        "HsmServerPublicCertificate"
      ],
      "members":{
        "HsmConfigurationIdentifier":{"shape":"String"},
        "Description":{"shape":"String"},
        "HsmIpAddress":{"shape":"String"},
        "HsmPartitionName":{"shape":"String"},
        "HsmPartitionPassword":{"shape":"String"},
        "HsmServerPublicCertificate":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHsmConfigurationResult":{
      "type":"structure",
      "members":{
        "HsmConfiguration":{"shape":"HsmConfiguration"}
      }
    },
    "CreateScheduledActionMessage":{
      "type":"structure",
      "required":[
        "ScheduledActionName",
        "TargetAction",
        "Schedule",
        "IamRole"
      ],
      "members":{
        "ScheduledActionName":{"shape":"String"},
        "TargetAction":{"shape":"ScheduledActionType"},
        "Schedule":{"shape":"String"},
        "IamRole":{"shape":"String"},
        "ScheduledActionDescription":{"shape":"String"},
        "StartTime":{"shape":"TStamp"},
        "EndTime":{"shape":"TStamp"},
        "Enable":{"shape":"BooleanOptional"}
      }
    },
    "CreateSnapshotCopyGrantMessage":{
      "type":"structure",
      "required":["SnapshotCopyGrantName"],
      "members":{
        "SnapshotCopyGrantName":{"shape":"String"},
        "KmsKeyId":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateSnapshotCopyGrantResult":{
      "type":"structure",
      "members":{
        "SnapshotCopyGrant":{"shape":"SnapshotCopyGrant"}
      }
    },
    "CreateSnapshotScheduleMessage":{
      "type":"structure",
      "members":{
        "ScheduleDefinitions":{"shape":"ScheduleDefinitionList"},
        "ScheduleIdentifier":{"shape":"String"},
        "ScheduleDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "DryRun":{"shape":"BooleanOptional"},
        "NextInvocations":{"shape":"IntegerOptional"}
      }
    },
    "CreateTagsMessage":{
      "type":"structure",
      "required":[
        "ResourceName",
        "Tags"
      ],
      "members":{
        "ResourceName":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateUsageLimitMessage":{
      "type":"structure",
      "required":[
        "ClusterIdentifier",
        "FeatureType",
        "LimitType",
        "Amount"
      ],
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "FeatureType":{"shape":"UsageLimitFeatureType"},
        "LimitType":{"shape":"UsageLimitLimitType"},
        "Amount":{"shape":"Long"},
        "Period":{"shape":"UsageLimitPeriod"},
        "BreachAction":{"shape":"UsageLimitBreachAction"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CustomerStorageMessage":{
      "type":"structure",
      "members":{
        "TotalBackupSizeInMegaBytes":{"shape":"Double"},
        "TotalProvisionedStorageInMegaBytes":{"shape":"Double"}
      }
    },
    "DataTransferProgress":{
      "type":"structure",
      "members":{
        "Status":{"shape":"String"},
        "CurrentRateInMegaBytesPerSecond":{"shape":"DoubleOptional"},
        "TotalDataInMegaBytes":{"shape":"Long"},
        "DataTransferredInMegaBytes":{"shape":"Long"},
        "EstimatedTimeToCompletionInSeconds":{"shape":"LongOptional"},
        "ElapsedTimeInSeconds":{"shape":"LongOptional"}
      }
    },
    "DbGroupList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"DbGroup"
      }
    },
    "DefaultClusterParameters":{
      "type":"structure",
      "members":{
        "ParameterGroupFamily":{"shape":"String"},
        "Marker":{"shape":"String"},
        "Parameters":{"shape":"ParametersList"}
      },
      "wrapper":true
    },
    "DeferredMaintenanceWindow":{
      "type":"structure",
      "members":{
        "DeferMaintenanceIdentifier":{"shape":"String"},
        "DeferMaintenanceStartTime":{"shape":"TStamp"},
        "DeferMaintenanceEndTime":{"shape":"TStamp"}
      }
    },
    "DeferredMaintenanceWindowsList":{
      "type":"list",
      "member":{
        "shape":"DeferredMaintenanceWindow",
        "locationName":"DeferredMaintenanceWindow"
      }
    },
    "DeleteClusterMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "SkipFinalClusterSnapshot":{"shape":"Boolean"},
        "FinalClusterSnapshotIdentifier":{"shape":"String"},
        "FinalClusterSnapshotRetentionPeriod":{"shape":"IntegerOptional"}
      }
    },
    "DeleteClusterParameterGroupMessage":{
      "type":"structure",
      "required":["ParameterGroupName"],
      "members":{
        "ParameterGroupName":{"shape":"String"}
      }
    },
    "DeleteClusterResult":{
      "type":"structure",
      "members":{
        "Cluster":{"shape":"Cluster"}
      }
    },
    "DeleteClusterSecurityGroupMessage":{
      "type":"structure",
      "required":["ClusterSecurityGroupName"],
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"}
      }
    },
    "DeleteClusterSnapshotMessage":{
      "type":"structure",
      "required":["SnapshotIdentifier"],
      "members":{
        "SnapshotIdentifier":{"shape":"String"},
        "SnapshotClusterIdentifier":{"shape":"String"}
      }
    },
    "DeleteClusterSnapshotMessageList":{
      "type":"list",
      "member":{
        "shape":"DeleteClusterSnapshotMessage",
        "locationName":"DeleteClusterSnapshotMessage"
      }
    },
    "DeleteClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "Snapshot":{"shape":"Snapshot"}
      }
    },
    "DeleteClusterSubnetGroupMessage":{
      "type":"structure",
      "required":["ClusterSubnetGroupName"],
      "members":{
        "ClusterSubnetGroupName":{"shape":"String"}
      }
    },
    "DeleteEventSubscriptionMessage":{
      "type":"structure",
      "required":["SubscriptionName"],
      "members":{
        "SubscriptionName":{"shape":"String"}
      }
    },
    "DeleteHsmClientCertificateMessage":{
      "type":"structure",
      "required":["HsmClientCertificateIdentifier"],
      "members":{
        "HsmClientCertificateIdentifier":{"shape":"String"}
      }
    },
    "DeleteHsmConfigurationMessage":{
      "type":"structure",
      "required":["HsmConfigurationIdentifier"],
      "members":{
        "HsmConfigurationIdentifier":{"shape":"String"}
      }
    },
    "DeleteScheduledActionMessage":{
      "type":"structure",
      "required":["ScheduledActionName"],
      "members":{
        "ScheduledActionName":{"shape":"String"}
      }
    },
    "DeleteSnapshotCopyGrantMessage":{
      "type":"structure",
      "required":["SnapshotCopyGrantName"],
      "members":{
        "SnapshotCopyGrantName":{"shape":"String"}
      }
    },
    "DeleteSnapshotScheduleMessage":{
      "type":"structure",
      "required":["ScheduleIdentifier"],
      "members":{
        "ScheduleIdentifier":{"shape":"String"}
      }
    },
    "DeleteTagsMessage":{
      "type":"structure",
      "required":[
        "ResourceName",
        "TagKeys"
      ],
      "members":{
        "ResourceName":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"}
      }
    },
    "DeleteUsageLimitMessage":{
      "type":"structure",
      "required":["UsageLimitId"],
      "members":{
        "UsageLimitId":{"shape":"String"}
      }
    },
    "DependentServiceRequestThrottlingFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DependentServiceRequestThrottlingFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DependentServiceUnavailableFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DependentServiceUnavailableFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DescribeAccountAttributesMessage":{
      "type":"structure",
      "members":{
        "AttributeNames":{"shape":"AttributeNameList"}
      }
    },
    "DescribeClusterDbRevisionsMessage":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeClusterParameterGroupsMessage":{
      "type":"structure",
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeClusterParametersMessage":{
      "type":"structure",
      "required":["ParameterGroupName"],
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "Source":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeClusterSecurityGroupsMessage":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeClusterSnapshotsMessage":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "SnapshotIdentifier":{"shape":"String"},
        "SnapshotType":{"shape":"String"},
        "StartTime":{"shape":"TStamp"},
        "EndTime":{"shape":"TStamp"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "OwnerAccount":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"},
        "ClusterExists":{"shape":"BooleanOptional"},
        "SortingEntities":{"shape":"SnapshotSortingEntityList"}
      }
    },
    "DescribeClusterSubnetGroupsMessage":{
      "type":"structure",
      "members":{
        "ClusterSubnetGroupName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeClusterTracksMessage":{
      "type":"structure",
      "members":{
        "MaintenanceTrackName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeClusterVersionsMessage":{
      "type":"structure",
      "members":{
        "ClusterVersion":{"shape":"String"},
        "ClusterParameterGroupFamily":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeClustersMessage":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeDefaultClusterParametersMessage":{
      "type":"structure",
      "required":["ParameterGroupFamily"],
      "members":{
        "ParameterGroupFamily":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeDefaultClusterParametersResult":{
      "type":"structure",
      "members":{
        "DefaultClusterParameters":{"shape":"DefaultClusterParameters"}
      }
    },
    "DescribeEventCategoriesMessage":{
      "type":"structure",
      "members":{
        "SourceType":{"shape":"String"}
      }
    },
    "DescribeEventSubscriptionsMessage":{
      "type":"structure",
      "members":{
        "SubscriptionName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeEventsMessage":{
      "type":"structure",
      "members":{
        "SourceIdentifier":{"shape":"String"},
        "SourceType":{"shape":"SourceType"},
        "StartTime":{"shape":"TStamp"},
        "EndTime":{"shape":"TStamp"},
        "Duration":{"shape":"IntegerOptional"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeHsmClientCertificatesMessage":{
      "type":"structure",
      "members":{
        "HsmClientCertificateIdentifier":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeHsmConfigurationsMessage":{
      "type":"structure",
      "members":{
        "HsmConfigurationIdentifier":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeLoggingStatusMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"}
      }
    },
    "DescribeNodeConfigurationOptionsMessage":{
      "type":"structure",
      "required":["ActionType"],
      "members":{
        "ActionType":{"shape":"ActionType"},
        "ClusterIdentifier":{"shape":"String"},
        "SnapshotIdentifier":{"shape":"String"},
        "OwnerAccount":{"shape":"String"},
        "Filters":{
          "shape":"NodeConfigurationOptionsFilterList",
          "locationName":"Filter"
        },
        "Marker":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"}
      }
    },
    "DescribeOrderableClusterOptionsMessage":{
      "type":"structure",
      "members":{
        "ClusterVersion":{"shape":"String"},
        "NodeType":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeReservedNodeOfferingsMessage":{
      "type":"structure",
      "members":{
        "ReservedNodeOfferingId":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeReservedNodesMessage":{
      "type":"structure",
      "members":{
        "ReservedNodeId":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeResizeMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"}
      }
    },
    "DescribeScheduledActionsMessage":{
      "type":"structure",
      "members":{
        "ScheduledActionName":{"shape":"String"},
        "TargetActionType":{"shape":"ScheduledActionTypeValues"},
        "StartTime":{"shape":"TStamp"},
        "EndTime":{"shape":"TStamp"},
        "Active":{"shape":"BooleanOptional"},
        "Filters":{"shape":"ScheduledActionFilterList"},
        "Marker":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"}
      }
    },
    "DescribeSnapshotCopyGrantsMessage":{
      "type":"structure",
      "members":{
        "SnapshotCopyGrantName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeSnapshotSchedulesMessage":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "ScheduleIdentifier":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"},
        "Marker":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"}
      }
    },
    "DescribeSnapshotSchedulesOutputMessage":{
      "type":"structure",
      "members":{
        "SnapshotSchedules":{"shape":"SnapshotScheduleList"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeTableRestoreStatusMessage":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "TableRestoreRequestId":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeTagsMessage":{
      "type":"structure",
      "members":{
        "ResourceName":{"shape":"String"},
        "ResourceType":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeUsageLimitsMessage":{
      "type":"structure",
      "members":{
        "UsageLimitId":{"shape":"String"},
        "ClusterIdentifier":{"shape":"String"},
        "FeatureType":{"shape":"UsageLimitFeatureType"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DisableLoggingMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"}
      }
    },
    "DisableSnapshotCopyMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"}
      }
    },
    "DisableSnapshotCopyResult":{
      "type":"structure",
      "members":{
        "Cluster":{"shape":"Cluster"}
      }
    },
    "Double":{"type":"double"},
    "DoubleOptional":{"type":"double"},
    "EC2SecurityGroup":{
      "type":"structure",
      "members":{
        "Status":{"shape":"String"},
        "EC2SecurityGroupName":{"shape":"String"},
        "EC2SecurityGroupOwnerId":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "EC2SecurityGroupList":{
      "type":"list",
      "member":{
        "shape":"EC2SecurityGroup",
        "locationName":"EC2SecurityGroup"
      }
    },
    "ElasticIpStatus":{
      "type":"structure",
      "members":{
        "ElasticIp":{"shape":"String"},
        "Status":{"shape":"String"}
      }
    },
    "EligibleTracksToUpdateList":{
      "type":"list",
      "member":{
        "shape":"UpdateTarget",
        "locationName":"UpdateTarget"
      }
    },
    "EnableLoggingMessage":{
      "type":"structure",
      "required":[
        "ClusterIdentifier",
        "BucketName"
      ],
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "BucketName":{"shape":"String"},
        "S3KeyPrefix":{"shape":"String"}
      }
    },
    "EnableSnapshotCopyMessage":{
      "type":"structure",
      "required":[
        "ClusterIdentifier",
        "DestinationRegion"
      ],
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "DestinationRegion":{"shape":"String"},
        "RetentionPeriod":{"shape":"IntegerOptional"},
        "SnapshotCopyGrantName":{"shape":"String"},
        "ManualSnapshotRetentionPeriod":{"shape":"IntegerOptional"}
      }
    },
    "EnableSnapshotCopyResult":{
      "type":"structure",
      "members":{
        "Cluster":{"shape":"Cluster"}
      }
    },
    "Endpoint":{
      "type":"structure",
      "members":{
        "Address":{"shape":"String"},
        "Port":{"shape":"Integer"}
      }
    },
    "Event":{
      "type":"structure",
      "members":{
        "SourceIdentifier":{"shape":"String"},
        "SourceType":{"shape":"SourceType"},
        "Message":{"shape":"String"},
        "EventCategories":{"shape":"EventCategoriesList"},
        "Severity":{"shape":"String"},
        "Date":{"shape":"TStamp"},
        "EventId":{"shape":"String"}
      }
    },
    "EventCategoriesList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"EventCategory"
      }
    },
    "EventCategoriesMap":{
      "type":"structure",
      "members":{
        "SourceType":{"shape":"String"},
        "Events":{"shape":"EventInfoMapList"}
      },
      "wrapper":true
    },
    "EventCategoriesMapList":{
      "type":"list",
      "member":{
        "shape":"EventCategoriesMap",
        "locationName":"EventCategoriesMap"
      }
    },
    "EventCategoriesMessage":{
      "type":"structure",
      "members":{
        "EventCategoriesMapList":{"shape":"EventCategoriesMapList"}
      }
    },
    "EventInfoMap":{
      "type":"structure",
      "members":{
        "EventId":{"shape":"String"},
        "EventCategories":{"shape":"EventCategoriesList"},
        "EventDescription":{"shape":"String"},
        "Severity":{"shape":"String"}
      },
      "wrapper":true
    },
    "EventInfoMapList":{
      "type":"list",
      "member":{
        "shape":"EventInfoMap",
        "locationName":"EventInfoMap"
      }
    },
    "EventList":{
      "type":"list",
      "member":{
        "shape":"Event",
        "locationName":"Event"
      }
    },
    "EventSubscription":{
      "type":"structure",
      "members":{
        "CustomerAwsId":{"shape":"String"},
        "CustSubscriptionId":{"shape":"String"},
        "SnsTopicArn":{"shape":"String"},
        "Status":{"shape":"String"},
        "SubscriptionCreationTime":{"shape":"TStamp"},
        "SourceType":{"shape":"String"},
        "SourceIdsList":{"shape":"SourceIdsList"},
        "EventCategoriesList":{"shape":"EventCategoriesList"},
        "Severity":{"shape":"String"},
        "Enabled":{"shape":"Boolean"},
        "Tags":{"shape":"TagList"}
      },
      "wrapper":true
    },
    "EventSubscriptionQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"EventSubscriptionQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "EventSubscriptionsList":{
      "type":"list",
      "member":{
        "shape":"EventSubscription",
        "locationName":"EventSubscription"
      }
    },
    "EventSubscriptionsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "EventSubscriptionsList":{"shape":"EventSubscriptionsList"}
      }
    },
    "EventsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "Events":{"shape":"EventList"}
      }
    },
    "GetClusterCredentialsMessage":{
      "type":"structure",
      "required":[
        "DbUser",
        "ClusterIdentifier"
      ],
      "members":{
        "DbUser":{"shape":"String"},
        "DbName":{"shape":"String"},
        "ClusterIdentifier":{"shape":"String"},
        "DurationSeconds":{"shape":"IntegerOptional"},
        "AutoCreate":{"shape":"BooleanOptional"},
        "DbGroups":{"shape":"DbGroupList"}
      }
    },
    "GetReservedNodeExchangeOfferingsInputMessage":{
      "type":"structure",
      "required":["ReservedNodeId"],
      "members":{
        "ReservedNodeId":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "GetReservedNodeExchangeOfferingsOutputMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ReservedNodeOfferings":{"shape":"ReservedNodeOfferingList"}
      }
    },
    "HsmClientCertificate":{
      "type":"structure",
      "members":{
        "HsmClientCertificateIdentifier":{"shape":"String"},
        "HsmClientCertificatePublicKey":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      },
      "wrapper":true
    },
    "HsmClientCertificateAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"HsmClientCertificateAlreadyExistsFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "HsmClientCertificateList":{
      "type":"list",
      "member":{
        "shape":"HsmClientCertificate",
        "locationName":"HsmClientCertificate"
      }
    },
    "HsmClientCertificateMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "HsmClientCertificates":{"shape":"HsmClientCertificateList"}
      }
    },
    "HsmClientCertificateNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"HsmClientCertificateNotFoundFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "HsmClientCertificateQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"HsmClientCertificateQuotaExceededFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "HsmConfiguration":{
      "type":"structure",
      "members":{
        "HsmConfigurationIdentifier":{"shape":"String"},
[...]
