apiVersion: v1
kind: Config
users:
- name: kubelet
  user:
    client-certificate-data: {{ kubecfg_cert_b64 }}
    client-key-data: {{ kubecfg_key_b64 }}
clusters:
- name: local
  cluster:
    certificate-authority-data: {{ ca_cert_b64 }}
contexts:
- context:
    cluster: local
    user: kubelet
  name: service-account-context
current-context: service-account-context
