{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "AdExchangeBuyerII",
  "description": "Accesses the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "adexchangebuyer2:v2beta1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "name": "adexchangebuyer2",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "accounts": {
      "resources": {
        "clients": {
          "methods": {
            "create": {
              "description": "Creates a new client buyer.",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.clients.create",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Unique numerical account ID for the buyer of which the client buyer\nis a customer; the sponsor buyer to create a client for. (required)",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/clients",
              "request": {
                "$ref": "Client"
              },
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "get": {
              "description": "Gets a client buyer with a given client account ID.",
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.clients.get",
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Numerical account ID of the client's sponsor buyer. (required)",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "clientAccountId": {
                  "description": "Numerical account ID of the client buyer to retrieve. (required)",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "list": {
              "description": "Lists all the clients for the current sponsor buyer.",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.clients.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Unique numerical account ID of the sponsor buyer to list the clients for.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer clients than requested.\nIf unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientsResponse.nextPageToken\nreturned from the previous call to the\naccounts.clients.list\nmethod.",
                  "location": "query",
                  "type": "string"
                },
                "partnerClientId": {
                  "description": "Optional unique identifier (from the standpoint of an Ad Exchange sponsor\nbuyer partner) of the client to return.\nIf specified, at most one client will be returned in the response.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/clients",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "update": {
              "description": "Updates an existing client buyer.",
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "httpMethod": "PUT",
              "id": "adexchangebuyer2.accounts.clients.update",
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Unique numerical account ID for the buyer of which the client buyer\nis a customer; the sponsor buyer to update a client for. (required)",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "clientAccountId": {
                  "description": "Unique numerical account ID of the client to update. (required)",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "request": {
                "$ref": "Client"
              },
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          },
          "resources": {
            "invitations": {
              "methods": {
                "create": {
                  "description": "Creates and sends out an email invitation to access\nan Ad Exchange client buyer account.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "httpMethod": "POST",
                  "id": "adexchangebuyer2.accounts.clients.invitations.create",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user\nshould be associated with. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "request": {
                    "$ref": "ClientUserInvitation"
                  },
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "get": {
                  "description": "Retrieves an existing client user invitation.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.clients.invitations.get",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "invitationId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user invitation\nto be retrieved is associated with. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "invitationId": {
                      "description": "Numerical identifier of the user invitation to retrieve. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "list": {
                  "description": "Lists all the client users invitations for a client\nwith a given account ID.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.clients.invitations.list",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer to list invitations for.\n(required)\nYou must either specify a string representation of a\nnumerical account identifier or the `-` character\nto list all the invitations for all the clients\nof a given sponsor buyer.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer clients than requested.\nIf unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientUserInvitationsResponse.nextPageToken\nreturned from the previous call to the\nclients.invitations.list\nmethod.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "response": {
                    "$ref": "ListClientUserInvitationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "users": {
              "methods": {
                "get": {
                  "description": "Retrieves an existing client user.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.clients.users.get",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer\nthat the user to be retrieved is associated with. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "list": {
                  "description": "Lists all the known client users for a specified\nsponsor buyer account ID.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.clients.users.list",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the sponsor buyer of the client to list users for.\n(required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clientAccountId": {
                      "description": "The account ID of the client buyer to list users for. (required)\nYou must specify either a string representation of a\nnumerical account identifier or the `-` character\nto list all the client users for all the clients\nof a given sponsor buyer.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer clients than requested.\nIf unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientUsersResponse.nextPageToken\nreturned from the previous call to the\naccounts.clients.users.list\nmethod.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "update": {
                  "description": "Updates an existing client user.\nOnly the user status can be changed on update.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "httpMethod": "PUT",
                  "id": "adexchangebuyer2.accounts.clients.users.update",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user to be retrieved\nis associated with. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            }
          }
        },
        "creatives": {
          "methods": {
            "create": {
              "description": "Creates a creative.",
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.creatives.create",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "The account that this creative belongs to.\nCan be used to filter the response of the\ncreatives.list\nmethod.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "duplicateIdMode": {
                  "description": "Indicates if multiple creatives can share an ID or not. Default is\nNO_DUPLICATES (one ID per creative).",
                  "enum": [
                    "NO_DUPLICATES",
                    "FORCE_ENABLE_DUPLICATE_IDS"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/creatives",
              "request": {
                "$ref": "Creative"
              },
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "get": {
              "description": "Gets a creative.",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.creatives.get",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "parameters": {
                "accountId": {
                  "description": "The account the creative belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "creativeId": {
                  "description": "The ID of the creative to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "list": {
              "description": "Lists creatives.",
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.creatives.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "The account to list the creatives from.\nSpecify \"-\" to list all creatives the current user has access to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer creatives than requested\n(due to timeout constraint) even if more are available via another call.\nIf unspecified, server will pick an appropriate default.\nAcceptable values are 1 to 1000, inclusive.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListCreativesResponse.next_page_token\nreturned from the previous call to 'ListCreatives' method.",
                  "location": "query",
                  "type": "string"
                },
                "query": {
                  "description": "An optional query string to filter creatives. If no filter is specified,\nall active creatives will be returned.\n\u003cp\u003eSupported queries are:\n\u003cul\u003e\n\u003cli\u003eaccountId=\u003ci\u003eaccount_id_string\u003c/i\u003e\n\u003cli\u003ecreativeId=\u003ci\u003ecreative_id_string\u003c/i\u003e\n\u003cli\u003edealsStatus: {approved, conditionally_approved, disapproved,\n                   not_checked}\n\u003cli\u003eopenAuctionStatus: {approved, conditionally_approved, disapproved,\n                          not_checked}\n\u003cli\u003eattribute: {a numeric attribute from the list of attributes}\n\u003cli\u003edisapprovalReason: {a reason from\nDisapprovalReason}\n\u003c/ul\u003e\nExample: 'accountId=12345 AND (dealsStatus:disapproved AND\ndisapprovalReason:unacceptable_content) OR attribute:47'",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/creatives",
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "stopWatching": {
              "description": "Stops watching a creative. Will stop push notifications being sent to the\ntopics when the creative changes status.",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.creatives.stopWatching",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "parameters": {
                "accountId": {
                  "description": "The account of the creative to stop notifications for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "creativeId": {
                  "description": "The creative ID of the creative to stop notifications for.\nSpecify \"-\" to specify stopping account level notifications.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "request": {
                "$ref": "StopWatchingCreativeRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "update": {
              "description": "Updates a creative.",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "httpMethod": "PUT",
              "id": "adexchangebuyer2.accounts.creatives.update",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "parameters": {
                "accountId": {
                  "description": "The account that this creative belongs to.\nCan be used to filter the response of the\ncreatives.list\nmethod.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "creativeId": {
                  "description": "The buyer-defined creative ID of this creative.\nCan be used to filter the response of the\ncreatives.list\nmethod.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "request": {
                "$ref": "Creative"
              },
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "watch": {
              "description": "Watches a creative. Will result in push notifications being sent to the\ntopic when the creative changes status.",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.creatives.watch",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "parameters": {
                "accountId": {
                  "description": "The account of the creative to watch.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "creativeId": {
                  "description": "The creative ID to watch for status changes.\nSpecify \"-\" to watch all creatives under the above account.\nIf both creative-level and account-level notifications are\nsent, only a single notification will be sent to the\ncreative-level notification topic.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
              "request": {
                "$ref": "WatchCreativeRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          },
          "resources": {
            "dealAssociations": {
              "methods": {
                "add": {
                  "description": "Associate an existing deal with a creative.",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "httpMethod": "POST",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.add",
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The account the creative belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "creativeId": {
                      "description": "The ID of the creative associated with the deal.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "request": {
                    "$ref": "AddDealAssociationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "list": {
                  "description": "List all creative-deal associations.",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.list",
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The account to list the associations from.\nSpecify \"-\" to list all creatives the current user has access to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "creativeId": {
                      "description": "The creative ID to list the associations from.\nSpecify \"-\" to list all creatives under the above account.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer associations than requested.\nIf unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListDealAssociationsResponse.next_page_token\nreturned from the previous call to 'ListDealAssociations' method.",
                      "location": "query",
                      "type": "string"
                    },
                    "query": {
                      "description": "An optional query string to filter deal associations. If no filter is\nspecified, all associations will be returned.\nSupported queries are:\n\u003cul\u003e\n\u003cli\u003eaccountId=\u003ci\u003eaccount_id_string\u003c/i\u003e\n\u003cli\u003ecreativeId=\u003ci\u003ecreative_id_string\u003c/i\u003e\n\u003cli\u003edealsId=\u003ci\u003edeals_id_string\u003c/i\u003e\n\u003cli\u003edealsStatus:{approved, conditionally_approved, disapproved,\n                  not_checked}\n\u003cli\u003eopenAuctionStatus:{approved, conditionally_approved, disapproved,\n                         not_checked}\n\u003c/ul\u003e\nExample: 'dealsId=12345 AND dealsStatus:disapproved'",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "response": {
                    "$ref": "ListDealAssociationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "remove": {
                  "description": "Remove the association between a deal and a creative.",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "httpMethod": "POST",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.remove",
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The account the creative belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "creativeId": {
                      "description": "The ID of the creative associated with the deal.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "request": {
                    "$ref": "RemoveDealAssociationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            }
          }
        },
        "finalizedProposals": {
          "methods": {
            "list": {
              "description": "List finalized proposals, regardless if a proposal is being renegotiated.\nA filter expression (PQL query) may be specified to filter the results.\nThe notes will not be returned.",
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.finalizedProposals.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "An optional PQL filter query used to query for proposals.\n\nNested repeated fields, such as proposal.deals.targetingCriterion,\ncannot be filtered.",
                  "location": "query",
                  "type": "string"
                },
                "filterSyntax": {
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL\nbut in the future it will be LIST_FILTER.",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/finalizedProposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "description": "Gets the requested product by ID.",
              "flatPath": "v2beta1/accounts/{accountId}/products/{productId}",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.products.get",
              "parameterOrder": [
                "accountId",
                "productId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "productId": {
                  "description": "The ID for the product to get the head revision for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/products/{productId}",
              "response": {
                "$ref": "Product"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "list": {
              "description": "List all products visible to the buyer (optionally filtered by the\nspecified PQL query).",
              "flatPath": "v2beta1/accounts/{accountId}/products",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.products.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "An optional PQL query used to query for products. See\nhttps://developers.google.com/ad-manager/docs/pqlreference\nfor documentation about PQL and examples.\n\nNested repeated fields, such as product.targetingCriterion.inclusions,\ncannot be filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned from ListProductsResponse.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/products",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          }
        },
        "proposals": {
          "methods": {
            "accept": {
              "description": "Mark the proposal as accepted at the given revision number. If the number\ndoes not match the server's revision number an `ABORTED` error message will\nbe returned. This call updates the proposal_state from `PROPOSED` to\n`BUYER_ACCEPTED`, or from `SELLER_ACCEPTED` to `FINALIZED`.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.accept",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "proposalId": {
                  "description": "The ID of the proposal to accept.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "addNote": {
              "description": "Create a new note and attach it to the proposal. The note is assigned\na unique ID by the server.\nThe proposal revision number will not increase when associated with a\nnew note.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.addNote",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "proposalId": {
                  "description": "The ID of the proposal to attach the note to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "request": {
                "$ref": "AddNoteRequest"
              },
              "response": {
                "$ref": "Note"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "cancelNegotiation": {
              "description": "Cancel an ongoing negotiation on a proposal. This does not cancel or end\nserving for the deals if the proposal has been finalized, but only cancels\na negotiation unilaterally.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.cancelNegotiation",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "proposalId": {
                  "description": "The ID of the proposal to cancel negotiation for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "completeSetup": {
              "description": "Update the given proposal to indicate that setup has been completed.\nThis method is called by the buyer when the line items have been created\non their end for a finalized proposal and all the required creatives\nhave been uploaded using the creatives API. This call updates the\n`is_setup_completed` bit on the proposal and also notifies the seller.\nThe server will advance the revision number of the most recent proposal.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.completeSetup",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "proposalId": {
                  "description": "The ID of the proposal to mark as setup completed.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "request": {
                "$ref": "CompleteSetupRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "create": {
              "description": "Create the given proposal. Each created proposal and any deals it contains\nare assigned a unique ID by the server.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.create",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals",
              "request": {
                "$ref": "Proposal"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "get": {
              "description": "Gets a proposal given its ID. The proposal is returned at its head\nrevision.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.proposals.get",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "proposalId": {
                  "description": "The unique ID of the proposal",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "list": {
              "description": "List proposals. A filter expression (PQL query) may be specified to\nfilter the results. To retrieve all finalized proposals, regardless if a\nproposal is being renegotiated, see the FinalizedProposals resource.\nNote that Bidder/ChildSeat relationships differ from the usual behavior.\nA Bidder account can only see its child seats' proposals by specifying\nthe ChildSeat's accountId in the request path.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.proposals.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "An optional PQL filter query used to query for proposals.\n\nNested repeated fields, such as proposal.deals.targetingCriterion,\ncannot be filtered.",
                  "location": "query",
                  "type": "string"
                },
                "filterSyntax": {
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL\nbut in the future it will be LIST_FILTER.",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "pause": {
              "description": "Update the given proposal to pause serving.\nThis method will set the\n`DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all\ndeals in the proposal.\n\nIt is a no-op to pause an already-paused proposal.\nIt is an error to call PauseProposal for a proposal that is not\nfinalized or renegotiating.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.pause",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "proposalId": {
                  "description": "The ID of the proposal to pause.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
              "request": {
                "$ref": "PauseProposalRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "resume": {
              "description": "Update the given proposal to resume serving.\nThis method will set the\n`DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all\ndeals in the proposal.\n\nNote that if the `has_seller_paused` bit is also set, serving will not\nresume until the seller also resumes.\n\nIt is a no-op to resume an already-running proposal.\nIt is an error to call ResumeProposal for a proposal that is not\nfinalized or renegotiating.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.resume",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "proposalId": {
                  "description": "The ID of the proposal to resume.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "request": {
                "$ref": "ResumeProposalRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "update": {
              "description": "Update the given proposal at the client known revision number. If the\nserver revision has advanced since the passed-in\n`proposal.proposal_revision`, an `ABORTED` error message will be returned.\nOnly the buyer-modifiable fields of the proposal will be updated.\n\nNote that the deals in the proposal will be updated to match the passed-in\ncopy.\nIf a passed-in deal does not have a `deal_id`, the server will assign a new\nunique ID and create the deal.\nIf passed-in deal has a `deal_id`, it will be updated to match the\npassed-in copy.\nAny existing deals not present in the passed-in proposal will be deleted.\nIt is an error to pass in a deal with a `deal_id` not present at head.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "httpMethod": "PUT",
              "id": "adexchangebuyer2.accounts.proposals.update",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "proposalId": {
                  "description": "The unique ID of the proposal.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "request": {
                "$ref": "Proposal"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "get": {
              "description": "Gets the requested publisher profile by id.",
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.publisherProfiles.get",
              "parameterOrder": [
                "accountId",
                "publisherProfileId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "publisherProfileId": {
                  "description": "The id for the publisher profile to get.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "response": {
                "$ref": "PublisherProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "list": {
              "description": "List all publisher profiles visible to the buyer",
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.publisherProfiles.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Specify the number of results to include per page.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as return from ListPublisherProfilesResponse.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/publisherProfiles",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "accounts": {
          "resources": {
            "filterSets": {
              "methods": {
                "create": {
                  "description": "Creates the specified filter set for the account with the given account ID.",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "httpMethod": "POST",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.create",
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "parameters": {
                    "isTransient": {
                      "description": "Whether the filter set is transient, or should be persisted indefinitely.\nBy default, filter sets are not transient.\nIf transient, it will be available for at least 1 hour after creation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "ownerName": {
                      "description": "Name of the owner (bidder or account) of the filter set to be created.\nFor example:\n\n- For a bidder-level filter set for bidder 123: `bidders/123`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456`",
                      "location": "path",
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "request": {
                    "$ref": "FilterSet"
                  },
                  "response": {
                    "$ref": "FilterSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "delete": {
                  "description": "Deletes the requested filter set from the account with the given account\nID.",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                  "httpMethod": "DELETE",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Full name of the resource to delete.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "get": {
                  "description": "Retrieves the requested filter set for the account with the given account\nID.",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Full name of the resource being requested.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "FilterSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "list": {
                  "description": "Lists all filter sets for the account with the given account ID.",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.list",
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "parameters": {
                    "ownerName": {
                      "description": "Name of the owner (bidder or account) of the filter sets to be listed.\nFor example:\n\n- For a bidder-level filter set for bidder 123: `bidders/123`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456`",
                      "location": "path",
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListFilterSetsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.list\nmethod.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "response": {
                    "$ref": "ListFilterSetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              },
              "resources": {
                "bidMetrics": {
                  "methods": {
                    "list": {
                      "description": "Lists all metrics that are measured in terms of number of bids.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidMetrics",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidMetrics.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListBidMetricsResponse.nextPageToken\nreturned from the previous call to the bidMetrics.list\nmethod.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/bidMetrics",
                      "response": {
                        "$ref": "ListBidMetricsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "bidResponseErrors": {
                  "methods": {
                    "list": {
                      "description": "List all errors that occurred in bid responses, with the number of bid\nresponses affected for each reason.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponseErrors",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponseErrors.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListBidResponseErrorsResponse.nextPageToken\nreturned from the previous call to the bidResponseErrors.list\nmethod.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                      "response": {
                        "$ref": "ListBidResponseErrorsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "bidResponsesWithoutBids": {
                  "methods": {
                    "list": {
                      "description": "List all reasons for which bid responses were considered to have no\napplicable bids, with the number of bid responses affected for each reason.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponsesWithoutBids.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListBidResponsesWithoutBidsResponse.nextPageToken\nreturned from the previous call to the bidResponsesWithoutBids.list\nmethod.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                      "response": {
                        "$ref": "ListBidResponsesWithoutBidsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "filteredBidRequests": {
                  "methods": {
                    "list": {
                      "description": "List all reasons that caused a bid request not to be sent for an\nimpression, with the number of bid requests not sent for each reason.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBidRequests",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBidRequests.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListFilteredBidRequestsResponse.nextPageToken\nreturned from the previous call to the filteredBidRequests.list\nmethod.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/filteredBidRequests",
                      "response": {
                        "$ref": "ListFilteredBidRequestsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "filteredBids": {
                  "methods": {
                    "list": {
                      "description": "List all reasons for which bids were filtered, with the number of bids\nfiltered for each reason.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListFilteredBidsResponse.nextPageToken\nreturned from the previous call to the filteredBids.list\nmethod.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/filteredBids",
                      "response": {
                        "$ref": "ListFilteredBidsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  },
                  "resources": {
                    "creatives": {
                      "methods": {
                        "list": {
                          "description": "List all creatives associated with a specific reason for which bids were\nfiltered, with the number of bids filtered for each creative.",
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                          "httpMethod": "GET",
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.creatives.list",
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "parameters": {
                            "creativeStatusId": {
                              "description": "The ID of the creative status for which to retrieve a breakdown by\ncreative.\nSee\n[creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                              "format": "int32",
                              "location": "path",
                              "required": true,
                              "type": "integer"
                            },
                            "filterSetName": {
                              "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "location": "path",
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListCreativeStatusBreakdownByCreativeResponse.nextPageToken\nreturned from the previous call to the filteredBids.creatives.list\nmethod.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ]
                        }
                      }
                    },
                    "details": {
                      "methods": {
                        "list": {
                          "description": "List all details associated with a specific reason for which bids were\nfiltered, with the number of bids filtered for each detail.",
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                          "httpMethod": "GET",
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.details.list",
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "parameters": {
                            "creativeStatusId": {
                              "description": "The ID of the creative status for which to retrieve a breakdown by detail.\nSee\n[creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).\nDetails are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                              "format": "int32",
                              "location": "path",
                              "required": true,
                              "type": "integer"
                            },
                            "filterSetName": {
                              "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "location": "path",
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListCreativeStatusBreakdownByDetailResponse.nextPageToken\nreturned from the previous call to the filteredBids.details.list\nmethod.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ]
                        }
                      }
                    }
                  }
                },
                "impressionMetrics": {
                  "methods": {
                    "list": {
                      "description": "Lists all metrics that are measured in terms of number of impressions.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/impressionMetrics",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.impressionMetrics.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListImpressionMetricsResponse.nextPageToken\nreturned from the previous call to the impressionMetrics.list\nmethod.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/impressionMetrics",
                      "response": {
                        "$ref": "ListImpressionMetricsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "losingBids": {
                  "methods": {
                    "list": {
                      "description": "List all reasons for which bids lost in the auction, with the number of\nbids that lost for each reason.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/losingBids",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.losingBids.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListLosingBidsResponse.nextPageToken\nreturned from the previous call to the losingBids.list\nmethod.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/losingBids",
                      "response": {
                        "$ref": "ListLosingBidsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "nonBillableWinningBids": {
                  "methods": {
                    "list": {
                      "description": "List all reasons for which winning bids were not billable, with the number\nof bids not billed for each reason.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.nonBillableWinningBids.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics.\nFor example:\n\n- For a bidder-level filter set for bidder 123:\n  `bidders/123/filterSets/abc`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123/filterSets/abc`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListNonBillableWinningBidsResponse.nextPageToken\nreturned from the previous call to the nonBillableWinningBids.list\nmethod.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                      "response": {
                        "$ref": "ListNonBillableWinningBidsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "filterSets": {
          "methods": {
            "create": {
              "description": "Creates the specified filter set for the account with the given account ID.",
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.bidders.filterSets.create",
              "parameterOrder": [
                "ownerName"
              ],
              "parameters": {
                "isTransient": {
                  "description": "Whether the filter set is transient, or should be persisted indefinitely.\nBy default, filter sets are not transient.\nIf transient, it will be available for at least 1 hour after creation.",
                  "location": "query",
                  "type": "boolean"
                },
                "ownerName": {
                  "description": "Name of the owner (bidder or account) of the filter set to be created.\nFor example:\n\n- For a bidder-level filter set for bidder 123: `bidders/123`\n\n- For an account-level filter set for the buyer account representing bidder\n  123: `bidders/123/accounts/123`\n\n- For an account-level filter set for the child seat buyer account 456\n  whose bidder is 123: `bidders/123/accounts/456`",
                  "location": "path",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/{+ownerName}/filterSets",
              "request": {
                "$ref": "FilterSet"
              },
              "response": {
                "$ref": "FilterSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "delete": {
              "description": "Deletes the requested filter set from the account with the given account\nID.",
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "httpMethod": "DELETE",
              "id": "adexchangebuyer2.bidders.filterSets.delete",
[...]
