{
 "kind": "discovery#restDescription",
 "etag": "\"jQLIOHBVnDZie4rQHGH1WJF-INE/cpP4K9eaLrLwMGtsdl5oXjxb8rw\"",
 "discoveryVersion": "v1",
 "id": "container:v1",
 "name": "container",
 "version": "v1",
 "revision": "20160421",
 "title": "Google Container Engine API",
 "description": "Builds and manages clusters that run container-based applications, powered by open source Kubernetes technology.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "https://cloud.google.com/container-engine/",
 "protocol": "rest",
 "baseUrl": "https://container.googleapis.com/",
 "basePath": "",
 "rootUrl": "https://container.googleapis.com/",
 "servicePath": "",
 "batchPath": "batch",
 "parameters": {
  "access_token": {
   "type": "string",
   "description": "OAuth access token.",
   "location": "query"
  },
  "alt": {
   "type": "string",
   "description": "Data format for response.",
   "default": "json",
   "enumDescriptions": [
    "Responses with Content-Type of application/json",
    "Media download with context-dependent Content-Type",
    "Responses with Content-Type of application/x-protobuf"
   ],
   "location": "query"
  },
  "bearer_token": {
   "type": "string",
   "description": "OAuth bearer token.",
   "location": "query"
  },
  "callback": {
   "type": "string",
   "description": "JSONP",
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "pp": {
   "type": "boolean",
   "description": "Pretty-print response.",
   "default": "true",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
   "location": "query"
  },
  "upload_protocol": {
   "type": "string",
   "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
   "location": "query"
  },
  "uploadType": {
   "type": "string",
   "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
   "location": "query"
  },
  "$.xgafv": {
   "type": "string",
   "description": "V1 error format.",
   "enumDescriptions": [
    "v1 error format",
    "v2 error format"
   ],
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    }
   }
  }
 },
 "schemas": {
  "ListClustersResponse": {
   "id": "ListClustersResponse",
   "type": "object",
   "description": "ListClustersResponse is the result of ListClustersRequest.",
   "properties": {
    "clusters": {
     "type": "array",
     "description": "A list of clusters in the project in the specified zone, or across all ones.",
     "items": {
      "$ref": "Cluster"
     }
    },
    "missingZones": {
     "type": "array",
     "description": "If any zones are listed here, the list of clusters returned may be missing those zones.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Cluster": {
   "id": "Cluster",
   "type": "object",
   "description": "A Google Container Engine cluster.",
   "properties": {
    "name": {
     "type": "string",
     "description": "The name of this cluster. The name must be unique within this project and zone, and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this cluster."
    },
    "initialNodeCount": {
     "type": "integer",
     "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine resource quota is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time.",
     "format": "int32"
    },
    "nodeConfig": {
     "$ref": "NodeConfig",
     "description": "Parameters used in creating the cluster's nodes. See `nodeConfig` for the description of its properties. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. If unspecified, the defaults are used."
    },
    "masterAuth": {
     "$ref": "MasterAuth",
     "description": "The authentication information for accessing the master endpoint."
    },
    "loggingService": {
     "type": "string",
     "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com` - the Google Cloud Logging service. * `none` - no logs will be exported from the cluster. * if left as an empty string,`logging.googleapis.com` will be used."
    },
    "monitoringService": {
     "type": "string",
     "description": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com` - the Google Cloud Monitoring service. * `none` - no metrics will be exported from the cluster. * if left as an empty string, `monitoring.googleapis.com` will be used."
    },
    "network": {
     "type": "string",
     "description": "The name of the Google Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used."
    },
    "clusterIpv4Cidr": {
     "type": "string",
     "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`."
    },
    "addonsConfig": {
     "$ref": "AddonsConfig",
     "description": "Configurations for the various addons available to run in the cluster."
    },
    "subnetwork": {
     "type": "string",
     "description": "The name of the Google Compute Engine [subnetwork](/compute/docs/subnetworks) to which the cluster is connected."
    },
    "nodePools": {
     "type": "array",
     "description": "The node pools associated with this cluster. When creating a new cluster, only a single node pool should be specified. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
     "items": {
      "$ref": "NodePool"
     }
    },
    "locations": {
     "type": "array",
     "description": "The list of Google Compute Engine [locations](/compute/docs/zones#available) in which the cluster's nodes should be located.",
     "items": {
      "type": "string"
     }
    },
    "selfLink": {
     "type": "string",
     "description": "[Output only] Server-defined URL for the resource."
    },
    "zone": {
     "type": "string",
     "description": "[Output only] The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides."
    },
    "endpoint": {
     "type": "string",
     "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information."
    },
    "initialClusterVersion": {
     "type": "string",
     "description": "[Output only] The software version of the master endpoint and kubelets used in the cluster when it was first created. The version can be upgraded over time."
    },
    "currentMasterVersion": {
     "type": "string",
     "description": "[Output only] The current software version of the master endpoint."
    },
    "currentNodeVersion": {
     "type": "string",
     "description": "[Output only] The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes."
    },
    "createTime": {
     "type": "string",
     "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
    },
    "status": {
     "type": "string",
     "description": "[Output only] The current status of this cluster.",
     "enum": [
      "STATUS_UNSPECIFIED",
      "PROVISIONING",
      "RUNNING",
      "RECONCILING",
      "STOPPING",
      "ERROR"
     ]
    },
    "statusMessage": {
     "type": "string",
     "description": "[Output only] Additional information about the current status of this cluster, if available."
    },
    "nodeIpv4CidrSize": {
     "type": "integer",
     "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range.",
     "format": "int32"
    },
    "servicesIpv4Cidr": {
     "type": "string",
     "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR."
    },
    "instanceGroupUrls": {
     "type": "array",
     "description": "[Output only] The resource URLs of [instance groups](/compute/docs/instance-groups/) associated with this cluster.",
     "items": {
      "type": "string"
     }
    },
    "currentNodeCount": {
     "type": "integer",
     "description": "[Output only] The number of nodes currently in the cluster.",
     "format": "int32"
    }
   }
  },
  "NodeConfig": {
   "id": "NodeConfig",
   "type": "object",
   "description": "Parameters that describe the nodes in a cluster.",
   "properties": {
    "machineType": {
     "type": "string",
     "description": "The name of a Google Compute Engine [machine type](/compute/docs/machine-types) (e.g. `n1-standard-1`). If unspecified, the default machine type is `n1-standard-1`."
    },
    "diskSizeGb": {
     "type": "integer",
     "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
     "format": "int32"
    },
    "oauthScopes": {
     "type": "array",
     "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
     "items": {
      "type": "string"
     }
    },
    "metadata": {
     "type": "object",
     "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the four reserved keys: \"instance-template\", \"kube-env\", \"startup-script\", and \"user-data\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
     "additionalProperties": {
      "type": "string"
     }
    }
   }
  },
  "MasterAuth": {
   "id": "MasterAuth",
   "type": "object",
   "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
   "properties": {
    "username": {
     "type": "string",
     "description": "The username to use for HTTP basic authentication to the master endpoint."
    },
    "password": {
     "type": "string",
     "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password."
    },
    "clusterCaCertificate": {
     "type": "string",
     "description": "[Output only] Base64-encoded public certificate that is the root of trust for the cluster."
    },
    "clientCertificate": {
     "type": "string",
     "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint."
    },
    "clientKey": {
     "type": "string",
     "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint."
    }
   }
  },
  "AddonsConfig": {
   "id": "AddonsConfig",
   "type": "object",
   "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality.",
   "properties": {
    "httpLoadBalancing": {
     "$ref": "HttpLoadBalancing",
     "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster."
    },
    "horizontalPodAutoscaling": {
     "$ref": "HorizontalPodAutoscaling",
     "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
    }
   }
  },
  "HttpLoadBalancing": {
   "id": "HttpLoadBalancing",
   "type": "object",
   "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
   "properties": {
    "disabled": {
     "type": "boolean",
     "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers."
    }
   }
  },
  "HorizontalPodAutoscaling": {
   "id": "HorizontalPodAutoscaling",
   "type": "object",
   "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
   "properties": {
    "disabled": {
     "type": "boolean",
     "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that a Heapster pod is running in the cluster, which is also used by the Cloud Monitoring service."
    }
   }
  },
  "NodePool": {
   "id": "NodePool",
   "type": "object",
   "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
   "properties": {
    "name": {
     "type": "string",
     "description": "The name of the node pool."
    },
    "config": {
     "$ref": "NodeConfig",
     "description": "The node configuration of the pool."
    },
    "initialNodeCount": {
     "type": "integer",
     "description": "The initial node count for the pool. You must ensure that your Compute Engine resource quota is sufficient for this number of instances. You must also have available firewall and routes quota.",
     "format": "int32"
    },
    "selfLink": {
     "type": "string",
     "description": "Server-defined URL for the resource."
    },
    "version": {
     "type": "string",
     "description": "The version of the Kubernetes of this node."
    },
    "instanceGroupUrls": {
     "type": "array",
     "description": "[Output only] The resource URLs of [instance groups](/compute/docs/instance-groups/) associated with this node pool.",
     "items": {
      "type": "string"
     }
    },
    "status": {
     "type": "string",
     "description": "The status of the nodes in this pool instance.",
     "enum": [
      "STATUS_UNSPECIFIED",
      "PROVISIONING",
      "RUNNING",
      "RUNNING_WITH_ERROR",
      "RECONCILING",
      "STOPPING",
      "ERROR"
     ]
    },
    "statusMessage": {
     "type": "string",
     "description": "[Output only] Additional information about the current status of this node pool instance, if available."
    }
   }
  },
  "CreateClusterRequest": {
   "id": "CreateClusterRequest",
   "type": "object",
   "description": "CreateClusterRequest creates a cluster.",
   "properties": {
    "cluster": {
     "$ref": "Cluster",
     "description": "A [cluster resource](/container-engine/reference/rest/v1/projects.zones.clusters)"
    }
   }
  },
  "Operation": {
   "id": "Operation",
   "type": "object",
   "description": "This operation resource represents operations that may have happened or are happening on the cluster. All fields are output only.",
   "properties": {
    "name": {
     "type": "string",
     "description": "The server-assigned ID for the operation."
    },
    "zone": {
     "type": "string",
     "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the operation is taking place."
    },
    "operationType": {
     "type": "string",
     "description": "The operation type.",
     "enum": [
      "TYPE_UNSPECIFIED",
      "CREATE_CLUSTER",
      "DELETE_CLUSTER",
      "UPGRADE_MASTER",
      "UPGRADE_NODES",
      "REPAIR_CLUSTER",
      "UPDATE_CLUSTER",
      "CREATE_NODE_POOL",
      "DELETE_NODE_POOL"
     ]
    },
    "status": {
     "type": "string",
     "description": "The current status of the operation.",
     "enum": [
      "STATUS_UNSPECIFIED",
      "PENDING",
      "RUNNING",
      "DONE"
     ]
    },
    "detail": {
     "type": "string",
     "description": "Detailed operation progress, if available."
    },
    "statusMessage": {
     "type": "string",
     "description": "If an error has occurred, a textual description of the error."
    },
    "selfLink": {
     "type": "string",
     "description": "Server-defined URL for the resource."
    },
    "targetLink": {
     "type": "string",
     "description": "Server-defined URL for the target of the operation."
    }
   }
  },
  "UpdateClusterRequest": {
   "id": "UpdateClusterRequest",
   "type": "object",
   "description": "UpdateClusterRequest updates the settings of a cluster.",
   "properties": {
    "update": {
     "$ref": "ClusterUpdate",
     "description": "A description of the update."
    }
   }
  },
  "ClusterUpdate": {
   "id": "ClusterUpdate",
   "type": "object",
   "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
   "properties": {
    "desiredNodeVersion": {
     "type": "string",
     "description": "The Kubernetes version to change the nodes to (typically an upgrade). Use `-` to upgrade to the latest version supported by the server."
    },
    "desiredMonitoringService": {
     "type": "string",
     "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com\" - the Google Cloud Monitoring service * \"none\" - no metrics will be exported from the cluster"
    },
    "desiredAddonsConfig": {
     "$ref": "AddonsConfig",
     "description": "Configurations for the various addons available to run in the cluster."
    },
    "desiredNodePoolId": {
     "type": "string",
     "description": "The node pool to be upgraded. This field is mandatory if the \"desired_node_version\" or \"desired_image_family\" is specified and there is more than one node pool on the cluster."
    },
    "desiredMasterVersion": {
     "type": "string",
     "description": "The Kubernetes version to change the master to. The only valid value is the latest supported version. Use \"-\" to have the server automatically select the latest version."
    }
   }
  },
  "ListOperationsResponse": {
   "id": "ListOperationsResponse",
   "type": "object",
   "description": "ListOperationsResponse is the result of ListOperationsRequest.",
   "properties": {
    "operations": {
     "type": "array",
     "description": "A list of operations in the project in the specified zone.",
     "items": {
      "$ref": "Operation"
     }
    },
    "missingZones": {
     "type": "array",
     "description": "If any zones are listed here, the list of operations returned may be missing the operations from those zones.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ServerConfig": {
   "id": "ServerConfig",
   "type": "object",
   "description": "Container Engine service configuration.",
   "properties": {
    "defaultClusterVersion": {
     "type": "string",
     "description": "Version of Kubernetes the service deploys by default."
    },
    "validNodeVersions": {
     "type": "array",
     "description": "List of valid node upgrade target versions.",
     "items": {
      "type": "string"
     }
    },
    "defaultImageFamily": {
     "type": "string",
     "description": "Default image family."
    },
    "validImageFamilies": {
     "type": "array",
     "description": "List of valid image families.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ListNodePoolsResponse": {
   "id": "ListNodePoolsResponse",
   "type": "object",
   "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest.",
   "properties": {
    "nodePools": {
     "type": "array",
     "description": "A list of node pools for a cluster.",
     "items": {
      "$ref": "NodePool"
     }
    }
   }
  },
  "CreateNodePoolRequest": {
   "id": "CreateNodePoolRequest",
   "type": "object",
   "description": "CreateNodePoolRequest creates a node pool for a cluster.",
   "properties": {
    "nodePool": {
     "$ref": "NodePool",
     "description": "The node pool to create."
    }
   }
  }
 },
 "resources": {
  "projects": {
   "resources": {
    "zones": {
     "methods": {
      "getServerconfig": {
       "id": "container.projects.zones.getServerconfig",
       "path": "v1/projects/{projectId}/zones/{zone}/serverconfig",
       "httpMethod": "GET",
       "description": "Returns configuration info about the Container Engine service.",
       "parameters": {
        "projectId": {
         "type": "string",
         "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
         "required": true,
         "location": "path"
        },
        "zone": {
         "type": "string",
         "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) to return operations for.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectId",
        "zone"
       ],
       "response": {
        "$ref": "ServerConfig"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform"
       ]
      }
     },
     "resources": {
      "clusters": {
       "methods": {
        "list": {
         "id": "container.projects.zones.clusters.list",
         "path": "v1/projects/{projectId}/zones/{zone}/clusters",
         "httpMethod": "GET",
         "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
           "required": true,
           "location": "path"
          },
          "zone": {
           "type": "string",
           "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zone"
         ],
         "response": {
          "$ref": "ListClustersResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "get": {
         "id": "container.projects.zones.clusters.get",
         "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
         "httpMethod": "GET",
         "description": "Gets the details of a specific cluster.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
           "required": true,
           "location": "path"
          },
          "zone": {
           "type": "string",
           "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
           "required": true,
           "location": "path"
          },
          "clusterId": {
           "type": "string",
           "description": "The name of the cluster to retrieve.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zone",
          "clusterId"
         ],
         "response": {
          "$ref": "Cluster"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "create": {
         "id": "container.projects.zones.clusters.create",
         "path": "v1/projects/{projectId}/zones/{zone}/clusters",
         "httpMethod": "POST",
         "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the cluster creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range is being used by the cluster.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
           "required": true,
           "location": "path"
          },
          "zone": {
           "type": "string",
           "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zone"
         ],
         "request": {
          "$ref": "CreateClusterRequest"
         },
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "update": {
         "id": "container.projects.zones.clusters.update",
         "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
         "httpMethod": "PUT",
         "description": "Updates the settings of a specific cluster.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
           "required": true,
           "location": "path"
          },
          "zone": {
           "type": "string",
           "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
           "required": true,
           "location": "path"
          },
          "clusterId": {
           "type": "string",
           "description": "The name of the cluster to upgrade.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zone",
          "clusterId"
         ],
         "request": {
          "$ref": "UpdateClusterRequest"
         },
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "delete": {
         "id": "container.projects.zones.clusters.delete",
         "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
         "httpMethod": "DELETE",
         "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster (e.g. load balancer resources) will not be deleted if they weren't present at the initial create time.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
           "required": true,
           "location": "path"
          },
          "zone": {
           "type": "string",
           "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
           "required": true,
           "location": "path"
          },
          "clusterId": {
           "type": "string",
           "description": "The name of the cluster to delete.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zone",
          "clusterId"
         ],
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        }
       },
       "resources": {
        "nodePools": {
         "methods": {
          "list": {
           "id": "container.projects.zones.clusters.nodePools.list",
           "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
           "httpMethod": "GET",
           "description": "Lists the node pools for a cluster.",
           "parameters": {
            "projectId": {
             "type": "string",
             "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
             "required": true,
             "location": "path"
            },
            "zone": {
             "type": "string",
             "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
             "required": true,
             "location": "path"
            },
            "clusterId": {
             "type": "string",
             "description": "The name of the cluster.",
             "required": true,
             "location": "path"
            }
           },
           "parameterOrder": [
            "projectId",
            "zone",
            "clusterId"
           ],
           "response": {
            "$ref": "ListNodePoolsResponse"
           },
           "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
           ]
          },
          "get": {
           "id": "container.projects.zones.clusters.nodePools.get",
           "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
           "httpMethod": "GET",
           "description": "Retrieves the node pool requested.",
           "parameters": {
            "projectId": {
             "type": "string",
             "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
             "required": true,
             "location": "path"
            },
            "zone": {
             "type": "string",
             "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
             "required": true,
             "location": "path"
            },
            "clusterId": {
             "type": "string",
             "description": "The name of the cluster.",
             "required": true,
             "location": "path"
            },
            "nodePoolId": {
             "type": "string",
             "description": "The name of the node pool.",
             "required": true,
             "location": "path"
            }
           },
           "parameterOrder": [
            "projectId",
            "zone",
            "clusterId",
            "nodePoolId"
           ],
           "response": {
            "$ref": "NodePool"
           },
           "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
           ]
          },
          "create": {
           "id": "container.projects.zones.clusters.nodePools.create",
           "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
           "httpMethod": "POST",
           "description": "Creates a node pool for a cluster.",
           "parameters": {
            "projectId": {
             "type": "string",
             "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
             "required": true,
             "location": "path"
            },
            "zone": {
             "type": "string",
             "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
             "required": true,
             "location": "path"
            },
            "clusterId": {
             "type": "string",
             "description": "The name of the cluster.",
             "required": true,
             "location": "path"
            }
           },
           "parameterOrder": [
            "projectId",
            "zone",
            "clusterId"
           ],
           "request": {
            "$ref": "CreateNodePoolRequest"
           },
           "response": {
            "$ref": "Operation"
           },
           "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
           ]
          },
          "delete": {
           "id": "container.projects.zones.clusters.nodePools.delete",
           "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
           "httpMethod": "DELETE",
           "description": "Deletes a node pool from a cluster.",
           "parameters": {
            "projectId": {
             "type": "string",
             "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
             "required": true,
             "location": "path"
            },
            "zone": {
             "type": "string",
             "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
             "required": true,
             "location": "path"
            },
            "clusterId": {
             "type": "string",
             "description": "The name of the cluster.",
             "required": true,
             "location": "path"
            },
            "nodePoolId": {
             "type": "string",
             "description": "The name of the node pool to delete.",
             "required": true,
             "location": "path"
            }
           },
           "parameterOrder": [
            "projectId",
            "zone",
            "clusterId",
            "nodePoolId"
           ],
           "response": {
            "$ref": "Operation"
           },
           "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
           ]
          }
         }
        }
       }
      },
      "operations": {
       "methods": {
        "list": {
         "id": "container.projects.zones.operations.list",
         "path": "v1/projects/{projectId}/zones/{zone}/operations",
         "httpMethod": "GET",
         "description": "Lists all operations in a project in a specific zone or all zones.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
           "required": true,
           "location": "path"
          },
          "zone": {
           "type": "string",
           "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) to return operations for, or `-` for all zones.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zone"
         ],
         "response": {
          "$ref": "ListOperationsResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "get": {
         "id": "container.projects.zones.operations.get",
         "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
         "httpMethod": "GET",
         "description": "Gets the specified operation.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
           "required": true,
           "location": "path"
          },
          "zone": {
           "type": "string",
           "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
           "required": true,
           "location": "path"
          },
          "operationId": {
           "type": "string",
           "description": "The server-assigned `name` of the operation.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "zone",
          "operationId"
         ],
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        }
       }
      }
     }
    }
   }
  }
 }
}
