# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Golang
[*.go]
indent_style = tab
indent_size = 2
