{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-01",
    "endpointPrefix":"chime",
    "protocol":"rest-json",
    "serviceFullName":"Amazon Chime",
    "serviceId":"Chime",
    "signatureVersion":"v4",
    "uid":"chime-2018-05-01"
  },
  "operations":{
    "AssociatePhoneNumberWithUser":{
      "name":"AssociatePhoneNumberWithUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}?operation=associate-phone-number",
        "responseCode":200
      },
      "input":{"shape":"AssociatePhoneNumberWithUserRequest"},
      "output":{"shape":"AssociatePhoneNumberWithUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "AssociatePhoneNumbersWithVoiceConnector":{
      "name":"AssociatePhoneNumbersWithVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"AssociatePhoneNumbersWithVoiceConnectorRequest"},
      "output":{"shape":"AssociatePhoneNumbersWithVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup":{
      "name":"AssociatePhoneNumbersWithVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"AssociatePhoneNumbersWithVoiceConnectorGroupRequest"},
      "output":{"shape":"AssociatePhoneNumbersWithVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "AssociateSigninDelegateGroupsWithAccount":{
      "name":"AssociateSigninDelegateGroupsWithAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}?operation=associate-signin-delegate-groups",
        "responseCode":200
      },
      "input":{"shape":"AssociateSigninDelegateGroupsWithAccountRequest"},
      "output":{"shape":"AssociateSigninDelegateGroupsWithAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchCreateAttendee":{
      "name":"BatchCreateAttendee",
      "http":{
        "method":"POST",
        "requestUri":"/meetings/{meetingId}/attendees?operation=batch-create",
        "responseCode":201
      },
      "input":{"shape":"BatchCreateAttendeeRequest"},
      "output":{"shape":"BatchCreateAttendeeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchCreateRoomMembership":{
      "name":"BatchCreateRoomMembership",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships?operation=batch-create",
        "responseCode":201
      },
      "input":{"shape":"BatchCreateRoomMembershipRequest"},
      "output":{"shape":"BatchCreateRoomMembershipResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchDeletePhoneNumber":{
      "name":"BatchDeletePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers?operation=batch-delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeletePhoneNumberRequest"},
      "output":{"shape":"BatchDeletePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchSuspendUser":{
      "name":"BatchSuspendUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users?operation=suspend",
        "responseCode":200
      },
      "input":{"shape":"BatchSuspendUserRequest"},
      "output":{"shape":"BatchSuspendUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchUnsuspendUser":{
      "name":"BatchUnsuspendUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users?operation=unsuspend",
        "responseCode":200
      },
      "input":{"shape":"BatchUnsuspendUserRequest"},
      "output":{"shape":"BatchUnsuspendUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchUpdatePhoneNumber":{
      "name":"BatchUpdatePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers?operation=batch-update",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdatePhoneNumberRequest"},
      "output":{"shape":"BatchUpdatePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchUpdateUser":{
      "name":"BatchUpdateUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateUserRequest"},
      "output":{"shape":"BatchUpdateUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateAccount":{
      "name":"CreateAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts",
        "responseCode":201
      },
      "input":{"shape":"CreateAccountRequest"},
      "output":{"shape":"CreateAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateAttendee":{
      "name":"CreateAttendee",
      "http":{
        "method":"POST",
        "requestUri":"/meetings/{meetingId}/attendees",
        "responseCode":201
      },
      "input":{"shape":"CreateAttendeeRequest"},
      "output":{"shape":"CreateAttendeeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateBot":{
      "name":"CreateBot",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/bots",
        "responseCode":201
      },
      "input":{"shape":"CreateBotRequest"},
      "output":{"shape":"CreateBotResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"}
      ]
    },
    "CreateMeeting":{
      "name":"CreateMeeting",
      "http":{
        "method":"POST",
        "requestUri":"/meetings",
        "responseCode":201
      },
      "input":{"shape":"CreateMeetingRequest"},
      "output":{"shape":"CreateMeetingResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateMeetingWithAttendees":{
      "name":"CreateMeetingWithAttendees",
      "http":{
        "method":"POST",
        "requestUri":"/meetings?operation=create-attendees",
        "responseCode":201
      },
      "input":{"shape":"CreateMeetingWithAttendeesRequest"},
      "output":{"shape":"CreateMeetingWithAttendeesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreatePhoneNumberOrder":{
      "name":"CreatePhoneNumberOrder",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number-orders",
        "responseCode":201
      },
      "input":{"shape":"CreatePhoneNumberOrderRequest"},
      "output":{"shape":"CreatePhoneNumberOrderResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateProxySession":{
      "name":"CreateProxySession",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode":201
      },
      "input":{"shape":"CreateProxySessionRequest"},
      "output":{"shape":"CreateProxySessionResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateRoom":{
      "name":"CreateRoom",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms",
        "responseCode":201
      },
      "input":{"shape":"CreateRoomRequest"},
      "output":{"shape":"CreateRoomResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateRoomMembership":{
      "name":"CreateRoomMembership",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode":201
      },
      "input":{"shape":"CreateRoomMembershipRequest"},
      "output":{"shape":"CreateRoomMembershipResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users?operation=create",
        "responseCode":201
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateVoiceConnector":{
      "name":"CreateVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors",
        "responseCode":201
      },
      "input":{"shape":"CreateVoiceConnectorRequest"},
      "output":{"shape":"CreateVoiceConnectorResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateVoiceConnectorGroup":{
      "name":"CreateVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups",
        "responseCode":201
      },
      "input":{"shape":"CreateVoiceConnectorGroupRequest"},
      "output":{"shape":"CreateVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteAccount":{
      "name":"DeleteAccount",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{accountId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAccountRequest"},
      "output":{"shape":"DeleteAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteAttendee":{
      "name":"DeleteAttendee",
      "http":{
        "method":"DELETE",
        "requestUri":"/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAttendeeRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteEventsConfiguration":{
      "name":"DeleteEventsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteEventsConfigurationRequest"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"}
      ]
    },
    "DeleteMeeting":{
      "name":"DeleteMeeting",
      "http":{
        "method":"DELETE",
        "requestUri":"/meetings/{meetingId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMeetingRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeletePhoneNumber":{
      "name":"DeletePhoneNumber",
      "http":{
        "method":"DELETE",
        "requestUri":"/phone-numbers/{phoneNumberId}",
        "responseCode":204
      },
      "input":{"shape":"DeletePhoneNumberRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteProxySession":{
      "name":"DeleteProxySession",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteProxySessionRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteRoom":{
      "name":"DeleteRoom",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRoomRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteRoomMembership":{
      "name":"DeleteRoomMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRoomMembershipRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnector":{
      "name":"DeleteVoiceConnector",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorEmergencyCallingConfiguration":{
      "name":"DeleteVoiceConnectorEmergencyCallingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorEmergencyCallingConfigurationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorGroup":{
      "name":"DeleteVoiceConnectorGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorGroupRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorOrigination":{
      "name":"DeleteVoiceConnectorOrigination",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorOriginationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorProxy":{
      "name":"DeleteVoiceConnectorProxy",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorProxyRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorStreamingConfiguration":{
      "name":"DeleteVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorStreamingConfigurationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorTermination":{
      "name":"DeleteVoiceConnectorTermination",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorTerminationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorTerminationCredentials":{
      "name":"DeleteVoiceConnectorTerminationCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorTerminationCredentialsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DisassociatePhoneNumberFromUser":{
      "name":"DisassociatePhoneNumberFromUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}?operation=disassociate-phone-number",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePhoneNumberFromUserRequest"},
      "output":{"shape":"DisassociatePhoneNumberFromUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DisassociatePhoneNumbersFromVoiceConnector":{
      "name":"DisassociatePhoneNumbersFromVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorRequest"},
      "output":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup":{
      "name":"DisassociatePhoneNumbersFromVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorGroupRequest"},
      "output":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DisassociateSigninDelegateGroupsFromAccount":{
      "name":"DisassociateSigninDelegateGroupsFromAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}?operation=disassociate-signin-delegate-groups",
        "responseCode":200
      },
      "input":{"shape":"DisassociateSigninDelegateGroupsFromAccountRequest"},
      "output":{"shape":"DisassociateSigninDelegateGroupsFromAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetAccount":{
      "name":"GetAccount",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}"
      },
      "input":{"shape":"GetAccountRequest"},
      "output":{"shape":"GetAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetAccountSettings":{
      "name":"GetAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/settings"
      },
      "input":{"shape":"GetAccountSettingsRequest"},
      "output":{"shape":"GetAccountSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetAttendee":{
      "name":"GetAttendee",
      "http":{
        "method":"GET",
        "requestUri":"/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode":200
      },
      "input":{"shape":"GetAttendeeRequest"},
      "output":{"shape":"GetAttendeeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetBot":{
      "name":"GetBot",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/bots/{botId}",
        "responseCode":200
      },
      "input":{"shape":"GetBotRequest"},
      "output":{"shape":"GetBotResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"}
      ]
    },
    "GetEventsConfiguration":{
      "name":"GetEventsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetEventsConfigurationRequest"},
      "output":{"shape":"GetEventsConfigurationResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetGlobalSettings":{
      "name":"GetGlobalSettings",
      "http":{
        "method":"GET",
        "requestUri":"/settings",
        "responseCode":200
      },
      "output":{"shape":"GetGlobalSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetMeeting":{
      "name":"GetMeeting",
      "http":{
        "method":"GET",
        "requestUri":"/meetings/{meetingId}",
        "responseCode":200
      },
      "input":{"shape":"GetMeetingRequest"},
      "output":{"shape":"GetMeetingResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetPhoneNumber":{
      "name":"GetPhoneNumber",
      "http":{
        "method":"GET",
        "requestUri":"/phone-numbers/{phoneNumberId}"
      },
      "input":{"shape":"GetPhoneNumberRequest"},
      "output":{"shape":"GetPhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetPhoneNumberOrder":{
      "name":"GetPhoneNumberOrder",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number-orders/{phoneNumberOrderId}",
        "responseCode":200
      },
      "input":{"shape":"GetPhoneNumberOrderRequest"},
      "output":{"shape":"GetPhoneNumberOrderResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetPhoneNumberSettings":{
      "name":"GetPhoneNumberSettings",
      "http":{
        "method":"GET",
        "requestUri":"/settings/phone-number",
        "responseCode":200
      },
      "output":{"shape":"GetPhoneNumberSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetProxySession":{
      "name":"GetProxySession",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode":200
      },
      "input":{"shape":"GetProxySessionRequest"},
      "output":{"shape":"GetProxySessionResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetRetentionSettings":{
      "name":"GetRetentionSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/retention-settings"
      },
      "input":{"shape":"GetRetentionSettingsRequest"},
      "output":{"shape":"GetRetentionSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetRoom":{
      "name":"GetRoom",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}",
        "responseCode":200
      },
      "input":{"shape":"GetRoomRequest"},
      "output":{"shape":"GetRoomResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"GetUserRequest"},
      "output":{"shape":"GetUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetUserSettings":{
      "name":"GetUserSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/users/{userId}/settings",
        "responseCode":200
      },
      "input":{"shape":"GetUserSettingsRequest"},
      "output":{"shape":"GetUserSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnector":{
      "name":"GetVoiceConnector",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorRequest"},
      "output":{"shape":"GetVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorEmergencyCallingConfiguration":{
      "name":"GetVoiceConnectorEmergencyCallingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorEmergencyCallingConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorEmergencyCallingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorGroup":{
      "name":"GetVoiceConnectorGroup",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorGroupRequest"},
      "output":{"shape":"GetVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorLoggingConfiguration":{
      "name":"GetVoiceConnectorLoggingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorLoggingConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorLoggingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorOrigination":{
      "name":"GetVoiceConnectorOrigination",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorOriginationRequest"},
      "output":{"shape":"GetVoiceConnectorOriginationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorProxy":{
      "name":"GetVoiceConnectorProxy",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorProxyRequest"},
      "output":{"shape":"GetVoiceConnectorProxyResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorStreamingConfiguration":{
      "name":"GetVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorStreamingConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorStreamingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorTermination":{
      "name":"GetVoiceConnectorTermination",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorTerminationRequest"},
      "output":{"shape":"GetVoiceConnectorTerminationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorTerminationHealth":{
      "name":"GetVoiceConnectorTerminationHealth",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/health",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorTerminationHealthRequest"},
      "output":{"shape":"GetVoiceConnectorTerminationHealthResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "InviteUsers":{
      "name":"InviteUsers",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users?operation=add",
        "responseCode":201
      },
      "input":{"shape":"InviteUsersRequest"},
      "output":{"shape":"InviteUsersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListAccounts":{
      "name":"ListAccounts",
      "http":{
        "method":"GET",
        "requestUri":"/accounts"
      },
      "input":{"shape":"ListAccountsRequest"},
      "output":{"shape":"ListAccountsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListAttendeeTags":{
      "name":"ListAttendeeTags",
      "http":{
        "method":"GET",
        "requestUri":"/meetings/{meetingId}/attendees/{attendeeId}/tags",
        "responseCode":200
      },
      "input":{"shape":"ListAttendeeTagsRequest"},
      "output":{"shape":"ListAttendeeTagsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListAttendees":{
      "name":"ListAttendees",
      "http":{
        "method":"GET",
        "requestUri":"/meetings/{meetingId}/attendees",
        "responseCode":200
      },
      "input":{"shape":"ListAttendeesRequest"},
      "output":{"shape":"ListAttendeesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListBots":{
      "name":"ListBots",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/bots",
        "responseCode":200
      },
      "input":{"shape":"ListBotsRequest"},
      "output":{"shape":"ListBotsResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"}
      ]
    },
    "ListMeetingTags":{
      "name":"ListMeetingTags",
      "http":{
        "method":"GET",
        "requestUri":"/meetings/{meetingId}/tags",
        "responseCode":200
      },
      "input":{"shape":"ListMeetingTagsRequest"},
      "output":{"shape":"ListMeetingTagsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListMeetings":{
      "name":"ListMeetings",
      "http":{
        "method":"GET",
        "requestUri":"/meetings",
        "responseCode":200
      },
      "input":{"shape":"ListMeetingsRequest"},
      "output":{"shape":"ListMeetingsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListPhoneNumberOrders":{
      "name":"ListPhoneNumberOrders",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number-orders",
        "responseCode":200
      },
      "input":{"shape":"ListPhoneNumberOrdersRequest"},
      "output":{"shape":"ListPhoneNumberOrdersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListPhoneNumbers":{
      "name":"ListPhoneNumbers",
      "http":{
        "method":"GET",
        "requestUri":"/phone-numbers"
      },
      "input":{"shape":"ListPhoneNumbersRequest"},
      "output":{"shape":"ListPhoneNumbersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListProxySessions":{
      "name":"ListProxySessions",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode":200
      },
      "input":{"shape":"ListProxySessionsRequest"},
      "output":{"shape":"ListProxySessionsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListRoomMemberships":{
      "name":"ListRoomMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode":200
      },
      "input":{"shape":"ListRoomMembershipsRequest"},
      "output":{"shape":"ListRoomMembershipsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListRooms":{
      "name":"ListRooms",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/rooms",
        "responseCode":200
      },
      "input":{"shape":"ListRoomsRequest"},
      "output":{"shape":"ListRoomsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/users",
        "responseCode":200
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListVoiceConnectorGroups":{
      "name":"ListVoiceConnectorGroups",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connector-groups",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorGroupsRequest"},
      "output":{"shape":"ListVoiceConnectorGroupsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListVoiceConnectorTerminationCredentials":{
      "name":"ListVoiceConnectorTerminationCredentials",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorTerminationCredentialsRequest"},
      "output":{"shape":"ListVoiceConnectorTerminationCredentialsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListVoiceConnectors":{
      "name":"ListVoiceConnectors",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorsRequest"},
      "output":{"shape":"ListVoiceConnectorsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "LogoutUser":{
      "name":"LogoutUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}?operation=logout",
        "responseCode":204
      },
      "input":{"shape":"LogoutUserRequest"},
      "output":{"shape":"LogoutUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutEventsConfiguration":{
      "name":"PutEventsConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode":201
      },
      "input":{"shape":"PutEventsConfigurationRequest"},
      "output":{"shape":"PutEventsConfigurationResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"NotFoundException"}
      ]
    },
    "PutRetentionSettings":{
      "name":"PutRetentionSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{accountId}/retention-settings",
        "responseCode":204
      },
      "input":{"shape":"PutRetentionSettingsRequest"},
      "output":{"shape":"PutRetentionSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorEmergencyCallingConfiguration":{
      "name":"PutVoiceConnectorEmergencyCallingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorEmergencyCallingConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorEmergencyCallingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorLoggingConfiguration":{
      "name":"PutVoiceConnectorLoggingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorLoggingConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorLoggingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorOrigination":{
      "name":"PutVoiceConnectorOrigination",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorOriginationRequest"},
      "output":{"shape":"PutVoiceConnectorOriginationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorProxy":{
      "name":"PutVoiceConnectorProxy",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy"
      },
      "input":{"shape":"PutVoiceConnectorProxyRequest"},
      "output":{"shape":"PutVoiceConnectorProxyResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorStreamingConfiguration":{
      "name":"PutVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorStreamingConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorStreamingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorTermination":{
      "name":"PutVoiceConnectorTermination",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorTerminationRequest"},
      "output":{"shape":"PutVoiceConnectorTerminationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorTerminationCredentials":{
      "name":"PutVoiceConnectorTerminationCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials?operation=put",
        "responseCode":204
      },
      "input":{"shape":"PutVoiceConnectorTerminationCredentialsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "RedactConversationMessage":{
      "name":"RedactConversationMessage",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/conversations/{conversationId}/messages/{messageId}?operation=redact",
        "responseCode":200
      },
      "input":{"shape":"RedactConversationMessageRequest"},
      "output":{"shape":"RedactConversationMessageResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"BadRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "RedactRoomMessage":{
      "name":"RedactRoomMessage",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/messages/{messageId}?operation=redact",
        "responseCode":200
      },
      "input":{"shape":"RedactRoomMessageRequest"},
      "output":{"shape":"RedactRoomMessageResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"BadRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "RegenerateSecurityToken":{
      "name":"RegenerateSecurityToken",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/bots/{botId}?operation=regenerate-security-token",
        "responseCode":200
      },
      "input":{"shape":"RegenerateSecurityTokenRequest"},
      "output":{"shape":"RegenerateSecurityTokenResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"}
      ]
    },
    "ResetPersonalPIN":{
      "name":"ResetPersonalPIN",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}?operation=reset-personal-pin",
        "responseCode":200
      },
      "input":{"shape":"ResetPersonalPINRequest"},
      "output":{"shape":"ResetPersonalPINResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "RestorePhoneNumber":{
      "name":"RestorePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers/{phoneNumberId}?operation=restore",
        "responseCode":200
      },
      "input":{"shape":"RestorePhoneNumberRequest"},
      "output":{"shape":"RestorePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "SearchAvailablePhoneNumbers":{
      "name":"SearchAvailablePhoneNumbers",
      "http":{
        "method":"GET",
        "requestUri":"/search?type=phone-numbers"
      },
      "input":{"shape":"SearchAvailablePhoneNumbersRequest"},
      "output":{"shape":"SearchAvailablePhoneNumbersResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "TagAttendee":{
      "name":"TagAttendee",
      "http":{
        "method":"POST",
        "requestUri":"/meetings/{meetingId}/attendees/{attendeeId}/tags?operation=add",
        "responseCode":204
      },
      "input":{"shape":"TagAttendeeRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "TagMeeting":{
      "name":"TagMeeting",
      "http":{
        "method":"POST",
        "requestUri":"/meetings/{meetingId}/tags?operation=add",
        "responseCode":204
      },
      "input":{"shape":"TagMeetingRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags?operation=tag-resource",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UntagAttendee":{
      "name":"UntagAttendee",
      "http":{
        "method":"POST",
        "requestUri":"/meetings/{meetingId}/attendees/{attendeeId}/tags?operation=delete",
        "responseCode":204
      },
      "input":{"shape":"UntagAttendeeRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UntagMeeting":{
      "name":"UntagMeeting",
      "http":{
        "method":"POST",
        "requestUri":"/meetings/{meetingId}/tags?operation=delete",
        "responseCode":204
      },
      "input":{"shape":"UntagMeetingRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags?operation=untag-resource",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateAccount":{
      "name":"UpdateAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAccountRequest"},
      "output":{"shape":"UpdateAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateAccountSettings":{
      "name":"UpdateAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{accountId}/settings",
        "responseCode":204
      },
      "input":{"shape":"UpdateAccountSettingsRequest"},
      "output":{"shape":"UpdateAccountSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateBot":{
      "name":"UpdateBot",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/bots/{botId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBotRequest"},
      "output":{"shape":"UpdateBotResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"}
      ]
    },
    "UpdateGlobalSettings":{
      "name":"UpdateGlobalSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/settings",
        "responseCode":204
      },
      "input":{"shape":"UpdateGlobalSettingsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdatePhoneNumber":{
      "name":"UpdatePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers/{phoneNumberId}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePhoneNumberRequest"},
      "output":{"shape":"UpdatePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdatePhoneNumberSettings":{
      "name":"UpdatePhoneNumberSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/settings/phone-number",
        "responseCode":204
      },
      "input":{"shape":"UpdatePhoneNumberSettingsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateProxySession":{
      "name":"UpdateProxySession",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode":201
      },
      "input":{"shape":"UpdateProxySessionRequest"},
      "output":{"shape":"UpdateProxySessionResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateRoom":{
      "name":"UpdateRoom",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRoomRequest"},
      "output":{"shape":"UpdateRoomResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateRoomMembership":{
      "name":"UpdateRoomMembership",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRoomMembershipRequest"},
      "output":{"shape":"UpdateRoomMembershipResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateUserSettings":{
      "name":"UpdateUserSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{accountId}/users/{userId}/settings",
        "responseCode":204
      },
      "input":{"shape":"UpdateUserSettingsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateVoiceConnector":{
      "name":"UpdateVoiceConnector",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVoiceConnectorRequest"},
      "output":{"shape":"UpdateVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateVoiceConnectorGroup":{
      "name":"UpdateVoiceConnectorGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateVoiceConnectorGroupRequest"},
      "output":{"shape":"UpdateVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "Account":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "AccountId",
        "Name"
      ],
      "members":{
        "AwsAccountId":{"shape":"String"},
        "AccountId":{"shape":"String"},
        "Name":{"shape":"String"},
        "AccountType":{"shape":"AccountType"},
        "CreatedTimestamp":{"shape":"Iso8601Timestamp"},
        "DefaultLicense":{"shape":"License"},
        "SupportedLicenses":{"shape":"LicenseList"},
        "SigninDelegateGroups":{"shape":"SigninDelegateGroupList"}
      }
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"Account"}
    },
    "AccountName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":".*\\S.*"
    },
    "AccountSettings":{
      "type":"structure",
      "members":{
        "DisableRemoteControl":{"shape":"Boolean"},
        "EnableDialOut":{"shape":"Boolean"}
      }
    },
    "AccountType":{
      "type":"string",
      "enum":[
        "Team",
        "EnterpriseDirectory",
        "EnterpriseLWA",
        "EnterpriseOIDC"
      ]
    },
    "AlexaForBusinessMetadata":{
      "type":"structure",
      "members":{
        "IsAlexaForBusinessEnabled":{"shape":"Boolean"},
        "AlexaForBusinessRoomArn":{"shape":"SensitiveString"}
      }
    },
    "Alpha2CountryCode":{
      "type":"string",
      "pattern":"[A-Z]{2}"
    },
    "AreaCode":{
      "type":"string",
      "pattern":"^$|^[0-9]{3,3}$"
    },
    "Arn":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
      "sensitive":true
    },
    "AssociatePhoneNumberWithUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserId",
        "E164PhoneNumber"
      ],
      "members":{
        "AccountId":{
          "shape":"String",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserId":{
          "shape":"String",
          "location":"uri",
          "locationName":"userId"
        },
        "E164PhoneNumber":{"shape":"E164PhoneNumber"}
      }
    },
    "AssociatePhoneNumberWithUserResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroupRequest":{
      "type":"structure",
      "required":[
        "VoiceConnectorGroupId",
        "E164PhoneNumbers"
      ],
      "members":{
        "VoiceConnectorGroupId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorGroupId"
        },
        "E164PhoneNumbers":{"shape":"E164PhoneNumberList"},
        "ForceAssociate":{"shape":"NullableBoolean"}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroupResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorRequest":{
      "type":"structure",
      "required":[
        "VoiceConnectorId",
        "E164PhoneNumbers"
      ],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        },
        "E164PhoneNumbers":{"shape":"E164PhoneNumberList"},
        "ForceAssociate":{"shape":"NullableBoolean"}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "AssociateSigninDelegateGroupsWithAccountRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "SigninDelegateGroups"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "SigninDelegateGroups":{"shape":"SigninDelegateGroupList"}
      }
    },
    "AssociateSigninDelegateGroupsWithAccountResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Attendee":{
      "type":"structure",
      "members":{
        "ExternalUserId":{"shape":"ExternalUserIdType"},
        "AttendeeId":{"shape":"GuidString"},
        "JoinToken":{"shape":"JoinTokenString"}
      }
    },
    "AttendeeList":{
      "type":"list",
      "member":{"shape":"Attendee"}
    },
    "AttendeeTagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":10,
      "min":1
    },
    "AttendeeTagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":10,
      "min":1
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "BatchCreateAttendeeErrorList":{
      "type":"list",
      "member":{"shape":"CreateAttendeeError"}
    },
    "BatchCreateAttendeeRequest":{
      "type":"structure",
      "required":[
        "MeetingId",
        "Attendees"
      ],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        },
        "Attendees":{"shape":"CreateAttendeeRequestItemList"}
      }
    },
    "BatchCreateAttendeeResponse":{
      "type":"structure",
      "members":{
        "Attendees":{"shape":"AttendeeList"},
        "Errors":{"shape":"BatchCreateAttendeeErrorList"}
      }
    },
    "BatchCreateRoomMembershipRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId",
        "MembershipItemList"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "RoomId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"roomId"
        },
        "MembershipItemList":{"shape":"MembershipItemList"}
      }
    },
    "BatchCreateRoomMembershipResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"MemberErrorList"}
      }
    },
    "BatchDeletePhoneNumberRequest":{
      "type":"structure",
      "required":["PhoneNumberIds"],
      "members":{
        "PhoneNumberIds":{"shape":"NonEmptyStringList"}
      }
    },
    "BatchDeletePhoneNumberResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "BatchSuspendUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserIdList"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserIdList":{"shape":"UserIdList"}
      }
    },
    "BatchSuspendUserResponse":{
      "type":"structure",
      "members":{
        "UserErrors":{"shape":"UserErrorList"}
      }
    },
    "BatchUnsuspendUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserIdList"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserIdList":{"shape":"UserIdList"}
      }
    },
    "BatchUnsuspendUserResponse":{
      "type":"structure",
      "members":{
        "UserErrors":{"shape":"UserErrorList"}
      }
    },
    "BatchUpdatePhoneNumberRequest":{
      "type":"structure",
      "required":["UpdatePhoneNumberRequestItems"],
      "members":{
        "UpdatePhoneNumberRequestItems":{"shape":"UpdatePhoneNumberRequestItemList"}
      }
    },
    "BatchUpdatePhoneNumberResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "BatchUpdateUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UpdateUserRequestItems"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UpdateUserRequestItems":{"shape":"UpdateUserRequestItemList"}
      }
    },
    "BatchUpdateUserResponse":{
      "type":"structure",
      "members":{
        "UserErrors":{"shape":"UserErrorList"}
      }
    },
    "Boolean":{"type":"boolean"},
    "Bot":{
      "type":"structure",
      "members":{
        "BotId":{"shape":"String"},
        "UserId":{"shape":"String"},
        "DisplayName":{"shape":"SensitiveString"},
        "BotType":{"shape":"BotType"},
        "Disabled":{"shape":"NullableBoolean"},
        "CreatedTimestamp":{"shape":"Iso8601Timestamp"},
        "UpdatedTimestamp":{"shape":"Iso8601Timestamp"},
        "BotEmail":{"shape":"SensitiveString"},
        "SecurityToken":{"shape":"SensitiveString"}
      }
    },
    "BotList":{
      "type":"list",
      "member":{"shape":"Bot"}
    },
    "BotType":{
      "type":"string",
      "enum":["ChatBot"]
    },
    "BusinessCallingSettings":{
      "type":"structure",
      "members":{
        "CdrBucket":{
          "shape":"String",
          "box":true
        }
      }
    },
    "CallingName":{
      "type":"string",
      "pattern":"^$|^[a-zA-Z0-9 ]{2,15}$",
      "sensitive":true
    },
    "CallingNameStatus":{
      "type":"string",
      "enum":[
        "Unassigned",
        "UpdateInProgress",
        "UpdateSucceeded",
        "UpdateFailed"
      ]
    },
    "CallingRegion":{"type":"string"},
    "CallingRegionList":{
      "type":"list",
      "member":{"shape":"CallingRegion"}
    },
    "Capability":{
      "type":"string",
      "enum":[
        "Voice",
        "SMS"
      ]
    },
    "CapabilityList":{
      "type":"list",
      "member":{"shape":"Capability"}
    },
    "ClientRequestToken":{
      "type":"string",
      "max":64,
      "min":2,
      "pattern":"[-_a-zA-Z0-9]*",
      "sensitive":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConversationRetentionSettings":{
      "type":"structure",
      "members":{
        "RetentionDays":{"shape":"RetentionDays"}
      }
    },
    "Country":{
      "type":"string",
      "pattern":"^$|^[A-Z]{2,2}$"
    },
    "CountryList":{
      "type":"list",
      "member":{"shape":"Country"},
      "max":100,
      "min":1
    },
    "CpsLimit":{
      "type":"integer",
      "min":1
    },
    "CreateAccountRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"AccountName"}
      }
    },
    "CreateAccountResponse":{
      "type":"structure",
      "members":{
        "Account":{"shape":"Account"}
      }
    },
    "CreateAttendeeError":{
      "type":"structure",
      "members":{
        "ExternalUserId":{"shape":"ExternalUserIdType"},
        "ErrorCode":{"shape":"String"},
        "ErrorMessage":{"shape":"String"}
      }
    },
    "CreateAttendeeRequest":{
      "type":"structure",
      "required":[
        "MeetingId",
        "ExternalUserId"
      ],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        },
        "ExternalUserId":{"shape":"ExternalUserIdType"},
        "Tags":{"shape":"AttendeeTagList"}
      }
    },
    "CreateAttendeeRequestItem":{
      "type":"structure",
      "required":["ExternalUserId"],
      "members":{
        "ExternalUserId":{"shape":"ExternalUserIdType"},
        "Tags":{"shape":"AttendeeTagList"}
      }
    },
    "CreateAttendeeRequestItemList":{
      "type":"list",
      "member":{"shape":"CreateAttendeeRequestItem"}
    },
    "CreateAttendeeResponse":{
      "type":"structure",
      "members":{
        "Attendee":{"shape":"Attendee"}
      }
    },
    "CreateBotRequest":{
      "type":"structure",
      "required":[
        "DisplayName",
        "AccountId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "DisplayName":{"shape":"SensitiveString"},
        "Domain":{"shape":"NonEmptyString"}
      }
    },
    "CreateBotResponse":{
      "type":"structure",
      "members":{
        "Bot":{"shape":"Bot"}
      }
    },
    "CreateMeetingRequest":{
      "type":"structure",
      "required":["ClientRequestToken"],
      "members":{
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "ExternalMeetingId":{"shape":"ExternalMeetingIdType"},
        "MeetingHostId":{"shape":"ExternalUserIdType"},
        "MediaRegion":{"shape":"String"},
        "Tags":{"shape":"MeetingTagList"},
        "NotificationsConfiguration":{"shape":"MeetingNotificationConfiguration"}
      }
    },
    "CreateMeetingResponse":{
      "type":"structure",
      "members":{
        "Meeting":{"shape":"Meeting"}
      }
    },
    "CreateMeetingWithAttendeesRequest":{
      "type":"structure",
      "required":["ClientRequestToken"],
      "members":{
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "ExternalMeetingId":{"shape":"ExternalMeetingIdType"},
        "MeetingHostId":{"shape":"ExternalUserIdType"},
        "MediaRegion":{"shape":"String"},
        "Tags":{"shape":"MeetingTagList"},
        "NotificationsConfiguration":{"shape":"MeetingNotificationConfiguration"},
        "Attendees":{"shape":"CreateMeetingWithAttendeesRequestItemList"}
      }
    },
    "CreateMeetingWithAttendeesRequestItemList":{
      "type":"list",
      "member":{"shape":"CreateAttendeeRequestItem"},
      "max":10,
      "min":1
    },
    "CreateMeetingWithAttendeesResponse":{
      "type":"structure",
      "members":{
        "Meeting":{"shape":"Meeting"},
        "Attendees":{"shape":"AttendeeList"},
        "Errors":{"shape":"BatchCreateAttendeeErrorList"}
      }
    },
    "CreatePhoneNumberOrderRequest":{
      "type":"structure",
      "required":[
        "ProductType",
        "E164PhoneNumbers"
      ],
      "members":{
        "ProductType":{"shape":"PhoneNumberProductType"},
        "E164PhoneNumbers":{"shape":"E164PhoneNumberList"}
      }
    },
    "CreatePhoneNumberOrderResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberOrder":{"shape":"PhoneNumberOrder"}
      }
    },
    "CreateProxySessionRequest":{
      "type":"structure",
      "required":[
        "ParticipantPhoneNumbers",
        "Capabilities",
        "VoiceConnectorId"
      ],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString128",
          "location":"uri",
          "locationName":"voiceConnectorId"
        },
        "ParticipantPhoneNumbers":{"shape":"ParticipantPhoneNumberList"},
        "Name":{"shape":"ProxySessionNameString"},
        "ExpiryMinutes":{"shape":"PositiveInteger"},
        "Capabilities":{"shape":"CapabilityList"},
        "NumberSelectionBehavior":{"shape":"NumberSelectionBehavior"},
        "GeoMatchLevel":{"shape":"GeoMatchLevel"},
        "GeoMatchParams":{"shape":"GeoMatchParams"}
      }
    },
    "CreateProxySessionResponse":{
      "type":"structure",
      "members":{
        "ProxySession":{"shape":"ProxySession"}
      }
    },
    "CreateRoomMembershipRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId",
        "MemberId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "RoomId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"roomId"
        },
        "MemberId":{"shape":"NonEmptyString"},
        "Role":{"shape":"RoomMembershipRole"}
      }
    },
    "CreateRoomMembershipResponse":{
      "type":"structure",
      "members":{
        "RoomMembership":{"shape":"RoomMembership"}
      }
    },
    "CreateRoomRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "Name":{"shape":"SensitiveString"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateRoomResponse":{
      "type":"structure",
      "members":{
        "Room":{"shape":"Room"}
      }
    },
    "CreateUserRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "Username":{"shape":"String"},
        "Email":{"shape":"EmailAddress"},
        "UserType":{"shape":"UserType"}
      }
    },
    "CreateUserResponse":{
      "type":"structure",
      "members":{
        "User":{"shape":"User"}
      }
    },
    "CreateVoiceConnectorGroupRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"VoiceConnectorGroupName"},
        "VoiceConnectorItems":{"shape":"VoiceConnectorItemList"}
      }
    },
    "CreateVoiceConnectorGroupResponse":{
      "type":"structure",
      "members":{
        "VoiceConnectorGroup":{"shape":"VoiceConnectorGroup"}
      }
    },
    "CreateVoiceConnectorRequest":{
      "type":"structure",
      "required":[
        "Name",
        "RequireEncryption"
      ],
      "members":{
        "Name":{"shape":"VoiceConnectorName"},
        "AwsRegion":{"shape":"VoiceConnectorAwsRegion"},
        "RequireEncryption":{"shape":"Boolean"}
      }
    },
    "CreateVoiceConnectorResponse":{
      "type":"structure",
      "members":{
        "VoiceConnector":{"shape":"VoiceConnector"}
      }
    },
    "Credential":{
      "type":"structure",
      "members":{
        "Username":{"shape":"SensitiveString"},
        "Password":{"shape":"SensitiveString"}
      }
    },
    "CredentialList":{
      "type":"list",
      "member":{"shape":"Credential"}
    },
    "DNISEmergencyCallingConfiguration":{
      "type":"structure",
      "required":[
        "EmergencyPhoneNumber",
        "CallingCountry"
      ],
      "members":{
        "EmergencyPhoneNumber":{"shape":"E164PhoneNumber"},
        "TestPhoneNumber":{"shape":"E164PhoneNumber"},
        "CallingCountry":{"shape":"Alpha2CountryCode"}
      }
    },
    "DNISEmergencyCallingConfigurationList":{
      "type":"list",
      "member":{"shape":"DNISEmergencyCallingConfiguration"}
    },
    "DataRetentionInHours":{
      "type":"integer",
      "min":0
    },
    "DeleteAccountRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        }
      }
    },
    "DeleteAccountResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAttendeeRequest":{
      "type":"structure",
      "required":[
        "MeetingId",
        "AttendeeId"
      ],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        },
        "AttendeeId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"attendeeId"
        }
      }
    },
    "DeleteEventsConfigurationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "BotId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "BotId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"botId"
        }
      }
    },
    "DeleteMeetingRequest":{
      "type":"structure",
      "required":["MeetingId"],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        }
      }
    },
    "DeletePhoneNumberRequest":{
      "type":"structure",
      "required":["PhoneNumberId"],
      "members":{
        "PhoneNumberId":{
          "shape":"String",
          "location":"uri",
          "locationName":"phoneNumberId"
        }
      }
    },
    "DeleteProxySessionRequest":{
      "type":"structure",
      "required":[
        "VoiceConnectorId",
        "ProxySessionId"
      ],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString128",
          "location":"uri",
          "locationName":"voiceConnectorId"
        },
        "ProxySessionId":{
          "shape":"NonEmptyString128",
          "location":"uri",
          "locationName":"proxySessionId"
        }
      }
    },
    "DeleteRoomMembershipRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId",
        "MemberId"
      ],
      "members":{
[...]
