{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "/androidpublisher/v3/applications/",
  "baseUrl": "https://www.googleapis.com/androidpublisher/v3/applications/",
  "batchPath": "batch/androidpublisher/v3",
  "canonicalName": "Android Publisher",
  "description": "Accesses Android application developers' Google Play accounts.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/android-publisher",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/BD94sc-dTZbQlj3kncdlRya8SqE\"",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/android-16.png",
    "x32": "https://www.google.com/images/icons/product/android-32.png"
  },
  "id": "androidpublisher:v3",
  "kind": "discovery#restDescription",
  "name": "androidpublisher",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "edits": {
      "methods": {
        "commit": {
          "description": "Commits/applies the changes made in this edit back to the app.",
          "httpMethod": "POST",
          "id": "androidpublisher.edits.commit",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "editId": {
              "description": "Unique identifier for this edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/edits/{editId}:commit",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "description": "Deletes an edit for an app. Creating a new edit will automatically delete any of your previous edits so this method need only be called if you want to preemptively abandon an edit.",
          "httpMethod": "DELETE",
          "id": "androidpublisher.edits.delete",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "editId": {
              "description": "Unique identifier for this edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/edits/{editId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "description": "Returns information about the edit specified. Calls will fail if the edit is no long active (e.g. has been deleted, superseded or expired).",
          "httpMethod": "GET",
          "id": "androidpublisher.edits.get",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "editId": {
              "description": "Unique identifier for this edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "description": "Creates a new edit for an app, populated with the app's current state.",
          "httpMethod": "POST",
          "id": "androidpublisher.edits.insert",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/edits",
          "request": {
            "$ref": "AppEdit"
          },
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "validate": {
          "description": "Checks that the edit can be successfully committed. The edit's changes are not applied to the live app.",
          "httpMethod": "POST",
          "id": "androidpublisher.edits.validate",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "editId": {
              "description": "Unique identifier for this edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/edits/{editId}:validate",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      },
      "resources": {
        "apks": {
          "methods": {
            "addexternallyhosted": {
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to enterprises using Google Play for Work whose application is configured to restrict distribution to the enterprise domain.",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/apks/externallyHosted",
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "androidpublisher.edits.apks.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "ApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "httpMethod": "POST",
              "id": "androidpublisher.edits.apks.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "maxSize": "1GB",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "Apk"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "androidpublisher.edits.bundles.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See: https://developers.google.com/api-client-library/java/google-api-java-client/errors for an example in java.",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.bundles.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2GB",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "ackBundleInstallationWarning": {
                  "description": "Must be set to true if the bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB).",
                  "location": "query",
                  "type": "boolean"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "Bundle"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "description": "Uploads the deobfuscation file of the specified APK. If a deobfuscation file already exists, it will be replaced.",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "300MB",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose deobfuscation file is being uploaded.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "deobfuscationFileType": {
                  "enum": [
                    "proguard"
                  ],
                  "enumDescriptions": [
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier of the Android app for which the deobfuscatiuon files are being uploaded; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "description": "Fetches app details for this edit. This includes the default language and developer support contact information.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.details.get",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Updates app details for this edit. This method supports patch semantics.",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.details.patch",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates app details for this edit.",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.details.update",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "get": {
              "description": "Fetches the Expansion File configuration for the APK specified.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.expansionfiles.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose Expansion File configuration is being read or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "enum": [
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method. This method supports patch semantics.",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose Expansion File configuration is being read or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "enum": [
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method.",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.expansionfiles.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose Expansion File configuration is being read or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "enum": [
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "description": "Uploads and attaches a new Expansion File to the APK specified.",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.expansionfiles.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2048MB",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose Expansion File configuration is being read or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "enum": [
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "images": {
          "methods": {
            "delete": {
              "description": "Deletes the image (specified by id) from the edit.",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.delete",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageId": {
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "enum": [
                    "automotiveScreenshots",
                    "daydreamStereoImage",
                    "featureGraphic",
                    "icon",
                    "phoneScreenshots",
                    "promoGraphic",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvBanner",
                    "tvScreenshots",
                    "wearScreenshots"
                  ],
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "deleteall": {
              "description": "Deletes all images for the specified language and image type.",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.deleteall",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "enum": [
                    "automotiveScreenshots",
                    "daydreamStereoImage",
                    "featureGraphic",
                    "icon",
                    "phoneScreenshots",
                    "promoGraphic",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvBanner",
                    "tvScreenshots",
                    "wearScreenshots"
                  ],
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "description": "Lists all images for the specified language and image type.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.images.list",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "enum": [
                    "automotiveScreenshots",
                    "daydreamStereoImage",
                    "featureGraphic",
                    "icon",
                    "phoneScreenshots",
                    "promoGraphic",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvBanner",
                    "tvScreenshots",
                    "wearScreenshots"
                  ],
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "description": "Uploads a new image and adds it to the list of images for the specified language and image type.",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.images.upload",
              "mediaUpload": {
                "accept": [
                  "image/*"
                ],
                "maxSize": "15MB",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "enum": [
                    "automotiveScreenshots",
                    "daydreamStereoImage",
                    "featureGraphic",
                    "icon",
                    "phoneScreenshots",
                    "promoGraphic",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvBanner",
                    "tvScreenshots",
                    "wearScreenshots"
                  ],
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    "",
                    ""
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "listings": {
          "methods": {
            "delete": {
              "description": "Deletes the specified localized store listing from an edit.",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.listings.delete",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "deleteall": {
              "description": "Deletes all localized listings from an edit.",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.listings.deleteall",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "description": "Fetches information about a localized store listing.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.listings.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "description": "Returns all of the localized store listings attached to this edit.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.listings.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Creates or updates a localized store listing. This method supports patch semantics.",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.listings.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings/{language}",
              "request": {
                "$ref": "Listing"
              },
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Creates or updates a localized store listing.",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.listings.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/listings/{language}",
              "request": {
                "$ref": "Listing"
              },
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "testers": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "androidpublisher.edits.testers.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to read or modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.testers.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to read or modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/testers/{track}",
              "request": {
                "$ref": "Testers"
              },
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.testers.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to read or modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/testers/{track}",
              "request": {
                "$ref": "Testers"
              },
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "tracks": {
          "methods": {
            "get": {
              "description": "Fetches the track configuration for the specified track type. Includes the APK version codes that are in this track.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to read or modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "description": "Lists all the track configurations for this edit.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "TracksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Updates the track configuration for the specified track type. This method supports patch semantics.",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.tracks.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to read or modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates the track configuration for the specified track type.",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.tracks.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to read or modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        }
      }
    },
    "inappproducts": {
      "methods": {
        "delete": {
          "description": "Delete an in-app product for an app.",
          "httpMethod": "DELETE",
          "id": "androidpublisher.inappproducts.delete",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "packageName": {
              "description": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "description": "Returns information about the in-app product specified.",
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.get",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "description": "Creates a new in-app product for an app.",
          "httpMethod": "POST",
          "id": "androidpublisher.inappproducts.insert",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "description": "List all the in-app products for an Android app, both subscriptions and managed in-app products..",
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.list",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "packageName": {
              "description": "Unique identifier for the Android app with in-app products; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "startIndex": {
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "type": "string"
            }
          },
          "path": "{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "patch": {
          "description": "Updates the details of an in-app product. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "androidpublisher.inappproducts.patch",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "description": "Updates the details of an in-app product.",
          "httpMethod": "PUT",
          "id": "androidpublisher.inappproducts.update",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See: https://developers.google.com/api-client-library/java/google-api-java-client/errors for an example in java.",
          "httpMethod": "POST",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1GB",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "description": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "internalappsharing/{packageName}/artifacts/apk",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "supportsMediaUpload": true
        },
        "uploadbundle": {
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See: https://developers.google.com/api-client-library/java/google-api-java-client/errors for an example in java.",
          "httpMethod": "POST",
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "2GB",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "description": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "internalappsharing/{packageName}/artifacts/bundle",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "supportsMediaUpload": true
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "description": "Refund a user's subscription or in-app purchase order.",
          "httpMethod": "POST",
          "id": "androidpublisher.orders.refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional)",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "acknowledge": {
              "description": "Acknowledges a purchase of an inapp item.",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.products.acknowledge",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "description": "Checks the purchase and consumption status of an inapp item.",
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.products.get",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/purchases/products/{productId}/tokens/{token}",
              "response": {
                "$ref": "ProductPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "acknowledge": {
              "description": "Acknowledges a subscription purchase.",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "cancel": {
              "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "defer": {
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.defer",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "description": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.subscriptions.get",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "refund": {
              "description": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.refund",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "revoke": {
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "parameterOrder": [
                "packageName"
              ],
              "parameters": {
                "endTime": {
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "startIndex": {
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "startTime": {
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "token": {
                  "location": "query",
                  "type": "string"
                },
                "type": {
                  "description": "The type of voided purchases that you want to see in the response. Possible values are:  \n- 0: Only voided in-app product purchases will be returned in the response. This is the default value.\n- 1: Both voided in-app purchases and voided subscription purchases will be returned in the response.  Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "{packageName}/purchases/voidedpurchases",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "description": "Returns a single review.",
          "httpMethod": "GET",
          "id": "androidpublisher.reviews.get",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "parameters": {
            "packageName": {
              "description": "Unique identifier for the Android app for which we want reviews; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "reviewId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "translationLanguage": {
              "location": "query",
              "type": "string"
            }
          },
          "path": "{packageName}/reviews/{reviewId}",
          "response": {
            "$ref": "Review"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "description": "Returns a list of reviews. Only reviews from last week will be returned.",
          "httpMethod": "GET",
          "id": "androidpublisher.reviews.list",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "packageName": {
              "description": "Unique identifier for the Android app for which we want reviews; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "startIndex": {
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "type": "string"
            },
            "translationLanguage": {
              "location": "query",
              "type": "string"
            }
          },
          "path": "{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "reply": {
          "description": "Reply to a single review, or update an existing reply.",
          "httpMethod": "POST",
          "id": "androidpublisher.reviews.reply",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "parameters": {
            "packageName": {
              "description": "Unique identifier for the Android app for which we want reviews; for example, \"com.spiffygame\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "reviewId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{packageName}/reviews/{reviewId}:reply",
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "description": "Creates a new variant of APK which is suitable for inclusion in a system image.",
              "httpMethod": "POST",
              "id": "androidpublisher.systemapks.variants.create",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "parameters": {
                "packageName": {
                  "description": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "SystemApkVariantsCreateRequest"
              },
              "response": {
                "$ref": "Variant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "download": {
              "description": "Download a previously created APK which is suitable for inclusion in a system image.",
              "httpMethod": "GET",
              "id": "androidpublisher.systemapks.variants.download",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "parameters": {
                "packageName": {
                  "description": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "variantId": {
                  "format": "uint32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaDownload": true,
              "useMediaDownloadService": true
            },
            "get": {
              "description": "Returns a previously created system APK variant.",
              "httpMethod": "GET",
              "id": "androidpublisher.systemapks.variants.get",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "parameters": {
                "packageName": {
                  "description": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "variantId": {
                  "description": "Unique identifier for this variant.",
                  "format": "uint32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "response": {
                "$ref": "Variant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "description": "Returns the list of previously created system APK variants.",
              "httpMethod": "GET",
              "id": "androidpublisher.systemapks.variants.list",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "parameters": {
                "packageName": {
                  "description": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{packageName}/systemApks/{versionCode}/variants",
              "response": {
                "$ref": "SystemApkVariantsListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20200223",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "Apk": {
      "id": "Apk",
      "properties": {
        "binary": {
          "$ref": "ApkBinary",
          "description": "Information about the binary payload of this APK."
        },
        "testBinary": {
          "$ref": "ApkBinary"
        },
        "versionCode": {
          "description": "The version code of the APK, as specified in the APK's manifest file.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ApkBinary": {
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApksAddExternallyHostedRequest": {
      "id": "ApksAddExternallyHostedRequest",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "type": "object"
    },
    "ApksAddExternallyHostedResponse": {
      "id": "ApksAddExternallyHostedResponse",
[...]
