{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidenterprise": {
          "description": "Manage corporate Android devices"
        }
      }
    }
  },
  "basePath": "/androidenterprise/v1/",
  "baseUrl": "https://www.googleapis.com/androidenterprise/v1/",
  "batchPath": "batch/androidenterprise/v1",
  "canonicalName": "Android Enterprise",
  "description": "Manages the deployment of apps to Android for Work users.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/android/work/play/emm-api",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/IG1fj6800zuIJE6IapkP0SlR3Q8\"",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/android-16.png",
    "x32": "https://www.google.com/images/icons/product/android-32.png"
  },
  "id": "androidenterprise:v1",
  "kind": "discovery#restDescription",
  "name": "androidenterprise",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "devices": {
      "methods": {
        "forceReportUpload": {
          "description": "Uploads a report containing any changes in app states on the device since the last report was generated. You can call this method up to 3 times every 24 hours for a given device.",
          "httpMethod": "POST",
          "id": "androidenterprise.devices.forceReportUpload",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves the details of a device.",
          "httpMethod": "GET",
          "id": "androidenterprise.devices.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "response": {
            "$ref": "Device"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getState": {
          "description": "Retrieves whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.",
          "httpMethod": "GET",
          "id": "androidenterprise.devices.getState",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "response": {
            "$ref": "DeviceState"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the IDs of all of a user's devices.",
          "httpMethod": "GET",
          "id": "androidenterprise.devices.list",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices",
          "response": {
            "$ref": "DevicesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setState": {
          "description": "Sets whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.",
          "httpMethod": "PUT",
          "id": "androidenterprise.devices.setState",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "request": {
            "$ref": "DeviceState"
          },
          "response": {
            "$ref": "DeviceState"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates the device policy",
          "httpMethod": "PUT",
          "id": "androidenterprise.devices.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Mask that identifies which fields to update. If not set, all modifiable fields will be modified.\n\nWhen set in a query parameter, this field should be specified as updateMask=\u003cfield1\u003e,\u003cfield2\u003e,...",
              "location": "query",
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "request": {
            "$ref": "Device"
          },
          "response": {
            "$ref": "Device"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "enterprises": {
      "methods": {
        "acknowledgeNotificationSet": {
          "description": "Acknowledges notifications that were received from Enterprises.PullNotificationSet to prevent subsequent calls from returning the same notifications.",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.acknowledgeNotificationSet",
          "parameters": {
            "notificationSetId": {
              "description": "The notification set ID as returned by Enterprises.PullNotificationSet. This must be provided.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "enterprises/acknowledgeNotificationSet",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "completeSignup": {
          "description": "Completes the signup flow, by specifying the Completion token and Enterprise token. This request must not be called multiple times for a given Enterprise Token.",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.completeSignup",
          "parameters": {
            "completionToken": {
              "description": "The Completion token initially returned by GenerateSignupUrl.",
              "location": "query",
              "type": "string"
            },
            "enterpriseToken": {
              "description": "The Enterprise token appended to the Callback URL.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "enterprises/completeSignup",
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "createWebToken": {
          "description": "Returns a unique token to access an embeddable UI. To generate a web UI, pass the generated token into the managed Google Play javascript API. Each token may only be used to start one UI session. See the javascript API documentation for further information.",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.createWebToken",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/createWebToken",
          "request": {
            "$ref": "AdministratorWebTokenSpec"
          },
          "response": {
            "$ref": "AdministratorWebToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "enroll": {
          "description": "Enrolls an enterprise with the calling EMM.",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.enroll",
          "parameterOrder": [
            "token"
          ],
          "parameters": {
            "token": {
              "description": "The token provided by the enterprise to register the EMM.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/enroll",
          "request": {
            "$ref": "Enterprise"
          },
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "generateSignupUrl": {
          "description": "Generates a sign-up URL.",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.generateSignupUrl",
          "parameters": {
            "callbackUrl": {
              "description": "The callback URL to which the Admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a single query parameter to this URL named \"enterpriseToken\" which will contain an opaque token to be used for the CompleteSignup request.\nBeware that this means that the URL will be parsed, the parameter added and then a new URL formatted, i.e. there may be some minor formatting changes and, more importantly, the URL must be well-formed so that it can be parsed.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "enterprises/signupUrl",
          "response": {
            "$ref": "SignupInfo"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves the name and domain of an enterprise.",
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.get",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}",
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getServiceAccount": {
          "description": "Returns a service account and credentials. The service account can be bound to the enterprise by calling setAccount. The service account is unique to this enterprise and EMM, and will be deleted if the enterprise is unbound. The credentials contain private key data and are not stored server-side.\n\nThis method can only be called after calling Enterprises.Enroll or Enterprises.CompleteSignup, and before Enterprises.SetAccount; at other times it will return an error.\n\nSubsequent calls after the first will generate a new, unique set of credentials, and invalidate the previously generated credentials.\n\nOnce the service account is bound to the enterprise, it can be managed using the serviceAccountKeys resource.",
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.getServiceAccount",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "keyType": {
              "description": "The type of credential to return with the service account. Required.",
              "enum": [
                "googleCredentials",
                "pkcs12"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/serviceAccount",
          "response": {
            "$ref": "ServiceAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getStoreLayout": {
          "description": "Returns the store layout for the enterprise. If the store layout has not been set, returns \"basic\" as the store layout type and no homepage.",
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.getStoreLayout",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout",
          "response": {
            "$ref": "StoreLayout"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Looks up an enterprise by domain name. This is only supported for enterprises created via the Google-initiated creation flow. Lookup of the id is not needed for enterprises created via the EMM-initiated flow since the EMM learns the enterprise ID in the callback specified in the Enterprises.generateSignupUrl call.",
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.list",
          "parameterOrder": [
            "domain"
          ],
          "parameters": {
            "domain": {
              "description": "The exact primary domain name of the enterprise to look up.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises",
          "response": {
            "$ref": "EnterprisesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "pullNotificationSet": {
          "description": "Pulls and returns a notification set for the enterprises associated with the service account authenticated for the request. The notification set may be empty if no notification are pending.\nA notification set returned needs to be acknowledged within 20 seconds by calling Enterprises.AcknowledgeNotificationSet, unless the notification set is empty.\nNotifications that are not acknowledged within the 20 seconds will eventually be included again in the response to another PullNotificationSet request, and those that are never acknowledged will ultimately be deleted according to the Google Cloud Platform Pub/Sub system policy.\nMultiple requests might be performed concurrently to retrieve notifications, in which case the pending notifications (if any) will be split among each caller, if any are pending.\nIf no notifications are present, an empty notification list is returned. Subsequent requests may return more notifications once they become available.",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.pullNotificationSet",
          "parameters": {
            "requestMode": {
              "description": "The request mode for pulling notifications.\nSpecifying waitForNotifications will cause the request to block and wait until one or more notifications are present, or return an empty notification list if no notifications are present after some time.\nSpeciying returnImmediately will cause the request to immediately return the pending notifications, or an empty list if no notifications are present.\nIf omitted, defaults to waitForNotifications.",
              "enum": [
                "returnImmediately",
                "waitForNotifications"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "enterprises/pullNotificationSet",
          "response": {
            "$ref": "NotificationSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "sendTestPushNotification": {
          "description": "Sends a test notification to validate the EMM integration with the Google Cloud Pub/Sub service for this enterprise.",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.sendTestPushNotification",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/sendTestPushNotification",
          "response": {
            "$ref": "EnterprisesSendTestPushNotificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setAccount": {
          "description": "Sets the account that will be used to authenticate to the API as the enterprise.",
          "httpMethod": "PUT",
          "id": "androidenterprise.enterprises.setAccount",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/account",
          "request": {
            "$ref": "EnterpriseAccount"
          },
          "response": {
            "$ref": "EnterpriseAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setStoreLayout": {
          "description": "Sets the store layout for the enterprise. By default, storeLayoutType is set to \"basic\" and the basic store layout is enabled. The basic layout only contains apps approved by the admin, and that have been added to the available product set for a user (using the  setAvailableProductSet call). Apps on the page are sorted in order of their product ID value. If you create a custom store layout (by setting storeLayoutType = \"custom\" and setting a homepage), the basic store layout is disabled.",
          "httpMethod": "PUT",
          "id": "androidenterprise.enterprises.setStoreLayout",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout",
          "request": {
            "$ref": "StoreLayout"
          },
          "response": {
            "$ref": "StoreLayout"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "unenroll": {
          "description": "Unenrolls an enterprise from the calling EMM.",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.unenroll",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/unenroll",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "entitlements": {
      "methods": {
        "delete": {
          "description": "Removes an entitlement to an app for a user.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.entitlements.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "entitlementId": {
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of an entitlement.",
          "httpMethod": "GET",
          "id": "androidenterprise.entitlements.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "entitlementId": {
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "response": {
            "$ref": "Entitlement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Lists all entitlements for the specified user. Only the ID is set.",
          "httpMethod": "GET",
          "id": "androidenterprise.entitlements.list",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/entitlements",
          "response": {
            "$ref": "EntitlementsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Adds or updates an entitlement to an app for a user.",
          "httpMethod": "PUT",
          "id": "androidenterprise.entitlements.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "entitlementId": {
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "install": {
              "description": "Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.",
              "location": "query",
              "type": "boolean"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "request": {
            "$ref": "Entitlement"
          },
          "response": {
            "$ref": "Entitlement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "grouplicenses": {
      "methods": {
        "get": {
          "description": "Retrieves details of an enterprise's group license for a product.",
          "httpMethod": "GET",
          "id": "androidenterprise.grouplicenses.get",
          "parameterOrder": [
            "enterpriseId",
            "groupLicenseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "groupLicenseId": {
              "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
          "response": {
            "$ref": "GroupLicense"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves IDs of all products for which the enterprise has a group license.",
          "httpMethod": "GET",
          "id": "androidenterprise.grouplicenses.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/groupLicenses",
          "response": {
            "$ref": "GroupLicensesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "grouplicenseusers": {
      "methods": {
        "list": {
          "description": "Retrieves the IDs of the users who have been granted entitlements under the license.",
          "httpMethod": "GET",
          "id": "androidenterprise.grouplicenseusers.list",
          "parameterOrder": [
            "enterpriseId",
            "groupLicenseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "groupLicenseId": {
              "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
          "response": {
            "$ref": "GroupLicenseUsersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "installs": {
      "methods": {
        "delete": {
          "description": "Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.installs.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "installId": {
              "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of an installation of an app on a device.",
          "httpMethod": "GET",
          "id": "androidenterprise.installs.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "installId": {
              "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "response": {
            "$ref": "Install"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the details of all apps installed on the specified device.",
          "httpMethod": "GET",
          "id": "androidenterprise.installs.list",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
          "response": {
            "$ref": "InstallsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary.",
          "httpMethod": "PUT",
          "id": "androidenterprise.installs.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "installId": {
              "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "request": {
            "$ref": "Install"
          },
          "response": {
            "$ref": "Install"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "managedconfigurationsfordevice": {
      "methods": {
        "delete": {
          "description": "Removes a per-device managed configuration for an app for the specified device.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.managedconfigurationsfordevice.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForDeviceId": {
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a per-device managed configuration.",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationsfordevice.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForDeviceId": {
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Lists all the per-device managed configurations for the specified device. Only the ID is set.",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationsfordevice.list",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
          "response": {
            "$ref": "ManagedConfigurationsForDeviceListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Adds or updates a per-device managed configuration for an app for the specified device.",
          "httpMethod": "PUT",
          "id": "androidenterprise.managedconfigurationsfordevice.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForDeviceId": {
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "request": {
            "$ref": "ManagedConfiguration"
          },
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "managedconfigurationsforuser": {
      "methods": {
        "delete": {
          "description": "Removes a per-user managed configuration for an app for the specified user.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.managedconfigurationsforuser.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForUserId": {
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a per-user managed configuration for an app for the specified user.",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationsforuser.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForUserId": {
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Lists all the per-user managed configurations for the specified user. Only the ID is set.",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationsforuser.list",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser",
          "response": {
            "$ref": "ManagedConfigurationsForUserListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Adds or updates the managed configuration settings for an app for the specified user. If you support the Managed configurations iframe, you can apply managed configurations to a user by specifying an mcmId and its associated configuration variables (if any) in the request. Alternatively, all EMMs can apply managed configurations by passing a list of managed properties.",
          "httpMethod": "PUT",
          "id": "androidenterprise.managedconfigurationsforuser.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForUserId": {
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "request": {
            "$ref": "ManagedConfiguration"
          },
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "managedconfigurationssettings": {
      "methods": {
        "list": {
          "description": "Lists all the managed configurations settings for the specified app.",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationssettings.list",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product for which the managed configurations settings applies to.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings",
          "response": {
            "$ref": "ManagedConfigurationsSettingsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "description": "Retrieves details of an Android app permission for display to an enterprise admin.",
          "httpMethod": "GET",
          "id": "androidenterprise.permissions.get",
          "parameterOrder": [
            "permissionId"
          ],
          "parameters": {
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")",
              "location": "query",
              "type": "string"
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "products": {
      "methods": {
        "approve": {
          "description": "Approves the specified product and the relevant app permissions, if any. The maximum number of products that you can approve per enterprise customer is 1,000.\n\nTo learn how to use managed Google Play to design and create a store layout to display approved products to your users, see Store Layout Design.",
          "httpMethod": "POST",
          "id": "androidenterprise.products.approve",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/products/{productId}/approve",
          "request": {
            "$ref": "ProductsApproveRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "generateApprovalUrl": {
          "description": "Generates a URL that can be rendered in an iframe to display the permissions (if any) of a product. An enterprise admin must view these permissions and accept them on behalf of their organization in order to approve that product.\n\nAdmins should accept the displayed permissions by interacting with a separate UI element in the EMM console, which in turn should trigger the use of this URL as the approvalUrlInfo.approvalUrl property in a Products.approve call to approve the product. This URL can only be used to display permissions for up to 1 day.",
          "httpMethod": "POST",
          "id": "androidenterprise.products.generateApprovalUrl",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "languageCode": {
              "description": "The BCP 47 language code used for permission names and descriptions in the returned iframe, for instance \"en-US\".",
              "location": "query",
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
          "response": {
            "$ref": "ProductsGenerateApprovalUrlResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a product for display to an enterprise admin.",
          "httpMethod": "GET",
          "id": "androidenterprise.products.get",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").",
              "location": "query",
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product, e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/products/{productId}",
          "response": {
            "$ref": "Product"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getAppRestrictionsSchema": {
          "description": "Retrieves the schema that defines the configurable properties for this product. All products have a schema, but this schema may be empty if no managed configurations have been defined. This schema can be used to populate a UI that allows an admin to configure the product. To apply a managed configuration based on the schema obtained using this API, see Managed Configurations through Play.",
          "httpMethod": "GET",
          "id": "androidenterprise.products.getAppRestrictionsSchema",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").",
              "location": "query",
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
          "response": {
            "$ref": "AppRestrictionsSchema"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getPermissions": {
          "description": "Retrieves the Android app permissions required by this app.",
          "httpMethod": "GET",
          "id": "androidenterprise.products.getPermissions",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/products/{productId}/permissions",
          "response": {
            "$ref": "ProductPermissions"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Finds approved products that match a query, or all approved products if there is no query.",
          "httpMethod": "GET",
          "id": "androidenterprise.products.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "approved": {
              "description": "Specifies whether to search among all products (false) or among only products that have been approved (true). Only \"true\" is supported, and should be specified.",
              "location": "query",
              "type": "boolean"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\"). Results are returned in the language best matching the preferred language.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Specifies the maximum number of products that can be returned per request. If not specified, uses a default value of 100, which is also the maximum retrievable within a single response.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "query": {
              "description": "The search query as typed in the Google Play store search box. If omitted, all approved apps will be returned (using the pagination parameters), including apps that are not available in the store (e.g. unpublished apps).",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "A pagination token is contained in a request's response when there are more products. The token can be used in a subsequent request to obtain more products, and so forth. This parameter cannot be used in the initial request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/products",
          "response": {
            "$ref": "ProductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "unapprove": {
          "description": "Unapproves the specified product (and the relevant app permissions, if any)",
          "httpMethod": "POST",
          "id": "androidenterprise.products.unapprove",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/products/{productId}/unapprove",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "serviceaccountkeys": {
      "methods": {
        "delete": {
          "description": "Removes and invalidates the specified credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.serviceaccountkeys.delete",
          "parameterOrder": [
            "enterpriseId",
            "keyId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "keyId": {
              "description": "The ID of the key.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/serviceAccountKeys/{keyId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Generates new credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.\n\nOnly the type of the key should be populated in the resource to be inserted.",
          "httpMethod": "POST",
          "id": "androidenterprise.serviceaccountkeys.insert",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/serviceAccountKeys",
          "request": {
            "$ref": "ServiceAccountKey"
          },
          "response": {
            "$ref": "ServiceAccountKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Lists all active credentials for the service account associated with this enterprise. Only the ID and key type are returned. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.",
          "httpMethod": "GET",
          "id": "androidenterprise.serviceaccountkeys.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/serviceAccountKeys",
          "response": {
            "$ref": "ServiceAccountKeysListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "storelayoutclusters": {
      "methods": {
        "delete": {
          "description": "Deletes a cluster.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.storelayoutclusters.delete",
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "parameters": {
            "clusterId": {
              "description": "The ID of the cluster.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a cluster.",
          "httpMethod": "GET",
          "id": "androidenterprise.storelayoutclusters.get",
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "parameters": {
            "clusterId": {
              "description": "The ID of the cluster.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "response": {
            "$ref": "StoreCluster"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Inserts a new cluster in a page.",
          "httpMethod": "POST",
          "id": "androidenterprise.storelayoutclusters.insert",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "request": {
            "$ref": "StoreCluster"
          },
          "response": {
            "$ref": "StoreCluster"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the details of all clusters on the specified page.",
          "httpMethod": "GET",
          "id": "androidenterprise.storelayoutclusters.list",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "response": {
            "$ref": "StoreLayoutClustersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates a cluster.",
          "httpMethod": "PUT",
          "id": "androidenterprise.storelayoutclusters.update",
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "parameters": {
            "clusterId": {
              "description": "The ID of the cluster.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "request": {
            "$ref": "StoreCluster"
          },
          "response": {
            "$ref": "StoreCluster"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "storelayoutpages": {
      "methods": {
        "delete": {
          "description": "Deletes a store page.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.storelayoutpages.delete",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a store page.",
          "httpMethod": "GET",
          "id": "androidenterprise.storelayoutpages.get",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "response": {
            "$ref": "StorePage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Inserts a new store page.",
          "httpMethod": "POST",
          "id": "androidenterprise.storelayoutpages.insert",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages",
          "request": {
            "$ref": "StorePage"
          },
          "response": {
            "$ref": "StorePage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the details of all pages in the store.",
          "httpMethod": "GET",
          "id": "androidenterprise.storelayoutpages.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages",
          "response": {
            "$ref": "StoreLayoutPagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates the content of a store page.",
          "httpMethod": "PUT",
          "id": "androidenterprise.storelayoutpages.update",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "request": {
            "$ref": "StorePage"
          },
          "response": {
            "$ref": "StorePage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "delete": {
          "description": "Deleted an EMM-managed user.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.users.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "generateAuthenticationToken": {
          "description": "Generates an authentication token which the device policy client can use to provision the given EMM-managed user account on a device. The generated token is single-use and expires after a few minutes.\n\nYou can provision a maximum of 10 devices per user.\n\nThis call only works with EMM-managed accounts.",
          "httpMethod": "POST",
          "id": "androidenterprise.users.generateAuthenticationToken",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/authenticationToken",
          "response": {
            "$ref": "AuthenticationToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "generateToken": {
          "description": "Generates a token (activation code) to allow this user to configure their managed account in the Android Setup Wizard. Revokes any previously generated token.\n\nThis call only works with Google managed accounts.",
          "httpMethod": "POST",
          "id": "androidenterprise.users.generateToken",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/token",
          "response": {
            "$ref": "UserToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves a user's details.",
          "httpMethod": "GET",
          "id": "androidenterprise.users.get",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}",
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getAvailableProductSet": {
          "description": "Retrieves the set of products a user is entitled to access.",
          "httpMethod": "GET",
          "id": "androidenterprise.users.getAvailableProductSet",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/availableProductSet",
          "response": {
            "$ref": "ProductSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Creates a new EMM-managed user.\n\nThe Users resource passed in the body of the request should include an accountIdentifier and an accountType.\nIf a corresponding user already exists with the same account identifier, the user will be updated with the resource. In this case only the displayName field can be changed.",
          "httpMethod": "POST",
          "id": "androidenterprise.users.insert",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Looks up a user by primary email address. This is only supported for Google-managed users. Lookup of the id is not needed for EMM-managed users because the id is already returned in the result of the Users.insert call.",
          "httpMethod": "GET",
          "id": "androidenterprise.users.list",
          "parameterOrder": [
            "enterpriseId",
            "email"
          ],
          "parameters": {
            "email": {
              "description": "The exact primary email address of the user to look up.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users",
          "response": {
            "$ref": "UsersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "revokeDeviceAccess": {
          "description": "Revokes access to all devices currently provisioned to the user. The user will no longer be able to use the managed Play store on any of their managed devices.\n\nThis call only works with EMM-managed accounts.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.users.revokeDeviceAccess",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/deviceAccess",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "revokeToken": {
          "description": "Revokes a previously generated token (activation code) for the user.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.users.revokeToken",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/token",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setAvailableProductSet": {
          "description": "Modifies the set of products that a user is entitled to access (referred to as whitelisted products). Only products that are approved or products that were previously approved (products with revoked approval) can be whitelisted.",
          "httpMethod": "PUT",
          "id": "androidenterprise.users.setAvailableProductSet",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}/availableProductSet",
          "request": {
            "$ref": "ProductSet"
          },
          "response": {
            "$ref": "ProductSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates the details of an EMM-managed user.\n\nCan be used with EMM-managed users only (not Google managed users). Pass the new details in the Users resource in the request body. Only the displayName field can be changed. Other fields must either be unset or have the currently active value.",
          "httpMethod": "PUT",
          "id": "androidenterprise.users.update",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/users/{userId}",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "webapps": {
      "methods": {
        "delete": {
          "description": "Deletes an existing web app.",
          "httpMethod": "DELETE",
          "id": "androidenterprise.webapps.delete",
          "parameterOrder": [
            "enterpriseId",
            "webAppId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "webAppId": {
              "description": "The ID of the web app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/webApps/{webAppId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Gets an existing web app.",
          "httpMethod": "GET",
          "id": "androidenterprise.webapps.get",
          "parameterOrder": [
            "enterpriseId",
            "webAppId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "webAppId": {
              "description": "The ID of the web app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/webApps/{webAppId}",
          "response": {
            "$ref": "WebApp"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Creates a new web app for the enterprise.",
          "httpMethod": "POST",
          "id": "androidenterprise.webapps.insert",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/webApps",
          "request": {
            "$ref": "WebApp"
          },
          "response": {
            "$ref": "WebApp"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the details of all web apps for a given enterprise.",
          "httpMethod": "GET",
          "id": "androidenterprise.webapps.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/webApps",
          "response": {
            "$ref": "WebAppsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates an existing web app.",
          "httpMethod": "PUT",
          "id": "androidenterprise.webapps.update",
          "parameterOrder": [
            "enterpriseId",
            "webAppId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "webAppId": {
              "description": "The ID of the web app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "enterprises/{enterpriseId}/webApps/{webAppId}",
          "request": {
            "$ref": "WebApp"
          },
          "response": {
            "$ref": "WebApp"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    }
  },
  "revision": "20200129",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "Administrator": {
      "description": "This represents an enterprise admin who can manage the enterprise in the managed Google Play store.",
      "id": "Administrator",
      "properties": {
        "email": {
          "description": "The admin's email address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdministratorWebToken": {
      "description": "A token authorizing an admin to access an iframe.",
      "id": "AdministratorWebToken",
      "properties": {
        "kind": {
          "default": "androidenterprise#administratorWebToken",
          "type": "string"
        },
        "token": {
          "description": "An opaque token to be passed to the Play front-end to generate an iframe.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdministratorWebTokenSpec": {
      "description": "Specification for a token used to generate iframes. The token specifies what data the admin is allowed to modify and the URI the iframe is allowed to communiate with.",
      "id": "AdministratorWebTokenSpec",
      "properties": {
        "kind": {
          "default": "androidenterprise#administratorWebTokenSpec",
          "type": "string"
        },
        "managedConfigurations": {
          "$ref": "AdministratorWebTokenSpecManagedConfigurations",
          "description": "Options for displaying the Managed Configuration page."
        },
        "parent": {
          "description": "The URI of the parent frame hosting the iframe. To prevent XSS, the iframe may not be hosted at other URIs. This URI must be https. Use whitespaces to separate multiple parent URIs.",
          "type": "string"
        },
        "permission": {
          "description": "Deprecated. Use PlaySearch.approveApps.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "playSearch": {
          "$ref": "AdministratorWebTokenSpecPlaySearch",
          "description": "Options for displaying the managed Play Search apps page."
        },
        "privateApps": {
          "$ref": "AdministratorWebTokenSpecPrivateApps",
          "description": "Options for displaying the Private Apps page."
        },
        "storeBuilder": {
          "$ref": "AdministratorWebTokenSpecStoreBuilder",
          "description": "Options for displaying the Organize apps page."
        },
        "webApps": {
          "$ref": "AdministratorWebTokenSpecWebApps",
          "description": "Options for displaying the Web Apps page."
        }
      },
      "type": "object"
    },
    "AdministratorWebTokenSpecManagedConfigurations": {
      "id": "AdministratorWebTokenSpecManagedConfigurations",
      "properties": {
        "enabled": {
          "description": "Whether the Managed Configuration page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AdministratorWebTokenSpecPlaySearch": {
      "id": "AdministratorWebTokenSpecPlaySearch",
      "properties": {
        "approveApps": {
          "description": "Allow access to the iframe in approve mode. Default is false.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether the managed Play Search apps page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AdministratorWebTokenSpecPrivateApps": {
      "id": "AdministratorWebTokenSpecPrivateApps",
      "properties": {
        "enabled": {
          "description": "Whether the Private Apps page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AdministratorWebTokenSpecStoreBuilder": {
      "id": "AdministratorWebTokenSpecStoreBuilder",
      "properties": {
        "enabled": {
          "description": "Whether the Organize apps page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AdministratorWebTokenSpecWebApps": {
      "id": "AdministratorWebTokenSpecWebApps",
      "properties": {
        "enabled": {
          "description": "Whether the Web Apps page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AppRestrictionsSchema": {
      "description": "Represents the list of app restrictions available to be pre-configured for the product.",
      "id": "AppRestrictionsSchema",
      "properties": {
        "kind": {
          "default": "androidenterprise#appRestrictionsSchema",
          "type": "string"
        },
        "restrictions": {
          "description": "The set of restrictions that make up this schema.",
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AppRestrictionsSchemaChangeEvent": {
      "description": "An event generated when a new app version is uploaded to Google Play and its app restrictions schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema on the EMM API.",
      "id": "AppRestrictionsSchemaChangeEvent",
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the app restriction schema changed. This field will always be present.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppRestrictionsSchemaRestriction": {
      "description": "A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied.",
      "id": "AppRestrictionsSchemaRestriction",
      "properties": {
        "defaultValue": {
          "$ref": "AppRestrictionsSchemaRestrictionRestrictionValue",
          "description": "The default value of the restriction. bundle and bundleArray restrictions never have a default value."
        },
        "description": {
          "description": "A longer description of the restriction, giving more detail of what it affects.",
          "type": "string"
        },
        "entry": {
          "description": "For choice or multiselect restrictions, the list of possible entries' human-readable names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entryValue": {
[...]
