{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://firestore.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Firestore",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development.\n",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/firestore",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "firestore:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "name": "firestore",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "methods": {
            "exportDocuments": {
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore\nto another storage system, such as Google Cloud Storage. Recent updates to\ndocuments may not be reflected in the export. The export occurs in the\nbackground and its progress can be monitored and managed via the\nOperation resource that is created. The output of an export may only be\nused once the associated operation is done. If an export operation is\ncancelled before completion it may leave partial data behind in Google\nCloud Storage.",
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "httpMethod": "POST",
              "id": "firestore.projects.databases.exportDocuments",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Database to export. Should be of the form:\n`projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:exportDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "importDocuments": {
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the\nsame name are overwritten. The import occurs in the background and its\nprogress can be monitored and managed via the Operation resource that is\ncreated. If an ImportDocuments operation is cancelled, it is possible\nthat a subset of the data has already been imported to Cloud Firestore.",
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "httpMethod": "POST",
              "id": "firestore.projects.databases.importDocuments",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Database to import into. Should be of the form:\n`projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            }
          },
          "resources": {
            "collectionGroups": {
              "resources": {
                "fields": {
                  "methods": {
                    "get": {
                      "description": "Gets the metadata and configuration for a Field.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "httpMethod": "GET",
                      "id": "firestore.projects.databases.collectionGroups.fields.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the form\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "list": {
                      "description": "Lists the field configuration and metadata for this database.\n\nCurrently, FirestoreAdmin.ListFields only supports listing fields\nthat have been explicitly overridden. To issue this query, call\nFirestoreAdmin.ListFields with the filter set to\n`indexConfig.usesAncestorConfig:false`.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                      "httpMethod": "GET",
                      "id": "firestore.projects.databases.collectionGroups.fields.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "The filter to apply to list results. Currently,\nFirestoreAdmin.ListFields only supports listing fields\nthat have been explicitly overridden. To issue this query, call\nFirestoreAdmin.ListFields with the filter set to\n`indexConfig.usesAncestorConfig:false`.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The number of results to return.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous call to\nFirestoreAdmin.ListFields, that may be used to get the next\npage of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. A parent name of the form\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/fields",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListFieldsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "patch": {
                      "description": "Updates a field configuration. Currently, field updates apply only to\nsingle field index configuration. However, calls to\nFirestoreAdmin.UpdateField should provide a field mask to avoid\nchanging any configuration that the caller isn't aware of. The field mask\nshould be specified as: `{ paths: \"index_config\" }`.\n\nThis call returns a google.longrunning.Operation which may be used to\ntrack the status of the field update. The metadata for\nthe operation will be the type FieldOperationMetadata.\n\nTo configure the default field settings for the database, use\nthe special `Field` with resource name:\n`projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "httpMethod": "PATCH",
                      "id": "firestore.projects.databases.collectionGroups.fields.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "A field name of the form\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}`\n\nA field path may be a simple field name, e.g. `address` or a path to fields\nwithin map_value , e.g. `address.city`,\nor a special field path. The only valid special field is `*`, which\nrepresents any field.\n\nField paths may be quoted using ` (backtick). The only character that needs\nto be escaped within a quoted field path is the backtick character itself,\nescaped using a backslash. Special characters in field paths that\nmust be quoted include: `*`, `.`,\n``` (backtick), `[`, `]`, as well as any ascii symbolic characters.\n\nExamples:\n(Note: Comments here are written in markdown syntax, so there is an\n additional layer of backticks to represent a code block)\n`\\`address.city\\`` represents a field named `address.city`, not the map key\n`city` in the field `address`.\n`\\`*\\`` represents a field named `*`, not any field.\n\nA special `Field` contains the default indexing settings for all fields.\nThis field's resource name is:\n`projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`\nIndexes defined on this `Field` will be applied to all fields which do not\nhave their own `Field` index configuration.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "A mask, relative to the field. If specified, only configuration specified\nby this field_mask will be updated in the field.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    }
                  }
                },
                "indexes": {
                  "methods": {
                    "create": {
                      "description": "Creates a composite index. This returns a google.longrunning.Operation\nwhich may be used to track the status of the creation. The metadata for\nthe operation will be the type IndexOperationMetadata.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "httpMethod": "POST",
                      "id": "firestore.projects.databases.collectionGroups.indexes.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. A parent name of the form\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/indexes",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a composite index.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "httpMethod": "DELETE",
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the form\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "get": {
                      "description": "Gets a composite index.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "httpMethod": "GET",
                      "id": "firestore.projects.databases.collectionGroups.indexes.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the form\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "list": {
                      "description": "Lists composite indexes.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "httpMethod": "GET",
                      "id": "firestore.projects.databases.collectionGroups.indexes.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "The filter to apply to list results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The number of results to return.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous call to\nFirestoreAdmin.ListIndexes, that may be used to get the next\npage of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. A parent name of the form\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/indexes",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListIndexesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    }
                  }
                }
              }
            },
            "documents": {
              "methods": {
                "batchGet": {
                  "description": "Gets multiple documents.\n\nDocuments returned by this method are not guaranteed to be returned in the\nsame order that they were requested.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.batchGet",
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format:\n`projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+database}/documents:batchGet",
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "beginTransaction": {
                  "description": "Starts a new transaction.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format:\n`projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+database}/documents:beginTransaction",
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "commit": {
                  "description": "Commits a transaction, while optionally updating documents.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.commit",
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format:\n`projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+database}/documents:commit",
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "createDocument": {
                  "description": "Creates a new document.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.createDocument",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "parameters": {
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "documentId": {
                      "description": "The client-assigned document ID to use for this document.\n\nOptional. If not specified, an ID will be assigned by the service.",
                      "location": "query",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field\npath syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource. For example:\n`projects/{project_id}/databases/{database_id}/documents` or\n`projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "request": {
                    "$ref": "Document"
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "description": "Deletes a document.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "DELETE",
                  "id": "firestore.projects.databases.documents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist.\nWhen set to `false`, the target document must not exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at\nthat time.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The resource name of the Document to delete. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "get": {
                  "description": "Gets a single document.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "GET",
                  "id": "firestore.projects.databases.documents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field\npath syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The resource name of the Document to get. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string"
                    },
                    "readTime": {
                      "description": "Reads the version of the document at the given time.\nThis may not be older than 60 seconds.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "transaction": {
                      "description": "Reads the document in a transaction.",
                      "format": "byte",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "list": {
                  "description": "Lists documents.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "httpMethod": "GET",
                  "id": "firestore.projects.databases.documents.list",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "parameters": {
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`\nor `messages`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field\npath syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "The order to sort results by. For example: `priority desc, name`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of documents to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name. In the format:\n`projects/{project_id}/databases/{database_id}/documents` or\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\nFor example:\n`projects/my-project/databases/my-database/documents` or\n`projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string"
                    },
                    "readTime": {
                      "description": "Reads documents as they were at the given time.\nThis may not be older than 60 seconds.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "showMissing": {
                      "description": "If the list should show missing documents. A missing document is a\ndocument that does not exist but has sub-documents. These documents will\nbe returned with a key but will not have fields, Document.create_time,\nor Document.update_time set.\n\nRequests with `show_missing` may not specify `where` or\n`order_by`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "transaction": {
                      "description": "Reads documents in a transaction.",
                      "format": "byte",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "listCollectionIds": {
                  "description": "Lists all the collection IDs underneath a document.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent document. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\nFor example:\n`projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}:listCollectionIds",
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "listen": {
                  "description": "Listens to changes.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.listen",
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format:\n`projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+database}/documents:listen",
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "patch": {
                  "description": "Updates or inserts a document.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "PATCH",
                  "id": "firestore.projects.databases.documents.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist.\nWhen set to `false`, the target document must not exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at\nthat time.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field\npath syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "The resource name of the document, for example\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field\npath syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Document"
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "rollback": {
                  "description": "Rolls back a transaction.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.rollback",
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format:\n`projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+database}/documents:rollback",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "runQuery": {
                  "description": "Runs a query.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.runQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format:\n`projects/{project_id}/databases/{database_id}/documents` or\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\nFor example:\n`projects/my-project/databases/my-database/documents` or\n`projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}:runQuery",
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "write": {
                  "description": "Streams batches of document updates and deletes, in order.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.write",
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format:\n`projects/{project_id}/databases/{database_id}`.\nThis is only required in the first message.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+database}/documents:write",
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "id": "firestore.projects.databases.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "firestore.projects.databases.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations",
                  "httpMethod": "GET",
                  "id": "firestore.projects.databases.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "firestore.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "firestore.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20200215",
  "rootUrl": "https://firestore.googleapis.com/",
  "schemas": {
    "ArrayValue": {
      "description": "An array value.",
      "id": "ArrayValue",
      "properties": {
        "values": {
          "description": "Values in the array.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchGetDocumentsRequest": {
      "description": "The request for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsRequest",
      "properties": {
        "documents": {
          "description": "The names of the documents to retrieve. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\nThe request will fail if any of the document is not a child resource of the\ngiven `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mask": {
          "$ref": "DocumentMask",
          "description": "The fields to return. If not set, returns all fields.\n\nIf a document has a field that is not present in this mask, that field will\nnot be returned in the response."
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents.\nDefaults to a read-only transaction.\nThe new transaction ID will be returned as the first response in the\nstream."
        },
        "readTime": {
          "description": "Reads documents as they were at the given time.\nThis may not be older than 60 seconds.",
          "format": "google-datetime",
          "type": "string"
        },
        "transaction": {
          "description": "Reads documents in a transaction.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchGetDocumentsResponse": {
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "found": {
          "$ref": "Document",
          "description": "A document that was requested."
        },
        "missing": {
          "description": "A document name that was requested but does not exist. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "readTime": {
          "description": "The time at which the document was read.\nThis may be monotically increasing, in this case the previous documents in\nthe result stream are guaranteed not to have changed between their\nread_time and this one.",
          "format": "google-datetime",
          "type": "string"
        },
        "transaction": {
          "description": "The transaction that was started as part of this request.\nWill only be set in the first response, and only if\nBatchGetDocumentsRequest.new_transaction was set in the request.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BeginTransactionRequest": {
      "description": "The request for Firestore.BeginTransaction.",
      "id": "BeginTransactionRequest",
      "properties": {
        "options": {
          "$ref": "TransactionOptions",
          "description": "The options for the transaction.\nDefaults to a read-write transaction."
        }
      },
      "type": "object"
    },
    "BeginTransactionResponse": {
      "description": "The response for Firestore.BeginTransaction.",
      "id": "BeginTransactionResponse",
      "properties": {
        "transaction": {
          "description": "The transaction that was started.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CollectionSelector": {
      "description": "A selection of a collection, such as `messages as m1`.",
      "id": "CollectionSelector",
      "properties": {
        "allDescendants": {
          "description": "When false, selects only collections that are immediate children of\nthe `parent` specified in the containing `RunQueryRequest`.\nWhen true, selects all descendant collections.",
          "type": "boolean"
        },
        "collectionId": {
          "description": "The collection ID.\nWhen set, selects only collections with this ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommitRequest": {
      "description": "The request for Firestore.Commit.",
      "id": "CommitRequest",
      "properties": {
        "transaction": {
          "description": "If set, applies all writes in this transaction, and commits it.",
          "format": "byte",
          "type": "string"
        },
        "writes": {
          "description": "The writes to apply.\n\nAlways executed atomically and in order.",
          "items": {
            "$ref": "Write"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CommitResponse": {
      "description": "The response for Firestore.Commit.",
      "id": "CommitResponse",
      "properties": {
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater\n`read_time` is guaranteed to see the effects of the commit.",
          "format": "google-datetime",
          "type": "string"
        },
        "writeResults": {
          "description": "The result of applying the writes.\n\nThis i-th write result corresponds to the i-th write in the\nrequest.",
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CompositeFilter": {
      "description": "A filter that merges multiple other filters using the given operator.",
      "id": "CompositeFilter",
      "properties": {
        "filters": {
          "description": "The list of filters to combine.\nMust contain at least one filter.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        },
        "op": {
          "description": "The operator for combining multiple filters.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cursor": {
      "description": "A position in a query result set.",
      "id": "Cursor",
      "properties": {
        "before": {
          "description": "If the position is just before or just after the given values, relative\nto the sort order defined by the query.",
          "type": "boolean"
        },
        "values": {
          "description": "The values that represent a position, in the order they appear in\nthe order by clause of a query.\n\nCan contain fewer values than specified in the order by clause.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Document": {
      "description": "A Firestore document.\n\nMust not exceed 1 MiB - 4 bytes.",
      "id": "Document",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which the document was created.\n\nThis value increases monotonically when a document is deleted then\nrecreated. It can also be compared to values from other documents and\nthe `read_time` of a query.",
          "format": "google-datetime",
          "type": "string"
        },
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The document's fields.\n\nThe map keys represent field names.\n\nA simple field name contains only characters `a` to `z`, `A` to `Z`,\n`0` to `9`, or `_`, and must not start with `0` to `9`. For example,\n`foo_bar_17`.\n\nField names matching the regular expression `__.*__` are reserved. Reserved\nfield names are forbidden except in certain documented contexts. The map\nkeys, represented as UTF-8, must not exceed 1,500 bytes and cannot be\nempty.\n\nField paths may be used in other contexts to refer to structured fields\ndefined here. For `map_value`, the field path is represented by the simple\nor quoted field names of the containing fields, delimited by `.`. For\nexample, the structured field\n`\"foo\" : { map_value: { \"x\u0026y\" : { string_value: \"hello\" }}}` would be\nrepresented by the field path `foo.x\u0026y`.\n\nWithin a field path, a quoted field name starts and ends with `` ` `` and\nmay contain any character. Some characters, including `` ` ``, must be\nescaped using a `\\`. For example, `` `x\u0026y` `` represents `x\u0026y` and\n`` `bak\\`tik` `` represents `` bak`tik ``.",
          "type": "object"
        },
        "name": {
          "description": "The resource name of the document, for example\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the document was last changed.\n\nThis value is initially set to the `create_time` then increases\nmonotonically with each change to the document. It can also be\ncompared to values from other documents and the `read_time` of a query.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentChange": {
      "description": "A Document has changed.\n\nMay be the result of multiple writes, including deletes, that\nultimately resulted in a new value for the Document.\n\nMultiple DocumentChange messages may be returned for the same logical\nchange, if multiple targets are affected.",
      "id": "DocumentChange",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "The new state of the Document.\n\nIf `mask` is set, contains only fields that were updated or added."
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that no longer match this document.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "targetIds": {
          "description": "A set of target IDs of targets that match this document.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DocumentDelete": {
      "description": "A Document has been deleted.\n\nMay be the result of multiple writes, including updates, the\nlast of which deleted the Document.\n\nMultiple DocumentDelete messages may be returned for the same logical\ndelete, if multiple targets are affected.",
      "id": "DocumentDelete",
      "properties": {
        "document": {
          "description": "The resource name of the Document that was deleted.",
          "type": "string"
        },
        "readTime": {
          "description": "The read timestamp at which the delete was observed.\n\nGreater or equal to the `commit_time` of the delete.",
          "format": "google-datetime",
          "type": "string"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this entity.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DocumentMask": {
      "description": "A set of field paths on a document.\nUsed to restrict a get or update operation on a document to a subset of its\nfields.\nThis is different from standard field masks, as this is always scoped to a\nDocument, and takes in account the dynamic nature of Value.",
      "id": "DocumentMask",
      "properties": {
        "fieldPaths": {
          "description": "The list of field paths in the mask. See Document.fields for a field\npath syntax reference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DocumentRemove": {
      "description": "A Document has been removed from the view of the targets.\n\nSent if the document is no longer relevant to a target and is out of view.\nCan be sent instead of a DocumentDelete or a DocumentChange if the server\ncan not send the new value of the document.\n\nMultiple DocumentRemove messages may be returned for the same logical\nwrite or delete, if multiple targets are affected.",
      "id": "DocumentRemove",
      "properties": {
        "document": {
          "description": "The resource name of the Document that has gone out of view.",
          "type": "string"
        },
        "readTime": {
          "description": "The read timestamp at which the remove was observed.\n\nGreater or equal to the `commit_time` of the change/delete/remove.",
          "format": "google-datetime",
          "type": "string"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this document.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DocumentTransform": {
      "description": "A transformation of a document.",
      "id": "DocumentTransform",
      "properties": {
        "document": {
          "description": "The name of the document to transform.",
          "type": "string"
        },
        "fieldTransforms": {
          "description": "The list of transformations to apply to the fields of the document, in\norder.\nThis must not be empty.",
          "items": {
            "$ref": "FieldTransform"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DocumentsTarget": {
      "description": "A target specified by a set of documents names.",
      "id": "DocumentsTarget",
      "properties": {
        "documents": {
          "description": "The names of the documents to retrieve. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\nThe request will fail if any of the document is not a child resource of\nthe given `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ExistenceFilter": {
      "description": "A digest of all the documents that match a given target.",
      "id": "ExistenceFilter",
      "properties": {
        "count": {
          "description": "The total count of documents that match target_id.\n\nIf different from the count of documents in the client that match, the\nclient must manually determine which documents no longer match the target.",
          "format": "int32",
          "type": "integer"
        },
        "targetId": {
          "description": "The target ID to which this filter applies.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FieldFilter": {
      "description": "A filter on a specific field.",
      "id": "FieldFilter",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to filter by."
        },
        "op": {
          "description": "The operator to filter by.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Less than. Requires that the field come first in `order_by`.",
            "Less than or equal. Requires that the field come first in `order_by`.",
            "Greater than. Requires that the field come first in `order_by`.",
            "Greater than or equal. Requires that the field come first in\n`order_by`.",
            "Equal.",
            "Contains. Requires that the field is an array.",
            "In. Requires that `value` is a non-empty ArrayValue with at most 10\nvalues.",
            "Contains any. Requires that the field is an array and\n`value` is a non-empty ArrayValue with at most 10 values."
          ],
          "type": "string"
        },
        "value": {
          "$ref": "Value",
          "description": "The value to compare to."
        }
      },
      "type": "object"
    },
    "FieldReference": {
      "description": "A reference to a field, such as `max(messages.time) as max_time`.",
      "id": "FieldReference",
      "properties": {
        "fieldPath": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FieldTransform": {
      "description": "A transformation of a field of the document.",
      "id": "FieldTransform",
      "properties": {
        "appendMissingElements": {
          "$ref": "ArrayValue",
          "description": "Append the given elements in order if they are not already present in\nthe current field value.\nIf the field is not an array, or if the field does not yet exist, it is\nfirst set to the empty array.\n\nEquivalent numbers of different types (e.g. 3L and 3.0) are\nconsidered equal when checking if a value is missing.\nNaN is equal to NaN, and Null is equal to Null.\nIf the input contains multiple equivalent values, only the first will\nbe considered.\n\nThe corresponding transform_result will be the null value."
        },
        "fieldPath": {
          "description": "The path of the field. See Document.fields for the field path syntax\nreference.",
          "type": "string"
        },
        "increment": {
          "$ref": "Value",
          "description": "Adds the given value to the field's current value.\n\nThis must be an integer or a double value.\nIf the field is not an integer or double, or if the field does not yet\nexist, the transformation will set the field to the given value.\nIf either of the given value or the current field value are doubles,\nboth values will be interpreted as doubles. Double arithmetic and\nrepresentation of double values follow IEEE 754 semantics.\nIf there is positive/negative integer overflow, the field is resolved\nto the largest magnitude positive/negative integer."
        },
        "maximum": {
          "$ref": "Value",
          "description": "Sets the field to the maximum of its current value and the given value.\n\nThis must be an integer or a double value.\nIf the field is not an integer or double, or if the field does not yet\nexist, the transformation will set the field to the given value.\nIf a maximum operation is applied where the field and the input value\nare of mixed types (that is - one is an integer and one is a double)\nthe field takes on the type of the larger operand. If the operands are\nequivalent (e.g. 3 and 3.0), the field does not change.\n0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and\nzero input value is always the stored value.\nThe maximum of any numeric value x and NaN is NaN."
        },
        "minimum": {
          "$ref": "Value",
          "description": "Sets the field to the minimum of its current value and the given value.\n\nThis must be an integer or a double value.\nIf the field is not an integer or double, or if the field does not yet\nexist, the transformation will set the field to the input value.\nIf a minimum operation is applied where the field and the input value\nare of mixed types (that is - one is an integer and one is a double)\nthe field takes on the type of the smaller operand. If the operands are\nequivalent (e.g. 3 and 3.0), the field does not change.\n0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and\nzero input value is always the stored value.\nThe minimum of any numeric value x and NaN is NaN."
        },
        "removeAllFromArray": {
          "$ref": "ArrayValue",
          "description": "Remove all of the given elements from the array in the field.\nIf the field is not an array, or if the field does not yet exist, it is\nset to the empty array.\n\nEquivalent numbers of the different types (e.g. 3L and 3.0) are\nconsidered equal when deciding whether an element should be removed.\nNaN is equal to NaN, and Null is equal to Null.\nThis will remove all equivalent values if there are duplicates.\n\nThe corresponding transform_result will be the null value."
        },
        "setToServerValue": {
          "description": "Sets the field to the given server value.",
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond\nprecision."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Filter": {
      "description": "A filter.",
      "id": "Filter",
      "properties": {
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        },
        "fieldFilter": {
          "$ref": "FieldFilter",
          "description": "A filter on a document field."
        },
        "unaryFilter": {
          "$ref": "UnaryFilter",
          "description": "A filter that takes exactly one argument."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ExportDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from\nFirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsMetadata",
      "properties": {
        "collectionIds": {
          "description": "Which collection ids are being exported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in\nprogress.",
          "format": "google-datetime",
          "type": "string"
        },
        "operationState": {
          "description": "The state of the export operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called\ngoogle.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called\ngoogle.longrunning.Operations.CancelOperation."
          ],
          "type": "string"
        },
        "outputUriPrefix": {
          "description": "Where the entities are being exported to.",
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "startTime": {
          "description": "The time this operation started.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ExportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsRequest",
      "properties": {
        "collectionIds": {
          "description": "Which collection ids to export. Unspecified means all collections.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the\nform: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name\nof the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional\nGoogle Cloud Storage namespace path. When\nchoosing a name, be sure to consider Google Cloud Storage naming\nguidelines: https://cloud.google.com/storage/docs/naming.\nIf the URI is a bucket (without a namespace path), a prefix will be\ngenerated based on the start time.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ExportDocumentsResponse": {
      "description": "Returned in the google.longrunning.Operation response field.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsResponse",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import\ninto Cloud Firestore (this project or another project) after the operation\ncompletes successfully.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1Field": {
      "description": "Represents a single field in the database.\n\nFields are grouped by their \"Collection Group\", which represent all\ncollections in the database with the same id.",
      "id": "GoogleFirestoreAdminV1Field",
      "properties": {
        "indexConfig": {
          "$ref": "GoogleFirestoreAdminV1IndexConfig",
          "description": "The index configuration for this field. If unset, field indexing will\nrevert to the configuration defined by the `ancestor_field`. To\nexplicitly remove all indexes for this field, specify an index config\nwith an empty list of indexes."
        },
        "name": {
          "description": "A field name of the form\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}`\n\nA field path may be a simple field name, e.g. `address` or a path to fields\nwithin map_value , e.g. `address.city`,\nor a special field path. The only valid special field is `*`, which\nrepresents any field.\n\nField paths may be quoted using ` (backtick). The only character that needs\nto be escaped within a quoted field path is the backtick character itself,\nescaped using a backslash. Special characters in field paths that\nmust be quoted include: `*`, `.`,\n``` (backtick), `[`, `]`, as well as any ascii symbolic characters.\n\nExamples:\n(Note: Comments here are written in markdown syntax, so there is an\n additional layer of backticks to represent a code block)\n`\\`address.city\\`` represents a field named `address.city`, not the map key\n`city` in the field `address`.\n`\\`*\\`` represents a field named `*`, not any field.\n\nA special `Field` contains the default indexing settings for all fields.\nThis field's resource name is:\n`projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`\nIndexes defined on this `Field` will be applied to all fields which do not\nhave their own `Field` index configuration.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1FieldOperationMetadata": {
      "description": "Metadata for google.longrunning.Operation results from\nFirestoreAdmin.UpdateField.",
      "id": "GoogleFirestoreAdminV1FieldOperationMetadata",
      "properties": {
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in\nprogress.",
          "format": "google-datetime",
          "type": "string"
        },
        "field": {
          "description": "The field resource that this operation is acting on. For example:\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}`",
          "type": "string"
        },
        "indexConfigDeltas": {
          "description": "A list of IndexConfigDelta, which describe the intent of this\noperation.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexConfigDelta"
          },
          "type": "array"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "startTime": {
          "description": "The time this operation started.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "The state of the operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called\ngoogle.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called\ngoogle.longrunning.Operations.CancelOperation."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ImportDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from\nFirestoreAdmin.ImportDocuments.",
      "id": "GoogleFirestoreAdminV1ImportDocumentsMetadata",
      "properties": {
        "collectionIds": {
          "description": "Which collection ids are being imported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in\nprogress.",
          "format": "google-datetime",
          "type": "string"
        },
        "inputUriPrefix": {
          "description": "The location of the documents being imported.",
          "type": "string"
        },
        "operationState": {
          "description": "The state of the import operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called\ngoogle.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called\ngoogle.longrunning.Operations.CancelOperation."
          ],
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "startTime": {
          "description": "The time this operation started.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ImportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "id": "GoogleFirestoreAdminV1ImportDocumentsRequest",
      "properties": {
        "collectionIds": {
          "description": "Which collection ids to import. Unspecified means all collections included\nin the import.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputUriPrefix": {
          "description": "Location of the exported files.\nThis must match the output_uri_prefix of an ExportDocumentsResponse from\nan export that has completed successfully.\nSee:\ngoogle.firestore.admin.v1.ExportDocumentsResponse.output_uri_prefix.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1Index": {
      "description": "Cloud Firestore indexes enable simple and complex queries against\ndocuments in a database.",
      "id": "GoogleFirestoreAdminV1Index",
      "properties": {
        "fields": {
          "description": "The fields supported by this index.\n\nFor composite indexes, this is always 2 or more fields.\nThe last field entry is always for the field path `__name__`. If, on\ncreation, `__name__` was not specified as the last field, it will be added\nautomatically with the same direction as that of the last field defined. If\nthe final field in a composite index is not directional, the `__name__`\nwill be ordered ASCENDING (unless explicitly specified).\n\nFor single field indexes, this will always be exactly one entry with a\nfield path equal to the field path of the associated field.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexField"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. A server defined name for this index.\nThe form of this name for composite indexes will be:\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{composite_index_id}`\nFor single field indexes, this field will be empty.",
          "type": "string"
        },
        "queryScope": {
          "description": "Indexes with a collection query scope specified allow queries\nagainst a collection that is the child of a specific document, specified at\nquery time, and that has the same collection id.\n\nIndexes with a collection group query scope specified allow queries against\nall collections descended from a specific document, specified at query\ntime, and that have the same collection id as this index.",
          "enum": [
            "QUERY_SCOPE_UNSPECIFIED",
            "COLLECTION",
            "COLLECTION_GROUP"
          ],
          "enumDescriptions": [
            "The query scope is unspecified. Not a valid option.",
            "Indexes with a collection query scope specified allow queries\nagainst a collection that is the child of a specific document, specified\nat query time, and that has the collection id specified by the index.",
            "Indexes with a collection group query scope specified allow queries\nagainst all collections that has the collection id specified by the\nindex."
          ],
          "type": "string"
        },
        "state": {
          "description": "Output only. The serving state of the index.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NEEDS_REPAIR"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created.\nThere is an active long-running operation for the index.\nThe index is updated when writing a document.\nSome index data may exist.",
            "The index is ready to be used.\nThe index is updated when writing a document.\nThe index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong.\nThere is no active long-running operation for the index,\nand the most recently finished long-running operation failed.\nThe index is not updated when writing a document.\nSome index data may exist.\nUse the google.longrunning.Operations API to determine why the operation\nthat last attempted to create this index failed, then re-create the\nindex."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexConfig": {
      "description": "The index configuration for this field.",
      "id": "GoogleFirestoreAdminV1IndexConfig",
      "properties": {
        "ancestorField": {
          "description": "Output only. Specifies the resource name of the `Field` from which this field's\nindex configuration is set (when `uses_ancestor_config` is true),\nor from which it *would* be set if this field had no index configuration\n(when `uses_ancestor_config` is false).",
          "type": "string"
        },
        "indexes": {
          "description": "The indexes supported for this field.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          },
          "type": "array"
        },
        "reverting": {
          "description": "Output only\nWhen true, the `Field`'s index configuration is in the process of being\nreverted. Once complete, the index config will transition to the same\nstate as the field specified by `ancestor_field`, at which point\n`uses_ancestor_config` will be `true` and `reverting` will be `false`.",
          "type": "boolean"
        },
        "usesAncestorConfig": {
          "description": "Output only. When true, the `Field`'s index configuration is set from the\nconfiguration specified by the `ancestor_field`.\nWhen false, the `Field`'s index configuration is defined explicitly.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexConfigDelta": {
      "description": "Information about an index configuration change.",
      "id": "GoogleFirestoreAdminV1IndexConfigDelta",
      "properties": {
        "changeType": {
          "description": "Specifies how the index is changing.",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "type": "string"
        },
        "index": {
          "$ref": "GoogleFirestoreAdminV1Index",
          "description": "The index being changed."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexField": {
      "description": "A field in an index.\nThe field_path describes which field is indexed, the value_mode describes\nhow the field value is indexed.",
      "id": "GoogleFirestoreAdminV1IndexField",
      "properties": {
        "arrayConfig": {
          "description": "Indicates that this field supports operations on `array_value`s.",
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ],
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ],
          "type": "string"
        },
        "fieldPath": {
          "description": "Can be __name__.\nFor single field indexes, this must match the name of the field or may\nbe omitted.",
          "type": "string"
        },
        "order": {
          "description": "Indicates that this field supports ordering by the specified order or\ncomparing using =, \u003c, \u003c=, \u003e, \u003e=.",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for google.longrunning.Operation results from\nFirestoreAdmin.CreateIndex.",
      "id": "GoogleFirestoreAdminV1IndexOperationMetadata",
      "properties": {
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in\nprogress.",
          "format": "google-datetime",
          "type": "string"
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example:\n`projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "startTime": {
          "description": "The time this operation started.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "The state of the operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called\ngoogle.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called\ngoogle.longrunning.Operations.CancelOperation."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ListFieldsResponse": {
      "description": "The response for FirestoreAdmin.ListFields.",
      "id": "GoogleFirestoreAdminV1ListFieldsResponse",
      "properties": {
        "fields": {
          "description": "The requested fields.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Field"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank,\nthis is the last page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ListIndexesResponse": {
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "id": "GoogleFirestoreAdminV1ListIndexesResponse",
      "properties": {
        "indexes": {
          "description": "The requested indexes.",
[...]
