{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-06-27",
    "endpointPrefix":"rekognition",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Rekognition",
    "signatureVersion":"v4",
    "targetPrefix":"RekognitionService",
    "uid":"rekognition-2016-06-27"
  },
  "operations":{
    "CompareFaces":{
      "name":"CompareFaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CompareFacesRequest"},
      "output":{"shape":"CompareFacesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidS3ObjectException"},
        {"shape":"ImageTooLargeException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"InvalidImageFormatException"}
      ]
    },
    "CreateCollection":{
      "name":"CreateCollection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCollectionRequest"},
      "output":{"shape":"CreateCollectionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"ResourceAlreadyExistsException"}
      ]
    },
    "DeleteCollection":{
      "name":"DeleteCollection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCollectionRequest"},
      "output":{"shape":"DeleteCollectionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteFaces":{
      "name":"DeleteFaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFacesRequest"},
      "output":{"shape":"DeleteFacesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DetectFaces":{
      "name":"DetectFaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectFacesRequest"},
      "output":{"shape":"DetectFacesResponse"},
      "errors":[
        {"shape":"InvalidS3ObjectException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ImageTooLargeException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"InvalidImageFormatException"}
      ]
    },
    "DetectLabels":{
      "name":"DetectLabels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectLabelsRequest"},
      "output":{"shape":"DetectLabelsResponse"},
      "errors":[
        {"shape":"InvalidS3ObjectException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ImageTooLargeException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"InvalidImageFormatException"}
      ]
    },
    "DetectModerationLabels":{
      "name":"DetectModerationLabels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectModerationLabelsRequest"},
      "output":{"shape":"DetectModerationLabelsResponse"},
      "errors":[
        {"shape":"InvalidS3ObjectException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ImageTooLargeException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"InvalidImageFormatException"}
      ]
    },
    "GetCelebrityInfo":{
      "name":"GetCelebrityInfo",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCelebrityInfoRequest"},
      "output":{"shape":"GetCelebrityInfoResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "IndexFaces":{
      "name":"IndexFaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IndexFacesRequest"},
      "output":{"shape":"IndexFacesResponse"},
      "errors":[
        {"shape":"InvalidS3ObjectException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ImageTooLargeException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidImageFormatException"}
      ]
    },
    "ListCollections":{
      "name":"ListCollections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCollectionsRequest"},
      "output":{"shape":"ListCollectionsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListFaces":{
      "name":"ListFaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFacesRequest"},
      "output":{"shape":"ListFacesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "RecognizeCelebrities":{
      "name":"RecognizeCelebrities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RecognizeCelebritiesRequest"},
      "output":{"shape":"RecognizeCelebritiesResponse"},
      "errors":[
        {"shape":"InvalidS3ObjectException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidImageFormatException"},
        {"shape":"ImageTooLargeException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"InvalidImageFormatException"}
      ]
    },
    "SearchFaces":{
      "name":"SearchFaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchFacesRequest"},
      "output":{"shape":"SearchFacesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "SearchFacesByImage":{
      "name":"SearchFacesByImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchFacesByImageRequest"},
      "output":{"shape":"SearchFacesByImageResponse"},
      "errors":[
        {"shape":"InvalidS3ObjectException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ImageTooLargeException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"ProvisionedThroughputExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidImageFormatException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AgeRange":{
      "type":"structure",
      "members":{
        "Low":{"shape":"UInteger"},
        "High":{"shape":"UInteger"}
      }
    },
    "Attribute":{
      "type":"string",
      "enum":[
        "DEFAULT",
        "ALL"
      ]
    },
    "Attributes":{
      "type":"list",
      "member":{"shape":"Attribute"}
    },
    "Beard":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Boolean"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "Boolean":{"type":"boolean"},
    "BoundingBox":{
      "type":"structure",
      "members":{
        "Width":{"shape":"Float"},
        "Height":{"shape":"Float"},
        "Left":{"shape":"Float"},
        "Top":{"shape":"Float"}
      }
    },
    "Celebrity":{
      "type":"structure",
      "members":{
        "Urls":{"shape":"Urls"},
        "Name":{"shape":"String"},
        "Id":{"shape":"RekognitionUniqueId"},
        "Face":{"shape":"ComparedFace"},
        "MatchConfidence":{"shape":"Percent"}
      }
    },
    "CelebrityList":{
      "type":"list",
      "member":{"shape":"Celebrity"}
    },
    "CollectionId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9_.\\-]+"
    },
    "CollectionIdList":{
      "type":"list",
      "member":{"shape":"CollectionId"}
    },
    "CompareFacesMatch":{
      "type":"structure",
      "members":{
        "Similarity":{"shape":"Percent"},
        "Face":{"shape":"ComparedFace"}
      }
    },
    "CompareFacesMatchList":{
      "type":"list",
      "member":{"shape":"CompareFacesMatch"}
    },
    "CompareFacesRequest":{
      "type":"structure",
      "required":[
        "SourceImage",
        "TargetImage"
      ],
      "members":{
        "SourceImage":{"shape":"Image"},
        "TargetImage":{"shape":"Image"},
        "SimilarityThreshold":{"shape":"Percent"}
      }
    },
    "CompareFacesResponse":{
      "type":"structure",
      "members":{
        "SourceImageFace":{"shape":"ComparedSourceImageFace"},
        "FaceMatches":{"shape":"CompareFacesMatchList"},
        "UnmatchedFaces":{"shape":"CompareFacesUnmatchList"},
        "SourceImageOrientationCorrection":{"shape":"OrientationCorrection"},
        "TargetImageOrientationCorrection":{"shape":"OrientationCorrection"}
      }
    },
    "CompareFacesUnmatchList":{
      "type":"list",
      "member":{"shape":"ComparedFace"}
    },
    "ComparedFace":{
      "type":"structure",
      "members":{
        "BoundingBox":{"shape":"BoundingBox"},
        "Confidence":{"shape":"Percent"},
        "Landmarks":{"shape":"Landmarks"},
        "Pose":{"shape":"Pose"},
        "Quality":{"shape":"ImageQuality"}
      }
    },
    "ComparedFaceList":{
      "type":"list",
      "member":{"shape":"ComparedFace"}
    },
    "ComparedSourceImageFace":{
      "type":"structure",
      "members":{
        "BoundingBox":{"shape":"BoundingBox"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "CreateCollectionRequest":{
      "type":"structure",
      "required":["CollectionId"],
      "members":{
        "CollectionId":{"shape":"CollectionId"}
      }
    },
    "CreateCollectionResponse":{
      "type":"structure",
      "members":{
        "StatusCode":{"shape":"UInteger"},
        "CollectionArn":{"shape":"String"}
      }
    },
    "Degree":{
      "type":"float",
      "max":180,
      "min":-180
    },
    "DeleteCollectionRequest":{
      "type":"structure",
      "required":["CollectionId"],
      "members":{
        "CollectionId":{"shape":"CollectionId"}
      }
    },
    "DeleteCollectionResponse":{
      "type":"structure",
      "members":{
        "StatusCode":{"shape":"UInteger"}
      }
    },
    "DeleteFacesRequest":{
      "type":"structure",
      "required":[
        "CollectionId",
        "FaceIds"
      ],
      "members":{
        "CollectionId":{"shape":"CollectionId"},
        "FaceIds":{"shape":"FaceIdList"}
      }
    },
    "DeleteFacesResponse":{
      "type":"structure",
      "members":{
        "DeletedFaces":{"shape":"FaceIdList"}
      }
    },
    "DetectFacesRequest":{
      "type":"structure",
      "required":["Image"],
      "members":{
        "Image":{"shape":"Image"},
        "Attributes":{"shape":"Attributes"}
      }
    },
    "DetectFacesResponse":{
      "type":"structure",
      "members":{
        "FaceDetails":{"shape":"FaceDetailList"},
        "OrientationCorrection":{"shape":"OrientationCorrection"}
      }
    },
    "DetectLabelsRequest":{
      "type":"structure",
      "required":["Image"],
      "members":{
        "Image":{"shape":"Image"},
        "MaxLabels":{"shape":"UInteger"},
        "MinConfidence":{"shape":"Percent"}
      }
    },
    "DetectLabelsResponse":{
      "type":"structure",
      "members":{
        "Labels":{"shape":"Labels"},
        "OrientationCorrection":{"shape":"OrientationCorrection"}
      }
    },
    "DetectModerationLabelsRequest":{
      "type":"structure",
      "required":["Image"],
      "members":{
        "Image":{"shape":"Image"},
        "MinConfidence":{"shape":"Percent"}
      }
    },
    "DetectModerationLabelsResponse":{
      "type":"structure",
      "members":{
        "ModerationLabels":{"shape":"ModerationLabels"}
      }
    },
    "Emotion":{
      "type":"structure",
      "members":{
        "Type":{"shape":"EmotionName"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "EmotionName":{
      "type":"string",
      "enum":[
        "HAPPY",
        "SAD",
        "ANGRY",
        "CONFUSED",
        "DISGUSTED",
        "SURPRISED",
        "CALM",
        "UNKNOWN"
      ]
    },
    "Emotions":{
      "type":"list",
      "member":{"shape":"Emotion"}
    },
    "ExternalImageId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9_.\\-:]+"
    },
    "EyeOpen":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Boolean"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "Eyeglasses":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Boolean"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "Face":{
      "type":"structure",
      "members":{
        "FaceId":{"shape":"FaceId"},
        "BoundingBox":{"shape":"BoundingBox"},
        "ImageId":{"shape":"ImageId"},
        "ExternalImageId":{"shape":"ExternalImageId"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "FaceDetail":{
      "type":"structure",
      "members":{
        "BoundingBox":{"shape":"BoundingBox"},
        "AgeRange":{"shape":"AgeRange"},
        "Smile":{"shape":"Smile"},
        "Eyeglasses":{"shape":"Eyeglasses"},
        "Sunglasses":{"shape":"Sunglasses"},
        "Gender":{"shape":"Gender"},
        "Beard":{"shape":"Beard"},
        "Mustache":{"shape":"Mustache"},
        "EyesOpen":{"shape":"EyeOpen"},
        "MouthOpen":{"shape":"MouthOpen"},
        "Emotions":{"shape":"Emotions"},
        "Landmarks":{"shape":"Landmarks"},
        "Pose":{"shape":"Pose"},
        "Quality":{"shape":"ImageQuality"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "FaceDetailList":{
      "type":"list",
      "member":{"shape":"FaceDetail"}
    },
    "FaceId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "FaceIdList":{
      "type":"list",
      "member":{"shape":"FaceId"},
      "max":4096,
      "min":1
    },
    "FaceList":{
      "type":"list",
      "member":{"shape":"Face"}
    },
    "FaceMatch":{
      "type":"structure",
      "members":{
        "Similarity":{"shape":"Percent"},
        "Face":{"shape":"Face"}
      }
    },
    "FaceMatchList":{
      "type":"list",
      "member":{"shape":"FaceMatch"}
    },
    "FaceRecord":{
      "type":"structure",
      "members":{
        "Face":{"shape":"Face"},
        "FaceDetail":{"shape":"FaceDetail"}
      }
    },
    "FaceRecordList":{
      "type":"list",
      "member":{"shape":"FaceRecord"}
    },
    "Float":{"type":"float"},
    "Gender":{
      "type":"structure",
      "members":{
        "Value":{"shape":"GenderType"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "GenderType":{
      "type":"string",
      "enum":[
        "Male",
        "Female"
      ]
    },
    "GetCelebrityInfoRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{"shape":"RekognitionUniqueId"}
      }
    },
    "GetCelebrityInfoResponse":{
      "type":"structure",
      "members":{
        "Urls":{"shape":"Urls"},
        "Name":{"shape":"String"}
      }
    },
    "Image":{
      "type":"structure",
      "members":{
        "Bytes":{"shape":"ImageBlob"},
        "S3Object":{"shape":"S3Object"}
      }
    },
    "ImageBlob":{
      "type":"blob",
      "max":5242880,
      "min":1
    },
    "ImageId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "ImageQuality":{
      "type":"structure",
      "members":{
        "Brightness":{"shape":"Float"},
        "Sharpness":{"shape":"Float"}
      }
    },
    "ImageTooLargeException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "IndexFacesRequest":{
      "type":"structure",
      "required":[
        "CollectionId",
        "Image"
      ],
      "members":{
        "CollectionId":{"shape":"CollectionId"},
        "Image":{"shape":"Image"},
        "ExternalImageId":{"shape":"ExternalImageId"},
        "DetectionAttributes":{"shape":"Attributes"}
      }
    },
    "IndexFacesResponse":{
      "type":"structure",
      "members":{
        "FaceRecords":{"shape":"FaceRecordList"},
        "OrientationCorrection":{"shape":"OrientationCorrection"}
      }
    },
    "InternalServerError":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "fault":true
    },
    "InvalidImageFormatException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidPaginationTokenException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidParameterException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidS3ObjectException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Label":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "Labels":{
      "type":"list",
      "member":{"shape":"Label"}
    },
    "Landmark":{
      "type":"structure",
      "members":{
        "Type":{"shape":"LandmarkType"},
        "X":{"shape":"Float"},
        "Y":{"shape":"Float"}
      }
    },
    "LandmarkType":{
      "type":"string",
      "enum":[
        "eyeLeft",
        "eyeRight",
        "nose",
        "mouthLeft",
        "mouthRight",
        "leftEyeBrowLeft",
        "leftEyeBrowRight",
        "leftEyeBrowUp",
        "rightEyeBrowLeft",
        "rightEyeBrowRight",
        "rightEyeBrowUp",
        "leftEyeLeft",
        "leftEyeRight",
        "leftEyeUp",
        "leftEyeDown",
        "rightEyeLeft",
        "rightEyeRight",
        "rightEyeUp",
        "rightEyeDown",
        "noseLeft",
        "noseRight",
        "mouthUp",
        "mouthDown",
        "leftPupil",
        "rightPupil"
      ]
    },
    "Landmarks":{
      "type":"list",
      "member":{"shape":"Landmark"}
    },
    "ListCollectionsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"PaginationToken"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "ListCollectionsResponse":{
      "type":"structure",
      "members":{
        "CollectionIds":{"shape":"CollectionIdList"},
        "NextToken":{"shape":"PaginationToken"}
      }
    },
    "ListFacesRequest":{
      "type":"structure",
      "required":["CollectionId"],
      "members":{
        "CollectionId":{"shape":"CollectionId"},
        "NextToken":{"shape":"PaginationToken"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "ListFacesResponse":{
      "type":"structure",
      "members":{
        "Faces":{"shape":"FaceList"},
        "NextToken":{"shape":"String"}
      }
    },
    "MaxFaces":{
      "type":"integer",
      "max":4096,
      "min":1
    },
    "ModerationLabel":{
      "type":"structure",
      "members":{
        "Confidence":{"shape":"Percent"},
        "Name":{"shape":"String"},
        "ParentName":{"shape":"String"}
      }
    },
    "ModerationLabels":{
      "type":"list",
      "member":{"shape":"ModerationLabel"}
    },
    "MouthOpen":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Boolean"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "Mustache":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Boolean"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "OrientationCorrection":{
      "type":"string",
      "enum":[
        "ROTATE_0",
        "ROTATE_90",
        "ROTATE_180",
        "ROTATE_270"
      ]
    },
    "PageSize":{
      "type":"integer",
      "max":4096,
      "min":0
    },
    "PaginationToken":{
      "type":"string",
      "max":255
    },
    "Percent":{
      "type":"float",
      "max":100,
      "min":0
    },
    "Pose":{
      "type":"structure",
      "members":{
        "Roll":{"shape":"Degree"},
        "Yaw":{"shape":"Degree"},
        "Pitch":{"shape":"Degree"}
      }
    },
    "ProvisionedThroughputExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "RecognizeCelebritiesRequest":{
      "type":"structure",
      "required":["Image"],
      "members":{
        "Image":{"shape":"Image"}
      }
    },
    "RecognizeCelebritiesResponse":{
      "type":"structure",
      "members":{
        "CelebrityFaces":{"shape":"CelebrityList"},
        "UnrecognizedFaces":{"shape":"ComparedFaceList"},
        "OrientationCorrection":{"shape":"OrientationCorrection"}
      }
    },
    "RekognitionUniqueId":{
      "type":"string",
      "pattern":"[0-9A-Za-z]*"
    },
    "ResourceAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "S3Bucket":{
      "type":"string",
      "max":255,
      "min":3,
      "pattern":"[0-9A-Za-z\\.\\-_]*"
    },
    "S3Object":{
      "type":"structure",
      "members":{
        "Bucket":{"shape":"S3Bucket"},
        "Name":{"shape":"S3ObjectName"},
        "Version":{"shape":"S3ObjectVersion"}
      }
    },
    "S3ObjectName":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "S3ObjectVersion":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "SearchFacesByImageRequest":{
      "type":"structure",
      "required":[
        "CollectionId",
        "Image"
      ],
      "members":{
        "CollectionId":{"shape":"CollectionId"},
        "Image":{"shape":"Image"},
        "MaxFaces":{"shape":"MaxFaces"},
        "FaceMatchThreshold":{"shape":"Percent"}
      }
    },
    "SearchFacesByImageResponse":{
      "type":"structure",
      "members":{
        "SearchedFaceBoundingBox":{"shape":"BoundingBox"},
        "SearchedFaceConfidence":{"shape":"Percent"},
        "FaceMatches":{"shape":"FaceMatchList"}
      }
    },
    "SearchFacesRequest":{
      "type":"structure",
      "required":[
        "CollectionId",
        "FaceId"
      ],
      "members":{
        "CollectionId":{"shape":"CollectionId"},
        "FaceId":{"shape":"FaceId"},
        "MaxFaces":{"shape":"MaxFaces"},
        "FaceMatchThreshold":{"shape":"Percent"}
      }
    },
    "SearchFacesResponse":{
      "type":"structure",
      "members":{
        "SearchedFaceId":{"shape":"FaceId"},
        "FaceMatches":{"shape":"FaceMatchList"}
      }
    },
    "Smile":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Boolean"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "String":{"type":"string"},
    "Sunglasses":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Boolean"},
        "Confidence":{"shape":"Percent"}
      }
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "fault":true
    },
    "UInteger":{
      "type":"integer",
      "min":0
    },
    "Url":{"type":"string"},
    "Urls":{
      "type":"list",
      "member":{"shape":"Url"}
    }
  }
}
