---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:4hhXlx7OqRS/9yt/SrSj959fwZJZLCBDssLlshkm04M=
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:55 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.queue.core.windows.net/queue-161storagequeuesuitetestsetpermissionsalternatetruewithti
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2051-12-20T21:55:06Z</Expiry><Permission>ru</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:VjG/TDwuZYt9G2iViYrhFHFIX4ovly1/j7SMsiCyoT8=
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:55 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.queue.core.windows.net/queue-161storagequeuesuitetestsetpermissionsalternatetruewithti?comp=acl&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
