apiVersion: v1
kind: Pod
metadata:
  name: etcd-empty-dir-cleanup
  namespace: kube-system
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: 'docker/default'
  labels:
    k8s-app: etcd-empty-dir-cleanup
spec:
  priorityClassName: system-node-critical
  priority: 2000001000
  hostNetwork: true
  dnsPolicy: Default
  containers:
  - name: etcd-empty-dir-cleanup
    image: k8s.gcr.io/etcd-empty-dir-cleanup:3.3.15.0
