[client]
port=3306
socket=/var/run/mysqld/mysqld.sock

[mysqld_safe]
socket=/var/run/mysqld/mysqld.sock
nice=0

[mysqld]
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
lc-messages-dir=/usr/share/mysql
skip-external-locking

key_buffer=16M
max_allowed_packet=16M
thread_stack=192K
thread_cache_size=8

myisam-recover=BACKUP
#max_connections=100
query_cache_limit=1M
query_cache_size=16M
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=2
log-queries-not-using-indexes

server-id=12345
log_bin=/var/log/mysql/mysql-bin.log
expire_logs_days=4
max_binlog_size=100M

default_storage_engine=InnoDB
innodb_file_per_table
innodb_log_file_size=100M
innodb_log_buffer_size=10M
innodb_log_files_in_group=2
innodb_buffer_pool_instances=4
innodb_buffer_pool_size=100M

[mysqldump]
quick
quote-names
max_allowed_packet=16M

[isamchk]
key_buffer=16M

!includedir /etc/mysql/conf.d/
