---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:p6QCYTwzz/GdPkRpkTfdRZ8+sI8HLK+biXs4oiYghEk=
      x-ms-date:
      - Tue, 28 May 2019 22:36:01 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-58containersuitetestsetconta?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6E3BCDCB50FC9"'
      Last-Modified:
      - Tue, 28 May 2019 22:36:01 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:kLZKpNE+SIb+NBTJCyYdv0CpsO+kkcA9R3e7WoVZiY8=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Tue, 28 May 2019 22:36:01 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-58containersuitetestsetconta?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6E3BCDCB71924"'
      Last-Modified:
      - Tue, 28 May 2019 22:36:01 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
