---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:owVQH6d1n2dfamkYS/oYHeVHx3RPtDVNNjoI6ufQUn0=
      x-ms-date:
      - Tue, 28 May 2019 22:36:01 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-61containersuitetestsettheng?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6E3BCDCDEE689"'
      Last-Modified:
      - Tue, 28 May 2019 22:36:01 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>AutoRestIsSuperCool</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-21T17:55:06Z</Start><Expiry>2050-12-22T03:55:06Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:nPFdYee17W5t1ejbDeCZSL1Ke+XV/JUdekPwmfVsU0M=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Tue, 28 May 2019 22:36:01 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-61containersuitetestsettheng?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6E3BCDCE0A1AD"'
      Last-Modified:
      - Tue, 28 May 2019 22:36:01 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
