---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:lq/+15ZPuesb5FI23l8CS3gT+Jb8hKVEiDUEQIDvGEs=
      x-ms-date:
      - Tue, 28 May 2019 22:36:01 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-65containersuitetestsetconta?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6E3BCDCCBA929"'
      Last-Modified:
      - Tue, 28 May 2019 22:36:01 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:3hYsS0mkaW+motGmEY/Gf2C31lsncmMbZo+HzVyUMLQ=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Tue, 28 May 2019 22:36:01 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-65containersuitetestsetconta?comp=acl&restype=container&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6E3BCDCCE00AA"'
      Last-Modified:
      - Tue, 28 May 2019 22:36:01 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
