---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:5NlcrAKGsNYiKgsjlTwMIRjYbbriR3H+V5SC5TTd1iA=
      x-ms-date:
      - Tue, 28 May 2019 22:36:01 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-54containersuitetestsetconta?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6E3BCDCBB044E"'
      Last-Modified:
      - Tue, 28 May 2019 22:36:01 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:nopmsfrKWuZt7LAZetL8+iPFc1+8OSo+NcXYDh8cysA=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Tue, 28 May 2019 22:36:01 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-54containersuitetestsetconta?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6E3BCDCBCE695"'
      Last-Modified:
      - Tue, 28 May 2019 22:36:01 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
