apiVersion: v1
kind: Config
current-context: kubelet-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.crt
    server: https://{{ groups['masters'][0] }}:{{ kube_master_api_port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubelet
  name: kubelet-to-{{ cluster_name }}
users:
- name: kubelet
  user:
    token: {{ kubelet_token }}
