apiVersion: v1
kind: Config
current-context: proxy-to-{{ cluster_name }}
preferences: {}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: proxy
  name: proxy-to-{{ cluster_name }}
clusters:
- cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.crt
    server: https://{{ groups['masters'][0] }}:{{ kube_master_api_port }}
  name: {{ cluster_name }}
users:
- name: proxy
  user:
    token: {{ proxy_token }}
