apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.crt
    server: http://{{ groups['masters'][0] }}:443
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubelet
  name: kubelet-to-{{ cluster_name }}
current-context: kubelet-to-{{ cluster_name }}
kind: Config
preferences: {}
users:
- name: kubelet
  user:
    client-certificate: {{ kube_cert_dir }}/kubecfg.crt
    client-key: {{ kube_cert_dir }}/kubecfg.key
