{
  "version":"2.0",
  "metadata":{
    "uid":"ec2-2015-10-01",
    "apiVersion":"2015-10-01",
    "endpointPrefix":"ec2",
    "protocol":"ec2",
    "serviceAbbreviation":"Amazon EC2",
    "serviceFullName":"Amazon Elastic Compute Cloud",
    "signatureVersion":"v4",
    "xmlNamespace":"http://ec2.amazonaws.com/doc/2015-10-01"
  },
  "operations":{
    "AcceptVpcPeeringConnection":{
      "name":"AcceptVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptVpcPeeringConnectionRequest"},
      "output":{"shape":"AcceptVpcPeeringConnectionResult"}
    },
    "AllocateAddress":{
      "name":"AllocateAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateAddressRequest"},
      "output":{"shape":"AllocateAddressResult"}
    },
    "AllocateHosts":{
      "name":"AllocateHosts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateHostsRequest"},
      "output":{"shape":"AllocateHostsResult"}
    },
    "AssignPrivateIpAddresses":{
      "name":"AssignPrivateIpAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssignPrivateIpAddressesRequest"}
    },
    "AssociateAddress":{
      "name":"AssociateAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateAddressRequest"},
      "output":{"shape":"AssociateAddressResult"}
    },
    "AssociateDhcpOptions":{
      "name":"AssociateDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateDhcpOptionsRequest"}
    },
    "AssociateRouteTable":{
      "name":"AssociateRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateRouteTableRequest"},
      "output":{"shape":"AssociateRouteTableResult"}
    },
    "AttachClassicLinkVpc":{
      "name":"AttachClassicLinkVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachClassicLinkVpcRequest"},
      "output":{"shape":"AttachClassicLinkVpcResult"}
    },
    "AttachInternetGateway":{
      "name":"AttachInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachInternetGatewayRequest"}
    },
    "AttachNetworkInterface":{
      "name":"AttachNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachNetworkInterfaceRequest"},
      "output":{"shape":"AttachNetworkInterfaceResult"}
    },
    "AttachVolume":{
      "name":"AttachVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachVolumeRequest"},
      "output":{"shape":"VolumeAttachment"}
    },
    "AttachVpnGateway":{
      "name":"AttachVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachVpnGatewayRequest"},
      "output":{"shape":"AttachVpnGatewayResult"}
    },
    "AuthorizeSecurityGroupEgress":{
      "name":"AuthorizeSecurityGroupEgress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSecurityGroupEgressRequest"}
    },
    "AuthorizeSecurityGroupIngress":{
      "name":"AuthorizeSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSecurityGroupIngressRequest"}
    },
    "BundleInstance":{
      "name":"BundleInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BundleInstanceRequest"},
      "output":{"shape":"BundleInstanceResult"}
    },
    "CancelBundleTask":{
      "name":"CancelBundleTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelBundleTaskRequest"},
      "output":{"shape":"CancelBundleTaskResult"}
    },
    "CancelConversionTask":{
      "name":"CancelConversionTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelConversionRequest"}
    },
    "CancelExportTask":{
      "name":"CancelExportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelExportTaskRequest"}
    },
    "CancelImportTask":{
      "name":"CancelImportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelImportTaskRequest"},
      "output":{"shape":"CancelImportTaskResult"}
    },
    "CancelReservedInstancesListing":{
      "name":"CancelReservedInstancesListing",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelReservedInstancesListingRequest"},
      "output":{"shape":"CancelReservedInstancesListingResult"}
    },
    "CancelSpotFleetRequests":{
      "name":"CancelSpotFleetRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelSpotFleetRequestsRequest"},
      "output":{"shape":"CancelSpotFleetRequestsResponse"}
    },
    "CancelSpotInstanceRequests":{
      "name":"CancelSpotInstanceRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelSpotInstanceRequestsRequest"},
      "output":{"shape":"CancelSpotInstanceRequestsResult"}
    },
    "ConfirmProductInstance":{
      "name":"ConfirmProductInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmProductInstanceRequest"},
      "output":{"shape":"ConfirmProductInstanceResult"}
    },
    "CopyImage":{
      "name":"CopyImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyImageRequest"},
      "output":{"shape":"CopyImageResult"}
    },
    "CopySnapshot":{
      "name":"CopySnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopySnapshotRequest"},
      "output":{"shape":"CopySnapshotResult"}
    },
    "CreateCustomerGateway":{
      "name":"CreateCustomerGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomerGatewayRequest"},
      "output":{"shape":"CreateCustomerGatewayResult"}
    },
    "CreateDhcpOptions":{
      "name":"CreateDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDhcpOptionsRequest"},
      "output":{"shape":"CreateDhcpOptionsResult"}
    },
    "CreateFlowLogs":{
      "name":"CreateFlowLogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFlowLogsRequest"},
      "output":{"shape":"CreateFlowLogsResult"}
    },
    "CreateImage":{
      "name":"CreateImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageRequest"},
      "output":{"shape":"CreateImageResult"}
    },
    "CreateInstanceExportTask":{
      "name":"CreateInstanceExportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceExportTaskRequest"},
      "output":{"shape":"CreateInstanceExportTaskResult"}
    },
    "CreateInternetGateway":{
      "name":"CreateInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInternetGatewayRequest"},
      "output":{"shape":"CreateInternetGatewayResult"}
    },
    "CreateKeyPair":{
      "name":"CreateKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateKeyPairRequest"},
      "output":{"shape":"KeyPair"}
    },
    "CreateNatGateway":{
      "name":"CreateNatGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNatGatewayRequest"},
      "output":{"shape":"CreateNatGatewayResult"}
    },
    "CreateNetworkAcl":{
      "name":"CreateNetworkAcl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkAclRequest"},
      "output":{"shape":"CreateNetworkAclResult"}
    },
    "CreateNetworkAclEntry":{
      "name":"CreateNetworkAclEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkAclEntryRequest"}
    },
    "CreateNetworkInterface":{
      "name":"CreateNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkInterfaceRequest"},
      "output":{"shape":"CreateNetworkInterfaceResult"}
    },
    "CreatePlacementGroup":{
      "name":"CreatePlacementGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePlacementGroupRequest"}
    },
    "CreateReservedInstancesListing":{
      "name":"CreateReservedInstancesListing",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReservedInstancesListingRequest"},
      "output":{"shape":"CreateReservedInstancesListingResult"}
    },
    "CreateRoute":{
      "name":"CreateRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRouteRequest"},
      "output":{"shape":"CreateRouteResult"}
    },
    "CreateRouteTable":{
      "name":"CreateRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRouteTableRequest"},
      "output":{"shape":"CreateRouteTableResult"}
    },
    "CreateSecurityGroup":{
      "name":"CreateSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSecurityGroupRequest"},
      "output":{"shape":"CreateSecurityGroupResult"}
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotRequest"},
      "output":{"shape":"Snapshot"}
    },
    "CreateSpotDatafeedSubscription":{
      "name":"CreateSpotDatafeedSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSpotDatafeedSubscriptionRequest"},
      "output":{"shape":"CreateSpotDatafeedSubscriptionResult"}
    },
    "CreateSubnet":{
      "name":"CreateSubnet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSubnetRequest"},
      "output":{"shape":"CreateSubnetResult"}
    },
    "CreateTags":{
      "name":"CreateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTagsRequest"}
    },
    "CreateVolume":{
      "name":"CreateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVolumeRequest"},
      "output":{"shape":"Volume"}
    },
    "CreateVpc":{
      "name":"CreateVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcRequest"},
      "output":{"shape":"CreateVpcResult"}
    },
    "CreateVpcEndpoint":{
      "name":"CreateVpcEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcEndpointRequest"},
      "output":{"shape":"CreateVpcEndpointResult"}
    },
    "CreateVpcPeeringConnection":{
      "name":"CreateVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcPeeringConnectionRequest"},
      "output":{"shape":"CreateVpcPeeringConnectionResult"}
    },
    "CreateVpnConnection":{
      "name":"CreateVpnConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpnConnectionRequest"},
      "output":{"shape":"CreateVpnConnectionResult"}
    },
    "CreateVpnConnectionRoute":{
      "name":"CreateVpnConnectionRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpnConnectionRouteRequest"}
    },
    "CreateVpnGateway":{
      "name":"CreateVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpnGatewayRequest"},
      "output":{"shape":"CreateVpnGatewayResult"}
    },
    "DeleteCustomerGateway":{
      "name":"DeleteCustomerGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomerGatewayRequest"}
    },
    "DeleteDhcpOptions":{
      "name":"DeleteDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDhcpOptionsRequest"}
    },
    "DeleteFlowLogs":{
      "name":"DeleteFlowLogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFlowLogsRequest"},
      "output":{"shape":"DeleteFlowLogsResult"}
    },
    "DeleteInternetGateway":{
      "name":"DeleteInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInternetGatewayRequest"}
    },
    "DeleteKeyPair":{
      "name":"DeleteKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteKeyPairRequest"}
    },
    "DeleteNatGateway":{
      "name":"DeleteNatGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNatGatewayRequest"},
      "output":{"shape":"DeleteNatGatewayResult"}
    },
    "DeleteNetworkAcl":{
      "name":"DeleteNetworkAcl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkAclRequest"}
    },
    "DeleteNetworkAclEntry":{
      "name":"DeleteNetworkAclEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkAclEntryRequest"}
    },
    "DeleteNetworkInterface":{
      "name":"DeleteNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkInterfaceRequest"}
    },
    "DeletePlacementGroup":{
      "name":"DeletePlacementGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePlacementGroupRequest"}
    },
    "DeleteRoute":{
      "name":"DeleteRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRouteRequest"}
    },
    "DeleteRouteTable":{
      "name":"DeleteRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRouteTableRequest"}
    },
    "DeleteSecurityGroup":{
      "name":"DeleteSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSecurityGroupRequest"}
    },
    "DeleteSnapshot":{
      "name":"DeleteSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotRequest"}
    },
    "DeleteSpotDatafeedSubscription":{
      "name":"DeleteSpotDatafeedSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSpotDatafeedSubscriptionRequest"}
    },
    "DeleteSubnet":{
      "name":"DeleteSubnet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSubnetRequest"}
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsRequest"}
    },
    "DeleteVolume":{
      "name":"DeleteVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVolumeRequest"}
    },
    "DeleteVpc":{
      "name":"DeleteVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcRequest"}
    },
    "DeleteVpcEndpoints":{
      "name":"DeleteVpcEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcEndpointsRequest"},
      "output":{"shape":"DeleteVpcEndpointsResult"}
    },
    "DeleteVpcPeeringConnection":{
      "name":"DeleteVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcPeeringConnectionRequest"},
      "output":{"shape":"DeleteVpcPeeringConnectionResult"}
    },
    "DeleteVpnConnection":{
      "name":"DeleteVpnConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpnConnectionRequest"}
    },
    "DeleteVpnConnectionRoute":{
      "name":"DeleteVpnConnectionRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpnConnectionRouteRequest"}
    },
    "DeleteVpnGateway":{
      "name":"DeleteVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpnGatewayRequest"}
    },
    "DeregisterImage":{
      "name":"DeregisterImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterImageRequest"}
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesRequest"},
      "output":{"shape":"DescribeAccountAttributesResult"}
    },
    "DescribeAddresses":{
      "name":"DescribeAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAddressesRequest"},
      "output":{"shape":"DescribeAddressesResult"}
    },
    "DescribeAvailabilityZones":{
      "name":"DescribeAvailabilityZones",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAvailabilityZonesRequest"},
      "output":{"shape":"DescribeAvailabilityZonesResult"}
    },
    "DescribeBundleTasks":{
      "name":"DescribeBundleTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBundleTasksRequest"},
      "output":{"shape":"DescribeBundleTasksResult"}
    },
    "DescribeClassicLinkInstances":{
      "name":"DescribeClassicLinkInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClassicLinkInstancesRequest"},
      "output":{"shape":"DescribeClassicLinkInstancesResult"}
    },
    "DescribeConversionTasks":{
      "name":"DescribeConversionTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConversionTasksRequest"},
      "output":{"shape":"DescribeConversionTasksResult"}
    },
    "DescribeCustomerGateways":{
      "name":"DescribeCustomerGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomerGatewaysRequest"},
      "output":{"shape":"DescribeCustomerGatewaysResult"}
    },
    "DescribeDhcpOptions":{
      "name":"DescribeDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDhcpOptionsRequest"},
      "output":{"shape":"DescribeDhcpOptionsResult"}
    },
    "DescribeExportTasks":{
      "name":"DescribeExportTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExportTasksRequest"},
      "output":{"shape":"DescribeExportTasksResult"}
    },
    "DescribeFlowLogs":{
      "name":"DescribeFlowLogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFlowLogsRequest"},
      "output":{"shape":"DescribeFlowLogsResult"}
    },
    "DescribeHosts":{
      "name":"DescribeHosts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHostsRequest"},
      "output":{"shape":"DescribeHostsResult"}
    },
    "DescribeIdFormat":{
      "name":"DescribeIdFormat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIdFormatRequest"},
      "output":{"shape":"DescribeIdFormatResult"}
    },
    "DescribeImageAttribute":{
      "name":"DescribeImageAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageAttributeRequest"},
      "output":{"shape":"ImageAttribute"}
    },
    "DescribeImages":{
      "name":"DescribeImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImagesRequest"},
      "output":{"shape":"DescribeImagesResult"}
    },
    "DescribeImportImageTasks":{
      "name":"DescribeImportImageTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImportImageTasksRequest"},
      "output":{"shape":"DescribeImportImageTasksResult"}
    },
    "DescribeImportSnapshotTasks":{
      "name":"DescribeImportSnapshotTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImportSnapshotTasksRequest"},
      "output":{"shape":"DescribeImportSnapshotTasksResult"}
    },
    "DescribeInstanceAttribute":{
      "name":"DescribeInstanceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceAttributeRequest"},
      "output":{"shape":"InstanceAttribute"}
    },
    "DescribeInstanceStatus":{
      "name":"DescribeInstanceStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceStatusRequest"},
      "output":{"shape":"DescribeInstanceStatusResult"}
    },
    "DescribeInstances":{
      "name":"DescribeInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancesRequest"},
      "output":{"shape":"DescribeInstancesResult"}
    },
    "DescribeInternetGateways":{
      "name":"DescribeInternetGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInternetGatewaysRequest"},
      "output":{"shape":"DescribeInternetGatewaysResult"}
    },
    "DescribeKeyPairs":{
      "name":"DescribeKeyPairs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeKeyPairsRequest"},
      "output":{"shape":"DescribeKeyPairsResult"}
    },
    "DescribeMovingAddresses":{
      "name":"DescribeMovingAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMovingAddressesRequest"},
      "output":{"shape":"DescribeMovingAddressesResult"}
    },
    "DescribeNatGateways":{
      "name":"DescribeNatGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNatGatewaysRequest"},
      "output":{"shape":"DescribeNatGatewaysResult"}
    },
    "DescribeNetworkAcls":{
      "name":"DescribeNetworkAcls",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNetworkAclsRequest"},
      "output":{"shape":"DescribeNetworkAclsResult"}
    },
    "DescribeNetworkInterfaceAttribute":{
      "name":"DescribeNetworkInterfaceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNetworkInterfaceAttributeRequest"},
      "output":{"shape":"DescribeNetworkInterfaceAttributeResult"}
    },
    "DescribeNetworkInterfaces":{
      "name":"DescribeNetworkInterfaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNetworkInterfacesRequest"},
      "output":{"shape":"DescribeNetworkInterfacesResult"}
    },
    "DescribePlacementGroups":{
      "name":"DescribePlacementGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePlacementGroupsRequest"},
      "output":{"shape":"DescribePlacementGroupsResult"}
    },
    "DescribePrefixLists":{
      "name":"DescribePrefixLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePrefixListsRequest"},
      "output":{"shape":"DescribePrefixListsResult"}
    },
    "DescribeRegions":{
      "name":"DescribeRegions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegionsRequest"},
      "output":{"shape":"DescribeRegionsResult"}
    },
    "DescribeReservedInstances":{
      "name":"DescribeReservedInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedInstancesRequest"},
      "output":{"shape":"DescribeReservedInstancesResult"}
    },
    "DescribeReservedInstancesListings":{
      "name":"DescribeReservedInstancesListings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedInstancesListingsRequest"},
      "output":{"shape":"DescribeReservedInstancesListingsResult"}
    },
    "DescribeReservedInstancesModifications":{
      "name":"DescribeReservedInstancesModifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedInstancesModificationsRequest"},
      "output":{"shape":"DescribeReservedInstancesModificationsResult"}
    },
    "DescribeReservedInstancesOfferings":{
      "name":"DescribeReservedInstancesOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedInstancesOfferingsRequest"},
      "output":{"shape":"DescribeReservedInstancesOfferingsResult"}
    },
    "DescribeRouteTables":{
      "name":"DescribeRouteTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRouteTablesRequest"},
      "output":{"shape":"DescribeRouteTablesResult"}
    },
    "DescribeScheduledInstanceAvailability":{
      "name":"DescribeScheduledInstanceAvailability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScheduledInstanceAvailabilityRequest"},
      "output":{"shape":"DescribeScheduledInstanceAvailabilityResult"}
    },
    "DescribeScheduledInstances":{
      "name":"DescribeScheduledInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScheduledInstancesRequest"},
      "output":{"shape":"DescribeScheduledInstancesResult"}
    },
    "DescribeSecurityGroupReferences":{
      "name":"DescribeSecurityGroupReferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSecurityGroupReferencesRequest"},
      "output":{"shape":"DescribeSecurityGroupReferencesResult"}
    },
    "DescribeSecurityGroups":{
      "name":"DescribeSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSecurityGroupsRequest"},
      "output":{"shape":"DescribeSecurityGroupsResult"}
    },
    "DescribeSnapshotAttribute":{
      "name":"DescribeSnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotAttributeRequest"},
      "output":{"shape":"DescribeSnapshotAttributeResult"}
    },
    "DescribeSnapshots":{
      "name":"DescribeSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotsRequest"},
      "output":{"shape":"DescribeSnapshotsResult"}
    },
    "DescribeSpotDatafeedSubscription":{
      "name":"DescribeSpotDatafeedSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotDatafeedSubscriptionRequest"},
      "output":{"shape":"DescribeSpotDatafeedSubscriptionResult"}
    },
    "DescribeSpotFleetInstances":{
      "name":"DescribeSpotFleetInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotFleetInstancesRequest"},
      "output":{"shape":"DescribeSpotFleetInstancesResponse"}
    },
    "DescribeSpotFleetRequestHistory":{
      "name":"DescribeSpotFleetRequestHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotFleetRequestHistoryRequest"},
      "output":{"shape":"DescribeSpotFleetRequestHistoryResponse"}
    },
    "DescribeSpotFleetRequests":{
      "name":"DescribeSpotFleetRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotFleetRequestsRequest"},
      "output":{"shape":"DescribeSpotFleetRequestsResponse"}
    },
    "DescribeSpotInstanceRequests":{
      "name":"DescribeSpotInstanceRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotInstanceRequestsRequest"},
      "output":{"shape":"DescribeSpotInstanceRequestsResult"}
    },
    "DescribeSpotPriceHistory":{
      "name":"DescribeSpotPriceHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpotPriceHistoryRequest"},
      "output":{"shape":"DescribeSpotPriceHistoryResult"}
    },
    "DescribeStaleSecurityGroups":{
      "name":"DescribeStaleSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStaleSecurityGroupsRequest"},
      "output":{"shape":"DescribeStaleSecurityGroupsResult"}
    },
    "DescribeSubnets":{
      "name":"DescribeSubnets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSubnetsRequest"},
      "output":{"shape":"DescribeSubnetsResult"}
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsRequest"},
      "output":{"shape":"DescribeTagsResult"}
    },
    "DescribeVolumeAttribute":{
      "name":"DescribeVolumeAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumeAttributeRequest"},
      "output":{"shape":"DescribeVolumeAttributeResult"}
    },
    "DescribeVolumeStatus":{
      "name":"DescribeVolumeStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumeStatusRequest"},
      "output":{"shape":"DescribeVolumeStatusResult"}
    },
    "DescribeVolumes":{
      "name":"DescribeVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumesRequest"},
      "output":{"shape":"DescribeVolumesResult"}
    },
    "DescribeVpcAttribute":{
      "name":"DescribeVpcAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcAttributeRequest"},
      "output":{"shape":"DescribeVpcAttributeResult"}
    },
    "DescribeVpcClassicLink":{
      "name":"DescribeVpcClassicLink",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcClassicLinkRequest"},
      "output":{"shape":"DescribeVpcClassicLinkResult"}
    },
    "DescribeVpcClassicLinkDnsSupport":{
      "name":"DescribeVpcClassicLinkDnsSupport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcClassicLinkDnsSupportRequest"},
      "output":{"shape":"DescribeVpcClassicLinkDnsSupportResult"}
    },
    "DescribeVpcEndpointServices":{
      "name":"DescribeVpcEndpointServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointServicesRequest"},
      "output":{"shape":"DescribeVpcEndpointServicesResult"}
    },
    "DescribeVpcEndpoints":{
      "name":"DescribeVpcEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointsRequest"},
      "output":{"shape":"DescribeVpcEndpointsResult"}
    },
    "DescribeVpcPeeringConnections":{
      "name":"DescribeVpcPeeringConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcPeeringConnectionsRequest"},
      "output":{"shape":"DescribeVpcPeeringConnectionsResult"}
    },
    "DescribeVpcs":{
      "name":"DescribeVpcs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcsRequest"},
      "output":{"shape":"DescribeVpcsResult"}
    },
    "DescribeVpnConnections":{
      "name":"DescribeVpnConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpnConnectionsRequest"},
      "output":{"shape":"DescribeVpnConnectionsResult"}
    },
    "DescribeVpnGateways":{
      "name":"DescribeVpnGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpnGatewaysRequest"},
      "output":{"shape":"DescribeVpnGatewaysResult"}
    },
    "DetachClassicLinkVpc":{
      "name":"DetachClassicLinkVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachClassicLinkVpcRequest"},
      "output":{"shape":"DetachClassicLinkVpcResult"}
    },
    "DetachInternetGateway":{
      "name":"DetachInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachInternetGatewayRequest"}
    },
    "DetachNetworkInterface":{
      "name":"DetachNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachNetworkInterfaceRequest"}
    },
    "DetachVolume":{
      "name":"DetachVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachVolumeRequest"},
      "output":{"shape":"VolumeAttachment"}
    },
    "DetachVpnGateway":{
      "name":"DetachVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachVpnGatewayRequest"}
    },
    "DisableVgwRoutePropagation":{
      "name":"DisableVgwRoutePropagation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableVgwRoutePropagationRequest"}
    },
    "DisableVpcClassicLink":{
      "name":"DisableVpcClassicLink",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableVpcClassicLinkRequest"},
      "output":{"shape":"DisableVpcClassicLinkResult"}
    },
    "DisableVpcClassicLinkDnsSupport":{
      "name":"DisableVpcClassicLinkDnsSupport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableVpcClassicLinkDnsSupportRequest"},
      "output":{"shape":"DisableVpcClassicLinkDnsSupportResult"}
    },
    "DisassociateAddress":{
      "name":"DisassociateAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateAddressRequest"}
    },
    "DisassociateRouteTable":{
      "name":"DisassociateRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateRouteTableRequest"}
    },
    "EnableVgwRoutePropagation":{
      "name":"EnableVgwRoutePropagation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableVgwRoutePropagationRequest"}
    },
    "EnableVolumeIO":{
      "name":"EnableVolumeIO",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableVolumeIORequest"}
    },
    "EnableVpcClassicLink":{
      "name":"EnableVpcClassicLink",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableVpcClassicLinkRequest"},
      "output":{"shape":"EnableVpcClassicLinkResult"}
    },
    "EnableVpcClassicLinkDnsSupport":{
      "name":"EnableVpcClassicLinkDnsSupport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableVpcClassicLinkDnsSupportRequest"},
      "output":{"shape":"EnableVpcClassicLinkDnsSupportResult"}
    },
    "GetConsoleOutput":{
      "name":"GetConsoleOutput",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConsoleOutputRequest"},
      "output":{"shape":"GetConsoleOutputResult"}
    },
    "GetConsoleScreenshot":{
      "name":"GetConsoleScreenshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConsoleScreenshotRequest"},
      "output":{"shape":"GetConsoleScreenshotResult"}
    },
    "GetPasswordData":{
      "name":"GetPasswordData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPasswordDataRequest"},
      "output":{"shape":"GetPasswordDataResult"}
    },
    "ImportImage":{
      "name":"ImportImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportImageRequest"},
      "output":{"shape":"ImportImageResult"}
    },
    "ImportInstance":{
      "name":"ImportInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportInstanceRequest"},
      "output":{"shape":"ImportInstanceResult"}
    },
    "ImportKeyPair":{
      "name":"ImportKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportKeyPairRequest"},
      "output":{"shape":"ImportKeyPairResult"}
    },
    "ImportSnapshot":{
      "name":"ImportSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportSnapshotRequest"},
      "output":{"shape":"ImportSnapshotResult"}
    },
    "ImportVolume":{
      "name":"ImportVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportVolumeRequest"},
      "output":{"shape":"ImportVolumeResult"}
    },
    "ModifyHosts":{
      "name":"ModifyHosts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyHostsRequest"},
      "output":{"shape":"ModifyHostsResult"}
    },
    "ModifyIdFormat":{
      "name":"ModifyIdFormat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyIdFormatRequest"}
    },
    "ModifyImageAttribute":{
      "name":"ModifyImageAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyImageAttributeRequest"}
    },
    "ModifyInstanceAttribute":{
      "name":"ModifyInstanceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceAttributeRequest"}
    },
    "ModifyInstancePlacement":{
      "name":"ModifyInstancePlacement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstancePlacementRequest"},
      "output":{"shape":"ModifyInstancePlacementResult"}
    },
    "ModifyNetworkInterfaceAttribute":{
      "name":"ModifyNetworkInterfaceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyNetworkInterfaceAttributeRequest"}
    },
    "ModifyReservedInstances":{
      "name":"ModifyReservedInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReservedInstancesRequest"},
      "output":{"shape":"ModifyReservedInstancesResult"}
    },
    "ModifySnapshotAttribute":{
      "name":"ModifySnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySnapshotAttributeRequest"}
    },
    "ModifySpotFleetRequest":{
      "name":"ModifySpotFleetRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySpotFleetRequestRequest"},
      "output":{"shape":"ModifySpotFleetRequestResponse"}
    },
    "ModifySubnetAttribute":{
      "name":"ModifySubnetAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySubnetAttributeRequest"}
    },
    "ModifyVolumeAttribute":{
      "name":"ModifyVolumeAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVolumeAttributeRequest"}
    },
    "ModifyVpcAttribute":{
      "name":"ModifyVpcAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcAttributeRequest"}
    },
    "ModifyVpcEndpoint":{
      "name":"ModifyVpcEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcEndpointRequest"},
      "output":{"shape":"ModifyVpcEndpointResult"}
    },
    "ModifyVpcPeeringConnectionOptions":{
      "name":"ModifyVpcPeeringConnectionOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyVpcPeeringConnectionOptionsRequest"},
      "output":{"shape":"ModifyVpcPeeringConnectionOptionsResult"}
    },
    "MonitorInstances":{
      "name":"MonitorInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MonitorInstancesRequest"},
      "output":{"shape":"MonitorInstancesResult"}
    },
    "MoveAddressToVpc":{
      "name":"MoveAddressToVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MoveAddressToVpcRequest"},
      "output":{"shape":"MoveAddressToVpcResult"}
    },
    "PurchaseReservedInstancesOffering":{
      "name":"PurchaseReservedInstancesOffering",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PurchaseReservedInstancesOfferingRequest"},
      "output":{"shape":"PurchaseReservedInstancesOfferingResult"}
    },
    "PurchaseScheduledInstances":{
      "name":"PurchaseScheduledInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PurchaseScheduledInstancesRequest"},
      "output":{"shape":"PurchaseScheduledInstancesResult"}
    },
    "RebootInstances":{
      "name":"RebootInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootInstancesRequest"}
    },
    "RegisterImage":{
      "name":"RegisterImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterImageRequest"},
      "output":{"shape":"RegisterImageResult"}
    },
    "RejectVpcPeeringConnection":{
      "name":"RejectVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RejectVpcPeeringConnectionRequest"},
      "output":{"shape":"RejectVpcPeeringConnectionResult"}
    },
    "ReleaseAddress":{
      "name":"ReleaseAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReleaseAddressRequest"}
    },
    "ReleaseHosts":{
      "name":"ReleaseHosts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReleaseHostsRequest"},
      "output":{"shape":"ReleaseHostsResult"}
    },
    "ReplaceNetworkAclAssociation":{
      "name":"ReplaceNetworkAclAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReplaceNetworkAclAssociationRequest"},
      "output":{"shape":"ReplaceNetworkAclAssociationResult"}
    },
    "ReplaceNetworkAclEntry":{
      "name":"ReplaceNetworkAclEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReplaceNetworkAclEntryRequest"}
    },
    "ReplaceRoute":{
      "name":"ReplaceRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReplaceRouteRequest"}
    },
    "ReplaceRouteTableAssociation":{
      "name":"ReplaceRouteTableAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReplaceRouteTableAssociationRequest"},
      "output":{"shape":"ReplaceRouteTableAssociationResult"}
    },
    "ReportInstanceStatus":{
      "name":"ReportInstanceStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReportInstanceStatusRequest"}
    },
    "RequestSpotFleet":{
      "name":"RequestSpotFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestSpotFleetRequest"},
      "output":{"shape":"RequestSpotFleetResponse"}
    },
    "RequestSpotInstances":{
      "name":"RequestSpotInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestSpotInstancesRequest"},
      "output":{"shape":"RequestSpotInstancesResult"}
    },
    "ResetImageAttribute":{
      "name":"ResetImageAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetImageAttributeRequest"}
    },
    "ResetInstanceAttribute":{
      "name":"ResetInstanceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetInstanceAttributeRequest"}
    },
    "ResetNetworkInterfaceAttribute":{
      "name":"ResetNetworkInterfaceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetNetworkInterfaceAttributeRequest"}
    },
    "ResetSnapshotAttribute":{
      "name":"ResetSnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetSnapshotAttributeRequest"}
    },
    "RestoreAddressToClassic":{
      "name":"RestoreAddressToClassic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreAddressToClassicRequest"},
      "output":{"shape":"RestoreAddressToClassicResult"}
    },
    "RevokeSecurityGroupEgress":{
      "name":"RevokeSecurityGroupEgress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeSecurityGroupEgressRequest"}
    },
    "RevokeSecurityGroupIngress":{
      "name":"RevokeSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeSecurityGroupIngressRequest"}
    },
    "RunInstances":{
      "name":"RunInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RunInstancesRequest"},
      "output":{"shape":"Reservation"}
    },
    "RunScheduledInstances":{
      "name":"RunScheduledInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RunScheduledInstancesRequest"},
      "output":{"shape":"RunScheduledInstancesResult"}
    },
    "StartInstances":{
      "name":"StartInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartInstancesRequest"},
      "output":{"shape":"StartInstancesResult"}
    },
    "StopInstances":{
      "name":"StopInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopInstancesRequest"},
      "output":{"shape":"StopInstancesResult"}
    },
    "TerminateInstances":{
      "name":"TerminateInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateInstancesRequest"},
      "output":{"shape":"TerminateInstancesResult"}
    },
    "UnassignPrivateIpAddresses":{
      "name":"UnassignPrivateIpAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UnassignPrivateIpAddressesRequest"}
    },
    "UnmonitorInstances":{
      "name":"UnmonitorInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UnmonitorInstancesRequest"},
      "output":{"shape":"UnmonitorInstancesResult"}
    }
  },
  "shapes":{
    "AcceptVpcPeeringConnectionRequest":{
      "type":"structure",
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "VpcPeeringConnectionId":{
          "shape":"String",
          "locationName":"vpcPeeringConnectionId"
        }
      }
    },
    "AcceptVpcPeeringConnectionResult":{
      "type":"structure",
      "members":{
        "VpcPeeringConnection":{
          "shape":"VpcPeeringConnection",
          "locationName":"vpcPeeringConnection"
        }
      }
    },
    "AccountAttribute":{
      "type":"structure",
      "members":{
        "AttributeName":{
          "shape":"String",
          "locationName":"attributeName"
        },
        "AttributeValues":{
          "shape":"AccountAttributeValueList",
          "locationName":"attributeValueSet"
        }
      }
    },
    "AccountAttributeList":{
      "type":"list",
      "member":{
        "shape":"AccountAttribute",
        "locationName":"item"
      }
    },
    "AccountAttributeName":{
      "type":"string",
      "enum":[
        "supported-platforms",
        "default-vpc"
      ]
    },
    "AccountAttributeNameStringList":{
      "type":"list",
      "member":{
        "shape":"AccountAttributeName",
        "locationName":"attributeName"
      }
    },
    "AccountAttributeValue":{
      "type":"structure",
      "members":{
        "AttributeValue":{
          "shape":"String",
          "locationName":"attributeValue"
        }
      }
    },
    "AccountAttributeValueList":{
      "type":"list",
      "member":{
        "shape":"AccountAttributeValue",
        "locationName":"item"
      }
    },
    "ActiveInstance":{
      "type":"structure",
      "members":{
        "InstanceType":{
          "shape":"String",
          "locationName":"instanceType"
        },
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "SpotInstanceRequestId":{
          "shape":"String",
          "locationName":"spotInstanceRequestId"
        }
      }
    },
    "ActiveInstanceSet":{
      "type":"list",
      "member":{
        "shape":"ActiveInstance",
        "locationName":"item"
      }
    },
    "Address":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "PublicIp":{
          "shape":"String",
          "locationName":"publicIp"
        },
        "AllocationId":{
          "shape":"String",
          "locationName":"allocationId"
        },
        "AssociationId":{
          "shape":"String",
          "locationName":"associationId"
        },
        "Domain":{
          "shape":"DomainType",
          "locationName":"domain"
        },
        "NetworkInterfaceId":{
          "shape":"String",
          "locationName":"networkInterfaceId"
        },
        "NetworkInterfaceOwnerId":{
          "shape":"String",
          "locationName":"networkInterfaceOwnerId"
        },
        "PrivateIpAddress":{
          "shape":"String",
          "locationName":"privateIpAddress"
        }
      }
    },
    "AddressList":{
      "type":"list",
      "member":{
        "shape":"Address",
        "locationName":"item"
      }
    },
    "Affinity":{
      "type":"string",
      "enum":[
        "default",
        "host"
      ]
    },
    "AllocateAddressRequest":{
      "type":"structure",
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "Domain":{"shape":"DomainType"}
      }
    },
    "AllocateAddressResult":{
      "type":"structure",
      "members":{
        "PublicIp":{
          "shape":"String",
          "locationName":"publicIp"
        },
        "Domain":{
          "shape":"DomainType",
          "locationName":"domain"
        },
        "AllocationId":{
          "shape":"String",
          "locationName":"allocationId"
        }
      }
    },
    "AllocateHostsRequest":{
      "type":"structure",
      "required":[
        "InstanceType",
        "Quantity",
        "AvailabilityZone"
      ],
      "members":{
        "AutoPlacement":{
          "shape":"AutoPlacement",
          "locationName":"autoPlacement"
        },
        "ClientToken":{
          "shape":"String",
          "locationName":"clientToken"
        },
        "InstanceType":{
          "shape":"String",
          "locationName":"instanceType"
        },
        "Quantity":{
          "shape":"Integer",
          "locationName":"quantity"
        },
        "AvailabilityZone":{
          "shape":"String",
          "locationName":"availabilityZone"
        }
      }
    },
    "AllocateHostsResult":{
      "type":"structure",
      "members":{
        "HostIds":{
          "shape":"ResponseHostIdList",
          "locationName":"hostIdSet"
        }
      }
    },
    "AllocationIdList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AllocationId"
      }
    },
    "AllocationState":{
      "type":"string",
      "enum":[
        "available",
        "under-assessment",
        "permanent-failure",
        "released",
        "released-permanent-failure"
      ]
    },
    "AllocationStrategy":{
      "type":"string",
      "enum":[
        "lowestPrice",
        "diversified"
      ]
    },
    "ArchitectureValues":{
      "type":"string",
      "enum":[
        "i386",
        "x86_64"
      ]
    },
    "AssignPrivateIpAddressesRequest":{
      "type":"structure",
      "required":["NetworkInterfaceId"],
      "members":{
        "NetworkInterfaceId":{
          "shape":"String",
          "locationName":"networkInterfaceId"
        },
        "PrivateIpAddresses":{
          "shape":"PrivateIpAddressStringList",
          "locationName":"privateIpAddress"
        },
        "SecondaryPrivateIpAddressCount":{
          "shape":"Integer",
          "locationName":"secondaryPrivateIpAddressCount"
        },
        "AllowReassignment":{
          "shape":"Boolean",
          "locationName":"allowReassignment"
        }
      }
    },
    "AssociateAddressRequest":{
      "type":"structure",
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "InstanceId":{"shape":"String"},
        "PublicIp":{"shape":"String"},
        "AllocationId":{"shape":"String"},
        "NetworkInterfaceId":{
          "shape":"String",
          "locationName":"networkInterfaceId"
        },
        "PrivateIpAddress":{
          "shape":"String",
          "locationName":"privateIpAddress"
        },
        "AllowReassociation":{
          "shape":"Boolean",
          "locationName":"allowReassociation"
        }
      }
    },
    "AssociateAddressResult":{
      "type":"structure",
      "members":{
        "AssociationId":{
          "shape":"String",
          "locationName":"associationId"
        }
      }
    },
    "AssociateDhcpOptionsRequest":{
      "type":"structure",
      "required":[
        "DhcpOptionsId",
        "VpcId"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "DhcpOptionsId":{"shape":"String"},
        "VpcId":{"shape":"String"}
      }
    },
    "AssociateRouteTableRequest":{
      "type":"structure",
      "required":[
        "SubnetId",
        "RouteTableId"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "SubnetId":{
          "shape":"String",
          "locationName":"subnetId"
        },
        "RouteTableId":{
          "shape":"String",
          "locationName":"routeTableId"
        }
      }
    },
    "AssociateRouteTableResult":{
      "type":"structure",
      "members":{
        "AssociationId":{
          "shape":"String",
          "locationName":"associationId"
        }
      }
    },
    "AttachClassicLinkVpcRequest":{
      "type":"structure",
      "required":[
        "InstanceId",
        "VpcId",
        "Groups"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "VpcId":{
          "shape":"String",
          "locationName":"vpcId"
        },
        "Groups":{
          "shape":"GroupIdStringList",
          "locationName":"SecurityGroupId"
        }
      }
    },
    "AttachClassicLinkVpcResult":{
      "type":"structure",
      "members":{
        "Return":{
          "shape":"Boolean",
          "locationName":"return"
        }
      }
    },
    "AttachInternetGatewayRequest":{
      "type":"structure",
      "required":[
        "InternetGatewayId",
        "VpcId"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "InternetGatewayId":{
          "shape":"String",
          "locationName":"internetGatewayId"
        },
        "VpcId":{
          "shape":"String",
          "locationName":"vpcId"
        }
      }
    },
    "AttachNetworkInterfaceRequest":{
      "type":"structure",
      "required":[
        "NetworkInterfaceId",
        "InstanceId",
        "DeviceIndex"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "NetworkInterfaceId":{
          "shape":"String",
          "locationName":"networkInterfaceId"
        },
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "DeviceIndex":{
          "shape":"Integer",
          "locationName":"deviceIndex"
        }
      }
    },
    "AttachNetworkInterfaceResult":{
      "type":"structure",
      "members":{
        "AttachmentId":{
          "shape":"String",
          "locationName":"attachmentId"
        }
      }
    },
    "AttachVolumeRequest":{
      "type":"structure",
      "required":[
        "VolumeId",
        "InstanceId",
        "Device"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "VolumeId":{"shape":"String"},
        "InstanceId":{"shape":"String"},
        "Device":{"shape":"String"}
      }
    },
    "AttachVpnGatewayRequest":{
      "type":"structure",
      "required":[
        "VpnGatewayId",
        "VpcId"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "VpnGatewayId":{"shape":"String"},
        "VpcId":{"shape":"String"}
      }
    },
    "AttachVpnGatewayResult":{
      "type":"structure",
      "members":{
        "VpcAttachment":{
          "shape":"VpcAttachment",
          "locationName":"attachment"
        }
      }
    },
    "AttachmentStatus":{
      "type":"string",
      "enum":[
        "attaching",
        "attached",
        "detaching",
        "detached"
      ]
    },
    "AttributeBooleanValue":{
      "type":"structure",
      "members":{
        "Value":{
          "shape":"Boolean",
          "locationName":"value"
        }
      }
    },
    "AttributeValue":{
      "type":"structure",
      "members":{
        "Value":{
          "shape":"String",
          "locationName":"value"
        }
      }
    },
    "AuthorizeSecurityGroupEgressRequest":{
      "type":"structure",
      "required":["GroupId"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "GroupId":{
          "shape":"String",
          "locationName":"groupId"
        },
        "SourceSecurityGroupName":{
          "shape":"String",
          "locationName":"sourceSecurityGroupName"
        },
        "SourceSecurityGroupOwnerId":{
          "shape":"String",
          "locationName":"sourceSecurityGroupOwnerId"
        },
        "IpProtocol":{
          "shape":"String",
          "locationName":"ipProtocol"
        },
        "FromPort":{
          "shape":"Integer",
          "locationName":"fromPort"
        },
        "ToPort":{
          "shape":"Integer",
          "locationName":"toPort"
        },
        "CidrIp":{
          "shape":"String",
          "locationName":"cidrIp"
        },
        "IpPermissions":{
          "shape":"IpPermissionList",
          "locationName":"ipPermissions"
        }
      }
    },
    "AuthorizeSecurityGroupIngressRequest":{
      "type":"structure",
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "GroupName":{"shape":"String"},
        "GroupId":{"shape":"String"},
        "SourceSecurityGroupName":{"shape":"String"},
        "SourceSecurityGroupOwnerId":{"shape":"String"},
        "IpProtocol":{"shape":"String"},
        "FromPort":{"shape":"Integer"},
        "ToPort":{"shape":"Integer"},
        "CidrIp":{"shape":"String"},
        "IpPermissions":{"shape":"IpPermissionList"}
      }
    },
    "AutoPlacement":{
      "type":"string",
      "enum":[
        "on",
        "off"
      ]
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "ZoneName":{
          "shape":"String",
          "locationName":"zoneName"
        },
        "State":{
          "shape":"AvailabilityZoneState",
          "locationName":"zoneState"
        },
        "RegionName":{
          "shape":"String",
          "locationName":"regionName"
        },
        "Messages":{
          "shape":"AvailabilityZoneMessageList",
          "locationName":"messageSet"
        }
      }
    },
    "AvailabilityZoneList":{
      "type":"list",
      "member":{
        "shape":"AvailabilityZone",
        "locationName":"item"
      }
    },
    "AvailabilityZoneMessage":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      }
    },
    "AvailabilityZoneMessageList":{
      "type":"list",
      "member":{
        "shape":"AvailabilityZoneMessage",
        "locationName":"item"
      }
    },
    "AvailabilityZoneState":{
      "type":"string",
      "enum":[
        "available",
        "information",
        "impaired",
        "unavailable"
      ]
    },
    "AvailableCapacity":{
      "type":"structure",
      "members":{
        "AvailableInstanceCapacity":{
          "shape":"AvailableInstanceCapacityList",
          "locationName":"availableInstanceCapacity"
        },
        "AvailableVCpus":{
          "shape":"Integer",
          "locationName":"availableVCpus"
        }
      }
    },
    "AvailableInstanceCapacityList":{
      "type":"list",
      "member":{
        "shape":"InstanceCapacity",
        "locationName":"item"
      }
    },
    "BatchState":{
      "type":"string",
      "enum":[
        "submitted",
        "active",
        "cancelled",
        "failed",
        "cancelled_running",
        "cancelled_terminating",
        "modifying"
      ]
    },
    "Blob":{"type":"blob"},
    "BlobAttributeValue":{
      "type":"structure",
      "members":{
        "Value":{
          "shape":"Blob",
          "locationName":"value"
        }
      }
    },
    "BlockDeviceMapping":{
      "type":"structure",
      "members":{
        "VirtualName":{
          "shape":"String",
          "locationName":"virtualName"
        },
        "DeviceName":{
          "shape":"String",
          "locationName":"deviceName"
        },
        "Ebs":{
          "shape":"EbsBlockDevice",
          "locationName":"ebs"
        },
        "NoDevice":{
          "shape":"String",
          "locationName":"noDevice"
        }
      }
    },
    "BlockDeviceMappingList":{
      "type":"list",
      "member":{
        "shape":"BlockDeviceMapping",
        "locationName":"item"
      }
    },
    "BlockDeviceMappingRequestList":{
      "type":"list",
      "member":{
        "shape":"BlockDeviceMapping",
        "locationName":"BlockDeviceMapping"
      }
    },
    "Boolean":{"type":"boolean"},
    "BundleIdStringList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"BundleId"
      }
    },
    "BundleInstanceRequest":{
      "type":"structure",
      "required":[
        "InstanceId",
        "Storage"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "InstanceId":{"shape":"String"},
        "Storage":{"shape":"Storage"}
      }
    },
    "BundleInstanceResult":{
      "type":"structure",
      "members":{
        "BundleTask":{
          "shape":"BundleTask",
          "locationName":"bundleInstanceTask"
        }
      }
    },
    "BundleTask":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "BundleId":{
          "shape":"String",
          "locationName":"bundleId"
        },
        "State":{
          "shape":"BundleTaskState",
          "locationName":"state"
        },
        "StartTime":{
          "shape":"DateTime",
          "locationName":"startTime"
        },
        "UpdateTime":{
          "shape":"DateTime",
          "locationName":"updateTime"
        },
        "Storage":{
          "shape":"Storage",
          "locationName":"storage"
        },
        "Progress":{
          "shape":"String",
          "locationName":"progress"
        },
        "BundleTaskError":{
          "shape":"BundleTaskError",
          "locationName":"error"
        }
      }
    },
    "BundleTaskError":{
      "type":"structure",
      "members":{
        "Code":{
          "shape":"String",
          "locationName":"code"
        },
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      }
    },
    "BundleTaskList":{
      "type":"list",
      "member":{
        "shape":"BundleTask",
        "locationName":"item"
      }
    },
    "BundleTaskState":{
      "type":"string",
      "enum":[
        "pending",
        "waiting-for-shutdown",
        "bundling",
        "storing",
        "cancelling",
        "complete",
        "failed"
      ]
    },
    "CancelBatchErrorCode":{
      "type":"string",
      "enum":[
        "fleetRequestIdDoesNotExist",
        "fleetRequestIdMalformed",
        "fleetRequestNotInCancellableState",
        "unexpectedError"
      ]
    },
    "CancelBundleTaskRequest":{
      "type":"structure",
      "required":["BundleId"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "BundleId":{"shape":"String"}
      }
    },
    "CancelBundleTaskResult":{
      "type":"structure",
      "members":{
        "BundleTask":{
          "shape":"BundleTask",
          "locationName":"bundleInstanceTask"
        }
      }
    },
    "CancelConversionRequest":{
      "type":"structure",
      "required":["ConversionTaskId"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "ConversionTaskId":{
          "shape":"String",
          "locationName":"conversionTaskId"
        },
        "ReasonMessage":{
          "shape":"String",
          "locationName":"reasonMessage"
        }
      }
    },
    "CancelExportTaskRequest":{
      "type":"structure",
      "required":["ExportTaskId"],
      "members":{
        "ExportTaskId":{
          "shape":"String",
          "locationName":"exportTaskId"
        }
      }
    },
    "CancelImportTaskRequest":{
      "type":"structure",
      "members":{
        "DryRun":{"shape":"Boolean"},
        "ImportTaskId":{"shape":"String"},
        "CancelReason":{"shape":"String"}
      }
    },
    "CancelImportTaskResult":{
      "type":"structure",
      "members":{
        "ImportTaskId":{
          "shape":"String",
          "locationName":"importTaskId"
        },
        "State":{
          "shape":"String",
          "locationName":"state"
        },
        "PreviousState":{
          "shape":"String",
          "locationName":"previousState"
        }
      }
    },
    "CancelReservedInstancesListingRequest":{
      "type":"structure",
      "required":["ReservedInstancesListingId"],
      "members":{
        "ReservedInstancesListingId":{
          "shape":"String",
          "locationName":"reservedInstancesListingId"
        }
      }
    },
    "CancelReservedInstancesListingResult":{
      "type":"structure",
      "members":{
        "ReservedInstancesListings":{
          "shape":"ReservedInstancesListingList",
          "locationName":"reservedInstancesListingsSet"
        }
      }
    },
    "CancelSpotFleetRequestsError":{
      "type":"structure",
      "required":[
        "Code",
        "Message"
      ],
      "members":{
        "Code":{
          "shape":"CancelBatchErrorCode",
          "locationName":"code"
        },
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      }
    },
    "CancelSpotFleetRequestsErrorItem":{
      "type":"structure",
      "required":[
        "SpotFleetRequestId",
        "Error"
      ],
      "members":{
        "SpotFleetRequestId":{
          "shape":"String",
          "locationName":"spotFleetRequestId"
        },
        "Error":{
          "shape":"CancelSpotFleetRequestsError",
          "locationName":"error"
        }
      }
    },
    "CancelSpotFleetRequestsErrorSet":{
      "type":"list",
      "member":{
        "shape":"CancelSpotFleetRequestsErrorItem",
        "locationName":"item"
      }
    },
    "CancelSpotFleetRequestsRequest":{
      "type":"structure",
      "required":[
        "SpotFleetRequestIds",
        "TerminateInstances"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "SpotFleetRequestIds":{
          "shape":"ValueStringList",
          "locationName":"spotFleetRequestId"
        },
        "TerminateInstances":{
          "shape":"Boolean",
          "locationName":"terminateInstances"
        }
      }
    },
    "CancelSpotFleetRequestsResponse":{
      "type":"structure",
      "members":{
        "UnsuccessfulFleetRequests":{
          "shape":"CancelSpotFleetRequestsErrorSet",
          "locationName":"unsuccessfulFleetRequestSet"
        },
        "SuccessfulFleetRequests":{
          "shape":"CancelSpotFleetRequestsSuccessSet",
          "locationName":"successfulFleetRequestSet"
        }
      }
    },
    "CancelSpotFleetRequestsSuccessItem":{
      "type":"structure",
      "required":[
        "SpotFleetRequestId",
        "CurrentSpotFleetRequestState",
        "PreviousSpotFleetRequestState"
      ],
      "members":{
        "SpotFleetRequestId":{
          "shape":"String",
          "locationName":"spotFleetRequestId"
        },
        "CurrentSpotFleetRequestState":{
          "shape":"BatchState",
          "locationName":"currentSpotFleetRequestState"
        },
        "PreviousSpotFleetRequestState":{
          "shape":"BatchState",
          "locationName":"previousSpotFleetRequestState"
        }
      }
    },
    "CancelSpotFleetRequestsSuccessSet":{
      "type":"list",
      "member":{
        "shape":"CancelSpotFleetRequestsSuccessItem",
        "locationName":"item"
      }
    },
    "CancelSpotInstanceRequestState":{
      "type":"string",
      "enum":[
        "active",
        "open",
        "closed",
        "cancelled",
        "completed"
      ]
    },
    "CancelSpotInstanceRequestsRequest":{
      "type":"structure",
      "required":["SpotInstanceRequestIds"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "SpotInstanceRequestIds":{
          "shape":"SpotInstanceRequestIdList",
          "locationName":"SpotInstanceRequestId"
        }
      }
    },
    "CancelSpotInstanceRequestsResult":{
      "type":"structure",
      "members":{
        "CancelledSpotInstanceRequests":{
          "shape":"CancelledSpotInstanceRequestList",
          "locationName":"spotInstanceRequestSet"
        }
      }
    },
    "CancelledSpotInstanceRequest":{
      "type":"structure",
      "members":{
        "SpotInstanceRequestId":{
          "shape":"String",
          "locationName":"spotInstanceRequestId"
        },
        "State":{
          "shape":"CancelSpotInstanceRequestState",
          "locationName":"state"
        }
      }
    },
    "CancelledSpotInstanceRequestList":{
      "type":"list",
      "member":{
        "shape":"CancelledSpotInstanceRequest",
        "locationName":"item"
      }
    },
    "ClassicLinkDnsSupport":{
      "type":"structure",
      "members":{
        "VpcId":{
          "shape":"String",
          "locationName":"vpcId"
        },
        "ClassicLinkDnsSupported":{
          "shape":"Boolean",
          "locationName":"classicLinkDnsSupported"
        }
      }
    },
    "ClassicLinkDnsSupportList":{
      "type":"list",
      "member":{
        "shape":"ClassicLinkDnsSupport",
        "locationName":"item"
      }
    },
    "ClassicLinkInstance":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "VpcId":{
          "shape":"String",
          "locationName":"vpcId"
        },
        "Groups":{
          "shape":"GroupIdentifierList",
          "locationName":"groupSet"
        },
        "Tags":{
          "shape":"TagList",
          "locationName":"tagSet"
        }
      }
    },
    "ClassicLinkInstanceList":{
      "type":"list",
      "member":{
        "shape":"ClassicLinkInstance",
        "locationName":"item"
      }
    },
    "ClientData":{
      "type":"structure",
      "members":{
        "UploadStart":{"shape":"DateTime"},
        "UploadEnd":{"shape":"DateTime"},
        "UploadSize":{"shape":"Double"},
        "Comment":{"shape":"String"}
      }
    },
    "ConfirmProductInstanceRequest":{
      "type":"structure",
      "required":[
        "ProductCode",
        "InstanceId"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "ProductCode":{"shape":"String"},
        "InstanceId":{"shape":"String"}
      }
    },
    "ConfirmProductInstanceResult":{
      "type":"structure",
      "members":{
        "OwnerId":{
          "shape":"String",
          "locationName":"ownerId"
        },
        "Return":{
          "shape":"Boolean",
          "locationName":"return"
        }
      }
    },
    "ContainerFormat":{
      "type":"string",
      "enum":["ova"]
    },
    "ConversionIdStringList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"item"
      }
    },
    "ConversionTask":{
      "type":"structure",
      "required":[
        "ConversionTaskId",
        "State"
      ],
      "members":{
        "ConversionTaskId":{
          "shape":"String",
          "locationName":"conversionTaskId"
        },
        "ExpirationTime":{
          "shape":"String",
          "locationName":"expirationTime"
        },
        "ImportInstance":{
          "shape":"ImportInstanceTaskDetails",
          "locationName":"importInstance"
        },
        "ImportVolume":{
          "shape":"ImportVolumeTaskDetails",
          "locationName":"importVolume"
        },
        "State":{
          "shape":"ConversionTaskState",
          "locationName":"state"
        },
        "StatusMessage":{
          "shape":"String",
          "locationName":"statusMessage"
        },
        "Tags":{
          "shape":"TagList",
          "locationName":"tagSet"
        }
      }
    },
    "ConversionTaskState":{
      "type":"string",
      "enum":[
        "active",
        "cancelling",
        "cancelled",
        "completed"
      ]
    },
    "CopyImageRequest":{
      "type":"structure",
      "required":[
        "SourceRegion",
        "SourceImageId",
        "Name"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "SourceRegion":{"shape":"String"},
        "SourceImageId":{"shape":"String"},
        "Name":{"shape":"String"},
        "Description":{"shape":"String"},
        "ClientToken":{"shape":"String"},
        "Encrypted":{
          "shape":"Boolean",
          "locationName":"encrypted"
        },
        "KmsKeyId":{
          "shape":"String",
          "locationName":"kmsKeyId"
        }
      }
    },
    "CopyImageResult":{
      "type":"structure",
      "members":{
        "ImageId":{
          "shape":"String",
          "locationName":"imageId"
        }
      }
    },
    "CopySnapshotRequest":{
      "type":"structure",
      "required":[
        "SourceRegion",
        "SourceSnapshotId"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "SourceRegion":{"shape":"String"},
        "SourceSnapshotId":{"shape":"String"},
        "Description":{"shape":"String"},
        "DestinationRegion":{
          "shape":"String",
          "locationName":"destinationRegion"
        },
        "PresignedUrl":{
          "shape":"String",
          "locationName":"presignedUrl"
        },
        "Encrypted":{
          "shape":"Boolean",
          "locationName":"encrypted"
        },
        "KmsKeyId":{
          "shape":"String",
          "locationName":"kmsKeyId"
        }
      }
    },
    "CopySnapshotResult":{
      "type":"structure",
      "members":{
        "SnapshotId":{
          "shape":"String",
          "locationName":"snapshotId"
        }
      }
    },
    "CreateCustomerGatewayRequest":{
      "type":"structure",
      "required":[
        "Type",
        "PublicIp",
        "BgpAsn"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "Type":{"shape":"GatewayType"},
        "PublicIp":{
          "shape":"String",
          "locationName":"IpAddress"
        },
        "BgpAsn":{"shape":"Integer"}
      }
    },
    "CreateCustomerGatewayResult":{
      "type":"structure",
      "members":{
        "CustomerGateway":{
          "shape":"CustomerGateway",
          "locationName":"customerGateway"
        }
      }
    },
    "CreateDhcpOptionsRequest":{
      "type":"structure",
      "required":["DhcpConfigurations"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "DhcpConfigurations":{
          "shape":"NewDhcpConfigurationList",
          "locationName":"dhcpConfiguration"
        }
      }
    },
    "CreateDhcpOptionsResult":{
      "type":"structure",
      "members":{
        "DhcpOptions":{
          "shape":"DhcpOptions",
          "locationName":"dhcpOptions"
        }
      }
    },
    "CreateFlowLogsRequest":{
      "type":"structure",
      "required":[
        "ResourceIds",
        "ResourceType",
        "TrafficType",
        "LogGroupName",
        "DeliverLogsPermissionArn"
      ],
      "members":{
        "ResourceIds":{
          "shape":"ValueStringList",
          "locationName":"ResourceId"
        },
        "ResourceType":{"shape":"FlowLogsResourceType"},
        "TrafficType":{"shape":"TrafficType"},
        "LogGroupName":{"shape":"String"},
        "DeliverLogsPermissionArn":{"shape":"String"},
        "ClientToken":{"shape":"String"}
      }
    },
    "CreateFlowLogsResult":{
      "type":"structure",
      "members":{
        "FlowLogIds":{
          "shape":"ValueStringList",
          "locationName":"flowLogIdSet"
        },
        "ClientToken":{
          "shape":"String",
          "locationName":"clientToken"
        },
        "Unsuccessful":{
          "shape":"UnsuccessfulItemSet",
          "locationName":"unsuccessful"
        }
      }
    },
    "CreateImageRequest":{
      "type":"structure",
      "required":[
        "InstanceId",
        "Name"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "Name":{
          "shape":"String",
          "locationName":"name"
        },
        "Description":{
          "shape":"String",
          "locationName":"description"
        },
        "NoReboot":{
          "shape":"Boolean",
          "locationName":"noReboot"
        },
        "BlockDeviceMappings":{
          "shape":"BlockDeviceMappingRequestList",
          "locationName":"blockDeviceMapping"
        }
      }
    },
    "CreateImageResult":{
      "type":"structure",
      "members":{
        "ImageId":{
          "shape":"String",
          "locationName":"imageId"
        }
      }
    },
    "CreateInstanceExportTaskRequest":{
      "type":"structure",
      "required":["InstanceId"],
      "members":{
        "Description":{
          "shape":"String",
          "locationName":"description"
        },
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "TargetEnvironment":{
          "shape":"ExportEnvironment",
          "locationName":"targetEnvironment"
        },
        "ExportToS3Task":{
          "shape":"ExportToS3TaskSpecification",
          "locationName":"exportToS3"
        }
      }
    },
    "CreateInstanceExportTaskResult":{
      "type":"structure",
      "members":{
        "ExportTask":{
          "shape":"ExportTask",
          "locationName":"exportTask"
        }
      }
    },
    "CreateInternetGatewayRequest":{
      "type":"structure",
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        }
      }
    },
    "CreateInternetGatewayResult":{
      "type":"structure",
      "members":{
        "InternetGateway":{
          "shape":"InternetGateway",
          "locationName":"internetGateway"
        }
      }
    },
    "CreateKeyPairRequest":{
      "type":"structure",
      "required":["KeyName"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "KeyName":{"shape":"String"}
      }
    },
    "CreateNatGatewayRequest":{
      "type":"structure",
      "required":[
        "SubnetId",
        "AllocationId"
      ],
      "members":{
        "SubnetId":{"shape":"String"},
        "AllocationId":{"shape":"String"},
        "ClientToken":{"shape":"String"}
      }
    },
    "CreateNatGatewayResult":{
      "type":"structure",
      "members":{
        "NatGateway":{
          "shape":"NatGateway",
          "locationName":"natGateway"
        },
        "ClientToken":{
          "shape":"String",
          "locationName":"clientToken"
        }
      }
    },
    "CreateNetworkAclEntryRequest":{
      "type":"structure",
      "required":[
        "NetworkAclId",
        "RuleNumber",
        "Protocol",
        "RuleAction",
        "Egress",
        "CidrBlock"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "NetworkAclId":{
          "shape":"String",
          "locationName":"networkAclId"
        },
        "RuleNumber":{
          "shape":"Integer",
          "locationName":"ruleNumber"
        },
        "Protocol":{
          "shape":"String",
          "locationName":"protocol"
        },
        "RuleAction":{
          "shape":"RuleAction",
          "locationName":"ruleAction"
        },
        "Egress":{
          "shape":"Boolean",
          "locationName":"egress"
        },
        "CidrBlock":{
          "shape":"String",
          "locationName":"cidrBlock"
        },
        "IcmpTypeCode":{
          "shape":"IcmpTypeCode",
          "locationName":"Icmp"
        },
        "PortRange":{
          "shape":"PortRange",
          "locationName":"portRange"
        }
      }
    },
    "CreateNetworkAclRequest":{
      "type":"structure",
      "required":["VpcId"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "VpcId":{
          "shape":"String",
          "locationName":"vpcId"
        }
      }
    },
    "CreateNetworkAclResult":{
      "type":"structure",
      "members":{
        "NetworkAcl":{
          "shape":"NetworkAcl",
          "locationName":"networkAcl"
        }
      }
    },
    "CreateNetworkInterfaceRequest":{
      "type":"structure",
      "required":["SubnetId"],
      "members":{
        "SubnetId":{
          "shape":"String",
          "locationName":"subnetId"
        },
        "Description":{
          "shape":"String",
          "locationName":"description"
        },
        "PrivateIpAddress":{
          "shape":"String",
          "locationName":"privateIpAddress"
        },
        "Groups":{
          "shape":"SecurityGroupIdStringList",
          "locationName":"SecurityGroupId"
        },
        "PrivateIpAddresses":{
          "shape":"PrivateIpAddressSpecificationList",
          "locationName":"privateIpAddresses"
        },
        "SecondaryPrivateIpAddressCount":{
          "shape":"Integer",
          "locationName":"secondaryPrivateIpAddressCount"
        },
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        }
      }
    },
    "CreateNetworkInterfaceResult":{
      "type":"structure",
      "members":{
        "NetworkInterface":{
          "shape":"NetworkInterface",
          "locationName":"networkInterface"
        }
      }
    },
    "CreatePlacementGroupRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "Strategy"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "GroupName":{
          "shape":"String",
          "locationName":"groupName"
        },
        "Strategy":{
          "shape":"PlacementStrategy",
          "locationName":"strategy"
        }
      }
    },
    "CreateReservedInstancesListingRequest":{
      "type":"structure",
      "required":[
        "ReservedInstancesId",
        "InstanceCount",
        "PriceSchedules",
        "ClientToken"
      ],
      "members":{
        "ReservedInstancesId":{
          "shape":"String",
          "locationName":"reservedInstancesId"
        },
        "InstanceCount":{
          "shape":"Integer",
          "locationName":"instanceCount"
        },
        "PriceSchedules":{
          "shape":"PriceScheduleSpecificationList",
          "locationName":"priceSchedules"
        },
        "ClientToken":{
          "shape":"String",
          "locationName":"clientToken"
        }
      }
    },
    "CreateReservedInstancesListingResult":{
      "type":"structure",
      "members":{
        "ReservedInstancesListings":{
          "shape":"ReservedInstancesListingList",
          "locationName":"reservedInstancesListingsSet"
        }
      }
    },
    "CreateRouteRequest":{
      "type":"structure",
      "required":[
        "RouteTableId",
        "DestinationCidrBlock"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "RouteTableId":{
          "shape":"String",
          "locationName":"routeTableId"
        },
        "DestinationCidrBlock":{
          "shape":"String",
          "locationName":"destinationCidrBlock"
        },
        "GatewayId":{
          "shape":"String",
          "locationName":"gatewayId"
        },
        "InstanceId":{
          "shape":"String",
          "locationName":"instanceId"
        },
        "NetworkInterfaceId":{
          "shape":"String",
          "locationName":"networkInterfaceId"
        },
        "VpcPeeringConnectionId":{
          "shape":"String",
          "locationName":"vpcPeeringConnectionId"
        },
        "NatGatewayId":{
          "shape":"String",
          "locationName":"natGatewayId"
        }
      }
    },
    "CreateRouteResult":{
      "type":"structure",
      "members":{
        "Return":{
          "shape":"Boolean",
          "locationName":"return"
        }
      }
    },
    "CreateRouteTableRequest":{
      "type":"structure",
      "required":["VpcId"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "VpcId":{
          "shape":"String",
          "locationName":"vpcId"
        }
      }
    },
    "CreateRouteTableResult":{
      "type":"structure",
      "members":{
        "RouteTable":{
          "shape":"RouteTable",
          "locationName":"routeTable"
        }
      }
    },
    "CreateSecurityGroupRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "Description"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "GroupName":{"shape":"String"},
        "Description":{
          "shape":"String",
          "locationName":"GroupDescription"
        },
        "VpcId":{"shape":"String"}
      }
    },
    "CreateSecurityGroupResult":{
      "type":"structure",
      "members":{
        "GroupId":{
          "shape":"String",
          "locationName":"groupId"
        }
      }
    },
    "CreateSnapshotRequest":{
      "type":"structure",
      "required":["VolumeId"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "VolumeId":{"shape":"String"},
        "Description":{"shape":"String"}
      }
    },
    "CreateSpotDatafeedSubscriptionRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "Bucket":{
          "shape":"String",
          "locationName":"bucket"
        },
        "Prefix":{
          "shape":"String",
          "locationName":"prefix"
        }
      }
    },
    "CreateSpotDatafeedSubscriptionResult":{
      "type":"structure",
      "members":{
        "SpotDatafeedSubscription":{
          "shape":"SpotDatafeedSubscription",
          "locationName":"spotDatafeedSubscription"
        }
      }
    },
    "CreateSubnetRequest":{
      "type":"structure",
      "required":[
        "VpcId",
        "CidrBlock"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "VpcId":{"shape":"String"},
        "CidrBlock":{"shape":"String"},
        "AvailabilityZone":{"shape":"String"}
      }
    },
    "CreateSubnetResult":{
      "type":"structure",
      "members":{
        "Subnet":{
          "shape":"Subnet",
          "locationName":"subnet"
        }
      }
    },
    "CreateTagsRequest":{
      "type":"structure",
      "required":[
        "Resources",
        "Tags"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "Resources":{
          "shape":"ResourceIdList",
          "locationName":"ResourceId"
        },
        "Tags":{
          "shape":"TagList",
          "locationName":"Tag"
        }
      }
    },
    "CreateVolumePermission":{
      "type":"structure",
      "members":{
        "UserId":{
          "shape":"String",
          "locationName":"userId"
        },
        "Group":{
          "shape":"PermissionGroup",
          "locationName":"group"
        }
      }
    },
    "CreateVolumePermissionList":{
      "type":"list",
      "member":{
        "shape":"CreateVolumePermission",
        "locationName":"item"
      }
    },
    "CreateVolumePermissionModifications":{
      "type":"structure",
      "members":{
        "Add":{"shape":"CreateVolumePermissionList"},
        "Remove":{"shape":"CreateVolumePermissionList"}
      }
    },
    "CreateVolumeRequest":{
      "type":"structure",
      "required":["AvailabilityZone"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "Size":{"shape":"Integer"},
        "SnapshotId":{"shape":"String"},
        "AvailabilityZone":{"shape":"String"},
        "VolumeType":{"shape":"VolumeType"},
        "Iops":{"shape":"Integer"},
        "Encrypted":{
          "shape":"Boolean",
          "locationName":"encrypted"
        },
        "KmsKeyId":{"shape":"String"}
      }
    },
    "CreateVpcEndpointRequest":{
      "type":"structure",
      "required":[
        "VpcId",
        "ServiceName"
      ],
      "members":{
        "DryRun":{"shape":"Boolean"},
        "VpcId":{"shape":"String"},
        "ServiceName":{"shape":"String"},
        "PolicyDocument":{"shape":"String"},
        "RouteTableIds":{
          "shape":"ValueStringList",
          "locationName":"RouteTableId"
        },
        "ClientToken":{"shape":"String"}
      }
    },
    "CreateVpcEndpointResult":{
      "type":"structure",
      "members":{
        "VpcEndpoint":{
          "shape":"VpcEndpoint",
          "locationName":"vpcEndpoint"
        },
        "ClientToken":{
          "shape":"String",
          "locationName":"clientToken"
        }
      }
    },
    "CreateVpcPeeringConnectionRequest":{
      "type":"structure",
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "VpcId":{
          "shape":"String",
          "locationName":"vpcId"
        },
        "PeerVpcId":{
          "shape":"String",
          "locationName":"peerVpcId"
        },
        "PeerOwnerId":{
          "shape":"String",
          "locationName":"peerOwnerId"
        }
      }
    },
    "CreateVpcPeeringConnectionResult":{
      "type":"structure",
      "members":{
        "VpcPeeringConnection":{
          "shape":"VpcPeeringConnection",
          "locationName":"vpcPeeringConnection"
        }
      }
    },
    "CreateVpcRequest":{
      "type":"structure",
      "required":["CidrBlock"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "CidrBlock":{"shape":"String"},
        "InstanceTenancy":{
          "shape":"Tenancy",
          "locationName":"instanceTenancy"
        }
      }
    },
    "CreateVpcResult":{
      "type":"structure",
      "members":{
        "Vpc":{
          "shape":"Vpc",
          "locationName":"vpc"
        }
      }
    },
    "CreateVpnConnectionRequest":{
      "type":"structure",
      "required":[
        "Type",
        "CustomerGatewayId",
        "VpnGatewayId"
      ],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "Type":{"shape":"String"},
        "CustomerGatewayId":{"shape":"String"},
        "VpnGatewayId":{"shape":"String"},
        "Options":{
          "shape":"VpnConnectionOptionsSpecification",
          "locationName":"options"
        }
      }
    },
    "CreateVpnConnectionResult":{
      "type":"structure",
      "members":{
        "VpnConnection":{
          "shape":"VpnConnection",
          "locationName":"vpnConnection"
        }
      }
    },
    "CreateVpnConnectionRouteRequest":{
      "type":"structure",
      "required":[
        "VpnConnectionId",
        "DestinationCidrBlock"
      ],
      "members":{
        "VpnConnectionId":{"shape":"String"},
        "DestinationCidrBlock":{"shape":"String"}
      }
    },
    "CreateVpnGatewayRequest":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "Type":{"shape":"GatewayType"},
        "AvailabilityZone":{"shape":"String"}
      }
    },
    "CreateVpnGatewayResult":{
      "type":"structure",
      "members":{
        "VpnGateway":{
          "shape":"VpnGateway",
          "locationName":"vpnGateway"
        }
      }
    },
    "CurrencyCodeValues":{
      "type":"string",
      "enum":["USD"]
    },
    "CustomerGateway":{
      "type":"structure",
      "members":{
        "CustomerGatewayId":{
          "shape":"String",
          "locationName":"customerGatewayId"
        },
        "State":{
          "shape":"String",
          "locationName":"state"
        },
        "Type":{
          "shape":"String",
          "locationName":"type"
        },
        "IpAddress":{
          "shape":"String",
          "locationName":"ipAddress"
        },
        "BgpAsn":{
          "shape":"String",
          "locationName":"bgpAsn"
        },
        "Tags":{
          "shape":"TagList",
          "locationName":"tagSet"
        }
      }
    },
    "CustomerGatewayIdStringList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"CustomerGatewayId"
      }
    },
    "CustomerGatewayList":{
      "type":"list",
      "member":{
        "shape":"CustomerGateway",
        "locationName":"item"
      }
    },
    "DatafeedSubscriptionState":{
      "type":"string",
      "enum":[
        "Active",
        "Inactive"
      ]
    },
    "DateTime":{"type":"timestamp"},
    "DeleteCustomerGatewayRequest":{
      "type":"structure",
      "required":["CustomerGatewayId"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "CustomerGatewayId":{"shape":"String"}
      }
    },
    "DeleteDhcpOptionsRequest":{
      "type":"structure",
      "required":["DhcpOptionsId"],
      "members":{
        "DryRun":{
          "shape":"Boolean",
          "locationName":"dryRun"
        },
        "DhcpOptionsId":{"shape":"String"}
      }
    },
    "DeleteFlowLogsRequest":{
      "type":"structure",
      "required":["FlowLogIds"],
      "members":{
        "FlowLogIds":{
          "shape":"ValueStringList",
          "locationName":"FlowLogId"
        }
      }
    },
    "DeleteFlowLogsResult":{
      "type":"structure",
      "members":{
        "Unsuccessful":{
          "shape":"UnsuccessfulItemSet",
          "locationName":"unsuccessful"
        }
      }
    },
    "DeleteInternetGatewayRequest":{
      "type":"structure",
      "required":["InternetGatewayId"],
      "members":{
        "DryRun":{
[...]
