[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
Wants=network.target


[Service]
EnvironmentFile=-/etc/sysconfig/kubeconfig
EnvironmentFile=-/etc/sysconfig/kubeapiserver
EnvironmentFile=-/etc/sysconfig/kubecontroller-manager
User=kube
ExecStart=/usr/bin/kube-controller-manager \
	    ${KUBE_LOGTOSTDERR} \
	    ${KUBE_LOG_LEVEL} \
	    ${KUBELET_ADDRESSES} \
	    ${KUBE_MASTER} \
	    ${KUBE_CONTROLLER_MANAGER_ARGS}
Restart=on-failure

[Install]
WantedBy=multi-user.target
