[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
Wants=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/kubeconfig
EnvironmentFile=-/etc/sysconfig/kubeapiserver
EnvironmentFile=-/etc/sysconfig/kubescheduler
User=kube
ExecStart=/usr/bin/kube-scheduler \
	    ${KUBE_LOGTOSTDERR} \
	    ${KUBE_LOG_LEVEL} \
	    ${KUBE_MASTER} \
	    ${KUBE_SCHEDULER_ARGS}
Restart=on-failure

[Install]
WantedBy=multi-user.target
