[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
Wants=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/kubeconfig
EnvironmentFile=-/etc/sysconfig/kubeproxy
ExecStart=/usr/bin/kube-proxy \
	    ${KUBE_LOGTOSTDERR} \
	    ${KUBE_LOG_LEVEL} \
	    ${KUBE_ETCD_SERVERS} \
	    ${KUBE_PROXY_ARGS}
Restart=on-failure

[Install]
WantedBy=multi-user.target
