{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-04-13",
    "endpointPrefix":"codecommit",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"CodeCommit",
    "serviceFullName":"AWS CodeCommit",
    "serviceId":"CodeCommit",
    "signatureVersion":"v4",
    "targetPrefix":"CodeCommit_20150413",
    "uid":"codecommit-2015-04-13"
  },
  "operations":{
    "AssociateApprovalRuleTemplateWithRepository":{
      "name":"AssociateApprovalRuleTemplateWithRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateApprovalRuleTemplateWithRepositoryInput"},
      "errors":[
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"},
        {"shape":"MaximumRuleTemplatesAssociatedWithRepositoryException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "BatchAssociateApprovalRuleTemplateWithRepositories":{
      "name":"BatchAssociateApprovalRuleTemplateWithRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchAssociateApprovalRuleTemplateWithRepositoriesInput"},
      "output":{"shape":"BatchAssociateApprovalRuleTemplateWithRepositoriesOutput"},
      "errors":[
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"},
        {"shape":"RepositoryNamesRequiredException"},
        {"shape":"MaximumRepositoryNamesExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "BatchDescribeMergeConflicts":{
      "name":"BatchDescribeMergeConflicts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDescribeMergeConflictsInput"},
      "output":{"shape":"BatchDescribeMergeConflictsOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"MergeOptionRequiredException"},
        {"shape":"InvalidMergeOptionException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"CommitRequiredException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidCommitException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"InvalidMaxConflictFilesException"},
        {"shape":"InvalidMaxMergeHunksException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "BatchDisassociateApprovalRuleTemplateFromRepositories":{
      "name":"BatchDisassociateApprovalRuleTemplateFromRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDisassociateApprovalRuleTemplateFromRepositoriesInput"},
      "output":{"shape":"BatchDisassociateApprovalRuleTemplateFromRepositoriesOutput"},
      "errors":[
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"},
        {"shape":"RepositoryNamesRequiredException"},
        {"shape":"MaximumRepositoryNamesExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "BatchGetCommits":{
      "name":"BatchGetCommits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetCommitsInput"},
      "output":{"shape":"BatchGetCommitsOutput"},
      "errors":[
        {"shape":"CommitIdsListRequiredException"},
        {"shape":"CommitIdsLimitExceededException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "BatchGetRepositories":{
      "name":"BatchGetRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetRepositoriesInput"},
      "output":{"shape":"BatchGetRepositoriesOutput"},
      "errors":[
        {"shape":"RepositoryNamesRequiredException"},
        {"shape":"MaximumRepositoryNamesExceededException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "CreateApprovalRuleTemplate":{
      "name":"CreateApprovalRuleTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApprovalRuleTemplateInput"},
      "output":{"shape":"CreateApprovalRuleTemplateOutput"},
      "errors":[
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateNameAlreadyExistsException"},
        {"shape":"ApprovalRuleTemplateContentRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateContentException"},
        {"shape":"InvalidApprovalRuleTemplateDescriptionException"},
        {"shape":"NumberOfRuleTemplatesExceededException"}
      ]
    },
    "CreateBranch":{
      "name":"CreateBranch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBranchInput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"BranchNameExistsException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"CommitIdRequiredException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "CreateCommit":{
      "name":"CreateCommit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCommitInput"},
      "output":{"shape":"CreateCommitOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"ParentCommitIdRequiredException"},
        {"shape":"InvalidParentCommitIdException"},
        {"shape":"ParentCommitDoesNotExistException"},
        {"shape":"ParentCommitIdOutdatedException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"BranchDoesNotExistException"},
        {"shape":"BranchNameIsTagNameException"},
        {"shape":"FileEntryRequiredException"},
        {"shape":"MaximumFileEntriesExceededException"},
        {"shape":"PutFileEntryConflictException"},
        {"shape":"SourceFileOrContentRequiredException"},
        {"shape":"FileContentAndSourceFileSpecifiedException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"SamePathRequestException"},
        {"shape":"FileDoesNotExistException"},
        {"shape":"FileContentSizeLimitExceededException"},
        {"shape":"FolderContentSizeLimitExceededException"},
        {"shape":"InvalidDeletionParameterException"},
        {"shape":"RestrictedSourceFileException"},
        {"shape":"FileModeRequiredException"},
        {"shape":"InvalidFileModeException"},
        {"shape":"NameLengthExceededException"},
        {"shape":"InvalidEmailException"},
        {"shape":"CommitMessageLengthExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"NoChangeException"},
        {"shape":"FileNameConflictsWithDirectoryNameException"},
        {"shape":"DirectoryNameConflictsWithFileNameException"},
        {"shape":"FilePathConflictsWithSubmodulePathException"}
      ]
    },
    "CreatePullRequest":{
      "name":"CreatePullRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePullRequestInput"},
      "output":{"shape":"CreatePullRequestOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"ClientRequestTokenRequiredException"},
        {"shape":"InvalidClientRequestTokenException"},
        {"shape":"IdempotencyParameterMismatchException"},
        {"shape":"ReferenceNameRequiredException"},
        {"shape":"InvalidReferenceNameException"},
        {"shape":"ReferenceDoesNotExistException"},
        {"shape":"ReferenceTypeNotSupportedException"},
        {"shape":"TitleRequiredException"},
        {"shape":"InvalidTitleException"},
        {"shape":"InvalidDescriptionException"},
        {"shape":"TargetsRequiredException"},
        {"shape":"InvalidTargetsException"},
        {"shape":"TargetRequiredException"},
        {"shape":"InvalidTargetException"},
        {"shape":"MultipleRepositoriesInPullRequestException"},
        {"shape":"MaximumOpenPullRequestsExceededException"},
        {"shape":"SourceAndDestinationAreSameException"}
      ]
    },
    "CreatePullRequestApprovalRule":{
      "name":"CreatePullRequestApprovalRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePullRequestApprovalRuleInput"},
      "output":{"shape":"CreatePullRequestApprovalRuleOutput"},
      "errors":[
        {"shape":"ApprovalRuleNameRequiredException"},
        {"shape":"InvalidApprovalRuleNameException"},
        {"shape":"ApprovalRuleNameAlreadyExistsException"},
        {"shape":"ApprovalRuleContentRequiredException"},
        {"shape":"InvalidApprovalRuleContentException"},
        {"shape":"NumberOfRulesExceededException"},
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"PullRequestAlreadyClosedException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "CreateRepository":{
      "name":"CreateRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRepositoryInput"},
      "output":{"shape":"CreateRepositoryOutput"},
      "errors":[
        {"shape":"RepositoryNameExistsException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"InvalidRepositoryDescriptionException"},
        {"shape":"RepositoryLimitExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"InvalidTagsMapException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidSystemTagUsageException"},
        {"shape":"TagPolicyException"}
      ]
    },
    "CreateUnreferencedMergeCommit":{
      "name":"CreateUnreferencedMergeCommit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUnreferencedMergeCommitInput"},
      "output":{"shape":"CreateUnreferencedMergeCommitOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"CommitRequiredException"},
        {"shape":"InvalidCommitException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"MergeOptionRequiredException"},
        {"shape":"InvalidMergeOptionException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"InvalidConflictResolutionException"},
        {"shape":"ManualMergeRequiredException"},
        {"shape":"MaximumConflictResolutionEntriesExceededException"},
        {"shape":"MultipleConflictResolutionEntriesException"},
        {"shape":"ReplacementTypeRequiredException"},
        {"shape":"InvalidReplacementTypeException"},
        {"shape":"ReplacementContentRequiredException"},
        {"shape":"InvalidReplacementContentException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"FileContentSizeLimitExceededException"},
        {"shape":"FolderContentSizeLimitExceededException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"ConcurrentReferenceUpdateException"},
        {"shape":"FileModeRequiredException"},
        {"shape":"InvalidFileModeException"},
        {"shape":"NameLengthExceededException"},
        {"shape":"InvalidEmailException"},
        {"shape":"CommitMessageLengthExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "DeleteApprovalRuleTemplate":{
      "name":"DeleteApprovalRuleTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApprovalRuleTemplateInput"},
      "output":{"shape":"DeleteApprovalRuleTemplateOutput"},
      "errors":[
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateInUseException"}
      ]
    },
    "DeleteBranch":{
      "name":"DeleteBranch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBranchInput"},
      "output":{"shape":"DeleteBranchOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"DefaultBranchCannotBeDeletedException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "DeleteCommentContent":{
      "name":"DeleteCommentContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCommentContentInput"},
      "output":{"shape":"DeleteCommentContentOutput"},
      "errors":[
        {"shape":"CommentDoesNotExistException"},
        {"shape":"CommentIdRequiredException"},
        {"shape":"InvalidCommentIdException"},
        {"shape":"CommentDeletedException"}
      ]
    },
    "DeleteFile":{
      "name":"DeleteFile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFileInput"},
      "output":{"shape":"DeleteFileOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"ParentCommitIdRequiredException"},
        {"shape":"InvalidParentCommitIdException"},
        {"shape":"ParentCommitDoesNotExistException"},
        {"shape":"ParentCommitIdOutdatedException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"FileDoesNotExistException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"BranchDoesNotExistException"},
        {"shape":"BranchNameIsTagNameException"},
        {"shape":"NameLengthExceededException"},
        {"shape":"InvalidEmailException"},
        {"shape":"CommitMessageLengthExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "DeletePullRequestApprovalRule":{
      "name":"DeletePullRequestApprovalRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePullRequestApprovalRuleInput"},
      "output":{"shape":"DeletePullRequestApprovalRuleOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"PullRequestAlreadyClosedException"},
        {"shape":"ApprovalRuleNameRequiredException"},
        {"shape":"InvalidApprovalRuleNameException"},
        {"shape":"CannotDeleteApprovalRuleFromTemplateException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "DeleteRepository":{
      "name":"DeleteRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRepositoryInput"},
      "output":{"shape":"DeleteRepositoryOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "DescribeMergeConflicts":{
      "name":"DescribeMergeConflicts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMergeConflictsInput"},
      "output":{"shape":"DescribeMergeConflictsOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"MergeOptionRequiredException"},
        {"shape":"InvalidMergeOptionException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"CommitRequiredException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidCommitException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"FileDoesNotExistException"},
        {"shape":"InvalidMaxMergeHunksException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "DescribePullRequestEvents":{
      "name":"DescribePullRequestEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePullRequestEventsInput"},
      "output":{"shape":"DescribePullRequestEventsOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidPullRequestEventTypeException"},
        {"shape":"InvalidActorArnException"},
        {"shape":"ActorDoesNotExistException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "DisassociateApprovalRuleTemplateFromRepository":{
      "name":"DisassociateApprovalRuleTemplateFromRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateApprovalRuleTemplateFromRepositoryInput"},
      "errors":[
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "EvaluatePullRequestApprovalRules":{
      "name":"EvaluatePullRequestApprovalRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EvaluatePullRequestApprovalRulesInput"},
      "output":{"shape":"EvaluatePullRequestApprovalRulesOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidRevisionIdException"},
        {"shape":"RevisionIdRequiredException"},
        {"shape":"RevisionNotCurrentException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetApprovalRuleTemplate":{
      "name":"GetApprovalRuleTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetApprovalRuleTemplateInput"},
      "output":{"shape":"GetApprovalRuleTemplateOutput"},
      "errors":[
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"}
      ]
    },
    "GetBlob":{
      "name":"GetBlob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBlobInput"},
      "output":{"shape":"GetBlobOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"BlobIdRequiredException"},
        {"shape":"InvalidBlobIdException"},
        {"shape":"BlobIdDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"FileTooLargeException"}
      ]
    },
    "GetBranch":{
      "name":"GetBranch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBranchInput"},
      "output":{"shape":"GetBranchOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"BranchDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetComment":{
      "name":"GetComment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCommentInput"},
      "output":{"shape":"GetCommentOutput"},
      "errors":[
        {"shape":"CommentDoesNotExistException"},
        {"shape":"CommentDeletedException"},
        {"shape":"CommentIdRequiredException"},
        {"shape":"InvalidCommentIdException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetCommentReactions":{
      "name":"GetCommentReactions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCommentReactionsInput"},
      "output":{"shape":"GetCommentReactionsOutput"},
      "errors":[
        {"shape":"CommentDoesNotExistException"},
        {"shape":"CommentIdRequiredException"},
        {"shape":"InvalidCommentIdException"},
        {"shape":"InvalidReactionUserArnException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"CommentDeletedException"}
      ]
    },
    "GetCommentsForComparedCommit":{
      "name":"GetCommentsForComparedCommit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCommentsForComparedCommitInput"},
      "output":{"shape":"GetCommentsForComparedCommitOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"CommitIdRequiredException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetCommentsForPullRequest":{
      "name":"GetCommentsForPullRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCommentsForPullRequestInput"},
      "output":{"shape":"GetCommentsForPullRequestOutput"},
      "errors":[
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"CommitIdRequiredException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"RepositoryNotAssociatedWithPullRequestException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetCommit":{
      "name":"GetCommit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCommitInput"},
      "output":{"shape":"GetCommitOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"CommitIdRequiredException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"CommitIdDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetDifferences":{
      "name":"GetDifferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDifferencesInput"},
      "output":{"shape":"GetDifferencesOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"CommitRequiredException"},
        {"shape":"InvalidCommitException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidPathException"},
        {"shape":"PathDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetFile":{
      "name":"GetFile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFileInput"},
      "output":{"shape":"GetFileOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidCommitException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"FileDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"FileTooLargeException"}
      ]
    },
    "GetFolder":{
      "name":"GetFolder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFolderInput"},
      "output":{"shape":"GetFolderOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidCommitException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"FolderDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetMergeCommit":{
      "name":"GetMergeCommit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMergeCommitInput"},
      "output":{"shape":"GetMergeCommitOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"CommitRequiredException"},
        {"shape":"InvalidCommitException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetMergeConflicts":{
      "name":"GetMergeConflicts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMergeConflictsInput"},
      "output":{"shape":"GetMergeConflictsOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"MergeOptionRequiredException"},
        {"shape":"InvalidMergeOptionException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"CommitRequiredException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidCommitException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"InvalidMaxConflictFilesException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidDestinationCommitSpecifierException"},
        {"shape":"InvalidSourceCommitSpecifierException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetMergeOptions":{
      "name":"GetMergeOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMergeOptionsInput"},
      "output":{"shape":"GetMergeOptionsOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"CommitRequiredException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidCommitException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetPullRequest":{
      "name":"GetPullRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPullRequestInput"},
      "output":{"shape":"GetPullRequestOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetPullRequestApprovalStates":{
      "name":"GetPullRequestApprovalStates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPullRequestApprovalStatesInput"},
      "output":{"shape":"GetPullRequestApprovalStatesOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidRevisionIdException"},
        {"shape":"RevisionIdRequiredException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetPullRequestOverrideState":{
      "name":"GetPullRequestOverrideState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPullRequestOverrideStateInput"},
      "output":{"shape":"GetPullRequestOverrideStateOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidRevisionIdException"},
        {"shape":"RevisionIdRequiredException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetRepository":{
      "name":"GetRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRepositoryInput"},
      "output":{"shape":"GetRepositoryOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "GetRepositoryTriggers":{
      "name":"GetRepositoryTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRepositoryTriggersInput"},
      "output":{"shape":"GetRepositoryTriggersOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "ListApprovalRuleTemplates":{
      "name":"ListApprovalRuleTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApprovalRuleTemplatesInput"},
      "output":{"shape":"ListApprovalRuleTemplatesOutput"},
      "errors":[
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidContinuationTokenException"}
      ]
    },
    "ListAssociatedApprovalRuleTemplatesForRepository":{
      "name":"ListAssociatedApprovalRuleTemplatesForRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociatedApprovalRuleTemplatesForRepositoryInput"},
      "output":{"shape":"ListAssociatedApprovalRuleTemplatesForRepositoryOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "ListBranches":{
      "name":"ListBranches",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBranchesInput"},
      "output":{"shape":"ListBranchesOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"InvalidContinuationTokenException"}
      ]
    },
    "ListPullRequests":{
      "name":"ListPullRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPullRequestsInput"},
      "output":{"shape":"ListPullRequestsOutput"},
      "errors":[
        {"shape":"InvalidPullRequestStatusException"},
        {"shape":"InvalidAuthorArnException"},
        {"shape":"AuthorDoesNotExistException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "ListRepositories":{
      "name":"ListRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRepositoriesInput"},
      "output":{"shape":"ListRepositoriesOutput"},
      "errors":[
        {"shape":"InvalidSortByException"},
        {"shape":"InvalidOrderException"},
        {"shape":"InvalidContinuationTokenException"}
      ]
    },
    "ListRepositoriesForApprovalRuleTemplate":{
      "name":"ListRepositoriesForApprovalRuleTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRepositoriesForApprovalRuleTemplateInput"},
      "output":{"shape":"ListRepositoriesForApprovalRuleTemplateOutput"},
      "errors":[
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidContinuationTokenException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"ResourceArnRequiredException"},
        {"shape":"InvalidResourceArnException"}
      ]
    },
    "MergeBranchesByFastForward":{
      "name":"MergeBranchesByFastForward",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MergeBranchesByFastForwardInput"},
      "output":{"shape":"MergeBranchesByFastForwardOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"CommitRequiredException"},
        {"shape":"InvalidCommitException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidTargetBranchException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"BranchNameIsTagNameException"},
        {"shape":"BranchDoesNotExistException"},
        {"shape":"ManualMergeRequiredException"},
        {"shape":"ConcurrentReferenceUpdateException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "MergeBranchesBySquash":{
      "name":"MergeBranchesBySquash",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MergeBranchesBySquashInput"},
      "output":{"shape":"MergeBranchesBySquashOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"CommitRequiredException"},
        {"shape":"InvalidCommitException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidTargetBranchException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"BranchNameIsTagNameException"},
        {"shape":"BranchDoesNotExistException"},
        {"shape":"ManualMergeRequiredException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"InvalidConflictResolutionException"},
        {"shape":"MaximumConflictResolutionEntriesExceededException"},
        {"shape":"MultipleConflictResolutionEntriesException"},
        {"shape":"ReplacementTypeRequiredException"},
        {"shape":"InvalidReplacementTypeException"},
        {"shape":"ReplacementContentRequiredException"},
        {"shape":"InvalidReplacementContentException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"FileContentSizeLimitExceededException"},
        {"shape":"FolderContentSizeLimitExceededException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"FileModeRequiredException"},
        {"shape":"InvalidFileModeException"},
        {"shape":"NameLengthExceededException"},
        {"shape":"InvalidEmailException"},
        {"shape":"CommitMessageLengthExceededException"},
        {"shape":"ConcurrentReferenceUpdateException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "MergeBranchesByThreeWay":{
      "name":"MergeBranchesByThreeWay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MergeBranchesByThreeWayInput"},
      "output":{"shape":"MergeBranchesByThreeWayOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"CommitRequiredException"},
        {"shape":"InvalidCommitException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidTargetBranchException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"BranchNameIsTagNameException"},
        {"shape":"BranchDoesNotExistException"},
        {"shape":"ManualMergeRequiredException"},
        {"shape":"ConcurrentReferenceUpdateException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"InvalidConflictResolutionException"},
        {"shape":"MaximumConflictResolutionEntriesExceededException"},
        {"shape":"MultipleConflictResolutionEntriesException"},
        {"shape":"ReplacementTypeRequiredException"},
        {"shape":"InvalidReplacementTypeException"},
        {"shape":"ReplacementContentRequiredException"},
        {"shape":"InvalidReplacementContentException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"FileContentSizeLimitExceededException"},
        {"shape":"FolderContentSizeLimitExceededException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"FileModeRequiredException"},
        {"shape":"InvalidFileModeException"},
        {"shape":"NameLengthExceededException"},
        {"shape":"InvalidEmailException"},
        {"shape":"CommitMessageLengthExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "MergePullRequestByFastForward":{
      "name":"MergePullRequestByFastForward",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MergePullRequestByFastForwardInput"},
      "output":{"shape":"MergePullRequestByFastForwardOutput"},
      "errors":[
        {"shape":"ManualMergeRequiredException"},
        {"shape":"PullRequestAlreadyClosedException"},
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"TipOfSourceReferenceIsDifferentException"},
        {"shape":"ReferenceDoesNotExistException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"RepositoryNotAssociatedWithPullRequestException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"ConcurrentReferenceUpdateException"},
        {"shape":"PullRequestApprovalRulesNotSatisfiedException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "MergePullRequestBySquash":{
      "name":"MergePullRequestBySquash",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MergePullRequestBySquashInput"},
      "output":{"shape":"MergePullRequestBySquashOutput"},
      "errors":[
        {"shape":"PullRequestAlreadyClosedException"},
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"ManualMergeRequiredException"},
        {"shape":"TipOfSourceReferenceIsDifferentException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"NameLengthExceededException"},
        {"shape":"InvalidEmailException"},
        {"shape":"CommitMessageLengthExceededException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"InvalidConflictResolutionException"},
        {"shape":"ReplacementTypeRequiredException"},
        {"shape":"InvalidReplacementTypeException"},
        {"shape":"MultipleConflictResolutionEntriesException"},
        {"shape":"ReplacementContentRequiredException"},
        {"shape":"MaximumConflictResolutionEntriesExceededException"},
        {"shape":"ConcurrentReferenceUpdateException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"InvalidFileModeException"},
        {"shape":"InvalidReplacementContentException"},
        {"shape":"FileContentSizeLimitExceededException"},
        {"shape":"FolderContentSizeLimitExceededException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"RepositoryNotAssociatedWithPullRequestException"},
        {"shape":"PullRequestApprovalRulesNotSatisfiedException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "MergePullRequestByThreeWay":{
      "name":"MergePullRequestByThreeWay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MergePullRequestByThreeWayInput"},
      "output":{"shape":"MergePullRequestByThreeWayOutput"},
      "errors":[
        {"shape":"PullRequestAlreadyClosedException"},
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"ManualMergeRequiredException"},
        {"shape":"TipOfSourceReferenceIsDifferentException"},
        {"shape":"TipsDivergenceExceededException"},
        {"shape":"NameLengthExceededException"},
        {"shape":"InvalidEmailException"},
        {"shape":"CommitMessageLengthExceededException"},
        {"shape":"InvalidConflictDetailLevelException"},
        {"shape":"InvalidConflictResolutionStrategyException"},
        {"shape":"InvalidConflictResolutionException"},
        {"shape":"ReplacementTypeRequiredException"},
        {"shape":"InvalidReplacementTypeException"},
        {"shape":"MultipleConflictResolutionEntriesException"},
        {"shape":"ReplacementContentRequiredException"},
        {"shape":"MaximumConflictResolutionEntriesExceededException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"InvalidFileModeException"},
        {"shape":"InvalidReplacementContentException"},
        {"shape":"FileContentSizeLimitExceededException"},
        {"shape":"FolderContentSizeLimitExceededException"},
        {"shape":"MaximumFileContentToLoadExceededException"},
        {"shape":"MaximumItemsToCompareExceededException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"RepositoryNotAssociatedWithPullRequestException"},
        {"shape":"ConcurrentReferenceUpdateException"},
        {"shape":"PullRequestApprovalRulesNotSatisfiedException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "OverridePullRequestApprovalRules":{
      "name":"OverridePullRequestApprovalRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"OverridePullRequestApprovalRulesInput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidRevisionIdException"},
        {"shape":"RevisionIdRequiredException"},
        {"shape":"InvalidOverrideStatusException"},
        {"shape":"OverrideStatusRequiredException"},
        {"shape":"OverrideAlreadySetException"},
        {"shape":"RevisionNotCurrentException"},
        {"shape":"PullRequestAlreadyClosedException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "PostCommentForComparedCommit":{
      "name":"PostCommentForComparedCommit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PostCommentForComparedCommitInput"},
      "output":{"shape":"PostCommentForComparedCommitOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"ClientRequestTokenRequiredException"},
        {"shape":"InvalidClientRequestTokenException"},
        {"shape":"IdempotencyParameterMismatchException"},
        {"shape":"CommentContentRequiredException"},
        {"shape":"CommentContentSizeLimitExceededException"},
        {"shape":"InvalidFileLocationException"},
        {"shape":"InvalidRelativeFileVersionEnumException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidFilePositionException"},
        {"shape":"CommitIdRequiredException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"BeforeCommitIdAndAfterCommitIdAreSameException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidPathException"},
        {"shape":"PathDoesNotExistException"},
        {"shape":"PathRequiredException"}
      ],
      "idempotent":true
    },
    "PostCommentForPullRequest":{
      "name":"PostCommentForPullRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PostCommentForPullRequestInput"},
      "output":{"shape":"PostCommentForPullRequestOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"RepositoryNotAssociatedWithPullRequestException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"ClientRequestTokenRequiredException"},
        {"shape":"InvalidClientRequestTokenException"},
        {"shape":"IdempotencyParameterMismatchException"},
        {"shape":"CommentContentRequiredException"},
        {"shape":"CommentContentSizeLimitExceededException"},
        {"shape":"InvalidFileLocationException"},
        {"shape":"InvalidRelativeFileVersionEnumException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidFilePositionException"},
        {"shape":"CommitIdRequiredException"},
        {"shape":"InvalidCommitIdException"},
        {"shape":"BeforeCommitIdAndAfterCommitIdAreSameException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"CommitDoesNotExistException"},
        {"shape":"InvalidPathException"},
        {"shape":"PathDoesNotExistException"},
        {"shape":"PathRequiredException"}
      ],
      "idempotent":true
    },
    "PostCommentReply":{
      "name":"PostCommentReply",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PostCommentReplyInput"},
      "output":{"shape":"PostCommentReplyOutput"},
      "errors":[
        {"shape":"ClientRequestTokenRequiredException"},
        {"shape":"InvalidClientRequestTokenException"},
        {"shape":"IdempotencyParameterMismatchException"},
        {"shape":"CommentContentRequiredException"},
        {"shape":"CommentContentSizeLimitExceededException"},
        {"shape":"CommentDoesNotExistException"},
        {"shape":"CommentIdRequiredException"},
        {"shape":"InvalidCommentIdException"}
      ],
      "idempotent":true
    },
    "PutCommentReaction":{
      "name":"PutCommentReaction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutCommentReactionInput"},
      "errors":[
        {"shape":"CommentDoesNotExistException"},
        {"shape":"CommentIdRequiredException"},
        {"shape":"InvalidCommentIdException"},
        {"shape":"InvalidReactionValueException"},
        {"shape":"ReactionValueRequiredException"},
        {"shape":"ReactionLimitExceededException"},
        {"shape":"CommentDeletedException"}
      ]
    },
    "PutFile":{
      "name":"PutFile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutFileInput"},
      "output":{"shape":"PutFileOutput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"ParentCommitIdRequiredException"},
        {"shape":"InvalidParentCommitIdException"},
        {"shape":"ParentCommitDoesNotExistException"},
        {"shape":"ParentCommitIdOutdatedException"},
        {"shape":"FileContentRequiredException"},
        {"shape":"FileContentSizeLimitExceededException"},
        {"shape":"FolderContentSizeLimitExceededException"},
        {"shape":"PathRequiredException"},
        {"shape":"InvalidPathException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"BranchDoesNotExistException"},
        {"shape":"BranchNameIsTagNameException"},
        {"shape":"InvalidFileModeException"},
        {"shape":"NameLengthExceededException"},
        {"shape":"InvalidEmailException"},
        {"shape":"CommitMessageLengthExceededException"},
        {"shape":"InvalidDeletionParameterException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"},
        {"shape":"SameFileContentException"},
        {"shape":"FileNameConflictsWithDirectoryNameException"},
        {"shape":"DirectoryNameConflictsWithFileNameException"},
        {"shape":"FilePathConflictsWithSubmodulePathException"}
      ]
    },
    "PutRepositoryTriggers":{
      "name":"PutRepositoryTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRepositoryTriggersInput"},
      "output":{"shape":"PutRepositoryTriggersOutput"},
      "errors":[
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryTriggersListRequiredException"},
        {"shape":"MaximumRepositoryTriggersExceededException"},
        {"shape":"InvalidRepositoryTriggerNameException"},
        {"shape":"InvalidRepositoryTriggerDestinationArnException"},
        {"shape":"InvalidRepositoryTriggerRegionException"},
        {"shape":"InvalidRepositoryTriggerCustomDataException"},
        {"shape":"MaximumBranchesExceededException"},
        {"shape":"InvalidRepositoryTriggerBranchNameException"},
        {"shape":"InvalidRepositoryTriggerEventsException"},
        {"shape":"RepositoryTriggerNameRequiredException"},
        {"shape":"RepositoryTriggerDestinationArnRequiredException"},
        {"shape":"RepositoryTriggerBranchNameListRequiredException"},
        {"shape":"RepositoryTriggerEventsListRequiredException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceInput"},
      "errors":[
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"ResourceArnRequiredException"},
        {"shape":"InvalidResourceArnException"},
        {"shape":"TagsMapRequiredException"},
        {"shape":"InvalidTagsMapException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidSystemTagUsageException"},
        {"shape":"TagPolicyException"}
      ]
    },
    "TestRepositoryTriggers":{
      "name":"TestRepositoryTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestRepositoryTriggersInput"},
      "output":{"shape":"TestRepositoryTriggersOutput"},
      "errors":[
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"RepositoryTriggersListRequiredException"},
        {"shape":"MaximumRepositoryTriggersExceededException"},
        {"shape":"InvalidRepositoryTriggerNameException"},
        {"shape":"InvalidRepositoryTriggerDestinationArnException"},
        {"shape":"InvalidRepositoryTriggerRegionException"},
        {"shape":"InvalidRepositoryTriggerCustomDataException"},
        {"shape":"MaximumBranchesExceededException"},
        {"shape":"InvalidRepositoryTriggerBranchNameException"},
        {"shape":"InvalidRepositoryTriggerEventsException"},
        {"shape":"RepositoryTriggerNameRequiredException"},
        {"shape":"RepositoryTriggerDestinationArnRequiredException"},
        {"shape":"RepositoryTriggerBranchNameListRequiredException"},
        {"shape":"RepositoryTriggerEventsListRequiredException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceInput"},
      "errors":[
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"ResourceArnRequiredException"},
        {"shape":"InvalidResourceArnException"},
        {"shape":"TagKeysListRequiredException"},
        {"shape":"InvalidTagKeysListException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidSystemTagUsageException"},
        {"shape":"TagPolicyException"}
      ]
    },
    "UpdateApprovalRuleTemplateContent":{
      "name":"UpdateApprovalRuleTemplateContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApprovalRuleTemplateContentInput"},
      "output":{"shape":"UpdateApprovalRuleTemplateContentOutput"},
      "errors":[
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"},
        {"shape":"InvalidApprovalRuleTemplateContentException"},
        {"shape":"InvalidRuleContentSha256Exception"},
        {"shape":"ApprovalRuleTemplateContentRequiredException"}
      ]
    },
    "UpdateApprovalRuleTemplateDescription":{
      "name":"UpdateApprovalRuleTemplateDescription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApprovalRuleTemplateDescriptionInput"},
      "output":{"shape":"UpdateApprovalRuleTemplateDescriptionOutput"},
      "errors":[
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"},
        {"shape":"InvalidApprovalRuleTemplateDescriptionException"}
      ]
    },
    "UpdateApprovalRuleTemplateName":{
      "name":"UpdateApprovalRuleTemplateName",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApprovalRuleTemplateNameInput"},
      "output":{"shape":"UpdateApprovalRuleTemplateNameOutput"},
      "errors":[
        {"shape":"InvalidApprovalRuleTemplateNameException"},
        {"shape":"ApprovalRuleTemplateNameRequiredException"},
        {"shape":"ApprovalRuleTemplateDoesNotExistException"},
        {"shape":"ApprovalRuleTemplateNameAlreadyExistsException"}
      ]
    },
    "UpdateComment":{
      "name":"UpdateComment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCommentInput"},
      "output":{"shape":"UpdateCommentOutput"},
      "errors":[
        {"shape":"CommentContentRequiredException"},
        {"shape":"CommentContentSizeLimitExceededException"},
        {"shape":"CommentDoesNotExistException"},
        {"shape":"CommentIdRequiredException"},
        {"shape":"InvalidCommentIdException"},
        {"shape":"CommentNotCreatedByCallerException"},
        {"shape":"CommentDeletedException"}
      ]
    },
    "UpdateDefaultBranch":{
      "name":"UpdateDefaultBranch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDefaultBranchInput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"BranchNameRequiredException"},
        {"shape":"InvalidBranchNameException"},
        {"shape":"BranchDoesNotExistException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "UpdatePullRequestApprovalRuleContent":{
      "name":"UpdatePullRequestApprovalRuleContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePullRequestApprovalRuleContentInput"},
      "output":{"shape":"UpdatePullRequestApprovalRuleContentOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"PullRequestAlreadyClosedException"},
        {"shape":"ApprovalRuleNameRequiredException"},
        {"shape":"InvalidApprovalRuleNameException"},
        {"shape":"ApprovalRuleDoesNotExistException"},
        {"shape":"InvalidRuleContentSha256Exception"},
        {"shape":"ApprovalRuleContentRequiredException"},
        {"shape":"InvalidApprovalRuleContentException"},
        {"shape":"CannotModifyApprovalRuleFromTemplateException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "UpdatePullRequestApprovalState":{
      "name":"UpdatePullRequestApprovalState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePullRequestApprovalStateInput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidRevisionIdException"},
        {"shape":"RevisionIdRequiredException"},
        {"shape":"InvalidApprovalStateException"},
        {"shape":"ApprovalStateRequiredException"},
        {"shape":"PullRequestCannotBeApprovedByAuthorException"},
        {"shape":"RevisionNotCurrentException"},
        {"shape":"PullRequestAlreadyClosedException"},
        {"shape":"MaximumNumberOfApprovalsExceededException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "UpdatePullRequestDescription":{
      "name":"UpdatePullRequestDescription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePullRequestDescriptionInput"},
      "output":{"shape":"UpdatePullRequestDescriptionOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidDescriptionException"},
        {"shape":"PullRequestAlreadyClosedException"}
      ]
    },
    "UpdatePullRequestStatus":{
      "name":"UpdatePullRequestStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePullRequestStatusInput"},
      "output":{"shape":"UpdatePullRequestStatusOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"InvalidPullRequestStatusUpdateException"},
        {"shape":"InvalidPullRequestStatusException"},
        {"shape":"PullRequestStatusRequiredException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "UpdatePullRequestTitle":{
      "name":"UpdatePullRequestTitle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePullRequestTitleInput"},
      "output":{"shape":"UpdatePullRequestTitleOutput"},
      "errors":[
        {"shape":"PullRequestDoesNotExistException"},
        {"shape":"InvalidPullRequestIdException"},
        {"shape":"PullRequestIdRequiredException"},
        {"shape":"TitleRequiredException"},
        {"shape":"InvalidTitleException"},
        {"shape":"PullRequestAlreadyClosedException"}
      ]
    },
    "UpdateRepositoryDescription":{
      "name":"UpdateRepositoryDescription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRepositoryDescriptionInput"},
      "errors":[
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"InvalidRepositoryNameException"},
        {"shape":"InvalidRepositoryDescriptionException"},
        {"shape":"EncryptionIntegrityChecksFailedException"},
        {"shape":"EncryptionKeyAccessDeniedException"},
        {"shape":"EncryptionKeyDisabledException"},
        {"shape":"EncryptionKeyNotFoundException"},
        {"shape":"EncryptionKeyUnavailableException"}
      ]
    },
    "UpdateRepositoryName":{
      "name":"UpdateRepositoryName",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRepositoryNameInput"},
      "errors":[
        {"shape":"RepositoryDoesNotExistException"},
        {"shape":"RepositoryNameExistsException"},
        {"shape":"RepositoryNameRequiredException"},
        {"shape":"InvalidRepositoryNameException"}
      ]
    }
  },
  "shapes":{
    "AccountId":{"type":"string"},
    "ActorDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AdditionalData":{"type":"string"},
    "Approval":{
      "type":"structure",
      "members":{
        "userArn":{"shape":"Arn"},
        "approvalState":{"shape":"ApprovalState"}
      }
    },
    "ApprovalList":{
      "type":"list",
      "member":{"shape":"Approval"}
    },
    "ApprovalRule":{
      "type":"structure",
      "members":{
        "approvalRuleId":{"shape":"ApprovalRuleId"},
        "approvalRuleName":{"shape":"ApprovalRuleName"},
        "approvalRuleContent":{"shape":"ApprovalRuleContent"},
        "ruleContentSha256":{"shape":"RuleContentSha256"},
        "lastModifiedDate":{"shape":"LastModifiedDate"},
        "creationDate":{"shape":"CreationDate"},
        "lastModifiedUser":{"shape":"Arn"},
        "originApprovalRuleTemplate":{"shape":"OriginApprovalRuleTemplate"}
      }
    },
    "ApprovalRuleContent":{
      "type":"string",
      "max":3000,
      "min":1
    },
    "ApprovalRuleContentRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRuleDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRuleEventMetadata":{
      "type":"structure",
      "members":{
        "approvalRuleName":{"shape":"ApprovalRuleName"},
        "approvalRuleId":{"shape":"ApprovalRuleId"},
        "approvalRuleContent":{"shape":"ApprovalRuleContent"}
      }
    },
    "ApprovalRuleId":{"type":"string"},
    "ApprovalRuleName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "ApprovalRuleNameAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRuleNameRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRuleOverriddenEventMetadata":{
      "type":"structure",
      "members":{
        "revisionId":{"shape":"RevisionId"},
        "overrideStatus":{"shape":"OverrideStatus"}
      }
    },
    "ApprovalRuleTemplate":{
      "type":"structure",
      "members":{
        "approvalRuleTemplateId":{"shape":"ApprovalRuleTemplateId"},
        "approvalRuleTemplateName":{"shape":"ApprovalRuleTemplateName"},
        "approvalRuleTemplateDescription":{"shape":"ApprovalRuleTemplateDescription"},
        "approvalRuleTemplateContent":{"shape":"ApprovalRuleTemplateContent"},
        "ruleContentSha256":{"shape":"RuleContentSha256"},
        "lastModifiedDate":{"shape":"LastModifiedDate"},
        "creationDate":{"shape":"CreationDate"},
        "lastModifiedUser":{"shape":"Arn"}
      }
    },
    "ApprovalRuleTemplateContent":{
      "type":"string",
      "max":3000,
      "min":1
    },
    "ApprovalRuleTemplateContentRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRuleTemplateDescription":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "ApprovalRuleTemplateDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRuleTemplateId":{"type":"string"},
    "ApprovalRuleTemplateInUseException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRuleTemplateName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "ApprovalRuleTemplateNameAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRuleTemplateNameList":{
      "type":"list",
      "member":{"shape":"ApprovalRuleTemplateName"}
    },
    "ApprovalRuleTemplateNameRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ApprovalRulesList":{
      "type":"list",
      "member":{"shape":"ApprovalRule"}
    },
    "ApprovalRulesNotSatisfiedList":{
      "type":"list",
      "member":{"shape":"ApprovalRuleName"}
    },
    "ApprovalRulesSatisfiedList":{
      "type":"list",
      "member":{"shape":"ApprovalRuleName"}
    },
    "ApprovalState":{
      "type":"string",
      "enum":[
        "APPROVE",
        "REVOKE"
      ]
    },
    "ApprovalStateChangedEventMetadata":{
      "type":"structure",
      "members":{
        "revisionId":{"shape":"RevisionId"},
        "approvalStatus":{"shape":"ApprovalState"}
      }
    },
    "ApprovalStateRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Approved":{"type":"boolean"},
    "Arn":{"type":"string"},
    "AssociateApprovalRuleTemplateWithRepositoryInput":{
      "type":"structure",
      "required":[
        "approvalRuleTemplateName",
        "repositoryName"
      ],
      "members":{
        "approvalRuleTemplateName":{"shape":"ApprovalRuleTemplateName"},
        "repositoryName":{"shape":"RepositoryName"}
      }
    },
    "AuthorDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BatchAssociateApprovalRuleTemplateWithRepositoriesError":{
      "type":"structure",
      "members":{
        "repositoryName":{"shape":"RepositoryName"},
        "errorCode":{"shape":"ErrorCode"},
        "errorMessage":{"shape":"ErrorMessage"}
      }
    },
    "BatchAssociateApprovalRuleTemplateWithRepositoriesErrorsList":{
      "type":"list",
      "member":{"shape":"BatchAssociateApprovalRuleTemplateWithRepositoriesError"}
    },
    "BatchAssociateApprovalRuleTemplateWithRepositoriesInput":{
      "type":"structure",
      "required":[
        "approvalRuleTemplateName",
        "repositoryNames"
      ],
      "members":{
        "approvalRuleTemplateName":{"shape":"ApprovalRuleTemplateName"},
        "repositoryNames":{"shape":"RepositoryNameList"}
      }
    },
    "BatchAssociateApprovalRuleTemplateWithRepositoriesOutput":{
      "type":"structure",
      "required":[
        "associatedRepositoryNames",
        "errors"
      ],
      "members":{
        "associatedRepositoryNames":{"shape":"RepositoryNameList"},
        "errors":{"shape":"BatchAssociateApprovalRuleTemplateWithRepositoriesErrorsList"}
      }
    },
    "BatchDescribeMergeConflictsError":{
      "type":"structure",
      "required":[
        "filePath",
        "exceptionName",
        "message"
      ],
      "members":{
        "filePath":{"shape":"Path"},
        "exceptionName":{"shape":"ExceptionName"},
        "message":{"shape":"Message"}
      }
    },
    "BatchDescribeMergeConflictsErrors":{
      "type":"list",
      "member":{"shape":"BatchDescribeMergeConflictsError"}
    },
    "BatchDescribeMergeConflictsInput":{
      "type":"structure",
      "required":[
        "repositoryName",
        "destinationCommitSpecifier",
        "sourceCommitSpecifier",
        "mergeOption"
      ],
      "members":{
        "repositoryName":{"shape":"RepositoryName"},
        "destinationCommitSpecifier":{"shape":"CommitName"},
        "sourceCommitSpecifier":{"shape":"CommitName"},
        "mergeOption":{"shape":"MergeOptionTypeEnum"},
        "maxMergeHunks":{"shape":"MaxResults"},
        "maxConflictFiles":{"shape":"MaxResults"},
        "filePaths":{"shape":"FilePaths"},
        "conflictDetailLevel":{"shape":"ConflictDetailLevelTypeEnum"},
        "conflictResolutionStrategy":{"shape":"ConflictResolutionStrategyTypeEnum"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "BatchDescribeMergeConflictsOutput":{
      "type":"structure",
      "required":[
        "conflicts",
        "destinationCommitId",
        "sourceCommitId"
      ],
      "members":{
        "conflicts":{"shape":"Conflicts"},
        "nextToken":{"shape":"NextToken"},
        "errors":{"shape":"BatchDescribeMergeConflictsErrors"},
        "destinationCommitId":{"shape":"ObjectId"},
        "sourceCommitId":{"shape":"ObjectId"},
        "baseCommitId":{"shape":"ObjectId"}
      }
    },
    "BatchDisassociateApprovalRuleTemplateFromRepositoriesError":{
      "type":"structure",
      "members":{
        "repositoryName":{"shape":"RepositoryName"},
        "errorCode":{"shape":"ErrorCode"},
        "errorMessage":{"shape":"ErrorMessage"}
      }
    },
    "BatchDisassociateApprovalRuleTemplateFromRepositoriesErrorsList":{
      "type":"list",
      "member":{"shape":"BatchDisassociateApprovalRuleTemplateFromRepositoriesError"}
    },
    "BatchDisassociateApprovalRuleTemplateFromRepositoriesInput":{
      "type":"structure",
      "required":[
        "approvalRuleTemplateName",
        "repositoryNames"
      ],
      "members":{
        "approvalRuleTemplateName":{"shape":"ApprovalRuleTemplateName"},
        "repositoryNames":{"shape":"RepositoryNameList"}
      }
    },
    "BatchDisassociateApprovalRuleTemplateFromRepositoriesOutput":{
      "type":"structure",
      "required":[
        "disassociatedRepositoryNames",
        "errors"
      ],
      "members":{
        "disassociatedRepositoryNames":{"shape":"RepositoryNameList"},
        "errors":{"shape":"BatchDisassociateApprovalRuleTemplateFromRepositoriesErrorsList"}
      }
    },
    "BatchGetCommitsError":{
      "type":"structure",
      "members":{
        "commitId":{"shape":"ObjectId"},
        "errorCode":{"shape":"ErrorCode"},
        "errorMessage":{"shape":"ErrorMessage"}
      }
    },
    "BatchGetCommitsErrorsList":{
      "type":"list",
      "member":{"shape":"BatchGetCommitsError"}
    },
    "BatchGetCommitsInput":{
      "type":"structure",
      "required":[
        "commitIds",
        "repositoryName"
      ],
      "members":{
        "commitIds":{"shape":"CommitIdsInputList"},
        "repositoryName":{"shape":"RepositoryName"}
      }
    },
    "BatchGetCommitsOutput":{
      "type":"structure",
      "members":{
        "commits":{"shape":"CommitObjectsList"},
        "errors":{"shape":"BatchGetCommitsErrorsList"}
      }
    },
    "BatchGetRepositoriesInput":{
      "type":"structure",
      "required":["repositoryNames"],
      "members":{
        "repositoryNames":{"shape":"RepositoryNameList"}
      }
    },
    "BatchGetRepositoriesOutput":{
      "type":"structure",
      "members":{
        "repositories":{"shape":"RepositoryMetadataList"},
        "repositoriesNotFound":{"shape":"RepositoryNotFoundList"}
      }
    },
    "BeforeCommitIdAndAfterCommitIdAreSameException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BlobIdDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BlobIdRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BlobMetadata":{
      "type":"structure",
      "members":{
        "blobId":{"shape":"ObjectId"},
        "path":{"shape":"Path"},
        "mode":{"shape":"Mode"}
      }
    },
    "BranchDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BranchInfo":{
      "type":"structure",
      "members":{
        "branchName":{"shape":"BranchName"},
        "commitId":{"shape":"CommitId"}
      }
    },
    "BranchName":{
      "type":"string",
      "max":256,
      "min":1
    },
    "BranchNameExistsException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BranchNameIsTagNameException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BranchNameList":{
      "type":"list",
      "member":{"shape":"BranchName"}
    },
    "BranchNameRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CallerReactions":{
      "type":"list",
      "member":{"shape":"ReactionValue"}
    },
    "CannotDeleteApprovalRuleFromTemplateException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CannotModifyApprovalRuleFromTemplateException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CapitalBoolean":{"type":"boolean"},
    "ChangeTypeEnum":{
      "type":"string",
      "enum":[
        "A",
        "M",
        "D"
      ]
    },
    "ClientRequestToken":{"type":"string"},
    "ClientRequestTokenRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CloneUrlHttp":{"type":"string"},
    "CloneUrlSsh":{"type":"string"},
    "Comment":{
      "type":"structure",
      "members":{
        "commentId":{"shape":"CommentId"},
        "content":{"shape":"Content"},
        "inReplyTo":{"shape":"CommentId"},
        "creationDate":{"shape":"CreationDate"},
        "lastModifiedDate":{"shape":"LastModifiedDate"},
        "authorArn":{"shape":"Arn"},
        "deleted":{"shape":"IsCommentDeleted"},
        "clientRequestToken":{"shape":"ClientRequestToken"},
        "callerReactions":{"shape":"CallerReactions"},
        "reactionCounts":{"shape":"ReactionCountsMap"}
      }
    },
    "CommentContentRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommentContentSizeLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommentDeletedException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommentDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommentId":{"type":"string"},
    "CommentIdRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommentNotCreatedByCallerException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Comments":{
      "type":"list",
      "member":{"shape":"Comment"}
    },
    "CommentsForComparedCommit":{
      "type":"structure",
      "members":{
        "repositoryName":{"shape":"RepositoryName"},
        "beforeCommitId":{"shape":"CommitId"},
        "afterCommitId":{"shape":"CommitId"},
        "beforeBlobId":{"shape":"ObjectId"},
        "afterBlobId":{"shape":"ObjectId"},
        "location":{"shape":"Location"},
        "comments":{"shape":"Comments"}
      }
    },
    "CommentsForComparedCommitData":{
      "type":"list",
      "member":{"shape":"CommentsForComparedCommit"}
    },
    "CommentsForPullRequest":{
      "type":"structure",
      "members":{
        "pullRequestId":{"shape":"PullRequestId"},
        "repositoryName":{"shape":"RepositoryName"},
        "beforeCommitId":{"shape":"CommitId"},
        "afterCommitId":{"shape":"CommitId"},
        "beforeBlobId":{"shape":"ObjectId"},
        "afterBlobId":{"shape":"ObjectId"},
        "location":{"shape":"Location"},
        "comments":{"shape":"Comments"}
      }
    },
    "CommentsForPullRequestData":{
      "type":"list",
      "member":{"shape":"CommentsForPullRequest"}
    },
    "Commit":{
      "type":"structure",
      "members":{
        "commitId":{"shape":"ObjectId"},
        "treeId":{"shape":"ObjectId"},
        "parents":{"shape":"ParentList"},
        "message":{"shape":"Message"},
        "author":{"shape":"UserInfo"},
        "committer":{"shape":"UserInfo"},
        "additionalData":{"shape":"AdditionalData"}
      }
    },
    "CommitDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommitId":{"type":"string"},
    "CommitIdDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommitIdRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommitIdsInputList":{
      "type":"list",
      "member":{"shape":"ObjectId"}
    },
    "CommitIdsLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommitIdsListRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommitMessageLengthExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CommitName":{"type":"string"},
    "CommitObjectsList":{
      "type":"list",
      "member":{"shape":"Commit"}
    },
    "CommitRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ConcurrentReferenceUpdateException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Conflict":{
      "type":"structure",
      "members":{
        "conflictMetadata":{"shape":"ConflictMetadata"},
        "mergeHunks":{"shape":"MergeHunks"}
      }
    },
    "ConflictDetailLevelTypeEnum":{
      "type":"string",
      "enum":[
        "FILE_LEVEL",
        "LINE_LEVEL"
      ]
    },
    "ConflictMetadata":{
      "type":"structure",
      "members":{
        "filePath":{"shape":"Path"},
        "fileSizes":{"shape":"FileSizes"},
        "fileModes":{"shape":"FileModes"},
        "objectTypes":{"shape":"ObjectTypes"},
        "numberOfConflicts":{"shape":"NumberOfConflicts"},
        "isBinaryFile":{"shape":"IsBinaryFile"},
        "contentConflict":{"shape":"IsContentConflict"},
        "fileModeConflict":{"shape":"IsFileModeConflict"},
        "objectTypeConflict":{"shape":"IsObjectTypeConflict"},
        "mergeOperations":{"shape":"MergeOperations"}
      }
    },
    "ConflictMetadataList":{
      "type":"list",
      "member":{"shape":"ConflictMetadata"}
    },
    "ConflictResolution":{
      "type":"structure",
      "members":{
        "replaceContents":{"shape":"ReplaceContentEntries"},
        "deleteFiles":{"shape":"DeleteFileEntries"},
        "setFileModes":{"shape":"SetFileModeEntries"}
      }
    },
    "ConflictResolutionStrategyTypeEnum":{
      "type":"string",
      "enum":[
        "NONE",
        "ACCEPT_SOURCE",
        "ACCEPT_DESTINATION",
        "AUTOMERGE"
      ]
    },
    "Conflicts":{
      "type":"list",
      "member":{"shape":"Conflict"}
    },
    "Content":{"type":"string"},
    "Count":{"type":"integer"},
    "CreateApprovalRuleTemplateInput":{
      "type":"structure",
      "required":[
        "approvalRuleTemplateName",
        "approvalRuleTemplateContent"
      ],
      "members":{
        "approvalRuleTemplateName":{"shape":"ApprovalRuleTemplateName"},
        "approvalRuleTemplateContent":{"shape":"ApprovalRuleTemplateContent"},
        "approvalRuleTemplateDescription":{"shape":"ApprovalRuleTemplateDescription"}
      }
    },
    "CreateApprovalRuleTemplateOutput":{
      "type":"structure",
      "required":["approvalRuleTemplate"],
      "members":{
        "approvalRuleTemplate":{"shape":"ApprovalRuleTemplate"}
      }
    },
    "CreateBranchInput":{
      "type":"structure",
      "required":[
        "repositoryName",
        "branchName",
        "commitId"
      ],
      "members":{
        "repositoryName":{"shape":"RepositoryName"},
        "branchName":{"shape":"BranchName"},
        "commitId":{"shape":"CommitId"}
      }
    },
    "CreateCommitInput":{
      "type":"structure",
      "required":[
        "repositoryName",
        "branchName"
      ],
      "members":{
        "repositoryName":{"shape":"RepositoryName"},
        "branchName":{"shape":"BranchName"},
        "parentCommitId":{"shape":"CommitId"},
        "authorName":{"shape":"Name"},
        "email":{"shape":"Email"},
        "commitMessage":{"shape":"Message"},
        "keepEmptyFolders":{"shape":"KeepEmptyFolders"},
        "putFiles":{"shape":"PutFileEntries"},
        "deleteFiles":{"shape":"DeleteFileEntries"},
        "setFileModes":{"shape":"SetFileModeEntries"}
      }
    },
    "CreateCommitOutput":{
      "type":"structure",
      "members":{
        "commitId":{"shape":"ObjectId"},
        "treeId":{"shape":"ObjectId"},
        "filesAdded":{"shape":"FilesMetadata"},
        "filesUpdated":{"shape":"FilesMetadata"},
        "filesDeleted":{"shape":"FilesMetadata"}
      }
    },
[...]
