{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2012-12-01",
    "endpointPrefix":"redshift",
    "serviceFullName":"Amazon Redshift",
    "signatureVersion":"v4",
    "xmlNamespace":"http://redshift.amazonaws.com/doc/2012-12-01/",
    "protocol":"query"
  },
  "operations":{
    "AuthorizeClusterSecurityGroupIngress":{
      "name":"AuthorizeClusterSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeClusterSecurityGroupIngressMessage"},
      "output":{
        "shape":"AuthorizeClusterSecurityGroupIngressResult",
        "wrapper":true,
        "resultWrapper":"AuthorizeClusterSecurityGroupIngressResult"
      },
      "errors":[
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterSecurityGroupStateFault",
          "error":{
            "code":"InvalidClusterSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationAlreadyExistsFault",
          "error":{
            "code":"AuthorizationAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationQuotaExceededFault",
          "error":{
            "code":"AuthorizationQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "AuthorizeSnapshotAccess":{
      "name":"AuthorizeSnapshotAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSnapshotAccessMessage"},
      "output":{
        "shape":"AuthorizeSnapshotAccessResult",
        "wrapper":true,
        "resultWrapper":"AuthorizeSnapshotAccessResult"
      },
      "errors":[
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationAlreadyExistsFault",
          "error":{
            "code":"AuthorizationAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationQuotaExceededFault",
          "error":{
            "code":"AuthorizationQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CopyClusterSnapshot":{
      "name":"CopyClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyClusterSnapshotMessage"},
      "output":{
        "shape":"CopyClusterSnapshotResult",
        "wrapper":true,
        "resultWrapper":"CopyClusterSnapshotResult"
      },
      "errors":[
        {
          "shape":"ClusterSnapshotAlreadyExistsFault",
          "error":{
            "code":"ClusterSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterSnapshotStateFault",
          "error":{
            "code":"InvalidClusterSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSnapshotQuotaExceededFault",
          "error":{
            "code":"ClusterSnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterMessage"},
      "output":{
        "shape":"CreateClusterResult",
        "wrapper":true,
        "resultWrapper":"CreateClusterResult"
      },
      "errors":[
        {
          "shape":"ClusterAlreadyExistsFault",
          "error":{
            "code":"ClusterAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InsufficientClusterCapacityFault",
          "error":{
            "code":"InsufficientClusterCapacity",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterQuotaExceededFault",
          "error":{
            "code":"ClusterQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"NumberOfNodesQuotaExceededFault",
          "error":{
            "code":"NumberOfNodesQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"NumberOfNodesPerClusterLimitExceededFault",
          "error":{
            "code":"NumberOfNodesPerClusterLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSubnetGroupNotFoundFault",
          "error":{
            "code":"ClusterSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidVPCNetworkStateFault",
          "error":{
            "code":"InvalidVPCNetworkStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterSubnetGroupStateFault",
          "error":{
            "code":"InvalidClusterSubnetGroupStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmClientCertificateNotFoundFault",
          "error":{
            "code":"HsmClientCertificateNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmConfigurationNotFoundFault",
          "error":{
            "code":"HsmConfigurationNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidElasticIpFault",
          "error":{
            "code":"InvalidElasticIpFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateClusterParameterGroup":{
      "name":"CreateClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterParameterGroupMessage"},
      "output":{
        "shape":"CreateClusterParameterGroupResult",
        "wrapper":true,
        "resultWrapper":"CreateClusterParameterGroupResult"
      },
      "errors":[
        {
          "shape":"ClusterParameterGroupQuotaExceededFault",
          "error":{
            "code":"ClusterParameterGroupQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterParameterGroupAlreadyExistsFault",
          "error":{
            "code":"ClusterParameterGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateClusterSecurityGroup":{
      "name":"CreateClusterSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSecurityGroupMessage"},
      "output":{
        "shape":"CreateClusterSecurityGroupResult",
        "wrapper":true,
        "resultWrapper":"CreateClusterSecurityGroupResult"
      },
      "errors":[
        {
          "shape":"ClusterSecurityGroupAlreadyExistsFault",
          "error":{
            "code":"ClusterSecurityGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSecurityGroupQuotaExceededFault",
          "error":{
            "code":"QuotaExceeded.ClusterSecurityGroup",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateClusterSnapshot":{
      "name":"CreateClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSnapshotMessage"},
      "output":{
        "shape":"CreateClusterSnapshotResult",
        "wrapper":true,
        "resultWrapper":"CreateClusterSnapshotResult"
      },
      "errors":[
        {
          "shape":"ClusterSnapshotAlreadyExistsFault",
          "error":{
            "code":"ClusterSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSnapshotQuotaExceededFault",
          "error":{
            "code":"ClusterSnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateClusterSubnetGroup":{
      "name":"CreateClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSubnetGroupMessage"},
      "output":{
        "shape":"CreateClusterSubnetGroupResult",
        "wrapper":true,
        "resultWrapper":"CreateClusterSubnetGroupResult"
      },
      "errors":[
        {
          "shape":"ClusterSubnetGroupAlreadyExistsFault",
          "error":{
            "code":"ClusterSubnetGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSubnetGroupQuotaExceededFault",
          "error":{
            "code":"ClusterSubnetGroupQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSubnetQuotaExceededFault",
          "error":{
            "code":"ClusterSubnetQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSubscriptionMessage"},
      "output":{
        "shape":"CreateEventSubscriptionResult",
        "wrapper":true,
        "resultWrapper":"CreateEventSubscriptionResult"
      },
      "errors":[
        {
          "shape":"EventSubscriptionQuotaExceededFault",
          "error":{
            "code":"EventSubscriptionQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SubscriptionAlreadyExistFault",
          "error":{
            "code":"SubscriptionAlreadyExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SNSInvalidTopicFault",
          "error":{
            "code":"SNSInvalidTopic",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SNSNoAuthorizationFault",
          "error":{
            "code":"SNSNoAuthorization",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SNSTopicArnNotFoundFault",
          "error":{
            "code":"SNSTopicArnNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SubscriptionEventIdNotFoundFault",
          "error":{
            "code":"SubscriptionEventIdNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SubscriptionCategoryNotFoundFault",
          "error":{
            "code":"SubscriptionCategoryNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SubscriptionSeverityNotFoundFault",
          "error":{
            "code":"SubscriptionSeverityNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SourceNotFoundFault",
          "error":{
            "code":"SourceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateHsmClientCertificate":{
      "name":"CreateHsmClientCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHsmClientCertificateMessage"},
      "output":{
        "shape":"CreateHsmClientCertificateResult",
        "wrapper":true,
        "resultWrapper":"CreateHsmClientCertificateResult"
      },
      "errors":[
        {
          "shape":"HsmClientCertificateAlreadyExistsFault",
          "error":{
            "code":"HsmClientCertificateAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmClientCertificateQuotaExceededFault",
          "error":{
            "code":"HsmClientCertificateQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateHsmConfiguration":{
      "name":"CreateHsmConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHsmConfigurationMessage"},
      "output":{
        "shape":"CreateHsmConfigurationResult",
        "wrapper":true,
        "resultWrapper":"CreateHsmConfigurationResult"
      },
      "errors":[
        {
          "shape":"HsmConfigurationAlreadyExistsFault",
          "error":{
            "code":"HsmConfigurationAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmConfigurationQuotaExceededFault",
          "error":{
            "code":"HsmConfigurationQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateSnapshotCopyGrant":{
      "name":"CreateSnapshotCopyGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotCopyGrantMessage"},
      "output":{
        "shape":"CreateSnapshotCopyGrantResult",
        "wrapper":true,
        "resultWrapper":"CreateSnapshotCopyGrantResult"
      },
      "errors":[
        {
          "shape":"SnapshotCopyGrantAlreadyExistsFault",
          "error":{
            "code":"SnapshotCopyGrantAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SnapshotCopyGrantQuotaExceededFault",
          "error":{
            "code":"SnapshotCopyGrantQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateTags":{
      "name":"CreateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTagsMessage"},
      "errors":[
        {
          "shape":"TagLimitExceededFault",
          "error":{
            "code":"TagLimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundFault",
          "error":{
            "code":"ResourceNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterMessage"},
      "output":{
        "shape":"DeleteClusterResult",
        "wrapper":true,
        "resultWrapper":"DeleteClusterResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSnapshotAlreadyExistsFault",
          "error":{
            "code":"ClusterSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSnapshotQuotaExceededFault",
          "error":{
            "code":"ClusterSnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteClusterParameterGroup":{
      "name":"DeleteClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterParameterGroupMessage"},
      "errors":[
        {
          "shape":"InvalidClusterParameterGroupStateFault",
          "error":{
            "code":"InvalidClusterParameterGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteClusterSecurityGroup":{
      "name":"DeleteClusterSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSecurityGroupMessage"},
      "errors":[
        {
          "shape":"InvalidClusterSecurityGroupStateFault",
          "error":{
            "code":"InvalidClusterSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteClusterSnapshot":{
      "name":"DeleteClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSnapshotMessage"},
      "output":{
        "shape":"DeleteClusterSnapshotResult",
        "wrapper":true,
        "resultWrapper":"DeleteClusterSnapshotResult"
      },
      "errors":[
        {
          "shape":"InvalidClusterSnapshotStateFault",
          "error":{
            "code":"InvalidClusterSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteClusterSubnetGroup":{
      "name":"DeleteClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSubnetGroupMessage"},
      "errors":[
        {
          "shape":"InvalidClusterSubnetGroupStateFault",
          "error":{
            "code":"InvalidClusterSubnetGroupStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterSubnetStateFault",
          "error":{
            "code":"InvalidClusterSubnetStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSubnetGroupNotFoundFault",
          "error":{
            "code":"ClusterSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSubscriptionMessage"},
      "errors":[
        {
          "shape":"SubscriptionNotFoundFault",
          "error":{
            "code":"SubscriptionNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidSubscriptionStateFault",
          "error":{
            "code":"InvalidSubscriptionStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteHsmClientCertificate":{
      "name":"DeleteHsmClientCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHsmClientCertificateMessage"},
      "errors":[
        {
          "shape":"InvalidHsmClientCertificateStateFault",
          "error":{
            "code":"InvalidHsmClientCertificateStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmClientCertificateNotFoundFault",
          "error":{
            "code":"HsmClientCertificateNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteHsmConfiguration":{
      "name":"DeleteHsmConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHsmConfigurationMessage"},
      "errors":[
        {
          "shape":"InvalidHsmConfigurationStateFault",
          "error":{
            "code":"InvalidHsmConfigurationStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmConfigurationNotFoundFault",
          "error":{
            "code":"HsmConfigurationNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteSnapshotCopyGrant":{
      "name":"DeleteSnapshotCopyGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotCopyGrantMessage"},
      "errors":[
        {
          "shape":"InvalidSnapshotCopyGrantStateFault",
          "error":{
            "code":"InvalidSnapshotCopyGrantStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SnapshotCopyGrantNotFoundFault",
          "error":{
            "code":"SnapshotCopyGrantNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsMessage"},
      "errors":[
        {
          "shape":"ResourceNotFoundFault",
          "error":{
            "code":"ResourceNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeClusterParameterGroups":{
      "name":"DescribeClusterParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterParameterGroupsMessage"},
      "output":{
        "shape":"ClusterParameterGroupsMessage",
        "resultWrapper":"DescribeClusterParameterGroupsResult"
      },
      "errors":[
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeClusterParameters":{
      "name":"DescribeClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterParametersMessage"},
      "output":{
        "shape":"ClusterParameterGroupDetails",
        "resultWrapper":"DescribeClusterParametersResult"
      },
      "errors":[
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeClusterSecurityGroups":{
      "name":"DescribeClusterSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSecurityGroupsMessage"},
      "output":{
        "shape":"ClusterSecurityGroupMessage",
        "resultWrapper":"DescribeClusterSecurityGroupsResult"
      },
      "errors":[
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeClusterSnapshots":{
      "name":"DescribeClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSnapshotsMessage"},
      "output":{
        "shape":"SnapshotMessage",
        "resultWrapper":"DescribeClusterSnapshotsResult"
      },
      "errors":[
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeClusterSubnetGroups":{
      "name":"DescribeClusterSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSubnetGroupsMessage"},
      "output":{
        "shape":"ClusterSubnetGroupMessage",
        "resultWrapper":"DescribeClusterSubnetGroupsResult"
      },
      "errors":[
        {
          "shape":"ClusterSubnetGroupNotFoundFault",
          "error":{
            "code":"ClusterSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeClusterVersions":{
      "name":"DescribeClusterVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterVersionsMessage"},
      "output":{
        "shape":"ClusterVersionsMessage",
        "resultWrapper":"DescribeClusterVersionsResult"
      }
    },
    "DescribeClusters":{
      "name":"DescribeClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClustersMessage"},
      "output":{
        "shape":"ClustersMessage",
        "resultWrapper":"DescribeClustersResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeDefaultClusterParameters":{
      "name":"DescribeDefaultClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDefaultClusterParametersMessage"},
      "output":{
        "shape":"DescribeDefaultClusterParametersResult",
        "wrapper":true,
        "resultWrapper":"DescribeDefaultClusterParametersResult"
      }
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventCategoriesMessage"},
      "output":{
        "shape":"EventCategoriesMessage",
        "resultWrapper":"DescribeEventCategoriesResult"
      }
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSubscriptionsMessage"},
      "output":{
        "shape":"EventSubscriptionsMessage",
        "resultWrapper":"DescribeEventSubscriptionsResult"
      },
      "errors":[
        {
          "shape":"SubscriptionNotFoundFault",
          "error":{
            "code":"SubscriptionNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{
        "shape":"EventsMessage",
        "resultWrapper":"DescribeEventsResult"
      }
    },
    "DescribeHsmClientCertificates":{
      "name":"DescribeHsmClientCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHsmClientCertificatesMessage"},
      "output":{
        "shape":"HsmClientCertificateMessage",
        "resultWrapper":"DescribeHsmClientCertificatesResult"
      },
      "errors":[
        {
          "shape":"HsmClientCertificateNotFoundFault",
          "error":{
            "code":"HsmClientCertificateNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeHsmConfigurations":{
      "name":"DescribeHsmConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHsmConfigurationsMessage"},
      "output":{
        "shape":"HsmConfigurationMessage",
        "resultWrapper":"DescribeHsmConfigurationsResult"
      },
      "errors":[
        {
          "shape":"HsmConfigurationNotFoundFault",
          "error":{
            "code":"HsmConfigurationNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeLoggingStatus":{
      "name":"DescribeLoggingStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoggingStatusMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"DescribeLoggingStatusResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeOrderableClusterOptions":{
      "name":"DescribeOrderableClusterOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrderableClusterOptionsMessage"},
      "output":{
        "shape":"OrderableClusterOptionsMessage",
        "resultWrapper":"DescribeOrderableClusterOptionsResult"
      }
    },
    "DescribeReservedNodeOfferings":{
      "name":"DescribeReservedNodeOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedNodeOfferingsMessage"},
      "output":{
        "shape":"ReservedNodeOfferingsMessage",
        "resultWrapper":"DescribeReservedNodeOfferingsResult"
      },
      "errors":[
        {
          "shape":"ReservedNodeOfferingNotFoundFault",
          "error":{
            "code":"ReservedNodeOfferingNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnsupportedOperationFault",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeReservedNodes":{
      "name":"DescribeReservedNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedNodesMessage"},
      "output":{
        "shape":"ReservedNodesMessage",
        "resultWrapper":"DescribeReservedNodesResult"
      },
      "errors":[
        {
          "shape":"ReservedNodeNotFoundFault",
          "error":{
            "code":"ReservedNodeNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeResize":{
      "name":"DescribeResize",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResizeMessage"},
      "output":{
        "shape":"ResizeProgressMessage",
        "resultWrapper":"DescribeResizeResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResizeNotFoundFault",
          "error":{
            "code":"ResizeNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeSnapshotCopyGrants":{
      "name":"DescribeSnapshotCopyGrants",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotCopyGrantsMessage"},
      "output":{
        "shape":"SnapshotCopyGrantMessage",
        "resultWrapper":"DescribeSnapshotCopyGrantsResult"
      },
      "errors":[
        {
          "shape":"SnapshotCopyGrantNotFoundFault",
          "error":{
            "code":"SnapshotCopyGrantNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsMessage"},
      "output":{
        "shape":"TaggedResourceListMessage",
        "resultWrapper":"DescribeTagsResult"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundFault",
          "error":{
            "code":"ResourceNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTagFault",
          "error":{
            "code":"InvalidTagFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DisableLogging":{
      "name":"DisableLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableLoggingMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"DisableLoggingResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DisableSnapshotCopy":{
      "name":"DisableSnapshotCopy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableSnapshotCopyMessage"},
      "output":{
        "shape":"DisableSnapshotCopyResult",
        "wrapper":true,
        "resultWrapper":"DisableSnapshotCopyResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SnapshotCopyAlreadyDisabledFault",
          "error":{
            "code":"SnapshotCopyAlreadyDisabledFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "EnableLogging":{
      "name":"EnableLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableLoggingMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"EnableLoggingResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"BucketNotFoundFault",
          "error":{
            "code":"BucketNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InsufficientS3BucketPolicyFault",
          "error":{
            "code":"InsufficientS3BucketPolicyFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidS3KeyPrefixFault",
          "error":{
            "code":"InvalidS3KeyPrefixFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidS3BucketNameFault",
          "error":{
            "code":"InvalidS3BucketNameFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "EnableSnapshotCopy":{
      "name":"EnableSnapshotCopy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableSnapshotCopyMessage"},
      "output":{
        "shape":"EnableSnapshotCopyResult",
        "wrapper":true,
        "resultWrapper":"EnableSnapshotCopyResult"
      },
      "errors":[
        {
          "shape":"IncompatibleOrderableOptions",
          "error":{
            "code":"IncompatibleOrderableOptions",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"CopyToRegionDisabledFault",
          "error":{
            "code":"CopyToRegionDisabledFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SnapshotCopyAlreadyEnabledFault",
          "error":{
            "code":"SnapshotCopyAlreadyEnabledFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnknownSnapshotCopyRegionFault",
          "error":{
            "code":"UnknownSnapshotCopyRegionFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SnapshotCopyGrantNotFoundFault",
          "error":{
            "code":"SnapshotCopyGrantNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ModifyCluster":{
      "name":"ModifyCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterMessage"},
      "output":{
        "shape":"ModifyClusterResult",
        "wrapper":true,
        "resultWrapper":"ModifyClusterResult"
      },
      "errors":[
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterSecurityGroupStateFault",
          "error":{
            "code":"InvalidClusterSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"NumberOfNodesQuotaExceededFault",
          "error":{
            "code":"NumberOfNodesQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InsufficientClusterCapacityFault",
          "error":{
            "code":"InsufficientClusterCapacity",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnsupportedOptionFault",
          "error":{
            "code":"UnsupportedOptionFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmClientCertificateNotFoundFault",
          "error":{
            "code":"HsmClientCertificateNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmConfigurationNotFoundFault",
          "error":{
            "code":"HsmConfigurationNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterAlreadyExistsFault",
          "error":{
            "code":"ClusterAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ModifyClusterParameterGroup":{
      "name":"ModifyClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterParameterGroupMessage"},
      "output":{
        "shape":"ClusterParameterGroupNameMessage",
        "resultWrapper":"ModifyClusterParameterGroupResult"
      },
      "errors":[
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterParameterGroupStateFault",
          "error":{
            "code":"InvalidClusterParameterGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ModifyClusterSubnetGroup":{
      "name":"ModifyClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterSubnetGroupMessage"},
      "output":{
        "shape":"ModifyClusterSubnetGroupResult",
        "wrapper":true,
        "resultWrapper":"ModifyClusterSubnetGroupResult"
      },
      "errors":[
        {
          "shape":"ClusterSubnetGroupNotFoundFault",
          "error":{
            "code":"ClusterSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSubnetQuotaExceededFault",
          "error":{
            "code":"ClusterSubnetQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SubnetAlreadyInUse",
          "error":{
            "code":"SubnetAlreadyInUse",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ModifyEventSubscription":{
      "name":"ModifyEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEventSubscriptionMessage"},
      "output":{
        "shape":"ModifyEventSubscriptionResult",
        "wrapper":true,
        "resultWrapper":"ModifyEventSubscriptionResult"
      },
      "errors":[
        {
          "shape":"SubscriptionNotFoundFault",
          "error":{
            "code":"SubscriptionNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SNSInvalidTopicFault",
          "error":{
            "code":"SNSInvalidTopic",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SNSNoAuthorizationFault",
          "error":{
            "code":"SNSNoAuthorization",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SNSTopicArnNotFoundFault",
          "error":{
            "code":"SNSTopicArnNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SubscriptionEventIdNotFoundFault",
          "error":{
            "code":"SubscriptionEventIdNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SubscriptionCategoryNotFoundFault",
          "error":{
            "code":"SubscriptionCategoryNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SubscriptionSeverityNotFoundFault",
          "error":{
            "code":"SubscriptionSeverityNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SourceNotFoundFault",
          "error":{
            "code":"SourceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidSubscriptionStateFault",
          "error":{
            "code":"InvalidSubscriptionStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ModifySnapshotCopyRetentionPeriod":{
      "name":"ModifySnapshotCopyRetentionPeriod",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySnapshotCopyRetentionPeriodMessage"},
      "output":{
        "shape":"ModifySnapshotCopyRetentionPeriodResult",
        "wrapper":true,
        "resultWrapper":"ModifySnapshotCopyRetentionPeriodResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"SnapshotCopyDisabledFault",
          "error":{
            "code":"SnapshotCopyDisabledFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "PurchaseReservedNodeOffering":{
      "name":"PurchaseReservedNodeOffering",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PurchaseReservedNodeOfferingMessage"},
      "output":{
        "shape":"PurchaseReservedNodeOfferingResult",
        "wrapper":true,
        "resultWrapper":"PurchaseReservedNodeOfferingResult"
      },
      "errors":[
        {
          "shape":"ReservedNodeOfferingNotFoundFault",
          "error":{
            "code":"ReservedNodeOfferingNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ReservedNodeAlreadyExistsFault",
          "error":{
            "code":"ReservedNodeAlreadyExists",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ReservedNodeQuotaExceededFault",
          "error":{
            "code":"ReservedNodeQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnsupportedOperationFault",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "RebootCluster":{
      "name":"RebootCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootClusterMessage"},
      "output":{
        "shape":"RebootClusterResult",
        "wrapper":true,
        "resultWrapper":"RebootClusterResult"
      },
      "errors":[
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ResetClusterParameterGroup":{
      "name":"ResetClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetClusterParameterGroupMessage"},
      "output":{
        "shape":"ClusterParameterGroupNameMessage",
        "resultWrapper":"ResetClusterParameterGroupResult"
      },
      "errors":[
        {
          "shape":"InvalidClusterParameterGroupStateFault",
          "error":{
            "code":"InvalidClusterParameterGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "RestoreFromClusterSnapshot":{
      "name":"RestoreFromClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreFromClusterSnapshotMessage"},
      "output":{
        "shape":"RestoreFromClusterSnapshotResult",
        "wrapper":true,
        "resultWrapper":"RestoreFromClusterSnapshotResult"
      },
      "errors":[
        {
          "shape":"AccessToSnapshotDeniedFault",
          "error":{
            "code":"AccessToSnapshotDenied",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterAlreadyExistsFault",
          "error":{
            "code":"ClusterAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterQuotaExceededFault",
          "error":{
            "code":"ClusterQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InsufficientClusterCapacityFault",
          "error":{
            "code":"InsufficientClusterCapacity",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterSnapshotStateFault",
          "error":{
            "code":"InvalidClusterSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidRestoreFault",
          "error":{
            "code":"InvalidRestore",
            "httpStatusCode":406,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"NumberOfNodesQuotaExceededFault",
          "error":{
            "code":"NumberOfNodesQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"NumberOfNodesPerClusterLimitExceededFault",
          "error":{
            "code":"NumberOfNodesPerClusterLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidVPCNetworkStateFault",
          "error":{
            "code":"InvalidVPCNetworkStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterSubnetGroupStateFault",
          "error":{
            "code":"InvalidClusterSubnetGroupStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSubnetGroupNotFoundFault",
          "error":{
            "code":"ClusterSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmClientCertificateNotFoundFault",
          "error":{
            "code":"HsmClientCertificateNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"HsmConfigurationNotFoundFault",
          "error":{
            "code":"HsmConfigurationNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidElasticIpFault",
          "error":{
            "code":"InvalidElasticIpFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "RevokeClusterSecurityGroupIngress":{
      "name":"RevokeClusterSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeClusterSecurityGroupIngressMessage"},
      "output":{
        "shape":"RevokeClusterSecurityGroupIngressResult",
        "wrapper":true,
        "resultWrapper":"RevokeClusterSecurityGroupIngressResult"
      },
      "errors":[
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationNotFoundFault",
          "error":{
            "code":"AuthorizationNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterSecurityGroupStateFault",
          "error":{
            "code":"InvalidClusterSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "RevokeSnapshotAccess":{
      "name":"RevokeSnapshotAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeSnapshotAccessMessage"},
      "output":{
        "shape":"RevokeSnapshotAccessResult",
        "wrapper":true,
        "resultWrapper":"RevokeSnapshotAccessResult"
      },
      "errors":[
        {
          "shape":"AccessToSnapshotDeniedFault",
          "error":{
            "code":"AccessToSnapshotDenied",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationNotFoundFault",
          "error":{
            "code":"AuthorizationNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "RotateEncryptionKey":{
      "name":"RotateEncryptionKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RotateEncryptionKeyMessage"},
      "output":{
        "shape":"RotateEncryptionKeyResult",
        "wrapper":true,
        "resultWrapper":"RotateEncryptionKeyResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    }
  },
  "shapes":{
    "AccessToSnapshotDeniedFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AccessToSnapshotDenied",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AccountWithRestoreAccess":{
      "type":"structure",
      "members":{
        "AccountId":{"shape":"String"}
      }
    },
    "AccountsWithRestoreAccessList":{
      "type":"list",
      "member":{
        "shape":"AccountWithRestoreAccess",
        "locationName":"AccountWithRestoreAccess"
      }
    },
    "AuthorizationAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizeClusterSecurityGroupIngressMessage":{
      "type":"structure",
      "required":["ClusterSecurityGroupName"],
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "CIDRIP":{"shape":"String"},
        "EC2SecurityGroupName":{"shape":"String"},
        "EC2SecurityGroupOwnerId":{"shape":"String"}
      }
    },
    "AuthorizeSnapshotAccessMessage":{
      "type":"structure",
      "required":[
        "SnapshotIdentifier",
        "AccountWithRestoreAccess"
      ],
      "members":{
        "SnapshotIdentifier":{"shape":"String"},
        "SnapshotClusterIdentifier":{"shape":"String"},
        "AccountWithRestoreAccess":{"shape":"String"}
      }
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"}
      },
      "wrapper":true
    },
    "AvailabilityZoneList":{
      "type":"list",
      "member":{
        "shape":"AvailabilityZone",
        "locationName":"AvailabilityZone"
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanOptional":{"type":"boolean"},
    "BucketNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"BucketNotFoundFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "NodeType":{"shape":"String"},
        "ClusterStatus":{"shape":"String"},
        "ModifyStatus":{"shape":"String"},
        "MasterUsername":{"shape":"String"},
        "DBName":{"shape":"String"},
        "Endpoint":{"shape":"Endpoint"},
        "ClusterCreateTime":{"shape":"TStamp"},
        "AutomatedSnapshotRetentionPeriod":{"shape":"Integer"},
        "ClusterSecurityGroups":{"shape":"ClusterSecurityGroupMembershipList"},
        "VpcSecurityGroups":{"shape":"VpcSecurityGroupMembershipList"},
        "ClusterParameterGroups":{"shape":"ClusterParameterGroupStatusList"},
        "ClusterSubnetGroupName":{"shape":"String"},
        "VpcId":{"shape":"String"},
        "AvailabilityZone":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "PendingModifiedValues":{"shape":"PendingModifiedValues"},
        "ClusterVersion":{"shape":"String"},
        "AllowVersionUpgrade":{"shape":"Boolean"},
        "NumberOfNodes":{"shape":"Integer"},
        "PubliclyAccessible":{"shape":"Boolean"},
        "Encrypted":{"shape":"Boolean"},
        "RestoreStatus":{"shape":"RestoreStatus"},
        "HsmStatus":{"shape":"HsmStatus"},
        "ClusterSnapshotCopyStatus":{"shape":"ClusterSnapshotCopyStatus"},
        "ClusterPublicKey":{"shape":"String"},
        "ClusterNodes":{"shape":"ClusterNodesList"},
        "ElasticIpStatus":{"shape":"ElasticIpStatus"},
        "ClusterRevisionNumber":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "KmsKeyId":{"shape":"String"}
      },
      "wrapper":true
    },
    "ClusterAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterList":{
      "type":"list",
      "member":{
        "shape":"Cluster",
        "locationName":"Cluster"
      }
    },
    "ClusterNode":{
      "type":"structure",
      "members":{
        "NodeRole":{"shape":"String"},
        "PrivateIPAddress":{"shape":"String"},
        "PublicIPAddress":{"shape":"String"}
      }
    },
    "ClusterNodesList":{
      "type":"list",
      "member":{"shape":"ClusterNode"}
    },
    "ClusterNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterParameterGroup":{
      "type":"structure",
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "ParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      },
      "wrapper":true
    },
    "ClusterParameterGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterParameterGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterParameterGroupDetails":{
      "type":"structure",
      "members":{
        "Parameters":{"shape":"ParametersList"},
        "Marker":{"shape":"String"}
      }
    },
    "ClusterParameterGroupNameMessage":{
      "type":"structure",
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "ParameterGroupStatus":{"shape":"String"}
      }
    },
    "ClusterParameterGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterParameterGroupNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterParameterGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterParameterGroupQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterParameterGroupStatus":{
      "type":"structure",
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "ParameterApplyStatus":{"shape":"String"},
        "ClusterParameterStatusList":{"shape":"ClusterParameterStatusList"}
      }
    },
    "ClusterParameterGroupStatusList":{
      "type":"list",
      "member":{
        "shape":"ClusterParameterGroupStatus",
        "locationName":"ClusterParameterGroup"
      }
    },
    "ClusterParameterGroupsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ParameterGroups":{"shape":"ParameterGroupList"}
      }
    },
    "ClusterParameterStatus":{
      "type":"structure",
      "members":{
        "ParameterName":{"shape":"String"},
        "ParameterApplyStatus":{"shape":"String"},
        "ParameterApplyErrorDescription":{"shape":"String"}
      }
    },
    "ClusterParameterStatusList":{
      "type":"list",
      "member":{"shape":"ClusterParameterStatus"}
    },
    "ClusterQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSecurityGroup":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "Description":{"shape":"String"},
        "EC2SecurityGroups":{"shape":"EC2SecurityGroupList"},
        "IPRanges":{"shape":"IPRangeList"},
        "Tags":{"shape":"TagList"}
      },
      "wrapper":true
    },
    "ClusterSecurityGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSecurityGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSecurityGroupMembership":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "Status":{"shape":"String"}
      }
    },
    "ClusterSecurityGroupMembershipList":{
      "type":"list",
      "member":{
        "shape":"ClusterSecurityGroupMembership",
        "locationName":"ClusterSecurityGroup"
      }
    },
    "ClusterSecurityGroupMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ClusterSecurityGroups":{"shape":"ClusterSecurityGroups"}
      }
    },
    "ClusterSecurityGroupNameList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"ClusterSecurityGroupName"
      }
    },
    "ClusterSecurityGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSecurityGroupNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSecurityGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"QuotaExceeded.ClusterSecurityGroup",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSecurityGroups":{
      "type":"list",
      "member":{
        "shape":"ClusterSecurityGroup",
        "locationName":"ClusterSecurityGroup"
      }
    },
    "ClusterSnapshotAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSnapshotAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSnapshotCopyStatus":{
      "type":"structure",
      "members":{
        "DestinationRegion":{"shape":"String"},
        "RetentionPeriod":{"shape":"Long"},
        "SnapshotCopyGrantName":{"shape":"String"}
      }
    },
    "ClusterSnapshotNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSnapshotNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSnapshotQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSnapshotQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSubnetGroup":{
      "type":"structure",
      "members":{
        "ClusterSubnetGroupName":{"shape":"String"},
        "Description":{"shape":"String"},
        "VpcId":{"shape":"String"},
        "SubnetGroupStatus":{"shape":"String"},
        "Subnets":{"shape":"SubnetList"},
        "Tags":{"shape":"TagList"}
      },
      "wrapper":true
    },
    "ClusterSubnetGroupAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSubnetGroupAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSubnetGroupMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ClusterSubnetGroups":{"shape":"ClusterSubnetGroups"}
      }
    },
    "ClusterSubnetGroupNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSubnetGroupNotFoundFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSubnetGroupQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSubnetGroupQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterSubnetGroups":{
      "type":"list",
      "member":{
        "shape":"ClusterSubnetGroup",
        "locationName":"ClusterSubnetGroup"
      }
    },
    "ClusterSubnetQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ClusterSubnetQuotaExceededFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ClusterVersion":{
      "type":"structure",
      "members":{
        "ClusterVersion":{"shape":"String"},
        "ClusterParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"}
      }
    },
    "ClusterVersionList":{
      "type":"list",
      "member":{
        "shape":"ClusterVersion",
        "locationName":"ClusterVersion"
      }
    },
    "ClusterVersionsMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "ClusterVersions":{"shape":"ClusterVersionList"}
      }
    },
    "ClustersMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "Clusters":{"shape":"ClusterList"}
      }
    },
    "CopyClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "SourceSnapshotIdentifier",
        "TargetSnapshotIdentifier"
      ],
      "members":{
        "SourceSnapshotIdentifier":{"shape":"String"},
        "SourceSnapshotClusterIdentifier":{"shape":"String"},
        "TargetSnapshotIdentifier":{"shape":"String"}
      }
    },
    "CopyToRegionDisabledFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CopyToRegionDisabledFault",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CreateClusterMessage":{
      "type":"structure",
      "required":[
        "ClusterIdentifier",
        "NodeType",
        "MasterUsername",
        "MasterUserPassword"
      ],
      "members":{
        "DBName":{"shape":"String"},
        "ClusterIdentifier":{"shape":"String"},
        "ClusterType":{"shape":"String"},
        "NodeType":{"shape":"String"},
        "MasterUsername":{"shape":"String"},
        "MasterUserPassword":{"shape":"String"},
        "ClusterSecurityGroups":{"shape":"ClusterSecurityGroupNameList"},
        "VpcSecurityGroupIds":{"shape":"VpcSecurityGroupIdList"},
        "ClusterSubnetGroupName":{"shape":"String"},
        "AvailabilityZone":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "ClusterParameterGroupName":{"shape":"String"},
        "AutomatedSnapshotRetentionPeriod":{"shape":"IntegerOptional"},
        "Port":{"shape":"IntegerOptional"},
        "ClusterVersion":{"shape":"String"},
        "AllowVersionUpgrade":{"shape":"BooleanOptional"},
        "NumberOfNodes":{"shape":"IntegerOptional"},
        "PubliclyAccessible":{"shape":"BooleanOptional"},
        "Encrypted":{"shape":"BooleanOptional"},
        "HsmClientCertificateIdentifier":{"shape":"String"},
        "HsmConfigurationIdentifier":{"shape":"String"},
        "ElasticIp":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "KmsKeyId":{"shape":"String"}
      }
    },
    "CreateClusterParameterGroupMessage":{
      "type":"structure",
      "required":[
        "ParameterGroupName",
        "ParameterGroupFamily",
        "Description"
      ],
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "ParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateClusterSecurityGroupMessage":{
      "type":"structure",
      "required":[
        "ClusterSecurityGroupName",
        "Description"
      ],
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "SnapshotIdentifier",
        "ClusterIdentifier"
      ],
      "members":{
        "SnapshotIdentifier":{"shape":"String"},
        "ClusterIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateClusterSubnetGroupMessage":{
      "type":"structure",
      "required":[
        "ClusterSubnetGroupName",
        "Description",
        "SubnetIds"
      ],
      "members":{
        "ClusterSubnetGroupName":{"shape":"String"},
        "Description":{"shape":"String"},
        "SubnetIds":{"shape":"SubnetIdentifierList"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEventSubscriptionMessage":{
      "type":"structure",
      "required":[
        "SubscriptionName",
        "SnsTopicArn"
      ],
      "members":{
        "SubscriptionName":{"shape":"String"},
        "SnsTopicArn":{"shape":"String"},
        "SourceType":{"shape":"String"},
        "SourceIds":{"shape":"SourceIdsList"},
        "EventCategories":{"shape":"EventCategoriesList"},
        "Severity":{"shape":"String"},
        "Enabled":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHsmClientCertificateMessage":{
      "type":"structure",
      "required":["HsmClientCertificateIdentifier"],
      "members":{
        "HsmClientCertificateIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHsmConfigurationMessage":{
      "type":"structure",
      "required":[
        "HsmConfigurationIdentifier",
        "Description",
        "HsmIpAddress",
        "HsmPartitionName",
        "HsmPartitionPassword",
        "HsmServerPublicCertificate"
      ],
      "members":{
        "HsmConfigurationIdentifier":{"shape":"String"},
        "Description":{"shape":"String"},
        "HsmIpAddress":{"shape":"String"},
        "HsmPartitionName":{"shape":"String"},
        "HsmPartitionPassword":{"shape":"String"},
        "HsmServerPublicCertificate":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateSnapshotCopyGrantMessage":{
      "type":"structure",
      "required":["SnapshotCopyGrantName"],
      "members":{
        "SnapshotCopyGrantName":{"shape":"String"},
        "KmsKeyId":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateTagsMessage":{
      "type":"structure",
      "required":[
        "ResourceName",
        "Tags"
      ],
      "members":{
        "ResourceName":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "DefaultClusterParameters":{
      "type":"structure",
      "members":{
        "ParameterGroupFamily":{"shape":"String"},
        "Marker":{"shape":"String"},
        "Parameters":{"shape":"ParametersList"}
      },
      "wrapper":true
    },
    "DeleteClusterMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "SkipFinalClusterSnapshot":{"shape":"Boolean"},
        "FinalClusterSnapshotIdentifier":{"shape":"String"}
      }
    },
    "DeleteClusterParameterGroupMessage":{
      "type":"structure",
      "required":["ParameterGroupName"],
      "members":{
        "ParameterGroupName":{"shape":"String"}
      }
    },
    "DeleteClusterSecurityGroupMessage":{
      "type":"structure",
      "required":["ClusterSecurityGroupName"],
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"}
      }
    },
    "DeleteClusterSnapshotMessage":{
      "type":"structure",
      "required":["SnapshotIdentifier"],
      "members":{
        "SnapshotIdentifier":{"shape":"String"},
        "SnapshotClusterIdentifier":{"shape":"String"}
      }
    },
    "DeleteClusterSubnetGroupMessage":{
      "type":"structure",
      "required":["ClusterSubnetGroupName"],
      "members":{
        "ClusterSubnetGroupName":{"shape":"String"}
      }
    },
    "DeleteEventSubscriptionMessage":{
      "type":"structure",
      "required":["SubscriptionName"],
      "members":{
        "SubscriptionName":{"shape":"String"}
      }
    },
    "DeleteHsmClientCertificateMessage":{
      "type":"structure",
      "required":["HsmClientCertificateIdentifier"],
      "members":{
        "HsmClientCertificateIdentifier":{"shape":"String"}
      }
    },
    "DeleteHsmConfigurationMessage":{
      "type":"structure",
      "required":["HsmConfigurationIdentifier"],
      "members":{
        "HsmConfigurationIdentifier":{"shape":"String"}
      }
    },
    "DeleteSnapshotCopyGrantMessage":{
      "type":"structure",
      "required":["SnapshotCopyGrantName"],
      "members":{
        "SnapshotCopyGrantName":{"shape":"String"}
      }
    },
    "DeleteTagsMessage":{
      "type":"structure",
      "required":[
        "ResourceName",
        "TagKeys"
      ],
      "members":{
        "ResourceName":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"}
      }
    },
    "DescribeClusterParameterGroupsMessage":{
      "type":"structure",
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeClusterParametersMessage":{
      "type":"structure",
      "required":["ParameterGroupName"],
      "members":{
        "ParameterGroupName":{"shape":"String"},
        "Source":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeClusterSecurityGroupsMessage":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroupName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeClusterSnapshotsMessage":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "SnapshotIdentifier":{"shape":"String"},
        "SnapshotType":{"shape":"String"},
        "StartTime":{"shape":"TStamp"},
        "EndTime":{"shape":"TStamp"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "OwnerAccount":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeClusterSubnetGroupsMessage":{
      "type":"structure",
      "members":{
        "ClusterSubnetGroupName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeClusterVersionsMessage":{
      "type":"structure",
      "members":{
        "ClusterVersion":{"shape":"String"},
        "ClusterParameterGroupFamily":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeClustersMessage":{
      "type":"structure",
      "members":{
        "ClusterIdentifier":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeDefaultClusterParametersMessage":{
      "type":"structure",
      "required":["ParameterGroupFamily"],
      "members":{
        "ParameterGroupFamily":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeEventCategoriesMessage":{
      "type":"structure",
      "members":{
        "SourceType":{"shape":"String"}
      }
    },
    "DescribeEventSubscriptionsMessage":{
      "type":"structure",
      "members":{
        "SubscriptionName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeEventsMessage":{
      "type":"structure",
      "members":{
        "SourceIdentifier":{"shape":"String"},
        "SourceType":{"shape":"SourceType"},
        "StartTime":{"shape":"TStamp"},
        "EndTime":{"shape":"TStamp"},
        "Duration":{"shape":"IntegerOptional"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeHsmClientCertificatesMessage":{
      "type":"structure",
      "members":{
        "HsmClientCertificateIdentifier":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeHsmConfigurationsMessage":{
      "type":"structure",
      "members":{
        "HsmConfigurationIdentifier":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeLoggingStatusMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"}
      }
    },
    "DescribeOrderableClusterOptionsMessage":{
      "type":"structure",
      "members":{
        "ClusterVersion":{"shape":"String"},
        "NodeType":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeReservedNodeOfferingsMessage":{
      "type":"structure",
      "members":{
        "ReservedNodeOfferingId":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeReservedNodesMessage":{
      "type":"structure",
      "members":{
        "ReservedNodeId":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"}
      }
    },
    "DescribeResizeMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"}
      }
    },
    "DescribeSnapshotCopyGrantsMessage":{
      "type":"structure",
      "members":{
        "SnapshotCopyGrantName":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DescribeTagsMessage":{
      "type":"structure",
      "members":{
        "ResourceName":{"shape":"String"},
        "ResourceType":{"shape":"String"},
        "MaxRecords":{"shape":"IntegerOptional"},
        "Marker":{"shape":"String"},
        "TagKeys":{"shape":"TagKeyList"},
        "TagValues":{"shape":"TagValueList"}
      }
    },
    "DisableLoggingMessage":{
      "type":"structure",
      "required":["ClusterIdentifier"],
      "members":{
        "ClusterIdentifier":{"shape":"String"}
      }
[...]
