{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-10-26",
    "endpointPrefix":"securityhub",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS SecurityHub",
    "serviceId":"SecurityHub",
    "signatureVersion":"v4",
    "signingName":"securityhub",
    "uid":"securityhub-2018-10-26"
  },
  "operations":{
    "AcceptInvitation":{
      "name":"AcceptInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/master"
      },
      "input":{"shape":"AcceptInvitationRequest"},
      "output":{"shape":"AcceptInvitationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"}
      ]
    },
    "BatchDisableStandards":{
      "name":"BatchDisableStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/deregister"
      },
      "input":{"shape":"BatchDisableStandardsRequest"},
      "output":{"shape":"BatchDisableStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "BatchEnableStandards":{
      "name":"BatchEnableStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/register"
      },
      "input":{"shape":"BatchEnableStandardsRequest"},
      "output":{"shape":"BatchEnableStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "BatchImportFindings":{
      "name":"BatchImportFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings/import"
      },
      "input":{"shape":"BatchImportFindingsRequest"},
      "output":{"shape":"BatchImportFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ]
    },
    "BatchUpdateFindings":{
      "name":"BatchUpdateFindings",
      "http":{
        "method":"PATCH",
        "requestUri":"/findings/batchupdate"
      },
      "input":{"shape":"BatchUpdateFindingsRequest"},
      "output":{"shape":"BatchUpdateFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ]
    },
    "CreateActionTarget":{
      "name":"CreateActionTarget",
      "http":{
        "method":"POST",
        "requestUri":"/actionTargets"
      },
      "input":{"shape":"CreateActionTargetRequest"},
      "output":{"shape":"CreateActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceConflictException"}
      ]
    },
    "CreateInsight":{
      "name":"CreateInsight",
      "http":{
        "method":"POST",
        "requestUri":"/insights"
      },
      "input":{"shape":"CreateInsightRequest"},
      "output":{"shape":"CreateInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"}
      ]
    },
    "CreateMembers":{
      "name":"CreateMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members"
      },
      "input":{"shape":"CreateMembersRequest"},
      "output":{"shape":"CreateMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"}
      ]
    },
    "DeclineInvitations":{
      "name":"DeclineInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/invitations/decline"
      },
      "input":{"shape":"DeclineInvitationsRequest"},
      "output":{"shape":"DeclineInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteActionTarget":{
      "name":"DeleteActionTarget",
      "http":{
        "method":"DELETE",
        "requestUri":"/actionTargets/{ActionTargetArn+}"
      },
      "input":{"shape":"DeleteActionTargetRequest"},
      "output":{"shape":"DeleteActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteInsight":{
      "name":"DeleteInsight",
      "http":{
        "method":"DELETE",
        "requestUri":"/insights/{InsightArn+}"
      },
      "input":{"shape":"DeleteInsightRequest"},
      "output":{"shape":"DeleteInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteInvitations":{
      "name":"DeleteInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/invitations/delete"
      },
      "input":{"shape":"DeleteInvitationsRequest"},
      "output":{"shape":"DeleteInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"}
      ]
    },
    "DeleteMembers":{
      "name":"DeleteMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/delete"
      },
      "input":{"shape":"DeleteMembersRequest"},
      "output":{"shape":"DeleteMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeActionTargets":{
      "name":"DescribeActionTargets",
      "http":{
        "method":"POST",
        "requestUri":"/actionTargets/get"
      },
      "input":{"shape":"DescribeActionTargetsRequest"},
      "output":{"shape":"DescribeActionTargetsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeHub":{
      "name":"DescribeHub",
      "http":{
        "method":"GET",
        "requestUri":"/accounts"
      },
      "input":{"shape":"DescribeHubRequest"},
      "output":{"shape":"DescribeHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeProducts":{
      "name":"DescribeProducts",
      "http":{
        "method":"GET",
        "requestUri":"/products"
      },
      "input":{"shape":"DescribeProductsRequest"},
      "output":{"shape":"DescribeProductsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "DescribeStandards":{
      "name":"DescribeStandards",
      "http":{
        "method":"GET",
        "requestUri":"/standards"
      },
      "input":{"shape":"DescribeStandardsRequest"},
      "output":{"shape":"DescribeStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"}
      ]
    },
    "DescribeStandardsControls":{
      "name":"DescribeStandardsControls",
      "http":{
        "method":"GET",
        "requestUri":"/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input":{"shape":"DescribeStandardsControlsRequest"},
      "output":{"shape":"DescribeStandardsControlsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DisableImportFindingsForProduct":{
      "name":"DisableImportFindingsForProduct",
      "http":{
        "method":"DELETE",
        "requestUri":"/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input":{"shape":"DisableImportFindingsForProductRequest"},
      "output":{"shape":"DisableImportFindingsForProductResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "DisableSecurityHub":{
      "name":"DisableSecurityHub",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts"
      },
      "input":{"shape":"DisableSecurityHubRequest"},
      "output":{"shape":"DisableSecurityHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DisassociateFromMasterAccount":{
      "name":"DisassociateFromMasterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/master/disassociate"
      },
      "input":{"shape":"DisassociateFromMasterAccountRequest"},
      "output":{"shape":"DisassociateFromMasterAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DisassociateMembers":{
      "name":"DisassociateMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/disassociate"
      },
      "input":{"shape":"DisassociateMembersRequest"},
      "output":{"shape":"DisassociateMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "EnableImportFindingsForProduct":{
      "name":"EnableImportFindingsForProduct",
      "http":{
        "method":"POST",
        "requestUri":"/productSubscriptions"
      },
      "input":{"shape":"EnableImportFindingsForProductRequest"},
      "output":{"shape":"EnableImportFindingsForProductResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "EnableSecurityHub":{
      "name":"EnableSecurityHub",
      "http":{
        "method":"POST",
        "requestUri":"/accounts"
      },
      "input":{"shape":"EnableSecurityHubRequest"},
      "output":{"shape":"EnableSecurityHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetEnabledStandards":{
      "name":"GetEnabledStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/get"
      },
      "input":{"shape":"GetEnabledStandardsRequest"},
      "output":{"shape":"GetEnabledStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "GetFindings":{
      "name":"GetFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings"
      },
      "input":{"shape":"GetFindingsRequest"},
      "output":{"shape":"GetFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "GetInsightResults":{
      "name":"GetInsightResults",
      "http":{
        "method":"GET",
        "requestUri":"/insights/results/{InsightArn+}"
      },
      "input":{"shape":"GetInsightResultsRequest"},
      "output":{"shape":"GetInsightResultsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetInsights":{
      "name":"GetInsights",
      "http":{
        "method":"POST",
        "requestUri":"/insights/get"
      },
      "input":{"shape":"GetInsightsRequest"},
      "output":{"shape":"GetInsightsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetInvitationsCount":{
      "name":"GetInvitationsCount",
      "http":{
        "method":"GET",
        "requestUri":"/invitations/count"
      },
      "input":{"shape":"GetInvitationsCountRequest"},
      "output":{"shape":"GetInvitationsCountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "GetMasterAccount":{
      "name":"GetMasterAccount",
      "http":{
        "method":"GET",
        "requestUri":"/master"
      },
      "input":{"shape":"GetMasterAccountRequest"},
      "output":{"shape":"GetMasterAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetMembers":{
      "name":"GetMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/get"
      },
      "input":{"shape":"GetMembersRequest"},
      "output":{"shape":"GetMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "InviteMembers":{
      "name":"InviteMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/invite"
      },
      "input":{"shape":"InviteMembersRequest"},
      "output":{"shape":"InviteMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListEnabledProductsForImport":{
      "name":"ListEnabledProductsForImport",
      "http":{
        "method":"GET",
        "requestUri":"/productSubscriptions"
      },
      "input":{"shape":"ListEnabledProductsForImportRequest"},
      "output":{"shape":"ListEnabledProductsForImportResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ]
    },
    "ListInvitations":{
      "name":"ListInvitations",
      "http":{
        "method":"GET",
        "requestUri":"/invitations"
      },
      "input":{"shape":"ListInvitationsRequest"},
      "output":{"shape":"ListInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "ListMembers":{
      "name":"ListMembers",
      "http":{
        "method":"GET",
        "requestUri":"/members"
      },
      "input":{"shape":"ListMembersRequest"},
      "output":{"shape":"ListMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateActionTarget":{
      "name":"UpdateActionTarget",
      "http":{
        "method":"PATCH",
        "requestUri":"/actionTargets/{ActionTargetArn+}"
      },
      "input":{"shape":"UpdateActionTargetRequest"},
      "output":{"shape":"UpdateActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateFindings":{
      "name":"UpdateFindings",
      "http":{
        "method":"PATCH",
        "requestUri":"/findings"
      },
      "input":{"shape":"UpdateFindingsRequest"},
      "output":{"shape":"UpdateFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateInsight":{
      "name":"UpdateInsight",
      "http":{
        "method":"PATCH",
        "requestUri":"/insights/{InsightArn+}"
      },
      "input":{"shape":"UpdateInsightRequest"},
      "output":{"shape":"UpdateInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateSecurityHubConfiguration":{
      "name":"UpdateSecurityHubConfiguration",
      "http":{
        "method":"PATCH",
        "requestUri":"/accounts"
      },
      "input":{"shape":"UpdateSecurityHubConfigurationRequest"},
      "output":{"shape":"UpdateSecurityHubConfigurationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateStandardsControl":{
      "name":"UpdateStandardsControl",
      "http":{
        "method":"PATCH",
        "requestUri":"/standards/control/{StandardsControlArn+}"
      },
      "input":{"shape":"UpdateStandardsControlRequest"},
      "output":{"shape":"UpdateStandardsControlResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ]
    }
  },
  "shapes":{
    "AcceptInvitationRequest":{
      "type":"structure",
      "required":[
        "MasterId",
        "InvitationId"
      ],
      "members":{
        "MasterId":{"shape":"NonEmptyString"},
        "InvitationId":{"shape":"NonEmptyString"}
      }
    },
    "AcceptInvitationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"},
        "Code":{"shape":"NonEmptyString"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountDetails":{
      "type":"structure",
      "members":{
        "AccountId":{"shape":"AccountId"},
        "Email":{"shape":"NonEmptyString"}
      }
    },
    "AccountDetailsList":{
      "type":"list",
      "member":{"shape":"AccountDetails"}
    },
    "AccountId":{"type":"string"},
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "ActionTarget":{
      "type":"structure",
      "required":[
        "ActionTargetArn",
        "Name",
        "Description"
      ],
      "members":{
        "ActionTargetArn":{"shape":"NonEmptyString"},
        "Name":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"}
      }
    },
    "ActionTargetList":{
      "type":"list",
      "member":{"shape":"ActionTarget"}
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "ZoneName":{"shape":"NonEmptyString"},
        "SubnetId":{"shape":"NonEmptyString"}
      }
    },
    "AvailabilityZones":{
      "type":"list",
      "member":{"shape":"AvailabilityZone"}
    },
    "AwsApiGatewayAccessLogSettings":{
      "type":"structure",
      "members":{
        "Format":{"shape":"NonEmptyString"},
        "DestinationArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsApiGatewayCanarySettings":{
      "type":"structure",
      "members":{
        "PercentTraffic":{"shape":"Double"},
        "DeploymentId":{"shape":"NonEmptyString"},
        "StageVariableOverrides":{"shape":"FieldMap"},
        "UseStageCache":{"shape":"Boolean"}
      }
    },
    "AwsApiGatewayEndpointConfiguration":{
      "type":"structure",
      "members":{
        "Types":{"shape":"NonEmptyStringList"}
      }
    },
    "AwsApiGatewayMethodSettings":{
      "type":"structure",
      "members":{
        "MetricsEnabled":{"shape":"Boolean"},
        "LoggingLevel":{"shape":"NonEmptyString"},
        "DataTraceEnabled":{"shape":"Boolean"},
        "ThrottlingBurstLimit":{"shape":"Integer"},
        "ThrottlingRateLimit":{"shape":"Double"},
        "CachingEnabled":{"shape":"Boolean"},
        "CacheTtlInSeconds":{"shape":"Integer"},
        "CacheDataEncrypted":{"shape":"Boolean"},
        "RequireAuthorizationForCacheControl":{"shape":"Boolean"},
        "UnauthorizedCacheControlHeaderStrategy":{"shape":"NonEmptyString"},
        "HttpMethod":{"shape":"NonEmptyString"},
        "ResourcePath":{"shape":"NonEmptyString"}
      }
    },
    "AwsApiGatewayMethodSettingsList":{
      "type":"list",
      "member":{"shape":"AwsApiGatewayMethodSettings"}
    },
    "AwsApiGatewayRestApiDetails":{
      "type":"structure",
      "members":{
        "Id":{"shape":"NonEmptyString"},
        "Name":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"},
        "CreatedDate":{"shape":"NonEmptyString"},
        "Version":{"shape":"NonEmptyString"},
        "BinaryMediaTypes":{"shape":"NonEmptyStringList"},
        "MinimumCompressionSize":{"shape":"Integer"},
        "ApiKeySource":{"shape":"NonEmptyString"},
        "EndpointConfiguration":{"shape":"AwsApiGatewayEndpointConfiguration"}
      }
    },
    "AwsApiGatewayStageDetails":{
      "type":"structure",
      "members":{
        "DeploymentId":{"shape":"NonEmptyString"},
        "ClientCertificateId":{"shape":"NonEmptyString"},
        "StageName":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"},
        "CacheClusterEnabled":{"shape":"Boolean"},
        "CacheClusterSize":{"shape":"NonEmptyString"},
        "CacheClusterStatus":{"shape":"NonEmptyString"},
        "MethodSettings":{"shape":"AwsApiGatewayMethodSettingsList"},
        "Variables":{"shape":"FieldMap"},
        "DocumentationVersion":{"shape":"NonEmptyString"},
        "AccessLogSettings":{"shape":"AwsApiGatewayAccessLogSettings"},
        "CanarySettings":{"shape":"AwsApiGatewayCanarySettings"},
        "TracingEnabled":{"shape":"Boolean"},
        "CreatedDate":{"shape":"NonEmptyString"},
        "LastUpdatedDate":{"shape":"NonEmptyString"},
        "WebAclArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsApiGatewayV2ApiDetails":{
      "type":"structure",
      "members":{
        "ApiEndpoint":{"shape":"NonEmptyString"},
        "ApiId":{"shape":"NonEmptyString"},
        "ApiKeySelectionExpression":{"shape":"NonEmptyString"},
        "CreatedDate":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"},
        "Version":{"shape":"NonEmptyString"},
        "Name":{"shape":"NonEmptyString"},
        "ProtocolType":{"shape":"NonEmptyString"},
        "RouteSelectionExpression":{"shape":"NonEmptyString"},
        "CorsConfiguration":{"shape":"AwsCorsConfiguration"}
      }
    },
    "AwsApiGatewayV2RouteSettings":{
      "type":"structure",
      "members":{
        "DetailedMetricsEnabled":{"shape":"Boolean"},
        "LoggingLevel":{"shape":"NonEmptyString"},
        "DataTraceEnabled":{"shape":"Boolean"},
        "ThrottlingBurstLimit":{"shape":"Integer"},
        "ThrottlingRateLimit":{"shape":"Double"}
      }
    },
    "AwsApiGatewayV2StageDetails":{
      "type":"structure",
      "members":{
        "CreatedDate":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"},
        "DefaultRouteSettings":{"shape":"AwsApiGatewayV2RouteSettings"},
        "DeploymentId":{"shape":"NonEmptyString"},
        "LastUpdatedDate":{"shape":"NonEmptyString"},
        "RouteSettings":{"shape":"AwsApiGatewayV2RouteSettings"},
        "StageName":{"shape":"NonEmptyString"},
        "StageVariables":{"shape":"FieldMap"},
        "AccessLogSettings":{"shape":"AwsApiGatewayAccessLogSettings"},
        "AutoDeploy":{"shape":"Boolean"},
        "LastDeploymentStatusMessage":{"shape":"NonEmptyString"},
        "ApiGatewayManaged":{"shape":"Boolean"}
      }
    },
    "AwsAutoScalingAutoScalingGroupDetails":{
      "type":"structure",
      "members":{
        "LaunchConfigurationName":{"shape":"NonEmptyString"},
        "LoadBalancerNames":{"shape":"StringList"},
        "HealthCheckType":{"shape":"NonEmptyString"},
        "HealthCheckGracePeriod":{"shape":"Integer"},
        "CreatedTime":{"shape":"NonEmptyString"}
      }
    },
    "AwsCertificateManagerCertificateDetails":{
      "type":"structure",
      "members":{
        "CertificateAuthorityArn":{"shape":"NonEmptyString"},
        "CreatedAt":{"shape":"NonEmptyString"},
        "DomainName":{"shape":"NonEmptyString"},
        "DomainValidationOptions":{"shape":"AwsCertificateManagerCertificateDomainValidationOptions"},
        "ExtendedKeyUsages":{"shape":"AwsCertificateManagerCertificateExtendedKeyUsages"},
        "FailureReason":{"shape":"NonEmptyString"},
        "ImportedAt":{"shape":"NonEmptyString"},
        "InUseBy":{"shape":"StringList"},
        "IssuedAt":{"shape":"NonEmptyString"},
        "Issuer":{"shape":"NonEmptyString"},
        "KeyAlgorithm":{"shape":"NonEmptyString"},
        "KeyUsages":{"shape":"AwsCertificateManagerCertificateKeyUsages"},
        "NotAfter":{"shape":"NonEmptyString"},
        "NotBefore":{"shape":"NonEmptyString"},
        "Options":{"shape":"AwsCertificateManagerCertificateOptions"},
        "RenewalEligibility":{"shape":"NonEmptyString"},
        "RenewalSummary":{"shape":"AwsCertificateManagerCertificateRenewalSummary"},
        "Serial":{"shape":"NonEmptyString"},
        "SignatureAlgorithm":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"},
        "Subject":{"shape":"NonEmptyString"},
        "SubjectAlternativeNames":{"shape":"StringList"},
        "Type":{"shape":"NonEmptyString"}
      }
    },
    "AwsCertificateManagerCertificateDomainValidationOption":{
      "type":"structure",
      "members":{
        "DomainName":{"shape":"NonEmptyString"},
        "ResourceRecord":{"shape":"AwsCertificateManagerCertificateResourceRecord"},
        "ValidationDomain":{"shape":"NonEmptyString"},
        "ValidationEmails":{"shape":"StringList"},
        "ValidationMethod":{"shape":"NonEmptyString"},
        "ValidationStatus":{"shape":"NonEmptyString"}
      }
    },
    "AwsCertificateManagerCertificateDomainValidationOptions":{
      "type":"list",
      "member":{"shape":"AwsCertificateManagerCertificateDomainValidationOption"}
    },
    "AwsCertificateManagerCertificateExtendedKeyUsage":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "OId":{"shape":"NonEmptyString"}
      }
    },
    "AwsCertificateManagerCertificateExtendedKeyUsages":{
      "type":"list",
      "member":{"shape":"AwsCertificateManagerCertificateExtendedKeyUsage"}
    },
    "AwsCertificateManagerCertificateKeyUsage":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonEmptyString"}
      }
    },
    "AwsCertificateManagerCertificateKeyUsages":{
      "type":"list",
      "member":{"shape":"AwsCertificateManagerCertificateKeyUsage"}
    },
    "AwsCertificateManagerCertificateOptions":{
      "type":"structure",
      "members":{
        "CertificateTransparencyLoggingPreference":{"shape":"NonEmptyString"}
      }
    },
    "AwsCertificateManagerCertificateRenewalSummary":{
      "type":"structure",
      "members":{
        "DomainValidationOptions":{"shape":"AwsCertificateManagerCertificateDomainValidationOptions"},
        "RenewalStatus":{"shape":"NonEmptyString"},
        "RenewalStatusReason":{"shape":"NonEmptyString"},
        "UpdatedAt":{"shape":"NonEmptyString"}
      }
    },
    "AwsCertificateManagerCertificateResourceRecord":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Type":{"shape":"NonEmptyString"},
        "Value":{"shape":"NonEmptyString"}
      }
    },
    "AwsCloudFrontDistributionCacheBehavior":{
      "type":"structure",
      "members":{
        "ViewerProtocolPolicy":{"shape":"NonEmptyString"}
      }
    },
    "AwsCloudFrontDistributionCacheBehaviors":{
      "type":"structure",
      "members":{
        "Items":{"shape":"AwsCloudFrontDistributionCacheBehaviorsItemList"}
      }
    },
    "AwsCloudFrontDistributionCacheBehaviorsItemList":{
      "type":"list",
      "member":{"shape":"AwsCloudFrontDistributionCacheBehavior"}
    },
    "AwsCloudFrontDistributionDefaultCacheBehavior":{
      "type":"structure",
      "members":{
        "ViewerProtocolPolicy":{"shape":"NonEmptyString"}
      }
    },
    "AwsCloudFrontDistributionDetails":{
      "type":"structure",
      "members":{
        "CacheBehaviors":{"shape":"AwsCloudFrontDistributionCacheBehaviors"},
        "DefaultCacheBehavior":{"shape":"AwsCloudFrontDistributionDefaultCacheBehavior"},
        "DefaultRootObject":{"shape":"NonEmptyString"},
        "DomainName":{"shape":"NonEmptyString"},
        "ETag":{"shape":"NonEmptyString"},
        "LastModifiedTime":{"shape":"NonEmptyString"},
        "Logging":{"shape":"AwsCloudFrontDistributionLogging"},
        "Origins":{"shape":"AwsCloudFrontDistributionOrigins"},
        "OriginGroups":{"shape":"AwsCloudFrontDistributionOriginGroups"},
        "Status":{"shape":"NonEmptyString"},
        "WebAclId":{"shape":"NonEmptyString"}
      }
    },
    "AwsCloudFrontDistributionLogging":{
      "type":"structure",
      "members":{
        "Bucket":{"shape":"NonEmptyString"},
        "Enabled":{"shape":"Boolean"},
        "IncludeCookies":{"shape":"Boolean"},
        "Prefix":{"shape":"NonEmptyString"}
      }
    },
    "AwsCloudFrontDistributionOriginGroup":{
      "type":"structure",
      "members":{
        "FailoverCriteria":{"shape":"AwsCloudFrontDistributionOriginGroupFailover"}
      }
    },
    "AwsCloudFrontDistributionOriginGroupFailover":{
      "type":"structure",
      "members":{
        "StatusCodes":{"shape":"AwsCloudFrontDistributionOriginGroupFailoverStatusCodes"}
      }
    },
    "AwsCloudFrontDistributionOriginGroupFailoverStatusCodes":{
      "type":"structure",
      "members":{
        "Items":{"shape":"AwsCloudFrontDistributionOriginGroupFailoverStatusCodesItemList"},
        "Quantity":{"shape":"Integer"}
      }
    },
    "AwsCloudFrontDistributionOriginGroupFailoverStatusCodesItemList":{
      "type":"list",
      "member":{"shape":"Integer"}
    },
    "AwsCloudFrontDistributionOriginGroups":{
      "type":"structure",
      "members":{
        "Items":{"shape":"AwsCloudFrontDistributionOriginGroupsItemList"}
      }
    },
    "AwsCloudFrontDistributionOriginGroupsItemList":{
      "type":"list",
      "member":{"shape":"AwsCloudFrontDistributionOriginGroup"}
    },
    "AwsCloudFrontDistributionOriginItem":{
      "type":"structure",
      "members":{
        "DomainName":{"shape":"NonEmptyString"},
        "Id":{"shape":"NonEmptyString"},
        "OriginPath":{"shape":"NonEmptyString"},
        "S3OriginConfig":{"shape":"AwsCloudFrontDistributionOriginS3OriginConfig"}
      }
    },
    "AwsCloudFrontDistributionOriginItemList":{
      "type":"list",
      "member":{"shape":"AwsCloudFrontDistributionOriginItem"}
    },
    "AwsCloudFrontDistributionOriginS3OriginConfig":{
      "type":"structure",
      "members":{
        "OriginAccessIdentity":{"shape":"NonEmptyString"}
      }
    },
    "AwsCloudFrontDistributionOrigins":{
      "type":"structure",
      "members":{
        "Items":{"shape":"AwsCloudFrontDistributionOriginItemList"}
      }
    },
    "AwsCloudTrailTrailDetails":{
      "type":"structure",
      "members":{
        "CloudWatchLogsLogGroupArn":{"shape":"NonEmptyString"},
        "CloudWatchLogsRoleArn":{"shape":"NonEmptyString"},
        "HasCustomEventSelectors":{"shape":"Boolean"},
        "HomeRegion":{"shape":"NonEmptyString"},
        "IncludeGlobalServiceEvents":{"shape":"Boolean"},
        "IsMultiRegionTrail":{"shape":"Boolean"},
        "IsOrganizationTrail":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"NonEmptyString"},
        "LogFileValidationEnabled":{"shape":"Boolean"},
        "Name":{"shape":"NonEmptyString"},
        "S3BucketName":{"shape":"NonEmptyString"},
        "S3KeyPrefix":{"shape":"NonEmptyString"},
        "SnsTopicArn":{"shape":"NonEmptyString"},
        "SnsTopicName":{"shape":"NonEmptyString"},
        "TrailArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsCodeBuildProjectDetails":{
      "type":"structure",
      "members":{
        "EncryptionKey":{"shape":"NonEmptyString"},
        "Environment":{"shape":"AwsCodeBuildProjectEnvironment"},
        "Name":{"shape":"NonEmptyString"},
        "Source":{"shape":"AwsCodeBuildProjectSource"},
        "ServiceRole":{"shape":"NonEmptyString"},
        "VpcConfig":{"shape":"AwsCodeBuildProjectVpcConfig"}
      }
    },
    "AwsCodeBuildProjectEnvironment":{
      "type":"structure",
      "members":{
        "Certificate":{"shape":"NonEmptyString"},
        "ImagePullCredentialsType":{"shape":"NonEmptyString"},
        "RegistryCredential":{"shape":"AwsCodeBuildProjectEnvironmentRegistryCredential"},
        "Type":{"shape":"NonEmptyString"}
      }
    },
    "AwsCodeBuildProjectEnvironmentRegistryCredential":{
      "type":"structure",
      "members":{
        "Credential":{"shape":"NonEmptyString"},
        "CredentialProvider":{"shape":"NonEmptyString"}
      }
    },
    "AwsCodeBuildProjectSource":{
      "type":"structure",
      "members":{
        "Type":{"shape":"NonEmptyString"},
        "Location":{"shape":"NonEmptyString"},
        "GitCloneDepth":{"shape":"Integer"},
        "InsecureSsl":{"shape":"Boolean"}
      }
    },
    "AwsCodeBuildProjectVpcConfig":{
      "type":"structure",
      "members":{
        "VpcId":{"shape":"NonEmptyString"},
        "Subnets":{"shape":"NonEmptyStringList"},
        "SecurityGroupIds":{"shape":"NonEmptyStringList"}
      }
    },
    "AwsCorsConfiguration":{
      "type":"structure",
      "members":{
        "AllowOrigins":{"shape":"NonEmptyStringList"},
        "AllowCredentials":{"shape":"Boolean"},
        "ExposeHeaders":{"shape":"NonEmptyStringList"},
        "MaxAge":{"shape":"Integer"},
        "AllowMethods":{"shape":"NonEmptyStringList"},
        "AllowHeaders":{"shape":"NonEmptyStringList"}
      }
    },
    "AwsDynamoDbTableAttributeDefinition":{
      "type":"structure",
      "members":{
        "AttributeName":{"shape":"NonEmptyString"},
        "AttributeType":{"shape":"NonEmptyString"}
      }
    },
    "AwsDynamoDbTableAttributeDefinitionList":{
      "type":"list",
      "member":{"shape":"AwsDynamoDbTableAttributeDefinition"}
    },
    "AwsDynamoDbTableBillingModeSummary":{
      "type":"structure",
      "members":{
        "BillingMode":{"shape":"NonEmptyString"},
        "LastUpdateToPayPerRequestDateTime":{"shape":"NonEmptyString"}
      }
    },
    "AwsDynamoDbTableDetails":{
      "type":"structure",
      "members":{
        "AttributeDefinitions":{"shape":"AwsDynamoDbTableAttributeDefinitionList"},
        "BillingModeSummary":{"shape":"AwsDynamoDbTableBillingModeSummary"},
        "CreationDateTime":{"shape":"NonEmptyString"},
        "GlobalSecondaryIndexes":{"shape":"AwsDynamoDbTableGlobalSecondaryIndexList"},
        "GlobalTableVersion":{"shape":"NonEmptyString"},
        "ItemCount":{"shape":"Integer"},
        "KeySchema":{"shape":"AwsDynamoDbTableKeySchemaList"},
        "LatestStreamArn":{"shape":"NonEmptyString"},
        "LatestStreamLabel":{"shape":"NonEmptyString"},
        "LocalSecondaryIndexes":{"shape":"AwsDynamoDbTableLocalSecondaryIndexList"},
        "ProvisionedThroughput":{"shape":"AwsDynamoDbTableProvisionedThroughput"},
        "Replicas":{"shape":"AwsDynamoDbTableReplicaList"},
        "RestoreSummary":{"shape":"AwsDynamoDbTableRestoreSummary"},
        "SseDescription":{"shape":"AwsDynamoDbTableSseDescription"},
        "StreamSpecification":{"shape":"AwsDynamoDbTableStreamSpecification"},
        "TableId":{"shape":"NonEmptyString"},
        "TableName":{"shape":"NonEmptyString"},
        "TableSizeBytes":{"shape":"SizeBytes"},
        "TableStatus":{"shape":"NonEmptyString"}
      }
    },
    "AwsDynamoDbTableGlobalSecondaryIndex":{
      "type":"structure",
      "members":{
        "Backfilling":{"shape":"Boolean"},
        "IndexArn":{"shape":"NonEmptyString"},
        "IndexName":{"shape":"NonEmptyString"},
        "IndexSizeBytes":{"shape":"SizeBytes"},
        "IndexStatus":{"shape":"NonEmptyString"},
        "ItemCount":{"shape":"Integer"},
        "KeySchema":{"shape":"AwsDynamoDbTableKeySchemaList"},
        "Projection":{"shape":"AwsDynamoDbTableProjection"},
        "ProvisionedThroughput":{"shape":"AwsDynamoDbTableProvisionedThroughput"}
      }
    },
    "AwsDynamoDbTableGlobalSecondaryIndexList":{
      "type":"list",
      "member":{"shape":"AwsDynamoDbTableGlobalSecondaryIndex"}
    },
    "AwsDynamoDbTableKeySchema":{
      "type":"structure",
      "members":{
        "AttributeName":{"shape":"NonEmptyString"},
        "KeyType":{"shape":"NonEmptyString"}
      }
    },
    "AwsDynamoDbTableKeySchemaList":{
      "type":"list",
      "member":{"shape":"AwsDynamoDbTableKeySchema"}
    },
    "AwsDynamoDbTableLocalSecondaryIndex":{
      "type":"structure",
      "members":{
        "IndexArn":{"shape":"NonEmptyString"},
        "IndexName":{"shape":"NonEmptyString"},
        "KeySchema":{"shape":"AwsDynamoDbTableKeySchemaList"},
        "Projection":{"shape":"AwsDynamoDbTableProjection"}
      }
    },
    "AwsDynamoDbTableLocalSecondaryIndexList":{
      "type":"list",
      "member":{"shape":"AwsDynamoDbTableLocalSecondaryIndex"}
    },
    "AwsDynamoDbTableProjection":{
      "type":"structure",
      "members":{
        "NonKeyAttributes":{"shape":"StringList"},
        "ProjectionType":{"shape":"NonEmptyString"}
      }
    },
    "AwsDynamoDbTableProvisionedThroughput":{
      "type":"structure",
      "members":{
        "LastDecreaseDateTime":{"shape":"NonEmptyString"},
        "LastIncreaseDateTime":{"shape":"NonEmptyString"},
        "NumberOfDecreasesToday":{"shape":"Integer"},
        "ReadCapacityUnits":{"shape":"Integer"},
        "WriteCapacityUnits":{"shape":"Integer"}
      }
    },
    "AwsDynamoDbTableProvisionedThroughputOverride":{
      "type":"structure",
      "members":{
        "ReadCapacityUnits":{"shape":"Integer"}
      }
    },
    "AwsDynamoDbTableReplica":{
      "type":"structure",
      "members":{
        "GlobalSecondaryIndexes":{"shape":"AwsDynamoDbTableReplicaGlobalSecondaryIndexList"},
        "KmsMasterKeyId":{"shape":"NonEmptyString"},
        "ProvisionedThroughputOverride":{"shape":"AwsDynamoDbTableProvisionedThroughputOverride"},
        "RegionName":{"shape":"NonEmptyString"},
        "ReplicaStatus":{"shape":"NonEmptyString"},
        "ReplicaStatusDescription":{"shape":"NonEmptyString"}
      }
    },
    "AwsDynamoDbTableReplicaGlobalSecondaryIndex":{
      "type":"structure",
      "members":{
        "IndexName":{"shape":"NonEmptyString"},
        "ProvisionedThroughputOverride":{"shape":"AwsDynamoDbTableProvisionedThroughputOverride"}
      }
    },
    "AwsDynamoDbTableReplicaGlobalSecondaryIndexList":{
      "type":"list",
      "member":{"shape":"AwsDynamoDbTableReplicaGlobalSecondaryIndex"}
    },
    "AwsDynamoDbTableReplicaList":{
      "type":"list",
      "member":{"shape":"AwsDynamoDbTableReplica"}
    },
    "AwsDynamoDbTableRestoreSummary":{
      "type":"structure",
      "members":{
        "SourceBackupArn":{"shape":"NonEmptyString"},
        "SourceTableArn":{"shape":"NonEmptyString"},
        "RestoreDateTime":{"shape":"NonEmptyString"},
        "RestoreInProgress":{"shape":"Boolean"}
      }
    },
    "AwsDynamoDbTableSseDescription":{
      "type":"structure",
      "members":{
        "InaccessibleEncryptionDateTime":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"},
        "SseType":{"shape":"NonEmptyString"},
        "KmsMasterKeyArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsDynamoDbTableStreamSpecification":{
      "type":"structure",
      "members":{
        "StreamEnabled":{"shape":"Boolean"},
        "StreamViewType":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2EipDetails":{
      "type":"structure",
      "members":{
        "InstanceId":{"shape":"NonEmptyString"},
        "PublicIp":{"shape":"NonEmptyString"},
        "AllocationId":{"shape":"NonEmptyString"},
        "AssociationId":{"shape":"NonEmptyString"},
        "Domain":{"shape":"NonEmptyString"},
        "PublicIpv4Pool":{"shape":"NonEmptyString"},
        "NetworkBorderGroup":{"shape":"NonEmptyString"},
        "NetworkInterfaceId":{"shape":"NonEmptyString"},
        "NetworkInterfaceOwnerId":{"shape":"NonEmptyString"},
        "PrivateIpAddress":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2InstanceDetails":{
      "type":"structure",
      "members":{
        "Type":{"shape":"NonEmptyString"},
        "ImageId":{"shape":"NonEmptyString"},
        "IpV4Addresses":{"shape":"StringList"},
        "IpV6Addresses":{"shape":"StringList"},
        "KeyName":{"shape":"NonEmptyString"},
        "IamInstanceProfileArn":{"shape":"NonEmptyString"},
        "VpcId":{"shape":"NonEmptyString"},
        "SubnetId":{"shape":"NonEmptyString"},
        "LaunchedAt":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2NetworkInterfaceAttachment":{
      "type":"structure",
      "members":{
        "AttachTime":{"shape":"NonEmptyString"},
        "AttachmentId":{"shape":"NonEmptyString"},
        "DeleteOnTermination":{"shape":"Boolean"},
        "DeviceIndex":{"shape":"Integer"},
        "InstanceId":{"shape":"NonEmptyString"},
        "InstanceOwnerId":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2NetworkInterfaceDetails":{
      "type":"structure",
      "members":{
        "Attachment":{"shape":"AwsEc2NetworkInterfaceAttachment"},
        "NetworkInterfaceId":{"shape":"NonEmptyString"},
        "SecurityGroups":{"shape":"AwsEc2NetworkInterfaceSecurityGroupList"},
        "SourceDestCheck":{"shape":"Boolean"}
      }
    },
    "AwsEc2NetworkInterfaceSecurityGroup":{
      "type":"structure",
      "members":{
        "GroupName":{"shape":"NonEmptyString"},
        "GroupId":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2NetworkInterfaceSecurityGroupList":{
      "type":"list",
      "member":{"shape":"AwsEc2NetworkInterfaceSecurityGroup"}
    },
    "AwsEc2SecurityGroupDetails":{
      "type":"structure",
      "members":{
        "GroupName":{"shape":"NonEmptyString"},
        "GroupId":{"shape":"NonEmptyString"},
        "OwnerId":{"shape":"NonEmptyString"},
        "VpcId":{"shape":"NonEmptyString"},
        "IpPermissions":{"shape":"AwsEc2SecurityGroupIpPermissionList"},
        "IpPermissionsEgress":{"shape":"AwsEc2SecurityGroupIpPermissionList"}
      }
    },
    "AwsEc2SecurityGroupIpPermission":{
      "type":"structure",
      "members":{
        "IpProtocol":{"shape":"NonEmptyString"},
        "FromPort":{"shape":"Integer"},
        "ToPort":{"shape":"Integer"},
        "UserIdGroupPairs":{"shape":"AwsEc2SecurityGroupUserIdGroupPairList"},
        "IpRanges":{"shape":"AwsEc2SecurityGroupIpRangeList"},
        "Ipv6Ranges":{"shape":"AwsEc2SecurityGroupIpv6RangeList"},
        "PrefixListIds":{"shape":"AwsEc2SecurityGroupPrefixListIdList"}
      }
    },
    "AwsEc2SecurityGroupIpPermissionList":{
      "type":"list",
      "member":{"shape":"AwsEc2SecurityGroupIpPermission"}
    },
    "AwsEc2SecurityGroupIpRange":{
      "type":"structure",
      "members":{
        "CidrIp":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2SecurityGroupIpRangeList":{
      "type":"list",
      "member":{"shape":"AwsEc2SecurityGroupIpRange"}
    },
    "AwsEc2SecurityGroupIpv6Range":{
      "type":"structure",
      "members":{
        "CidrIpv6":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2SecurityGroupIpv6RangeList":{
      "type":"list",
      "member":{"shape":"AwsEc2SecurityGroupIpv6Range"}
    },
    "AwsEc2SecurityGroupPrefixListId":{
      "type":"structure",
      "members":{
        "PrefixListId":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2SecurityGroupPrefixListIdList":{
      "type":"list",
      "member":{"shape":"AwsEc2SecurityGroupPrefixListId"}
    },
    "AwsEc2SecurityGroupUserIdGroupPair":{
      "type":"structure",
      "members":{
        "GroupId":{"shape":"NonEmptyString"},
        "GroupName":{"shape":"NonEmptyString"},
        "PeeringStatus":{"shape":"NonEmptyString"},
        "UserId":{"shape":"NonEmptyString"},
        "VpcId":{"shape":"NonEmptyString"},
        "VpcPeeringConnectionId":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2SecurityGroupUserIdGroupPairList":{
      "type":"list",
      "member":{"shape":"AwsEc2SecurityGroupUserIdGroupPair"}
    },
    "AwsEc2VolumeAttachment":{
      "type":"structure",
      "members":{
        "AttachTime":{"shape":"NonEmptyString"},
        "DeleteOnTermination":{"shape":"Boolean"},
        "InstanceId":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsEc2VolumeAttachmentList":{
      "type":"list",
      "member":{"shape":"AwsEc2VolumeAttachment"}
    },
    "AwsEc2VolumeDetails":{
      "type":"structure",
      "members":{
        "CreateTime":{"shape":"NonEmptyString"},
        "Encrypted":{"shape":"Boolean"},
        "Size":{"shape":"Integer"},
        "SnapshotId":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"},
        "KmsKeyId":{"shape":"NonEmptyString"},
        "Attachments":{"shape":"AwsEc2VolumeAttachmentList"}
      }
    },
    "AwsEc2VpcDetails":{
      "type":"structure",
      "members":{
        "CidrBlockAssociationSet":{"shape":"CidrBlockAssociationList"},
        "Ipv6CidrBlockAssociationSet":{"shape":"Ipv6CidrBlockAssociationList"},
        "DhcpOptionsId":{"shape":"NonEmptyString"},
        "State":{"shape":"NonEmptyString"}
      }
    },
    "AwsElasticsearchDomainDetails":{
      "type":"structure",
      "members":{
        "AccessPolicies":{"shape":"NonEmptyString"},
        "DomainEndpointOptions":{"shape":"AwsElasticsearchDomainDomainEndpointOptions"},
        "DomainId":{"shape":"NonEmptyString"},
        "DomainName":{"shape":"NonEmptyString"},
        "Endpoint":{"shape":"NonEmptyString"},
        "Endpoints":{"shape":"FieldMap"},
        "ElasticsearchVersion":{"shape":"NonEmptyString"},
        "EncryptionAtRestOptions":{"shape":"AwsElasticsearchDomainEncryptionAtRestOptions"},
        "NodeToNodeEncryptionOptions":{"shape":"AwsElasticsearchDomainNodeToNodeEncryptionOptions"},
        "VPCOptions":{"shape":"AwsElasticsearchDomainVPCOptions"}
      }
    },
    "AwsElasticsearchDomainDomainEndpointOptions":{
      "type":"structure",
      "members":{
        "EnforceHTTPS":{"shape":"Boolean"},
        "TLSSecurityPolicy":{"shape":"NonEmptyString"}
      }
    },
    "AwsElasticsearchDomainEncryptionAtRestOptions":{
      "type":"structure",
      "members":{
        "Enabled":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"NonEmptyString"}
      }
    },
    "AwsElasticsearchDomainNodeToNodeEncryptionOptions":{
      "type":"structure",
      "members":{
        "Enabled":{"shape":"Boolean"}
      }
    },
    "AwsElasticsearchDomainVPCOptions":{
      "type":"structure",
      "members":{
        "AvailabilityZones":{"shape":"NonEmptyStringList"},
        "SecurityGroupIds":{"shape":"NonEmptyStringList"},
        "SubnetIds":{"shape":"NonEmptyStringList"},
        "VPCId":{"shape":"NonEmptyString"}
      }
    },
    "AwsElbAppCookieStickinessPolicies":{
      "type":"list",
      "member":{"shape":"AwsElbAppCookieStickinessPolicy"}
    },
    "AwsElbAppCookieStickinessPolicy":{
      "type":"structure",
      "members":{
        "CookieName":{"shape":"NonEmptyString"},
        "PolicyName":{"shape":"NonEmptyString"}
      }
    },
    "AwsElbLbCookieStickinessPolicies":{
      "type":"list",
      "member":{"shape":"AwsElbLbCookieStickinessPolicy"}
    },
    "AwsElbLbCookieStickinessPolicy":{
      "type":"structure",
      "members":{
        "CookieExpirationPeriod":{"shape":"Long"},
        "PolicyName":{"shape":"NonEmptyString"}
      }
    },
    "AwsElbLoadBalancerAccessLog":{
      "type":"structure",
      "members":{
        "EmitInterval":{"shape":"Integer"},
        "Enabled":{"shape":"Boolean"},
        "S3BucketName":{"shape":"NonEmptyString"},
        "S3BucketPrefix":{"shape":"NonEmptyString"}
      }
    },
    "AwsElbLoadBalancerAttributes":{
      "type":"structure",
      "members":{
        "AccessLog":{"shape":"AwsElbLoadBalancerAccessLog"},
        "ConnectionDraining":{"shape":"AwsElbLoadBalancerConnectionDraining"},
        "ConnectionSettings":{"shape":"AwsElbLoadBalancerConnectionSettings"},
        "CrossZoneLoadBalancing":{"shape":"AwsElbLoadBalancerCrossZoneLoadBalancing"}
      }
    },
    "AwsElbLoadBalancerBackendServerDescription":{
      "type":"structure",
      "members":{
        "InstancePort":{"shape":"Integer"},
        "PolicyNames":{"shape":"StringList"}
      }
    },
    "AwsElbLoadBalancerBackendServerDescriptions":{
      "type":"list",
      "member":{"shape":"AwsElbLoadBalancerBackendServerDescription"}
    },
    "AwsElbLoadBalancerConnectionDraining":{
      "type":"structure",
      "members":{
        "Enabled":{"shape":"Boolean"},
        "Timeout":{"shape":"Integer"}
      }
    },
    "AwsElbLoadBalancerConnectionSettings":{
      "type":"structure",
      "members":{
        "IdleTimeout":{"shape":"Integer"}
      }
    },
    "AwsElbLoadBalancerCrossZoneLoadBalancing":{
      "type":"structure",
      "members":{
        "Enabled":{"shape":"Boolean"}
      }
    },
    "AwsElbLoadBalancerDetails":{
      "type":"structure",
      "members":{
        "AvailabilityZones":{"shape":"StringList"},
        "BackendServerDescriptions":{"shape":"AwsElbLoadBalancerBackendServerDescriptions"},
        "CanonicalHostedZoneName":{"shape":"NonEmptyString"},
        "CanonicalHostedZoneNameID":{"shape":"NonEmptyString"},
        "CreatedTime":{"shape":"NonEmptyString"},
        "DnsName":{"shape":"NonEmptyString"},
        "HealthCheck":{"shape":"AwsElbLoadBalancerHealthCheck"},
        "Instances":{"shape":"AwsElbLoadBalancerInstances"},
        "ListenerDescriptions":{"shape":"AwsElbLoadBalancerListenerDescriptions"},
        "LoadBalancerAttributes":{"shape":"AwsElbLoadBalancerAttributes"},
        "LoadBalancerName":{"shape":"NonEmptyString"},
        "Policies":{"shape":"AwsElbLoadBalancerPolicies"},
        "Scheme":{"shape":"NonEmptyString"},
        "SecurityGroups":{"shape":"StringList"},
        "SourceSecurityGroup":{"shape":"AwsElbLoadBalancerSourceSecurityGroup"},
        "Subnets":{"shape":"StringList"},
        "VpcId":{"shape":"NonEmptyString"}
      }
    },
    "AwsElbLoadBalancerHealthCheck":{
      "type":"structure",
      "members":{
        "HealthyThreshold":{"shape":"Integer"},
        "Interval":{"shape":"Integer"},
        "Target":{"shape":"NonEmptyString"},
        "Timeout":{"shape":"Integer"},
        "UnhealthyThreshold":{"shape":"Integer"}
      }
    },
    "AwsElbLoadBalancerInstance":{
      "type":"structure",
      "members":{
        "InstanceId":{"shape":"NonEmptyString"}
      }
    },
    "AwsElbLoadBalancerInstances":{
      "type":"list",
      "member":{"shape":"AwsElbLoadBalancerInstance"}
    },
    "AwsElbLoadBalancerListener":{
      "type":"structure",
      "members":{
        "InstancePort":{"shape":"Integer"},
        "InstanceProtocol":{"shape":"NonEmptyString"},
        "LoadBalancerPort":{"shape":"Integer"},
        "Protocol":{"shape":"NonEmptyString"},
        "SslCertificateId":{"shape":"NonEmptyString"}
      }
    },
    "AwsElbLoadBalancerListenerDescription":{
      "type":"structure",
      "members":{
        "Listener":{"shape":"AwsElbLoadBalancerListener"},
        "PolicyNames":{"shape":"StringList"}
      }
    },
    "AwsElbLoadBalancerListenerDescriptions":{
      "type":"list",
      "member":{"shape":"AwsElbLoadBalancerListenerDescription"}
    },
    "AwsElbLoadBalancerPolicies":{
      "type":"structure",
      "members":{
        "AppCookieStickinessPolicies":{"shape":"AwsElbAppCookieStickinessPolicies"},
        "LbCookieStickinessPolicies":{"shape":"AwsElbLbCookieStickinessPolicies"},
        "OtherPolicies":{"shape":"StringList"}
      }
    },
    "AwsElbLoadBalancerSourceSecurityGroup":{
      "type":"structure",
      "members":{
        "GroupName":{"shape":"NonEmptyString"},
        "OwnerAlias":{"shape":"NonEmptyString"}
      }
    },
    "AwsElbv2LoadBalancerDetails":{
      "type":"structure",
      "members":{
        "AvailabilityZones":{"shape":"AvailabilityZones"},
        "CanonicalHostedZoneId":{"shape":"NonEmptyString"},
        "CreatedTime":{"shape":"NonEmptyString"},
        "DNSName":{"shape":"NonEmptyString"},
        "IpAddressType":{"shape":"NonEmptyString"},
        "Scheme":{"shape":"NonEmptyString"},
        "SecurityGroups":{"shape":"SecurityGroups"},
        "State":{"shape":"LoadBalancerState"},
        "Type":{"shape":"NonEmptyString"},
        "VpcId":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamAccessKeyDetails":{
      "type":"structure",
      "members":{
        "UserName":{
          "shape":"NonEmptyString",
          "deprecated":true,
          "deprecatedMessage":"This field is deprecated, use PrincipalName instead."
        },
        "Status":{"shape":"AwsIamAccessKeyStatus"},
        "CreatedAt":{"shape":"NonEmptyString"},
        "PrincipalId":{"shape":"NonEmptyString"},
        "PrincipalType":{"shape":"NonEmptyString"},
        "PrincipalName":{"shape":"NonEmptyString"},
        "AccountId":{"shape":"NonEmptyString"},
        "AccessKeyId":{"shape":"NonEmptyString"},
        "SessionContext":{"shape":"AwsIamAccessKeySessionContext"}
      }
    },
    "AwsIamAccessKeySessionContext":{
      "type":"structure",
      "members":{
        "Attributes":{"shape":"AwsIamAccessKeySessionContextAttributes"},
        "SessionIssuer":{"shape":"AwsIamAccessKeySessionContextSessionIssuer"}
      }
    },
    "AwsIamAccessKeySessionContextAttributes":{
      "type":"structure",
      "members":{
        "MfaAuthenticated":{"shape":"Boolean"},
        "CreationDate":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamAccessKeySessionContextSessionIssuer":{
      "type":"structure",
      "members":{
        "Type":{"shape":"NonEmptyString"},
        "PrincipalId":{"shape":"NonEmptyString"},
        "Arn":{"shape":"NonEmptyString"},
        "AccountId":{"shape":"NonEmptyString"},
        "UserName":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamAccessKeyStatus":{
      "type":"string",
      "enum":[
        "Active",
        "Inactive"
      ]
    },
    "AwsIamAttachedManagedPolicy":{
      "type":"structure",
      "members":{
        "PolicyName":{"shape":"NonEmptyString"},
        "PolicyArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamAttachedManagedPolicyList":{
      "type":"list",
      "member":{"shape":"AwsIamAttachedManagedPolicy"}
    },
    "AwsIamGroupDetails":{
      "type":"structure",
      "members":{
        "AttachedManagedPolicies":{"shape":"AwsIamAttachedManagedPolicyList"},
        "CreateDate":{"shape":"NonEmptyString"},
        "GroupId":{"shape":"NonEmptyString"},
        "GroupName":{"shape":"NonEmptyString"},
        "GroupPolicyList":{"shape":"AwsIamGroupPolicyList"},
        "Path":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamGroupPolicy":{
      "type":"structure",
      "members":{
        "PolicyName":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamGroupPolicyList":{
      "type":"list",
      "member":{"shape":"AwsIamGroupPolicy"}
    },
    "AwsIamInstanceProfile":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"NonEmptyString"},
        "CreateDate":{"shape":"NonEmptyString"},
        "InstanceProfileId":{"shape":"NonEmptyString"},
        "InstanceProfileName":{"shape":"NonEmptyString"},
        "Path":{"shape":"NonEmptyString"},
        "Roles":{"shape":"AwsIamInstanceProfileRoles"}
      }
    },
    "AwsIamInstanceProfileList":{
      "type":"list",
      "member":{"shape":"AwsIamInstanceProfile"}
    },
    "AwsIamInstanceProfileRole":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"NonEmptyString"},
        "AssumeRolePolicyDocument":{"shape":"AwsIamRoleAssumeRolePolicyDocument"},
        "CreateDate":{"shape":"NonEmptyString"},
        "Path":{"shape":"NonEmptyString"},
        "RoleId":{"shape":"NonEmptyString"},
        "RoleName":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamInstanceProfileRoles":{
      "type":"list",
      "member":{"shape":"AwsIamInstanceProfileRole"}
    },
    "AwsIamPermissionsBoundary":{
      "type":"structure",
      "members":{
        "PermissionsBoundaryArn":{"shape":"NonEmptyString"},
        "PermissionsBoundaryType":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamPolicyDetails":{
      "type":"structure",
      "members":{
        "AttachmentCount":{"shape":"Integer"},
        "CreateDate":{"shape":"NonEmptyString"},
        "DefaultVersionId":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"},
        "IsAttachable":{"shape":"Boolean"},
        "Path":{"shape":"NonEmptyString"},
        "PermissionsBoundaryUsageCount":{"shape":"Integer"},
        "PolicyId":{"shape":"NonEmptyString"},
        "PolicyName":{"shape":"NonEmptyString"},
        "PolicyVersionList":{"shape":"AwsIamPolicyVersionList"},
        "UpdateDate":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamPolicyVersion":{
      "type":"structure",
      "members":{
        "VersionId":{"shape":"NonEmptyString"},
        "IsDefaultVersion":{"shape":"Boolean"},
        "CreateDate":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamPolicyVersionList":{
      "type":"list",
      "member":{"shape":"AwsIamPolicyVersion"}
    },
    "AwsIamRoleAssumeRolePolicyDocument":{
      "type":"string",
      "max":131072,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]+"
    },
    "AwsIamRoleDetails":{
      "type":"structure",
      "members":{
        "AssumeRolePolicyDocument":{"shape":"AwsIamRoleAssumeRolePolicyDocument"},
        "AttachedManagedPolicies":{"shape":"AwsIamAttachedManagedPolicyList"},
        "CreateDate":{"shape":"NonEmptyString"},
        "InstanceProfileList":{"shape":"AwsIamInstanceProfileList"},
        "PermissionsBoundary":{"shape":"AwsIamPermissionsBoundary"},
        "RoleId":{"shape":"NonEmptyString"},
        "RoleName":{"shape":"NonEmptyString"},
        "RolePolicyList":{"shape":"AwsIamRolePolicyList"},
        "MaxSessionDuration":{"shape":"Integer"},
        "Path":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamRolePolicy":{
      "type":"structure",
      "members":{
        "PolicyName":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamRolePolicyList":{
      "type":"list",
      "member":{"shape":"AwsIamRolePolicy"}
    },
    "AwsIamUserDetails":{
      "type":"structure",
      "members":{
        "AttachedManagedPolicies":{"shape":"AwsIamAttachedManagedPolicyList"},
        "CreateDate":{"shape":"NonEmptyString"},
        "GroupList":{"shape":"StringList"},
        "Path":{"shape":"NonEmptyString"},
        "PermissionsBoundary":{"shape":"AwsIamPermissionsBoundary"},
        "UserId":{"shape":"NonEmptyString"},
        "UserName":{"shape":"NonEmptyString"},
        "UserPolicyList":{"shape":"AwsIamUserPolicyList"}
      }
    },
    "AwsIamUserPolicy":{
      "type":"structure",
      "members":{
        "PolicyName":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamUserPolicyList":{
      "type":"list",
      "member":{"shape":"AwsIamUserPolicy"}
    },
    "AwsKmsKeyDetails":{
      "type":"structure",
      "members":{
        "AWSAccountId":{"shape":"NonEmptyString"},
        "CreationDate":{"shape":"Double"},
        "KeyId":{"shape":"NonEmptyString"},
        "KeyManager":{"shape":"NonEmptyString"},
        "KeyState":{"shape":"NonEmptyString"},
        "Origin":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"}
      }
    },
    "AwsLambdaFunctionCode":{
      "type":"structure",
      "members":{
        "S3Bucket":{"shape":"NonEmptyString"},
        "S3Key":{"shape":"NonEmptyString"},
        "S3ObjectVersion":{"shape":"NonEmptyString"},
        "ZipFile":{"shape":"NonEmptyString"}
      }
    },
    "AwsLambdaFunctionDeadLetterConfig":{
      "type":"structure",
      "members":{
        "TargetArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsLambdaFunctionDetails":{
      "type":"structure",
      "members":{
        "Code":{"shape":"AwsLambdaFunctionCode"},
        "CodeSha256":{"shape":"NonEmptyString"},
        "DeadLetterConfig":{"shape":"AwsLambdaFunctionDeadLetterConfig"},
        "Environment":{"shape":"AwsLambdaFunctionEnvironment"},
        "FunctionName":{"shape":"NonEmptyString"},
        "Handler":{"shape":"NonEmptyString"},
        "KmsKeyArn":{"shape":"NonEmptyString"},
        "LastModified":{"shape":"NonEmptyString"},
        "Layers":{"shape":"AwsLambdaFunctionLayerList"},
        "MasterArn":{"shape":"NonEmptyString"},
        "MemorySize":{"shape":"Integer"},
        "RevisionId":{"shape":"NonEmptyString"},
        "Role":{"shape":"NonEmptyString"},
        "Runtime":{"shape":"NonEmptyString"},
        "Timeout":{"shape":"Integer"},
        "TracingConfig":{"shape":"AwsLambdaFunctionTracingConfig"},
        "VpcConfig":{"shape":"AwsLambdaFunctionVpcConfig"},
        "Version":{"shape":"NonEmptyString"}
      }
    },
    "AwsLambdaFunctionEnvironment":{
      "type":"structure",
      "members":{
        "Variables":{"shape":"FieldMap"},
        "Error":{"shape":"AwsLambdaFunctionEnvironmentError"}
      }
    },
    "AwsLambdaFunctionEnvironmentError":{
      "type":"structure",
      "members":{
        "ErrorCode":{"shape":"NonEmptyString"},
        "Message":{"shape":"NonEmptyString"}
      }
    },
    "AwsLambdaFunctionLayer":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"NonEmptyString"},
        "CodeSize":{"shape":"Integer"}
      }
    },
    "AwsLambdaFunctionLayerList":{
      "type":"list",
      "member":{"shape":"AwsLambdaFunctionLayer"}
    },
    "AwsLambdaFunctionTracingConfig":{
      "type":"structure",
      "members":{
        "Mode":{"shape":"NonEmptyString"}
      }
    },
    "AwsLambdaFunctionVpcConfig":{
      "type":"structure",
      "members":{
        "SecurityGroupIds":{"shape":"NonEmptyStringList"},
        "SubnetIds":{"shape":"NonEmptyStringList"},
        "VpcId":{"shape":"NonEmptyString"}
      }
    },
    "AwsLambdaLayerVersionDetails":{
      "type":"structure",
      "members":{
        "Version":{"shape":"AwsLambdaLayerVersionNumber"},
        "CompatibleRuntimes":{"shape":"NonEmptyStringList"},
        "CreatedDate":{"shape":"NonEmptyString"}
      }
    },
    "AwsLambdaLayerVersionNumber":{"type":"long"},
    "AwsRdsDbClusterAssociatedRole":{
      "type":"structure",
      "members":{
        "RoleArn":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbClusterAssociatedRoles":{
      "type":"list",
      "member":{"shape":"AwsRdsDbClusterAssociatedRole"}
    },
    "AwsRdsDbClusterDetails":{
      "type":"structure",
      "members":{
        "AllocatedStorage":{"shape":"Integer"},
        "AvailabilityZones":{"shape":"StringList"},
        "BackupRetentionPeriod":{"shape":"Integer"},
        "DatabaseName":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"},
        "Endpoint":{"shape":"NonEmptyString"},
        "ReaderEndpoint":{"shape":"NonEmptyString"},
        "CustomEndpoints":{"shape":"StringList"},
        "MultiAz":{"shape":"Boolean"},
        "Engine":{"shape":"NonEmptyString"},
        "EngineVersion":{"shape":"NonEmptyString"},
        "Port":{"shape":"Integer"},
        "MasterUsername":{"shape":"NonEmptyString"},
        "PreferredBackupWindow":{"shape":"NonEmptyString"},
        "PreferredMaintenanceWindow":{"shape":"NonEmptyString"},
        "ReadReplicaIdentifiers":{"shape":"StringList"},
        "VpcSecurityGroups":{"shape":"AwsRdsDbInstanceVpcSecurityGroups"},
        "HostedZoneId":{"shape":"NonEmptyString"},
        "StorageEncrypted":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"NonEmptyString"},
        "DbClusterResourceId":{"shape":"NonEmptyString"},
        "AssociatedRoles":{"shape":"AwsRdsDbClusterAssociatedRoles"},
        "ClusterCreateTime":{"shape":"NonEmptyString"},
        "EnabledCloudWatchLogsExports":{"shape":"StringList"},
        "EngineMode":{"shape":"NonEmptyString"},
        "DeletionProtection":{"shape":"Boolean"},
        "HttpEndpointEnabled":{"shape":"Boolean"},
        "ActivityStreamStatus":{"shape":"NonEmptyString"},
        "CopyTagsToSnapshot":{"shape":"Boolean"},
        "CrossAccountClone":{"shape":"Boolean"},
        "DomainMemberships":{"shape":"AwsRdsDbDomainMemberships"},
        "DbClusterParameterGroup":{"shape":"NonEmptyString"},
        "DbSubnetGroup":{"shape":"NonEmptyString"},
        "DbClusterOptionGroupMemberships":{"shape":"AwsRdsDbClusterOptionGroupMemberships"},
        "DbClusterIdentifier":{"shape":"NonEmptyString"},
        "DbClusterMembers":{"shape":"AwsRdsDbClusterMembers"},
        "IamDatabaseAuthenticationEnabled":{"shape":"Boolean"}
      }
    },
    "AwsRdsDbClusterMember":{
      "type":"structure",
      "members":{
        "IsClusterWriter":{"shape":"Boolean"},
        "PromotionTier":{"shape":"Integer"},
        "DbInstanceIdentifier":{"shape":"NonEmptyString"},
        "DbClusterParameterGroupStatus":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbClusterMembers":{
      "type":"list",
      "member":{"shape":"AwsRdsDbClusterMember"}
    },
    "AwsRdsDbClusterOptionGroupMembership":{
      "type":"structure",
      "members":{
        "DbClusterOptionGroupName":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbClusterOptionGroupMemberships":{
      "type":"list",
      "member":{"shape":"AwsRdsDbClusterOptionGroupMembership"}
    },
    "AwsRdsDbClusterSnapshotDetails":{
      "type":"structure",
      "members":{
        "AvailabilityZones":{"shape":"StringList"},
        "SnapshotCreateTime":{"shape":"NonEmptyString"},
        "Engine":{"shape":"NonEmptyString"},
        "AllocatedStorage":{"shape":"Integer"},
        "Status":{"shape":"NonEmptyString"},
        "Port":{"shape":"Integer"},
        "VpcId":{"shape":"NonEmptyString"},
        "ClusterCreateTime":{"shape":"NonEmptyString"},
        "MasterUsername":{"shape":"NonEmptyString"},
        "EngineVersion":{"shape":"NonEmptyString"},
        "LicenseModel":{"shape":"NonEmptyString"},
        "SnapshotType":{"shape":"NonEmptyString"},
        "PercentProgress":{"shape":"Integer"},
        "StorageEncrypted":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"NonEmptyString"},
        "DbClusterIdentifier":{"shape":"NonEmptyString"},
        "DbClusterSnapshotIdentifier":{"shape":"NonEmptyString"},
        "IamDatabaseAuthenticationEnabled":{"shape":"Boolean"}
      }
    },
    "AwsRdsDbDomainMembership":{
      "type":"structure",
      "members":{
        "Domain":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"},
        "Fqdn":{"shape":"NonEmptyString"},
        "IamRoleName":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbDomainMemberships":{
      "type":"list",
      "member":{"shape":"AwsRdsDbDomainMembership"}
    },
    "AwsRdsDbInstanceAssociatedRole":{
      "type":"structure",
      "members":{
        "RoleArn":{"shape":"NonEmptyString"},
        "FeatureName":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbInstanceAssociatedRoles":{
      "type":"list",
      "member":{"shape":"AwsRdsDbInstanceAssociatedRole"}
    },
    "AwsRdsDbInstanceDetails":{
      "type":"structure",
      "members":{
        "AssociatedRoles":{"shape":"AwsRdsDbInstanceAssociatedRoles"},
        "CACertificateIdentifier":{"shape":"NonEmptyString"},
        "DBClusterIdentifier":{"shape":"NonEmptyString"},
        "DBInstanceIdentifier":{"shape":"NonEmptyString"},
        "DBInstanceClass":{"shape":"NonEmptyString"},
        "DbInstancePort":{"shape":"Integer"},
        "DbiResourceId":{"shape":"NonEmptyString"},
        "DBName":{"shape":"NonEmptyString"},
        "DeletionProtection":{"shape":"Boolean"},
        "Endpoint":{"shape":"AwsRdsDbInstanceEndpoint"},
        "Engine":{"shape":"NonEmptyString"},
        "EngineVersion":{"shape":"NonEmptyString"},
        "IAMDatabaseAuthenticationEnabled":{"shape":"Boolean"},
        "InstanceCreateTime":{"shape":"NonEmptyString"},
        "KmsKeyId":{"shape":"NonEmptyString"},
        "PubliclyAccessible":{"shape":"Boolean"},
        "StorageEncrypted":{"shape":"Boolean"},
        "TdeCredentialArn":{"shape":"NonEmptyString"},
        "VpcSecurityGroups":{"shape":"AwsRdsDbInstanceVpcSecurityGroups"},
        "MultiAz":{"shape":"Boolean"},
        "EnhancedMonitoringResourceArn":{"shape":"NonEmptyString"},
        "DbInstanceStatus":{"shape":"NonEmptyString"},
        "MasterUsername":{"shape":"NonEmptyString"},
        "AllocatedStorage":{"shape":"Integer"},
        "PreferredBackupWindow":{"shape":"NonEmptyString"},
        "BackupRetentionPeriod":{"shape":"Integer"},
        "DbSecurityGroups":{"shape":"StringList"},
        "DbParameterGroups":{"shape":"AwsRdsDbParameterGroups"},
        "AvailabilityZone":{"shape":"NonEmptyString"},
        "DbSubnetGroup":{"shape":"AwsRdsDbSubnetGroup"},
        "PreferredMaintenanceWindow":{"shape":"NonEmptyString"},
        "PendingModifiedValues":{"shape":"AwsRdsDbPendingModifiedValues"},
        "LatestRestorableTime":{"shape":"NonEmptyString"},
        "AutoMinorVersionUpgrade":{"shape":"Boolean"},
        "ReadReplicaSourceDBInstanceIdentifier":{"shape":"NonEmptyString"},
        "ReadReplicaDBInstanceIdentifiers":{"shape":"StringList"},
        "ReadReplicaDBClusterIdentifiers":{"shape":"StringList"},
        "LicenseModel":{"shape":"NonEmptyString"},
        "Iops":{"shape":"Integer"},
        "OptionGroupMemberships":{"shape":"AwsRdsDbOptionGroupMemberships"},
        "CharacterSetName":{"shape":"NonEmptyString"},
        "SecondaryAvailabilityZone":{"shape":"NonEmptyString"},
        "StatusInfos":{"shape":"AwsRdsDbStatusInfos"},
        "StorageType":{"shape":"NonEmptyString"},
        "DomainMemberships":{"shape":"AwsRdsDbDomainMemberships"},
        "CopyTagsToSnapshot":{"shape":"Boolean"},
        "MonitoringInterval":{"shape":"Integer"},
        "MonitoringRoleArn":{"shape":"NonEmptyString"},
        "PromotionTier":{"shape":"Integer"},
        "Timezone":{"shape":"NonEmptyString"},
        "PerformanceInsightsEnabled":{"shape":"Boolean"},
        "PerformanceInsightsKmsKeyId":{"shape":"NonEmptyString"},
        "PerformanceInsightsRetentionPeriod":{"shape":"Integer"},
        "EnabledCloudWatchLogsExports":{"shape":"StringList"},
        "ProcessorFeatures":{"shape":"AwsRdsDbProcessorFeatures"},
        "ListenerEndpoint":{"shape":"AwsRdsDbInstanceEndpoint"},
        "MaxAllocatedStorage":{"shape":"Integer"}
      }
    },
    "AwsRdsDbInstanceEndpoint":{
      "type":"structure",
      "members":{
        "Address":{"shape":"NonEmptyString"},
        "Port":{"shape":"Integer"},
        "HostedZoneId":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbInstanceVpcSecurityGroup":{
      "type":"structure",
      "members":{
        "VpcSecurityGroupId":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbInstanceVpcSecurityGroups":{
      "type":"list",
      "member":{"shape":"AwsRdsDbInstanceVpcSecurityGroup"}
    },
    "AwsRdsDbOptionGroupMembership":{
      "type":"structure",
      "members":{
        "OptionGroupName":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbOptionGroupMemberships":{
      "type":"list",
      "member":{"shape":"AwsRdsDbOptionGroupMembership"}
    },
    "AwsRdsDbParameterGroup":{
      "type":"structure",
      "members":{
        "DbParameterGroupName":{"shape":"NonEmptyString"},
        "ParameterApplyStatus":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbParameterGroups":{
      "type":"list",
      "member":{"shape":"AwsRdsDbParameterGroup"}
    },
    "AwsRdsDbPendingModifiedValues":{
      "type":"structure",
      "members":{
        "DbInstanceClass":{"shape":"NonEmptyString"},
        "AllocatedStorage":{"shape":"Integer"},
        "MasterUserPassword":{"shape":"NonEmptyString"},
        "Port":{"shape":"Integer"},
        "BackupRetentionPeriod":{"shape":"Integer"},
        "MultiAZ":{"shape":"Boolean"},
        "EngineVersion":{"shape":"NonEmptyString"},
        "LicenseModel":{"shape":"NonEmptyString"},
        "Iops":{"shape":"Integer"},
        "DbInstanceIdentifier":{"shape":"NonEmptyString"},
        "StorageType":{"shape":"NonEmptyString"},
        "CaCertificateIdentifier":{"shape":"NonEmptyString"},
        "DbSubnetGroupName":{"shape":"NonEmptyString"},
        "PendingCloudWatchLogsExports":{"shape":"AwsRdsPendingCloudWatchLogsExports"},
        "ProcessorFeatures":{"shape":"AwsRdsDbProcessorFeatures"}
      }
    },
    "AwsRdsDbProcessorFeature":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Value":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbProcessorFeatures":{
      "type":"list",
      "member":{"shape":"AwsRdsDbProcessorFeature"}
    },
    "AwsRdsDbSnapshotDetails":{
      "type":"structure",
      "members":{
        "DbSnapshotIdentifier":{"shape":"NonEmptyString"},
        "DbInstanceIdentifier":{"shape":"NonEmptyString"},
        "SnapshotCreateTime":{"shape":"NonEmptyString"},
        "Engine":{"shape":"NonEmptyString"},
        "AllocatedStorage":{"shape":"Integer"},
        "Status":{"shape":"NonEmptyString"},
        "Port":{"shape":"Integer"},
        "AvailabilityZone":{"shape":"NonEmptyString"},
        "VpcId":{"shape":"NonEmptyString"},
        "InstanceCreateTime":{"shape":"NonEmptyString"},
        "MasterUsername":{"shape":"NonEmptyString"},
        "EngineVersion":{"shape":"NonEmptyString"},
        "LicenseModel":{"shape":"NonEmptyString"},
        "SnapshotType":{"shape":"NonEmptyString"},
        "Iops":{"shape":"Integer"},
        "OptionGroupName":{"shape":"NonEmptyString"},
        "PercentProgress":{"shape":"Integer"},
        "SourceRegion":{"shape":"NonEmptyString"},
        "SourceDbSnapshotIdentifier":{"shape":"NonEmptyString"},
        "StorageType":{"shape":"NonEmptyString"},
        "TdeCredentialArn":{"shape":"NonEmptyString"},
        "Encrypted":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"NonEmptyString"},
        "Timezone":{"shape":"NonEmptyString"},
        "IamDatabaseAuthenticationEnabled":{"shape":"Boolean"},
        "ProcessorFeatures":{"shape":"AwsRdsDbProcessorFeatures"},
        "DbiResourceId":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbStatusInfo":{
      "type":"structure",
      "members":{
        "StatusType":{"shape":"NonEmptyString"},
        "Normal":{"shape":"Boolean"},
        "Status":{"shape":"NonEmptyString"},
        "Message":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbStatusInfos":{
      "type":"list",
      "member":{"shape":"AwsRdsDbStatusInfo"}
    },
    "AwsRdsDbSubnetGroup":{
      "type":"structure",
      "members":{
        "DbSubnetGroupName":{"shape":"NonEmptyString"},
        "DbSubnetGroupDescription":{"shape":"NonEmptyString"},
        "VpcId":{"shape":"NonEmptyString"},
        "SubnetGroupStatus":{"shape":"NonEmptyString"},
        "Subnets":{"shape":"AwsRdsDbSubnetGroupSubnets"},
        "DbSubnetGroupArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbSubnetGroupSubnet":{
      "type":"structure",
      "members":{
        "SubnetIdentifier":{"shape":"NonEmptyString"},
        "SubnetAvailabilityZone":{"shape":"AwsRdsDbSubnetGroupSubnetAvailabilityZone"},
        "SubnetStatus":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbSubnetGroupSubnetAvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonEmptyString"}
      }
    },
    "AwsRdsDbSubnetGroupSubnets":{
      "type":"list",
      "member":{"shape":"AwsRdsDbSubnetGroupSubnet"}
    },
    "AwsRdsPendingCloudWatchLogsExports":{
      "type":"structure",
      "members":{
        "LogTypesToEnable":{"shape":"StringList"},
        "LogTypesToDisable":{"shape":"StringList"}
      }
    },
    "AwsRedshiftClusterClusterNode":{
      "type":"structure",
      "members":{
        "NodeRole":{"shape":"NonEmptyString"},
        "PrivateIpAddress":{"shape":"NonEmptyString"},
        "PublicIpAddress":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterClusterNodes":{
      "type":"list",
      "member":{"shape":"AwsRedshiftClusterClusterNode"}
    },
    "AwsRedshiftClusterClusterParameterGroup":{
      "type":"structure",
      "members":{
        "ClusterParameterStatusList":{"shape":"AwsRedshiftClusterClusterParameterStatusList"},
        "ParameterApplyStatus":{"shape":"NonEmptyString"},
        "ParameterGroupName":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterClusterParameterGroups":{
      "type":"list",
      "member":{"shape":"AwsRedshiftClusterClusterParameterGroup"}
    },
    "AwsRedshiftClusterClusterParameterStatus":{
      "type":"structure",
      "members":{
        "ParameterName":{"shape":"NonEmptyString"},
        "ParameterApplyStatus":{"shape":"NonEmptyString"},
        "ParameterApplyErrorDescription":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterClusterParameterStatusList":{
      "type":"list",
      "member":{"shape":"AwsRedshiftClusterClusterParameterStatus"}
    },
    "AwsRedshiftClusterClusterSecurityGroup":{
      "type":"structure",
      "members":{
        "ClusterSecurityGroupName":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterClusterSecurityGroups":{
      "type":"list",
      "member":{"shape":"AwsRedshiftClusterClusterSecurityGroup"}
    },
    "AwsRedshiftClusterClusterSnapshotCopyStatus":{
      "type":"structure",
      "members":{
        "DestinationRegion":{"shape":"NonEmptyString"},
        "ManualSnapshotRetentionPeriod":{"shape":"Integer"},
        "RetentionPeriod":{"shape":"Integer"},
        "SnapshotCopyGrantName":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterDeferredMaintenanceWindow":{
      "type":"structure",
      "members":{
        "DeferMaintenanceEndTime":{"shape":"NonEmptyString"},
        "DeferMaintenanceIdentifier":{"shape":"NonEmptyString"},
        "DeferMaintenanceStartTime":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterDeferredMaintenanceWindows":{
      "type":"list",
      "member":{"shape":"AwsRedshiftClusterDeferredMaintenanceWindow"}
    },
    "AwsRedshiftClusterDetails":{
      "type":"structure",
      "members":{
        "AllowVersionUpgrade":{"shape":"Boolean"},
        "AutomatedSnapshotRetentionPeriod":{"shape":"Integer"},
        "AvailabilityZone":{"shape":"NonEmptyString"},
        "ClusterAvailabilityStatus":{"shape":"NonEmptyString"},
        "ClusterCreateTime":{"shape":"NonEmptyString"},
        "ClusterIdentifier":{"shape":"NonEmptyString"},
        "ClusterNodes":{"shape":"AwsRedshiftClusterClusterNodes"},
        "ClusterParameterGroups":{"shape":"AwsRedshiftClusterClusterParameterGroups"},
        "ClusterPublicKey":{"shape":"NonEmptyString"},
        "ClusterRevisionNumber":{"shape":"NonEmptyString"},
        "ClusterSecurityGroups":{"shape":"AwsRedshiftClusterClusterSecurityGroups"},
        "ClusterSnapshotCopyStatus":{"shape":"AwsRedshiftClusterClusterSnapshotCopyStatus"},
        "ClusterStatus":{"shape":"NonEmptyString"},
        "ClusterSubnetGroupName":{"shape":"NonEmptyString"},
        "ClusterVersion":{"shape":"NonEmptyString"},
        "DBName":{"shape":"NonEmptyString"},
        "DeferredMaintenanceWindows":{"shape":"AwsRedshiftClusterDeferredMaintenanceWindows"},
        "ElasticIpStatus":{"shape":"AwsRedshiftClusterElasticIpStatus"},
        "ElasticResizeNumberOfNodeOptions":{"shape":"NonEmptyString"},
        "Encrypted":{"shape":"Boolean"},
        "Endpoint":{"shape":"AwsRedshiftClusterEndpoint"},
        "EnhancedVpcRouting":{"shape":"Boolean"},
        "ExpectedNextSnapshotScheduleTime":{"shape":"NonEmptyString"},
        "ExpectedNextSnapshotScheduleTimeStatus":{"shape":"NonEmptyString"},
        "HsmStatus":{"shape":"AwsRedshiftClusterHsmStatus"},
        "IamRoles":{"shape":"AwsRedshiftClusterIamRoles"},
        "KmsKeyId":{"shape":"NonEmptyString"},
        "MaintenanceTrackName":{"shape":"NonEmptyString"},
        "ManualSnapshotRetentionPeriod":{"shape":"Integer"},
        "MasterUsername":{"shape":"NonEmptyString"},
        "NextMaintenanceWindowStartTime":{"shape":"NonEmptyString"},
        "NodeType":{"shape":"NonEmptyString"},
        "NumberOfNodes":{"shape":"Integer"},
        "PendingActions":{"shape":"StringList"},
        "PendingModifiedValues":{"shape":"AwsRedshiftClusterPendingModifiedValues"},
        "PreferredMaintenanceWindow":{"shape":"NonEmptyString"},
        "PubliclyAccessible":{"shape":"Boolean"},
        "ResizeInfo":{"shape":"AwsRedshiftClusterResizeInfo"},
        "RestoreStatus":{"shape":"AwsRedshiftClusterRestoreStatus"},
        "SnapshotScheduleIdentifier":{"shape":"NonEmptyString"},
        "SnapshotScheduleState":{"shape":"NonEmptyString"},
        "VpcId":{"shape":"NonEmptyString"},
        "VpcSecurityGroups":{"shape":"AwsRedshiftClusterVpcSecurityGroups"}
      }
    },
    "AwsRedshiftClusterElasticIpStatus":{
      "type":"structure",
      "members":{
        "ElasticIp":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterEndpoint":{
      "type":"structure",
      "members":{
        "Address":{"shape":"NonEmptyString"},
        "Port":{"shape":"Integer"}
      }
    },
    "AwsRedshiftClusterHsmStatus":{
      "type":"structure",
      "members":{
        "HsmClientCertificateIdentifier":{"shape":"NonEmptyString"},
        "HsmConfigurationIdentifier":{"shape":"NonEmptyString"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterIamRole":{
      "type":"structure",
      "members":{
        "ApplyStatus":{"shape":"NonEmptyString"},
        "IamRoleArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterIamRoles":{
      "type":"list",
      "member":{"shape":"AwsRedshiftClusterIamRole"}
    },
    "AwsRedshiftClusterPendingModifiedValues":{
      "type":"structure",
      "members":{
        "AutomatedSnapshotRetentionPeriod":{"shape":"Integer"},
        "ClusterIdentifier":{"shape":"NonEmptyString"},
        "ClusterType":{"shape":"NonEmptyString"},
        "ClusterVersion":{"shape":"NonEmptyString"},
        "EncryptionType":{"shape":"NonEmptyString"},
        "EnhancedVpcRouting":{"shape":"Boolean"},
        "MaintenanceTrackName":{"shape":"NonEmptyString"},
        "MasterUserPassword":{"shape":"NonEmptyString"},
        "NodeType":{"shape":"NonEmptyString"},
        "NumberOfNodes":{"shape":"Integer"},
        "PubliclyAccessible":{"shape":"Boolean"}
      }
    },
    "AwsRedshiftClusterResizeInfo":{
      "type":"structure",
      "members":{
        "AllowCancelResize":{"shape":"Boolean"},
        "ResizeType":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterRestoreStatus":{
      "type":"structure",
      "members":{
        "CurrentRestoreRateInMegaBytesPerSecond":{"shape":"Double"},
        "ElapsedTimeInSeconds":{"shape":"Long"},
        "EstimatedTimeToCompletionInSeconds":{"shape":"Long"},
        "ProgressInMegaBytes":{"shape":"Long"},
        "SnapshotSizeInMegaBytes":{"shape":"Long"},
        "Status":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterVpcSecurityGroup":{
      "type":"structure",
      "members":{
        "Status":{"shape":"NonEmptyString"},
        "VpcSecurityGroupId":{"shape":"NonEmptyString"}
      }
    },
    "AwsRedshiftClusterVpcSecurityGroups":{
      "type":"list",
      "member":{"shape":"AwsRedshiftClusterVpcSecurityGroup"}
    },
    "AwsS3BucketDetails":{
      "type":"structure",
      "members":{
        "OwnerId":{"shape":"NonEmptyString"},
        "OwnerName":{"shape":"NonEmptyString"},
        "CreatedAt":{"shape":"NonEmptyString"},
        "ServerSideEncryptionConfiguration":{"shape":"AwsS3BucketServerSideEncryptionConfiguration"}
      }
    },
    "AwsS3BucketServerSideEncryptionByDefault":{
      "type":"structure",
      "members":{
        "SSEAlgorithm":{"shape":"NonEmptyString"},
        "KMSMasterKeyID":{"shape":"NonEmptyString"}
      }
    },
    "AwsS3BucketServerSideEncryptionConfiguration":{
      "type":"structure",
      "members":{
        "Rules":{"shape":"AwsS3BucketServerSideEncryptionRules"}
      }
    },
    "AwsS3BucketServerSideEncryptionRule":{
      "type":"structure",
      "members":{
        "ApplyServerSideEncryptionByDefault":{"shape":"AwsS3BucketServerSideEncryptionByDefault"}
      }
    },
    "AwsS3BucketServerSideEncryptionRules":{
      "type":"list",
      "member":{"shape":"AwsS3BucketServerSideEncryptionRule"}
    },
    "AwsS3ObjectDetails":{
      "type":"structure",
      "members":{
        "LastModified":{"shape":"NonEmptyString"},
        "ETag":{"shape":"NonEmptyString"},
        "VersionId":{"shape":"NonEmptyString"},
        "ContentType":{"shape":"NonEmptyString"},
        "ServerSideEncryption":{"shape":"NonEmptyString"},
        "SSEKMSKeyId":{"shape":"NonEmptyString"}
      }
    },
    "AwsSecretsManagerSecretDetails":{
      "type":"structure",
      "members":{
        "RotationRules":{"shape":"AwsSecretsManagerSecretRotationRules"},
        "RotationOccurredWithinFrequency":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"NonEmptyString"},
        "RotationEnabled":{"shape":"Boolean"},
        "RotationLambdaArn":{"shape":"NonEmptyString"},
        "Deleted":{"shape":"Boolean"},
        "Name":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"}
      }
    },
    "AwsSecretsManagerSecretRotationRules":{
      "type":"structure",
      "members":{
        "AutomaticallyAfterDays":{"shape":"Integer"}
      }
    },
    "AwsSecurityFinding":{
      "type":"structure",
      "required":[
        "SchemaVersion",
        "Id",
        "ProductArn",
        "GeneratorId",
        "AwsAccountId",
        "Types",
        "CreatedAt",
        "UpdatedAt",
        "Severity",
        "Title",
        "Description",
        "Resources"
      ],
      "members":{
        "SchemaVersion":{"shape":"NonEmptyString"},
        "Id":{"shape":"NonEmptyString"},
        "ProductArn":{"shape":"NonEmptyString"},
        "GeneratorId":{"shape":"NonEmptyString"},
        "AwsAccountId":{"shape":"NonEmptyString"},
        "Types":{"shape":"TypeList"},
        "FirstObservedAt":{"shape":"NonEmptyString"},
        "LastObservedAt":{"shape":"NonEmptyString"},
        "CreatedAt":{"shape":"NonEmptyString"},
        "UpdatedAt":{"shape":"NonEmptyString"},
        "Severity":{"shape":"Severity"},
        "Confidence":{"shape":"Integer"},
        "Criticality":{"shape":"Integer"},
        "Title":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"},
        "Remediation":{"shape":"Remediation"},
        "SourceUrl":{"shape":"NonEmptyString"},
        "ProductFields":{"shape":"FieldMap"},
        "UserDefinedFields":{"shape":"FieldMap"},
        "Malware":{"shape":"MalwareList"},
        "Network":{"shape":"Network"},
        "NetworkPath":{"shape":"NetworkPathList"},
        "Process":{"shape":"ProcessDetails"},
        "ThreatIntelIndicators":{"shape":"ThreatIntelIndicatorList"},
        "Resources":{"shape":"ResourceList"},
        "Compliance":{"shape":"Compliance"},
        "VerificationState":{"shape":"VerificationState"},
        "WorkflowState":{"shape":"WorkflowState"},
        "Workflow":{"shape":"Workflow"},
        "RecordState":{"shape":"RecordState"},
        "RelatedFindings":{"shape":"RelatedFindingList"},
        "Note":{"shape":"Note"},
        "Vulnerabilities":{"shape":"VulnerabilityList"},
        "PatchSummary":{"shape":"PatchSummary"}
      }
    },
    "AwsSecurityFindingFilters":{
      "type":"structure",
      "members":{
        "ProductArn":{"shape":"StringFilterList"},
        "AwsAccountId":{"shape":"StringFilterList"},
        "Id":{"shape":"StringFilterList"},
        "GeneratorId":{"shape":"StringFilterList"},
        "Type":{"shape":"StringFilterList"},
        "FirstObservedAt":{"shape":"DateFilterList"},
        "LastObservedAt":{"shape":"DateFilterList"},
        "CreatedAt":{"shape":"DateFilterList"},
        "UpdatedAt":{"shape":"DateFilterList"},
        "SeverityProduct":{"shape":"NumberFilterList"},
        "SeverityNormalized":{"shape":"NumberFilterList"},
        "SeverityLabel":{"shape":"StringFilterList"},
        "Confidence":{"shape":"NumberFilterList"},
        "Criticality":{"shape":"NumberFilterList"},
        "Title":{"shape":"StringFilterList"},
        "Description":{"shape":"StringFilterList"},
        "RecommendationText":{"shape":"StringFilterList"},
        "SourceUrl":{"shape":"StringFilterList"},
        "ProductFields":{"shape":"MapFilterList"},
        "ProductName":{"shape":"StringFilterList"},
        "CompanyName":{"shape":"StringFilterList"},
        "UserDefinedFields":{"shape":"MapFilterList"},
        "MalwareName":{"shape":"StringFilterList"},
        "MalwareType":{"shape":"StringFilterList"},
        "MalwarePath":{"shape":"StringFilterList"},
        "MalwareState":{"shape":"StringFilterList"},
        "NetworkDirection":{"shape":"StringFilterList"},
        "NetworkProtocol":{"shape":"StringFilterList"},
        "NetworkSourceIpV4":{"shape":"IpFilterList"},
        "NetworkSourceIpV6":{"shape":"IpFilterList"},
        "NetworkSourcePort":{"shape":"NumberFilterList"},
        "NetworkSourceDomain":{"shape":"StringFilterList"},
        "NetworkSourceMac":{"shape":"StringFilterList"},
        "NetworkDestinationIpV4":{"shape":"IpFilterList"},
        "NetworkDestinationIpV6":{"shape":"IpFilterList"},
        "NetworkDestinationPort":{"shape":"NumberFilterList"},
        "NetworkDestinationDomain":{"shape":"StringFilterList"},
        "ProcessName":{"shape":"StringFilterList"},
        "ProcessPath":{"shape":"StringFilterList"},
        "ProcessPid":{"shape":"NumberFilterList"},
        "ProcessParentPid":{"shape":"NumberFilterList"},
        "ProcessLaunchedAt":{"shape":"DateFilterList"},
        "ProcessTerminatedAt":{"shape":"DateFilterList"},
        "ThreatIntelIndicatorType":{"shape":"StringFilterList"},
        "ThreatIntelIndicatorValue":{"shape":"StringFilterList"},
        "ThreatIntelIndicatorCategory":{"shape":"StringFilterList"},
        "ThreatIntelIndicatorLastObservedAt":{"shape":"DateFilterList"},
        "ThreatIntelIndicatorSource":{"shape":"StringFilterList"},
        "ThreatIntelIndicatorSourceUrl":{"shape":"StringFilterList"},
        "ResourceType":{"shape":"StringFilterList"},
        "ResourceId":{"shape":"StringFilterList"},
        "ResourcePartition":{"shape":"StringFilterList"},
        "ResourceRegion":{"shape":"StringFilterList"},
        "ResourceTags":{"shape":"MapFilterList"},
        "ResourceAwsEc2InstanceType":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceImageId":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceIpV4Addresses":{"shape":"IpFilterList"},
        "ResourceAwsEc2InstanceIpV6Addresses":{"shape":"IpFilterList"},
        "ResourceAwsEc2InstanceKeyName":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceIamInstanceProfileArn":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceVpcId":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceSubnetId":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceLaunchedAt":{"shape":"DateFilterList"},
        "ResourceAwsS3BucketOwnerId":{"shape":"StringFilterList"},
        "ResourceAwsS3BucketOwnerName":{"shape":"StringFilterList"},
        "ResourceAwsIamAccessKeyUserName":{"shape":"StringFilterList"},
        "ResourceAwsIamAccessKeyStatus":{"shape":"StringFilterList"},
        "ResourceAwsIamAccessKeyCreatedAt":{"shape":"DateFilterList"},
        "ResourceContainerName":{"shape":"StringFilterList"},
        "ResourceContainerImageId":{"shape":"StringFilterList"},
        "ResourceContainerImageName":{"shape":"StringFilterList"},
        "ResourceContainerLaunchedAt":{"shape":"DateFilterList"},
        "ResourceDetailsOther":{"shape":"MapFilterList"},
        "ComplianceStatus":{"shape":"StringFilterList"},
        "VerificationState":{"shape":"StringFilterList"},
        "WorkflowState":{"shape":"StringFilterList"},
        "WorkflowStatus":{"shape":"StringFilterList"},
        "RecordState":{"shape":"StringFilterList"},
        "RelatedFindingsProductArn":{"shape":"StringFilterList"},
        "RelatedFindingsId":{"shape":"StringFilterList"},
        "NoteText":{"shape":"StringFilterList"},
        "NoteUpdatedAt":{"shape":"DateFilterList"},
        "NoteUpdatedBy":{"shape":"StringFilterList"},
        "Keyword":{"shape":"KeywordFilterList"}
      }
    },
    "AwsSecurityFindingIdentifier":{
      "type":"structure",
      "required":[
        "Id",
        "ProductArn"
      ],
      "members":{
        "Id":{"shape":"NonEmptyString"},
        "ProductArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsSecurityFindingIdentifierList":{
      "type":"list",
      "member":{"shape":"AwsSecurityFindingIdentifier"}
    },
    "AwsSecurityFindingList":{
      "type":"list",
      "member":{"shape":"AwsSecurityFinding"}
    },
    "AwsSnsTopicDetails":{
      "type":"structure",
      "members":{
        "KmsMasterKeyId":{"shape":"NonEmptyString"},
        "Subscription":{"shape":"AwsSnsTopicSubscriptionList"},
        "TopicName":{"shape":"NonEmptyString"},
        "Owner":{"shape":"NonEmptyString"}
      }
    },
    "AwsSnsTopicSubscription":{
      "type":"structure",
      "members":{
        "Endpoint":{"shape":"NonEmptyString"},
        "Protocol":{"shape":"NonEmptyString"}
      }
    },
    "AwsSnsTopicSubscriptionList":{
      "type":"list",
      "member":{"shape":"AwsSnsTopicSubscription"}
    },
    "AwsSqsQueueDetails":{
      "type":"structure",
      "members":{
        "KmsDataKeyReusePeriodSeconds":{"shape":"Integer"},
        "KmsMasterKeyId":{"shape":"NonEmptyString"},
        "QueueName":{"shape":"NonEmptyString"},
        "DeadLetterTargetArn":{"shape":"NonEmptyString"}
      }
    },
    "AwsWafWebAclDetails":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "DefaultAction":{"shape":"NonEmptyString"},
        "Rules":{"shape":"AwsWafWebAclRuleList"},
        "WebAclId":{"shape":"NonEmptyString"}
      }
    },
    "AwsWafWebAclRule":{
      "type":"structure",
      "members":{
        "Action":{"shape":"WafAction"},
        "ExcludedRules":{"shape":"WafExcludedRuleList"},
        "OverrideAction":{"shape":"WafOverrideAction"},
        "Priority":{"shape":"Integer"},
        "RuleId":{"shape":"NonEmptyString"},
        "Type":{"shape":"NonEmptyString"}
      }
    },
    "AwsWafWebAclRuleList":{
      "type":"list",
      "member":{"shape":"AwsWafWebAclRule"}
    },
    "BatchDisableStandardsRequest":{
      "type":"structure",
      "required":["StandardsSubscriptionArns"],
      "members":{
        "StandardsSubscriptionArns":{"shape":"StandardsSubscriptionArns"}
      }
    },
    "BatchDisableStandardsResponse":{
      "type":"structure",
      "members":{
        "StandardsSubscriptions":{"shape":"StandardsSubscriptions"}
      }
    },
    "BatchEnableStandardsRequest":{
      "type":"structure",
      "required":["StandardsSubscriptionRequests"],
      "members":{
[...]
