{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://dataflow.googleapis.com/",
  "batchPath": "batch",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataflow",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "dataflow:v1b3",
  "kind": "discovery#restDescription",
  "name": "dataflow",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "methods": {
        "workerMessages": {
          "description": "Send a worker_message to the service.",
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "httpMethod": "POST",
          "id": "dataflow.projects.workerMessages",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "description": "The project to send the WorkerMessages to.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        }
      },
      "resources": {
        "jobs": {
          "methods": {
            "aggregated": {
              "description": "List the jobs of a project across all regions.",
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.aggregated",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "filter": {
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "create": {
              "description": "Creates a Cloud Dataflow job.\n\nTo create a job, we recommend using `projects.locations.jobs.create` with a\n[regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.create` is not recommended, as your job will always start\nin `us-central1`.",
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "httpMethod": "POST",
              "id": "dataflow.projects.jobs.create",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "replaceJobId": {
                  "description": "Deprecated. This field is now in the Job message.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "description": "The level of information requested in response.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "get": {
              "description": "Gets the state of the specified Cloud Dataflow job.\n\nTo get the state of a job, we recommend using `projects.locations.jobs.get`\nwith a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.get` is not recommended, as you can only get the state of\njobs that are running in `us-central1`.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.get",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "parameters": {
                "jobId": {
                  "description": "The job ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "The level of information requested in response.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "getMetrics": {
              "description": "Request the job status.\n\nTo request the status of a job, we recommend using\n`projects.locations.jobs.getMetrics` with a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.getMetrics` is not recommended, as you can only request the\nstatus of jobs that are running in `us-central1`.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.getMetrics",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "parameters": {
                "jobId": {
                  "description": "The job to get messages for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the job specified by job_id.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "A project id.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "startTime": {
                  "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "response": {
                "$ref": "JobMetrics"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "list": {
              "description": "List the jobs of a project.\n\nTo list the jobs of a project in a region, we recommend using\n`projects.locations.jobs.get` with a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To\nlist the all jobs across all regions, use `projects.jobs.aggregated`. Using\n`projects.jobs.list` is not recommended, as you can only get the list of\njobs that are running in `us-central1`.",
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.list",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "filter": {
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "update": {
              "description": "Updates the state of an existing Cloud Dataflow job.\n\nTo update the state of an existing job, we recommend using\n`projects.locations.jobs.update` with a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.update` is not recommended, as you can only update the state\nof jobs that are running in `us-central1`.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "httpMethod": "PUT",
              "id": "dataflow.projects.jobs.update",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "parameters": {
                "jobId": {
                  "description": "The job ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          },
          "resources": {
            "debug": {
              "methods": {
                "getConfig": {
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "sendCapture": {
                  "description": "Send encoded debug capture data for component.",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "description": "Request the job status.\n\nTo request the status of a job, we recommend using\n`projects.locations.jobs.messages.list` with a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.messages.list` is not recommended, as you can only request\nthe status of jobs that are running in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.jobs.messages.list",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "endTime": {
                      "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job to get messages about.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the job specified by job_id.",
                      "location": "query",
                      "type": "string"
                    },
                    "minimumImportance": {
                      "description": "Filter to only get messages with importance \u003e= level",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "startTime": {
                      "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            },
            "workItems": {
              "methods": {
                "lease": {
                  "description": "Leases a dataflow WorkItem to run.",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Identifies the project this worker belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "reportStatus": {
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "The job which the WorkItem is part of.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The project which owns the WorkItem's job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "description": "Send a worker_message to the service.",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "httpMethod": "POST",
              "id": "dataflow.projects.locations.workerMessages",
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "parameters": {
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the job.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "description": "The project to send the WorkerMessages to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          },
          "resources": {
            "flexTemplates": {
              "methods": {
                "launch": {
                  "description": "Launch a job with a FlexTemplate.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "description": "Required. The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to\nwhich to direct the request. E.g., us-central1, us-west1.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            },
            "jobs": {
              "methods": {
                "create": {
                  "description": "Creates a Cloud Dataflow job.\n\nTo create a job, we recommend using `projects.locations.jobs.create` with a\n[regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.create` is not recommended, as your job will always start\nin `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.jobs.create",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "replaceJobId": {
                      "description": "Deprecated. This field is now in the Job message.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "get": {
                  "description": "Gets the state of the specified Cloud Dataflow job.\n\nTo get the state of a job, we recommend using `projects.locations.jobs.get`\nwith a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.get` is not recommended, as you can only get the state of\njobs that are running in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "The job ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "getMetrics": {
                  "description": "Request the job status.\n\nTo request the status of a job, we recommend using\n`projects.locations.jobs.getMetrics` with a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.getMetrics` is not recommended, as you can only request the\nstatus of jobs that are running in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "The job to get messages for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the job specified by job_id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "startTime": {
                      "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "list": {
                  "description": "List the jobs of a project.\n\nTo list the jobs of a project in a region, we recommend using\n`projects.locations.jobs.get` with a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To\nlist the all jobs across all regions, use `projects.jobs.aggregated`. Using\n`projects.jobs.list` is not recommended, as you can only get the list of\njobs that are running in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.jobs.list",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The kind of filter to use.",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The project which owns the jobs.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "update": {
                  "description": "Updates the state of an existing Cloud Dataflow job.\n\nTo update the state of an existing job, we recommend using\n`projects.locations.jobs.update` with a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.update` is not recommended, as you can only update the state\nof jobs that are running in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "httpMethod": "PUT",
                  "id": "dataflow.projects.locations.jobs.update",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "The job ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              },
              "resources": {
                "debug": {
                  "methods": {
                    "getConfig": {
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "httpMethod": "POST",
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "jobId": {
                          "description": "The job id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    },
                    "sendCapture": {
                      "description": "Send encoded debug capture data for component.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "httpMethod": "POST",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "jobId": {
                          "description": "The job id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "description": "Request the job status.\n\nTo request the status of a job, we recommend using\n`projects.locations.jobs.messages.list` with a [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using\n`projects.jobs.messages.list` is not recommended, as you can only request\nthe status of jobs that are running in `us-central1`.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "httpMethod": "GET",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "endTime": {
                          "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        },
                        "jobId": {
                          "description": "The job to get messages about.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "minimumImportance": {
                          "description": "Filter to only get messages with importance \u003e= level",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "A project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "startTime": {
                          "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "lease": {
                      "description": "Leases a dataflow WorkItem to run.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "httpMethod": "POST",
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "jobId": {
                          "description": "Identifies the workflow job this worker belongs to.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    },
                    "reportStatus": {
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "httpMethod": "POST",
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "jobId": {
                          "description": "The job which the WorkItem is part of.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that\ncontains the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project which owns the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    }
                  }
                }
              }
            },
            "sql": {
              "methods": {
                "validate": {
                  "description": "Validates a GoogleSQL query for Cloud Dataflow syntax. Will always\nconfirm the given query parses correctly, and if able to look up\nschema information from DataCatalog, will validate that the query\nanalyzes properly as well.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/sql:validate",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.sql.validate",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to\nwhich to direct the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "query": {
                      "description": "The sql query to validate.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/sql:validate",
                  "response": {
                    "$ref": "ValidateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            },
            "templates": {
              "methods": {
                "create": {
                  "description": "Creates a Cloud Dataflow job from a template.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.templates.create",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to\nwhich to direct the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "get": {
                  "description": "Get the template associated with a template.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.templates.get",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "gcsPath": {
                      "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to\nwhich to direct the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "launch": {
                  "description": "Launch a template.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.templates.launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "dynamicTemplate.gcsPath": {
                      "description": "Path to dynamic template spec file on GCS.\nThe file must be a Json serialized DynamicTemplateFieSpec object.",
                      "location": "query",
                      "type": "string"
                    },
                    "dynamicTemplate.stagingLocation": {
                      "description": "Cloud Storage path for staging dependencies.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query",
                      "type": "string"
                    },
                    "gcsPath": {
                      "description": "A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to\nwhich to direct the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            }
          }
        },
        "templates": {
          "methods": {
            "create": {
              "description": "Creates a Cloud Dataflow job from a template.",
              "flatPath": "v1b3/projects/{projectId}/templates",
              "httpMethod": "POST",
              "id": "dataflow.projects.templates.create",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/templates",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "get": {
              "description": "Get the template associated with a template.",
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "httpMethod": "GET",
              "id": "dataflow.projects.templates.get",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "gcsPath": {
                  "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to\nwhich to direct the request.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/templates:get",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "launch": {
              "description": "Launch a template.",
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "httpMethod": "POST",
              "id": "dataflow.projects.templates.launch",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "dynamicTemplate.gcsPath": {
                  "description": "Path to dynamic template spec file on GCS.\nThe file must be a Json serialized DynamicTemplateFieSpec object.",
                  "location": "query",
                  "type": "string"
                },
                "dynamicTemplate.stagingLocation": {
                  "description": "Cloud Storage path for staging dependencies.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query",
                  "type": "string"
                },
                "gcsPath": {
                  "description": "A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to\nwhich to direct the request.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "validateOnly": {
                  "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1b3/projects/{projectId}/templates:launch",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20200215",
  "rootUrl": "https://dataflow.googleapis.com/",
  "schemas": {
    "ApproximateProgress": {
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "id": "ApproximateProgress",
      "properties": {
        "percentComplete": {
          "description": "Obsolete.",
          "format": "float",
          "type": "number"
        },
        "position": {
          "$ref": "Position",
          "description": "Obsolete."
        },
        "remainingTime": {
          "description": "Obsolete.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApproximateReportedProgress": {
      "description": "A progress measurement of a WorkItem by a worker.",
      "id": "ApproximateReportedProgress",
      "properties": {
        "consumedParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the portion of input of this task that has\nalready been consumed and is no longer active. In the first two examples\nabove (see remaining_parallelism), the value should be 29 or 2\nrespectively.  The sum of remaining_parallelism and consumed_parallelism\nshould equal the total amount of parallelism in this work item.  If\nspecified, must be finite."
        },
        "fractionConsumed": {
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing\nconsumed), to 1.0 (end of the input, entire input consumed).",
          "format": "double",
          "type": "number"
        },
        "position": {
          "$ref": "Position",
          "description": "A Position within the work to represent a progress."
        },
        "remainingParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the input of this task that remains,\n(i.e. can be delegated to this task and any new tasks via dynamic\nsplitting). Always at least 1 for non-finished work items and 0 for\nfinished.\n\n\"Amount of parallelism\" refers to how many non-empty parts of the input\ncan be read in parallel. This does not necessarily equal number\nof records. An input that can be read in parallel down to the\nindividual records is called \"perfectly splittable\".\nAn example of non-perfectly parallelizable input is a block-compressed\nfile format where a block of records has to be read as a whole,\nbut different blocks can be read in parallel.\n\nExamples:\n* If we are processing record #30 (starting at 1) out of 50 in a perfectly\n  splittable 50-record input, this value should be 21 (20 remaining + 1\n  current).\n* If we are reading through block 3 in a block-compressed file consisting\n  of 5 blocks, this value should be 3 (since blocks 4 and 5 can be\n  processed in parallel by new tasks via dynamic splitting and the current\n  task remains processing block 3).\n* If we are reading through the last block in a block-compressed file,\n  or reading or processing the last record in a perfectly splittable\n  input, this value should be 1, because apart from the current task, no\n  additional remainder can be split off."
        }
      },
      "type": "object"
    },
    "ApproximateSplitRequest": {
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "id": "ApproximateSplitRequest",
      "properties": {
        "fractionConsumed": {
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the\ninput) to 1.0 (end of the input).",
          "format": "double",
          "type": "number"
        },
        "fractionOfRemainder": {
          "description": "The fraction of the remainder of work to split the work item at, from 0.0\n(split at the current position) to 1.0 (end of the input).",
          "format": "double",
          "type": "number"
        },
        "position": {
          "$ref": "Position",
          "description": "A Position at which to split the work item."
        }
      },
      "type": "object"
    },
    "AutoscalingEvent": {
      "description": "A structured message reporting an autoscaling decision made by the Dataflow\nservice.",
      "id": "AutoscalingEvent",
      "properties": {
        "currentNumWorkers": {
          "description": "The current number of workers the job has.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "$ref": "StructuredMessage",
          "description": "A message describing why the system decided to adjust the current\nnumber of workers, why it failed, or why the system decided to\nnot make any changes to the number of workers."
        },
        "eventType": {
          "description": "The type of autoscaling event to report.",
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "enumDescriptions": [
            "Default type for the enum.  Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target\nworker pool size has changed at the start of an actuation. An event\nshould always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects\na change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker\npool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report\nan error to the user indicating why the current number of workers\nin the pool could not be changed.\nDisplayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are\nnot currently adjusting the number of workers.\nShould specify both target_num_workers, current_num_workers and a\ndecision_message."
          ],
          "type": "string"
        },
        "targetNumWorkers": {
          "description": "The target number of workers the worker pool wants to resize to use.",
          "format": "int64",
          "type": "string"
        },
        "time": {
          "description": "The time this event was emitted to indicate a new target or current\nnum_workers value.",
          "format": "google-datetime",
          "type": "string"
        },
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to,\npopulated from the value of PoolStageRelation::user_pool_name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "id": "AutoscalingSettings",
      "properties": {
        "algorithm": {
          "description": "The algorithm to use for autoscaling.",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "type": "string"
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BigQueryIODetails": {
      "description": "Metadata for a BigQuery connector used by the job.",
      "id": "BigQueryIODetails",
      "properties": {
        "dataset": {
          "description": "Dataset accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        },
        "query": {
          "description": "Query used to access data in the connection.",
          "type": "string"
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BigTableIODetails": {
      "description": "Metadata for a BigTable connector used by the job.",
      "id": "BigTableIODetails",
      "properties": {
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime",
      "properties": {
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous\nsample.",
          "format": "double",
          "type": "number"
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "format": "google-datetime",
          "type": "string"
        },
        "totalMs": {
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds\nsince start-up.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComponentSource": {
      "description": "Description of an interstitial value between transforms in an execution\nstage.",
      "id": "ComponentSource",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this\nsource is most closely associated.",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComponentTransform": {
      "description": "Description of a transform executed as part of an execution stage.",
      "id": "ComponentTransform",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is\nmost closely associated.",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComputationTopology": {
      "description": "All configuration data for a particular Computation.",
      "id": "ComputationTopology",
      "properties": {
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "inputs": {
          "description": "The inputs to the computation.",
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array"
        },
        "keyRanges": {
          "description": "The key ranges processed by the computation.",
          "items": {
            "$ref": "KeyRangeLocation"
          },
          "type": "array"
        },
        "outputs": {
          "description": "The outputs from the computation.",
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array"
        },
        "stateFamilies": {
          "description": "The state family values.",
          "items": {
            "$ref": "StateFamilyConfig"
          },
          "type": "array"
        },
        "systemStageName": {
          "description": "The system stage name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConcatPosition": {
      "description": "A position that encapsulates an inner position and an index for the inner\nposition. A ConcatPosition can be used by a reader of a source that\nencapsulates a set of other sources.",
      "id": "ConcatPosition",
      "properties": {
        "index": {
          "description": "Index of the inner source.",
          "format": "int32",
          "type": "integer"
        },
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        }
      },
      "type": "object"
    },
    "ContainerSpec": {
      "description": "Container Spec.",
      "id": "ContainerSpec",
      "properties": {
        "image": {
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image",
          "type": "string"
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "Metadata describing a template including description and validation rules."
        },
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "Required. SDK info of the Flex Template."
        }
      },
      "type": "object"
    },
    "CounterMetadata": {
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "id": "CounterMetadata",
      "properties": {
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        },
        "kind": {
          "description": "Counter aggregation kind.",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "type": "string"
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "standardUnits": {
          "description": "System defined Units, see above enum.",
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CounterStructuredName": {
      "description": "Identifies a counter within a per-job namespace. Counters whose structured\nnames are the same get merged into a single value for the job.",
      "id": "CounterStructuredName",
      "properties": {
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "inputIndex": {
          "description": "Index of an input collection that's being read from/written to as a side\ninput.\nThe index identifies a step's side inputs starting by 1 (e.g. the first\nside input has input_index 1, the third has input_index 3).\nSide inputs are identified by a pair of (original_step_name, input_index).\nThis field helps uniquely identify them.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the\ncontext of the other fields.\nRequired.",
          "type": "string"
        },
        "origin": {
          "description": "One of the standard Origins defined above.",
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "type": "string"
        },
        "originNamespace": {
          "description": "A string containing a more specific namespace of the counter's origin.",
          "type": "string"
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK.\nI.e. the ParDo causing a read/write from shuffle to occur, or a\nread from side inputs.",
          "type": "string"
        },
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before\noptimization.",
          "type": "string"
        },
        "portion": {
          "description": "Portion of this counter, either key or value.",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "type": "string"
        },
        "workerId": {
          "description": "ID of a particular worker.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CounterStructuredNameAndMetadata": {
      "description": "A single message which encapsulates structured name and metadata for a given\ncounter.",
      "id": "CounterStructuredNameAndMetadata",
      "properties": {
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        },
        "name": {
          "$ref": "CounterStructuredName",
          "description": "Structured name of the counter."
        }
      },
      "type": "object"
    },
    "CounterUpdate": {
      "description": "An update to a Counter sent from a worker.",
      "id": "CounterUpdate",
      "properties": {
        "boolean": {
          "description": "Boolean value for And, Or.",
          "type": "boolean"
        },
        "cumulative": {
          "description": "True if this counter is reported as the total cumulative aggregate\nvalue accumulated since the worker started working on this WorkItem.\nBy default this is false, indicating that this counter is reported\nas a delta.",
          "type": "boolean"
        },
        "distribution": {
          "$ref": "DistributionUpdate",
          "description": "Distribution data"
        },
        "floatingPoint": {
          "description": "Floating point value for Sum, Max, Min.",
          "format": "double",
          "type": "number"
        },
        "floatingPointList": {
          "$ref": "FloatingPointList",
          "description": "List of floating point numbers, for Set."
        },
        "floatingPointMean": {
          "$ref": "FloatingPointMean",
          "description": "Floating point mean aggregation value for Mean."
        },
        "integer": {
          "$ref": "SplitInt64",
          "description": "Integer value for Sum, Max, Min."
        },
        "integerGauge": {
          "$ref": "IntegerGauge",
          "description": "Gauge data"
        },
        "integerList": {
          "$ref": "IntegerList",
          "description": "List of integers, for Set."
        },
        "integerMean": {
          "$ref": "IntegerMean",
          "description": "Integer mean aggregation value for Mean."
        },
        "internal": {
          "description": "Value for internally-defined counters used by the Dataflow service.",
          "type": "any"
        },
        "nameAndKind": {
          "$ref": "NameAndKind",
          "description": "Counter name and aggregation type."
        },
        "shortId": {
          "description": "The service-generated short identifier for this counter.\nThe short_id -\u003e (name, metadata) mapping is constant for the lifetime of\na job.",
          "format": "int64",
          "type": "string"
        },
        "stringList": {
          "$ref": "StringList",
          "description": "List of strings, for Set."
        },
        "structuredNameAndMetadata": {
          "$ref": "CounterStructuredNameAndMetadata",
          "description": "Counter structured name and metadata."
        }
      },
      "type": "object"
    },
    "CreateJobFromTemplateRequest": {
      "description": "A request to create a Cloud Dataflow job from a template.",
      "id": "CreateJobFromTemplateRequest",
      "properties": {
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint]\n(https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to\nwhich to direct the request.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The runtime parameters to pass to the job.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "CustomSourceLocation": {
      "description": "Identifies the location of a custom souce.",
      "id": "CustomSourceLocation",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DataDiskAssignment": {
      "description": "Data disk assignment for a given VM instance.",
      "id": "DataDiskAssignment",
      "properties": {
        "dataDisks": {
[...]
