{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        }
      }
    }
  },
  "basePath": "/youtube/v3/",
  "baseUrl": "https://www.googleapis.com/youtube/v3/",
  "batchPath": "batch/youtube/v3",
  "canonicalName": "YouTube",
  "description": "Supports core YouTube features, such as uploading videos, creating and managing playlists, searching for content, and much more.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/youtube/v3",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/BmF7sum2uJw0jCtnIjSA3ClUG4I\"",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/youtube-16.png",
    "x32": "https://www.google.com/images/icons/product/youtube-32.png"
  },
  "id": "youtube:v3",
  "kind": "discovery#restDescription",
  "name": "youtube",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "activities": {
      "methods": {
        "insert": {
          "description": "Posts a bulletin for a specific channel. (The user submitting the request must be authorized to act on the channel's behalf.)\n\nNote: Even though an activity resource can contain information about actions like a user rating a video or marking a video as a favorite, you need to use other API methods to generate those activity resources. For example, you would use the API's videos.rate() method to rate a video and the playlistItems.insert() method to mark a video as a favorite.",
          "httpMethod": "POST",
          "id": "youtube.activities.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "activities",
          "request": {
            "$ref": "Activity"
          },
          "response": {
            "$ref": "Activity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Returns a list of channel activity events that match the request criteria. For example, you can retrieve events associated with a particular channel, events associated with the user's subscriptions and Google+ friends, or the YouTube home page feed, which is customized for each user.",
          "httpMethod": "GET",
          "id": "youtube.activities.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "channelId": {
              "description": "The channelId parameter specifies a unique YouTube channel ID. The API will then return a list of that channel's activities.",
              "location": "query",
              "type": "string"
            },
            "home": {
              "description": "Set this parameter's value to true to retrieve the activity feed that displays on the YouTube home page for the currently authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "5",
              "description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "maximum": "50",
              "minimum": "0",
              "type": "integer"
            },
            "mine": {
              "description": "Set this parameter's value to true to retrieve a feed of the authenticated user's activities.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more activity resource properties that the API response will include.\n\nIf the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set part=snippet, the API response will also contain all of those nested properties.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "publishedAfter": {
              "description": "The publishedAfter parameter specifies the earliest date and time that an activity could have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be included in the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
              "format": "date-time",
              "location": "query",
              "type": "string"
            },
            "publishedBefore": {
              "description": "The publishedBefore parameter specifies the date and time before which an activity must have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be excluded from the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
              "format": "date-time",
              "location": "query",
              "type": "string"
            },
            "regionCode": {
              "description": "The regionCode parameter instructs the API to return results for the specified country. The parameter value is an ISO 3166-1 alpha-2 country code. YouTube uses this value when the authorized user's previous activity on YouTube does not provide enough information to generate the activity feed.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "activities",
          "response": {
            "$ref": "ActivityListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "captions": {
      "methods": {
        "delete": {
          "description": "Deletes a specified caption track.",
          "httpMethod": "DELETE",
          "id": "youtube.captions.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter identifies the caption track that is being deleted. The value is a caption track ID as identified by the id property in a caption resource.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "download": {
          "description": "Downloads a caption track. The caption track is returned in its original format unless the request specifies a value for the tfmt parameter and in its original language unless the request specifies a value for the tlang parameter.",
          "httpMethod": "GET",
          "id": "youtube.captions.download",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter identifies the caption track that is being retrieved. The value is a caption track ID as identified by the id property in a caption resource.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "tfmt": {
              "description": "The tfmt parameter specifies that the caption track should be returned in a specific format. If the parameter is not included in the request, the track is returned in its original format.",
              "enum": [
                "sbv",
                "scc",
                "srt",
                "ttml",
                "vtt"
              ],
              "enumDescriptions": [
                "SubViewer subtitle.",
                "Scenarist Closed Caption format.",
                "SubRip subtitle.",
                "Timed Text Markup Language caption.",
                "Web Video Text Tracks caption."
              ],
              "location": "query",
              "type": "string"
            },
            "tlang": {
              "description": "The tlang parameter specifies that the API response should return a translation of the specified caption track. The parameter value is an ISO 639-1 two-letter language code that identifies the desired caption language. The translation is generated by using machine translation, such as Google Translate.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "captions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaDownload": true
        },
        "insert": {
          "description": "Uploads a caption track.",
          "httpMethod": "POST",
          "id": "youtube.captions.insert",
          "mediaUpload": {
            "accept": [
              "*/*",
              "application/octet-stream",
              "text/xml"
            ],
            "maxSize": "100MB",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            }
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "sync": {
              "description": "The sync parameter indicates whether YouTube should automatically synchronize the caption file with the audio track of the video. If you set the value to true, YouTube will disregard any time codes that are in the uploaded caption file and generate new time codes for the captions.\n\nYou should set the sync parameter to true if you are uploading a transcript, which has no time codes, or if you suspect the time codes in your file are incorrect and want YouTube to try to fix them.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "captions",
          "request": {
            "$ref": "Caption"
          },
          "response": {
            "$ref": "Caption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true
        },
        "list": {
          "description": "Returns a list of caption tracks that are associated with a specified video. Note that the API response does not contain the actual captions and that the captions.download method provides the ability to retrieve a caption track.",
          "httpMethod": "GET",
          "id": "youtube.captions.list",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter specifies a comma-separated list of IDs that identify the caption resources that should be retrieved. Each ID must identify a caption track associated with the specified video.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "videoId": {
              "description": "The videoId parameter specifies the YouTube video ID of the video for which the API should return caption tracks.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "captions",
          "response": {
            "$ref": "CaptionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates a caption track. When updating a caption track, you can change the track's draft status, upload a new caption file for the track, or both.",
          "httpMethod": "PUT",
          "id": "youtube.captions.update",
          "mediaUpload": {
            "accept": [
              "*/*",
              "application/octet-stream",
              "text/xml"
            ],
            "maxSize": "100MB",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            }
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the property value to snippet if you are updating the track's draft status. Otherwise, set the property value to id.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "sync": {
              "description": "Note: The API server only processes the parameter value if the request contains an updated caption file.\n\nThe sync parameter indicates whether YouTube should automatically synchronize the caption file with the audio track of the video. If you set the value to true, YouTube will automatically synchronize the caption track with the audio track.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "captions",
          "request": {
            "$ref": "Caption"
          },
          "response": {
            "$ref": "Caption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "description": "Uploads a channel banner image to YouTube. This method represents the first two steps in a three-step process to update the banner image for a channel:\n\n- Call the channelBanners.insert method to upload the binary image data to YouTube. The image must have a 16:9 aspect ratio and be at least 2120x1192 pixels.\n- Extract the url property's value from the response that the API returns for step 1.\n- Call the channels.update method to update the channel's branding settings. Set the brandingSettings.image.bannerExternalUrl property's value to the URL obtained in step 2.",
          "httpMethod": "POST",
          "id": "youtube.channelBanners.insert",
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "image/jpeg",
              "image/png"
            ],
            "maxSize": "6MB",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/channelBanners/insert"
              }
            }
          },
          "parameters": {
            "channelId": {
              "description": "The channelId parameter identifies the YouTube channel to which the banner is uploaded. The channelId parameter was introduced as a required parameter in May 2017. As this was a backward-incompatible change, channelBanners.insert requests that do not specify this parameter will not return an error until six months have passed from the time that the parameter was introduced. Please see the API Terms of Service for the official policy regarding backward incompatible changes and the API revision history for the exact date that the parameter was introduced.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "channelBanners/insert",
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "supportsMediaUpload": true
        }
      }
    },
    "channelSections": {
      "methods": {
        "delete": {
          "description": "Deletes a channelSection.",
          "httpMethod": "DELETE",
          "id": "youtube.channelSections.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter specifies the YouTube channelSection ID for the resource that is being deleted. In a channelSection resource, the id property specifies the YouTube channelSection ID.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Adds a channelSection for the authenticated user's channel.",
          "httpMethod": "POST",
          "id": "youtube.channelSections.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.\n\nThis parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.\n\nThe part names that you can include in the parameter value are snippet and contentDetails.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Returns channelSection resources that match the API request criteria.",
          "httpMethod": "GET",
          "id": "youtube.channelSections.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "channelId": {
              "description": "The channelId parameter specifies a YouTube channel ID. The API will only return that channel's channelSections.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "description": "The hl parameter indicates that the snippet.localized property values in the returned channelSection resources should be in the specified language if localized values for that language are available. For example, if the API request specifies hl=de, the snippet.localized properties in the API response will contain German titles if German titles are available. Channel owners can provide localized channel section titles using either the channelSections.insert or channelSections.update method.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "The id parameter specifies a comma-separated list of the YouTube channelSection ID(s) for the resource(s) that are being retrieved. In a channelSection resource, the id property specifies the YouTube channelSection ID.",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "description": "Set this parameter's value to true to retrieve a feed of the authenticated user's channelSections.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails.\n\nIf the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set part=snippet, the API response will also contain all of those nested properties.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "channelSections",
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Update a channelSection.",
          "httpMethod": "PUT",
          "id": "youtube.channelSections.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.\n\nThe part names that you can include in the parameter value are snippet and contentDetails.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "description": "Returns a collection of zero or more channel resources that match the request criteria.",
          "httpMethod": "GET",
          "id": "youtube.channels.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "categoryId": {
              "description": "The categoryId parameter specifies a YouTube guide category, thereby requesting YouTube channels associated with that category.",
              "location": "query",
              "type": "string"
            },
            "forUsername": {
              "description": "The forUsername parameter specifies a YouTube username, thereby requesting the channel associated with that username.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "description": "The hl parameter should be used for filter out the properties that are not in the given language. Used for the brandingSettings part.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "The id parameter specifies a comma-separated list of the YouTube channel ID(s) for the resource(s) that are being retrieved. In a channel resource, the id property specifies the channel's YouTube channel ID.",
              "location": "query",
              "type": "string"
            },
            "managedByMe": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nSet this parameter's value to true to instruct the API to only return channels managed by the content owner that the onBehalfOfContentOwner parameter specifies. The user must be authenticated as a CMS account linked to the specified content owner and onBehalfOfContentOwner must be provided.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "5",
              "description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "maximum": "50",
              "minimum": "0",
              "type": "integer"
            },
            "mine": {
              "description": "Set this parameter's value to true to instruct the API to only return channels owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "mySubscribers": {
              "description": "Use the subscriptions.list method and its mySubscribers parameter to retrieve a list of subscribers to the authenticated user's channel.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more channel resource properties that the API response will include.\n\nIf the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set part=contentDetails, the API response will also contain all of those nested properties.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "channels",
          "response": {
            "$ref": "ChannelListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ]
        },
        "update": {
          "description": "Updates a channel's metadata. Note that this method currently only supports updates to the channel resource's brandingSettings and invideoPromotion objects and their child properties.",
          "httpMethod": "PUT",
          "id": "youtube.channels.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The onBehalfOfContentOwner parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.\n\nThe API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.)\n\nNote that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "channels",
          "request": {
            "$ref": "Channel"
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "commentThreads": {
      "methods": {
        "insert": {
          "description": "Creates a new top-level comment. To add a reply to an existing comment, use the comments.insert method instead.",
          "httpMethod": "POST",
          "id": "youtube.commentThreads.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The part parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "commentThreads",
          "request": {
            "$ref": "CommentThread"
          },
          "response": {
            "$ref": "CommentThread"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Returns a list of comment threads that match the API request parameters.",
          "httpMethod": "GET",
          "id": "youtube.commentThreads.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "allThreadsRelatedToChannelId": {
              "description": "The allThreadsRelatedToChannelId parameter instructs the API to return all comment threads associated with the specified channel. The response can include comments about the channel or about the channel's videos.",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "description": "The channelId parameter instructs the API to return comment threads containing comments about the specified channel. (The response will not include comments left on videos that the channel uploaded.)",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "The id parameter specifies a comma-separated list of comment thread IDs for the resources that should be retrieved.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "20",
              "description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set.\n\nNote: This parameter is not supported for use in conjunction with the id parameter.",
              "format": "uint32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "moderationStatus": {
              "default": "MODERATION_STATUS_PUBLISHED",
              "description": "Set this parameter to limit the returned comment threads to a particular moderation state.\n\nNote: This parameter is not supported for use in conjunction with the id parameter.",
              "enum": [
                "heldForReview",
                "likelySpam",
                "published"
              ],
              "enumDescriptions": [
                "Retrieve comment threads that are awaiting review by a moderator. A comment thread can be included in the response if the top-level comment or at least one of the replies to that comment are awaiting review.",
                "Retrieve comment threads classified as likely to be spam. A comment thread can be included in the response if the top-level comment or at least one of the replies to that comment is considered likely to be spam.",
                "Retrieve threads of published comments. This is the default value. A comment thread can be included in the response if its top-level comment has been published."
              ],
              "location": "query",
              "type": "string"
            },
            "order": {
              "default": "true",
              "description": "The order parameter specifies the order in which the API response should list comment threads. Valid values are: \n- time - Comment threads are ordered by time. This is the default behavior.\n- relevance - Comment threads are ordered by relevance.Note: This parameter is not supported for use in conjunction with the id parameter.",
              "enum": [
                "relevance",
                "time"
              ],
              "enumDescriptions": [
                "Order by relevance.",
                "Order by time."
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page of the result that can be retrieved.\n\nNote: This parameter is not supported for use in conjunction with the id parameter.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "searchTerms": {
              "description": "The searchTerms parameter instructs the API to limit the API response to only contain comments that contain the specified search terms.\n\nNote: This parameter is not supported for use in conjunction with the id parameter.",
              "location": "query",
              "type": "string"
            },
            "textFormat": {
              "default": "FORMAT_HTML",
              "description": "Set this parameter's value to html or plainText to instruct the API to return the comments left by users in html formatted or in plain text.",
              "enum": [
                "html",
                "plainText"
              ],
              "enumDescriptions": [
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "The videoId parameter instructs the API to return comment threads associated with the specified video ID.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "commentThreads",
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "description": "Modifies the top-level comment in a comment thread.",
          "httpMethod": "PUT",
          "id": "youtube.commentThreads.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The part parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "commentThreads",
          "request": {
            "$ref": "CommentThread"
          },
          "response": {
            "$ref": "CommentThread"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "description": "Deletes a comment.",
          "httpMethod": "DELETE",
          "id": "youtube.comments.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter specifies the comment ID for the resource that is being deleted.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Creates a reply to an existing comment. Note: To create a top-level comment, use the commentThreads.insert method.",
          "httpMethod": "POST",
          "id": "youtube.comments.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The part parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "comments",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Returns a list of comments that match the API request parameters.",
          "httpMethod": "GET",
          "id": "youtube.comments.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter specifies a comma-separated list of comment IDs for the resources that are being retrieved. In a comment resource, the id property specifies the comment's ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "20",
              "description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set.\n\nNote: This parameter is not supported for use in conjunction with the id parameter.",
              "format": "uint32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page of the result that can be retrieved.\n\nNote: This parameter is not supported for use in conjunction with the id parameter.",
              "location": "query",
              "type": "string"
            },
            "parentId": {
              "description": "The parentId parameter specifies the ID of the comment for which replies should be retrieved.\n\nNote: YouTube currently supports replies only for top-level comments. However, replies to replies may be supported in the future.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "textFormat": {
              "default": "FORMAT_HTML",
              "description": "This parameter indicates whether the API should return comments formatted as HTML or as plain text.",
              "enum": [
                "html",
                "plainText"
              ],
              "enumDescriptions": [
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "comments",
          "response": {
            "$ref": "CommentListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "markAsSpam": {
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "httpMethod": "POST",
          "id": "youtube.comments.markAsSpam",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter specifies a comma-separated list of IDs of comments that the caller believes should be classified as spam.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "comments/markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "setModerationStatus": {
          "description": "Sets the moderation status of one or more comments. The API request must be authorized by the owner of the channel or video associated with the comments.",
          "httpMethod": "POST",
          "id": "youtube.comments.setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "parameters": {
            "banAuthor": {
              "default": "false",
              "description": "The banAuthor parameter lets you indicate that you want to automatically reject any additional comments written by the comment's author. Set the parameter value to true to ban the author.\n\nNote: This parameter is only valid if the moderationStatus parameter is also set to rejected.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "The id parameter specifies a comma-separated list of IDs that identify the comments for which you are updating the moderation status.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "moderationStatus": {
              "description": "Identifies the new moderation status of the specified comments.",
              "enum": [
                "heldForReview",
                "published",
                "rejected"
              ],
              "enumDescriptions": [
                "Marks a comment as awaiting review by a moderator.",
                "Clears a comment for public display.",
                "Rejects a comment as being unfit for display. This action also effectively hides all replies to the rejected comment.\n\nNote: The API does not currently provide a way to list or otherwise discover rejected comments. However, you can change the moderation status of a rejected comment if you still know its ID. If you were to change the moderation status of a rejected comment, the comment replies would subsequently be discoverable again as well."
              ],
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "comments/setModerationStatus",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "description": "Modifies a comment.",
          "httpMethod": "PUT",
          "id": "youtube.comments.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The part parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "comments",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "guideCategories": {
      "methods": {
        "list": {
          "description": "Returns a list of categories that can be associated with YouTube channels.",
          "httpMethod": "GET",
          "id": "youtube.guideCategories.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "hl": {
              "default": "en-US",
              "description": "The hl parameter specifies the language that will be used for text values in the API response.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "The id parameter specifies a comma-separated list of the YouTube channel category ID(s) for the resource(s) that are being retrieved. In a guideCategory resource, the id property specifies the YouTube channel category ID.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies the guideCategory resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "regionCode": {
              "description": "The regionCode parameter instructs the API to return the list of guide categories available in the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "guideCategories",
          "response": {
            "$ref": "GuideCategoryListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "description": "Returns a list of application languages that the YouTube website supports.",
          "httpMethod": "GET",
          "id": "youtube.i18nLanguages.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "hl": {
              "default": "en_US",
              "description": "The hl parameter specifies the language that should be used for text values in the API response.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "i18nLanguages",
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "description": "Returns a list of content regions that the YouTube website supports.",
          "httpMethod": "GET",
          "id": "youtube.i18nRegions.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "hl": {
              "default": "en_US",
              "description": "The hl parameter specifies the language that should be used for text values in the API response.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "i18nRegions",
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "bind": {
          "description": "Binds a YouTube broadcast to a stream or removes an existing binding between a broadcast and a stream. A broadcast can only be bound to one video stream, though a video stream may be bound to more than one broadcast.",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.bind",
          "parameterOrder": [
            "id",
            "part"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter specifies the unique ID of the broadcast that is being bound to a video stream.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.\n\nThis parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "streamId": {
              "description": "The streamId parameter specifies the unique ID of the video stream that is being bound to a broadcast. If this parameter is omitted, the API will remove any existing binding between the broadcast and a video stream.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "liveBroadcasts/bind",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "control": {
          "description": "Controls the settings for a slate that can be displayed in the broadcast stream.",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.control",
          "parameterOrder": [
            "id",
            "part"
          ],
          "parameters": {
            "displaySlate": {
              "description": "The displaySlate parameter specifies whether the slate is being enabled or disabled.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "The id parameter specifies the YouTube live broadcast ID that uniquely identifies the broadcast in which the slate is being updated.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "offsetTimeMs": {
              "description": "The offsetTimeMs parameter specifies a positive time offset when the specified slate change will occur. The value is measured in milliseconds from the beginning of the broadcast's monitor stream, which is the time that the testing phase for the broadcast began. Even though it is specified in milliseconds, the value is actually an approximation, and YouTube completes the requested action as closely as possible to that time.\n\nIf you do not specify a value for this parameter, then YouTube performs the action as soon as possible. See the Getting started guide for more details.\n\nImportant: You should only specify a value for this parameter if your broadcast stream is delayed.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.\n\nThis parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "walltime": {
              "description": "The walltime parameter specifies the wall clock time at which the specified slate change will occur. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sssZ) format.",
              "format": "date-time",
              "location": "query",
              "type": "string"
            }
          },
          "path": "liveBroadcasts/control",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "description": "Deletes a broadcast.",
          "httpMethod": "DELETE",
          "id": "youtube.liveBroadcasts.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter specifies the YouTube live broadcast ID for the resource that is being deleted.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.\n\nThis parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Creates a broadcast.",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.\n\nThis parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.\n\nThe part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Returns a list of YouTube broadcasts that match the API request parameters.",
          "httpMethod": "GET",
          "id": "youtube.liveBroadcasts.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "broadcastStatus": {
              "description": "The broadcastStatus parameter filters the API response to only include broadcasts with the specified status.",
              "enum": [
                "active",
                "all",
                "completed",
                "upcoming"
              ],
              "enumDescriptions": [
                "Return current live broadcasts.",
                "Return all broadcasts.",
                "Return broadcasts that have already ended.",
                "Return broadcasts that have not yet started."
              ],
              "location": "query",
              "type": "string"
            },
            "broadcastType": {
              "default": "BROADCAST_TYPE_FILTER_EVENT",
              "description": "The broadcastType parameter filters the API response to only include broadcasts with the specified type. This is only compatible with the mine filter for now.",
              "enum": [
                "all",
                "event",
                "persistent"
              ],
              "enumDescriptions": [
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ],
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "The id parameter specifies a comma-separated list of YouTube broadcast IDs that identify the broadcasts being retrieved. In a liveBroadcast resource, the id property specifies the broadcast's ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "5",
              "description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "maximum": "50",
              "minimum": "0",
              "type": "integer"
            },
            "mine": {
              "description": "The mine parameter can be used to instruct the API to only return broadcasts owned by the authenticated user. Set the parameter value to true to only retrieve your own broadcasts.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.\n\nThis parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "liveBroadcasts",
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        },
        "transition": {
          "description": "Changes the status of a YouTube live broadcast and initiates any processes associated with the new status. For example, when you transition a broadcast's status to testing, YouTube starts to transmit video to that broadcast's monitor stream. Before calling this method, you should confirm that the value of the status.streamStatus property for the stream bound to your broadcast is active.",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.transition",
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "parameters": {
            "broadcastStatus": {
              "description": "The broadcastStatus parameter identifies the state to which the broadcast is changing. Note that to transition a broadcast to either the testing or live state, the status.streamStatus must be active for the stream that the broadcast is bound to.",
              "enum": [
                "complete",
                "live",
                "testing"
              ],
              "enumDescriptions": [
                "The broadcast is over. YouTube stops transmitting video.",
                "The broadcast is visible to its audience. YouTube transmits video to the broadcast's monitor stream and its broadcast stream.",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true."
              ],
              "location": "query",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "The id parameter specifies the unique ID of the broadcast that is transitioning to another status.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.\n\nThis parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "liveBroadcasts/transition",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "description": "Updates a broadcast. For example, you could modify the broadcast settings defined in the liveBroadcast resource's contentDetails object.",
          "httpMethod": "PUT",
          "id": "youtube.liveBroadcasts.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.\n\nThis parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.\n\nThe part properties that you can include in the parameter value are id, snippet, contentDetails, and status.\n\nNote that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "delete": {
          "description": "Removes a chat ban.",
          "httpMethod": "DELETE",
          "id": "youtube.liveChatBans.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter identifies the chat ban to remove. The value uniquely identifies both the ban and the chat.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Adds a new ban to the chat.",
          "httpMethod": "POST",
          "id": "youtube.liveChatBans.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "liveChat/bans",
          "request": {
            "$ref": "LiveChatBan"
          },
          "response": {
            "$ref": "LiveChatBan"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "delete": {
          "description": "Deletes a chat message.",
          "httpMethod": "DELETE",
          "id": "youtube.liveChatMessages.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id parameter specifies the YouTube chat message ID of the resource that is being deleted.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Adds a message to a live chat.",
          "httpMethod": "POST",
          "id": "youtube.liveChatMessages.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The part parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "liveChat/messages",
          "request": {
            "$ref": "LiveChatMessage"
          },
          "response": {
            "$ref": "LiveChatMessage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Lists live chat messages for a specific chat.",
          "httpMethod": "GET",
          "id": "youtube.liveChatMessages.list",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "parameters": {
            "hl": {
              "description": "The hl parameter instructs the API to retrieve localized resource metadata for a specific application language that the YouTube website supports. The parameter value must be a language code included in the list returned by the i18nLanguages.list method.\n\nIf localized resource details are available in that language, the resource's snippet.localized object will contain the localized values. However, if localized details are not available, the snippet.localized object will contain resource details in the resource's default language.",
              "location": "query",
              "type": "string"
            },
            "liveChatId": {
              "description": "The liveChatId parameter specifies the ID of the chat whose messages will be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "default": "500",
              "description": "The maxResults parameter specifies the maximum number of messages that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "maximum": "2000",
              "minimum": "200",
[...]
