---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:PotRSGvSBBkCii2hCLLBiIEH4mxUtIt1jyhSmcMkK9I=
      x-ms-date:
      - Thu, 15 Apr 2021 14:35:36 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/61containersuitetestsetthengetco?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D9001BBC1B0173"'
      Last-Modified:
      - Thu, 15 Apr 2021 14:35:36 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>AutoRestIsSuperCool</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-21T17:55:06Z</Start><Expiry>2050-12-22T03:55:06Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:eQgiaR3YX5k+7FMGgieEjYkfpUqnlrYZr4cCERQZNT0=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Thu, 15 Apr 2021 14:35:36 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/61containersuitetestsetthengetco?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D9001BBC27D9F6"'
      Last-Modified:
      - Thu, 15 Apr 2021 14:35:37 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
