---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:/gHI9/erO/5HXiKia58XHYXmBo/xEYgtCE6t/T59WAI=
      x-ms-date:
      - Thu, 15 Apr 2021 14:35:36 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/65containersuitetestsetcontainer?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D9001BBBEE9247"'
      Last-Modified:
      - Thu, 15 Apr 2021 14:35:36 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:VRmeN7UW1mMqWaphY25uNS3mQ2vdYvKbJ9moGHrdx6s=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Thu, 15 Apr 2021 14:35:36 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/65containersuitetestsetcontainer?comp=acl&restype=container&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D9001BBBFB6A91"'
      Last-Modified:
      - Thu, 15 Apr 2021 14:35:36 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
