---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table48storagetablesuitetestsetp"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Igl1IRY9OC+0QDu1rWq6+aL350rOT0zJBScIBsjNtxI=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:07 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48storagetablesuitetestsetp')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48storagetablesuitetestsetp')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>raud</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:r6M/jUreMDzuSI5aXixHMrP+Yr2sh9TD9R8PC5sARVE=
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table48storagetablesuitetestsetp?comp=acl&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:NWEUsrVKzinFV4SjIuLotzLsL/+B65/S0UriI1idEEk=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table48storagetablesuitetestsetp%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
