---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table25storagetablesuitetestget"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Igl1IRY9OC+0QDu1rWq6+aL350rOT0zJBScIBsjNtxI=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:07 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table25storagetablesuitetestget')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table25storagetablesuitetestget')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Ag4NWGavpqJM9zAMbB1FEvoOzpIg5yhVTpjfuXnxmD8=
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:07 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table25storagetablesuitetestget%27%29?timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#Tables/@Element","odata.type":"golangrocksonazure.Tables","odata.id":"https://golangrocksonazure.table.core.windows.net/Tables(''table25storagetablesuitetestget'')","odata.editLink":"Tables(''table25storagetablesuitetestget'')","TableName":"table25storagetablesuitetestget"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
