---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table143storagetablesuitetestcre"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:HmBmwLs+MLo+hHraQsZLr9M/IlmL6jGY71YMLnyr0Kw=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table143storagetablesuitetestcre')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table143storagetablesuitetestcre')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      {"TableName":"table243storagetablesuitetestcre"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:HmBmwLs+MLo+hHraQsZLr9M/IlmL6jGY71YMLnyr0Kw=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#Tables/@Element","odata.type":"golangrocksonazure.Tables","odata.id":"https://golangrocksonazure.table.core.windows.net/Tables(''table243storagetablesuitetestcre'')","odata.editLink":"Tables(''table243storagetablesuitetestcre'')","TableName":"table243storagetablesuitetestcre"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table243storagetablesuitetestcre')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:ZPqFH//p5wA+qswBLmCO/6DcSCZQBNN3pnfLR7BkIkQ=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table143storagetablesuitetestcre%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
