---
version: 1
interactions:
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>raud</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:GyQ3YL7FWJ0WCVykvYfycNv8OxePW2dv0c+e/D4s/3o=
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/nonexistingtable?comp=acl&timeout=30
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>TableNotFound</m:code><m:message xml:lang="en-US">The table specified does not exist.
      RequestId:2cae78e2-d002-009a-3605-320134000000
      Time:2021-04-15T14:41:08.2796184Z</m:message></m:error>
    headers:
      Content-Type:
      - application/xml
      X-Ms-Error-Code:
      - TableNotFound
      X-Ms-Version:
      - "2018-03-28"
    status: 404 The table specified does not exist.
    code: 404
    duration: ""
