---
version: 1
interactions:
- request:
    body: |
      {"TableName":"tableempty62storagetablesuitetes"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:HmBmwLs+MLo+hHraQsZLr9M/IlmL6jGY71YMLnyr0Kw=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('tableempty62storagetablesuitetes')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('tableempty62storagetablesuitetes')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:okxQysKqVFeMZOG8reEbW9yR6yi7qgl8MK1qnYgPuBk=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27tableempty62storagetablesuitetes%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:2prHGtzKhQ45HhrYzpwza/yyGRF2ZmdscyFeL78C1uw=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27tablenm62storagetablesuitetestcr%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      {"TableName":"tableminimal62storagetablesuitet"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:HmBmwLs+MLo+hHraQsZLr9M/IlmL6jGY71YMLnyr0Kw=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:08 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#Tables/@Element","TableName":"tableminimal62storagetablesuitet"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('tableminimal62storagetablesuitet')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:VA1ezkMvuSFFj4g7OZndgL3W56pG6AVOANkpsOpA5IA=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:09 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27tableminimal62storagetablesuitet%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      {"TableName":"tablefull62storagetablesuitetest"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:VMFGfgcsrDWWj0c1GNXip58ttzBF6CXDPw4y3OJ0Qac=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:09 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#Tables/@Element","odata.type":"golangrocksonazure.Tables","odata.id":"https://golangrocksonazure.table.core.windows.net/Tables(''tablefull62storagetablesuitetest'')","odata.editLink":"Tables(''tablefull62storagetablesuitetest'')","TableName":"tablefull62storagetablesuitetest"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('tablefull62storagetablesuitetest')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:nvn2wJSuDadl8nzX1uBye2jgEpYYwbPQU+3ao/qz7WA=
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 15 Apr 2021 14:41:09 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27tablefull62storagetablesuitetest%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
