{
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "CheckInfo": {
      "type": "object",
      "properties": {
        "unusedArguments": {
          "description": "A list of fields and label keys that are ignored by the server.\nThe client doesn't need to send them for following requests to improve\nperformance and allow better aggregation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "consumerInfo": {
          "$ref": "ConsumerInfo",
          "description": "Consumer info of this check."
        }
      },
      "id": "CheckInfo"
    },
    "ReleaseQuotaResponse": {
      "description": "Response message for the ReleaseQuota method.",
      "type": "object",
      "properties": {
        "releaseErrors": {
          "description": "Indicates the decision of the release.",
          "items": {
            "$ref": "QuotaError"
          },
          "type": "array"
        },
        "quotaMetrics": {
          "description": "Quota metrics to indicate the result of release. Depending on the\nrequest, one or more of the following metrics will be included:\n\n1. For rate quota, per quota group or per quota metric released amount\nwill be specified using the following delta metric:\n  \"serviceruntime.googleapis.com/api/consumer/quota_refund_count\"\n\n2. For allocation quota, per quota metric total usage will be specified\nusing the following gauge metric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n3. For allocation quota, value for each quota limit associated with\nthe metrics will be specified using the following gauge metric:\n  \"serviceruntime.googleapis.com/quota/limit\"",
          "items": {
            "$ref": "MetricValueSet"
          },
          "type": "array"
        },
        "operationId": {
          "description": "The same operation_id value used in the ReleaseQuotaRequest. Used for\nlogging and diagnostics purposes.",
          "type": "string"
        },
        "serviceConfigId": {
          "description": "ID of the actual config used to process the request.",
          "type": "string"
        }
      },
      "id": "ReleaseQuotaResponse"
    },
    "AllocateQuotaRequest": {
      "description": "Request message for the AllocateQuota method.",
      "type": "object",
      "properties": {
        "serviceConfigId": {
          "description": "Specifies which version of service configuration should be used to process\nthe request. If unspecified or no matching version can be found, the latest\none will be used.",
          "type": "string"
        },
        "allocateOperation": {
          "description": "Operation that describes the quota allocation.",
          "$ref": "QuotaOperation"
        },
        "allocationMode": {
          "enum": [
            "UNSPECIFIED",
            "NORMAL",
            "BEST_EFFORT",
            "CHECK_ONLY"
          ],
          "description": "Allocation mode for this operation.\nDeprecated: use QuotaMode inside the QuotaOperation.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Allocates quota for the amount specified in the service configuration or\nspecified using the quota_metrics. If the amount is higher than the\navailable quota, allocation error will be returned and no quota will be\nallocated.",
            "Allocates quota for the amount specified in the service configuration or\nspecified using the quota_metrics. If the amount is higher than the\navailable quota, request does not fail but all available quota will be\nallocated.",
            "Only checks if there is enough quota available and does not change the\navailable quota. No lock is placed on the available quota either."
          ]
        }
      },
      "id": "AllocateQuotaRequest"
    },
    "MetricValueSet": {
      "type": "object",
      "properties": {
        "metricName": {
          "description": "The metric name defined in the service configuration.",
          "type": "string"
        },
        "metricValues": {
          "description": "The values in this metric.",
          "items": {
            "$ref": "MetricValue"
          },
          "type": "array"
        }
      },
      "id": "MetricValueSet",
      "description": "Represents a set of metric values in the same metric.\nEach metric value in the set should have a unique combination of start time,\nend time, and label values."
    },
    "ReportError": {
      "properties": {
        "operationId": {
          "description": "The Operation.operation_id value from the request.",
          "type": "string"
        },
        "status": {
          "description": "Details of the error when processing the Operation.",
          "$ref": "Status"
        }
      },
      "id": "ReportError",
      "description": "Represents the processing error of one Operation in the request.",
      "type": "object"
    },
    "StartReconciliationRequest": {
      "type": "object",
      "properties": {
        "serviceConfigId": {
          "description": "Specifies which version of service configuration should be used to process\nthe request. If unspecified or no matching version can be found, the latest\none will be used.",
          "type": "string"
        },
        "reconciliationOperation": {
          "$ref": "QuotaOperation",
          "description": "Operation that describes the quota reconciliation."
        }
      },
      "id": "StartReconciliationRequest"
    },
    "CheckError": {
      "description": "Defines the errors to be returned in\ngoogle.api.servicecontrol.v1.CheckResponse.check_errors.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "This is never used in `CheckResponse`.",
            "The consumer's project id was not found.\nSame as google.rpc.Code.NOT_FOUND.",
            "The consumer doesn't have access to the specified resource.\nSame as google.rpc.Code.PERMISSION_DENIED.",
            "Quota check failed. Same as google.rpc.Code.RESOURCE_EXHAUSTED.",
            "Budget check failed.",
            "The consumer's request has been flagged as a DoS attack.",
            "The consumer's request should be rejected in order to protect the service\nfrom being overloaded.",
            "The consumer has been flagged as an abuser.",
            "The consumer hasn't activated the service.",
            "The consumer cannot access the service due to visibility configuration.",
            "The consumer cannot access the service because billing is disabled.",
            "The consumer's project has been marked as deleted (soft deletion).",
            "The consumer's project number or id does not represent a valid project.",
            "The IP address of the consumer is invalid for the specific consumer\nproject.",
            "The referer address of the consumer request is invalid for the specific\nconsumer project.",
            "The client application of the consumer request is invalid for the\nspecific consumer project.",
            "The API targeted by this request is invalid for the specified consumer\nproject.",
            "The consumer's API key is invalid.",
            "The consumer's API Key has expired.",
            "The consumer's API Key was not found in config record.",
            "The consumer's spatula header is invalid.",
            "The consumer's LOAS role is invalid.",
            "The consumer's LOAS role has no associated project.",
            "The consumer's LOAS project is not `ACTIVE` in LoquatV2.",
            "Request is not allowed as per security policies defined in Org Policy.",
            "The backend server for looking up project id/number is unavailable.",
            "The backend server for checking service status is unavailable.",
            "The backend server for checking billing status is unavailable.",
            "The backend server for checking quota limits is unavailable.",
            "The Spanner for looking up LOAS project is unavailable.",
            "Cloud Resource Manager backend server is unavailable.",
            "Backend server for evaluating security policy is unavailable."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "NOT_FOUND",
            "PERMISSION_DENIED",
            "RESOURCE_EXHAUSTED",
            "BUDGET_EXCEEDED",
            "DENIAL_OF_SERVICE_DETECTED",
            "LOAD_SHEDDING",
            "ABUSER_DETECTED",
            "SERVICE_NOT_ACTIVATED",
            "VISIBILITY_DENIED",
            "BILLING_DISABLED",
            "PROJECT_DELETED",
            "PROJECT_INVALID",
            "IP_ADDRESS_BLOCKED",
            "REFERER_BLOCKED",
            "CLIENT_APP_BLOCKED",
            "API_TARGET_BLOCKED",
            "API_KEY_INVALID",
            "API_KEY_EXPIRED",
            "API_KEY_NOT_FOUND",
            "SPATULA_HEADER_INVALID",
            "LOAS_ROLE_INVALID",
            "NO_LOAS_PROJECT",
            "LOAS_PROJECT_DISABLED",
            "SECURITY_POLICY_VIOLATED",
            "NAMESPACE_LOOKUP_UNAVAILABLE",
            "SERVICE_STATUS_UNAVAILABLE",
            "BILLING_STATUS_UNAVAILABLE",
            "QUOTA_CHECK_UNAVAILABLE",
            "LOAS_PROJECT_LOOKUP_UNAVAILABLE",
            "CLOUD_RESOURCE_MANAGER_BACKEND_UNAVAILABLE",
            "SECURITY_POLICY_BACKEND_UNAVAILABLE"
          ],
          "description": "The error code."
        },
        "detail": {
          "description": "Free-form text providing details on the error cause of the error.",
          "type": "string"
        }
      },
      "id": "CheckError"
    },
    "QuotaInfo": {
      "description": "Contains the quota information for a quota check response.",
      "type": "object",
      "properties": {
        "limitExceeded": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Quota Metrics that have exceeded quota limits.\nFor QuotaGroup-based quota, this is QuotaGroup.name\nFor QuotaLimit-based quota, this is QuotaLimit.name\nSee: google.api.Quota\nDeprecated: Use quota_metrics to get per quota group limit exceeded status."
        },
        "quotaConsumed": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Map of quota group name to the actual number of tokens consumed. If the\nquota check was not successful, then this will not be populated due to no\nquota consumption.\n\nWe are not merging this field with 'quota_metrics' field because of the\ncomplexity of scaling in Chemist client code base. For simplicity, we will\nkeep this field for Castor (that scales quota usage) and 'quota_metrics'\nfor SuperQuota (that doesn't scale quota usage).\n",
          "type": "object"
        },
        "quotaMetrics": {
          "description": "Quota metrics to indicate the usage. Depending on the check request, one or\nmore of the following metrics will be included:\n\n1. For rate quota, per quota group or per quota metric incremental usage\nwill be specified using the following delta metric:\n  \"serviceruntime.googleapis.com/api/consumer/quota_used_count\"\n\n2. For allocation quota, per quota metric total usage will be specified\nusing the following gauge metric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n3. For both rate quota and allocation quota, the quota limit reached\ncondition will be specified using the following boolean metric:\n  \"serviceruntime.googleapis.com/quota/exceeded\"",
          "items": {
            "$ref": "MetricValueSet"
          },
          "type": "array"
        }
      },
      "id": "QuotaInfo"
    },
    "ConsumerInfo": {
      "description": "`ConsumerInfo` provides information about the consumer project.",
      "type": "object",
      "properties": {
        "projectNumber": {
          "format": "int64",
          "description": "The Google cloud project number, e.g. 1234567890. A value of 0 indicates\nno project number is found.",
          "type": "string"
        }
      },
      "id": "ConsumerInfo"
    },
    "CheckRequest": {
      "description": "Request message for the Check method.",
      "type": "object",
      "properties": {
        "skipActivationCheck": {
          "description": "Indicates if service activation check should be skipped for this request.\nDefault behavior is to perform the check and apply relevant quota.",
          "type": "boolean"
        },
        "requestProjectSettings": {
          "type": "boolean",
          "description": "Requests the project settings to be returned as part of the check response."
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to be checked."
        },
        "serviceConfigId": {
          "description": "Specifies which version of service configuration should be used to process\nthe request.\n\nIf unspecified or no matching version can be found, the\nlatest one will be used.",
          "type": "string"
        }
      },
      "id": "CheckRequest"
    },
    "QuotaOperation": {
      "type": "object",
      "properties": {
        "quotaMetrics": {
          "description": "Represents information about this operation. Each MetricValueSet\ncorresponds to a metric defined in the service configuration.\nThe data type used in the MetricValueSet must agree with\nthe data type specified in the metric definition.\n\nWithin a single operation, it is not allowed to have more than one\nMetricValue instances that have the same metric names and identical\nlabel value combinations. If a request has such duplicated MetricValue\ninstances, the entire request is rejected with\nan invalid argument error.",
          "items": {
            "$ref": "MetricValueSet"
          },
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels describing the operation."
        },
        "consumerId": {
          "description": "Identity of the consumer for whom this quota operation is being performed.\n\nThis can be in one of the following formats:\n  project:\u003cproject_id\u003e,\n  project_number:\u003cproject_number\u003e,\n  api_key:\u003capi_key\u003e.",
          "type": "string"
        },
        "operationId": {
          "description": "Identity of the operation. This is expected to be unique within the scope\nof the service that generated the operation, and guarantees idempotency in\ncase of retries.\n\nUUID version 4 is recommended, though not required. In scenarios where an\noperation is computed from existing information and an idempotent id is\ndesirable for deduplication purpose, UUID version 5 is recommended. See\nRFC 4122 for details.",
          "type": "string"
        },
        "quotaMode": {
          "enumDescriptions": [
            "",
            "For AllocateQuota request, allocates quota for the amount specified in\nthe service configuration or specified using the quota metrics. If the\namount is higher than the available quota, allocation error will be\nreturned and no quota will be allocated.\nFor ReleaseQuota request, this mode is supported only for precise quota\nlimits. In this case, this operation releases quota for the amount\nspecified in the service configuration or specified using the quota\nmetrics. If the release can make used quota negative, release error\nwill be returned and no quota will be released.",
            "For AllocateQuota request, this mode is supported only for imprecise\nquota limits. In this case, the operation allocates quota for the amount\nspecified in the service configuration or specified using the quota\nmetrics. If the amount is higher than the available quota, request does\nnot fail but all available quota will be allocated.\nFor ReleaseQuota request, this mode is supported for both precise quota\nlimits and imprecise quota limits. In this case, this operation releases\nquota for the amount specified in the service configuration or specified\nusing the quota metrics. If the release can make used quota\nnegative, request does not fail but only the used quota will be\nreleased. After the ReleaseQuota request completes, the used quota\nwill be 0, and never goes to negative.",
            "For AllocateQuota request, only checks if there is enough quota\navailable and does not change the available quota. No lock is placed on\nthe available quota either. Not supported for ReleaseQuota request."
          ],
          "enum": [
            "UNSPECIFIED",
            "NORMAL",
            "BEST_EFFORT",
            "CHECK_ONLY"
          ],
          "description": "Quota mode for this operation.",
          "type": "string"
        },
        "methodName": {
          "description": "Fully qualified name of the API method for which this quota operation is\nrequested. This name is used for matching quota rules or metric rules and\nbilling status rules defined in service configuration. This field is not\nrequired if the quota operation is performed on non-API resources.\n\nExample of an RPC method name:\n    google.example.library.v1.LibraryService.CreateShelf",
          "type": "string"
        }
      },
      "id": "QuotaOperation",
      "description": "Represents information regarding a quota operation."
    },
    "EndReconciliationRequest": {
      "properties": {
        "reconciliationOperation": {
          "$ref": "QuotaOperation",
          "description": "Operation that describes the quota reconciliation."
        },
        "serviceConfigId": {
          "description": "Specifies which version of service configuration should be used to process\nthe request. If unspecified or no matching version can be found, the latest\none will be used.",
          "type": "string"
        }
      },
      "id": "EndReconciliationRequest",
      "type": "object"
    },
    "ReportInfo": {
      "type": "object",
      "properties": {
        "operationId": {
          "description": "The Operation.operation_id value from the request.",
          "type": "string"
        },
        "quotaInfo": {
          "$ref": "QuotaInfo",
          "description": "Quota usage info when processing the `Operation`."
        }
      },
      "id": "ReportInfo"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "operationId": {
          "description": "Identity of the operation. This must be unique within the scope of the\nservice that generated the operation. If the service calls\nCheck() and Report() on the same operation, the two calls should carry\nthe same id.\n\nUUID version 4 is recommended, though not required.\nIn scenarios where an operation is computed from existing information\nand an idempotent id is desirable for deduplication purpose, UUID version 5\nis recommended. See RFC 4122 for details.",
          "type": "string"
        },
        "operationName": {
          "description": "Fully qualified name of the operation. Reserved for future use.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the operation.\nRequired when the operation is used in ServiceController.Report,\nbut optional when the operation is used in ServiceController.Check.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Start time of the operation.",
          "type": "string"
        },
        "resourceContainers": {
          "description": "DO NOT USE.\nThis field is not ready for use yet.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "importance": {
          "enumDescriptions": [
            "The API implementation may cache and aggregate the data.\nThe data may be lost when rare and unexpected system failures occur.",
            "The API implementation doesn't cache and aggregate the data.\nIf the method returns successfully, it's guaranteed that the data has\nbeen persisted in durable storage.",
            "In addition to the behavior described in HIGH, DEBUG enables\nadditional validation logic that is only useful during the onboarding\nprocess. This is only available to Google internal services and\nthe service must be whitelisted by chemist-dev@google.com in order\nto use this level."
          ],
          "enum": [
            "LOW",
            "HIGH",
            "DEBUG"
          ],
          "description": "DO NOT USE. This is an experimental field.",
          "type": "string"
        },
        "resourceContainer": {
          "description": "The resource name of the parent of a resource in the resource hierarchy.\n\nThis can be in one of the following formats:\n    - “projects/\u003cproject-id or project-number\u003e”\n    - “folders/\u003cfolder-id\u003e”\n    - “organizations/\u003corganization-id\u003e”",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels describing the operation. Only the following labels are allowed:\n\n- Labels describing monitored resources as defined in\n  the service configuration.\n- Default labels of metric values. When specified, labels defined in the\n  metric value override these default.\n- The following labels defined by Google Cloud Platform:\n    - `cloud.googleapis.com/location` describing the location where the\n       operation happened,\n    - `servicecontrol.googleapis.com/user_agent` describing the user agent\n       of the API request,\n    - `servicecontrol.googleapis.com/service_agent` describing the service\n       used to handle the API request (e.g. ESP),\n    - `servicecontrol.googleapis.com/platform` describing the platform\n       where the API is served (e.g. GAE, GCE, GKE).",
          "type": "object"
        },
        "logEntries": {
          "description": "Represents information to be logged.",
          "items": {
            "$ref": "LogEntry"
          },
          "type": "array"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User defined labels for the resource that this operation is associated\nwith.",
          "type": "object"
        },
        "metricValueSets": {
          "description": "Represents information about this operation. Each MetricValueSet\ncorresponds to a metric defined in the service configuration.\nThe data type used in the MetricValueSet must agree with\nthe data type specified in the metric definition.\n\nWithin a single operation, it is not allowed to have more than one\nMetricValue instances that have the same metric names and identical\nlabel value combinations. If a request has such duplicated MetricValue\ninstances, the entire request is rejected with\nan invalid argument error.",
          "items": {
            "$ref": "MetricValueSet"
          },
          "type": "array"
        },
        "quotaProperties": {
          "$ref": "QuotaProperties",
          "description": "Represents the properties needed for quota check. Applicable only if this\noperation is for a quota check request."
        },
        "consumerId": {
          "type": "string",
          "description": "Identity of the consumer who is using the service.\nThis field should be filled in for the operations initiated by a\nconsumer, but not for service-initiated operations that are\nnot related to a specific consumer.\n\nThis can be in one of the following formats:\n  project:\u003cproject_id\u003e,\n  project_number:\u003cproject_number\u003e,\n  api_key:\u003capi_key\u003e."
        }
      },
      "id": "Operation",
      "description": "Represents information regarding an operation."
    },
    "ReportResponse": {
      "properties": {
        "reportInfos": {
          "description": "Quota usage for each quota release `Operation` request.\n\nFully or partially failed quota release request may or may not be present\nin `report_quota_info`. For example, a failed quota release request will\nhave the current quota usage info when precise quota library returns the\ninfo. A deadline exceeded quota request will not have quota usage info.\n\nIf there is no quota release request, report_quota_info will be empty.\n",
          "items": {
            "$ref": "ReportInfo"
          },
          "type": "array"
        },
        "serviceConfigId": {
          "description": "The actual config id used to process the request.",
          "type": "string"
        },
        "reportErrors": {
          "description": "Partial failures, one for each `Operation` in the request that failed\nprocessing. There are three possible combinations of the RPC status:\n\n1. The combination of a successful RPC status and an empty `report_errors`\n   list indicates a complete success where all `Operations` in the\n   request are processed successfully.\n2. The combination of a successful RPC status and a non-empty\n   `report_errors` list indicates a partial success where some\n   `Operations` in the request succeeded. Each\n   `Operation` that failed processing has a corresponding item\n   in this list.\n3. A failed RPC status indicates a general non-deterministic failure.\n   When this happens, it's impossible to know which of the\n   'Operations' in the request succeeded or failed.",
          "items": {
            "$ref": "ReportError"
          },
          "type": "array"
        }
      },
      "id": "ReportResponse",
      "description": "Response message for the Report method.",
      "type": "object"
    },
    "CheckResponse": {
      "properties": {
        "serviceConfigId": {
          "type": "string",
          "description": "The actual config id used to process the request."
        },
        "quotaInfo": {
          "description": "Quota information for the check request associated with this response.\n",
          "$ref": "QuotaInfo"
        },
        "checkInfo": {
          "description": "Feedback data returned from the server during processing a Check request.",
          "$ref": "CheckInfo"
        },
        "checkErrors": {
          "description": "Indicate the decision of the check.\n\nIf no check errors are present, the service should process the operation.\nOtherwise the service should use the list of errors to determine the\nappropriate action.",
          "items": {
            "$ref": "CheckError"
          },
          "type": "array"
        },
        "operationId": {
          "description": "The same operation_id value used in the CheckRequest.\nUsed for logging and diagnostics purposes.",
          "type": "string"
        }
      },
      "id": "CheckResponse",
      "description": "Response message for the Check method.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "ReportRequest": {
      "description": "Request message for the Report method.",
      "type": "object",
      "properties": {
        "serviceConfigId": {
          "description": "Specifies which version of service config should be used to process the\nrequest.\n\nIf unspecified or no matching version can be found, the\nlatest one will be used.",
          "type": "string"
        },
        "operations": {
          "description": "Operations to be reported.\n\nTypically the service should report one operation per request.\nPutting multiple operations into a single request is allowed, but should\nbe used only when multiple operations are natually available at the time\nof the report.\n\nIf multiple operations are in a single request, the total request size\nshould be no larger than 1MB. See ReportResponse.report_errors for\npartial failure behavior.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "id": "ReportRequest"
    },
    "AuditLog": {
      "type": "object",
      "properties": {
        "methodName": {
          "description": "The name of the service method or operation.\nFor API calls, this should be the name of the API method.\nFor example,\n\n    \"google.datastore.v1.Datastore.RunQuery\"\n    \"google.logging.v1.LoggingService.DeleteLog\"",
          "type": "string"
        },
        "authorizationInfo": {
          "description": "Authorization information. If there are multiple\nresources or permissions involved, then there is\none AuthorizationInfo element for each {resource, permission} tuple.",
          "items": {
            "$ref": "AuthorizationInfo"
          },
          "type": "array"
        },
        "resourceName": {
          "description": "The resource or collection that is the target of the operation.\nThe name is a scheme-less URI, not including the API service name.\nFor example:\n\n    \"shelves/SHELF_ID/books\"\n    \"shelves/SHELF_ID/books/BOOK_ID\"",
          "type": "string"
        },
        "request": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The operation request. This may not include all request parameters,\nsuch as those that are too large, privacy-sensitive, or duplicated\nelsewhere in the log record.\nIt should never include user-generated data, such as file contents.\nWhen the JSON object represented here has a proto equivalent, the proto\nname will be indicated in the `@type` property.",
          "type": "object"
        },
        "serviceData": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Other service-specific data about the request, response, and other\nactivities.",
          "type": "object"
        },
        "requestMetadata": {
          "description": "Metadata about the operation.",
          "$ref": "RequestMetadata"
        },
        "numResponseItems": {
          "format": "int64",
          "description": "The number of items returned from a List or Query API method,\nif applicable.",
          "type": "string"
        },
        "authenticationInfo": {
          "$ref": "AuthenticationInfo",
          "description": "Authentication information."
        },
        "status": {
          "description": "The status of the overall operation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The operation response. This may not include all response elements,\nsuch as those that are too large, privacy-sensitive, or duplicated\nelsewhere in the log record.\nIt should never include user-generated data, such as file contents.\nWhen the JSON object represented here has a proto equivalent, the proto\nname will be indicated in the `@type` property."
        },
        "serviceName": {
          "description": "The name of the API service performing the operation. For example,\n`\"datastore.googleapis.com\"`.",
          "type": "string"
        }
      },
      "id": "AuditLog",
      "description": "Common audit log format for Google Cloud Platform API operations.\n\n"
    },
    "LogEntry": {
      "description": "An individual log entry.",
      "type": "object",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "The time the event described by the log entry occurred. If\nomitted, defaults to operation start time.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A set of user-defined (key, value) data that provides additional\ninformation about the log entry.",
          "type": "object"
        },
        "severity": {
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or\na configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ],
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "description": "The severity of the log entry. The default value is\n`LogSeverity.DEFAULT`.",
          "type": "string"
        },
        "name": {
          "description": "Required. The log to which this log entry belongs. Examples: `\"syslog\"`,\n`\"book_log\"`.",
          "type": "string"
        },
        "insertId": {
          "description": "A unique ID for the log entry used for deduplication. If omitted,\nthe implementation will generate one based on operation_id.",
          "type": "string"
        },
        "structPayload": {
          "description": "The log entry payload, represented as a structure that\nis expressed as a JSON object.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "textPayload": {
          "description": "The log entry payload, represented as a Unicode string (UTF-8).",
          "type": "string"
        },
        "protoPayload": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The log entry payload, represented as a protocol buffer that is\nexpressed as a JSON object. The only accepted type currently is\nAuditLog.",
          "type": "object"
        }
      },
      "id": "LogEntry"
    },
    "MetricValue": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the time period over which this metric value's measurement\napplies.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the time period over which this metric value's measurement\napplies. The time period has different semantics for different metric\ntypes (cumulative, delta, and gauge). See the metric definition\ndocumentation in the service configuration for details.",
          "type": "string"
        },
        "moneyValue": {
          "description": "A money value.",
          "$ref": "Money"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels describing the metric value.\nSee comments on google.api.servicecontrol.v1.Operation.labels for\nthe overriding relationship.",
          "type": "object"
        },
        "stringValue": {
          "description": "A text string value.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "A double precision floating point value.",
          "type": "number"
        },
        "int64Value": {
          "format": "int64",
          "description": "A signed 64-bit integer value.",
          "type": "string"
        },
        "distributionValue": {
          "$ref": "Distribution",
          "description": "A distribution value."
        },
        "boolValue": {
          "description": "A boolean value.",
          "type": "boolean"
        }
      },
      "id": "MetricValue",
      "description": "Represents a single metric value.",
      "type": "object"
    },
    "EndReconciliationResponse": {
      "type": "object",
      "properties": {
        "serviceConfigId": {
          "description": "ID of the actual config used to process the request.",
          "type": "string"
        },
        "quotaMetrics": {
          "description": "Metric values as tracked by One Platform before the adjustment was made.\nThe following metrics will be included:\n\n1. Per quota metric total usage will be specified using the following gauge\nmetric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n2. Value for each quota limit associated with the metrics will be specified\nusing the following gauge metric:\n  \"serviceruntime.googleapis.com/quota/limit\"\n\n3. Delta value of the usage after the reconciliation for limits associated\nwith the metrics will be specified using the following metric:\n  \"serviceruntime.googleapis.com/allocation/reconciliation_delta\"\nThe delta value is defined as:\n  new_usage_from_client - existing_value_in_spanner.\nThis metric is not defined in serviceruntime.yaml or in Cloud Monarch.\nThis metric is meant for callers' use only. Since this metric is not\ndefined in the monitoring backend, reporting on this metric will result in\nan error.",
          "items": {
            "$ref": "MetricValueSet"
          },
          "type": "array"
        },
        "reconciliationErrors": {
          "description": "Indicates the decision of the reconciliation end.",
          "items": {
            "$ref": "QuotaError"
          },
          "type": "array"
        },
        "operationId": {
          "description": "The same operation_id value used in the EndReconciliationRequest. Used for\nlogging and diagnostics purposes.",
          "type": "string"
        }
      },
      "id": "EndReconciliationResponse"
    },
    "Money": {
      "properties": {
        "units": {
          "format": "int64",
          "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The 3-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "Distribution": {
      "description": "Distribution represents a frequency distribution of double-valued sample\npoints. It contains the size of the population of sample points plus\nadditional optional information:\n\n  - the arithmetic mean of the samples\n  - the minimum and maximum of the samples\n  - the sum-squared-deviation of the samples, used to compute variance\n  - a histogram of the values of the sample points",
      "type": "object",
      "properties": {
        "maximum": {
          "format": "double",
          "description": "The maximum of the population of values. Ignored if `count` is zero.",
          "type": "number"
        },
        "sumOfSquaredDeviation": {
          "format": "double",
          "description": "The sum of squared deviations from the mean:\n  Sum[i=1..count]((x_i - mean)^2)\nwhere each x_i is a sample values. If `count` is zero then this field\nmust be zero, otherwise validation of the request fails.",
          "type": "number"
        },
        "exponentialBuckets": {
          "$ref": "ExponentialBuckets",
          "description": "Buckets with exponentially growing width."
        },
        "minimum": {
          "format": "double",
          "description": "The minimum of the population of values. Ignored if `count` is zero.",
          "type": "number"
        },
        "linearBuckets": {
          "description": "Buckets with constant width.",
          "$ref": "LinearBuckets"
        },
        "count": {
          "format": "int64",
          "description": "The total number of samples in the distribution. Must be \u003e= 0.",
          "type": "string"
        },
        "mean": {
          "type": "number",
          "format": "double",
          "description": "The arithmetic mean of the samples in the distribution. If `count` is\nzero then this field must be zero."
        },
        "bucketCounts": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "The number of samples in each histogram bucket. `bucket_counts` are\noptional. If present, they must sum to the `count` value.\n\nThe buckets are defined below in `bucket_option`. There are N buckets.\n`bucket_counts[0]` is the number of samples in the underflow bucket.\n`bucket_counts[1]` to `bucket_counts[N-1]` are the numbers of samples\nin each of the finite buckets. And `bucket_counts[N] is the number\nof samples in the overflow bucket. See the comments of `bucket_option`\nbelow for more details.\n\nAny suffix of trailing zeros may be omitted."
        },
        "explicitBuckets": {
          "$ref": "ExplicitBuckets",
          "description": "Buckets with arbitrary user-provided width."
        }
      },
      "id": "Distribution"
    },
    "ExplicitBuckets": {
      "description": "Describing buckets with arbitrary user-provided width.",
      "type": "object",
      "properties": {
        "bounds": {
          "description": "'bound' is a list of strictly increasing boundaries between\nbuckets. Note that a list of length N-1 defines N buckets because\nof fenceposting. See comments on `bucket_options` for details.\n\nThe i'th finite bucket covers the interval\n  [bound[i-1], bound[i])\nwhere i ranges from 1 to bound_size() - 1. Note that there are no\nfinite buckets at all if 'bound' only contains a single element; in\nthat special case the single bound defines the boundary between the\nunderflow and overflow buckets.\n\nbucket number                   lower bound    upper bound\n i == 0 (underflow)              -inf           bound[i]\n 0 \u003c i \u003c bound_size()            bound[i-1]     bound[i]\n i == bound_size() (overflow)    bound[i-1]     +inf",
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "id": "ExplicitBuckets"
    },
    "ExponentialBuckets": {
      "description": "Describing buckets with exponentially growing width.",
      "type": "object",
      "properties": {
        "numFiniteBuckets": {
          "format": "int32",
          "description": "The number of finite buckets. With the underflow and overflow buckets,\nthe total number of buckets is `num_finite_buckets` + 2.\nSee comments on `bucket_options` for details.",
          "type": "integer"
        },
        "growthFactor": {
          "format": "double",
          "description": "The i'th exponential bucket covers the interval\n  [scale * growth_factor^(i-1), scale * growth_factor^i)\nwhere i ranges from 1 to num_finite_buckets inclusive.\nMust be larger than 1.0.",
          "type": "number"
        },
        "scale": {
          "type": "number",
          "format": "double",
          "description": "The i'th exponential bucket covers the interval\n  [scale * growth_factor^(i-1), scale * growth_factor^i)\nwhere i ranges from 1 to num_finite_buckets inclusive.\nMust be \u003e 0."
        }
      },
      "id": "ExponentialBuckets"
    },
    "AuthorizationInfo": {
      "type": "object",
      "properties": {
        "resource": {
          "description": "The resource being accessed, as a REST-style string. For example:\n\n    bigquery.googleapis.com/projects/PROJECTID/datasets/DATASETID",
          "type": "string"
        },
        "granted": {
          "description": "Whether or not authorization for `resource` and `permission`\nwas granted.",
          "type": "boolean"
        },
        "permission": {
          "description": "The required IAM permission.",
          "type": "string"
        }
      },
      "id": "AuthorizationInfo",
      "description": "Authorization information for the operation."
    },
    "StartReconciliationResponse": {
      "id": "StartReconciliationResponse",
      "type": "object",
      "properties": {
        "reconciliationErrors": {
          "description": "Indicates the decision of the reconciliation start.",
          "items": {
            "$ref": "QuotaError"
          },
          "type": "array"
        },
        "operationId": {
          "description": "The same operation_id value used in the StartReconciliationRequest. Used\nfor logging and diagnostics purposes.",
          "type": "string"
        },
        "serviceConfigId": {
          "description": "ID of the actual config used to process the request.",
          "type": "string"
        },
        "quotaMetrics": {
          "description": "Metric values as tracked by One Platform before the start of\nreconciliation. The following metrics will be included:\n\n1. Per quota metric total usage will be specified using the following gauge\nmetric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n2. Value for each quota limit associated with the metrics will be specified\nusing the following gauge metric:\n  \"serviceruntime.googleapis.com/quota/limit\"",
          "items": {
            "$ref": "MetricValueSet"
          },
          "type": "array"
        }
      }
    },
    "QuotaProperties": {
      "description": "Represents the properties needed for quota operations.",
      "type": "object",
      "properties": {
        "limitByIds": {
          "description": "LimitType IDs that should be used for checking quota. Key in this map\nshould be a valid LimitType string, and the value is the ID to be used. For\nexample, an entry \u003cUSER, 123\u003e will cause all user quota limits to use 123\nas the user ID. See google/api/quota.proto for the definition of LimitType.\nCLIENT_PROJECT: Not supported.\nUSER: Value of this entry will be used for enforcing user-level quota\n      limits. If none specified, caller IP passed in the\n      servicecontrol.googleapis.com/caller_ip label will be used instead.\n      If the server cannot resolve a value for this LimitType, an error\n      will be thrown. No validation will be performed on this ID.\nDeprecated: use servicecontrol.googleapis.com/user label to send user ID.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "quotaMode": {
          "enumDescriptions": [
            "Decreases available quota by the cost specified for the operation.\nIf cost is higher than available quota, operation fails and returns\nerror.",
            "Decreases available quota by the cost specified for the operation.\nIf cost is higher than available quota, operation does not fail and\navailable quota goes down to zero but it returns error.",
            "Does not change any available quota. Only checks if there is enough\nquota.\nNo lock is placed on the checked tokens neither.",
            "Increases available quota by the operation cost specified for the\noperation."
          ],
          "enum": [
            "ACQUIRE",
            "ACQUIRE_BEST_EFFORT",
            "CHECK",
            "RELEASE"
          ],
          "description": "Quota mode for this operation.",
          "type": "string"
        }
      },
      "id": "QuotaProperties"
    },
    "LinearBuckets": {
      "description": "Describing buckets with constant width.",
      "type": "object",
      "properties": {
        "offset": {
          "format": "double",
          "description": "The i'th linear bucket covers the interval\n  [offset + (i-1) * width, offset + i * width)\nwhere i ranges from 1 to num_finite_buckets, inclusive.",
          "type": "number"
        },
        "numFiniteBuckets": {
          "format": "int32",
          "description": "The number of finite buckets. With the underflow and overflow buckets,\nthe total number of buckets is `num_finite_buckets` + 2.\nSee comments on `bucket_options` for details.",
          "type": "integer"
        },
        "width": {
          "format": "double",
          "description": "The i'th linear bucket covers the interval\n  [offset + (i-1) * width, offset + i * width)\nwhere i ranges from 1 to num_finite_buckets, inclusive.\nMust be strictly positive.",
          "type": "number"
        }
      },
      "id": "LinearBuckets"
    },
    "AuthenticationInfo": {
      "properties": {
        "principalEmail": {
          "description": "The email address of the authenticated user (or service account on behalf\nof third party principal) making the request. For privacy reasons, the\nprincipal email address is redacted for all read-only operations that fail\nwith a \"permission denied\" error.",
          "type": "string"
        },
        "authoritySelector": {
          "description": "The authority selector specified by the requestor, if any.\nIt is not guaranteed that the principal was allowed to use this authority.",
          "type": "string"
        },
        "thirdPartyPrincipal": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The third party identification (if any) of the authenticated user making\nthe request.\nWhen the JSON object represented here has a proto equivalent, the proto\nname will be indicated in the `@type` property.",
          "type": "object"
        }
      },
      "id": "AuthenticationInfo",
      "description": "Authentication information for the operation.",
      "type": "object"
    },
    "AllocateQuotaResponse": {
      "description": "Response message for the AllocateQuota method.",
      "type": "object",
      "properties": {
        "quotaMetrics": {
          "description": "Quota metrics to indicate the result of allocation. Depending on the\nrequest, one or more of the following metrics will be included:\n\n1. For rate quota, per quota group or per quota metric incremental usage\nwill be specified using the following delta metric:\n  \"serviceruntime.googleapis.com/api/consumer/quota_used_count\"\n\n2. For allocation quota, per quota metric total usage will be specified\nusing the following gauge metric:\n  \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"\n\n3. For both rate quota and allocation quota, the quota limit reached\ncondition will be specified using the following boolean metric:\n  \"serviceruntime.googleapis.com/quota/exceeded\"\n\n4. For allocation quota, value for each quota limit associated with\nthe metrics will be specified using the following gauge metric:\n  \"serviceruntime.googleapis.com/quota/limit\"",
          "items": {
            "$ref": "MetricValueSet"
          },
          "type": "array"
        },
        "operationId": {
          "description": "The same operation_id value used in the AllocateQuotaRequest. Used for\nlogging and diagnostics purposes.",
          "type": "string"
        },
        "serviceConfigId": {
          "type": "string",
          "description": "ID of the actual config used to process the request."
        },
        "allocateErrors": {
          "description": "Indicates the decision of the allocate.",
          "items": {
            "$ref": "QuotaError"
          },
          "type": "array"
        }
      },
      "id": "AllocateQuotaResponse"
    },
    "ReleaseQuotaRequest": {
      "description": "Request message for the ReleaseQuota method.",
      "type": "object",
      "properties": {
        "serviceConfigId": {
          "description": "Specifies which version of service configuration should be used to process\nthe request. If unspecified or no matching version can be found, the latest\none will be used.",
          "type": "string"
        },
        "releaseOperation": {
          "$ref": "QuotaOperation",
          "description": "Operation that describes the quota release."
        }
      },
      "id": "ReleaseQuotaRequest"
    },
    "QuotaError": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Free-form text that provides details on the cause of the error.",
          "type": "string"
        },
        "subject": {
          "description": "Subject to whom this error applies. See the specific enum for more details\non this field. For example, \"clientip:\u003cip address of client\u003e\" or\n\"project:\u003cGoogle developer project id\u003e\".",
          "type": "string"
        },
        "code": {
          "enum": [
            "UNSPECIFIED",
            "RESOURCE_EXHAUSTED",
            "OUT_OF_RANGE",
            "BILLING_NOT_ACTIVE",
            "PROJECT_DELETED",
            "API_KEY_INVALID",
            "API_KEY_EXPIRED",
            "SPATULA_HEADER_INVALID",
            "LOAS_ROLE_INVALID",
            "NO_LOAS_PROJECT",
            "PROJECT_STATUS_UNAVAILABLE",
            "SERVICE_STATUS_UNAVAILABLE",
            "BILLING_STATUS_UNAVAILABLE",
            "QUOTA_SYSTEM_UNAVAILABLE"
          ],
          "description": "Error code.",
          "type": "string",
          "enumDescriptions": [
            "This is never used.",
            "Quota allocation failed.\nSame as google.rpc.Code.RESOURCE_EXHAUSTED.",
            "Quota release failed.  This error is ONLY returned on a NORMAL release.\nMore formally:  if a user requests a release of 10 tokens, but only\n5 tokens were previously allocated, in a BEST_EFFORT release, this will\nbe considered a success, 5 tokens will be released, and the result will\nbe \"Ok\".  If this is done in NORMAL mode, no tokens will be released,\nand an OUT_OF_RANGE error will be returned.\nSame as google.rpc.Code.OUT_OF_RANGE.",
            "Consumer cannot access the service because the service requires active\nbilling.",
            "Consumer's project has been marked as deleted (soft deletion).",
            "Specified API key is invalid.",
            "Specified API Key has expired.",
            "Consumer's spatula header is invalid.",
            "The consumer's LOAS role is invalid.",
            "The consumer's LOAS role has no associated project.",
            "The backend server for looking up project id/number is unavailable.",
            "The backend server for checking service status is unavailable.",
            "The backend server for checking billing status is unavailable.",
            "The backend server for checking quota limits is unavailable."
          ]
        }
      },
      "id": "QuotaError"
    },
    "RequestMetadata": {
      "type": "object",
      "properties": {
        "callerIp": {
          "description": "The IP address of the caller.\nFor caller from internet, this will be public IPv4 or IPv6 address.\nFor caller from GCE VM with external IP address, this will be the VM's\nexternal IP address. For caller from GCE VM without external IP address, if\nthe VM is in the same GCP organization (or project) as the accessed\nresource, `caller_ip` will be the GCE VM's internal IPv4 address, otherwise\nit will be redacted to \"gce-internal-ip\".\nSee https://cloud.google.com/compute/docs/vpc/ for more information.",
          "type": "string"
        },
        "callerSuppliedUserAgent": {
          "description": "The user agent of the caller.\nThis information is not authenticated and should be treated accordingly.\nFor example:\n\n+   `google-api-python-client/1.4.0`:\n    The request was made by the Google API client for Python.\n+   `Cloud SDK Command Line Tool apitools-client/1.0 gcloud/0.9.62`:\n    The request was made by the Google Cloud SDK CLI (gcloud).\n+   `AppEngine-Google; (+http://code.google.com/appengine; appid: s~my-project`:\n    The request was made from the `my-project` App Engine app.\nNOLINT",
          "type": "string"
        }
      },
      "id": "RequestMetadata",
      "description": "Metadata about the request."
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Service Control",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/servicecontrol": {
          "description": "Manage your Google Service Control data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "rootUrl": "https://servicecontrol.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "servicecontrol",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "title": "Google Service Control API",
  "ownerName": "Google",
  "resources": {
    "services": {
      "methods": {
        "endReconciliation": {
          "httpMethod": "POST",
          "parameterOrder": [
            "serviceName"
          ],
          "response": {
            "$ref": "EndReconciliationResponse"
          },
          "parameters": {
            "serviceName": {
              "location": "path",
              "description": "Name of the service as specified in the service configuration. For example,\n`\"pubsub.googleapis.com\"`.\n\nSee google.api.Service for the definition of a service name.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/servicecontrol"
          ],
          "flatPath": "v1/services/{serviceName}:endReconciliation",
          "path": "v1/services/{serviceName}:endReconciliation",
          "id": "servicecontrol.services.endReconciliation",
          "description": "Signals the quota controller that service ends the ongoing usage\nreconciliation.\n\nThis method requires the `servicemanagement.services.quota`\npermission on the specified service. For more information, see\n[Google Cloud IAM](https://cloud.google.com/iam).",
          "request": {
            "$ref": "EndReconciliationRequest"
          }
        },
        "report": {
          "response": {
            "$ref": "ReportResponse"
          },
          "parameterOrder": [
            "serviceName"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/servicecontrol"
          ],
          "parameters": {
            "serviceName": {
              "location": "path",
              "description": "The service name as specified in its service configuration. For example,\n`\"pubsub.googleapis.com\"`.\n\nSee\n[google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service)\nfor the definition of a service name.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/services/{serviceName}:report",
          "id": "servicecontrol.services.report",
          "path": "v1/services/{serviceName}:report",
          "request": {
            "$ref": "ReportRequest"
          },
          "description": "Reports operation results to Google Service Control, such as logs and\nmetrics. It should be called after an operation is completed.\n\nIf feasible, the client should aggregate reporting data for up to 5\nseconds to reduce API traffic. Limiting aggregation to 5 seconds is to\nreduce data loss during client crashes. Clients should carefully choose\nthe aggregation time window to avoid data loss risk more than 0.01%\nfor business and compliance reasons.\n\nNOTE: the ReportRequest has the size limit of 1MB.\n\nThis method requires the `servicemanagement.services.report` permission\non the specified service. For more information, see\n[Google Cloud IAM](https://cloud.google.com/iam)."
        },
        "allocateQuota": {
          "httpMethod": "POST",
          "parameterOrder": [
            "serviceName"
          ],
          "response": {
            "$ref": "AllocateQuotaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/servicecontrol"
          ],
          "parameters": {
            "serviceName": {
              "location": "path",
              "description": "Name of the service as specified in the service configuration. For example,\n`\"pubsub.googleapis.com\"`.\n\nSee google.api.Service for the definition of a service name.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/services/{serviceName}:allocateQuota",
          "path": "v1/services/{serviceName}:allocateQuota",
          "id": "servicecontrol.services.allocateQuota",
          "request": {
            "$ref": "AllocateQuotaRequest"
          },
          "description": "Attempts to allocate quota for the specified consumer. It should be called\nbefore the operation is executed.\n\nThis method requires the `servicemanagement.services.quota`\npermission on the specified service. For more information, see\n[Google Cloud IAM](https://cloud.google.com/iam).\n\n**NOTE:** the client code **must** fail-open if the server returns one\nof the following quota errors:\n-   `PROJECT_STATUS_UNAVAILABLE`\n-   `SERVICE_STATUS_UNAVAILABLE`\n-   `BILLING_STATUS_UNAVAILABLE`\n-   `QUOTA_SYSTEM_UNAVAILABLE`\n\nThe server may inject above errors to prohibit any hard dependency\non the quota system."
        },
        "startReconciliation": {
          "httpMethod": "POST",
          "parameterOrder": [
            "serviceName"
          ],
          "response": {
            "$ref": "StartReconciliationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/servicecontrol"
          ],
          "parameters": {
            "serviceName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Name of the service as specified in the service configuration. For example,\n`\"pubsub.googleapis.com\"`.\n\nSee google.api.Service for the definition of a service name."
            }
          },
          "flatPath": "v1/services/{serviceName}:startReconciliation",
          "path": "v1/services/{serviceName}:startReconciliation",
          "id": "servicecontrol.services.startReconciliation",
          "request": {
            "$ref": "StartReconciliationRequest"
          },
          "description": "Unlike rate quota, allocation quota does not get refilled periodically.\nSo, it is possible that the quota usage as seen by the service differs from\nwhat the One Platform considers the usage is. This is expected to happen\nonly rarely, but over time this can accumulate. Services can invoke\nStartReconciliation and EndReconciliation to correct this usage drift, as\ndescribed below:\n1. Service sends StartReconciliation with a timestamp in future for each\n   metric that needs to be reconciled. The timestamp being in future allows\n   to account for in-flight AllocateQuota and ReleaseQuota requests for the\n   same metric.\n2. One Platform records this timestamp and starts tracking subsequent\n   AllocateQuota and ReleaseQuota requests until EndReconciliation is\n   called.\n3. At or after the time specified in the StartReconciliation, service\n   sends EndReconciliation with the usage that needs to be reconciled to.\n4. One Platform adjusts its own record of usage for that metric to the\n   value specified in EndReconciliation by taking in to account any\n   allocation or release between StartReconciliation and EndReconciliation.\n\nSignals the quota controller that the service wants to perform a usage\nreconciliation as specified in the request.\n\nThis method requires the `servicemanagement.services.quota`\npermission on the specified service. For more information, see\n[Google Cloud IAM](https://cloud.google.com/iam)."
        },
        "check": {
          "httpMethod": "POST",
          "parameterOrder": [
            "serviceName"
          ],
          "response": {
            "$ref": "CheckResponse"
          },
          "parameters": {
            "serviceName": {
              "location": "path",
              "description": "The service name as specified in its service configuration. For example,\n`\"pubsub.googleapis.com\"`.\n\nSee\n[google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service)\nfor the definition of a service name.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/servicecontrol"
          ],
          "flatPath": "v1/services/{serviceName}:check",
          "path": "v1/services/{serviceName}:check",
          "id": "servicecontrol.services.check",
          "description": "Checks an operation with Google Service Control to decide whether\nthe given operation should proceed. It should be called before the\noperation is executed.\n\nIf feasible, the client should cache the check results and reuse them for\n60 seconds. In case of server errors, the client can rely on the cached\nresults for longer time.\n\nNOTE: the CheckRequest has the size limit of 64KB.\n\nThis method requires the `servicemanagement.services.check` permission\non the specified service. For more information, see\n[Google Cloud IAM](https://cloud.google.com/iam).",
          "request": {
            "$ref": "CheckRequest"
          }
        },
        "releaseQuota": {
          "response": {
            "$ref": "ReleaseQuotaResponse"
          },
          "parameterOrder": [
            "serviceName"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/servicecontrol"
          ],
          "parameters": {
            "serviceName": {
              "location": "path",
              "description": "Name of the service as specified in the service configuration. For example,\n`\"pubsub.googleapis.com\"`.\n\nSee google.api.Service for the definition of a service name.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/services/{serviceName}:releaseQuota",
          "id": "servicecontrol.services.releaseQuota",
          "path": "v1/services/{serviceName}:releaseQuota",
          "request": {
            "$ref": "ReleaseQuotaRequest"
          },
          "description": "Releases previously allocated quota done through AllocateQuota method.\n\nThis method requires the `servicemanagement.services.quota`\npermission on the specified service. For more information, see\n[Google Cloud IAM](https://cloud.google.com/iam).\n\n**NOTE:** the client code **must** fail-open if the server returns one\nof the following quota errors:\n-   `PROJECT_STATUS_UNAVAILABLE`\n-   `SERVICE_STATUS_UNAVAILABLE`\n-   `BILLING_STATUS_UNAVAILABLE`\n-   `QUOTA_SYSTEM_UNAVAILABLE`\n\nThe server may inject above errors to prohibit any hard dependency\non the quota system."
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "version": "v1",
  "baseUrl": "https://servicecontrol.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Google Service Control provides control plane functionality to managed services, such as logging, monitoring, and status checks.",
  "servicePath": "",
  "basePath": "",
  "id": "servicecontrol:v1",
  "revision": "20170904",
  "documentationLink": "https://cloud.google.com/service-control/"
}
