{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-05-31",
    "endpointPrefix":"cloudfront",
    "globalEndpoint":"cloudfront.amazonaws.com",
    "protocol":"rest-xml",
    "serviceAbbreviation":"CloudFront",
    "serviceFullName":"Amazon CloudFront",
    "serviceId":"CloudFront",
    "signatureVersion":"v4",
    "uid":"cloudfront-2020-05-31"
  },
  "operations":{
    "CreateCachePolicy":{
      "name":"CreateCachePolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/cache-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateCachePolicyRequest"},
      "output":{"shape":"CreateCachePolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"CachePolicyAlreadyExists"},
        {"shape":"TooManyCachePolicies"},
        {"shape":"TooManyHeadersInCachePolicy"},
        {"shape":"TooManyCookiesInCachePolicy"},
        {"shape":"TooManyQueryStringsInCachePolicy"}
      ]
    },
    "CreateCloudFrontOriginAccessIdentity":{
      "name":"CreateCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront",
        "responseCode":201
      },
      "input":{"shape":"CreateCloudFrontOriginAccessIdentityRequest"},
      "output":{"shape":"CreateCloudFrontOriginAccessIdentityResult"},
      "errors":[
        {"shape":"CloudFrontOriginAccessIdentityAlreadyExists"},
        {"shape":"MissingBody"},
        {"shape":"TooManyCloudFrontOriginAccessIdentities"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"}
      ]
    },
    "CreateDistribution":{
      "name":"CreateDistribution2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution",
        "responseCode":201
      },
      "input":{"shape":"CreateDistributionRequest"},
      "output":{"shape":"CreateDistributionResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"DistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"MissingBody"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"TooManyDistributions"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidRelativePath"},
        {"shape":"InvalidErrorCode"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyOrigins"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyCacheBehaviors"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyCertificates"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"InvalidProtocolSettings"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TrustedKeyGroupDoesNotExist"}
      ]
    },
    "CreateDistributionWithTags":{
      "name":"CreateDistributionWithTags2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution?WithTags",
        "responseCode":201
      },
      "input":{"shape":"CreateDistributionWithTagsRequest"},
      "output":{"shape":"CreateDistributionWithTagsResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"DistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"MissingBody"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"TooManyDistributions"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidRelativePath"},
        {"shape":"InvalidErrorCode"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyOrigins"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyCacheBehaviors"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyCertificates"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"InvalidProtocolSettings"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"InvalidTagging"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TrustedKeyGroupDoesNotExist"}
      ]
    },
    "CreateFieldLevelEncryptionConfig":{
      "name":"CreateFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/field-level-encryption",
        "responseCode":201
      },
      "input":{"shape":"CreateFieldLevelEncryptionConfigRequest"},
      "output":{"shape":"CreateFieldLevelEncryptionConfigResult"},
      "errors":[
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"},
        {"shape":"FieldLevelEncryptionConfigAlreadyExists"},
        {"shape":"TooManyFieldLevelEncryptionConfigs"},
        {"shape":"TooManyFieldLevelEncryptionQueryArgProfiles"},
        {"shape":"TooManyFieldLevelEncryptionContentTypeProfiles"},
        {"shape":"QueryArgProfileEmpty"}
      ]
    },
    "CreateFieldLevelEncryptionProfile":{
      "name":"CreateFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/field-level-encryption-profile",
        "responseCode":201
      },
      "input":{"shape":"CreateFieldLevelEncryptionProfileRequest"},
      "output":{"shape":"CreateFieldLevelEncryptionProfileResult"},
      "errors":[
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchPublicKey"},
        {"shape":"FieldLevelEncryptionProfileAlreadyExists"},
        {"shape":"FieldLevelEncryptionProfileSizeExceeded"},
        {"shape":"TooManyFieldLevelEncryptionProfiles"},
        {"shape":"TooManyFieldLevelEncryptionEncryptionEntities"},
        {"shape":"TooManyFieldLevelEncryptionFieldPatterns"}
      ]
    },
    "CreateInvalidation":{
      "name":"CreateInvalidation2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution/{DistributionId}/invalidation",
        "responseCode":201
      },
      "input":{"shape":"CreateInvalidationRequest"},
      "output":{"shape":"CreateInvalidationResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"MissingBody"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchDistribution"},
        {"shape":"BatchTooLarge"},
        {"shape":"TooManyInvalidationsInProgress"},
        {"shape":"InconsistentQuantities"}
      ]
    },
    "CreateKeyGroup":{
      "name":"CreateKeyGroup2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/key-group",
        "responseCode":201
      },
      "input":{"shape":"CreateKeyGroupRequest"},
      "output":{"shape":"CreateKeyGroupResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"KeyGroupAlreadyExists"},
        {"shape":"TooManyKeyGroups"},
        {"shape":"TooManyPublicKeysInKeyGroup"}
      ]
    },
    "CreateMonitoringSubscription":{
      "name":"CreateMonitoringSubscription2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription"
      },
      "input":{"shape":"CreateMonitoringSubscriptionRequest"},
      "output":{"shape":"CreateMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchDistribution"}
      ]
    },
    "CreateOriginRequestPolicy":{
      "name":"CreateOriginRequestPolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/origin-request-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateOriginRequestPolicyRequest"},
      "output":{"shape":"CreateOriginRequestPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"OriginRequestPolicyAlreadyExists"},
        {"shape":"TooManyOriginRequestPolicies"},
        {"shape":"TooManyHeadersInOriginRequestPolicy"},
        {"shape":"TooManyCookiesInOriginRequestPolicy"},
        {"shape":"TooManyQueryStringsInOriginRequestPolicy"}
      ]
    },
    "CreatePublicKey":{
      "name":"CreatePublicKey2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/public-key",
        "responseCode":201
      },
      "input":{"shape":"CreatePublicKeyRequest"},
      "output":{"shape":"CreatePublicKeyResult"},
      "errors":[
        {"shape":"PublicKeyAlreadyExists"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyPublicKeys"}
      ]
    },
    "CreateRealtimeLogConfig":{
      "name":"CreateRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/realtime-log-config",
        "responseCode":201
      },
      "input":{
        "shape":"CreateRealtimeLogConfigRequest",
        "locationName":"CreateRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateRealtimeLogConfigResult"},
      "errors":[
        {"shape":"RealtimeLogConfigAlreadyExists"},
        {"shape":"TooManyRealtimeLogConfigs"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ]
    },
    "CreateStreamingDistribution":{
      "name":"CreateStreamingDistribution2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/streaming-distribution",
        "responseCode":201
      },
      "input":{"shape":"CreateStreamingDistributionRequest"},
      "output":{"shape":"CreateStreamingDistributionResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"StreamingDistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"MissingBody"},
        {"shape":"TooManyStreamingDistributionCNAMEs"},
        {"shape":"TooManyStreamingDistributions"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"}
      ]
    },
    "CreateStreamingDistributionWithTags":{
      "name":"CreateStreamingDistributionWithTags2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/streaming-distribution?WithTags",
        "responseCode":201
      },
      "input":{"shape":"CreateStreamingDistributionWithTagsRequest"},
      "output":{"shape":"CreateStreamingDistributionWithTagsResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"StreamingDistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"MissingBody"},
        {"shape":"TooManyStreamingDistributionCNAMEs"},
        {"shape":"TooManyStreamingDistributions"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidTagging"}
      ]
    },
    "DeleteCachePolicy":{
      "name":"DeleteCachePolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/cache-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCachePolicyRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"IllegalDelete"},
        {"shape":"CachePolicyInUse"}
      ]
    },
    "DeleteCloudFrontOriginAccessIdentity":{
      "name":"DeleteCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCloudFrontOriginAccessIdentityRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"},
        {"shape":"PreconditionFailed"},
        {"shape":"CloudFrontOriginAccessIdentityInUse"}
      ]
    },
    "DeleteDistribution":{
      "name":"DeleteDistribution2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/distribution/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDistributionRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"DistributionNotDisabled"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchDistribution"},
        {"shape":"PreconditionFailed"}
      ]
    },
    "DeleteFieldLevelEncryptionConfig":{
      "name":"DeleteFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFieldLevelEncryptionConfigRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"PreconditionFailed"},
        {"shape":"FieldLevelEncryptionConfigInUse"}
      ]
    },
    "DeleteFieldLevelEncryptionProfile":{
      "name":"DeleteFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFieldLevelEncryptionProfileRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"},
        {"shape":"PreconditionFailed"},
        {"shape":"FieldLevelEncryptionProfileInUse"}
      ]
    },
    "DeleteKeyGroup":{
      "name":"DeleteKeyGroup2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/key-group/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteKeyGroupRequest"},
      "errors":[
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchResource"},
        {"shape":"PreconditionFailed"},
        {"shape":"ResourceInUse"}
      ]
    },
    "DeleteMonitoringSubscription":{
      "name":"DeleteMonitoringSubscription2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription"
      },
      "input":{"shape":"DeleteMonitoringSubscriptionRequest"},
      "output":{"shape":"DeleteMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchDistribution"}
      ]
    },
    "DeleteOriginRequestPolicy":{
      "name":"DeleteOriginRequestPolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteOriginRequestPolicyRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"IllegalDelete"},
        {"shape":"OriginRequestPolicyInUse"}
      ]
    },
    "DeletePublicKey":{
      "name":"DeletePublicKey2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/public-key/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeletePublicKeyRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"PublicKeyInUse"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchPublicKey"},
        {"shape":"PreconditionFailed"}
      ]
    },
    "DeleteRealtimeLogConfig":{
      "name":"DeleteRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/delete-realtime-log-config/",
        "responseCode":204
      },
      "input":{
        "shape":"DeleteRealtimeLogConfigRequest",
        "locationName":"DeleteRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "errors":[
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"RealtimeLogConfigInUse"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ]
    },
    "DeleteStreamingDistribution":{
      "name":"DeleteStreamingDistribution2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteStreamingDistributionRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"StreamingDistributionNotDisabled"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchStreamingDistribution"},
        {"shape":"PreconditionFailed"}
      ]
    },
    "GetCachePolicy":{
      "name":"GetCachePolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy/{Id}"
      },
      "input":{"shape":"GetCachePolicyRequest"},
      "output":{"shape":"GetCachePolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchCachePolicy"}
      ]
    },
    "GetCachePolicyConfig":{
      "name":"GetCachePolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy/{Id}/config"
      },
      "input":{"shape":"GetCachePolicyConfigRequest"},
      "output":{"shape":"GetCachePolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchCachePolicy"}
      ]
    },
    "GetCloudFrontOriginAccessIdentity":{
      "name":"GetCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}"
      },
      "input":{"shape":"GetCloudFrontOriginAccessIdentityRequest"},
      "output":{"shape":"GetCloudFrontOriginAccessIdentityResult"},
      "errors":[
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"},
        {"shape":"AccessDenied"}
      ]
    },
    "GetCloudFrontOriginAccessIdentityConfig":{
      "name":"GetCloudFrontOriginAccessIdentityConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input":{"shape":"GetCloudFrontOriginAccessIdentityConfigRequest"},
      "output":{"shape":"GetCloudFrontOriginAccessIdentityConfigResult"},
      "errors":[
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"},
        {"shape":"AccessDenied"}
      ]
    },
    "GetDistribution":{
      "name":"GetDistribution2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{Id}"
      },
      "input":{"shape":"GetDistributionRequest"},
      "output":{"shape":"GetDistributionResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ]
    },
    "GetDistributionConfig":{
      "name":"GetDistributionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{Id}/config"
      },
      "input":{"shape":"GetDistributionConfigRequest"},
      "output":{"shape":"GetDistributionConfigResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ]
    },
    "GetFieldLevelEncryption":{
      "name":"GetFieldLevelEncryption2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}"
      },
      "input":{"shape":"GetFieldLevelEncryptionRequest"},
      "output":{"shape":"GetFieldLevelEncryptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"}
      ]
    },
    "GetFieldLevelEncryptionConfig":{
      "name":"GetFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}/config"
      },
      "input":{"shape":"GetFieldLevelEncryptionConfigRequest"},
      "output":{"shape":"GetFieldLevelEncryptionConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"}
      ]
    },
    "GetFieldLevelEncryptionProfile":{
      "name":"GetFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}"
      },
      "input":{"shape":"GetFieldLevelEncryptionProfileRequest"},
      "output":{"shape":"GetFieldLevelEncryptionProfileResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"}
      ]
    },
    "GetFieldLevelEncryptionProfileConfig":{
      "name":"GetFieldLevelEncryptionProfileConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}/config"
      },
      "input":{"shape":"GetFieldLevelEncryptionProfileConfigRequest"},
      "output":{"shape":"GetFieldLevelEncryptionProfileConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"}
      ]
    },
    "GetInvalidation":{
      "name":"GetInvalidation2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{DistributionId}/invalidation/{Id}"
      },
      "input":{"shape":"GetInvalidationRequest"},
      "output":{"shape":"GetInvalidationResult"},
      "errors":[
        {"shape":"NoSuchInvalidation"},
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ]
    },
    "GetKeyGroup":{
      "name":"GetKeyGroup2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-group/{Id}"
      },
      "input":{"shape":"GetKeyGroupRequest"},
      "output":{"shape":"GetKeyGroupResult"},
      "errors":[
        {"shape":"NoSuchResource"}
      ]
    },
    "GetKeyGroupConfig":{
      "name":"GetKeyGroupConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-group/{Id}/config"
      },
      "input":{"shape":"GetKeyGroupConfigRequest"},
      "output":{"shape":"GetKeyGroupConfigResult"},
      "errors":[
        {"shape":"NoSuchResource"}
      ]
    },
    "GetMonitoringSubscription":{
      "name":"GetMonitoringSubscription2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription"
      },
      "input":{"shape":"GetMonitoringSubscriptionRequest"},
      "output":{"shape":"GetMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchDistribution"}
      ]
    },
    "GetOriginRequestPolicy":{
      "name":"GetOriginRequestPolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}"
      },
      "input":{"shape":"GetOriginRequestPolicyRequest"},
      "output":{"shape":"GetOriginRequestPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginRequestPolicy"}
      ]
    },
    "GetOriginRequestPolicyConfig":{
      "name":"GetOriginRequestPolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}/config"
      },
      "input":{"shape":"GetOriginRequestPolicyConfigRequest"},
      "output":{"shape":"GetOriginRequestPolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginRequestPolicy"}
      ]
    },
    "GetPublicKey":{
      "name":"GetPublicKey2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/public-key/{Id}"
      },
      "input":{"shape":"GetPublicKeyRequest"},
      "output":{"shape":"GetPublicKeyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchPublicKey"}
      ]
    },
    "GetPublicKeyConfig":{
      "name":"GetPublicKeyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/public-key/{Id}/config"
      },
      "input":{"shape":"GetPublicKeyConfigRequest"},
      "output":{"shape":"GetPublicKeyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchPublicKey"}
      ]
    },
    "GetRealtimeLogConfig":{
      "name":"GetRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/get-realtime-log-config/"
      },
      "input":{
        "shape":"GetRealtimeLogConfigRequest",
        "locationName":"GetRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"GetRealtimeLogConfigResult"},
      "errors":[
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ]
    },
    "GetStreamingDistribution":{
      "name":"GetStreamingDistribution2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}"
      },
      "input":{"shape":"GetStreamingDistributionRequest"},
      "output":{"shape":"GetStreamingDistributionResult"},
      "errors":[
        {"shape":"NoSuchStreamingDistribution"},
        {"shape":"AccessDenied"}
      ]
    },
    "GetStreamingDistributionConfig":{
      "name":"GetStreamingDistributionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}/config"
      },
      "input":{"shape":"GetStreamingDistributionConfigRequest"},
      "output":{"shape":"GetStreamingDistributionConfigResult"},
      "errors":[
        {"shape":"NoSuchStreamingDistribution"},
        {"shape":"AccessDenied"}
      ]
    },
    "ListCachePolicies":{
      "name":"ListCachePolicies2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy"
      },
      "input":{"shape":"ListCachePoliciesRequest"},
      "output":{"shape":"ListCachePoliciesResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"InvalidArgument"}
      ]
    },
    "ListCloudFrontOriginAccessIdentities":{
      "name":"ListCloudFrontOriginAccessIdentities2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront"
      },
      "input":{"shape":"ListCloudFrontOriginAccessIdentitiesRequest"},
      "output":{"shape":"ListCloudFrontOriginAccessIdentitiesResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ]
    },
    "ListDistributions":{
      "name":"ListDistributions2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution"
      },
      "input":{"shape":"ListDistributionsRequest"},
      "output":{"shape":"ListDistributionsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ]
    },
    "ListDistributionsByCachePolicyId":{
      "name":"ListDistributionsByCachePolicyId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByCachePolicyId/{CachePolicyId}"
      },
      "input":{"shape":"ListDistributionsByCachePolicyIdRequest"},
      "output":{"shape":"ListDistributionsByCachePolicyIdResult"},
      "errors":[
        {"shape":"NoSuchCachePolicy"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ]
    },
    "ListDistributionsByKeyGroup":{
      "name":"ListDistributionsByKeyGroup2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByKeyGroupId/{KeyGroupId}"
      },
      "input":{"shape":"ListDistributionsByKeyGroupRequest"},
      "output":{"shape":"ListDistributionsByKeyGroupResult"},
      "errors":[
        {"shape":"NoSuchResource"},
        {"shape":"InvalidArgument"}
      ]
    },
    "ListDistributionsByOriginRequestPolicyId":{
      "name":"ListDistributionsByOriginRequestPolicyId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByOriginRequestPolicyId/{OriginRequestPolicyId}"
      },
      "input":{"shape":"ListDistributionsByOriginRequestPolicyIdRequest"},
      "output":{"shape":"ListDistributionsByOriginRequestPolicyIdResult"},
      "errors":[
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ]
    },
    "ListDistributionsByRealtimeLogConfig":{
      "name":"ListDistributionsByRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distributionsByRealtimeLogConfig/"
      },
      "input":{
        "shape":"ListDistributionsByRealtimeLogConfigRequest",
        "locationName":"ListDistributionsByRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"ListDistributionsByRealtimeLogConfigResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ]
    },
    "ListDistributionsByWebACLId":{
      "name":"ListDistributionsByWebACLId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByWebACLId/{WebACLId}"
      },
      "input":{"shape":"ListDistributionsByWebACLIdRequest"},
      "output":{"shape":"ListDistributionsByWebACLIdResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"InvalidWebACLId"}
      ]
    },
    "ListFieldLevelEncryptionConfigs":{
      "name":"ListFieldLevelEncryptionConfigs2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption"
      },
      "input":{"shape":"ListFieldLevelEncryptionConfigsRequest"},
      "output":{"shape":"ListFieldLevelEncryptionConfigsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ]
    },
    "ListFieldLevelEncryptionProfiles":{
      "name":"ListFieldLevelEncryptionProfiles2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption-profile"
      },
      "input":{"shape":"ListFieldLevelEncryptionProfilesRequest"},
      "output":{"shape":"ListFieldLevelEncryptionProfilesResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ]
    },
    "ListInvalidations":{
      "name":"ListInvalidations2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{DistributionId}/invalidation"
      },
      "input":{"shape":"ListInvalidationsRequest"},
      "output":{"shape":"ListInvalidationsResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ]
    },
    "ListKeyGroups":{
      "name":"ListKeyGroups2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-group"
      },
      "input":{"shape":"ListKeyGroupsRequest"},
      "output":{"shape":"ListKeyGroupsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ]
    },
    "ListOriginRequestPolicies":{
      "name":"ListOriginRequestPolicies2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-request-policy"
      },
      "input":{"shape":"ListOriginRequestPoliciesRequest"},
      "output":{"shape":"ListOriginRequestPoliciesResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"InvalidArgument"}
      ]
    },
    "ListPublicKeys":{
      "name":"ListPublicKeys2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/public-key"
      },
      "input":{"shape":"ListPublicKeysRequest"},
      "output":{"shape":"ListPublicKeysResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ]
    },
    "ListRealtimeLogConfigs":{
      "name":"ListRealtimeLogConfigs2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/realtime-log-config"
      },
      "input":{"shape":"ListRealtimeLogConfigsRequest"},
      "output":{"shape":"ListRealtimeLogConfigsResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"},
        {"shape":"NoSuchRealtimeLogConfig"}
      ]
    },
    "ListStreamingDistributions":{
      "name":"ListStreamingDistributions2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/streaming-distribution"
      },
      "input":{"shape":"ListStreamingDistributionsRequest"},
      "output":{"shape":"ListStreamingDistributionsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/tagging"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidTagging"},
        {"shape":"NoSuchResource"}
      ]
    },
    "TagResource":{
      "name":"TagResource2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/tagging?Operation=Tag",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidTagging"},
        {"shape":"NoSuchResource"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/tagging?Operation=Untag",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidTagging"},
        {"shape":"NoSuchResource"}
      ]
    },
    "UpdateCachePolicy":{
      "name":"UpdateCachePolicy2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/cache-policy/{Id}"
      },
      "input":{"shape":"UpdateCachePolicyRequest"},
      "output":{"shape":"UpdateCachePolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"IllegalUpdate"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"CachePolicyAlreadyExists"},
        {"shape":"TooManyHeadersInCachePolicy"},
        {"shape":"TooManyCookiesInCachePolicy"},
        {"shape":"TooManyQueryStringsInCachePolicy"}
      ]
    },
    "UpdateCloudFrontOriginAccessIdentity":{
      "name":"UpdateCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input":{"shape":"UpdateCloudFrontOriginAccessIdentityRequest"},
      "output":{"shape":"UpdateCloudFrontOriginAccessIdentityResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"IllegalUpdate"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"MissingBody"},
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"},
        {"shape":"PreconditionFailed"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"}
      ]
    },
    "UpdateDistribution":{
      "name":"UpdateDistribution2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/distribution/{Id}/config"
      },
      "input":{"shape":"UpdateDistributionRequest"},
      "output":{"shape":"UpdateDistributionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"IllegalUpdate"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"MissingBody"},
        {"shape":"NoSuchDistribution"},
        {"shape":"PreconditionFailed"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidRelativePath"},
        {"shape":"InvalidErrorCode"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyOrigins"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyCacheBehaviors"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyCertificates"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TrustedKeyGroupDoesNotExist"}
      ]
    },
    "UpdateFieldLevelEncryptionConfig":{
      "name":"UpdateFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}/config"
      },
      "input":{"shape":"UpdateFieldLevelEncryptionConfigRequest"},
      "output":{"shape":"UpdateFieldLevelEncryptionConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"IllegalUpdate"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"PreconditionFailed"},
        {"shape":"TooManyFieldLevelEncryptionQueryArgProfiles"},
        {"shape":"TooManyFieldLevelEncryptionContentTypeProfiles"},
        {"shape":"QueryArgProfileEmpty"}
      ]
    },
    "UpdateFieldLevelEncryptionProfile":{
      "name":"UpdateFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}/config"
      },
      "input":{"shape":"UpdateFieldLevelEncryptionProfileRequest"},
      "output":{"shape":"UpdateFieldLevelEncryptionProfileResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"FieldLevelEncryptionProfileAlreadyExists"},
        {"shape":"IllegalUpdate"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchPublicKey"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"},
        {"shape":"PreconditionFailed"},
        {"shape":"FieldLevelEncryptionProfileSizeExceeded"},
        {"shape":"TooManyFieldLevelEncryptionEncryptionEntities"},
        {"shape":"TooManyFieldLevelEncryptionFieldPatterns"}
      ]
    },
    "UpdateKeyGroup":{
      "name":"UpdateKeyGroup2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/key-group/{Id}"
      },
      "input":{"shape":"UpdateKeyGroupRequest"},
      "output":{"shape":"UpdateKeyGroupResult"},
      "errors":[
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchResource"},
        {"shape":"PreconditionFailed"},
        {"shape":"KeyGroupAlreadyExists"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyPublicKeysInKeyGroup"}
      ]
    },
    "UpdateOriginRequestPolicy":{
      "name":"UpdateOriginRequestPolicy2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}"
      },
      "input":{"shape":"UpdateOriginRequestPolicyRequest"},
      "output":{"shape":"UpdateOriginRequestPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"IllegalUpdate"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"OriginRequestPolicyAlreadyExists"},
        {"shape":"TooManyHeadersInOriginRequestPolicy"},
        {"shape":"TooManyCookiesInOriginRequestPolicy"},
        {"shape":"TooManyQueryStringsInOriginRequestPolicy"}
      ]
    },
    "UpdatePublicKey":{
      "name":"UpdatePublicKey2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/public-key/{Id}/config"
      },
      "input":{"shape":"UpdatePublicKeyRequest"},
      "output":{"shape":"UpdatePublicKeyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"CannotChangeImmutablePublicKeyFields"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"IllegalUpdate"},
        {"shape":"NoSuchPublicKey"},
        {"shape":"PreconditionFailed"}
      ]
    },
    "UpdateRealtimeLogConfig":{
      "name":"UpdateRealtimeLogConfig2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/realtime-log-config/"
      },
      "input":{
        "shape":"UpdateRealtimeLogConfigRequest",
        "locationName":"UpdateRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"UpdateRealtimeLogConfigResult"},
      "errors":[
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ]
    },
    "UpdateStreamingDistribution":{
      "name":"UpdateStreamingDistribution2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}/config"
      },
      "input":{"shape":"UpdateStreamingDistributionRequest"},
      "output":{"shape":"UpdateStreamingDistributionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"IllegalUpdate"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"MissingBody"},
        {"shape":"NoSuchStreamingDistribution"},
        {"shape":"PreconditionFailed"},
        {"shape":"TooManyStreamingDistributionCNAMEs"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InconsistentQuantities"}
      ]
    }
  },
  "shapes":{
    "AccessDenied":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "ActiveTrustedKeyGroups":{
      "type":"structure",
      "required":[
        "Enabled",
        "Quantity"
      ],
      "members":{
        "Enabled":{"shape":"boolean"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"KGKeyPairIdsList"}
      }
    },
    "ActiveTrustedSigners":{
      "type":"structure",
      "required":[
        "Enabled",
        "Quantity"
      ],
      "members":{
        "Enabled":{"shape":"boolean"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"SignerList"}
      }
    },
    "AliasICPRecordal":{
      "type":"structure",
      "members":{
        "CNAME":{"shape":"string"},
        "ICPRecordalStatus":{"shape":"ICPRecordalStatus"}
      }
    },
    "AliasICPRecordals":{
      "type":"list",
      "member":{
        "shape":"AliasICPRecordal",
        "locationName":"AliasICPRecordal"
      }
    },
    "AliasList":{
      "type":"list",
      "member":{
        "shape":"string",
        "locationName":"CNAME"
      }
    },
    "Aliases":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"AliasList"}
      }
    },
    "AllowedMethods":{
      "type":"structure",
      "required":[
        "Quantity",
        "Items"
      ],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"MethodsList"},
        "CachedMethods":{"shape":"CachedMethods"}
      }
    },
    "AwsAccountNumberList":{
      "type":"list",
      "member":{
        "shape":"string",
        "locationName":"AwsAccountNumber"
      }
    },
    "BatchTooLarge":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":413},
      "exception":true
    },
    "CNAMEAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CacheBehavior":{
      "type":"structure",
      "required":[
        "PathPattern",
        "TargetOriginId",
        "ViewerProtocolPolicy"
      ],
      "members":{
        "PathPattern":{"shape":"string"},
        "TargetOriginId":{"shape":"string"},
        "TrustedSigners":{"shape":"TrustedSigners"},
        "TrustedKeyGroups":{"shape":"TrustedKeyGroups"},
        "ViewerProtocolPolicy":{"shape":"ViewerProtocolPolicy"},
        "AllowedMethods":{"shape":"AllowedMethods"},
        "SmoothStreaming":{"shape":"boolean"},
        "Compress":{"shape":"boolean"},
        "LambdaFunctionAssociations":{"shape":"LambdaFunctionAssociations"},
        "FieldLevelEncryptionId":{"shape":"string"},
        "RealtimeLogConfigArn":{"shape":"string"},
        "CachePolicyId":{"shape":"string"},
        "OriginRequestPolicyId":{"shape":"string"},
        "ForwardedValues":{
          "shape":"ForwardedValues",
          "deprecated":true
        },
        "MinTTL":{
          "shape":"long",
          "deprecated":true
        },
        "DefaultTTL":{
          "shape":"long",
          "deprecated":true
        },
        "MaxTTL":{
          "shape":"long",
          "deprecated":true
        }
      }
    },
    "CacheBehaviorList":{
      "type":"list",
      "member":{
        "shape":"CacheBehavior",
        "locationName":"CacheBehavior"
      }
    },
    "CacheBehaviors":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"CacheBehaviorList"}
      }
    },
    "CachePolicy":{
      "type":"structure",
      "required":[
        "Id",
        "LastModifiedTime",
        "CachePolicyConfig"
      ],
      "members":{
        "Id":{"shape":"string"},
        "LastModifiedTime":{"shape":"timestamp"},
        "CachePolicyConfig":{"shape":"CachePolicyConfig"}
      }
    },
    "CachePolicyAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CachePolicyConfig":{
      "type":"structure",
      "required":[
        "Name",
        "MinTTL"
      ],
      "members":{
        "Comment":{"shape":"string"},
        "Name":{"shape":"string"},
        "DefaultTTL":{"shape":"long"},
        "MaxTTL":{"shape":"long"},
        "MinTTL":{"shape":"long"},
        "ParametersInCacheKeyAndForwardedToOrigin":{"shape":"ParametersInCacheKeyAndForwardedToOrigin"}
      }
    },
    "CachePolicyCookieBehavior":{
      "type":"string",
      "enum":[
        "none",
        "whitelist",
        "allExcept",
        "all"
      ]
    },
    "CachePolicyCookiesConfig":{
      "type":"structure",
      "required":["CookieBehavior"],
      "members":{
        "CookieBehavior":{"shape":"CachePolicyCookieBehavior"},
        "Cookies":{"shape":"CookieNames"}
      }
    },
    "CachePolicyHeaderBehavior":{
      "type":"string",
      "enum":[
        "none",
        "whitelist"
      ]
    },
    "CachePolicyHeadersConfig":{
      "type":"structure",
      "required":["HeaderBehavior"],
      "members":{
        "HeaderBehavior":{"shape":"CachePolicyHeaderBehavior"},
        "Headers":{"shape":"Headers"}
      }
    },
    "CachePolicyInUse":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CachePolicyList":{
      "type":"structure",
      "required":[
        "MaxItems",
        "Quantity"
      ],
      "members":{
        "NextMarker":{"shape":"string"},
        "MaxItems":{"shape":"integer"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"CachePolicySummaryList"}
      }
    },
    "CachePolicyQueryStringBehavior":{
      "type":"string",
      "enum":[
        "none",
        "whitelist",
        "allExcept",
        "all"
      ]
    },
    "CachePolicyQueryStringsConfig":{
      "type":"structure",
      "required":["QueryStringBehavior"],
      "members":{
        "QueryStringBehavior":{"shape":"CachePolicyQueryStringBehavior"},
        "QueryStrings":{"shape":"QueryStringNames"}
      }
    },
    "CachePolicySummary":{
      "type":"structure",
      "required":[
        "Type",
        "CachePolicy"
      ],
      "members":{
        "Type":{"shape":"CachePolicyType"},
        "CachePolicy":{"shape":"CachePolicy"}
      }
    },
    "CachePolicySummaryList":{
      "type":"list",
      "member":{
        "shape":"CachePolicySummary",
        "locationName":"CachePolicySummary"
      }
    },
    "CachePolicyType":{
      "type":"string",
      "enum":[
        "managed",
        "custom"
      ]
    },
    "CachedMethods":{
      "type":"structure",
      "required":[
        "Quantity",
        "Items"
      ],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"MethodsList"}
      }
    },
    "CannotChangeImmutablePublicKeyFields":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "CertificateSource":{
      "type":"string",
      "enum":[
        "cloudfront",
        "iam",
        "acm"
      ]
    },
    "CloudFrontOriginAccessIdentity":{
      "type":"structure",
      "required":[
        "Id",
        "S3CanonicalUserId"
      ],
      "members":{
        "Id":{"shape":"string"},
        "S3CanonicalUserId":{"shape":"string"},
        "CloudFrontOriginAccessIdentityConfig":{"shape":"CloudFrontOriginAccessIdentityConfig"}
      }
    },
    "CloudFrontOriginAccessIdentityAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CloudFrontOriginAccessIdentityConfig":{
      "type":"structure",
      "required":[
        "CallerReference",
        "Comment"
      ],
      "members":{
        "CallerReference":{"shape":"string"},
        "Comment":{"shape":"string"}
      }
    },
    "CloudFrontOriginAccessIdentityInUse":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CloudFrontOriginAccessIdentityList":{
      "type":"structure",
      "required":[
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "members":{
        "Marker":{"shape":"string"},
        "NextMarker":{"shape":"string"},
        "MaxItems":{"shape":"integer"},
        "IsTruncated":{"shape":"boolean"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"CloudFrontOriginAccessIdentitySummaryList"}
      }
    },
    "CloudFrontOriginAccessIdentitySummary":{
      "type":"structure",
      "required":[
        "Id",
        "S3CanonicalUserId",
        "Comment"
      ],
      "members":{
        "Id":{"shape":"string"},
        "S3CanonicalUserId":{"shape":"string"},
        "Comment":{"shape":"string"}
      }
    },
    "CloudFrontOriginAccessIdentitySummaryList":{
      "type":"list",
      "member":{
        "shape":"CloudFrontOriginAccessIdentitySummary",
        "locationName":"CloudFrontOriginAccessIdentitySummary"
      }
    },
    "CommentType":{
      "type":"string",
      "sensitive":true
    },
    "ContentTypeProfile":{
      "type":"structure",
      "required":[
        "Format",
        "ContentType"
      ],
      "members":{
        "Format":{"shape":"Format"},
        "ProfileId":{"shape":"string"},
        "ContentType":{"shape":"string"}
      }
    },
    "ContentTypeProfileConfig":{
      "type":"structure",
      "required":["ForwardWhenContentTypeIsUnknown"],
      "members":{
        "ForwardWhenContentTypeIsUnknown":{"shape":"boolean"},
        "ContentTypeProfiles":{"shape":"ContentTypeProfiles"}
      }
    },
    "ContentTypeProfileList":{
      "type":"list",
      "member":{
        "shape":"ContentTypeProfile",
        "locationName":"ContentTypeProfile"
      }
    },
    "ContentTypeProfiles":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"ContentTypeProfileList"}
      }
    },
    "CookieNameList":{
      "type":"list",
      "member":{
        "shape":"string",
        "locationName":"Name"
      }
    },
    "CookieNames":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"CookieNameList"}
      }
    },
    "CookiePreference":{
      "type":"structure",
      "required":["Forward"],
      "members":{
        "Forward":{"shape":"ItemSelection"},
        "WhitelistedNames":{"shape":"CookieNames"}
      }
    },
    "CreateCachePolicyRequest":{
      "type":"structure",
      "required":["CachePolicyConfig"],
      "members":{
        "CachePolicyConfig":{
          "shape":"CachePolicyConfig",
          "locationName":"CachePolicyConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"CachePolicyConfig"
    },
    "CreateCachePolicyResult":{
      "type":"structure",
      "members":{
        "CachePolicy":{"shape":"CachePolicy"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"CachePolicy"
    },
    "CreateCloudFrontOriginAccessIdentityRequest":{
      "type":"structure",
      "required":["CloudFrontOriginAccessIdentityConfig"],
      "members":{
        "CloudFrontOriginAccessIdentityConfig":{
          "shape":"CloudFrontOriginAccessIdentityConfig",
          "locationName":"CloudFrontOriginAccessIdentityConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"CloudFrontOriginAccessIdentityConfig"
    },
    "CreateCloudFrontOriginAccessIdentityResult":{
      "type":"structure",
      "members":{
        "CloudFrontOriginAccessIdentity":{"shape":"CloudFrontOriginAccessIdentity"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"CloudFrontOriginAccessIdentity"
    },
    "CreateDistributionRequest":{
      "type":"structure",
      "required":["DistributionConfig"],
      "members":{
        "DistributionConfig":{
          "shape":"DistributionConfig",
          "locationName":"DistributionConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"DistributionConfig"
    },
    "CreateDistributionResult":{
      "type":"structure",
      "members":{
        "Distribution":{"shape":"Distribution"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"Distribution"
    },
    "CreateDistributionWithTagsRequest":{
      "type":"structure",
      "required":["DistributionConfigWithTags"],
      "members":{
        "DistributionConfigWithTags":{
          "shape":"DistributionConfigWithTags",
          "locationName":"DistributionConfigWithTags",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"DistributionConfigWithTags"
    },
    "CreateDistributionWithTagsResult":{
      "type":"structure",
      "members":{
        "Distribution":{"shape":"Distribution"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"Distribution"
    },
    "CreateFieldLevelEncryptionConfigRequest":{
      "type":"structure",
      "required":["FieldLevelEncryptionConfig"],
      "members":{
        "FieldLevelEncryptionConfig":{
          "shape":"FieldLevelEncryptionConfig",
          "locationName":"FieldLevelEncryptionConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"FieldLevelEncryptionConfig"
    },
    "CreateFieldLevelEncryptionConfigResult":{
      "type":"structure",
      "members":{
        "FieldLevelEncryption":{"shape":"FieldLevelEncryption"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"FieldLevelEncryption"
    },
    "CreateFieldLevelEncryptionProfileRequest":{
      "type":"structure",
      "required":["FieldLevelEncryptionProfileConfig"],
      "members":{
        "FieldLevelEncryptionProfileConfig":{
          "shape":"FieldLevelEncryptionProfileConfig",
          "locationName":"FieldLevelEncryptionProfileConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"FieldLevelEncryptionProfileConfig"
    },
    "CreateFieldLevelEncryptionProfileResult":{
      "type":"structure",
      "members":{
        "FieldLevelEncryptionProfile":{"shape":"FieldLevelEncryptionProfile"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"FieldLevelEncryptionProfile"
    },
    "CreateInvalidationRequest":{
      "type":"structure",
      "required":[
        "DistributionId",
        "InvalidationBatch"
      ],
      "members":{
        "DistributionId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DistributionId"
        },
        "InvalidationBatch":{
          "shape":"InvalidationBatch",
          "locationName":"InvalidationBatch",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"InvalidationBatch"
    },
    "CreateInvalidationResult":{
      "type":"structure",
      "members":{
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "Invalidation":{"shape":"Invalidation"}
      },
      "payload":"Invalidation"
    },
    "CreateKeyGroupRequest":{
      "type":"structure",
      "required":["KeyGroupConfig"],
      "members":{
        "KeyGroupConfig":{
          "shape":"KeyGroupConfig",
          "locationName":"KeyGroupConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"KeyGroupConfig"
    },
    "CreateKeyGroupResult":{
      "type":"structure",
      "members":{
        "KeyGroup":{"shape":"KeyGroup"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"KeyGroup"
    },
    "CreateMonitoringSubscriptionRequest":{
      "type":"structure",
      "required":[
        "MonitoringSubscription",
        "DistributionId"
      ],
      "members":{
        "DistributionId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DistributionId"
        },
        "MonitoringSubscription":{
          "shape":"MonitoringSubscription",
          "locationName":"MonitoringSubscription",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"MonitoringSubscription"
    },
    "CreateMonitoringSubscriptionResult":{
      "type":"structure",
      "members":{
        "MonitoringSubscription":{"shape":"MonitoringSubscription"}
      },
      "payload":"MonitoringSubscription"
    },
    "CreateOriginRequestPolicyRequest":{
      "type":"structure",
      "required":["OriginRequestPolicyConfig"],
      "members":{
        "OriginRequestPolicyConfig":{
          "shape":"OriginRequestPolicyConfig",
          "locationName":"OriginRequestPolicyConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"OriginRequestPolicyConfig"
    },
    "CreateOriginRequestPolicyResult":{
      "type":"structure",
      "members":{
        "OriginRequestPolicy":{"shape":"OriginRequestPolicy"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"OriginRequestPolicy"
    },
    "CreatePublicKeyRequest":{
      "type":"structure",
      "required":["PublicKeyConfig"],
      "members":{
        "PublicKeyConfig":{
          "shape":"PublicKeyConfig",
          "locationName":"PublicKeyConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"PublicKeyConfig"
    },
    "CreatePublicKeyResult":{
      "type":"structure",
      "members":{
        "PublicKey":{"shape":"PublicKey"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"PublicKey"
    },
    "CreateRealtimeLogConfigRequest":{
      "type":"structure",
      "required":[
        "EndPoints",
        "Fields",
        "Name",
        "SamplingRate"
      ],
      "members":{
        "EndPoints":{"shape":"EndPointList"},
        "Fields":{"shape":"FieldList"},
        "Name":{"shape":"string"},
        "SamplingRate":{"shape":"long"}
      }
    },
    "CreateRealtimeLogConfigResult":{
      "type":"structure",
      "members":{
        "RealtimeLogConfig":{"shape":"RealtimeLogConfig"}
      }
    },
    "CreateStreamingDistributionRequest":{
      "type":"structure",
      "required":["StreamingDistributionConfig"],
      "members":{
        "StreamingDistributionConfig":{
          "shape":"StreamingDistributionConfig",
          "locationName":"StreamingDistributionConfig",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"StreamingDistributionConfig"
    },
    "CreateStreamingDistributionResult":{
      "type":"structure",
      "members":{
        "StreamingDistribution":{"shape":"StreamingDistribution"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"StreamingDistribution"
    },
    "CreateStreamingDistributionWithTagsRequest":{
      "type":"structure",
      "required":["StreamingDistributionConfigWithTags"],
      "members":{
        "StreamingDistributionConfigWithTags":{
          "shape":"StreamingDistributionConfigWithTags",
          "locationName":"StreamingDistributionConfigWithTags",
          "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
        }
      },
      "payload":"StreamingDistributionConfigWithTags"
    },
    "CreateStreamingDistributionWithTagsResult":{
      "type":"structure",
      "members":{
        "StreamingDistribution":{"shape":"StreamingDistribution"},
        "Location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location"
        },
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"StreamingDistribution"
    },
    "CustomErrorResponse":{
      "type":"structure",
      "required":["ErrorCode"],
      "members":{
        "ErrorCode":{"shape":"integer"},
        "ResponsePagePath":{"shape":"string"},
        "ResponseCode":{"shape":"string"},
        "ErrorCachingMinTTL":{"shape":"long"}
      }
    },
    "CustomErrorResponseList":{
      "type":"list",
      "member":{
        "shape":"CustomErrorResponse",
        "locationName":"CustomErrorResponse"
      }
    },
    "CustomErrorResponses":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"CustomErrorResponseList"}
      }
    },
    "CustomHeaders":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"OriginCustomHeadersList"}
      }
    },
    "CustomOriginConfig":{
      "type":"structure",
      "required":[
        "HTTPPort",
        "HTTPSPort",
        "OriginProtocolPolicy"
      ],
      "members":{
        "HTTPPort":{"shape":"integer"},
        "HTTPSPort":{"shape":"integer"},
        "OriginProtocolPolicy":{"shape":"OriginProtocolPolicy"},
        "OriginSslProtocols":{"shape":"OriginSslProtocols"},
        "OriginReadTimeout":{"shape":"integer"},
        "OriginKeepaliveTimeout":{"shape":"integer"}
      }
    },
    "DefaultCacheBehavior":{
      "type":"structure",
      "required":[
        "TargetOriginId",
        "ViewerProtocolPolicy"
      ],
      "members":{
        "TargetOriginId":{"shape":"string"},
        "TrustedSigners":{"shape":"TrustedSigners"},
        "TrustedKeyGroups":{"shape":"TrustedKeyGroups"},
        "ViewerProtocolPolicy":{"shape":"ViewerProtocolPolicy"},
        "AllowedMethods":{"shape":"AllowedMethods"},
        "SmoothStreaming":{"shape":"boolean"},
        "Compress":{"shape":"boolean"},
        "LambdaFunctionAssociations":{"shape":"LambdaFunctionAssociations"},
        "FieldLevelEncryptionId":{"shape":"string"},
        "RealtimeLogConfigArn":{"shape":"string"},
        "CachePolicyId":{"shape":"string"},
        "OriginRequestPolicyId":{"shape":"string"},
        "ForwardedValues":{
          "shape":"ForwardedValues",
          "deprecated":true
        },
        "MinTTL":{
          "shape":"long",
          "deprecated":true
        },
        "DefaultTTL":{
          "shape":"long",
          "deprecated":true
        },
        "MaxTTL":{
          "shape":"long",
          "deprecated":true
        }
      }
    },
    "DeleteCachePolicyRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "DeleteCloudFrontOriginAccessIdentityRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "DeleteDistributionRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "DeleteFieldLevelEncryptionConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "DeleteFieldLevelEncryptionProfileRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "DeleteKeyGroupRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "DeleteMonitoringSubscriptionRequest":{
      "type":"structure",
      "required":["DistributionId"],
      "members":{
        "DistributionId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DistributionId"
        }
      }
    },
    "DeleteMonitoringSubscriptionResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteOriginRequestPolicyRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "DeletePublicKeyRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "DeleteRealtimeLogConfigRequest":{
      "type":"structure",
      "members":{
        "Name":{"shape":"string"},
        "ARN":{"shape":"string"}
      }
    },
    "DeleteStreamingDistributionRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        },
        "IfMatch":{
          "shape":"string",
          "location":"header",
          "locationName":"If-Match"
        }
      }
    },
    "Distribution":{
      "type":"structure",
      "required":[
        "Id",
        "ARN",
        "Status",
        "LastModifiedTime",
        "InProgressInvalidationBatches",
        "DomainName",
        "DistributionConfig"
      ],
      "members":{
        "Id":{"shape":"string"},
        "ARN":{"shape":"string"},
        "Status":{"shape":"string"},
        "LastModifiedTime":{"shape":"timestamp"},
        "InProgressInvalidationBatches":{"shape":"integer"},
        "DomainName":{"shape":"string"},
        "ActiveTrustedSigners":{"shape":"ActiveTrustedSigners"},
        "ActiveTrustedKeyGroups":{"shape":"ActiveTrustedKeyGroups"},
        "DistributionConfig":{"shape":"DistributionConfig"},
        "AliasICPRecordals":{"shape":"AliasICPRecordals"}
      }
    },
    "DistributionAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "DistributionConfig":{
      "type":"structure",
      "required":[
        "CallerReference",
        "Origins",
        "DefaultCacheBehavior",
        "Comment",
        "Enabled"
      ],
      "members":{
        "CallerReference":{"shape":"string"},
        "Aliases":{"shape":"Aliases"},
        "DefaultRootObject":{"shape":"string"},
        "Origins":{"shape":"Origins"},
        "OriginGroups":{"shape":"OriginGroups"},
        "DefaultCacheBehavior":{"shape":"DefaultCacheBehavior"},
        "CacheBehaviors":{"shape":"CacheBehaviors"},
        "CustomErrorResponses":{"shape":"CustomErrorResponses"},
        "Comment":{"shape":"CommentType"},
        "Logging":{"shape":"LoggingConfig"},
        "PriceClass":{"shape":"PriceClass"},
        "Enabled":{"shape":"boolean"},
        "ViewerCertificate":{"shape":"ViewerCertificate"},
        "Restrictions":{"shape":"Restrictions"},
        "WebACLId":{"shape":"string"},
        "HttpVersion":{"shape":"HttpVersion"},
        "IsIPV6Enabled":{"shape":"boolean"}
      }
    },
    "DistributionConfigWithTags":{
      "type":"structure",
      "required":[
        "DistributionConfig",
        "Tags"
      ],
      "members":{
        "DistributionConfig":{"shape":"DistributionConfig"},
        "Tags":{"shape":"Tags"}
      }
    },
    "DistributionIdList":{
      "type":"structure",
      "required":[
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "members":{
        "Marker":{"shape":"string"},
        "NextMarker":{"shape":"string"},
        "MaxItems":{"shape":"integer"},
        "IsTruncated":{"shape":"boolean"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"DistributionIdListSummary"}
      }
    },
    "DistributionIdListSummary":{
      "type":"list",
      "member":{
        "shape":"string",
        "locationName":"DistributionId"
      }
    },
    "DistributionList":{
      "type":"structure",
      "required":[
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "members":{
        "Marker":{"shape":"string"},
        "NextMarker":{"shape":"string"},
        "MaxItems":{"shape":"integer"},
        "IsTruncated":{"shape":"boolean"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"DistributionSummaryList"}
      }
    },
    "DistributionNotDisabled":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "DistributionSummary":{
      "type":"structure",
      "required":[
        "Id",
        "ARN",
        "Status",
        "LastModifiedTime",
        "DomainName",
        "Aliases",
        "Origins",
        "DefaultCacheBehavior",
        "CacheBehaviors",
        "CustomErrorResponses",
        "Comment",
        "PriceClass",
        "Enabled",
        "ViewerCertificate",
        "Restrictions",
        "WebACLId",
        "HttpVersion",
        "IsIPV6Enabled"
      ],
      "members":{
        "Id":{"shape":"string"},
        "ARN":{"shape":"string"},
        "Status":{"shape":"string"},
        "LastModifiedTime":{"shape":"timestamp"},
        "DomainName":{"shape":"string"},
        "Aliases":{"shape":"Aliases"},
        "Origins":{"shape":"Origins"},
        "OriginGroups":{"shape":"OriginGroups"},
        "DefaultCacheBehavior":{"shape":"DefaultCacheBehavior"},
        "CacheBehaviors":{"shape":"CacheBehaviors"},
        "CustomErrorResponses":{"shape":"CustomErrorResponses"},
        "Comment":{"shape":"string"},
        "PriceClass":{"shape":"PriceClass"},
        "Enabled":{"shape":"boolean"},
        "ViewerCertificate":{"shape":"ViewerCertificate"},
        "Restrictions":{"shape":"Restrictions"},
        "WebACLId":{"shape":"string"},
        "HttpVersion":{"shape":"HttpVersion"},
        "IsIPV6Enabled":{"shape":"boolean"},
        "AliasICPRecordals":{"shape":"AliasICPRecordals"}
      }
    },
    "DistributionSummaryList":{
      "type":"list",
      "member":{
        "shape":"DistributionSummary",
        "locationName":"DistributionSummary"
      }
    },
    "EncryptionEntities":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"EncryptionEntityList"}
      }
    },
    "EncryptionEntity":{
      "type":"structure",
      "required":[
        "PublicKeyId",
        "ProviderId",
        "FieldPatterns"
      ],
      "members":{
        "PublicKeyId":{"shape":"string"},
        "ProviderId":{"shape":"string"},
        "FieldPatterns":{"shape":"FieldPatterns"}
      }
    },
    "EncryptionEntityList":{
      "type":"list",
      "member":{
        "shape":"EncryptionEntity",
        "locationName":"EncryptionEntity"
      }
    },
    "EndPoint":{
      "type":"structure",
      "required":["StreamType"],
      "members":{
        "StreamType":{"shape":"string"},
        "KinesisStreamConfig":{"shape":"KinesisStreamConfig"}
      }
    },
    "EndPointList":{
      "type":"list",
      "member":{"shape":"EndPoint"}
    },
    "EventType":{
      "type":"string",
      "enum":[
        "viewer-request",
        "viewer-response",
        "origin-request",
        "origin-response"
      ]
    },
    "FieldLevelEncryption":{
      "type":"structure",
      "required":[
        "Id",
        "LastModifiedTime",
        "FieldLevelEncryptionConfig"
      ],
      "members":{
        "Id":{"shape":"string"},
        "LastModifiedTime":{"shape":"timestamp"},
        "FieldLevelEncryptionConfig":{"shape":"FieldLevelEncryptionConfig"}
      }
    },
    "FieldLevelEncryptionConfig":{
      "type":"structure",
      "required":["CallerReference"],
      "members":{
        "CallerReference":{"shape":"string"},
        "Comment":{"shape":"string"},
        "QueryArgProfileConfig":{"shape":"QueryArgProfileConfig"},
        "ContentTypeProfileConfig":{"shape":"ContentTypeProfileConfig"}
      }
    },
    "FieldLevelEncryptionConfigAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "FieldLevelEncryptionConfigInUse":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "FieldLevelEncryptionList":{
      "type":"structure",
      "required":[
        "MaxItems",
        "Quantity"
      ],
      "members":{
        "NextMarker":{"shape":"string"},
        "MaxItems":{"shape":"integer"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"FieldLevelEncryptionSummaryList"}
      }
    },
    "FieldLevelEncryptionProfile":{
      "type":"structure",
      "required":[
        "Id",
        "LastModifiedTime",
        "FieldLevelEncryptionProfileConfig"
      ],
      "members":{
        "Id":{"shape":"string"},
        "LastModifiedTime":{"shape":"timestamp"},
        "FieldLevelEncryptionProfileConfig":{"shape":"FieldLevelEncryptionProfileConfig"}
      }
    },
    "FieldLevelEncryptionProfileAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "FieldLevelEncryptionProfileConfig":{
      "type":"structure",
      "required":[
        "Name",
        "CallerReference",
        "EncryptionEntities"
      ],
      "members":{
        "Name":{"shape":"string"},
        "CallerReference":{"shape":"string"},
        "Comment":{"shape":"string"},
        "EncryptionEntities":{"shape":"EncryptionEntities"}
      }
    },
    "FieldLevelEncryptionProfileInUse":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "FieldLevelEncryptionProfileList":{
      "type":"structure",
      "required":[
        "MaxItems",
        "Quantity"
      ],
      "members":{
        "NextMarker":{"shape":"string"},
        "MaxItems":{"shape":"integer"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"FieldLevelEncryptionProfileSummaryList"}
      }
    },
    "FieldLevelEncryptionProfileSizeExceeded":{
      "type":"structure",
      "members":{
        "Message":{"shape":"string"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "FieldLevelEncryptionProfileSummary":{
      "type":"structure",
      "required":[
        "Id",
        "LastModifiedTime",
        "Name",
        "EncryptionEntities"
      ],
      "members":{
        "Id":{"shape":"string"},
        "LastModifiedTime":{"shape":"timestamp"},
        "Name":{"shape":"string"},
        "EncryptionEntities":{"shape":"EncryptionEntities"},
        "Comment":{"shape":"string"}
      }
    },
    "FieldLevelEncryptionProfileSummaryList":{
      "type":"list",
      "member":{
        "shape":"FieldLevelEncryptionProfileSummary",
        "locationName":"FieldLevelEncryptionProfileSummary"
      }
    },
    "FieldLevelEncryptionSummary":{
      "type":"structure",
      "required":[
        "Id",
        "LastModifiedTime"
      ],
      "members":{
        "Id":{"shape":"string"},
        "LastModifiedTime":{"shape":"timestamp"},
        "Comment":{"shape":"string"},
        "QueryArgProfileConfig":{"shape":"QueryArgProfileConfig"},
        "ContentTypeProfileConfig":{"shape":"ContentTypeProfileConfig"}
      }
    },
    "FieldLevelEncryptionSummaryList":{
      "type":"list",
      "member":{
        "shape":"FieldLevelEncryptionSummary",
        "locationName":"FieldLevelEncryptionSummary"
      }
    },
    "FieldList":{
      "type":"list",
      "member":{
        "shape":"string",
        "locationName":"Field"
      }
    },
    "FieldPatternList":{
      "type":"list",
      "member":{
        "shape":"string",
        "locationName":"FieldPattern"
      }
    },
    "FieldPatterns":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"FieldPatternList"}
      }
    },
    "Format":{
      "type":"string",
      "enum":["URLEncoded"]
    },
    "ForwardedValues":{
      "type":"structure",
      "required":[
        "QueryString",
        "Cookies"
      ],
      "members":{
        "QueryString":{"shape":"boolean"},
        "Cookies":{"shape":"CookiePreference"},
        "Headers":{"shape":"Headers"},
        "QueryStringCacheKeys":{"shape":"QueryStringCacheKeys"}
      }
    },
    "GeoRestriction":{
      "type":"structure",
      "required":[
        "RestrictionType",
        "Quantity"
      ],
      "members":{
        "RestrictionType":{"shape":"GeoRestrictionType"},
        "Quantity":{"shape":"integer"},
        "Items":{"shape":"LocationList"}
      }
    },
    "GeoRestrictionType":{
      "type":"string",
      "enum":[
        "blacklist",
        "whitelist",
        "none"
      ]
    },
    "GetCachePolicyConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetCachePolicyConfigResult":{
      "type":"structure",
      "members":{
        "CachePolicyConfig":{"shape":"CachePolicyConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"CachePolicyConfig"
    },
    "GetCachePolicyRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetCachePolicyResult":{
      "type":"structure",
      "members":{
        "CachePolicy":{"shape":"CachePolicy"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"CachePolicy"
    },
    "GetCloudFrontOriginAccessIdentityConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetCloudFrontOriginAccessIdentityConfigResult":{
      "type":"structure",
      "members":{
        "CloudFrontOriginAccessIdentityConfig":{"shape":"CloudFrontOriginAccessIdentityConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"CloudFrontOriginAccessIdentityConfig"
    },
    "GetCloudFrontOriginAccessIdentityRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetCloudFrontOriginAccessIdentityResult":{
      "type":"structure",
      "members":{
        "CloudFrontOriginAccessIdentity":{"shape":"CloudFrontOriginAccessIdentity"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"CloudFrontOriginAccessIdentity"
    },
    "GetDistributionConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetDistributionConfigResult":{
      "type":"structure",
      "members":{
        "DistributionConfig":{"shape":"DistributionConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"DistributionConfig"
    },
    "GetDistributionRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetDistributionResult":{
      "type":"structure",
      "members":{
        "Distribution":{"shape":"Distribution"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"Distribution"
    },
    "GetFieldLevelEncryptionConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetFieldLevelEncryptionConfigResult":{
      "type":"structure",
      "members":{
        "FieldLevelEncryptionConfig":{"shape":"FieldLevelEncryptionConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"FieldLevelEncryptionConfig"
    },
    "GetFieldLevelEncryptionProfileConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetFieldLevelEncryptionProfileConfigResult":{
      "type":"structure",
      "members":{
        "FieldLevelEncryptionProfileConfig":{"shape":"FieldLevelEncryptionProfileConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"FieldLevelEncryptionProfileConfig"
    },
    "GetFieldLevelEncryptionProfileRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetFieldLevelEncryptionProfileResult":{
      "type":"structure",
      "members":{
        "FieldLevelEncryptionProfile":{"shape":"FieldLevelEncryptionProfile"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"FieldLevelEncryptionProfile"
    },
    "GetFieldLevelEncryptionRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetFieldLevelEncryptionResult":{
      "type":"structure",
      "members":{
        "FieldLevelEncryption":{"shape":"FieldLevelEncryption"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"FieldLevelEncryption"
    },
    "GetInvalidationRequest":{
      "type":"structure",
      "required":[
        "DistributionId",
        "Id"
      ],
      "members":{
        "DistributionId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DistributionId"
        },
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetInvalidationResult":{
      "type":"structure",
      "members":{
        "Invalidation":{"shape":"Invalidation"}
      },
      "payload":"Invalidation"
    },
    "GetKeyGroupConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetKeyGroupConfigResult":{
      "type":"structure",
      "members":{
        "KeyGroupConfig":{"shape":"KeyGroupConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"KeyGroupConfig"
    },
    "GetKeyGroupRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetKeyGroupResult":{
      "type":"structure",
      "members":{
        "KeyGroup":{"shape":"KeyGroup"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"KeyGroup"
    },
    "GetMonitoringSubscriptionRequest":{
      "type":"structure",
      "required":["DistributionId"],
      "members":{
        "DistributionId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DistributionId"
        }
      }
    },
    "GetMonitoringSubscriptionResult":{
      "type":"structure",
      "members":{
        "MonitoringSubscription":{"shape":"MonitoringSubscription"}
      },
      "payload":"MonitoringSubscription"
    },
    "GetOriginRequestPolicyConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetOriginRequestPolicyConfigResult":{
      "type":"structure",
      "members":{
        "OriginRequestPolicyConfig":{"shape":"OriginRequestPolicyConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"OriginRequestPolicyConfig"
    },
    "GetOriginRequestPolicyRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetOriginRequestPolicyResult":{
      "type":"structure",
      "members":{
        "OriginRequestPolicy":{"shape":"OriginRequestPolicy"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"OriginRequestPolicy"
    },
    "GetPublicKeyConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetPublicKeyConfigResult":{
      "type":"structure",
      "members":{
        "PublicKeyConfig":{"shape":"PublicKeyConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"PublicKeyConfig"
    },
    "GetPublicKeyRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetPublicKeyResult":{
      "type":"structure",
      "members":{
        "PublicKey":{"shape":"PublicKey"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"PublicKey"
    },
    "GetRealtimeLogConfigRequest":{
      "type":"structure",
      "members":{
        "Name":{"shape":"string"},
        "ARN":{"shape":"string"}
      }
    },
    "GetRealtimeLogConfigResult":{
      "type":"structure",
      "members":{
        "RealtimeLogConfig":{"shape":"RealtimeLogConfig"}
      }
    },
    "GetStreamingDistributionConfigRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetStreamingDistributionConfigResult":{
      "type":"structure",
      "members":{
        "StreamingDistributionConfig":{"shape":"StreamingDistributionConfig"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"StreamingDistributionConfig"
    },
    "GetStreamingDistributionRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"string",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetStreamingDistributionResult":{
      "type":"structure",
      "members":{
        "StreamingDistribution":{"shape":"StreamingDistribution"},
        "ETag":{
          "shape":"string",
          "location":"header",
          "locationName":"ETag"
        }
      },
      "payload":"StreamingDistribution"
    },
    "HeaderList":{
      "type":"list",
      "member":{
        "shape":"string",
        "locationName":"Name"
      }
    },
    "Headers":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
[...]
