{
 "kind": "discovery#restDescription",
 "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/wvHUvzc7H9DsYdzIRz_B2V_HIBs\"",
 "discoveryVersion": "v1",
 "id": "dataproc:v1",
 "name": "dataproc",
 "version": "v1",
 "revision": "20151209",
 "title": "Google Cloud Dataproc API",
 "description": "An API for managing Hadoop-based clusters and jobs on Google Cloud Platform.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "https://cloud.google.com/dataproc/",
 "protocol": "rest",
 "baseUrl": "https://dataproc.googleapis.com/",
 "basePath": "/",
 "rootUrl": "https://dataproc.googleapis.com/",
 "servicePath": "",
 "batchPath": "batch",
 "parameters": {
  "access_token": {
   "type": "string",
   "description": "OAuth access token.",
   "location": "query"
  },
  "alt": {
   "type": "string",
   "description": "Data format for response.",
   "default": "json",
   "enumDescriptions": [
    "Responses with Content-Type of application/json",
    "Media download with context-dependent Content-Type",
    "Responses with Content-Type of application/x-protobuf"
   ],
   "location": "query"
  },
  "bearer_token": {
   "type": "string",
   "description": "OAuth bearer token.",
   "location": "query"
  },
  "callback": {
   "type": "string",
   "description": "JSONP",
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "pp": {
   "type": "boolean",
   "description": "Pretty-print response.",
   "default": "true",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
   "location": "query"
  },
  "upload_protocol": {
   "type": "string",
   "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
   "location": "query"
  },
  "uploadType": {
   "type": "string",
   "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
   "location": "query"
  },
  "$.xgafv": {
   "type": "string",
   "description": "V1 error format.",
   "enumDescriptions": [
    "v1 error format",
    "v2 error format"
   ],
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/logging.admin": {
     "description": "Administrate log data for your projects"
    },
    "https://www.googleapis.com/auth/logging.read": {
     "description": "View log data for your projects"
    },
    "https://www.googleapis.com/auth/logging.write": {
     "description": "Submit log data for your projects"
    }
   }
  }
 },
 "schemas": {
  "Media": {
   "id": "Media",
   "type": "object",
   "description": "Media resource.",
   "properties": {
    "resourceName": {
     "type": "string",
     "description": "Name of the media resource."
    }
   }
  },
  "DiagnoseClusterOutputLocation": {
   "id": "DiagnoseClusterOutputLocation",
   "type": "object",
   "description": "The location where output from diagnostic command can be found.",
   "properties": {
    "outputUri": {
     "type": "string",
     "description": "[Output-only] The Google Cloud Storage URI of the diagnostic output. This will be a plain text file with summary of collected diagnostics."
    }
   }
  },
  "OperationMetadata": {
   "id": "OperationMetadata",
   "type": "object",
   "description": "Metadata describing the operation.",
   "properties": {
    "state": {
     "type": "string",
     "description": "A message containing the operation state.",
     "enum": [
      "UNKNOWN",
      "PENDING",
      "RUNNING",
      "DONE"
     ]
    },
    "innerState": {
     "type": "string",
     "description": "A message containing the detailed operation state."
    },
    "details": {
     "type": "string",
     "description": "A message containing any operation metadata details."
    },
    "insertTime": {
     "type": "string",
     "description": "The time that the operation was requested."
    },
    "startTime": {
     "type": "string",
     "description": "The time that the operation was started by the server."
    },
    "endTime": {
     "type": "string",
     "description": "The time that the operation completed."
    },
    "clusterName": {
     "type": "string",
     "description": "Name of the cluster for the operation."
    },
    "clusterUuid": {
     "type": "string",
     "description": "Cluster UUId for the operation."
    },
    "status": {
     "$ref": "OperationStatus",
     "description": "[Output-only] Current operation status."
    },
    "statusHistory": {
     "type": "array",
     "description": "[Output-only] Previous operation status.",
     "items": {
      "$ref": "OperationStatus"
     }
    }
   }
  },
  "OperationStatus": {
   "id": "OperationStatus",
   "type": "object",
   "description": "The status of the operation.",
   "properties": {
    "state": {
     "type": "string",
     "description": "A message containing the operation state.",
     "enum": [
      "UNKNOWN",
      "PENDING",
      "RUNNING",
      "DONE"
     ]
    },
    "innerState": {
     "type": "string",
     "description": "A message containing the detailed operation state."
    },
    "details": {
     "type": "string",
     "description": "A message containing any operation metadata details."
    },
    "stateStartTime": {
     "type": "string",
     "description": "The time this state was entered."
    }
   }
  }
 },
 "resources": {
  "media": {
   "methods": {
    "upload": {
     "id": "dataproc.media.upload",
     "path": "v1/media/{+resourceName}",
     "httpMethod": "POST",
     "description": "Method for media upload. Upload is supported on the URI `/upload/v1/media/{+name}`.",
     "parameters": {
      "resourceName": {
       "type": "string",
       "description": "Name of the media that is being downloaded. See [][ByteStream.ReadRequest.resource_name].",
       "required": true,
       "pattern": "^.*$",
       "location": "path"
      }
     },
     "parameterOrder": [
      "resourceName"
     ],
     "request": {
      "$ref": "Media"
     },
     "response": {
      "$ref": "Media"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/logging.admin",
      "https://www.googleapis.com/auth/logging.read",
      "https://www.googleapis.com/auth/logging.write"
     ],
     "supportsMediaUpload": true,
     "mediaUpload": {
      "accept": [
       "*/*"
      ],
      "protocols": {
       "simple": {
        "multipart": true,
        "path": "/upload/v1/media/{+resourceName}"
       },
       "resumable": {
        "multipart": true,
        "path": "/resumable/upload/v1/media/{+resourceName}"
       }
      }
     }
    },
    "download": {
     "id": "dataproc.media.download",
     "path": "v1/media/{+resourceName}",
     "httpMethod": "GET",
     "description": "Method for media download. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
     "parameters": {
      "resourceName": {
       "type": "string",
       "description": "Name of the media that is being downloaded. See [][ByteStream.ReadRequest.resource_name].",
       "required": true,
       "pattern": "^.*$",
       "location": "path"
      }
     },
     "parameterOrder": [
      "resourceName"
     ],
     "response": {
      "$ref": "Media"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/logging.admin",
      "https://www.googleapis.com/auth/logging.read",
      "https://www.googleapis.com/auth/logging.write"
     ],
     "supportsMediaDownload": true
    }
   }
  }
 }
}
