[Unit]
Description=Kubernetes Addon Object Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/lib/systemd/scripts/kube-addons start

[Install]
WantedBy=multi-user.target
