[Unit]
Description=Kubernetes Addon Object Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/etc/kubernetes/kube-addons.sh

[Install]
WantedBy=multi-user.target
