[Unit]
Description=Kubernetes Addon Object Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
Environment=HOME=/root
ExecStart=/etc/kubernetes/kube-addons.sh

[Install]
WantedBy=multi-user.target
