{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-01",
    "endpointPrefix":"quicksight",
    "jsonVersion":"1.0",
    "protocol":"rest-json",
    "serviceFullName":"Amazon QuickSight",
    "serviceId":"QuickSight",
    "signatureVersion":"v4",
    "uid":"quicksight-2018-04-01"
  },
  "operations":{
    "CancelIngestion":{
      "name":"CancelIngestion",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CancelIngestionRequest"},
      "output":{"shape":"CancelIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateAccountCustomization":{
      "name":"CreateAccountCustomization",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"CreateAccountCustomizationRequest"},
      "output":{"shape":"CreateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateAnalysis":{
      "name":"CreateAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"CreateAnalysisRequest"},
      "output":{"shape":"CreateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDataSet":{
      "name":"CreateDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"CreateDataSetRequest"},
      "output":{"shape":"CreateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateGroupMembership":{
      "name":"CreateGroupMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"CreateGroupMembershipRequest"},
      "output":{"shape":"CreateGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateIAMPolicyAssignment":{
      "name":"CreateIAMPolicyAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input":{"shape":"CreateIAMPolicyAssignmentRequest"},
      "output":{"shape":"CreateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateIngestion":{
      "name":"CreateIngestion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CreateIngestionRequest"},
      "output":{"shape":"CreateIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateNamespace":{
      "name":"CreateNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}"
      },
      "input":{"shape":"CreateNamespaceRequest"},
      "output":{"shape":"CreateNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{"shape":"CreateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTemplateAlias":{
      "name":"CreateTemplateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateTemplateAliasRequest"},
      "output":{"shape":"CreateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTheme":{
      "name":"CreateTheme",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"CreateThemeRequest"},
      "output":{"shape":"CreateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateThemeAlias":{
      "name":"CreateThemeAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateThemeAliasRequest"},
      "output":{"shape":"CreateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteAccountCustomization":{
      "name":"DeleteAccountCustomization",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DeleteAccountCustomizationRequest"},
      "output":{"shape":"DeleteAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteAnalysis":{
      "name":"DeleteAnalysis",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DeleteAnalysisRequest"},
      "output":{"shape":"DeleteAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSet":{
      "name":"DeleteDataSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DeleteDataSetRequest"},
      "output":{"shape":"DeleteDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteGroupMembership":{
      "name":"DeleteGroupMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DeleteGroupMembershipRequest"},
      "output":{"shape":"DeleteGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteIAMPolicyAssignment":{
      "name":"DeleteIAMPolicyAssignment",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DeleteIAMPolicyAssignmentRequest"},
      "output":{"shape":"DeleteIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteNamespace":{
      "name":"DeleteNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DeleteNamespaceRequest"},
      "output":{"shape":"DeleteNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{"shape":"DeleteTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTemplateAlias":{
      "name":"DeleteTemplateAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteTemplateAliasRequest"},
      "output":{"shape":"DeleteTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTheme":{
      "name":"DeleteTheme",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DeleteThemeRequest"},
      "output":{"shape":"DeleteThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteThemeAlias":{
      "name":"DeleteThemeAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteThemeAliasRequest"},
      "output":{"shape":"DeleteThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteUserByPrincipalId":{
      "name":"DeleteUserByPrincipalId",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input":{"shape":"DeleteUserByPrincipalIdRequest"},
      "output":{"shape":"DeleteUserByPrincipalIdResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAccountCustomization":{
      "name":"DescribeAccountCustomization",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DescribeAccountCustomizationRequest"},
      "output":{"shape":"DescribeAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAccountSettings":{
      "name":"DescribeAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"DescribeAccountSettingsRequest"},
      "output":{"shape":"DescribeAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAnalysis":{
      "name":"DescribeAnalysis",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DescribeAnalysisRequest"},
      "output":{"shape":"DescribeAnalysisResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeAnalysisPermissions":{
      "name":"DescribeAnalysisPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"DescribeAnalysisPermissionsRequest"},
      "output":{"shape":"DescribeAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboardPermissions":{
      "name":"DescribeDashboardPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"DescribeDashboardPermissionsRequest"},
      "output":{"shape":"DescribeDashboardPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSet":{
      "name":"DescribeDataSet",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DescribeDataSetRequest"},
      "output":{"shape":"DescribeDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSetPermissions":{
      "name":"DescribeDataSetPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"DescribeDataSetPermissionsRequest"},
      "output":{"shape":"DescribeDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSourcePermissions":{
      "name":"DescribeDataSourcePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"DescribeDataSourcePermissionsRequest"},
      "output":{"shape":"DescribeDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeIAMPolicyAssignment":{
      "name":"DescribeIAMPolicyAssignment",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DescribeIAMPolicyAssignmentRequest"},
      "output":{"shape":"DescribeIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeIngestion":{
      "name":"DescribeIngestion",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"DescribeIngestionRequest"},
      "output":{"shape":"DescribeIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeNamespace":{
      "name":"DescribeNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DescribeNamespaceRequest"},
      "output":{"shape":"DescribeNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeTemplate":{
      "name":"DescribeTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DescribeTemplateRequest"},
      "output":{"shape":"DescribeTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplateAlias":{
      "name":"DescribeTemplateAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeTemplateAliasRequest"},
      "output":{"shape":"DescribeTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplatePermissions":{
      "name":"DescribeTemplatePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"DescribeTemplatePermissionsRequest"},
      "output":{"shape":"DescribeTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTheme":{
      "name":"DescribeTheme",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DescribeThemeRequest"},
      "output":{"shape":"DescribeThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeThemeAlias":{
      "name":"DescribeThemeAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeThemeAliasRequest"},
      "output":{"shape":"DescribeThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeThemePermissions":{
      "name":"DescribeThemePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"DescribeThemePermissionsRequest"},
      "output":{"shape":"DescribeThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "GetDashboardEmbedUrl":{
      "name":"GetDashboardEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input":{"shape":"GetDashboardEmbedUrlRequest"},
      "output":{"shape":"GetDashboardEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"DomainNotWhitelistedException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"IdentityTypeNotSupportedException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "GetSessionEmbedUrl":{
      "name":"GetSessionEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/session-embed-url"
      },
      "input":{"shape":"GetSessionEmbedUrlRequest"},
      "output":{"shape":"GetSessionEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListAnalyses":{
      "name":"ListAnalyses",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses"
      },
      "input":{"shape":"ListAnalysesRequest"},
      "output":{"shape":"ListAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDashboardVersions":{
      "name":"ListDashboardVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input":{"shape":"ListDashboardVersionsRequest"},
      "output":{"shape":"ListDashboardVersionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDashboards":{
      "name":"ListDashboards",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards"
      },
      "input":{"shape":"ListDashboardsRequest"},
      "output":{"shape":"ListDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDataSets":{
      "name":"ListDataSets",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"ListDataSetsRequest"},
      "output":{"shape":"ListDataSetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListGroupMemberships":{
      "name":"ListGroupMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input":{"shape":"ListGroupMembershipsRequest"},
      "output":{"shape":"ListGroupMembershipsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListIAMPolicyAssignments":{
      "name":"ListIAMPolicyAssignments",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIAMPolicyAssignmentsForUser":{
      "name":"ListIAMPolicyAssignmentsForUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsForUserRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsForUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIngestions":{
      "name":"ListIngestions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input":{"shape":"ListIngestionsRequest"},
      "output":{"shape":"ListIngestionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListNamespaces":{
      "name":"ListNamespaces",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces"
      },
      "input":{"shape":"ListNamespacesRequest"},
      "output":{"shape":"ListNamespacesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplateAliases":{
      "name":"ListTemplateAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input":{"shape":"ListTemplateAliasesRequest"},
      "output":{"shape":"ListTemplateAliasesResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplateVersions":{
      "name":"ListTemplateVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input":{"shape":"ListTemplateVersionsRequest"},
      "output":{"shape":"ListTemplateVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates"
      },
      "input":{"shape":"ListTemplatesRequest"},
      "output":{"shape":"ListTemplatesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemeAliases":{
      "name":"ListThemeAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases"
      },
      "input":{"shape":"ListThemeAliasesRequest"},
      "output":{"shape":"ListThemeAliasesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemeVersions":{
      "name":"ListThemeVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/versions"
      },
      "input":{"shape":"ListThemeVersionsRequest"},
      "output":{"shape":"ListThemeVersionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemes":{
      "name":"ListThemes",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes"
      },
      "input":{"shape":"ListThemesRequest"},
      "output":{"shape":"ListThemesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListUserGroups":{
      "name":"ListUserGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/groups"
      },
      "input":{"shape":"ListUserGroupsRequest"},
      "output":{"shape":"ListUserGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "RegisterUser":{
      "name":"RegisterUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"RegisterUserRequest"},
      "output":{"shape":"RegisterUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "RestoreAnalysis":{
      "name":"RestoreAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/restore/analyses/{AnalysisId}"
      },
      "input":{"shape":"RestoreAnalysisRequest"},
      "output":{"shape":"RestoreAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchAnalyses":{
      "name":"SearchAnalyses",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/analyses"
      },
      "input":{"shape":"SearchAnalysesRequest"},
      "output":{"shape":"SearchAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchDashboards":{
      "name":"SearchDashboards",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/dashboards"
      },
      "input":{"shape":"SearchDashboardsRequest"},
      "output":{"shape":"SearchDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateAccountCustomization":{
      "name":"UpdateAccountCustomization",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"UpdateAccountCustomizationRequest"},
      "output":{"shape":"UpdateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateAccountSettings":{
      "name":"UpdateAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"UpdateAccountSettingsRequest"},
      "output":{"shape":"UpdateAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateAnalysis":{
      "name":"UpdateAnalysis",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"UpdateAnalysisRequest"},
      "output":{"shape":"UpdateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateAnalysisPermissions":{
      "name":"UpdateAnalysisPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"UpdateAnalysisPermissionsRequest"},
      "output":{"shape":"UpdateAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboard":{
      "name":"UpdateDashboard",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"UpdateDashboardRequest"},
      "output":{"shape":"UpdateDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardPermissions":{
      "name":"UpdateDashboardPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"UpdateDashboardPermissionsRequest"},
      "output":{"shape":"UpdateDashboardPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardPublishedVersion":{
      "name":"UpdateDashboardPublishedVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions/{VersionNumber}"
      },
      "input":{"shape":"UpdateDashboardPublishedVersionRequest"},
      "output":{"shape":"UpdateDashboardPublishedVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSet":{
      "name":"UpdateDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"UpdateDataSetRequest"},
      "output":{"shape":"UpdateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSetPermissions":{
      "name":"UpdateDataSetPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"UpdateDataSetPermissionsRequest"},
      "output":{"shape":"UpdateDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSourcePermissions":{
      "name":"UpdateDataSourcePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"UpdateDataSourcePermissionsRequest"},
      "output":{"shape":"UpdateDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateGroup":{
      "name":"UpdateGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"UpdateGroupRequest"},
      "output":{"shape":"UpdateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateIAMPolicyAssignment":{
      "name":"UpdateIAMPolicyAssignment",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"UpdateIAMPolicyAssignmentRequest"},
      "output":{"shape":"UpdateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplate":{
      "name":"UpdateTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"UpdateTemplateRequest"},
      "output":{"shape":"UpdateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplateAlias":{
      "name":"UpdateTemplateAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"UpdateTemplateAliasRequest"},
      "output":{"shape":"UpdateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplatePermissions":{
      "name":"UpdateTemplatePermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"UpdateTemplatePermissionsRequest"},
      "output":{"shape":"UpdateTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTheme":{
      "name":"UpdateTheme",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"UpdateThemeRequest"},
      "output":{"shape":"UpdateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateThemeAlias":{
      "name":"UpdateThemeAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"UpdateThemeAliasRequest"},
      "output":{"shape":"UpdateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateThemePermissions":{
      "name":"UpdateThemePermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"UpdateThemePermissionsRequest"},
      "output":{"shape":"UpdateThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":401},
      "exception":true
    },
    "AccountCustomization":{
      "type":"structure",
      "members":{
        "DefaultTheme":{"shape":"Arn"}
      }
    },
    "AccountSettings":{
      "type":"structure",
      "members":{
        "AccountName":{"shape":"String"},
        "Edition":{"shape":"Edition"},
        "DefaultNamespace":{"shape":"Namespace"},
        "NotificationEmail":{"shape":"String"}
      }
    },
    "ActionList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":16,
      "min":1
    },
    "ActiveIAMPolicyAssignment":{
      "type":"structure",
      "members":{
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "PolicyArn":{"shape":"Arn"}
      }
    },
    "ActiveIAMPolicyAssignmentList":{
      "type":"list",
      "member":{"shape":"ActiveIAMPolicyAssignment"}
    },
    "AdHocFilteringOption":{
      "type":"structure",
      "members":{
        "AvailabilityStatus":{"shape":"DashboardBehavior"}
      }
    },
    "AliasName":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)"
    },
    "AmazonElasticsearchParameters":{
      "type":"structure",
      "required":["Domain"],
      "members":{
        "Domain":{"shape":"Domain"}
      }
    },
    "Analysis":{
      "type":"structure",
      "members":{
        "AnalysisId":{"shape":"RestrictiveResourceId"},
        "Arn":{"shape":"Arn"},
        "Name":{"shape":"AnalysisName"},
        "Status":{"shape":"ResourceStatus"},
        "Errors":{"shape":"AnalysisErrorList"},
        "DataSetArns":{"shape":"DataSetArnsList"},
        "ThemeArn":{"shape":"Arn"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "Sheets":{"shape":"SheetList"}
      }
    },
    "AnalysisError":{
      "type":"structure",
      "members":{
        "Type":{"shape":"AnalysisErrorType"},
        "Message":{"shape":"NonEmptyString"}
      }
    },
    "AnalysisErrorList":{
      "type":"list",
      "member":{"shape":"AnalysisError"},
      "min":1
    },
    "AnalysisErrorType":{
      "type":"string",
      "enum":[
        "ACCESS_DENIED",
        "SOURCE_NOT_FOUND",
        "DATA_SET_NOT_FOUND",
        "INTERNAL_FAILURE",
        "PARAMETER_VALUE_INCOMPATIBLE",
        "PARAMETER_TYPE_INVALID",
        "PARAMETER_NOT_FOUND",
        "COLUMN_TYPE_MISMATCH",
        "COLUMN_GEOGRAPHIC_ROLE_MISMATCH",
        "COLUMN_REPLACEMENT_MISSING"
      ]
    },
    "AnalysisFilterAttribute":{
      "type":"string",
      "enum":["QUICKSIGHT_USER"]
    },
    "AnalysisName":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "AnalysisSearchFilter":{
      "type":"structure",
      "members":{
        "Operator":{"shape":"FilterOperator"},
        "Name":{"shape":"AnalysisFilterAttribute"},
        "Value":{"shape":"String"}
      }
    },
    "AnalysisSearchFilterList":{
      "type":"list",
      "member":{"shape":"AnalysisSearchFilter"},
      "max":1
    },
    "AnalysisSourceEntity":{
      "type":"structure",
      "members":{
        "SourceTemplate":{"shape":"AnalysisSourceTemplate"}
      }
    },
    "AnalysisSourceTemplate":{
      "type":"structure",
      "required":[
        "DataSetReferences",
        "Arn"
      ],
      "members":{
        "DataSetReferences":{"shape":"DataSetReferenceList"},
        "Arn":{"shape":"Arn"}
      }
    },
    "AnalysisSummary":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "AnalysisId":{"shape":"RestrictiveResourceId"},
        "Name":{"shape":"AnalysisName"},
        "Status":{"shape":"ResourceStatus"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"}
      }
    },
    "AnalysisSummaryList":{
      "type":"list",
      "member":{"shape":"AnalysisSummary"},
      "max":100
    },
    "Arn":{"type":"string"},
    "AssignmentStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DRAFT",
        "DISABLED"
      ]
    },
    "AthenaParameters":{
      "type":"structure",
      "members":{
        "WorkGroup":{"shape":"WorkGroup"}
      }
    },
    "AuroraParameters":{
      "type":"structure",
      "required":[
        "Host",
        "Port",
        "Database"
      ],
      "members":{
        "Host":{"shape":"Host"},
        "Port":{"shape":"Port"},
        "Database":{"shape":"Database"}
      }
    },
    "AuroraPostgreSqlParameters":{
      "type":"structure",
      "required":[
        "Host",
        "Port",
        "Database"
      ],
      "members":{
        "Host":{"shape":"Host"},
        "Port":{"shape":"Port"},
        "Database":{"shape":"Database"}
      }
    },
    "AwsAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^[0-9]{12}$"
    },
    "AwsAndAccountId":{
      "type":"string",
      "pattern":"^(aws|[0-9]{12})$"
    },
    "AwsIotAnalyticsParameters":{
      "type":"structure",
      "required":["DataSetName"],
      "members":{
        "DataSetName":{"shape":"DataSetName"}
      }
    },
    "Boolean":{"type":"boolean"},
    "BorderStyle":{
      "type":"structure",
      "members":{
        "Show":{
          "shape":"boolean",
          "box":true
        }
      }
    },
    "CalculatedColumn":{
      "type":"structure",
      "required":[
        "ColumnName",
        "ColumnId",
        "Expression"
      ],
      "members":{
        "ColumnName":{"shape":"ColumnName"},
        "ColumnId":{"shape":"ColumnId"},
        "Expression":{"shape":"Expression"}
      }
    },
    "CalculatedColumnList":{
      "type":"list",
      "member":{"shape":"CalculatedColumn"},
      "max":128,
      "min":1
    },
    "CancelIngestionRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId",
        "IngestionId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DataSetId"
        },
        "IngestionId":{
          "shape":"IngestionId",
          "location":"uri",
          "locationName":"IngestionId"
        }
      }
    },
    "CancelIngestionResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "IngestionId":{"shape":"IngestionId"},
        "RequestId":{"shape":"string"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CastColumnTypeOperation":{
      "type":"structure",
      "required":[
        "ColumnName",
        "NewColumnType"
      ],
      "members":{
        "ColumnName":{"shape":"ColumnName"},
        "NewColumnType":{"shape":"ColumnDataType"},
        "Format":{"shape":"TypeCastFormat"}
      }
    },
    "Catalog":{
      "type":"string",
      "max":128
    },
    "ClusterId":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ColorList":{
      "type":"list",
      "member":{"shape":"HexColor"},
      "max":100
    },
    "ColumnDataType":{
      "type":"string",
      "enum":[
        "STRING",
        "INTEGER",
        "DECIMAL",
        "DATETIME"
      ]
    },
    "ColumnDescription":{
      "type":"structure",
      "members":{
        "Text":{"shape":"ColumnDescriptiveText"}
      }
    },
    "ColumnDescriptiveText":{
      "type":"string",
      "max":500,
      "min":0
    },
    "ColumnGroup":{
      "type":"structure",
      "members":{
        "GeoSpatialColumnGroup":{"shape":"GeoSpatialColumnGroup"}
      }
    },
    "ColumnGroupColumnSchema":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"}
      }
    },
    "ColumnGroupColumnSchemaList":{
      "type":"list",
      "member":{"shape":"ColumnGroupColumnSchema"},
      "max":500
    },
    "ColumnGroupList":{
      "type":"list",
      "member":{"shape":"ColumnGroup"},
      "max":8,
      "min":1
    },
    "ColumnGroupName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ColumnGroupSchema":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "ColumnGroupColumnSchemaList":{"shape":"ColumnGroupColumnSchemaList"}
      }
    },
    "ColumnGroupSchemaList":{
      "type":"list",
      "member":{"shape":"ColumnGroupSchema"},
      "max":500
    },
    "ColumnId":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ColumnList":{
      "type":"list",
      "member":{"shape":"ColumnName"},
      "max":16,
      "min":1
    },
    "ColumnName":{
      "type":"string",
      "max":128,
      "min":1
    },
    "ColumnSchema":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "DataType":{"shape":"String"},
        "GeographicRole":{"shape":"String"}
      }
    },
    "ColumnSchemaList":{
      "type":"list",
      "member":{"shape":"ColumnSchema"},
      "max":500
    },
    "ColumnTag":{
      "type":"structure",
      "members":{
        "ColumnGeographicRole":{"shape":"GeoSpatialDataRole"},
        "ColumnDescription":{"shape":"ColumnDescription"}
      }
    },
    "ColumnTagList":{
      "type":"list",
      "member":{"shape":"ColumnTag"},
      "max":16,
      "min":1
    },
    "ConcurrentUpdatingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CopySourceArn":{
      "type":"string",
      "pattern":"^arn:[-a-z0-9]*:quicksight:[-a-z0-9]*:[0-9]{12}:datasource/.+"
    },
    "CreateAccountCustomizationRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "AccountCustomization"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"querystring",
          "locationName":"namespace"
        },
        "AccountCustomization":{"shape":"AccountCustomization"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateAccountCustomizationResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "AwsAccountId":{"shape":"AwsAccountId"},
        "Namespace":{"shape":"Namespace"},
        "AccountCustomization":{"shape":"AccountCustomization"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateAnalysisRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "AnalysisId",
        "Name",
        "SourceEntity"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "AnalysisId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"AnalysisId"
        },
        "Name":{"shape":"AnalysisName"},
        "Parameters":{"shape":"Parameters"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "SourceEntity":{"shape":"AnalysisSourceEntity"},
        "ThemeArn":{"shape":"Arn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateAnalysisResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "AnalysisId":{"shape":"RestrictiveResourceId"},
        "CreationStatus":{"shape":"ResourceStatus"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CreateColumnsOperation":{
      "type":"structure",
      "required":["Columns"],
      "members":{
        "Columns":{"shape":"CalculatedColumnList"}
      }
    },
    "CreateDashboardRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DashboardId",
        "Name",
        "SourceEntity"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DashboardId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"DashboardId"
        },
        "Name":{"shape":"DashboardName"},
        "Parameters":{"shape":"Parameters"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "SourceEntity":{"shape":"DashboardSourceEntity"},
        "Tags":{"shape":"TagList"},
        "VersionDescription":{"shape":"VersionDescription"},
        "DashboardPublishOptions":{"shape":"DashboardPublishOptions"},
        "ThemeArn":{"shape":"Arn"}
      }
    },
    "CreateDashboardResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "VersionArn":{"shape":"Arn"},
        "DashboardId":{"shape":"RestrictiveResourceId"},
        "CreationStatus":{"shape":"ResourceStatus"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CreateDataSetRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId",
        "Name",
        "PhysicalTableMap",
        "ImportMode"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "PhysicalTableMap":{"shape":"PhysicalTableMap"},
        "LogicalTableMap":{"shape":"LogicalTableMap"},
        "ImportMode":{"shape":"DataSetImportMode"},
        "ColumnGroups":{"shape":"ColumnGroupList"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "RowLevelPermissionDataSet":{"shape":"RowLevelPermissionDataSet"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDataSetResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSetId":{"shape":"ResourceId"},
        "IngestionArn":{"shape":"Arn"},
        "IngestionId":{"shape":"ResourceId"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateDataSourceRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSourceId",
        "Name",
        "Type"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSourceId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "Type":{"shape":"DataSourceType"},
        "DataSourceParameters":{"shape":"DataSourceParameters"},
        "Credentials":{"shape":"DataSourceCredentials"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "VpcConnectionProperties":{"shape":"VpcConnectionProperties"},
        "SslProperties":{"shape":"SslProperties"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDataSourceResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSourceId":{"shape":"ResourceId"},
        "CreationStatus":{"shape":"ResourceStatus"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateGroupMembershipRequest":{
      "type":"structure",
      "required":[
        "MemberName",
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "MemberName":{
          "shape":"GroupMemberName",
          "location":"uri",
          "locationName":"MemberName"
        },
        "GroupName":{
          "shape":"GroupName",
          "location":"uri",
          "locationName":"GroupName"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "CreateGroupMembershipResponse":{
      "type":"structure",
      "members":{
        "GroupMember":{"shape":"GroupMember"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateGroupRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "GroupName":{"shape":"GroupName"},
        "Description":{"shape":"GroupDescription"},
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "CreateGroupResponse":{
      "type":"structure",
      "members":{
        "Group":{"shape":"Group"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateIAMPolicyAssignmentRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "AssignmentName",
        "AssignmentStatus",
        "Namespace"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "AssignmentStatus":{"shape":"AssignmentStatus"},
        "PolicyArn":{"shape":"Arn"},
        "Identities":{"shape":"IdentityMap"},
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "CreateIAMPolicyAssignmentResponse":{
      "type":"structure",
      "members":{
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "AssignmentId":{"shape":"String"},
        "AssignmentStatus":{"shape":"AssignmentStatus"},
        "PolicyArn":{"shape":"Arn"},
        "Identities":{"shape":"IdentityMap"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateIngestionRequest":{
      "type":"structure",
      "required":[
        "DataSetId",
        "IngestionId",
        "AwsAccountId"
      ],
      "members":{
        "DataSetId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DataSetId"
        },
        "IngestionId":{
          "shape":"IngestionId",
          "location":"uri",
          "locationName":"IngestionId"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        }
      }
    },
    "CreateIngestionResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "IngestionId":{"shape":"IngestionId"},
        "IngestionStatus":{"shape":"IngestionStatus"},
        "RequestId":{"shape":"string"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateNamespaceRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "Namespace",
        "IdentityStore"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{"shape":"Namespace"},
        "IdentityStore":{"shape":"IdentityStore"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateNamespaceResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "Name":{"shape":"Namespace"},
        "CapacityRegion":{"shape":"String"},
        "CreationStatus":{"shape":"NamespaceStatus"},
        "IdentityStore":{"shape":"IdentityStore"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateTemplateAliasRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId",
        "AliasName",
        "TemplateVersionNumber"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        },
        "AliasName":{
          "shape":"AliasName",
          "location":"uri",
          "locationName":"AliasName"
        },
        "TemplateVersionNumber":{"shape":"VersionNumber"}
      }
    },
    "CreateTemplateAliasResponse":{
      "type":"structure",
      "members":{
        "TemplateAlias":{"shape":"TemplateAlias"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CreateTemplateRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId",
        "SourceEntity"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        },
        "Name":{"shape":"TemplateName"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "SourceEntity":{"shape":"TemplateSourceEntity"},
        "Tags":{"shape":"TagList"},
        "VersionDescription":{"shape":"VersionDescription"}
      }
    },
    "CreateTemplateResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "VersionArn":{"shape":"Arn"},
        "TemplateId":{"shape":"RestrictiveResourceId"},
        "CreationStatus":{"shape":"ResourceStatus"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CreateThemeAliasRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "ThemeId",
        "AliasName",
        "ThemeVersionNumber"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "ThemeId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"ThemeId"
        },
        "AliasName":{
          "shape":"AliasName",
          "location":"uri",
          "locationName":"AliasName"
        },
        "ThemeVersionNumber":{"shape":"VersionNumber"}
      }
    },
    "CreateThemeAliasResponse":{
      "type":"structure",
      "members":{
        "ThemeAlias":{"shape":"ThemeAlias"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CreateThemeRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "ThemeId",
        "Name",
        "BaseThemeId",
        "Configuration"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "ThemeId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"ThemeId"
        },
        "Name":{"shape":"ThemeName"},
        "BaseThemeId":{"shape":"RestrictiveResourceId"},
        "VersionDescription":{"shape":"VersionDescription"},
        "Configuration":{"shape":"ThemeConfiguration"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateThemeResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "VersionArn":{"shape":"Arn"},
        "ThemeId":{"shape":"RestrictiveResourceId"},
        "CreationStatus":{"shape":"ResourceStatus"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CredentialPair":{
      "type":"structure",
      "required":[
        "Username",
        "Password"
      ],
      "members":{
        "Username":{"shape":"Username"},
        "Password":{"shape":"Password"},
        "AlternateDataSourceParameters":{"shape":"DataSourceParametersList"}
      }
    },
    "CustomSql":{
      "type":"structure",
      "required":[
        "DataSourceArn",
        "Name",
        "SqlQuery"
      ],
      "members":{
        "DataSourceArn":{"shape":"Arn"},
        "Name":{"shape":"CustomSqlName"},
        "SqlQuery":{"shape":"SqlQuery"},
        "Columns":{"shape":"InputColumnList"}
      }
    },
    "CustomSqlName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "Dashboard":{
      "type":"structure",
      "members":{
        "DashboardId":{"shape":"RestrictiveResourceId"},
        "Arn":{"shape":"Arn"},
        "Name":{"shape":"DashboardName"},
        "Version":{"shape":"DashboardVersion"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastPublishedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"}
      }
    },
    "DashboardBehavior":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "DashboardError":{
      "type":"structure",
      "members":{
        "Type":{"shape":"DashboardErrorType"},
        "Message":{"shape":"NonEmptyString"}
      }
    },
    "DashboardErrorList":{
      "type":"list",
      "member":{"shape":"DashboardError"},
      "min":1
    },
    "DashboardErrorType":{
      "type":"string",
      "enum":[
        "ACCESS_DENIED",
        "SOURCE_NOT_FOUND",
        "DATA_SET_NOT_FOUND",
        "INTERNAL_FAILURE",
        "PARAMETER_VALUE_INCOMPATIBLE",
        "PARAMETER_TYPE_INVALID",
        "PARAMETER_NOT_FOUND",
        "COLUMN_TYPE_MISMATCH",
        "COLUMN_GEOGRAPHIC_ROLE_MISMATCH",
        "COLUMN_REPLACEMENT_MISSING"
      ]
    },
    "DashboardFilterAttribute":{
      "type":"string",
      "enum":["QUICKSIGHT_USER"]
    },
    "DashboardName":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "DashboardPublishOptions":{
      "type":"structure",
      "members":{
        "AdHocFilteringOption":{"shape":"AdHocFilteringOption"},
        "ExportToCSVOption":{"shape":"ExportToCSVOption"},
        "SheetControlsOption":{"shape":"SheetControlsOption"}
      }
    },
    "DashboardSearchFilter":{
      "type":"structure",
      "required":["Operator"],
      "members":{
        "Operator":{"shape":"FilterOperator"},
        "Name":{"shape":"DashboardFilterAttribute"},
        "Value":{"shape":"String"}
      }
    },
    "DashboardSearchFilterList":{
      "type":"list",
      "member":{"shape":"DashboardSearchFilter"},
      "max":1
    },
    "DashboardSourceEntity":{
      "type":"structure",
      "members":{
        "SourceTemplate":{"shape":"DashboardSourceTemplate"}
      }
    },
    "DashboardSourceTemplate":{
      "type":"structure",
      "required":[
        "DataSetReferences",
        "Arn"
      ],
      "members":{
        "DataSetReferences":{"shape":"DataSetReferenceList"},
        "Arn":{"shape":"Arn"}
      }
    },
    "DashboardSummary":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DashboardId":{"shape":"RestrictiveResourceId"},
        "Name":{"shape":"DashboardName"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "PublishedVersionNumber":{"shape":"VersionNumber"},
        "LastPublishedTime":{"shape":"Timestamp"}
      }
    },
    "DashboardSummaryList":{
      "type":"list",
      "member":{"shape":"DashboardSummary"},
      "max":100
    },
    "DashboardUIState":{
      "type":"string",
      "enum":[
        "EXPANDED",
        "COLLAPSED"
      ]
    },
    "DashboardVersion":{
      "type":"structure",
      "members":{
        "CreatedTime":{"shape":"Timestamp"},
        "Errors":{"shape":"DashboardErrorList"},
        "VersionNumber":{"shape":"VersionNumber"},
        "Status":{"shape":"ResourceStatus"},
        "Arn":{"shape":"Arn"},
        "SourceEntityArn":{"shape":"Arn"},
        "DataSetArns":{"shape":"DataSetArnsList"},
        "Description":{"shape":"VersionDescription"},
        "ThemeArn":{"shape":"Arn"},
        "Sheets":{"shape":"SheetList"}
      }
    },
    "DashboardVersionSummary":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "CreatedTime":{"shape":"Timestamp"},
        "VersionNumber":{"shape":"VersionNumber"},
        "Status":{"shape":"ResourceStatus"},
        "SourceEntityArn":{"shape":"Arn"},
        "Description":{"shape":"VersionDescription"}
      }
    },
    "DashboardVersionSummaryList":{
      "type":"list",
      "member":{"shape":"DashboardVersionSummary"},
      "max":100
    },
    "DataColorPalette":{
      "type":"structure",
      "members":{
        "Colors":{"shape":"ColorList"},
        "MinMaxGradient":{"shape":"ColorList"},
        "EmptyFillColor":{"shape":"HexColor"}
      }
    },
    "DataSet":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSetId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "PhysicalTableMap":{"shape":"PhysicalTableMap"},
        "LogicalTableMap":{"shape":"LogicalTableMap"},
        "OutputColumns":{"shape":"OutputColumnList"},
        "ImportMode":{"shape":"DataSetImportMode"},
        "ConsumedSpiceCapacityInBytes":{"shape":"Long"},
        "ColumnGroups":{"shape":"ColumnGroupList"},
        "RowLevelPermissionDataSet":{"shape":"RowLevelPermissionDataSet"}
      }
    },
    "DataSetArnsList":{
      "type":"list",
      "member":{"shape":"Arn"},
      "max":100
    },
    "DataSetConfiguration":{
      "type":"structure",
      "members":{
        "Placeholder":{"shape":"String"},
        "DataSetSchema":{"shape":"DataSetSchema"},
        "ColumnGroupSchemaList":{"shape":"ColumnGroupSchemaList"}
      }
    },
    "DataSetConfigurationList":{
      "type":"list",
      "member":{"shape":"DataSetConfiguration"},
      "max":30
    },
    "DataSetImportMode":{
      "type":"string",
      "enum":[
        "SPICE",
        "DIRECT_QUERY"
      ]
    },
    "DataSetName":{
      "type":"string",
      "max":128,
      "min":1
    },
    "DataSetReference":{
      "type":"structure",
      "required":[
        "DataSetPlaceholder",
        "DataSetArn"
      ],
      "members":{
        "DataSetPlaceholder":{"shape":"NonEmptyString"},
        "DataSetArn":{"shape":"Arn"}
      }
    },
    "DataSetReferenceList":{
      "type":"list",
      "member":{"shape":"DataSetReference"},
      "min":1
    },
    "DataSetSchema":{
      "type":"structure",
      "members":{
        "ColumnSchemaList":{"shape":"ColumnSchemaList"}
      }
    },
    "DataSetSummary":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSetId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "ImportMode":{"shape":"DataSetImportMode"},
        "RowLevelPermissionDataSet":{"shape":"RowLevelPermissionDataSet"}
      }
    },
    "DataSetSummaryList":{
      "type":"list",
      "member":{"shape":"DataSetSummary"}
    },
    "DataSource":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSourceId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "Type":{"shape":"DataSourceType"},
        "Status":{"shape":"ResourceStatus"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "DataSourceParameters":{"shape":"DataSourceParameters"},
        "AlternateDataSourceParameters":{"shape":"DataSourceParametersList"},
        "VpcConnectionProperties":{"shape":"VpcConnectionProperties"},
        "SslProperties":{"shape":"SslProperties"},
        "ErrorInfo":{"shape":"DataSourceErrorInfo"}
      }
    },
    "DataSourceCredentials":{
      "type":"structure",
      "members":{
        "CredentialPair":{"shape":"CredentialPair"},
        "CopySourceArn":{"shape":"CopySourceArn"}
      },
      "sensitive":true
    },
    "DataSourceErrorInfo":{
      "type":"structure",
      "members":{
        "Type":{"shape":"DataSourceErrorInfoType"},
        "Message":{"shape":"String"}
      }
    },
    "DataSourceErrorInfoType":{
      "type":"string",
      "enum":[
        "ACCESS_DENIED",
        "COPY_SOURCE_NOT_FOUND",
        "TIMEOUT",
        "ENGINE_VERSION_NOT_SUPPORTED",
        "UNKNOWN_HOST",
        "GENERIC_SQL_FAILURE",
        "CONFLICT",
        "UNKNOWN"
      ]
    },
    "DataSourceList":{
      "type":"list",
      "member":{"shape":"DataSource"}
    },
    "DataSourceParameters":{
      "type":"structure",
      "members":{
        "AmazonElasticsearchParameters":{"shape":"AmazonElasticsearchParameters"},
        "AthenaParameters":{"shape":"AthenaParameters"},
        "AuroraParameters":{"shape":"AuroraParameters"},
        "AuroraPostgreSqlParameters":{"shape":"AuroraPostgreSqlParameters"},
        "AwsIotAnalyticsParameters":{"shape":"AwsIotAnalyticsParameters"},
        "JiraParameters":{"shape":"JiraParameters"},
        "MariaDbParameters":{"shape":"MariaDbParameters"},
        "MySqlParameters":{"shape":"MySqlParameters"},
        "PostgreSqlParameters":{"shape":"PostgreSqlParameters"},
        "PrestoParameters":{"shape":"PrestoParameters"},
        "RdsParameters":{"shape":"RdsParameters"},
        "RedshiftParameters":{"shape":"RedshiftParameters"},
        "S3Parameters":{"shape":"S3Parameters"},
        "ServiceNowParameters":{"shape":"ServiceNowParameters"},
        "SnowflakeParameters":{"shape":"SnowflakeParameters"},
        "SparkParameters":{"shape":"SparkParameters"},
        "SqlServerParameters":{"shape":"SqlServerParameters"},
        "TeradataParameters":{"shape":"TeradataParameters"},
        "TwitterParameters":{"shape":"TwitterParameters"}
      }
    },
    "DataSourceParametersList":{
      "type":"list",
      "member":{"shape":"DataSourceParameters"},
      "max":50,
      "min":1
    },
    "DataSourceType":{
      "type":"string",
      "enum":[
        "ADOBE_ANALYTICS",
        "AMAZON_ELASTICSEARCH",
        "ATHENA",
        "AURORA",
        "AURORA_POSTGRESQL",
        "AWS_IOT_ANALYTICS",
        "GITHUB",
        "JIRA",
        "MARIADB",
        "MYSQL",
        "POSTGRESQL",
        "PRESTO",
        "REDSHIFT",
        "S3",
        "SALESFORCE",
        "SERVICENOW",
        "SNOWFLAKE",
        "SPARK",
        "SQLSERVER",
        "TERADATA",
        "TWITTER",
        "TIMESTREAM"
      ]
    },
    "Database":{
      "type":"string",
      "max":128,
      "min":1
    },
    "DateTimeParameter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Values":{"shape":"TimestampList"}
      }
    },
    "DateTimeParameterList":{
      "type":"list",
      "member":{"shape":"DateTimeParameter"},
      "max":100
    },
    "DecimalParameter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Values":{"shape":"DoubleList"}
      }
    },
    "DecimalParameterList":{
      "type":"list",
      "member":{"shape":"DecimalParameter"},
      "max":100
    },
    "DeleteAccountCustomizationRequest":{
      "type":"structure",
      "required":["AwsAccountId"],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
[...]
