---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table48tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:8NolwO3CqPvWHSBowfpOE/CNH4dx5FQBidfETVCnzPQ=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:57 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_03952a3a-21e1-4b1f-b40f-f6fdbf53ad7b\r\nContent-Type: multipart/mixed;
      boundary=changeset_80e82a4a-4b45-4d24-8002-6bb81d607742\r\n\r\n\r\n--changeset_80e82a4a-4b45-4d24-8002-6bb81d607742\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_80e82a4a-4b45-4d24-8002-6bb81d607742\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nDELETE https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nIf-Match: *\r\nPrefer: return-no-content\r\n\r\n\r\n--changeset_80e82a4a-4b45-4d24-8002-6bb81d607742--\r\n\r\n--batch_03952a3a-21e1-4b1f-b40f-f6fdbf53ad7b--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:UOl/IivuqBGGCp6tOZ/wg2vIxHDXHecj1iZR3tT9cSg=
      Content-Type:
      - multipart/mixed; boundary=batch_03952a3a-21e1-4b1f-b40f-f6fdbf53ad7b
      X-Ms-Date:
      - Tue, 13 Apr 2021 15:57:57 GMT
      X-Ms-Version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_2c8f9985-f8b5-4d64-b2d2-b98a7f3b64ef\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_ad55ce80-4352-4a96-a451-ea97b6ae6ccf\r\n\r\n--changesetresponse_ad55ce80-4352-4a96-a451-ea97b6ae6ccf\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 400 Bad
      Request\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
      3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"InvalidDuplicateRow\",\"message\":{\"lang\":\"en-US\",\"value\":\"1:The
      batch request contains multiple changes with same row key. An entity can appear
      only once in a batch request.\\nRequestId:21520ab9-6002-0019-5e7d-301f56000000\\nTime:2021-04-13T15:57:57.2109830Z\"}}}\r\n--changesetresponse_ad55ce80-4352-4a96-a451-ea97b6ae6ccf--\r\n--batchresponse_2c8f9985-f8b5-4d64-b2d2-b98a7f3b64ef--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_2c8f9985-f8b5-4d64-b2d2-b98a7f3b64ef
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:VL8T5Lb3aGuKJOvHhF7KMLWb4g33DYi88ExYLs5NXWA=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:57 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table48tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
