---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table54tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:8NolwO3CqPvWHSBowfpOE/CNH4dx5FQBidfETVCnzPQ=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:57 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table54tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table54tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_646079c8-c155-4396-833c-9ef556ad28fa\r\nContent-Type: multipart/mixed;
      boundary=changeset_ea95571b-53fc-41f3-b2d0-40f8778c071b\r\n\r\n\r\n--changeset_ea95571b-53fc-41f3-b2d0-40f8778c071b\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table54tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_ea95571b-53fc-41f3-b2d0-40f8778c071b\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table54tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_ea95571b-53fc-41f3-b2d0-40f8778c071b--\r\n\r\n--batch_646079c8-c155-4396-833c-9ef556ad28fa--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:OqI3Bw6l+MOe2vwJ8BiIl1j+mZDTjzJphcPCbihm/ZA=
      Content-Type:
      - multipart/mixed; boundary=batch_646079c8-c155-4396-833c-9ef556ad28fa
      X-Ms-Date:
      - Tue, 13 Apr 2021 15:57:57 GMT
      X-Ms-Version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_e6ccdcb0-628b-4d74-8ea0-6a8a22d8cc3e\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_6e9f5be0-97fd-4b50-87af-0155cec5cd2f\r\n\r\n--changesetresponse_6e9f5be0-97fd-4b50-87af-0155cec5cd2f\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 400 Bad
      Request\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"InvalidDuplicateRow\",\"message\":{\"lang\":\"en-US\",\"value\":\"1:The
      batch request contains multiple changes with same row key. An entity can appear
      only once in a batch request.\\nRequestId:21520b09-6002-0019-287d-301f56000000\\nTime:2021-04-13T15:57:57.6102683Z\"}}}\r\n--changesetresponse_6e9f5be0-97fd-4b50-87af-0155cec5cd2f--\r\n--batchresponse_e6ccdcb0-628b-4d74-8ea0-6a8a22d8cc3e--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_e6ccdcb0-628b-4d74-8ea0-6a8a22d8cc3e
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:KiViTvqkhn4Mblq3GezMHjhCi29kFzJd2Xhvw1Un+w8=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:57 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table54tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
