{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://apigee.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Apigee",
  "description": "The Apigee API lets you programmatically manage Apigee Hybrid with a set of RESTful operations, including:\u003cul\u003e  \u003cli\u003eCreate, edit, and delete API proxies\u003c/li\u003e  \u003cli\u003eManage users\u003c/li\u003e  \u003cli\u003eDeploy and undeploy proxy revisions\u003c/li\u003e  \u003cli\u003eConfigure environments\u003c/li\u003e\u003c/ul\u003e\u003cp\u003eFor information on using the APIs described in this section, see \u003ca href=\"/hybrid/beta2/reference/apis\"\u003eGet started using the APIs\u003c/a\u003e.\u003c/p\u003e",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "apigee:v1",
  "kind": "discovery#restDescription",
  "name": "apigee",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "hybrid": {
      "resources": {
        "issuers": {
          "methods": {
            "list": {
              "description": "Lists hybrid services and its trusted issuers service account ids.\nThis api is authenticated and unauthorized(allow all the users) and used by\nruntime authn-authz service to query control plane's issuer service account\nids.",
              "flatPath": "v1/hybrid/issuers",
              "httpMethod": "GET",
              "id": "apigee.hybrid.issuers.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Must be of the form `hybrid/issuers`.",
                  "location": "path",
                  "pattern": "^hybrid/issuers$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "create": {
          "description": "Creates an Organization. Only Name and\nAnalytics Region will be used from the\nrequest body.",
          "flatPath": "v1/organizations",
          "httpMethod": "POST",
          "id": "apigee.organizations.create",
          "parameterOrder": [],
          "parameters": {
            "parent": {
              "description": "Required. The name of the project in which to associate the organization. Values are\nof the form `projects/\u003cproject\u003e`.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/organizations",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Gets an Organization.",
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "GET",
          "id": "apigee.organizations.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Organization resource name of the form:\n    `organizations/{organization_id}`",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSyncAuthorization": {
          "description": "Gets an Organization's.",
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "httpMethod": "POST",
          "id": "apigee.organizations.getSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Organization resource name of the form:\n    `organizations/{organization_id}`",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}:getSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "description": "Lists the Apigee organizations, and the related projects that a user has\npermissions for.\nThis call will be used by the Unified Experience in order to populate the\nlist of Apigee organizations in a dropdown that the user has access to.",
          "flatPath": "v1/organizations",
          "httpMethod": "GET",
          "id": "apigee.organizations.list",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "description": "Required. Must be of the form `organizations`.",
              "location": "path",
              "pattern": "^organizations$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+parent}",
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setSyncAuthorization": {
          "description": "Updates an Organization's.",
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "httpMethod": "POST",
          "id": "apigee.organizations.setSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Organization resource name of the form:\n    `organizations/{organization_id}`",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}:setSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "description": "Updates an Organization's properties. No other fields will\nbe updated.",
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "PUT",
          "id": "apigee.organizations.update",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Organization resource name of the form:\n    `organizations/{organization_id}`",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateOrganization": {
          "description": "Updates an Organization's properties. No other fields will\nbe updated.",
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "POST",
          "id": "apigee.organizations.updateOrganization",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Organization resource name of the form:\n    `organizations/{organization_id}`",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "apiproducts": {
          "methods": {
            "attributes": {
              "description": "Updates or creates API product attributes. This API **replaces** the\ncurrent list of attributes with the attributes specified in the request\nbody. In this way, you can update existing attributes, add new attributes,\nor delete existing attributes by omitting them from the request body.\n\nOAuth access tokens and Key Management Service (KMS) entities (apps,\ndevelopers, and API products) are cached for 180 seconds (current default).\nAny custom attributes associated with entities also get cached for at least\n180 seconds after entity is accessed during runtime.\nIn this case, the `ExpiresIn` element on the OAuthV2 policy won't be able\nto expire an access token in less than 180 seconds.",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
              "httpMethod": "POST",
              "id": "apigee.organizations.apiproducts.attributes",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "**Required.** API product name in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e/apiproducts/\u003cvar\u003eapi_product_name\u003c/var\u003e\u003c/pre\u003e",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}/attributes",
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "description": "Creates an API product in an organization.\nYou create API products after\nyou have proxied backend services using API proxies.\nAn API product is a\ncollection of API resources combined with quota settings and metadata that\nyou can use to deliver customized and productized API bundles to your\ndeveloper community. This metadata can include:\n\n- Scope\n- Environments\n- API proxies\n- Extensible profile\n\nAPI products enable you repackage APIs\non-the-fly, without having to do any additional coding or configuration.\nApigee recommends that you start with a simple API product including only\nrequired elements. You then provision credentials to apps to enable them to\nstart testing your APIs.\n\nAfter you have authentication and authorization\nworking against a simple API product, you can iterate to create finer\ngrained API products, defining different sets of API resources for each API\nproduct.\n\n\u003caside class=\"warning\"\u003e\u003cstrong\u003eWARNING:\u003c/strong\u003e\n\n- If you don't specify an API proxy in the request body, \u003cem\u003eany\u003c/em\u003e app\nassociated with the product can make calls to \u003cem\u003eany\u003c/em\u003e API in your\nentire organization.\n- If you don't specify an environment in the request body, the product\nallows access to all environments.\n\n\u003c/aside\u003e\n\nFor more information, see {{what_api_product}}",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "httpMethod": "POST",
              "id": "apigee.organizations.apiproducts.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent organization name under which the API product will\nbe created. Must be in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e\u003c/pre\u003e",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/apiproducts",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes an API product from an organization.\n\nDeleting an API product\ncauses app requests to the resource URIs defined in the API product to\nfail.\n\nEnsure that you create a new API product to serve existing apps, unless\nyour intention is to disable access to the resources defined in the API\nproduct.\n\nThe API product name required in the request URL is the internal name of\nthe product, not the display name. While they may be the same, it depends\non whether the API product was created via the UI or the API. View the list\nof API products to verify the internal name.",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "httpMethod": "DELETE",
              "id": "apigee.organizations.apiproducts.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. API product name in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e/apiproducts/\u003cvar\u003eapi_product_name\u003c/var\u003e\u003c/pre\u003e",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets configuration details for an API product.\n\nThe API product name required in the request URL is the internal name of\nthe product, not the display name. While they may be the same, it depends\non whether the API product was created via the UI or the API. View the list\nof API products to verify the internal name.",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "httpMethod": "GET",
              "id": "apigee.organizations.apiproducts.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "entity": {
                  "description": "The type of entity for which you want to get a count. Possible values are:\n\n- `apps`\n- `companies`\n- `developers`\n- `keys`",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "**Required.** API product name in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e/apiproducts/\u003cvar\u003eapi_product_name\u003c/var\u003e\u003c/pre\u003e",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "query": {
                  "description": "The type of query. Possible values are:\n\n- `count`: Gets an entity count\n- `list`: Gets a list of entities",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists all API product names for an organization.\nFilter the list by passing an `attributename` and `attibutevalue`.\n\nThe limit on the number of API products returned by the API is 1000. You\ncan paginate the list of API products returned using the `startKey` and\n`count` query parameters.",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "httpMethod": "GET",
              "id": "apigee.organizations.apiproducts.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "attributename": {
                  "description": "The name of the attribute to search.",
                  "location": "query",
                  "type": "string"
                },
                "attributevalue": {
                  "description": "The value of the attribute.",
                  "location": "query",
                  "type": "string"
                },
                "count": {
                  "description": "Enter the number of API products you want returned in the API call. The\nlimit is 1000.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "expand": {
                  "description": "Set to `true` to get expanded details about each API.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "description": "**Required.** The parent organization name in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e\u003c/pre\u003e",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "startKey": {
                  "description": "Gets a list of API products starting with a specific API product in the\nlist. For example, if you're returning 50 API products at a time (using the\n`count` query parameter), you can view products 50-99 by entering the name\nof the 50th API product in the first API (without using `startKey`).\nProduct name is case sensitive.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/apiproducts",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "update": {
              "description": "Updates an existing API product. You must include all required values,\nwhether or not you are updating them, as well as any optional values that\nyou are updating.\n\nThe API product name required in the request URL is the\ninternal name of the product, not the Display Name. While they may be the\nsame, it depends on whether the API product was created via UI or API. View\nthe list of API products to identify their internal names.",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "httpMethod": "PUT",
              "id": "apigee.organizations.apiproducts.update",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "**Required.** API product name in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e/apiproducts/\u003cvar\u003eapi_product_name\u003c/var\u003e\u003c/pre\u003e",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "attributes": {
              "methods": {
                "delete": {
                  "description": "Deletes an API product attribute.",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.apiproducts.attributes.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "**Required.** API product name in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e/apiproducts/\u003cvar\u003eapi_product_name\u003c/var\u003e/attributes/\u003cvar\u003eattribute_name\u003c/var\u003e\u003c/pre\u003e",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Returns the value of an API product attribute.",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apiproducts.attributes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "**Required.** API product name in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e/apiproducts/\u003cvar\u003eapi_product_name\u003c/var\u003e/attributes/\u003cvar\u003eattribute_name\u003c/var\u003e\u003c/pre\u003e",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Returns a list of all API product attributes.",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apiproducts.attributes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent organization name. Must be in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e/apiproducts/\u003cvar\u003eapi_product_name\u003c/var\u003e\u003c/pre\u003e",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/attributes",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateApiProductAttribute": {
                  "description": "Updates the value of an API product attribute. Limitations are:\n\nOAuth access tokens and Key Management Service (KMS) entities (apps,\ndevelopers, and API products) are cached for 180 seconds (current default).\nAny custom attributes associated with entities also get cached for at least\n180 seconds after entity is accessed during runtime.\nIn this case, the `ExpiresIn` element on the OAuthV2 policy won't be able\nto expire an access token in less than 180 seconds.",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.apiproducts.attributes.updateApiProductAttribute",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "**Required.** API product name in the following form:\n\u003cpre\u003eorganizations/\u003cvar\u003eorganization_ID\u003c/var\u003e/apiproducts/\u003cvar\u003eapi_product_name\u003c/var\u003e\u003c/pre\u003e",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "apis": {
          "methods": {
            "create": {
              "description": "Creates an API proxy.\nThe API proxy created will not be accessible at runtime until it is\ndeployed to an environment.\n\nCreate a new API proxy by setting the `name` query parameter to the\nname of the API proxy.\n\nImport an API proxy configuration bundle stored in zip format\non your local machine to your organization by doing the following:\n\n* Set the `name` query parameter to the name of the API proxy.\n* Set the `action` query parameter to `import`.\n* Set the `Content-Type` header to `multipart/form-data`.\n* Pass as a file the name of API proxy\n  configuration bundle stored in zip format on your local machine.\n\n**Note**: To validate the API proxy configuration bundle only\n  without importing it, set the `action` query\n  parameter to `validate`.\n\nWhen importing an API proxy configuration bundle, if the API proxy\ndoes not exist, it will be created.\nIf the API proxy exists, then a new revision is created. Invalid API\nproxy configurations are rejected, and a list of validation errors is\nreturned to the client.",
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "httpMethod": "POST",
              "id": "apigee.organizations.apis.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "action": {
                  "description": "Action to perform when importing an API proxy configuration bundle. Set\nthis parameter to one of the following values:\n\n* `import` to import the API proxy configuration bundle.\n* `validate` to validate the API proxy configuration bundle without\n   importing it.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Name of the API proxy. Restrict the characters used to: A-Za-z0-9._-",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the organization in the following format:\n  `organizations/{organization_id}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "validate": {
                  "description": "Ignored. All uploads are validated regardless of the value of this\nfield. Maintained for compatibility with Apigee Edge API.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1/{+parent}/apis",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes an API proxy and all associated endpoints, policies, resources, and\nrevisions. The API proxy must be undeployed before you can delete it.",
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "httpMethod": "DELETE",
              "id": "apigee.organizations.apis.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the API proxy in the following format:\n  `organizations/{organization_id}/apis/{api_id}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets an API proxy including a list of existing revisions.",
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "httpMethod": "GET",
              "id": "apigee.organizations.apis.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the API proxy in the following format:\n  `organizations/{organization_id}/apis/{api_id}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists the names of all API proxies in an organization. The names returned\ncorrespond to the names defined in the configuration files for each API\nproxy.",
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "httpMethod": "GET",
              "id": "apigee.organizations.apis.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "includeMetaData": {
                  "description": "Flag that specifies whether to include API proxy metadata in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "includeRevisions": {
                  "description": "Flag that specifies whether to include a list of revisions in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "description": "Required. Name of the organization in the following format:\n  `organizations/{organization_id}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/apis",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProxiesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "description": "Lists all deployments of an API proxy.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/deployments",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apis.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API proxy for which to return deployment information in the\nfollowing format:\n `organizations/{org}/apis/{api}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/deployments",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "keyvaluemaps": {
              "methods": {
                "create": {
                  "description": "Creates a key value map in an api proxy.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.apis.keyvaluemaps.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the environment in which to create the key value map.\nMust be of the form\n`organizations/{organization}/apis/{api}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/keyvaluemaps",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Delete a key value map in an api proxy.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.apis.keyvaluemaps.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the key value map.\nMust be of the form\n`organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List key value maps in an api proxy.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apis.keyvaluemaps.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the environment in which to list key value maps.\nMust be of the form\n`organizations/{organization}/apis/{api}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/keyvaluemaps",
                  "response": {
                    "items": {
                      "type": "any"
                    },
                    "type": "array"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "revisions": {
              "methods": {
                "delete": {
                  "description": "Deletes an API proxy revision and all policies, resources, endpoints,\nand revisions associated with it. The API proxy revision must be undeployed\nbefore you can delete it.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.apis.revisions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. API proxy revision in the following format:\n  `organizations/{organization_id}/apis/{api_id}/revisions/{revision_id}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets an API proxy revision.\n\nTo download the API proxy configuration bundle for the specified revision\nas a zip file, do the following:\n\n * Set the `format` query parameter to `bundle`.\n * Set the `Accept` header to `application/zip`.\n\nIf you are using curl, specify `-o filename.zip` to save the output to a\nfile; otherwise, it displays to `stdout`. Then, develop the API proxy\nconfiguration locally and upload the updated API proxy configuration\nrevision, as described in\n[updateApiProxyRevision](updateApiProxyRevision).",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apis.revisions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "format": {
                      "description": "Format used when downloading the API proxy configuration revision.\nSet to `bundle` to download the API proxy configuration revision as a zip\nfile.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. API proxy revision in the following format:\n  `organizations/{organization_id}/apis/{api_id}/revisions/{revision_id}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists all revisions for an API proxy.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apis.revisions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API proxy in the following format:\n  `organizations/{organization_id}/apis/{api_id}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/revisions",
                  "response": {
                    "items": {
                      "type": "any"
                    },
                    "type": "array"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateApiProxyRevision": {
                  "description": "Updates an existing API proxy revision by uploading the API proxy\nconfiguration bundle as a zip file from your local machine.\n\nYou can update only API proxy revisions\nthat have never been deployed. After deployment, an API proxy revision\nbecomes immutable, even if it is undeployed.\n\nSet the `Content-Type` header to either\n`multipart/form-data` or `application/octet-stream`.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.apis.revisions.updateApiProxyRevision",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. API proxy revision to update in the following format:\n  `organizations/{organization_id}/apis/{api_id}/revisions/{revision_id}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "validate": {
                      "description": "Ignored. All uploads are validated regardless of the value of this field.\nMaintained for compatibility with Apigee Edge API.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "description": "Lists all deployments of an API proxy revision and actual state reported by\nruntime pods.",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}/deployments",
                      "httpMethod": "GET",
                      "id": "apigee.organizations.apis.revisions.deployments.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the API proxy revision for which to return deployment information\nin the following format:\n  `organizations/{org}/apis/{api}/revisions/{rev}`.",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/deployments",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "get": {
              "description": "Gets the app profile for the specified app ID.",
              "flatPath": "v1/organizations/{organizationsId}/apps/{appsId}",
              "httpMethod": "GET",
              "id": "apigee.organizations.apps.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. App ID in the following format:\n `organizations/{org}/apps/{app}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apps/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1App"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists IDs of apps within an organization that have the specified app status\n(approved or revoked) or are of the specified app type\n(developer or company).",
              "flatPath": "v1/organizations/{organizationsId}/apps",
              "httpMethod": "GET",
              "id": "apigee.organizations.apps.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "apiProduct": {
                  "description": "API product.",
                  "location": "query",
                  "type": "string"
                },
                "apptype": {
                  "description": "Optional. Filter by the type of the app. Valid values are `company` or\n`developer`. Defaults to `developer`.",
                  "location": "query",
                  "type": "string"
                },
                "expand": {
                  "description": "Optional. Flag that specifies whether to return an expanded list of\napps for the organization. Defaults to `false`.",
                  "location": "query",
                  "type": "boolean"
                },
                "ids": {
                  "description": "Optional. Comma-separated list of app IDs on which to filter.",
                  "location": "query",
                  "type": "string"
                },
                "includeCred": {
                  "description": "Optional. Flag that specifies whether to include credentials in the\nresponse.",
                  "location": "query",
                  "type": "boolean"
                },
                "keyStatus": {
                  "description": "Optional. Key status of the app. Valid values include `approved` or\n`revoked`. Defaults to `approved`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Resource path of the parent in the following format:\n `organizations/{org}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "rows": {
                  "description": "Optional. Maximum number of app IDs to return. Defaults to 10000.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "startKey": {
                  "description": "Returns the list of apps starting from the specified app ID.",
                  "location": "query",
                  "type": "string"
                },
                "status": {
                  "description": "Optional. Filter by the status of the app. Valid values are `approved`\nor `revoked`. Defaults to `approved`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/apps",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAppsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "companies": {
          "methods": {
            "create": {
              "description": "Creates an app for a company. Note that you must first create a profile\nfor the company in your organization before you can register apps that\nare associated with the company.",
              "flatPath": "v1/organizations/{organizationsId}/companies",
              "httpMethod": "POST",
              "id": "apigee.organizations.companies.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Name of org that the company will be created in\n`{parent=organizations/*}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/companies",
              "request": {
                "$ref": "GoogleCloudApigeeV1Company"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Company"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes an existing company.",
              "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}",
              "httpMethod": "DELETE",
              "id": "apigee.organizations.companies.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The company resource name\n`organizations/{org}/companies/{company}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/companies/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Company"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "List details for a company.",
              "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}",
              "httpMethod": "GET",
              "id": "apigee.organizations.companies.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The company resource name\n`organizations/{org}/companies/{company}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/companies/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Company"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "List all companies in an organization, and optionally returns an\nexpanded list of companies, displaying a full profile for each company in\nthe organization.",
              "flatPath": "v1/organizations/{organizationsId}/companies",
              "httpMethod": "GET",
              "id": "apigee.organizations.companies.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "count": {
                  "description": "Limits the list to the number you specify. The limit is 100.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "expand": {
                  "description": "Set expand to true to return a full profile for each company.",
                  "location": "query",
                  "type": "boolean"
                },
                "includeDevelopers": {
                  "description": "Optional. include developers in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "description": "The parent organization name\n`organizations/{org}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "startKey": {
                  "description": "To filter the keys that are returned, enter the email of a developer\nthat the list will start with.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/companies",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListCompaniesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "update": {
              "description": "Updates an existing company.\nSend the complete company record as a payload with any changes you want to\nmake. Note that to change the status of the Company you use Set the Status\nof a Company. The attributes in the sample payload below apply to company\nconfiguration in monetization. For non-monetized companies, you need send\nonly displayName.",
              "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}",
              "httpMethod": "PUT",
              "id": "apigee.organizations.companies.update",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "action": {
                  "description": "Specify the status as active or inactive.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Name of the company to be updated.\n`{name=organizations/*/companies/*}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/companies/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudApigeeV1Company"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Company"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "apps": {
              "methods": {
                "create": {
                  "description": "Creates an app for a company.",
                  "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.companies.apps.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Resource path of the parent: `organizations/{org}/companies/{company_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/companies/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/apps",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CompanyApp"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CompanyApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a company app.",
                  "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}",
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.companies.apps.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "name of the app resource:\n`organizations/{org}/companies/{company_name}/apps/{app_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CompanyApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the profile of a specific company app.",
                  "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.companies.apps.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "name of the app resource:\n`organizations/{org}/companies/{company_name}/apps/{app_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CompanyApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List company apps in an organization. You can optionally expand the\nresponse to include the profile for each app.",
                  "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.companies.apps.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "count": {
                      "description": "Limits the list to the number you specify. The limit is 100.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    },
                    "expand": {
                      "description": "Set expand to true to return a full profile",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "The name of a company resource:\n`organizations/{org}/companies/{company_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/companies/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "startKey": {
                      "description": "Lets you return a list of app starting with a specific app name in the\nlist.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/apps",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListCompanyAppsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "update": {
                  "description": "Updates an existing company app.",
                  "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}",
                  "httpMethod": "PUT",
                  "id": "apigee.organizations.companies.apps.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Resource path of the app:\n`organizations/{org}/companies/{company_name}/apps/{app_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CompanyApp"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CompanyApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "keys": {
                  "methods": {
                    "delete": {
                      "description": "Deletes a key for a company app and removes all API products associated\nwith the app. The key can no longer be used to access any APIs.",
                      "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}/keys/{keysId}",
                      "httpMethod": "DELETE",
                      "id": "apigee.organizations.companies.apps.keys.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Resource name of a company app key\n`organizations/{org}/companies/{company}/apps/{app}/keys/{key}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1CompanyAppKey"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "description": "Gets information about the consumer key issued to a specific company app.",
                      "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}/keys/{keysId}",
                      "httpMethod": "GET",
                      "id": "apigee.organizations.companies.apps.keys.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Resource name of a company app key\n`organizations/{org}/companies/{company}/apps/{app}/keys/{key}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1CompanyAppKey"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "updateCompanyAppKey": {
                      "description": "Updates an existing company app key to add additional API products or\nattributes. Note that only a single API product can be resolved per app\nkey at runtime. API products are resolved by name, in alphabetical order.\nThe first API product found in the list will be returned.",
                      "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}/keys/{keysId}",
                      "httpMethod": "POST",
                      "id": "apigee.organizations.companies.apps.keys.updateCompanyAppKey",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "action": {
                          "description": "Set action to approve or revoke.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Resource name of a company app key\n`organizations/{org}/companies/{company}/apps/{app}/keys/{key}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1CompanyAppKey"
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1CompanyAppKey"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "description": "Lists all deployments of API proxies or shared flows.",
              "flatPath": "v1/organizations/{organizationsId}/deployments",
              "httpMethod": "GET",
              "id": "apigee.organizations.deployments.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization for which to return deployment information in the\nfollowing format:\n `organizations/{org}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "sharedFlows": {
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments.\nSet to `true` to return shared flow deployments; set to `false`\nto return API proxy deployments. Defaults to `false`.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1/{+parent}/deployments",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "developers": {
          "methods": {
            "attributes": {
              "description": "Updates or creates developer attributes.This API replaces the current\nlist of attributes with the attributes specified in the request body.\nThis lets you update existing attributes, add new attributes, or delete\nexisting attributes by omitting them from the request body. the attribute\nlimit is 18. Core Persistence Services caching minimum: OAuth access\ntokens and Key Management Service (KMS) entities (Apps, Developers,\nAPI Products) are cached for 180 seconds.\nAny custom attributes associated with entities also get cached for at least\n180 seconds after entity is accessed during runtime. This also means the\nExpiresIn element on the OAuthV2 policy won't be able to expire an access\ntoken in less than 180 seconds.",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
              "httpMethod": "POST",
              "id": "apigee.organizations.developers.attributes",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent developer for which attributes are being updated.\nMust be of the form `organizations/{org}/developers/{developer}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/attributes",
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "description": "Creates a profile for a developer in an organization. Once created, the\ndeveloper can register an app and receive an API key. The developer is\nalways created with a status of active. To set the status explicitly,\nuse SetDeveloperStatus",
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "httpMethod": "POST",
              "id": "apigee.organizations.developers.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent organization name under which the Developer will\nbe created. Must be of the form `organizations/{org}`.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/developers",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a developer from an organization. All apps and API keys associated\nwith the developer are also removed from the organization. All times in the\nresponse are UNIX times.",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "DELETE",
              "id": "apigee.organizations.developers.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the Developer to be deleted.\nMust be of the form `organizations/{org}/developers/{developer}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Returns the profile for a developer by email address or ID. All time values\nare UNIX time values. The profile includes the developer's email address,\nID, name, and other information. Apigee recommends using the developer\nemail in the API call. Developer ID is generated internally and is not\nguaranteed to stay the same over time. For example, Apigee could change\nthe format or length of this variable.",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "GET",
              "id": "apigee.organizations.developers.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "action": {
                  "description": "Status to set active/inactive",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The name of the Developer to be get.\nMust be of the form `organizations/{org}/developers/{developer}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists all developers in an organization by email address. This call does\nnot list any company developers who are a part of the designated\norganization.",
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "httpMethod": "GET",
              "id": "apigee.organizations.developers.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "count": {
                  "description": "Enter the number of developers you want returned in the API call. The\nlimit is 1000.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "expand": {
                  "description": "For Verbose response",
                  "location": "query",
                  "type": "boolean"
                },
                "ids": {
                  "description": "Optional. Filtery by id, accepts list of ids with comma seperation.",
                  "location": "query",
                  "type": "string"
                },
                "includeCompany": {
                  "description": "Optional. Filter to incude company details in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "description": "Required. The parent organization name.\nMust be of the form `organizations/{org}`.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "startKey": {
                  "description": "Lets you return a list of developers starting with a specific developer\nin the list.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/developers",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListOfDevelopersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "setDeveloperStatus": {
              "description": "Sets a developer's status to active or inactive for a specific organization\nRun this API for each organization where you want to change the developer's\nstatus. By default, the status of a developer is set to active. Admins with\nproper permissions (such as Organization Administrator) can change a\ndeveloper's status using this API call. If you set a developer's status to\ninactive, the API keys assigned to the developer's apps are no longer valid\neven though keys continue to show a status of \"Approved\" (in strikethrough\ntext in the management UI). Inactive developers, however, can still log\ninto the developer portal and create apps. The new keys that get created\njust won't work.Apigee recommends using the developer email in the API\ncall. Developer ID is generated internally and is not guaranteed to stay\nthe same over time. For example, Apigee could change the format or length\nof this variable. The HTTP status code for success is: 204 No Content.",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "POST",
              "id": "apigee.organizations.developers.setDeveloperStatus",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "action": {
                  "description": "Status to set active/inactive",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The name of the Developer to be deleted.\nMust be of the form `organizations/{org}/developers/{developer}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "update": {
              "description": "Update an existing developer profile. To add new values or update existing\nvalues, submit the new or updated portion of the developer profile along\nwith the rest of the developer profile, even if no values are changing.\nTo delete attributes from a developer profile, submit the entire profile\nwithout the attributes that you want to delete. Apigee recommends using\nthe developer email in the API call. Developer ID is generated internally\nand is not guaranteed to stay the same over time. For example, Apigee could\nchange the format or length of this variable. the custom attribute limit\nis 18. Core Persistence Services caching minimum: OAuth access tokens and\nKey Management Service (KMS) entities (Apps, Developers, API Products) are\ncached for 180 seconds (current default). Any custom attributes associated\nwith entities also get cached for at least 180 seconds after entity is\naccessed during runtime. This also means the ExpiresIn element on the\nOAuthV2 policy won't be able to expire an access token in less than 180\nseconds.",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "PUT",
              "id": "apigee.organizations.developers.update",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the Developer to be updated.\nMust be of the form `organizations/{org}/developers/{developer}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "apps": {
              "methods": {
                "attributes": {
                  "description": "Updates or creates app attributes. This API replaces the current list of\nattributes with the attributes specified in the request body. This lets you\nupdate existing attributes, add new attributes, or delete existing\nattributes by omitting them from the request body.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.developers.apps.attributes",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Developer App Attribute name of the form:\n  `organizations/{organization_id}/developers/{developer_id}/apps/{app_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}/attributes",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates an app associated with a developer, associates the app with an API\nproduct, and auto-generates an API key for the app to use in calls to API\nproxies inside the API product. The name is the unique ID of the app that\nyou can use in management API calls. The DisplayName (set with an\nattribute) is what appears in the management UI. If you don't provide a\nDisplayName, the name is used. The keyExpiresIn property sets the\nexpiration on the API key. If you don't set this, or set the value to -1,\nthey API key never expires.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.developers.apps.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent organization name under which the Developer App will\nbe created. Must be of the form:\n   `organizations/{organization_id}/developers/{developer_id}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/apps",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a developer app. This API returns the developer app that was\ndeleted.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.developers.apps.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Developer App name of the form:\n  `organizations/{organization_id}/developers/{developer_id}/apps/{app_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "generateKeyPairOrUpdateDeveloperAppStatus": {
                  "description": "(2) Create new developer KeyPairs\nGenerates a new consumer key and consumer secret for the named developer\napp. Rather than replacing an existing key, this API call generates a new\nkey. For example, if you're using API key rotation, you can generate new\nkeys whose expiration overlaps keys that will be out of rotation when they\nexpire. You might also generate a new key/secret if the security of the\noriginal key/secret is compromised. After using this API, multiple key\npairs will be associated with a single app. Each key pair has an\nindependent status (revoked or approved) and an independent expiry time.\nAny non-expired, approved key can be used in an API call. The keyExpiresIn\nvalue is in milliseconds. A value of -1 means the key/secret pair never\nexpire.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.developers.apps.generateKeyPairOrUpdateDeveloperAppStatus",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "action": {
                      "description": "Set the action to approve or revoke.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Developer App name of the form:\n  `organizations/{organization_id}/developers/{developer_id}/apps/{app_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Get the profile of a specific developer app. All times in the response are\nUNIX times. Note that the response contains a top-level attribute named\naccessType that is no longer used by Apigee.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.developers.apps.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "entity": {
                      "description": "Entity.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Developer App name of the form:\n  `organizations/{organization_id}/developers/{developer_id}/apps/{app_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "query": {
                      "description": "Query.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists all apps created by a developer in an organization, and optionally\nprovides an expanded view of the apps. All time values in the response are\nUNIX times. You can specify either the developer's email address or Edge\nID.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.developers.apps.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "count": {
                      "description": "Limits the list to the number you specify.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    },
                    "expand": {
                      "description": "Optional. Set to true to expand the results. This query parameter does not\nwork if you use the count or startKey query parameters.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "Required. The parent organization name. Must be of the form:\n  `organizations/{organization_id}/developers/{developer_id}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "shallowExpand": {
                      "description": "Optional. Set to true to expand the results in shallow.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "startKey": {
                      "description": "To filter the keys that are returned, enter the name of a company app that\nthe list will start with.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/apps",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "update": {
                  "description": "Updates a developer app. You can also add an app to an API product with\nthis call, which automatically generates an API key for the app to use when\ncalling APIs in the product. (If you want to use an existing API key for\nanother API product as well, see Add API Product to Key.) Be sure to\ninclude all existing attributes in the request body. Note that you cannot\nupdate the scopes associated with the app by using this API. Instead, use\n\"Update the Scope of an App\". The app name is the primary key used by Edge\nto identify the app. Therefore, you cannot change the app name after\ncreating it.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "httpMethod": "PUT",
                  "id": "apigee.organizations.developers.apps.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Developer App name of the form:\n  `organizations/{organization_id}/developers/{developer_id}/apps/{app_name}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
[...]
