---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:uWYQOood5qLKK/KddxvLA9wt0d37uyoKQSxE0PQf/7A=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:10 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-159storagequeuesuitetestgetpermissionsalternatetruenotime
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:00Z</Start><Expiry>2051-12-20T21:55:00Z</Expiry><Permission>ru</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:b/NKUbITlMKRYFFWyCuj5hZ4jjWYa4uiAP2TMdD3Ua4=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:10 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-159storagequeuesuitetestgetpermissionsalternatetruenotime?comp=acl
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
[...]
