---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:nw2BNblfgEcqwXJ20lMqrcW20HMRo79DhzkFM25HTEk=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:10 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:00Z</Start><Expiry>2051-12-20T21:55:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:6PPCwdSNLQWa9H8rlgXNYbDK/1jwVKXxoNMK7ApYq+s=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:10 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout?comp=acl
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:0VXgWN8R0O6IiNNoIYpokNxyZt33+GQrZYy5KryuuRc=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:10 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout?comp=acl&timeout=30
    method: GET
  response:
    body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E[...]
[...]
