---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:LSzLOqSNC284OfeGGMP+vOXAdriXz1yGBOf0VQWvxUA=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:10 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-161storagequeuesuitetestsetpermissionsalternatetruewithti
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2051-12-20T21:55:06Z</Expiry><Permission>ru</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:M2JsqJFXrUzGiL4gQdwWNXarr36FnjNHdA4FSsK9rS8=
      x-ms-date:
      - Thu, 20 Jul 2017 23:34:10 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-161storagequeuesuitetestsetpermissionsalternatetruewithti?comp=acl&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
[...]
