{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-10-31",
    "endpointPrefix":"rds",
    "protocol":"query",
    "serviceAbbreviation":"Amazon RDS",
    "serviceFullName":"Amazon Relational Database Service",
    "serviceId":"RDS",
    "signatureVersion":"v4",
    "uid":"rds-2014-10-31",
    "xmlNamespace":"http://rds.amazonaws.com/doc/2014-10-31/"
  },
  "operations":{
    "AddRoleToDBCluster":{
      "name":"AddRoleToDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRoleToDBClusterMessage"},
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterRoleAlreadyExistsFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterRoleQuotaExceededFault"}
      ]
    },
    "AddRoleToDBInstance":{
      "name":"AddRoleToDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRoleToDBInstanceMessage"},
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBInstanceRoleAlreadyExistsFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBInstanceRoleQuotaExceededFault"}
      ]
    },
    "AddSourceIdentifierToSubscription":{
      "name":"AddSourceIdentifierToSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddSourceIdentifierToSubscriptionMessage"},
      "output":{
        "shape":"AddSourceIdentifierToSubscriptionResult",
        "resultWrapper":"AddSourceIdentifierToSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ]
    },
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceMessage"},
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"DBProxyTargetGroupNotFoundFault"}
      ]
    },
    "ApplyPendingMaintenanceAction":{
      "name":"ApplyPendingMaintenanceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ApplyPendingMaintenanceActionMessage"},
      "output":{
        "shape":"ApplyPendingMaintenanceActionResult",
        "resultWrapper":"ApplyPendingMaintenanceActionResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "AuthorizeDBSecurityGroupIngress":{
      "name":"AuthorizeDBSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeDBSecurityGroupIngressMessage"},
      "output":{
        "shape":"AuthorizeDBSecurityGroupIngressResult",
        "resultWrapper":"AuthorizeDBSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"AuthorizationAlreadyExistsFault"},
        {"shape":"AuthorizationQuotaExceededFault"}
      ]
    },
    "BacktrackDBCluster":{
      "name":"BacktrackDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BacktrackDBClusterMessage"},
      "output":{
        "shape":"DBClusterBacktrack",
        "resultWrapper":"BacktrackDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    },
    "CancelExportTask":{
      "name":"CancelExportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelExportTaskMessage"},
      "output":{
        "shape":"ExportTask",
        "resultWrapper":"CancelExportTaskResult"
      },
      "errors":[
        {"shape":"ExportTaskNotFoundFault"},
        {"shape":"InvalidExportTaskStateFault"}
      ]
    },
    "CopyDBClusterParameterGroup":{
      "name":"CopyDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBClusterParameterGroupMessage"},
      "output":{
        "shape":"CopyDBClusterParameterGroupResult",
        "resultWrapper":"CopyDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ]
    },
    "CopyDBClusterSnapshot":{
      "name":"CopyDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBClusterSnapshotMessage"},
      "output":{
        "shape":"CopyDBClusterSnapshotResult",
        "resultWrapper":"CopyDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "CopyDBParameterGroup":{
      "name":"CopyDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBParameterGroupMessage"},
      "output":{
        "shape":"CopyDBParameterGroupResult",
        "resultWrapper":"CopyDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"},
        {"shape":"DBParameterGroupQuotaExceededFault"}
      ]
    },
    "CopyDBSnapshot":{
      "name":"CopyDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBSnapshotMessage"},
      "output":{
        "shape":"CopyDBSnapshotResult",
        "resultWrapper":"CopyDBSnapshotResult"
      },
      "errors":[
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "CopyOptionGroup":{
      "name":"CopyOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyOptionGroupMessage"},
      "output":{
        "shape":"CopyOptionGroupResult",
        "resultWrapper":"CopyOptionGroupResult"
      },
      "errors":[
        {"shape":"OptionGroupAlreadyExistsFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"OptionGroupQuotaExceededFault"}
      ]
    },
    "CreateCustomAvailabilityZone":{
      "name":"CreateCustomAvailabilityZone",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomAvailabilityZoneMessage"},
      "output":{
        "shape":"CreateCustomAvailabilityZoneResult",
        "resultWrapper":"CreateCustomAvailabilityZoneResult"
      },
      "errors":[
        {"shape":"CustomAvailabilityZoneAlreadyExistsFault"},
        {"shape":"CustomAvailabilityZoneQuotaExceededFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "CreateDBCluster":{
      "name":"CreateDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterMessage"},
      "output":{
        "shape":"CreateDBClusterResult",
        "resultWrapper":"CreateDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"},
        {"shape":"DomainNotFoundFault"}
      ]
    },
    "CreateDBClusterEndpoint":{
      "name":"CreateDBClusterEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterEndpointMessage"},
      "output":{
        "shape":"DBClusterEndpoint",
        "resultWrapper":"CreateDBClusterEndpointResult"
      },
      "errors":[
        {"shape":"DBClusterEndpointQuotaExceededFault"},
        {"shape":"DBClusterEndpointAlreadyExistsFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "CreateDBClusterParameterGroup":{
      "name":"CreateDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterParameterGroupMessage"},
      "output":{
        "shape":"CreateDBClusterParameterGroupResult",
        "resultWrapper":"CreateDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ]
    },
    "CreateDBClusterSnapshot":{
      "name":"CreateDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterSnapshotMessage"},
      "output":{
        "shape":"CreateDBClusterSnapshotResult",
        "resultWrapper":"CreateDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"}
      ]
    },
    "CreateDBInstance":{
      "name":"CreateDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBInstanceMessage"},
      "output":{
        "shape":"CreateDBInstanceResult",
        "resultWrapper":"CreateDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DomainNotFoundFault"},
        {"shape":"BackupPolicyNotFoundFault"}
      ]
    },
    "CreateDBInstanceReadReplica":{
      "name":"CreateDBInstanceReadReplica",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBInstanceReadReplicaMessage"},
      "output":{
        "shape":"CreateDBInstanceReadReplicaResult",
        "resultWrapper":"CreateDBInstanceReadReplicaResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"DBSubnetGroupNotAllowedFault"},
        {"shape":"InvalidDBSubnetGroupFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DomainNotFoundFault"}
      ]
    },
    "CreateDBParameterGroup":{
      "name":"CreateDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBParameterGroupMessage"},
      "output":{
        "shape":"CreateDBParameterGroupResult",
        "resultWrapper":"CreateDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ]
    },
    "CreateDBProxy":{
      "name":"CreateDBProxy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBProxyRequest"},
      "output":{
        "shape":"CreateDBProxyResponse",
        "resultWrapper":"CreateDBProxyResult"
      },
      "errors":[
        {"shape":"InvalidSubnet"},
        {"shape":"DBProxyAlreadyExistsFault"},
        {"shape":"DBProxyQuotaExceededFault"}
      ]
    },
    "CreateDBSecurityGroup":{
      "name":"CreateDBSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBSecurityGroupMessage"},
      "output":{
        "shape":"CreateDBSecurityGroupResult",
        "resultWrapper":"CreateDBSecurityGroupResult"
      },
      "errors":[
        {"shape":"DBSecurityGroupAlreadyExistsFault"},
        {"shape":"DBSecurityGroupQuotaExceededFault"},
        {"shape":"DBSecurityGroupNotSupportedFault"}
      ]
    },
    "CreateDBSnapshot":{
      "name":"CreateDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBSnapshotMessage"},
      "output":{
        "shape":"CreateDBSnapshotResult",
        "resultWrapper":"CreateDBSnapshotResult"
      },
      "errors":[
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"SnapshotQuotaExceededFault"}
      ]
    },
    "CreateDBSubnetGroup":{
      "name":"CreateDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBSubnetGroupMessage"},
      "output":{
        "shape":"CreateDBSubnetGroupResult",
        "resultWrapper":"CreateDBSubnetGroupResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupAlreadyExistsFault"},
        {"shape":"DBSubnetGroupQuotaExceededFault"},
        {"shape":"DBSubnetQuotaExceededFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ]
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSubscriptionMessage"},
      "output":{
        "shape":"CreateEventSubscriptionResult",
        "resultWrapper":"CreateEventSubscriptionResult"
      },
      "errors":[
        {"shape":"EventSubscriptionQuotaExceededFault"},
        {"shape":"SubscriptionAlreadyExistFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ]
    },
    "CreateGlobalCluster":{
      "name":"CreateGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGlobalClusterMessage"},
      "output":{
        "shape":"CreateGlobalClusterResult",
        "resultWrapper":"CreateGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterAlreadyExistsFault"},
        {"shape":"GlobalClusterQuotaExceededFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"}
      ]
    },
    "CreateOptionGroup":{
      "name":"CreateOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOptionGroupMessage"},
      "output":{
        "shape":"CreateOptionGroupResult",
        "resultWrapper":"CreateOptionGroupResult"
      },
      "errors":[
        {"shape":"OptionGroupAlreadyExistsFault"},
        {"shape":"OptionGroupQuotaExceededFault"}
      ]
    },
    "DeleteCustomAvailabilityZone":{
      "name":"DeleteCustomAvailabilityZone",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomAvailabilityZoneMessage"},
      "output":{
        "shape":"DeleteCustomAvailabilityZoneResult",
        "resultWrapper":"DeleteCustomAvailabilityZoneResult"
      },
      "errors":[
        {"shape":"CustomAvailabilityZoneNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "DeleteDBCluster":{
      "name":"DeleteDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterMessage"},
      "output":{
        "shape":"DeleteDBClusterResult",
        "resultWrapper":"DeleteDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"}
      ]
    },
    "DeleteDBClusterEndpoint":{
      "name":"DeleteDBClusterEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterEndpointMessage"},
      "output":{
        "shape":"DBClusterEndpoint",
        "resultWrapper":"DeleteDBClusterEndpointResult"
      },
      "errors":[
        {"shape":"InvalidDBClusterEndpointStateFault"},
        {"shape":"DBClusterEndpointNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    },
    "DeleteDBClusterParameterGroup":{
      "name":"DeleteDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DeleteDBClusterSnapshot":{
      "name":"DeleteDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterSnapshotMessage"},
      "output":{
        "shape":"DeleteDBClusterSnapshotResult",
        "resultWrapper":"DeleteDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ]
    },
    "DeleteDBInstance":{
      "name":"DeleteDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBInstanceMessage"},
      "output":{
        "shape":"DeleteDBInstanceResult",
        "resultWrapper":"DeleteDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBInstanceAutomatedBackupQuotaExceededFault"}
      ]
    },
    "DeleteDBInstanceAutomatedBackup":{
      "name":"DeleteDBInstanceAutomatedBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBInstanceAutomatedBackupMessage"},
      "output":{
        "shape":"DeleteDBInstanceAutomatedBackupResult",
        "resultWrapper":"DeleteDBInstanceAutomatedBackupResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceAutomatedBackupStateFault"},
        {"shape":"DBInstanceAutomatedBackupNotFoundFault"}
      ]
    },
    "DeleteDBParameterGroup":{
      "name":"DeleteDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DeleteDBProxy":{
      "name":"DeleteDBProxy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBProxyRequest"},
      "output":{
        "shape":"DeleteDBProxyResponse",
        "resultWrapper":"DeleteDBProxyResult"
      },
      "errors":[
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"InvalidDBProxyStateFault"}
      ]
    },
    "DeleteDBSecurityGroup":{
      "name":"DeleteDBSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBSecurityGroupMessage"},
      "errors":[
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"DBSecurityGroupNotFoundFault"}
      ]
    },
    "DeleteDBSnapshot":{
      "name":"DeleteDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBSnapshotMessage"},
      "output":{
        "shape":"DeleteDBSnapshotResult",
        "resultWrapper":"DeleteDBSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"DBSnapshotNotFoundFault"}
      ]
    },
    "DeleteDBSubnetGroup":{
      "name":"DeleteDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBSubnetGroupMessage"},
      "errors":[
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidDBSubnetStateFault"},
        {"shape":"DBSubnetGroupNotFoundFault"}
      ]
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSubscriptionMessage"},
      "output":{
        "shape":"DeleteEventSubscriptionResult",
        "resultWrapper":"DeleteEventSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"InvalidEventSubscriptionStateFault"}
      ]
    },
    "DeleteGlobalCluster":{
      "name":"DeleteGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGlobalClusterMessage"},
      "output":{
        "shape":"DeleteGlobalClusterResult",
        "resultWrapper":"DeleteGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"}
      ]
    },
    "DeleteInstallationMedia":{
      "name":"DeleteInstallationMedia",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstallationMediaMessage"},
      "output":{
        "shape":"InstallationMedia",
        "resultWrapper":"DeleteInstallationMediaResult"
      },
      "errors":[
        {"shape":"InstallationMediaNotFoundFault"}
      ]
    },
    "DeleteOptionGroup":{
      "name":"DeleteOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOptionGroupMessage"},
      "errors":[
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"InvalidOptionGroupStateFault"}
      ]
    },
    "DeregisterDBProxyTargets":{
      "name":"DeregisterDBProxyTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterDBProxyTargetsRequest"},
      "output":{
        "shape":"DeregisterDBProxyTargetsResponse",
        "resultWrapper":"DeregisterDBProxyTargetsResult"
      },
      "errors":[
        {"shape":"DBProxyTargetNotFoundFault"},
        {"shape":"DBProxyTargetGroupNotFoundFault"},
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"InvalidDBProxyStateFault"}
      ]
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesMessage"},
      "output":{
        "shape":"AccountAttributesMessage",
        "resultWrapper":"DescribeAccountAttributesResult"
      }
    },
    "DescribeCertificates":{
      "name":"DescribeCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCertificatesMessage"},
      "output":{
        "shape":"CertificateMessage",
        "resultWrapper":"DescribeCertificatesResult"
      },
      "errors":[
        {"shape":"CertificateNotFoundFault"}
      ]
    },
    "DescribeCustomAvailabilityZones":{
      "name":"DescribeCustomAvailabilityZones",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomAvailabilityZonesMessage"},
      "output":{
        "shape":"CustomAvailabilityZoneMessage",
        "resultWrapper":"DescribeCustomAvailabilityZonesResult"
      },
      "errors":[
        {"shape":"CustomAvailabilityZoneNotFoundFault"}
      ]
    },
    "DescribeDBClusterBacktracks":{
      "name":"DescribeDBClusterBacktracks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterBacktracksMessage"},
      "output":{
        "shape":"DBClusterBacktrackMessage",
        "resultWrapper":"DescribeDBClusterBacktracksResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterBacktrackNotFoundFault"}
      ]
    },
    "DescribeDBClusterEndpoints":{
      "name":"DescribeDBClusterEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterEndpointsMessage"},
      "output":{
        "shape":"DBClusterEndpointMessage",
        "resultWrapper":"DescribeDBClusterEndpointsResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"}
      ]
    },
    "DescribeDBClusterParameterGroups":{
      "name":"DescribeDBClusterParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterParameterGroupsMessage"},
      "output":{
        "shape":"DBClusterParameterGroupsMessage",
        "resultWrapper":"DescribeDBClusterParameterGroupsResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DescribeDBClusterParameters":{
      "name":"DescribeDBClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterParametersMessage"},
      "output":{
        "shape":"DBClusterParameterGroupDetails",
        "resultWrapper":"DescribeDBClusterParametersResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DescribeDBClusterSnapshotAttributes":{
      "name":"DescribeDBClusterSnapshotAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterSnapshotAttributesMessage"},
      "output":{
        "shape":"DescribeDBClusterSnapshotAttributesResult",
        "resultWrapper":"DescribeDBClusterSnapshotAttributesResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ]
    },
    "DescribeDBClusterSnapshots":{
      "name":"DescribeDBClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterSnapshotsMessage"},
      "output":{
        "shape":"DBClusterSnapshotMessage",
        "resultWrapper":"DescribeDBClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ]
    },
    "DescribeDBClusters":{
      "name":"DescribeDBClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClustersMessage"},
      "output":{
        "shape":"DBClusterMessage",
        "resultWrapper":"DescribeDBClustersResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"}
      ]
    },
    "DescribeDBEngineVersions":{
      "name":"DescribeDBEngineVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBEngineVersionsMessage"},
      "output":{
        "shape":"DBEngineVersionMessage",
        "resultWrapper":"DescribeDBEngineVersionsResult"
      }
    },
    "DescribeDBInstanceAutomatedBackups":{
      "name":"DescribeDBInstanceAutomatedBackups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBInstanceAutomatedBackupsMessage"},
      "output":{
        "shape":"DBInstanceAutomatedBackupMessage",
        "resultWrapper":"DescribeDBInstanceAutomatedBackupsResult"
      },
      "errors":[
        {"shape":"DBInstanceAutomatedBackupNotFoundFault"}
      ]
    },
    "DescribeDBInstances":{
      "name":"DescribeDBInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBInstancesMessage"},
      "output":{
        "shape":"DBInstanceMessage",
        "resultWrapper":"DescribeDBInstancesResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "DescribeDBLogFiles":{
      "name":"DescribeDBLogFiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBLogFilesMessage"},
      "output":{
        "shape":"DescribeDBLogFilesResponse",
        "resultWrapper":"DescribeDBLogFilesResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "DescribeDBParameterGroups":{
      "name":"DescribeDBParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBParameterGroupsMessage"},
      "output":{
        "shape":"DBParameterGroupsMessage",
        "resultWrapper":"DescribeDBParameterGroupsResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DescribeDBParameters":{
      "name":"DescribeDBParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBParametersMessage"},
      "output":{
        "shape":"DBParameterGroupDetails",
        "resultWrapper":"DescribeDBParametersResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "DescribeDBProxies":{
      "name":"DescribeDBProxies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBProxiesRequest"},
      "output":{
        "shape":"DescribeDBProxiesResponse",
        "resultWrapper":"DescribeDBProxiesResult"
      },
      "errors":[
        {"shape":"DBProxyNotFoundFault"}
      ]
    },
    "DescribeDBProxyTargetGroups":{
      "name":"DescribeDBProxyTargetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBProxyTargetGroupsRequest"},
      "output":{
        "shape":"DescribeDBProxyTargetGroupsResponse",
        "resultWrapper":"DescribeDBProxyTargetGroupsResult"
      },
      "errors":[
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"DBProxyTargetGroupNotFoundFault"},
        {"shape":"InvalidDBProxyStateFault"}
      ]
    },
    "DescribeDBProxyTargets":{
      "name":"DescribeDBProxyTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBProxyTargetsRequest"},
      "output":{
        "shape":"DescribeDBProxyTargetsResponse",
        "resultWrapper":"DescribeDBProxyTargetsResult"
      },
      "errors":[
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"DBProxyTargetNotFoundFault"},
        {"shape":"DBProxyTargetGroupNotFoundFault"},
        {"shape":"InvalidDBProxyStateFault"}
      ]
    },
    "DescribeDBSecurityGroups":{
      "name":"DescribeDBSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSecurityGroupsMessage"},
      "output":{
        "shape":"DBSecurityGroupMessage",
        "resultWrapper":"DescribeDBSecurityGroupsResult"
      },
      "errors":[
        {"shape":"DBSecurityGroupNotFoundFault"}
      ]
    },
    "DescribeDBSnapshotAttributes":{
      "name":"DescribeDBSnapshotAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSnapshotAttributesMessage"},
      "output":{
        "shape":"DescribeDBSnapshotAttributesResult",
        "resultWrapper":"DescribeDBSnapshotAttributesResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"}
      ]
    },
    "DescribeDBSnapshots":{
      "name":"DescribeDBSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSnapshotsMessage"},
      "output":{
        "shape":"DBSnapshotMessage",
        "resultWrapper":"DescribeDBSnapshotsResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"}
      ]
    },
    "DescribeDBSubnetGroups":{
      "name":"DescribeDBSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSubnetGroupsMessage"},
      "output":{
        "shape":"DBSubnetGroupMessage",
        "resultWrapper":"DescribeDBSubnetGroupsResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupNotFoundFault"}
      ]
    },
    "DescribeEngineDefaultClusterParameters":{
      "name":"DescribeEngineDefaultClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngineDefaultClusterParametersMessage"},
      "output":{
        "shape":"DescribeEngineDefaultClusterParametersResult",
        "resultWrapper":"DescribeEngineDefaultClusterParametersResult"
      }
    },
    "DescribeEngineDefaultParameters":{
      "name":"DescribeEngineDefaultParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngineDefaultParametersMessage"},
      "output":{
        "shape":"DescribeEngineDefaultParametersResult",
        "resultWrapper":"DescribeEngineDefaultParametersResult"
      }
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventCategoriesMessage"},
      "output":{
        "shape":"EventCategoriesMessage",
        "resultWrapper":"DescribeEventCategoriesResult"
      }
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSubscriptionsMessage"},
      "output":{
        "shape":"EventSubscriptionsMessage",
        "resultWrapper":"DescribeEventSubscriptionsResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"}
      ]
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{
        "shape":"EventsMessage",
        "resultWrapper":"DescribeEventsResult"
      }
    },
    "DescribeExportTasks":{
      "name":"DescribeExportTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExportTasksMessage"},
      "output":{
        "shape":"ExportTasksMessage",
        "resultWrapper":"DescribeExportTasksResult"
      },
      "errors":[
        {"shape":"ExportTaskNotFoundFault"}
      ]
    },
    "DescribeGlobalClusters":{
      "name":"DescribeGlobalClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGlobalClustersMessage"},
      "output":{
        "shape":"GlobalClustersMessage",
        "resultWrapper":"DescribeGlobalClustersResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"}
      ]
    },
    "DescribeInstallationMedia":{
      "name":"DescribeInstallationMedia",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstallationMediaMessage"},
      "output":{
        "shape":"InstallationMediaMessage",
        "resultWrapper":"DescribeInstallationMediaResult"
      },
      "errors":[
        {"shape":"InstallationMediaNotFoundFault"}
      ]
    },
    "DescribeOptionGroupOptions":{
      "name":"DescribeOptionGroupOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOptionGroupOptionsMessage"},
      "output":{
        "shape":"OptionGroupOptionsMessage",
        "resultWrapper":"DescribeOptionGroupOptionsResult"
      }
    },
    "DescribeOptionGroups":{
      "name":"DescribeOptionGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOptionGroupsMessage"},
      "output":{
        "shape":"OptionGroups",
        "resultWrapper":"DescribeOptionGroupsResult"
      },
      "errors":[
        {"shape":"OptionGroupNotFoundFault"}
      ]
    },
    "DescribeOrderableDBInstanceOptions":{
      "name":"DescribeOrderableDBInstanceOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrderableDBInstanceOptionsMessage"},
      "output":{
        "shape":"OrderableDBInstanceOptionsMessage",
        "resultWrapper":"DescribeOrderableDBInstanceOptionsResult"
      }
    },
    "DescribePendingMaintenanceActions":{
      "name":"DescribePendingMaintenanceActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePendingMaintenanceActionsMessage"},
      "output":{
        "shape":"PendingMaintenanceActionsMessage",
        "resultWrapper":"DescribePendingMaintenanceActionsResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ]
    },
    "DescribeReservedDBInstances":{
      "name":"DescribeReservedDBInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedDBInstancesMessage"},
      "output":{
        "shape":"ReservedDBInstanceMessage",
        "resultWrapper":"DescribeReservedDBInstancesResult"
      },
      "errors":[
        {"shape":"ReservedDBInstanceNotFoundFault"}
      ]
    },
    "DescribeReservedDBInstancesOfferings":{
      "name":"DescribeReservedDBInstancesOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedDBInstancesOfferingsMessage"},
      "output":{
        "shape":"ReservedDBInstancesOfferingMessage",
        "resultWrapper":"DescribeReservedDBInstancesOfferingsResult"
      },
      "errors":[
        {"shape":"ReservedDBInstancesOfferingNotFoundFault"}
      ]
    },
    "DescribeSourceRegions":{
      "name":"DescribeSourceRegions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSourceRegionsMessage"},
      "output":{
        "shape":"SourceRegionMessage",
        "resultWrapper":"DescribeSourceRegionsResult"
      }
    },
    "DescribeValidDBInstanceModifications":{
      "name":"DescribeValidDBInstanceModifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeValidDBInstanceModificationsMessage"},
      "output":{
        "shape":"DescribeValidDBInstanceModificationsResult",
        "resultWrapper":"DescribeValidDBInstanceModificationsResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "DownloadDBLogFilePortion":{
      "name":"DownloadDBLogFilePortion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DownloadDBLogFilePortionMessage"},
      "output":{
        "shape":"DownloadDBLogFilePortionDetails",
        "resultWrapper":"DownloadDBLogFilePortionResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBLogFileNotFoundFault"}
      ]
    },
    "FailoverDBCluster":{
      "name":"FailoverDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"FailoverDBClusterMessage"},
      "output":{
        "shape":"FailoverDBClusterResult",
        "resultWrapper":"FailoverDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "ImportInstallationMedia":{
      "name":"ImportInstallationMedia",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportInstallationMediaMessage"},
      "output":{
        "shape":"InstallationMedia",
        "resultWrapper":"ImportInstallationMediaResult"
      },
      "errors":[
        {"shape":"CustomAvailabilityZoneNotFoundFault"},
        {"shape":"InstallationMediaAlreadyExistsFault"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceMessage"},
      "output":{
        "shape":"TagListMessage",
        "resultWrapper":"ListTagsForResourceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"DBProxyTargetGroupNotFoundFault"}
      ]
    },
    "ModifyCertificates":{
      "name":"ModifyCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyCertificatesMessage"},
      "output":{
        "shape":"ModifyCertificatesResult",
        "resultWrapper":"ModifyCertificatesResult"
      },
      "errors":[
        {"shape":"CertificateNotFoundFault"}
      ]
    },
    "ModifyCurrentDBClusterCapacity":{
      "name":"ModifyCurrentDBClusterCapacity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyCurrentDBClusterCapacityMessage"},
      "output":{
        "shape":"DBClusterCapacityInfo",
        "resultWrapper":"ModifyCurrentDBClusterCapacityResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBClusterCapacityFault"}
      ]
    },
    "ModifyDBCluster":{
      "name":"ModifyDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterMessage"},
      "output":{
        "shape":"ModifyDBClusterResult",
        "resultWrapper":"ModifyDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"DBClusterParameterGroupNotFoundFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DomainNotFoundFault"}
      ]
    },
    "ModifyDBClusterEndpoint":{
      "name":"ModifyDBClusterEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterEndpointMessage"},
      "output":{
        "shape":"DBClusterEndpoint",
        "resultWrapper":"ModifyDBClusterEndpointResult"
      },
      "errors":[
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBClusterEndpointStateFault"},
        {"shape":"DBClusterEndpointNotFoundFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "ModifyDBClusterParameterGroup":{
      "name":"ModifyDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterParameterGroupMessage"},
      "output":{
        "shape":"DBClusterParameterGroupNameMessage",
        "resultWrapper":"ModifyDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InvalidDBParameterGroupStateFault"}
      ]
    },
    "ModifyDBClusterSnapshotAttribute":{
      "name":"ModifyDBClusterSnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterSnapshotAttributeMessage"},
      "output":{
        "shape":"ModifyDBClusterSnapshotAttributeResult",
        "resultWrapper":"ModifyDBClusterSnapshotAttributeResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"SharedSnapshotQuotaExceededFault"}
      ]
    },
    "ModifyDBInstance":{
      "name":"ModifyDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBInstanceMessage"},
      "output":{
        "shape":"ModifyDBInstanceResult",
        "resultWrapper":"ModifyDBInstanceResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"DBUpgradeDependencyFailureFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"CertificateNotFoundFault"},
        {"shape":"DomainNotFoundFault"},
        {"shape":"BackupPolicyNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    },
    "ModifyDBParameterGroup":{
      "name":"ModifyDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBParameterGroupMessage"},
      "output":{
        "shape":"DBParameterGroupNameMessage",
        "resultWrapper":"ModifyDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InvalidDBParameterGroupStateFault"}
      ]
    },
    "ModifyDBProxy":{
      "name":"ModifyDBProxy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBProxyRequest"},
      "output":{
        "shape":"ModifyDBProxyResponse",
        "resultWrapper":"ModifyDBProxyResult"
      },
      "errors":[
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"DBProxyAlreadyExistsFault"},
        {"shape":"InvalidDBProxyStateFault"}
      ]
    },
    "ModifyDBProxyTargetGroup":{
      "name":"ModifyDBProxyTargetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBProxyTargetGroupRequest"},
      "output":{
        "shape":"ModifyDBProxyTargetGroupResponse",
        "resultWrapper":"ModifyDBProxyTargetGroupResult"
      },
      "errors":[
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"DBProxyTargetGroupNotFoundFault"},
        {"shape":"InvalidDBProxyStateFault"}
      ]
    },
    "ModifyDBSnapshot":{
      "name":"ModifyDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBSnapshotMessage"},
      "output":{
        "shape":"ModifyDBSnapshotResult",
        "resultWrapper":"ModifyDBSnapshotResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"}
      ]
    },
    "ModifyDBSnapshotAttribute":{
      "name":"ModifyDBSnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBSnapshotAttributeMessage"},
      "output":{
        "shape":"ModifyDBSnapshotAttributeResult",
        "resultWrapper":"ModifyDBSnapshotAttributeResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"SharedSnapshotQuotaExceededFault"}
      ]
    },
    "ModifyDBSubnetGroup":{
      "name":"ModifyDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBSubnetGroupMessage"},
      "output":{
        "shape":"ModifyDBSubnetGroupResult",
        "resultWrapper":"ModifyDBSubnetGroupResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetQuotaExceededFault"},
        {"shape":"SubnetAlreadyInUse"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ]
    },
    "ModifyEventSubscription":{
      "name":"ModifyEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEventSubscriptionMessage"},
      "output":{
        "shape":"ModifyEventSubscriptionResult",
        "resultWrapper":"ModifyEventSubscriptionResult"
      },
      "errors":[
        {"shape":"EventSubscriptionQuotaExceededFault"},
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"}
      ]
    },
    "ModifyGlobalCluster":{
      "name":"ModifyGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyGlobalClusterMessage"},
      "output":{
        "shape":"ModifyGlobalClusterResult",
        "resultWrapper":"ModifyGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"}
      ]
    },
    "ModifyOptionGroup":{
      "name":"ModifyOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyOptionGroupMessage"},
      "output":{
        "shape":"ModifyOptionGroupResult",
        "resultWrapper":"ModifyOptionGroupResult"
      },
      "errors":[
        {"shape":"InvalidOptionGroupStateFault"},
        {"shape":"OptionGroupNotFoundFault"}
      ]
    },
    "PromoteReadReplica":{
      "name":"PromoteReadReplica",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PromoteReadReplicaMessage"},
      "output":{
        "shape":"PromoteReadReplicaResult",
        "resultWrapper":"PromoteReadReplicaResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "PromoteReadReplicaDBCluster":{
      "name":"PromoteReadReplicaDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PromoteReadReplicaDBClusterMessage"},
      "output":{
        "shape":"PromoteReadReplicaDBClusterResult",
        "resultWrapper":"PromoteReadReplicaDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    },
    "PurchaseReservedDBInstancesOffering":{
      "name":"PurchaseReservedDBInstancesOffering",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PurchaseReservedDBInstancesOfferingMessage"},
      "output":{
        "shape":"PurchaseReservedDBInstancesOfferingResult",
        "resultWrapper":"PurchaseReservedDBInstancesOfferingResult"
      },
      "errors":[
        {"shape":"ReservedDBInstancesOfferingNotFoundFault"},
        {"shape":"ReservedDBInstanceAlreadyExistsFault"},
        {"shape":"ReservedDBInstanceQuotaExceededFault"}
      ]
    },
    "RebootDBInstance":{
      "name":"RebootDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootDBInstanceMessage"},
      "output":{
        "shape":"RebootDBInstanceResult",
        "resultWrapper":"RebootDBInstanceResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "RegisterDBProxyTargets":{
      "name":"RegisterDBProxyTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterDBProxyTargetsRequest"},
      "output":{
        "shape":"RegisterDBProxyTargetsResponse",
        "resultWrapper":"RegisterDBProxyTargetsResult"
      },
      "errors":[
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"DBProxyTargetGroupNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBProxyTargetAlreadyRegisteredFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBProxyStateFault"},
        {"shape":"InsufficientAvailableIPsInSubnetFault"}
      ]
    },
    "RemoveFromGlobalCluster":{
      "name":"RemoveFromGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveFromGlobalClusterMessage"},
      "output":{
        "shape":"RemoveFromGlobalClusterResult",
        "resultWrapper":"RemoveFromGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"}
      ]
    },
    "RemoveRoleFromDBCluster":{
      "name":"RemoveRoleFromDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveRoleFromDBClusterMessage"},
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterRoleNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    },
    "RemoveRoleFromDBInstance":{
      "name":"RemoveRoleFromDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveRoleFromDBInstanceMessage"},
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBInstanceRoleNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "RemoveSourceIdentifierFromSubscription":{
      "name":"RemoveSourceIdentifierFromSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveSourceIdentifierFromSubscriptionMessage"},
      "output":{
        "shape":"RemoveSourceIdentifierFromSubscriptionResult",
        "resultWrapper":"RemoveSourceIdentifierFromSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ]
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceMessage"},
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBProxyNotFoundFault"},
        {"shape":"DBProxyTargetGroupNotFoundFault"}
      ]
    },
    "ResetDBClusterParameterGroup":{
      "name":"ResetDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetDBClusterParameterGroupMessage"},
      "output":{
        "shape":"DBClusterParameterGroupNameMessage",
        "resultWrapper":"ResetDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "ResetDBParameterGroup":{
      "name":"ResetDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetDBParameterGroupMessage"},
      "output":{
        "shape":"DBParameterGroupNameMessage",
        "resultWrapper":"ResetDBParameterGroupResult"
      },
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ]
    },
    "RestoreDBClusterFromS3":{
      "name":"RestoreDBClusterFromS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBClusterFromS3Message"},
      "output":{
        "shape":"RestoreDBClusterFromS3Result",
        "resultWrapper":"RestoreDBClusterFromS3Result"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidS3BucketFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DomainNotFoundFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"}
      ]
    },
    "RestoreDBClusterFromSnapshot":{
      "name":"RestoreDBClusterFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBClusterFromSnapshotMessage"},
      "output":{
        "shape":"RestoreDBClusterFromSnapshotResult",
        "resultWrapper":"RestoreDBClusterFromSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InsufficientDBClusterCapacityFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DomainNotFoundFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"}
      ]
    },
    "RestoreDBClusterToPointInTime":{
      "name":"RestoreDBClusterToPointInTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBClusterToPointInTimeMessage"},
      "output":{
        "shape":"RestoreDBClusterToPointInTimeResult",
        "resultWrapper":"RestoreDBClusterToPointInTimeResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InsufficientDBClusterCapacityFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DomainNotFoundFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"}
      ]
    },
    "RestoreDBInstanceFromDBSnapshot":{
      "name":"RestoreDBInstanceFromDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBInstanceFromDBSnapshotMessage"},
      "output":{
        "shape":"RestoreDBInstanceFromDBSnapshotResult",
        "resultWrapper":"RestoreDBInstanceFromDBSnapshotResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"DomainNotFoundFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"BackupPolicyNotFoundFault"}
      ]
    },
    "RestoreDBInstanceFromS3":{
      "name":"RestoreDBInstanceFromS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBInstanceFromS3Message"},
      "output":{
        "shape":"RestoreDBInstanceFromS3Result",
        "resultWrapper":"RestoreDBInstanceFromS3Result"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidS3BucketFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"BackupPolicyNotFoundFault"}
      ]
    },
    "RestoreDBInstanceToPointInTime":{
      "name":"RestoreDBInstanceToPointInTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBInstanceToPointInTimeMessage"},
      "output":{
        "shape":"RestoreDBInstanceToPointInTimeResult",
        "resultWrapper":"RestoreDBInstanceToPointInTimeResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"PointInTimeRestoreNotEnabledFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"DomainNotFoundFault"},
        {"shape":"BackupPolicyNotFoundFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBInstanceAutomatedBackupNotFoundFault"}
      ]
    },
    "RevokeDBSecurityGroupIngress":{
      "name":"RevokeDBSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeDBSecurityGroupIngressMessage"},
      "output":{
        "shape":"RevokeDBSecurityGroupIngressResult",
        "resultWrapper":"RevokeDBSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"}
      ]
    },
    "StartActivityStream":{
      "name":"StartActivityStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartActivityStreamRequest"},
      "output":{
        "shape":"StartActivityStreamResponse",
        "resultWrapper":"StartActivityStreamResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "StartDBCluster":{
      "name":"StartDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDBClusterMessage"},
      "output":{
        "shape":"StartDBClusterResult",
        "resultWrapper":"StartDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "StartDBInstance":{
      "name":"StartDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDBInstanceMessage"},
      "output":{
        "shape":"StartDBInstanceResult",
        "resultWrapper":"StartDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ]
    },
    "StartExportTask":{
      "name":"StartExportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartExportTaskMessage"},
      "output":{
        "shape":"ExportTask",
        "resultWrapper":"StartExportTaskResult"
      },
      "errors":[
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"ExportTaskAlreadyExistsFault"},
        {"shape":"InvalidS3BucketFault"},
        {"shape":"IamRoleNotFoundFault"},
        {"shape":"IamRoleMissingPermissionsFault"},
        {"shape":"InvalidExportOnlyFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"InvalidExportSourceStateFault"}
      ]
    },
    "StopActivityStream":{
      "name":"StopActivityStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopActivityStreamRequest"},
      "output":{
        "shape":"StopActivityStreamResponse",
        "resultWrapper":"StopActivityStreamResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBInstanceNotFoundFault"}
      ]
    },
    "StopDBCluster":{
      "name":"StopDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDBClusterMessage"},
      "output":{
        "shape":"StopDBClusterResult",
        "resultWrapper":"StopDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ]
    },
    "StopDBInstance":{
      "name":"StopDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDBInstanceMessage"},
      "output":{
        "shape":"StopDBInstanceResult",
        "resultWrapper":"StopDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ]
    }
  },
  "shapes":{
    "AccountAttributesMessage":{
      "type":"structure",
      "members":{
        "AccountQuotas":{"shape":"AccountQuotaList"}
      }
    },
    "AccountQuota":{
      "type":"structure",
      "members":{
        "AccountQuotaName":{"shape":"String"},
        "Used":{"shape":"Long"},
        "Max":{"shape":"Long"}
      },
      "wrapper":true
    },
    "AccountQuotaList":{
      "type":"list",
      "member":{
        "shape":"AccountQuota",
        "locationName":"AccountQuota"
      }
    },
    "ActivityStreamMode":{
      "type":"string",
      "enum":[
        "sync",
        "async"
      ]
    },
    "ActivityStreamStatus":{
      "type":"string",
      "enum":[
        "stopped",
        "starting",
        "started",
        "stopping"
      ]
    },
    "AddRoleToDBClusterMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "RoleArn"
      ],
      "members":{
        "DBClusterIdentifier":{"shape":"String"},
        "RoleArn":{"shape":"String"},
        "FeatureName":{"shape":"String"}
      }
    },
    "AddRoleToDBInstanceMessage":{
      "type":"structure",
      "required":[
        "DBInstanceIdentifier",
        "RoleArn",
        "FeatureName"
      ],
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "RoleArn":{"shape":"String"},
        "FeatureName":{"shape":"String"}
      }
    },
    "AddSourceIdentifierToSubscriptionMessage":{
      "type":"structure",
      "required":[
        "SubscriptionName",
        "SourceIdentifier"
      ],
      "members":{
        "SubscriptionName":{"shape":"String"},
        "SourceIdentifier":{"shape":"String"}
      }
    },
    "AddSourceIdentifierToSubscriptionResult":{
      "type":"structure",
      "members":{
        "EventSubscription":{"shape":"EventSubscription"}
      }
    },
    "AddTagsToResourceMessage":{
      "type":"structure",
      "required":[
        "ResourceName",
        "Tags"
      ],
      "members":{
        "ResourceName":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "ApplyMethod":{
      "type":"string",
      "enum":[
        "immediate",
        "pending-reboot"
      ]
    },
    "ApplyPendingMaintenanceActionMessage":{
      "type":"structure",
      "required":[
        "ResourceIdentifier",
        "ApplyAction",
        "OptInType"
      ],
      "members":{
        "ResourceIdentifier":{"shape":"String"},
        "ApplyAction":{"shape":"String"},
        "OptInType":{"shape":"String"}
      }
    },
    "ApplyPendingMaintenanceActionResult":{
      "type":"structure",
      "members":{
        "ResourcePendingMaintenanceActions":{"shape":"ResourcePendingMaintenanceActions"}
      }
    },
    "AttributeValueList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AttributeValue"
      }
    },
    "AuthScheme":{
      "type":"string",
      "enum":["SECRETS"]
    },
    "AuthorizationAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizeDBSecurityGroupIngressMessage":{
      "type":"structure",
      "required":["DBSecurityGroupName"],
      "members":{
        "DBSecurityGroupName":{"shape":"String"},
        "CIDRIP":{"shape":"String"},
        "EC2SecurityGroupName":{"shape":"String"},
        "EC2SecurityGroupId":{"shape":"String"},
        "EC2SecurityGroupOwnerId":{"shape":"String"}
      }
    },
    "AuthorizeDBSecurityGroupIngressResult":{
      "type":"structure",
      "members":{
        "DBSecurityGroup":{"shape":"DBSecurityGroup"}
      }
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"}
      },
      "wrapper":true
    },
    "AvailabilityZoneList":{
      "type":"list",
      "member":{
        "shape":"AvailabilityZone",
        "locationName":"AvailabilityZone"
      }
    },
    "AvailabilityZones":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AvailabilityZone"
      }
    },
    "AvailableProcessorFeature":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "DefaultValue":{"shape":"String"},
        "AllowedValues":{"shape":"String"}
      }
    },
    "AvailableProcessorFeatureList":{
      "type":"list",
      "member":{
        "shape":"AvailableProcessorFeature",
        "locationName":"AvailableProcessorFeature"
      }
    },
    "BacktrackDBClusterMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "BacktrackTo"
      ],
      "members":{
        "DBClusterIdentifier":{"shape":"String"},
        "BacktrackTo":{"shape":"TStamp"},
        "Force":{"shape":"BooleanOptional"},
        "UseEarliestTimeOnPointInTimeUnavailable":{"shape":"BooleanOptional"}
      }
    },
    "BackupPolicyNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "deprecated":true,
      "deprecatedMessage":"Please avoid using this fault",
      "error":{
        "code":"BackupPolicyNotFoundFault",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "BooleanOptional":{"type":"boolean"},
    "CancelExportTaskMessage":{
      "type":"structure",
      "required":["ExportTaskIdentifier"],
      "members":{
        "ExportTaskIdentifier":{"shape":"String"}
      }
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "CertificateIdentifier":{"shape":"String"},
        "CertificateType":{"shape":"String"},
        "Thumbprint":{"shape":"String"},
        "ValidFrom":{"shape":"TStamp"},
        "ValidTill":{"shape":"TStamp"},
        "CertificateArn":{"shape":"String"},
        "CustomerOverride":{"shape":"BooleanOptional"},
        "CustomerOverrideValidTill":{"shape":"TStamp"}
      },
      "wrapper":true
    },
    "CertificateList":{
      "type":"list",
      "member":{
        "shape":"Certificate",
        "locationName":"Certificate"
      }
    },
    "CertificateMessage":{
      "type":"structure",
      "members":{
        "Certificates":{"shape":"CertificateList"},
        "Marker":{"shape":"String"}
      }
    },
    "CertificateNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CertificateNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "CharacterSet":{
      "type":"structure",
      "members":{
        "CharacterSetName":{"shape":"String"},
        "CharacterSetDescription":{"shape":"String"}
      }
    },
    "CloudwatchLogsExportConfiguration":{
      "type":"structure",
      "members":{
        "EnableLogTypes":{"shape":"LogTypeList"},
        "DisableLogTypes":{"shape":"LogTypeList"}
      }
    },
    "ConnectionPoolConfiguration":{
      "type":"structure",
      "members":{
        "MaxConnectionsPercent":{"shape":"IntegerOptional"},
        "MaxIdleConnectionsPercent":{"shape":"IntegerOptional"},
        "ConnectionBorrowTimeout":{"shape":"IntegerOptional"},
        "SessionPinningFilters":{"shape":"StringList"},
        "InitQuery":{"shape":"String"}
      }
    },
    "ConnectionPoolConfigurationInfo":{
      "type":"structure",
      "members":{
        "MaxConnectionsPercent":{"shape":"Integer"},
        "MaxIdleConnectionsPercent":{"shape":"Integer"},
        "ConnectionBorrowTimeout":{"shape":"Integer"},
        "SessionPinningFilters":{"shape":"StringList"},
        "InitQuery":{"shape":"String"}
      }
    },
    "CopyDBClusterParameterGroupMessage":{
      "type":"structure",
      "required":[
        "SourceDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupDescription"
      ],
      "members":{
        "SourceDBClusterParameterGroupIdentifier":{"shape":"String"},
        "TargetDBClusterParameterGroupIdentifier":{"shape":"String"},
        "TargetDBClusterParameterGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CopyDBClusterParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroup":{"shape":"DBClusterParameterGroup"}
      }
    },
    "CopyDBClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "SourceDBClusterSnapshotIdentifier",
        "TargetDBClusterSnapshotIdentifier"
      ],
      "members":{
        "SourceDBClusterSnapshotIdentifier":{"shape":"String"},
        "TargetDBClusterSnapshotIdentifier":{"shape":"String"},
        "KmsKeyId":{"shape":"String"},
        "PreSignedUrl":{"shape":"String"},
        "CopyTags":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CopyDBClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshot":{"shape":"DBClusterSnapshot"}
      }
    },
    "CopyDBParameterGroupMessage":{
      "type":"structure",
      "required":[
        "SourceDBParameterGroupIdentifier",
        "TargetDBParameterGroupIdentifier",
        "TargetDBParameterGroupDescription"
      ],
      "members":{
        "SourceDBParameterGroupIdentifier":{"shape":"String"},
        "TargetDBParameterGroupIdentifier":{"shape":"String"},
        "TargetDBParameterGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CopyDBParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBParameterGroup":{"shape":"DBParameterGroup"}
      }
    },
    "CopyDBSnapshotMessage":{
      "type":"structure",
      "required":[
        "SourceDBSnapshotIdentifier",
        "TargetDBSnapshotIdentifier"
      ],
      "members":{
        "SourceDBSnapshotIdentifier":{"shape":"String"},
        "TargetDBSnapshotIdentifier":{"shape":"String"},
        "KmsKeyId":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "CopyTags":{"shape":"BooleanOptional"},
        "PreSignedUrl":{"shape":"String"},
        "OptionGroupName":{"shape":"String"}
      }
    },
    "CopyDBSnapshotResult":{
      "type":"structure",
      "members":{
        "DBSnapshot":{"shape":"DBSnapshot"}
      }
    },
    "CopyOptionGroupMessage":{
      "type":"structure",
      "required":[
        "SourceOptionGroupIdentifier",
        "TargetOptionGroupIdentifier",
        "TargetOptionGroupDescription"
      ],
      "members":{
        "SourceOptionGroupIdentifier":{"shape":"String"},
        "TargetOptionGroupIdentifier":{"shape":"String"},
        "TargetOptionGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CopyOptionGroupResult":{
      "type":"structure",
      "members":{
        "OptionGroup":{"shape":"OptionGroup"}
      }
    },
    "CreateCustomAvailabilityZoneMessage":{
      "type":"structure",
      "required":["CustomAvailabilityZoneName"],
      "members":{
        "CustomAvailabilityZoneName":{"shape":"String"},
        "ExistingVpnId":{"shape":"String"},
        "NewVpnTunnelName":{"shape":"String"},
        "VpnTunnelOriginatorIP":{"shape":"String"}
      }
    },
    "CreateCustomAvailabilityZoneResult":{
      "type":"structure",
      "members":{
        "CustomAvailabilityZone":{"shape":"CustomAvailabilityZone"}
      }
    },
    "CreateDBClusterEndpointMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "DBClusterEndpointIdentifier",
        "EndpointType"
      ],
      "members":{
        "DBClusterIdentifier":{"shape":"String"},
        "DBClusterEndpointIdentifier":{"shape":"String"},
        "EndpointType":{"shape":"String"},
        "StaticMembers":{"shape":"StringList"},
        "ExcludedMembers":{"shape":"StringList"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBClusterMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "Engine"
      ],
      "members":{
        "AvailabilityZones":{"shape":"AvailabilityZones"},
        "BackupRetentionPeriod":{"shape":"IntegerOptional"},
        "CharacterSetName":{"shape":"String"},
        "DatabaseName":{"shape":"String"},
        "DBClusterIdentifier":{"shape":"String"},
        "DBClusterParameterGroupName":{"shape":"String"},
        "VpcSecurityGroupIds":{"shape":"VpcSecurityGroupIdList"},
        "DBSubnetGroupName":{"shape":"String"},
        "Engine":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "Port":{"shape":"IntegerOptional"},
        "MasterUsername":{"shape":"String"},
        "MasterUserPassword":{"shape":"String"},
        "OptionGroupName":{"shape":"String"},
        "PreferredBackupWindow":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "ReplicationSourceIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "StorageEncrypted":{"shape":"BooleanOptional"},
        "KmsKeyId":{"shape":"String"},
        "PreSignedUrl":{"shape":"String"},
        "EnableIAMDatabaseAuthentication":{"shape":"BooleanOptional"},
        "BacktrackWindow":{"shape":"LongOptional"},
        "EnableCloudwatchLogsExports":{"shape":"LogTypeList"},
        "EngineMode":{"shape":"String"},
        "ScalingConfiguration":{"shape":"ScalingConfiguration"},
        "DeletionProtection":{"shape":"BooleanOptional"},
        "GlobalClusterIdentifier":{"shape":"String"},
        "EnableHttpEndpoint":{"shape":"BooleanOptional"},
        "CopyTagsToSnapshot":{"shape":"BooleanOptional"},
        "Domain":{"shape":"String"},
        "DomainIAMRoleName":{"shape":"String"},
        "EnableGlobalWriteForwarding":{"shape":"BooleanOptional"}
      }
    },
    "CreateDBClusterParameterGroupMessage":{
      "type":"structure",
      "required":[
        "DBClusterParameterGroupName",
        "DBParameterGroupFamily",
        "Description"
      ],
      "members":{
        "DBClusterParameterGroupName":{"shape":"String"},
        "DBParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBClusterParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroup":{"shape":"DBClusterParameterGroup"}
      }
    },
    "CreateDBClusterResult":{
      "type":"structure",
      "members":{
        "DBCluster":{"shape":"DBCluster"}
      }
    },
    "CreateDBClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "DBClusterSnapshotIdentifier",
        "DBClusterIdentifier"
      ],
      "members":{
        "DBClusterSnapshotIdentifier":{"shape":"String"},
        "DBClusterIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshot":{"shape":"DBClusterSnapshot"}
      }
    },
    "CreateDBInstanceMessage":{
      "type":"structure",
      "required":[
        "DBInstanceIdentifier",
        "DBInstanceClass",
        "Engine"
      ],
      "members":{
        "DBName":{"shape":"String"},
        "DBInstanceIdentifier":{"shape":"String"},
        "AllocatedStorage":{"shape":"IntegerOptional"},
        "DBInstanceClass":{"shape":"String"},
        "Engine":{"shape":"String"},
        "MasterUsername":{"shape":"String"},
        "MasterUserPassword":{"shape":"String"},
        "DBSecurityGroups":{"shape":"DBSecurityGroupNameList"},
        "VpcSecurityGroupIds":{"shape":"VpcSecurityGroupIdList"},
        "AvailabilityZone":{"shape":"String"},
        "DBSubnetGroupName":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "DBParameterGroupName":{"shape":"String"},
        "BackupRetentionPeriod":{"shape":"IntegerOptional"},
        "PreferredBackupWindow":{"shape":"String"},
        "Port":{"shape":"IntegerOptional"},
        "MultiAZ":{"shape":"BooleanOptional"},
        "EngineVersion":{"shape":"String"},
        "AutoMinorVersionUpgrade":{"shape":"BooleanOptional"},
        "LicenseModel":{"shape":"String"},
        "Iops":{"shape":"IntegerOptional"},
        "OptionGroupName":{"shape":"String"},
        "CharacterSetName":{"shape":"String"},
        "NcharCharacterSetName":{"shape":"String"},
        "PubliclyAccessible":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"},
        "DBClusterIdentifier":{"shape":"String"},
        "StorageType":{"shape":"String"},
        "TdeCredentialArn":{"shape":"String"},
        "TdeCredentialPassword":{"shape":"String"},
        "StorageEncrypted":{"shape":"BooleanOptional"},
        "KmsKeyId":{"shape":"String"},
        "Domain":{"shape":"String"},
        "CopyTagsToSnapshot":{"shape":"BooleanOptional"},
        "MonitoringInterval":{"shape":"IntegerOptional"},
        "MonitoringRoleArn":{"shape":"String"},
        "DomainIAMRoleName":{"shape":"String"},
        "PromotionTier":{"shape":"IntegerOptional"},
        "Timezone":{"shape":"String"},
        "EnableIAMDatabaseAuthentication":{"shape":"BooleanOptional"},
        "EnablePerformanceInsights":{"shape":"BooleanOptional"},
        "PerformanceInsightsKMSKeyId":{"shape":"String"},
        "PerformanceInsightsRetentionPeriod":{"shape":"IntegerOptional"},
        "EnableCloudwatchLogsExports":{"shape":"LogTypeList"},
        "ProcessorFeatures":{"shape":"ProcessorFeatureList"},
        "DeletionProtection":{"shape":"BooleanOptional"},
        "MaxAllocatedStorage":{"shape":"IntegerOptional"}
      }
    },
    "CreateDBInstanceReadReplicaMessage":{
      "type":"structure",
      "required":[
        "DBInstanceIdentifier",
        "SourceDBInstanceIdentifier"
      ],
      "members":{
        "DBInstanceIdentifier":{"shape":"String"},
        "SourceDBInstanceIdentifier":{"shape":"String"},
        "DBInstanceClass":{"shape":"String"},
        "AvailabilityZone":{"shape":"String"},
        "Port":{"shape":"IntegerOptional"},
        "MultiAZ":{"shape":"BooleanOptional"},
        "AutoMinorVersionUpgrade":{"shape":"BooleanOptional"},
        "Iops":{"shape":"IntegerOptional"},
        "OptionGroupName":{"shape":"String"},
        "DBParameterGroupName":{"shape":"String"},
        "PubliclyAccessible":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"},
        "DBSubnetGroupName":{"shape":"String"},
        "VpcSecurityGroupIds":{"shape":"VpcSecurityGroupIdList"},
        "StorageType":{"shape":"String"},
        "CopyTagsToSnapshot":{"shape":"BooleanOptional"},
        "MonitoringInterval":{"shape":"IntegerOptional"},
        "MonitoringRoleArn":{"shape":"String"},
        "KmsKeyId":{"shape":"String"},
        "PreSignedUrl":{"shape":"String"},
        "EnableIAMDatabaseAuthentication":{"shape":"BooleanOptional"},
        "EnablePerformanceInsights":{"shape":"BooleanOptional"},
        "PerformanceInsightsKMSKeyId":{"shape":"String"},
        "PerformanceInsightsRetentionPeriod":{"shape":"IntegerOptional"},
        "EnableCloudwatchLogsExports":{"shape":"LogTypeList"},
        "ProcessorFeatures":{"shape":"ProcessorFeatureList"},
        "UseDefaultProcessorFeatures":{"shape":"BooleanOptional"},
        "DeletionProtection":{"shape":"BooleanOptional"},
        "Domain":{"shape":"String"},
        "DomainIAMRoleName":{"shape":"String"},
        "ReplicaMode":{"shape":"ReplicaMode"},
        "MaxAllocatedStorage":{"shape":"IntegerOptional"}
      }
    },
    "CreateDBInstanceReadReplicaResult":{
      "type":"structure",
      "members":{
        "DBInstance":{"shape":"DBInstance"}
      }
    },
    "CreateDBInstanceResult":{
      "type":"structure",
      "members":{
        "DBInstance":{"shape":"DBInstance"}
      }
    },
    "CreateDBParameterGroupMessage":{
      "type":"structure",
      "required":[
        "DBParameterGroupName",
        "DBParameterGroupFamily",
        "Description"
      ],
      "members":{
        "DBParameterGroupName":{"shape":"String"},
        "DBParameterGroupFamily":{"shape":"String"},
        "Description":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBParameterGroup":{"shape":"DBParameterGroup"}
      }
    },
    "CreateDBProxyRequest":{
      "type":"structure",
      "required":[
        "DBProxyName",
        "EngineFamily",
        "Auth",
        "RoleArn",
        "VpcSubnetIds"
      ],
      "members":{
        "DBProxyName":{"shape":"String"},
        "EngineFamily":{"shape":"EngineFamily"},
        "Auth":{"shape":"UserAuthConfigList"},
        "RoleArn":{"shape":"String"},
        "VpcSubnetIds":{"shape":"StringList"},
        "VpcSecurityGroupIds":{"shape":"StringList"},
        "RequireTLS":{"shape":"Boolean"},
        "IdleClientTimeout":{"shape":"IntegerOptional"},
        "DebugLogging":{"shape":"Boolean"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBProxyResponse":{
      "type":"structure",
      "members":{
        "DBProxy":{"shape":"DBProxy"}
      }
    },
    "CreateDBSecurityGroupMessage":{
      "type":"structure",
      "required":[
        "DBSecurityGroupName",
        "DBSecurityGroupDescription"
      ],
      "members":{
        "DBSecurityGroupName":{"shape":"String"},
        "DBSecurityGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBSecurityGroupResult":{
      "type":"structure",
      "members":{
        "DBSecurityGroup":{"shape":"DBSecurityGroup"}
      }
    },
    "CreateDBSnapshotMessage":{
      "type":"structure",
      "required":[
        "DBSnapshotIdentifier",
        "DBInstanceIdentifier"
      ],
      "members":{
        "DBSnapshotIdentifier":{"shape":"String"},
        "DBInstanceIdentifier":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBSnapshotResult":{
      "type":"structure",
      "members":{
        "DBSnapshot":{"shape":"DBSnapshot"}
      }
    },
    "CreateDBSubnetGroupMessage":{
      "type":"structure",
      "required":[
        "DBSubnetGroupName",
        "DBSubnetGroupDescription",
        "SubnetIds"
      ],
      "members":{
        "DBSubnetGroupName":{"shape":"String"},
        "DBSubnetGroupDescription":{"shape":"String"},
        "SubnetIds":{"shape":"SubnetIdentifierList"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDBSubnetGroupResult":{
      "type":"structure",
      "members":{
        "DBSubnetGroup":{"shape":"DBSubnetGroup"}
      }
    },
    "CreateEventSubscriptionMessage":{
      "type":"structure",
      "required":[
        "SubscriptionName",
        "SnsTopicArn"
      ],
      "members":{
        "SubscriptionName":{"shape":"String"},
        "SnsTopicArn":{"shape":"String"},
        "SourceType":{"shape":"String"},
        "EventCategories":{"shape":"EventCategoriesList"},
        "SourceIds":{"shape":"SourceIdsList"},
        "Enabled":{"shape":"BooleanOptional"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEventSubscriptionResult":{
      "type":"structure",
      "members":{
        "EventSubscription":{"shape":"EventSubscription"}
      }
    },
    "CreateGlobalClusterMessage":{
      "type":"structure",
      "members":{
        "GlobalClusterIdentifier":{"shape":"String"},
        "SourceDBClusterIdentifier":{"shape":"String"},
        "Engine":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "DeletionProtection":{"shape":"BooleanOptional"},
        "DatabaseName":{"shape":"String"},
        "StorageEncrypted":{"shape":"BooleanOptional"}
      }
    },
    "CreateGlobalClusterResult":{
      "type":"structure",
      "members":{
        "GlobalCluster":{"shape":"GlobalCluster"}
      }
    },
    "CreateOptionGroupMessage":{
      "type":"structure",
      "required":[
        "OptionGroupName",
        "EngineName",
        "MajorEngineVersion",
        "OptionGroupDescription"
      ],
      "members":{
        "OptionGroupName":{"shape":"String"},
        "EngineName":{"shape":"String"},
        "MajorEngineVersion":{"shape":"String"},
        "OptionGroupDescription":{"shape":"String"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateOptionGroupResult":{
      "type":"structure",
      "members":{
        "OptionGroup":{"shape":"OptionGroup"}
      }
    },
    "CustomAvailabilityZone":{
      "type":"structure",
      "members":{
        "CustomAvailabilityZoneId":{"shape":"String"},
        "CustomAvailabilityZoneName":{"shape":"String"},
        "CustomAvailabilityZoneStatus":{"shape":"String"},
        "VpnDetails":{"shape":"VpnDetails"}
      },
      "wrapper":true
    },
    "CustomAvailabilityZoneAlreadyExistsFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CustomAvailabilityZoneAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CustomAvailabilityZoneList":{
      "type":"list",
      "member":{
        "shape":"CustomAvailabilityZone",
        "locationName":"CustomAvailabilityZone"
      }
    },
    "CustomAvailabilityZoneMessage":{
      "type":"structure",
      "members":{
        "Marker":{"shape":"String"},
        "CustomAvailabilityZones":{"shape":"CustomAvailabilityZoneList"}
      }
    },
    "CustomAvailabilityZoneNotFoundFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CustomAvailabilityZoneNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "CustomAvailabilityZoneQuotaExceededFault":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CustomAvailabilityZoneQuotaExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DBCluster":{
      "type":"structure",
      "members":{
        "AllocatedStorage":{"shape":"IntegerOptional"},
        "AvailabilityZones":{"shape":"AvailabilityZones"},
        "BackupRetentionPeriod":{"shape":"IntegerOptional"},
        "CharacterSetName":{"shape":"String"},
        "DatabaseName":{"shape":"String"},
        "DBClusterIdentifier":{"shape":"String"},
        "DBClusterParameterGroup":{"shape":"String"},
        "DBSubnetGroup":{"shape":"String"},
        "Status":{"shape":"String"},
        "PercentProgress":{"shape":"String"},
        "EarliestRestorableTime":{"shape":"TStamp"},
        "Endpoint":{"shape":"String"},
        "ReaderEndpoint":{"shape":"String"},
        "CustomEndpoints":{"shape":"StringList"},
        "MultiAZ":{"shape":"BooleanOptional"},
        "Engine":{"shape":"String"},
        "EngineVersion":{"shape":"String"},
        "LatestRestorableTime":{"shape":"TStamp"},
        "Port":{"shape":"IntegerOptional"},
        "MasterUsername":{"shape":"String"},
        "DBClusterOptionGroupMemberships":{"shape":"DBClusterOptionGroupMemberships"},
        "PreferredBackupWindow":{"shape":"String"},
        "PreferredMaintenanceWindow":{"shape":"String"},
        "ReplicationSourceIdentifier":{"shape":"String"},
        "ReadReplicaIdentifiers":{"shape":"ReadReplicaIdentifierList"},
        "DBClusterMembers":{"shape":"DBClusterMemberList"},
        "VpcSecurityGroups":{"shape":"VpcSecurityGroupMembershipList"},
        "HostedZoneId":{"shape":"String"},
        "StorageEncrypted":{"shape":"Boolean"},
        "KmsKeyId":{"shape":"String"},
        "DbClusterResourceId":{"shape":"String"},
        "DBClusterArn":{"shape":"String"},
        "AssociatedRoles":{"shape":"DBClusterRoles"},
        "IAMDatabaseAuthenticationEnabled":{"shape":"BooleanOptional"},
        "CloneGroupId":{"shape":"String"},
        "ClusterCreateTime":{"shape":"TStamp"},
        "EarliestBacktrackTime":{"shape":"TStamp"},
        "BacktrackWindow":{"shape":"LongOptional"},
        "BacktrackConsumedChangeRecords":{"shape":"LongOptional"},
        "EnabledCloudwatchLogsExports":{"shape":"LogTypeList"},
        "Capacity":{"shape":"IntegerOptional"},
        "EngineMode":{"shape":"String"},
        "ScalingConfigurationInfo":{"shape":"ScalingConfigurationInfo"},
        "DeletionProtection":{"shape":"BooleanOptional"},
        "HttpEndpointEnabled":{"shape":"BooleanOptional"},
        "ActivityStreamMode":{"shape":"ActivityStreamMode"},
        "ActivityStreamStatus":{"shape":"ActivityStreamStatus"},
        "ActivityStreamKmsKeyId":{"shape":"String"},
        "ActivityStreamKinesisStreamName":{"shape":"String"},
        "CopyTagsToSnapshot":{"shape":"BooleanOptional"},
        "CrossAccountClone":{"shape":"BooleanOptional"},
[...]
