{
  "rootUrl": "https://appengine.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "appengine",
  "batchPath": "batch",
  "id": "appengine:v1beta",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "revision": "20170901",
  "title": "Google App Engine Admin API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "apps": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "id": "appengine.apps.locations.get",
              "path": "v1beta/apps/{appsId}/locations/{locationsId}",
              "description": "Get information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "locationsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Resource name for the location.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/apps/{appsId}/locations/{locationsId}"
            },
            "list": {
              "id": "appengine.apps.locations.list",
              "path": "v1beta/apps/{appsId}/locations",
              "description": "Lists information about the supported locations for this service.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/locations"
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "id": "appengine.apps.authorizedCertificates.create",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Uploads the specified SSL certificate."
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string",
                  "required": true
                },
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "id": "appengine.apps.authorizedCertificates.delete",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Deletes the specified SSL certificate."
            },
            "patch": {
              "id": "appengine.apps.authorizedCertificates.patch",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string",
                  "required": true
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the GET response.",
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "id": "appengine.apps.authorizedCertificates.get",
              "description": "Gets the specified SSL certificate."
            },
            "list": {
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the LIST response.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "id": "appengine.apps.authorizedCertificates.list",
              "path": "v1beta/apps/{appsId}/authorizedCertificates"
            }
          }
        },
        "services": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.delete",
              "description": "Deletes the specified service and all enclosed versions."
            },
            "patch": {
              "request": {
                "$ref": "Service"
              },
              "description": "Updates the configuration of the specified service.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "migrateTraffic": {
                  "location": "query",
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#inboundservicetype) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#automaticscaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#shardby) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                  "type": "boolean"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated.",
                  "type": "string",
                  "location": "query"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.patch",
              "path": "v1beta/apps/{appsId}/services/{servicesId}"
            },
            "get": {
              "response": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "servicesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.get",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "description": "Gets the current configuration of the specified service."
            },
            "list": {
              "description": "Lists all the services in the application.",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/services",
              "id": "appengine.apps.services.list",
              "path": "v1beta/apps/{appsId}/services"
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.delete",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "description": "Deletes an existing Version resource."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string"
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.patch",
                  "request": {
                    "$ref": "Version"
                  },
                  "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:\nserving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status):  For Version resources that use basic scaling, manual scaling, or run in  the App Engine flexible environment.\ninstance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class):  For Version resources that run in the App Engine standard environment.\nautomatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine standard environment.\nautomatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine standard environment.\nautomatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine Flexible environment.\nautomatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine Flexible environment.\nautomatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine Flexible environment.\nautomatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine Flexible environment."
                },
                "get": {
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "type": "string",
                      "required": true
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Controls the set of fields returned in the Get response.",
                      "type": "string"
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.get",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource."
                },
                "list": {
                  "id": "appengine.apps.services.versions.list",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "description": "Lists the versions of a service.",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "servicesId": {
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Service resource. Example: apps/myapp/services/default.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum results to return per page.",
                      "type": "integer"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Controls the set of fields returned in the List response.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions"
                },
                "create": {
                  "description": "Deploys code and resource files to a new version.",
                  "request": {
                    "$ref": "Version"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `parent`. Name of the parent resource to create this version under. Example: apps/myapp/services/default.",
                      "type": "string",
                      "required": true
                    },
                    "servicesId": {
                      "location": "path",
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "id": "appengine.apps.services.versions.create"
                }
              },
              "resources": {
                "instances": {
                  "methods": {
                    "debug": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "appsId": {
                          "location": "path",
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "type": "string",
                          "required": true
                        },
                        "versionsId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "id": "appengine.apps.services.versions.instances.debug",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      }
                    },
                    "delete": {
                      "id": "appengine.apps.services.versions.instances.delete",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Stops a running instance.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "instancesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "appsId": {
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}"
                    },
                    "get": {
                      "description": "Gets instance information.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "response": {
                        "$ref": "Instance"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "appsId": {
                          "location": "path",
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "type": "string",
                          "required": true
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "id": "appengine.apps.services.versions.instances.get"
                    },
                    "list": {
                      "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list).",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId"
                      ],
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "parameters": {
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "appsId": {
                          "location": "path",
                          "description": "Part of `parent`. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1.",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "type": "integer"
                        },
                        "versionsId": {
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "id": "appengine.apps.services.versions.instances.list"
                    }
                  }
                }
              }
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedDomains",
              "id": "appengine.apps.authorizedDomains.list",
              "path": "v1beta/apps/{appsId}/authorizedDomains",
              "description": "Lists all domains the user is authorized to administer."
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. The name of the operation resource.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "operationsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/operations/{operationsId}",
              "id": "appengine.apps.operations.get",
              "path": "v1beta/apps/{appsId}/operations/{operationsId}"
            },
            "list": {
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. The name of the operation's parent resource.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/operations",
              "id": "appengine.apps.operations.list",
              "path": "v1beta/apps/{appsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
            }
          }
        },
        "domainMappings": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.create",
              "path": "v1beta/apps/{appsId}/domainMappings",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains."
            },
            "delete": {
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.delete"
            },
            "patch": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.patch",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "request": {
                "$ref": "DomainMapping"
              }
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "DomainMapping"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.get",
              "description": "Gets the specified domain mapping."
            },
            "list": {
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.list",
              "path": "v1beta/apps/{appsId}/domainMappings",
              "description": "Lists the domain mappings on an application."
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Updates the specified firewall rule.",
                  "request": {
                    "$ref": "FirewallRule"
                  }
                },
                "get": {
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.get",
                  "description": "Gets the specified firewall rule.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string",
                      "required": true
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}"
                },
                "batchUpdate": {
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.delete",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Deletes the specified firewall rule."
                },
                "list": {
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "matchingAddress": {
                      "location": "query",
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum results to return per page.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "description": "Lists the firewall rules of an application."
                },
                "create": {
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "id": "appengine.apps.firewall.ingressRules.create",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "description": "Creates a firewall rule for the application.",
                  "request": {
                    "$ref": "FirewallRule"
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/apps",
          "id": "appengine.apps.create",
          "path": "v1beta/apps",
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields:\nid - The ID of the target Cloud Platform project.\nlocation - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/python/console/).",
          "request": {
            "$ref": "Application"
          }
        },
        "repair": {
          "httpMethod": "POST",
          "parameterOrder": [
            "appsId"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "appsId": {
              "location": "path",
              "description": "Part of `name`. Name of the application to repair. Example: apps/myapp",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1beta/apps/{appsId}:repair",
          "path": "v1beta/apps/{appsId}:repair",
          "id": "appengine.apps.repair",
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account."
        },
        "patch": {
          "description": "Updates the specified Application resource. You can update the following fields:\nauth_domain - Google authentication domain for controlling user access to the application.\ndefault_cookie_expiration - Cookie expiration policy for the application.",
          "request": {
            "$ref": "Application"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "appsId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "appsId": {
              "description": "Part of `name`. Name of the Application resource to update. Example: apps/myapp.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/apps/{appsId}",
          "id": "appengine.apps.patch",
          "path": "v1beta/apps/{appsId}"
        },
        "get": {
          "path": "v1beta/apps/{appsId}",
          "id": "appengine.apps.get",
          "description": "Gets information about an application.",
          "httpMethod": "GET",
          "parameterOrder": [
            "appsId"
          ],
          "response": {
            "$ref": "Application"
          },
          "parameters": {
            "appsId": {
              "location": "path",
              "description": "Part of `name`. Name of the Application resource to get. Example: apps/myapp.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1beta/apps/{appsId}"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "Application": {
      "description": "An Application resource contains the top-level configuration of an App Engine application. Next tag: 20",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "Location from which this application will be run. Application instances will run out of data centers in the chosen location, which is also where all of the application's end user content is stored.Defaults to us-central.Options are:us-central - Central USeurope-west - Western Europeus-east1 - Eastern US",
          "type": "string"
        },
        "servingStatus": {
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ],
          "description": "Serving status of this application.",
          "type": "string",
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ]
        },
        "defaultHostname": {
          "description": "Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
          "type": "string"
        },
        "featureSettings": {
          "$ref": "FeatureSettings",
          "description": "The feature specific settings to be used in the application."
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "authDomain": {
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
          "type": "string"
        },
        "codeBucket": {
          "description": "Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly",
          "type": "string"
        },
        "defaultBucket": {
          "description": "Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
          "type": "string"
        },
        "dispatchRules": {
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported.@OutputOnly",
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "type": "array"
        },
        "gcrDomain": {
          "description": "The Google Container Registry domain used for storing managed build docker images for this application.",
          "type": "string"
        },
        "name": {
          "description": "Full path to the Application resource in the API. Example: apps/myapp.@OutputOnly",
          "type": "string"
        },
        "defaultCookieExpiration": {
          "format": "google-duration",
          "description": "Cookie expiration policy for this application.",
          "type": "string"
        },
        "id": {
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp.",
          "type": "string"
        }
      },
      "id": "Application"
    },
    "Network": {
      "properties": {
        "subnetworkName": {
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network.\nIf the network the VM instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range.\nIf the network the VM instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network.\nIf the network the VM instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application.",
          "type": "string"
        },
        "instanceTag": {
          "description": "Tag to apply to the VM instance during creation. Only applicable for for App Engine flexible environment versions.",
          "type": "string"
        },
        "forwardedPorts": {
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable for App Engine flexible environment versions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default.",
          "type": "string"
        }
      },
      "id": "Network",
      "description": "Extra network settings. Only applicable for App Engine flexible environment versions",
      "type": "object"
    },
    "Instance": {
      "properties": {
        "appEngineRelease": {
          "description": "App Engine release this instance is running on.@OutputOnly",
          "type": "string"
        },
        "vmName": {
          "description": "Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        },
        "qps": {
          "format": "float",
          "description": "Average queries per second (QPS) over the last minute.@OutputOnly",
          "type": "number"
        },
        "vmId": {
          "description": "Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        },
        "vmZoneName": {
          "description": "Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        },
        "name": {
          "description": "Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.@OutputOnly",
          "type": "string"
        },
        "averageLatency": {
          "format": "int32",
          "description": "Average latency (ms) over the last minute.@OutputOnly",
          "type": "integer"
        },
        "id": {
          "description": "Relative name of the instance within the version. Example: instance-1.@OutputOnly",
          "type": "string"
        },
        "vmIp": {
          "description": "The IP address of this instance. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        },
        "memoryUsage": {
          "format": "int64",
          "description": "Total memory in use (bytes).@OutputOnly",
          "type": "string"
        },
        "availability": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ],
          "description": "Availability of the instance.@OutputOnly",
          "type": "string"
        },
        "vmStatus": {
          "description": "Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        },
        "errors": {
          "format": "int32",
          "description": "Number of errors since this instance was started.@OutputOnly",
          "type": "integer"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time that this instance was started.@OutputOnly",
          "type": "string"
        },
        "vmDebugEnabled": {
          "description": "Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "boolean"
        },
        "requests": {
          "format": "int32",
          "description": "Number of requests since this instance was started.@OutputOnly",
          "type": "integer"
        }
      },
      "id": "Instance",
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
      "type": "object"
    },
    "LivenessCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "host": {
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "successThreshold": {
          "format": "uint32",
          "description": "Number of consecutive successful checks required before considering the VM healthy.",
          "type": "integer"
        },
        "checkInterval": {
          "format": "google-duration",
          "description": "Interval between health checks.",
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Time before the check is considered failed.",
          "type": "string"
        },
        "failureThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy.",
          "type": "integer"
        },
        "initialDelay": {
          "format": "google-duration",
          "description": "The initial delay before starting to execute the checks.",
          "type": "string"
        }
      },
      "id": "LivenessCheck"
    },
    "BatchUpdateIngressRulesRequest": {
      "description": "Request message for Firewall.BatchUpdateIngressRules.",
      "type": "object",
      "properties": {
        "ingressRules": {
          "description": "A list of FirewallRules to replace the existing set.",
          "items": {
            "$ref": "FirewallRule"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateIngressRulesRequest"
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example\n{\"cloud.googleapis.com/region\": \"us-east1\"}\n",
          "type": "object"
        }
      },
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object"
    },
    "NetworkUtilization": {
      "properties": {
        "targetSentBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes sent per second.",
          "type": "integer"
        },
        "targetReceivedBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes received per second.",
          "type": "integer"
        },
        "targetSentPacketsPerSecond": {
          "format": "int32",
          "description": "Target packets sent per second.",
          "type": "integer"
        },
        "targetReceivedPacketsPerSecond": {
          "format": "int32",
          "description": "Target packets received per second.",
          "type": "integer"
        }
      },
      "id": "NetworkUtilization",
      "description": "Target scaling by network usage. Only applicable for VM runtimes.",
      "type": "object"
    },
    "HealthCheck": {
      "properties": {
        "disableHealthCheck": {
          "description": "Whether to explicitly disable health checks for this instance.",
          "type": "boolean"
        },
        "host": {
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "restartThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "type": "integer"
        },
        "healthyThreshold": {
          "format": "uint32",
          "description": "Number of consecutive successful health checks required before receiving traffic.",
          "type": "integer"
        },
        "checkInterval": {
          "format": "google-duration",
          "description": "Interval between health checks.",
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Time before the health check is considered failed.",
          "type": "string"
        },
        "unhealthyThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed health checks required before removing traffic.",
          "type": "integer"
        }
      },
      "id": "HealthCheck",
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "type": "object"
    },
    "ReadinessCheck": {
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "host": {
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "successThreshold": {
          "format": "uint32",
          "description": "Number of consecutive successful checks required before receiving traffic.",
          "type": "integer"
        },
        "checkInterval": {
          "format": "google-duration",
          "description": "Interval between health checks.",
          "type": "string"
        },
        "failureThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed checks required before removing traffic.",
          "type": "integer"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Time before the check is considered failed.",
          "type": "string"
        },
        "appStartTimeout": {
          "format": "google-duration",
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic.",
          "type": "string"
        }
      },
      "id": "ReadinessCheck"
    },
    "StandardSchedulerSettings": {
      "properties": {
        "minInstances": {
          "format": "int32",
          "description": "Minimum number of instances for an app version. Set to a non-positive value (0 by convention) to disable min_instances configuration.",
          "type": "integer"
        },
        "targetCpuUtilization": {
          "format": "double",
          "description": "Target CPU utilization ratio to maintain when scaling.",
          "type": "number"
        },
        "targetThroughputUtilization": {
          "format": "double",
          "description": "Target throughput utilization ratio to maintain when scaling",
          "type": "number"
        },
        "maxInstances": {
          "format": "int32",
          "description": "Maximum number of instances for an app version. Set to a non-positive value (0 by convention) to disable max_instances configuration.",
          "type": "integer"
        }
      },
      "id": "StandardSchedulerSettings",
      "description": "Scheduler settings for standard environment.",
      "type": "object"
    },
    "DebugInstanceRequest": {
      "properties": {
        "sshKey": {
          "description": "Public SSH key to add to the instance. Examples:\n[USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME]\n[USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
          "type": "string"
        }
      },
      "id": "DebugInstanceRequest",
      "description": "Request message for Instances.DebugInstance.",
      "type": "object"
    },
    "OperationMetadataV1Beta5": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method name that initiated this operation. Example: google.appengine.v1beta5.Version.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "Timestamp that this operation was created.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Timestamp that this operation completed.@OutputOnly",
          "type": "string"
        }
      },
      "id": "OperationMetadataV1Beta5"
    },
    "Version": {
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
      "type": "object",
      "properties": {
        "inboundServices": {
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "items": {
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ],
            "type": "string"
          },
          "type": "array",
          "enumDescriptions": [
            "Not specified.",
            "Allows an application to receive mail.",
            "Allows an application to receive email-bound notifications.",
            "Allows an application to receive error stanzas.",
            "Allows an application to receive instant messages.",
            "Allows an application to receive user subscription POSTs.",
            "Allows an application to receive a user's chat presence.",
            "Registers an application for notifications when a client connects or disconnects from a channel.",
            "Enables warmup requests."
          ]
        },
        "resources": {
          "$ref": "Resources",
          "description": "Machine resources for this version. Only applicable for VM runtimes."
        },
        "errorHandlers": {
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "ErrorHandler"
          },
          "type": "array"
        },
        "defaultExpiration": {
          "format": "google-duration",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#staticfileshandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "Library"
          },
          "type": "array"
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "basicScaling": {
          "$ref": "BasicScaling",
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
        },
        "runtime": {
          "description": "Desired runtime. Example: python27.",
          "type": "string"
        },
        "createdBy": {
          "description": "Email address of the user who created this version.@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "envVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
          "type": "object"
        },
        "livenessCheck": {
          "description": "Configures liveness health checking for VM instances. Unhealthy instances are stopped and replaced with new instancesOnly returned in GET requests if view=FULL is set.",
          "$ref": "LivenessCheck"
        },
        "network": {
          "$ref": "Network",
          "description": "Extra network settings. Only applicable for App Engine flexible environment versions."
        },
        "betaSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features.",
          "type": "object"
        },
        "env": {
          "description": "App Engine execution environment for this version.Defaults to standard.",
          "type": "string"
        },
        "handlers": {
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "UrlMap"
          },
          "type": "array"
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
          "$ref": "AutomaticScaling"
        },
        "diskUsageBytes": {
          "format": "int64",
          "description": "Total size in bytes of all the files that are included in this version and curerntly hosted on the App Engine disk.@OutputOnly",
          "type": "string"
        },
        "healthCheck": {
          "description": "Configures health checking for VM instances. Unhealthy instances are stopped and replaced with new instances. Only applicable for VM runtimes.Only returned in GET requests if view=FULL is set.",
          "$ref": "HealthCheck"
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "readinessCheck": {
          "description": "Configures readiness health checking for VM instances. Unhealthy instances are not put into the backend traffic rotation.Only returned in GET requests if view=FULL is set.",
          "$ref": "ReadinessCheck"
        },
        "manualScaling": {
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
          "$ref": "ManualScaling"
        },
        "name": {
          "description": "Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "type": "string"
        },
        "apiConfig": {
          "$ref": "ApiConfigHandler",
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/).Only returned in GET requests if view=FULL is set."
        },
        "endpointsApiService": {
          "$ref": "EndpointsApiService",
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app."
        },
        "vm": {
          "description": "Whether to deploy this version in a container on a virtual machine.",
          "type": "boolean"
        },
        "versionUrl": {
          "description": "Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly",
          "type": "string"
        },
        "instanceClass": {
          "description": "Instance class that is used to run this version. Valid values are:\nAutomaticScaling: F1, F2, F4, F4_1G\nManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling.",
          "type": "string"
        },
        "servingStatus": {
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ],
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ]
        },
        "deployment": {
          "$ref": "Deployment",
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set."
        },
        "runtimeApiVersion": {
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard/\u003clanguage\u003e/config/appref",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time that this version was created.@OutputOnly",
          "type": "string"
        }
      },
      "id": "Version"
    },
    "RepairApplicationRequest": {
      "properties": {},
      "id": "RepairApplicationRequest",
      "description": "Request message for 'Applications.RepairApplication'.",
      "type": "object"
    },
    "BuildInfo": {
      "properties": {
        "cloudBuildId": {
          "description": "The Google Cloud Container Builder build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\"",
          "type": "string"
        }
      },
      "id": "BuildInfo",
      "description": "Google Cloud Container Builder build information.",
      "type": "object"
    },
    "CertificateRawData": {
      "properties": {
        "privateKey": {
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: \u003cpre\u003e -----BEGIN RSA PRIVATE KEY----- \u003cunencrypted_key_value\u003e -----END RSA PRIVATE KEY----- \u003c/pre\u003e @InputOnly",
          "type": "string"
        },
        "publicCertificate": {
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: \u003cpre\u003e -----BEGIN CERTIFICATE----- \u003ccertificate_value\u003e -----END CERTIFICATE----- \u003c/pre\u003e",
          "type": "string"
        }
      },
      "id": "CertificateRawData",
      "description": "An SSL certificate obtained from a certificate authority.",
      "type": "object"
    },
    "FileInfo": {
[...]
