{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/RhIHx1SwfJ96Awey5il5_fqGJDg\"",
 "discoveryVersion": "v1",
 "id": "androidenterprise:v1",
 "name": "androidenterprise",
 "canonicalName": "Android Enterprise",
 "version": "v1",
 "revision": "20170830",
 "title": "Google Play EMM API",
 "description": "Manages the deployment of apps to Android for Work users.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/android-16.png",
  "x32": "https://www.google.com/images/icons/product/android-32.png"
 },
 "documentationLink": "https://developers.google.com/android/work/play/emm-api",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/androidenterprise/v1/",
 "basePath": "/androidenterprise/v1/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "androidenterprise/v1/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/androidenterprise": {
     "description": "Manage corporate Android devices"
    }
   }
  }
 },
 "schemas": {
  "Administrator": {
   "id": "Administrator",
   "type": "object",
   "description": "This represents an enterprise admin who can manage the enterprise in the managed Google Play store.",
   "properties": {
    "email": {
     "type": "string",
     "description": "The admin's email address."
    }
   }
  },
  "AdministratorWebToken": {
   "id": "AdministratorWebToken",
   "type": "object",
   "description": "A token authorizing an admin to access an iframe.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#administratorWebToken\".",
     "default": "androidenterprise#administratorWebToken"
    },
    "token": {
     "type": "string",
     "description": "An opaque token to be passed to the Play front-end to generate an iframe."
    }
   }
  },
  "AdministratorWebTokenSpec": {
   "id": "AdministratorWebTokenSpec",
   "type": "object",
   "description": "Specification for a token used to generate iframes. The token specifies what data the admin is allowed to modify and the URI the iframe is allowed to communiate with.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#administratorWebTokenSpec\".",
     "default": "androidenterprise#administratorWebTokenSpec"
    },
    "parent": {
     "type": "string",
     "description": "The URI of the parent frame hosting the iframe. To prevent XSS, the iframe may not be hosted at other URIs. This URI must be https."
    },
    "permission": {
     "type": "array",
     "description": "The list of permissions the admin is granted within the iframe. The admin will only be allowed to view an iframe if they have all of the permissions associated with it. The only valid value is \"approveApps\" that will allow the admin to access the iframe in \"approve\" mode.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "AndroidDevicePolicyConfig": {
   "id": "AndroidDevicePolicyConfig",
   "type": "object",
   "description": "The Android Device Policy configuration of an enterprise.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#androidDevicePolicyConfig\".",
     "default": "androidenterprise#androidDevicePolicyConfig"
    },
    "state": {
     "type": "string",
     "description": "The state of Android Device Policy. \"enabled\" indicates that Android Device Policy is enabled for the enterprise and the EMM is allowed to manage devices with Android Device Policy, while \"disabled\" means that it cannot."
    }
   }
  },
  "AppRestrictionsSchema": {
   "id": "AppRestrictionsSchema",
   "type": "object",
   "description": "Represents the list of app restrictions available to be pre-configured for the product.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#appRestrictionsSchema\".",
     "default": "androidenterprise#appRestrictionsSchema"
    },
    "restrictions": {
     "type": "array",
     "description": "The set of restrictions that make up this schema.",
     "items": {
      "$ref": "AppRestrictionsSchemaRestriction"
     }
    }
   }
  },
  "AppRestrictionsSchemaChangeEvent": {
   "id": "AppRestrictionsSchemaChangeEvent",
   "type": "object",
   "description": "An event generated when a new app version is uploaded to Google Play and its app restrictions schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema on the EMM API.",
   "properties": {
    "productId": {
     "type": "string",
     "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the app restriction schema changed. This field will always be present."
    }
   }
  },
  "AppRestrictionsSchemaRestriction": {
   "id": "AppRestrictionsSchemaRestriction",
   "type": "object",
   "description": "A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied.",
   "properties": {
    "defaultValue": {
     "$ref": "AppRestrictionsSchemaRestrictionRestrictionValue",
     "description": "The default value of the restriction. bundle and bundleArray restrictions never have a default value."
    },
    "description": {
     "type": "string",
     "description": "A longer description of the restriction, giving more detail of what it affects."
    },
    "entry": {
     "type": "array",
     "description": "For choice or multiselect restrictions, the list of possible entries' human-readable names.",
     "items": {
      "type": "string"
     }
    },
    "entryValue": {
     "type": "array",
     "description": "For choice or multiselect restrictions, the list of possible entries' machine-readable values. These values should be used in the configuration, either as a single string value for a choice restriction or in a stringArray for a multiselect restriction.",
     "items": {
      "type": "string"
     }
    },
    "key": {
     "type": "string",
     "description": "The unique key that the product uses to identify the restriction, e.g. \"com.google.android.gm.fieldname\"."
    },
    "nestedRestriction": {
     "type": "array",
     "description": "For bundle or bundleArray restrictions, the list of nested restrictions. A bundle restriction is always nested within a bundleArray restriction, and a bundleArray restriction is at most two levels deep.",
     "items": {
      "$ref": "AppRestrictionsSchemaRestriction"
     }
    },
    "restrictionType": {
     "type": "string",
     "description": "The type of the restriction."
    },
    "title": {
     "type": "string",
     "description": "The name of the restriction."
    }
   }
  },
  "AppRestrictionsSchemaRestrictionRestrictionValue": {
   "id": "AppRestrictionsSchemaRestrictionRestrictionValue",
   "type": "object",
   "description": "A typed value for the restriction.",
   "properties": {
    "type": {
     "type": "string",
     "description": "The type of the value being provided."
    },
    "valueBool": {
     "type": "boolean",
     "description": "The boolean value - this will only be present if type is bool."
    },
    "valueInteger": {
     "type": "integer",
     "description": "The integer value - this will only be present if type is integer.",
     "format": "int32"
    },
    "valueMultiselect": {
     "type": "array",
     "description": "The list of string values - this will only be present if type is multiselect.",
     "items": {
      "type": "string"
     }
    },
    "valueString": {
     "type": "string",
     "description": "The string value - this will be present for types string, choice and hidden."
    }
   }
  },
  "AppUpdateEvent": {
   "id": "AppUpdateEvent",
   "type": "object",
   "description": "An event generated when a new version of an app is uploaded to Google Play. Notifications are sent for new public versions only: alpha, beta, or canary versions do not generate this event. To fetch up-to-date version history for an app, use Products.Get on the EMM API.",
   "properties": {
    "productId": {
     "type": "string",
     "description": "The id of the product (e.g. \"app:com.google.android.gm\") that was updated. This field will always be present."
    }
   }
  },
  "AppVersion": {
   "id": "AppVersion",
   "type": "object",
   "description": "This represents a single version of the app.",
   "properties": {
    "versionCode": {
     "type": "integer",
     "description": "Unique increasing identifier for the app version.",
     "format": "int32"
    },
    "versionString": {
     "type": "string",
     "description": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\")."
    }
   }
  },
  "ApprovalUrlInfo": {
   "id": "ApprovalUrlInfo",
   "type": "object",
   "description": "Information on an approval URL.",
   "properties": {
    "approvalUrl": {
     "type": "string",
     "description": "A URL that displays a product's permissions and that can also be used to approve the product with the Products.approve call."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#approvalUrlInfo\".",
     "default": "androidenterprise#approvalUrlInfo"
    }
   }
  },
  "AuthenticationToken": {
   "id": "AuthenticationToken",
   "type": "object",
   "description": "An AuthenticationToken is used by the EMM's device policy client on a device to provision the given EMM-managed user on that device.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#authenticationToken\".",
     "default": "androidenterprise#authenticationToken"
    },
    "token": {
     "type": "string",
     "description": "The authentication token to be passed to the device policy client on the device where it can be used to provision the account for which this token was generated."
    }
   }
  },
  "Device": {
   "id": "Device",
   "type": "object",
   "description": "A Devices resource represents a mobile device managed by the EMM and belonging to a specific enterprise user.\n\nThis collection cannot be modified via the API. It is automatically populated as devices are set up to be managed.",
   "properties": {
    "androidId": {
     "type": "string",
     "description": "The Google Play Services Android ID for the device encoded as a lowercase hex string. For example, \"123456789abcdef0\"."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#device\".",
     "default": "androidenterprise#device"
    },
    "managementType": {
     "type": "string",
     "description": "Identifies the extent to which the device is controlled by a managed Google Play EMM in various deployment configurations.\n\nPossible values include: \n- \"managedDevice\", a device that has the EMM's device policy controller (DPC) as the device owner. \n- \"managedProfile\", a device that has a profile managed by the DPC (DPC is profile owner) in addition to a separate, personal profile that is unavailable to the DPC. \n- \"containerApp\", no longer used (deprecated). \n- \"unmanagedProfile\", a device that has been allowed (by the domain's admin, using the Admin Console to enable the privilege) to use managed Google Play, but the profile is itself not owned by a DPC."
    }
   }
  },
  "DeviceState": {
   "id": "DeviceState",
   "type": "object",
   "description": "The state of a user's device, as accessed by the getState and setState methods on device resources.",
   "properties": {
    "accountState": {
     "type": "string",
     "description": "The state of the Google account on the device. \"enabled\" indicates that the Google account on the device can be used to access Google services (including Google Play), while \"disabled\" means that it cannot. A new device is initially in the \"disabled\" state."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#deviceState\".",
     "default": "androidenterprise#deviceState"
    }
   }
  },
  "DevicesListResponse": {
   "id": "DevicesListResponse",
   "type": "object",
   "description": "The device resources for the user.",
   "properties": {
    "device": {
     "type": "array",
     "description": "A managed device.",
     "items": {
      "$ref": "Device"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#devicesListResponse\".",
     "default": "androidenterprise#devicesListResponse"
    }
   }
  },
  "Enterprise": {
   "id": "Enterprise",
   "type": "object",
   "description": "An Enterprises resource represents the binding between an EMM and a specific organization. That binding can be instantiated in one of two different ways using this API as follows: \n- For Google managed domain customers, the process involves using Enterprises.enroll and Enterprises.setAccount (in conjunction with artifacts obtained from the Admin console and the Google API Console) and submitted to the EMM through a more-or-less manual process. \n- For managed Google Play Accounts customers, the process involves using Enterprises.generateSignupUrl and Enterprises.completeSignup in conjunction with the managed Google Play sign-up UI (Google-provided mechanism) to create the binding without manual steps. As an EMM, you can support either or both approaches in your EMM console. See Create an Enterprise for details.",
   "properties": {
    "administrator": {
     "type": "array",
     "description": "Admins of the enterprise. This is only supported for enterprises created via the EMM-initiated flow.",
     "items": {
      "$ref": "Administrator"
     }
    },
    "id": {
     "type": "string",
     "description": "The unique ID for the enterprise."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#enterprise\".",
     "default": "androidenterprise#enterprise"
    },
    "name": {
     "type": "string",
     "description": "The name of the enterprise, for example, \"Example, Inc\"."
    },
    "primaryDomain": {
     "type": "string",
     "description": "The enterprise's primary domain, such as \"example.com\".",
     "annotations": {
      "required": [
       "androidenterprise.enterprises.insert"
      ]
     }
    }
   }
  },
  "EnterpriseAccount": {
   "id": "EnterpriseAccount",
   "type": "object",
   "description": "A service account that can be used to authenticate as the enterprise to API calls that require such authentication.",
   "properties": {
    "accountEmail": {
     "type": "string",
     "description": "The email address of the service account."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#enterpriseAccount\".",
     "default": "androidenterprise#enterpriseAccount"
    }
   }
  },
  "EnterprisesListResponse": {
   "id": "EnterprisesListResponse",
   "type": "object",
   "description": "The matching enterprise resources.",
   "properties": {
    "enterprise": {
     "type": "array",
     "description": "An enterprise.",
     "items": {
      "$ref": "Enterprise"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#enterprisesListResponse\".",
     "default": "androidenterprise#enterprisesListResponse"
    }
   }
  },
  "EnterprisesSendTestPushNotificationResponse": {
   "id": "EnterprisesSendTestPushNotificationResponse",
   "type": "object",
   "properties": {
    "messageId": {
     "type": "string",
     "description": "The message ID of the test push notification that was sent."
    },
    "topicName": {
     "type": "string",
     "description": "The name of the Cloud Pub/Sub topic to which notifications for this enterprise's enrolled account will be sent."
    }
   }
  },
  "Entitlement": {
   "id": "Entitlement",
   "type": "object",
   "description": "The presence of an Entitlements resource indicates that a user has the right to use a particular app. Entitlements are user specific, not device specific. This allows a user with an entitlement to an app to install the app on all their devices. It's also possible for a user to hold an entitlement to an app without installing the app on any device.\n\nThe API can be used to create an entitlement. As an option, you can also use the API to trigger the installation of an app on all a user's managed devices at the same time the entitlement is created.\n\nIf the app is free, creating the entitlement also creates a group license for that app. For paid apps, creating the entitlement consumes one license, and that license remains consumed until the entitlement is removed. If the enterprise hasn't purchased enough licenses, then no entitlement is created and the installation fails. An entitlement is also not created for an app if the app requires permissions that the enterprise hasn't accepted.\n\nIf an entitlement is deleted, the app may be uninstalled from a user's device. As a best practice, uninstall the app by calling  Installs.delete() before deleting the entitlement.\n\nEntitlements for apps that a user pays for on an unmanaged profile have \"userPurchase\" as the entitlement reason. These entitlements cannot be removed via the API.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#entitlement\".",
     "default": "androidenterprise#entitlement"
    },
    "productId": {
     "type": "string",
     "description": "The ID of the product that the entitlement is for. For example, \"app:com.google.android.gm\"."
    },
    "reason": {
     "type": "string",
     "description": "The reason for the entitlement. For example, \"free\" for free apps. This property is temporary: it will be replaced by the acquisition kind field of group licenses."
    }
   }
  },
  "EntitlementsListResponse": {
   "id": "EntitlementsListResponse",
   "type": "object",
   "description": "The entitlement resources for the user.",
   "properties": {
    "entitlement": {
     "type": "array",
     "description": "An entitlement of a user to a product (e.g. an app). For example, a free app that they have installed, or a paid app that they have been allocated a license to.",
     "items": {
      "$ref": "Entitlement"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#entitlementsListResponse\".",
     "default": "androidenterprise#entitlementsListResponse"
    }
   }
  },
  "GroupLicense": {
   "id": "GroupLicense",
   "type": "object",
   "description": "Group license objects allow you to keep track of licenses (called entitlements) for both free and paid apps. For a free app, a group license is created when an enterprise admin first approves the product in Google Play or when the first entitlement for the product is created for a user via the API. For a paid app, a group license object is only created when an enterprise admin purchases the product in Google Play for the first time.\n\nUse the API to query group licenses. A Grouplicenses resource includes the total number of licenses purchased (paid apps only) and the total number of licenses currently in use. Iyn other words, the total number of Entitlements that exist for the product.\n\nOnly one group license object is created per product and group license objects are never deleted. If a product is unapproved, its group license remains. This allows enterprise admins to keep track of any remaining entitlements for the product.",
   "properties": {
    "acquisitionKind": {
     "type": "string",
     "description": "How this group license was acquired. \"bulkPurchase\" means that this Grouplicenses resource was created because the enterprise purchased licenses for this product; otherwise, the value is \"free\" (for free products)."
    },
    "approval": {
     "type": "string",
     "description": "Whether the product to which this group license relates is currently approved by the enterprise. Products are approved when a group license is first created, but this approval may be revoked by an enterprise admin via Google Play. Unapproved products will not be visible to end users in collections, and new entitlements to them should not normally be created."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicense\".",
     "default": "androidenterprise#groupLicense"
    },
    "numProvisioned": {
     "type": "integer",
     "description": "The total number of provisioned licenses for this product. Returned by read operations, but ignored in write operations.",
     "format": "int32"
    },
    "numPurchased": {
     "type": "integer",
     "description": "The number of purchased licenses (possibly in multiple purchases). If this field is omitted, then there is no limit on the number of licenses that can be provisioned (for example, if the acquisition kind is \"free\").",
     "format": "int32"
    },
    "permissions": {
     "type": "string",
     "description": "The permission approval status of the product. This field is only set if the product is approved. Possible states are: \n- \"currentApproved\", the current set of permissions is approved, but additional permissions will require the administrator to reapprove the product (If the product was approved without specifying the approved permissions setting, then this is the default behavior.), \n- \"needsReapproval\", the product has unapproved permissions. No additional product licenses can be assigned until the product is reapproved, \n- \"allCurrentAndFutureApproved\", the current permissions are approved and any future permission updates will be automatically approved without administrator review."
    },
    "productId": {
     "type": "string",
     "description": "The ID of the product that the license is for. For example, \"app:com.google.android.gm\"."
    }
   }
  },
  "GroupLicenseUsersListResponse": {
   "id": "GroupLicenseUsersListResponse",
   "type": "object",
   "description": "The user resources for the group license.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicenseUsersListResponse\".",
     "default": "androidenterprise#groupLicenseUsersListResponse"
    },
    "user": {
     "type": "array",
     "description": "A user of an enterprise.",
     "items": {
      "$ref": "User"
     }
    }
   }
  },
  "GroupLicensesListResponse": {
   "id": "GroupLicensesListResponse",
   "type": "object",
   "description": "The grouplicense resources for the enterprise.",
   "properties": {
    "groupLicense": {
     "type": "array",
     "description": "A group license for a product approved for use in the enterprise.",
     "items": {
      "$ref": "GroupLicense"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicensesListResponse\".",
     "default": "androidenterprise#groupLicensesListResponse"
    }
   }
  },
  "Install": {
   "id": "Install",
   "type": "object",
   "description": "The existence of an Installs resource indicates that an app is installed on a particular device (or that an install is pending).\n\nThe API can be used to create an install resource using the update method. This triggers the actual install of the app on the device. If the user does not already have an entitlement for the app, then an attempt is made to create one. If this fails (for example, because the app is not free and there is no available license), then the creation of the install fails.\n\nThe API can also be used to update an installed app. If the update method is used on an existing install, then the app will be updated to the latest available version.\n\nNote that it is not possible to force the installation of a specific version of an app: the version code is read-only.\n\nIf a user installs an app themselves (as permitted by the enterprise), then again an install resource and possibly an entitlement resource are automatically created.\n\nThe API can also be used to delete an install resource, which triggers the removal of the app from the device. Note that deleting an install does not automatically remove the corresponding entitlement, even if there are no remaining installs. The install resource will also be deleted if the user uninstalls the app themselves.",
   "properties": {
    "installState": {
     "type": "string",
     "description": "Install state. The state \"installPending\" means that an install request has recently been made and download to the device is in progress. The state \"installed\" means that the app has been installed. This field is read-only."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#install\".",
     "default": "androidenterprise#install"
    },
    "productId": {
     "type": "string",
     "description": "The ID of the product that the install is for. For example, \"app:com.google.android.gm\"."
    },
    "versionCode": {
     "type": "integer",
     "description": "The version of the installed product. Guaranteed to be set only if the install state is \"installed\".",
     "format": "int32"
    }
   }
  },
  "InstallFailureEvent": {
   "id": "InstallFailureEvent",
   "type": "object",
   "description": "An event generated when an app installation failed on a device",
   "properties": {
    "deviceId": {
     "type": "string",
     "description": "The Android ID of the device. This field will always be present."
    },
    "failureDetails": {
     "type": "string",
     "description": "Additional details on the failure if applicable."
    },
    "failureReason": {
     "type": "string",
     "description": "The reason for the installation failure. This field will always be present."
    },
    "productId": {
     "type": "string",
     "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the install failure event occured. This field will always be present."
    },
    "userId": {
     "type": "string",
     "description": "The ID of the user. This field will always be present."
    }
   }
  },
  "InstallsListResponse": {
   "id": "InstallsListResponse",
   "type": "object",
   "description": "The install resources for the device.",
   "properties": {
    "install": {
     "type": "array",
     "description": "An installation of an app for a user on a specific device. The existence of an install implies that the user must have an entitlement to the app.",
     "items": {
      "$ref": "Install"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#installsListResponse\".",
     "default": "androidenterprise#installsListResponse"
    }
   }
  },
  "LocalizedText": {
   "id": "LocalizedText",
   "type": "object",
   "description": "A localized string with its locale.",
   "properties": {
    "locale": {
     "type": "string",
     "description": "The BCP47 tag for a locale. (e.g. \"en-US\", \"de\")."
    },
    "text": {
     "type": "string",
     "description": "The text localized in the associated locale."
    }
   }
  },
  "ManagedConfiguration": {
   "id": "ManagedConfiguration",
   "type": "object",
   "description": "A managed configuration resource contains the set of managed properties that have been configured for an Android app. The app's developer would have defined configurable properties in the managed configurations schema.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfiguration\".",
     "default": "androidenterprise#managedConfiguration"
    },
    "managedProperty": {
     "type": "array",
     "description": "The set of managed properties for this configuration.",
     "items": {
      "$ref": "ManagedProperty"
     }
    },
    "productId": {
     "type": "string",
     "description": "The ID of the product that the managed configuration is for, e.g. \"app:com.google.android.gm\"."
    }
   }
  },
  "ManagedConfigurationsForDeviceListResponse": {
   "id": "ManagedConfigurationsForDeviceListResponse",
   "type": "object",
   "description": "The managed configuration resources for the device.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfigurationsForDeviceListResponse\".",
     "default": "androidenterprise#managedConfigurationsForDeviceListResponse"
    },
    "managedConfigurationForDevice": {
     "type": "array",
     "description": "A managed configuration for an app on a specific device.",
     "items": {
      "$ref": "ManagedConfiguration"
     }
    }
   }
  },
  "ManagedConfigurationsForUserListResponse": {
   "id": "ManagedConfigurationsForUserListResponse",
   "type": "object",
   "description": "The managed configuration resources for the user.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfigurationsForUserListResponse\".",
     "default": "androidenterprise#managedConfigurationsForUserListResponse"
    },
    "managedConfigurationForUser": {
     "type": "array",
     "description": "A managed configuration for an app for a specific user.",
     "items": {
      "$ref": "ManagedConfiguration"
     }
    }
   }
  },
  "ManagedProperty": {
   "id": "ManagedProperty",
   "type": "object",
   "description": "A managed property of a managed configuration. The property must match one of the properties in the app restrictions schema of the product. Exactly one of the value fields must be populated, and it must match the property's type in the app restrictions schema.",
   "properties": {
    "key": {
     "type": "string",
     "description": "The unique key that identifies the property."
    },
    "valueBool": {
     "type": "boolean",
     "description": "The boolean value - this will only be present if type of the property is bool."
    },
    "valueBundle": {
     "$ref": "ManagedPropertyBundle",
     "description": "The bundle of managed properties - this will only be present if type of the property is bundle."
    },
    "valueBundleArray": {
     "type": "array",
     "description": "The list of bundles of properties - this will only be present if type of the property is bundle_array.",
     "items": {
      "$ref": "ManagedPropertyBundle"
     }
    },
    "valueInteger": {
     "type": "integer",
     "description": "The integer value - this will only be present if type of the property is integer.",
     "format": "int32"
    },
    "valueString": {
     "type": "string",
     "description": "The string value - this will only be present if type of the property is string, choice or hidden."
    },
    "valueStringArray": {
     "type": "array",
     "description": "The list of string values - this will only be present if type of the property is multiselect.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ManagedPropertyBundle": {
   "id": "ManagedPropertyBundle",
   "type": "object",
   "description": "A bundle of managed properties.",
   "properties": {
    "managedProperty": {
     "type": "array",
     "description": "The list of managed properties.",
     "items": {
      "$ref": "ManagedProperty"
     }
    }
   }
  },
  "NewDeviceEvent": {
   "id": "NewDeviceEvent",
   "type": "object",
   "description": "An event generated when a new device is ready to be managed.",
   "properties": {
    "deviceId": {
     "type": "string",
     "description": "The Android ID of the device. This field will always be present."
    },
    "managementType": {
     "type": "string",
     "description": "Identifies the extent to which the device is controlled by an Android EMM in various deployment configurations.\n\nPossible values include: \n- \"managedDevice\", a device where the DPC is set as device owner, \n- \"managedProfile\", a device where the DPC is set as profile owner."
    },
    "userId": {
     "type": "string",
     "description": "The ID of the user. This field will always be present."
    }
   }
  },
  "NewPermissionsEvent": {
   "id": "NewPermissionsEvent",
   "type": "object",
   "description": "An event generated when new permissions are added to an app.",
   "properties": {
    "approvedPermissions": {
     "type": "array",
     "description": "The set of permissions that the enterprise admin has already approved for this application. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
     "items": {
      "type": "string"
     }
    },
    "productId": {
     "type": "string",
     "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which new permissions were added. This field will always be present."
    },
    "requestedPermissions": {
     "type": "array",
     "description": "The set of permissions that the app is currently requesting. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Notification": {
   "id": "Notification",
   "type": "object",
   "description": "A notification of one event relating to an enterprise.",
   "properties": {
    "appRestrictionsSchemaChangeEvent": {
     "$ref": "AppRestrictionsSchemaChangeEvent",
     "description": "Notifications about new app restrictions schema changes."
    },
    "appUpdateEvent": {
     "$ref": "AppUpdateEvent",
     "description": "Notifications about app updates."
    },
    "enterpriseId": {
     "type": "string",
     "description": "The ID of the enterprise for which the notification is sent. This will always be present."
    },
    "installFailureEvent": {
     "$ref": "InstallFailureEvent",
     "description": "Notifications about an app installation failure."
    },
    "newDeviceEvent": {
     "$ref": "NewDeviceEvent",
     "description": "Notifications about new devices."
    },
    "newPermissionsEvent": {
     "$ref": "NewPermissionsEvent",
     "description": "Notifications about new app permissions."
    },
    "notificationType": {
     "type": "string",
     "description": "Type of the notification."
    },
    "productApprovalEvent": {
     "$ref": "ProductApprovalEvent",
     "description": "Notifications about changes to a product's approval status."
    },
    "productAvailabilityChangeEvent": {
     "$ref": "ProductAvailabilityChangeEvent",
     "description": "Notifications about product availability changes."
    },
    "timestampMillis": {
     "type": "string",
     "description": "The time when the notification was published in milliseconds since 1970-01-01T00:00:00Z. This will always be present.",
     "format": "int64"
    }
   }
  },
  "NotificationSet": {
   "id": "NotificationSet",
   "type": "object",
   "description": "A resource returned by the PullNotificationSet API, which contains a collection of notifications for enterprises associated with the service account authenticated for the request.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#notificationSet\".",
     "default": "androidenterprise#notificationSet"
    },
    "notification": {
     "type": "array",
     "description": "The notifications received, or empty if no notifications are present.",
     "items": {
      "$ref": "Notification"
     }
    },
    "notificationSetId": {
     "type": "string",
     "description": "The notification set ID, required to mark the notification as received with the Enterprises.AcknowledgeNotification API. This will be omitted if no notifications are present."
    }
   }
  },
  "PageInfo": {
   "id": "PageInfo",
   "type": "object",
   "properties": {
    "resultPerPage": {
     "type": "integer",
     "format": "int32"
    },
    "startIndex": {
     "type": "integer",
     "format": "int32"
    },
    "totalResults": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "Permission": {
   "id": "Permission",
   "type": "object",
   "description": "A Permissions resource represents some extra capability, to be granted to an Android app, which requires explicit consent. An enterprise admin must consent to these permissions on behalf of their users before an entitlement for the app can be created.\n\nThe permissions collection is read-only. The information provided for each permission (localized name and description) is intended to be used in the MDM user interface when obtaining consent from the enterprise.",
   "properties": {
    "description": {
     "type": "string",
     "description": "A longer description of the Permissions resource, giving more details of what it affects."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#permission\".",
     "default": "androidenterprise#permission"
    },
    "name": {
     "type": "string",
     "description": "The name of the permission."
    },
    "permissionId": {
     "type": "string",
     "description": "An opaque string uniquely identifying the permission."
    }
   }
  },
  "Product": {
   "id": "Product",
   "type": "object",
   "description": "A Products resource represents an app in the Google Play store that is available to at least some users in the enterprise. (Some apps are restricted to a single enterprise, and no information about them is made available outside that enterprise.)\n\nThe information provided for each product (localized name, icon, link to the full Google Play details page) is intended to allow a basic representation of the product within an EMM user interface.",
   "properties": {
    "appVersion": {
     "type": "array",
     "description": "App versions currently available for this product.",
     "items": {
      "$ref": "AppVersion"
     }
    },
    "authorName": {
     "type": "string",
     "description": "The name of the author of the product (for example, the app developer)."
    },
    "detailsUrl": {
     "type": "string",
     "description": "A link to the (consumer) Google Play details page for the product."
    },
    "distributionChannel": {
     "type": "string",
     "description": "How and to whom the package is made available. The value publicGoogleHosted means that the package is available through the Play store and not restricted to a specific enterprise. The value privateGoogleHosted means that the package is a private app (restricted to an enterprise) but hosted by Google. The value privateSelfHosted means that the package is a private app (restricted to an enterprise) and is privately hosted."
    },
    "iconUrl": {
     "type": "string",
     "description": "A link to an image that can be used as an icon for the product. This image is suitable for use at up to 512px x 512px."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#product\".",
     "default": "androidenterprise#product"
    },
    "productId": {
     "type": "string",
     "description": "A string of the form app:\u003cpackage name\u003e. For example, app:com.google.android.gm represents the Gmail app."
    },
    "productPricing": {
     "type": "string",
     "description": "Whether this product is free, free with in-app purchases, or paid. If the pricing is unknown, this means the product is not generally available anymore (even though it might still be available to people who own it)."
    },
    "requiresContainerApp": {
     "type": "boolean",
     "description": "Deprecated."
    },
    "signingCertificate": {
     "$ref": "ProductSigningCertificate",
     "description": "The certificate used to sign this product."
    },
    "smallIconUrl": {
     "type": "string",
     "description": "A link to a smaller image that can be used as an icon for the product. This image is suitable for use at up to 128px x 128px."
    },
    "title": {
     "type": "string",
     "description": "The name of the product."
    },
    "workDetailsUrl": {
     "type": "string",
     "description": "A link to the managed Google Play details page for the product, for use by an Enterprise admin."
    }
   }
  },
  "ProductApprovalEvent": {
   "id": "ProductApprovalEvent",
   "type": "object",
   "description": "An event generated when a product's approval status is changed.",
   "properties": {
    "approved": {
     "type": "string",
     "description": "Whether the product was approved or unapproved. This field will always be present."
    },
    "productId": {
     "type": "string",
     "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the approval status has changed. This field will always be present."
    }
   }
  },
  "ProductAvailabilityChangeEvent": {
   "id": "ProductAvailabilityChangeEvent",
   "type": "object",
   "description": "An event generated whenever a product's availability changes.",
   "properties": {
    "availabilityStatus": {
     "type": "string",
     "description": "The new state of the product. This field will always be present."
    },
    "productId": {
     "type": "string",
     "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the product availability changed. This field will always be present."
    }
   }
  },
  "ProductPermission": {
   "id": "ProductPermission",
   "type": "object",
   "description": "A product permissions resource represents the set of permissions required by a specific app and whether or not they have been accepted by an enterprise admin.\n\nThe API can be used to read the set of permissions, and also to update the set to indicate that permissions have been accepted.",
   "properties": {
    "permissionId": {
     "type": "string",
     "description": "An opaque string uniquely identifying the permission."
    },
    "state": {
     "type": "string",
     "description": "Whether the permission has been accepted or not."
    }
   }
  },
  "ProductPermissions": {
   "id": "ProductPermissions",
   "type": "object",
   "description": "Information about the permissions required by a specific app and whether they have been accepted by the enterprise.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#productPermissions\".",
     "default": "androidenterprise#productPermissions"
    },
    "permission": {
     "type": "array",
     "description": "The permissions required by the app.",
     "items": {
      "$ref": "ProductPermission"
     }
    },
    "productId": {
     "type": "string",
     "description": "The ID of the app that the permissions relate to, e.g. \"app:com.google.android.gm\"."
    }
   }
  },
  "ProductSet": {
   "id": "ProductSet",
   "type": "object",
   "description": "A set of products.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#productSet\".",
     "default": "androidenterprise#productSet"
    },
    "productId": {
     "type": "array",
     "description": "The list of product IDs making up the set of products.",
     "items": {
      "type": "string"
     }
    },
    "productSetBehavior": {
     "type": "string",
     "description": "The interpretation of this product set. \"unknown\" should never be sent and is ignored if received. \"whitelist\" means that the user is entitled to access the product set. \"includeAll\" means that all products are accessible, including products that are approved, products with revoked approval, and products that have never been approved. \"allApproved\" means that the user is entitled to access all products that are approved for the enterprise. If the value is \"allApproved\" or \"includeAll\", the productId field is ignored. If no value is provided, it is interpreted as \"whitelist\" for backwards compatibility. Further \"allApproved\" or \"includeAll\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks for Android app. Use ProductVisibility to enable \"alpha\" or \"beta\" tracks per user."
    }
   }
  },
  "ProductSigningCertificate": {
   "id": "ProductSigningCertificate",
   "type": "object",
   "properties": {
    "certificateHashSha1": {
     "type": "string",
     "description": "The base64 urlsafe encoded SHA1 hash of the certificate. (This field is deprecated in favor of SHA2-256. It should not be used and may be removed at any time.)"
    },
    "certificateHashSha256": {
     "type": "string",
     "description": "The base64 urlsafe encoded SHA2-256 hash of the certificate."
    }
   }
  },
  "ProductsApproveRequest": {
   "id": "ProductsApproveRequest",
   "type": "object",
   "properties": {
    "approvalUrlInfo": {
     "$ref": "ApprovalUrlInfo",
     "description": "The approval URL that was shown to the user. Only the permissions shown to the user with that URL will be accepted, which may not be the product's entire set of permissions. For example, the URL may only display new permissions from an update after the product was approved, or not include new permissions if the product was updated since the URL was generated."
    },
    "approvedPermissions": {
     "type": "string",
     "description": "Sets how new permission requests for the product are handled. \"allPermissions\" automatically approves all current and future permissions for the product. \"currentPermissionsOnly\" approves the current set of permissions for the product, but any future permissions added through updates will require manual reapproval. If not specified, only the current set of permissions will be approved."
    }
   }
  },
  "ProductsGenerateApprovalUrlResponse": {
   "id": "ProductsGenerateApprovalUrlResponse",
   "type": "object",
   "properties": {
    "url": {
     "type": "string",
     "description": "A URL that can be rendered in an iframe to display the permissions (if any) of a product. This URL can be used to approve the product only once and only within 24 hours of being generated, using the Products.approve call. If the product is currently unapproved and has no permissions, this URL will point to an empty page. If the product is currently approved, a URL will only be generated if that product has added permissions since it was last approved, and the URL will only display those new permissions that have not yet been accepted."
    }
   }
  },
  "ProductsListResponse": {
   "id": "ProductsListResponse",
   "type": "object",
   "description": "The matching products.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#productsListResponse\".",
     "default": "androidenterprise#productsListResponse"
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "General pagination information."
    },
    "product": {
     "type": "array",
     "description": "Information about a product (e.g. an app) in the Google Play store, for display to an enterprise admin.",
     "items": {
      "$ref": "Product"
     }
    },
    "tokenPagination": {
     "$ref": "TokenPagination",
     "description": "Pagination information for token pagination."
    }
   }
  },
  "ServiceAccount": {
   "id": "ServiceAccount",
   "type": "object",
   "description": "A service account identity, including the name and credentials that can be used to authenticate as the service account.",
   "properties": {
    "key": {
     "$ref": "ServiceAccountKey",
     "description": "Credentials that can be used to authenticate as this ServiceAccount."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#serviceAccount\".",
     "default": "androidenterprise#serviceAccount"
    },
    "name": {
     "type": "string",
     "description": "The account name of the service account, in the form of an email address. Assigned by the server."
    }
   }
  },
  "ServiceAccountKey": {
   "id": "ServiceAccountKey",
   "type": "object",
   "description": "Credentials that can be used to authenticate as a service account.",
   "properties": {
    "data": {
     "type": "string",
     "description": "The body of the private key credentials file, in string format. This is only populated when the ServiceAccountKey is created, and is not stored by Google."
    },
    "id": {
     "type": "string",
     "description": "An opaque, unique identifier for this ServiceAccountKey. Assigned by the server."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#serviceAccountKey\".",
     "default": "androidenterprise#serviceAccountKey"
    },
    "publicData": {
     "type": "string",
     "description": "Public key data for the credentials file. This is an X.509 cert. If you are using the googleCredentials key type, this is identical to the cert that can be retrieved by using the X.509 cert url inside of the credentials file."
    },
    "type": {
     "type": "string",
     "description": "The file format of the generated key data.",
     "annotations": {
      "required": [
       "androidenterprise.serviceaccountkeys.insert"
      ]
     }
    }
   }
  },
  "ServiceAccountKeysListResponse": {
   "id": "ServiceAccountKeysListResponse",
   "type": "object",
   "properties": {
    "serviceAccountKey": {
     "type": "array",
     "description": "The service account credentials.",
     "items": {
      "$ref": "ServiceAccountKey"
     }
    }
   }
  },
  "SignupInfo": {
   "id": "SignupInfo",
   "type": "object",
   "description": "A resource returned by the GenerateSignupUrl API, which contains the Signup URL and Completion Token.",
   "properties": {
    "completionToken": {
     "type": "string",
     "description": "An opaque token that will be required, along with the Enterprise Token, for obtaining the enterprise resource from CompleteSignup."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#signupInfo\".",
     "default": "androidenterprise#signupInfo"
    },
    "url": {
     "type": "string",
     "description": "A URL under which the Admin can sign up for an enterprise. The page pointed to cannot be rendered in an iframe."
    }
   }
  },
  "StoreCluster": {
   "id": "StoreCluster",
   "type": "object",
   "description": "Definition of a managed Google Play store cluster, a list of products displayed as part of a store page.",
   "properties": {
    "id": {
     "type": "string",
     "description": "Unique ID of this cluster. Assigned by the server. Immutable once assigned."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storeCluster\".",
     "default": "androidenterprise#storeCluster"
    },
    "name": {
     "type": "array",
     "description": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry.",
     "items": {
      "$ref": "LocalizedText"
     }
    },
    "orderInPage": {
     "type": "string",
     "description": "String (US-ASCII only) used to determine order of this cluster within the parent page's elements. Page elements are sorted in lexicographic order of this field. Duplicated values are allowed, but ordering between elements with duplicate order is undefined.\n\nThe value of this field is never visible to a user, it is used solely for the purpose of defining an ordering. Maximum length is 256 characters."
    },
    "productId": {
     "type": "array",
     "description": "List of products in the order they are displayed in the cluster. There should not be duplicates within a cluster.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "StoreLayout": {
   "id": "StoreLayout",
   "type": "object",
   "description": "General setting for the managed Google Play store layout, currently only specifying the page to display the first time the store is opened.",
   "properties": {
    "homepageId": {
     "type": "string",
     "description": "The ID of the store page to be used as the homepage. The homepage is the first page shown in the managed Google Play Store.\n\nNot specifying a homepage is equivalent to setting the store layout type to \"basic\"."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayout\".",
     "default": "androidenterprise#storeLayout"
    },
    "storeLayoutType": {
     "type": "string",
     "description": "The store layout type. By default, this value is set to \"basic\" if the homepageId field is not set, and to \"custom\" otherwise. If set to \"basic\", the layout will consist of all approved apps that have been whitelisted for the user."
    }
   }
  },
  "StoreLayoutClustersListResponse": {
   "id": "StoreLayoutClustersListResponse",
   "type": "object",
   "description": "The store page resources for the enterprise.",
   "properties": {
    "cluster": {
     "type": "array",
     "description": "A store cluster of an enterprise.",
     "items": {
      "$ref": "StoreCluster"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayoutClustersListResponse\".",
     "default": "androidenterprise#storeLayoutClustersListResponse"
    }
   }
  },
  "StoreLayoutPagesListResponse": {
   "id": "StoreLayoutPagesListResponse",
   "type": "object",
   "description": "The store page resources for the enterprise.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayoutPagesListResponse\".",
     "default": "androidenterprise#storeLayoutPagesListResponse"
    },
    "page": {
     "type": "array",
     "description": "A store page of an enterprise.",
     "items": {
      "$ref": "StorePage"
     }
    }
   }
  },
  "StorePage": {
   "id": "StorePage",
   "type": "object",
   "description": "Definition of a managed Google Play store page, made of a localized name and links to other pages. A page also contains clusters defined as a subcollection.",
   "properties": {
    "id": {
     "type": "string",
     "description": "Unique ID of this page. Assigned by the server. Immutable once assigned."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storePage\".",
     "default": "androidenterprise#storePage"
    },
    "link": {
     "type": "array",
     "description": "Ordered list of pages a user should be able to reach from this page. The pages must exist, must not be this page, and once a link is created the page linked to cannot be deleted until all links to it are removed. It is recommended that the basic pages are created first, before adding the links between pages.\n\nNo attempt is made to verify that all pages are reachable from the homepage.",
     "items": {
      "type": "string"
     }
    },
    "name": {
     "type": "array",
     "description": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry.",
     "items": {
      "$ref": "LocalizedText"
     }
    }
   }
  },
  "TokenPagination": {
   "id": "TokenPagination",
   "type": "object",
   "properties": {
    "nextPageToken": {
     "type": "string"
    },
    "previousPageToken": {
     "type": "string"
    }
   }
  },
  "User": {
   "id": "User",
   "type": "object",
   "description": "A Users resource represents an account associated with an enterprise. The account may be specific to a device or to an individual user (who can then use the account across multiple devices). The account may provide access to managed Google Play only, or to other Google services, depending on the identity model: \n- The Google managed domain identity model requires synchronization to Google account sources (via primaryEmail). \n- The managed Google Play Accounts identity model provides a dynamic means for enterprises to create user or device accounts as needed. These accounts provide access to managed Google Play.",
   "properties": {
    "accountIdentifier": {
     "type": "string",
     "description": "A unique identifier you create for this user, such as \"user342\" or \"asset#44418\". Do not use personally identifiable information (PII) for this property. Must always be set for EMM-managed users. Not set for Google-managed users.",
     "annotations": {
      "required": [
       "androidenterprise.users.insert"
      ]
     }
    },
    "accountType": {
     "type": "string",
     "description": "The type of account that this user represents. A userAccount can be installed on multiple devices, but a deviceAccount is specific to a single device. An EMM-managed user (emmManaged) can be either type (userAccount, deviceAccount), but a Google-managed user (googleManaged) is always a userAccount.",
     "annotations": {
      "required": [
       "androidenterprise.users.insert"
      ]
     }
    },
    "displayName": {
     "type": "string",
     "description": "The name that will appear in user interfaces. Setting this property is optional when creating EMM-managed users. If you do set this property, use something generic about the organization (such as \"Example, Inc.\") or your name (as EMM). Not used for Google-managed user accounts."
    },
    "id": {
     "type": "string",
     "description": "The unique ID for the user."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#user\".",
     "default": "androidenterprise#user"
    },
    "managementType": {
     "type": "string",
     "description": "The entity that manages the user. With googleManaged users, the source of truth is Google so EMMs have to make sure a Google Account exists for the user. With emmManaged users, the EMM is in charge."
    },
    "primaryEmail": {
     "type": "string",
     "description": "The user's primary email address, for example, \"jsmith@example.com\". Will always be set for Google managed users and not set for EMM managed users."
    }
   }
  },
  "UserToken": {
   "id": "UserToken",
   "type": "object",
   "description": "A UserToken is used by a user when setting up a managed device or profile with their managed Google Play account on a device. When the user enters their email address and token (activation code) the appropriate EMM app can be automatically downloaded.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#userToken\".",
     "default": "androidenterprise#userToken"
    },
    "token": {
     "type": "string",
     "description": "The token (activation code) to be entered by the user. This consists of a sequence of decimal digits. Note that the leading digit may be 0."
    },
    "userId": {
     "type": "string",
     "description": "The unique ID for the user."
    }
   }
  },
  "UsersListResponse": {
   "id": "UsersListResponse",
   "type": "object",
   "description": "The matching user resources.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#usersListResponse\".",
     "default": "androidenterprise#usersListResponse"
    },
    "user": {
     "type": "array",
     "description": "A user of an enterprise.",
     "items": {
      "$ref": "User"
     }
    }
   }
  }
 },
 "resources": {
  "devices": {
   "methods": {
    "get": {
     "id": "androidenterprise.devices.get",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
     "httpMethod": "GET",
     "description": "Retrieves the details of a device.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId"
     ],
     "response": {
      "$ref": "Device"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "getState": {
     "id": "androidenterprise.devices.getState",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
     "httpMethod": "GET",
     "description": "Retrieves whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId"
     ],
     "response": {
      "$ref": "DeviceState"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "list": {
     "id": "androidenterprise.devices.list",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices",
     "httpMethod": "GET",
     "description": "Retrieves the IDs of all of a user's devices.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId"
     ],
     "response": {
      "$ref": "DevicesListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "setState": {
     "id": "androidenterprise.devices.setState",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
     "httpMethod": "PUT",
     "description": "Sets whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId"
     ],
     "request": {
      "$ref": "DeviceState"
     },
     "response": {
      "$ref": "DeviceState"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    }
   }
  },
  "enterprises": {
   "methods": {
    "acknowledgeNotificationSet": {
     "id": "androidenterprise.enterprises.acknowledgeNotificationSet",
     "path": "enterprises/acknowledgeNotificationSet",
     "httpMethod": "POST",
     "description": "Acknowledges notifications that were received from Enterprises.PullNotificationSet to prevent subsequent calls from returning the same notifications.",
     "parameters": {
      "notificationSetId": {
       "type": "string",
       "description": "The notification set ID as returned by Enterprises.PullNotificationSet. This must be provided.",
       "location": "query"
      }
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "completeSignup": {
     "id": "androidenterprise.enterprises.completeSignup",
     "path": "enterprises/completeSignup",
     "httpMethod": "POST",
     "description": "Completes the signup flow, by specifying the Completion token and Enterprise token. This request must not be called multiple times for a given Enterprise Token.",
     "parameters": {
      "completionToken": {
       "type": "string",
       "description": "The Completion token initially returned by GenerateSignupUrl.",
       "location": "query"
      },
      "enterpriseToken": {
       "type": "string",
       "description": "The Enterprise token appended to the Callback URL.",
       "location": "query"
      }
     },
     "response": {
      "$ref": "Enterprise"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "createWebToken": {
     "id": "androidenterprise.enterprises.createWebToken",
     "path": "enterprises/{enterpriseId}/createWebToken",
     "httpMethod": "POST",
     "description": "Returns a unique token to access an embeddable UI. To generate a web UI, pass the generated token into the managed Google Play javascript API. Each token may only be used to start one UI session. See the javascript API documentation for further information.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "request": {
      "$ref": "AdministratorWebTokenSpec"
     },
     "response": {
      "$ref": "AdministratorWebToken"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "delete": {
     "id": "androidenterprise.enterprises.delete",
     "path": "enterprises/{enterpriseId}",
     "httpMethod": "DELETE",
     "description": "Deletes the binding between the EMM and enterprise. This is now deprecated. Use this method only to unenroll customers that were previously enrolled with the insert call, then enroll them again with the enroll call.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "enroll": {
     "id": "androidenterprise.enterprises.enroll",
     "path": "enterprises/enroll",
     "httpMethod": "POST",
     "description": "Enrolls an enterprise with the calling EMM.",
     "parameters": {
      "token": {
       "type": "string",
       "description": "The token provided by the enterprise to register the EMM.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "token"
     ],
     "request": {
      "$ref": "Enterprise"
     },
     "response": {
      "$ref": "Enterprise"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "generateSignupUrl": {
     "id": "androidenterprise.enterprises.generateSignupUrl",
     "path": "enterprises/signupUrl",
     "httpMethod": "POST",
     "description": "Generates a sign-up URL.",
     "parameters": {
      "callbackUrl": {
       "type": "string",
       "description": "The callback URL to which the Admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a single query parameter to this URL named \"enterpriseToken\" which will contain an opaque token to be used for the CompleteSignup request.\nBeware that this means that the URL will be parsed, the parameter added and then a new URL formatted, i.e. there may be some minor formatting changes and, more importantly, the URL must be well-formed so that it can be parsed.",
       "location": "query"
      }
     },
     "response": {
      "$ref": "SignupInfo"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "get": {
     "id": "androidenterprise.enterprises.get",
     "path": "enterprises/{enterpriseId}",
     "httpMethod": "GET",
     "description": "Retrieves the name and domain of an enterprise.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "response": {
      "$ref": "Enterprise"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "getAndroidDevicePolicyConfig": {
     "id": "androidenterprise.enterprises.getAndroidDevicePolicyConfig",
     "path": "enterprises/{enterpriseId}/androidDevicePolicyConfig",
     "httpMethod": "GET",
     "description": "Returns the Android Device Policy config resource.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "response": {
      "$ref": "AndroidDevicePolicyConfig"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "getServiceAccount": {
     "id": "androidenterprise.enterprises.getServiceAccount",
     "path": "enterprises/{enterpriseId}/serviceAccount",
     "httpMethod": "GET",
     "description": "Returns a service account and credentials. The service account can be bound to the enterprise by calling setAccount. The service account is unique to this enterprise and EMM, and will be deleted if the enterprise is unbound. The credentials contain private key data and are not stored server-side.\n\nThis method can only be called after calling Enterprises.Enroll or Enterprises.CompleteSignup, and before Enterprises.SetAccount; at other times it will return an error.\n\nSubsequent calls after the first will generate a new, unique set of credentials, and invalidate the previously generated credentials.\n\nOnce the service account is bound to the enterprise, it can be managed using the serviceAccountKeys resource.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "keyType": {
       "type": "string",
       "description": "The type of credential to return with the service account. Required.",
       "enum": [
        "googleCredentials",
        "pkcs12"
       ],
       "enumDescriptions": [
        "",
        ""
       ],
       "location": "query"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "response": {
      "$ref": "ServiceAccount"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "getStoreLayout": {
     "id": "androidenterprise.enterprises.getStoreLayout",
     "path": "enterprises/{enterpriseId}/storeLayout",
     "httpMethod": "GET",
     "description": "Returns the store layout for the enterprise. If the store layout has not been set, returns \"basic\" as the store layout type and no homepage.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "response": {
      "$ref": "StoreLayout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "insert": {
     "id": "androidenterprise.enterprises.insert",
     "path": "enterprises",
     "httpMethod": "POST",
     "description": "Establishes the binding between the EMM and an enterprise. This is now deprecated; use enroll instead.",
     "parameters": {
      "token": {
       "type": "string",
       "description": "The token provided by the enterprise to register the EMM.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "token"
     ],
     "request": {
      "$ref": "Enterprise"
     },
     "response": {
      "$ref": "Enterprise"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "list": {
     "id": "androidenterprise.enterprises.list",
     "path": "enterprises",
     "httpMethod": "GET",
     "description": "Looks up an enterprise by domain name. This is only supported for enterprises created via the Google-initiated creation flow. Lookup of the id is not needed for enterprises created via the EMM-initiated flow since the EMM learns the enterprise ID in the callback specified in the Enterprises.generateSignupUrl call.",
     "parameters": {
      "domain": {
       "type": "string",
       "description": "The exact primary domain name of the enterprise to look up.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "domain"
     ],
     "response": {
      "$ref": "EnterprisesListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "pullNotificationSet": {
     "id": "androidenterprise.enterprises.pullNotificationSet",
     "path": "enterprises/pullNotificationSet",
     "httpMethod": "POST",
     "description": "Pulls and returns a notification set for the enterprises associated with the service account authenticated for the request. The notification set may be empty if no notification are pending.\nA notification set returned needs to be acknowledged within 20 seconds by calling Enterprises.AcknowledgeNotificationSet, unless the notification set is empty.\nNotifications that are not acknowledged within the 20 seconds will eventually be included again in the response to another PullNotificationSet request, and those that are never acknowledged will ultimately be deleted according to the Google Cloud Platform Pub/Sub system policy.\nMultiple requests might be performed concurrently to retrieve notifications, in which case the pending notifications (if any) will be split among each caller, if any are pending.\nIf no notifications are present, an empty notification list is returned. Subsequent requests may return more notifications once they become available.",
     "parameters": {
      "requestMode": {
       "type": "string",
       "description": "The request mode for pulling notifications.\nSpecifying waitForNotifications will cause the request to block and wait until one or more notifications are present, or return an empty notification list if no notifications are present after some time.\nSpeciying returnImmediately will cause the request to immediately return the pending notifications, or an empty list if no notifications are present.\nIf omitted, defaults to waitForNotifications.",
       "enum": [
        "returnImmediately",
        "waitForNotifications"
       ],
       "enumDescriptions": [
        "",
        ""
       ],
       "location": "query"
      }
     },
     "response": {
      "$ref": "NotificationSet"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "sendTestPushNotification": {
     "id": "androidenterprise.enterprises.sendTestPushNotification",
     "path": "enterprises/{enterpriseId}/sendTestPushNotification",
     "httpMethod": "POST",
     "description": "Sends a test notification to validate the EMM integration with the Google Cloud Pub/Sub service for this enterprise.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "response": {
      "$ref": "EnterprisesSendTestPushNotificationResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "setAccount": {
     "id": "androidenterprise.enterprises.setAccount",
     "path": "enterprises/{enterpriseId}/account",
     "httpMethod": "PUT",
     "description": "Sets the account that will be used to authenticate to the API as the enterprise.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "request": {
      "$ref": "EnterpriseAccount"
     },
     "response": {
      "$ref": "EnterpriseAccount"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "setAndroidDevicePolicyConfig": {
     "id": "androidenterprise.enterprises.setAndroidDevicePolicyConfig",
     "path": "enterprises/{enterpriseId}/androidDevicePolicyConfig",
     "httpMethod": "PUT",
     "description": "Sets the Android Device Policy config resource. EMM may use this method to enable or disable Android Device Policy support for the specified enterprise. To learn more about managing devices and apps with Android Device Policy, see the Android Management API.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "request": {
      "$ref": "AndroidDevicePolicyConfig"
     },
     "response": {
      "$ref": "AndroidDevicePolicyConfig"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "setStoreLayout": {
     "id": "androidenterprise.enterprises.setStoreLayout",
     "path": "enterprises/{enterpriseId}/storeLayout",
     "httpMethod": "PUT",
     "description": "Sets the store layout for the enterprise. By default, storeLayoutType is set to \"basic\" and the basic store layout is enabled. The basic layout only contains apps approved by the admin, and that have been added to the available product set for a user (using the  setAvailableProductSet call). Apps on the page are sorted in order of their product ID value. If you create a custom store layout (by setting storeLayoutType = \"custom\" and setting a homepage), the basic store layout is disabled.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "request": {
      "$ref": "StoreLayout"
     },
     "response": {
      "$ref": "StoreLayout"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "unenroll": {
     "id": "androidenterprise.enterprises.unenroll",
     "path": "enterprises/{enterpriseId}/unenroll",
     "httpMethod": "POST",
     "description": "Unenrolls an enterprise from the calling EMM.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    }
   }
  },
  "entitlements": {
   "methods": {
    "delete": {
     "id": "androidenterprise.entitlements.delete",
     "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
     "httpMethod": "DELETE",
     "description": "Removes an entitlement to an app for a user.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "entitlementId": {
       "type": "string",
       "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "entitlementId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "get": {
     "id": "androidenterprise.entitlements.get",
     "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
     "httpMethod": "GET",
     "description": "Retrieves details of an entitlement.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "entitlementId": {
       "type": "string",
       "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "entitlementId"
     ],
     "response": {
      "$ref": "Entitlement"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "list": {
     "id": "androidenterprise.entitlements.list",
     "path": "enterprises/{enterpriseId}/users/{userId}/entitlements",
     "httpMethod": "GET",
     "description": "Lists all entitlements for the specified user. Only the ID is set.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId"
     ],
     "response": {
      "$ref": "EntitlementsListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "patch": {
     "id": "androidenterprise.entitlements.patch",
     "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
     "httpMethod": "PATCH",
     "description": "Adds or updates an entitlement to an app for a user. This method supports patch semantics.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "entitlementId": {
       "type": "string",
       "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "install": {
       "type": "boolean",
       "description": "Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.",
       "location": "query"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "entitlementId"
     ],
     "request": {
      "$ref": "Entitlement"
     },
     "response": {
      "$ref": "Entitlement"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "update": {
     "id": "androidenterprise.entitlements.update",
     "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
     "httpMethod": "PUT",
     "description": "Adds or updates an entitlement to an app for a user.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "entitlementId": {
       "type": "string",
       "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "install": {
       "type": "boolean",
       "description": "Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.",
       "location": "query"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "entitlementId"
     ],
     "request": {
      "$ref": "Entitlement"
     },
     "response": {
      "$ref": "Entitlement"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    }
   }
  },
  "grouplicenses": {
   "methods": {
    "get": {
     "id": "androidenterprise.grouplicenses.get",
     "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
     "httpMethod": "GET",
     "description": "Retrieves details of an enterprise's group license for a product.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "groupLicenseId": {
       "type": "string",
       "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "groupLicenseId"
     ],
     "response": {
      "$ref": "GroupLicense"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "list": {
     "id": "androidenterprise.grouplicenses.list",
     "path": "enterprises/{enterpriseId}/groupLicenses",
     "httpMethod": "GET",
     "description": "Retrieves IDs of all products for which the enterprise has a group license.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId"
     ],
     "response": {
      "$ref": "GroupLicensesListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    }
   }
  },
  "grouplicenseusers": {
   "methods": {
    "list": {
     "id": "androidenterprise.grouplicenseusers.list",
     "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
     "httpMethod": "GET",
     "description": "Retrieves the IDs of the users who have been granted entitlements under the license.",
     "parameters": {
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "groupLicenseId": {
       "type": "string",
       "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "groupLicenseId"
     ],
     "response": {
      "$ref": "GroupLicenseUsersListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    }
   }
  },
  "installs": {
   "methods": {
    "delete": {
     "id": "androidenterprise.installs.delete",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
     "httpMethod": "DELETE",
     "description": "Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The Android ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "installId": {
       "type": "string",
       "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId",
      "installId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "get": {
     "id": "androidenterprise.installs.get",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
     "httpMethod": "GET",
     "description": "Retrieves details of an installation of an app on a device.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The Android ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "installId": {
       "type": "string",
       "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId",
      "installId"
     ],
     "response": {
      "$ref": "Install"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "list": {
     "id": "androidenterprise.installs.list",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
     "httpMethod": "GET",
     "description": "Retrieves the details of all apps installed on the specified device.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The Android ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId"
     ],
     "response": {
      "$ref": "InstallsListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "patch": {
     "id": "androidenterprise.installs.patch",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
     "httpMethod": "PATCH",
     "description": "Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary. This method supports patch semantics.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The Android ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "installId": {
       "type": "string",
       "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId",
      "installId"
     ],
     "request": {
      "$ref": "Install"
     },
     "response": {
      "$ref": "Install"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "update": {
     "id": "androidenterprise.installs.update",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
     "httpMethod": "PUT",
     "description": "Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The Android ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "installId": {
       "type": "string",
       "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId",
      "installId"
     ],
     "request": {
      "$ref": "Install"
     },
     "response": {
      "$ref": "Install"
     },
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    }
   }
  },
  "managedconfigurationsfordevice": {
   "methods": {
    "delete": {
     "id": "androidenterprise.managedconfigurationsfordevice.delete",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
     "httpMethod": "DELETE",
     "description": "Removes a per-device managed configuration for an app for the specified device.",
     "parameters": {
      "deviceId": {
       "type": "string",
       "description": "The Android ID of the device.",
       "required": true,
       "location": "path"
      },
      "enterpriseId": {
       "type": "string",
       "description": "The ID of the enterprise.",
       "required": true,
       "location": "path"
      },
      "managedConfigurationForDeviceId": {
       "type": "string",
       "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
       "required": true,
       "location": "path"
      },
      "userId": {
       "type": "string",
       "description": "The ID of the user.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "enterpriseId",
      "userId",
      "deviceId",
      "managedConfigurationForDeviceId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/androidenterprise"
     ]
    },
    "get": {
     "id": "androidenterprise.managedconfigurationsfordevice.get",
     "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
     "httpMethod": "GET",
     "description": "Retrieves details of a per-device managed configuration.",
     "parameters": {
      "deviceId": {
[...]
