{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-24",
    "endpointPrefix":"api.sagemaker",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SageMaker",
    "serviceFullName":"Amazon SageMaker Service",
    "serviceId":"SageMaker",
    "signatureVersion":"v4",
    "signingName":"sagemaker",
    "targetPrefix":"SageMaker",
    "uid":"sagemaker-2017-07-24"
  },
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{"shape":"AddTagsOutput"}
    },
    "AssociateTrialComponent":{
      "name":"AssociateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateTrialComponentRequest"},
      "output":{"shape":"AssociateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateAlgorithm":{
      "name":"CreateAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAlgorithmInput"},
      "output":{"shape":"CreateAlgorithmOutput"}
    },
    "CreateApp":{
      "name":"CreateApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppRequest"},
      "output":{"shape":"CreateAppResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateAppImageConfig":{
      "name":"CreateAppImageConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppImageConfigRequest"},
      "output":{"shape":"CreateAppImageConfigResponse"},
      "errors":[
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateAutoMLJob":{
      "name":"CreateAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAutoMLJobRequest"},
      "output":{"shape":"CreateAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateCodeRepository":{
      "name":"CreateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCodeRepositoryInput"},
      "output":{"shape":"CreateCodeRepositoryOutput"}
    },
    "CreateCompilationJob":{
      "name":"CreateCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCompilationJobRequest"},
      "output":{"shape":"CreateCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{"shape":"CreateDomainResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointInput"},
      "output":{"shape":"CreateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEndpointConfig":{
      "name":"CreateEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointConfigInput"},
      "output":{"shape":"CreateEndpointConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateExperiment":{
      "name":"CreateExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateExperimentRequest"},
      "output":{"shape":"CreateExperimentResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateFlowDefinition":{
      "name":"CreateFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFlowDefinitionRequest"},
      "output":{"shape":"CreateFlowDefinitionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateHumanTaskUi":{
      "name":"CreateHumanTaskUi",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHumanTaskUiRequest"},
      "output":{"shape":"CreateHumanTaskUiResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateHyperParameterTuningJob":{
      "name":"CreateHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHyperParameterTuningJobRequest"},
      "output":{"shape":"CreateHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateImage":{
      "name":"CreateImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageRequest"},
      "output":{"shape":"CreateImageResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateImageVersion":{
      "name":"CreateImageVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageVersionRequest"},
      "output":{"shape":"CreateImageVersionResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateLabelingJob":{
      "name":"CreateLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLabelingJobRequest"},
      "output":{"shape":"CreateLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"CreateModelOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModelPackage":{
      "name":"CreateModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelPackageInput"},
      "output":{"shape":"CreateModelPackageOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateMonitoringSchedule":{
      "name":"CreateMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMonitoringScheduleRequest"},
      "output":{"shape":"CreateMonitoringScheduleResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateNotebookInstance":{
      "name":"CreateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceInput"},
      "output":{"shape":"CreateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateNotebookInstanceLifecycleConfig":{
      "name":"CreateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"CreateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreatePresignedDomainUrl":{
      "name":"CreatePresignedDomainUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedDomainUrlRequest"},
      "output":{"shape":"CreatePresignedDomainUrlResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreatePresignedNotebookInstanceUrl":{
      "name":"CreatePresignedNotebookInstanceUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedNotebookInstanceUrlInput"},
      "output":{"shape":"CreatePresignedNotebookInstanceUrlOutput"}
    },
    "CreateProcessingJob":{
      "name":"CreateProcessingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProcessingJobRequest"},
      "output":{"shape":"CreateProcessingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateTrainingJob":{
      "name":"CreateTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobRequest"},
      "output":{"shape":"CreateTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateTransformJob":{
      "name":"CreateTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransformJobRequest"},
      "output":{"shape":"CreateTransformJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateTrial":{
      "name":"CreateTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialRequest"},
      "output":{"shape":"CreateTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateTrialComponent":{
      "name":"CreateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialComponentRequest"},
      "output":{"shape":"CreateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateUserProfile":{
      "name":"CreateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserProfileRequest"},
      "output":{"shape":"CreateUserProfileResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateWorkforce":{
      "name":"CreateWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkforceRequest"},
      "output":{"shape":"CreateWorkforceResponse"}
    },
    "CreateWorkteam":{
      "name":"CreateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkteamRequest"},
      "output":{"shape":"CreateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DeleteAlgorithm":{
      "name":"DeleteAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAlgorithmInput"}
    },
    "DeleteApp":{
      "name":"DeleteApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAppRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteAppImageConfig":{
      "name":"DeleteAppImageConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAppImageConfigRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteCodeRepository":{
      "name":"DeleteCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCodeRepositoryInput"}
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInput"}
    },
    "DeleteEndpointConfig":{
      "name":"DeleteEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointConfigInput"}
    },
    "DeleteExperiment":{
      "name":"DeleteExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteExperimentRequest"},
      "output":{"shape":"DeleteExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteFlowDefinition":{
      "name":"DeleteFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFlowDefinitionRequest"},
      "output":{"shape":"DeleteFlowDefinitionResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteHumanTaskUi":{
      "name":"DeleteHumanTaskUi",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHumanTaskUiRequest"},
      "output":{"shape":"DeleteHumanTaskUiResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteImage":{
      "name":"DeleteImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteImageRequest"},
      "output":{"shape":"DeleteImageResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteImageVersion":{
      "name":"DeleteImageVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteImageVersionRequest"},
      "output":{"shape":"DeleteImageVersionResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelInput"}
    },
    "DeleteModelPackage":{
      "name":"DeleteModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelPackageInput"},
      "errors":[
        {"shape":"ConflictException"}
      ]
    },
    "DeleteMonitoringSchedule":{
      "name":"DeleteMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMonitoringScheduleRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteNotebookInstance":{
      "name":"DeleteNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceInput"}
    },
    "DeleteNotebookInstanceLifecycleConfig":{
      "name":"DeleteNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceLifecycleConfigInput"}
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsInput"},
      "output":{"shape":"DeleteTagsOutput"}
    },
    "DeleteTrial":{
      "name":"DeleteTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrialRequest"},
      "output":{"shape":"DeleteTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteTrialComponent":{
      "name":"DeleteTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrialComponentRequest"},
      "output":{"shape":"DeleteTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteUserProfile":{
      "name":"DeleteUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserProfileRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteWorkforce":{
      "name":"DeleteWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkforceRequest"},
      "output":{"shape":"DeleteWorkforceResponse"}
    },
    "DeleteWorkteam":{
      "name":"DeleteWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkteamRequest"},
      "output":{"shape":"DeleteWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DescribeAlgorithm":{
      "name":"DescribeAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlgorithmInput"},
      "output":{"shape":"DescribeAlgorithmOutput"}
    },
    "DescribeApp":{
      "name":"DescribeApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppRequest"},
      "output":{"shape":"DescribeAppResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeAppImageConfig":{
      "name":"DescribeAppImageConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppImageConfigRequest"},
      "output":{"shape":"DescribeAppImageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeAutoMLJob":{
      "name":"DescribeAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutoMLJobRequest"},
      "output":{"shape":"DescribeAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeCodeRepository":{
      "name":"DescribeCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCodeRepositoryInput"},
      "output":{"shape":"DescribeCodeRepositoryOutput"}
    },
    "DescribeCompilationJob":{
      "name":"DescribeCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCompilationJobRequest"},
      "output":{"shape":"DescribeCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeDomain":{
      "name":"DescribeDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDomainRequest"},
      "output":{"shape":"DescribeDomainResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointInput"},
      "output":{"shape":"DescribeEndpointOutput"}
    },
    "DescribeEndpointConfig":{
      "name":"DescribeEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointConfigInput"},
      "output":{"shape":"DescribeEndpointConfigOutput"}
    },
    "DescribeExperiment":{
      "name":"DescribeExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExperimentRequest"},
      "output":{"shape":"DescribeExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeFlowDefinition":{
      "name":"DescribeFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFlowDefinitionRequest"},
      "output":{"shape":"DescribeFlowDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeHumanTaskUi":{
      "name":"DescribeHumanTaskUi",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHumanTaskUiRequest"},
      "output":{"shape":"DescribeHumanTaskUiResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeHyperParameterTuningJob":{
      "name":"DescribeHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHyperParameterTuningJobRequest"},
      "output":{"shape":"DescribeHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeImage":{
      "name":"DescribeImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageRequest"},
      "output":{"shape":"DescribeImageResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeImageVersion":{
      "name":"DescribeImageVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageVersionRequest"},
      "output":{"shape":"DescribeImageVersionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeLabelingJob":{
      "name":"DescribeLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLabelingJobRequest"},
      "output":{"shape":"DescribeLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelInput"},
      "output":{"shape":"DescribeModelOutput"}
    },
    "DescribeModelPackage":{
      "name":"DescribeModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelPackageInput"},
      "output":{"shape":"DescribeModelPackageOutput"}
    },
    "DescribeMonitoringSchedule":{
      "name":"DescribeMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMonitoringScheduleRequest"},
      "output":{"shape":"DescribeMonitoringScheduleResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeNotebookInstance":{
      "name":"DescribeNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceInput"},
      "output":{"shape":"DescribeNotebookInstanceOutput"}
    },
    "DescribeNotebookInstanceLifecycleConfig":{
      "name":"DescribeNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"DescribeNotebookInstanceLifecycleConfigOutput"}
    },
    "DescribeProcessingJob":{
      "name":"DescribeProcessingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProcessingJobRequest"},
      "output":{"shape":"DescribeProcessingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeSubscribedWorkteam":{
      "name":"DescribeSubscribedWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSubscribedWorkteamRequest"},
      "output":{"shape":"DescribeSubscribedWorkteamResponse"}
    },
    "DescribeTrainingJob":{
      "name":"DescribeTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrainingJobRequest"},
      "output":{"shape":"DescribeTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTransformJob":{
      "name":"DescribeTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransformJobRequest"},
      "output":{"shape":"DescribeTransformJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTrial":{
      "name":"DescribeTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrialRequest"},
      "output":{"shape":"DescribeTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTrialComponent":{
      "name":"DescribeTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrialComponentRequest"},
      "output":{"shape":"DescribeTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeUserProfile":{
      "name":"DescribeUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserProfileRequest"},
      "output":{"shape":"DescribeUserProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeWorkforce":{
      "name":"DescribeWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkforceRequest"},
      "output":{"shape":"DescribeWorkforceResponse"}
    },
    "DescribeWorkteam":{
      "name":"DescribeWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkteamRequest"},
      "output":{"shape":"DescribeWorkteamResponse"}
    },
    "DisassociateTrialComponent":{
      "name":"DisassociateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateTrialComponentRequest"},
      "output":{"shape":"DisassociateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "GetSearchSuggestions":{
      "name":"GetSearchSuggestions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSearchSuggestionsRequest"},
      "output":{"shape":"GetSearchSuggestionsResponse"}
    },
    "ListAlgorithms":{
      "name":"ListAlgorithms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAlgorithmsInput"},
      "output":{"shape":"ListAlgorithmsOutput"}
    },
    "ListAppImageConfigs":{
      "name":"ListAppImageConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAppImageConfigsRequest"},
      "output":{"shape":"ListAppImageConfigsResponse"}
    },
    "ListApps":{
      "name":"ListApps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAppsRequest"},
      "output":{"shape":"ListAppsResponse"}
    },
    "ListAutoMLJobs":{
      "name":"ListAutoMLJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAutoMLJobsRequest"},
      "output":{"shape":"ListAutoMLJobsResponse"}
    },
    "ListCandidatesForAutoMLJob":{
      "name":"ListCandidatesForAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCandidatesForAutoMLJobRequest"},
      "output":{"shape":"ListCandidatesForAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListCodeRepositories":{
      "name":"ListCodeRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCodeRepositoriesInput"},
      "output":{"shape":"ListCodeRepositoriesOutput"}
    },
    "ListCompilationJobs":{
      "name":"ListCompilationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCompilationJobsRequest"},
      "output":{"shape":"ListCompilationJobsResponse"}
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDomainsRequest"},
      "output":{"shape":"ListDomainsResponse"}
    },
    "ListEndpointConfigs":{
      "name":"ListEndpointConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointConfigsInput"},
      "output":{"shape":"ListEndpointConfigsOutput"}
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsInput"},
      "output":{"shape":"ListEndpointsOutput"}
    },
    "ListExperiments":{
      "name":"ListExperiments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListExperimentsRequest"},
      "output":{"shape":"ListExperimentsResponse"}
    },
    "ListFlowDefinitions":{
      "name":"ListFlowDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFlowDefinitionsRequest"},
      "output":{"shape":"ListFlowDefinitionsResponse"}
    },
    "ListHumanTaskUis":{
      "name":"ListHumanTaskUis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHumanTaskUisRequest"},
      "output":{"shape":"ListHumanTaskUisResponse"}
    },
    "ListHyperParameterTuningJobs":{
      "name":"ListHyperParameterTuningJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHyperParameterTuningJobsRequest"},
      "output":{"shape":"ListHyperParameterTuningJobsResponse"}
    },
    "ListImageVersions":{
      "name":"ListImageVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImageVersionsRequest"},
      "output":{"shape":"ListImageVersionsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListImages":{
      "name":"ListImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImagesRequest"},
      "output":{"shape":"ListImagesResponse"}
    },
    "ListLabelingJobs":{
      "name":"ListLabelingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsRequest"},
      "output":{"shape":"ListLabelingJobsResponse"}
    },
    "ListLabelingJobsForWorkteam":{
      "name":"ListLabelingJobsForWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsForWorkteamRequest"},
      "output":{"shape":"ListLabelingJobsForWorkteamResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListModelPackages":{
      "name":"ListModelPackages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelPackagesInput"},
      "output":{"shape":"ListModelPackagesOutput"}
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"ListModelsOutput"}
    },
    "ListMonitoringExecutions":{
      "name":"ListMonitoringExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMonitoringExecutionsRequest"},
      "output":{"shape":"ListMonitoringExecutionsResponse"}
    },
    "ListMonitoringSchedules":{
      "name":"ListMonitoringSchedules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMonitoringSchedulesRequest"},
      "output":{"shape":"ListMonitoringSchedulesResponse"}
    },
    "ListNotebookInstanceLifecycleConfigs":{
      "name":"ListNotebookInstanceLifecycleConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstanceLifecycleConfigsInput"},
      "output":{"shape":"ListNotebookInstanceLifecycleConfigsOutput"}
    },
    "ListNotebookInstances":{
      "name":"ListNotebookInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstancesInput"},
      "output":{"shape":"ListNotebookInstancesOutput"}
    },
    "ListProcessingJobs":{
      "name":"ListProcessingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProcessingJobsRequest"},
      "output":{"shape":"ListProcessingJobsResponse"}
    },
    "ListSubscribedWorkteams":{
      "name":"ListSubscribedWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubscribedWorkteamsRequest"},
      "output":{"shape":"ListSubscribedWorkteamsResponse"}
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"}
    },
    "ListTrainingJobs":{
      "name":"ListTrainingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsRequest"},
      "output":{"shape":"ListTrainingJobsResponse"}
    },
    "ListTrainingJobsForHyperParameterTuningJob":{
      "name":"ListTrainingJobsForHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsForHyperParameterTuningJobRequest"},
      "output":{"shape":"ListTrainingJobsForHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListTransformJobs":{
      "name":"ListTransformJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTransformJobsRequest"},
      "output":{"shape":"ListTransformJobsResponse"}
    },
    "ListTrialComponents":{
      "name":"ListTrialComponents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialComponentsRequest"},
      "output":{"shape":"ListTrialComponentsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListTrials":{
      "name":"ListTrials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialsRequest"},
      "output":{"shape":"ListTrialsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListUserProfiles":{
      "name":"ListUserProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserProfilesRequest"},
      "output":{"shape":"ListUserProfilesResponse"}
    },
    "ListWorkforces":{
      "name":"ListWorkforces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkforcesRequest"},
      "output":{"shape":"ListWorkforcesResponse"}
    },
    "ListWorkteams":{
      "name":"ListWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkteamsRequest"},
      "output":{"shape":"ListWorkteamsResponse"}
    },
    "RenderUiTemplate":{
      "name":"RenderUiTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RenderUiTemplateRequest"},
      "output":{"shape":"RenderUiTemplateResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "Search":{
      "name":"Search",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchRequest"},
      "output":{"shape":"SearchResponse"}
    },
    "StartMonitoringSchedule":{
      "name":"StartMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMonitoringScheduleRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StartNotebookInstance":{
      "name":"StartNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartNotebookInstanceInput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "StopAutoMLJob":{
      "name":"StopAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAutoMLJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopCompilationJob":{
      "name":"StopCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCompilationJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopHyperParameterTuningJob":{
      "name":"StopHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopHyperParameterTuningJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopLabelingJob":{
      "name":"StopLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopLabelingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopMonitoringSchedule":{
      "name":"StopMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopMonitoringScheduleRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopNotebookInstance":{
      "name":"StopNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopNotebookInstanceInput"}
    },
    "StopProcessingJob":{
      "name":"StopProcessingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopProcessingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopTrainingJob":{
      "name":"StopTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopTransformJob":{
      "name":"StopTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTransformJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateAppImageConfig":{
      "name":"UpdateAppImageConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAppImageConfigRequest"},
      "output":{"shape":"UpdateAppImageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateCodeRepository":{
      "name":"UpdateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCodeRepositoryInput"},
      "output":{"shape":"UpdateCodeRepositoryOutput"}
    },
    "UpdateDomain":{
      "name":"UpdateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDomainRequest"},
      "output":{"shape":"UpdateDomainResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointInput"},
      "output":{"shape":"UpdateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateEndpointWeightsAndCapacities":{
      "name":"UpdateEndpointWeightsAndCapacities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointWeightsAndCapacitiesInput"},
      "output":{"shape":"UpdateEndpointWeightsAndCapacitiesOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateExperiment":{
      "name":"UpdateExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateExperimentRequest"},
      "output":{"shape":"UpdateExperimentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateImage":{
      "name":"UpdateImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateImageRequest"},
      "output":{"shape":"UpdateImageResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateMonitoringSchedule":{
      "name":"UpdateMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMonitoringScheduleRequest"},
      "output":{"shape":"UpdateMonitoringScheduleResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateNotebookInstance":{
      "name":"UpdateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceInput"},
      "output":{"shape":"UpdateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateNotebookInstanceLifecycleConfig":{
      "name":"UpdateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"UpdateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateTrial":{
      "name":"UpdateTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrialRequest"},
      "output":{"shape":"UpdateTrialResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateTrialComponent":{
      "name":"UpdateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrialComponentRequest"},
      "output":{"shape":"UpdateTrialComponentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateUserProfile":{
      "name":"UpdateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserProfileRequest"},
      "output":{"shape":"UpdateUserProfileResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateWorkforce":{
      "name":"UpdateWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkforceRequest"},
      "output":{"shape":"UpdateWorkforceResponse"}
    },
    "UpdateWorkteam":{
      "name":"UpdateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkteamRequest"},
      "output":{"shape":"UpdateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    }
  },
  "shapes":{
    "Accept":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "AccountId":{
      "type":"string",
      "pattern":"^\\d+$"
    },
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{"shape":"ResourceArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"}
      }
    },
    "AdditionalCodeRepositoryNamesOrUrls":{
      "type":"list",
      "member":{"shape":"CodeRepositoryNameOrUrl"},
      "max":3
    },
    "AlgorithmArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:algorithm/.*"
    },
    "AlgorithmImage":{
      "type":"string",
      "max":255,
      "pattern":".*"
    },
    "AlgorithmSortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime"
      ]
    },
    "AlgorithmSpecification":{
      "type":"structure",
      "required":["TrainingInputMode"],
      "members":{
        "TrainingImage":{"shape":"AlgorithmImage"},
        "AlgorithmName":{"shape":"ArnOrName"},
        "TrainingInputMode":{"shape":"TrainingInputMode"},
        "MetricDefinitions":{"shape":"MetricDefinitionList"},
        "EnableSageMakerMetricsTimeSeries":{"shape":"Boolean"}
      }
    },
    "AlgorithmStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Completed",
        "Failed",
        "Deleting"
      ]
    },
    "AlgorithmStatusDetails":{
      "type":"structure",
      "members":{
        "ValidationStatuses":{"shape":"AlgorithmStatusItemList"},
        "ImageScanStatuses":{"shape":"AlgorithmStatusItemList"}
      }
    },
    "AlgorithmStatusItem":{
      "type":"structure",
      "required":[
        "Name",
        "Status"
      ],
      "members":{
        "Name":{"shape":"EntityName"},
        "Status":{"shape":"DetailedAlgorithmStatus"},
        "FailureReason":{"shape":"String"}
      }
    },
    "AlgorithmStatusItemList":{
      "type":"list",
      "member":{"shape":"AlgorithmStatusItem"}
    },
    "AlgorithmSummary":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "AlgorithmArn",
        "CreationTime",
        "AlgorithmStatus"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmArn":{"shape":"AlgorithmArn"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "CreationTime":{"shape":"CreationTime"},
        "AlgorithmStatus":{"shape":"AlgorithmStatus"}
      }
    },
    "AlgorithmSummaryList":{
      "type":"list",
      "member":{"shape":"AlgorithmSummary"}
    },
    "AlgorithmValidationProfile":{
      "type":"structure",
      "required":[
        "ProfileName",
        "TrainingJobDefinition"
      ],
      "members":{
        "ProfileName":{"shape":"EntityName"},
        "TrainingJobDefinition":{"shape":"TrainingJobDefinition"},
        "TransformJobDefinition":{"shape":"TransformJobDefinition"}
      }
    },
    "AlgorithmValidationProfiles":{
      "type":"list",
      "member":{"shape":"AlgorithmValidationProfile"},
      "max":1,
      "min":1
    },
    "AlgorithmValidationSpecification":{
      "type":"structure",
      "required":[
        "ValidationRole",
        "ValidationProfiles"
      ],
      "members":{
        "ValidationRole":{"shape":"RoleArn"},
        "ValidationProfiles":{"shape":"AlgorithmValidationProfiles"}
      }
    },
    "AnnotationConsolidationConfig":{
      "type":"structure",
      "required":["AnnotationConsolidationLambdaArn"],
      "members":{
        "AnnotationConsolidationLambdaArn":{"shape":"LambdaFunctionArn"}
      }
    },
    "AppArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:app/.*"
    },
    "AppDetails":{
      "type":"structure",
      "members":{
        "DomainId":{"shape":"DomainId"},
        "UserProfileName":{"shape":"UserProfileName"},
        "AppType":{"shape":"AppType"},
        "AppName":{"shape":"AppName"},
        "Status":{"shape":"AppStatus"},
        "CreationTime":{"shape":"CreationTime"}
      }
    },
    "AppImageConfigArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:app-image-config/.*"
    },
    "AppImageConfigDetails":{
      "type":"structure",
      "members":{
        "AppImageConfigArn":{"shape":"AppImageConfigArn"},
        "AppImageConfigName":{"shape":"AppImageConfigName"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "KernelGatewayImageConfig":{"shape":"KernelGatewayImageConfig"}
      }
    },
    "AppImageConfigList":{
      "type":"list",
      "member":{"shape":"AppImageConfigDetails"}
    },
    "AppImageConfigName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "AppImageConfigSortKey":{
      "type":"string",
      "enum":[
        "CreationTime",
        "LastModifiedTime",
        "Name"
      ]
    },
    "AppInstanceType":{
      "type":"string",
      "enum":[
        "system",
        "ml.t3.micro",
        "ml.t3.small",
        "ml.t3.medium",
        "ml.t3.large",
        "ml.t3.xlarge",
        "ml.t3.2xlarge",
        "ml.m5.large",
        "ml.m5.xlarge",
        "ml.m5.2xlarge",
        "ml.m5.4xlarge",
        "ml.m5.8xlarge",
        "ml.m5.12xlarge",
        "ml.m5.16xlarge",
        "ml.m5.24xlarge",
        "ml.c5.large",
        "ml.c5.xlarge",
        "ml.c5.2xlarge",
        "ml.c5.4xlarge",
        "ml.c5.9xlarge",
        "ml.c5.12xlarge",
        "ml.c5.18xlarge",
        "ml.c5.24xlarge",
        "ml.p3.2xlarge",
        "ml.p3.8xlarge",
        "ml.p3.16xlarge",
        "ml.g4dn.xlarge",
        "ml.g4dn.2xlarge",
        "ml.g4dn.4xlarge",
        "ml.g4dn.8xlarge",
        "ml.g4dn.12xlarge",
        "ml.g4dn.16xlarge"
      ]
    },
    "AppList":{
      "type":"list",
      "member":{"shape":"AppDetails"}
    },
    "AppName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "AppNetworkAccessType":{
      "type":"string",
      "enum":[
        "PublicInternetOnly",
        "VpcOnly"
      ]
    },
    "AppSortKey":{
      "type":"string",
      "enum":["CreationTime"]
    },
    "AppSpecification":{
      "type":"structure",
      "required":["ImageUri"],
      "members":{
        "ImageUri":{"shape":"ImageUri"},
        "ContainerEntrypoint":{"shape":"ContainerEntrypoint"},
        "ContainerArguments":{"shape":"ContainerArguments"}
      }
    },
    "AppStatus":{
      "type":"string",
      "enum":[
        "Deleted",
        "Deleting",
        "Failed",
        "InService",
        "Pending"
      ]
    },
    "AppType":{
      "type":"string",
      "enum":[
        "JupyterServer",
        "KernelGateway",
        "TensorBoard"
      ]
    },
    "ArnOrName":{
      "type":"string",
      "max":170,
      "min":1,
      "pattern":"(arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:[a-z\\-]*\\/)?([a-zA-Z0-9]([a-zA-Z0-9-]){0,62})(?<!-)$"
    },
    "AssemblyType":{
      "type":"string",
      "enum":[
        "None",
        "Line"
      ]
    },
    "AssociateTrialComponentRequest":{
      "type":"structure",
      "required":[
        "TrialComponentName",
        "TrialName"
      ],
      "members":{
        "TrialComponentName":{"shape":"ExperimentEntityName"},
        "TrialName":{"shape":"ExperimentEntityName"}
      }
    },
    "AssociateTrialComponentResponse":{
      "type":"structure",
      "members":{
        "TrialComponentArn":{"shape":"TrialComponentArn"},
        "TrialArn":{"shape":"TrialArn"}
      }
    },
    "AttributeName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".+"
    },
    "AttributeNames":{
      "type":"list",
      "member":{"shape":"AttributeName"},
      "max":16
    },
    "AuthMode":{
      "type":"string",
      "enum":[
        "SSO",
        "IAM"
      ]
    },
    "AutoMLCandidate":{
      "type":"structure",
      "required":[
        "CandidateName",
        "ObjectiveStatus",
        "CandidateSteps",
        "CandidateStatus",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "CandidateName":{"shape":"CandidateName"},
        "FinalAutoMLJobObjectiveMetric":{"shape":"FinalAutoMLJobObjectiveMetric"},
        "ObjectiveStatus":{"shape":"ObjectiveStatus"},
        "CandidateSteps":{"shape":"CandidateSteps"},
        "CandidateStatus":{"shape":"CandidateStatus"},
        "InferenceContainers":{"shape":"AutoMLContainerDefinitions"},
        "CreationTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "FailureReason":{"shape":"AutoMLFailureReason"}
      }
    },
    "AutoMLCandidateStep":{
      "type":"structure",
      "required":[
        "CandidateStepType",
        "CandidateStepArn",
        "CandidateStepName"
      ],
      "members":{
        "CandidateStepType":{"shape":"CandidateStepType"},
        "CandidateStepArn":{"shape":"CandidateStepArn"},
        "CandidateStepName":{"shape":"CandidateStepName"}
      }
    },
    "AutoMLCandidates":{
      "type":"list",
      "member":{"shape":"AutoMLCandidate"}
    },
    "AutoMLChannel":{
      "type":"structure",
      "required":[
        "DataSource",
        "TargetAttributeName"
      ],
      "members":{
        "DataSource":{"shape":"AutoMLDataSource"},
        "CompressionType":{"shape":"CompressionType"},
        "TargetAttributeName":{"shape":"TargetAttributeName"}
      }
    },
    "AutoMLContainerDefinition":{
      "type":"structure",
      "required":[
        "Image",
        "ModelDataUrl"
      ],
      "members":{
        "Image":{"shape":"ContainerImage"},
        "ModelDataUrl":{"shape":"Url"},
        "Environment":{"shape":"EnvironmentMap"}
      }
    },
    "AutoMLContainerDefinitions":{
      "type":"list",
      "member":{"shape":"AutoMLContainerDefinition"},
      "max":5
    },
    "AutoMLDataSource":{
      "type":"structure",
      "required":["S3DataSource"],
      "members":{
        "S3DataSource":{"shape":"AutoMLS3DataSource"}
      }
    },
    "AutoMLFailureReason":{
      "type":"string",
      "max":1024
    },
    "AutoMLInputDataConfig":{
      "type":"list",
      "member":{"shape":"AutoMLChannel"},
      "max":20,
      "min":1
    },
    "AutoMLJobArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:automl-job/.*"
    },
    "AutoMLJobArtifacts":{
      "type":"structure",
      "members":{
        "CandidateDefinitionNotebookLocation":{"shape":"CandidateDefinitionNotebookLocation"},
        "DataExplorationNotebookLocation":{"shape":"DataExplorationNotebookLocation"}
      }
    },
    "AutoMLJobCompletionCriteria":{
      "type":"structure",
      "members":{
        "MaxCandidates":{"shape":"MaxCandidates"},
        "MaxRuntimePerTrainingJobInSeconds":{"shape":"MaxRuntimePerTrainingJobInSeconds"},
        "MaxAutoMLJobRuntimeInSeconds":{"shape":"MaxAutoMLJobRuntimeInSeconds"}
      }
    },
    "AutoMLJobConfig":{
      "type":"structure",
      "members":{
        "CompletionCriteria":{"shape":"AutoMLJobCompletionCriteria"},
        "SecurityConfig":{"shape":"AutoMLSecurityConfig"}
      }
    },
    "AutoMLJobName":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "AutoMLJobObjective":{
      "type":"structure",
      "required":["MetricName"],
      "members":{
        "MetricName":{"shape":"AutoMLMetricEnum"}
      }
    },
    "AutoMLJobObjectiveType":{
      "type":"string",
      "enum":[
        "Maximize",
        "Minimize"
      ]
    },
    "AutoMLJobSecondaryStatus":{
      "type":"string",
      "enum":[
        "Starting",
        "AnalyzingData",
        "FeatureEngineering",
        "ModelTuning",
        "MaxCandidatesReached",
        "Failed",
        "Stopped",
        "MaxAutoMLJobRuntimeReached",
        "Stopping",
        "CandidateDefinitionsGenerated"
      ]
    },
    "AutoMLJobStatus":{
      "type":"string",
      "enum":[
        "Completed",
        "InProgress",
        "Failed",
        "Stopped",
        "Stopping"
      ]
    },
    "AutoMLJobSummaries":{
      "type":"list",
      "member":{"shape":"AutoMLJobSummary"}
    },
    "AutoMLJobSummary":{
      "type":"structure",
      "required":[
        "AutoMLJobName",
        "AutoMLJobArn",
        "AutoMLJobStatus",
        "AutoMLJobSecondaryStatus",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "AutoMLJobName":{"shape":"AutoMLJobName"},
        "AutoMLJobArn":{"shape":"AutoMLJobArn"},
        "AutoMLJobStatus":{"shape":"AutoMLJobStatus"},
        "AutoMLJobSecondaryStatus":{"shape":"AutoMLJobSecondaryStatus"},
        "CreationTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "FailureReason":{"shape":"AutoMLFailureReason"}
      }
    },
    "AutoMLMaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "AutoMLMetricEnum":{
      "type":"string",
      "enum":[
        "Accuracy",
        "MSE",
        "F1",
        "F1macro",
        "AUC"
      ]
    },
    "AutoMLNameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9\\-]+"
    },
    "AutoMLOutputDataConfig":{
      "type":"structure",
      "required":["S3OutputPath"],
      "members":{
        "KmsKeyId":{"shape":"KmsKeyId"},
        "S3OutputPath":{"shape":"S3Uri"}
      }
    },
    "AutoMLS3DataSource":{
      "type":"structure",
      "required":[
        "S3DataType",
        "S3Uri"
      ],
      "members":{
        "S3DataType":{"shape":"AutoMLS3DataType"},
        "S3Uri":{"shape":"S3Uri"}
      }
    },
    "AutoMLS3DataType":{
      "type":"string",
      "enum":[
        "ManifestFile",
        "S3Prefix"
      ]
    },
    "AutoMLSecurityConfig":{
      "type":"structure",
      "members":{
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "EnableInterContainerTrafficEncryption":{"shape":"Boolean"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "AutoMLSortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "Status"
      ]
    },
    "AutoMLSortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "AwsManagedHumanLoopRequestSource":{
      "type":"string",
      "enum":[
        "AWS/Rekognition/DetectModerationLabels/Image/V3",
        "AWS/Textract/AnalyzeDocument/Forms/V1"
      ]
    },
    "BatchStrategy":{
      "type":"string",
      "enum":[
        "MultiRecord",
        "SingleRecord"
      ]
    },
    "BillableTimeInSeconds":{
      "type":"integer",
      "min":1
    },
    "Boolean":{"type":"boolean"},
    "BooleanOperator":{
      "type":"string",
      "enum":[
        "And",
        "Or"
      ]
    },
    "Branch":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[^ ~^:?*\\[]+"
    },
    "CandidateDefinitionNotebookLocation":{
      "type":"string",
      "min":1
    },
    "CandidateName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "CandidateSortBy":{
      "type":"string",
      "enum":[
        "CreationTime",
        "Status",
        "FinalObjectiveMetricValue"
      ]
    },
    "CandidateStatus":{
      "type":"string",
      "enum":[
        "Completed",
        "InProgress",
        "Failed",
        "Stopped",
        "Stopping"
      ]
    },
    "CandidateStepArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:.*/.*"
    },
    "CandidateStepName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "CandidateStepType":{
      "type":"string",
      "enum":[
        "AWS::SageMaker::TrainingJob",
        "AWS::SageMaker::TransformJob",
        "AWS::SageMaker::ProcessingJob"
      ]
    },
    "CandidateSteps":{
      "type":"list",
      "member":{"shape":"AutoMLCandidateStep"}
    },
    "CaptureContentTypeHeader":{
      "type":"structure",
      "members":{
        "CsvContentTypes":{"shape":"CsvContentTypes"},
        "JsonContentTypes":{"shape":"JsonContentTypes"}
      }
    },
    "CaptureMode":{
      "type":"string",
      "enum":[
        "Input",
        "Output"
      ]
    },
    "CaptureOption":{
      "type":"structure",
      "required":["CaptureMode"],
      "members":{
        "CaptureMode":{"shape":"CaptureMode"}
      }
    },
    "CaptureOptionList":{
      "type":"list",
      "member":{"shape":"CaptureOption"},
      "max":2,
      "min":1
    },
    "CaptureStatus":{
      "type":"string",
      "enum":[
        "Started",
        "Stopped"
      ]
    },
    "CategoricalParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "Values":{"shape":"ParameterValues"}
      }
    },
    "CategoricalParameterRangeSpecification":{
      "type":"structure",
      "required":["Values"],
      "members":{
        "Values":{"shape":"ParameterValues"}
      }
    },
    "CategoricalParameterRanges":{
      "type":"list",
      "member":{"shape":"CategoricalParameterRange"},
      "max":20,
      "min":0
    },
    "Cents":{
      "type":"integer",
      "max":99,
      "min":0
    },
    "CertifyForMarketplace":{"type":"boolean"},
    "Channel":{
      "type":"structure",
      "required":[
        "ChannelName",
        "DataSource"
      ],
      "members":{
        "ChannelName":{"shape":"ChannelName"},
        "DataSource":{"shape":"DataSource"},
        "ContentType":{"shape":"ContentType"},
        "CompressionType":{"shape":"CompressionType"},
        "RecordWrapperType":{"shape":"RecordWrapper"},
        "InputMode":{"shape":"TrainingInputMode"},
        "ShuffleConfig":{"shape":"ShuffleConfig"}
      }
    },
    "ChannelName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9\\.\\-_]+"
    },
    "ChannelSpecification":{
      "type":"structure",
      "required":[
        "Name",
        "SupportedContentTypes",
        "SupportedInputModes"
      ],
      "members":{
        "Name":{"shape":"ChannelName"},
        "Description":{"shape":"EntityDescription"},
        "IsRequired":{"shape":"Boolean"},
        "SupportedContentTypes":{"shape":"ContentTypes"},
        "SupportedCompressionTypes":{"shape":"CompressionTypes"},
        "SupportedInputModes":{"shape":"InputModes"}
      }
    },
    "ChannelSpecifications":{
      "type":"list",
      "member":{"shape":"ChannelSpecification"},
      "max":8,
      "min":1
    },
    "CheckpointConfig":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "LocalPath":{"shape":"DirectoryPath"}
      }
    },
    "Cidr":{
      "type":"string",
      "max":64,
      "min":4,
      "pattern":"(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/(3[0-2]|[1-2][0-9]|[0-9]))$)|(^s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:)))(%.+)?s*(\\/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9]))$)"
    },
    "Cidrs":{
      "type":"list",
      "member":{"shape":"Cidr"}
    },
    "ClientId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+-]+"
    },
    "ClientSecret":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\w+=/-]+",
      "sensitive":true
    },
    "ClientToken":{
      "type":"string",
      "max":36,
      "min":1,
      "pattern":"^[a-zA-Z0-9-]+$"
    },
    "CodeRepositoryArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:code-repository/.*"
    },
    "CodeRepositoryContains":{
      "type":"string",
      "max":1024,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CodeRepositoryNameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CodeRepositoryNameOrUrl":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^https://([^/]+)/?(.*)$|^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "CodeRepositorySortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "LastModifiedTime"
      ]
    },
    "CodeRepositorySortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "CodeRepositorySummary":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "CodeRepositoryArn",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "CodeRepositorySummaryList":{
      "type":"list",
      "member":{"shape":"CodeRepositorySummary"}
    },
    "CognitoConfig":{
      "type":"structure",
      "required":[
        "UserPool",
        "ClientId"
      ],
      "members":{
        "UserPool":{"shape":"CognitoUserPool"},
        "ClientId":{"shape":"ClientId"}
      }
    },
    "CognitoMemberDefinition":{
      "type":"structure",
      "required":[
        "UserPool",
        "UserGroup",
        "ClientId"
      ],
      "members":{
        "UserPool":{"shape":"CognitoUserPool"},
        "UserGroup":{"shape":"CognitoUserGroup"},
        "ClientId":{"shape":"ClientId"}
      }
    },
    "CognitoUserGroup":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "CognitoUserPool":{
      "type":"string",
      "max":55,
      "min":1,
      "pattern":"[\\w-]+_[0-9a-zA-Z]+"
    },
    "CollectionConfiguration":{
      "type":"structure",
      "members":{
        "CollectionName":{"shape":"CollectionName"},
        "CollectionParameters":{"shape":"CollectionParameters"}
      }
    },
    "CollectionConfigurations":{
      "type":"list",
      "member":{"shape":"CollectionConfiguration"},
      "max":20,
      "min":0
    },
    "CollectionName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".*"
    },
    "CollectionParameters":{
      "type":"map",
      "key":{"shape":"ConfigKey"},
      "value":{"shape":"ConfigValue"},
      "max":20,
      "min":0
    },
    "CompilationJobArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:compilation-job/.*"
    },
    "CompilationJobStatus":{
      "type":"string",
      "enum":[
        "INPROGRESS",
        "COMPLETED",
        "FAILED",
        "STARTING",
        "STOPPING",
        "STOPPED"
      ]
    },
    "CompilationJobSummaries":{
      "type":"list",
      "member":{"shape":"CompilationJobSummary"}
    },
    "CompilationJobSummary":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "CompilationJobArn",
        "CreationTime",
        "CompilationJobStatus"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "CompilationJobArn":{"shape":"CompilationJobArn"},
        "CreationTime":{"shape":"CreationTime"},
        "CompilationStartTime":{"shape":"Timestamp"},
        "CompilationEndTime":{"shape":"Timestamp"},
        "CompilationTargetDevice":{"shape":"TargetDevice"},
        "CompilationTargetPlatformOs":{"shape":"TargetPlatformOs"},
        "CompilationTargetPlatformArch":{"shape":"TargetPlatformArch"},
        "CompilationTargetPlatformAccelerator":{"shape":"TargetPlatformAccelerator"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "CompilationJobStatus":{"shape":"CompilationJobStatus"}
      }
    },
    "CompilerOptions":{
      "type":"string",
      "max":1024,
      "min":3,
      "pattern":".*"
    },
    "CompressionType":{
      "type":"string",
      "enum":[
        "None",
        "Gzip"
      ]
    },
    "CompressionTypes":{
      "type":"list",
      "member":{"shape":"CompressionType"}
    },
    "ConfigKey":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".*"
    },
    "ConfigValue":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "exception":true
    },
    "ContainerArgument":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ContainerArguments":{
      "type":"list",
      "member":{"shape":"ContainerArgument"},
      "max":100,
      "min":1
    },
    "ContainerDefinition":{
      "type":"structure",
      "members":{
        "ContainerHostname":{"shape":"ContainerHostname"},
        "Image":{"shape":"ContainerImage"},
        "ImageConfig":{"shape":"ImageConfig"},
        "Mode":{"shape":"ContainerMode"},
        "ModelDataUrl":{"shape":"Url"},
        "Environment":{"shape":"EnvironmentMap"},
        "ModelPackageName":{"shape":"VersionedArnOrName"}
      }
    },
    "ContainerDefinitionList":{
      "type":"list",
      "member":{"shape":"ContainerDefinition"},
      "max":5
    },
    "ContainerEntrypoint":{
      "type":"list",
      "member":{"shape":"ContainerEntrypointString"},
      "max":100,
      "min":1
    },
    "ContainerEntrypointString":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ContainerHostname":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ContainerImage":{
      "type":"string",
      "max":255,
      "pattern":"[\\S]+"
    },
    "ContainerMode":{
      "type":"string",
      "enum":[
        "SingleModel",
        "MultiModel"
      ]
    },
    "ContentClassifier":{
      "type":"string",
      "enum":[
        "FreeOfPersonallyIdentifiableInformation",
        "FreeOfAdultContent"
      ]
    },
    "ContentClassifiers":{
      "type":"list",
      "member":{"shape":"ContentClassifier"},
      "max":256
    },
    "ContentType":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ContentTypes":{
      "type":"list",
      "member":{"shape":"ContentType"}
    },
    "ContinuousParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"},
        "ScalingType":{"shape":"HyperParameterScalingType"}
      }
    },
    "ContinuousParameterRangeSpecification":{
      "type":"structure",
      "required":[
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"}
      }
    },
    "ContinuousParameterRanges":{
      "type":"list",
      "member":{"shape":"ContinuousParameterRange"},
      "max":20,
      "min":0
    },
    "CreateAlgorithmInput":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "TrainingSpecification"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "TrainingSpecification":{"shape":"TrainingSpecification"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"AlgorithmValidationSpecification"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "CreateAlgorithmOutput":{
      "type":"structure",
      "required":["AlgorithmArn"],
      "members":{
        "AlgorithmArn":{"shape":"AlgorithmArn"}
      }
    },
    "CreateAppImageConfigRequest":{
      "type":"structure",
      "required":["AppImageConfigName"],
      "members":{
        "AppImageConfigName":{"shape":"AppImageConfigName"},
        "Tags":{"shape":"TagList"},
        "KernelGatewayImageConfig":{"shape":"KernelGatewayImageConfig"}
      }
    },
    "CreateAppImageConfigResponse":{
      "type":"structure",
      "members":{
        "AppImageConfigArn":{"shape":"AppImageConfigArn"}
      }
    },
    "CreateAppRequest":{
      "type":"structure",
      "required":[
        "DomainId",
        "UserProfileName",
        "AppType",
        "AppName"
      ],
      "members":{
        "DomainId":{"shape":"DomainId"},
        "UserProfileName":{"shape":"UserProfileName"},
        "AppType":{"shape":"AppType"},
        "AppName":{"shape":"AppName"},
        "Tags":{"shape":"TagList"},
        "ResourceSpec":{"shape":"ResourceSpec"}
      }
    },
    "CreateAppResponse":{
      "type":"structure",
      "members":{
        "AppArn":{"shape":"AppArn"}
      }
    },
    "CreateAutoMLJobRequest":{
      "type":"structure",
      "required":[
        "AutoMLJobName",
        "InputDataConfig",
        "OutputDataConfig",
        "RoleArn"
      ],
      "members":{
        "AutoMLJobName":{"shape":"AutoMLJobName"},
        "InputDataConfig":{"shape":"AutoMLInputDataConfig"},
        "OutputDataConfig":{"shape":"AutoMLOutputDataConfig"},
        "ProblemType":{"shape":"ProblemType"},
        "AutoMLJobObjective":{"shape":"AutoMLJobObjective"},
        "AutoMLJobConfig":{"shape":"AutoMLJobConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "GenerateCandidateDefinitionsOnly":{"shape":"GenerateCandidateDefinitionsOnly"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateAutoMLJobResponse":{
      "type":"structure",
      "required":["AutoMLJobArn"],
      "members":{
        "AutoMLJobArn":{"shape":"AutoMLJobArn"}
      }
    },
    "CreateCodeRepositoryInput":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "GitConfig"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "CreateCodeRepositoryOutput":{
      "type":"structure",
      "required":["CodeRepositoryArn"],
      "members":{
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"}
      }
    },
    "CreateCompilationJobRequest":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "RoleArn",
        "InputConfig",
        "OutputConfig",
        "StoppingCondition"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "RoleArn":{"shape":"RoleArn"},
        "InputConfig":{"shape":"InputConfig"},
        "OutputConfig":{"shape":"OutputConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateCompilationJobResponse":{
      "type":"structure",
      "required":["CompilationJobArn"],
      "members":{
        "CompilationJobArn":{"shape":"CompilationJobArn"}
      }
    },
    "CreateDomainRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "AuthMode",
        "DefaultUserSettings",
        "SubnetIds",
        "VpcId"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "AuthMode":{"shape":"AuthMode"},
        "DefaultUserSettings":{"shape":"UserSettings"},
        "SubnetIds":{"shape":"Subnets"},
        "VpcId":{"shape":"VpcId"},
        "Tags":{"shape":"TagList"},
        "AppNetworkAccessType":{"shape":"AppNetworkAccessType"},
        "HomeEfsFileSystemKmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "CreateDomainResponse":{
      "type":"structure",
      "members":{
        "DomainArn":{"shape":"DomainArn"},
        "Url":{"shape":"String1024"}
      }
    },
    "CreateEndpointConfigInput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "ProductionVariants"
      ],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "ProductionVariants":{"shape":"ProductionVariantList"},
        "DataCaptureConfig":{"shape":"DataCaptureConfig"},
        "Tags":{"shape":"TagList"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "CreateEndpointConfigOutput":{
      "type":"structure",
      "required":["EndpointConfigArn"],
      "members":{
        "EndpointConfigArn":{"shape":"EndpointConfigArn"}
      }
    },
    "CreateEndpointInput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointConfigName"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEndpointOutput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{"shape":"EndpointArn"}
      }
    },
    "CreateExperimentRequest":{
      "type":"structure",
      "required":["ExperimentName"],
      "members":{
        "ExperimentName":{"shape":"ExperimentEntityName"},
        "DisplayName":{"shape":"ExperimentEntityName"},
        "Description":{"shape":"ExperimentDescription"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateExperimentResponse":{
      "type":"structure",
      "members":{
        "ExperimentArn":{"shape":"ExperimentArn"}
      }
    },
    "CreateFlowDefinitionRequest":{
      "type":"structure",
      "required":[
        "FlowDefinitionName",
        "HumanLoopConfig",
        "OutputConfig",
        "RoleArn"
      ],
      "members":{
        "FlowDefinitionName":{"shape":"FlowDefinitionName"},
        "HumanLoopRequestSource":{"shape":"HumanLoopRequestSource"},
        "HumanLoopActivationConfig":{"shape":"HumanLoopActivationConfig"},
        "HumanLoopConfig":{"shape":"HumanLoopConfig"},
        "OutputConfig":{"shape":"FlowDefinitionOutputConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateFlowDefinitionResponse":{
      "type":"structure",
      "required":["FlowDefinitionArn"],
      "members":{
        "FlowDefinitionArn":{"shape":"FlowDefinitionArn"}
      }
    },
    "CreateHumanTaskUiRequest":{
      "type":"structure",
      "required":[
        "HumanTaskUiName",
        "UiTemplate"
      ],
      "members":{
        "HumanTaskUiName":{"shape":"HumanTaskUiName"},
        "UiTemplate":{"shape":"UiTemplate"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHumanTaskUiResponse":{
      "type":"structure",
      "required":["HumanTaskUiArn"],
      "members":{
        "HumanTaskUiArn":{"shape":"HumanTaskUiArn"}
      }
    },
    "CreateHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobConfig"
      ],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "HyperParameterTuningJobConfig":{"shape":"HyperParameterTuningJobConfig"},
        "TrainingJobDefinition":{"shape":"HyperParameterTrainingJobDefinition"},
        "TrainingJobDefinitions":{"shape":"HyperParameterTrainingJobDefinitions"},
        "WarmStartConfig":{"shape":"HyperParameterTuningJobWarmStartConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":["HyperParameterTuningJobArn"],
      "members":{
        "HyperParameterTuningJobArn":{"shape":"HyperParameterTuningJobArn"}
      }
    },
    "CreateImageRequest":{
      "type":"structure",
      "required":[
        "ImageName",
        "RoleArn"
      ],
      "members":{
        "Description":{"shape":"ImageDescription"},
        "DisplayName":{"shape":"ImageDisplayName"},
        "ImageName":{"shape":"ImageName"},
        "RoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateImageResponse":{
      "type":"structure",
      "members":{
        "ImageArn":{"shape":"ImageArn"}
      }
    },
    "CreateImageVersionRequest":{
      "type":"structure",
      "required":[
        "BaseImage",
        "ClientToken",
        "ImageName"
      ],
      "members":{
        "BaseImage":{"shape":"ImageBaseImage"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "ImageName":{"shape":"ImageName"}
      }
    },
    "CreateImageVersionResponse":{
      "type":"structure",
      "members":{
        "ImageVersionArn":{"shape":"ImageVersionArn"}
      }
    },
    "CreateLabelingJobRequest":{
      "type":"structure",
      "required":[
        "LabelingJobName",
        "LabelAttributeName",
        "InputConfig",
        "OutputConfig",
        "RoleArn",
        "HumanTaskConfig"
      ],
      "members":{
        "LabelingJobName":{"shape":"LabelingJobName"},
        "LabelAttributeName":{"shape":"LabelAttributeName"},
        "InputConfig":{"shape":"LabelingJobInputConfig"},
        "OutputConfig":{"shape":"LabelingJobOutputConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "LabelCategoryConfigS3Uri":{"shape":"S3Uri"},
        "StoppingConditions":{"shape":"LabelingJobStoppingConditions"},
        "LabelingJobAlgorithmsConfig":{"shape":"LabelingJobAlgorithmsConfig"},
        "HumanTaskConfig":{"shape":"HumanTaskConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateLabelingJobResponse":{
      "type":"structure",
      "required":["LabelingJobArn"],
      "members":{
        "LabelingJobArn":{"shape":"LabelingJobArn"}
      }
    },
    "CreateModelInput":{
      "type":"structure",
      "required":[
        "ModelName",
        "ExecutionRoleArn"
      ],
      "members":{
        "ModelName":{"shape":"ModelName"},
        "PrimaryContainer":{"shape":"ContainerDefinition"},
        "Containers":{"shape":"ContainerDefinitionList"},
        "ExecutionRoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"},
        "VpcConfig":{"shape":"VpcConfig"},
        "EnableNetworkIsolation":{"shape":"Boolean"}
      }
    },
    "CreateModelOutput":{
      "type":"structure",
      "required":["ModelArn"],
      "members":{
        "ModelArn":{"shape":"ModelArn"}
      }
    },
    "CreateModelPackageInput":{
      "type":"structure",
      "members":{
        "ModelPackageName":{"shape":"EntityName"},
        "ModelPackageDescription":{"shape":"EntityDescription"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"ModelPackageValidationSpecification"},
        "SourceAlgorithmSpecification":{"shape":"SourceAlgorithmSpecification"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "CreateModelPackageOutput":{
      "type":"structure",
      "required":["ModelPackageArn"],
      "members":{
        "ModelPackageArn":{"shape":"ModelPackageArn"}
      }
    },
    "CreateMonitoringScheduleRequest":{
      "type":"structure",
      "required":[
        "MonitoringScheduleName",
        "MonitoringScheduleConfig"
      ],
      "members":{
        "MonitoringScheduleName":{"shape":"MonitoringScheduleName"},
        "MonitoringScheduleConfig":{"shape":"MonitoringScheduleConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateMonitoringScheduleResponse":{
      "type":"structure",
      "required":["MonitoringScheduleArn"],
      "members":{
        "MonitoringScheduleArn":{"shape":"MonitoringScheduleArn"}
      }
    },
    "CreateNotebookInstanceInput":{
      "type":"structure",
      "required":[
        "NotebookInstanceName",
        "InstanceType",
        "RoleArn"
      ],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "InstanceType":{"shape":"InstanceType"},
        "SubnetId":{"shape":"SubnetId"},
        "SecurityGroupIds":{"shape":"SecurityGroupIds"},
        "RoleArn":{"shape":"RoleArn"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "Tags":{"shape":"TagList"},
        "LifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "DirectInternetAccess":{"shape":"DirectInternetAccess"},
        "VolumeSizeInGB":{"shape":"NotebookInstanceVolumeSizeInGB"},
        "AcceleratorTypes":{"shape":"NotebookInstanceAcceleratorTypes"},
        "DefaultCodeRepository":{"shape":"CodeRepositoryNameOrUrl"},
        "AdditionalCodeRepositories":{"shape":"AdditionalCodeRepositoryNamesOrUrls"},
        "RootAccess":{"shape":"RootAccess"}
      }
    },
    "CreateNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "OnCreate":{"shape":"NotebookInstanceLifecycleConfigList"},
        "OnStart":{"shape":"NotebookInstanceLifecycleConfigList"}
      }
    },
    "CreateNotebookInstanceLifecycleConfigOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceLifecycleConfigArn":{"shape":"NotebookInstanceLifecycleConfigArn"}
      }
    },
    "CreateNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{"shape":"NotebookInstanceArn"}
      }
    },
    "CreatePresignedDomainUrlRequest":{
      "type":"structure",
      "required":[
        "DomainId",
        "UserProfileName"
      ],
      "members":{
        "DomainId":{"shape":"DomainId"},
        "UserProfileName":{"shape":"UserProfileName"},
        "SessionExpirationDurationInSeconds":{"shape":"SessionExpirationDurationInSeconds"}
      }
    },
    "CreatePresignedDomainUrlResponse":{
      "type":"structure",
      "members":{
        "AuthorizedUrl":{"shape":"PresignedDomainUrl"}
      }
    },
    "CreatePresignedNotebookInstanceUrlInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "SessionExpirationDurationInSeconds":{"shape":"SessionExpirationDurationInSeconds"}
      }
    },
    "CreatePresignedNotebookInstanceUrlOutput":{
      "type":"structure",
      "members":{
        "AuthorizedUrl":{"shape":"NotebookInstanceUrl"}
      }
    },
    "CreateProcessingJobRequest":{
      "type":"structure",
      "required":[
        "ProcessingJobName",
        "ProcessingResources",
        "AppSpecification",
        "RoleArn"
      ],
      "members":{
        "ProcessingInputs":{"shape":"ProcessingInputs"},
        "ProcessingOutputConfig":{"shape":"ProcessingOutputConfig"},
        "ProcessingJobName":{"shape":"ProcessingJobName"},
        "ProcessingResources":{"shape":"ProcessingResources"},
        "StoppingCondition":{"shape":"ProcessingStoppingCondition"},
        "AppSpecification":{"shape":"AppSpecification"},
        "Environment":{"shape":"ProcessingEnvironmentMap"},
        "NetworkConfig":{"shape":"NetworkConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"},
        "ExperimentConfig":{"shape":"ExperimentConfig"}
      }
    },
    "CreateProcessingJobResponse":{
      "type":"structure",
      "required":["ProcessingJobArn"],
      "members":{
        "ProcessingJobArn":{"shape":"ProcessingJobArn"}
      }
    },
    "CreateTrainingJobRequest":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "AlgorithmSpecification",
        "RoleArn",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "HyperParameters":{"shape":"HyperParameters"},
        "AlgorithmSpecification":{"shape":"AlgorithmSpecification"},
        "RoleArn":{"shape":"RoleArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "ResourceConfig":{"shape":"ResourceConfig"},
        "VpcConfig":{"shape":"VpcConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "Tags":{"shape":"TagList"},
        "EnableNetworkIsolation":{"shape":"Boolean"},
        "EnableInterContainerTrafficEncryption":{"shape":"Boolean"},
        "EnableManagedSpotTraining":{"shape":"Boolean"},
        "CheckpointConfig":{"shape":"CheckpointConfig"},
        "DebugHookConfig":{"shape":"DebugHookConfig"},
        "DebugRuleConfigurations":{"shape":"DebugRuleConfigurations"},
        "TensorBoardOutputConfig":{"shape":"TensorBoardOutputConfig"},
        "ExperimentConfig":{"shape":"ExperimentConfig"}
      }
    },
    "CreateTrainingJobResponse":{
      "type":"structure",
      "required":["TrainingJobArn"],
      "members":{
        "TrainingJobArn":{"shape":"TrainingJobArn"}
      }
    },
    "CreateTransformJobRequest":{
      "type":"structure",
      "required":[
        "TransformJobName",
        "ModelName",
        "TransformInput",
        "TransformOutput",
        "TransformResources"
      ],
      "members":{
        "TransformJobName":{"shape":"TransformJobName"},
        "ModelName":{"shape":"ModelName"},
        "MaxConcurrentTransforms":{"shape":"MaxConcurrentTransforms"},
        "ModelClientConfig":{"shape":"ModelClientConfig"},
        "MaxPayloadInMB":{"shape":"MaxPayloadInMB"},
        "BatchStrategy":{"shape":"BatchStrategy"},
        "Environment":{"shape":"TransformEnvironmentMap"},
        "TransformInput":{"shape":"TransformInput"},
        "TransformOutput":{"shape":"TransformOutput"},
        "TransformResources":{"shape":"TransformResources"},
        "DataProcessing":{"shape":"DataProcessing"},
        "Tags":{"shape":"TagList"},
        "ExperimentConfig":{"shape":"ExperimentConfig"}
      }
    },
    "CreateTransformJobResponse":{
      "type":"structure",
      "required":["TransformJobArn"],
      "members":{
        "TransformJobArn":{"shape":"TransformJobArn"}
      }
    },
    "CreateTrialComponentRequest":{
      "type":"structure",
      "required":["TrialComponentName"],
      "members":{
        "TrialComponentName":{"shape":"ExperimentEntityName"},
        "DisplayName":{"shape":"ExperimentEntityName"},
        "Status":{"shape":"TrialComponentStatus"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "Parameters":{"shape":"TrialComponentParameters"},
        "InputArtifacts":{"shape":"TrialComponentArtifacts"},
        "OutputArtifacts":{"shape":"TrialComponentArtifacts"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateTrialComponentResponse":{
      "type":"structure",
      "members":{
        "TrialComponentArn":{"shape":"TrialComponentArn"}
      }
    },
    "CreateTrialRequest":{
      "type":"structure",
      "required":[
        "TrialName",
        "ExperimentName"
      ],
      "members":{
        "TrialName":{"shape":"ExperimentEntityName"},
        "DisplayName":{"shape":"ExperimentEntityName"},
        "ExperimentName":{"shape":"ExperimentEntityName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateTrialResponse":{
      "type":"structure",
      "members":{
        "TrialArn":{"shape":"TrialArn"}
      }
    },
    "CreateUserProfileRequest":{
      "type":"structure",
      "required":[
        "DomainId",
        "UserProfileName"
      ],
      "members":{
        "DomainId":{"shape":"DomainId"},
        "UserProfileName":{"shape":"UserProfileName"},
        "SingleSignOnUserIdentifier":{"shape":"SingleSignOnUserIdentifier"},
        "SingleSignOnUserValue":{"shape":"String256"},
        "Tags":{"shape":"TagList"},
        "UserSettings":{"shape":"UserSettings"}
      }
    },
    "CreateUserProfileResponse":{
      "type":"structure",
      "members":{
        "UserProfileArn":{"shape":"UserProfileArn"}
      }
    },
    "CreateWorkforceRequest":{
      "type":"structure",
      "required":["WorkforceName"],
      "members":{
        "CognitoConfig":{"shape":"CognitoConfig"},
        "OidcConfig":{"shape":"OidcConfig"},
        "SourceIpConfig":{"shape":"SourceIpConfig"},
        "WorkforceName":{"shape":"WorkforceName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateWorkforceResponse":{
      "type":"structure",
      "required":["WorkforceArn"],
      "members":{
        "WorkforceArn":{"shape":"WorkforceArn"}
      }
    },
    "CreateWorkteamRequest":{
      "type":"structure",
      "required":[
        "WorkteamName",
        "MemberDefinitions",
        "Description"
      ],
      "members":{
        "WorkteamName":{"shape":"WorkteamName"},
        "WorkforceName":{"shape":"WorkforceName"},
        "MemberDefinitions":{"shape":"MemberDefinitions"},
        "Description":{"shape":"String200"},
        "NotificationConfiguration":{"shape":"NotificationConfiguration"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateWorkteamResponse":{
      "type":"structure",
      "members":{
        "WorkteamArn":{"shape":"WorkteamArn"}
      }
    },
    "CreationTime":{"type":"timestamp"},
    "CsvContentType":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*\\/[a-zA-Z0-9](-*[a-zA-Z0-9.])*"
    },
    "CsvContentTypes":{
      "type":"list",
      "member":{"shape":"CsvContentType"},
      "max":10,
      "min":1
    },
    "CustomImage":{
      "type":"structure",
      "required":[
        "ImageName",
        "AppImageConfigName"
      ],
      "members":{
        "ImageName":{"shape":"ImageName"},
        "ImageVersionNumber":{
          "shape":"ImageVersionNumber",
          "box":true
        },
        "AppImageConfigName":{"shape":"AppImageConfigName"}
      }
    },
    "CustomImages":{
      "type":"list",
      "member":{"shape":"CustomImage"},
      "max":30
    },
    "DataCaptureConfig":{
      "type":"structure",
      "required":[
        "InitialSamplingPercentage",
        "DestinationS3Uri",
        "CaptureOptions"
      ],
      "members":{
        "EnableCapture":{"shape":"EnableCapture"},
        "InitialSamplingPercentage":{"shape":"SamplingPercentage"},
        "DestinationS3Uri":{"shape":"DestinationS3Uri"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "CaptureOptions":{"shape":"CaptureOptionList"},
        "CaptureContentTypeHeader":{"shape":"CaptureContentTypeHeader"}
      }
    },
    "DataCaptureConfigSummary":{
      "type":"structure",
      "required":[
        "EnableCapture",
        "CaptureStatus",
        "CurrentSamplingPercentage",
        "DestinationS3Uri",
        "KmsKeyId"
      ],
      "members":{
        "EnableCapture":{"shape":"EnableCapture"},
        "CaptureStatus":{"shape":"CaptureStatus"},
        "CurrentSamplingPercentage":{"shape":"SamplingPercentage"},
        "DestinationS3Uri":{"shape":"DestinationS3Uri"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "DataExplorationNotebookLocation":{
      "type":"string",
      "min":1
    },
    "DataInputConfig":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\S\\s]+"
    },
    "DataProcessing":{
      "type":"structure",
      "members":{
        "InputFilter":{"shape":"JsonPath"},
        "OutputFilter":{"shape":"JsonPath"},
        "JoinSource":{"shape":"JoinSource"}
      }
    },
    "DataSource":{
      "type":"structure",
      "members":{
        "S3DataSource":{"shape":"S3DataSource"},
        "FileSystemDataSource":{"shape":"FileSystemDataSource"}
      }
    },
    "DebugHookConfig":{
      "type":"structure",
      "required":["S3OutputPath"],
      "members":{
        "LocalPath":{"shape":"DirectoryPath"},
        "S3OutputPath":{"shape":"S3Uri"},
        "HookParameters":{"shape":"HookParameters"},
        "CollectionConfigurations":{"shape":"CollectionConfigurations"}
      }
    },
    "DebugRuleConfiguration":{
      "type":"structure",
      "required":[
        "RuleConfigurationName",
        "RuleEvaluatorImage"
      ],
      "members":{
        "RuleConfigurationName":{"shape":"RuleConfigurationName"},
        "LocalPath":{"shape":"DirectoryPath"},
        "S3OutputPath":{"shape":"S3Uri"},
        "RuleEvaluatorImage":{"shape":"AlgorithmImage"},
        "InstanceType":{"shape":"ProcessingInstanceType"},
        "VolumeSizeInGB":{"shape":"OptionalVolumeSizeInGB"},
        "RuleParameters":{"shape":"RuleParameters"}
      }
    },
    "DebugRuleConfigurations":{
      "type":"list",
      "member":{"shape":"DebugRuleConfiguration"},
      "max":20,
      "min":0
    },
    "DebugRuleEvaluationStatus":{
      "type":"structure",
      "members":{
        "RuleConfigurationName":{"shape":"RuleConfigurationName"},
        "RuleEvaluationJobArn":{"shape":"ProcessingJobArn"},
        "RuleEvaluationStatus":{"shape":"RuleEvaluationStatus"},
        "StatusDetails":{"shape":"StatusDetails"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "DebugRuleEvaluationStatuses":{
      "type":"list",
      "member":{"shape":"DebugRuleEvaluationStatus"},
      "max":20,
      "min":0
    },
    "DefaultGid":{
      "type":"integer",
      "max":65535,
      "min":0
    },
    "DefaultUid":{
      "type":"integer",
      "max":65535,
      "min":0
    },
    "DeleteAlgorithmInput":{
      "type":"structure",
      "required":["AlgorithmName"],
      "members":{
        "AlgorithmName":{"shape":"EntityName"}
      }
    },
    "DeleteAppImageConfigRequest":{
      "type":"structure",
      "required":["AppImageConfigName"],
      "members":{
        "AppImageConfigName":{"shape":"AppImageConfigName"}
      }
    },
    "DeleteAppRequest":{
      "type":"structure",
      "required":[
        "DomainId",
        "UserProfileName",
        "AppType",
        "AppName"
      ],
      "members":{
        "DomainId":{"shape":"DomainId"},
        "UserProfileName":{"shape":"UserProfileName"},
        "AppType":{"shape":"AppType"},
        "AppName":{"shape":"AppName"}
      }
    },
    "DeleteCodeRepositoryInput":{
      "type":"structure",
      "required":["CodeRepositoryName"],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"}
      }
    },
    "DeleteDomainRequest":{
      "type":"structure",
      "required":["DomainId"],
      "members":{
        "DomainId":{"shape":"DomainId"},
        "RetentionPolicy":{"shape":"RetentionPolicy"}
      }
    },
[...]
