{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://run.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Cloud Run",
  "description": "Deploy and manage user provided container images that scale automatically based on HTTP traffic.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/run/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "run:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "name": "run",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "api": {
      "resources": {
        "v1": {
          "resources": {
            "namespaces": {
              "resources": {
                "secrets": {
                  "methods": {
                    "create": {
                      "description": "Creates a new secret.",
                      "flatPath": "api/v1/namespaces/{namespacesId}/secrets",
                      "httpMethod": "POST",
                      "id": "run.api.v1.namespaces.secrets.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The project ID or project number in which this secret should\nbe created.",
                          "location": "path",
                          "pattern": "^namespaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "api/v1/{+parent}/secrets",
                      "request": {
                        "$ref": "Secret"
                      },
                      "response": {
                        "$ref": "Secret"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "description": "Rpc to get information about a secret.",
                      "flatPath": "api/v1/namespaces/{namespacesId}/secrets/{secretsId}",
                      "httpMethod": "GET",
                      "id": "run.api.v1.namespaces.secrets.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the secret being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                          "location": "path",
                          "pattern": "^namespaces/[^/]+/secrets/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "api/v1/{+name}",
                      "response": {
                        "$ref": "Secret"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "replaceSecret": {
                      "description": "Rpc to replace a secret.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
                      "flatPath": "api/v1/namespaces/{namespacesId}/secrets/{secretsId}",
                      "httpMethod": "PUT",
                      "id": "run.api.v1.namespaces.secrets.replaceSecret",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the secret being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                          "location": "path",
                          "pattern": "^namespaces/[^/]+/secrets/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "api/v1/{+name}",
                      "request": {
                        "$ref": "Secret"
                      },
                      "response": {
                        "$ref": "Secret"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "namespaces": {
      "resources": {
        "authorizeddomains": {
          "methods": {
            "list": {
              "description": "List authorized domains.",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
              "httpMethod": "GET",
              "id": "run.namespaces.authorizeddomains.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Name of the parent Application resource. Example: `apps/myapp`.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "configurations": {
          "methods": {
            "get": {
              "description": "Get information about a configuration.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "httpMethod": "GET",
              "id": "run.namespaces.configurations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the configuration to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "List configurations.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "httpMethod": "GET",
              "id": "run.namespaces.configurations.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "The namespace from which the configurations should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "domainmappings": {
          "methods": {
            "create": {
              "description": "Create a new domain mapping.",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "httpMethod": "POST",
              "id": "run.namespaces.domainmappings.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The namespace in which the domain mapping should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "request": {
                "$ref": "DomainMapping"
              },
              "response": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Delete a domain mapping.",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "httpMethod": "DELETE",
              "id": "run.namespaces.domainmappings.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the domain mapping to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "response": {
                "$ref": "Status"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Get information about a domain mapping.",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "httpMethod": "GET",
              "id": "run.namespaces.domainmappings.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the domain mapping to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "response": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "List domain mappings.",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "httpMethod": "GET",
              "id": "run.namespaces.domainmappings.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "The namespace from which the domain mappings should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "revisions": {
          "methods": {
            "delete": {
              "description": "Delete a revision.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "httpMethod": "DELETE",
              "id": "run.namespaces.revisions.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the revision to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Status"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Get information about a revision.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "httpMethod": "GET",
              "id": "run.namespaces.revisions.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the revision to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Revision"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "List revisions.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "httpMethod": "GET",
              "id": "run.namespaces.revisions.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "The namespace from which the revisions should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "routes": {
          "methods": {
            "get": {
              "description": "Get information about a route.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
              "httpMethod": "GET",
              "id": "run.namespaces.routes.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the route to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Route"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "List routes.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
              "httpMethod": "GET",
              "id": "run.namespaces.routes.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "The namespace from which the routes should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "services": {
          "methods": {
            "create": {
              "description": "Create a service.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "httpMethod": "POST",
              "id": "run.namespaces.services.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The namespace in which the service should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "request": {
                "$ref": "Service"
              },
              "response": {
                "$ref": "Service"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Delete a service.\nThis will cause the Service to stop serving traffic and will delete the\nchild entities like Routes, Configurations and Revisions.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "httpMethod": "DELETE",
              "id": "run.namespaces.services.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the service to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Status"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Get information about a service.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "httpMethod": "GET",
              "id": "run.namespaces.services.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the service to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Service"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "List services.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "httpMethod": "GET",
              "id": "run.namespaces.services.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "The namespace from which the services should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "replaceService": {
              "description": "Replace a service.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "httpMethod": "PUT",
              "id": "run.namespaces.services.replaceService",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the service being replaced.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "request": {
                "$ref": "Service"
              },
              "response": {
                "$ref": "Service"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "run.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "authorizeddomains": {
              "methods": {
                "list": {
                  "description": "List authorized domains.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizeddomains",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.authorizeddomains.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum results to return per page.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Name of the parent Application resource. Example: `apps/myapp`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/authorizeddomains",
                  "response": {
                    "$ref": "ListAuthorizedDomainsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "configurations": {
              "methods": {
                "get": {
                  "description": "Get information about a configuration.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations/{configurationsId}",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.configurations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the configuration to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configurations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Configuration"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List configurations.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.configurations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "continue": {
                      "description": "Optional encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "The namespace from which the configurations should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+parent}/configurations",
                  "response": {
                    "$ref": "ListConfigurationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "domainmappings": {
              "methods": {
                "create": {
                  "description": "Create a new domain mapping.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.domainmappings.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "The namespace in which the domain mapping should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/domainmappings",
                  "request": {
                    "$ref": "DomainMapping"
                  },
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Delete a domain mapping.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "httpMethod": "DELETE",
                  "id": "run.projects.locations.domainmappings.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the domain mapping to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Status"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Get information about a domain mapping.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.domainmappings.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the domain mapping to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List domain mappings.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.domainmappings.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "continue": {
                      "description": "Optional encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "The namespace from which the domain mappings should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+parent}/domainmappings",
                  "response": {
                    "$ref": "ListDomainMappingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "revisions": {
              "methods": {
                "delete": {
                  "description": "Delete a revision.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "httpMethod": "DELETE",
                  "id": "run.projects.locations.revisions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the revision to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Status"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Get information about a revision.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.revisions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the revision to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Revision"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List revisions.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.revisions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "continue": {
                      "description": "Optional encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "The namespace from which the revisions should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+parent}/revisions",
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "routes": {
              "methods": {
                "get": {
                  "description": "Get information about a route.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes/{routesId}",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.routes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the route to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/routes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Route"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List routes.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.routes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "continue": {
                      "description": "Optional encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "The namespace from which the routes should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+parent}/routes",
                  "response": {
                    "$ref": "ListRoutesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "secrets": {
              "methods": {
                "create": {
                  "description": "Creates a new secret.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.secrets.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project ID or project number in which this secret should\nbe created.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/secrets",
                  "request": {
                    "$ref": "Secret"
                  },
                  "response": {
                    "$ref": "Secret"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Rpc to get information about a secret.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.secrets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the secret being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Secret"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "replaceSecret": {
                  "description": "Rpc to replace a secret.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "httpMethod": "PUT",
                  "id": "run.projects.locations.secrets.replaceSecret",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the secret being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Secret"
                  },
                  "response": {
                    "$ref": "Secret"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "services": {
              "methods": {
                "create": {
                  "description": "Create a service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.services.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "The namespace in which the service should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/services",
                  "request": {
                    "$ref": "Service"
                  },
                  "response": {
                    "$ref": "Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Delete a service.\nThis will cause the Service to stop serving traffic and will delete the\nchild entities like Routes, Configurations and Revisions.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "DELETE",
                  "id": "run.projects.locations.services.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the service to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Status"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Get information about a service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.services.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the service to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "description": "Get the IAM Access Control policy currently in effect for the given\nCloud Run service. This result does not include any inherited policies.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.services.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List services.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "GET",
                  "id": "run.projects.locations.services.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "continue": {
                      "description": "Optional encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "The namespace from which the services should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+parent}/services",
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "replaceService": {
                  "description": "Replace a service.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "PUT",
                  "id": "run.projects.locations.services.replaceService",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the service being replaced.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Service"
                  },
                  "response": {
                    "$ref": "Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites\nany existing policy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "description": "Returns permissions that a caller has on the specified Project.\n\nThere are no permissions required for making this API call.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.services.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20200219",
  "rootUrl": "https://run.googleapis.com/",
  "schemas": {
    "Addressable": {
      "description": "Information for connecting over HTTP(s).",
      "id": "Addressable",
      "properties": {
        "url": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthorizedDomain": {
      "description": "A domain that a user has been authorized to administer. To authorize use\nof a domain, verify ownership via\n[Webmaster Central](https://www.google.com/webmasters/verification/home).",
      "id": "AuthorizedDomain",
      "properties": {
        "id": {
          "description": "Relative name of the domain authorized for use. Example: `example.com`.",
          "type": "string"
        },
        "name": {
          "description": "Read only. Full path to the `AuthorizedDomain` resource in the API.\nExample: `apps/myapp/authorizedDomains/example.com`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members` with a `role`.",
      "id": "Binding",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently."
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigMapEnvSource": {
      "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nConfigMapEnvSource selects a ConfigMap to populate the environment\nvariables with.\n\nThe contents of the target ConfigMap's Data field will represent the\nkey-value pairs as environment variables.",
      "id": "ConfigMapEnvSource",
      "properties": {
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined\ndirectly into the message. Use the \"name\" field instead."
        },
        "name": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe ConfigMap to select from.",
          "type": "string"
        },
        "optional": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSpecify whether the ConfigMap must be defined",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ConfigMapKeySelector": {
      "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSelects a key from a ConfigMap.",
      "id": "ConfigMapKeySelector",
      "properties": {
        "key": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe key to select.",
          "type": "string"
        },
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined\ndirectly into the message. Use the \"name\" field instead."
        },
        "name": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe ConfigMap to select from.",
          "type": "string"
        },
        "optional": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSpecify whether the ConfigMap or its key must be defined",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ConfigMapVolumeSource": {
      "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nAdapts a ConfigMap into a volume.\nThe contents of the target ConfigMap's Data field will be presented in a\nvolume as files using the keys in the Data field as the file names, unless\nthe items element is populated with specific mappings of keys to paths.",
      "id": "ConfigMapVolumeSource",
      "properties": {
        "defaultMode": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nMode bits to use on created files by default. Must be a value between 0 and\n0777. Defaults to 0644. Directories within the path are not affected by\nthis setting. This might be in conflict with other options that affect the\nfile mode, like fsGroup, and the result can be other mode bits set.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nIf unspecified, each key-value pair in the Data field of the referenced\nSecret will be projected into the volume as a file whose name is the\nkey and content is the value. If specified, the listed keys will be\nprojected into the specified paths, and unlisted keys will not be\npresent. If a key is specified which is not present in the Secret,\nthe volume setup will error unless it is marked optional.",
          "items": {
            "$ref": "KeyToPath"
          },
          "type": "array"
        },
        "name": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nName of the config.",
          "type": "string"
        },
        "optional": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSpecify whether the Secret or its keys must be defined.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Configuration": {
      "description": "Configuration represents the \"floating HEAD\" of a linear history of\nRevisions, and optionally how the containers those revisions reference are\nbuilt. Users create new Revisions by updating the Configuration's spec. The\n\"latest created\" revision's name is available under status, as is the \"latest\nready\" revision's name. See also:\nhttps://github.com/knative/serving/blob/master/docs/spec/overview.md#configuration",
      "id": "Configuration",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case always \"Configuration\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Metadata associated with this Configuration, including name, namespace,\nlabels, and annotations."
        },
        "spec": {
          "$ref": "ConfigurationSpec",
          "description": "Spec holds the desired state of the Configuration (from the client)."
        },
        "status": {
          "$ref": "ConfigurationStatus",
          "description": "Status communicates the observed state of the Configuration (from the\ncontroller)."
        }
      },
      "type": "object"
    },
    "ConfigurationSpec": {
      "description": "ConfigurationSpec holds the desired state of the Configuration (from the\nclient).",
      "id": "ConfigurationSpec",
      "properties": {
        "template": {
          "$ref": "RevisionTemplate",
          "description": "Optional metadata for this Revision, including labels and annotations. Name\nwill be generated by the Configuration.\nTo set minimum instances for this revision, use the\n\"autoscaling.knative.dev/minScale\" annotation key. (Cloud Run for Anthos\nonly). To set maximum instances for this revision, use the\n\"autoscaling.knative.dev/maxScale\" annotation key.\nTo set Cloud SQL connections for the revision, use the\n\"run.googleapis.com/cloudsql-instances\" annotation key. Values should be\ncomma separated."
        }
      },
      "type": "object"
    },
    "ConfigurationStatus": {
      "description": "ConfigurationStatus communicates the observed state of the Configuration\n(from the controller).",
      "id": "ConfigurationStatus",
      "properties": {
        "conditions": {
          "description": "Conditions communicates information about ongoing/complete\nreconciliation processes that bring the \"spec\" inline with the observed\nstate of the world.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array"
        },
        "latestCreatedRevisionName": {
          "description": "LatestCreatedRevisionName is the last revision that was created from this\nConfiguration. It might not be ready yet, for that use\nLatestReadyRevisionName.",
          "type": "string"
        },
        "latestReadyRevisionName": {
          "description": "LatestReadyRevisionName holds the name of the latest Revision stamped out\nfrom this Configuration that has had its \"Ready\" condition become \"True\".",
          "type": "string"
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Configuration that\nwas last processed by the controller. The observed generation is updated\neven if the controller failed to process the spec and create the Revision.\n\nClients polling for completed reconciliation should poll until\nobservedGeneration = metadata.generation, and the Ready condition's status\nis True or False.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Container": {
      "description": "A single application container.\nThis specifies both the container to run, the command to run in the container\nand the arguments to supply to it.\nNote that additional arguments may be supplied by the system to the container\nat runtime.",
      "id": "Container",
      "properties": {
        "args": {
          "description": "(Optional)\n\nCloud Run fully managed: supported\n\nCloud Run for Anthos: supported\n\nArguments to the entrypoint.\nThe docker image's CMD is used if this is not provided.\nVariable references $(VAR_NAME) are expanded using the container's\nenvironment. If a variable cannot be resolved, the reference in the input\nstring will be unchanged. The $(VAR_NAME) syntax can be escaped with a\ndouble $$, ie: $$(VAR_NAME). Escaped references will never be expanded,\nregardless of whether the variable exists or not.\nMore info:\nhttps://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "command": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "env": {
          "description": "(Optional)\n\nCloud Run fully managed: supported\n\nCloud Run for Anthos: supported\n\nList of environment variables to set in the container.",
          "items": {
            "$ref": "EnvVar"
          },
          "type": "array"
        },
        "envFrom": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nList of sources to populate environment variables in the container.\nThe keys defined within a source must be a C_IDENTIFIER. All invalid keys\nwill be reported as an event when the container is starting. When a key\nexists in multiple sources, the value associated with the last source will\ntake precedence. Values defined by an Env with a duplicate key will take\nprecedence. Cannot be updated.",
          "items": {
            "$ref": "EnvFromSource"
          },
          "type": "array"
        },
        "image": {
[...]
