---
version: 1
interactions:
- request:
    body: |
      {"TableName":"tableempty62storagetablesuitetes"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:UsYE3kLXXLKTBeeYii6iLPyym2UeBqsx0X9MOt5Caxo=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:12 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('tableempty62storagetablesuitetes')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('tableempty62storagetablesuitetes')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:HN20iD4vefLDIwvJFzwKM1YgIC+pdgdgyokrCEESVPE=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:12 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27tableempty62storagetablesuitetes%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:k0uJrL4f2aWzYC1JyHlp/46T4t70jfsr7R7OtKcE2/8=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:12 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27tablenm62storagetablesuitetestcr%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      {"TableName":"tableminimal62storagetablesuitet"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:UsYE3kLXXLKTBeeYii6iLPyym2UeBqsx0X9MOt5Caxo=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:12 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#Tables/@Element","TableName":"tableminimal62storagetablesuitet"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('tableminimal62storagetablesuitet')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:6v/XiV8pVOiO61AGfseIylhBL0BJiadNcsmn1XRe/FA=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:12 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27tableminimal62storagetablesuitet%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      {"TableName":"tablefull62storagetablesuitetest"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:UsYE3kLXXLKTBeeYii6iLPyym2UeBqsx0X9MOt5Caxo=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:12 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#Tables/@Element","odata.type":"golangrocksonazure.Tables","odata.id":"https://golangrocksonazure.table.core.windows.net/Tables(''tablefull62storagetablesuitetest'')","odata.editLink":"Tables(''tablefull62storagetablesuitetest'')","TableName":"tablefull62storagetablesuitetest"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('tablefull62storagetablesuitetest')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:ay1Hs0/2HXIEDu1r5k/jd2h40t6TcypGXq1Jdeu69wE=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:12 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27tablefull62storagetablesuitetest%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
