---
version: 1
interactions:
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>raud</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:AZfAyjlsL2uoLkRtvobfgCtN4zXE4Q5200DR1j9eCPU=
      x-ms-date:
      - Tue, 28 May 2019 22:36:12 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/nonexistingtable?comp=acl&timeout=30
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>TableNotFound</m:code><m:message xml:lang="en-US">The table specified does not exist.
      RequestId:ac811095-6002-0062-14a5-153a2a000000
      Time:2019-05-28T22:36:11.9869234Z</m:message></m:error>
    headers:
      Content-Type:
      - application/xml
      X-Ms-Error-Code:
      - TableNotFound
      X-Ms-Version:
      - "2018-03-28"
    status: 404 The table specified does not exist.
    code: 404
    duration: ""
