---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table48tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:dtcC3wSMuK4W9SYTiGjiH2R7zkevmJsRIdu8aCBqg40=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:11 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_4c5bfa8b-1024-4fb1-9825-fc0d1751cc4d\r\nContent-Type: multipart/mixed;
      boundary=changeset_106d6946-1903-4407-925d-6e0e68b6546d\r\n\r\n\r\n--changeset_106d6946-1903-4407-925d-6e0e68b6546d\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_106d6946-1903-4407-925d-6e0e68b6546d\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nDELETE https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nIf-Match: *\r\nPrefer: return-no-content\r\n\r\n\r\n--changeset_106d6946-1903-4407-925d-6e0e68b6546d--\r\n\r\n--batch_4c5bfa8b-1024-4fb1-9825-fc0d1751cc4d--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:+uP3J9EdKVww+AaUQPcwQDzl09YubR7fwzIqSxAqnmM=
      Content-Type:
      - multipart/mixed; boundary=batch_4c5bfa8b-1024-4fb1-9825-fc0d1751cc4d
      X-Ms-Date:
      - Tue, 28 May 2019 22:36:11 GMT
      X-Ms-Version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_51b885b0-ef87-4f27-9f85-be5a26bd01b0\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_d4047c56-a557-4297-b10d-3be5f6e2e56b\r\n\r\n--changesetresponse_d4047c56-a557-4297-b10d-3be5f6e2e56b\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 400 Bad
      Request\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
      3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"InvalidDuplicateRow\",\"message\":{\"lang\":\"en-US\",\"value\":\"1:The
      batch request contains multiple changes with same row key. An entity can appear
      only once in a batch request.\\nRequestId:ac811020-6002-0062-2da5-153a2a000000\\nTime:2019-05-28T22:36:11.3354655Z\"}}}\r\n--changesetresponse_d4047c56-a557-4297-b10d-3be5f6e2e56b--\r\n--batchresponse_51b885b0-ef87-4f27-9f85-be5a26bd01b0--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_51b885b0-ef87-4f27-9f85-be5a26bd01b0
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:srTFnH+2BTNFxf4kxzQCvNPplVge5dwo6mPVHb93Fwo=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:11 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table48tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
