---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table58tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:dtcC3wSMuK4W9SYTiGjiH2R7zkevmJsRIdu8aCBqg40=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:11 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table58tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table58tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_820deae5-06b6-4813-b620-1cff78664488\r\nContent-Type: multipart/mixed;
      boundary=changeset_06a8eb33-dab8-44b0-a383-02375144a315\r\n\r\n\r\n--changeset_06a8eb33-dab8-44b0-a383-02375144a315\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_06a8eb33-dab8-44b0-a383-02375144a315--\r\n\r\n--batch_820deae5-06b6-4813-b620-1cff78664488--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Ce7APSehkex+85fOcbw/d9UwOghj+q5zZUGERI2jhTE=
      Content-Type:
      - multipart/mixed; boundary=batch_820deae5-06b6-4813-b620-1cff78664488
      X-Ms-Date:
      - Tue, 28 May 2019 22:36:11 GMT
      X-Ms-Version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_5af104ec-eaf2-42e8-9c0f-28b4be8c8a5c\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_4fc532c2-c68e-40a1-b5f1-4a758b15b5f4\r\n\r\n--changesetresponse_4fc532c2-c68e-40a1-b5f1-4a758b15b5f4\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204 No
      Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nETag: W/\"datetime'2019-05-28T22%3A36%3A11.4689393Z'\"\r\n\r\n\r\n--changesetresponse_4fc532c2-c68e-40a1-b5f1-4a758b15b5f4--\r\n--batchresponse_5af104ec-eaf2-42e8-9c0f-28b4be8c8a5c--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_5af104ec-eaf2-42e8-9c0f-28b4be8c8a5c
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:44wwhJggl4REXLrHwMbDr7CY5fyC5GPhFkcWPTMEU8c=
      x-ms-date:
      - Tue, 28 May 2019 22:36:11 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi?%24top=2&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table58tablebatchsuitetestbatchi","value":[{"odata.type":"golangrocksonazure.table58tablebatchsuitetestbatchi","odata.id":"https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2019-05-28T22%3A36%3A11.4689393Z''\"","odata.editLink":"table58tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-28T22:36:11.4689393Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","IsActive":true,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:y55DCbHAU+A2bfvQqgFGXqNn8iC2XUIqpVr4by95koI=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:11 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table58tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
