---
version: 1
interactions:
- request:
    body: |
      {"TableName":"table57tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:dtcC3wSMuK4W9SYTiGjiH2R7zkevmJsRIdu8aCBqg40=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:11 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table57tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table57tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_b8457413-5546-4582-be6a-23ca5f95ef9e\r\nContent-Type: multipart/mixed;
      boundary=changeset_73be3eec-8962-496e-a3ca-d5fd1d6cd971\r\n\r\n\r\n--changeset_73be3eec-8962-496e-a3ca-d5fd1d6cd971\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_73be3eec-8962-496e-a3ca-d5fd1d6cd971--\r\n\r\n--batch_b8457413-5546-4582-be6a-23ca5f95ef9e--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:056vHDcvZppDdQPzbw75WDEucb6Xx6sVf2T2qumb8vQ=
      Content-Type:
      - multipart/mixed; boundary=batch_b8457413-5546-4582-be6a-23ca5f95ef9e
      X-Ms-Date:
      - Tue, 28 May 2019 22:36:11 GMT
      X-Ms-Version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_c1d3691c-db3d-438a-8afd-7e9fb8301118\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_735ecae1-c44e-432e-906f-1a5c5b33285d\r\n\r\n--changesetresponse_735ecae1-c44e-432e-906f-1a5c5b33285d\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204 No
      Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nETag: W/\"datetime'2019-05-28T22%3A36%3A11.5519983Z'\"\r\n\r\n\r\n--changesetresponse_735ecae1-c44e-432e-906f-1a5c5b33285d--\r\n--batchresponse_c1d3691c-db3d-438a-8afd-7e9fb8301118--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_c1d3691c-db3d-438a-8afd-7e9fb8301118
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: "--batch_1358b69e-0bc1-49e2-a22d-d91161d812cb\r\nContent-Type: multipart/mixed;
      boundary=changeset_d5ad89eb-06a7-4d68-8a6b-7bbd1cc8e870\r\n\r\n\r\n--changeset_d5ad89eb-06a7-4d68-8a6b-7bbd1cc8e870\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":\"200.23\",\"AmountDue@odata.type\":\"Edm.Double\",\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"DifferentField\":123,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_d5ad89eb-06a7-4d68-8a6b-7bbd1cc8e870--\r\n\r\n--batch_1358b69e-0bc1-49e2-a22d-d91161d812cb--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:MU6sBlXVwQsGmO9sukCgpZyEhCbFUmeZ7G1RZv6TZv0=
      Content-Type:
      - multipart/mixed; boundary=batch_1358b69e-0bc1-49e2-a22d-d91161d812cb
      X-Ms-Date:
      - [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:31nO9f4UinEeX7wreYpiYjmOijL3lAsarQBIYRlTcFs=
      x-ms-date:
      - Tue, 28 May 2019 22:36:11 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi?%24top=2&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table57tablebatchsuitetestbatchi","value":[{"odata.type":"golangrocksonazure.table57tablebatchsuitetestbatchi","odata.id":"https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2019-05-28T22%3A36%3A11.5660082Z''\"","odata.editLink":"table57tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2019-05-28T22:36:11.5660082Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","DifferentField":123,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:vaAZbSkPX1FUePXMSwm4ByX+VXrRu9qKp/NQMnjtGf0=
      Prefer:
      - return-no-content
      x-ms-date:
      - Tue, 28 May 2019 22:36:11 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table57tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
