{% include dochead.html %}
<!-- Search box for Google Custom Search Engine -->
<div class="gcse-wrapper" id="gcse-searchbox">
	<gcse:searchbox></gcse:searchbox>
</div>
<div class="gcse-wrapper">
  <gcse:searchresults></gcse:searchresults>
</div>

<!-- Navigation menu -->
<div id="wrapper">
	{% include nav_v1.0.html %}
</div>
<!-- Content body -->
<div class="bodywrapper">
	{% include documentation.html %}
</div>
<script type="text/javascript">
	$(function() {
		var menu_ul = $('.menu > li > ul');
		/* For the current URL, find the corresponding item in navigation menu */
		function findcurnavitem(){
			var noanchorhref = window.location.href.split('#')[0];
			var navitem = $('#wrapper a[href="' + noanchorhref + '"]');
			return navitem;
		}
		/* Open the navigation menu and highlight the menu item that corresponds to the current URL */
		function syncmenutourl(){
			var curnavitem = findcurnavitem();
			$('.menu a').removeClass('active');
			if(curnavitem.hasClass('hiddenlink')){//if its a hidden getting started topic, highlight the container
				curnavitem.parent().parent().parent().children('a.gentoc').addClass('active');
				menu_ul.not(curnavitem.parents('ul.hiddenlist')).slideUp('fast', function() {//exclude active menus and close all others
					curnavitem.parents('ul.hiddenlist').slideDown('fast', function() {
						scrolltonavitem();
					});
				});
				curnavitem = curnavitem.parent().parent().parent().children('a.gentoc');
			}else{//highlight the nav item and open the menu
				curnavitem.addClass('active');
				var navmenu = curnavitem;
				if(curnavitem.parent('li').hasClass('haschild')){//if its a container, find the submenu
					navmenu = curnavitem.next('ul');
					var activesubmenu = curnavitem.next('ul');
				}
				else {//if its a child, find it's menu
					navmenu = curnavitem.parent('li').parent('ul');
					var activemenu = curnavitem.parent('li').parent('ul.navSubMenu');
				}
				menu_ul.not(activemenu).not(activesubmenu).slideUp('fast', function() {//exclude active menus and close all others
					navmenu.slideDown('fast', function() {
						scrolltonavitem();
					});
				});
			}
			return;
		}
		syncmenutourl();
		/* Look for change in page state and load any changes */
		function loadonstatechange(){
		    $(window).bind('popstate', function (event) {
				var returnLocation = history.location || document.location;
				if (findcurnavitem().hasClass('gentoc')) {//generate the in-page TOC (full page loads)
					window.location = returnLocation;
				}
				$('#doccontent').load(returnLocation + ' #doccontent > *');
				syncmenutourl();
		       return;
		    });
		}
		loadonstatechange();
		/* Load only the doccontent div on click, push state so back/forward browser buttons work, and then animate nav menu */
	    $(document).on("click", 'a', function(e) {
	        e.preventDefault();
			var clickedon = $(this),
				href = $(this).attr('href'),
				isAnchor = false;
			if (href.indexOf('#') == 0){//if its an anchor
				isAnchor = true;
			} else if(href != "#") {//get the absolute url
				href = this.href;
			}
			if(this.host != location.host && href != "javascript:;") {//open external links in new tab/window
				window.open(href, '_blank');
			} else if(href != "#" && !clickedon.parents('header').is('#nav') && !clickedon.parents('div').is('#mobile-nav-container')) {//skip empty nav menu containers and any clicks in the banner and banner menu
				history.pushState(null, null, href);
				if(isAnchor){//if an in-page anchors
					var offset = 0;
					if ($(href).length) {//make sure its a valid anchor, otherwise scroll no where (offset = 0)
						offset = $(href).offset().top - 155;
					}
					$('html, body').animate({scrollTop: offset}, 0);//scroll to anchor
					return false;
				} else { //load only the new content into the page (do not load full page)
					$('#doccontent').load(href + ' #doccontent > *');
					$('html, body').animate({scrollTop: 0}, 0);
					if (clickedon.hasClass('gentoc')) {//generate the in-page TOC (load the full page load)
						window.location = href;
					}
					$.get(href, function(html){//update the page's <title> tags with title from loaded page (so browser shows current title)
					    var matches = html.match(/<title>([^<]*)/);
					    if (matches.length>0) {
					        var title = matches[1];
					        document.title = title;
					    }
					});
				}
				if(clickedon.parents().hasClass('bodywrapper')){//animate navigation menu
					animatenav(findcurnavitem());//is an in-page link
				} else {
					animatenav(clickedon);//is a nav menu link
				}
			} else if (href != "#"){ //open links in main menu (load the full page load)
				window.location = href;
			}
		    return false; // don't actually follow the link (avoid reloading page)
	    });
		/* Animate navigation menu to open/close and highlight item */
		function animatenav(anhref){
			if(anhref.hasClass('hiddenlink')){//if its a hidden getting started topic, highlight and open the container
				anhref.parent().parent().parent().children('a.gentoc').addClass('active');
			} else if(!anhref.hasClass('active')) {
				if(anhref.parents('li.haschild').length === 0 || anhref.parents('li').find('a.active').length === 0){ //close inactive menus
					menu_ul.filter(':visible').slideUp('fast');
				}
				$('.menu a').removeClass('active');
				if (anhref.next('ul').length === 0){//is a child nav item, open menu
					anhref.addClass('active').closest('ul').slideDown('fast', function() {
						scrolltonavitem();
					});
				} else {//is a container nav item, open menu
					anhref.addClass('active').next().stop(true,true).slideDown('fast', function() {
						scrolltonavitem();
					});
				}
			}
		}
		/* Scroll to navigation item if its offscreen */
		function scrolltonavitem(){
			var curnavitem = findcurnavitem();
			if(curnavitem.hasClass('hiddenlink')){//if its a hidden getting started topic, select the parent container
				curnavitem = curnavitem.parent().parent().parent().children('a.gentoc');
			}
			var itemposition = curnavitem.position().top, //item's location relative to visible navigation menu
				visible_start = $('#wrapper').scrollTop(), //location at top of visible navigation menu
				total_visible = $('#wrapper').innerHeight(), //total height of visible navigation menu
				visible_end = visible_start + total_visible; //location at bottom of visible window
		    if(itemposition < 0 || itemposition > total_visible){// check if its outside visible area and then move it
				$('#wrapper').animate({
					scrollTop: (visible_start + itemposition - 155) // move to visible area and add padding to account for banner
					}, 50);
			}
	        return false;
		}
	});
</script>
{% include docfooter.html %}
