{% include dochead.html %}
<!-- Search box for Google Custom Search Engine -->
<div id="gcse-wrapper">
	<gcse:search></gcse:search>
</div>
<!-- Navigation menu -->
<div id="wrapper">
	{% include nav_v1.0.html %}
</div>
<!-- Content body -->
<div class="bodywrapper">
	{% include documentation.html %}
</div>
<script type="text/javascript">
	$(function() {
		/* For the current URL, find the corresponding item in navigation menu */
		function findcurnavitem(){
			var noanchorhref = window.location.href.split('#')[0];
			var navitem = $('#wrapper a[href="' + noanchorhref + '"]');
			return navitem;
		}
		/* Open the navigation menu and highlight the menu item that corresponds to the current URL */
		function syncmenutourl(){
			var curnavitem = findcurnavitem();
			curnavitem.addClass('active');
			if(curnavitem.parent().hasClass('haschild')){
				curnavitem.next('ul').slideDown('normal');
			}
			else {
				curnavitem.parent('li').parent('ul').slideDown('normal');
			}
			return;
		}
		syncmenutourl(); //Sync the nav menu on page load
		/* Look for change in page state and load any changes */
		function loadonstatechange(){
		    $(window).bind('popstate', function (event) {
				var returnLocation = history.location || document.location;
				$('.menu a').removeClass('active');
				if($(this).parents('li.haschild').length === 0 || $(this).parents('li').find('a.active').length === 0){
					menu_ul.filter(':visible').slideUp('normal');
				}
				$('#doccontent').load(returnLocation + ' #doccontent > *');
				syncmenutourl();
		       return;
		    });
		}
		loadonstatechange();
		/* Load only the doccontent div on click, push state so back/forward browser buttons work, and animate nav menu */
	    var menu_ul = $('.menu > li > ul');
	    $('a').click(function(e) {
	        e.preventDefault();
			var clickedon = $(this),
				href = $(this).attr('href');
			if (this.host != location.host){//open external links in new tab/window
				window.open(href, '_blank');
			} else if(href != "#"){//check for and skip empty nav menu containers
				history.pushState(null, null, href);
				$('#doccontent').load(href + ' #doccontent > *');
				$('html, body').animate({scrollTop: 0}, 500);
			} 
			if(!$(clickedon).hasClass('active')) {//Animate navigation menu to open/close and highlight item
				if($(clickedon).parents('li.haschild').length === 0 || $(clickedon).parents('li').find('a.active').length === 0){
					menu_ul.filter(':visible').slideUp('normal');
				}
	            $('.menu a').removeClass('active');
	            $(clickedon).addClass('active').next().stop(true,true).slideDown('normal');
	        }else if($(clickedon).hasClass('active') && $(clickedon).parent().hasClass('haschild')){ //slide close the sub-menu
				$(clickedon).removeClass('active');
				$(clickedon).next().stop(true,true).slideUp('normal');
			}	
		    return false; // don't actually follow the link
	    });
	});
</script>
{% include docfooter.html %}
