---
layout: default
---
<div class="events">
 <div class="container">
  <div class="row">
   <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
    <h4 class="text-gray text-left stream">
     {{page.stream.text}} <a href="{{page.stream.url}}" class="stream">{{page.stream.label}} <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 32" enable-background="new 0 0 19 32" xml:space="preserve"><g><path fill="#FFFFFF" d="M8.7,1c0.1,0,0.1,0,0.2,0.1c0.5,0.8,4.1,6.6,6,9.6c1,1.6,2,3.2,3.1,4.9c0.1,0.1,0.1,0.3,0,0.5 c-2.8,4.5-8.5,13.5-9.1,14.5c0,0.1-0.1,0.1-0.2,0.1c-0.8,0-6,0-7.4,0c-0.1,0-0.2-0.2-0.2-0.3c1-1.6,6.2-9.9,8.9-14.2 c0.1-0.2,0.1-0.3,0-0.5C7.3,11.2,2.1,2.9,1.1,1.3C1,1.2,1.1,1,1.3,1L8.7,1z"/></g></svg></a>
    </h4>
    <div class="underline"></div>
   </div>
  </div>
  <ul class="list">
{% for event in site.data.events %}
   <li class="lazy_load_item event">
    <div class="row">
     <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
    {% if event.img %}
      <img src="{{site.url}}{{event.img}}" alt="" class="img-responsive thumb" />
    {% else %}
      <img src="{{site.url}}{{page.default_img}}" alt="" class="img-responsive thumb" />
    {% endif %}
     </div>
     <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="meta text-gray">
       <div class="title">
        <h3 class="alt text-gray">{{event.title}}</h3>
       </div>
       <div class="date ">
        {{event.date | date: "%B %d, %Y"}}
       </div>
       <div class="location">
        {{event.location}}
       </div>
       <div class="venue">
        {{event.venue}}
       </div>
       <div class="speaker">
        {{event.speaker}}
       </div>
       <div class="url">
        <a href="{{event.url}}" class="text-gray">{{event.url}}</a>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
      <div class="underline"></div>
     </div>
    </div>
   </li>
{% endfor %}
  </ul>
 </div>
 <div class="container">
  <div class="row">
   <div class="col-lg-2 col-md-4 col-sm-4 col-lg-offset-5 col-md-offset-4 col-sm-offset-4">
    <a href="javascript:;" id="load_more"
     class="button small">{{page.load_more_label}}</a>
   </div>
  </div>
 </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    init_list_load_more(jQuery,jQuery('#load_more'),4);
});
</script>
