---
layout: default
---

<div class="getting-started">
 <div class="container">
  <ul class="steps">
{% for step in page.steps %}
   <li class="step">
    <div class="row">
     <div class="col-lg-1 col-md-1 col-sm-1">
      <div class="bullet hidden-xs">
      </div>
     </div>
     <div class="col-lg-10 col-md-10 col-sm-10">
      <div class="row">
       <div class="col-xs-12">
        <div class="bullet visible-xs-block float-left">
        </div>
        <h3 class="vertical-center height-52 text-gray">{{step.title}}</h3>
       </div>
      </div>
      <div class="row">
       <div class="col-xs-12">
        <p class="interior">{{step.text}}</p>
       </div>
      </div>
    {% if 'installation' == step.slug %}
      <div class="row">
       <div class="col-xs-11">
        <div class="button-group">
        {% for guide in page.installguides %}
         <a href="{{guide.url}}" class="button small dynamic">{{guide.label}}</a>
        {% endfor %}
        </div>
       </div>
      </div>
    {% elsif 'hosted_services' == step.slug %}
      <div class="row">
       <div class="col-xs-11">
        <div class="button-group">
        {% for service in page.hostedservices %}
         <a href="{{service.url}}" class="button small dynamic">{{service.label}}</a>
        {% endfor %}
        </div>
       </div>
      </div>
    {% elsif 'first_app' == step.slug %}
      <div class="row">
       <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="button-group float-none">
         <a href="{{page.firstapp.url}}" class="button small">{{page.firstapp.label}}</a>
        </div>
       </div>
      </div>
    {% elsif 'releases' == step.slug %}
      <div class="row">
       <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="button-group float-none">
         <a href="{{page.releases.url}}" class="button small">{{page.releases.label}}</a>
        </div>
       </div>
      </div>
    {% elsif 'technical' == step.slug %}
      <div class="row">
       <div class="button-group float-none">
        <div class="col-lg-4 col-md-5 col-sm-6">
         <a href="{{page.techdetails.api.url}}" class="button small">{{page.techdetails.api.label}}</a>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
         <a href="{{page.techdetails.kubecfg.url}}" class="button small">{{page.techdetails.kubecfg.label}}</a>
        </div>
       </div>
      </div>
    {% endif %}
     </div>
    </div>
   </li>
{% endfor %}
  </ul>
 </div>
</div>
