---
layout: default
---

<h1 class="offscreen">Kubernetes by Google</h1>
<div class="what">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <h2 class="text-blue underline">
     {{page.what.title}}
    </h2>
   </div>
  </div> 
  <div class="row">
   <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
    <img src="{{page.what.diagram.img}}" alt="{{page.what.diagram.alt}}" 
     class="img-responsive hidden-xs" />
    <img src="{{page.what.diagram.img_mobile}}" alt="{{page.what.diagram.alt}}" 
     class="img-responsive visible-xs-block" />
   </div>
  </div>
  <div class="row">
   <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
    <p class="split">{{page.what.text}}</p>
   </div>
  </div> 
  <div class="row">
   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <img src="{{page.what.workflow.img}}" alt="{{page.what.workflow.alt}}" 
     class="img-responsive hidden-xs" />
    <img src="{{page.what.workflow.img_mobile}}" alt="{{page.what.diagram.alt}}"
     class="img-responsive visible-xs-block" />
   </div>
  </div> 
 </div>
</div>
<div class="who">
 <div class="container">
  <div class="row">
   <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
    <div class="youtube-wrapper">
     {{page.who.youtube}}
    </div>
   </div>
   <div class="col-lg-5 col-md-5 col-sm-5">
    <h3 class="text-turquoise">
     {{page.who.title}}
    </h3>
    <p class="text-turquoise">{{page.who.text}}</p>
   </div>
  </div>
 </div>
</div>
<div class="why">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <h2 class="text-blue underline">
     {{page.why.title}}
    </h2>
   </div>
  </div>
  <div class="row list">
 {% for item in page.why.list %}
   <div class="col-lg-4 col-md-4 col-sm-4 item">
    <img src="{{item.img}}" alt="{{item.alt}}" 
     class="img-responsive hidden-xs" />
    <img src="{{item.img_mobile}}" alt="{{item.alt}}" 
     class="img-responsive visible-xs-block" />
    <h3 class="text-turquoise text-center">
     {{item.title}}
    </h3>
    <p class="text-turquoise text-center">{{item.text}}</p>
   </div>
 {% endfor %}
  </div>
  <div class="row">
   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <div class="underline hidden-xs">
    </div>
   </div>
  </div>
 </div>
</div>
<div class="talk-tab">
 <div class="container">
  <div class="row">
   <div class="col-lg-4 col-md-4 col-sm-6 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
    <h2 class="text-turquoise">
     {{page.talk.title}}
    </h2>
   </div>
  </div>
 </div>
</div>
<div class="talk">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
    <h4 class="text-turquoise">{{page.talk.subtitle}}</h4>
   </div>
   <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
    <p class="split">{{page.talk.text}}</p>
   </div>
  </div>
 </div>
</div>
