{
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "pinpoint",
    "signingName": "mobiletargeting",
    "serviceFullName": "Amazon Pinpoint",
    "serviceId": "Pinpoint",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "pinpoint-2016-12-01",
    "signatureVersion": "v4"
  },
  "operations": {
    "CreateApp": {
      "name": "CreateApp",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAppRequest"
      },
      "output": {
        "shape": "CreateAppResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateCampaign": {
      "name": "CreateCampaign",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/campaigns",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCampaignRequest"
      },
      "output": {
        "shape": "CreateCampaignResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateEmailTemplate": {
      "name": "CreateEmailTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateEmailTemplateRequest"
      },
      "output": {
        "shape": "CreateEmailTemplateResponse"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "CreateExportJob": {
      "name": "CreateExportJob",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/jobs/export",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateExportJobRequest"
      },
      "output": {
        "shape": "CreateExportJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateImportJob": {
      "name": "CreateImportJob",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/jobs/import",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateImportJobRequest"
      },
      "output": {
        "shape": "CreateImportJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateJourney": {
      "name": "CreateJourney",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/journeys",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJourneyRequest"
      },
      "output": {
        "shape": "CreateJourneyResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreatePushTemplate": {
      "name": "CreatePushTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePushTemplateRequest"
      },
      "output": {
        "shape": "CreatePushTemplateResponse"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "CreateRecommenderConfiguration": {
      "name": "CreateRecommenderConfiguration",
      "http": {
        "method": "POST",
        "requestUri": "/v1/recommenders",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRecommenderConfigurationRequest"
      },
      "output": {
        "shape": "CreateRecommenderConfigurationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateSegment": {
      "name": "CreateSegment",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/segments",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSegmentRequest"
      },
      "output": {
        "shape": "CreateSegmentResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateSmsTemplate": {
      "name": "CreateSmsTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSmsTemplateRequest"
      },
      "output": {
        "shape": "CreateSmsTemplateResponse"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "CreateVoiceTemplate": {
      "name": "CreateVoiceTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateVoiceTemplateRequest"
      },
      "output": {
        "shape": "CreateVoiceTemplateResponse"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "DeleteAdmChannel": {
      "name": "DeleteAdmChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAdmChannelRequest"
      },
      "output": {
        "shape": "DeleteAdmChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteApnsChannel": {
      "name": "DeleteApnsChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteApnsChannelRequest"
      },
      "output": {
        "shape": "DeleteApnsChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteApnsSandboxChannel": {
      "name": "DeleteApnsSandboxChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteApnsSandboxChannelRequest"
      },
      "output": {
        "shape": "DeleteApnsSandboxChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteApnsVoipChannel": {
      "name": "DeleteApnsVoipChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteApnsVoipChannelRequest"
      },
      "output": {
        "shape": "DeleteApnsVoipChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteApnsVoipSandboxChannel": {
      "name": "DeleteApnsVoipSandboxChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteApnsVoipSandboxChannelRequest"
      },
      "output": {
        "shape": "DeleteApnsVoipSandboxChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteApp": {
      "name": "DeleteApp",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAppRequest"
      },
      "output": {
        "shape": "DeleteAppResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteBaiduChannel": {
      "name": "DeleteBaiduChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteBaiduChannelRequest"
      },
      "output": {
        "shape": "DeleteBaiduChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteCampaign": {
      "name": "DeleteCampaign",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteCampaignRequest"
      },
      "output": {
        "shape": "DeleteCampaignResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteEmailChannel": {
      "name": "DeleteEmailChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteEmailChannelRequest"
      },
      "output": {
        "shape": "DeleteEmailChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteEmailTemplate": {
      "name": "DeleteEmailTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteEmailTemplateRequest"
      },
      "output": {
        "shape": "DeleteEmailTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteEndpoint": {
      "name": "DeleteEndpoint",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteEndpointRequest"
      },
      "output": {
        "shape": "DeleteEndpointResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteEventStream": {
      "name": "DeleteEventStream",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteEventStreamRequest"
      },
      "output": {
        "shape": "DeleteEventStreamResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteGcmChannel": {
      "name": "DeleteGcmChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteGcmChannelRequest"
      },
      "output": {
        "shape": "DeleteGcmChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteJourney": {
      "name": "DeleteJourney",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteJourneyRequest"
      },
      "output": {
        "shape": "DeleteJourneyResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeletePushTemplate": {
      "name": "DeletePushTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 202
      },
      "input": {
        "shape": "DeletePushTemplateRequest"
      },
      "output": {
        "shape": "DeletePushTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteRecommenderConfiguration": {
      "name": "DeleteRecommenderConfiguration",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/recommenders/{recommender-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteRecommenderConfigurationRequest"
      },
      "output": {
        "shape": "DeleteRecommenderConfigurationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteSegment": {
      "name": "DeleteSegment",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSegmentRequest"
      },
      "output": {
        "shape": "DeleteSegmentResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteSmsChannel": {
      "name": "DeleteSmsChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSmsChannelRequest"
      },
      "output": {
        "shape": "DeleteSmsChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteSmsTemplate": {
      "name": "DeleteSmsTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteSmsTemplateRequest"
      },
      "output": {
        "shape": "DeleteSmsTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteUserEndpoints": {
      "name": "DeleteUserEndpoints",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/users/{user-id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteUserEndpointsRequest"
      },
      "output": {
        "shape": "DeleteUserEndpointsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteVoiceChannel": {
      "name": "DeleteVoiceChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/voice",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteVoiceChannelRequest"
      },
      "output": {
        "shape": "DeleteVoiceChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteVoiceTemplate": {
      "name": "DeleteVoiceTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteVoiceTemplateRequest"
      },
      "output": {
        "shape": "DeleteVoiceTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetAdmChannel": {
      "name": "GetAdmChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAdmChannelRequest"
      },
      "output": {
        "shape": "GetAdmChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetApnsChannel": {
      "name": "GetApnsChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApnsChannelRequest"
      },
      "output": {
        "shape": "GetApnsChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetApnsSandboxChannel": {
      "name": "GetApnsSandboxChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApnsSandboxChannelRequest"
      },
      "output": {
        "shape": "GetApnsSandboxChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetApnsVoipChannel": {
      "name": "GetApnsVoipChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApnsVoipChannelRequest"
      },
      "output": {
        "shape": "GetApnsVoipChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetApnsVoipSandboxChannel": {
      "name": "GetApnsVoipSandboxChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApnsVoipSandboxChannelRequest"
      },
      "output": {
        "shape": "GetApnsVoipSandboxChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetApp": {
      "name": "GetApp",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppRequest"
      },
      "output": {
        "shape": "GetAppResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetApplicationDateRangeKpi": {
      "name": "GetApplicationDateRangeKpi",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/kpis/daterange/{kpi-name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApplicationDateRangeKpiRequest"
      },
      "output": {
        "shape": "GetApplicationDateRangeKpiResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetApplicationSettings": {
      "name": "GetApplicationSettings",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/settings",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApplicationSettingsRequest"
      },
      "output": {
        "shape": "GetApplicationSettingsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetApps": {
      "name": "GetApps",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppsRequest"
      },
      "output": {
        "shape": "GetAppsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetBaiduChannel": {
      "name": "GetBaiduChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBaiduChannelRequest"
      },
      "output": {
        "shape": "GetBaiduChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetCampaign": {
      "name": "GetCampaign",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignRequest"
      },
      "output": {
        "shape": "GetCampaignResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetCampaignActivities": {
      "name": "GetCampaignActivities",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/activities",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignActivitiesRequest"
      },
      "output": {
        "shape": "GetCampaignActivitiesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetCampaignDateRangeKpi": {
      "name": "GetCampaignDateRangeKpi",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/kpis/daterange/{kpi-name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignDateRangeKpiRequest"
      },
      "output": {
        "shape": "GetCampaignDateRangeKpiResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetCampaignVersion": {
      "name": "GetCampaignVersion",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignVersionRequest"
      },
      "output": {
        "shape": "GetCampaignVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetCampaignVersions": {
      "name": "GetCampaignVersions",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignVersionsRequest"
      },
      "output": {
        "shape": "GetCampaignVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetCampaigns": {
      "name": "GetCampaigns",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignsRequest"
      },
      "output": {
        "shape": "GetCampaignsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetChannels": {
      "name": "GetChannels",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "GetChannelsRequest"
      },
      "output": {
        "shape": "GetChannelsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetEmailChannel": {
      "name": "GetEmailChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEmailChannelRequest"
      },
      "output": {
        "shape": "GetEmailChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetEmailTemplate": {
      "name": "GetEmailTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEmailTemplateRequest"
      },
      "output": {
        "shape": "GetEmailTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetEndpoint": {
      "name": "GetEndpoint",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEndpointRequest"
      },
      "output": {
        "shape": "GetEndpointResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetEventStream": {
      "name": "GetEventStream",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEventStreamRequest"
      },
      "output": {
        "shape": "GetEventStreamResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetExportJob": {
      "name": "GetExportJob",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/export/{job-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetExportJobRequest"
      },
      "output": {
        "shape": "GetExportJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetExportJobs": {
      "name": "GetExportJobs",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/export",
        "responseCode": 200
      },
      "input": {
        "shape": "GetExportJobsRequest"
      },
      "output": {
        "shape": "GetExportJobsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetGcmChannel": {
      "name": "GetGcmChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGcmChannelRequest"
      },
      "output": {
        "shape": "GetGcmChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetImportJob": {
      "name": "GetImportJob",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/import/{job-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetImportJobRequest"
      },
      "output": {
        "shape": "GetImportJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetImportJobs": {
      "name": "GetImportJobs",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/import",
        "responseCode": 200
      },
      "input": {
        "shape": "GetImportJobsRequest"
      },
      "output": {
        "shape": "GetImportJobsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetJourney": {
      "name": "GetJourney",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJourneyRequest"
      },
      "output": {
        "shape": "GetJourneyResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetJourneyDateRangeKpi": {
      "name": "GetJourneyDateRangeKpi",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}/kpis/daterange/{kpi-name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJourneyDateRangeKpiRequest"
      },
      "output": {
        "shape": "GetJourneyDateRangeKpiResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetJourneyExecutionActivityMetrics": {
      "name": "GetJourneyExecutionActivityMetrics",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}/activities/{journey-activity-id}/execution-metrics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJourneyExecutionActivityMetricsRequest"
      },
      "output": {
        "shape": "GetJourneyExecutionActivityMetricsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetJourneyExecutionMetrics": {
      "name": "GetJourneyExecutionMetrics",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}/execution-metrics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJourneyExecutionMetricsRequest"
      },
      "output": {
        "shape": "GetJourneyExecutionMetricsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetPushTemplate": {
      "name": "GetPushTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPushTemplateRequest"
      },
      "output": {
        "shape": "GetPushTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetRecommenderConfiguration": {
      "name": "GetRecommenderConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/v1/recommenders/{recommender-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRecommenderConfigurationRequest"
      },
      "output": {
        "shape": "GetRecommenderConfigurationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetRecommenderConfigurations": {
      "name": "GetRecommenderConfigurations",
      "http": {
        "method": "GET",
        "requestUri": "/v1/recommenders",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRecommenderConfigurationsRequest"
      },
      "output": {
        "shape": "GetRecommenderConfigurationsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetSegment": {
      "name": "GetSegment",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSegmentRequest"
      },
      "output": {
        "shape": "GetSegmentResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetSegmentExportJobs": {
      "name": "GetSegmentExportJobs",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/jobs/export",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSegmentExportJobsRequest"
      },
      "output": {
        "shape": "GetSegmentExportJobsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetSegmentImportJobs": {
      "name": "GetSegmentImportJobs",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/jobs/import",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSegmentImportJobsRequest"
      },
      "output": {
        "shape": "GetSegmentImportJobsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetSegmentVersion": {
      "name": "GetSegmentVersion",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSegmentVersionRequest"
      },
      "output": {
        "shape": "GetSegmentVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetSegmentVersions": {
      "name": "GetSegmentVersions",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSegmentVersionsRequest"
      },
      "output": {
        "shape": "GetSegmentVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetSegments": {
      "name": "GetSegments",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSegmentsRequest"
      },
      "output": {
        "shape": "GetSegmentsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetSmsChannel": {
      "name": "GetSmsChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSmsChannelRequest"
      },
      "output": {
        "shape": "GetSmsChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetSmsTemplate": {
      "name": "GetSmsTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSmsTemplateRequest"
      },
      "output": {
        "shape": "GetSmsTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetUserEndpoints": {
      "name": "GetUserEndpoints",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/users/{user-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUserEndpointsRequest"
      },
      "output": {
        "shape": "GetUserEndpointsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetVoiceChannel": {
      "name": "GetVoiceChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/voice",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceChannelRequest"
      },
      "output": {
        "shape": "GetVoiceChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "GetVoiceTemplate": {
      "name": "GetVoiceTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceTemplateRequest"
      },
      "output": {
        "shape": "GetVoiceTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListJourneys": {
      "name": "ListJourneys",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJourneysRequest"
      },
      "output": {
        "shape": "ListJourneysResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": []
    },
    "ListTemplateVersions": {
      "name": "ListTemplateVersions",
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/{template-type}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTemplateVersionsRequest"
      },
      "output": {
        "shape": "ListTemplateVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListTemplates": {
      "name": "ListTemplates",
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTemplatesRequest"
      },
      "output": {
        "shape": "ListTemplatesResponse"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "PhoneNumberValidate": {
      "name": "PhoneNumberValidate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/phone/number/validate",
        "responseCode": 200
      },
      "input": {
        "shape": "PhoneNumberValidateRequest"
      },
      "output": {
        "shape": "PhoneNumberValidateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "PutEventStream": {
      "name": "PutEventStream",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "shape": "PutEventStreamRequest"
      },
      "output": {
        "shape": "PutEventStreamResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "PutEvents": {
      "name": "PutEvents",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/events",
        "responseCode": 202
      },
      "input": {
        "shape": "PutEventsRequest"
      },
      "output": {
        "shape": "PutEventsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "RemoveAttributes": {
      "name": "RemoveAttributes",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/attributes/{attribute-type}",
        "responseCode": 200
      },
      "input": {
        "shape": "RemoveAttributesRequest"
      },
      "output": {
        "shape": "RemoveAttributesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "SendMessages": {
      "name": "SendMessages",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/messages",
        "responseCode": 200
      },
      "input": {
        "shape": "SendMessagesRequest"
      },
      "output": {
        "shape": "SendMessagesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "SendUsersMessages": {
      "name": "SendUsersMessages",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/users-messages",
        "responseCode": 200
      },
      "input": {
        "shape": "SendUsersMessagesRequest"
      },
      "output": {
        "shape": "SendUsersMessagesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "errors": []
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "errors": []
    },
    "UpdateAdmChannel": {
      "name": "UpdateAdmChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAdmChannelRequest"
      },
      "output": {
        "shape": "UpdateAdmChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateApnsChannel": {
      "name": "UpdateApnsChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApnsChannelRequest"
      },
      "output": {
        "shape": "UpdateApnsChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateApnsSandboxChannel": {
      "name": "UpdateApnsSandboxChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApnsSandboxChannelRequest"
      },
      "output": {
        "shape": "UpdateApnsSandboxChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateApnsVoipChannel": {
      "name": "UpdateApnsVoipChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApnsVoipChannelRequest"
      },
      "output": {
        "shape": "UpdateApnsVoipChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateApnsVoipSandboxChannel": {
      "name": "UpdateApnsVoipSandboxChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApnsVoipSandboxChannelRequest"
      },
      "output": {
        "shape": "UpdateApnsVoipSandboxChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateApplicationSettings": {
      "name": "UpdateApplicationSettings",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/settings",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApplicationSettingsRequest"
      },
      "output": {
        "shape": "UpdateApplicationSettingsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateBaiduChannel": {
      "name": "UpdateBaiduChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBaiduChannelRequest"
      },
      "output": {
        "shape": "UpdateBaiduChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateCampaign": {
      "name": "UpdateCampaign",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateCampaignRequest"
      },
      "output": {
        "shape": "UpdateCampaignResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateEmailChannel": {
      "name": "UpdateEmailChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateEmailChannelRequest"
      },
      "output": {
        "shape": "UpdateEmailChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateEmailTemplate": {
      "name": "UpdateEmailTemplate",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateEmailTemplateRequest"
      },
      "output": {
        "shape": "UpdateEmailTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateEndpoint": {
      "name": "UpdateEndpoint",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateEndpointRequest"
      },
      "output": {
        "shape": "UpdateEndpointResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateEndpointsBatch": {
      "name": "UpdateEndpointsBatch",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/endpoints",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateEndpointsBatchRequest"
      },
      "output": {
        "shape": "UpdateEndpointsBatchResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateGcmChannel": {
      "name": "UpdateGcmChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateGcmChannelRequest"
      },
      "output": {
        "shape": "UpdateGcmChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateJourney": {
      "name": "UpdateJourney",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateJourneyRequest"
      },
      "output": {
        "shape": "UpdateJourneyResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateJourneyState": {
      "name": "UpdateJourneyState",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}/state",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateJourneyStateRequest"
      },
      "output": {
        "shape": "UpdateJourneyStateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdatePushTemplate": {
      "name": "UpdatePushTemplate",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdatePushTemplateRequest"
      },
      "output": {
        "shape": "UpdatePushTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateRecommenderConfiguration": {
      "name": "UpdateRecommenderConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/recommenders/{recommender-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRecommenderConfigurationRequest"
      },
      "output": {
        "shape": "UpdateRecommenderConfigurationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateSegment": {
      "name": "UpdateSegment",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSegmentRequest"
      },
      "output": {
        "shape": "UpdateSegmentResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateSmsChannel": {
      "name": "UpdateSmsChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSmsChannelRequest"
      },
      "output": {
        "shape": "UpdateSmsChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateSmsTemplate": {
      "name": "UpdateSmsTemplate",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateSmsTemplateRequest"
      },
      "output": {
        "shape": "UpdateSmsTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateTemplateActiveVersion": {
      "name": "UpdateTemplateActiveVersion",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/templates/{template-name}/{template-type}/active-version",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateTemplateActiveVersionRequest"
      },
      "output": {
        "shape": "UpdateTemplateActiveVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateVoiceChannel": {
      "name": "UpdateVoiceChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/voice",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateVoiceChannelRequest"
      },
      "output": {
        "shape": "UpdateVoiceChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateVoiceTemplate": {
      "name": "UpdateVoiceTemplate",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateVoiceTemplateRequest"
      },
      "output": {
        "shape": "UpdateVoiceTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "PayloadTooLargeException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    }
  },
  "shapes": {
    "ADMChannelRequest": {
      "type": "structure",
      "members": {
        "ClientId": {
          "shape": "__string"
        },
        "ClientSecret": {
          "shape": "__string"
        },
        "Enabled": {
          "shape": "__boolean"
        }
      },
      "required": [
        "ClientSecret",
        "ClientId"
      ]
    },
    "ADMChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "shape": "__string"
        },
        "CreationDate": {
          "shape": "__string"
        },
        "Enabled": {
          "shape": "__boolean"
        },
        "HasCredential": {
          "shape": "__boolean"
        },
        "Id": {
          "shape": "__string"
        },
        "IsArchived": {
          "shape": "__boolean"
        },
        "LastModifiedBy": {
          "shape": "__string"
        },
        "LastModifiedDate": {
          "shape": "__string"
        },
        "Platform": {
          "shape": "__string"
        },
        "Version": {
          "shape": "__integer"
        }
      },
      "required": [
        "Platform"
      ]
    },
    "ADMMessage": {
      "type": "structure",
      "members": {
        "Action": {
          "shape": "Action"
        },
        "Body": {
          "shape": "__string"
        },
        "ConsolidationKey": {
          "shape": "__string"
        },
        "Data": {
          "shape": "MapOf__string"
        },
        "ExpiresAfter": {
          "shape": "__string"
        },
        "IconReference": {
          "shape": "__string"
        },
        "ImageIconUrl": {
          "shape": "__string"
        },
        "ImageUrl": {
          "shape": "__string"
        },
        "MD5": {
          "shape": "__string"
        },
        "RawContent": {
          "shape": "__string"
        },
        "SilentPush": {
          "shape": "__boolean"
        },
        "SmallImageIconUrl": {
          "shape": "__string"
        },
        "Sound": {
          "shape": "__string"
        },
        "Substitutions": {
          "shape": "MapOfListOf__string"
        },
        "Title": {
          "shape": "__string"
        },
        "Url": {
          "shape": "__string"
        }
      }
    },
    "APNSChannelRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "shape": "__string"
        },
        "Certificate": {
          "shape": "__string"
        },
        "DefaultAuthenticationMethod": {
          "shape": "__string"
        },
        "Enabled": {
          "shape": "__boolean"
        },
        "PrivateKey": {
          "shape": "__string"
        },
        "TeamId": {
          "shape": "__string"
        },
        "TokenKey": {
          "shape": "__string"
        },
        "TokenKeyId": {
          "shape": "__string"
        }
      }
    },
    "APNSChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "shape": "__string"
        },
        "CreationDate": {
          "shape": "__string"
        },
        "DefaultAuthenticationMethod": {
          "shape": "__string"
        },
        "Enabled": {
          "shape": "__boolean"
        },
        "HasCredential": {
          "shape": "__boolean"
        },
        "HasTokenKey": {
          "shape": "__boolean"
        },
        "Id": {
          "shape": "__string"
        },
        "IsArchived": {
          "shape": "__boolean"
        },
        "LastModifiedBy": {
          "shape": "__string"
        },
        "LastModifiedDate": {
          "shape": "__string"
        },
        "Platform": {
          "shape": "__string"
        },
        "Version": {
          "shape": "__integer"
        }
      },
      "required": [
        "Platform"
      ]
    },
    "APNSMessage": {
      "type": "structure",
      "members": {
        "APNSPushType": {
          "shape": "__string"
        },
        "Action": {
          "shape": "Action"
        },
        "Badge": {
          "shape": "__integer"
        },
        "Body": {
          "shape": "__string"
        },
        "Category": {
          "shape": "__string"
        },
        "CollapseId": {
          "shape": "__string"
        },
        "Data": {
          "shape": "MapOf__string"
        },
        "MediaUrl": {
          "shape": "__string"
        },
        "PreferredAuthenticationMethod": {
          "shape": "__string"
        },
        "Priority": {
          "shape": "__string"
        },
        "RawContent": {
          "shape": "__string"
        },
        "SilentPush": {
          "shape": "__boolean"
        },
        "Sound": {
          "shape": "__string"
        },
        "Substitutions": {
          "shape": "MapOfListOf__string"
        },
        "ThreadId": {
          "shape": "__string"
        },
        "TimeToLive": {
          "shape": "__integer"
        },
        "Title": {
          "shape": "__string"
        },
        "Url": {
          "shape": "__string"
        }
      }
    },
    "APNSPushNotificationTemplate": {
      "type": "structure",
      "members": {
        "Action": {
          "shape": "Action"
        },
        "Body": {
          "shape": "__string"
        },
        "MediaUrl": {
          "shape": "__string"
        },
        "RawContent": {
          "shape": "__string"
        },
        "Sound": {
          "shape": "__string"
        },
        "Title": {
          "shape": "__string"
        },
        "Url": {
          "shape": "__string"
        }
      }
    },
    "APNSSandboxChannelRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "shape": "__string"
        },
        "Certificate": {
          "shape": "__string"
        },
        "DefaultAuthenticationMethod": {
          "shape": "__string"
        },
        "Enabled": {
          "shape": "__boolean"
        },
        "PrivateKey": {
          "shape": "__string"
        },
        "TeamId": {
          "shape": "__string"
        },
        "TokenKey": {
          "shape": "__string"
        },
        "TokenKeyId": {
          "shape": "__string"
        }
      }
    },
    "APNSSandboxChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "shape": "__string"
        },
        "CreationDate": {
          "shape": "__string"
        },
        "DefaultAuthenticationMethod": {
          "shape": "__string"
        },
        "Enabled": {
          "shape": "__boolean"
        },
        "HasCredential": {
          "shape": "__boolean"
        },
        "HasTokenKey": {
          "shape": "__boolean"
        },
        "Id": {
          "shape": "__string"
        },
        "IsArchived": {
          "shape": "__boolean"
        },
        "LastModifiedBy": {
          "shape": "__string"
        },
        "LastModifiedDate": {
          "shape": "__string"
        },
        "Platform": {
          "shape": "__string"
        },
        "Version": {
          "shape": "__integer"
        }
      },
      "required": [
        "Platform"
      ]
    },
    "APNSVoipChannelRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "shape": "__string"
        },
        "Certificate": {
          "shape": "__string"
        },
        "DefaultAuthenticationMethod": {
          "shape": "__string"
        },
        "Enabled": {
          "shape": "__boolean"
        },
        "PrivateKey": {
          "shape": "__string"
        },
        "TeamId": {
          "shape": "__string"
        },
        "TokenKey": {
          "shape": "__string"
        },
        "TokenKeyId": {
          "shape": "__string"
        }
      }
    },
    "APNSVoipChannelResponse": {
      "type": "structure",
      "members": {
[...]
