{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-01",
    "endpointPrefix":"workmail",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon WorkMail",
    "serviceId":"WorkMail",
    "signatureVersion":"v4",
    "targetPrefix":"WorkMailService",
    "uid":"workmail-2017-10-01"
  },
  "operations":{
    "AssociateDelegateToResource":{
      "name":"AssociateDelegateToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateDelegateToResourceRequest"},
      "output":{"shape":"AssociateDelegateToResourceResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "AssociateMemberToGroup":{
      "name":"AssociateMemberToGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateMemberToGroupRequest"},
      "output":{"shape":"AssociateMemberToGroupResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "idempotent":true
    },
    "CancelMailboxExportJob":{
      "name":"CancelMailboxExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelMailboxExportJobRequest"},
      "output":{"shape":"CancelMailboxExportJobResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "idempotent":true
    },
    "CreateAlias":{
      "name":"CreateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAliasRequest"},
      "output":{"shape":"CreateAliasResponse"},
      "errors":[
        {"shape":"EmailAddressInUseException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"LimitExceededException"}
      ],
      "idempotent":true
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ReservedNameException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "idempotent":true
    },
    "CreateOrganization":{
      "name":"CreateOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOrganizationRequest"},
      "output":{"shape":"CreateOrganizationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"DirectoryInUseException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"NameAvailabilityException"}
      ],
      "idempotent":true
    },
    "CreateResource":{
      "name":"CreateResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResourceRequest"},
      "output":{"shape":"CreateResourceResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ReservedNameException"}
      ],
      "idempotent":true
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ReservedNameException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "idempotent":true
    },
    "DeleteAccessControlRule":{
      "name":"DeleteAccessControlRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccessControlRuleRequest"},
      "output":{"shape":"DeleteAccessControlRuleResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ]
    },
    "DeleteAlias":{
      "name":"DeleteAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAliasRequest"},
      "output":{"shape":"DeleteAliasResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "idempotent":true
    },
    "DeleteMailboxPermissions":{
      "name":"DeleteMailboxPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMailboxPermissionsRequest"},
      "output":{"shape":"DeleteMailboxPermissionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DeleteOrganization":{
      "name":"DeleteOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOrganizationRequest"},
      "output":{"shape":"DeleteOrganizationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DeleteResource":{
      "name":"DeleteResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourceRequest"},
      "output":{"shape":"DeleteResourceResponse"},
      "errors":[
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DeleteRetentionPolicy":{
      "name":"DeleteRetentionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRetentionPolicyRequest"},
      "output":{"shape":"DeleteRetentionPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "idempotent":true
    },
    "DeregisterFromWorkMail":{
      "name":"DeregisterFromWorkMail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterFromWorkMailRequest"},
      "output":{"shape":"DeregisterFromWorkMailResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DescribeMailboxExportJob":{
      "name":"DescribeMailboxExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMailboxExportJobRequest"},
      "output":{"shape":"DescribeMailboxExportJobResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "idempotent":true
    },
    "DescribeOrganization":{
      "name":"DescribeOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrganizationRequest"},
      "output":{"shape":"DescribeOrganizationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"}
      ],
      "idempotent":true
    },
    "DescribeResource":{
      "name":"DescribeResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResourceRequest"},
      "output":{"shape":"DescribeResourceResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DisassociateDelegateFromResource":{
      "name":"DisassociateDelegateFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateDelegateFromResourceRequest"},
      "output":{"shape":"DisassociateDelegateFromResourceResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "DisassociateMemberFromGroup":{
      "name":"DisassociateMemberFromGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateMemberFromGroupRequest"},
      "output":{"shape":"DisassociateMemberFromGroupResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "idempotent":true
    },
    "GetAccessControlEffect":{
      "name":"GetAccessControlEffect",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccessControlEffectRequest"},
      "output":{"shape":"GetAccessControlEffectResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ]
    },
    "GetDefaultRetentionPolicy":{
      "name":"GetDefaultRetentionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDefaultRetentionPolicyRequest"},
      "output":{"shape":"GetDefaultRetentionPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "idempotent":true
    },
    "GetMailboxDetails":{
      "name":"GetMailboxDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMailboxDetailsRequest"},
      "output":{"shape":"GetMailboxDetailsResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "idempotent":true
    },
    "ListAccessControlRules":{
      "name":"ListAccessControlRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccessControlRulesRequest"},
      "output":{"shape":"ListAccessControlRulesResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ]
    },
    "ListAliases":{
      "name":"ListAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAliasesRequest"},
      "output":{"shape":"ListAliasesResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "ListGroupMembers":{
      "name":"ListGroupMembers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupMembersRequest"},
      "output":{"shape":"ListGroupMembersResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "ListMailboxExportJobs":{
      "name":"ListMailboxExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMailboxExportJobsRequest"},
      "output":{"shape":"ListMailboxExportJobsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "ListMailboxPermissions":{
      "name":"ListMailboxPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMailboxPermissionsRequest"},
      "output":{"shape":"ListMailboxPermissionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "ListOrganizations":{
      "name":"ListOrganizations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOrganizationsRequest"},
      "output":{"shape":"ListOrganizationsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"}
      ],
      "idempotent":true
    },
    "ListResourceDelegates":{
      "name":"ListResourceDelegates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceDelegatesRequest"},
      "output":{"shape":"ListResourceDelegatesResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "ListResources":{
      "name":"ListResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourcesRequest"},
      "output":{"shape":"ListResourcesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "PutAccessControlRule":{
      "name":"PutAccessControlRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAccessControlRuleRequest"},
      "output":{"shape":"PutAccessControlRuleResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ]
    },
    "PutMailboxPermissions":{
      "name":"PutMailboxPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutMailboxPermissionsRequest"},
      "output":{"shape":"PutMailboxPermissionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "PutRetentionPolicy":{
      "name":"PutRetentionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRetentionPolicyRequest"},
      "output":{"shape":"PutRetentionPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"LimitExceededException"}
      ],
      "idempotent":true
    },
    "RegisterToWorkMail":{
      "name":"RegisterToWorkMail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterToWorkMailRequest"},
      "output":{"shape":"RegisterToWorkMailResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EmailAddressInUseException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"EntityAlreadyRegisteredException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    },
    "ResetPassword":{
      "name":"ResetPassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetPasswordRequest"},
      "output":{"shape":"ResetPasswordResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "idempotent":true
    },
    "StartMailboxExportJob":{
      "name":"StartMailboxExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMailboxExportJobRequest"},
      "output":{"shape":"StartMailboxExportJobResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"OrganizationStateException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateMailboxQuota":{
      "name":"UpdateMailboxQuota",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMailboxQuotaRequest"},
      "output":{"shape":"UpdateMailboxQuotaResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"}
      ],
      "idempotent":true
    },
    "UpdatePrimaryEmailAddress":{
      "name":"UpdatePrimaryEmailAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePrimaryEmailAddressRequest"},
      "output":{"shape":"UpdatePrimaryEmailAddressResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EmailAddressInUseException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "idempotent":true
    },
    "UpdateResource":{
      "name":"UpdateResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateResourceRequest"},
      "output":{"shape":"UpdateResourceResponse"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidConfigurationException"},
        {"shape":"EmailAddressInUseException"},
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessControlRule":{
      "type":"structure",
      "members":{
        "Name":{"shape":"AccessControlRuleName"},
        "Effect":{"shape":"AccessControlRuleEffect"},
        "Description":{"shape":"AccessControlRuleDescription"},
        "IpRanges":{"shape":"IpRangeList"},
        "NotIpRanges":{"shape":"IpRangeList"},
        "Actions":{"shape":"ActionsList"},
        "NotActions":{"shape":"ActionsList"},
        "UserIds":{"shape":"UserIdList"},
        "NotUserIds":{"shape":"UserIdList"},
        "DateCreated":{"shape":"Timestamp"},
        "DateModified":{"shape":"Timestamp"}
      }
    },
    "AccessControlRuleAction":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z]+"
    },
    "AccessControlRuleDescription":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "AccessControlRuleEffect":{
      "type":"string",
      "enum":[
        "ALLOW",
        "DENY"
      ]
    },
    "AccessControlRuleName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "AccessControlRuleNameList":{
      "type":"list",
      "member":{"shape":"AccessControlRuleName"},
      "max":10,
      "min":0
    },
    "AccessControlRulesList":{
      "type":"list",
      "member":{"shape":"AccessControlRule"},
      "max":10,
      "min":0
    },
    "ActionsList":{
      "type":"list",
      "member":{"shape":"AccessControlRuleAction"},
      "max":10,
      "min":0
    },
    "Aliases":{
      "type":"list",
      "member":{"shape":"EmailAddress"}
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "AssociateDelegateToResourceRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ResourceId",
        "EntityId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "ResourceId":{"shape":"ResourceId"},
        "EntityId":{"shape":"WorkMailIdentifier"}
      }
    },
    "AssociateDelegateToResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociateMemberToGroupRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "GroupId",
        "MemberId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "GroupId":{"shape":"WorkMailIdentifier"},
        "MemberId":{"shape":"WorkMailIdentifier"}
      }
    },
    "AssociateMemberToGroupResponse":{
      "type":"structure",
      "members":{
      }
    },
    "BookingOptions":{
      "type":"structure",
      "members":{
        "AutoAcceptRequests":{"shape":"Boolean"},
        "AutoDeclineRecurringRequests":{"shape":"Boolean"},
        "AutoDeclineConflictingRequests":{"shape":"Boolean"}
      }
    },
    "Boolean":{"type":"boolean"},
    "CancelMailboxExportJobRequest":{
      "type":"structure",
      "required":[
        "ClientToken",
        "JobId",
        "OrganizationId"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "idempotencyToken":true
        },
        "JobId":{"shape":"MailboxExportJobId"},
        "OrganizationId":{"shape":"OrganizationId"}
      }
    },
    "CancelMailboxExportJobResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateAliasRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "Alias"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "Alias":{"shape":"EmailAddress"}
      }
    },
    "CreateAliasResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateGroupRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "Name":{"shape":"GroupName"}
      }
    },
    "CreateGroupResponse":{
      "type":"structure",
      "members":{
        "GroupId":{"shape":"WorkMailIdentifier"}
      }
    },
    "CreateOrganizationRequest":{
      "type":"structure",
      "required":["Alias"],
      "members":{
        "DirectoryId":{"shape":"DirectoryId"},
        "Alias":{"shape":"OrganizationName"},
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "idempotencyToken":true
        },
        "Domains":{"shape":"Domains"},
        "KmsKeyArn":{"shape":"KmsKeyArn"},
        "EnableInteroperability":{"shape":"Boolean"}
      }
    },
    "CreateOrganizationResponse":{
      "type":"structure",
      "members":{
        "OrganizationId":{"shape":"OrganizationId"}
      }
    },
    "CreateResourceRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name",
        "Type"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "Name":{"shape":"ResourceName"},
        "Type":{"shape":"ResourceType"}
      }
    },
    "CreateResourceResponse":{
      "type":"structure",
      "members":{
        "ResourceId":{"shape":"ResourceId"}
      }
    },
    "CreateUserRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name",
        "DisplayName",
        "Password"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "Name":{"shape":"UserName"},
        "DisplayName":{"shape":"String"},
        "Password":{"shape":"Password"}
      }
    },
    "CreateUserResponse":{
      "type":"structure",
      "members":{
        "UserId":{"shape":"WorkMailIdentifier"}
      }
    },
    "Delegate":{
      "type":"structure",
      "required":[
        "Id",
        "Type"
      ],
      "members":{
        "Id":{"shape":"String"},
        "Type":{"shape":"MemberType"}
      }
    },
    "DeleteAccessControlRuleRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "Name":{"shape":"AccessControlRuleName"}
      }
    },
    "DeleteAccessControlRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAliasRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "Alias"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "Alias":{"shape":"EmailAddress"}
      }
    },
    "DeleteAliasResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteGroupRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "GroupId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "GroupId":{"shape":"WorkMailIdentifier"}
      }
    },
    "DeleteGroupResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMailboxPermissionsRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "GranteeId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "GranteeId":{"shape":"WorkMailIdentifier"}
      }
    },
    "DeleteMailboxPermissionsResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteOrganizationRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "DeleteDirectory"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "idempotencyToken":true
        },
        "OrganizationId":{"shape":"OrganizationId"},
        "DeleteDirectory":{"shape":"Boolean"}
      }
    },
    "DeleteOrganizationResponse":{
      "type":"structure",
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "State":{"shape":"String"}
      }
    },
    "DeleteResourceRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ResourceId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "ResourceId":{"shape":"ResourceId"}
      }
    },
    "DeleteResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteRetentionPolicyRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Id"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "Id":{"shape":"ShortString"}
      }
    },
    "DeleteRetentionPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteUserRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "UserId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "UserId":{"shape":"WorkMailIdentifier"}
      }
    },
    "DeleteUserResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterFromWorkMailRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"}
      }
    },
    "DeregisterFromWorkMailResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeGroupRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "GroupId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "GroupId":{"shape":"WorkMailIdentifier"}
      }
    },
    "DescribeGroupResponse":{
      "type":"structure",
      "members":{
        "GroupId":{"shape":"WorkMailIdentifier"},
        "Name":{"shape":"GroupName"},
        "Email":{"shape":"EmailAddress"},
        "State":{"shape":"EntityState"},
        "EnabledDate":{"shape":"Timestamp"},
        "DisabledDate":{"shape":"Timestamp"}
      }
    },
    "DescribeMailboxExportJobRequest":{
      "type":"structure",
      "required":[
        "JobId",
        "OrganizationId"
      ],
      "members":{
        "JobId":{"shape":"MailboxExportJobId"},
        "OrganizationId":{"shape":"OrganizationId"}
      }
    },
    "DescribeMailboxExportJobResponse":{
      "type":"structure",
      "members":{
        "EntityId":{"shape":"WorkMailIdentifier"},
        "Description":{"shape":"Description"},
        "RoleArn":{"shape":"RoleArn"},
        "KmsKeyArn":{"shape":"KmsKeyArn"},
        "S3BucketName":{"shape":"S3BucketName"},
        "S3Prefix":{"shape":"S3ObjectKey"},
        "S3Path":{"shape":"S3ObjectKey"},
        "EstimatedProgress":{"shape":"Percentage"},
        "State":{"shape":"MailboxExportJobState"},
        "ErrorInfo":{"shape":"MailboxExportErrorInfo"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"}
      }
    },
    "DescribeOrganizationRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"}
      }
    },
    "DescribeOrganizationResponse":{
      "type":"structure",
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "Alias":{"shape":"OrganizationName"},
        "State":{"shape":"String"},
        "DirectoryId":{"shape":"String"},
        "DirectoryType":{"shape":"String"},
        "DefaultMailDomain":{"shape":"String"},
        "CompletedDate":{"shape":"Timestamp"},
        "ErrorMessage":{"shape":"String"},
        "ARN":{"shape":"AmazonResourceName"}
      }
    },
    "DescribeResourceRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ResourceId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "ResourceId":{"shape":"ResourceId"}
      }
    },
    "DescribeResourceResponse":{
      "type":"structure",
      "members":{
        "ResourceId":{"shape":"ResourceId"},
        "Email":{"shape":"EmailAddress"},
        "Name":{"shape":"ResourceName"},
        "Type":{"shape":"ResourceType"},
        "BookingOptions":{"shape":"BookingOptions"},
        "State":{"shape":"EntityState"},
        "EnabledDate":{"shape":"Timestamp"},
        "DisabledDate":{"shape":"Timestamp"}
      }
    },
    "DescribeUserRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "UserId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "UserId":{"shape":"WorkMailIdentifier"}
      }
    },
    "DescribeUserResponse":{
      "type":"structure",
      "members":{
        "UserId":{"shape":"WorkMailIdentifier"},
        "Name":{"shape":"UserName"},
        "Email":{"shape":"EmailAddress"},
        "DisplayName":{"shape":"String"},
        "State":{"shape":"EntityState"},
        "UserRole":{"shape":"UserRole"},
        "EnabledDate":{"shape":"Timestamp"},
        "DisabledDate":{"shape":"Timestamp"}
      }
    },
    "Description":{
      "type":"string",
      "max":1023,
      "min":0,
      "pattern":"[\\S\\s]*"
    },
    "DirectoryId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^d-[0-9a-f]{10}$"
    },
    "DirectoryInUseException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DirectoryServiceAuthenticationFailedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DirectoryUnavailableException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DisassociateDelegateFromResourceRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ResourceId",
        "EntityId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "ResourceId":{"shape":"ResourceId"},
        "EntityId":{"shape":"WorkMailIdentifier"}
      }
    },
    "DisassociateDelegateFromResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DisassociateMemberFromGroupRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "GroupId",
        "MemberId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "GroupId":{"shape":"WorkMailIdentifier"},
        "MemberId":{"shape":"WorkMailIdentifier"}
      }
    },
    "DisassociateMemberFromGroupResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Domain":{
      "type":"structure",
      "members":{
        "DomainName":{"shape":"DomainName"},
        "HostedZoneId":{"shape":"HostedZoneId"}
      }
    },
    "DomainName":{
      "type":"string",
      "max":255,
      "min":3,
      "pattern":"[a-zA-Z0-9.-]+\\.[a-zA-Z-]{2,}"
    },
    "Domains":{
      "type":"list",
      "member":{"shape":"Domain"},
      "max":5,
      "min":0
    },
    "EmailAddress":{
      "type":"string",
      "max":254,
      "min":1,
      "pattern":"[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\\.[a-zA-Z-]{2,}"
    },
    "EmailAddressInUseException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "EntityAlreadyRegisteredException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "EntityNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "EntityState":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED",
        "DELETED"
      ]
    },
    "EntityStateException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "FolderConfiguration":{
      "type":"structure",
      "required":[
        "Name",
        "Action"
      ],
      "members":{
        "Name":{"shape":"FolderName"},
        "Action":{"shape":"RetentionAction"},
        "Period":{"shape":"RetentionPeriod"}
      }
    },
    "FolderConfigurations":{
      "type":"list",
      "member":{"shape":"FolderConfiguration"}
    },
    "FolderName":{
      "type":"string",
      "enum":[
        "INBOX",
        "DELETED_ITEMS",
        "SENT_ITEMS",
        "DRAFTS",
        "JUNK_EMAIL"
      ]
    },
    "GetAccessControlEffectRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "IpAddress",
        "Action",
        "UserId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "IpAddress":{"shape":"IpAddress"},
        "Action":{"shape":"AccessControlRuleAction"},
        "UserId":{"shape":"WorkMailIdentifier"}
      }
    },
    "GetAccessControlEffectResponse":{
      "type":"structure",
      "members":{
        "Effect":{"shape":"AccessControlRuleEffect"},
        "MatchedRules":{"shape":"AccessControlRuleNameList"}
      }
    },
    "GetDefaultRetentionPolicyRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"}
      }
    },
    "GetDefaultRetentionPolicyResponse":{
      "type":"structure",
      "members":{
        "Id":{"shape":"ShortString"},
        "Name":{"shape":"ShortString"},
        "Description":{"shape":"String"},
        "FolderConfigurations":{"shape":"FolderConfigurations"}
      }
    },
    "GetMailboxDetailsRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "UserId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "UserId":{"shape":"WorkMailIdentifier"}
      }
    },
    "GetMailboxDetailsResponse":{
      "type":"structure",
      "members":{
        "MailboxQuota":{"shape":"MailboxQuota"},
        "MailboxSize":{"shape":"MailboxSize"}
      }
    },
    "Group":{
      "type":"structure",
      "members":{
        "Id":{"shape":"WorkMailIdentifier"},
        "Email":{"shape":"EmailAddress"},
        "Name":{"shape":"GroupName"},
        "State":{"shape":"EntityState"},
        "EnabledDate":{"shape":"Timestamp"},
        "DisabledDate":{"shape":"Timestamp"}
      }
    },
    "GroupName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "Groups":{
      "type":"list",
      "member":{"shape":"Group"}
    },
    "HostedZoneId":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[\\S\\s]*"
    },
    "IdempotencyClientToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\x21-\\x7e]+"
    },
    "InvalidConfigurationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidParameterException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidPasswordException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "IpAddress":{
      "type":"string",
      "max":15,
      "min":1,
      "pattern":"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"
    },
    "IpRange":{
      "type":"string",
      "max":18,
      "min":1,
      "pattern":"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2])$"
    },
    "IpRangeList":{
      "type":"list",
      "member":{"shape":"IpRange"},
      "max":10,
      "min":0
    },
    "Jobs":{
      "type":"list",
      "member":{"shape":"MailboxExportJob"}
    },
    "KmsKeyArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws:kms:[a-z0-9-]*:[a-z0-9-]+:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}"
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ListAccessControlRulesRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"}
      }
    },
    "ListAccessControlRulesResponse":{
      "type":"structure",
      "members":{
        "Rules":{"shape":"AccessControlRulesList"}
      }
    },
    "ListAliasesRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListAliasesResponse":{
      "type":"structure",
      "members":{
        "Aliases":{"shape":"Aliases"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListGroupMembersRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "GroupId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "GroupId":{"shape":"WorkMailIdentifier"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListGroupMembersResponse":{
      "type":"structure",
      "members":{
        "Members":{"shape":"Members"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListGroupsRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListGroupsResponse":{
      "type":"structure",
      "members":{
        "Groups":{"shape":"Groups"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListMailboxExportJobsRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListMailboxExportJobsResponse":{
      "type":"structure",
      "members":{
        "Jobs":{"shape":"Jobs"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListMailboxPermissionsRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListMailboxPermissionsResponse":{
      "type":"structure",
      "members":{
        "Permissions":{"shape":"Permissions"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListOrganizationsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListOrganizationsResponse":{
      "type":"structure",
      "members":{
        "OrganizationSummaries":{"shape":"OrganizationSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListResourceDelegatesRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ResourceId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "ResourceId":{"shape":"WorkMailIdentifier"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListResourceDelegatesResponse":{
      "type":"structure",
      "members":{
        "Delegates":{"shape":"ResourceDelegates"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListResourcesRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListResourcesResponse":{
      "type":"structure",
      "members":{
        "Resources":{"shape":"Resources"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceARN"],
      "members":{
        "ResourceARN":{"shape":"AmazonResourceName"}
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"}
      }
    },
    "ListUsersRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListUsersResponse":{
      "type":"structure",
      "members":{
        "Users":{"shape":"Users"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "MailDomainNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "MailDomainStateException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "MailboxExportErrorInfo":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\S\\s]*"
    },
    "MailboxExportJob":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"MailboxExportJobId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "Description":{"shape":"Description"},
        "S3BucketName":{"shape":"S3BucketName"},
        "S3Path":{"shape":"S3ObjectKey"},
        "EstimatedProgress":{"shape":"Percentage"},
        "State":{"shape":"MailboxExportJobState"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"}
      }
    },
    "MailboxExportJobId":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"[A-Za-z0-9-]+"
    },
    "MailboxExportJobState":{
      "type":"string",
      "enum":[
        "RUNNING",
        "COMPLETED",
        "FAILED",
        "CANCELLED"
      ]
    },
    "MailboxQuota":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "MailboxSize":{
      "type":"double",
      "min":0
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "Member":{
      "type":"structure",
      "members":{
        "Id":{"shape":"String"},
        "Name":{"shape":"String"},
        "Type":{"shape":"MemberType"},
        "State":{"shape":"EntityState"},
        "EnabledDate":{"shape":"Timestamp"},
        "DisabledDate":{"shape":"Timestamp"}
      }
    },
    "MemberType":{
      "type":"string",
      "enum":[
        "GROUP",
        "USER"
      ]
    },
    "Members":{
      "type":"list",
      "member":{"shape":"Member"}
    },
    "NameAvailabilityException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "NextToken":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\S\\s]*|[a-zA-Z0-9/+=]{1,1024}"
    },
    "OrganizationId":{
      "type":"string",
      "max":34,
      "min":34,
      "pattern":"^m-[0-9a-f]{32}$"
    },
    "OrganizationName":{
      "type":"string",
      "max":62,
      "min":1,
      "pattern":"^(?!d-)([\\da-zA-Z]+)([-][\\da-zA-Z]+)*"
    },
    "OrganizationNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "OrganizationStateException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "OrganizationSummaries":{
      "type":"list",
      "member":{"shape":"OrganizationSummary"}
    },
    "OrganizationSummary":{
      "type":"structure",
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "Alias":{"shape":"OrganizationName"},
        "DefaultMailDomain":{"shape":"DomainName"},
        "ErrorMessage":{"shape":"String"},
        "State":{"shape":"String"}
      }
    },
    "Password":{
      "type":"string",
      "max":256,
      "pattern":"[\\u0020-\\u00FF]+",
      "sensitive":true
    },
    "Percentage":{
      "type":"integer",
      "max":100,
      "min":0
    },
    "Permission":{
      "type":"structure",
      "required":[
        "GranteeId",
        "GranteeType",
        "PermissionValues"
      ],
      "members":{
        "GranteeId":{"shape":"WorkMailIdentifier"},
        "GranteeType":{"shape":"MemberType"},
        "PermissionValues":{"shape":"PermissionValues"}
      }
    },
    "PermissionType":{
      "type":"string",
      "enum":[
        "FULL_ACCESS",
        "SEND_AS",
        "SEND_ON_BEHALF"
      ]
    },
    "PermissionValues":{
      "type":"list",
      "member":{"shape":"PermissionType"}
    },
    "Permissions":{
      "type":"list",
      "member":{"shape":"Permission"}
    },
    "PolicyDescription":{
      "type":"string",
      "max":256,
      "pattern":"[\\w\\d\\s\\S\\-!?=,.;:'_]+",
      "sensitive":true
    },
    "PutAccessControlRuleRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Effect",
        "Description",
        "OrganizationId"
      ],
      "members":{
        "Name":{"shape":"AccessControlRuleName"},
        "Effect":{"shape":"AccessControlRuleEffect"},
        "Description":{"shape":"AccessControlRuleDescription"},
        "IpRanges":{"shape":"IpRangeList"},
        "NotIpRanges":{"shape":"IpRangeList"},
        "Actions":{"shape":"ActionsList"},
        "NotActions":{"shape":"ActionsList"},
        "UserIds":{"shape":"UserIdList"},
        "NotUserIds":{"shape":"UserIdList"},
        "OrganizationId":{"shape":"OrganizationId"}
      }
    },
    "PutAccessControlRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "PutMailboxPermissionsRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "GranteeId",
        "PermissionValues"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "GranteeId":{"shape":"WorkMailIdentifier"},
        "PermissionValues":{"shape":"PermissionValues"}
      }
    },
    "PutMailboxPermissionsResponse":{
      "type":"structure",
      "members":{
      }
    },
    "PutRetentionPolicyRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name",
        "FolderConfigurations"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "Id":{"shape":"ShortString"},
        "Name":{"shape":"ShortString"},
        "Description":{"shape":"PolicyDescription"},
        "FolderConfigurations":{"shape":"FolderConfigurations"}
      }
    },
    "PutRetentionPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "RegisterToWorkMailRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "Email"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "Email":{"shape":"EmailAddress"}
      }
    },
    "RegisterToWorkMailResponse":{
      "type":"structure",
      "members":{
      }
    },
    "ReservedNameException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ResetPasswordRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "UserId",
        "Password"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "UserId":{"shape":"WorkMailIdentifier"},
        "Password":{"shape":"Password"}
      }
    },
    "ResetPasswordResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Resource":{
      "type":"structure",
      "members":{
        "Id":{"shape":"WorkMailIdentifier"},
        "Email":{"shape":"EmailAddress"},
        "Name":{"shape":"ResourceName"},
        "Type":{"shape":"ResourceType"},
        "State":{"shape":"EntityState"},
        "EnabledDate":{"shape":"Timestamp"},
        "DisabledDate":{"shape":"Timestamp"}
      }
    },
    "ResourceDelegates":{
      "type":"list",
      "member":{"shape":"Delegate"}
    },
    "ResourceId":{
      "type":"string",
      "max":34,
      "min":34,
      "pattern":"^r-[0-9a-f]{32}$"
    },
    "ResourceName":{
      "type":"string",
      "max":20,
      "min":1,
      "pattern":"[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9-]{2,})?"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ResourceType":{
      "type":"string",
      "enum":[
        "ROOM",
        "EQUIPMENT"
      ]
    },
    "Resources":{
      "type":"list",
      "member":{"shape":"Resource"}
    },
    "RetentionAction":{
      "type":"string",
      "enum":[
        "NONE",
        "DELETE",
        "PERMANENTLY_DELETE"
      ]
    },
    "RetentionPeriod":{
      "type":"integer",
      "box":true,
      "max":730,
      "min":1
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "S3BucketName":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"[A-Za-z0-9.-]+"
    },
    "S3ObjectKey":{
      "type":"string",
      "max":1023,
      "min":1,
      "pattern":"[A-Za-z0-9!_.*'()/-]+"
    },
    "ShortString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "StartMailboxExportJobRequest":{
      "type":"structure",
      "required":[
        "ClientToken",
        "OrganizationId",
        "EntityId",
        "RoleArn",
        "KmsKeyArn",
        "S3BucketName",
        "S3Prefix"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "idempotencyToken":true
        },
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "Description":{"shape":"Description"},
        "RoleArn":{"shape":"RoleArn"},
        "KmsKeyArn":{"shape":"KmsKeyArn"},
        "S3BucketName":{"shape":"S3BucketName"},
        "S3Prefix":{"shape":"S3ObjectKey"}
      }
    },
    "StartMailboxExportJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"MailboxExportJobId"}
      }
    },
    "String":{
      "type":"string",
      "max":256
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":0
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":50,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceARN",
        "Tags"
      ],
      "members":{
        "ResourceARN":{"shape":"AmazonResourceName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "Timestamp":{"type":"timestamp"},
    "TooManyTagsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "UnsupportedOperationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceARN",
        "TagKeys"
      ],
      "members":{
        "ResourceARN":{"shape":"AmazonResourceName"},
        "TagKeys":{"shape":"TagKeyList"}
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateMailboxQuotaRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "UserId",
        "MailboxQuota"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "UserId":{"shape":"WorkMailIdentifier"},
        "MailboxQuota":{"shape":"MailboxQuota"}
      }
    },
    "UpdateMailboxQuotaResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdatePrimaryEmailAddressRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "Email"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "EntityId":{"shape":"WorkMailIdentifier"},
        "Email":{"shape":"EmailAddress"}
      }
    },
    "UpdatePrimaryEmailAddressResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateResourceRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ResourceId"
      ],
      "members":{
        "OrganizationId":{"shape":"OrganizationId"},
        "ResourceId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "BookingOptions":{"shape":"BookingOptions"}
      }
    },
    "UpdateResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "User":{
      "type":"structure",
      "members":{
        "Id":{"shape":"WorkMailIdentifier"},
        "Email":{"shape":"EmailAddress"},
        "Name":{"shape":"UserName"},
        "DisplayName":{"shape":"String"},
        "State":{"shape":"EntityState"},
        "UserRole":{"shape":"UserRole"},
        "EnabledDate":{"shape":"Timestamp"},
        "DisabledDate":{"shape":"Timestamp"}
      }
    },
    "UserIdList":{
      "type":"list",
      "member":{"shape":"WorkMailIdentifier"},
      "max":10,
      "min":0
    },
    "UserName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9-]{2,})?"
    },
    "UserRole":{
      "type":"string",
      "enum":[
        "USER",
        "RESOURCE",
        "SYSTEM_USER"
      ]
    },
    "Users":{
      "type":"list",
      "member":{"shape":"User"}
    },
    "WorkMailIdentifier":{
      "type":"string",
      "max":256,
      "min":12
    }
  }
}
