---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Prefer:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/%28retry%29?timeout=30
    method: DELETE
  response:
    body: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
      specified resource does not exist.\nRequestId:07179106-0002-00ce-65eb-3764f6000000\nTime:2017-09-27T23:52:14.1723707Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Version:
      - 2016-05-31
    status: 404 The specified resource does not exist.
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 27 Sep 2017 23:52:21 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-31storageclientsuitetestdore?restype=container&se=2050-12-20T21%3A55%3A06Z&sig=UJ0X%2BdSTE2UqsP6d6dqhSAG%2FD0K1jeOEi2tS%2F5VrGk8%3D&sp=racwdl&sr=c&sv=2016-05-31
    method: HEAD
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 403 This request is not authorized to perform this operation.
    code: 403
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 27 Sep 2017 23:52:28 GMT
      x-ms-version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-31storageclientsuitetestdore?restype=container&se=2050-12-20&sig=H47yV%2BBZqUb6EMXkxCwBoRUjUuBNbwqnUdArMgO3agQ%3D&sp=rwdlacup&spr=https&srt=sco&ss=b&sv=2016-05-31
    method: HEAD
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 404 The specified container does not exist.
    code: 404
[...]
