{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-12-01",
    "endpointPrefix":"email",
    "serviceAbbreviation":"Amazon SES",
    "serviceFullName":"Amazon Simple Email Service",
    "signatureVersion":"v4",
    "signingName":"ses",
    "xmlNamespace":"http://ses.amazonaws.com/doc/2010-12-01/",
    "protocol":"query"
  },
  "operations":{
    "CloneReceiptRuleSet":{
      "name":"CloneReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CloneReceiptRuleSetRequest"},
      "output":{
        "shape":"CloneReceiptRuleSetResponse",
        "resultWrapper":"CloneReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateReceiptFilter":{
      "name":"CreateReceiptFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptFilterRequest"},
      "output":{
        "shape":"CreateReceiptFilterResponse",
        "resultWrapper":"CreateReceiptFilterResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateReceiptRule":{
      "name":"CreateReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptRuleRequest"},
      "output":{
        "shape":"CreateReceiptRuleResponse",
        "resultWrapper":"CreateReceiptRuleResult"
      },
      "errors":[
        {
          "shape":"InvalidSnsTopicException",
          "error":{
            "code":"InvalidSnsTopic",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidS3ConfigurationException",
          "error":{
            "code":"InvalidS3Configuration",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidLambdaFunctionException",
          "error":{
            "code":"InvalidLambdaFunction",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateReceiptRuleSet":{
      "name":"CreateReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptRuleSetRequest"},
      "output":{
        "shape":"CreateReceiptRuleSetResponse",
        "resultWrapper":"CreateReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteIdentity":{
      "name":"DeleteIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIdentityRequest"},
      "output":{
        "shape":"DeleteIdentityResponse",
        "resultWrapper":"DeleteIdentityResult"
      }
    },
    "DeleteIdentityPolicy":{
      "name":"DeleteIdentityPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIdentityPolicyRequest"},
      "output":{
        "shape":"DeleteIdentityPolicyResponse",
        "resultWrapper":"DeleteIdentityPolicyResult"
      }
    },
    "DeleteReceiptFilter":{
      "name":"DeleteReceiptFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptFilterRequest"},
      "output":{
        "shape":"DeleteReceiptFilterResponse",
        "resultWrapper":"DeleteReceiptFilterResult"
      }
    },
    "DeleteReceiptRule":{
      "name":"DeleteReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptRuleRequest"},
      "output":{
        "shape":"DeleteReceiptRuleResponse",
        "resultWrapper":"DeleteReceiptRuleResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteReceiptRuleSet":{
      "name":"DeleteReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptRuleSetRequest"},
      "output":{
        "shape":"DeleteReceiptRuleSetResponse",
        "resultWrapper":"DeleteReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"CannotDeleteException",
          "error":{
            "code":"CannotDelete",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteVerifiedEmailAddress":{
      "name":"DeleteVerifiedEmailAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVerifiedEmailAddressRequest"}
    },
    "DescribeActiveReceiptRuleSet":{
      "name":"DescribeActiveReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeActiveReceiptRuleSetRequest"},
      "output":{
        "shape":"DescribeActiveReceiptRuleSetResponse",
        "resultWrapper":"DescribeActiveReceiptRuleSetResult"
      }
    },
    "DescribeReceiptRule":{
      "name":"DescribeReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReceiptRuleRequest"},
      "output":{
        "shape":"DescribeReceiptRuleResponse",
        "resultWrapper":"DescribeReceiptRuleResult"
      },
      "errors":[
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeReceiptRuleSet":{
      "name":"DescribeReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReceiptRuleSetRequest"},
      "output":{
        "shape":"DescribeReceiptRuleSetResponse",
        "resultWrapper":"DescribeReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "GetIdentityDkimAttributes":{
      "name":"GetIdentityDkimAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityDkimAttributesRequest"},
      "output":{
        "shape":"GetIdentityDkimAttributesResponse",
        "resultWrapper":"GetIdentityDkimAttributesResult"
      }
    },
    "GetIdentityNotificationAttributes":{
      "name":"GetIdentityNotificationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityNotificationAttributesRequest"},
      "output":{
        "shape":"GetIdentityNotificationAttributesResponse",
        "resultWrapper":"GetIdentityNotificationAttributesResult"
      }
    },
    "GetIdentityPolicies":{
      "name":"GetIdentityPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityPoliciesRequest"},
      "output":{
        "shape":"GetIdentityPoliciesResponse",
        "resultWrapper":"GetIdentityPoliciesResult"
      }
    },
    "GetIdentityVerificationAttributes":{
      "name":"GetIdentityVerificationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityVerificationAttributesRequest"},
      "output":{
        "shape":"GetIdentityVerificationAttributesResponse",
        "resultWrapper":"GetIdentityVerificationAttributesResult"
      }
    },
    "GetSendQuota":{
      "name":"GetSendQuota",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetSendQuotaResponse",
        "resultWrapper":"GetSendQuotaResult"
      }
    },
    "GetSendStatistics":{
      "name":"GetSendStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetSendStatisticsResponse",
        "resultWrapper":"GetSendStatisticsResult"
      }
    },
    "ListIdentities":{
      "name":"ListIdentities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIdentitiesRequest"},
      "output":{
        "shape":"ListIdentitiesResponse",
        "resultWrapper":"ListIdentitiesResult"
      }
    },
    "ListIdentityPolicies":{
      "name":"ListIdentityPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIdentityPoliciesRequest"},
      "output":{
        "shape":"ListIdentityPoliciesResponse",
        "resultWrapper":"ListIdentityPoliciesResult"
      }
    },
    "ListReceiptFilters":{
      "name":"ListReceiptFilters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReceiptFiltersRequest"},
      "output":{
        "shape":"ListReceiptFiltersResponse",
        "resultWrapper":"ListReceiptFiltersResult"
      }
    },
    "ListReceiptRuleSets":{
      "name":"ListReceiptRuleSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReceiptRuleSetsRequest"},
      "output":{
        "shape":"ListReceiptRuleSetsResponse",
        "resultWrapper":"ListReceiptRuleSetsResult"
      }
    },
    "ListVerifiedEmailAddresses":{
      "name":"ListVerifiedEmailAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListVerifiedEmailAddressesResponse",
        "resultWrapper":"ListVerifiedEmailAddressesResult"
      }
    },
    "PutIdentityPolicy":{
      "name":"PutIdentityPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutIdentityPolicyRequest"},
      "output":{
        "shape":"PutIdentityPolicyResponse",
        "resultWrapper":"PutIdentityPolicyResult"
      },
      "errors":[
        {
          "shape":"InvalidPolicyException",
          "error":{
            "code":"InvalidPolicy",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ReorderReceiptRuleSet":{
      "name":"ReorderReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReorderReceiptRuleSetRequest"},
      "output":{
        "shape":"ReorderReceiptRuleSetResponse",
        "resultWrapper":"ReorderReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "SendBounce":{
      "name":"SendBounce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendBounceRequest"},
      "output":{
        "shape":"SendBounceResponse",
        "resultWrapper":"SendBounceResult"
      },
      "errors":[
        {
          "shape":"MessageRejected",
          "error":{
            "code":"MessageRejected",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "SendEmail":{
      "name":"SendEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendEmailRequest"},
      "output":{
        "shape":"SendEmailResponse",
        "resultWrapper":"SendEmailResult"
      },
      "errors":[
        {
          "shape":"MessageRejected",
          "error":{
            "code":"MessageRejected",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "SendRawEmail":{
      "name":"SendRawEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendRawEmailRequest"},
      "output":{
        "shape":"SendRawEmailResponse",
        "resultWrapper":"SendRawEmailResult"
      },
      "errors":[
        {
          "shape":"MessageRejected",
          "error":{
            "code":"MessageRejected",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "SetActiveReceiptRuleSet":{
      "name":"SetActiveReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetActiveReceiptRuleSetRequest"},
      "output":{
        "shape":"SetActiveReceiptRuleSetResponse",
        "resultWrapper":"SetActiveReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "SetIdentityDkimEnabled":{
      "name":"SetIdentityDkimEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityDkimEnabledRequest"},
      "output":{
        "shape":"SetIdentityDkimEnabledResponse",
        "resultWrapper":"SetIdentityDkimEnabledResult"
      }
    },
    "SetIdentityFeedbackForwardingEnabled":{
      "name":"SetIdentityFeedbackForwardingEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityFeedbackForwardingEnabledRequest"},
      "output":{
        "shape":"SetIdentityFeedbackForwardingEnabledResponse",
        "resultWrapper":"SetIdentityFeedbackForwardingEnabledResult"
      }
    },
    "SetIdentityNotificationTopic":{
      "name":"SetIdentityNotificationTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityNotificationTopicRequest"},
      "output":{
        "shape":"SetIdentityNotificationTopicResponse",
        "resultWrapper":"SetIdentityNotificationTopicResult"
      }
    },
    "SetReceiptRulePosition":{
      "name":"SetReceiptRulePosition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetReceiptRulePositionRequest"},
      "output":{
        "shape":"SetReceiptRulePositionResponse",
        "resultWrapper":"SetReceiptRulePositionResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "UpdateReceiptRule":{
      "name":"UpdateReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateReceiptRuleRequest"},
      "output":{
        "shape":"UpdateReceiptRuleResponse",
        "resultWrapper":"UpdateReceiptRuleResult"
      },
      "errors":[
        {
          "shape":"InvalidSnsTopicException",
          "error":{
            "code":"InvalidSnsTopic",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidS3ConfigurationException",
          "error":{
            "code":"InvalidS3Configuration",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidLambdaFunctionException",
          "error":{
            "code":"InvalidLambdaFunction",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "VerifyDomainDkim":{
      "name":"VerifyDomainDkim",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyDomainDkimRequest"},
      "output":{
        "shape":"VerifyDomainDkimResponse",
        "resultWrapper":"VerifyDomainDkimResult"
      }
    },
    "VerifyDomainIdentity":{
      "name":"VerifyDomainIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyDomainIdentityRequest"},
      "output":{
        "shape":"VerifyDomainIdentityResponse",
        "resultWrapper":"VerifyDomainIdentityResult"
      }
    },
    "VerifyEmailAddress":{
      "name":"VerifyEmailAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyEmailAddressRequest"}
    },
    "VerifyEmailIdentity":{
      "name":"VerifyEmailIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyEmailIdentityRequest"},
      "output":{
        "shape":"VerifyEmailIdentityResponse",
        "resultWrapper":"VerifyEmailIdentityResult"
      }
    }
  },
  "shapes":{
    "AddHeaderAction":{
      "type":"structure",
      "required":[
        "HeaderName",
        "HeaderValue"
      ],
      "members":{
        "HeaderName":{"shape":"HeaderName"},
        "HeaderValue":{"shape":"HeaderValue"}
      }
    },
    "Address":{"type":"string"},
    "AddressList":{
      "type":"list",
      "member":{"shape":"Address"}
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Name":{"shape":"RuleOrRuleSetName"}
      },
      "error":{
        "code":"AlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AmazonResourceName":{"type":"string"},
    "ArrivalDate":{"type":"timestamp"},
    "Body":{
      "type":"structure",
      "members":{
        "Text":{"shape":"Content"},
        "Html":{"shape":"Content"}
      }
    },
    "BounceAction":{
      "type":"structure",
      "required":[
        "SmtpReplyCode",
        "Message",
        "Sender"
      ],
      "members":{
        "TopicArn":{"shape":"AmazonResourceName"},
        "SmtpReplyCode":{"shape":"BounceSmtpReplyCode"},
        "StatusCode":{"shape":"BounceStatusCode"},
        "Message":{"shape":"BounceMessage"},
        "Sender":{"shape":"Address"}
      }
    },
    "BounceMessage":{"type":"string"},
    "BounceSmtpReplyCode":{"type":"string"},
    "BounceStatusCode":{"type":"string"},
    "BounceType":{
      "type":"string",
      "enum":[
        "DoesNotExist",
        "MessageTooLarge",
        "ExceededQuota",
        "ContentRejected",
        "Undefined",
        "TemporaryFailure"
      ]
    },
    "BouncedRecipientInfo":{
      "type":"structure",
      "required":["Recipient"],
      "members":{
        "Recipient":{"shape":"Address"},
        "RecipientArn":{"shape":"AmazonResourceName"},
        "BounceType":{"shape":"BounceType"},
        "RecipientDsnFields":{"shape":"RecipientDsnFields"}
      }
    },
    "BouncedRecipientInfoList":{
      "type":"list",
      "member":{"shape":"BouncedRecipientInfo"}
    },
    "CannotDeleteException":{
      "type":"structure",
      "members":{
        "Name":{"shape":"RuleOrRuleSetName"}
      },
      "error":{
        "code":"CannotDelete",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Charset":{"type":"string"},
    "Cidr":{"type":"string"},
    "CloneReceiptRuleSetRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "OriginalRuleSetName"
      ],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"},
        "OriginalRuleSetName":{"shape":"ReceiptRuleSetName"}
      }
    },
    "CloneReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Content":{
      "type":"structure",
      "required":["Data"],
      "members":{
        "Data":{"shape":"MessageData"},
        "Charset":{"shape":"Charset"}
      }
    },
    "Counter":{"type":"long"},
    "CreateReceiptFilterRequest":{
      "type":"structure",
      "required":["Filter"],
      "members":{
        "Filter":{"shape":"ReceiptFilter"}
      }
    },
    "CreateReceiptFilterResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateReceiptRuleRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "Rule"
      ],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"},
        "After":{"shape":"ReceiptRuleName"},
        "Rule":{"shape":"ReceiptRule"}
      }
    },
    "CreateReceiptRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateReceiptRuleSetRequest":{
      "type":"structure",
      "required":["RuleSetName"],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"}
      }
    },
    "CreateReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteIdentityPolicyRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "PolicyName"
      ],
      "members":{
        "Identity":{"shape":"Identity"},
        "PolicyName":{"shape":"PolicyName"}
      }
    },
    "DeleteIdentityPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteIdentityRequest":{
      "type":"structure",
      "required":["Identity"],
      "members":{
        "Identity":{"shape":"Identity"}
      }
    },
    "DeleteIdentityResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteReceiptFilterRequest":{
      "type":"structure",
      "required":["FilterName"],
      "members":{
        "FilterName":{"shape":"ReceiptFilterName"}
      }
    },
    "DeleteReceiptFilterResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteReceiptRuleRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "RuleName"
      ],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"},
        "RuleName":{"shape":"ReceiptRuleName"}
      }
    },
    "DeleteReceiptRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteReceiptRuleSetRequest":{
      "type":"structure",
      "required":["RuleSetName"],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"}
      }
    },
    "DeleteReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteVerifiedEmailAddressRequest":{
      "type":"structure",
      "required":["EmailAddress"],
      "members":{
        "EmailAddress":{"shape":"Address"}
      }
    },
    "DescribeActiveReceiptRuleSetRequest":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeActiveReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
        "Metadata":{"shape":"ReceiptRuleSetMetadata"},
        "Rules":{"shape":"ReceiptRulesList"}
      }
    },
    "DescribeReceiptRuleRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "RuleName"
      ],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"},
        "RuleName":{"shape":"ReceiptRuleName"}
      }
    },
    "DescribeReceiptRuleResponse":{
      "type":"structure",
      "members":{
        "Rule":{"shape":"ReceiptRule"}
      }
    },
    "DescribeReceiptRuleSetRequest":{
      "type":"structure",
      "required":["RuleSetName"],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"}
      }
    },
    "DescribeReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
        "Metadata":{"shape":"ReceiptRuleSetMetadata"},
        "Rules":{"shape":"ReceiptRulesList"}
      }
    },
    "Destination":{
      "type":"structure",
      "members":{
        "ToAddresses":{"shape":"AddressList"},
        "CcAddresses":{"shape":"AddressList"},
        "BccAddresses":{"shape":"AddressList"}
      }
    },
    "DiagnosticCode":{"type":"string"},
    "DkimAttributes":{
      "type":"map",
      "key":{"shape":"Identity"},
      "value":{"shape":"IdentityDkimAttributes"}
    },
    "Domain":{"type":"string"},
    "DsnAction":{
      "type":"string",
      "enum":[
        "failed",
        "delayed",
        "delivered",
        "relayed",
        "expanded"
      ]
    },
    "DsnStatus":{"type":"string"},
    "Enabled":{"type":"boolean"},
    "Explanation":{"type":"string"},
    "ExtensionField":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{"shape":"ExtensionFieldName"},
        "Value":{"shape":"ExtensionFieldValue"}
      }
    },
    "ExtensionFieldList":{
      "type":"list",
      "member":{"shape":"ExtensionField"}
    },
    "ExtensionFieldName":{"type":"string"},
    "ExtensionFieldValue":{"type":"string"},
    "GetIdentityDkimAttributesRequest":{
      "type":"structure",
      "required":["Identities"],
      "members":{
        "Identities":{"shape":"IdentityList"}
      }
    },
    "GetIdentityDkimAttributesResponse":{
      "type":"structure",
      "required":["DkimAttributes"],
      "members":{
        "DkimAttributes":{"shape":"DkimAttributes"}
      }
    },
    "GetIdentityNotificationAttributesRequest":{
      "type":"structure",
      "required":["Identities"],
      "members":{
        "Identities":{"shape":"IdentityList"}
      }
    },
    "GetIdentityNotificationAttributesResponse":{
      "type":"structure",
      "required":["NotificationAttributes"],
      "members":{
        "NotificationAttributes":{"shape":"NotificationAttributes"}
      }
    },
    "GetIdentityPoliciesRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "PolicyNames"
      ],
      "members":{
        "Identity":{"shape":"Identity"},
        "PolicyNames":{"shape":"PolicyNameList"}
      }
    },
    "GetIdentityPoliciesResponse":{
      "type":"structure",
      "required":["Policies"],
      "members":{
        "Policies":{"shape":"PolicyMap"}
      }
    },
    "GetIdentityVerificationAttributesRequest":{
      "type":"structure",
      "required":["Identities"],
      "members":{
        "Identities":{"shape":"IdentityList"}
      }
    },
    "GetIdentityVerificationAttributesResponse":{
      "type":"structure",
      "required":["VerificationAttributes"],
      "members":{
        "VerificationAttributes":{"shape":"VerificationAttributes"}
      }
    },
    "GetSendQuotaResponse":{
      "type":"structure",
      "members":{
        "Max24HourSend":{"shape":"Max24HourSend"},
        "MaxSendRate":{"shape":"MaxSendRate"},
        "SentLast24Hours":{"shape":"SentLast24Hours"}
      }
    },
    "GetSendStatisticsResponse":{
      "type":"structure",
      "members":{
        "SendDataPoints":{"shape":"SendDataPointList"}
      }
    },
    "HeaderName":{"type":"string"},
    "HeaderValue":{"type":"string"},
    "Identity":{"type":"string"},
    "IdentityDkimAttributes":{
      "type":"structure",
      "required":[
        "DkimEnabled",
        "DkimVerificationStatus"
      ],
      "members":{
        "DkimEnabled":{"shape":"Enabled"},
        "DkimVerificationStatus":{"shape":"VerificationStatus"},
        "DkimTokens":{"shape":"VerificationTokenList"}
      }
    },
    "IdentityList":{
      "type":"list",
      "member":{"shape":"Identity"}
    },
    "IdentityNotificationAttributes":{
      "type":"structure",
      "required":[
        "BounceTopic",
        "ComplaintTopic",
        "DeliveryTopic",
        "ForwardingEnabled"
      ],
      "members":{
        "BounceTopic":{"shape":"NotificationTopic"},
        "ComplaintTopic":{"shape":"NotificationTopic"},
        "DeliveryTopic":{"shape":"NotificationTopic"},
        "ForwardingEnabled":{"shape":"Enabled"}
      }
    },
    "IdentityType":{
      "type":"string",
      "enum":[
        "EmailAddress",
        "Domain"
      ]
    },
    "IdentityVerificationAttributes":{
      "type":"structure",
      "required":["VerificationStatus"],
      "members":{
        "VerificationStatus":{"shape":"VerificationStatus"},
        "VerificationToken":{"shape":"VerificationToken"}
      }
    },
    "InvalidLambdaFunctionException":{
      "type":"structure",
      "members":{
        "FunctionArn":{"shape":"AmazonResourceName"}
      },
      "error":{
        "code":"InvalidLambdaFunction",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidPolicyException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidPolicy",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidS3ConfigurationException":{
      "type":"structure",
      "members":{
        "Bucket":{"shape":"S3BucketName"}
      },
      "error":{
        "code":"InvalidS3Configuration",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidSnsTopicException":{
      "type":"structure",
      "members":{
        "Topic":{"shape":"AmazonResourceName"}
      },
      "error":{
        "code":"InvalidSnsTopic",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvocationType":{
      "type":"string",
      "enum":[
        "Event",
        "RequestResponse"
      ]
    },
    "LambdaAction":{
      "type":"structure",
      "required":["FunctionArn"],
      "members":{
        "TopicArn":{"shape":"AmazonResourceName"},
        "FunctionArn":{"shape":"AmazonResourceName"},
        "InvocationType":{"shape":"InvocationType"}
      }
    },
    "LastAttemptDate":{"type":"timestamp"},
    "LimitExceededException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"LimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ListIdentitiesRequest":{
      "type":"structure",
      "members":{
        "IdentityType":{"shape":"IdentityType"},
        "NextToken":{"shape":"NextToken"},
        "MaxItems":{"shape":"MaxItems"}
      }
    },
    "ListIdentitiesResponse":{
      "type":"structure",
      "required":["Identities"],
      "members":{
        "Identities":{"shape":"IdentityList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListIdentityPoliciesRequest":{
      "type":"structure",
      "required":["Identity"],
      "members":{
        "Identity":{"shape":"Identity"}
      }
    },
    "ListIdentityPoliciesResponse":{
      "type":"structure",
      "required":["PolicyNames"],
      "members":{
        "PolicyNames":{"shape":"PolicyNameList"}
      }
    },
    "ListReceiptFiltersRequest":{
      "type":"structure",
      "members":{
      }
    },
    "ListReceiptFiltersResponse":{
      "type":"structure",
      "members":{
        "Filters":{"shape":"ReceiptFilterList"}
      }
    },
    "ListReceiptRuleSetsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListReceiptRuleSetsResponse":{
      "type":"structure",
      "members":{
        "RuleSets":{"shape":"ReceiptRuleSetsLists"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListVerifiedEmailAddressesResponse":{
      "type":"structure",
      "members":{
        "VerifiedEmailAddresses":{"shape":"AddressList"}
      }
    },
    "Max24HourSend":{"type":"double"},
    "MaxItems":{"type":"integer"},
    "MaxSendRate":{"type":"double"},
    "Message":{
      "type":"structure",
      "required":[
        "Subject",
        "Body"
      ],
      "members":{
        "Subject":{"shape":"Content"},
        "Body":{"shape":"Body"}
      }
    },
    "MessageData":{"type":"string"},
    "MessageDsn":{
      "type":"structure",
      "required":["ReportingMta"],
      "members":{
        "ReportingMta":{"shape":"ReportingMta"},
        "ArrivalDate":{"shape":"ArrivalDate"},
        "ExtensionFields":{"shape":"ExtensionFieldList"}
      }
    },
    "MessageId":{"type":"string"},
    "MessageRejected":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"MessageRejected",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "NextToken":{"type":"string"},
    "NotificationAttributes":{
      "type":"map",
      "key":{"shape":"Identity"},
      "value":{"shape":"IdentityNotificationAttributes"}
    },
    "NotificationTopic":{"type":"string"},
    "NotificationType":{
      "type":"string",
      "enum":[
        "Bounce",
        "Complaint",
        "Delivery"
      ]
    },
    "Policy":{
      "type":"string",
      "min":1
    },
    "PolicyMap":{
      "type":"map",
      "key":{"shape":"PolicyName"},
      "value":{"shape":"Policy"}
    },
    "PolicyName":{
      "type":"string",
      "min":1,
      "max":64
    },
    "PolicyNameList":{
      "type":"list",
      "member":{"shape":"PolicyName"}
    },
    "PutIdentityPolicyRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "PolicyName",
        "Policy"
      ],
      "members":{
        "Identity":{"shape":"Identity"},
        "PolicyName":{"shape":"PolicyName"},
        "Policy":{"shape":"Policy"}
      }
    },
    "PutIdentityPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "RawMessage":{
      "type":"structure",
      "required":["Data"],
      "members":{
        "Data":{"shape":"RawMessageData"}
      }
    },
    "RawMessageData":{"type":"blob"},
    "ReceiptAction":{
      "type":"structure",
      "members":{
        "S3Action":{"shape":"S3Action"},
        "BounceAction":{"shape":"BounceAction"},
        "WorkmailAction":{"shape":"WorkmailAction"},
        "LambdaAction":{"shape":"LambdaAction"},
        "StopAction":{"shape":"StopAction"},
        "AddHeaderAction":{"shape":"AddHeaderAction"},
        "SNSAction":{"shape":"SNSAction"}
      }
    },
    "ReceiptActionsList":{
      "type":"list",
      "member":{"shape":"ReceiptAction"}
    },
    "ReceiptFilter":{
      "type":"structure",
      "required":[
        "Name",
        "IpFilter"
      ],
      "members":{
        "Name":{"shape":"ReceiptFilterName"},
        "IpFilter":{"shape":"ReceiptIpFilter"}
      }
    },
    "ReceiptFilterList":{
      "type":"list",
      "member":{"shape":"ReceiptFilter"}
    },
    "ReceiptFilterName":{"type":"string"},
    "ReceiptFilterPolicy":{
      "type":"string",
      "enum":[
        "Block",
        "Allow"
      ]
    },
    "ReceiptIpFilter":{
      "type":"structure",
      "required":[
        "Policy",
        "Cidr"
      ],
      "members":{
        "Policy":{"shape":"ReceiptFilterPolicy"},
        "Cidr":{"shape":"Cidr"}
      }
    },
    "ReceiptRule":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"ReceiptRuleName"},
        "Enabled":{"shape":"Enabled"},
        "TlsPolicy":{"shape":"TlsPolicy"},
        "Recipients":{"shape":"RecipientsList"},
        "Actions":{"shape":"ReceiptActionsList"},
        "ScanEnabled":{"shape":"Enabled"}
      }
    },
    "ReceiptRuleName":{"type":"string"},
    "ReceiptRuleNamesList":{
      "type":"list",
      "member":{"shape":"ReceiptRuleName"}
    },
    "ReceiptRuleSetMetadata":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ReceiptRuleSetName"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "ReceiptRuleSetName":{"type":"string"},
    "ReceiptRuleSetsLists":{
      "type":"list",
      "member":{"shape":"ReceiptRuleSetMetadata"}
    },
    "ReceiptRulesList":{
      "type":"list",
      "member":{"shape":"ReceiptRule"}
    },
    "Recipient":{"type":"string"},
    "RecipientDsnFields":{
      "type":"structure",
      "required":[
        "Action",
        "Status"
      ],
      "members":{
        "FinalRecipient":{"shape":"Address"},
        "Action":{"shape":"DsnAction"},
        "RemoteMta":{"shape":"RemoteMta"},
        "Status":{"shape":"DsnStatus"},
        "DiagnosticCode":{"shape":"DiagnosticCode"},
        "LastAttemptDate":{"shape":"LastAttemptDate"},
        "ExtensionFields":{"shape":"ExtensionFieldList"}
      }
    },
    "RecipientsList":{
      "type":"list",
      "member":{"shape":"Recipient"}
    },
    "RemoteMta":{"type":"string"},
    "ReorderReceiptRuleSetRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "RuleNames"
      ],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"},
        "RuleNames":{"shape":"ReceiptRuleNamesList"}
      }
    },
    "ReorderReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "ReportingMta":{"type":"string"},
    "RuleDoesNotExistException":{
      "type":"structure",
      "members":{
        "Name":{"shape":"RuleOrRuleSetName"}
      },
      "error":{
        "code":"RuleDoesNotExist",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "RuleOrRuleSetName":{"type":"string"},
    "RuleSetDoesNotExistException":{
      "type":"structure",
      "members":{
        "Name":{"shape":"RuleOrRuleSetName"}
      },
      "error":{
        "code":"RuleSetDoesNotExist",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "S3Action":{
      "type":"structure",
      "required":["BucketName"],
      "members":{
        "TopicArn":{"shape":"AmazonResourceName"},
        "BucketName":{"shape":"S3BucketName"},
        "ObjectKeyPrefix":{"shape":"S3KeyPrefix"},
        "KmsKeyArn":{"shape":"AmazonResourceName"}
      }
    },
    "S3BucketName":{"type":"string"},
    "S3KeyPrefix":{"type":"string"},
    "SNSAction":{
      "type":"structure",
      "required":["TopicArn"],
      "members":{
        "TopicArn":{"shape":"AmazonResourceName"}
      }
    },
    "SendBounceRequest":{
      "type":"structure",
      "required":[
        "OriginalMessageId",
        "BounceSender",
        "BouncedRecipientInfoList"
      ],
      "members":{
        "OriginalMessageId":{"shape":"MessageId"},
        "BounceSender":{"shape":"Address"},
        "Explanation":{"shape":"Explanation"},
        "MessageDsn":{"shape":"MessageDsn"},
        "BouncedRecipientInfoList":{"shape":"BouncedRecipientInfoList"},
        "BounceSenderArn":{"shape":"AmazonResourceName"}
      }
    },
    "SendBounceResponse":{
      "type":"structure",
      "members":{
        "MessageId":{"shape":"MessageId"}
      }
    },
    "SendDataPoint":{
      "type":"structure",
      "members":{
        "Timestamp":{"shape":"Timestamp"},
        "DeliveryAttempts":{"shape":"Counter"},
        "Bounces":{"shape":"Counter"},
        "Complaints":{"shape":"Counter"},
        "Rejects":{"shape":"Counter"}
      }
    },
    "SendDataPointList":{
      "type":"list",
      "member":{"shape":"SendDataPoint"}
    },
    "SendEmailRequest":{
      "type":"structure",
      "required":[
        "Source",
        "Destination",
        "Message"
      ],
      "members":{
        "Source":{"shape":"Address"},
        "Destination":{"shape":"Destination"},
        "Message":{"shape":"Message"},
        "ReplyToAddresses":{"shape":"AddressList"},
        "ReturnPath":{"shape":"Address"},
        "SourceArn":{"shape":"AmazonResourceName"},
        "ReturnPathArn":{"shape":"AmazonResourceName"}
      }
    },
    "SendEmailResponse":{
      "type":"structure",
      "required":["MessageId"],
      "members":{
        "MessageId":{"shape":"MessageId"}
      }
    },
    "SendRawEmailRequest":{
      "type":"structure",
      "required":["RawMessage"],
      "members":{
        "Source":{"shape":"Address"},
        "Destinations":{"shape":"AddressList"},
        "RawMessage":{"shape":"RawMessage"},
        "FromArn":{"shape":"AmazonResourceName"},
        "SourceArn":{"shape":"AmazonResourceName"},
        "ReturnPathArn":{"shape":"AmazonResourceName"}
      }
    },
    "SendRawEmailResponse":{
      "type":"structure",
      "required":["MessageId"],
      "members":{
        "MessageId":{"shape":"MessageId"}
      }
    },
    "SentLast24Hours":{"type":"double"},
    "SetActiveReceiptRuleSetRequest":{
      "type":"structure",
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"}
      }
    },
    "SetActiveReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "SetIdentityDkimEnabledRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "DkimEnabled"
      ],
      "members":{
        "Identity":{"shape":"Identity"},
        "DkimEnabled":{"shape":"Enabled"}
      }
    },
    "SetIdentityDkimEnabledResponse":{
      "type":"structure",
      "members":{
      }
    },
    "SetIdentityFeedbackForwardingEnabledRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "ForwardingEnabled"
      ],
      "members":{
        "Identity":{"shape":"Identity"},
        "ForwardingEnabled":{"shape":"Enabled"}
      }
    },
    "SetIdentityFeedbackForwardingEnabledResponse":{
      "type":"structure",
      "members":{
      }
    },
    "SetIdentityNotificationTopicRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "NotificationType"
      ],
      "members":{
        "Identity":{"shape":"Identity"},
        "NotificationType":{"shape":"NotificationType"},
        "SnsTopic":{"shape":"NotificationTopic"}
      }
    },
    "SetIdentityNotificationTopicResponse":{
      "type":"structure",
      "members":{
      }
    },
    "SetReceiptRulePositionRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "RuleName"
      ],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"},
        "RuleName":{"shape":"ReceiptRuleName"},
        "After":{"shape":"ReceiptRuleName"}
      }
    },
    "SetReceiptRulePositionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "StopAction":{
      "type":"structure",
      "required":["Scope"],
      "members":{
        "Scope":{"shape":"StopScope"},
        "TopicArn":{"shape":"AmazonResourceName"}
      }
    },
    "StopScope":{
      "type":"string",
      "enum":["RuleSet"]
    },
    "Timestamp":{"type":"timestamp"},
    "TlsPolicy":{
      "type":"string",
      "enum":[
        "Require",
        "Optional"
      ]
    },
    "UpdateReceiptRuleRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "Rule"
      ],
      "members":{
        "RuleSetName":{"shape":"ReceiptRuleSetName"},
        "Rule":{"shape":"ReceiptRule"}
      }
    },
    "UpdateReceiptRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "VerificationAttributes":{
      "type":"map",
      "key":{"shape":"Identity"},
      "value":{"shape":"IdentityVerificationAttributes"}
    },
    "VerificationStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "Success",
        "Failed",
        "TemporaryFailure",
        "NotStarted"
      ]
    },
    "VerificationToken":{"type":"string"},
    "VerificationTokenList":{
      "type":"list",
      "member":{"shape":"VerificationToken"}
    },
    "VerifyDomainDkimRequest":{
      "type":"structure",
      "required":["Domain"],
      "members":{
        "Domain":{"shape":"Domain"}
      }
    },
    "VerifyDomainDkimResponse":{
      "type":"structure",
      "required":["DkimTokens"],
      "members":{
        "DkimTokens":{"shape":"VerificationTokenList"}
      }
    },
    "VerifyDomainIdentityRequest":{
      "type":"structure",
      "required":["Domain"],
      "members":{
        "Domain":{"shape":"Domain"}
      }
    },
    "VerifyDomainIdentityResponse":{
      "type":"structure",
      "required":["VerificationToken"],
      "members":{
        "VerificationToken":{"shape":"VerificationToken"}
      }
    },
    "VerifyEmailAddressRequest":{
      "type":"structure",
      "required":["EmailAddress"],
      "members":{
        "EmailAddress":{"shape":"Address"}
      }
    },
    "VerifyEmailIdentityRequest":{
      "type":"structure",
      "required":["EmailAddress"],
      "members":{
        "EmailAddress":{"shape":"Address"}
      }
    },
    "VerifyEmailIdentityResponse":{
      "type":"structure",
      "members":{
      }
    },
    "WorkmailAction":{
      "type":"structure",
      "required":["OrganizationArn"],
      "members":{
        "TopicArn":{"shape":"AmazonResourceName"},
        "OrganizationArn":{"shape":"AmazonResourceName"}
      }
    }
  }
}
