{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-11-28",
    "endpointPrefix":"lightsail",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Lightsail",
    "serviceId":"Lightsail",
    "signatureVersion":"v4",
    "targetPrefix":"Lightsail_20161128",
    "uid":"lightsail-2016-11-28"
  },
  "operations":{
    "AllocateStaticIp":{
      "name":"AllocateStaticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateStaticIpRequest"},
      "output":{"shape":"AllocateStaticIpResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "AttachCertificateToDistribution":{
      "name":"AttachCertificateToDistribution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachCertificateToDistributionRequest"},
      "output":{"shape":"AttachCertificateToDistributionResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "AttachDisk":{
      "name":"AttachDisk",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachDiskRequest"},
      "output":{"shape":"AttachDiskResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "AttachInstancesToLoadBalancer":{
      "name":"AttachInstancesToLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachInstancesToLoadBalancerRequest"},
      "output":{"shape":"AttachInstancesToLoadBalancerResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "AttachLoadBalancerTlsCertificate":{
      "name":"AttachLoadBalancerTlsCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachLoadBalancerTlsCertificateRequest"},
      "output":{"shape":"AttachLoadBalancerTlsCertificateResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "AttachStaticIp":{
      "name":"AttachStaticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachStaticIpRequest"},
      "output":{"shape":"AttachStaticIpResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CloseInstancePublicPorts":{
      "name":"CloseInstancePublicPorts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CloseInstancePublicPortsRequest"},
      "output":{"shape":"CloseInstancePublicPortsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CopySnapshot":{
      "name":"CopySnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopySnapshotRequest"},
      "output":{"shape":"CopySnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateCertificate":{
      "name":"CreateCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCertificateRequest"},
      "output":{"shape":"CreateCertificateResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateCloudFormationStack":{
      "name":"CreateCloudFormationStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCloudFormationStackRequest"},
      "output":{"shape":"CreateCloudFormationStackResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateContactMethod":{
      "name":"CreateContactMethod",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateContactMethodRequest"},
      "output":{"shape":"CreateContactMethodResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateDisk":{
      "name":"CreateDisk",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDiskRequest"},
      "output":{"shape":"CreateDiskResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateDiskFromSnapshot":{
      "name":"CreateDiskFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDiskFromSnapshotRequest"},
      "output":{"shape":"CreateDiskFromSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateDiskSnapshot":{
      "name":"CreateDiskSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDiskSnapshotRequest"},
      "output":{"shape":"CreateDiskSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateDistribution":{
      "name":"CreateDistribution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDistributionRequest"},
      "output":{"shape":"CreateDistributionResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{"shape":"CreateDomainResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateDomainEntry":{
      "name":"CreateDomainEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainEntryRequest"},
      "output":{"shape":"CreateDomainEntryResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateInstanceSnapshot":{
      "name":"CreateInstanceSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceSnapshotRequest"},
      "output":{"shape":"CreateInstanceSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateInstances":{
      "name":"CreateInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstancesRequest"},
      "output":{"shape":"CreateInstancesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateInstancesFromSnapshot":{
      "name":"CreateInstancesFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstancesFromSnapshotRequest"},
      "output":{"shape":"CreateInstancesFromSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateKeyPair":{
      "name":"CreateKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateKeyPairRequest"},
      "output":{"shape":"CreateKeyPairResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateLoadBalancer":{
      "name":"CreateLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLoadBalancerRequest"},
      "output":{"shape":"CreateLoadBalancerResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateLoadBalancerTlsCertificate":{
      "name":"CreateLoadBalancerTlsCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLoadBalancerTlsCertificateRequest"},
      "output":{"shape":"CreateLoadBalancerTlsCertificateResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateRelationalDatabase":{
      "name":"CreateRelationalDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRelationalDatabaseRequest"},
      "output":{"shape":"CreateRelationalDatabaseResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateRelationalDatabaseFromSnapshot":{
      "name":"CreateRelationalDatabaseFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRelationalDatabaseFromSnapshotRequest"},
      "output":{"shape":"CreateRelationalDatabaseFromSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "CreateRelationalDatabaseSnapshot":{
      "name":"CreateRelationalDatabaseSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRelationalDatabaseSnapshotRequest"},
      "output":{"shape":"CreateRelationalDatabaseSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteAlarm":{
      "name":"DeleteAlarm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAlarmRequest"},
      "output":{"shape":"DeleteAlarmResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationFailureException"},
        {"shape":"UnauthenticatedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "DeleteAutoSnapshot":{
      "name":"DeleteAutoSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAutoSnapshotRequest"},
      "output":{"shape":"DeleteAutoSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteCertificate":{
      "name":"DeleteCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCertificateRequest"},
      "output":{"shape":"DeleteCertificateResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteContactMethod":{
      "name":"DeleteContactMethod",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteContactMethodRequest"},
      "output":{"shape":"DeleteContactMethodResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationFailureException"},
        {"shape":"UnauthenticatedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "DeleteDisk":{
      "name":"DeleteDisk",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDiskRequest"},
      "output":{"shape":"DeleteDiskResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteDiskSnapshot":{
      "name":"DeleteDiskSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDiskSnapshotRequest"},
      "output":{"shape":"DeleteDiskSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteDistribution":{
      "name":"DeleteDistribution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDistributionRequest"},
      "output":{"shape":"DeleteDistributionResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "output":{"shape":"DeleteDomainResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteDomainEntry":{
      "name":"DeleteDomainEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainEntryRequest"},
      "output":{"shape":"DeleteDomainEntryResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteInstance":{
      "name":"DeleteInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceRequest"},
      "output":{"shape":"DeleteInstanceResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteInstanceSnapshot":{
      "name":"DeleteInstanceSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceSnapshotRequest"},
      "output":{"shape":"DeleteInstanceSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteKeyPair":{
      "name":"DeleteKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteKeyPairRequest"},
      "output":{"shape":"DeleteKeyPairResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteKnownHostKeys":{
      "name":"DeleteKnownHostKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteKnownHostKeysRequest"},
      "output":{"shape":"DeleteKnownHostKeysResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteLoadBalancer":{
      "name":"DeleteLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLoadBalancerRequest"},
      "output":{"shape":"DeleteLoadBalancerResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteLoadBalancerTlsCertificate":{
      "name":"DeleteLoadBalancerTlsCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLoadBalancerTlsCertificateRequest"},
      "output":{"shape":"DeleteLoadBalancerTlsCertificateResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteRelationalDatabase":{
      "name":"DeleteRelationalDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRelationalDatabaseRequest"},
      "output":{"shape":"DeleteRelationalDatabaseResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DeleteRelationalDatabaseSnapshot":{
      "name":"DeleteRelationalDatabaseSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRelationalDatabaseSnapshotRequest"},
      "output":{"shape":"DeleteRelationalDatabaseSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DetachCertificateFromDistribution":{
      "name":"DetachCertificateFromDistribution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachCertificateFromDistributionRequest"},
      "output":{"shape":"DetachCertificateFromDistributionResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DetachDisk":{
      "name":"DetachDisk",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachDiskRequest"},
      "output":{"shape":"DetachDiskResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DetachInstancesFromLoadBalancer":{
      "name":"DetachInstancesFromLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachInstancesFromLoadBalancerRequest"},
      "output":{"shape":"DetachInstancesFromLoadBalancerResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DetachStaticIp":{
      "name":"DetachStaticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachStaticIpRequest"},
      "output":{"shape":"DetachStaticIpResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DisableAddOn":{
      "name":"DisableAddOn",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableAddOnRequest"},
      "output":{"shape":"DisableAddOnResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "DownloadDefaultKeyPair":{
      "name":"DownloadDefaultKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DownloadDefaultKeyPairRequest"},
      "output":{"shape":"DownloadDefaultKeyPairResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "EnableAddOn":{
      "name":"EnableAddOn",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableAddOnRequest"},
      "output":{"shape":"EnableAddOnResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "ExportSnapshot":{
      "name":"ExportSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportSnapshotRequest"},
      "output":{"shape":"ExportSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetActiveNames":{
      "name":"GetActiveNames",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetActiveNamesRequest"},
      "output":{"shape":"GetActiveNamesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetAlarms":{
      "name":"GetAlarms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAlarmsRequest"},
      "output":{"shape":"GetAlarmsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationFailureException"},
        {"shape":"UnauthenticatedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetAutoSnapshots":{
      "name":"GetAutoSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAutoSnapshotsRequest"},
      "output":{"shape":"GetAutoSnapshotsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetBlueprints":{
      "name":"GetBlueprints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBlueprintsRequest"},
      "output":{"shape":"GetBlueprintsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetBundles":{
      "name":"GetBundles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBundlesRequest"},
      "output":{"shape":"GetBundlesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetCertificates":{
      "name":"GetCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCertificatesRequest"},
      "output":{"shape":"GetCertificatesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetCloudFormationStackRecords":{
      "name":"GetCloudFormationStackRecords",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCloudFormationStackRecordsRequest"},
      "output":{"shape":"GetCloudFormationStackRecordsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetContactMethods":{
      "name":"GetContactMethods",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetContactMethodsRequest"},
      "output":{"shape":"GetContactMethodsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDisk":{
      "name":"GetDisk",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDiskRequest"},
      "output":{"shape":"GetDiskResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDiskSnapshot":{
      "name":"GetDiskSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDiskSnapshotRequest"},
      "output":{"shape":"GetDiskSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDiskSnapshots":{
      "name":"GetDiskSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDiskSnapshotsRequest"},
      "output":{"shape":"GetDiskSnapshotsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDisks":{
      "name":"GetDisks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDisksRequest"},
      "output":{"shape":"GetDisksResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDistributionBundles":{
      "name":"GetDistributionBundles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDistributionBundlesRequest"},
      "output":{"shape":"GetDistributionBundlesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDistributionLatestCacheReset":{
      "name":"GetDistributionLatestCacheReset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDistributionLatestCacheResetRequest"},
      "output":{"shape":"GetDistributionLatestCacheResetResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDistributionMetricData":{
      "name":"GetDistributionMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDistributionMetricDataRequest"},
      "output":{"shape":"GetDistributionMetricDataResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDistributions":{
      "name":"GetDistributions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDistributionsRequest"},
      "output":{"shape":"GetDistributionsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDomain":{
      "name":"GetDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDomainRequest"},
      "output":{"shape":"GetDomainResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetDomains":{
      "name":"GetDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDomainsRequest"},
      "output":{"shape":"GetDomainsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetExportSnapshotRecords":{
      "name":"GetExportSnapshotRecords",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetExportSnapshotRecordsRequest"},
      "output":{"shape":"GetExportSnapshotRecordsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetInstance":{
      "name":"GetInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceRequest"},
      "output":{"shape":"GetInstanceResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetInstanceAccessDetails":{
      "name":"GetInstanceAccessDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceAccessDetailsRequest"},
      "output":{"shape":"GetInstanceAccessDetailsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetInstanceMetricData":{
      "name":"GetInstanceMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceMetricDataRequest"},
      "output":{"shape":"GetInstanceMetricDataResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetInstancePortStates":{
      "name":"GetInstancePortStates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstancePortStatesRequest"},
      "output":{"shape":"GetInstancePortStatesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetInstanceSnapshot":{
      "name":"GetInstanceSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceSnapshotRequest"},
      "output":{"shape":"GetInstanceSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetInstanceSnapshots":{
      "name":"GetInstanceSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceSnapshotsRequest"},
      "output":{"shape":"GetInstanceSnapshotsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetInstanceState":{
      "name":"GetInstanceState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceStateRequest"},
      "output":{"shape":"GetInstanceStateResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetInstances":{
      "name":"GetInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstancesRequest"},
      "output":{"shape":"GetInstancesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetKeyPair":{
      "name":"GetKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetKeyPairRequest"},
      "output":{"shape":"GetKeyPairResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetKeyPairs":{
      "name":"GetKeyPairs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetKeyPairsRequest"},
      "output":{"shape":"GetKeyPairsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetLoadBalancer":{
      "name":"GetLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoadBalancerRequest"},
      "output":{"shape":"GetLoadBalancerResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetLoadBalancerMetricData":{
      "name":"GetLoadBalancerMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoadBalancerMetricDataRequest"},
      "output":{"shape":"GetLoadBalancerMetricDataResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetLoadBalancerTlsCertificates":{
      "name":"GetLoadBalancerTlsCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoadBalancerTlsCertificatesRequest"},
      "output":{"shape":"GetLoadBalancerTlsCertificatesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetLoadBalancers":{
      "name":"GetLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoadBalancersRequest"},
      "output":{"shape":"GetLoadBalancersResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetOperation":{
      "name":"GetOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOperationRequest"},
      "output":{"shape":"GetOperationResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetOperations":{
      "name":"GetOperations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOperationsRequest"},
      "output":{"shape":"GetOperationsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetOperationsForResource":{
      "name":"GetOperationsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOperationsForResourceRequest"},
      "output":{"shape":"GetOperationsForResourceResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRegions":{
      "name":"GetRegions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRegionsRequest"},
      "output":{"shape":"GetRegionsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabase":{
      "name":"GetRelationalDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseRequest"},
      "output":{"shape":"GetRelationalDatabaseResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseBlueprints":{
      "name":"GetRelationalDatabaseBlueprints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseBlueprintsRequest"},
      "output":{"shape":"GetRelationalDatabaseBlueprintsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseBundles":{
      "name":"GetRelationalDatabaseBundles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseBundlesRequest"},
      "output":{"shape":"GetRelationalDatabaseBundlesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseEvents":{
      "name":"GetRelationalDatabaseEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseEventsRequest"},
      "output":{"shape":"GetRelationalDatabaseEventsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseLogEvents":{
      "name":"GetRelationalDatabaseLogEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseLogEventsRequest"},
      "output":{"shape":"GetRelationalDatabaseLogEventsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseLogStreams":{
      "name":"GetRelationalDatabaseLogStreams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseLogStreamsRequest"},
      "output":{"shape":"GetRelationalDatabaseLogStreamsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseMasterUserPassword":{
      "name":"GetRelationalDatabaseMasterUserPassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseMasterUserPasswordRequest"},
      "output":{"shape":"GetRelationalDatabaseMasterUserPasswordResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseMetricData":{
      "name":"GetRelationalDatabaseMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseMetricDataRequest"},
      "output":{"shape":"GetRelationalDatabaseMetricDataResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseParameters":{
      "name":"GetRelationalDatabaseParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseParametersRequest"},
      "output":{"shape":"GetRelationalDatabaseParametersResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseSnapshot":{
      "name":"GetRelationalDatabaseSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseSnapshotRequest"},
      "output":{"shape":"GetRelationalDatabaseSnapshotResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabaseSnapshots":{
      "name":"GetRelationalDatabaseSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabaseSnapshotsRequest"},
      "output":{"shape":"GetRelationalDatabaseSnapshotsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetRelationalDatabases":{
      "name":"GetRelationalDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelationalDatabasesRequest"},
      "output":{"shape":"GetRelationalDatabasesResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetStaticIp":{
      "name":"GetStaticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetStaticIpRequest"},
      "output":{"shape":"GetStaticIpResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "GetStaticIps":{
      "name":"GetStaticIps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetStaticIpsRequest"},
      "output":{"shape":"GetStaticIpsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "ImportKeyPair":{
      "name":"ImportKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportKeyPairRequest"},
      "output":{"shape":"ImportKeyPairResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "IsVpcPeered":{
      "name":"IsVpcPeered",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IsVpcPeeredRequest"},
      "output":{"shape":"IsVpcPeeredResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "OpenInstancePublicPorts":{
      "name":"OpenInstancePublicPorts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"OpenInstancePublicPortsRequest"},
      "output":{"shape":"OpenInstancePublicPortsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "PeerVpc":{
      "name":"PeerVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PeerVpcRequest"},
      "output":{"shape":"PeerVpcResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "PutAlarm":{
      "name":"PutAlarm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAlarmRequest"},
      "output":{"shape":"PutAlarmResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "PutInstancePublicPorts":{
      "name":"PutInstancePublicPorts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutInstancePublicPortsRequest"},
      "output":{"shape":"PutInstancePublicPortsResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "RebootInstance":{
      "name":"RebootInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootInstanceRequest"},
      "output":{"shape":"RebootInstanceResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "RebootRelationalDatabase":{
      "name":"RebootRelationalDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootRelationalDatabaseRequest"},
      "output":{"shape":"RebootRelationalDatabaseResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "ReleaseStaticIp":{
      "name":"ReleaseStaticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReleaseStaticIpRequest"},
      "output":{"shape":"ReleaseStaticIpResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "ResetDistributionCache":{
      "name":"ResetDistributionCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetDistributionCacheRequest"},
      "output":{"shape":"ResetDistributionCacheResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "SendContactMethodVerification":{
      "name":"SendContactMethodVerification",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendContactMethodVerificationRequest"},
      "output":{"shape":"SendContactMethodVerificationResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationFailureException"},
        {"shape":"UnauthenticatedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "StartInstance":{
      "name":"StartInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartInstanceRequest"},
      "output":{"shape":"StartInstanceResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "StartRelationalDatabase":{
      "name":"StartRelationalDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartRelationalDatabaseRequest"},
      "output":{"shape":"StartRelationalDatabaseResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "StopInstance":{
      "name":"StopInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopInstanceRequest"},
      "output":{"shape":"StopInstanceResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "StopRelationalDatabase":{
      "name":"StopRelationalDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopRelationalDatabaseRequest"},
      "output":{"shape":"StopRelationalDatabaseResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "TestAlarm":{
      "name":"TestAlarm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestAlarmRequest"},
      "output":{"shape":"TestAlarmResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationFailureException"},
        {"shape":"UnauthenticatedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UnpeerVpc":{
      "name":"UnpeerVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UnpeerVpcRequest"},
      "output":{"shape":"UnpeerVpcResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "UpdateDistribution":{
      "name":"UpdateDistribution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDistributionRequest"},
      "output":{"shape":"UpdateDistributionResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "UpdateDistributionBundle":{
      "name":"UpdateDistributionBundle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDistributionBundleRequest"},
      "output":{"shape":"UpdateDistributionBundleResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "UpdateDomainEntry":{
      "name":"UpdateDomainEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDomainEntryRequest"},
      "output":{"shape":"UpdateDomainEntryResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "UpdateLoadBalancerAttribute":{
      "name":"UpdateLoadBalancerAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLoadBalancerAttributeRequest"},
      "output":{"shape":"UpdateLoadBalancerAttributeResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "UpdateRelationalDatabase":{
      "name":"UpdateRelationalDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRelationalDatabaseRequest"},
      "output":{"shape":"UpdateRelationalDatabaseResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    },
    "UpdateRelationalDatabaseParameters":{
      "name":"UpdateRelationalDatabaseParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRelationalDatabaseParametersRequest"},
      "output":{"shape":"UpdateRelationalDatabaseParametersResult"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"NotFoundException"},
        {"shape":"OperationFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccountSetupInProgressException"},
        {"shape":"UnauthenticatedException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "code":{"shape":"string"},
        "docs":{"shape":"string"},
        "message":{"shape":"string"},
        "tip":{"shape":"string"}
      },
      "exception":true
    },
    "AccessDirection":{
      "type":"string",
      "enum":[
        "inbound",
        "outbound"
      ]
    },
    "AccountSetupInProgressException":{
      "type":"structure",
      "members":{
        "code":{"shape":"string"},
        "docs":{"shape":"string"},
        "message":{"shape":"string"},
        "tip":{"shape":"string"}
      },
      "exception":true
    },
    "AddOn":{
      "type":"structure",
      "members":{
        "name":{"shape":"string"},
        "status":{"shape":"string"},
        "snapshotTimeOfDay":{"shape":"TimeOfDay"},
        "nextSnapshotTimeOfDay":{"shape":"TimeOfDay"}
      }
    },
    "AddOnList":{
      "type":"list",
      "member":{"shape":"AddOn"}
    },
    "AddOnRequest":{
      "type":"structure",
      "required":["addOnType"],
      "members":{
        "addOnType":{"shape":"AddOnType"},
        "autoSnapshotAddOnRequest":{"shape":"AutoSnapshotAddOnRequest"}
      }
    },
    "AddOnRequestList":{
      "type":"list",
      "member":{"shape":"AddOnRequest"}
    },
    "AddOnType":{
      "type":"string",
      "enum":["AutoSnapshot"]
    },
    "Alarm":{
      "type":"structure",
      "members":{
        "name":{"shape":"ResourceName"},
        "arn":{"shape":"NonEmptyString"},
        "createdAt":{"shape":"IsoDate"},
        "location":{"shape":"ResourceLocation"},
        "resourceType":{"shape":"ResourceType"},
        "supportCode":{"shape":"string"},
        "monitoredResourceInfo":{"shape":"MonitoredResourceInfo"},
        "comparisonOperator":{"shape":"ComparisonOperator"},
        "evaluationPeriods":{"shape":"integer"},
        "period":{"shape":"MetricPeriod"},
        "threshold":{"shape":"double"},
        "datapointsToAlarm":{"shape":"integer"},
        "treatMissingData":{"shape":"TreatMissingData"},
        "statistic":{"shape":"MetricStatistic"},
        "metricName":{"shape":"MetricName"},
        "state":{"shape":"AlarmState"},
        "unit":{"shape":"MetricUnit"},
        "contactProtocols":{"shape":"ContactProtocolsList"},
        "notificationTriggers":{"shape":"NotificationTriggerList"},
        "notificationEnabled":{"shape":"boolean"}
      }
    },
    "AlarmState":{
      "type":"string",
      "enum":[
        "OK",
        "ALARM",
        "INSUFFICIENT_DATA"
      ]
    },
    "AlarmsList":{
      "type":"list",
      "member":{"shape":"Alarm"}
    },
    "AllocateStaticIpRequest":{
      "type":"structure",
      "required":["staticIpName"],
      "members":{
        "staticIpName":{"shape":"ResourceName"}
      }
    },
    "AllocateStaticIpResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "AttachCertificateToDistributionRequest":{
      "type":"structure",
      "required":[
        "distributionName",
        "certificateName"
      ],
      "members":{
        "distributionName":{"shape":"ResourceName"},
        "certificateName":{"shape":"ResourceName"}
      }
    },
    "AttachCertificateToDistributionResult":{
      "type":"structure",
      "members":{
        "operation":{"shape":"Operation"}
      }
    },
    "AttachDiskRequest":{
      "type":"structure",
      "required":[
        "diskName",
        "instanceName",
        "diskPath"
      ],
      "members":{
        "diskName":{"shape":"ResourceName"},
        "instanceName":{"shape":"ResourceName"},
        "diskPath":{"shape":"NonEmptyString"}
      }
    },
    "AttachDiskResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "AttachInstancesToLoadBalancerRequest":{
      "type":"structure",
      "required":[
        "loadBalancerName",
        "instanceNames"
      ],
      "members":{
        "loadBalancerName":{"shape":"ResourceName"},
        "instanceNames":{"shape":"ResourceNameList"}
      }
    },
    "AttachInstancesToLoadBalancerResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "AttachLoadBalancerTlsCertificateRequest":{
      "type":"structure",
      "required":[
        "loadBalancerName",
        "certificateName"
      ],
      "members":{
        "loadBalancerName":{"shape":"ResourceName"},
        "certificateName":{"shape":"ResourceName"}
      }
    },
    "AttachLoadBalancerTlsCertificateResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "AttachStaticIpRequest":{
      "type":"structure",
      "required":[
        "staticIpName",
        "instanceName"
      ],
      "members":{
        "staticIpName":{"shape":"ResourceName"},
        "instanceName":{"shape":"ResourceName"}
      }
    },
    "AttachStaticIpResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "AttachedDisk":{
      "type":"structure",
      "members":{
        "path":{"shape":"string"},
        "sizeInGb":{"shape":"integer"}
      }
    },
    "AttachedDiskList":{
      "type":"list",
      "member":{"shape":"AttachedDisk"}
    },
    "AttachedDiskMap":{
      "type":"map",
      "key":{"shape":"ResourceName"},
      "value":{"shape":"DiskMapList"}
    },
    "AutoSnapshotAddOnRequest":{
      "type":"structure",
      "members":{
        "snapshotTimeOfDay":{"shape":"TimeOfDay"}
      }
    },
    "AutoSnapshotDate":{
      "type":"string",
      "pattern":"^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
    },
    "AutoSnapshotDetails":{
      "type":"structure",
      "members":{
        "date":{"shape":"string"},
        "createdAt":{"shape":"IsoDate"},
        "status":{"shape":"AutoSnapshotStatus"},
        "fromAttachedDisks":{"shape":"AttachedDiskList"}
      }
    },
    "AutoSnapshotDetailsList":{
      "type":"list",
      "member":{"shape":"AutoSnapshotDetails"}
    },
    "AutoSnapshotStatus":{
      "type":"string",
      "enum":[
        "Success",
        "Failed",
        "InProgress",
        "NotFound"
      ]
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "zoneName":{"shape":"NonEmptyString"},
        "state":{"shape":"NonEmptyString"}
      }
    },
    "AvailabilityZoneList":{
      "type":"list",
      "member":{"shape":"AvailabilityZone"}
    },
    "Base64":{"type":"string"},
    "BehaviorEnum":{
      "type":"string",
      "enum":[
        "dont-cache",
        "cache"
      ]
    },
    "Blueprint":{
      "type":"structure",
      "members":{
        "blueprintId":{"shape":"NonEmptyString"},
        "name":{"shape":"ResourceName"},
        "group":{"shape":"NonEmptyString"},
        "type":{"shape":"BlueprintType"},
        "description":{"shape":"string"},
        "isActive":{"shape":"boolean"},
        "minPower":{"shape":"integer"},
        "version":{"shape":"string"},
        "versionCode":{"shape":"string"},
        "productUrl":{"shape":"string"},
        "licenseUrl":{"shape":"string"},
        "platform":{"shape":"InstancePlatform"}
      }
    },
    "BlueprintList":{
      "type":"list",
      "member":{"shape":"Blueprint"}
    },
    "BlueprintType":{
      "type":"string",
      "enum":[
        "os",
        "app"
      ]
    },
    "Bundle":{
      "type":"structure",
      "members":{
        "price":{"shape":"float"},
        "cpuCount":{"shape":"integer"},
        "diskSizeInGb":{"shape":"integer"},
        "bundleId":{"shape":"NonEmptyString"},
        "instanceType":{"shape":"string"},
        "isActive":{"shape":"boolean"},
        "name":{"shape":"string"},
        "power":{"shape":"integer"},
        "ramSizeInGb":{"shape":"float"},
        "transferPerMonthInGb":{"shape":"integer"},
        "supportedPlatforms":{"shape":"InstancePlatformList"}
      }
    },
    "BundleList":{
      "type":"list",
      "member":{"shape":"Bundle"}
    },
    "CacheBehavior":{
      "type":"structure",
      "members":{
        "behavior":{"shape":"BehaviorEnum"}
      }
    },
    "CacheBehaviorList":{
      "type":"list",
      "member":{"shape":"CacheBehaviorPerPath"}
    },
    "CacheBehaviorPerPath":{
      "type":"structure",
      "members":{
        "path":{"shape":"string"},
        "behavior":{"shape":"BehaviorEnum"}
      }
    },
    "CacheSettings":{
      "type":"structure",
      "members":{
        "defaultTTL":{"shape":"long"},
        "minimumTTL":{"shape":"long"},
        "maximumTTL":{"shape":"long"},
        "allowedHTTPMethods":{"shape":"NonEmptyString"},
        "cachedHTTPMethods":{"shape":"NonEmptyString"},
        "forwardedCookies":{"shape":"CookieObject"},
        "forwardedHeaders":{"shape":"HeaderObject"},
        "forwardedQueryStrings":{"shape":"QueryStringObject"}
      }
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "arn":{"shape":"NonEmptyString"},
        "name":{"shape":"CertificateName"},
        "domainName":{"shape":"DomainName"},
        "status":{"shape":"CertificateStatus"},
        "serialNumber":{"shape":"SerialNumber"},
        "subjectAlternativeNames":{"shape":"SubjectAlternativeNameList"},
        "domainValidationRecords":{"shape":"DomainValidationRecordList"},
        "requestFailureReason":{"shape":"RequestFailureReason"},
        "inUseResourceCount":{"shape":"InUseResourceCount"},
        "keyAlgorithm":{"shape":"KeyAlgorithm"},
        "createdAt":{"shape":"IsoDate"},
        "issuedAt":{"shape":"IsoDate"},
        "issuerCA":{"shape":"IssuerCA"},
        "notBefore":{"shape":"IsoDate"},
        "notAfter":{"shape":"IsoDate"},
        "eligibleToRenew":{"shape":"EligibleToRenew"},
        "renewalSummary":{"shape":"RenewalSummary"},
        "revokedAt":{"shape":"IsoDate"},
        "revocationReason":{"shape":"RevocationReason"},
        "tags":{"shape":"TagList"},
        "supportCode":{"shape":"string"}
      }
    },
    "CertificateName":{"type":"string"},
    "CertificateStatus":{
      "type":"string",
      "enum":[
        "PENDING_VALIDATION",
        "ISSUED",
        "INACTIVE",
        "EXPIRED",
        "VALIDATION_TIMED_OUT",
        "REVOKED",
        "FAILED"
      ]
    },
    "CertificateStatusList":{
      "type":"list",
      "member":{"shape":"CertificateStatus"}
    },
    "CertificateSummary":{
      "type":"structure",
      "members":{
        "certificateArn":{"shape":"NonEmptyString"},
        "certificateName":{"shape":"CertificateName"},
        "domainName":{"shape":"DomainName"},
        "certificateDetail":{"shape":"Certificate"},
        "tags":{"shape":"TagList"}
      }
    },
    "CertificateSummaryList":{
      "type":"list",
      "member":{"shape":"CertificateSummary"}
    },
    "CloseInstancePublicPortsRequest":{
      "type":"structure",
      "required":[
        "portInfo",
        "instanceName"
      ],
      "members":{
        "portInfo":{"shape":"PortInfo"},
        "instanceName":{"shape":"ResourceName"}
      }
    },
    "CloseInstancePublicPortsResult":{
      "type":"structure",
      "members":{
        "operation":{"shape":"Operation"}
      }
    },
    "CloudFormationStackRecord":{
      "type":"structure",
      "members":{
        "name":{"shape":"ResourceName"},
        "arn":{"shape":"NonEmptyString"},
        "createdAt":{"shape":"IsoDate"},
        "location":{"shape":"ResourceLocation"},
        "resourceType":{"shape":"ResourceType"},
        "state":{"shape":"RecordState"},
        "sourceInfo":{"shape":"CloudFormationStackRecordSourceInfoList"},
        "destinationInfo":{"shape":"DestinationInfo"}
      }
    },
    "CloudFormationStackRecordList":{
      "type":"list",
      "member":{"shape":"CloudFormationStackRecord"}
    },
    "CloudFormationStackRecordSourceInfo":{
      "type":"structure",
      "members":{
        "resourceType":{"shape":"CloudFormationStackRecordSourceType"},
        "name":{"shape":"NonEmptyString"},
        "arn":{"shape":"NonEmptyString"}
      }
    },
    "CloudFormationStackRecordSourceInfoList":{
      "type":"list",
      "member":{"shape":"CloudFormationStackRecordSourceInfo"}
    },
    "CloudFormationStackRecordSourceType":{
      "type":"string",
      "enum":["ExportSnapshotRecord"]
    },
    "ComparisonOperator":{
      "type":"string",
      "enum":[
        "GreaterThanOrEqualToThreshold",
        "GreaterThanThreshold",
        "LessThanThreshold",
        "LessThanOrEqualToThreshold"
      ]
    },
    "ContactMethod":{
      "type":"structure",
      "members":{
        "contactEndpoint":{"shape":"NonEmptyString"},
        "status":{"shape":"ContactMethodStatus"},
        "protocol":{"shape":"ContactProtocol"},
        "name":{"shape":"ResourceName"},
        "arn":{"shape":"NonEmptyString"},
        "createdAt":{"shape":"IsoDate"},
        "location":{"shape":"ResourceLocation"},
        "resourceType":{"shape":"ResourceType"},
        "supportCode":{"shape":"string"}
      }
    },
    "ContactMethodStatus":{
      "type":"string",
      "enum":[
        "PendingVerification",
        "Valid",
        "Invalid"
      ]
    },
    "ContactMethodVerificationProtocol":{
      "type":"string",
      "enum":["Email"]
    },
    "ContactMethodsList":{
      "type":"list",
      "member":{"shape":"ContactMethod"}
    },
    "ContactProtocol":{
      "type":"string",
      "enum":[
        "Email",
        "SMS"
      ]
    },
    "ContactProtocolsList":{
      "type":"list",
      "member":{"shape":"ContactProtocol"}
    },
    "CookieObject":{
      "type":"structure",
      "members":{
        "option":{"shape":"ForwardValues"},
        "cookiesAllowList":{"shape":"StringList"}
      }
    },
    "CopySnapshotRequest":{
      "type":"structure",
      "required":[
        "targetSnapshotName",
        "sourceRegion"
      ],
      "members":{
        "sourceSnapshotName":{"shape":"ResourceName"},
        "sourceResourceName":{"shape":"string"},
        "restoreDate":{"shape":"string"},
        "useLatestRestorableAutoSnapshot":{"shape":"boolean"},
        "targetSnapshotName":{"shape":"ResourceName"},
        "sourceRegion":{"shape":"RegionName"}
      }
    },
    "CopySnapshotResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateCertificateRequest":{
      "type":"structure",
      "required":[
        "certificateName",
        "domainName"
      ],
      "members":{
        "certificateName":{"shape":"CertificateName"},
        "domainName":{"shape":"DomainName"},
        "subjectAlternativeNames":{"shape":"SubjectAlternativeNameList"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateCertificateResult":{
      "type":"structure",
      "members":{
        "certificate":{"shape":"CertificateSummary"},
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateCloudFormationStackRequest":{
      "type":"structure",
      "required":["instances"],
      "members":{
        "instances":{"shape":"InstanceEntryList"}
      }
    },
    "CreateCloudFormationStackResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateContactMethodRequest":{
      "type":"structure",
      "required":[
        "protocol",
        "contactEndpoint"
      ],
      "members":{
        "protocol":{"shape":"ContactProtocol"},
        "contactEndpoint":{"shape":"StringMax256"}
      }
    },
    "CreateContactMethodResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateDiskFromSnapshotRequest":{
      "type":"structure",
      "required":[
        "diskName",
        "availabilityZone",
        "sizeInGb"
      ],
      "members":{
        "diskName":{"shape":"ResourceName"},
        "diskSnapshotName":{"shape":"ResourceName"},
        "availabilityZone":{"shape":"NonEmptyString"},
        "sizeInGb":{"shape":"integer"},
        "tags":{"shape":"TagList"},
        "addOns":{"shape":"AddOnRequestList"},
        "sourceDiskName":{"shape":"string"},
        "restoreDate":{"shape":"string"},
        "useLatestRestorableAutoSnapshot":{"shape":"boolean"}
      }
    },
    "CreateDiskFromSnapshotResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateDiskRequest":{
      "type":"structure",
      "required":[
        "diskName",
        "availabilityZone",
        "sizeInGb"
      ],
      "members":{
        "diskName":{"shape":"ResourceName"},
        "availabilityZone":{"shape":"NonEmptyString"},
        "sizeInGb":{"shape":"integer"},
        "tags":{"shape":"TagList"},
        "addOns":{"shape":"AddOnRequestList"}
      }
    },
    "CreateDiskResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateDiskSnapshotRequest":{
      "type":"structure",
      "required":["diskSnapshotName"],
      "members":{
        "diskName":{"shape":"ResourceName"},
        "diskSnapshotName":{"shape":"ResourceName"},
        "instanceName":{"shape":"ResourceName"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateDiskSnapshotResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateDistributionRequest":{
      "type":"structure",
      "required":[
        "distributionName",
        "origin",
        "defaultCacheBehavior",
        "bundleId"
      ],
      "members":{
        "distributionName":{"shape":"ResourceName"},
        "origin":{"shape":"InputOrigin"},
        "defaultCacheBehavior":{"shape":"CacheBehavior"},
        "cacheBehaviorSettings":{"shape":"CacheSettings"},
        "cacheBehaviors":{"shape":"CacheBehaviorList"},
        "bundleId":{"shape":"string"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateDistributionResult":{
      "type":"structure",
      "members":{
        "distribution":{"shape":"LightsailDistribution"},
        "operation":{"shape":"Operation"}
      }
    },
    "CreateDomainEntryRequest":{
      "type":"structure",
      "required":[
        "domainName",
        "domainEntry"
      ],
      "members":{
        "domainName":{"shape":"DomainName"},
        "domainEntry":{"shape":"DomainEntry"}
      }
    },
    "CreateDomainEntryResult":{
      "type":"structure",
      "members":{
        "operation":{"shape":"Operation"}
      }
    },
    "CreateDomainRequest":{
      "type":"structure",
      "required":["domainName"],
      "members":{
        "domainName":{"shape":"DomainName"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateDomainResult":{
      "type":"structure",
      "members":{
        "operation":{"shape":"Operation"}
      }
    },
    "CreateInstanceSnapshotRequest":{
      "type":"structure",
      "required":[
        "instanceSnapshotName",
        "instanceName"
      ],
      "members":{
        "instanceSnapshotName":{"shape":"ResourceName"},
        "instanceName":{"shape":"ResourceName"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateInstanceSnapshotResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateInstancesFromSnapshotRequest":{
      "type":"structure",
      "required":[
        "instanceNames",
        "availabilityZone",
        "bundleId"
      ],
      "members":{
        "instanceNames":{"shape":"StringList"},
        "attachedDiskMapping":{"shape":"AttachedDiskMap"},
        "availabilityZone":{"shape":"string"},
        "instanceSnapshotName":{"shape":"ResourceName"},
        "bundleId":{"shape":"NonEmptyString"},
        "userData":{"shape":"string"},
        "keyPairName":{"shape":"ResourceName"},
        "tags":{"shape":"TagList"},
        "addOns":{"shape":"AddOnRequestList"},
        "sourceInstanceName":{"shape":"string"},
        "restoreDate":{"shape":"string"},
        "useLatestRestorableAutoSnapshot":{"shape":"boolean"}
      }
    },
    "CreateInstancesFromSnapshotResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateInstancesRequest":{
      "type":"structure",
      "required":[
        "instanceNames",
        "availabilityZone",
        "blueprintId",
        "bundleId"
      ],
      "members":{
        "instanceNames":{"shape":"StringList"},
        "availabilityZone":{"shape":"string"},
        "customImageName":{
          "shape":"ResourceName",
          "deprecated":true
        },
        "blueprintId":{"shape":"NonEmptyString"},
        "bundleId":{"shape":"NonEmptyString"},
        "userData":{"shape":"string"},
        "keyPairName":{"shape":"ResourceName"},
        "tags":{"shape":"TagList"},
        "addOns":{"shape":"AddOnRequestList"}
      }
    },
    "CreateInstancesResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateKeyPairRequest":{
      "type":"structure",
      "required":["keyPairName"],
      "members":{
        "keyPairName":{"shape":"ResourceName"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateKeyPairResult":{
      "type":"structure",
      "members":{
        "keyPair":{"shape":"KeyPair"},
        "publicKeyBase64":{"shape":"Base64"},
        "privateKeyBase64":{"shape":"Base64"},
        "operation":{"shape":"Operation"}
      }
    },
    "CreateLoadBalancerRequest":{
      "type":"structure",
      "required":[
        "loadBalancerName",
        "instancePort"
      ],
      "members":{
        "loadBalancerName":{"shape":"ResourceName"},
        "instancePort":{"shape":"Port"},
        "healthCheckPath":{"shape":"string"},
        "certificateName":{"shape":"ResourceName"},
        "certificateDomainName":{"shape":"DomainName"},
        "certificateAlternativeNames":{"shape":"DomainNameList"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateLoadBalancerResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateLoadBalancerTlsCertificateRequest":{
      "type":"structure",
      "required":[
        "loadBalancerName",
        "certificateName",
        "certificateDomainName"
      ],
      "members":{
        "loadBalancerName":{"shape":"ResourceName"},
        "certificateName":{"shape":"ResourceName"},
        "certificateDomainName":{"shape":"DomainName"},
        "certificateAlternativeNames":{"shape":"DomainNameList"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateLoadBalancerTlsCertificateResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateRelationalDatabaseFromSnapshotRequest":{
      "type":"structure",
      "required":["relationalDatabaseName"],
      "members":{
        "relationalDatabaseName":{"shape":"ResourceName"},
        "availabilityZone":{"shape":"string"},
        "publiclyAccessible":{"shape":"boolean"},
        "relationalDatabaseSnapshotName":{"shape":"ResourceName"},
        "relationalDatabaseBundleId":{"shape":"string"},
        "sourceRelationalDatabaseName":{"shape":"ResourceName"},
        "restoreTime":{"shape":"IsoDate"},
        "useLatestRestorableTime":{"shape":"boolean"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateRelationalDatabaseFromSnapshotResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateRelationalDatabaseRequest":{
      "type":"structure",
      "required":[
        "relationalDatabaseName",
        "relationalDatabaseBlueprintId",
        "relationalDatabaseBundleId",
        "masterDatabaseName",
        "masterUsername"
      ],
      "members":{
        "relationalDatabaseName":{"shape":"ResourceName"},
        "availabilityZone":{"shape":"string"},
        "relationalDatabaseBlueprintId":{"shape":"string"},
        "relationalDatabaseBundleId":{"shape":"string"},
        "masterDatabaseName":{"shape":"string"},
        "masterUsername":{"shape":"string"},
        "masterUserPassword":{"shape":"SensitiveString"},
        "preferredBackupWindow":{"shape":"string"},
        "preferredMaintenanceWindow":{"shape":"string"},
        "publiclyAccessible":{"shape":"boolean"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateRelationalDatabaseResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "CreateRelationalDatabaseSnapshotRequest":{
      "type":"structure",
      "required":[
        "relationalDatabaseName",
        "relationalDatabaseSnapshotName"
      ],
      "members":{
        "relationalDatabaseName":{"shape":"ResourceName"},
        "relationalDatabaseSnapshotName":{"shape":"ResourceName"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateRelationalDatabaseSnapshotResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "DeleteAlarmRequest":{
      "type":"structure",
      "required":["alarmName"],
      "members":{
        "alarmName":{"shape":"ResourceName"}
      }
    },
    "DeleteAlarmResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "DeleteAutoSnapshotRequest":{
      "type":"structure",
      "required":[
        "resourceName",
        "date"
      ],
      "members":{
        "resourceName":{"shape":"ResourceName"},
        "date":{"shape":"AutoSnapshotDate"}
      }
    },
    "DeleteAutoSnapshotResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "DeleteCertificateRequest":{
      "type":"structure",
      "required":["certificateName"],
      "members":{
        "certificateName":{"shape":"CertificateName"}
      }
    },
    "DeleteCertificateResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "DeleteContactMethodRequest":{
      "type":"structure",
      "required":["protocol"],
      "members":{
        "protocol":{"shape":"ContactProtocol"}
      }
    },
    "DeleteContactMethodResult":{
      "type":"structure",
      "members":{
        "operations":{"shape":"OperationList"}
      }
    },
    "DeleteDiskRequest":{
      "type":"structure",
[...]
