{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/HIjKZ2H1Lvje9CpaMVbiW03yMTM\"",
 "discoveryVersion": "v1",
 "id": "compute:beta",
 "name": "compute",
 "version": "beta",
 "revision": "20171207",
 "title": "Compute Engine API",
 "description": "Creates and runs virtual machines on Google Cloud Platform.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
  "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
 },
 "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/compute/beta/projects/",
 "basePath": "/compute/beta/projects/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "compute/beta/projects/",
 "batchPath": "batch/compute/beta",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/compute": {
     "description": "View and manage your Google Compute Engine resources"
    },
    "https://www.googleapis.com/auth/compute.readonly": {
     "description": "View your Google Compute Engine resources"
    },
    "https://www.googleapis.com/auth/devstorage.full_control": {
     "description": "Manage your data and permissions in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_only": {
     "description": "View your data in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_write": {
     "description": "Manage your data in Google Cloud Storage"
    }
   }
  }
 },
 "schemas": {
  "AcceleratorConfig": {
   "id": "AcceleratorConfig",
   "type": "object",
   "description": "A specification of the type and number of accelerator cards attached to the instance.",
   "properties": {
    "acceleratorCount": {
     "type": "integer",
     "description": "The number of the guest accelerator cards exposed to this instance.",
     "format": "int32"
    },
    "acceleratorType": {
     "type": "string",
     "description": "Full or partial URL of the accelerator type resource to expose to this instance."
    }
   }
  },
  "AcceleratorType": {
   "id": "AcceleratorType",
   "type": "object",
   "description": "An Accelerator Type resource. (== resource_for beta.acceleratorTypes ==) (== resource_for v1.acceleratorTypes ==)",
   "properties": {
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "deprecated": {
     "$ref": "DeprecationStatus",
     "description": "[Output Only] The deprecation status associated with this accelerator type."
    },
    "description": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] The type of the resource. Always compute#acceleratorType for accelerator types.",
     "default": "compute#acceleratorType"
    },
    "maximumCardsPerInstance": {
     "type": "integer",
     "description": "[Output Only] Maximum accelerator cards allowed per instance.",
     "format": "int32"
    },
    "name": {
     "type": "string",
     "description": "[Output Only] Name of the resource.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined fully-qualified URL for this resource."
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] The name of the zone where the accelerator type resides, such as us-central1-a."
    }
   }
  },
  "AcceleratorTypeAggregatedList": {
   "id": "AcceleratorTypeAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A list of AcceleratorTypesScopedList resources.",
     "additionalProperties": {
      "$ref": "AcceleratorTypesScopedList",
      "description": "[Output Only] Name of the scope containing this set of accelerator types."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#acceleratorTypeAggregatedList for aggregated lists of accelerator types.",
     "default": "compute#acceleratorTypeAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AcceleratorTypeList": {
   "id": "AcceleratorTypeList",
   "type": "object",
   "description": "Contains a list of accelerator types.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of AcceleratorType resources.",
     "items": {
      "$ref": "AcceleratorType"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#acceleratorTypeList for lists of accelerator types.",
     "default": "compute#acceleratorTypeList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AcceleratorTypesScopedList": {
   "id": "AcceleratorTypesScopedList",
   "type": "object",
   "properties": {
    "acceleratorTypes": {
     "type": "array",
     "description": "[Output Only] List of accelerator types contained in this scope.",
     "items": {
      "$ref": "AcceleratorType"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] An informational warning that appears when the accelerator types list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AccessConfig": {
   "id": "AccessConfig",
   "type": "object",
   "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#accessConfig for access configs.",
     "default": "compute#accessConfig"
    },
    "name": {
     "type": "string",
     "description": "The name of this access configuration. The default and recommended name is External NAT but you can use any arbitrary string you would like. For example, My external IP or Network Access."
    },
    "natIP": {
     "type": "string",
     "description": "An external IP address associated with this instance. Specify an unused static external IP address available to the project or leave this field undefined to use an IP from a shared ephemeral IP address pool. If you specify a static external IP address, it must live in the same region as the zone of the instance."
    },
    "publicPtrDomainName": {
     "type": "string",
     "description": "The DNS domain name for the public PTR record. This field can only be set when the set_public_ptr field is enabled."
    },
    "setPublicPtr": {
     "type": "boolean",
     "description": "Specifies whether a public DNS ?PTR? record should be created to map the external IP address of the instance to a DNS domain name."
    },
    "type": {
     "type": "string",
     "description": "The type of configuration. The default and only option is ONE_TO_ONE_NAT.",
     "default": "ONE_TO_ONE_NAT",
     "enum": [
      "ONE_TO_ONE_NAT"
     ],
     "enumDescriptions": [
      ""
     ]
    }
   }
  },
  "Address": {
   "id": "Address",
   "type": "object",
   "description": "A reserved address resource. (== resource_for beta.addresses ==) (== resource_for v1.addresses ==) (== resource_for beta.globalAddresses ==) (== resource_for v1.globalAddresses ==)",
   "properties": {
    "address": {
     "type": "string",
     "description": "The static IP address represented by this resource."
    },
    "addressType": {
     "type": "string",
     "description": "The type of address to reserve, either INTERNAL or EXTERNAL. If unspecified, defaults to EXTERNAL.",
     "enum": [
      "EXTERNAL",
      "INTERNAL",
      "UNSPECIFIED_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "ipVersion": {
     "type": "string",
     "description": "The IP Version that will be used by this address. Valid options are IPV4 or IPV6. This can only be specified for a global address.",
     "enum": [
      "IPV4",
      "IPV6",
      "UNSPECIFIED_VERSION"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#address for addresses.",
     "default": "compute#address"
    },
    "labelFingerprint": {
     "type": "string",
     "description": "A fingerprint for the labels being applied to this Address, which is essentially a hash of the labels set used for optimistic locking. The fingerprint is initially generated by Compute Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash in order to update or change labels.\n\nTo see the latest fingerprint, make a get() request to retrieve an Address.",
     "format": "byte"
    },
    "labels": {
     "type": "object",
     "description": "Labels to apply to this Address resource. These can be later modified by the setLabels method. Each label key/value must comply with RFC1035. Label values may be empty.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.addresses.insert"
      ]
     }
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the regional address resides. This field is not applicable to global addresses."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the address, which can be one of RESERVING, RESERVED, or IN_USE. An address that is RESERVING is currently in the process of being reserved. A RESERVED address is currently reserved and available to use. An IN_USE address is currently being used by another resource and is not available.",
     "enum": [
      "IN_USE",
      "RESERVED"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "subnetwork": {
     "type": "string",
     "description": "The URL of the subnetwork in which to reserve the address. If an IP address is specified, it must be within the subnetwork's IP range. This field can only be used with INTERNAL type with GCE_ENDPOINT/DNS_RESOLVER purposes."
    },
    "users": {
     "type": "array",
     "description": "[Output Only] The URLs of the resources that are using this address.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "AddressAggregatedList": {
   "id": "AddressAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A list of AddressesScopedList resources.",
     "additionalProperties": {
      "$ref": "AddressesScopedList",
      "description": "[Output Only] Name of the scope containing this set of addresses."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#addressAggregatedList for aggregated lists of addresses.",
     "default": "compute#addressAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AddressList": {
   "id": "AddressList",
   "type": "object",
   "description": "Contains a list of addresses.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of Address resources.",
     "items": {
      "$ref": "Address"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#addressList for lists of addresses.",
     "default": "compute#addressList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AddressesScopedList": {
   "id": "AddressesScopedList",
   "type": "object",
   "properties": {
    "addresses": {
     "type": "array",
     "description": "[Output Only] List of addresses contained in this scope.",
     "items": {
      "$ref": "Address"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of addresses when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AliasIpRange": {
   "id": "AliasIpRange",
   "type": "object",
   "description": "An alias IP range attached to an instance's network interface.",
   "properties": {
    "ipCidrRange": {
     "type": "string",
     "description": "The IP CIDR range represented by this alias IP range. This IP CIDR range must belong to the specified subnetwork and cannot contain IP addresses reserved by system or used by other network interfaces. This range may be a single IP address (e.g. 10.2.3.4), a netmask (e.g. /24) or a CIDR format string (e.g. 10.1.2.0/24)."
    },
    "subnetworkRangeName": {
     "type": "string",
     "description": "Optional subnetwork secondary range name specifying the secondary range from which to allocate the IP CIDR range for this alias IP range. If left unspecified, the primary range of the subnetwork will be used."
    }
   }
  },
  "AttachedDisk": {
   "id": "AttachedDisk",
   "type": "object",
   "description": "An instance-attached disk resource.",
   "properties": {
    "autoDelete": {
     "type": "boolean",
     "description": "Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
    },
    "boot": {
     "type": "boolean",
     "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
    },
    "deviceName": {
     "type": "string",
     "description": "Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance.\n\nIf not specified, the server chooses a default device name to apply to this disk, in the form persistent-disks-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
    },
    "diskEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "Encrypts or decrypts a disk using a customer-supplied encryption key.\n\nIf you are creating a new disk, this field encrypts the new disk using an encryption key that you provide. If you are attaching an existing disk that is already encrypted, this field decrypts the disk using the customer-supplied encryption key.\n\nIf you encrypt a disk using a customer-supplied key, you must provide the same key again when you attempt to use this resource at a later time. For example, you must provide the key when you create a snapshot or an image from the disk or when you attach the disk to a virtual machine instance.\n\nIf you do not provide an encryption key, then the disk will be encrypted using an automatically generated key and you do not need to provide a key to use the disk later.\n\nInstance templates do not store customer-supplied encryption keys, so you cannot use your own keys to encrypt disks in a managed instance group."
    },
    "index": {
     "type": "integer",
     "description": "[Output Only] A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
     "format": "int32"
    },
    "initializeParams": {
     "$ref": "AttachedDiskInitializeParams",
     "description": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both."
    },
    "interface": {
     "type": "string",
     "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance.",
     "enum": [
      "NVME",
      "SCSI"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#attachedDisk for attached disks.",
     "default": "compute#attachedDisk"
    },
    "licenses": {
     "type": "array",
     "description": "[Output Only] Any valid publicly visible licenses.",
     "items": {
      "type": "string"
     }
    },
    "mode": {
     "type": "string",
     "description": "The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode.",
     "enum": [
      "READ_ONLY",
      "READ_WRITE"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "source": {
     "type": "string",
     "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource. When creating a new instance, one of initializeParams.sourceImage or disks.source is required except for local SSD.\n\nIf desired, you can also attach existing non-root persistent disks using this property. This field is only applicable for persistent disks.\n\nNote that for InstanceTemplate, specify the disk name, not the URL for the disk."
    },
    "type": {
     "type": "string",
     "description": "Specifies the type of the disk, either SCRATCH or PERSISTENT. If not specified, the default is PERSISTENT.",
     "enum": [
      "PERSISTENT",
      "SCRATCH"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    }
   }
  },
  "AttachedDiskInitializeParams": {
   "id": "AttachedDiskInitializeParams",
   "type": "object",
   "description": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both.",
   "properties": {
    "diskName": {
     "type": "string",
     "description": "Specifies the disk name. If not specified, the default is to use the name of the instance."
    },
    "diskSizeGb": {
     "type": "string",
     "description": "Specifies the size of the disk in base-2 GB.",
     "format": "int64"
    },
    "diskStorageType": {
     "type": "string",
     "description": "[Deprecated] Storage type of the disk.",
     "enum": [
      "HDD",
      "SSD"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "diskType": {
     "type": "string",
     "description": "Specifies the disk type to use to create the instance. If not specified, the default is pd-standard, specified using the full URL. For example:\n\nhttps://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/pd-standard \n\nOther values include pd-ssd and local-ssd. If you define this field, you can provide either the full or partial URL. For example, the following are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/diskType \n- projects/project/zones/zone/diskTypes/diskType \n- zones/zone/diskTypes/diskType  Note that for InstanceTemplate, this is the name of the disk type, not URL."
    },
    "sourceImage": {
     "type": "string",
     "description": "The source image to create this disk. When creating a new instance, one of initializeParams.sourceImage or disks.source is required except for local SSD.\n\nTo create a disk with one of the public operating system images, specify the image by its family name. For example, specify family/debian-8 to use the latest Debian 8 image:\n\nprojects/debian-cloud/global/images/family/debian-8 \n\nAlternatively, use a specific version of a public operating system image:\n\nprojects/debian-cloud/global/images/debian-8-jessie-vYYYYMMDD \n\nTo create a disk with a custom image that you created, specify the image name in the following format:\n\nglobal/images/my-custom-image \n\nYou can also specify a custom image by its image family, which returns the latest version of the image in that family. Replace the image name with family/family-name:\n\nglobal/images/family/my-image-family \n\nIf the source image is deleted later, this field will not be set."
    },
    "sourceImageEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "The customer-supplied encryption key of the source image. Required if the source image is protected by a customer-supplied encryption key.\n\nInstance templates do not store customer-supplied encryption keys, so you cannot create disks for instances in a managed instance group if the source images are encrypted with your own keys."
    }
   }
  },
  "AuditConfig": {
   "id": "AuditConfig",
   "type": "object",
   "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n{ \"audit_configs\": [ { \"service\": \"allServices\" \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:foo@gmail.com\" ] }, { \"log_type\": \"DATA_WRITE\", }, { \"log_type\": \"ADMIN_READ\", } ] }, { \"service\": \"fooservice.googleapis.com\" \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:bar@gmail.com\" ] } ] } ] }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts foo@gmail.com from DATA_READ logging, and bar@gmail.com from DATA_WRITE logging.",
   "properties": {
    "auditLogConfigs": {
     "type": "array",
     "description": "The configuration for logging of each type of permission.",
     "items": {
      "$ref": "AuditLogConfig"
     }
    },
    "exemptedMembers": {
     "type": "array",
     "description": "",
     "items": {
      "type": "string"
     }
    },
    "service": {
     "type": "string",
     "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
    }
   }
  },
  "AuditLogConfig": {
   "id": "AuditLogConfig",
   "type": "object",
   "description": "Provides the configuration for logging a type of permissions. Example:\n\n{ \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:foo@gmail.com\" ] }, { \"log_type\": \"DATA_WRITE\", } ] }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting foo@gmail.com from DATA_READ logging.",
   "properties": {
    "exemptedMembers": {
     "type": "array",
     "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of [Binding.members][].",
     "items": {
      "type": "string"
     }
    },
    "logType": {
     "type": "string",
     "description": "The log type that this config enables.",
     "enum": [
      "ADMIN_READ",
      "DATA_READ",
      "DATA_WRITE",
      "LOG_TYPE_UNSPECIFIED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AuthorizationLoggingOptions": {
   "id": "AuthorizationLoggingOptions",
   "type": "object",
   "description": "Authorization-related information used by Cloud Audit Logging.",
   "properties": {
    "permissionType": {
     "type": "string",
     "description": "The type of the permission that was checked.",
     "enum": [
      "ADMIN_READ",
      "ADMIN_WRITE",
      "DATA_READ",
      "DATA_WRITE",
      "PERMISSION_TYPE_UNSPECIFIED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Autoscaler": {
   "id": "Autoscaler",
   "type": "object",
   "description": "Represents an Autoscaler resource. Autoscalers allow you to automatically scale virtual machine instances in managed instance groups according to an autoscaling policy that you define. For more information, read Autoscaling Groups of Instances. (== resource_for beta.autoscalers ==) (== resource_for v1.autoscalers ==) (== resource_for beta.regionAutoscalers ==) (== resource_for v1.regionAutoscalers ==)",
   "properties": {
    "autoscalingPolicy": {
     "$ref": "AutoscalingPolicy",
     "description": "The configuration parameters for the autoscaling algorithm. You can define one or more of the policies for an autoscaler: cpuUtilization, customMetricUtilizations, and loadBalancingUtilization.\n\nIf none of these are specified, the default will be to autoscale based on cpuUtilization to 0.6 or 60%."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#autoscaler for autoscalers.",
     "default": "compute#autoscaler"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.instanceGroups.insert"
      ]
     }
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the instance group resides (for autoscalers living in regional scope)."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the autoscaler configuration.",
     "enum": [
      "ACTIVE",
      "DELETING",
      "ERROR",
      "PENDING"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "statusDetails": {
     "type": "array",
     "description": "[Output Only] Human-readable details about the current state of the autoscaler. Read the documentation for Commonly returned status messages for examples of status messages you might encounter.",
     "items": {
      "$ref": "AutoscalerStatusDetails"
     }
    },
    "target": {
     "type": "string",
     "description": "URL of the managed instance group that this autoscaler will scale."
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the instance group resides (for autoscalers living in zonal scope)."
    }
   }
  },
  "AutoscalerAggregatedList": {
   "id": "AutoscalerAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A list of AutoscalersScopedList resources.",
     "additionalProperties": {
      "$ref": "AutoscalersScopedList",
      "description": "[Output Only] Name of the scope containing this set of autoscalers."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#autoscalerAggregatedList for aggregated lists of autoscalers.",
     "default": "compute#autoscalerAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AutoscalerList": {
   "id": "AutoscalerList",
   "type": "object",
   "description": "Contains a list of Autoscaler resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of Autoscaler resources.",
     "items": {
      "$ref": "Autoscaler"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#autoscalerList for lists of autoscalers.",
     "default": "compute#autoscalerList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AutoscalerStatusDetails": {
   "id": "AutoscalerStatusDetails",
   "type": "object",
   "properties": {
    "message": {
     "type": "string",
     "description": "The status message."
    },
    "type": {
     "type": "string",
     "description": "The type of error returned.",
     "enum": [
      "ALL_INSTANCES_UNHEALTHY",
      "BACKEND_SERVICE_DOES_NOT_EXIST",
      "CAPPED_AT_MAX_NUM_REPLICAS",
      "CUSTOM_METRIC_DATA_POINTS_TOO_SPARSE",
      "CUSTOM_METRIC_INVALID",
      "MIN_EQUALS_MAX",
      "MISSING_CUSTOM_METRIC_DATA_POINTS",
      "MISSING_LOAD_BALANCING_DATA_POINTS",
      "MORE_THAN_ONE_BACKEND_SERVICE",
      "NOT_ENOUGH_QUOTA_AVAILABLE",
      "REGION_RESOURCE_STOCKOUT",
      "SCALING_TARGET_DOES_NOT_EXIST",
      "UNKNOWN",
      "UNSUPPORTED_MAX_RATE_LOAD_BALANCING_CONFIGURATION",
      "ZONE_RESOURCE_STOCKOUT"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AutoscalersScopedList": {
   "id": "AutoscalersScopedList",
   "type": "object",
   "properties": {
    "autoscalers": {
     "type": "array",
     "description": "[Output Only] List of autoscalers contained in this scope.",
     "items": {
      "$ref": "Autoscaler"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of autoscalers when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AutoscalingPolicy": {
   "id": "AutoscalingPolicy",
   "type": "object",
   "description": "Cloud Autoscaler policy.",
   "properties": {
    "coolDownPeriodSec": {
     "type": "integer",
     "description": "The number of seconds that the autoscaler should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. The default time autoscaler waits is 60 seconds.\n\nVirtual machine initialization times might vary because of numerous factors. We recommend that you test how long an instance may take to initialize. To do this, create an instance and time the startup process.",
     "format": "int32"
    },
    "cpuUtilization": {
     "$ref": "AutoscalingPolicyCpuUtilization",
     "description": "Defines the CPU utilization policy that allows the autoscaler to scale based on the average CPU utilization of a managed instance group."
    },
    "customMetricUtilizations": {
     "type": "array",
     "description": "Configuration parameters of autoscaling based on a custom metric.",
     "items": {
      "$ref": "AutoscalingPolicyCustomMetricUtilization"
     }
    },
    "loadBalancingUtilization": {
     "$ref": "AutoscalingPolicyLoadBalancingUtilization",
     "description": "Configuration parameters of autoscaling based on load balancer."
    },
    "maxNumReplicas": {
     "type": "integer",
     "description": "The maximum number of instances that the autoscaler can scale up to. This is required when creating or updating an autoscaler. The maximum number of replicas should not be lower than minimal number of replicas.",
     "format": "int32"
    },
    "minNumReplicas": {
     "type": "integer",
     "description": "The minimum number of replicas that the autoscaler can scale down to. This cannot be less than 0. If not provided, autoscaler will choose a default value depending on maximum number of instances allowed.",
     "format": "int32"
    }
   }
  },
  "AutoscalingPolicyCpuUtilization": {
   "id": "AutoscalingPolicyCpuUtilization",
   "type": "object",
   "description": "CPU utilization policy.",
   "properties": {
    "utilizationTarget": {
     "type": "number",
     "description": "The target CPU utilization that the autoscaler should maintain. Must be a float value in the range (0, 1]. If not specified, the default is 0.6.\n\nIf the CPU level is below the target utilization, the autoscaler scales down the number of instances until it reaches the minimum number of instances you specified or until the average CPU of your instances reaches the target utilization.\n\nIf the average CPU is above the target utilization, the autoscaler scales up until it reaches the maximum number of instances you specified or until the average utilization reaches the target utilization.",
     "format": "double"
    }
   }
  },
  "AutoscalingPolicyCustomMetricUtilization": {
   "id": "AutoscalingPolicyCustomMetricUtilization",
   "type": "object",
   "description": "Custom utilization metric policy.",
   "properties": {
    "filter": {
     "type": "string",
     "description": "A filter string, compatible with a Stackdriver Monitoring filter string for TimeSeries.list API call. This filter is used to select a specific TimeSeries for the purpose of autoscaling and to determine whether the metric is exporting per-instance or per-group data.\n\nFor the filter to be valid for autoscaling purposes, the following rules apply:  \n- You can only use the AND operator for joining selectors. \n- You can only use direct equality comparison operator (=) without any functions for each selector. \n- You can specify the metric in both the filter string and in the metric field. However, if specified in both places, the metric must be identical. \n- The monitored resource type determines what kind of values are expected for the metric. If it is a gce_instance, the autoscaler expects the metric to include a separate TimeSeries for each instance in a group. In such a case, you cannot filter on resource labels.\nIf the resource type is any other value, the autoscaler expects this metric to contain values that apply to the entire autoscaled instance group and resource label filtering can be performed to point autoscaler at the correct TimeSeries to scale upon. This is called a per-group metric for the purpose of autoscaling.\n\nIf not specified, the type defaults to gce_instance.  \n\nYou should provide a filter that is selective enough to pick just one TimeSeries for the autoscaled group or for each of the instances (if you are using gce_instance resource type). If multiple TimeSeries are returned upon the query execution, the autoscaler will sum their respective values to obtain its scaling value."
    },
    "metric": {
     "type": "string",
     "description": "The identifier (type) of the Stackdriver Monitoring metric. The metric cannot have negative values.\n\nThe metric must have a value type of INT64 or DOUBLE."
    },
    "singleInstanceAssignment": {
     "type": "number",
     "description": "If scaling is based on a per-group metric value that represents the total amount of work to be done or resource usage, set this value to an amount assigned for a single instance of the scaled group. Autoscaler will keep the number of instances proportional to the value of this metric, the metric itself should not change value due to group resizing.\n\nA good metric to use with the target is for example pubsub.googleapis.com/subscription/num_undelivered_messages or a custom metric exporting the total number of requests coming to your instances.\n\nA bad example would be a metric exporting an average or median latency, since this value can't include a chunk assignable to a single instance, it could be better used with utilization_target instead.",
     "format": "double"
    },
    "utilizationTarget": {
     "type": "number",
     "description": "The target value of the metric that autoscaler should maintain. This must be a positive value. A utilization metric scales number of virtual machines handling requests to increase or decrease proportionally to the metric.\n\nFor example, a good metric to use as a utilization_target is compute.googleapis.com/instance/network/received_bytes_count. The autoscaler will work to keep this value constant for each of the instances.",
     "format": "double"
    },
    "utilizationTargetType": {
     "type": "string",
     "description": "Defines how target utilization value is expressed for a Stackdriver Monitoring metric. Either GAUGE, DELTA_PER_SECOND, or DELTA_PER_MINUTE. If not specified, the default is GAUGE.",
     "enum": [
      "DELTA_PER_MINUTE",
      "DELTA_PER_SECOND",
      "GAUGE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "AutoscalingPolicyLoadBalancingUtilization": {
   "id": "AutoscalingPolicyLoadBalancingUtilization",
   "type": "object",
   "description": "Configuration parameters of autoscaling based on load balancing.",
   "properties": {
    "utilizationTarget": {
     "type": "number",
     "description": "Fraction of backend capacity utilization (set in HTTP(s) load balancing configuration) that autoscaler should maintain. Must be a positive float value. If not defined, the default is 0.8.",
     "format": "double"
    }
   }
  },
  "Backend": {
   "id": "Backend",
   "type": "object",
   "description": "Message containing information of one individual backend.",
   "properties": {
    "balancingMode": {
     "type": "string",
     "description": "Specifies the balancing mode for this backend. For global HTTP(S) or TCP/SSL load balancing, the default is UTILIZATION. Valid values are UTILIZATION, RATE (for HTTP(S)) and CONNECTION (for TCP/SSL).\n\nFor Internal Load Balancing, the default and only supported mode is CONNECTION.",
     "enum": [
      "CONNECTION",
      "RATE",
      "UTILIZATION"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "capacityScaler": {
     "type": "number",
     "description": "A multiplier applied to the group's maximum servicing capacity (based on UTILIZATION, RATE or CONNECTION). Default value is 1, which means the group will serve up to 100% of its configured capacity (depending on balancingMode). A setting of 0 means the group is completely drained, offering 0% of its available Capacity. Valid range is [0.0,1.0].\n\nThis cannot be used for internal load balancing.",
     "format": "float"
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "group": {
     "type": "string",
     "description": "The fully-qualified URL of a Instance Group resource. This instance group defines the list of instances that serve traffic. Member virtual machine instances from each instance group must live in the same zone as the instance group itself. No two backends in a backend service are allowed to use same Instance Group resource.\n\nNote that you must specify an Instance Group resource using the fully-qualified URL, rather than a partial URL.\n\nWhen the BackendService has load balancing scheme INTERNAL, the instance group must be within the same region as the BackendService."
    },
    "maxConnections": {
     "type": "integer",
     "description": "The max number of simultaneous connections for the group. Can be used with either CONNECTION or UTILIZATION balancing modes. For CONNECTION mode, either maxConnections or maxConnectionsPerInstance must be set.\n\nThis cannot be used for internal load balancing.",
     "format": "int32"
    },
    "maxConnectionsPerInstance": {
     "type": "integer",
     "description": "The max number of simultaneous connections that a single backend instance can handle. This is used to calculate the capacity of the group. Can be used in either CONNECTION or UTILIZATION balancing modes. For CONNECTION mode, either maxConnections or maxConnectionsPerInstance must be set.\n\nThis cannot be used for internal load balancing.",
     "format": "int32"
    },
    "maxRate": {
     "type": "integer",
     "description": "The max requests per second (RPS) of the group. Can be used with either RATE or UTILIZATION balancing modes, but required if RATE mode. For RATE mode, either maxRate or maxRatePerInstance must be set.\n\nThis cannot be used for internal load balancing.",
     "format": "int32"
    },
    "maxRatePerInstance": {
     "type": "number",
     "description": "The max requests per second (RPS) that a single backend instance can handle. This is used to calculate the capacity of the group. Can be used in either balancing mode. For RATE mode, either maxRate or maxRatePerInstance must be set.\n\nThis cannot be used for internal load balancing.",
     "format": "float"
    },
    "maxUtilization": {
     "type": "number",
     "description": "Used when balancingMode is UTILIZATION. This ratio defines the CPU utilization target for the group. The default is 0.8. Valid range is [0.0, 1.0].\n\nThis cannot be used for internal load balancing.",
     "format": "float"
    }
   }
  },
  "BackendBucket": {
   "id": "BackendBucket",
   "type": "object",
   "description": "A BackendBucket resource. This resource defines a Cloud Storage bucket.",
   "properties": {
    "bucketName": {
     "type": "string",
     "description": "Cloud Storage bucket name."
    },
    "cdnPolicy": {
     "$ref": "BackendBucketCdnPolicy",
     "description": "Cloud CDN Coniguration for this BackendBucket."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional textual description of the resource; provided by the client when the resource is created."
    },
    "enableCdn": {
     "type": "boolean",
     "description": "If true, enable Cloud CDN for this BackendBucket."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "Type of the resource.",
     "default": "compute#backendBucket"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    }
   }
  },
  "BackendBucketCdnPolicy": {
   "id": "BackendBucketCdnPolicy",
   "type": "object",
   "description": "Message containing Cloud CDN configuration for a backend bucket.",
   "properties": {
    "signedUrlCacheMaxAgeSec": {
     "type": "string",
     "description": "Number of seconds up to which the response to a signed URL request will be cached in the CDN. After this time period, the Signed URL will be revalidated before being served. Defaults to 1hr (3600s). If this field is set, Cloud CDN will internally act as though all responses from this bucket had a ?Cache-Control: public, max-age=[TTL]? header, regardless of any existing Cache-Control header. The actual headers served in responses will not be altered.",
     "format": "int64"
    },
    "signedUrlKeyNames": {
     "type": "array",
     "description": "[Output Only] Names of the keys currently configured for Cloud CDN Signed URL on this backend bucket.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "BackendBucketList": {
   "id": "BackendBucketList",
   "type": "object",
   "description": "Contains a list of BackendBucket resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of BackendBucket resources.",
     "items": {
      "$ref": "BackendBucket"
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#backendBucketList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "BackendService": {
   "id": "BackendService",
   "type": "object",
   "description": "A BackendService resource. This resource defines a group of backend virtual machines and their serving capacity. (== resource_for v1.backendService ==) (== resource_for beta.backendService ==)",
   "properties": {
    "affinityCookieTtlSec": {
     "type": "integer",
     "description": "Lifetime of cookies in seconds if session_affinity is GENERATED_COOKIE. If set to 0, the cookie is non-persistent and lasts only until the end of the browser session (or equivalent). The maximum allowed value for TTL is one day.\n\nWhen the load balancing scheme is INTERNAL, this field is not used.",
     "format": "int32"
    },
    "backends": {
     "type": "array",
     "description": "The list of backends that serve this BackendService.",
     "items": {
      "$ref": "Backend"
     }
    },
    "cdnPolicy": {
     "$ref": "BackendServiceCdnPolicy",
     "description": "Cloud CDN configuration for this BackendService."
    },
    "connectionDraining": {
     "$ref": "ConnectionDraining"
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "enableCDN": {
     "type": "boolean",
     "description": "If true, enable Cloud CDN for this BackendService.\n\nWhen the load balancing scheme is INTERNAL, this field is not used."
    },
    "fingerprint": {
     "type": "string",
     "description": "Fingerprint of this resource. A hash of the contents stored in this object. This field is used in optimistic locking. This field will be ignored when inserting a BackendService. An up-to-date fingerprint must be provided in order to update the BackendService.",
     "format": "byte"
    },
    "healthChecks": {
     "type": "array",
     "description": "The list of URLs to the HttpHealthCheck or HttpsHealthCheck resource for health checking this BackendService. Currently at most one health check can be specified, and a health check is required for Compute Engine backend services. A health check must not be specified for App Engine backend and Cloud Function backend.\n\nFor internal load balancing, a URL to a HealthCheck resource must be specified instead.",
     "items": {
      "type": "string"
     }
    },
    "iap": {
     "$ref": "BackendServiceIAP"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendService for backend services.",
     "default": "compute#backendService"
    },
    "loadBalancingScheme": {
     "type": "string",
     "description": "Indicates whether the backend service will be used with internal or external load balancing. A backend service created for one type of load balancing cannot be used with the other. Possible values are INTERNAL and EXTERNAL.",
     "enum": [
      "EXTERNAL",
      "INTERNAL",
      "INVALID_LOAD_BALANCING_SCHEME"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "port": {
     "type": "integer",
     "description": "Deprecated in favor of portName. The TCP port to connect on the backend. The default value is 80.\n\nThis cannot be used for internal load balancing.",
     "format": "int32"
    },
    "portName": {
     "type": "string",
     "description": "Name of backend port. The same name should appear in the instance groups referenced by this service. Required when the load balancing scheme is EXTERNAL.\n\nWhen the load balancing scheme is INTERNAL, this field is not used."
    },
    "protocol": {
     "type": "string",
     "description": "The protocol this BackendService uses to communicate with backends.\n\nPossible values are HTTP, HTTPS, TCP, and SSL. The default is HTTP.\n\nFor internal load balancing, the possible values are TCP and UDP, and the default is TCP.",
     "enum": [
      "HTTP",
      "HTTPS",
      "SSL",
      "TCP",
      "UDP"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the regional backend service resides. This field is not applicable to global backend services."
    },
    "securityPolicy": {
     "type": "string",
     "description": "[Output Only] The resource URL for the security policy associated with this backend service."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "sessionAffinity": {
     "type": "string",
     "description": "Type of session affinity to use. The default is NONE.\n\nWhen the load balancing scheme is EXTERNAL, can be NONE, CLIENT_IP, or GENERATED_COOKIE.\n\nWhen the load balancing scheme is INTERNAL, can be NONE, CLIENT_IP, CLIENT_IP_PROTO, or CLIENT_IP_PORT_PROTO.\n\nWhen the protocol is UDP, this field is not used.",
     "enum": [
      "CLIENT_IP",
      "CLIENT_IP_PORT_PROTO",
      "CLIENT_IP_PROTO",
      "GENERATED_COOKIE",
      "NONE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "timeoutSec": {
     "type": "integer",
     "description": "How many seconds to wait for the backend before considering it a failed request. Default is 30 seconds.",
     "format": "int32"
    }
   }
  },
  "BackendServiceAggregatedList": {
   "id": "BackendServiceAggregatedList",
   "type": "object",
   "description": "Contains a list of BackendServicesScopedList.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A list of BackendServicesScopedList resources.",
     "additionalProperties": {
      "$ref": "BackendServicesScopedList",
      "description": "Name of the scope containing this set of BackendServices."
     }
    },
    "kind": {
     "type": "string",
     "description": "Type of resource.",
     "default": "compute#backendServiceAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "BackendServiceCdnPolicy": {
   "id": "BackendServiceCdnPolicy",
   "type": "object",
   "description": "Message containing Cloud CDN configuration for a backend service.",
   "properties": {
    "cacheKeyPolicy": {
     "$ref": "CacheKeyPolicy",
     "description": "The CacheKeyPolicy for this CdnPolicy."
    },
    "signedUrlCacheMaxAgeSec": {
     "type": "string",
     "description": "Number of seconds up to which the response to a signed URL request will be cached in the CDN. After this time period, the Signed URL will be revalidated before being served. Defaults to 1hr (3600s). If this field is set, Cloud CDN will internally act as though all responses from this backend had a ?Cache-Control: public, max-age=[TTL]? header, regardless of any existing Cache-Control header. The actual headers served in responses will not be altered.",
     "format": "int64"
    },
    "signedUrlKeyNames": {
     "type": "array",
     "description": "[Output Only] Names of the keys currently configured for Cloud CDN Signed URL on this backend service.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "BackendServiceGroupHealth": {
   "id": "BackendServiceGroupHealth",
   "type": "object",
   "properties": {
    "healthStatus": {
     "type": "array",
     "items": {
      "$ref": "HealthStatus"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendServiceGroupHealth for the health of backend services.",
     "default": "compute#backendServiceGroupHealth"
    }
   }
  },
  "BackendServiceIAP": {
   "id": "BackendServiceIAP",
   "type": "object",
   "description": "Identity-Aware Proxy",
   "properties": {
    "enabled": {
     "type": "boolean"
    },
    "oauth2ClientId": {
     "type": "string"
    },
    "oauth2ClientSecret": {
     "type": "string"
    },
    "oauth2ClientSecretSha256": {
     "type": "string",
     "description": "[Output Only] SHA256 hash value for the field oauth2_client_secret above."
    }
   }
  },
  "BackendServiceList": {
   "id": "BackendServiceList",
   "type": "object",
   "description": "Contains a list of BackendService resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of BackendService resources.",
     "items": {
      "$ref": "BackendService"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#backendServiceList for lists of backend services.",
     "default": "compute#backendServiceList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "BackendServicesScopedList": {
   "id": "BackendServicesScopedList",
   "type": "object",
   "properties": {
    "backendServices": {
     "type": "array",
     "description": "List of BackendServices contained in this scope.",
     "items": {
      "$ref": "BackendService"
     }
    },
    "warning": {
     "type": "object",
     "description": "Informational warning which replaces the list of backend services when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "Binding": {
   "id": "Binding",
   "type": "object",
   "description": "Associates `members` with a `role`.",
   "properties": {
    "condition": {
     "$ref": "Expr",
     "description": "The condition that is associated with this binding. NOTE: an unsatisfied condition will not allow user access via current binding. Different bindings, including their conditions, are examined independently. This field is GOOGLE_INTERNAL."
    },
    "members": {
     "type": "array",
     "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`.\n\n\n\n* `domain:{domain}`: A Google Apps domain name that represents all the users of that domain. For example, `google.com` or `example.com`.",
     "items": {
      "type": "string"
     }
    },
    "role": {
     "type": "string",
     "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
    }
   }
  },
  "CacheInvalidationRule": {
   "id": "CacheInvalidationRule",
   "type": "object",
   "properties": {
    "host": {
     "type": "string",
     "description": "If set, this invalidation rule will only apply to requests with a Host header matching host."
    },
    "path": {
     "type": "string"
    }
   }
  },
  "CacheKeyPolicy": {
   "id": "CacheKeyPolicy",
   "type": "object",
   "description": "Message containing what to include in the cache key for a request for Cloud CDN.",
   "properties": {
    "includeHost": {
     "type": "boolean",
[...]
