{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-08-04",
    "endpointPrefix":"firehose",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"Firehose",
    "serviceFullName":"Amazon Kinesis Firehose",
    "signatureVersion":"v4",
    "targetPrefix":"Firehose_20150804",
    "protocol":"json"
  },
  "operations":{
    "CreateDeliveryStream":{
      "name":"CreateDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeliveryStreamInput"},
      "output":{"shape":"CreateDeliveryStreamOutput"},
      "errors":[
        {
          "shape":"InvalidArgumentException",
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "exception":true
        },
        {
          "shape":"ResourceInUseException",
          "exception":true
        }
      ]
    },
    "DeleteDeliveryStream":{
      "name":"DeleteDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDeliveryStreamInput"},
      "output":{"shape":"DeleteDeliveryStreamOutput"},
      "errors":[
        {
          "shape":"ResourceInUseException",
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true
        }
      ]
    },
    "DescribeDeliveryStream":{
      "name":"DescribeDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDeliveryStreamInput"},
      "output":{"shape":"DescribeDeliveryStreamOutput"},
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true
        }
      ]
    },
    "ListDeliveryStreams":{
      "name":"ListDeliveryStreams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeliveryStreamsInput"},
      "output":{"shape":"ListDeliveryStreamsOutput"}
    },
    "PutRecord":{
      "name":"PutRecord",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRecordInput"},
      "output":{"shape":"PutRecordOutput"},
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true
        },
        {
          "shape":"InvalidArgumentException",
          "exception":true
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":503},
          "exception":true,
          "fault":true
        }
      ]
    },
    "PutRecordBatch":{
      "name":"PutRecordBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRecordBatchInput"},
      "output":{"shape":"PutRecordBatchOutput"},
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true
        },
        {
          "shape":"InvalidArgumentException",
          "exception":true
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":503},
          "exception":true,
          "fault":true
        }
      ]
    },
    "UpdateDestination":{
      "name":"UpdateDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDestinationInput"},
      "output":{"shape":"UpdateDestinationOutput"},
      "errors":[
        {
          "shape":"InvalidArgumentException",
          "exception":true
        },
        {
          "shape":"ResourceInUseException",
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true
        },
        {
          "shape":"ConcurrentModificationException",
          "exception":true
        }
      ]
    }
  },
  "shapes":{
    "AWSKMSKeyARN":{
      "type":"string",
      "min":1,
      "max":512,
      "pattern":"arn:.*"
    },
    "BooleanObject":{"type":"boolean"},
    "BucketARN":{
      "type":"string",
      "min":1,
      "max":2048,
      "pattern":"arn:.*"
    },
    "BufferingHints":{
      "type":"structure",
      "members":{
        "SizeInMBs":{"shape":"SizeInMBs"},
        "IntervalInSeconds":{"shape":"IntervalInSeconds"}
      }
    },
    "ClusterJDBCURL":{
      "type":"string",
      "min":1,
      "pattern":"jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+redshift\\.amazonaws\\.com:\\d{1,5}/[a-zA-Z0-9_$]+"
    },
    "CompressionFormat":{
      "type":"string",
      "enum":[
        "UNCOMPRESSED",
        "GZIP",
        "ZIP",
        "Snappy"
      ]
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "CopyCommand":{
      "type":"structure",
      "required":["DataTableName"],
      "members":{
        "DataTableName":{"shape":"DataTableName"},
        "DataTableColumns":{"shape":"DataTableColumns"},
        "CopyOptions":{"shape":"CopyOptions"}
      }
    },
    "CopyOptions":{"type":"string"},
    "CreateDeliveryStreamInput":{
      "type":"structure",
      "required":["DeliveryStreamName"],
      "members":{
        "DeliveryStreamName":{"shape":"DeliveryStreamName"},
        "S3DestinationConfiguration":{"shape":"S3DestinationConfiguration"},
        "RedshiftDestinationConfiguration":{"shape":"RedshiftDestinationConfiguration"}
      }
    },
    "CreateDeliveryStreamOutput":{
      "type":"structure",
      "members":{
        "DeliveryStreamARN":{"shape":"DeliveryStreamARN"}
      }
    },
    "Data":{
      "type":"blob",
      "min":0,
      "max":1024000
    },
    "DataTableColumns":{"type":"string"},
    "DataTableName":{
      "type":"string",
      "min":1
    },
    "DeleteDeliveryStreamInput":{
      "type":"structure",
      "required":["DeliveryStreamName"],
      "members":{
        "DeliveryStreamName":{"shape":"DeliveryStreamName"}
      }
    },
    "DeleteDeliveryStreamOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeliveryStreamARN":{"type":"string"},
    "DeliveryStreamDescription":{
      "type":"structure",
      "required":[
        "DeliveryStreamName",
        "DeliveryStreamARN",
        "DeliveryStreamStatus",
        "VersionId",
        "Destinations",
        "HasMoreDestinations"
      ],
      "members":{
        "DeliveryStreamName":{"shape":"DeliveryStreamName"},
        "DeliveryStreamARN":{"shape":"DeliveryStreamARN"},
        "DeliveryStreamStatus":{"shape":"DeliveryStreamStatus"},
        "VersionId":{"shape":"DeliveryStreamVersionId"},
        "CreateTimestamp":{"shape":"Timestamp"},
        "LastUpdateTimestamp":{"shape":"Timestamp"},
        "Destinations":{"shape":"DestinationDescriptionList"},
        "HasMoreDestinations":{"shape":"BooleanObject"}
      }
    },
    "DeliveryStreamName":{
      "type":"string",
      "min":1,
      "max":64,
      "pattern":"[a-zA-Z0-9_.-]+"
    },
    "DeliveryStreamNameList":{
      "type":"list",
      "member":{"shape":"DeliveryStreamName"}
    },
    "DeliveryStreamStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "DELETING",
        "ACTIVE"
      ]
    },
    "DeliveryStreamVersionId":{
      "type":"string",
      "min":1,
      "max":50,
      "pattern":"[0-9]+"
    },
    "DescribeDeliveryStreamInput":{
      "type":"structure",
      "required":["DeliveryStreamName"],
      "members":{
        "DeliveryStreamName":{"shape":"DeliveryStreamName"},
        "Limit":{"shape":"DescribeDeliveryStreamInputLimit"},
        "ExclusiveStartDestinationId":{"shape":"DestinationId"}
      }
    },
    "DescribeDeliveryStreamInputLimit":{
      "type":"integer",
      "min":1,
      "max":10000
    },
    "DescribeDeliveryStreamOutput":{
      "type":"structure",
      "required":["DeliveryStreamDescription"],
      "members":{
        "DeliveryStreamDescription":{"shape":"DeliveryStreamDescription"}
      }
    },
    "DestinationDescription":{
      "type":"structure",
      "required":["DestinationId"],
      "members":{
        "DestinationId":{"shape":"DestinationId"},
        "S3DestinationDescription":{"shape":"S3DestinationDescription"},
        "RedshiftDestinationDescription":{"shape":"RedshiftDestinationDescription"}
      }
    },
    "DestinationDescriptionList":{
      "type":"list",
      "member":{"shape":"DestinationDescription"}
    },
    "DestinationId":{
      "type":"string",
      "min":1,
      "max":100
    },
    "EncryptionConfiguration":{
      "type":"structure",
      "members":{
        "NoEncryptionConfig":{"shape":"NoEncryptionConfig"},
        "KMSEncryptionConfig":{"shape":"KMSEncryptionConfig"}
      }
    },
    "ErrorCode":{"type":"string"},
    "ErrorMessage":{"type":"string"},
    "IntervalInSeconds":{
      "type":"integer",
      "min":60,
      "max":900
    },
    "InvalidArgumentException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "KMSEncryptionConfig":{
      "type":"structure",
      "required":["AWSKMSKeyARN"],
      "members":{
        "AWSKMSKeyARN":{"shape":"AWSKMSKeyARN"}
      }
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "ListDeliveryStreamsInput":{
      "type":"structure",
      "members":{
        "Limit":{"shape":"ListDeliveryStreamsInputLimit"},
        "ExclusiveStartDeliveryStreamName":{"shape":"DeliveryStreamName"}
      }
    },
    "ListDeliveryStreamsInputLimit":{
      "type":"integer",
      "min":1,
      "max":10000
    },
    "ListDeliveryStreamsOutput":{
      "type":"structure",
      "required":[
        "DeliveryStreamNames",
        "HasMoreDeliveryStreams"
      ],
      "members":{
        "DeliveryStreamNames":{"shape":"DeliveryStreamNameList"},
        "HasMoreDeliveryStreams":{"shape":"BooleanObject"}
      }
    },
    "NoEncryptionConfig":{
      "type":"string",
      "enum":["NoEncryption"]
    },
    "NonNegativeIntegerObject":{
      "type":"integer",
      "min":0
    },
    "Password":{
      "type":"string",
      "min":6,
      "sensitive":true
    },
    "Prefix":{"type":"string"},
    "PutRecordBatchInput":{
      "type":"structure",
      "required":[
        "DeliveryStreamName",
        "Records"
      ],
      "members":{
        "DeliveryStreamName":{"shape":"DeliveryStreamName"},
        "Records":{"shape":"PutRecordBatchRequestEntryList"}
      }
    },
    "PutRecordBatchOutput":{
      "type":"structure",
      "required":[
        "FailedPutCount",
        "RequestResponses"
      ],
      "members":{
        "FailedPutCount":{"shape":"NonNegativeIntegerObject"},
        "RequestResponses":{"shape":"PutRecordBatchResponseEntryList"}
      }
    },
    "PutRecordBatchRequestEntryList":{
      "type":"list",
      "member":{"shape":"Record"},
      "min":1,
      "max":500
    },
    "PutRecordBatchResponseEntry":{
      "type":"structure",
      "members":{
        "RecordId":{"shape":"PutResponseRecordId"},
        "ErrorCode":{"shape":"ErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"}
      }
    },
    "PutRecordBatchResponseEntryList":{
      "type":"list",
      "member":{"shape":"PutRecordBatchResponseEntry"},
      "min":1,
      "max":500
    },
    "PutRecordInput":{
      "type":"structure",
      "required":[
        "DeliveryStreamName",
        "Record"
      ],
      "members":{
        "DeliveryStreamName":{"shape":"DeliveryStreamName"},
        "Record":{"shape":"Record"}
      }
    },
    "PutRecordOutput":{
      "type":"structure",
      "required":["RecordId"],
      "members":{
        "RecordId":{"shape":"PutResponseRecordId"}
      }
    },
    "PutResponseRecordId":{
      "type":"string",
      "min":1
    },
    "Record":{
      "type":"structure",
      "required":["Data"],
      "members":{
        "Data":{"shape":"Data"}
      }
    },
    "RedshiftDestinationConfiguration":{
      "type":"structure",
      "required":[
        "RoleARN",
        "ClusterJDBCURL",
        "CopyCommand",
        "Username",
        "Password",
        "S3Configuration"
      ],
      "members":{
        "RoleARN":{"shape":"RoleARN"},
        "ClusterJDBCURL":{"shape":"ClusterJDBCURL"},
        "CopyCommand":{"shape":"CopyCommand"},
        "Username":{"shape":"Username"},
        "Password":{"shape":"Password"},
        "S3Configuration":{"shape":"S3DestinationConfiguration"}
      }
    },
    "RedshiftDestinationDescription":{
      "type":"structure",
      "required":[
        "RoleARN",
        "ClusterJDBCURL",
        "CopyCommand",
        "Username",
        "S3DestinationDescription"
      ],
      "members":{
        "RoleARN":{"shape":"RoleARN"},
        "ClusterJDBCURL":{"shape":"ClusterJDBCURL"},
        "CopyCommand":{"shape":"CopyCommand"},
        "Username":{"shape":"Username"},
        "S3DestinationDescription":{"shape":"S3DestinationDescription"}
      }
    },
    "RedshiftDestinationUpdate":{
      "type":"structure",
      "members":{
        "RoleARN":{"shape":"RoleARN"},
        "ClusterJDBCURL":{"shape":"ClusterJDBCURL"},
        "CopyCommand":{"shape":"CopyCommand"},
        "Username":{"shape":"Username"},
        "Password":{"shape":"Password"},
        "S3Update":{"shape":"S3DestinationUpdate"}
      }
    },
    "ResourceInUseException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "RoleARN":{
      "type":"string",
      "min":1,
      "max":512,
      "pattern":"arn:.*"
    },
    "S3DestinationConfiguration":{
      "type":"structure",
      "required":[
        "RoleARN",
        "BucketARN"
      ],
      "members":{
        "RoleARN":{"shape":"RoleARN"},
        "BucketARN":{"shape":"BucketARN"},
        "Prefix":{"shape":"Prefix"},
        "BufferingHints":{"shape":"BufferingHints"},
        "CompressionFormat":{"shape":"CompressionFormat"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"}
      }
    },
    "S3DestinationDescription":{
      "type":"structure",
      "required":[
        "RoleARN",
        "BucketARN",
        "BufferingHints",
        "CompressionFormat",
        "EncryptionConfiguration"
      ],
      "members":{
        "RoleARN":{"shape":"RoleARN"},
        "BucketARN":{"shape":"BucketARN"},
        "Prefix":{"shape":"Prefix"},
        "BufferingHints":{"shape":"BufferingHints"},
        "CompressionFormat":{"shape":"CompressionFormat"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"}
      }
    },
    "S3DestinationUpdate":{
      "type":"structure",
      "members":{
        "RoleARN":{"shape":"RoleARN"},
        "BucketARN":{"shape":"BucketARN"},
        "Prefix":{"shape":"Prefix"},
        "BufferingHints":{"shape":"BufferingHints"},
        "CompressionFormat":{"shape":"CompressionFormat"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"}
      }
    },
    "ServiceUnavailableException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{"httpStatusCode":503},
      "exception":true,
      "fault":true
    },
    "SizeInMBs":{
      "type":"integer",
      "min":1,
      "max":128
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateDestinationInput":{
      "type":"structure",
      "required":[
        "DeliveryStreamName",
        "CurrentDeliveryStreamVersionId",
        "DestinationId"
      ],
      "members":{
        "DeliveryStreamName":{"shape":"DeliveryStreamName"},
        "CurrentDeliveryStreamVersionId":{"shape":"DeliveryStreamVersionId"},
        "DestinationId":{"shape":"DestinationId"},
        "S3DestinationUpdate":{"shape":"S3DestinationUpdate"},
        "RedshiftDestinationUpdate":{"shape":"RedshiftDestinationUpdate"}
      }
    },
    "UpdateDestinationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "Username":{
      "type":"string",
      "min":1,
      "sensitive":true
    }
  }
}
