apiVersion: v1
kind: PersistentVolume
metadata:
  name: syslog-volume
spec:
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  gcePersistentDisk:
    pdName: syslog-volume
    fsType: "ext4"
