name: atomicwriter windows repro
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Run unit tests for volume util
        run: |
          go test ./pkg/volume/util -count=1 -v
