---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Prefer:
      - return-no-content
      X-Ms-Version:
      - "2016-05-31"
    url: https://golangrocksonazure.table.core.windows.net/%28retry%29?timeout=30
    method: DELETE
  response:
    body: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
      specified resource does not exist.\nRequestId:45abaccc-7002-0023-09b0-1f62ce000000\nTime:2019-06-10T17:17:27.0256503Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Version:
      - "2016-05-31"
    status: 404 The specified resource does not exist.
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Mon, 10 Jun 2019 17:17:34 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-31storageclientsuitetestdore?restype=container&se=2050-12-20T21%3A55%3A06Z&sig=tsBHxBlEzl6GeXYi40PoxuNzHVXgTaq9IhJV2knRvK8%3D&sp=racwdl&sr=c&sv=2018-03-28
    method: HEAD
  response:
    body: ""
    headers:
      X-Ms-Error-Code:
      - AuthorizationFailure
      X-Ms-Version:
      - "2018-03-28"
    status: 403 This request is not authorized to perform this operation.
    code: 403
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Mon, 10 Jun 2019 17:17:41 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/cnt-31storageclientsuitetestdore?restype=container&se=2050-12-20T21%3A55%3A06Z&sig=HQjQjRYou37ow3In%2FLcjXP1jJaZenocxOKo084baQmk%3D&sp=rwdlacup&spr=https&srt=sco&ss=b&sv=2018-03-28
    method: HEAD
  response:
    body: ""
    headers:
      X-Ms-Error-Code:
      - ContainerNotFound
      X-Ms-Version:
      - "2018-03-28"
    status: 404 The specified container does not exist.
    code: 404
[...]
